[2020-05-06 10:12] fjmolinas commented on #14027
I would add also configuration dependencies, e.g. some modules require some `CFLAGS`. These can probably modeled as another module though, but in our current system its not like that.

I think having optional modules has come up a lot:

- "If Module A is available, depend on A"
- "If Module B is not available, and B is available depend on B"

I would also add that I would be nice for everything to

[2020-05-06 10:13] kaspar030 commented on #14027
I'd like to add another requirement:

- build each .C with the CFLAGS and and defines it needs, and no more.

This makes incremental builds possible even when configuration changes. The build system should only rebuild what needs rebuilding. (IMO, "let ccache sort that out" is a bad choice).

This rules out building e.g., core with "-DMODULE_FATFS" if there's no need. It rules out including a glob

[2020-05-06 10:14] kaspar030 commented on #14027
I think there's an A missing somewhere?

[2020-05-06 10:46] maribu commented on #14027
That's a perfect example of where avoiding cyclic dependency is not feasible.

But I agree that cyclic dependency should be avoided and an indicator of poor design. Except when not.

Thanks for correcting me. (This reminds me that I really should get some Rust experience.) That requirement is going to be "fun" to properly address :-/

[2020-05-06 11:04] jue89 commented on #13918
Sure. Current master:

<details>
<summary>tests/periph_pm hangs</summary>

[code]

</details>

With this patch applied (checked with `#error` inside the if statement):

[code]

<details>
<summary>tests/periph_pm hardfaults</summary>

[code]

</details>

[2020-05-06 11:25] leandrolanzieri commented on #14027
There are other ways to deal with incremental builds. For example Linux uses the [fixdep.c](https://github.com/torvalds/linux/blob/master/scripts/basic/fixdep.c) script to change dependency files, in order to rebuild only the affected sources.

[2020-05-06 11:36] leandrolanzieri commented on #14027
Regarding the message in `core_init`, couldn't the strong dependency be avoided if the message is only printed when an `stdio_x` is present? Similarly to the call to `auto_init`:
[code]

[2020-05-06 14:41] MichelRottleuthner opened #14034 "gcoap server breaks or becomes very unresponsive (sock_async related?)"
#### Description

I'm having trouble with gcoap becoming completely unresponsive/unreliable in my application.
Up to the point where it doesn't reply to any message while the rest of the system (like shell, interrupts, other drivers etc.) seems to work fine.
First it was hard to reproduce as the node (an ESP32 in this case) just randomly didn't respond after some time even without heavy load.

###

[2020-05-06 17:53] ouyangkan opened #14035 "I can't use w5100 to work on Release-2020.04 by using RIOT/examples/emcute_mqttsn/."
#### Description

I test w5100 on example RIOT/examples/emcute_mqttsn/ .

This is the pid of my thread:
[code]
I can use ping6 to ping my gateway. Below is the debug of RIOT-2020.04/core/msg.c. It was succesful.
[code]
But I can't use the con direction on shell cmd in examples/emcute_mqttsn.(con xxxx 10000)
[code]

This is the usage of vertion 2020.01 in the same case:
ping6 :
[code]
emcute:
[code

[2020-05-06 22:04] Citrullin commented on #14001
@PeterKietzmann Works like a charm. Connected the breakout board and it works fine. Also got the official one. So, wasted 10 bucks, but I guess it is fine :D Thanks for the help though. :)

[2020-05-07 07:45] fjmolinas commented on #13918
In that case does it make sense to extend https://github.com/RIOT-OS/RIOT/issues/14015 to also mention this platform, and if the issue shows up again consider adding 3 x `_NOP()`. I think it would be better to investigate again, but last time I properly investigated this bug for `stm32l152re` I spent 1 week on that, and I don't have that time ATM.

So if #13999 fixes the issue, I propose to just t

[2020-05-07 08:16] maribu commented on #13918
I agree with @fjmolinas that we should not spend too much time investigating the issue if #13999 can solve it. Maybe it will never pop up again.

But in case it does: @jue89, could you post the dissassembly of `cortexm_sleep()` in the three cases? This might be just the crucial information needed to understand the issue if it will pop up in the future again.

[2020-05-07 08:25] MrKevinWeiss commented on #14027
Regarding avoiding cyclic dependency, I think we all can agree that it would be great to avoid them. I also think it is technically possible. The question is about the magnitude of work to correct this. Maybe it is just a matter of using an `#ifdef` around all the places such as the `Hello! this is RIOT` print or breaking it down into finer granularity such as a `core` and `core_with_hello`, in wh

[2020-05-07 08:53] tcschmidt commented on #14027
Does Zephyr experience this problem and how do they deal with it?
Would be good to check empirically rather than discussing hypothetically.

[2020-05-07 09:30] maribu commented on #14027
There seems to be an agreement that a dependency cycle like "A depends on B and B depends optionally on A" is not a dependency cycle. I assume this is based on the assumption that dependency cycles with at least one dependency of the cycle being optional is no problem to handle by the build system. On what is this based?

E.g. if use of stdio in core would be optional and the build system would fi

[2020-05-07 09:34] jia200x commented on #14027
If I have an application that uses RIOT and some third-party stack, and that third-party stack has some circular dependencies (or violating the other requirements for that matter), does this pose a problem, or is it only within RIOT that we would have this requirement?

Just a side note: I think we should distinguish between "cooking"/configuring the RIOT kernel and linking third parties libraries

[2020-05-07 09:36] tcschmidt commented on #14027
These requirements are meant for technical modeling and tooling, not as designer guideline. So "sound reasons" are a problem when presented to a tool.

[2020-05-07 09:47] kb2ma commented on #14034
Thanks for the simple test case, @MichelRottleuthner. I will try to reproduce and find the sticking point.

[2020-05-07 09:52] tcschmidt commented on #14027
This problem is only present if the built system is not aware of the entire configuration graph (as it is today). You are actually describing one of the current key problems of the RIOT build system, namely that it cannot produce uniquely defined, optimized targets. Rather, the results depend on the order of execution.

Whenever the build system can work on the basis of an exposed configuration gr

[2020-05-07 10:23] leandrolanzieri commented on #14027
I think it is important to keep in mind that the initial points proposed here are requirements for the 'module selection and configuration' stage (a.k.a. "cooking" as @jia200x mentioned above). The output of this stage will contain a list of modules that the build system needs to compile.

Of course further optimizations of the other stages of the build process are possible, but it would be good t

[2020-05-08 08:32] gschorcht commented on #13492
Hm, strange an not really clear why. `main.c` is definitly recompiled and the change is in ELF file `tests_shell.elf`. I have checked this by renaming a function in `main.c`.

[2020-05-08 08:49] gschorcht commented on #13492
It seems that it starts `preflash` target before the `tests_shell.elf` has been updated. At least I can observe with `QUIET=0` that the following preparation of the flash file is executed before the compilation of the ELF file `tests_shell.elf` has been finished:
https://github.com/RIOT-OS/RIOT/blob/2d1d13d45276e238e7ac65fe80d4c54ddd8c65a8/cpu/esp_common/Makefile.include#L96-L106

This part is exe

[2020-05-08 09:10] jue89 commented on #13918
Sure. `cortexm_sleep()` was in-lined into `pm_set()`. I'm posting this assembly.

<details>
<summary>pm_set() on current master (8ffd34d) still hangs</summary>

[code]

And `irq_restore()`:
[code]

</details>

<details>
<summary>pm_set() with the modified #ifdef for the in-lined irq_restore() hardfaults</summary>

[code]

</details>

Both differ only at the in-linded `irq_restore()`:

![diff](http

[2020-05-08 09:25] jue89 commented on #13918
Hmm, the two non-working cases restore the interrupts using: `msr     PRIMASK, r0`.
The working case uses `msr     PRIMASK, r2`.

I think I read something about `R0` being curruppted related to power saving modes?! But I cannot find the issue that mentioned that.

[2020-05-08 11:30] chrysn commented on #7094
Next to modules, features should be documented the same way (possibly with the exception of periph features which have their associated modules).

[2020-05-08 11:36] chrysn opened #14044 "Clarify interaction between bootloader features, test blacklists and riotboot"
#### Description

Most of the recent discussion in #13146 has been around how to get things how to pass all the tests, which leads to commits like 844a0db625bbef185c06f9d47eca9863e0c3df19 that don't actually reflect the intended statement ("This board is currently only supported for building for flashing using the nrfutil bootloader" -- which is unrelated to the selection of stdio) and instead mim

[2020-05-08 11:50] #13849 closed

[2020-05-08 12:13] chrysn commented on #14044
It might also be useful to outline, in the bootloader_nrfutil documentation, how and if it fulfills the "Needs support in RIOT, an implementation of an api to interact with the hw" requirement of FEATUREs; so far, it is only used as a flag for blacklists.

[2020-05-08 13:31] #12189 closed

[2020-05-08 17:32] ouyangkan commented on #14035
I test it on BOARD ?= native

#### Expected results(RIOT-2020.04)
[code]

#### Actual results(RIOT-2020.01)
[code]

### I also tested [gnrc_sock_udp](https://github.com/RIOT-OS/RIOT/tree/master/tests/gnrc_sock_udp), he also has no index, I do n’t know how to have [index](https://github.com/RIOT-OS/RIOT/blob/bf9cfb1992857952b182388f39915a49f6c9b7fd/core/msg.c#L354) in _msg_receive.

[2020-05-09 07:14] ouyangkan commented on #14035
#### I modified [gnrc_ep_set](https://github.com/RIOT-OS/RIOT/blob/bf9cfb1992857952b182388f39915a49f6c9b7fd/sys/net/gnrc/sock/include/gnrc_sock_internal.h#L94) in [RIOT-2020.04/sys/net/gnrc/sock/include/gnrc_sock_internal.h](sys/net/gnrc/sock/include/gnrc_sock_internal.h) . Make it the same as the previous versions;
[code]

#### @MrKevinWeiss    Now it is working working normally. Excuse me, if I

[2020-05-10 03:28] mfp20 opened #14049 "/home/user/five/src/linux/main.c:19: undefined reference to `event_queue_init'"
**EDIT: NEVER MIND**

I was missing:

[code]

I've just approached RIOT one hour ago. Apologize for disturbing.

#### Description
Can't link. Some examples build&link properly, but I couldn't find an example that uses event.h and I can build (ie: the only one using event.h is the nimble_heartrate... but I don't have that board and doesn't build on native target).

#### Steps to reproduce the issue

[2020-05-10 03:53] mfp20 commented on #1323
For AVR, [this guys](https://modm.io/) did an awesome job. It generates a fairly complete C++ lib for the target, and they are focused on performance. It could be a good companion for RIOT.

The only annoying thing is their extensive use of C++17 features, forcing the use of avr-gcc v7+; all major distros are stuck at v5.4 or alike, so a custom toolchain must be built. They distribute a pre-made v

[2020-05-10 05:15] #14049 closed

[2020-05-10 15:32] benpicco commented on #13054
Fixed by #14008

[2020-05-10 15:32] #13054 closed

[2020-05-10 15:52] kb2ma commented on #14034
The issue is that gcoap does not drain all of the messages in the event queue. I was able to workaround the problem in 0112f04 in my gcoap/fix_sock_evt_race branch. The work around iterates on the call to `sock_udp_recv()` within the sock event handler rather than calling it only once.

I was able to run 10k iterations of the CoAP request. Occasionally I saw the gnrc_sock warning about a dropped m

[2020-05-11 01:33] #12650 closed

[2020-05-11 08:04] MrKevinWeiss commented on #14035
I still think this still may be an issue. Maybe @jia200x or @miri64 can comment on this?

[2020-05-11 08:26] MichelRottleuthner commented on #14034
Thanks a lot @kb2ma!
I confirm that the fix solves the problem with gcoap becoming unresponsive. I also didn't see any stuck messages being pushed out with delay anymore.
I'll also test this fix in my other application I mentioned where the COAP endpoint became unresponsive just after some time even without heavy load.

I bet @miri64 knows better than me if this workaround is the best solution.
If

[2020-05-11 09:36] Citrullin commented on #13787
I have proposal for the color depth issue in the PR #14054 .
While I did some simplifications of the API for coordinates in #14051 .

But the Coordinator simplification doesn't address this issue. Just a simplification of the API itself.

[2020-05-11 09:51] kb2ma commented on #14034
Good observation. I didn't identify exactly the how the producer/consumer interaction causes the backup. I expect @miri64 will have the insight to point us in the right direction.

I agree it's not idiomatic. ;-) I basically was just combining the while loop into the event type conditional as an optimization to save a statement. The handler does not react to any other event types. At least a short

[2020-05-11 13:49] maribu commented on #13016
RAM usage on Harvard Architectures can be indeed improved quite significantly. Still, this is not a bug.

(And so could be the error message while linking. Something like "RAM overflown by foo bytes" would be less cryptic. Still, the message is technically correct.)

I'm closing this, as this is not really a bug. I have some improvements on the RAM usage situation on my todo-list - but sadly this

[2020-05-11 13:49] #13016 closed

[2020-05-11 22:37] isavitsky commented on #11333
Hello,

Is there an FSK patch for this driver to try out?

[2020-05-12 01:44] Citrullin commented on #13154
Great, this sounds like the feature I need for the wot implementation I want to create.

[2020-05-12 11:47] miri64 commented on #14034
Hi, other than the CoAP messages themselves, the sock should not signal any other UDP messages. It might indeed however be, that there is more than one CoAP message hidden behind the `RECV` signal. @MichelRottleuthner is right in his observation, that this _should_ trigger another `RECV` after the previous is handled. This is however not the case, and should rather be fixed, than with the workarou

[2020-05-12 11:56] MichelRottleuthner commented on #14034
Yep it fixes it :+1:

[2020-05-12 12:04] miri64 commented on #14034
Then see https://github.com/RIOT-OS/RIOT/pull/14059.

[2020-05-12 12:22] miri64 commented on #14034
And #14060 for lwIP.

[2020-05-12 12:26] miri64 commented on #14035
Is `xxxx::xxxx:xxxx:xxxx:xxxx` a link-local address (starts with `fe80::`)?

[2020-05-12 12:53] ouyangkan commented on #14035
Yes, I built MQTT broker on `fe80::`. And emcute_con to it.

[2020-05-12 13:48] miri64 commented on #14035
Then your real workaround should be appending the _outgoing_ interface's ID using `%`: `xxxx::xxxx:xxxx:xxxx:xxxx%<if_id>`. I try to find out, what is wrong with the optimization in `gnrc_ep_set` though.

[2020-05-12 13:49] miri64 commented on #14035
Ah, easy: The app does not include `-DGNRC_NETIF_SINGLE` so `highlander` always returns NULL.

[2020-05-12 13:50] miri64 commented on #14035
So the workaround is the legit solution for your problem ;-).

[2020-05-12 13:52] miri64 commented on #14035
Grml... `sock_udp_str2ep()` does not parse that... let me fix that.

[2020-05-12 13:59] miri64 commented on #14035
(the workaround for now is to set `GNRC_NETIF_SINGLE` in the `emcute` example).

[2020-05-12 14:01] Citrullin opened #14063 "Generic approach for many debuggers at many boards"
#### Description
A debugger makefile in `$(RIOTMAKE)/tools/debugger.inc.mk` which can be used in any board definition in order to be able to use any debugger with any board. As long as the debugger supports the board, of course. Mentioned by @benpicco in #13972. ([Link](https://github.com/RIOT-OS/RIOT/pull/13972#pullrequestreview-404141275))

[2020-05-12 14:11] ouyangkan commented on #14035
Thank you for your reply. It will be very helpful.

[2020-05-12 15:41] miri64 commented on #14035
With https://github.com/RIOT-OS/RIOT/pull/14064 this is now also the case in master.

[2020-05-12 16:12] gschorcht commented on #13492
The fix in PR #14041 had to be reverted for the moment.

[2020-05-12 16:22] miri64 commented on #14035
I was looking at the asymcute code, rather than the emcute code, so this does not help you. But see #14068 for the fix.

[2020-05-13 01:35] ouyangkan commented on #14035
I added -DGNRC_NETIF_SINGLE and deleted the previous one. Now my stm32 is working, Thanks a lot. :blush:

[2020-05-13 06:15] #14035 closed

[2020-05-13 06:15] miri64 commented on #14035
Then I guess your problem is fixed :-)

[2020-05-13 09:30] Citrullin opened #14070 "CC2531 support"
#### Description
I got some of these cheap CC2531 USB sticks here. In comparison to all the nrf52840 USB sticks, they expose normal through holes. Normally they are used as 802.15.4 sniffer. But they would make ideal 6LoWPAN to  USB CDC ECM Sticks for something like routers.

### Useful links
https://www.ti.com/product/CC2531

[2020-05-13 11:16] benpicco commented on #14070
You'd have to port RIOT to 8051 first.
Surely interesting as ATmega wouldn't be the only 8-bit architecture then.

Getting both the network and the USB stack into 8k RAM will be another challenge :wink:

[2020-05-13 12:01] #12519 closed

[2020-05-13 21:47] mjurczak opened #14074 "Memory read beyond input buffer boundaries in nanocoap packet parser"
#### Description

The current packet parsing pointer is incremented by the token length provided in the packet header without checking if the resulting pointer is still in the valid input buffer boundaries:
https://github.com/RIOT-OS/RIOT/blob/595e8c631fec7f714f846f359475fd98d631bd0f/sys/net/application_layer/nanocoap/nanocoap.c#L82-L88

Additionaly, the coap_get_token_len() function allows for re

[2020-05-13 21:53] mjurczak commented on #14074
Bugfix proposal:
https://github.com/RIOT-OS/RIOT/pull/14075

[2020-05-14 17:03] mfp20 opened #14081 "undefined reference to `ZTIMER_MSEC'"
#### Description
Can't use ztimer. RIOTOS v2020.04 can't find ZTIMER_{USEC|MSEC|SEC} reference. HEAD spits a different error (ztimer struct doesn't have max_value).

#### Steps to reproduce the issue
Set RIOT version
[code]

Simple Makefile

[code]

Simple code

[code]

#### Expected results
Application build.

#### Actual results
[code]

#### Versions
[code]

[2020-05-14 17:13] mfp20 opened #14082 "undefined reference to `timer_read'"
#### Description
Can't use xtimer.

For info (about setup and system) look at [issue 14081](https://github.com/RIOT-OS/RIOT/issues/14081).
Here I've just replaced ztimer_msec with xtimer in Makefile, and included xtimer.h instead of ztimer.h, then used xtimer_now() instead of ztimer_now(clock).

Full compiler output:

[code]

[2020-05-14 19:30] mfp20 commented on #14081
I did it again! (blush)

In the project's Makefile, USEMODULE must go before including RIOT's Makefile.include.

[2020-05-14 19:30] #14081 closed

[2020-05-14 19:31] mfp20 commented on #14082
Not a bug. Same solution of [issue 14081](https://github.com/RIOT-OS/RIOT/issues/14081)

[2020-05-14 19:31] #14082 closed

[2020-05-15 09:34] jue89 commented on #10639
I'm observing this odd behavior on the `samr30-xpro` board, as well. Even with `stdio` completely out of the way.

[2020-05-15 15:40] SemjonKerner commented on #8357
As #9473 is closed by the stale bot, I'd like to know if this bug is still important to anyone involved with this issue?
In #6018 @Citrullin suggested removing the softdevice in favor of nimble.
Using nimble might make sense for your use cases and this issue could be resolved by dropping support for the softdevice.

[2020-05-15 15:43] miri64 commented on #14034
@MichelRottleuthner reported another issue offline that plays into this and AFAIK we should have a fix for this really soon. So lets keep this issue open for now.

[2020-05-15 17:28] #14034 closed

[2020-05-18 00:46] Citrullin opened #14095 "Tracker: WoT Thing Description"
I started working on a [WoT Thing Description implementation](https://www.w3.org/TR/wot-thing-description/) in RIOT.

- [ ] Interaction Affordance
- [ ] Security Schema metadata definitions

[2020-05-21 17:13] jeandudey opened #14114 "ESP32 WiFi SoftAP netdev support."
#### Description

The ESP32 MCU supports WiFi AP mode and STA modes, both can be used at the same time (I don't know if ESP-NOW is supported with both AP/STA enabled).

The main idea is to use the existing `esp_wifi` netdev driver and add a pseudomodule `esp_wifi_ap` which configures the WiFi to be used as an AP.

This issue is to track the progress and discuss the possible implementation, also, i

[2020-05-22 03:52] hcnhcn012 opened #14115 "Communication between two cc2538 motes using GNRC(Generic network stack)"
Hello guys, now I have two cc2538 motes and want to set up a  UDP communication tunnel between these two motes, I use `gnrc_networking` from RIOT examples, but I found that I could not ping one mote to another successfully. Here are two motes' interface configs:
(1) Mote 1

Iface  7  HWaddr: B7:9D  Channel: 26  Page: 0  NID: 0x23
          Long HWaddr: 00:12:4B:00:19:2E:44:67
           TX-Power:

[2020-05-22 14:25] Citrullin opened #14118 "Proposal: Make use of GWT (GivenWhenThen) testing"
#### Description
Given when then is a helpful way of structuring tests. If we agree to use this kind of structure for tests, we could even have some functions to help us structuring the tests in a unified way.

### Useful links
https://martinfowler.com/bliki/GivenWhenThen.html

[2020-05-22 14:27] Citrullin commented on #14115
You shouldn't use images. You can simply copy the text from your terminal and use Markdown in order to mark your code etc. "Syntax highlighting" is the part interesting for you in this case.
https://guides.github.com/features/mastering-markdown/

[2020-05-22 17:44] jeandudey commented on #14115
@hcnhcn012 On the second image seems you're pinging yourself, could you try with the other mote address?

[2020-05-23 06:19] RossComputerGuy commented on #13007
This feels clumbersome, is there a better solution? I don't want a bunch of modules just for subdirectories.

[2020-05-23 13:36] jue89 opened #14121 "Proposal: eSAUL - Extended Sensor Actuator Uber Layer"
#### Description

SAUL offers getter and setter to control actuators and obtain sensor readings. It is completely up to the application using SAUL when to access the SAUL device. This can be a limitation as the application may wants to react on sensor events.

Examples:
- A toggle button is pressed
- A temperature changes significantly
- A motion sensor detects significant motion

Of course, this

[2020-05-23 16:52] jeandudey opened #14124 "ESP32/ESP8266 Toolchain Building Instructions"
#### Description

RIOT uses a custom toolchain to compile itself to ESP32/ESP8266 targets, it would be great if there were instructions on how to build binary releases of the toolchain, for example, to build it on OS X or for Raspberry Pi's.

### Useful links

- RIOT ESP32 Xtensa Toolchain: https://github.com/gschorcht/xtensa-esp32-elf

[2020-05-23 19:23] Citrullin commented on #14121
This is actually a really interesting use-case. I think it could be useful to introduce an API where you can register pointer functions. These pointer functions get called when a specific event occurs. Similar to the event handling in Javascript.

[2020-05-24 03:27] potier97 commented on #11219
I have the same problem, i am using a RPI 3, and i execute

And show in red:
Compiler xtensa-esp8266-elf-gcc is required but not found in PATH.  Aborting.

[2020-05-24 07:17] mmaxus35 commented on #11219
İ used docker you should use it too.

24 May 2020 Paz 06:28 tarihinde potier97 <notifications@github.com> şunu
yazdı:

[2020-05-24 10:21] jue89 commented on #14121
Hmm, I know and like this concept, as well ;) I'm quite familiar with JavaScript.

Have you already thought about which stack to use to call such pointer functions? The obvious solution would be to run the pointer function on the caller stack. But in this case it becomes unpredictable how large the stack must be.

That is why I would prefer the IPC messages over calling function pointers. So it's

[2020-05-24 10:58] jue89 commented on #13154
I think #14121 could be a solution for this requirement.

[2020-05-24 11:43] miri64 commented on #13154
Mhhh, if I understand #14121 correctly, it is more about providing a reactive alternative to SAUL. In my mind I was more thinking about extending the SAUL API for this.

[2020-05-24 12:37] jue89 commented on #13154
I intend to extend SAUL - so I called it Extend Sensor Actuator Layer ;) Of course, this requires additional code by the SAUL sensor / actuator since it knows best when its state has changed significantly.

The user of the SAUL library doesn't have to know whether its a SAUL device or a eSAUL device. It just won't receive change notifications by the SAUL devices and, thus, won't send OBSERVE notif

[2020-05-24 16:06] benpicco commented on #14115
Actually pinging yourself should work too.
I'm confused because this should just work™

Since you are pinging link-local addresses, have you tried passing the interface ID with the address:

    ping6 fe80::212:4b00:1933:5e56%7

Or did you try to ping the broadcast address

    ping6 ff02::1%7

Do you have antennas connected?

[2020-05-24 18:17] Citrullin commented on #14121
@jue89 That's a good point. It introduces a bit overhead, but has some other benefits as well. Especially when I think about separation of concerns.

[2020-05-25 08:43] hcnhcn012 commented on #14115
Thanks, I have adjusted my issue post so others can read it fluently and thanks to @benpicco this problem has been solved :)

[2020-05-25 08:50] hcnhcn012 commented on #14115
Really appreciate that! I actually solved this by tacking your advice. For my board is self-made with a cc2538 MCU I believed that there was an issue in hardware abstract then I spent days reading codes of RIOT-os :)
Thanks again!

[2020-05-25 08:52] #14115 closed

[2020-05-25 09:20] xuteka03 opened #14133 "arduino-due problem with time functions?"
Hi, with the same code I get proper output when running RIOT as native but when I flash RIOT to arduino-due, the output is only printing "printf" functions in which there is no time variable, not the rest of the code. There are no errors when flashing. My code is shown below but the problem is the same even with <time.h> and function clock().

`#include <stdio.h>
#include <xtimer.h>

int main(void

[2020-05-25 11:47] miri64 commented on #13154
Ok, then maybe the fact that you gave it a new name (eSAUL) confused me. I would just stick with extended SAUL ;-) (mind the capitalization).

[2020-05-25 13:28] maribu commented on #14121
Let's start with the bikeshedding :-D Why not just add a submodule to SAUL? The name "Sensor and Actuator Uber Layer" remains still accurate. A distinct submodule however makes sense, as this is a distinct feature with additional resource requirements. Maybe something like `saul_observe`, `saul_notify`, `saul_subscribe`, ...?

The choice of the message bus seems a perfect fit for this. IMO, a glob

[2020-05-25 13:56] chrysn commented on #14121
I agree that this should be IPC-based to better manage stack sizes.

In the light of the gcoap wrapping, the IPC messages could be level-based. (And without any processing in the interrupt handler or an overflowable queue, I think it always is). In that case, it might make more sense to not use messages, but to register a (PID, flag) combination to a SAUL sensor, and define the receiver's reaction

[2020-05-25 14:06] maribu commented on #14121
I don't get this. If there are no messages, what is the receiver receiving?

[2020-05-25 14:10] chrysn commented on #14121
The receiver would receive just an indication that the sensor it ordered notifications from has changed, and that it should read it for further processing. A receiver that always reads several sensors in one go (say, a dew point calculation that reads temperature and humidity) might configure multiple sensors to hit the same flag, but most applications would put each sensor they subscribe to into

[2020-05-25 14:27] maribu commented on #14121
That indication needs to be implemented somehow. `core_msg` is widely used, very stable and quite efficient, so that IMO would be a suitable way to implement that indication. Still, the message bus on top is quite new and not yet widely used and as thouroghly tested, but it is a rather slim layer on top. And it is not too difficult to image use cases for multiple subscribers for a single sensor. (

[2020-05-25 14:43] maribu commented on #14133
Hi,

have you added `USEMODULE += printf_float` to your Makefile?

Btw.: It is recommended to try hard to avoid using `float` or `double`, as they are either quite expensive (with hardware FPU available) or extremely expensive (without hardware FPU).

[2020-05-25 14:48] chrysn commented on #14121
Ad individual sensors, handling will need to be per sensor in some way anyway -- otherwise a single observation on, say. the cheap-to-observe push button will make the eSAUL thread poll expensive bus-wired sensors with no need.

My concern about messages is what's happening when queues overflow. A level-based IPC like process flags will ensure the behavior which saul_gcoap will expect -- intermedi

[2020-05-25 15:07] maribu commented on #14121
This might not be an issue. If the message contains a pointer to the `saul_reg_t` and not the actual value, the subscriber will still need to manually read the actual value. In that case the subscriber will always have the lasted value and will potentially loose intermediate ones.

From the high level perspective this is true. But from the low level perspective xtimer will always call a callback f

[2020-05-25 15:22] xuteka03 commented on #14133
Hi @maribu, thank you for your reply.

I tried to use the module above but it didn't help, neither did changing float to int. The output is the same.

[2020-05-25 15:28] kaspar030 commented on #14121
this.

May I suggest an extension to `sys/event`, where an event source (eg, sensor) has "event hooks", a list of events (event_t) that it just executes in sequence?

A list of events is just one pointer, as for msg_queues. But with an event, the user would have full control on what happens if the event gets triggered. Even sending a message is possible, or forwarding the event to another event_qu

[2020-05-25 15:33] PeterKietzmann commented on #14133
Can you try adding a `\n` at the end, like: `printf("Total time: %f ms", (float)time/1000);`

[2020-05-25 15:36] kaspar030 commented on #14121
I played with this idea a while ago and got some code lying around. I'll try to PR it by tomorrow, so we can discuss it.

[2020-05-25 15:39] jue89 commented on #14121
Thank you very much for your valuable feedback!

First thoughts:

Good idea! But for now I'd like to stick with eSAUL as a working title. I don't want to create confusion at the current stage of this proposal.

Good question! My first thought: Pick the easy solution and make the notification receiver calling `saul_reg_read()`. Drivers may implement caching here if this read call is too expensive t

[2020-05-25 15:52] jue89 commented on #14121
Who is owning the event queue? The thread interested in eSAUL change notifications?
Whose stack holds the event? The driver sending the event?
Is one event posted on several event queues?

[2020-05-25 15:58] maribu commented on #14121
Good idea. How about instead the number of the element in the list module 32? (Might need caching to avoid O(n) look ups for every event post.)

Btw: If we would get https://github.com/RIOT-OS/RIOT/pull/9105 in, the SAUL registry could be set up at compile time. And getting the element number for a given address within an array with a known start address is pretty cheap :-)

[2020-05-25 17:02] jue89 commented on #14121
Before relying on the element's index, we need to get rid of `saul_reg_rm()` first ;)

[2020-05-25 17:26] xuteka03 commented on #14133
Thank you very much @PeterKietzmann, this actually works with integer variable!

Do you or @maribu have any suggestions how to make the measurement more precise "float style" when I am not supposed to use float?

[2020-05-25 18:12] maribu commented on #14121
Or just add a comment that usage of `saul_reg_rm()` is also not compatible with this. (We could also replace the warning with the more boiled down statement: "You can either use `saul_reg_rm()`, or the rest of the SAUL API, but not both. The only exception is `saul_reg_add()`, which is indeed compatible with `saul_reg_rm()`.")

[2020-05-25 18:21] maribu commented on #14133
When you have to use `float` or `double`, then go for it. But here it is not needed. In fact, every API in xtimer works on integer types anyway. So just keep the time values in `uint32_t` or (if you need a higher range) in `uint64_t` and keep the resolution at µs. If you want to print the time in ms with a decimal place, you could do something like this:

[code]

[2020-05-25 18:22] #14133 closed

[2020-05-25 18:31] xuteka03 commented on #14133
I figured it out - I am just going to use the integer variable time and I'll divide it by 1000 and then use modulo function for the decimal part.

Thank you for your help, I will close this thread now.

[2020-05-26 00:36] benpicco commented on #14121
I think this might also be a good use for a [message bus](https://doc.riot-os.org/msg__bus_8h.html).

[2020-05-26 00:46] benpicco commented on #14121
We can know at compile time which sensor types are available (sensor drivers would have to select a pseudomodule then for which types they enable).
Then it would be no problem to have a separate bus for each sensor type.

[2020-05-26 01:02] wspark91 opened #14139 "I can't see /dev/ttyUSBX or ttyACMX on Linux using cc2538dk"
Hi~~~~

I am a beginner in RIOT development.

The test uses cc2538 board using gnrc_border_router, gnrc_networking, and gcap examples.

After uploading gnrc_border_router.elf on cc2538 board and connecting to linux, /dev/ttyACMX or /dev/ttyUSBX is not visible.

When uploading Contiki example on cc2538 board, ttyACM0 appears normally.

gnrc_border_router source was compiled with only the BOARD = cc

[2020-05-26 09:31] jue89 commented on #14121
Hmmm, the separation per sensor type assumes that in most use cases only one sensor type is present. I think this assumption falls apart if GPIOs, ADCs, ... are modeled as sensors. I still prefer the bloom filter idea. We have to deal with collisions anyway.

Another problem appears if a thread wants to unsubscribe from update events. It must keep track of, whether the event type is used by anothe

[2020-05-26 09:40] jhaand opened #14142 "Explain the setting for STLINK_VERSION more clearly."
#### Description
I just started using RIOT OS with the Blue Pill board and a generic cheap ST-LINK debugger. It has cost me the better part of a day set the correct STLINK_VERSION variable in the Makefile. Not one place in the documentation, for either OpenOCD or the Blue Pill mentions to set this variable for OpenOCD.
The documentation for OpenOCD in the wiki does mention "Transports and board su

[2020-05-26 09:44] benpicco commented on #14121
No, you'd just have a separate bus per sensor type.

So `saul_attach(SAUL_SENSE_TEMP, …)` would attach you to the temperature bus where you then could subscribe to different temperature related events.

[2020-05-26 10:35] nmeum commented on #11795
gnrc_tftp has been removed.

[2020-05-26 10:35] #11795 closed

[2020-05-26 11:21] chrysn commented on #14121
I'm still not convinced the message bus is the right way to distribute those events -- with SAUL the application won't know the board's sensors' update rates and can't guarantee it will process all events without overflow.

In the concrete case of a saul_gcoap server, when there are two observations (say, on a fast temperature scanner and a slow humidity scanner), the thread that sends the notific

[2020-05-26 11:23] miri64 commented on #14121
Why not do it like we did with `sock_async` and make it so that the event front-end (`event`, `msg`, `msgbus`, ...) can be picked by the user?

[2020-05-26 11:43] chrysn commented on #14121
That's similar to how xtimer works, right? In xtimer there's a lot of
convenience functions (_set_flag, _set_wakeup, _set_msg) whereas in
sock_async there's only _set_cb -- probably just an "API surface vs.
low-threshold usage" thing.

Unlike in those cases, I think we want to allow multiple listeners here.
By the sock_async pattern, that would give an API like

[code]

where `cb` and `data` would

[2020-05-26 12:28] aabadie commented on #12139
Support for this board was added in #13660. Closing.

[2020-05-26 12:28] #12139 closed

[2020-05-26 12:53] jue89 commented on #14121
So it boils down to a linked-list of callback functions that is attached to a SAUL sensor/actuator, right? These callbacks are called in the context of the eSAUL thread and may send a message, wake-up a thread, ...

Sry, I haven't had a dive into `sock_async`, yet. This is just an educated guess ;)

[2020-05-26 13:09] benpicco commented on #14139
Have you tried the instructions from https://doc.riot-os.org/group__boards__cc2538dk.html ?

Under Contiki, do you know if the cc2538 provides stdio over CDC ACM itself, that is without using a separate USB-Serial adapter?

[2020-05-26 13:12] benpicco commented on #14142
Hm with that workaround setting `STLINK_VERSION=2` should work.

Which version of OpenOCD are you using? IIRC when using the latest master branch, specifying the version is no longer needed.

[2020-05-26 13:14] maribu commented on #14121
I don't understand the semantic difference you see. A message is only delivered to a subscriber if:

a) The subscriber is currently blocked with receiving a message. (Thus, ready for the event)
b) The subscriber set up an message queue and there is still free space for at least one message.

So a subscriber not ready to process the next event would just not miss the message. This is semantically c

[2020-05-26 13:22] chrysn commented on #14121
Yes. (Although that's not what sock_async does -- that only ever has one callback. The linked list would be an extension of that theme to also carry a next pointer to make the LL)

The semantic difference is that a message can get lost (of two distinct messages, only the first is processed if there is overflow), whereas an event always gets set but it's just indistinguishable whether it was set on

[2020-05-26 13:24] benpicco commented on #14121
I now begin to wonder if the Message Bus was actually a reinvention of the Event Queue wheel

[2020-05-26 14:32] miri64 commented on #14121
Yes, `sock_async` uses just a single callback, that is supposed to be set by the front-end application (currently only `event` as a front-end is available). Nothing is speaking however against, that this callback does some multiplexing in the front-end, if need be.

[2020-05-26 14:33] miri64 commented on #14121
(if, in the case of `sock_async`, this is sensible, as sockets are typically only read-once, is another question ;-))

[2020-05-26 14:34] jia200x opened #14148 "Tracker: Kconfig: Model features provided by CPU and Board"
## Description

It was decided during the Virtual Maintainers Assembly 2020.05 to continue with the next phases of the Kconfig migration. This means that Kconfig will be used to model all module’s configurations and dependencies in the build system.

The first milestone is to model all features provided by CPUs and boards. Also explicitly declare and document all the possible features that can be

[2020-05-26 14:36] maribu commented on #14121
Well, the event queue has 1..n publishers and one subscriber, the message bus has 1..n publishers and 1..n subscribers

That would be the exact same behavior when doing:

[code]

The content of the message does not change, it is just a pointer to the `saul_reg_t` SAUL registry entry. So there is no difference if I only receive the first, the last, or a message in the middle. And from the usability

[2020-05-26 15:11] chrysn commented on #14121
For a thread that only does that, it makes no difference. But already if `work_on_data` forwards the data so some asynchronous receiver in a way that involves message exchange, the message approach may jam the system.

Messages or message queues work well when the receiver knows at all points in time which and how many messages it will receive -- then it can set its own message queue accordingly.

[2020-05-26 15:15] jhaand commented on #14142
It works flawlessly using `STLINK_VERSION=2`. That's not my problem.
My main problem is that the documentation on that is hard to find. I had to hack myself to get the workaround going and then look backwards. Using `find . -type f -exec grep stlink {} \; ` That got me to  'dist/tools/openocd/openocd.cfg'. Which led to the setting for STLINK_VERSION in the Makefile.

I'd rather would have seen in

[2020-05-26 15:19] benpicco commented on #14121
So why not have a thread dedicated to handle the messages then?

[2020-05-26 15:23] benpicco commented on #14142
I actually had the very same issue #12228

Where would you suggest should this documentation live?

[2020-05-26 15:27] chrysn commented on #14121
As I understand, we already plan on having a thread that polls any sensors for which there are subscribers. There'll be application threads that want notifications.

Another thread sitting inbetween would be rather pointless, as it'd need to solve the issue of how to get the events out just all over again -- and what for? Whichever flexibility that has to notify the application threads can just as

[2020-05-26 15:29] chrysn commented on #14121
Or, taking a step back and looking over the whole conversation: Why is msg_bus a candidate for this in the first place? Granted, it works well if large messages are to be sent to multiple receivers, but messages are small here and the receivers are mostly few.

[2020-05-26 15:40] jue89 commented on #14121
I saw a "1 sender to n receivers" pattern. The sender doesn't care who's listening. And I didn't wanted to implement yet another IPC to solve this.

[2020-05-26 16:41] jhaand commented on #14142
That's what I'm wondering at this moment. Because this is a generic STM32 ST-link issue. Not just an OpenOCD issue. At this moment I can't find a link for ST-LINK issues with OpenOCD.

At the bare minimum.
I would add a pointer in https://github.com/RIOT-OS/RIOT/wiki/OpenOCD towards the './RIOT/makefiles/tools/openocd-adapters/' directory. The paragraph on 'Transports and board support' should als

[2020-05-26 20:17] maribu commented on #14121
Is there really a use case for this? If I want periodic sensor readings, wouldn't the exiting timer API already fit the bill quite nicely? Every subscriber in this scheme likely has different requirements for the reading frequency anyway.

To me, this notification makes only sense for sensors like a motion sensor, a button, etc. which does create IRQs that are translated into higher level event no

[2020-05-26 20:41] benpicco commented on #14142
I added [a section](https://github.com/RIOT-OS/RIOT/wiki/OpenOCD#flashing-with-st-link) there

[2020-05-26 23:12] wspark91 commented on #14139
@benpicco
I have already tried but it doesn't work.
Connected directly to the Linux PC and cc2538, not using separate USB-Serial adapter.

[2020-05-27 07:23] leandrolanzieri commented on #9309
@kb2ma can the related [GitHub project](https://github.com/RIOT-OS/RIOT/projects/21) be closed?

[2020-05-27 07:54] jhaand commented on #14142
That looks great. I expanded that paragraph with info on the SRST setting. That also costed me about 30 minutes to figure out and is a quite recent addition.

I also included the pointer to the OpenOCD Makefiles in the paragraph https://github.com/RIOT-OS/RIOT/wiki/OpenOCD#transports-and-board-support

[2020-05-27 08:43] benpicco commented on #14142
Thank you!
I guess this can be closed now?

[2020-05-27 09:04] jhaand commented on #14142
Yes. This can be closed now.

[2020-05-27 09:04] #14142 closed

[2020-05-27 09:17] pokgak commented on #14095
Why is the definitions in the tracker list and why is it checked already?

[2020-05-27 09:34] kb2ma commented on #9309
Leaving the project open was an oversight; thanks for noticing. I just closed it.

[2020-05-27 10:27] benpicco commented on #14139
Ah that's it then.
There is no USB support for CC2538 in RIOT yet, but it's implemented [in Contiki](https://github.com/contiki-ng/contiki-ng/tree/develop/arch/cpu/cc2538/usb).

You'd have to implement `periph/usbdev.c` for cc2538 like it was done for nrf52, stm32 and sam0.

[2020-05-27 11:43] Citrullin commented on #14095
A type definitions in the header files. They are checked, because I already implemented them. It's a tracker for myself or anybody who wants to join the effort. Just a simple way to inform you.

[2020-05-27 11:58] pokgak commented on #14095
Oh okay, I thought it is already merged in master. I'm don't have much time to review it now but you can ping me if you need help with testing :)

[2020-05-27 13:18] chrysn commented on #14121
That is a good point, but as I've outlined msg is probably unsuitable. That may illustrate that there is some need for a more generic "dispatch to multiple handlers" tool that's not limited to using the message bus -- or we're just seeing the single instance where that's needed, hard to tell.

Ok, I thought that this interrupt-based thing would be an afterthought only -- fine if it's the main mode

[2020-05-27 14:06] jue89 commented on #14121
I would allow subscriptions for every sensor. But only those implementing eSAUL are going to notify at some time.

The question *what* triggers a notifications is TBD. I would let the driver's programmer decide when to trigger a notification but give some advise in terms of best practices.

---

I'll come up with a PoC and create some facts we can work with.
Because the decision which kind of IPC

[2020-05-27 14:40] maribu commented on #14121
The behavior of the message bus is well defined in a setting in which the receiver is not ready: The message is dropped. In the context that the message contains only a pointer to the `saul_reg_t` of the sender, what is the problem with the lost message? (I mean apart one value in the value stream being lost; but that is a problem independent of the used IPC mechanism.)

Also: Is there any indicat

[2020-05-27 23:32] wspark91 commented on #14139
@benpicco
Thank you. I will try.

[2020-05-27 23:40] wspark91 opened #14156 "RFC 6775 multi-hop NDP test in native board"
Can I test RFC6775 multi-hop NDP in native board environment on RIOT os?
Are there any documents to reference for environment configuration and testing?

Thank you.

[2020-05-28 08:22] janschlicht opened #14158 "kconfig is broken on case-insensitive file systems"
#### Description
You can either have the file `Kconfig` or the folder `kconfig`. For now either `Kconfig` or `kconfig/Kconfig.consts` and `kconfig/Kconfig.features` are deleted automatically when checking out riot.

#### Steps to reproduce the issue
Clone riot onto a case-insensitive APFS-Volume.

#### Expected results
All files are present.

#### Actual results
Either `Kconfig` or `kconfig/Kconfi

[2020-05-28 08:45] leandrolanzieri commented on #14158
@janschlicht could you check if #14160 fixes the issue for you?

[2020-05-28 09:05] janschlicht commented on #14158
@leandrolanzieri yes, that fixes the problem! Thank you.

[2020-05-28 09:13] leandrolanzieri commented on #14158
Good! Thanks for reporting and testing!

[2020-05-28 09:43] #14158 closed

[2020-05-28 10:21] benpicco commented on #14156
You can use [`socket_zep`](https://doc.riot-os.org/group__drivers__socket__zep.html) to simulate 802.15.4 between native nodes.

@miri64 will know more about that though.

[2020-05-28 22:57] jeandudey opened #14164 "Failed assertion when using netdev_ieee802154_mr_fsk"
#### Description

There's no device yet known to use `netdev_ieee802154_mr_fsk` module to date, `cc26xx_cc13xx_rf` is on the works (yet :c).

However as it's uses `netdev_ieee802154` and it pulls `ìeee802154` which then on the root `Makefile.dep` pulls `gnrc_sixlowpan` and subsequently with that `gnrc_netif_6lo`:

<details>
<summary>gnrc_sixlowpan dependencies</summary>

[code]
</details>
<details

[2020-05-29 09:22] chrysn opened #14167 "gcoap sock receive drops long packages instead of gracefully erring out"
#### Description

When gcoap receives messages that exceed CONFIG_GCOAP_PDU_BUF_SIZE, it silently discards it.

#### Steps to reproduce the issue

* Run the gcoap example
* Run a server that serves a resource that gives >128 byte responses, for example [the aiocoap demo server](https://aiocoap.readthedocs.io/en/latest/examples.html)
* `coap get -c fe80::176b:fd74:a58f:ff97%6 5683 /.well-known/core

[2020-05-29 12:59] chrysn opened #14169 "Gcoap does not handle separate responses"
#### Description

Gcoap seems not to handle separate responses at all.

#### Steps to reproduce the issue

* Run a CoAP server that sends separate responses (ie. sends an empty ACK in response to a CON, takes its time, and then sends the response in a CON of its own), for example the [aiocoap demo server](https://aiocoap.readthedocs.io/en/latest/examples.html) at its `/other/separate` resource (wh

[2020-05-29 13:36] kaspar030 commented on #14164
I labeled "bug", maybe "feature request" is more fitting.

[2020-05-29 13:54] benpicco commented on #14164
But it is a bug - that `assert(netif->ipv6.mtu == IPV6_MIN_MTU);` is wrong.

[2020-05-29 15:40] kb2ma commented on #14169
You are correct, gcoap does not handle separate responses. See #13894 for a step towards that support.

[2020-05-30 14:00] chrysn commented on #14169
From starting to work through this, a first correction: Responses aren't rejected because they come on a different message ID, they just fall into the "response is CON" code path that is documented to be unhandled. That part is already addressed in the WIP PR #14178; the last part (stop sending CON after receiving an ACK) is yet TBD with the abovementioned nontrivialities about timeout calculation

[2020-05-30 19:41] keestux opened #14180 "Test thread_flood is failing since we have a new thread "usbus""
#### Description
Test thread_flood is a simple test to see if the maximum number of tests can be created. It counts the number of threads created and subtracts two (for "main" and "idle") and checks if that counts up to `MAXTHREADS`. However we now can also have a thread for "usbus", so the test is not correct anymore.

#### Steps to reproduce the issue
[code]
This can be any board with USBUS.

##

[2020-05-31 06:39] wspark91 commented on #14156
@miri64
I am trying to test RFC6775(Neighbor Discovery Optimization for 6LoWPAN) using Native board in RIOT os.
Benpicco said that you can create RFC6775 test environment on Native board using socket_zep.

The following three examples can be used for testing.
gnrc_boarder_router(6LBR) --- gnrc_networking(6LR) --- gcoap(6LN)

If possible, I would appreciate any documentation or explanations to help

[2020-06-01 18:03] keestux opened #14184 "Part of puts/printf output is skipped"
#### Description

Output of puts is dropped after a `\n` in the string.

For example `tests/periph_gpio` starts with these statements
[code]

#### Expected results
(( Note. The first part of the output is not shown because the `term`
is not connected in time to catch all the output. ))

[code]
#### Actual results

[code]

#### Versions
[code]

[2020-06-01 18:10] keestux commented on #14184
When I change the puts to the following then the output is what it should be.
[code]
It seems that all output after the `\n` is dropped.

[2020-06-01 18:11] keestux commented on #14184
Oh, I forgot to say that this is on a SAMD21 with stdout via USB. BOARD=sodaq-autonomo

[2020-06-01 19:14] keestux commented on #14184
I've add `USEMODULE += stdio_uart` in the test. With that added the problem does not show up. So it looks like to be a USB (CDC ACM) problem.

[2020-06-01 19:23] keestux commented on #14184
With a modified hello-world example, you can see that printf has the same problem.
[code]
Give the following output
[code]

[2020-06-01 19:23] keestux commented on #14184
Is this something for @bergzand ?

[2020-06-01 19:53] bergzand commented on #14184
Likely. Might be the same issues as #14073

[2020-06-02 09:30] chrysn commented on #14169
As github has not caught the backlink: This is now being worked on in https://github.com/RIOT-OS/RIOT/pull/14178.

[2020-06-02 11:53] #14164 closed

[2020-06-03 12:43] #12618 closed

[2020-06-03 19:57] keestux commented on #14184
Not that I want to make this problem more urgent than others, but I'd like to know if somebody is going to work on it.

Or maybe I can try to look at it myself. However, I don't have a proper debug environment, other then enabling DEBUG and adding printf/puts. Of course I can't do that when CDC ACM is the stdio, and doing printfs at the same time. Perhaps someone (@bergzand?) could advise me how t

[2020-06-04 15:10] fengelhardt opened #14207 "example/posix_sockets: udp send is broken"
#### Description
Sending UDP datagrams via posix sockets is broken.

Problem shows with posix_sockets example, but seems to affect posix_sockets in general.

#### Steps to reproduce the issue
Open a netcat receiver:
[code]

Run posix_sockets example in another terminal:
[code]
IPV6ADDR be the address of tapbr0 interface.

#### Expected results
Netcat receiver should show string "hello".

#### Actu

[2020-06-05 09:00] mp3patel19 commented on #11761
Hi can i integrate LibOSCORE with LibCOAP as per current status of your library?

[2020-06-06 07:44] wspark91 commented on #14156
No documentation or examples on how to use socket_zep?

[2020-06-07 09:24] keestux commented on #14184
Could it be a compiler bug? (( I decided to undust my Atmel-ICE and examine the problem. ))
This is what goes wrong. Let me quickly show `stdio_write` from `cdc_acm_stdio.c`
[code]
With a breakpoint at the return I see that `start` and `buffer` have the same value. And returning 0 seems to inform printf and friends that something is wrong and the rest of the buffer is skipped. (Oh, and BTW, printf

[2020-06-07 09:47] keestux commented on #14184
No, wait a minute. Why didn't I see this before?
[code]
Oops. That should have been.
[code]

[2020-06-07 13:54] #14184 closed

[2020-06-07 15:39] benpicco commented on #14156
There are some bits in the original PR: https://github.com/RIOT-OS/RIOT/pull/6121#issuecomment-272695647

[2020-06-07 15:47] benpicco commented on #14074
fixed by #14075

[2020-06-07 15:47] #14074 closed

[2020-06-07 15:49] benpicco commented on #14074
@nmeum this might be interesting for `fuzzing/gcoap`.

[2020-06-07 19:19] keestux opened #14217 "tests/periph_timer_periodic is failing"
#### Description

Test `tests/periph_timer_periodic` is failing on my SODAQ boards. These are the only boards I have so I can't tell if the test fails on other boards boards as well. My suspicion is that it fails on SAMD21.

#### Steps to reproduce the issue
Build and run `tests/periph_timer_periodic`

#### Expected results
The output should end with
[code]

#### Actual results
[code]

[2020-06-07 19:22] keestux commented on #14217
@benpicco sorry, I have "assigned" you, mainly to draw your attention. Maybe you can first answer this question: what SAMD21 board did you run the test on, and did it succeed?

[2020-06-07 20:18] keestux commented on #14217
@benpicco Nevermind. It is a missing define of `XTIMER_DEV` in common sodaq includes. I'll fix that.

[2020-06-07 20:31] benpicco commented on #14217
Yea this relies on the xtimer defines to get a known good timer configuration.
Unfortunately there is no universal timer config (e.g. requesting a 1 MHz hardware timer will not work on all platforms) but the XTIMER configuration is guaranteed to provide a working timer that can measure the ranges of time used by this test.

[2020-06-07 23:10] wspark91 commented on #14156
@benpicco
Thank you.
#6121 has already been checked, and I tested socket_zep using gnrc_networking, but it does not work.

[2020-06-08 09:41] miri64 commented on #14156
Hi @wspark91, sorry for replying so late, I was quite busy the last few days. Sadly `zep_mesh` seems to be in quite a bit-rotten state, and I don't have the time to fix it ATM. You are of course happy to try to make it work. Alternatively I know, that people were working with [cooja](http://anrg.usc.edu/contiki/index.php/Cooja_Simulator) in the past, but I don't know any details. If you have a new

[2020-06-08 15:18] #14180 closed

[2020-06-09 04:25] wspark91 commented on #14156
@miri64
Thank you for the reply.
Is it difficult to test RFC6775 with socket_zep using native board in the current state?
Is it possible to test RFC6775 using stm32 mote?
What is the fastest and easiest way to test RFC6775 using RIOT os?

Thank you.

[2020-06-09 07:36] miri64 commented on #14156
It should not be, as soon as you are able to create a connection between a handful of nodes.

If it supports IEEE 802.15.4, yes.

It depends a bit of *what* you want to test. If it is just about packet parsing, sending of correct messages or the state machine, I'd say, use `socket_zep` with a tool like [`scapy`](https://scapy.net/).  If you want to test real interaction between nodes, I usually us

[2020-06-09 07:44] wspark91 commented on #14156
@miri64
Thank you very much. It was very helpful.

[2020-06-09 07:44] #14156 closed

[2020-06-09 08:40] akshaim opened #14234 "usbdev for atmega32u4"
#### Description

I a trying to port RIOT to  [The Things Uno board ](https://www.thethingsnetwork.org/docs/devices/uno/)( based on Arduino Leonardo). The board features a single USB port just like Leonardo but unlike Leonardo, UART pins are connected to an RN2xx3 chip from Microchip. This means that I am forced to use USB for debugging. This, however, does not work since usbdev is not available f

[2020-06-09 10:40] benpicco commented on #14217
Can this be closed now?

[2020-06-09 10:42] benpicco commented on #14234
If you are lucky the the USB peripheral will be similar to the one found on sam0.
*Maybe* @bergzand and @maribu can give you some pointers.

[2020-06-09 11:08] maribu commented on #14234
I sadly have zero competence in the USB area. (I would like to change that, though.) If I remember correctly, @bergzand mentioned during the RIOT summit '19 that the Atmel USB implementations are pretty similar, regardless if they come in the ARM/SAM or in the AVR/ATmega flavor. So chances are good that large parts of the USB code can be reused.

[2020-06-09 11:37] akshaim commented on #14234
@benpicco  @maribu I am pretty much new to the build system in RIOT. From what I understand the periph/usbdev  in sam0_common is a very low-level implementation. Considering that SAM and AVR has pretty much nothing in common , I doubt whether we can reuse the code. Please correct me if I am wrong.

[2020-06-09 11:38] kaspar030 opened #14237 "esp32-wroom-32: tests/netstats_l2 failing sometimes"
#### Description

The tests keeps popping up on PR's that run tests and on nightly.

See e.g., https://ci.riot-os.org/RIOT-OS/RIOT/13825/ab28db7e542029d4e7aae9ac95f4b2d7dc5bc0e8/output/run_test/tests/netstats_l2/esp32-wroom-32:gnu.txt

Disabling it until we found a fix would reduce false negatives on unrelated PRs. I'll open a PR for that.

#### Steps to reproduce the issue

#### Expected results

[2020-06-09 11:50] benpicco commented on #14234
On a MCU there is the CPU core and then there are the peripherals. Those are usually mapped to memory.

You can use the same peripheral IP and attach it to different CPU cores (ATmega, Cortex-M0, Cortex-M4, RiscV, …), they will interact with it by writing to the same peripheral registers (addresses in memory).

What differs is clock setup, that is how the peripheral is clocked. That depends on the

[2020-06-09 12:36] bergzand commented on #14234
Hi @akshaim, you're indeed looking for a very low level implementation of the USB peripheral. The goal of usbdev is to provide a lightweight abstraction for MCU USB peripherals so that the USBUS stack has a uniform view of different peripherals. An usbdev implementations implement a number of functions to control the low level interfaces, such as retrieval of USB endpoint data. The USB protocol la

[2020-06-09 14:50] akshaim commented on #14234
@benpicco and @bergzand. This helps. I shall investigate and contact you soon.

[2020-06-10 16:19] Hoernchen20 opened #14253 "git clone: error on Windows 10 machine, invalid file name"
#### Description
I have try to clone the repository on a Windows 10 machine, but getting an error.
The filename `aux.c` is not allowed on windows machines.

#### Steps to reproduce the issue
Simple start `git clone https://github.com/RIOT-OS/RIOT.git` on a windows machine.

#### Expected results
`Clone succeeded, checkout succeeded`

#### Actual results
`Cloning into 'RIOT'...`
`remote: Enumeratin

[2020-06-10 19:53] keestux opened #14256 "Output of test thread_msg_seq can fluctuate"
#### Description
The sequence of the output lines of test in `tests/thread_msg_seq` can vary. But the Python test code expects a fixed sequence.

Besides sequence problem the Python test code also expects the first thread to have id 3. And that is not always true anymore. When a board does stdout via CDC ACM there is an extra thread "usbus". So the printed thread ID number cannot be relied upon. T

[2020-06-11 06:55] #14253 closed

[2020-06-11 10:17] #12671 closed

[2020-06-11 12:49] fengelhardt commented on #14207
Small update: After some digging I might be able to fix myself. I have found a missing feature in conjunction with posix_sockets.c that is marked as TODO.

The problem is due to a missing interface id. As I use a link local address, it would be required to specify the network interface. This is not supported with the current POSIX socket implementation, as the corresponding `netif` field in `struc

[2020-06-11 13:03] kaspar030 opened #14264 "make: ccache leads to differing binaries"
#### Description

Currently, modules are built by cd'ing into the module folder, then calling gcc with the absolute path of a source file. ccache strips absolute paths in order to cache properly.

This leads to different binaries depending on whether ccache has a cache hit or miss, or if it is used at all, if a source file uses e.g., __FILE__.

See https://github.com/RIOT-OS/RIOT/pull/14262 for a

[2020-06-11 18:51] keestux commented on #14256
@kaspar030 I've created PR #14270 for it

[2020-06-13 20:41] keestux opened #14281 "Output of tests/posix_semaphore depends on timing"
#### Description

Test `posix_semaphore` may depend on timing, or perhaps on other active threads. This test has four sub tests, TEST1 .. TEST4. The text output of TEST1 is different when running on stdio via UART or CDC ACM (USB).

#### Steps to reproduce the issue
Run tests/posix_semaphore on a board which uses CDC ACM as stdio, and just look at TEST1.

#### Expected results
A well defined seque

[2020-06-13 20:47] keestux commented on #14281
@kaspar030 I need your help again.

[2020-06-13 20:48] kaspar030 commented on #14281
I think the issue is again starting a higher-priority thread (lower value) with THREAD_CREATE_WOUT_YIELD. With the usb thread interrupting, the logic breaks.
To fix, I suggest removing "THREAD_CREATE_WOUT_YIELD". The output should then always look like with CDC ACM as stdio.

[2020-06-15 07:51] #14281 closed

[2020-06-15 11:50] miri64 opened #14288 "pkg/ccn-lite: unable to `make -j -C examples/ccn-lite-relay`"
#### Description
I am unable to build `examples/ccn-lite-relay` with more than one job

#### Steps to reproduce the issue
[code]

#### Expected results
Same as without `-j` parameter:

[code]

#### Actual results
Build fails:
[code]

#### Versions
According to my bisect, this seems to be an issue ever since https://github.com/RIOT-OS/RIOT/pull/13036 was merged (builds with `-j` in `c8461a4bef^1` j

[2020-06-15 12:05] aabadie commented on #14288
I can't reproduce locally (local toolchain or docker). Can you fill the `Versions` section ? Versions of make and cmake could be helpful.

[2020-06-15 12:06] aabadie commented on #14288
for your log, cmake version is 3.17.

[2020-06-15 13:33] miri64 commented on #14288
Done.

[2020-06-15 15:31] maribu commented on #9882
There is no guarantee, that `volatile` accesses are atomic; even if that would be possible. E.g. on `x86_64` it is cheaper to use two 32 bit stores with an immediate, rather than assembling a constant in a temporary register and doing an atomic write from there. There is at least one version of GCC tearing 64 bit stores apart into two 32 bit stores on `x86_64` if the value to be written is a compi

[2020-06-15 16:52] maribu commented on #9882
https://github.com/RIOT-OS/RIOT/blob/78f8cef88b38df88730ccc8c9872271d37bf1e49/sys/tsrb/tsrb.c#L22-L25

Here is another issue: The actual order of the stores (incrementing `rb->writes` and storing `c` into `rb->buf[]`) is not enforced. The compiler is free to first increment `rb->writes` and then write `c`, as nothing speaks against reordering the writes: Non-`volatile` stores can be moved across `

[2020-06-16 08:31] #14256 closed

[2020-06-16 10:06] #12702 closed

[2020-06-16 10:30] #13942 closed

[2020-06-16 10:30] #12817 closed

[2020-06-16 19:02] #12077 closed

[2020-06-19 07:18] Citrullin commented on #13787
Is it somehow possible to push this topic, so it is not going to die? :)

[2020-06-19 07:57] pokgak opened #14315 "DTLS examples cannot send message to localhost"
#### Description

The current `dtls-echo` and `dtlsc-sock` cannot send messages to localhost (`::1`).

#### Steps to reproduce the issue

1. Start a `dtls-echo`/`dtls-sock` example application.
2. Start the server: `dtlss start`
3. Send a message to localhost: `dtlsc ::1 HELLO`

#### Expected results

The sent message echoed back.

#### Actual results

For `dtls-echo`:

[code]

For `dtls-sock`:

[

[2020-06-19 10:32] #14207 closed

[2020-06-22 09:24] bergzand opened #14328 "sam0_common: make debug broken for boards using EDBG"
#### Description

As of ~~8b9a98233e~~98824df68ba665e2c54b715a12991ae8e51e7115, `make debug` is broken for at least the same54-xpro and the samr21-xpro. Using `PROGRAMMER=openocd BOARD=samr21-xpro make debug` does work.

#### Steps to reproduce the issue

`BOARD=samr21-xpro make -C examples/default debug`

#### Expected results

A GDB session to the board is started

#### Actual results

Make retu

[2020-06-22 12:07] HendrikVE opened #14330 "Improve driver implementation documentation"
I recently wrote my first RIOT device driver. In the process of porting my driver I discovered the following (incomplete) documentation here: http://doc.riot-os.org/driver-guide.html.
There is a `General Device Driver Checklist`. It tells us for example, that there needs to be a `include/devab_params.h` file for default parameters of the driver `devab`. But in order to get access to these params f

[2020-06-22 12:10] HendrikVE commented on #14330
@aabadie I believe you wrote the `riotgen` tool?

[2020-06-22 13:26] aabadie commented on #14330
Yes! And PRs are welcome :) https://github.com/aabadie/riot-generator

The update of `drivers/Makefile.include` and `drivers/Makefile.dep` is not part of riotgen because it doesn't fit in the current design of the tool. Indeed, the source files are generated from template files. I didn't want it to modify RIOT itself.
I guess the best here is just to update the documentation in RIOT.

[2020-06-22 19:42] benpicco commented on #14328
Thank you, I noticed that too!
I thought I botched by openocd install…

I doubt 8b9a98233e166301cabcc08ca93b53f3423fc4e0 is the culprit - that only touches `boards/wemos-zero`.
Did you do a bisect?

[2020-06-22 20:10] bergzand commented on #14328
That's a copy-paste mistake, should have been 98824df68ba665e2c54b715a12991ae8e51e7115, at least that's what a bisect is telling me

[2020-06-22 21:04] benpicco commented on #14328
A solution would be to *always*

[code]

[2020-06-23 09:05] #12749 closed

[2020-06-23 13:18] aabadie commented on #9913
@fjmolinas @leandrolanzieri, what is the status of this issue ? Are all cpu dependencies addressed ?

[2020-06-23 13:38] fjmolinas commented on #9913
I think we are at a point where we could test changing the inclusion order, other than `sketch_module` I'm not sure what is in the way. Would be worth launching `debugdependencies` on a PR that changes the inclusion order.

[2020-06-23 13:39] fjmolinas commented on #9913
I believe:

-  Move CPU dependencies to $(CPU)/Makefile.dep
- Fix CPU dependencies not being parsed easily as reported first in
- Move all BOARD/CPU dependencies to $(BOARD)/Makefile.dep and $(CPU)/Makefile.dep

are done, can you think of something that is missing @aabadie @leandrolanzieri?

[2020-06-24 10:47] aabadie commented on #10850
@fjmolinas do you think issue could be closed. It seems all points were addressed.

[2020-06-24 14:07] HendrikVE commented on #14330
@aabadie Cool, I just raised a small PR. With it these header files will at least be found locally then. Question about the documentation: Is the [Wiki](https://github.com/RIOT-OS/RIOT/wiki/Guide:-Writing-a-device-driver-in-RIOT) linked to the [website](https://github.com/RIOT-OS/RIOT/wiki/Guide:-Writing-a-device-driver-in-RIOT) in some way? I would like to add the missing section mentioned above.

[2020-06-24 14:38] aabadie commented on #14330
You can open a PR in doxygen. The driver implementation guide is [here](https://github.com/RIOT-OS/RIOT/blob/master/doc/doxygen/src/driver-guide.md).

Regarding the PR on riot-generator, I'm sorry but I don't like the approach: if the generated driver is PRed upstream, this will have to be changed in order to stay inline with the convention used with the already available ones.
I would rather add

[2020-06-24 14:45] #14328 closed

[2020-06-25 10:18] #13834 closed

[2020-06-25 11:46] maribu opened #14356 "[tracking] Transition to `inline`-able IRQ API"
### Description

In https://github.com/RIOT-OS/RIOT/pull/13999, @fjmolinas added a more efficient `inline`-able IRQ API. The new API requires updating the implementations of every platform. This issue should help tracking what is left

#### State

- [x] [ARM Cortex M](https://github.com/RIOT-OS/RIOT/pull/13999)
- [x] [ARM v7](https://github.com/RIOT-OS/RIOT/pull/14088)
- [x] [AVR](https://github.c

[2020-06-25 11:48] maribu commented on #14356
@gschorcht: Care to tackle the ESP platform? I could also do it, if you want.

@francois-berder: Care to tackle the MIPS platform? I sadly don't have MIPS hardware.

@kenrabold: Care to tackle the RISC-V platform. (I really should get some RISC-V board myself...)

I can tackle MSP430 and use the FIT/IoT-Lab for testing.

[2020-06-25 11:49] aabadie commented on #14356
@maribu, I can have a look at the risc-v CPU, I have one hifive1b :)

[2020-06-25 11:50] maribu commented on #14356
Very cool! It would be super if we could have this done before the feature freeze, so that we have a consistent IRQ API in the next release.

[2020-06-25 13:39] gschorcht commented on #14356
Hm, I'm not sure that makes much sense to ESPs:

1. The ROM size increases slightly (half a kbyte).
2. And I get a lot of compilation errors because the implementation of these inline functions requires to insert some SDK headers that create naming conflicts wherever `irq.h` is included.

So the performance gain does not seem to be worth enough to make such a fundamental change.

[2020-06-25 14:15] maribu commented on #14356
Hmm, that should not happen. Except for strange beasts like AVR, `irq_disable()` and `irq_restore()` should be one machine instruction each. So just the function call should be more expensive (in terms of both ROM size and CPU cycles) than the instruction. Let me take a look.

[2020-06-25 16:12] gschorcht commented on #14356
Unfortunately not. Since you have to mask some bits in a 32 bit register to restore the interrupts, the assembler code for `irq_restore` is implemented as following:
[code]
The assembler code produces 20 bytes of code. Calling a function, just loads the parameter and the function address into registers and calls the function. These are 6 bytes of instructions plus a function overhead of 4 bytes on

[2020-06-25 17:03] hugueslarrive opened #14361 "Bug : bad assertion in cpu/stm32/periph/pwm.c"
Line 48: `assert((pwm < PWM_NUMOF) && ((freq * res) < timer_clk));`
This prevent to set optimal resolution for a given frequency which is (freq * res) = timer_clk.

[code]

[2020-06-27 22:14] bergzand opened #14380 "dist/tools/flatc: cloning of the tool sporadically fails on the CI"
#### Description

cloning of the code for dist/tools/flatc sometimes fails with a "fatal: destination path already exists and is not an empty directory" error on Murdock. This causes sporadic build failures on unrelated PRs. My gut feeling tells me that #14289 is probably to blame and that some tuning is required for the flatc repo clone.

#### Steps to reproduce the issue

Hard to reproduce, but

[2020-06-28 03:35] #12780 closed

[2020-06-28 08:41] aabadie commented on #14380
I can reproduce the problem locally, but it doesn't happen all the time:

[code]

The error message:
[code]
is displayed all the time though.

This is certainly the origin of the problem. In fact, both `flatc` and `tests/pkg_flatbuffers` uses the source of flatbuffers cloned in `$(RIOTBASE)/build/pkg` and both are trying to clone the same repository. If one builds without `-j`, everything is fine

[2020-06-28 09:48] #14380 closed

[2020-06-28 09:48] bergzand commented on #14380
Thanks @aabadie!

[2020-06-29 14:27] chrysn opened #14390 "gcoap: Suspected crosstalk between requests (possible NULL call)"
From the way gcoap memos are set up, I suspect that timeouts can under race conditions slip to a new request:

* A response event timeout is set on a memo.
* Very late, a response comes in.
* The timeout fires, and the timeout event gets placed to on the queue.
* The response is processed, and event_timeout_clear gets called. That function's documentation says that it may be a no-op if the event h

[2020-06-30 07:20] chrysn opened #14393 "Gcoap can not send separate responses"
#### Description

Gcoap does not have any facilities to send separate responses (ie. to send an empty ACK to an incoming CON, and then send the response in a CON). This is needed for:

* Testing #14178 -- otherwise, Gcoap needs to react to behavior it can not produce by itself.
* Implementing a proxy (#13790) -- or any resource really that takes time to render (but barely anything in embedded othe

[2020-06-30 08:16] miri64 commented on #179
Ping @kaspar030 @MichelRottleuthner?

[2020-06-30 08:26] miri64 commented on #179
Looking at it, it does not look like `ztimer` provides an API for real time. This is an issue effectively unaddressed for 7 years, so is there a demand for a software real time API? /cc @kaspar030 @MichelRottleuthner @JulianHolzwarth et al.

[2020-06-30 08:36] miri64 commented on #1323
@mfp20 would you be interested in looking into porting this e.g. as a package? The caveats can be dealt with later as long as there is documentation on it.

[2020-06-30 08:38] miri64 commented on #1647
Let's close this after all. It does not seem sensible to me anymore to follow this on (except for the Path MTU Discovery part)

[2020-06-30 08:39] #1647 closed

[2020-06-30 09:02] miri64 opened #14396 "IPv6 Path MTU discovery in GNRC"
#### Description
Given that we are starting to get a variety of link-layer types with varying defined IPv6 MTUs, we should start thinking about implementing [Path MTU Discovery](https://tools.ietf.org/html/rfc8201). Most of the ground work is already done, just some components missing.

- [x] Send Packet Too Big message to sender when device MTU is too big:
  https://github.com/RIOT-OS/RIOT/blob/0

[2020-06-30 09:03] miri64 commented on #1647
Opened https://github.com/RIOT-OS/RIOT/issues/14396 for the PMTU part of this issue.

[2020-06-30 09:09] miri64 commented on #2096
No real engagement for over three years and there are doubts regarding the performance of such a memory optimization. Let's close it. Reopen if you disagree.

[2020-06-30 09:09] #2096 closed

[2020-06-30 09:14] miri64 commented on #208
This is part of https://github.com/RIOT-OS/RIOT/issues/3052 I just noticed. So let's close this as https://github.com/RIOT-OS/RIOT/issues/3052 is more holistic

[2020-06-30 09:14] #208 closed

[2020-06-30 09:16] miri64 commented on #3256
@leandrolanzieri @jia200x @akshaim is this still a problem with Kconfig?

[2020-06-30 09:26] miri64 commented on #4233
@benpicco @maribu this could be interesting for your rework of `luid`.

[2020-06-30 09:28] miri64 commented on #4693
Are they in?

[2020-06-30 09:31] miri64 commented on #4852
@leandrolanzieri @jia200x can you please look into this?

[2020-06-30 09:31] benpicco commented on #4693
I don't have any more cleanup PRs open for lpc23xx

[2020-06-30 09:32] miri64 commented on #4693
Then let's close this finally!

[2020-06-30 09:32] #4693 closed

[2020-06-30 09:36] benpicco commented on #4858
Sci-Hub has all the standards btw :wink:

[2020-06-30 09:42] miri64 commented on #5009
Was there any work done on this the past few years @MichelRottleuthner @roberthartung?

[2020-06-30 09:44] miri64 commented on #5037
This can basically be done with [`scapy`](https://scapy.readthedocs.io/en/latest/usage.html#reading-pcap-files). I don't think this needs to be integrated into RIOT anymore.

[2020-06-30 09:44] #5037 closed

[2020-06-30 09:48] miri64 commented on #5201
Seems related https://github.com/RIOT-OS/RIOT/issues/3392

[2020-06-30 09:54] maribu commented on #4233
I'd say the current `luid` implementation is superior in terms of usability, as

- No NTP timestamp is needed for generation in `luid`
- The same board with the same transceiver setup will always end up with the same local EUI in `luid`

[2020-06-30 09:58] miri64 commented on #5769
Any progress on this?

[2020-06-30 10:03] miri64 commented on #4233
It _is_ however still problematic when the CPU ID is very similar (see [e.g. last weeks discussion to the users list](https://lists.riot-os.org/pipermail/users/2020-June/001566.html))

[2020-06-30 10:12] benpicco commented on #4233
Is there a small hash algorithm that produces 64 bit output? Hashing the CPU ID would provide better results than just xor in a loop.

[2020-06-30 11:30] #12273 closed

[2020-06-30 12:46] roberthartung commented on #5009
I can grab a STM nucleo board (hopefully tomorrow) and verify the latest power consumption behavior.

[2020-06-30 14:04] Chamaeleon- commented on #12565
Interesting side effect:
This bug seams to produce an underflow on packet loss possibly due to the leftover packets in the buffer.
[code]
(3rd ping of this kind in a row in a mesh with 25 native nodes made by desvirt)

[2020-06-30 14:09] fjmolinas commented on #12565
That seems like an easier way of replicating the bug as well.

[2020-06-30 15:04] pokgak opened #14399 "cord_ep example timed out when registering to a resource directory"
#### Description

The `cord_ep` example application timed out when registering to `aiocoap-rd` resource directory (RD). Latest known working release is 2020.01.

#### Steps to reproduce the issue

With the latest master (e8389a58470edf53800c3a9ad202c25d7c663112) or release 2020.04, start a `cord_ep` example application and try to register to the RD.

I'm using aiocoap version `0.4b3`. Install with

[2020-06-30 15:07] Chamaeleon- commented on #12565
The precise network setup is made with desvirts topologycreator running on a Ubuntu 18.04 LTS Notebook.
`./topology_creator -s 25 -t mesh -n riot_native -e ./gnrc_networking.elf`
Seams to me like it triggers the bug every time?

[2020-06-30 15:39] leandrolanzieri commented on #14399
When using a link global address I get to connect to the RD with current master:
[code]

[2020-06-30 15:47] pokgak commented on #14399
Yup confirmed working with global address. Is this suppose to be the actual behavior and the result in release 2020.01 due to bug thats now fixed in master?

[2020-06-30 16:00] miri64 commented on #14399
Sounds to me like https://github.com/RIOT-OS/RIOT/pull/12994 strikes again.

[2020-06-30 16:08] #12715 closed

[2020-06-30 16:08] #12736 closed

[2020-06-30 16:25] pokgak commented on #14399
With  `CFLAGS += -DGNRC_NETIF_SINGLE=1` added, registering using the link-local address is working again using master branch.

[2020-06-30 17:00] miri64 commented on #14399
This still means a bug in at least the `cord_ep` shell command ;-)

[2020-06-30 19:08] pokgak commented on #14399
I got this working by changing `make_sock_ep()` with the following diff:
[code]

But I'm not sure if that is truly fixing the root cause or just a workaround. AFAIK the issue here is caused by `remote` having `SOCK_ADDR_ANY_NETIF` as the netif. So using link-local address and specifying the interface will also work here (`fe80::a4b8:d3ff:feb5:d5aa%7`). gcoap cli also uses the check as above to ass

[2020-06-30 19:25] miri64 commented on #14399
Kinda. This would prevent a redundant assignment ([`SOCK_ADDR_ANY_NETIF` is 0](https://github.com/RIOT-OS/RIOT/blob/e1d27cb7d59af77c1bde54f9090fe39dd6d8425f/sys/include/net/sock.h#L152))

[code]

However, now that I see the code, it turns out the command wasn't broken after all, just its usage changed. But it is good that it now also works again with a single interface without providing it.

With

[2020-06-30 19:27] pokgak commented on #14399
Thanks I'll make a PR for this

[2020-06-30 19:28] miri64 commented on #14399
More correct would be (but virtually unused until now and maybe because of the mixed code with `gnrc_netif_numof()` not such a good idea after all)

[code]

[2020-06-30 21:00] #14399 closed

[2020-07-01 07:17] saggl commented on #11819
i closed the issue again because i thought it was the wrong channel for this question.
However, I would still be interested in an answer=)

[2020-07-01 07:21] fjmolinas commented on #14288
Does this happen if you build in docker?

[2020-07-01 08:14] haukepetersen opened #14407 "gnrc/RPL: instance ID not updated on reconnect"
#### Expected results
When  debugging something unrelated I just stumbled over the following behavior:
- start two RIOT nodes in the same network, node A as RPL root: let `instance ID := 11`, node B as RPL node
- node B selects node A as parent and updates its internal state:

[code]

[code]

- now we reboot the RPL root (node A) and re-initialize it with a new instance ID (`22`):
[code]
**Problem

[2020-07-01 09:31] miri64 commented on #14288
It does not happen on my Ubuntu 19.10 machine (`cmake v3.13.4`) and it does not happen in docker (Ubuntu 19.04, cmake v???). I think @aabadie is right in his assessment, that this is only affected by newer versions of `cmake` (confirmed for `cmake v3.17.3`).

[2020-07-01 09:34] miri64 commented on #14288
[Ubuntu 20.20, the latest LTS has `cmake v3.16.3`](https://packages.ubuntu.com/focal/cmake) btw. No idea if the bug appears there as well. Would be worth a try by someone who has it installed or wants to test https://github.com/RIOT-OS/riotdocker/pull/104

[2020-07-01 09:47] aabadie commented on #14288
I don't think this is related to CMake but rather to make. You make version is 4.3, ubuntu 20.04 provides 4.2

[2020-07-01 09:54] fjmolinas commented on #14288
Our docker version uses make 4.1, AFAIK there are some backward incompatible changes between 4.1 and <4.2. But I don't know the details.

[2020-07-01 11:02] miri64 commented on #14288
But the error is a missing file in CMake and building in parallel without `cmake` packages works just fine.

[2020-07-01 11:04] miri64 commented on #14288
Regardless: Make on Ubuntu 19.04 is 4.2.1.

[2020-07-01 11:07] fjmolinas commented on #14288
Yes I'm just saying that since the docker version is 4.1, then we haven't tested make <4.2.

[2020-07-01 11:12] miri64 commented on #14288
4.1 is <4.2...

[2020-07-01 11:15] fjmolinas commented on #14288
Sorry I meant make >4.2 (so 4.2, 4.3)

[2020-07-01 11:59] miri64 commented on #5796
Fixed by https://github.com/RIOT-OS/RIOT/pull/12032 which is currently stale.

[2020-07-01 12:00] miri64 commented on #5825
I guess that goes into the general direction what @kaspar030 with https://github.com/RIOT-OS/toolchains?

[2020-07-01 12:01] miri64 commented on #5863
Is this still the case, now that the shell saw a larger overhaul with #13197? @fjmolinas, can you please test?

[2020-07-01 12:05] miri64 commented on #6018
The softdevice is slated to be removed after 2020.10. If someone wants to fix that bug until then, it is very welcome, but for now I just assign the milestone as a memo for the next release manager.

[2020-07-01 12:11] miri64 commented on #6299
This should be fixed to my knowledge. @kaspar030 please reopen if you disagree.

[2020-07-01 12:11] #6299 closed

[2020-07-01 12:15] miri64 commented on #6476
Agreed!

[2020-07-01 12:15] #6476 closed

[2020-07-01 12:16] miri64 commented on #6533
Hopefully fixable once #11406 and follow-ups are in.

[2020-07-01 12:19] kfessel opened #14409 "doc/search: hitting return while searching on api.riot-os.org reloads current page"
i will provide PRs

#### Description
hitting return while searching on api.riot-os.org reloads current page
and  undisplays current search results.

#### Steps to reproduce the issue
- type into search field on api.riot-os.org
- hit return

#### Expected results
display search results
either by ignoring the return key (keeping the current results displayed)
or
improve the search result visibility

[2020-07-01 12:20] miri64 commented on #6629
@aabadie ping? Is there support planned for the Nucleo-H743ZI?

[2020-07-01 12:23] miri64 commented on #6632
Assigning @jia200x for now as he does a lot with PHY and MAC stuff lately.

[2020-07-01 12:24] aabadie commented on #6629
Yep, I got one in the office. I think @fjmolinas is interested by it hahaha ;)

[2020-07-01 12:24] miri64 commented on #7114
@MichelRottleuthner is this still the case after the `xtimer` overhaul?

[2020-07-01 12:26] miri64 commented on #6567
So... is this a bug? Can it be fixed? Did we fix it?

[2020-07-01 12:30] jia200x commented on #6632
In order to support this we actually need to implement a IEEE802.15.4 MAC. It will come right after #13943 :)

[2020-07-01 12:31] miri64 commented on #14217
Ping @keestux?

[2020-07-01 12:33] aabadie opened #14410 "MIPS: toolchain objcopy doesn't work and no .bin can be generated"
#### Description

In the current RIOT, the link step for MIPS CPUs is done using the system `objcopy` and not the one that comes from the toolchain.

https://github.com/RIOT-OS/RIOT/blob/799ee40ea73fbd613efc7a1b9879687965e91990/cpu/mips_pic32mz/Makefile.include#L14

The problem with this approach is that it doesn't work when generating `BINFILE` see #14385 and especially #14385 (comment) for detai

[2020-07-01 12:44] miri64 commented on #7304
_waits several month with reply_ That would be great!

[2020-07-01 13:01] miri64 commented on #7347
@MichelRottleuthner is this still a problem? @aabadie can you maybe test?

[2020-07-01 13:04] miri64 commented on #7474
https://github.com/RIOT-OS/RIOT/pull/11256 can be seen as related, I guess. A possible solution is https://github.com/RIOT-OS/RIOT/pull/11263 (or a proper MAC protocol).

[2020-07-01 13:08] miri64 commented on #7494
@kfessel maybe, while fixing #14412 maybe you can have a look into this as well?

[2020-07-01 13:09] miri64 commented on #7737
Ping @nmeum for example?

[2020-07-01 13:09] aabadie commented on #13209
I think this was fixed by #13237 and should have been closed already.

[2020-07-01 13:09] #13209 closed

[2020-07-01 13:10] pokgak commented on #7347
I'm currently writing tests that automate testing this for the HIL. I'll run it and report back later.

[2020-07-01 13:12] chrysn commented on #7192
A few issues/PR have accumulated that should have been created as sub-tasks in here:
* [ ] #14169 (Gcoap does not accept separate responses): ready to be reviewed at #14178

  This is an important part of a full CoAP implementations because servers may at any time start responding separately.

* [ ] #14393 (Gcoap does not send separate responses): PR draft at #14395

  This is far less urgent as t

[2020-07-01 13:21] aabadie commented on #7737
libcoap has evolved quite a bit since the current version that is used in RIOT (https://github.com/obgm/libcoap/tree/ef41ce5d02d64cec0751882ae8fd95f6c32bc018, this commit is from 2014!). The [latest release of libcoap](https://github.com/obgm/libcoap/releases/tag/v4.2.1) is from 2019.

Is there someone willing to work on an update ? @chrysn (I see that you are one of the contributors ;) ) ?

[2020-07-01 13:30] miri64 commented on #14410
Had the same issue when trying to reproduce https://github.com/RIOT-OS/RIOT/issues/7753

[2020-07-01 13:36] miri64 commented on #7753
Tried to reproduce on my machine again, but https://github.com/RIOT-OS/RIOT/issues/14410 got in my way. Trying with docker now:

[code]

[2020-07-01 13:46] miri64 commented on #7886
I don't really get what the purpose of this issue is... can it be closed? Some issues and PR mentioned in OP were either closed or merged (I ticked them because :woman_shrugging:).

[2020-07-01 13:48] miri64 commented on #7941
@haukepetersen @MrKevinWeiss what is the state on this?

[2020-07-01 13:55] miri64 commented on #7998
Anyone willing to take this over? If yes, please re-set the tracking label so the stale bot starts to ignore it again ;-).

[2020-07-01 14:19] MrKevinWeiss commented on #7941
Ahh yes, one of my first riot tasks still not done :)

[2020-07-01 14:32] MrKevinWeiss commented on #7941
It seems like the `slwstk6220a` board uses I2C0

The `lm4f120` and `lpc1768` use TIMER_x and UART_x.

Both of those boards are obsolete. Maybe we can just hardcode UART_0 for the lm4f120 as the `uart_init` asserts the uart==0 anyways.  Then it will be similar to the nrf52dk I think.

The lpc might take a bit more.

[2020-07-01 14:35] kfessel commented on #7494
@miri64 i had a look (firefox in smartphone emulation): the base of the problem is in the doxygen generated search.js it is calculating an offset from the searchbox position to the left  -> the results are displayed out of screen and there for not reachable.

this might be fixable with some javascript in the header html that basicaly removes the offset after doxygen added it

i am not sure about t

[2020-07-01 15:06] miri64 commented on #8045
Ping @bergzand?

[2020-07-01 15:12] pokgak commented on #7347
I used the test code given above with a `USEMODULE += xtimer` in the Makefile.

| Board | Result |
|----------|------------|
| saml10-xpro | FAIL (stuck after sleep 38 usecs) |
| samr21-xpro | PASS |
| nucleo-l073rz | PASS |
| nucleo-f411re | PASS |
| remote-revb | PASS |
| arduino-mega2560 | PASS |
| nucleo-f103rb | PASS |
| frdm-kw41z | PASS |
| nucleo-f091rc | PASS |
| esp32-wroom-32 | PASS |
|

[2020-07-01 15:24] miri64 commented on #8172
This should be fixed since https://github.com/RIOT-OS/RIOT/pull/13560 and I was not able to reproduce this as described.

<details>

[code]

</details>

[2020-07-01 15:24] #8172 closed

[2020-07-01 15:28] miri64 commented on #8242
@roberthartung Can you check if https://github.com/RIOT-OS/RIOT/pull/12728 fixed this? I think this is the same behavior as described in https://github.com/RIOT-OS/RIOT/pull/11256.

[2020-07-01 15:33] miri64 commented on #8357
Leaving this for @bergzand as a reminder for next release, as the soft device is pending for removal then

[2020-07-01 15:44] miri64 commented on #7753
I ran this loop now for >2h and did not run into that race condition. I think we can safely assume this is not an issue anymore.

[2020-07-01 15:44] #7753 closed

[2020-07-01 16:50] benemorius commented on #8045
In `uart_init_pins()`, move `gpio_set()` to before `gpio_init()`. IIRC stm32 allows that but it may not. I think that should resolve this but I don't have an stm32 to test on.

This is related to #12380 and #12612

[2020-07-01 19:38] miri64 commented on #8418
@benpicco accidentally fixed this issue in https://github.com/RIOT-OS/RIOT/pull/13691. ;-)

[2020-07-01 19:38] #8418 closed

[2020-07-01 20:02] miri64 commented on #8436
Can you confirm @fjmolinas?

[2020-07-01 20:08] miri64 commented on #8589
From what I can tell, the `-F` flag is not used anymore with `avrdude`, at least I can't find it in any of the usual places and there is no alias for it according to the `manpage`.

[code]

So I consider this issue fixed. Please re-open if you disagree.

[2020-07-01 20:08] #8589 closed

[2020-07-01 22:24] Citrullin opened #14415 "Flashing nrf52dk with bmp breaks board"
#### Description
This quite worrying. Just tested to flash a nrf52dk with the bmp. I was able to flash it one time. But when I reconnect the USB, it didn't work anymore. I also wasn't able to flash it with a J-Link anymore. Haven't tested it with other boards yet.
Hopefully it is just a soft break, so I am able to recover the devices.

The nrf52 command line tool used to have a tool where you can

[2020-07-01 23:07] benemorius commented on #8045
@bergzand or perhaps @haukepetersen could you test #14417 and see if it resolves this issue?

Using a board with a slower MCU might help to reproduce it. If not, slowing down the baud rate should help reproduce it too.

[2020-07-01 23:54] benemorius commented on #14415
I recall some talk about using caution when flashing `nrf52` because the onboard regulator defaults to 1.2V instead of 3.3V when the flash is cleared. Could that be the cause here?

Link: https://www.rototron.info/circuitpython-nrf52840-dongle-openocd-pi-tutorial/ (search for `RegOut0`)

[2020-07-02 00:06] Citrullin commented on #14415
"Warning:  wiping the chip will reset the voltage regulator. " I already some nrf52 before which broke. I reseted them, so that can be the reason. I try the recovery guide. Thanks for the link. Looks really useful. Maybe that unbricks it. If so, I think we need to add this to the docs.

[2020-07-02 07:25] fjmolinas commented on #5863
I don't have a samr21-xpro with me today, but I'll test tomorrow, this might have been realated (and therefore fixed) by https://github.com/RIOT-OS/RIOT/pull/13195

[2020-07-02 08:50] miri64 commented on #7737
With #12975 now merged this should also be a lot easier (from my experience way back when). But maybe it can also be ported with just using `sock`, now.

[2020-07-02 10:52] kfessel commented on #7494
https://kfessel.github.io/RIOT/html/ << please check there

[2020-07-02 11:21] pokgak commented on #11149
Since `xtimer_spin_until()` is removed in #9530, should this issue be closed @miri64, @MichelRottleuthner?

[2020-07-02 11:36] miri64 commented on #7494
Currenlty it looks like this, so still needs some pixel-schubsing as one might say in German :-P

![Screenshot_20200702-133338](https://user-images.githubusercontent.com/675644/86354268-059d3c00-bc69-11ea-81a1-274810b9473d.png)

[2020-07-02 11:51] miri64 commented on #11149
Yes, if the function described by the issue does not exist anymore we should indeed close it.

[2020-07-02 11:51] #11149 closed

[2020-07-02 12:10] maribu commented on #8045
I used the following patch:

[code]

And connected a logic analyzer to the UART port and to PD2 (label `SIG` in the images):

![output of the logic analyzer](https://github.com/maribu/images/raw/master/uart_nucleo_f446re_big.png)

Above, you can see some noise on TXD while `SIG` is low (that is, during `uart_init()`.

![output of the logic analyzer](https://github.com/maribu/images/raw/master/uart

[2020-07-02 12:14] kfessel opened #14424 "adc is not a ADC-Driver but a analog pin abstraction"
#### Description

adc is not a ADC-Driver but a analog pin abstraction.
At least for STM the adc also manages the pins making it a analog_in abstraction, this makes it quiet difficult to uses for its other applications like measuring AVCC, or the chips internal temperature.

[2020-07-02 12:18] kfessel commented on #7494
@miri64 are there still performance issues for you?

your first commet:

[2020-07-02 12:24] kfessel commented on #7494
for the pixelschubsing the vertical position (the original (if you search on desktop there is also half of the line missing))
I can move it down and make the frame a bit slimmer

[2020-07-02 12:27] miri64 commented on #7494
No, this was also never about performance. With responsiveness I meant it in the bootstrap sense, so that for small screens the width is automatically adapted ;-).

[2020-07-02 12:27] miri64 commented on #7494
This does not seem to be an issue though, so :+1:

[2020-07-02 13:08] maribu commented on #8045
So, it is possible to set the GPIO after the periph clock is enabled but before the pin is configured. There is still some flickering that my logic analyzer picks up, but the integrated programmer/debugger/UART-adapter of Nucleo-F446Re will ignore it. I guess that is good enough.

[2020-07-02 13:45] aabadie commented on #13086
I have new results:

[code]

The cpp tests are working now.

[2020-07-02 14:06] kfessel commented on #7494
please check again
(force reload)

[2020-07-02 14:28] miri64 commented on #7494
see PR :-)

[2020-07-02 14:53] miri64 commented on #9049
Still an issue after https://github.com/RIOT-OS/RIOT/pull/9530? @pokgak @MichelRottleuthner @MrKevinWeiss

[2020-07-02 14:55] miri64 commented on #9342
I don't see any progress tracking in this tracking issue. So what is the progress?

[2020-07-02 15:12] miri64 commented on #9709
@pokgak can you please look into this?

[2020-07-02 15:19] aabadie commented on #13330
@bergzand any plan soon to address the 2 remaining points ? ;)

[2020-07-02 15:20] aabadie commented on #13259
#13824 is merged so can we consider this one as resolved ?

[2020-07-02 15:21] miri64 commented on #10073
Is this still an issue with https://github.com/RIOT-OS/RIOT/pull/9530? Is this related to https://github.com/RIOT-OS/RIOT/issues/8251 maybe?

[2020-07-02 15:28] aabadie commented on #12621
@fjmolinas I think the work done with `test_utils_interactive_sync` improved the situation here. @OYTIS maybe you could add a delay before the test actually starts. This is what is done with board where stdio is provided via USB.

https://github.com/RIOT-OS/RIOT/blob/4c5cf2b1bb5682948c7eb5787f65a6cf2a2a9209/boards/adafruit-clue/Makefile.include#L25-L26

You can define the `TERM_DELAY` with an inte

[2020-07-02 15:30] aabadie commented on #12205
ping @miri64 (I still can't reproduce with gcc 9.3.0).

[2020-07-02 15:31] miri64 commented on #12205
I think this was fixed somehow somewhere. I did not have this issue for a while now, so I think we can close :-).

[2020-07-02 15:31] #12205 closed

[2020-07-02 15:35] miri64 commented on #10258
Ping @gschorcht?

[2020-07-02 15:38] miri64 commented on #10338
@fjmolinas do you know if https://github.com/RIOT-OS/RIOT/pull/13224 maybe has fixed that as well?

[2020-07-02 16:09] #11388 closed

[2020-07-02 16:24] gschorcht commented on #10258
Unfortunately, I don't have access to a MAC. So I can neither test nor investigate it. Therefore, I would rely on what @smlng in  https://github.com/RIOT-OS/RIOT/issues/10258#issuecomment-456310766 found out and follow his suggestion to close this issue.

Probably, it is nothing we can solve this issue for any board and any use case. Finally, `PORT_DARWIN` only defines the default value for `PORT`

[2020-07-02 16:25] aabadie commented on #11955
@ofauchon were you able to fix your issue ?

[2020-07-02 16:26] aabadie commented on #11472
Is this still an issue ?

[2020-07-02 16:30] miri64 commented on #11472
Did not see it for a while, but not sure.

[2020-07-02 16:36] aabadie commented on #12168
I can reproduce the problem on atmega256rfr2-xpro. Compared to other archiectures (native, ARM, RISCV) the generated firmware of the test application is insanely big and it seems the test is crashing (I get the prompt for starting the test after the failure):

<details><summary>atmega256rfr2-xpro</summary>

[code]

</details>

<details><summary>stm32f429i-disc1</summary>

[code]

</details>

<deta

[2020-07-02 16:58] aabadie commented on #10809
Is this still the case ? Using arm gcc 9.2.1 it builds just fine.

[2020-07-02 17:03] aabadie commented on #10506
There are now a couple a couple of drivers provided from packages (bme680, atwinc15x0). I started to write one following the same approach and I know @fjmolinas is also working on a new one the same way.

I think we can conclude that https://github.com/RIOT-OS/RIOT/issues/10506#issuecomment-520143665 is the design to follow and close this issue. What do you think @gschorcht @fjmolinas @dylad  ?

[2020-07-02 17:07] gschorcht commented on #10506
of course :+1: from my side, the proposal came from me :wink:

[2020-07-02 17:54] fjmolinas commented on #10850
Not sure, moving the to `vars.inc.mk` is a first step, but maybe some of them do not need exporting at all?\

[2020-07-02 18:20] miri64 commented on #10809
I did not get that error, but now I get

[code]

Current setup:
[code]

The upstream bug might have been fixed with 4f83dfd975ed893929a204e570c6196642d84190

[2020-07-02 18:27] dylad commented on #10506
I am happy with this !

[2020-07-02 18:38] aabadie commented on #10506
So let's close then!

[2020-07-02 18:38] #10506 closed

[2020-07-02 19:11] SemjonKerner commented on #13259
@aabadie I think the premise of this Issue is addressed.
To put my two pence in, it might still be desired to either write lower layers providing 6tisch for gnrc or gutting openwsn to enable gnrc on top of it. At last to provide a RIOT-only option, without an openwsn specific rpl root node.
Anyway, I agree that this PR should for no resolve this issue.

[2020-07-02 21:00] melshuber commented on #5769
sorry, I am no longer working on this

[2020-07-03 00:06] pokgak commented on #9709
I managed to reproduce this by manually setting global addresses for the node using 2 unmodified iotlab-m3 on saclay.
[code]

[2020-07-03 00:14] pokgak commented on #9709
I cannot reproduce this on `native` using the same steps as above

[2020-07-03 00:58] pokgak commented on #9709
By adding `CFLAGS += -DDEBUG_ASSERT_VERBOSE` to the Makefile I found the failing assert:
[code]
which points to this section of code: https://github.com/RIOT-OS/RIOT/blob/2ed76e2d45e8eb8f6ad895622aca14a3e6ad0eea/sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c#L333-L338

After that, I added `CFLAGS += -DCONFIG_GNRC_IPV6_NIB_ARSM=1` to the Makefile, and with that, I got no failed assertions any

[2020-07-03 02:18] pokgak commented on #9709
I managed to reproduce the FAILED_ASSERTION using only one `samr21-xpro` board flashed with the dtls-echo firmware. It should be easier to test this locally now:

[code]

[2020-07-03 07:34] fjmolinas commented on #8436
This is fixed in `openocd` since https://github.com/ntfreak/openocd/commit/c4d4c32a504f1a63f0200efdd175d21bfe8cc3af.

<details><summary>RIOT_TERMINAL=socat CPU_MODEL=mkw22d512vha5 BOARD=pba-d-01-kw2x make -C tests/unittests/ flash test --no-print-directory
</summary>

[code]
</details>

[2020-07-03 07:34] #8436 closed

[2020-07-03 07:51] brummer-simon commented on #11472
I didn't see it either in a long time

[2020-07-03 09:13] fjmolinas commented on #10338
I'll try to reproduce, was this easy to reproduce at the time?

[2020-07-03 09:16] fjmolinas commented on #10338
I still get non ASCII characters sometimes

[code]

But I have reseted and flashed multiple times and it succeeds every time.

[2020-07-03 09:16] fjmolinas commented on #10338
This is a local test, not over iot-lab.

[2020-07-03 09:25] fjmolinas commented on #12858
@jia200x do you have multiple `pba-d-01-kw2x`? I can't reproduce with only one.

[2020-07-03 09:42] #10367 closed

[2020-07-03 09:48] miri64 commented on #10338
Ok, non-ASCII chars I consider not in the scope of this PR, so I consider this fixed.

[2020-07-03 10:07] miri64 commented on #5769
Then I would close, since you yourself weren't sure about the problem either from the start, and as far as I interpret the discussion above, this wasn't reproducible. Shout if you disagree.

[2020-07-03 10:07] #5769 closed

[2020-07-03 10:13] miri64 commented on #9709
That's weird though. Hope I find some time to investigate.

[2020-07-03 10:14] miri64 commented on #11472
Then let's close. Seemed to have been a toolchain issue anyways.

[2020-07-03 10:14] #11472 closed

[2020-07-03 17:34] miri64 commented on #10364
Should also be fixed by @jia200x lower-layer rework (see #13943)

[2020-07-03 17:36] miri64 commented on #10370
Might be related to #9656. We should see if this is fixed, after #9656 is fixed.

[2020-07-03 17:38] miri64 commented on #10380
This should be an easy fix, right?

[2020-07-03 17:41] miri64 commented on #10410
@PeterKietzmann @MrKevinWeiss or @leandrolanzieri can you do that, please. Also, what the state of the other drivers marked as AFFECTED in OP?

[2020-07-03 17:44] miri64 commented on #10444
AFAIK `2001:db8::` is not a legal IPv6 address, because it is missing a non-zero suffix. @ghost can you maybe try `2001:db8::1`? Sorry for _very_ late response, somehow this PR was not on my radar...

[2020-07-03 17:45] miri64 commented on #10510
@jia200x @kaspar030 @benpicco Was this ever documented?

[2020-07-03 19:27] maribu commented on #14424
You might want to have a look at https://github.com/RIOT-OS/RIOT/pull/13247 - I think the proposed API there might fit your needs better.

[2020-07-03 20:30] maribu commented on #14415
Citing: https://github.com/blacksphere/blackmagic/issues/532#issuecomment-542604161

Unless I overlooked something, `make PROGRAMMER=bmp flash` should not perform a full erase.

However, I'm not even able to flash anything on my nrf52840dongle using BMP v1.6.1, so I cannot verify.

[2020-07-04 12:58] miri64 commented on #10731
Ping @bergzand (and maybe @chrysn and @cgundogan)?

[2020-07-04 16:22] #7494 closed

[2020-07-04 16:22] #14409 closed

[2020-07-04 16:39] miri64 commented on #10897
@pokgak what are your plans going forward on this?

[2020-07-04 16:40] miri64 commented on #10969
Ping?

[2020-07-04 16:41] miri64 commented on #11038
Ping @MichelRottleuthner?

[2020-07-04 16:43] miri64 commented on #11155
I assume yes. @bergzand please reopen if you disagree.

[2020-07-04 16:43] #11155 closed

[2020-07-04 16:44] miri64 commented on #11207
Question is: how to solve this? Murdock was build around checking labels.

[2020-07-04 16:45] miri64 commented on #11212
#11575 was merged.

[2020-07-04 16:45] #11212 closed

[2020-07-04 19:36] maribu commented on #10969
Sorry for the late reply.

Yes. "number of bytes sent" is not really clear (at least to me), what it should include.

Sure. But maybe a decision on what the correct behavior is should be done first. If interpretation 2 of the sentence is chosen, only few drivers need to be adapted.

Maybe the first thing to do after the decision is to update the documentation, so that new drivers implement the beh

[2020-07-05 03:06] Citrullin commented on #14415
I was so brave and tried another one and it just works, without any issues. So, I can't reproduce it... I don't get it...

[2020-07-05 03:06] #14415 closed

[2020-07-05 08:44] dpenard opened #14439 "(almost solved) SPI SD-Card driver: SPI initialisation freeze until timeout"
#### Description
Implementation of a SD Card with STM32L073RZ. (It works under mbed os and now under RIOT).
-- BUT --
using pkg_fatfs with R1_POLLING_RETRY_CNT equal to 1000000 as it is defined in sdcard_spi_internal.h cause a timeout.

#### Steps to reproduce the issue
Change the R1_POLLING_RETRY_CNT value to 1000000 in sdcard_spi_internal.h
It doesn't work
Change it to 10 or less: it works

####

[2020-07-05 10:34] miri64 commented on #11523
So this seems to have been a configuration issue and more of a duplicate of https://github.com/RIOT-OS/RIOT/issues/11522 I close this. Re-open if you disagree.

[2020-07-05 10:34] #11523 closed

[2020-07-05 10:42] miri64 commented on #12052
Ping @kaspar030 @bergzand @emmanuelsearch @jia200x?

[2020-07-05 17:49] maribu commented on #14415
Thanks for testing this.

Btw: While trying to reproduce the issue I read some entries in forums that people got the 1.8V issue *without* explicitly performing a full erase. Maybe that was just human error and the did accidentally trigger a full erase, or some bug messed with the `RegOut0` register. In any case: They were able to unbrick their board using either an external logic level shifter or

[2020-07-05 18:01] miri64 commented on #10969
As there is no clear default on what device overhead entails (not even among IEEE 802.15.4 devices), I would also prefer variant 2.

[2020-07-05 19:51] chrysn commented on #10731
The block options, when not supported by a library, should not need special treatment in the sense that any other critical option would need such a treatment as well.

A client application needs to handle any critical option that comes along. So we could check the options and hand an error to the client if any critical option is present. Or we require that the client check all critical options and

[2020-07-05 20:43] Citrullin commented on #14415
No, I don't have a real one. Only the Bluepill. Once I figured it out, I will add it to the documentation. So that people with the same issue can fix it as well. Tried the logic level shift register already, but it didn't work with the jlink. But I will give it another try. I just want to continue with my main topic ^^ :D

[2020-07-05 21:00] #12469 closed

[2020-07-06 07:17] PeterKietzmann commented on #10364
The kinetis hardware provides dedicated timers for CSMA. Although a SubMAC might solve the issue already using AutoCCA, a CSMA driver is missing which might reduce load.

[2020-07-06 08:47] maribu commented on #8045
The fix is actually different than described above. Please refer to the PR description of https://github.com/RIOT-OS/RIOT/pull/14426 for a description of the cause of the issue and how I suggest to fix it.

[2020-07-06 11:33] MichelRottleuthner commented on #14439
Thanks for the detailed report. Same as #11388 this should be fixed with #14420, right?
@dpenard can you confirm this issue is solved in master?

[2020-07-06 11:42] miri64 commented on #12680
#12738 was merged, so this can be closed. We still should port all instances of `netif->pid` to `netif_get_id`, though.

[2020-07-06 11:42] #12680 closed

[2020-07-06 11:53] miri64 commented on #12836
Added a blurb to the wiki for [OSX](https://github.com/RIOT-OS/RIOT/wiki/Family:-native#os-x) and [CentOS](https://github.com/RIOT-OS/RIOT/wiki/Family:-native#centos)

[2020-07-06 11:53] #12836 closed

[2020-07-06 12:09] miri64 commented on #12909
ping @arthur-gauthier?

[2020-07-06 12:18] #13259 closed

[2020-07-06 12:36] miri64 commented on #13367
I think your problem at hand might have been fixed the day after by https://github.com/RIOT-OS/RIOT/pull/13379, so I'm tentatively closing this issue. If you disagree, we can re-open. Sorry for not coming back to you earlier :-(.

[2020-07-06 12:36] #13367 closed

[2020-07-06 12:38] miri64 commented on #8086
@cgundogan, with https://github.com/RIOT-OS/RIOT/pull/13379 merged, is this issue still on the table?

[2020-07-06 12:43] cgundogan commented on #8086
:+1: issue can be closed (fixed by #13379)

[2020-07-06 12:43] #8086 closed

[2020-07-06 12:48] miri64 commented on #13390
Am able to reproduce this on my Ubuntu machine on current master (4807a91f70770acdf0dbccccc1b2e0bc96a4fba5)

<details>

[code]

</details>

<details><summary><code>dist/tools/ci/print_toolchain_versions.sh</code></summary>

[code]

</details>

[2020-07-06 12:51] miri64 commented on #13419
I take this as a reason for this issue to be closed.

[2020-07-06 12:51] #13419 closed

[2020-07-06 12:51] miri64 commented on #13390
(building with docker works however)

[2020-07-06 12:53] miri64 commented on #13390
Should we book this as a `State: won't fix` since this seems to be a toolchain error fixed in later versions?

[2020-07-06 12:57] arthur-gauthier commented on #12909
Hello,
Thanks for your feedback and sorry for my very late reply.
In the meantime I had to switch on another topic.
After I reported the bug report, I had to find a fast workaround and the solution has been to come back to the previous release RIOT 2019-03.
I'm really sorry but I would suggest to put my ticket as invalid as you didn't reproduce it.
I believe I did something wrong if it works on yo

[2020-07-06 12:57] #12909 closed

[2020-07-06 13:03] gschorcht commented on #13079
Ups, I don't have the hardware. I guess you meant @aabadie, he has the hardware according to the [Maintainer hardware access list](https://github.com/RIOT-OS/RIOT/wiki/Maintainer-hardware-access)

[2020-07-06 13:45] miri64 commented on #13533
@CJayakumar any news on the development for that board?

[2020-07-06 13:52] #12858 closed

[2020-07-06 15:48] miri64 commented on #13651
I think it might also be a good help to rename `DISABLE_MODULE` to `DISABLE_DEFAULT_MODULE`.

[2020-07-06 15:52] miri64 commented on #13721
@CJayakumar are your questions answered? Can this issue be closed?

[2020-07-06 15:55] miri64 commented on #13787
Ping @aabadie @bergzand?

[2020-07-06 15:57] samken600 commented on #13633
Sorry for forgetting about this! I realised the main source of the issue is that I had forgotten to recalibrate the timings of the MAC layer to something more reasonable, since the timings were for the faster 2.4GHz on the SAMR21s. I have done this now and it works, but is quite unreliable. I was wondering if anyone else had some timings for the layer that they found to be more reliable? Thanks

[2020-07-06 16:11] miri64 commented on #14167
An alternative solution could be to use `sock_udp_recv_buf()` instead of `sock_udp_recv()` to not have to rely on `gcoap`'s allocation space.

[2020-07-06 16:12] miri64 commented on #14167
Sorry... should have read the whole thing first instead of glancing over :sweat_smile:

[2020-07-06 16:19] miri64 commented on #14361
@hugueslarrive would you be willing to [provide a pull request](https://github.com/RIOT-OS/RIOT/blob/master/CONTRIBUTING.md#contribute-code)?

[2020-07-06 18:19] maribu commented on #13651
I'm not sure. To me, `DISABLE_DEFAULT_MODULE` would sound like it would not fail the build if it ends up being used due to a hard dependency. But if I recall correctly, the build will fail in that case. (If my memory is incorrect, I would be in favor of the renaming.)

However, I like the idea of being able "un-default" modules in a way builds don't fail if they end up being used for some good rea

[2020-07-06 18:25] maribu commented on #13918
I will try to confirm this sometime this week. If that is indeed the cause, adding an

[code]

before entering the power saving mode should tell the compiler to either not use `r0` across the power saving mode, or back up its contents before the sleep to restore them afterwards. We should not rely on `r0` not containing important data by chance if it can get corrupted during sleep.

[2020-07-06 19:47] miri64 commented on #13651
Maybe my knowledge about `DEFAULT_MODULE`s (as one of the people [who originated the idea](https://github.com/RIOT-OS/RIOT/issues/926)) is a bit out dated, but IMHO, a module that when deactivated leads to build errors is not an optional module but a mandatory component:

[code]

[2020-07-06 20:42] maribu commented on #13651
It seems `DISABLE_MODULE` is not limited to default modules in its use:

[code]

To me, renaming `DISABLE_MODULE` to `DISABLE_DEFAULT_MODULE` would seem out of place in the above example.

[2020-07-06 20:56] cgundogan commented on #14407
I don't think that B reselects node A .. what you see is just the old routing state from node A.

What happens is that node B ignores the DIOs from node A (instance 22), because your instance table is configured to hold only one instance at a time. Multiple dodags with different instance IDs can exist in parallel. For Node B, the new dodag with instance 22 is just another dodag .. your dodag with

[2020-07-06 20:57] miri64 commented on #13651
AFAIK `xtimer` is not a `DEFAULT_MODULE`,

[code]

so that confusion might be lifted by the rename ;-)

[2020-07-06 20:57] miri64 commented on #13651
(the grep'd dependency comes from `xtimer`.

[2020-07-06 20:58] miri64 commented on #13651
[code]

[2020-07-06 21:09] miri64 commented on #13651
(and maybe remove that error message)

[2020-07-06 21:23] maribu commented on #13651
True. But that is not the point. My point is that `DISABLE_MODULE` will enforce that a module is not used, not just "un-default" them.

E.g. let's say `foo` is a default module and compilation without `foo` is at least for some applications possible. But if I use module `bar`, `foo` gets pulled in as hard dependency. If a run now `DISABLE_MODULE=foo USEMODULE=bar make -C some/app`, it is obvious t

[2020-07-06 21:37] miri64 commented on #13651
But that was what `DISABLE_MODULE` was originally introduced for... See #926. That's why I argue a rename would clear-up this misunderstanding (and, after I realized it `DISABLE_MODULE` leads to an error, not a warning, removing the error / transforming it to a warning).

I'd say yes. With the caveat, that they are a different category of default, as they are non-deactivatible and required.

[2020-07-06 21:44] maribu commented on #13651
Wasn't this the distinctive feature dividing hard dependencies from default modules?

Why don't we go for `USEMODULE += board cpu core core_init core_panic` instead? That would make sure that they cannot be deactivated.

[2020-07-06 22:09] miri64 commented on #13651
True! So :+1:!

[2020-07-06 22:18] Citrullin commented on #14095
In case somebody is interested: I have a test to [print a thing description json string](https://github.com/Citrullin/RIOT/tree/wot_impl/tests/wot_full_json). There is probably a lot of room for improvements. Implementation can be found in [sys/net/application_layer/wot/](https://github.com/Citrullin/RIOT/tree/wot_impl/sys/net/application_layer/wot).

[2020-07-06 22:29] Citrullin commented on #14118
Used it in the [WoT tests](https://github.com/Citrullin/RIOT/tree/wot_impl/tests/wot_full_json). So, you are welcome to test it as well.
[It should like this. ](https://i.imgur.com/GlwcWvP.png)Everything should be green.

[2020-07-07 07:08] pokgak commented on #10897
I'm currently integrating the new async dtls into gcoap but it'll be a bit slow as I can't focus on this much. Currently, I can already send a simple coap message with some dirty changes here and there. I'll work on making separate PRs for this changes. Current progress can be tracked [here](https://github.com/pokgak/RIOT/tree/gcoap/add-dtls-v2).

[2020-07-07 07:12] pokgak commented on #11859
This seems similar to #14167,  maybe it can be solved using using `sock_udp_recv_buf()`. I'll test something later this week.

[2020-07-07 07:13] miri64 commented on #10897
Is this still on the table?

[2020-07-07 07:19] pokgak commented on #10897
Yes. I do have a somewhat working implementation [here](https://github.com/pokgak/RIOT/commits/wolfssl_sock_dtls) before I got sidetracked by other things. That will require a refactor now that sock dtls API is a lot more different now.

[2020-07-07 18:32] Citrullin commented on #13280
@haukepetersen @miri64 The goal of it is basically to use BLE instead of slip or something else. I am not sure, if this is even possible. There is still no GHC in the linux kernel, I guess.

[2020-07-07 18:51] miri64 commented on #13280
Have you the 6LoWPAN module loaded? Header compression should be possible with that. Most of what can be found in the `nordic_softdevice_ble` regarding enabling BLE should still be correct.

[2020-07-07 19:08] Citrullin commented on #13280
Yes.
[code]
In openwrt it was a bit different, as a I remember. Yes, but the connection changed. It's not 1 anymore. The last time I checked you needed to connect it with 2. But I don't have an idea what the difference is.
Okay, then there is only the adding the IP address issue in RIOT. Hopefully it works then. :)

[2020-07-07 19:10] miri64 commented on #13280
Which one is the router? For Linux as the router you need to install and run radvd to advertise the global prefix. See https://github.com/RIOT-Makers/wpan-raspbian/wiki/Setup-native-6LoWPAN-router-using-Raspbian-and-RADVD.

[2020-07-07 19:14] Citrullin commented on #13280
The Acher C7 (OpenWRT) is the router. It's [already in OpenWRT](https://openwrt.org/docs/guide-user/network/ipv6/start). I don't think they use radvd for router advertisements.

[2020-07-07 19:28] miri64 commented on #13280
OpenWRT uses the [`odhcpd`](https://openwrt.org/docs/techref/odhcpd) as the default router advertisement daemon, afaik. At least mine does.

[2020-07-08 03:33] benemorius commented on #13686
It should be possible with minimal effort to get both LWMAC and GoMacH working on any platform that has `periph_rtt` available. I don't know whether that includes `openmote-b`.

If you need a port of LWMAC or GoMacH from `periph_rtt` to `xtimer` you can try [this](https://github.com/benemorius/RIOT/tree/openlabs) branch, but I haven't maintained either port since a year ago aside from merge confli

[2020-07-08 07:17] roberthartung commented on #5009
@miri64 Got the nucleo-l476rg here with me. I am measuring with a Keithley DMM7510. I just downloaded the CSV and plotted with gnuplot for now; I can't see saw-toothing here. My code is the same as what you did (main that does to idle).

![image](https://user-images.githubusercontent.com/2265899/86889199-aa04ff80-c0fb-11ea-8fe4-a85ce1583f7a.png)

![image](https://user-images.githubusercontent.com/

[2020-07-08 07:21] roberthartung commented on #5009
![image](https://user-images.githubusercontent.com/2265899/86889618-547d2280-c0fc-11ea-903d-f78993e3cacc.png)

Over a timeframe of 100seconds, I don't see any saw toothing. 4.63mA.

[2020-07-08 07:32] PeterKietzmann commented on #5009
Do you have a nucleo-f103rb available? Otherwise, the issue is quite old and someone should check on iotlab if we still face that problem.

[2020-07-08 07:39] hugueslarrive commented on #14361
@miri64 Ok I'll try

[2020-07-08 07:47] roberthartung commented on #5009
@PeterKietzmann Unfortunately not. Let's wait until someone verifies that this problem actually still exists.

[2020-07-08 07:55] miri64 commented on #5009
I'll give it a look on IoT-LAB.

[2020-07-08 07:56] PeterKietzmann commented on #5009
I'm already at it. Seems to be still there. Will send plots in a moment

[2020-07-08 07:57] miri64 commented on #5009
Thanks @PeterKietzmann! Might also be a good idea to check the results with a proper Osci, if you have the hardware for it.

[2020-07-08 08:05] PeterKietzmann commented on #5009
With *examples/hello-world* on ad28752e4e09e73bdd86d9fde5de087e29c6ec99, FIT IoT-LAB grenoble node m3-101, power profiler settings with period of 140us and averae 4 samples.

![hello_world_grenoble_m3-101](https://user-images.githubusercontent.com/7765855/86893892-9610cc00-c102-11ea-9759-5e81c074da63.png)

[2020-07-08 08:08] PeterKietzmann commented on #5009
Theoretically I should have the hardware available. Don't know if I can make it today, though.

One other thing: There used to be s powering option for M3 nodes either from a battery or USB. I cannot find that option anymore, did they get rid of that?

[2020-07-08 08:08] roberthartung commented on #5009
This looks like a strange effect from some other hardware, not RIOT itself.

[2020-07-08 08:17] miri64 commented on #5009
I don't remember that being a thing. Maybe @aabadie can help to answer that?

[2020-07-08 08:18] miri64 commented on #5009
There is [reason to believe](https://github.com/RIOT-OS/RIOT/issues/5009#issuecomment-194203828) it might be a RIOT issue:

[2020-07-08 08:18] PeterKietzmann commented on #5009
I agree that it looks like it, however, @gebart faced similar issues locally with a Mulle board ([see comment](https://github.com/RIOT-OS/RIOT/issues/5009#issuecomment-194203828)) with RIOT but not contiki and I could not reproduce the issue with a different RIOT image ([see mailing list](https://lists.riot-os.org/pipermail/devel/2015-April/002510.html)). @kYc0o pointed out, that it might relate t

[2020-07-08 08:21] roberthartung commented on #5009
@miri64 yes, true. I've read the comment as well. My problem here is that components of the MCU and sensors will probably have a very fixed set of modes and therefore saw-toothing is quite hard. Saw-Toothing often comes from some analogue hardware or other stuff that happends over time. I just can't imagine of some piece of software that is responsible for this kind of smooth saw-tooth pattern.

[2020-07-08 08:23] miri64 commented on #5009
No, that wasn't what I was saying either, rather I agree with @PeterKietzmann that it might be some "uninitialization" issue. Some analogue pin or antenna that is hanging open in RIOT but not in Contiki, for some reason.

[2020-07-08 08:24] roberthartung commented on #5009
Yes, absolutely true. Totally looks like this kind of issue.

[2020-07-08 08:34] roberthartung commented on #5009
There is a battery connector on the board. Maybe the battery is responsible for some side effects.

[2020-07-08 09:13] miri64 commented on #5748
I was trying to reproduce this issue but I was not able to. Here is an detailed account of what I did:
- [still uploading]

[2020-07-08 09:13] #5748 closed

[2020-07-08 09:34] PeterKietzmann commented on #5009
Looking at [this schematic (sect. 3.2)](https://github.com/iot-lab/iot-lab/wiki/Hardware-M3-node) and [this schematic (sect. 3.11)](https://raw.githubusercontent.com/wiki/iot-lab/iot-lab/Docs/gateway-iotlab-schematics.pdf) it is not clear to me how to set up the same power supply conditions as on the testbed, and where to put my probes to measure the same point as the INA226 of the control node. @

[2020-07-08 10:16] SemjonKerner commented on #13079
First of all, as you can see there are ifndefs in srf04_params.h, which means you can easily set the gpios in your user code by redefining those.
https://github.com/RIOT-OS/RIOT/blob/master/drivers/srf04/include/srf04_params.h#L33-L38

Second, this sensor is not fault-proof. It is low budget, it is dependent on noise, close reflecting surfaces, etc. and thus measurements can easily be disturbed by

[2020-07-08 11:51] aabadie commented on #5009
Battery options were removed 5 years ago because the batteries had physical issues (and could explode).

It would help is someone could flash an hello_world application from Contiki or OpenLAB (FreeRTOS) and see if there's a difference. This way we could have a better where the problem comes from (RIOT or IoT-LAB).

[2020-07-08 12:08] SemjonKerner commented on #13079
I just used a samr21-xpro with default pins. I couldn't find unexpected behavior.
I was able to trigger `Error: no valid data available` in different ways, all of those errors are expected:
1. **Measuring more than ~4300mm**. (The interrupt never triggers)
2. **Measuring less than 33mm**. (The chip can't detect the waves that fast and thus the waves are "absorbed" before the chip is able to trigge

[2020-07-08 14:42] #14361 closed

[2020-07-08 14:52] miri64 commented on #14361
Thanks for the contribution @hugueslarrive!

[2020-07-08 15:15] sqrtroot opened #14466 "Linking C++"
#### Description
When linking the usage of c++ is not always detected correctly, and thus the wrong linker is used resulting in linker errors.

#### Steps to reproduce the issue
Folder structure like this:
[code]

Here's the contents of the files:
[example.tar.gz](https://github.com/RIOT-OS/RIOT/files/4891522/example.tar.gz)
(If you want to try this you'll have to set the correct path for RIOT)

#

[2020-07-08 15:16] sqrtroot commented on #14466
A possible solution would be; always using g++ as the linker, or using ld itself correctly (linking against libstdc++ and newlib etc)
AFAIK linking only c files with g++ doesn't have any impact on performance etc. So could be an easy workaround

[2020-07-08 16:04] PeterKietzmann commented on #5009
@aabadie thanks for the information, I didn't know about the exploding batteries. As reported in [this comment](https://github.com/RIOT-OS/RIOT/issues/5009#issuecomment-655367054) there are a couple of indications pointing to RIOT. However, I'd like to reproduce the measurement locally with a multimeter. Can you tell how to set up the same power supply conditions as on the testbed and where to att

[2020-07-08 16:12] aabadie commented on #5009
All pins are router to the gateway via the specific connector which beside the usb port. I think it's quite difficult to directly access the hardware this way (unless you have a compatible connector). I think the FTDI chip is not taken into account when measuring power with the INA226.

[2020-07-08 16:39] aabadie commented on #13285
Any plans to provide this work upstream ?

[2020-07-08 18:32] wosym commented on #13079
Let me start off by saying that I no longer have the hardware. This Issue was opened in Januari, and I currently work at a different company.

As mentioned in the issue, the exact same breakout board was tested on the same controller with both the RIOT driver, and a bare metal driver. The BM driver worked as expected, the Riot driver did not produce any valid data. If low accuracy was the issue, b

[2020-07-08 18:54] wosym commented on #13079
Looks like we're in luck: I checked some scrap boxes, and found three of these modules! Looks like I had some of my own after all... :)

I quickly tested it on a nucleo-f207zg I had laying on my desk. I could not reproduce the behaviour that this issue describes.
The readings are very innacurate, yes. But that's to be expected with a $1 sensor board.
I did not detect any overflows, no readings tha

[2020-07-08 19:20] wosym commented on #13079
I tested again with an Atmega328p.

It does seem like something is wrong: on every reset it only does 3 or 4 readings, and then stops. enabling DEBUG in the driver does not give any extra info.

However, the data it did print seemed more or less correct. So once again, I could not reproduce the issue described above.

It does reinforce my hypotheses that there is some kind of conflict between this

[2020-07-09 08:26] akshaim opened #14472 "Proposal to unify MQTT-SN configurations in Kconfig"
#### Description

[Asymcute](https://github.com/RIOT-OS/RIOT/blob/master/sys/include/net/asymcute.h) and [emcute](https://github.com/RIOT-OS/RIOT/blob/master/sys/include/net/emcute.h) are MQTT-SN clients available in RIOT with similar configurations but for different use cases.  The proposal looks at modelling the client's configurations to make it module agnostic similar to CoAP. This could be do

[2020-07-09 08:44] haukepetersen commented on #14407
Alright, I did a new test and I can confirm that behavior now -> it turned out the timeout took quite a bit longer than I expected, so I never let the setup run long enough so far... So letting it run for some time (>10min, didn't really track the time precisely), the old DODAG is removed from node B and the new DODAG is selected instead.

But I have one more thing I'd like to clarify: I would hav

[2020-07-09 08:46] haukepetersen commented on #7941
what he said :-)

[2020-07-09 08:53] SemjonKerner commented on #13079
This is odd indeed. I don't really get though why you keep suspecting the driver to be faulty, if your measurements are correct now.

The concept of this test is starting a measurement and 50us after printing the value, any value. And do this all the time. This means it should and must produce values or something is broken.
If the value is "wrong", either overflowing the signed integer used for st

[2020-07-09 09:03] cgundogan commented on #14407
how did you trigger a manual (multicast) DIS? With the shell?

how often would you repeat such a probing? The link might also be lossy .. in the worst case a negative probing would delete active instances.

yes, the parent timeout is not changed when you *probe manually*. How often do you want to probe with a multicast DIS to identify stale DODAGs? If it's periodical, then you can also just reduce

[2020-07-09 09:24] haukepetersen commented on #14407
si :-)

Yes, I have been thinking about that, and I don't have a clear idea what would be a sensible behavior here.

True, that would be more sensible in the default setup, so never mind the issue described above :-)

But thanks to your explanation I found a missing piece to my particular setup: in the case of a connection oriented link layer (aka BLE), we now when there is a connection to a paren

[2020-07-09 09:24] #14407 closed

[2020-07-09 12:07] #11859 closed

[2020-07-09 12:16] MrKevinWeiss commented on #7941
This is on the list, as soon as I put out all the fires I will get to it... or maybe find a student :imp:

[2020-07-09 14:45] wosym commented on #13079
I never made a statement on what the cause of the errors was. I just stated the incorrect behavior. Wether that's because of an error in the driver, in the board config, or something else, is still undefined.

To summarise what I said:
Riot-driver on nucleo: works
Bare metal driver on AVR: works
Riot-driver on AVR: does not work

So clearly, there's still something wrong somewhere in between the d

[2020-07-09 14:52] zhuoshuguo commented on #13686
Yes, that is ture! Both GoMacH and LWMAC need RTT module for timing.

Also, make sure that openmote-b supports radio RX-start and TX-END interrupts (at least, GoMacH relies on these hardware functionalities).

[2020-07-09 15:00] SemjonKerner commented on #13079
test other stuff, confirm your suspicion, open a new issue

[2020-07-09 18:17] sqrtroot commented on #14466
Okay so after looking trough some makefiles I found `FEATURES_REQUIRED += cpp` this solves this issue.
When settings this in either the main make file or the makefile in src, it chooses the correct linker.

I think this might be important to talk about somewhere in the documentation. Together with settings things like which standard to use etc. Which also was a big search for me.

Besides the docu

[2020-07-09 19:00] maribu commented on #14466
I thought so at first as well. However, with current master and the example you have given, linking still fails for me. Can you confirm that this indeed solves the issue for you?

For platforms supporting C++ this might be true. But e.g. if someone wants to port RIOT to a platform for which only a C compiler is available, this change would be a major issue. This is why `cpp` is a feature in the fi

[2020-07-09 20:25] wosym commented on #13079
The tests have been run, the report of the undesired behavior has been made. There's no point in opening a duplicate issue. If you say this is case closed, then so be it. I won't be arguing about it further.

![there-arent-any-issues-if-you-close-them-all](https://user-images.githubusercontent.com/57949233/87087218-0454ac00-c233-11ea-88b3-13fa67c87977.jpg)

[2020-07-09 21:06] SemjonKerner commented on #13079
@wosym, you can't pinpoint a connection between this driver and your reset-bug. Other than that bug neither you or I can reproduce the original stated issue, which I therefore closed.

I don't expect the driver to be the reason for your reset-bug and hence asked you twice to try other tests before suspecting the driver. I have reason for that, 1. it works fine with other boards as you and I both c

[2020-07-09 21:20] wosym commented on #13079
I can not pinpoint the cause of the issue, no. But that's not the point of opening the issue: it's informing others that an issue exists.

Neither do I, like I already said before. This issue merely states that under certain circumstances (or with certain boards), incorrect values can be received

What other tests do you expect me to run? I've been using RIOT AVR for almost half a year. Pretty muc

[2020-07-09 21:34] SemjonKerner commented on #13079
This is going nowhere and I don't know what you are expecting.

There seems to be something wrong with the print out of the values that I can't debug based on the given information. This has most likely nothing to do with the driver as we seem to agree.
Either way, no one in the same spot will find the connection between the original issue and your reset-bug if it's 5 pages down in the comments. T

[2020-07-09 21:41] miri64 commented on #13079
Sorry to step in here, but "Huh??!?" Why should an issue be closed only because the bug can not be pin-pointed exactly? If that would be the case, than don't make an issue, make a PR. Maybe its not the driver mentioned in the issue, maybe its not. Fact is: A misbehavior was noticed in a certain combination of board, device and application and documented in this issue. If there are new insights, th

[2020-07-09 21:50] SemjonKerner commented on #13079
Excuse me, I disagree as explained lengthy. The main reason though is that the original issue and the current bug are not connected. But in that case I will simply remove myself from this issue and let others find a connection.

[2020-07-10 07:46] miri64 commented on #13079
@wosym please update the original description and title to be in line with the latest findings.

[2020-07-10 10:32] haukepetersen commented on #13079
To calm the waves here a little, how about we simply look at the `distance` variable definition in the driver header file:
[code]
It says `int`, and discussing about an issue on 8-bit hardware, that is quite susceptible :-) So lets look on how this is used:
[code]
-> if distance is 16-bit value, and it is on avr8-platforms, this would explain the overflows

@wosym would you mind changing the type

[2020-07-10 14:09] miri64 opened #14492 "cord: usage of deprecated `gcoap_finish()`"
#### Description
`gcoap_finish()` is slated for removal after the 2020.07 release, however both `cord_epsim` and `cord_ld` still use that function. That usage has to be moved to `coap_opt_finish()` before that function can be removed.

[code]

[2020-07-10 21:13] chudov commented on #12857
Tested on derfmega256 board. Doesn't help.

[2020-07-12 21:10] miri64 opened #14504 "BUILD_IN_DOCKER ignores USEMODULE"
#### Description
When building with docker, it is not possible to externally provide modules to an application. Where modifying the Makefile (e.g. in automated build environments) is not an option this is a big hindrance.

#### Steps to reproduce the issue
[code]

#### Expected results
The environment variable `USEMODULE` is included in the `docker run` command

[code]

#### Actual results
The env

[2020-07-12 21:23] miri64 commented on #14504
I can't just use `DOCKER_ENVIROMENT_CMDLINE="-e USEMODULE=gnrc_pktbuf_cmd"` unless I want to monkey patch around in the test framework for this special case :-/ (`USEMODULE` is set as an environment variable for the [`RIOTCtrl`](https://github.com/RIOT-OS/riotctrl/) in the [framework I'm using](https://github.com/RIOT-OS/Release-Specs/pull/155))

[2020-07-13 11:00] nancy-0 commented on #13686
Hi @benemorius and @zhuoshuguo,

I have just tested the gnrc_lwmac.c file under the tests directory in order to test the MAC layer on openmote-b, and I have changed the BOARD_WHITELIST to openmote-b in the makefile, and everything compiles successfully with this warning (There are unsatisfied feature requirements: periph_rtt  EXPECT ERRORS!)
And I was successfully able to send and receive packets

[2020-07-13 11:54] jhaand opened #14505 "Add the "riot-os" topic to the repository description"
#### Description
At the moment a Github topics in the about field for RIOT-OS is not present. I can find projects with the topics "riotos" and "riot-os". Could you add the topic "riot-os" to the description of the pinned repositories (RIOT, Tutorials, applications).
This makes searching for RIOT-OS applications much easier. This allows people to start faster with their application. Adding this top

[2020-07-13 12:57] kfessel commented on #14424
The adc-ng is better than the old API but it does not adress this issue. which is that an analog_pin and the ADC are not the same.
An Analog Pin may use the internal ADC (or a bus to speak to an external Analog Pin) the ADC has more features  (which are partialy adressed by the new implementation (faling to devide ADC from Analog Pin))

Analog Pin may also be Analog Input (or even Output) its an o

[2020-07-13 13:22] maribu commented on #14424
Neither the old API nor the new API have pins as entity in the API. In the old API there are "lines", in the new APIs there are "channels". Both *can* correspond to a GPIO routed to the ADC, but also to an internal input. Both APIs have implementations of a line/channel mapping to an internal input (thus, no analog pin).

[2020-07-13 19:03] remiphilippe opened #14506 "mdt_erase success, but vfs_format resets board (esp32-heltec-lora32-v2)"
#### Description
Cannot format using vfs_format on Heltec Lora v2 (esp32-heltec-lora32-v2)

#### Steps to reproduce the issue
I'm following the SPIFFs example (https://github.com/RIOT-OS/RIOT/tree/master/examples/filesystem) and test (https://github.com/RIOT-OS/RIOT/blob/master/tests/pkg_spiffs/main.c)

Makefile (content related to fs):
[code]

Code (related to fs):
[code]
2020-07-13 11:47:43,420

[2020-07-13 19:12] remiphilippe commented on #14506
Just to add, I just tried running `make debug` then `make flash-only`, and it seems to work:
[code]

[2020-07-13 20:32] wosym commented on #13079
@miri64 I updated the Issue-text with the new findings and a new hypothesis. I can't change the title though, I think a maintainer needs to do that.

@haukepetersen I will try to do another test on both the m328p and 1284p somewhere this week.

[2020-07-14 10:18] miri64 commented on #13079
Like this?

[2020-07-14 11:34] kfessel commented on #14424
And there in is the problem: they hide the fact that they are some wierd kind of analog_in (analogRead for Arduino users) (the old one is even worse talking about lines which relate to nothing (not a pin on the board, not a pin on the mcu, not a channel on the adc (you have to lookup the board configuration),

And they lie in their name that they are abtractions of the ADC.

in the old case there

[2020-07-14 12:13] maribu commented on #14424
Can be easily implemented by implementing an `adc_ng_driver_t` that sits on top of the `adc_ng_driver_t` and uses the external mux to select the channel :-)

[2020-07-14 13:21] maribu commented on #14424
But that is way better than "some how handle that" ;-).

The `adc_ng_driver_t` would just initialize the function pointers to point to the implementation of the underlying `adc_ng_driver_t` except for the function initializing the channel. Thus, this could be implemented with few lines of code and no overhead for all but the initialization function. If the `adc_ng_driver_t` if the underlying ADC i

[2020-07-14 16:33] benpicco opened #14514 "Uncrustify enforces deviation of coding convention"
#### Description

Our [`CODING_CONVENTIONS.md`](https://github.com/RIOT-OS/RIOT/blob/master/CODING_CONVENTIONS.md) states

#### coding-style.rst

However as @maribu pointed out in https://github.com/RIOT-OS/RIOT/pull/14322#discussion_r454418230, `uncrustify` does not like this.

#### Steps to reproduce the issue

[code]

#### Expected results

No code changes.

#### Actual results

[code]

#### Ve

[2020-07-14 17:02] remiphilippe commented on #14506
It seems to exhibit the same behavior as here: https://github.com/RIOT-OS/RIOT/pull/11449#issuecomment-522617986

[2020-07-15 06:07] gschorcht commented on #14506
Hm, the problem described in https://github.com/RIOT-OS/RIOT/pull/11449#issuecomment-522617986 was fixed with #12035.

This does not really make sense, since `make debug` does nothing for ESP32. Maybe you just observed that it crashed on the first try, but worked on the second try because the flash already had a different content.

Have you tried to erase the flash completely
[code]
before you fla

[2020-07-15 07:44] gschorcht commented on #14506
Do these programs work for you with this board?

[2020-07-15 08:17] fjmolinas commented on #12621
I think this is indeed fixed for most cases, it might still happen for some boards with specific issues, but if that is the case we should open specific issues. I currently have a cc2650-launchpad at hand, I'll run `compile_and_test_for_boards` and see if its fixed for this board.

[2020-07-15 08:58] gschorcht commented on #14506
I tried your code which works for me for the board.
[code]
So I can't reproduce the problem.

[2020-07-15 09:19] #5775 closed

[2020-07-15 09:19] #5774 closed

[2020-07-15 12:11] miri64 opened #14520 "examples / tests: LoRa tests fail on platforms that don't support LoRa"
#### Description
The tests introduced in #11915 fail for non-LoRa platforms. See also https://github.com/RIOT-OS/Release-Specs/issues/156#issuecomment-658250837 task 2 and 3.

#### Steps to reproduce the issue

[code]

[code]

#### Expected results
The tests are ignored or marked as expected to fail.

#### Actual results
The tests fail.

#### Versions
`2020.07-RC1`

[code]

[2020-07-15 12:38] miri64 opened #14521 "tests/test_tools: fails on `iotlab-m3` due to `core`/`cpu` regression"
#### Description
The test `tests/test_tools` fails on `iotlab-m3`. According to `git bisect` this is a regression introduced in https://github.com/RIOT-OS/RIOT/commit/0ff9e554eb712fe4f37ea46e232eaed9c20b9071.

#### Steps to reproduce the issue
[code]

#### Expected results
Test succeeds (presented result from 0ff9e554eb712fe4f37ea46e232eaed9c20b9071~1
[code]

#### Actual results
Test fails on `tou

[2020-07-15 13:33] aabadie commented on #14520
This test is blacklisted on CI because it requires more setup (a lorawan gateway for instance):

https://github.com/RIOT-OS/RIOT/blob/90911f4bf99aced30556a460fc97d5127c03959e/examples/lorawan/Makefile#L49-L50

It's just that `compile_and_test_for_board.py` doesn't take this into account apparently.

[2020-07-15 13:41] miri64 commented on #14520
Yes, for other (e.g. driver) tests that works however.

[2020-07-15 14:06] fjmolinas commented on #14520
And for other drivers it fails or triggers hardfaults like `groove_ledbar`, I think this test is just one of many that fall under the issues partially addressed in #11954, and this one in particular is addressed perfectly by that, its a PR I would like to revive if it gets more support.

[2020-07-15 15:17] aabadie commented on #14148
I edited this issue with #14525

[2020-07-15 19:14] #8045 closed

[2020-07-15 19:16] aabadie commented on #8045
Fixed by #14426.

[2020-07-15 19:37] wosym commented on #13079
@haukepetersen I did some tests on both boards, but unfortunately I don't have good news.

First I tested the m328p again, without any changes to the code except for the pinconfig. Like before, it showed about 4 good readings and then stopped. But this time, I tried resetting it afterwards (because I remembered seeing odd behavior back in Januari when doing this on the 1284p) . You would expect it

[2020-07-15 19:59] #14330 closed

[2020-07-16 07:01] aabadie commented on #8122
Is this still an issue ?

[2020-07-16 07:25] miri64 commented on #8122
We did not change how the `riot.css` is generated, so I'd say, yes. Unless people don't see this as an issue anymore :-D.

[2020-07-16 07:32] aabadie commented on #8122
I also had this problem in the past but now it doesn't show up anymore. That's why I'm asking.

[2020-07-16 07:34] miri64 commented on #8122
Do you still have LESS compiler installed? Does it incidentally generate the same CSS as the one at hand?

[2020-07-16 07:39] aabadie commented on #8122
Ah, that might be that: I don't have LESS compiler :)

[2020-07-16 09:25] fjmolinas commented on #10338
I'm re-opening this since I saw it again during release testing, maybe having debugging enabled somehow affected the initial result, but I got `gnrc_netif: netdev init failed: -5` message a couple of times when running 04-single-hop-6lowpan-icmp task 07-08 . I'll try to debug this again.

[2020-07-16 10:43] miri64 commented on #12565
After some more debugging I was able to discern that the packets getting lost this way are stuck in the neighbor address resolution packet queue and get stuck there because of the neighbor fails this check every time somehow.

https://github.com/RIOT-OS/RIOT/blob/f722022708bfcb8054daea262f6550aab073c9e1/sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.c#L278-L283

Replacing the `>` with a `>=` improv

[2020-07-16 13:35] #14521 closed

[2020-07-16 14:07] wysman commented on #10587
@Citrullin We have a POC of I2C slave with clock stretching on our RIOT fork.
https://github.com/Power-Lan/RIOT/tree/i2c.slave

I hope it's can become mainline, using RIOT on small µC is useful in many of our use case.

[2020-07-16 14:16] Citrullin commented on #10587
A PR would be helpful, I guess. At least to get some feedback on the PoC.

[2020-07-17 08:16] #14148 closed

[2020-07-17 08:22] leandrolanzieri commented on #14148
Awesome!

[2020-07-17 13:12] wosym commented on #14505
I suggest also adding related tags and de-facto names for RIOT-os.
e.g. "rtos", "riotos", "riot"

[2020-07-17 13:36] #14492 closed

[2020-07-17 13:40] keestux opened #14545 "SAMD21 can lockup and not wake from sleep"
#### Description
On several platforms[1] there were bug reports about SAMD21 locking up in sleep and not waking up anymore. If the watchdog is enabled it would reset the MCU (luckily). It goes back to 2016, and perhaps earlier when people started to see this.

#### Steps to reproduce the issue
Well, this is tricky. It is pretty hard to make a test that just fails. You basically need an application

[2020-07-17 13:42] keestux commented on #14545
Here is a short summary of the code with the workaround
[code]

[2020-07-17 14:05] keestux commented on #14545
@benpicco @aabadie Maybe this is of interest to you too, since you have been (and maybe still are) using SAMD21. I have no idea if this problem only exists in SAMD21. I haven't yet seen any information from Microchip.

The problem needs to be solved in `cpu/cortexm_common/include/cpu.h`, however that is common for all Cortex-M.

[2020-07-17 14:10] pokgak opened #14546 "thread_getstatus() never returns STATUS_STOPPED"
#### Description
If a `thread_getstatus()` is called on an exited thread (see `_test_thread` below) it will return `STATUS_NOT_FOUND (-1)` instead of `STATUS_STOPPED (0)`. Based on the [documentation](http://api.riot-os.org/group__core__thread.html#ga126920c73220c857489a340ee1a5072a) and description of `thread_status_t` enums I would assume that I could compare the return value of `thread_getstatu

[2020-07-17 14:17] benpicco commented on #14545
Well RIOT doesn't use SysTick (yet) so we might not be affected by this.

[2020-07-17 16:26] bergzand opened #14548 "edbg: long lines flooded over serial become garbled"
#### Description

The virtual COM port provided by the EDBG debuggers doesn't correctly handled rapid bulk transfers from the host computer. This becomes apparent when using a local setup. A remote setup or a slow host such as a raspberry pi doesn't flood the USB serial fast enough to cause issues. That's also why it doesn't fail on the nightlies.

Bisecting turns up this commit: https://github.co

[2020-07-17 16:27] miri64 commented on #14548
See also discussion in https://github.com/RIOT-OS/Release-Specs/issues/172#issuecomment-660120288 and the following comments.

[2020-07-17 16:44] miri64 commented on #14548
It was also noted that this might be related to https://github.com/RIOT-OS/RIOT/issues/10639

[2020-07-17 19:05] nancy-0 commented on #13686
Hi @benemorius, @zhuoshuguo and @miri64,

I would like to update you that I have solved the error/warning related to the both LWMAC and GoMacH by adding the rtt feature in the makefile of the directory that I was testing. and hence the problem was gone.

Thanks,
Nancy

[2020-07-19 11:38] #11571 closed

[2020-07-19 14:16] MyCodeMyMoney opened #14555 "periph flashpage bug"
#### Description

When calling the function flashpage_write_raw(void *target_addr, const void *data, size_t len), if the address of my input parameter data is not divisible by 4, I will get an assertion error. The assertion is
[code]
In addition, I would like to ask a question. When an assertion error occurs, I cannot see a detailed assertion description, so this increases my time for troubleshoot

[2020-07-19 17:44] bergzand commented on #14555
This is usually a limitation of the underlying hardware. Most MCU's only support word-aligned writes to the internal flash and anything else is either undefined behavior or will throw an runtime exception. The assertion here prevents that during development.

Adding [`CFLAGS += -DDEBUG_ASSERT_VERBOSE`](https://riot-os.org/api/assert_8h.html#a2200149ba880bf26fed140bdcf318113) to your Makefile will

[2020-07-19 20:17] keestux commented on #14545
But when we do use SysTick (PR #14553) ...

[2020-07-19 20:56] benpicco commented on #14545
Yea :smiley:
If this only affects sam0, we can plug the work-around (manually stopping SysTick before entering sleep) into `sam0_cortexm_sleep()`.
That's where the other work-around wrt sleep live anyway.

[2020-07-20 04:30] remiphilippe commented on #14506
Thanks for looking into it.
It failed about 50 times before I posted here, then `make debug` and it worked like magic, but as you mentioned could be pure luck if `make debug` doesn't really impact ESP32.

I can't remember if I used the `erase_flash` on this board, but I can't seem to be able to reproduce since it worked.

I'll try when I order the same board again (in a week or so) and report here

[2020-07-20 08:40] keestux commented on #14545
It would be really helpful if Microchip would publish errata for this. Right now it is unclear if this just affects SAMD21.

[2020-07-21 09:27] fjmolinas commented on #13086
During release testing I found that `tests/periph_wft` is failing as well:

[code]

[2020-07-21 11:23] fjmolinas opened #14568 "tests/pkg_libfixmath_unittests: failing on multiple platforms"
#### Description

`tests/pkg_libfixmath_unittests` fails, specifically testcases for division. Found while running https://github.com/RIOT-OS/Release-Specs/issues/172 on multiple boards, see https://github.com/miri64/RIOT-2020.07-results/tree/master/2020.07-RC2.

#### Steps to reproduce the issue

<details><summary>BOARD=samr21-xpro BUILD_IN_DOCKER=1 make -C tests/pkg_libfixmath_unittests/ flash t

[2020-07-21 14:25] maribu commented on #14514
Can be fixed like this:

[code]

I can open a PR for this later. I currently have a lot of uncommited code that I want to finish first. @benpicco: Feel free to open the PR, if you want this in soon ;-)

[2020-07-21 15:29] fjmolinas opened #14572 "tests/mpu_noexec_ram: fails on i-nucleo-lrwan1"
#### Description

~~`openmote-b` (cc2538)~~ and `i-nucleo-lrwan1` (STM32L052T8Y6) have an MPU but `mpu_noexec_ram` fails on both.

Haven't done much debugging yet.

#### Steps to reproduce the issue

On any of the above platforms:

`BUILD_IN_DOCKER=1  BOARD=i-nucleo-lrwan1 make -C tests/mpu_noexec_ram/ flash test`

#### Expected results

Test succeeds

#### Actual results

[code]

#### Versions

-

[2020-07-22 04:30] theltybc commented on #13869
this so ugly
[code]

[2020-07-22 09:49] fjmolinas opened #14576 "riotboot/nrf52840dk: flashing slot1 with JLINK fails"
#### Description

Flashing slot1 results in an unspecified error when using JLINK on nrf52840dk. This works with Openocd.

#### Steps to reproduce the issue

`BUILD_IN_DOCKER=1 BOARD=nrf52840dk make -C tests/riotboot/ riotboot/flash-slot1`

#### Expected results

Flashing succeeds.

#### Actual results

Unspecified error.

[code]

#### Versions

[code]

[2020-07-22 09:55] kaspar030 commented on #14576
I've seen this before. does the slot start at a flashpage boundary?

[2020-07-22 10:05] fjmolinas commented on #14576
Seems so:

[code]

`528384 = 0x81000`, pages are `0x1000` on `nrf52`

[2020-07-22 10:15] kaspar030 commented on #14576
did you update your jlink tools lately? maybe a newer version comes with a firmware upgrade.

[2020-07-22 10:19] kaspar030 commented on #14576
my arch installs JlinkExe 6.82a, which just upgraded my nrf52840dk's firmware.

[2020-07-22 10:28] fjmolinas commented on #14576
Does it work for you?

[2020-07-22 10:36] kaspar030 commented on #14576
no:
[code]

[2020-07-22 10:39] kaspar030 commented on #14576
sorry, updating JLink is my first step when it shows any issues, that's why I proposed it.

[2020-07-22 11:02] fjmolinas commented on #14576
No prob, I avoid updating jlink because latest version have popups I haven't found out how to get rid off...

[2020-07-22 11:04] fjmolinas commented on #14572
Removed `openmote-b` since I found the source of the bug.

[2020-07-22 12:05] fjmolinas opened #14578 "tests/cpp11_*: failing on i-nucleo-lrwan1"
#### Description

All cpp11 tests are failing on ` i-nucleo-lrwan1` they all hang right away, reproduced in 2020.04.

#### Steps to reproduce the issue

` BOARD=i-nucleo-lrwan1 make -C tests/cpp11_condition_variable/ flash test`

` BOARD=i-nucleo-lrwan1 make -C tests/cpp11_mutex/ flash test`

 `BOARD=i-nucleo-lrwan1 make -C tests/cpp11_tthread/ flash term -j3`

#### Expected results

Test passes.

[2020-07-22 12:31] fjmolinas opened #14579 "tests/llittlefs - tests/llittlefs2 - tests/pkg_spiffs: need a speed up"
#### Description

These fs related test take a very long time and are not deterministic, a quick fix is increasing the timeout, would be better to refactor the tests so they finish up faster.

[code]

[code]

Didn't run the benchmark for `tests/pkg_spiffs`, or rather my experiment timeout but the estimate was around `656.285s`

[2020-07-22 13:01] fjmolinas commented on #12651
I have another failing test on avr, `tests/thread_msg_bus`, tested on `arduino-mega2560` and `atmega256rfr2-xpro`:

[code]

@benpicco can you take a look?

[2020-07-22 13:04] fjmolinas commented on #12651
I updates the issue.

[2020-07-22 13:09] fjmolinas commented on #12651
I have another failing test on avr, `tests/pkg_libb2`, tested on `arduino-mega2560` and `atmega256rfr2-xpro`:

[code]

Updated list again.

[2020-07-22 13:11] fjmolinas commented on #12651
`tests/ps_schedstatistics` is failing again as well.

[2020-07-22 14:32] miri64 commented on #14568
I noticed that this test has quite a long time-out waiting for the `SUCCESS` at the very end of that test. Might it make sense to rather wait and check for intermediate outputs with shorter timeouts? I suspect the fail is because the boards are shorter in general.

[2020-07-24 11:24] Nishchay-sopho opened #14601 "SDP3x init failed"
#### Description

Sensirion sdp3x sensor not initialised correctly
#### Steps to reproduce the issue

Compile and run driver sdp3x sensor test and run using :
`BOARD=... make clean flash term -C tests/driver_sdp3x`

#### Expected results

Initialisation of occurs without any issues

#### Actual results

Initialisation fails since version check condition fails
#### Versions

Operating System Enviro

[2020-07-24 11:39] Nishchay-sopho opened #14603 "drivers/sdp3x: IRQ module used even if IRQ pin not connected"
#### Description

SDP3x IRQ module included even if not using irq pins
#### Steps to reproduce the issue

Compile and run driver sdp3x sensor test and run using :
`BOARD=... make clean flash term -C tests/driver_sdp3x`
This issue can be worked on after the issue #14601 is resolved.

#### Expected results

IRQ module not defined when not using irq pin of the sensor and therefore, timers related to

[2020-07-24 12:00] Nishchay-sopho commented on #14601
This requires a really tiny change in the version check function. Could you kindly assign to me, I will create the PR immediately to resolve this issue.

[2020-07-24 15:08] Nishchay-sopho opened #14608 "driver/sps30: Add UART support"
#### Description

Add UART support for Sensirion sps30 sensor. The driver for sps30 already exists in RIOT but it only supports I2C. Since the
sensor supports UART too, I would like to extend it to work with UART.

I have implemented the driver using UART (code: 81859d830783a781ee64027b9d9b99536cf30d36).  I wanted to discuss how the UART and I2C implementations should be merged together.

In my op

[2020-07-25 17:45] maribu commented on #11806
The support for the lpc2387 is now in a pretty good shape, thanks to @benpicco. Even for recent developments like the inline-able IRQ API the old ARM boards were part of the early adopters.

I'm closing this now. If anyone disagrees, feel free to re-open.

[2020-07-25 17:45] #11806 closed

[2020-07-26 15:39] jhaand commented on #14505
You could also mention the other tags. That makes it easier to click through. But mention somewhere which tags remains the preferred one.

[2020-07-27 00:10] Citrullin commented on #14095
Open questions:
- Persistence
Only persist JSON result to SPI nor flash etc. or write everything to the file system?

[2020-07-27 08:11] jia200x commented on #13173
I will close this one when the SubMAC is implemented.

[2020-07-27 11:37] miri64 commented on #14505
Good point. I'm going to update the respective repositories.

[2020-07-27 11:38] #14505 closed

[2020-07-27 12:01] jhaand commented on #14505
Thnx.
I'm glad this is now closed.

[2020-07-27 13:34] miri64 opened #14618 "tools: cleanup host-side network setup"
#### The Issue
With https://github.com/RIOT-OS/RIOT/pull/14454 now merged, we have a total of 3 `start_network.sh` scripts:

- The original one for [ethos](https://github.com/RIOT-OS/RIOT/blob/42eb044ec67758e1664dd354cf07652c9632aace/dist/tools/ethos/start_network.sh),
- A slightly improved, but [SLIP-specific version](https://github.com/RIOT-OS/RIOT/blob/42eb044ec67758e1664dd354cf07652c9632aace/d

[2020-07-27 15:20] miri64 opened #14620 "compile_and_test_for_board.py: provide xunit file?"
Does it make sense to add optional xunit XML support for `compile_and_test_for_board.py`? This way the results of #14587 could be folded into the results of https://github.com/RIOT-OS/Release-Specs/pull/174 and the nightly HiL tests.

[2020-07-28 09:24] miri64 commented on #14568
Edited my last post, to prevent misunderstandings: the test is indeed failing and we should blacklist the boards in question / whitelist the succeeding boards not just for CI but also for the build system.

[2020-07-28 10:42] #14466 closed

[2020-07-28 12:12] chrysn opened #14635 "File systems report names with leading slashes"
#### Description

Several file systems (at least constfs and littlefs) return file names with leading slashes.

#### Steps to reproduce the issue

In the filesystems example with the default littlefs backend for sda:

[code]

In contrast, fatfs (with an externally created image) gives slash-free names:

[code]

#### Expected results

The vfs_dirent_t struct describes a field for "file name, relati

[2020-07-28 12:30] miri64 opened #14636 "native: reboot exits instance with TAP interface"
#### Description
When rebooting on a `native` instance using a `tap` device, the instance exits with an error message that the TAP device is already in use (`EBUSY`). This is the case since a274ea4 (#12428) according to my bisect.

#### Steps to reproduce the issue
Start a native instance of `examples/gnrc_networking`
[code]

and type reboot.

[code]

#### Expected results
The node should reboot,

[2020-07-28 12:45] miri64 opened #14637 "riotctrl_shell: provide shell interaction and parsers for the `rpl` command"
#### Description
This one is still unimplemented in completeness, it is needed for the release tests, but it contains a lot of options.

See [current implementation of release tests](https://github.com/RIOT-OS/Release-Specs/blob/7f9205a7980f382d5c7a6e0995fcb09a2139cab3/07-multi-hop/test_spec07.py#L84-L94)

### Useful links
- https://github.com/RIOT-OS/riotctrl/
- https://github.com/RIOT-OS/RIOT/tr

[2020-07-28 14:34] larseggert opened #14641 "posix_socket_select returns 0, but is defined as returning void"
[`posix_socket_select`](https://github.com/RIOT-OS/RIOT/blob/master/sys/posix/select/posix_select.c#L40-L44) returns 0, but the function is defined as returning `void`.

[code]

[2020-07-28 14:38] larseggert commented on #14641
Apparently I was missing this from my Makefile:
[code]

[2020-07-28 14:38] #14641 closed

[2020-07-28 16:39] #14636 closed

[2020-07-29 09:28] miri64 opened #14650 "riotctrl_shell: provide shell interaction and parsers for the `cord_ep` command"
#### Description

This one is also still unimplemented in completeness, it is needed for the release tests.

[See current implementation of release tests](https://github.com/RIOT-OS/Release-Specs/blob/33d619b69d3a089fe0830126a92b1a75a65209da/09-coap/test_spec09.py#L31-L74)

### Useful links
- https://github.com/RIOT-OS/riotctrl/
- https://github.com/RIOT-OS/RIOT/tree/master/dist/pythonlibs/riotctr

[2020-07-29 11:08] #14601 closed

[2020-07-30 23:22] #14603 closed

[2020-07-31 09:21] nicoHarel opened #14666 "Particle Xenon: add second uart_config"
#### Description

Ok this is kind of a very simple feature, so I'll try to be as quick as possible. I tried to use an UART com (not the stdio one) on the Particle Xenon but noticed that the second UART configuration is missing from perif_conf.h. I thought for a second that "UART 1" wasn't implemented for the NRF52840 before looking in other periph config files from other boards using the same MCU

[2020-07-31 11:41] maribu opened #14667 "Undefined behavior in `pkg/semtech-loramac/contrib/`"
#### Description

The C standard takes Harvard Architectures into account, for which program and data memory are distinct address spaces. This also means that they can have different address sizes, which e.g. for the AVR platform is the case: RAM addresses are always 16 bit wide and ROM addresses [can be 22 bit wide (look up the program counter size)](http://www.bound-t.com/targets/avr/index.html#

[2020-07-31 11:42] maribu commented on #14667
@fjmolinas, @aabadie, @jia200x: Care to take a look?

[2020-07-31 12:26] benpicco commented on #14666
Nobody has set it up yet.
Since the pins on the nRF52 can be mapped to pretty much any peripheral, that should be pretty easy.
Want to submit a patch?

[2020-07-31 12:39] fjmolinas commented on #14667
Would this be solved with some indirection? Passing a pointer to a function pointer?

(compiles but untested)

[code]

[2020-07-31 12:41] fjmolinas commented on #14667
Asking because I'm not sure I understand the issue completely.

[2020-07-31 12:46] maribu commented on #14667
Yes, that would solve the issue. But it seems that just using the `uint32_t` value works; Murdock seemed not to complain. And I think it is pretty safe to assume that `uint32_t` is wide enough for function pointers on constrained devices. So @benpicco already solved the issue in https://github.com/RIOT-OS/RIOT/pull/14663

[2020-07-31 12:56] benpicco commented on #14667
#14663 is not merged yet :wink:

[2020-07-31 12:57] #14667 closed

[2020-07-31 12:58] maribu commented on #14667
I could fix that ;-)

[2020-07-31 13:04] miri64 opened #14669 ".murdock: Build apps for different environments."
#### Description
Both https://github.com/RIOT-OS/RIOT/pull/14665 and https://github.com/RIOT-OS/RIOT/pull/14668 showed me once more, that we really should build some tests in their different compile time configurations.

While it is of course really easy to just duplicate the tests for that, I have an idea floating around in my head for some time now, that I don't really have time to execute right

[2020-07-31 13:30] nicoHarel commented on #14666
Modified it locally and seems to work just fine. So yes, I guess I could =)

[2020-07-31 13:50] leandrolanzieri commented on #14669
The CI would indeed take advantage of #14654 when changing the configurations using Kconfig. I can imagine we can provide multiple `.config` files and compile once per file. With #14654 only the affected object files would be re-compiled.

[2020-07-31 13:54] benpicco commented on #14666
Nice, please do :)

[2020-07-31 20:52] benpicco opened #14676 "examples/gnrc_border_router not routing between 6lo clients and Internet"
#### Description

I have seen a similar issue on esp* as border router with a direct WiFi up-link, but sniffing WiFi packets is a bit of a pain, so I tried to reproduce this using Ethernet (CDC-ECM).

The issue I see is that the border router can reach hosts outside the WPAN while it's clients cant.
There is some non-determinism involved as sometimes this works, but often it does not.

#### Steps

[2020-07-31 21:56] miri64 commented on #14676
Can you reproduce this with `ethos` + `uhcp`? Because that worked two weeks ago.

[2020-07-31 21:57] miri64 commented on #14676
+ what does `nib route` and `nib neigh` say for the respective nodes.

[2020-07-31 21:59] benpicco commented on #14676
#### border router

[code]

#### node

[code]

[2020-07-31 22:00] miri64 commented on #14676
That's odd... why is the same prefix routed to two interfaces?

[2020-07-31 22:05] benpicco commented on #14676
hmm might have set it up wrong?

[code]

I suppose I need to carve out a different prefix from the /60 for `enx0e504ad43426` than what I delegate to DHCPv6

[2020-07-31 22:07] miri64 commented on #14676
Yeah, I was just about to ask for the routes set on the ethernet interface.

[code]

There seems to be a 64 subnet configured for that, while the border router routes a 61 bit subnet.

[2020-07-31 22:20] benpicco commented on #14676
Hm so when I use `IPV6_PREFIX=2001:16b8:45ca:b6c7::/62` for the downstream DHCPv6 / Kea, would I expect that to work?

[code]

#### ip -6 route show dev enx0e504ad43426
[code]

[2020-07-31 22:22] miri64 commented on #14676
No it should be a smaller subnet, so either `63` or `64`.

[2020-07-31 22:23] miri64 commented on #14676
Shouldn't the `radvd` also then advertise the 62-bit prefix to the border router?

[2020-07-31 22:24] benpicco commented on #14676
With `IPV6_PREFIX=2001:16b8:45ca:b6c7::/63` I get

[code]

[code]

and still no routing from clients

[2020-07-31 22:41] miri64 commented on #14676
Let's get back a few steps and understand the problem. You have basically 3 sub nets here here

[code]

and they have the following hierarchy LAN > H6LBR > WPAN. I.e. the prefix of the outer sub-net needs to be contained in every inner sub-net.

The LAN provides you with a 60-bit prefix A and you want at most a 64-bit prefix for the WPAN, so the H6LBR needs to be configured as such, that it has a

[2020-08-01 14:04] #7886 closed

[2020-08-02 16:50] benpicco commented on #14676
Thank you for the heads-up!
I've changed `sla-len` to 1 in `dhcp6c.conf` so it will only shift the 'incoming' prefix by 1 to configure the USB-Ethernet device

Together with `dist/tools/radvd/radvd.sh -c enx0e504ad43426 ::/61` this gives me

[code]

and

[code]

So I'm using `IPV6_PREFIX=2001:16b8:453f:1fc2::/62` for `gnrc_border_router` which results in

[code]

in RIOT.
Unfortunately this does n

[2020-08-02 19:12] benpicco opened #14679 "examples/gnrc_border_router: esp_wifi crashes on disconnect"
#### Description
When operating as a border router with an `esp_now` client, the border router will crash after a while with what seems like a disconnect event that is not handled correctly.

#### Steps to reproduce the issue

Follow the steps described in https://github.com/RIOT-OS/Release-Specs/pull/185:

 - flash the border router

       make -C examples/gnrc_border_router BOARD=esp8266-esp-12

[2020-08-02 19:22] miri64 commented on #14679
Since the `netif-esp-now` thread is the running thread it is most likely the culprit. I usually use a patch like this to dig deeper:

[code]

[2020-08-02 19:23] miri64 commented on #14679
This also speaks for `esp_now` :-/

[2020-08-02 19:25] miri64 commented on #14676
But that is a different issue, isn't it? The original text was about forwarding the messages of host nodes (not clients, we are not on the application layer) within the WPAN, if I read it correctly, right? Not about the border router being unable to reach global addresses.

[2020-08-02 19:26] miri64 commented on #14676
I will try this myself btw if I find the time :-)

[2020-08-02 19:34] benpicco commented on #14676
I'm afraid it might as well be an issue with my setup.

[2020-08-02 19:42] miri64 commented on #14676
Still worth checking out IMHO. Since you are unsure yourself, however, I "degrade" the issue from a bug report to a question :-).

[2020-08-03 07:01] gschorcht commented on #14679
This indicates that MAC layer buffer is running out of memory for any reason. Therefore, the status is reset to `disassociated` and it gets a beacon timeout afterwards.

I have seen this already sporadically. Unfortunatly I wasn't able to figure out the reason because it is something that happens deep inside closed and completely undocumented code of ESP8266 libraries and the OCD capabilities are

[2020-08-03 07:38] gschorcht commented on #14679
Indeed, but the error message `LmacRxBlk:0` might indicate the initial problem. `esp-now` and `esp-wifi` are using the same WiFi interface.

The cause `LoadStoreAlignment` usually means that an attempt is made to access the memory at an address that is not 32-bit-word-aligned in a memory segment that supports only 32-bit-word-aligned access. But, there is nothing in `core/mutex.c:75` https://githu

[2020-08-03 07:48] benpicco commented on #14679
Unfortunately a second panic happened when it attempted to print that.
Can the esp8266 be debugged with a J-Link device?

[2020-08-03 08:00] gschorcht commented on #14679
Theoretically yes, see [here](https://www.esp8266.com/viewtopic.php?f=9&t=1871). But it doesn't work reliable. After having it working 2 or 3 times two years ago, I wasn't able to get it working anymore. I was using the [ICprog OpenOCD JTAG Adapter](https://shop.in-circuit.de/product_info.php?products_id=112). Maybe, it works more reliable with a J-Link device.

Unfortunately I can't support you f

[2020-08-03 10:02] miri64 opened #14681 "Discussion: pseudo-boards / board variants with different configurations"
Currently there are a few boards defined as pseudo-modules to include differing board configurations, e.g.

https://github.com/RIOT-OS/RIOT/blob/6adf07caf04e9439087b4cd5ebcdc961f6df0b7f/boards/esp32-ttgo-t-beam/Makefile.include#L1

https://github.com/RIOT-OS/RIOT/blob/6adf07caf04e9439087b4cd5ebcdc961f6df0b7f/boards/feather-m0/Makefile.include#L1

This can in my opinion easily lead to a deep well o

[2020-08-03 10:59] maribu commented on #14681
@cladmi has strongly argued towards separate directories when this discussion last popped up in the mailing list. Nobody opposed this, so I think this can be considered a consensus.

I would just stick with that consensus, until we gain support in the CI to cover board variants other than creating distinct board folders for each configuration tuple.

[2020-08-03 13:04] Jalili-73 opened #14687 "stm32f405rtg6 stdin/out uart not working"
#### Description

i'm beginner and i designed a board that near to stm32f4discovery but different in MCU.
board mcu is stm32f405rtg6 .
i connect uart to usb ((cp2102)) ==> ((RX=PA3 TX=PA2 GND=GND))
i compile **riot-course/exercises/getting-started/first-app** with **gcc-arm-none-eabi-10-2020-q2-preview-x86_64-linux** toolchain and command  **BOARD=stm32f4discovery make binfile all**.

I flash MCU

[2020-08-03 19:00] trickeydan opened #14689 "dist/tools/sliptty/start_network.sh: IPv6 connectivity is broken on PC"
#### Description

`dist/tools/sliptty/start_network.sh` [enables forwarding on all interfaces](https://github.com/RIOT-OS/RIOT/blob/7f1f8ae576c21fb4911975818a6fb6d3c47204cd/dist/tools/sliptty/start_network.sh#L37) when running.

By default, Linux will ignore RAs on interfaces with forwarding enabled unless `net.ipv6.conf.<interface>.accept_ra=2`. This is sensible for security on routers.

It thus

[2020-08-03 19:23] benemorius commented on #14689
The reason that forwarding is activated for all interfaces is that [confusingly](https://unix.stackexchange.com/a/348534) the Linux kernel doesn't allow enabling IPv6 routing for independent interfaces. To get any forwarding at all, `net.ipv6.conf.all.forwarding` must be set.

The `accept_ra=2` workaround you've done is indeed the intended way to get your RAs back on the specific interface you nee

[2020-08-03 20:58] trickeydan commented on #14689
Surely this script should work in line with all of the other `start_network.sh`? Those only enable forwarding on the BR interface, giving choice of forwarding to the user.

On systems with a poorly configured firewall, this script poses a serious risk in it's current state. It also breaks access to a fair amount of the internet.

Related to the inconsistency between scripts: #14618

[2020-08-03 21:25] miri64 commented on #14689
Then the other scripts are wrong at least for Linux. @benemorius is right (and the linked doc backs him).  While the variable exists for single interfaces, on Linux only setting `net.ipv6.conf.all.forwarding` is the only way to get forwarding enabled (you can check with `radvd` which will fail to start without forwarding enabled).

[2020-08-04 07:47] fjmolinas commented on #14681
As so far all integration in RIOT expects one `BOARD` for directory, it should be kept that way. If the approach want's to be changed (to use `PSEUDOMODULES` or whatever) then all the handling around it should be adapted as well. I think this issue is the right place to have this discussion, but for now the "offending" `BOARD`s should be reverted to having a directory IMO.

So what are the cons of

[2020-08-04 08:01] maribu commented on #13918
I tried this to check if the corruption of `r0` is indeed the issue:

[code]

So I first us an explicit register variable in `r0` before the sleep. After the sleep, I have a fake inline assembly block taking that variable as input and output, so that the compiler must assume its value was changed (and it cannot optimize the test out). Finally, I test if the value in the variable is indeed the valu

[2020-08-04 08:27] trickeydan commented on #14689
As it stands, changing this will break IPv6 connectivity on the other scripts too. As about [a third](https://www.google.com/intl/en/ipv6/statistics.html) of users have IPv6 these days, this will likely cause problems for more people.

Additionally, the other scripts use Layer 2 ethernet interfaces (`tap` for ethos, `eth` for cdc-ecm) which **do not require forwarding to be enabled** to reach node

[2020-08-04 08:49] maribu opened #14690 "`eui64_t` type needs a cleanup"
#### Description

There was some backlash on consistently using the `eui64_t` type for EUI-64 identifiers, mostly due to the type being messy.

#### Steps to reproduce the issue

Check the definition of the type.

#### Expected results

Something reasonable.

#### Actual results

I replaced all `network_uint<NUM>_t` with an inline `union network_uint<NUM>` definition, so that the full depth of the

[2020-08-04 08:50] maribu commented on #14690
#### Option 1 for a cleanup (vote with thumbs up / down):

`typedef network_uint64_t eui64_t`

[2020-08-04 08:52] maribu commented on #14690
#### Option 2 for a cleanup (vote with thumbs up / down):

[code]

[2020-08-04 08:52] maribu commented on #14690
#### Option 3 for a cleanup (vote with thumbs up / down):

[code]

[2020-08-04 08:56] maribu commented on #14690
Two arguments against Option 3:

- The EUI-64 is actually defined as 64 bit unsigned integer by the IEEE, and all references to e.g. the bit used to distinguish locally vs globally unique identifiers are in regard to this `uint64_t` representation.
- The code gets less clean, as e.g. comparing for equality is now `memcmp()` instead of `==`, and conversion between endianess (we have both hardware w

[2020-08-04 09:01] miri64 commented on #14689
See https://github.com/RIOT-OS/RIOT/pull/10477#discussion_r241082394.

[2020-08-04 09:02] miri64 commented on #14689
You could just configure the forwarding according to the uplink.

[2020-08-04 09:16] kaspar030 commented on #14690
I think these can be mitigated by wrapping in functions, e.g., "eui64_equal(*a, *b)", "eui64_is_global(*a)", "eui64_from_u64()".

When is conversion between endianness necessary other than for displaying to the user?

Anyhow, I'd try to compare endianness bugs (which show up right away when not working) to alignment bugs (which show up in the field, when somehow the memory layout is different than

[2020-08-04 09:23] trickeydan commented on #14689
My main concern with this is that often the first experience of RIOT that someone has is using one of the example programs, e.g `examples/gnrc_border_router`. If the user does not have knowledge of how forwarding works on Linux, all they will notice is that their connectivity has broken. If these changes are made, then it would need to be very well documented. This documentation should include the

[2020-08-04 09:28] miri64 commented on #14689
I don't experience any broken connectivity when using this script, so I am not clear on what you mean by that. Please clarify.

[2020-08-04 09:41] trickeydan commented on #14689
As mentioned previously by myself further up in the issue, when IPv6 forwarding is enabled on an interface, Linux will by default ignore RAs on that interface. This means that IPv6 connectivity to the wider internet is lost when forwarding is enabled and no further action is taken (i.e `accept_ra=2`). As about a third of users now use IPv6 (and some internet services are IPv6-only), not having IPv

[2020-08-04 09:51] miri64 commented on #14689
Ah sorry, I did not read carefully enough :confused:. Fact is, for a border router (what this script effectively wants to enable) forwarding capabilities are required, especially if one wants to use it as e.g. @benpicco does in https://github.com/RIOT-OS/RIOT/issues/14676 (as said: RAdvD requires forwarding to be enabled, not sure if it is happy with "enabling" forwarding only on the operating int

[2020-08-04 09:53] maribu commented on #14690
The network stack can set the L2 address and will always do so in big endian. The driver has to convert, if little endian is used by the hardware.

[2020-08-04 09:59] trickeydan commented on #14689
This sounds like a good solution to me. :+1:

It could potentially be nice to warn if a layer 3 interface (SLIP or similar) is used without the -f option being given. This would hopefully allow users to be able to work out why packets aren't being forwarded across the interface, although that is more in scope of #14618.

[2020-08-04 10:04] maribu commented on #14690
This is generally true and I agree.

However, we still managed to miss an endianess bug in the `at86rf2xx` driver. Using a magic type will certainly not make this kind of bugs going away, even though a member name like `be_u64` would help against confusion. But that alone is no guarantee that this bug does not pop up.

It would be nice to have a generic test for this, which would work on top of an

[2020-08-04 15:04] Nishchay-sopho commented on #14608
I was trying to design the HAL(read/write functions) for UART and I2C communication for this sensor. As far as I understand, HAL is basically to get rid of as much communication protocol dependent code into some predefined functions and then simply write functions to process common code like preparing command buffer and call the read/write functions.

The problem with this sensor is that UART impl

[2020-08-05 00:05] gschorcht commented on #14679
@benpicco I have a working OpenOCD with a J-Link adapter, but I can't set up the appropriate test environment because my Speedport router doesn't support prefix delegation.

Even if I set a global unicast address manually for the `esp_now` interface of the border router with
[code]
it doens't advertise the prefix although the `esp_now` client node sends router solicitations and the `RTR_ADV` attri

[2020-08-05 09:34] kfessel commented on #14690
How about creating a structure that has its internals not known to the user but has its content only accessed through static functions, which the compiler optimization will take care of. One could even  put something like a scrambler define in (#define u8 abzgt) and undef at the end into the header that will let the compiler scream if someone accesses the internals of that struct.

[2020-08-05 09:42] maribu commented on #14690
My experience with trying to mimic features like `private` missing in C is that it hurts rightful access by making code more complex and harder to read, but cannot prevent abuse. These approaches are kind of similar to the security by obscurity technique, and IMO are flawed for the same reasons.

I would prefer proper documentation (so that offenders at least are aware of their wrongdoing) and pro

[2020-08-05 09:51] kfessel commented on #14690
yes the accessors function would clutter the code but a the moment in most case u need to use a accessor anyway hton the only difference is its gernerality (the scrambler define is a second thought to make the non "legit" use scream at compiletime) and of cause i may be switched of for debuging (like one would put the famous #define privat public).

[2020-08-05 10:05] kaspar030 commented on #14690
why is that? If the network stack uses eui64_t, it needs to get it somewhere (user input, from the network, freshly created). In all cases, `eui64_from/to_<type>()` would make sense, and could convert on the fly to our preferred byte order.

[2020-08-05 10:25] maribu commented on #14690
I agree on adding the helper functions. But please let's keep the driver in charge of doing any conversion, if needed. Otherwise the network code would look like this (pseudo-code):

[code]

And I really think that the network stack should not care about the internal representation of an L2 addr in the device it is running on.

[2020-08-05 10:47] kaspar030 commented on #14690
+1

[2020-08-05 13:45] gschorcht commented on #14681
My biggest concerns were:

1. The number of board directories could further explode and the compilation time in CI will further increase.
2. A lot of tests are compiled for each board version even if the test is not affected by the differences.
3. Multiple copies of the same documentation reside in different directories and are hard to maintain.
4. Full copies of configurations in different direct

[2020-08-05 13:50] gschorcht commented on #14681
Additional comment. We should at least try to group the boards in the documentation a bit more. The flat board list in the documentation is quite long and hard to read. There are some groupings such as ESP8266, ESP32 and STM32 Nucleo-*, but there could be more.

[2020-08-05 15:17] kfessel commented on #14690
what is `our preferred byte order`? is it IEEE or MCU byteorder or Driver byteorder.
I think the one that defines the order has to store the value and provide the conversion functions.

[2020-08-05 15:19] miri64 commented on #14690
At least for `netopt` it is defined to be in network byte order.

[2020-08-05 15:46] #8408 closed

[2020-08-05 15:48] miri64 commented on #3355
`avr-libc` still does not support this AFAIK.

[2020-08-05 16:38] maribu commented on #14681
I agree that a huge number of board directories is not helpful for human beings keeping track of supported boards. But if we indeed want CI coverage of every board configuration, we have to pay the price for it.

This is true. But this also applies to boards in general: I bet that we would be able to catch at least 3 out of 4 compilation issue by just compiling for only a single board of each CPU

[2020-08-05 18:45] haukepetersen commented on #13079
Hmm, too bad...

Aside from that I do not have any other idea right now - I have never used RIOT on any ATmega platforms... My only hints would be to look in the following directions:
- some other variable in use in the driver or the test application that might overflow?
- possible some kind of timer instability on ATmega?
- Some weird kind of hardware issue that we did not think about so far?

[2020-08-05 19:07] haukepetersen commented on #13280
@Citrullin I am not 100% but I have an assumption where this might be coming from: in the default configuration, one can only set I think 1 additional address per interface. So when you add the first ULA, that memory spot is taken and the netif will not accept any additional addresses. But whats strange is, that `ifconfig` should actually respond with an error message if that would be the case.

@

[2020-08-05 19:22] miri64 commented on #13280
https://doc.riot-os.org/group__net__gnrc__netif__conf.html#ga366596e311b4a450887a1a180ae66fb3
Depending on the network and the address desired to be added, one might also need to increase the number of multicast groups https://doc.riot-os.org/group__net__gnrc__netif__conf.html#ga5dec745d3d45a5bdd2363120680b102e

[2020-08-05 19:34] kaspar030 commented on #13079
- increase stack sizes just to be sure

[2020-08-05 19:35] kaspar030 commented on #13079
Did you fix the type in both srf04.h and in the test main.c (tests/driver_srf04/main.c line 39?

[2020-08-05 19:43] wosym commented on #13079
Can't tell for sure. It's been almost a month ago since I tested it, and I didn't keep the branch.
I'll try to redo the test one of these days. But even if it wasn't changed, it wouldn't explain the spammy empty-lines behaviour. Or would it?

[2020-08-05 19:54] kaspar030 commented on #13079
No it wouldn't. Also, by reading the code, I don't see how this would change things.

Seeing this issue is from January, it was probably branched before the huge xtimer update in 2020.01. Before that, xtimer was not isr-safe on <32bit timers (the atmegas are using 16bit), so with the 50000us sample period, there's a high chance of xtimer's underlying timer to overflow. This could cause issues.
But

[2020-08-05 19:56] wosym commented on #13079
The experiment was done on a freshly pulled master.

[2020-08-05 20:11] kaspar030 commented on #13079
@haukepetersen @SemjonKerner do you have the sensor at FU?

[2020-08-05 21:59] cladmi commented on #14681
One technical fix that would help for variants, is allow a board common to be a board. (same for cpu)
This would allow easily extending a board when you add a shield, or an external peripheral.

The technical limitation, last time I checked, was that a board implements the `board` module, `board_init()`, `periph`, instead of having it namespaced. If a board defines the `board_BOARDNAME` module, th

[2020-08-06 07:26] fjmolinas commented on #13267
With #14693 in this one can be closed, only failing tests are:

[code]

which are all expected failures, thanks for the great work @kaspar030!

[2020-08-06 07:26] #13267 closed

[2020-08-06 09:16] fjmolinas opened #14716 "documentation: information on review process, PR experience, what to expect?"
#### Description

This has come up a couple of times on different discussions as well as at FOSDEM. Here is the summary from FOSDEM @chrysn sent down the mainling list.

[code]

Would be nice to extend `CONTRIBUTING` to extend this, and maybe add it in the PR header template as well.

[2020-08-06 09:21] jia200x commented on #14690
I agree this snippet is not something we would like, but note that in most cases such an "upper_layer_set_l2_addr" might not be needed, since that `dev` interface is already an L2 interface.

In practice, this function would be the specific `netif_set` implementation for a given technology. They will differ between different MAC/network devices.

E.g setting LoRaWAN EUIs (little endian) works like

[2020-08-06 12:37] gschorcht commented on #14679
@miri64 Do you have any idea what the reason could be why Router Solicitation messages from the `esp_now` node are not answered by the border router? Perhaps it is the same reason why Neighbor Discovery does not work on the `esp_now` link.  A Neighbor Solicitation message is answered by the solicited node with a Neighbor Solicitation message for the initiating node.

Because of the traffic and the

[2020-08-06 13:09] miri64 commented on #14679
Mh... my first thought was that maybe something is wrong with multicast on `esp_now`, but your logs don't agree with that if I interpret them correctly.

For the following analysis I assume, `esp_now` is not using 6Lo-ND, as I remember that we decided that in the past.

For the router solicitation it looks like the receiving node is just not configured to send router advertisements (is the `RTR_AD

[2020-08-06 13:45] #14650 closed

[2020-08-06 14:16] gschorcht commented on #14679
You interpret them correctly. Although `esp_now` does not support MAC multicast but only MAC broadcast, IPv6 multicast works because IPv6 multicast packets are always sent via MAC Broadcast. For example, the Router Solicitation message which is sent by the `esp_now` node with MAC address `1a:fe:34:e5:ef:04` to the all-router multicast address `ff02::2` is received by the border router. ND also wor

[2020-08-06 14:18] gschorcht commented on #14679
Just to be sure, I set the global unicast address `2001:db8::1/64` manually since my Speedport Router doesn't support prefix delegation.

[2020-08-06 14:21] miri64 commented on #14679
Then it should be compiled in. Curious however, that the AR state is also printed (`GC` == garbarge-collectible, so a "normal" NC entry, not one used for address registration according to 6Lo-ND). Since you are not using 6Lo-ND, it shouldn't be there. Is maybe some conflict between a compiled-in `6LN` NIB config but acting as a non-6LN causing the problem :thinking:?

[2020-08-06 14:26] gschorcht commented on #14679
For the border router, I just use @benpicco's example with RPL compiled in
[code]
and on `esp-now` node
[code]

[2020-08-06 14:39] benpicco commented on #14679
I hope I'm not waking any sleeping dogs, but `esp_now` *is* marked as `GNRC_NETIF_FLAGS_6LN`

That would be a very weak argument. Our 802.15.4 radios don't use a "real EUI" either, the use one generated by luid as well.

[2020-08-06 14:55] miri64 commented on #14679
They don't use the same addresses as IEEE 802.15.4 though. But if we assume that the 48-bit addresses of `esp_now` are unique as we do with the the luid-based EUI-64s we could indeed use them to generate an EUI-64 as we do for Ethernet.

[2020-08-06 15:48] gschorcht commented on #14679
Declaring `esp_now` as `6LN` node was introduced with PR #13561. At that time, we had a discussion after the PR was already merged whether `esp_now` could be considered as a `6LN` node (https://github.com/RIOT-OS/RIOT/pull/13561#issuecomment-595276512). If I'm right, this discussion ended without result.

The initial discussion whether `esp_now` could act as a `6LN` and use 6Lo-ND, multihop prefix

[2020-08-06 16:38] gschorcht commented on #14679
Ok, if we suppose `esp_now` to act as a 6LN node, would that explain why Router Solicitation is not answered because 6Lo-ND is used for prefixes dissemination? As I remember, DHCPv6 is used in @benpicco's test environment to get the prefix on `esp_now` nodes.

[2020-08-06 16:59] benemorius opened #14721 "periph_pwm API needs a way to define the initial duty cycle during init"
### Description
The `periph_pwm` API has no way to provide an initial duty cycle during init. Most (?) implementations automagically initialize the duty cycle to 0% and enable the output. In the worst case, this can be the exact opposite of what the user wants.

#### Steps to reproduce the issue
Use PWM to drive an LED connected in an active-low configuration and try to initialize it in the off (0

[2020-08-06 18:18] #12910 closed

[2020-08-06 18:18] #13012 closed

[2020-08-06 20:53] wosym commented on #13079
@kaspar030 I did some more testing (This time again with an 1284p, but a different board. I scavenged the previous one for parts...)
What I did first:
* pull fresh master
* change pins
* add atmega_pcint (necesarry for interrupts)

What I tried:
* place pin-defines in main
* place pin-defines in srf04_params.h
* try pin-defines with magic-numbers instead of defined constants
* int --> int32_t (bot

[2020-08-06 21:04] kaspar030 commented on #13079
main and idle would make sense. I think atmega executes isrs on the stack of the active thread, which can be both in this case.

try adding this to the application makefile:

[code]

(main is derived from default, on atmegas, the default is 512. for idle, it is 128 IIRC.)

[2020-08-06 21:26] wosym commented on #13079
Aha, we're getting somewhere!

After adding that to the makefile (with still the previous changes) the behaviour is similar to what I experienced a few weeks ago. I recorded the output [here](https://youtu.be/reTXxl-yTdE).
The first 40 seconds are without debug enabled, the last 20 seconds are with debug enabled.

[2020-08-07 13:37] bergzand opened #14728 "stm32f7: Large performance difference between stm32f746 and stm32f767"
#### Description

The stm32f746 and stm32f767 are almost identical, only different peripherals and a different cache size, and one would expect at least somewhat identical benchmark results between the two cores. However, using `tests/bitarithm_timings` shows widely different results.

<details><summary>nucleo-f746zg</summary>

[code]

</details>

<details><summary>nucleo-f767zi</summary>

[code]

[2020-08-07 13:48] fjmolinas commented on #14728
Does this suggest that if we limit the amount of ISR vector to just the ones used by the application performance improves?

[2020-08-07 13:52] bergzand commented on #14728
Nope:

| IRQ lines allocated | msb | lsb | bits_set | test_and_clear |
|-----:|----:|----:|------:|-----:|
| 98 | 4529488 | 3793632 | 2145251 | 776978|
| 110 | 4023283 | 4601862 | 395107 | 1830507 |
| 256 | 5665571 | 4143884 | 395334 |  833976 |

[2020-08-07 14:43] benpicco commented on #14728
If we disable the cache, does the difference disappear?

[2020-08-07 16:31] samken600 opened #14732 "Interest for potential new examples using nanocoap with SAUL?"
I've been working on a few applications that I think might have a place as examples in the RIOT ecosystem. I spoke to some people in the IRC the other day and they suggested I make a post here. I was looking to see if this kind of thing is something that would be of interest to people here. I have two applications specifically that could be of use, would be great to hear any feedback and if people

[2020-08-07 17:31] kaspar030 commented on #14728
So by allocating a specific amount of isrs, we move all memory that's behind by 4b per isr, right? The a cache line on the f7 is 32b. If we graph the results with n isr, n+1, ..., and the results repeat every 8 isrs, this would at least partially hint at a cache line alignment issue.

[2020-08-07 18:03] benpicco commented on #13838
I'm still seeing this issue with `uhcp` and only one 802.15.4 interface on both border router and node.
The node is always restarted, but after a certain time it will always get stuck in the `TNT[3]` state.

Restarting the border router fixes this temporarily, so the problem must lie there.

[code]

Will provide more info for easy reproduction. Should I open a new issue for that?