[2017-10-11 16:07] smlng commented on #7713
also right, I see 2 sort RAs (namely at 1.5 and 16.2 seconds, for instance) and the next after roughly 500s and 1000s and so on (every 500s, approx). The standard defines 3 RAs retransmission in short succession when a link gets ready, however that is (and should be) configurable. I think its set to 3 but the comparison is _wrong_ so only 2 are actually send in short interval on start up.

[2017-10-11 16:10] smlng commented on #7713
hmm, maybe I tested with an older version, will retest - but the general behaviour is already right, just the actual count seemed of in my tests.

[2017-10-11 16:12] miri64 commented on #7713
Can you also reply to https://github.com/RIOT-OS/RIOT/issues/7713#issuecomment-335607482?

[2017-10-11 16:13] smlng commented on #7713
yes but it also states:

_The RECOMMENDED rate of retransmissions is to
   initially send up to 3 (MAX_RTR_SOLICITATIONS) RS messages separated
   by at least 10 seconds (RTR_SOLICITATION_INTERVAL) as specified in
   [RFC4861], and then switch to slower retransmissions._

what I saw was indefinite RS with an 4s interval in my tests, above it reads 10s for the first 3 and **slower** interval (that

[2017-10-11 16:35] vincent-d commented on #7719
Understood, but this code does not work anymore:
[code]
I am going to need to cast explicitly `adc->dev` then.

[2017-10-11 16:39] dylad commented on #7662
Yes I do, but I would like to know the community's opinion first :)

[2017-10-11 18:50] Hyungsin opened #7720 "SAMR21 RTC: cannot write register"
@smlng , #7632 adds "__I" for many registers, which makes them "read-only", resulting in compile errors when setting these registers (these should not be "read-only").

For example, this PR prevents RTC setting, which was fine before this PR.

[2017-10-11 19:05] Hyungsin commented on #7720
Accessing through the register is fine. Using "bit" is not fine.
So I think it has no problem eventually :)

[2017-10-11 19:05] #7720 closed

[2017-10-12 06:32] kbumsik opened #7721 "arpa/inet.h: No such file or directory"
Hi,
When I try compiling `tests/driver_enc28j60` with the following command,

I got an error:

[code]
Is it an unexpected error, or did I miss something? I would appreciate if someone let me know.
Thank you.

[2017-10-12 06:47] miri64 commented on #7721
Can you try with `USEMODULE += posix`?

[2017-10-12 06:51] miri64 commented on #7721
For me it is working with it, but there seems to be another dependency problem.

[2017-10-12 07:01] miri64 commented on #7721
See https://github.com/RIOT-OS/RIOT/pull/7722 to fix that definitively.

[2017-10-12 07:11] kbumsik commented on #7721
It compiles correctly with your fix in #7722 .
Thank you for a quick response :+1:

[2017-10-12 09:22] bergzand commented on #6888
Fixed with #7447, #7484 and #7448

[2017-10-12 09:22] #6888 closed

[2017-10-12 09:34] kaspar030 commented on #7058
Do you think it can be fixed?

[2017-10-12 10:00] haukepetersen commented on #7719
Just had an offline discussion with @cladmi: making the device descriptor pointer non-const again seems to be the way for us -> see #7723

[2017-10-12 10:06] #7719 closed

[2017-10-12 10:08] cladmi commented on #7719
I did not know that a `const dev_t *dev` pointer could be casted to `(void *)` without discarding `const`. That is why I chose this solution with side effects.

[2017-10-12 11:48] Tenderson commented on #7560
@cgundogan Can you be more specific? I simply build and flash my application on the fresh Nucleo144-f767 board and see no results from the shell.

I do the same on the Nucleo144-f429 board and it works well.

[2017-10-12 12:23] kYc0o commented on #7560
@Tenderson have you tried to update the ST-Link firmware on your nucleo-f767?

[2017-10-12 12:56] haukepetersen commented on #7662
Yes, there are reasons for this (though they might of course be debatable):
- the API should be as slim as possible -> any function (that is not there) counts
- the periph APIs should be as slim as possible and with this their implementations should not require any buffers -> but a polling uart_read function is not very useful without buffering

The concept in general is to keep the periph APIs an

[2017-10-12 18:40] dylad commented on #7662
I can understand your vision. Though I'm a bit confuse about it.

I agreed with you.

Yes we need a buffer for storing data using a read but isn't it the same for SPI & I2C ?

Of course, write specific wrappers is the best option when you need to grab some piece of code from outside into your RIOT app. But  I think a basic polled read could help newcomers to have a better apprehension of RIOT.

In

[2017-10-13 07:14] #7543 closed

[2017-10-13 08:08] haukepetersen commented on #7662
a) SPI is synchronous, UART is not
b) using SPI (we are talking about RIOT being the bus master), the amount of bytes that are to be transfered is known ahead of time, same goes for e.g. I2C

[2017-10-13 08:08] haukepetersen commented on #7662
Again, it would be simple to build a 'buffered_uart' module on top of the uart interface, which then provides buffering and the ability for polled reading.

[2017-10-13 09:07] kaspar030 commented on #7662
There's isrpipe.

These are the steps to read from uart, not polled but with a buffer:

[code]

We could think about wrapping that a little more nicely...

[2017-10-13 09:27] Tenderson commented on #7560
@kYc0o Yes, I updated the firmware with this tool, and still have the issue. Have you yourself tried on the nucleo144-F767?

[2017-10-13 09:29] haukepetersen commented on #7560
@aabadie would you mind to give this board a quick test run with current master to verify the STDIO working? Thx.

[2017-10-13 10:03] aabadie commented on #7560
@haukepetersen, I tested on iot-lab with current master and everything works fine.

@Tenderson, can you open a dedicated issue with a detailed description of your problem ? It will make things easier for people that want to help: AFAIU, your problem is related to nucleo-f767 which is not using the same CPU.

[2017-10-13 10:20] #6896 closed

[2017-10-13 10:23] aabadie commented on #6896
@astralien3000, may I ask why you are closing ? Did you find a solution ?

[2017-10-13 11:06] nmeum opened #7734 "stm32: approach for common peripheral definitions"
While porting RIOT to the bluepill port #7727 we noticed that there are many boards supported by RIOT which use the stm32f103 MCU. Since many definitions we added and tested are similar among the boards which use this MCU we wonder if it would make sense to implement a common `periph_conf.h` header file for those boards.

For instance if you compare the `periph_conf.h` header file of the nucleo-f1

[2017-10-13 11:59] haukepetersen commented on #7560
Sorry, was not precise enough: could you test it on the `nucleo144-f767`? AFAIK you are the only one with access to that board in this round...

But true, lets move this discussion in a dedicated issue for the `nucleo144-f767`...

[2017-10-13 12:03] aabadie commented on #7560
Unfortunately, the nucleos are not me today. Maybe next week.

@Tenderson, with F7 there are problems with old versions of GCC. Which one are you using ?
I have this one:
[code]

[2017-10-13 13:36] cladmi commented on #7667
A non breaking API change is to add a `flashpage_write_aligned(int page, page_write_input_buf_t *data)` function, with alignment type defined per cpu. And make the current "flashpage_write" implementations work with unaligned `*data`.
The `aligned` version could be faster, or just point to the safe version.

[2017-10-13 13:45] kYc0o commented on #7560
Yes, it was working fine since the PR which fixed the problem was merged.

Yes, for some reason we're using this issue to help (I think because we thought it was an easy issue), but true, it should have it's own.

[2017-10-13 16:21] miri64 commented on #7713
Yes for classic NDP it is 4s. I only stated the behavior was taken from 6LoND, not the timings ;-)

[2017-10-13 16:22] miri64 commented on #7713
@smlng have you?

[2017-10-13 16:57] travisgriggs commented on #7667
I will work up a PR for proposed solution #3 if I had some assurances it wasn't going to rot on the review pile... just say go.

[2017-10-13 17:54] aabadie commented on #6629
@Tenderson, try to avoid cross posting for the same issue and create a dedicated one.

Maybe you need to update the ST Link of your board. See [this page](http://www.st.com/en/development-tools/stsw-link007.html) for more information.

[2017-10-13 17:59] kYc0o commented on #6629
@aabadie I have already given that advice, but apparently it didn't work

[2017-10-13 18:36] dylad commented on #7662
Well, I'm fine with both proposed solutions. As long as we have the relevant documentation with it !
Would be great to have a ready-to-use solution :)

[2017-10-13 19:40] miri64 opened #7736 "RFC: A layered approach to netdev"
@haukepetersen and I today talked a little bit about the problems with `netdev_t` and how to dynamically add features independent from a specific device. Examples for this are

* common link-layer specific operations (e.g. IEEE 802.15.4 options (currently implemented in `netdev_ieee802154_t` or deduplication of received packets (currently implemented in #7577))
* link-layer address filtering (curr

[2017-10-13 19:45] miri64 commented on #7736
Another thing to consider might be that this could waste a few bytes of memory, since any of these layers could just call the next for certain operations without adding any new functionality (e.g. a netstats counter wouldn't be involved in `set()` or `isr()` wasting basically 8 byte of RAM and a bit of ROM for the calldown).

[2017-10-13 19:45] miri64 commented on #7736
But that might be *premature optimization* ;-)

[2017-10-14 10:14] gebart commented on #7736
Since many of the layers will only hook into one or two of the functions, another approach could be to change the functions themselves to linked lists, where the next function in the list is called if the argument is not handled by the current function. That would reduce memory usage when the layer implements 3 or less of the 6 API functions, and it would reduce the latency for the functions which

[2017-10-14 10:40] gebart commented on #7736
I do like the ideas here, it would certainly be possible to simplify MAC layer implementations if the netstats stuff could be broken out into its own layer, just counting the number of packets passing back and forth. And though it would be working the same way as today, I think it would make netdev_ieee802154_send/recv more visible. The monkey patching of send and recv being done by netdev_ieee802

[2017-10-14 11:35] nmeum opened #7737 "pkg: libcoap is partially broken and outdated"
I wrote an application for the RIOT board `pba-d-01-kw2x` which makes use of the `libcoap` pkg. The application compiles fine on `native` but when I compile it with `BOARD=pba-d-01-kw2x` the following error shows up:

[code]

This error seems to be caused by the fact that `#define HAVE_SYS_TIME_H 1` in set in `config.h` but `gettimeofday(3)` is not defined in that header for this platform. If you

[2017-10-14 19:55] kaspar030 commented on #7736
I don't see news here. Just bad documentation and its effects.

Netdev2 has been designed to be stackable from the beginning. Just add a "parent" pointer to any netdev_t and add some logic to pass send/recv/get/set calls up to that parents.

Was anyone listening when I said "implement mac layers stacked on top of the device drivers using netdev"?

[2017-10-15 06:41] gebart commented on #7736
@kaspar030 thank you, I think using netdev is a good solution for a MAC layer, but there's still the issue of allocating it somewhere for each network device. Do you have any suggestions on how to tackle that?

[2017-10-16 07:36] Tenderson commented on #7560
Hi @aabadie,

I also thought this should be a quick fix. I will create another thread in this regard. I will do more tests and configs to see if I can resolve it myself, and will keep you guys posted.

Thank you.

[2017-10-17 06:26] maitysubhasis commented on #7591
I have ensured that the SPI communication is working properly for my board (Openmote-cc2538).
Still the MAC address is showing 00:00:00:00:00:00. I am trying figure out what's the problem. Any have an idea what is going wrong?

[2017-10-17 15:43] miri64 opened #7741 "CI: Errorneous Makefile passed Murdock somehow"
When https://github.com/RIOT-OS/RIOT/pull/7014 was merged its errorneous Makefile somehow got pass all checks and the PR got merged (see https://github.com/RIOT-OS/RIOT/pull/7740).

[2017-10-17 15:44] miri64 commented on #7741
(searching the log reveals that they did not seem to be build at all...)

[2017-10-17 15:54] kaspar030 commented on #7741
Seems like murdock's get_jobs stage doesn't fail if one of the makefiles is broken. Will come up with a fix...

[2017-10-17 22:25] photonthunder opened #7743 "PM and samd21"
With PR #7726 which removed the weak implementation of pm_set_lowest it now defaults to pm_set_lowest implemented in sys/pm_layered/pm.c.  I am fine using this implementation but I don't have a handle for changing  PM_NUM_MODES since it is set as a #define in periph_cpu_common.h (maybe change this to an #ifndef?

Also where can I modify PM_BLOCKER_INITIAL. For it would appear that you want it to s

[2017-10-18 04:19] bnjroos opened #7744 "nrf52dk ?"
Is nrf52dk working with nrf52832 sdk ?

TIA

[2017-10-18 06:26] maitysubhasis opened #7745 "Can't write MAC address of ENC28J60"
@haukepetersen
I can't update the MAC address of enc28j60.
I am using the following code.

[code]
The output is always 00:00:00:00:00:00.
I also tried to read control registers with only 0 output.
I am using following pin configuration.
[code]

[2017-10-18 08:06] smlng opened #7746 "Ping6 fails on Remote (CC2538)"
Latest release [tests](https://github.com/RIOT-OS/Release-Specs/issues/47) revealed that sending pings from a remote (revb) doesn't work, after at most one ping RIOT hangs. Answering pings send by a samr21-xpro works, only sending seems to fail.

[2017-10-18 10:01] smlng commented on #7746
a bit of digging first showed that xtimer (specifically any sleep) isn't working  anymore, while the underlying periph-timer works. Afterwards, I checked with the last release (tag 2017.07) where everything is working fine, so I started to bisect with the following result:

[code]

so (again) some fiddling with the power management seems to break things.

Fix provided in #7752, likely that other c

[2017-10-18 10:33] smlng commented on #7746
cc2650 is not affected, for now.

[2017-10-18 10:34] miri64 opened #7753 "pic32-wifire: race-condition when linking in concurrent build"
When trying to build an application utilizing `xtimer` or `pm` multithreaded (using the `-j <n>` parameter for `make`; our buildtests do that) I sometimes (sadly not always, but I was able to reproduce it multiple times) get a linking error (I build `gnrc_networking` in this example):

[code]

[2017-10-18 10:59] gebart opened #7754 "info-buildsizes-diff broken"
For me, at least, it always shows the size of the selected board, for both new and old size for all boards.
If BOARD is unset, it shows the size of native or whatever default board is set by the Makefile.

Tested on examples/hello-world

Manually running arm-none-eabi-size on the binaries show different sizes.

[2017-10-18 11:07] gebart commented on #7754
I think the error is somewhere around here: https://github.com/RIOT-OS/RIOT/blob/master/makefiles/info-global.inc.mk#L59

[2017-10-18 11:57] florian-popup opened #7757 "Auto_init files not compiled nor linked"
Hello,

I m trying to use the gnrc_networking example with a custom board using an samd21 and mrf24j40.

but when I try to implement the mrf24j40 drivers, I get

So apparently the compiler doesn't take into account the sys/auto_init/netif dir.
I tried to include this dir directly in my board makefile without success

my Makefile for the board :

`MODULE = board

USEMODULE += mrf24j40
USEMODULE +=

[2017-10-18 14:20] aabadie commented on #7757
In the gnrc_networking example Makefile, you also  have to add your board to the list of netif boards. There's a variable for that.

[2017-10-18 15:33] florian-popup commented on #7757
The board selection was already made but apparently I was doing it wrong because I modified the board makefile and not the application makefile
I mostly followed the interesting step there https://github.com/RIOT-OS/RIOT/wiki/Tutorial:-How-to-port-a-radio-module-driver-to-RIOT-OS

In short I just added a conditional inclusion of radio module in the board makefile.dep
And put USEMODULE += mrf24j40

[2017-10-18 17:01] nmeum commented on #7698
Any updates on this? Isn't this a critical issue for the upcoming release?

[2017-10-19 12:13] cvgaviao commented on #6715
Hi, I'm also interested to use RIOT on CC1310/CC1350 Launchpads and my custom boards with those ICs.
Anyone have tried to use RIOT/boards/cc2650-launchpad on one of them ?

[2017-10-19 14:00] gebart opened #7767 "No default fall back when TERMPROG is not set"
#7758 broke my config because my environment has TERMINAL=urxvt set and there is no else clause in the ifeq block and there is no fall back if TERMPROG ends up being empty.

Can we change TERMINAL to something else? Some Unix environments (e.g. i3) expect $TERMINAL to be the preferred graphical terminal.

On a side note: `command -v` in bash without any argument returns 0 as error code, which prev

[2017-10-20 07:17] smlng commented on #6967
@nbars have a look at #7727, that should work - assuming you've one of those very cheap stm32f103c8 boards (from eBay for instance).

[2017-10-20 09:21] denzelwamburu commented on #6715
@cvgaviao  I tried but to no avail. My cc1310 board seems it didn't have enough memory

[2017-10-20 09:37] cvgaviao commented on #6715
@denzelwamburu, I will have a try this weekend.
But enought memory makes no sense because I'm running Contiki on my LaunchPads and what I have read is that Riot is smaller than contiki.

[2017-10-20 10:59] roberthartung commented on #7743
Let me give you some thoughts.

#7726 does not always use `pm_set_lowest` from `sys/pm_layered/pm.c`. Only if the CPU explicitely selects pm_layered, it will be used. Otherwise the default/empty (prev. weak) version will be used. So no changes here.

`PM_BLOCKER_INITIAL` is just a define you can set (#ifndef). Ideally you would set it in your periph_cpu.h as stated in `sys/pm_layered/pm.c`.
PM_BLO

[2017-10-20 11:01] roberthartung commented on #7743
@haukepetersen @kaspar030 Any other thoughts?

[2017-10-20 13:08] kYc0o commented on #4512
Well for me it just complains at build time:

[code]

[2017-10-20 15:59] kYc0o commented on #7033
Is this issue still exists?

[2017-10-20 16:13] miri64 commented on #7033
I think not. Don't have a machine to test, but if `make buildtest` chose boards + status it should be ;)

[2017-10-20 16:15] kaspar030 commented on #1749
Can we close this as "wontfix"?

[2017-10-20 16:17] kaspar030 commented on #1647
Isn't the path MTU in IPv6 defined to be at least 1280b?

Anyhow, can we close this?

[2017-10-20 16:20] kaspar030 commented on #1646
I've checked LPM and the rng. Seems like we finally have a fully supported board!

Feel free to reopen if you disagree.

[2017-10-20 16:20] #1646 closed

[2017-10-20 16:23] miri64 commented on #1647
Yapp, but @OlegHahm used to want smaller MTUs. For non-routing hosts this can also be totally valid an in the confines of the standard (it doesn't send packets bigger than the size it is comfortable with and just drops anything too big).

[2017-10-20 16:25] miri64 commented on #1749
I'm not against it ;)

[2017-10-20 20:10] kaspar030 commented on #904
Wit DEVELHELP, we now have a stack space check in ISRs. I consider this done. Feel free to reopen if you disagree.

[2017-10-20 20:10] #904 closed

[2017-10-20 20:29] photonthunder commented on #7743
@roberthartung thanks for the response.  I am on the samd21, and I have been using the weak implementation to allow me to create my own pm_set_lowest.  Since the weak implementation was removed and it know defaults to sys/pm_layered/pm.c I thought I would give it a try.  What confused me was the asserts, why are the options limited to 0x00 or 0xFF for the mode value?

[code]

That would make it ap

[2017-10-20 20:36] roberthartung commented on #7743
0xFF is used to prevent an overflow. When you overflow from 255 to 0 the level is unblocked and results in a system failure.

It is not about how many actual modes there are. It is more about usable and meaningful levels. It is up to the developer to choose the right number.

a) I am confused, because samd always should have used pm_set_lowest from pm_layered. The only thing you should modify is p

[2017-10-20 20:43] photonthunder commented on #7743
Thanks for the clarification, I was clearly reading that wrong and was getting confused.

a) Before #7726 the weak implementation would actually be the chosen function due to the order of files at compile time (there was an issue or PR that discusses this that I will have to go try and find again).  Thus, I would just stick my own version of pm_set_lowest in board.c.

b) I am interested in using t

[2017-10-20 20:58] roberthartung commented on #7743
a) As stated in #6709 / #6655 the build system was *not* correctly choosing the implementations it should! That's why we removed the weak definitions.

b) PM_NUM_MODES can be anything between 1 and 4 and has to match pm_set() which is *already defined* in `cpu/samd21/periph/pm.c`.

I had to look in the code of pm_layered. We will start at `mode = PM_NUM_MODES`which in our case is 3. Then we decrea

[2017-10-20 21:05] roberthartung commented on #7743
However I agree, that this is not usefull, because the layers are not correctly blocked/unblocked. Feel free to create a PR that provides a full pm implementation for the samd21. I will to the same shortly for atmega_common.

[2017-10-20 21:10] photonthunder commented on #7743
Thanks again for the clarification, it is a little confusing that PM_NUM_MODES = 3 represents 4 modes but I follow your explanation.  So if I want to use the standby sleep mode then I have to pm_unblock 3,2,1, and 0.  Then if I only want to go to idle 1 mode then I can pm_block(3).  I can then implement the pm_block/pm_unblock in my code to keep the cpu at different sleep states depending on which

[2017-10-20 21:12] roberthartung commented on #7743
`pm_block` and `pm_unblock` are intended to be used in the periph drivers, not the user code if not necessary.

[2017-10-20 21:13] jia200x commented on #7757
Hi @florian-popup

In case you are adding your custom board and the radio is embedded, you can add the mrf24j40 module in board's Makefile.dep ([E.g for Samr21-xpro](https://github.com/RIOT-OS/RIOT/blob/master/boards/samr21-xpro/Makefile.dep). Otherwise, just in the application Makefile should be fine.

This will automatically define the MODULE_MRF24J40 directive.

The sys/auto_init/netif folder w

[2017-10-20 21:17] photonthunder commented on #7743
But how do you know which sleep mode the user wants to enter, since that is normally application specific?  Do you make the mode value that goes into each function a value feed from periph_conf.h?  So the user can then specify the USART and as part of that specification what sleep mode to enter?

[2017-10-20 21:29] roberthartung commented on #7743
Power management is not that easy! In fact, it is veeery complex.

The sleep modes are dependent on the hardware. My approach for atmega_common is to define the minimum level required for each peripheral component or more specificly, which mode is invalid and has to be blocked.

**Please not that this is an old version**

[code]

The periph drivers will then simply block/unblock when power_on() or

[2017-10-20 21:32] roberthartung commented on #7743
FYI: I will update the wiki later, once this is completely implemented in atmega_common and I did extensive testing!

[2017-10-20 21:49] photonthunder commented on #7743
On the samd21 that will get very challenging since any peripheral can be hooked to any of the 9 clock generators.  You also have to set the peripheral and clock specific to the desired sleep mode, for example you have to set the RUNSTBY and/or ONDEMAND register for the clock source, clock generator, and the peripheral.

[2017-10-20 21:51] roberthartung commented on #7661
stm32l1 uses both: stm32_common and cortexm_common. As far as I understand, the MCUs might be similar and should therefore be implemented in stm32_common or cortexm_common. However, if you have a use case where too much #ifdef is used and you can show that it would be a good choice to separate pm.c for the different cpus (stm32l1, stm32f4, ..), go ahead and propose it in a new PR. But until then I

[2017-10-20 21:53] roberthartung commented on #6709
@cgundogan This should be fixed with 2017.10, could you verify again?

[2017-10-20 21:54] roberthartung commented on #6655
@immesys can you recheck with the 2017.10 branch?

[2017-10-21 07:28] kaspar030 commented on #7741
Fixed by #7742.

[2017-10-21 07:28] #7741 closed

[2017-10-21 20:06] nmeum commented on #7708
Here is a patch fixing the hangs in the cbor parser:

[code]

The problem was that the parser didn't check for errors after parsing key values in maps. So even if a key wasn't found it still invoked `cbor_stream_decode_at` for finding a value for a non-existing key.

Not sure if the patch is optimal but at least it doesn't hang anymore…

[2017-10-23 07:54] florian-popup commented on #7757
@jia200x

Thanks for your help, that's what I figured out.
I made a conditional inclusion of the mrf24j40 module in my board makefile definition if the auto_init_gnrc_netif and it compiles.

I get the UART working
`static const uart_conf_t uart_config[] = {
    {    /* Virtual COM Port */
        .dev      = &SERCOM0->USART,
        .rx_pin   = GPIO_PIN(PA,9),
        .tx_pin   = GPIO_PIN(PA,8),

[2017-10-23 08:23] smlng commented on #7746
but with #7752 merged this issue is resolved.

[2017-10-23 13:21] miri64 commented on #7767
Fixed in #7789.

[2017-10-23 14:53] miri64 commented on #7767
I don't understand how this is related to the rest at all :-/.

[2017-10-23 15:00] A-Paul opened #7792 "tests/posix_semaphore: fails"
While testing on 2017.10-RC1 with native the following error showed up.

[2017-10-23 15:02] miri64 commented on #7792
Isn't that fixed in https://github.com/RIOT-OS/RIOT/pull/7782?

[2017-10-23 15:29] A-Paul opened #7795 "tests/pkg_fatfs *mkfs* not functional"
Testing 2017.10-RC1:
In the shell *mkfs* always returns ``[FAILED] error 1 ``. Even if an image file has been created.
All other functions are O.K.

[2017-10-23 15:46] A-Paul commented on #7795
@miri64, it came up on native. But the error may be more general.
@MichelRottleuthner, can you set the *native* label this is platform specific?

[2017-10-23 16:07] thomaseichinger commented on #1646
3 years and 1 month. 😀

Congratulations to everybody contributing and perusing this.
(FYI removed the WIP label)

[2017-10-23 16:57] MichelRottleuthner commented on #7795
The error is specific to native. I'll provide a fix.

[2017-10-23 21:33] kaspar030 commented on #1749
I'll close, feel free to reopen.

[2017-10-23 21:33] #1749 closed

[2017-10-23 21:56] kaspar030 commented on #7736
Not really. If it is not possible to do that statically (in a not completely ugly way), we could consider allowing some kind of oneway-malloc that can be used only in auto-init.

[2017-10-23 22:11] photonthunder commented on #7743
Thinking more of the power management modes with regards to the samd21.  All peripherals can be run in any of the sleep modes, the real control is the run standby and on demand settings (as shown in Table 16-4, p. 135).  So what I would like to do would be to take the changes I made in PR #7315 (if I could ever get it merged) and then build on that for what sleep mode to block/unblock each periphe

[2017-10-23 22:12] kaspar030 commented on #7701
There's a software i2c implementation for MSP430 that you could give a try in #5415.

I'll close this for now, feel free to reopen if more questions arise.

[2017-10-23 22:12] #7701 closed

[2017-10-24 04:30] gebart commented on #7736
I think 1-way malloc is fine on init during boot. Maybe it would be an idea to add a 1-way malloc which works during boot but after calling a certain function (malloc_finalize or sth) then any calls to that malloc will cause a panic, to prevent inadvertent malloc uses and running out of memory. For systems where you don't need dynamic allocation, and want to be able to ensure stability.

[2017-10-24 09:32] smlng commented on #4590
was fixed by #6105 and is so again by #7785 (or #7780), so if one of the latter is merged this can be closed.

[2017-10-24 09:49] miri64 opened #7800 "cbor: fix module"
Last release tests found some quality defects in the `cbor` module (some of them known, some of them not). The following things need to happen:

- [ ] make sure the implementation is compliant with RFC 7049 (according to #7708 it is not)
- [ ] fix issues found by fuzzing (was #7708)
- [ ] move formatting to `fmt` based implementation (should fix #1891 partly)
- [ ] make sure POSIX-based functions

[2017-10-24 09:53] miri64 commented on #7287
I've collected all `cbor` related issues in #7800. Let's discuss there how to go on with that module.

[2017-10-24 09:53] #7287 closed

[2017-10-24 09:54] miri64 commented on #7411
I've collected all `cbor` related issues in #7800. Let's discuss there how to go on with that module.

[2017-10-24 09:54] #7411 closed

[2017-10-24 09:54] miri64 commented on #7708
I've collected all `cbor` related issues in #7800. Let's discuss there how to go on with that module.

[2017-10-24 09:54] #7708 closed

[2017-10-24 09:57] kaspar030 opened #7801 "posix: missing functionality"
- [ ] getaddrinfo() (see #841)
- [ ] (p)select() (see #4222)

[2017-10-24 09:57] kaspar030 commented on #841
Closed in favour of #7801.

[2017-10-24 09:57] #841 closed

[2017-10-24 09:58] kaspar030 commented on #4222
Closed in favour of #7801.

[2017-10-24 09:58] #4222 closed

[2017-10-24 10:07] kaspar030 commented on #7801
- [ ]￼ (p)select() (see #4222)

[2017-10-24 10:07] miri64 commented on #7801
?

[2017-10-24 10:11] kaspar030 commented on #7801
(there was a test comment which I deleted) I wanted to see if checkboxes in comments are possible and whether they're counted as if they're in the description. That would've allowed us to "vote" priority using github reactions. Unfortunately, it doesn't work that way.

[2017-10-24 10:15] gebart commented on #7767
I meant that the check for TERMPROG existence using `command -v` at https://github.com/RIOT-OS/RIOT/blob/master/Makefile.include#L386 reports that the TERMPROG command is working, even though the variable is empty, so no error message is displayed and the make script tries to execute some weird command line based on only TERMFLAGS.

I would have expected that I would see an error message saying `T

[2017-10-24 10:16] #7767 closed

[2017-10-24 12:10] #4590 closed

[2017-10-24 14:28] kYc0o commented on #4512
With #7783 and #7785 it now compiles for me, however it keeps rebooting when I force this test on any ARM platform.

I suggest to change the name of this issue and also state explicitly that the unittest for relic in ARM are disabled by default.

[2017-10-24 15:30] #7795 closed

[2017-10-24 15:31] miri64 commented on #7792
@A-Paul ping? Please test if #7782 fixes this issue and close it if so.

[2017-10-24 16:06] A-Paul commented on #7792
Tested on *2017.10-branch* (including backported fix https://github.com/RIOT-OS/RIOT/pull/7808).
No errors anymore.

[2017-10-24 16:07] #7792 closed

[2017-10-24 19:21] haukepetersen commented on #6052
Just ran the test again for the `2017.10` release spec tests on native: same faulty behavior - tests gets stuck after random intervals.

[2017-10-24 19:36] basilfx commented on #5928
Yes :-)

[2017-10-24 19:36] #5928 closed

[2017-10-25 07:27] #7757 closed

[2017-10-25 07:53] florian-popup opened #7828 "Spi communication with mrf24j40 fail but board can run test_spi sucessfully"
Hello,

I have a custom board with an atsamd21e18a and a mrf24j40ma as transceiver.
I can't get to make the communication work between those devices.

Here is the hardware configuration of my board

PA25 (physical pin 24) to SDO
PA24 (physical pin 23) to CS
PA23 (physical pin 22) to SCK
PA22 (physical pin 21) to SDI
PA19 (physical pin 20) to Reset
PA28 (physical pin 27) to INT
PA27 (physical pin 2

[2017-10-25 10:49] kaspar030 commented on #2726
Confirmed. I'll close.

[2017-10-25 10:49] #2726 closed

[2017-10-25 13:30] spth opened #7842 "FAQ: Why LGPL? only discusses LGPL vs MIT/BSD"
Currently, the FAQ entry "Why LGPL?" only discusses LGPL vs MIT/BSD.

I'd suggest to add one sentence on why LGPL instead of GPL (since GPL is the most common choice for free software).

Also, I wonder why RIOT is "LGPL 2.1" instead of "LGPL 2.1 or later" or "LGPL 3".

Philipp

[2017-10-25 14:19] miri64 opened #7846 "stm32f1: I2C read functions return bogus values with unconnected devices"
When testing for the 2017.10 release we noticed that the I2C driver for the stm32f1 returns `>0` when no device is connected (for testing run e.g. `tests/driver_ds1307` on `iotlab-m3` and compare the same application on `samr21-xpro`).

If that issue exists on other STM32 CPUs is not confirmed but needs to be tested as well. That is why I assigned a potpourri of different STM32 contributors to thi

[2017-10-25 14:37] miri64 commented on #4841
Those PRs were merged a while ago. Ist his issue fixed then?

[2017-10-25 14:50] kYc0o commented on #6473
I removed non-related OS X errors from the list according to @smlng [comment](https://github.com/RIOT-OS/RIOT/issues/6473#issuecomment-306437140).

However I still found errors and proposed a fix for one of them. @miri64 can you check the ipv6 related ones?

I'll open another issue for board related errors found by clang.

[2017-10-25 14:52] miri64 commented on #6473
Will do after the release.

[2017-10-25 14:54] miri64 commented on #5009
@MichelRottleuthner did you observer this behavior?

[2017-10-25 15:05] miri64 commented on #5207
Yes, I also did not encounter this during release testing, so let's close this one.

[2017-10-25 15:05] #5207 closed

[2017-10-25 15:22] miri64 commented on #6917
Hi @diegolondel,

sorry for the long delay. Did you connect the xbee shield via UART0 or UART1? The output usually goes over UART0 so if you also connect the XBee shield to that (which the shield does if you just plug it onto the headers), you get a conflict.

Hope that answers your question. Since this is from half a year ago I think you might have solved it by now, so I'm closing the issue.

PS:

[2017-10-25 15:22] #6917 closed

[2017-10-25 15:24] #7010 closed

[2017-10-25 15:27] miri64 commented on #7054
I think this is resolved by now (the PR you mentioned is merged). Reopen if you disagree.

[2017-10-25 15:27] #7054 closed

[2017-10-25 15:31] miri64 commented on #7431
I think that was fixed with the pm fallback solution, right? If not re-open, please.

[2017-10-25 15:31] #7431 closed

[2017-10-25 15:37] haukepetersen commented on #7045
not necessarily... We don't need to map everything just because we can, these mapping should be made in a sensible way I would say. So I'd say we go as we need them, makes sense?

[2017-10-25 15:37] haukepetersen commented on #7045
@raticate which board are you using?

[2017-10-25 15:37] haukepetersen commented on #7667
@kaspar030 @kYc0o you have a grip on this issue, right?

[2017-10-25 15:42] miri64 commented on #6567
@haukepetersen did you?

[2017-10-25 15:45] miri64 commented on #6817
That one was fixed by https://github.com/RIOT-OS/RIOT/pull/7476 so I'm closing this as well

[2017-10-25 15:45] #6817 closed

[2017-10-25 15:48] miri64 commented on #7033
Yes, issue is fixed.

[2017-10-25 15:48] #7033 closed

[2017-10-25 15:53] miri64 commented on #7330
I will look into that after the release.

[2017-10-25 16:00] haukepetersen commented on #6956
Sorry for the (very) late reply.

Just tested your setup also using two `samr21-xpro` nodes: it worked like a charm. Which mqtt broker did you try to connect to? Did you start one as described in the README of the `emcute` example? And did you connect to the correct address and port of that mqtt-sn broker?

The `success` message after a connection timeout is indeed an error, fix is here: #7848

As

[2017-10-25 16:00] #6956 closed

[2017-10-25 16:01] miri64 commented on #7698
It seems like most people testing for the release use older versions of glibc. @nmeum @pyropeter @cgundogan can you test with #7849?

[2017-10-25 16:01] cladmi commented on #7667
I can look into it after this week.

[2017-10-25 17:03] photonthunder commented on #7016
I have functioning code for all of these, I just don't know where to place them in the RIOT world.  I have seen some discussion of adding a wdt peripheral but nothing yet.  So give me some insight on where to place these functions and I would be happy to do it.

[2017-10-25 17:05] jia200x commented on #6578
@rmadhuraj is the initial issue solved?

OpenThread is now available in RIOT's master

[2017-10-25 17:37] miri64 commented on #7010
(closed because not reproducable with proper set-up)

[2017-10-25 17:47] immesys commented on #4841
I have not seen it again, so I think it is ok to close this. We can reopen if it shows up

[2017-10-25 17:50] miri64 commented on #4841
Alright

[2017-10-25 17:50] #4841 closed

[2017-10-25 18:26] MichelRottleuthner commented on #5009
@miri64 not yet, but I also haven't done any measurements specific to this issue yet ;)

[2017-10-25 21:48] miri64 commented on #5009
Do you have access to an IoT-LAB Opennode M3 or Mulle (the platforms the issue is known on)?

[2017-10-26 04:37] rmadhuraj commented on #6578
@jia200x yes, it is solved. Thank you. The reason is older gcc version.

[2017-10-26 04:37] #6578 closed

[2017-10-26 08:14] florian-popup commented on #7828
Some update

I checked the SPI communication with an arduino and my board. I can write on the SPI from my board to the Arduino with sucess.

I found out that some of my mrf24j40 had their connection between pad torn up (I had to resolder them because of a poor pad design). I changed all of the one that have been torn up.

I still get the [MRF24J40] Initialisation failure but it now it get 'through

[2017-10-26 08:23] bergzand commented on #7828
Hello,

These problems are the reason why there is code to test the communication between the SPI master and the mrf24j40. :)

That sounds like something that could be an issue.

The rest of your config looks good to me, I would suggest raising the clock speed of the SPI to at least 1Mhz. Although 100Khz should work just fine, I've had some weird issues when the clock speed is too low.

Do you hav

[2017-10-26 08:45] spth commented on #7842
Since the current "Why LGPL?"  entry is already rather long, it might make sense to rename it to "Why LGP instead of BSD/MIT" and add separate entries for the GPL vs GPL and LGPL 2.1 vs LGPL 2.1 or later / LGPL 3 questions.

Philipp

[2017-10-26 09:03] florian-popup commented on #7828
So I put the clock speed at 1MHZ and soldered way shorter wires to reach that speed and now it's working like a charm !

Thank you very much !

When you say

Where are they ? I just found the periph_spi under tests to test the spi but nothing directly related to mrf24j40 but in mrf24j40_internal.c if ENABLE_DEBUG is enabled

[2017-10-26 09:21] bergzand commented on #7828
Great to hear that!

[Here](https://github.com/RIOT-OS/RIOT/blob/master/drivers/mrf24j40/mrf24j40_internal.c#L44) is the code that verifies the SPI connection between the SPI master and the mrf24j40. It is only included when debug is enabled in `mrf24j40_internal.c`. I've added that code to the driver because it helps to quickly distinguish between connection related issues and driver related issu

[2017-10-26 09:26] florian-popup commented on #7828
So that's what I used primarily as debug function. It's indeed helpfull

Thanks again

[2017-10-26 09:26] #7828 closed

[2017-10-26 09:41] roberthartung commented on #5009
Using my PotatoScope with the most recent pm changes, cpu goes to idle and the radio being off I see the following for the inga_blue board:

![image](https://user-images.githubusercontent.com/2265899/32046153-79ad127c-ba42-11e7-8a18-ccc28b1b52ae.png)

I also see some periodic events (~66ms), but no saw toothing. So I guess it's board specific not RIOT specific?

[2017-10-26 09:43] miri64 commented on #5009
But then why doesn't Contiki do the same?

[2017-10-26 09:53] gebart commented on #5009
I could do some measurements on mulle on Saturday if I can borrow some equipment from a colleague before then. I used to see this pattern before but I haven't checked in a while.

[2017-10-26 09:55] miri64 commented on #5009
:+1: maybe I find some time to redo the tests on IoT-LAB.

[2017-10-26 11:14] kYc0o commented on #5009
AFAIR in my last tests I concluded that it was produced by the noisy environment on the IoT-Lab sites (lots of neighbor packet's dropped/refused). I'm skeptical about Contiki but I'll try to test soon similar setups with both OS.

[2017-10-26 11:58] #7698 closed

[2017-10-26 12:37] miri64 opened #7869 "CI: build native with clang as well"
Lots of our contributors use clang instead of gcc. However clang has a few different error behavior in some places. In the early days of CI I included the clang builds, Murdock however does not. Is this somehow possible?

[2017-10-26 13:44] haukepetersen opened #7871 "tests: add pexpect scripts to enable `make test`"
Doing the release spec tests, we found that having pexpect scripts for our tests is a good idea, as this is a first step towards automating the tests. I went now through all the tests and found, that there is a large number of them, that can easily be scripted/automated. I think it would make much sense to do so soonish, as this will save us much time down the line!

Trivial to automate:
- [x] fmt

[2017-10-26 13:47] aabadie commented on #7871
Nice one!

[2017-10-26 13:53] haukepetersen commented on #7744
I don't quite understand the question, do you mean if the `nrf52dk` port works with the nrf52832 development kit (meaning the hardware)? Or is the question if the port for the `nrf52dk` is using the Nordic SDK?

[2017-10-26 13:59] aabadie commented on #7871
If nobody objects, I can work on the pthread tests

[2017-10-26 14:23] kYc0o opened #7875 ""Minor" compiling issues found by clang"
Here you have a list of compiling issues I found using clang (with its respective PRs):

  - [x] **tests_driver_adcxx1c** fixed in #7856.
[code]
  - [x] **tests_driver_at86rf2xx** fixed in #7860
[code]
And some more which came after this one was solved.

  - [x] **tests_driver_enc28j60** fixed in #7857
[code]
  - [x] **tests_driver_encx24j600** fixed in #7858
[code]
  - [x] **tests_driver_isl29125

[2017-10-26 16:08] MichelRottleuthner commented on #5009
@miri64 I have access to iotlab-m3 boards, but for measuring in a sensible way it would be nice to have one of those "iot-lab connectors" to interface with the board without falling back to measure over USB or soldering probes directly to the board. Anyone here has one of those lying arround?

@roberthartung: just to be sure, you also verified that there is no sawtooth on a wider timescale? I'm as

[2017-10-26 17:27] maitysubhasis opened #7877 "SPI connection can't read 16 bit size register."
When I am trying to read a 16 bit register for MAC address from ENC28J60 only first 8 bit is read properly.
The second bit is always read as zero.
![image](https://user-images.githubusercontent.com/16653067/32067327-737d1362-baa0-11e7-9f43-3c69bf832398.jpg)
Here first line is CLOCK and second line is MISO. Data is read in rising edge. The output should be 01110011 11001110 but I get 01110011 00000

[2017-10-26 18:53] gebart commented on #7877
You need to provide a MWE (minimal working example) or at least some code to show how you are reading the SPI bus.

[2017-10-26 20:00] maitysubhasis commented on #7877
@gebart I am calling  `spi_transfer_reg(spi_t bus, spi_cs_t cs, uint8_t reg, uint8_t out)` from $RIOT/drivers/spic.c
[code]
`spi_transfer_bytes(...)` is in
$RIOT/cpu/cc2538/periph/spi.c
[code]

[2017-10-27 12:20] smlng commented on #7871
could everyone adapting a test also check if the list of blacklisted or board with insufficient memory is still up to date. I recently found that it is not, see e.g. #7836 were I reduced the number considerably.

[2017-10-27 12:40] gebart commented on #7877
@maitysubhasis I meant that we need to see your own code, the RIOT code is already available here on GitHub. Where do you get zeroes returned? Is the enc28j60 driver reading the MAC address as 00:00:00:00:00:00?

[2017-10-27 12:51] maitysubhasis commented on #7877
Yes the driver is reading the address as 00:00:00:00:00:00(when creating frames).

[2017-10-27 13:22] kYc0o opened #7886 "Security"
RNG unified (secure, or basic), seeding easy TinyDTLS integration in sock, with CoAP etc.
  - Related issues:
    - [x] #2264
    - [x] #3221
    - [x] #4882
    - [ ] #5150
    - [ ] #5659
    - [x] #7397
    - [x] #7649
 - Related PRs
    - [x] #4294
    - [x] #5675

RIOT default configuration = secure configuration (that's our goal/motto)
  - Related issues
    - [ ]

802.15.4 link layer securi

[2017-10-27 13:27] kYc0o opened #7887 "Testing"
Automated unit tests with hardware in the loop (SAMR21 plugged on CI server?)
  - Related issues
    - [ ] #3363
    - [ ] #3392
    - [ ] #7871
  - Related PRs
    - [ ] #7653
    - [x] #7845
    - [x] #7906

Automated network functionality tests (e.g. RPL + UDP/PING tests through border router, multi-hop) in IoTLAB dev sites? leverage PiFleet more?
  - Related issues
    - [ ] #3252

On-board CI

[2017-10-27 13:32] kYc0o opened #7888 "Low-level Hardware Support"
Improved MIPS support
  - Related issues
    - [ ] #6588
    - [ ] #6802
    - [ ] #7753

Radio support for TI SensorTag
  - Related issues - none
  - Related PRs
    - [ ] #5496
    - [ ] #5746

Radio support for Silab Thunderboard (EFM32)
  - Related issues
    - [ ] #1123
  - Related PRs
    - [ ] #5652

Improve x86/Quark support (e.g. Arduino 101) via QMSI (deprecated)
  ~~- Related issues~~

[2017-10-27 13:37] kYc0o opened #7889 "Documentation"
Merge RDMs in doxygen
  - Related issues
    - [ ] #6191  but closed

Develop a way to differentiate more clearly support levels in the documentation "initial support" from "basic support" and "full support"
  - Related issues
    - [ ]

Revamp RIOT website
  - Related issues
    - [ ]

[2017-10-27 13:48] kYc0o opened #7890 "Software Updates"
Prototype of firmware swapping, assuming the internal flash can contain 2 images and the bootloader, demoed on IoT-Lab_M3
  - Related issues - none
  - Related PRs
    - [ ] #7457
    - [ ] #7396

Firmware loading through serial using ethos, when no image is flashed on the node.
  - A firmware server can be started with the address and the firmware to flash.
  - Related issues
    - [ ]

Firmware

[2017-10-27 13:55] kYc0o opened #7891 "Peripheral drivers"
General issue on periph drivers #4758

Remodeling of the periph/i2c.h interface and subsequent adaption/rewrite of all existing implementations
  - Related issues
    - [ ] #6577

Cleanup and unification of low-level timer interfaces (timer, rtt, rtc)
  - Related issues
    - [ ] #7332

Introduction of spi_slave interface
  - Related issues
    - [ ]

Introduction of i2c_slave interface
  - Relate

[2017-10-27 14:05] kYc0o opened #7892 "Power Modes"
Implement PM interface for existing platforms
  - Related issues
    - [ ] #6802
  - Related PRs
    - [ ] #7897
    - [ ] #4980
    - [ ] #6111

`xtimer` use of RTT low-power timer
  - Related issues
    - [ ] #7332

Concept to fix shell usage issue while LPM activated
  - Related issues
    - [ ]

Integrate generic power management functions in device driver APIs (netdev, SAUL, ...)
  - Related

[2017-10-27 14:11] kYc0o opened #7893 "Network Stack Low layers"
BLE link-layer support (below HCI, port from MyNewt?) towards fully open source support of 6LoWPAN over BLE
  - Related issues
    - [ ] #4684
    - [ ] #7154

LoRa & LoRaWAN driver and MAC layer integration
  - Related issues - none
  - Related PRs
    - [ ] #5496
    - [ ] #7107
    - [ ] #7419

Duty Cycling Radio: finalize and merge lwMAC
  - Related issues
    - [ ] #3039
  - Related PRs
    -

[2017-10-27 14:16] kYc0o opened #7894 "Network Stack High layers"
Fix lingering NDP issues
  - Related issues
    - see https://github.com/RIOT-OS/RIOT/projects/6

ICN stack support clean-up
  - Related issues - none
  - Related PRs
    - [ ] #5648
    - [ ] #5914

Discuss mid- and long-term plans for network stack maintenance & development (GNRC vs other supported stacks)
  - Related issues
    - [ ]

Support for CoAP blockwise transfer, observe
  - Related iss

[2017-10-27 14:55] miri64 commented on #7894
What is this issue? Is this a copy of the Roadmap? I'm confused :-/

[2017-10-27 15:06] kYc0o commented on #7894
Yes, it's a step forward the organisation for the meetings.

[2017-10-27 15:59] miri64 commented on #7894
I'm not sure if having 9 issues for 1 meeting is scaling so well...

[2017-10-27 16:00] miri64 commented on #7894
One point is actually outdated (sorry for not updating the Roadmap): conn was deleted in April.

[2017-10-27 16:00] miri64 commented on #7894
(adapted the issue and the roadmap)

[2017-10-27 16:07] kYc0o commented on #7894
No that's not the point,  I'll send an email to explain.

[2017-10-27 16:45] kbumsik commented on #7888
FYI, [Intel discontinued the whole IoT products](https://www.cnx-software.com/2017/07/26/intel-curie-module-arduino-101-boards-are-being-discontinued-too/), including Curie, Quark, and Arduino 101, meaning Intel left the IoT devices market and not willing to release new products anymore.

[2017-10-27 18:33] smlng commented on #6967
closing with #7727 merged

[2017-10-27 18:33] #6967 closed

[2017-10-27 20:51] dylad commented on #6577
just one remark, adxl345 driver is missing from the list.

[2017-10-28 15:32] dkazantzas commented on #7893
Hi, I would love to help with that. How could I acccomplish that?

[2017-10-29 22:49] kYc0o commented on #7888
Yeah I was aware of that so I suppose we need to erase that from our roadmap.

[2017-10-30 06:41] #7754 closed

[2017-10-30 09:20] florian-popup opened #7909 "gnrc_networking fails on Raspberry pi running Ubuntu mate"
Hello,

I can't run the gnrc_networking, gnrc_tftp and gnrc_border_router examples on my raspberry pi 3 running ubuntu mate.
Compilation is fine tho.

 sudo make term
/home/pi-popup/prog/origin/RIOT/examples/gnrc_networking/bin/native/gnrc_networking.elf tap0
RIOT native interrupts/signals initialized.
LED_RED_OFF
LED_GREEN_ON
RIOT native board initialized.
RIOT native hardware initialization comp

[2017-10-30 17:21] photonthunder opened #7913 "need samd21 cpu/clock configuration options"
I would like options to adjust clock configuration options that are found in cpu.c.  I wanted to model what is done with other peripherals in periph_conf.h but the plethora of options makes it challenging.  I used to mock ASF for using a big include file where you set the clock settings as necessary but I am now starting to think it might be the only option.  Any suggestions on how to setup clock

[2017-10-31 03:59] Stupid-Git opened #7915 "Question: How does one use gnrc_border_router in a native linux environment?"
I would like to use gnrc_border_router with a number of instances of gnrc_networking where the wireless interfaces connect to tap0, tap1, tap2, ... created with "tapsetup -c n" and the border interface connected to another interface e.g. "taptowan".
I would envisage that the boarder router would be invoked in the following manner
$ bin/native/gnrc_border_router.elf tap0 taptowan

1. Is there a sim

[2017-10-31 18:39] smlng opened #7918 "Usage of GCC extension for binary constants"
I was trying to compile RIOT with `-Wpedantic` (+ `-Wall -Werror ...`) and ran into several errors like the following:

[code]

It seems that usage of `0b*` is not generally recommended. There are not that many places where such is used in RIOT, however, to get RIOT compiled with `-Wpedantic` in the (far) future we need to find a solution - or wait that compilers don't see this as a problem.

What

[2017-10-31 18:46] bergzand commented on #7918
I personally don't see a lot of extra value in binary constants above hex constants.
My preference would be to have them replaced by their hex equivalent and adhere a bit more to the C standard instead of relying on GCC extensions.

[2017-10-31 19:37] smlng commented on #7918
@bergzand that's exactly what I was thinking, too - but I want to open the discussion first, before changing anything blindly.

[2017-10-31 19:38] gebart commented on #7918
I like the binary literals because then the raw register values (like the frdiv option) matches literally the numbers in the reference manual and no manual conversion is necessary. Any kind of human conversion is always going to have a risk of introducing errors, and eliminating the extra conversion between hex/dec and binary is one way to reduce the risk. I know these three bit numbers are quite

[2017-11-01 04:43] agawande opened #7922 "Feature request: Port for ESP8266"
I would like to see the ESP8266 board supported as it is quite a popular board
I want to use https://github.com/named-data-iot/ndn-riot on it.
So far I have found these on the mailing list:

1. https://lists.riot-os.org/pipermail/devel/2016-February/003395.html
Following suggestion were made:
a) Read the porting guide
b) Use C SDK provided for the ESP8266: (https://github.com/espressif/ESP8266_RTO

[2017-11-01 13:08] miri64 commented on #7909
Hi @florian-popup,

did you call the `dist/tools/tapsetup/tapsetup` script beforehand? In general I don't exactly know, if the `gnrc_border_router` example currently runs sensible on native, since we only have support for Ethernet there at the moment.

Cheers,
Martine

[2017-11-01 13:08] miri64 commented on #7909
@cgundogan did you saw something similar on your Pi3 setup? (also mentioning you because of the RPL issue)

[2017-11-01 14:33] kaspar030 commented on #7918
I think we agree that binary literals do increase readability. But there are reasons for not using gcc extensions (which we can reconsider any time...).

Maybe we can mitigate the issue? Which editor are you using? I've made good experiences with [radical](https://github.com/glts/vim-radical.git) for vim.

[2017-11-01 15:01] cgundogan commented on #7909
On my pi3 it works with current master:
[code]

@florian-popup  What gcc version do you use?
[code]

Could use also provide more info on your architecture? (32-bit, 64-bit)?
[code]

On my pi3 I use:
[code]

[2017-11-02 08:31] basilfx commented on #7614
For workshops I once created a Ubuntu Image Customizer. It basically takes the live image, removes crap, adds additional tools and generates a new ISO file. I've created a version that should install enough tools to run `make` for `examples/default`. You can find the customizer here: https://github.com/basilfx/RIOT-ubuntu-image.

To get started, download Ubuntu 16.04.3 desktop image, and follow th

[2017-11-02 08:33] haukepetersen commented on #4271
The concept above is basically what we do today. It still has flaws (as pointed out by @immesys above), and we definitely need to do another major iteration on our overall device driver model concepts. But for now I consider this issue closed.

[2017-11-02 08:33] #4271 closed

[2017-11-02 08:36] haukepetersen commented on #3418
It seems to me, that everything we didn't (re-)merge until today can't be important. So closing this issue now.

[2017-11-02 08:36] #3418 closed

[2017-11-02 09:30] florian-popup commented on #7909
@miri64 Thanks for your help

Usually I bring the tap0 interface myself as in the gnrc_networking example
sudo ip tuntap add tap0 mode tap user ${USER}
sudo ip link set tap0 up

I tried to do it via the tapsetup script but I got the exact same error when executing gnrc_networking.
gnrc_border_router is a bit different for me because I need to modify the code, I will use directly an interface inste

[2017-11-02 10:49] Tenderson commented on #7614
@basilfx Thank you, This is really helpful. I will check it in details.

My main issue was to setup the debugger like GDB on the Eclipse for the Riot to debug programs on the ST Microcontrollers....

[2017-11-02 14:40] kaspar030 commented on #2967
Fixed by #7880.

[2017-11-02 14:40] #2967 closed

[2017-11-02 14:42] kaspar030 commented on #6709
Fixed by #7726.

[2017-11-02 14:42] #6709 closed

[2017-11-02 14:43] kaspar030 commented on #6655
The weak functions don't exist anymore since #7726.

[2017-11-02 14:43] #6655 closed

[2017-11-02 18:12] cgundogan commented on #7614
@Tenderson Just FYI: I remember that we tried ~2 years ago a setup where we started a gdb server in the vagrant box and forwarded the port out of the box, so that an Eclipse running in the host system could connect to it.

[2017-11-02 18:43] cgundogan commented on #7614
hm, if general consensus is that we put more tools à la Eclipse into the box, then we definitely need an Ubuntu version with X/Wayland. Currently, we use the server edition without any graphical user interface.

[2017-11-02 18:46] cgundogan commented on #7909
well, we can work with seg faults. Illegal instructions are much more complicated (:

Could you try to pin-point where the segfault is thrown?

Try:
[code]
and then `run` in the gdb shell.

[2017-11-03 07:59] florian-popup commented on #7909
Oh, I was wondering why I didn't get any more explicit error message :-)

Here is the output

pi-popup@pi-popup:/opt/src/RIOT/examples/gnrc_networking$ sudo make clean all term
..
   text	  data	   bss	   dec	   hex	filename
 141323	   592	105324	247239	 3c5c7	/opt/src/RIOT/examples/gnrc_networking/bin/native/gnrc_networking.elf
gdb -q --args /opt/src/RIOT/examples/gnrc_networking/bin/native/gnrc_

[2017-11-03 08:22] cgundogan commented on #7909
@florian-popup hm that's weird. I have no idea why registering SIGINT should fail. Another thing I notice is that your gdb says:
[code]

I don't see that on my pi3 .. could this problem be related to that? Some (quick) googling didn't reveal the solution, but this **warning** of gdb seems to be known on arm architectures.

[2017-11-03 08:26] florian-popup commented on #7909
https://bugzilla.redhat.com/show_bug.cgi?id=119618

Speaks about this one exactly

[2017-11-03 13:27] maribu commented on #6857
Hi,

the loop

[code]

in `cc110x_get_reg_robust` in https://github.com/RIOT-OS/RIOT/blob/master/drivers/cc110x/cc110x-spi.c is never terminating. This causes the hang.

[2017-11-03 13:48] maribu commented on #6857
`printf("res1 = %u, res2 = %u\n", (unsigned int)res1, (unsigned int)res2);` in this loop prints:

[code]

[2017-11-03 14:47] maribu commented on #6857
Let me summarize what I figured out so far:

- The function `cc110x_get_reg_robust` is used to read out a register twice until both reads return the same value.
- The address read in the loop is `0xfa`, so `addr | CC110X_READ_BURST` which is `0xfa | 0xc0` which is `0xfa` points to the register "TXBYTES" in read burst mode.
- The corresponding call is in `static void _tx_continue(cc110x_t *dev)` in

[2017-11-03 23:37] kYc0o commented on #7893
@dkazantzas we started a thread on our mailing list to discuss about this topic. You can subscribe at [devel@riot-os.org](https://lists.riot-os.org/mailman/listinfo/devel).

[2017-11-04 17:38] aabadie commented on #6502
This one can be closed since #7504 was merged.

[2017-11-04 17:38] #6502 closed

[2017-11-06 00:24] maribu commented on #6857
Hi again,

this little patch will get the device stop from hanging by using the status byte instead of reading the register:
[code]

However, this approach is suboptimal: The status bytes contains the number of free bytes in case this value is less than 15. If 15 or more bytes are available, the value 15 will be given. If reading the TXBYTES from the status register would not result such headaches

[2017-11-06 10:02] florian-popup commented on #7909
@cgundogan @miri64
I guess that the errors I get are related to the OS.
I don't get any errors from running it under raspbian but I get it when running under ubuntu mate.
It can related to the same error that makes the newer version of firefox crash on ubuntu mate in raspberry pi

[2017-11-06 10:48] cgundogan commented on #7909
@florian-popup thanks for the hint and testing with raspbian and ubuntu. Do you have any clue whether they use different libc versions?

[2017-11-06 11:08] florian-popup commented on #7909
So far my setup is

Raspbian (gnrc_networking working), rpi3

ldd (Debian GLIBC 2.24-11+deb9u1) 2.24
Copyright (C) 2016 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
Written by Roland McGrath and Ulrich Drepper.

Ubuntu Desktop (gnrc_networking working), pc, intel

[2017-11-06 12:23] haukepetersen commented on #4472
As #4862 was merged some time ago, I consider this issue closed.

@punchcard60 please re-open of you disagree.

[2017-11-06 12:23] #4472 closed

[2017-11-06 12:36] haukepetersen opened #7941 "periph: remove dev_enums.h"
The `drivers/include/periph/dev_enums.h` file was introduced for backwards compatibility when we changed the style of doing the board configuration in `periph_conf.h` some time ago. Most of the periph drivers are remodeled by now, though some are open. Except the `i2c` drivers, which will be remodeled while reworking the complete interface, the following drivers need adaption:

timer:
- [ ] samd21

[2017-11-06 13:07] kaspar030 opened #7942 "forced uncrustify"
I've noticed that uncrustify does some things that I don't like, e.g., some variable alignment.

Can we maybe come up with an (additional) uncrustify config that only fixes the style issues we'd be enforcing anyways?

We could then cleanup our codebase once, then make the CI force these issues.

[2017-11-06 13:14] florian-popup commented on #7909
@cgundogan

I installed the libc6 version of stretch (same as Raspbian) directly from the stretch repo on my ubuntu mate
So now I get

ldd (Debian GLIBC 2.24-11+deb9u1) 2.24
Copyright (C) 2016 Free Software Foundation, Inc.
This is free software; see the source for copying conditions. There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
Written by Roland McGrath

[2017-11-06 13:15] miri64 commented on #7942
Kind-of duplicate of #4363...

[2017-11-06 13:23] kaspar030 commented on #7942
True! will close.

[2017-11-06 13:23] #7942 closed

[2017-11-06 14:38] kbumsik commented on #7721
I will close this issue since #7722  is merged.

[2017-11-06 14:38] #7721 closed

[2017-11-06 16:10] miri64 commented on #4499
Fixed by #7925

[2017-11-06 16:10] miri64 commented on #5005
Fixed by #7925

[2017-11-06 16:10] miri64 commented on #5122
Fixed by #7925

[2017-11-06 16:11] miri64 commented on #5467
Fixed by #7925

[2017-11-06 16:11] miri64 commented on #5539
Fixed by #7925

[2017-11-06 16:11] miri64 commented on #5790
Fixed by #7925

[2017-11-06 16:11] miri64 commented on #5656
Fixed by #7925

[2017-11-06 16:23] aabadie commented on #4560
Is this one still valid ?

[2017-11-06 16:39] travisgriggs opened #7944 "SAML/D/R needs more configuration flexibility"
I believe that the configuration options for the SAM chips must change if RIOT on these chips is to be competitive in the realm of low power consumption. The following is an excerpt from an email I originally sent to one of the mailing lists:

I don't have an entirely clear design proposal on how to achieve this yet. But I can see some of the pieces. One of the first is to modify all of the sam0 p

[2017-11-06 16:47] PeterKietzmann commented on #3020
This is not WIP anymore. Basic support has been provided. Open checkboxes won't be implemented as part of this project so I'll close the issue now.

[2017-11-06 16:47] #3020 closed

[2017-11-06 16:51] photonthunder commented on #7913
@travisgriggs added a large issue that would help solve this question if addressed (PR #7944)

[2017-11-06 17:14] photonthunder commented on #7944
PR #7315 was an attempt to try and address the symptom but does not address the issue.  I do like the idea of a pluggable clock_startup function (default exists but can be overwritten) that is setup with the freedom to set your clock specific to your needs, especially if paired with a peripheral configuration that sets which clock is in control.  Looking at other boards it appears that the STM32 h

[2017-11-06 19:41] gebart commented on #7944
Regarding core clock source: the Kinetis driver uses a (somewhat bloated) configuration struct that is usually placed in ROM, and the periph driver for the MCG (Multipurpose Clock Generator) takes care of starting the relevant oscillator sources depending on which mode was chosen and also provides a function for moving between the different modes to select the chosen FLL/PLL settings (or no FLL/PL

[2017-11-06 20:12] basilfx commented on #4243
I've created #7945 based on the example of @mgielda.

[2017-11-06 20:23] photonthunder commented on #7944
Looking closer at the stm32 it looks like there is c code that creates a clk configuration that you can then put in your periph_conf.h file.

[2017-11-06 21:00] fjmolinas opened #7946 "sdcard_spi & xtimer issue"
Hi,

I have been using the sdcard_spi test found in RIOT/test/driver_sdcard_spi. I'm running it on master on the nucleo-l1. The test freezes up while initializing the sdcar_spi driver. This happens around this block of code (at sdcard_spi.c):

`                gpio_set(card->params.clk);
                xtimer_usleep(SD_CARD_PREINIT_CLOCK_PERIOD_US/2);
                gpio_clear(card->params.clk);

[2017-11-06 21:38] gebart commented on #7946
A backoff value of 3 seem low. It's that board running with a 1 MHz hardware timer or is it lower?
The backoff value is used internally by xtimer to avoid setting a timer target in the past and the value is hardware dependent. Try increasing the xtimer backoff parameters, or just remove the definitions and use the defaults provided by xtimer.h

[2017-11-07 07:39] basilfx commented on #7639
With #7241 merged, this isn't an issue anymore, right? If the MCU doesn't support/provide `*_NUMOF`, it shouldn't list it, and the driver doesn't get compiled.

[2017-11-07 09:06] roberthartung opened #7947 "pm: provide way to disable uart_stdio rx"
The pm_layered module is used to automatically enter power modes if they are not blocked. However, the U(S)ART is usually initialized automatically:

find . -name "board.c" | xargs grep "stdio_init"

./boards/telosb/board.c:    uart_stdio_init();
./boards/waspmote-pro/board.c:    uart_stdio_init();
./boards/z1/board.c:    uart_stdio_init();
./boards/arduino-atmega-common/board.c:    uart_stdio_ini

[2017-11-07 10:58] gebart commented on #7947
It's usually the UART RX that will block the low power modes. In my opinion, it should be possible to disable UART STDIO RX for low power without messing with the board configurations (periph_conf.h).
Then the application will be able to define a flag in its Makefile to allow full low power modes, and disabling stdin.

Also, I'm not sure all drivers have been updated yet to conditionally block low

[2017-11-07 10:59] roberthartung commented on #7947
@gebart ACK. That's the define/flag I mentioned above. We need an easy way to overcome this issue, where you want to deploy a node and don't care about UART anymore.

[2017-11-07 11:02] gebart commented on #7947
@roberthartung I still think it's useful to have the possibility to use the UART for TX only even in low power applications, so the uart_stdio_init should still be run during boot on low power applications, only it should not enable the RX configuration if the low power flag is set. It helps tremendously with debugging to have some sort of output channel.

[2017-11-07 13:19] dylad commented on #7947
What about disabling the UART at runtime just before going to sleep and re-enable it when the device wakes up ?

[2017-11-07 13:32] roberthartung commented on #7947
@gebart Then we should name it PM_ENABLE_FULL, PM_DISABLE_UART_RX or something like that?

@dylad That's what I am doing now and it sucks. I don't want to do this for every application all over again. When deploying I just want to be able to call `make BOARD=... PM_ENABLE_FULL=1 flash` and be good to go. And this will just disable UART tx and rx.

However we can think about disabling the RX part a

[2017-11-07 13:34] roberthartung commented on #7947
Additionally, this would require in separating tx and rx mode of a uart, which is somewhat wishful and we should work on that?

[2017-11-07 13:38] dylad commented on #7947
I'm just wondering... Could we just UNDEF both gpio within periph_conf.h file to prevent the stdio driver from enabling UART in your case ? or something like that ?

[2017-11-07 14:35] roberthartung commented on #7947
@dylad Well that's my point, it's not about *my* case - I have a working solution. We need a solution for all platforms in a uniform way. Additionally, I am not sure what you actually mean? UNDEF shouldn't be used anyway anymore - see #5757.

[2017-11-07 14:41] dylad commented on #7947
Sorry I was not clear in my previous post. What I really mean is the possibility to define both rx & tx pins as GPIO_UNDEF. Then we need to rewrite a bit of uart_stdio in order to check if rx & tx are defined (or defined as GPIO_UNDEF) and so enable or not this UART. This way, user just have to overwrite their periph_conf.h board file to disable this UART.

[2017-11-07 15:16] biboc commented on #5790
Great, I believe you!

[2017-11-07 16:13] vincent-d commented on #7947
I have a protoype somewhere where the shell powers down the uart after an inactivity time, then enable the rx pin as external interrupt for wake up. When a message is received the uart is then powered back on. The first character is the missed...
To do that I had to add a function in the uart driver to turn on the rx pin as an interrupt.

The main drawback of that approach is that some UARTs can s

[2017-11-07 16:31] roberthartung commented on #7947
@dylad I am not sure how that should work by just defining the Pins? Can you Sketch something? Because the uart driver has to be separated for TX and RX, i.e. not enabling both TX and RX mode at the same time.

@vincent-d low power uarts have been discussed as Dagstuhl this year already. We really should also think about how to integrate these. Maybe a lpusart interface is required? TBD.
This migh

[2017-11-07 16:41] photonthunder commented on #7947
For my application it is very useful to leave the stdio/debug on even in deep sleep mode, that way you can log a suspect node's output.  Our current implementation is to put the printf output into a buffer and then wait for the buffer to empty before sleeping.  If you implemented a buffer approach, with a minimal printf (which would be a very nice feature), then you could just let the buffer fill

[2017-11-07 16:45] roberthartung commented on #7947
well - I'd use puts() for that, not printf.. probably - not sure. I am looking more into long-term WSN applications where you deploy your network and it does its thing. There's nothing you can log things/errors to - it just has to work!

But missing a character is obsiously not acceptable @vincent-d - IMO we should only allow turning on/off the uart if we can make sure we're not missing any data!

[2017-11-07 16:46] roberthartung commented on #7947
Well then you can just do uart_off() at the beginning and uart_on()/uart_off() on the specific debug part in your code?

[2017-11-07 16:49] photonthunder commented on #7947
Good point, but I would prefer if these kind of features (minimal printf/buffered) could be incorporated into RIOT.

[2017-11-07 16:53] vincent-d commented on #7947
I agree, but all my UARTs can be disabled without losing character (I have a wake up pin from the other side) except the shell, which I use only for debug purpose. But I still need to allow low power. So I tried it in a hacky way.

[2017-11-07 16:54] gebart commented on #7947
I see a number of things that needs improving in this area:

 - Make sure that all uart peripheral drivers follow the documented behaviour that if the rx_cb parameter to uart_init is NULL, then the UART will be TX only.
 - Only block power modes when necessary, e.g. don't block power modes in TX only, and don't block power modes if the UART supports waking from sleep on the RX pin (very much platf

[2017-11-07 17:10] photonthunder commented on #7947
@gebart, is there a way to keep the newlib implementation awake until empty (a flag or something)?  Typically I just set up a ring buffer in uart.c and then just have a thread that keeps things awake until empty.

[2017-11-07 18:24] dylad commented on #7947
@roberthartung as @gebart said, the easiest way is to put a guard on driver side to ensure tx pin is enable or not (depends of the pin definition within periph_conf.h). Some drivers (not all I think) already check the behaviour of the rx pin before initialize the reception side.
Then you just have to make a PR for the patch on the UART driver for your platform and modify your periph_conf.h regardi

[2017-11-07 19:14] roberthartung commented on #7947
@dylad that‘s the Point!! The Board is independent of the application! Changing the board‘s periph_conf.h for the applications is wrong! We need a solution on application basis.

[2017-11-07 20:28] dylad commented on #7947
Then we have to do it either at runtime (need to write new function to control it) or use some flags.
I don't know what would be better...
Another solution would be to call uart_poweroff at the beginning of the application to disable hardware AND add a guard on UART driver to check if UART is hardware-enabled within the uart_write function. What do you think ?

[2017-11-07 20:47] MichelRottleuthner commented on #7946
Related: #7347, #7349
You can use the test `xtimer_usleep_short` to verify if your updated [XTIMER_BACKOFF](https://github.com/RIOT-OS/RIOT/blob/master/boards/nucleo-l152/include/board.h#L35) is high enough.

[2017-11-07 21:45] gebart commented on #7947
I agree that it should be possible to disable it per application without modifying the board periph_conf.h file. It could be implemented as simply as adding a preprocessor condition to set the RX callback to null during init if some flag is set, that way it will be possible to override from the project Makefile (CFLAGS+=-DUART_STDIN_DISABLE or similar).

[2017-11-08 12:36] fjmolinas commented on #7946
Yes any of those fixes the issue. Should I close since its related to  #7347 and #7349?

[2017-11-08 13:47] MichelRottleuthner commented on #7946
Closed because the above mentioned issue already covers this problem.

[2017-11-08 13:47] #7946 closed

[2017-11-08 15:18] roberthartung commented on #7947
@dylad Runtime always comes with an additional cost (more energy consumption?). Adding a guard has the same problem but that's the trade off you need to take, if you want to be flexible - I guess.
Therefore I think we need both. As @gebart we should think of adding a Makefile flag, which would then disable the UART completely, both for online stdin, stdout, or both! And you cannot turn it on in ru

[2017-11-08 15:57] photonthunder opened #7962 "When to use FEATURES_PROVIDED vs USEMODULE"
I think PR #7241 tries to fix how you add in peripherals but I am still unclear on the proper approach.  For my current board running the latest master (710771a) I need to have most of my periph's declared using USEMODULE:

[code]

However, I still have to use FEATURES_PROVIDED for periph_uart:

[code]

So what is the proper way to include peripherals, and why the discrepancy with periph_uart?

[2017-11-08 16:17] kaspar030 commented on #7962
Why do you have to do that?

The proper way is to create proper dependencies. For drivers, it would be ```FEATURES_REQUIRED += periph_xxx```, in ```drivers/Makefile.dep```. If e.g., spi depends on gpio, it needs to be specified in ```cpu/$(CPU)/Makefile.dep```.

Only if a specific port *always* needs code of one of the periphs, it is OK to just add the corresponding USEMODULE line into e.g., the C

[2017-11-08 16:56] photonthunder commented on #7962
Previously I had everything defined as a feature required in my makefile.features for my board.  That no longer compiles, so I had to include USEMODULE instead to get it to compile.  Except for UART which wouldn't compile unless I used FEATURES_REQUIRED still.

[2017-11-08 16:59] gebart commented on #7947
You don't need to change anything with printf, without enable_debug there are almost no printf calls in the OS (shell does print something always). All printf and puts and other stdout writes will end up in the write syscall, which in turn calls uart_stdio_write, so all you need to do to disable your uart is to make the uart_stdio_write call return without actually writing anything. The printf cal

[2017-11-08 17:10] photonthunder commented on #7962
So to restate my question. If I want for example to include the ADC peripheral in my board code what is the RIOT way to do that?  I am assuming USEMODULE is the proper way now, but why does uart still require FEATURES_REQUIRED.  By the way this is the error I get:

[code]

[2017-11-08 17:20] Stargateur commented on #5497
@kaspar030 Hello, just reading randomly your thread.

`uint8_t` is not a byte it's a octet, `char` is a byte, this is important because your are talking about C compliant code. In C, byte != octet, char could be greater than 8 bits, but `uint8_t` if defined has exactly 8 bits. Plus, `uint8_t` is not a character type so strict aliasing exception with character type theoretically don't work with `ui

[2017-11-08 18:31] miri64 commented on #7721
Sorry we needed to revert that (see #7967), since that merge was against the GNRC merge-embargo. But it is fixed in #7925.

[2017-11-09 00:53] kbumsik commented on #7962
Which board are you using? AFAIK `FEATURES_PROVIDED += periph_uart` is not supposed to be used in project Makefiles. `FEATURES_PROVIDED` is used in board [Makefile.features](https://github.com/RIOT-OS/RIOT/blob/master/boards/samr21-xpro/Makefile.features) and `FEATURES_PROVIDED += periph_uart` means, in Makefile.features, the corresponding board has driver port for UART.

So if you have to use `FE

[2017-11-09 08:40] kaspar030 commented on #7947
Thanks for bringing this up! Apart from always blocking the low-power mode, uart_stdio also uses quite some memory and code.

How about a pseudomodule ```uart_stdio_rx``` that is selected by default, but can be disabled. In uart_stdio we'd setup rx based on that module.

I'll come up with a PR.

[2017-11-09 08:51] roberthartung commented on #7947
@kaspar030 How about doing both uart_stdio_rx and uart_stdio_tx which are *not* selected by default and applications have to choose it explicitely? Or on the other hand, it can be selected by default, but being disabled.
BTW: How would you disable such a module?

[2017-11-09 08:52] dylad opened #7972 "interests of periph_init() function ?"
I would like to understand the use of  periph_init function within cpu.c file in order to initialize all available SPI.
The call of periph_init.c is handled by the drivers/periph_common/init.c

Why initialize all available SPI here ? Shoudn't we let the user & his app doing it ?

[2017-11-09 08:54] dylad commented on #7947
@kaspar030 Why only RX ? We should be able to disable TX too.

[2017-11-09 09:09] kaspar030 commented on #7947
Is there a use-case for having only RX but not TX?

[2017-11-09 09:14] kaspar030 commented on #7947
We could make it a DEFAULT_MODULE. Then it can be disabled usind DISABLE_MODULE.

[2017-11-09 09:22] dylad commented on #7947
This is not what I mean, I was thinking of disabling both RX and TX at the same time. So user can disable RX only or both RX and TX.

[2017-11-09 09:25] roberthartung commented on #7947
I agree, I don't see a use-case for only having RX, but not TX for now. See my comments in #7974 .

[2017-11-09 09:53] vincent-d commented on #7947
Being able to disable rx for stdio is one step forward, but I still think we need a consensus on how to handle low power with uart rx.
There is a lot of use cases where you could want to wake up from uart rx and loosing one character would be acceptable. But there is no common solution for that so far.

[2017-11-09 09:58] roberthartung commented on #7947
I can't agree on this one. We know that UART has bit errors, but accepting to loose a character in this use cases, when we're in low power modes / waking up, is not acceptable in my opinion and RIOT should not support is. Therefore I suggest, that we don't allow sleeping when UART is still in RX mode.
However, if you want RX in sleep modes, you should choose a platform that has a low power UART. I

[2017-11-09 10:27] vincent-d commented on #7947
@roberthartung I worked with different microcontrollers for an old project and none of them had low power UART. The wake up was done by sending a dummy character first. Maybe this is a bad design, but sometimes you don't have a choice.
I still believe this mode is usefull, but I agree it should not be the default implementation. But I don't see any way of having a common api/behavior for all kind

[2017-11-09 10:38] haukepetersen commented on #7972
1 -> please refer to the doxygen of the `spi_init` function in `spi.h`

In short: as SPI is a shared bus, it needs to be initialized independent from a device/bus-users, and the simplest way we found is doing this during device startup. As the device is put to sleep after initialization, this should have minor/no penalties on energy usage (taken the periph drivers are implemented correctly), and t

[2017-11-09 10:48] roberthartung commented on #7947
@vincent-d Not saying that there should be a common API I guess, the API has to be rethinked on how to integrate LPM UARTs.
Additionally, that's what I am saying, it's bad practice to send a dummy, if you require very low power and send an additional character, this can matter in terms of energy consumption ... maybe ;) So not making it default is a good idea! But maybe you have a choice: but new

[2017-11-09 10:55] haukepetersen commented on #7639
At least it shouldn't be.

So the concept now is the following: if a board does not provide configuration for a certain peripheral (e.g. this would be the `XX_NUMOF := 0` case described above), it **must not** define the corresponding feature. This way, the periph driver is never even touched be the compiler. Makes sense?

[2017-11-09 11:02] haukepetersen opened #7978 "What is the state of the x86 port?"
Every once in a while I stumble over the `x86` port and wonder, what the state and our future ambitions with this are. At least on my local machin, the `x86-multiboot-common` does not even build ("cpu_conf.h not found), and from a code/structure perspective this port is not really the best state. Also it seems that there is not really any activity around this port for the last 2 years (hope I did

[2017-11-09 11:08] dylad commented on #7639
Yes it does, thanks to everyone. I'm closing this issue then.

[2017-11-09 11:08] #7639 closed

[2017-11-09 11:23] dylad commented on #7972
Thanks @haukepetersen for the explaination.
But then SPI is re-initialize when we use a driver like `sx127x_driver`. Maybe there is some optimizations to do here ? Or am I missing something ?

[2017-11-09 11:30] vincent-d commented on #7947
Sometimes software design need to be adapted to bad hardware...and changing hardware is harder than changing software ;)

[2017-11-09 11:37] haukepetersen opened #7981 "periph: remove file guards from peripheral drivers"
follow up on #7241

Since #7241 was merged, there is no need anymore for ugly file guards around peripheral driver implementations, as they are now finally only touched by the compiler if they are actually (a) included in the build (using USEMODULE) and (b) provided by a board/cpu (as in FEATURES_PROVIDED). So now it is time to clean up a little bit, and this issue should help so we don't forget a

[2017-11-09 12:20] gebart commented on #7972
@dylad if a driver calls spi_init from its device init, then it is broken and should be fixed. The device drivers should however call the spi_init_cs function to set up the CS pin state, but the bus should be left alone.
AFAICS the sx127x driver only calls spi_init_cs, but never spi_init.

[2017-11-09 12:25] gebart commented on #7947
I agree with @vincent-d, sometimes it is better to lose one char when waking up and still be able to use the UART, than the alternatives (blocking low power, or no UART RX at all).
There's a ton of different clock settings and low power modes on most modern MCUs, which means that there probably won't be a one size fits all solution. Some configurations may make the low power recovery time too long

[2017-11-09 12:27] gebart commented on #7947
I would like to propose a different naming for the pseudomodules: uart_stdin and uart_stdout. Shorter to type and should be fairly obvious to most developers.

[2017-11-09 12:28] dylad commented on #7972
aaaaaalright then I understand. I get it wrong since the beginning.
Thanks @gebart  :)
I'm closing it.

[2017-11-09 12:28] #7972 closed

[2017-11-09 22:15] photonthunder commented on #7962
I use the samd21, xplained and then a similar custom board.  Previously, I just had FEATURES_PROVIDED in Makefile.features for the board and everything would compile (because everything got compiled).  With the latest code I added USEMODULE in my Makefile.include for the peripherals I use in order to get it to compile.  What is interesting is the FEATURES_PROVIDED list is irrelevant except for uar

[2017-11-10 10:05] miri64 commented on #7915
Simple answer to the top question (at least for the moment): not at all.

There is a PR (#6121) that would allow for that, by providing a [ZEP](https://github.com/boundary/wireshark/blob/master/epan/dissectors/packet-zep.c#L22-L43)-based network device that would allow to either let two or more native platforms communicate or to hand that over to a native WPAN devices. A desvirt configuration for

[2017-11-10 10:07] #5944 closed

[2017-11-10 14:35] danpetry opened #7998 "Docs: organise Github repo more"
This includes, but is not necessarily limited to:

- [ ] Review of Roadmap, and continuous update

- [ ] Review of issue and PR tagging system. See https://github.com/rust-lang/rust for a good example of this. Note the [PR status tags](https://github.com/rust-lang/rust/pulls?page=1&q=is%3Apr+is%3Aopen)

- [ ] Organizing the wiki in general, incl. overall structure, removing obsolete info, and redu

[2017-11-10 15:23] george-hopkins opened #8000 "stm32/pwm: timer multiplier not taken into account"
On some platforms (e.g. STM32F103xE), the clock for the timers is multiplied by 2 whenever the APBx prescaler is not 1. As far as I can see, the multiplication is currently not taken into account by the PWM driver (the APBx frequency is used directly). This results in a wrong calculcation of the timer prescaler (PSCx) and a PWM frequency which is too high.

#### Example (frequency set to 500 Hz)
!

[2017-11-10 15:35] haukepetersen commented on #8000
yapp, this is indeed an issue - I think we had the same for the `timer` implementation. Would you be so kind and provide a fix for the `pwm` driver? Thx.

[2017-11-10 15:36] haukepetersen commented on #8000
I think the solution here would be to generalize the `apbmul[]` part from the `timer.c` driver and use it for both the `pwm` and the `timer` driver...

[2017-11-10 17:10] kb2ma opened #8003 "Ping fails from border router with slip"
I am unable to ping from a samr21-xpro border router to my Ubuntu 16.04 workstation. I use slip and the tunslip tool for serial communication. See the gcoap [Makefile.slip](https://github.com/RIOT-OS/RIOT/blob/master/examples/gcoap/Makefile.slip) for setup. I know I need to move on to ethos, but I would expect slip to be working. Have I missed something?

You can see [README-slip.md](https://githu

[2017-11-13 08:36] miri64 commented on #8000
With #8001 merged, is this issue fixed?

[2017-11-13 08:37] aabadie commented on #8000
Yes, I'm closing it.

[2017-11-13 08:37] #8000 closed

[2017-11-13 13:04] cladmi opened #8019 "Module 'cpu' name conflict for `mips_pic32mx` and `mips_pic32mz`"
I try to removes cases where multiple built modules have the same name.
It should not exist, and this would allow more reliable build: https://github.com/RIOT-OS/RIOT/pull/7952

Right now I have issues with `mips` boards.

`mips_pic32mx` and `mips_pic32mz` implement the `cpu` module but also depend on `mips32r2_common` which also implements it (and then also from its `periph` directory).
I could s

[2017-11-13 13:18] cladmi commented on #8019
I do not understand why `mips_pic32_common/Makefile.include` adds

`INCLUDES += -I$(RIOTCPU)/mips32r2_common/include`.

Its unused right now because the only include that could be important is `eic_irq.h` which is done differently.
But that makes me wonder about what are the dependencies between the different boards common implementation.

[2017-11-13 14:50] cladmi commented on #8019
I have a solution put into https://github.com/RIOT-OS/RIOT/pull/7952
I want to check some intermediate commits and will do a proper for it PR tomorrow.

[2017-11-13 16:05] haukepetersen commented on #1511
I think every CPUID feature not implemented by today does not seem to be that important and will simply be implemented on demand... So I'll close this issue for now - re-open if you disagree!

[2017-11-13 16:05] #1511 closed

[2017-11-13 16:09] haukepetersen opened #8024 "boards/cpu: nucleo-l152 (stm32l1) broken on master"
While testing #7687 we discovered, that the `nucleo-l152` (`stm32l1`) is broken since quite a while now. Bisecting lead to the changes in #7385 (specifically to dd49f225321d3929f41c6108749c04eab0eb9571).

The change from `__irq_enable()` to `irq_restore(state)` breaks the L1 for some reason, can't really tell why...
When doing `s/irq_restore(state);/__enable_irq();/`, everything is working (again)

[2017-11-13 16:16] smlng commented on #8024
I tried my fix for the TI CC2538 and CC2650 (see #7752) where I had a similar issue but that didn't work 😞

[2017-11-13 16:55] vincent-d commented on #8024
I don't have any stm32l1 to test, but I don't see any reason `__enable_irq` and `__set_PRIMASK(0)` would have different behaviors.
Both are supposed to clear the `primask` bit (see stm32 programming manual: http://www.st.com/content/ccc/resource/technical/document/programming_manual/5b/ca/8d/83/56/7f/40/08/CD00228163.pdf/files/CD00228163.pdf/jcr:content/translations/en.CD00228163.pdf).

Could you

[2017-11-13 17:06] gebart commented on #8024
check the status of the primask bit when you are in a normal thread (put a breakpoint in main or sth), and also around the disable irq and WFI stuff in pm.c

[2017-11-13 19:46] gebart commented on #7800
There's an alternative implementation for very constrained devices available at https://github.com/cabo/cn-cbor which may be an option if this module is dropped.

[2017-11-13 21:35] kaspar030 commented on #7800
It packaged nicely: #8025

[2017-11-13 21:45] gebart commented on #7800
@kaspar030 cool!

[2017-11-14 00:13] temmihoo commented on #7734
In the MCU world most "board" peripherals are actually integrated within the MCU itself by the silicon vendor.

Often the only board-specific part of configuration are the board pin names. Some boards do have external-to-MCU hardware features such as early ELL-i boards having ENC28J60 and quite many boards having a number of LEDs and switches not to mention simple sensors and the like. Supporting

[2017-11-14 00:16] temmihoo commented on #7734
#7661 is related

[2017-11-14 00:16] temmihoo commented on #7661
#7734 is related

[2017-11-14 08:38] smlng commented on #8024
compiling with `CFLAGS += -DDEVELHELP` helps, I don't get any faults then - maybe some misled compiler optimisation or thread stack sizes are _fixed_ that way.

[2017-11-14 09:23] miri64 commented on #6857
since MSBA2 + Networking means cc110x and all the later discussion in this thread is about cc110x I adapted the issue title accordingly.

[2017-11-14 09:36] miri64 opened #8028 "diskio: failed assertion in send_cmd() on lpc2387"
When running `examples/default` on `msba2` it runs pretty much immediately into a [failed assertion (link refers to version of master at writing of this issue)](https://github.com/RIOT-OS/RIOT/blob/0792a5d7cb86c61bd4881dea664f4e8c3e211e71/cpu/lpc2387/mci/lpc2387-mci.c#L383). I did not further investigate where this assertion is coming from.

[2017-11-14 09:53] neiljay commented on #8019
@cladmi,

Hi I'll try to review this today, but things are crazy at work at the moment.

In the mean time can we name the new cpu 'mips32r2_generic' (instead of mips32r2_malta).

Cheers,

Neil

[2017-11-14 10:02] maribu commented on #6857
Btw: In the [TI forum](http://e2e.ti.com/support/wireless_connectivity/proprietary_sub_1_ghz_simpliciti/f/156/p/637852/2353524#2353524) it is suggested to verify the SPI communication. I had no time to do that so far, but a wrong SPI configuration could easily explain the issue at hand.

[2017-11-14 10:06] miri64 commented on #6857
TI doesn't know about us :( how very hurtful ^^

[2017-11-14 10:08] maribu commented on #6857
But [Nordic](https://devzone.nordicsemi.com/blogs/981/setting-up-ipv6-over-ble-using-nrf52-series-and-ri/) does ;-)

[2017-11-14 10:25] miri64 commented on #6857
I know :-)

[2017-11-14 10:25] miri64 commented on #6857
(well that Tutorial was written by @kaspar030, but regardless: we know that they know about us ;-))

[2017-11-14 10:53] cladmi commented on #8019
I will rename it, I just picked malta as its used in malta board.

[2017-11-14 11:19] cladmi commented on #8019
Something I do not understand, is that right now, `mips_pic32mx/mz` use two common mips boards, `mips32r2_generic` and `mips_pic32_common`. Is the dependency to `mips32r2_generic` already a dependency from `mips_pic32_common` or just the `pic32mx/mz`, and why? :)

[2017-11-14 13:11] miri64 opened #8033 "z1: periph_timer not working"
While testing #8027 I noticed that the tests did not finish on `z1`. Maybe something worth investigating.

[2017-11-14 13:52] Kijewski commented on #7978
Abandoned and nonworking. I tried to remove it from the tree but that caused other problems so I gave it up pretty soon.

[2017-11-14 19:53] miri64 commented on #6857
Maybe, if they find time @haukepetersen or @OlegHahm can help you with that?

[2017-11-15 09:36] aabadie commented on #7871
All listed tests marked above are now associated to PRs, we are getting closer.

Maybe #8036 could also be of interest for the pexpect scripts.

[2017-11-15 10:26] haukepetersen commented on #7978
Thanks for the heads up! So would you be ok if I'll give it another try for removing it?

[2017-11-15 10:35] haukepetersen commented on #7978
For the sake of documentation, it also seems like all x86 related issues (#1504, #3630, #2300) are not really active...

[2017-11-15 11:59] emmanuelsearch commented on #7978
So, shall we remove aim to remove the support officially, since it is broken and no one champions making it work again?

[2017-11-15 13:34] haukepetersen commented on #7978
I'd say so. As the existing code is clearly unused and broken for a long time and there was no need for fixing it, it seems that demand for this feature can't be too great... Also as nobody feels like putting in time at the moment, removing the port seems like the valid option. And as the removal is well documented (-> `LOSTANDFOUND.md`), we can always fix and pull the port back in.

[2017-11-15 14:21] haukepetersen commented on #7734
@temmihoo the commons system you mention is more or less what we do today. There are indeed examples where this is done sloppy and sometimes its hard to tell, but using the most generic implementations possible and splitting concerns between CPU internals and board configuration options is already done. (e.g. periph_conf.h vs periph_cpu.h vs. periph_cpu_common.h etc).

@nmeum I fear it is not quit

[2017-11-15 19:17] bergzand opened #8045 "stm32/periph/uart: extra byte transmitted on first transmission"
After testing the slipdev driver on a nucleo-f446, it appeared to me as if an extra 0xFF byte is transmitted by the UART driver. As somewhat described in https://github.com/RIOT-OS/RIOT/pull/8041#issuecomment-344651841, this can be explicitly triggered with slipdev by having the node transmit a frame. An initial 0xff byte should appear as first byte (and by doing so crash the tunslip6 application)

[2017-11-15 19:35] bergzand commented on #8045
Here is a hexdump from the serial console:
[code]

That first 0xff is not supposed to be there. On the pyserial it also displays as `�main(): This is RIOT! (Version: 2017.10-devel-892-g47e48-gisteren-heads/miri64/gnrc_ipv6_nib/fix/slip-addr-res-exception)`

[2017-11-15 20:04] bergzand opened #8046 "netif2/raw: Don't enable router advertisements for slipdev interfaces"
Router advertisements are enabled by default on the slipdev interface. to me, this doesn't really make any sense as the main use of the interface is to provide connectivity via a controlling host. Is there a case where router advertisements over SLIP are useful?

Can't say it disrupts the connection, but it looks like unnecessary traffic, (thus minor and I wouldn't consider this blocking for the w

[2017-11-15 20:06] miri64 commented on #8046
Why shouldn't the border router advertise itself as a router in your opinion? Or am I missing something?

[2017-11-15 20:10] miri64 commented on #8046
To me, if you connect your board via SLIP (or Ethos for that matter) to a "controlling host" you have basically two hops from the WPAN to the rest of the world: The border router and the host system. I state this because maybe there is some misunderstanding that the board is just acting as a network interface for the host system (I deduce this from your wording "controlling host").

[2017-11-15 20:16] bergzand commented on #8046
Maybe I'm associating router advertisements too much with SLAAC here. As I see it, with SLIP the interfaces on both sides of the serial link are statically configured, both addresses and routes, and no advertisement of router functionality is necessary.

"controlling host" is a bad choice of words here. I'm aware of the two hops and the network between the host system and the border router. In my

[2017-11-15 20:49] miri64 commented on #8046
RAs are not just used for SLAAC. Even the PIO -  the option that carries the relevant address information - isn't just for SLAAC (it also updates the node's prefix list which is used to help a node to determine addresses that are on-link). The main function of the RA is what its name suggests: to advertise a router to its neighbors. I wouldn't say it necessarily breaks any RFC (after all the SLIP

[2017-11-15 20:52] bergzand commented on #8046
I can agree with that. Thanks for the explanation, learned something today.

[2017-11-15 20:53] miri64 commented on #8046
(written from a phone so excuse some of the weirder spelling errors caused by auto-completion. Can't fix them right now.)

[2017-11-15 20:53] #8046 closed

[2017-11-16 08:46] florian-jean opened #8048 "Riot on raspberry pi using its pinout"
Hi all,

I was trying to implement my MRF24j40 on my raspberry without the need to slip the radio nor making all the routing set up myself as it is found [here](https://github.com/RIOT-OS/RIOT/wiki/How-to-install-6LoWPAN-Linux-Kernel-on-Raspberry-Pi)

So I stumbled upon [this fork](https://gitlab.ibr.cs.tu-bs.de/hartung/RIOT/tree/yschroed/boards/raspberrypi). Unfortunatly it didn't compile on my r

[2017-11-16 08:58] miri64 commented on #8048
Hi,

RIOT is in general not targeting platforms that can fit operating systems like Linux (or that are not microcontrollers). In the end I think it is easier to just go for the Linux-based border router [setup found in the *updated* version of the wiki page you linked](https://github.com/RIOT-Makers/wpan-raspbian/wiki) instead of trying to fit RIOT on a platform it really isn't meant for. Hope you

[2017-11-16 10:31] #7978 closed

[2017-11-16 10:36] kaspar030 opened #8052 "mips: several issues"
Apart from the issues in #6588, there are some more:

- [x] the mips CPU makefiles have quite a lot of code duplication
- [x] the mips flash targets are empty. They should fail and explain why ("No flash tool available. See https://..." ...).
    - [x] pic32-wifire #9259
    - [ ] pic32-clicker
    - [x] mips-malta => support dropped
- [x] the mips board wiki-pages lack information on how to flash

[2017-11-16 11:04] cladmi commented on #7871
Merged last aabadie PR to add tests.

@haukepetersen could you re-run all tests and validate everything is fixed ?

[2017-11-16 11:06] miri64 commented on #7713
@smlng how do we want to handle this issue? Do you want to add your further findings here? Or in #7925? Do you want to test #7479 and report your findings and I fix them there or should we #7479 first and we centralize all work in #7925?

[2017-11-16 11:30] kaspar030 commented on #8048
Do I get it right that the linked code still runs a riot instance on linux, but adds support to use the RasPi's gpio directly?

[2017-11-16 11:34] miri64 commented on #8048
Oh, I didn't look that deeply into the code, but that would indeed be interesting (but I wouldn't call this board `raspberrypi` then, but put it in `native`).

[2017-11-16 11:35] bergzand commented on #8048
@florian-jean I think that I've once build in RIOT what you describe here.
I used sysfs GPIO and spidev code to be able to control an mrf24j40 from Linux userspace. Then add a GPIO implementation (#7530) and a Linux spidev spi handler implement for the RIOT native platform. Add the correct params.h and you've got an RIOT native instance with a working radio attached. I've never really got it stabl

[2017-11-16 11:37] bergzand commented on #8048
Stable as in, remain working for multiple days, it panic/segfaulted/assertion failure after a day or so.

[2017-11-16 12:50] temmihoo commented on #7734
@haukepetersen is there a guideline document on how this structure should be applied? As opposed to reading the source files, not all of which qualify as examples of well applied principle.

Also, I personally think the peripherals in MCU should be in MCU-related files and specifically NOT in any of the board-related files. Putting MCU integrated stuff in board-related files leads to either repeti

[2017-11-16 12:56] haukepetersen commented on #7871
why don't you do it yourself: https://github.com/haukepetersen/riotsandbox/blob/master/tools/tester/tester.py

[2017-11-16 13:13] cladmi opened #8057 "RFC: Make only `BOARD` visible to Makefile.include."
There is currently inconsistencies in the way `BOARD` and `CPU` are handled.

First, regarding include paths:
https://github.com/RIOT-OS/RIOT/blob/268e763/Makefile.include#L207

https://github.com/RIOT-OS/RIOT/pull/7880

[2017-11-16 13:13] #8057 closed

[2017-11-16 13:13] aabadie commented on #7871
interesting and useful script. Why not extending the actual `testrunner` with a `run_all` function ?

[2017-11-16 13:15] florian-jean commented on #8048
@miri64 Yes I understand that using the appropriate tools on linux would be nice but until it's not implemented natively in the kernel, it would be nice to have that option and this will ease the set up of RIOT for raspberry pi users.

@kaspar030 Yes, it does. Just but the board and cpu folder of native_pi into the respective folder of riot and use the board native_pi. Beware that the pins numerat

[2017-11-16 13:22] bergzand commented on #8048
This is the reason I opted for using sysfs gpio and Linux spidev. This way it should also work on the beaglebone or any other Linux board with GPIO and spi support. The main problem I had is that Linux spidev doesn't support extending the spi cs active between transfers, but that's solved by doing software spi cs. I'll take a look at the code, might be interesting to see if things are done better

[2017-11-16 13:23] miri64 commented on #8048
As I said: I might have misunderstood your request, as you were asking for putting RIOT on Raspberry Pi. As the fork you reference just seem to do `native` + some rasppi stuff, it is something completely different (running RIOT as a process on Linux) as I understood it (to be able to run RIOT on Raspberry Pi without any Linux under it, as we usually do it for other hardware).

[2017-11-16 13:27] temmihoo opened #8059 "examples/* in general - missing/duplicated/confusing - hierarchy - discussion"
The examples/ folder has some shortcomings. As an effort to make better collection of more explanative examples, I started this issue by request instead of just chatting shortly on IRC.

### Documentation
Some examples are lacking in the documentation level they provide. This in my view should be remedied by both commenting the code and having a README.md in all of the examples. Naturally the enti

[2017-11-16 13:37] miri64 commented on #7871
@kaspar030 has some better idea to [improve the testrunner](https://github.com/RIOT-OS/RIOT/pull/7258) we rather should work towards that. ;-)

[2017-11-16 13:53] neiljay commented on #8052
@kaspar030 (and everyone else),

I will  attempt to address these issue, but it may take a couple of weeks, things are very busy at the moment, In case you had not heard:

https://www.electronicsweekly.com/news/business/imagination-press-ahead-mips-sale-us-group-tallwood-2017-09/

Neil

[2017-11-16 14:00] neiljay commented on #6588
I believe all these issue are resolved by #6892.
There does appear to be further issues in the MIPS build setup as discussed in #8019 and #8032.
Can we close this and concentrate on fixing the new issues ?

[2017-11-16 14:00] florian-jean commented on #8048
@bergzand I haven't through much about portability to other linux platform indeed.

I think gpio and spi support would be nice in order to make border router (which is memory intensive) run on actual computer instead of a MCU that slip packets

@miri64 yeah we misunderstood each other :-)

[2017-11-16 15:22] haukepetersen commented on #7734
Not really a good one (yet). What we do have is a rough (but incomplete and very high level) [porting guide](https://github.com/RIOT-OS/RIOT/wiki/Porting-Guide) and we are currently in the process of writing a paper giving some more insights on the high-level concepts involved.

[2017-11-16 19:28] temmihoo opened #8066 "discussion on architecture: supporting MCU and BOARD features in which files"
Currently in several issues and pull requests there is ongoing work in refactoring the boards/* in a generally good direction. This sparked in me an idea I've chatted about in real life discussions several times over during the few years I've known RIOT.

Currently many features supported in the boards/* files are actually peripherals or features of the MCU silicon. Some of the boards are more lim

[2017-11-17 06:59] gebart commented on #6588
Yes, I agree

[2017-11-17 06:59] #6588 closed

[2017-11-17 10:37] haukepetersen commented on #8066
In general, I think we have a big miss-understanding of the concept(s) used in RIOT currently. In general, I say we already do (at least theoretical) what you propose here. There is of course room for improvement on some implementation details, but in general the concept we use is:

CPU -> implements all the drivers/code needed to use the core and the peripherals, but without instantiating anythin

[2017-11-17 10:49] smlng commented on #8066
With respect to clock configuration (as discussed in other places, e.g., #8058) this is not true, because that seems to be fixed for certain CPU as well but is currently configured in the respective boards `periph_conf.h`.

[2017-11-17 10:50] haukepetersen commented on #8066
oh, forgot to mention: we clearly seem to lack documentation on this :-)

[2017-11-17 10:52] haukepetersen commented on #8066
See my reply to this in #8058

[2017-11-17 13:35] temmihoo commented on #8066
First, this issue wasn't written necessarily to document some _NEW_ foundings but something that exist now and is even vaguely agreed upon on being problematic on some level. So this issue is meant as a place to discuss instead of pointing fingers of blame.

Mostly I am seeing the issue as being lack of documentation or that of documentation quality. I have not seen indicated anywhere what are the

[2017-11-17 14:08] gebart commented on #8059
I agree that it would be nice to have some more example code, like tutorial projects etc. However, I don't agree that the situation is as bad as you describe. The API usage examples are usually found under /tests/, where there is a small test application for every available device driver and a lot of system modules as well.
Could it be a useful addition to the Doxygen docs to link the test applica

[2017-11-17 15:06] haukepetersen commented on #8045
I can roughly confirm this. Out of my head I think I remember seing this on some STM boards, but not all of them. So if I am right, this is effecting only some stm32 family members, though I can't say which ones.

Just happen to have a `nucleo144-f746` on my desk: for this board I cannot confirm that behavior, everything is fine:
[code]
(pressing the reset button a couple of times...)

[2017-11-17 15:08] haukepetersen commented on #8045
On paper, line 61 of the `uart` driver
[code]
should prevent the `0xff` byte being send, but as it seems this does not work for every stm board.

@bergzand could you maybe play with that line a little bit and see if you can prevent that garbage byte from being send somehow?

[2017-11-17 15:39] aabadie commented on #8059
+1

[2017-11-19 22:03] bergzand opened #8085 "Update solicited node multicast groups on IPv6 address addition/deletion"
Currently, no extra solicited node multicast addresses are added when an extra IPv6 address that is not derived from the L2 address is added to an interface. This breaks NS/NA.

Steps to reproduce:
1. Start two instances of gnrc_networking
2. Add an extra IPv6 address to the interface of the first node (for example 2001:db8::1/64)
3. Add same prefix to the second node (for example 2001:db8::2/64).

[2017-11-19 22:40] miri64 commented on #8085
Are you talking about 6Lo-based interfaces or Ethernet interface? On 6Lo-based interfaces [this is on purpose](https://tools.ietf.org/html/rfc6775#section-5.2). On Ethernet interfaces this would be a bug.

[2017-11-19 22:41] miri64 commented on #8085
That a global address wouldn't be reachable in that case, might be due to a different reason.

[2017-11-19 22:43] bergzand commented on #8085
This was tested on native, so with ethernet interfaces.

[2017-11-19 22:49] miri64 commented on #8085
Ok. Will investigate tomorrow! :-)

[2017-11-19 23:37] cgundogan opened #8086 "gnrc_rpl_p2p: port to nib and fix compile errors"
Currently, `gnrc_rpl_p2p` is not compiling due to trickle API changes. Further, the nib and netif adaptations have to be reevaluated.

I will investigate at the end of next week.

=> #7925

[2017-11-19 23:59] miri64 commented on #8086
Since RPL P2P did not seem to have been used for a while, I wouldn't say this is issue is blocking for #7925.

[2017-11-20 10:16] bergzand opened #8088 "Rapid spam of unicast NS messages when destination unavailable (crashed)"
I'm debugging a situation where the border router crashed due to a failed assertion (more on this in a later).
When the border router crashed, the second node is rapidly sending out unicast RS messages to the crashed node. the source is alternated between the link local address and the GUA.

Hardware:
two nucleo-f446 boards with mrf24j40's attached. One configured as border router, the other as ge

[2017-11-20 10:24] bergzand commented on #8088
I need to learn to read better, it's spamming neighbor solicitations, not router solicitations. 😞

[2017-11-20 10:30] bergzand commented on #8088
Backtrace starting from `gnrc_ndp_nbr_sol_send`:
[code]

[2017-11-20 10:43] miri64 commented on #8088
Is that failed assertion related to the one fixed in #8087 or completely different?

[2017-11-20 11:09] bergzand commented on #8088
Looks like that's the one in this case.

[2017-11-20 11:17] miri64 commented on #8085
Should be fixed with #8089.

[2017-11-20 12:13] miri64 commented on #8088
The statement that the NS are coming from both the GUA and LL tells me that this happens after the initial bootstrap. Is this still reproducible with #8087 merged (e.g. by disconnecting the border router after the initial bootstrap and waiting for the next registration)?

[2017-11-20 12:30] miri64 commented on #8088
Confirmed that it is ;-)

[2017-11-20 12:36] bergzand commented on #8088
Good to know that I'm not the only one able to trigger the issue.

[2017-11-20 12:52] bergzand opened #8090 "shell_commands ifconfig displays garbage with "holey" ip addresses."
I've configured a native `examples/gnrc_networking` node to have at least 3 IPv6 addresses. When the second of three addresses is removed, the third (or the second valid) address is displayed incorrectly:
[code]

Steps to reproduce:
1. modify `sys/include/net/gnrc/netif/conf.h` `GNRC_NETIF_IPV6_ADDRS_NUMOF` to at least 3.
2. start `examples/gnrc_networking` on native.
3. `> ifconfig 6 add abcd::1/

[2017-11-20 12:56] miri64 commented on #8088
Fixed in #8091

[2017-11-20 13:21] miri64 commented on #8090
Fixed by #8092

[2017-11-20 13:34] miri64 commented on #8088
Mhh #8091 only fixed it partially. As soon as the neighbor goes to UNREACHABLE, the node starts spamming again...

[2017-11-20 13:36] bergzand commented on #8085
Is fixed with #8089

[2017-11-20 13:36] #8085 closed

[2017-11-20 13:37] bergzand commented on #8090
And indeed fixed with #8092.

[2017-11-20 13:37] #8090 closed

[2017-11-20 14:19] miri64 commented on #8088
@bergzand One question that came up for me while debugging:

Do you mean the default config of `gnrc_networking` (i.e. a 6LR) with that or a 6LN?

[2017-11-20 14:33] miri64 commented on #8088
Ah the backoff starts overflowing. This is a separate issue from #8091. As such: Will fix in a separate PR.

[2017-11-20 14:42] bergzand commented on #8088
examples/gnrc_networking, adapted to work on a nucleo-f446 with an mrf24j40. So the `BOARD` changed, the module for the radio and some defines to get the radio working. That makes it a 6LR.

Check, I'm going to merge #8091 then.

[2017-11-20 15:01] miri64 commented on #8088
I'm checking, if it does for real, but #8093 should be the definite fix for that.

[2017-11-20 15:18] miri64 commented on #8088
Backoff is properly capped now, so I'm satisfied with the state of #8093.

[2017-11-20 22:56] bergzand opened #8094 "gnrc_udp: sending to link local address is discarded by gnrc_ipv6"
I've been testing around with the issue discovered by @zhuoshuguo in #7925.
Testing was done using two native instances (examples/gnrc_networking), one running the udp server application, the other is used for the udp sending.

What I discovered so far is that transmitting to the GUA of the server node works as expected. Transmission to the link local address doesn't work, gnrc_ipv6 discards the p

[2017-11-21 06:54] miri64 commented on #8094
After looking at it myself, I think I know what is happening: The old forwarding + address resolution engine tried to resolve (wrongly) a link-local address without any interface given, the NIB doesn't do that anymore. However, the UDP command isn't adapted for that yet. Will do.

[2017-11-21 08:51] zhuoshuguo commented on #8094
Yes, `Transmission to the link local address doesn't work` is also what I have observed. ;-)

[2017-11-21 09:46] miri64 commented on #8094
Should be fixed in #8095.

[2017-11-21 09:55] kaspar030 opened #8096 "boards: nucleo boards not having their marketing names"
Currently, our nucleo boards are only roughly named like STM calls them.

E.g., my nucleo-f401re is just called "nucleo-f401". "nucleo-f446re" and "nucleo-f446ze" are called "nucleo-f446" and "nucleo144-f446".

I find that confusing, and so does google (e.g., a search for "RIOT nucleo-f446ze" doesn't show many RIOT results. "RIOT nucleo-f446" only shows the nucleo-f446re.)

I propose renaming all

[2017-11-21 11:07] bergzand opened #8098 "gnrc: Packet buffer full errors after few hours of uptime"
After running for an hour or so, one of my nodes can't ping the border router anymore with three times `error: packet buffer full` as a message. Ping from the border router to the node also doesn't work anymore (I assume also due to the packet buffer being full)

If there are steps I can take to debug this, I'd like to know, for now I can keep the GDB session attached.

setup:
2 nucleo-f446, mrf24

[2017-11-21 11:11] bergzand opened #8099 "gnrc: sporadic assertion failure at _nib-arsm.c:331"
Sometimes I'm able to trigger the assert at `sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.c:331` on my 6LR (gnrc_networking example) node. I can't reproduce it consistently yet, so more information follows when I've triggered it a few more times.

setup:
2 nucleo-f446, mrf24j40 radio
1 configured as gnrc_border_router example mrf24j40 settings
1 configured as gnrc_networking example with mrf24j40

[2017-11-21 11:14] aabadie commented on #8096
I'm with you @kaspar030. According to the documentation on [ST website](http://www.st.com/en/evaluation-tools/stm32-mcu-nucleo.html), this should be the way to go.

Since I introduced the actual naming scheme, I can give you the reason of this initial choice: but the initial naming scheme, I was facing name conflicts between some nucleo64 and nucleo144 boards (especially the f446 one, but this als

[2017-11-21 11:18] miri64 commented on #8099
Can you try to print `_nib_onl_get_if(nbr)` (and maybe the IPv6 address of the neighbor using `ipv6_addr_to_str()` before the assert?

[2017-11-21 12:19] kaspar030 commented on #8066
:smile:

[2017-11-21 12:19] #8066 closed

[2017-11-21 13:28] miri64 commented on #8098
Using the following patch I can definitively see that there are memory leaks. Will investigate!

[code]

[2017-11-21 13:30] miri64 commented on #8098
(I'm pinging from the host node btw. Hope this doesn't make a difference, but only this way I can analyse the packet buffer on the border router)

[2017-11-21 15:35] miri64 commented on #8098
Ok... This only happens if I spam the node *while* resetting it, so this seems to be a different issue :-/.

[2017-11-21 15:36] miri64 commented on #8098
(the leaks appear immediately).

[2017-11-21 15:37] bergzand commented on #8098
I can't reproduce any of my issues from today either, both my nodes are currently rock stable. :(

[2017-11-21 15:44] miri64 commented on #8098
Maybe some of the other bugfixes "accidentally" fixed it ^^

[2017-11-21 16:26] bergzand commented on #8094
I would prefer to have a note of this change ~in~ to correct behaviour somewhere (release notes or doxygen), I can imagine applications relying on the previous behaviour just like the examples.

[2017-11-21 16:27] miri64 commented on #8098
From what I can see I am suspecting that there is some very old, non-deterministic bug in GNRC (or the packet buffer) that pops up from time to time:

* It causes (seemingly) randomly appearing memory leaks in the packet buffer
* the data in those leaks also seems to be quite random, the at least do not look like packet data or data contained in `gnrc_pktsnip_t` instances.

Due to the non-determin

[2017-11-21 16:29] miri64 commented on #8094
@bergzand well the release notes only will be updated at the release, so I guess the best point would be the Doxygen for now. Where would you expect such a note?

[2017-11-21 16:32] miri64 commented on #8094
(it should also be noted, that the previous behavior, though convenient, was a bug that could cause NS-flooding / isn't possible with the optimizations for link-local addresses proposed in RFC 6775. The only reason it never had any implications was that we did not had any device in use that had the optimizations for link-local addresses in place *and* more than one interface)

[2017-11-21 16:41] bergzand commented on #8094
I think a small note on the [GNRC overview page](http://riot-os.org/api/group__net__gnrc.html) should be sufficient. I think that would be the first place where I would look if I knew about this netif/nib overhaul. (Speaking of that page, is it still correct after this PR is merged?)

I agree that the new behaviour is better/more correct, but it is a change in behaviour, so there are probably some

[2017-11-21 16:43] miri64 commented on #8094
Yes. There is nothing regarding forwarding or address resolution on that page.

[2017-11-21 16:49] miri64 commented on #8094
@bergzand see #8103

[2017-11-21 16:50] miri64 commented on #8094
Since #8095 fixes the symptom documented in this issue and #8103 is a mere amendment, I'm closing this issue as fixed.

[2017-11-21 16:50] #8094 closed

[2017-11-21 16:52] miri64 commented on #8099
@bergzand were you able to reproduce this bug with my proposed debug output?

[2017-11-21 18:03] bergzand commented on #8088
Closed as #8093 is merged and so far I haven't seen the spamming behaviour anymore.

[2017-11-21 18:03] #8088 closed

[2017-11-21 18:15] bergzand commented on #8099
Nope, nothing yet, everything as stable as it could be.
I'm going to update my test nodes to the latest branch HEAD and keep them running for a while.

I still have absolutely no clue how I triggered this assertion, so I'm going to hope that I can randomly trigger it again and get some output.

[2017-11-22 06:42] hahchenchen opened #8105 "cc110x: NETOPT_ADDR_LEN"
when i run the ccn-lite-relay via cc110x, came out an error:
`  error: unable to determine address length for if=<3>
Error registering at network interface!`

The error cames from: ccn-lite-riot.c
`res = gnrc_netapi_get(if_pid, `NETOPT_ADDR_LEN`, 0, &(i->addr_len), sizeof(i->addr_len));
    if (res < 0) {
        DEBUGMSG(ERROR, "error: unable to determine address length for if=<%u>\n", (unsigned)

[2017-11-22 08:07] bergzand commented on #8096
I agree with renaming the boards to their documented names from STM. I've had this problem reversed where I tried to look up a supported board on the STM website, but could get any results due to our nucleo(32|144) naming.

Would it be possible to use the board alias from #7976 to keep the old names as an alias and not break compatibility with existing applications? So rename every board to their

[2017-11-22 08:11] aabadie commented on #8096
+1, very neat idea

[2017-11-22 09:29] florian-jean opened #8106 "PKG wakaama fails to apply patches"
Hello,

I want to start using the wakaama pakage.
I copied the gnrc_minimal exemple and added to the makefile

However, when I try to compile it, I get

error: patch failed: core/er-coap-13/er-coap-13.c:1231
error: core/er-coap-13/er-coap-13.c: patch does not apply

Any idea on how to fix it / what I m missing ?

Thanks for your help

Full log

make: Nothing to be done for 'clean'.
Building applic

[2017-11-22 09:59] miri64 commented on #8105
So anyone can help me?

I guess that is the problem ;-). Will provide a fix soonish.

[2017-11-22 10:28] miri64 commented on #8106
Who is the maintainer for wakaama at the moment? @kaspar030? @haukepetersen?

[2017-11-22 10:37] florian-jean commented on #8106
I compiled it by changing
In the makefile of pkg wakaama

TO

AND in pkg/wakaama/patches/0003-fixed-warnings-in-er-coap-13.c.patch

I removed

   coap_packet_t *const coap_pkt = (coap_packet_t *) packet;
   if (!IS_OPTION(coap_pkt, COAP_OPTION_SIZE)) return 0;
-
+
   *size = coap_pkt->size;
   return 1;
 }

Because this part generates the error and the original file has the exact same code

[2017-11-22 11:52] cladmi opened #8107 "crypto/ccm: bugs in the implementation of CCM mode"
This issue summarize all the issues I have found when trying to add tests for #6706 for `sys/crypto/modes/ccm.c`

Issues shown in the PR:

* Upper bound for `auth_data_len` should be `0xFEFF`. https://tools.ietf.org/html/rfc3610 2.2 page
* Wrong check for input plaintext message length against len encoding.
* buffer overflow if auth_data_len is larger than 26

Problems found when adding tests:
* I

[2017-11-22 12:22] kYc0o commented on #1504
Since x86 support was dropped it's safe to close this one.

[2017-11-22 12:22] #1504 closed

[2017-11-22 12:24] kYc0o commented on #7753
Was this maybe solved by #6892 as it solved #6588?

[2017-11-22 12:25] kYc0o commented on #7440
@Joe-sae did you solve your issue? Be sure you updated the firmware on your ST-Link.

[2017-11-22 12:36] kYc0o commented on #2143
Is this still an issue?

[2017-11-22 12:38] haukepetersen commented on #8106
@miri64 I think there is currently no maintainer... I did mentor the project introducing wakaama some time ago, but I don't really feel responsible...

@florian-jean: would you please be so kind a provide a fix for your findings? It seems to me that the package system has undergone some updates over the last years, but `wakaama` is never build (no test application available?) by the CI, so it has

[2017-11-22 12:40] miri64 commented on #7753
Maybe. Will run the buildtests tonight.

[2017-11-22 12:41] miri64 commented on #2143
[code]

;-)

[2017-11-22 12:41] miri64 commented on #2143
Doesn't seem to be the case anymore, so close.

[2017-11-22 12:41] #2143 closed

[2017-11-22 12:42] miri64 commented on #2143
(also tested for telosb as it was used in the issue report)

[2017-11-22 13:01] kYc0o commented on #2143
Excellent! Thanks! 😃

[2017-11-22 13:30] florian-jean commented on #8106
@haukepetersen I ll provide a fix.
I m working on making a client out of it. If I succeed I ll make an exemple/test out of it in the same time

Yes, the wakaama cloned by the makefile is A LOT (2 years I guess) behind the current repository. It seems to be quite a bit of a work in order to make all the patches

[2017-11-22 14:08] roberthartung commented on #7301
@dnahm @smlng *ping*

[2017-11-22 14:18] miri64 commented on #7753
Can't test tonight... have to run longterm tests for #7925. But will do ASAP.

[2017-11-22 14:55] florian-jean commented on #8106
I was able to make the test as client of wakaama (old version) running in riot, and connect to a test server of wakaama (new version)

Files for the Riot part is attatched. (Compiled with WERROR=0, not clean)

For running the wakaama server
sudo git clone https://github.com/eclipse/wakaama
cd wakaama
sudo cmake tests/server
sudo make
./lwm2mserver

I ll see if it is not too much work to adapt the

[2017-11-22 15:27] PeterKietzmann commented on #8105
#8111 solves the issue

[2017-11-22 15:27] #8105 closed

[2017-11-22 15:44] hahchenchen opened #8115 "cc110x: cc110x_state_to_text() is not defined"
The `cc110x_state_to_text()` is used in cc110x-rxtx.c when enable debug but not defined: https://github.com/RIOT-OS/RIOT/blob/master/drivers/cc110x/cc110x-rxtx.c#L256

So how about remove this function and modify like this:
 `           DEBUG("cc110x: invalid state for sending: %s\n",`
  `                  dev->radio_state==RADIO_RX_BUSY?"RADIO_RX_BUSY":"RADIO_TX_BUSY");`
  `          return -EAGA

[2017-11-22 16:22] danpetry commented on #7941
No fixes in open PRs that I can see. Related open PRs are as follows:

- https://github.com/RIOT-OS/RIOT/pull/8058 - some info on sam0_common
- https://github.com/RIOT-OS/RIOT/pull/7694 - affects lm4f120 timer driver
- https://github.com/RIOT-OS/RIOT/pull/7310 - affects cc2538 UART driver

[2017-11-22 16:37] mlohse opened #8117 "Message Queue (cib) breaks on write counter overflow"
After running for ~4days a thread reproducibly keeps loosing messages sent from an interrupt handler ('msg_send_int') and from itself.
When debugging I noticed, that a message comes through when the target thread was waiting in 'msg_receive' (state 'STATUS_RECEIVE_BLOCKED'). However, when it was to be queued (e.g. because the thread was already active) it gets lost.

Digging deeper I found that th

[2017-11-22 16:51] kaspar030 commented on #8117
nice catch!

[2017-11-22 16:53] fjmolinas opened #8118 "at86rf2xx: netdev reset"
While using the gnrc_networking example on master I try to send a pkt after resetting the radio by using `ifconfig 7 set state reset`, after resetting UDP packet's don't go out anymore. This doesn't happen when using other radios,  for example mrf24j40. I used samr21-xpro for this.

[2017-11-22 16:56] kaspar030 commented on #8117
@mlohse I guess it takes 4 days to verify that #8119 solves the issue? ;)

[2017-11-22 21:32] mlohse commented on #8117
@kaspar030 Testing for this particular bug on a release-build will take 5 days minimum + another 3 weeks to run a full regression test with different hardware configurations - if everything goes smooth.
I'll keep you posted.... ;)

[2017-11-22 21:59] bergzand opened #8121 "rpl: ENABLE_DEBUG=1 doesn't compile"
Not caused by #7925, but doesn't make debugging easier.

## How to reproduce:

set ENABLE_DEBUG to (1) in `sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c`

## Expected result:

Code compiles

## Result

Multiple errors, some about unused vars, some about macro redefined.

(Mostly a reminder to myself to clean this up tomorrow or so.)

[2017-11-23 00:02] bergzand commented on #8098
I'm starting to suspect the RPL code on this one. Just had the the second node in the chain of 3 quit responding due to full packet buffers. I'm going to investigate some more tomorrow.
If I remember correctly I had RPL enabled when I discovered this issue, but had rpl disabled [here](https://github.com/RIOT-OS/RIOT/issues/8098#issuecomment-346064874)

[2017-11-23 07:56] bergzand commented on #8098
Took around 45 minutes before the packet buffer got filled up again on the second node in the chain. Third chain is also spewing packet buffer full errors, but the first node (the 6lbr) appears fine. This might point to the DAO send functions as the 6lbr doesn't use that (but this is just a hunch).

[2017-11-23 08:05] florian-jean commented on #8106
@haukepetersen  @miri64
Do you know the tools the patch of wakaama have been generated with ?

[2017-11-23 08:12] miri64 commented on #8121
See #5166 as a potential permanent fix ;-)

[2017-11-23 08:37] miri64 commented on #8106
Look like git patches to me:

[code]

[2017-11-23 08:54] PeterKietzmann commented on #8115
@hahchenchen what you're saying is that `cc110x_state_to_text` is not implemented, right?  If this is the case, this needs to be fixed. Your proposal only involves send and receive busy states. Are there no other possible states?

[2017-11-23 08:55] miri64 commented on #8106
(If you want to use the old patches as a basis you need to apply them first of course:

[code]

[2017-11-23 08:58] PeterKietzmann commented on #8118
Intentions to fix it :-)?

[2017-11-23 09:15] kaspar030 opened #8122 "doxygen: riot.css modified by 'make doc'"
Calling ```make doc``` modifies riot.css in-place, making it show up in git's changed files list.
That's a little annoying. Can that be avoided?

[2017-11-23 09:17] aabadie commented on #8122
I had the same problem and I fixed it by uninstalling lessc from npm and install python-lesscpy via apt-get instead.

[2017-11-23 09:35] mlohse commented on #2096
Imho, the performance aspect is more important here than saving some extra bytes of memory. I haven't testet it, but according to some posts on the internet accessing smaller datatypes (char, uint8_t, short,...) is slower than accessing unsigned/int on some 32-Bit ARM platforms - at least when unaligned.
The current implementation looks good to me, I would rather leave it the way it is.

As this i

[2017-11-23 12:13] #8117 closed

[2017-11-23 12:20] geith opened #8125 "spi code not linked on cc2538 target"
The latest master version (b2b2071142c77d39f9fd26535fbfcff2b1197b9f) does not link the spi code (and some other parts too) for a cc2538 target (e.g. _remote_revb_).

When building a minimal test program with (see below) with the latest version for the _remote_revb_ target, I get the following error message while it compiles for older RIOT versions.
[code]
[code]

The SPI related code doesn't show

[2017-11-23 13:25] dylad commented on #8125
Hi @geith
I tried to compile test/periph_spi on the lastest master (6b661be) and everything is fine :

[code]
[code]

Could you provide your GCC version and try
`make clean all BOARD=remote-revb`

[2017-11-23 13:29] miri64 commented on #8122
An alternative would be to switch over from Bootstrap 3 to Bootstrap 4, which uses SASS instead of LESS (which does the compilation live in-browser). Would need some time however.

[2017-11-23 13:42] geith commented on #8125
Hi @dylad,

no, still the same... (I used `rm -rf bin/` before).

I'm using Ubuntu 17.10, gcc (arm-none-eabi-gcc) has the version 5.4.1.

[2017-11-23 13:46] dylad commented on #8125
I'm using `gcc version 5.4.1 20160919 (release) `

`/mnt/home_ext/geith/src/riot-os/spi-test`
You're not using the default RIOT, isn't it ?

[2017-11-23 13:47] miri64 commented on #8098
Confirmed, after initializing RPL I get memory leaks. Will investigate.

[2017-11-23 13:50] dylad commented on #8125
Also could you ensure you have `FEATURES_REQUIRED = periph_spi` within your Makefile application
and `FEATURES_PROVIDED += periph_spi` in your Makefile.features (from your board directory)

[2017-11-23 13:56] bergzand opened #8126 "rpl: DAO message only contains self as target option"
Other routes to nodes below the DAO-sending node are not propagated to the parent. This breaks the bidirectional multihop routing.

[2017-11-23 13:58] hahchenchen commented on #8115
Yes, there are no other possible  states in this function:`cc110x_send`

[2017-11-23 14:00] bergzand commented on #8098
So far I've only noticed on this only on !6lbr nodes. That's why my initial suspicion is with the DAO code. Also, could #8126 be related, options appear to be missing from the packets there.

[2017-11-23 14:02] geith commented on #8125
Hi @dylad,
For this test, I'm using the default RIOT (https://github.com/RIOT-OS/RIOT.git) ant switching between the current master branch and 2017.10.
My test program is located in a separate directory besides the RIOT folder (`RIOTBASE ?= $(CURDIR)/../RIOT`).

I just tested that on another machine with Debian 9 (gcc has the version 5.4.1 too) with the same problem.

The `FEATURES_REQUIRED = peri

[2017-11-23 14:02] #8125 closed

[2017-11-23 14:06] dylad commented on #8125
Glad to hear !

[2017-11-23 14:13] miri64 commented on #8098
Could be :-/ but I'm not that deep into the RPL code to make a more assuring statement. Might be, that @cgundogan can find something, but he is currently on vacation :-/

[2017-11-23 14:16] miri64 commented on #8098
Since we could isolate it to RPL and the RPL changes in #7925 don't touch the packet buffer, I would prefer to make this issue not blocking for #7925, what do you think?

[2017-11-23 14:54] bergzand commented on #8098
@miri64 I might have found something:

[Here](https://github.com/RIOT-OS/RIOT/blob/gnrc_netif2_integration/master/sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c#L749) the RPL options are added to the DAO packets for every route known in the routing table. Iteration over the routes in the routing table and add them as snips to the chain. I think the problem is that the `_dao_transit_build` is

[2017-11-23 15:10] miri64 commented on #8098
True. Nice catch! Will fix.

[2017-11-23 15:11] miri64 commented on #8098
(or are you already on it?)

[2017-11-23 15:16] miri64 commented on #8098
(i have some unrelated RPL fixes incoming anyway ;-))

[2017-11-23 15:20] bergzand commented on #8098
No significant code here, only verified so far that it is fixes #8126. I'll wait for your PR :)

[2017-11-23 15:37] miri64 commented on #8121
RPL DEBUG seems to be pretty broken in general... (ENABLE_DEBUG defines in header files, what?)

[2017-11-23 15:40] bergzand commented on #8121
My thoughts exactly. :)

[2017-11-23 15:54] PeterKietzmann commented on #8115
@hahchenchen even no "IDLE" state or something? In that case a solution as proposed seems reasonable. Would you provide a fix?

[2017-11-23 16:58] bergzand opened #8129 "gnrc_rpl: Don't add routes without a next hop to DAO"
Minor quirk int the new gnrc_rpl code, causes routing tables such as:

[code]

Note entry number 1 and 3. Fix in a few minutes or hours.

[2017-11-23 17:11] miri64 commented on #8129
Err, entry one is valid and the prefix list entry. It is however a bug, that the NIB doesn't update PL entry to a route entry instead of creating a whole new entry. I can look into that as well.

[2017-11-23 17:13] bergzand commented on #8129
Yes, blame that on some my bad wording of the issue. What I tried to say is that entry number 3 is invalid (as far as I know), and overlaps/conflicts with entry number 1 which is correct.

[2017-11-23 17:16] miri64 commented on #8129
Yes and no. Entry 1 is supposed to be updated to be equal to entry 3.

[2017-11-23 17:16] miri64 commented on #8129
Working on some unittests to support my hunch ;-).

[2017-11-23 17:33] miri64 commented on #8129
Mhhhhh.... I did that, but it didn't fail...

[code]

Won't add it as such.

[2017-11-23 17:34] miri64 commented on #8129
(it's pretty similar to `test_nib_ft_add__success_overwrite_unspecified` anyway)

[2017-11-23 17:34] bergzand commented on #8129
The old RPL code doesn't add the prefix to the DAO packets. I think the fix here is to extend the check on the `fte` [here]( https://github.com/RIOT-OS/RIOT/blob/gnrc_netif2_integration/master/sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c#L754) with a check if `!ipv6_addr_is_unspecified(&fte.next_hop)`

[2017-11-23 17:35] bergzand commented on #8129
Maybe we're talking about two different issues here?

[2017-11-23 17:36] miri64 commented on #8129
Maybe. And yes, your fix sounds reasonable.

[2017-11-23 17:53] miri64 opened #8130 "gcoap: can't build with network stacks other than GNRC"
If one tries to build gcoap with any other stack than GNRC (e.g. by adding gcoap to the `tests/lwip` application), it won't build. This is because `gcoap` uses the (always stack dependent) member `reg` of the `sock_udp_t` type are accessed in `gcoap_req_send2()`.

[2017-11-23 17:56] miri64 commented on #8126
Fixed in #8127

[2017-11-23 17:56] #8126 closed

[2017-11-23 18:45] gebart commented on #8130
Doesn't the G in gcoap stand for GNRC?

[2017-11-23 21:51] miri64 commented on #8130
As far as I know that has legacy reasons. Also, then why is it using `sock`? Also also: this one line is the only thing preventing `gcoap` to be used with other network stacks ;-)

[2017-11-23 23:31] miri64 commented on #8129
Fixed in #8132.

[2017-11-23 23:31] #8129 closed

[2017-11-23 23:32] miri64 commented on #8098
@bergzand please close this, if your long-term RPL tests proof this to be fixed.

[2017-11-23 23:34] bergzand commented on #8099
@miri64 I haven't encountered this assertion since I created this issue. Do you mind if I close this issue tomorrow morning if my nodes didn't trigger it again by then?

[2017-11-23 23:40] miri64 commented on #8099
Not at all. :-)

[2017-11-24 08:17] florian-jean commented on #8106
@miri64 Thanks, I was able to generate the patch for the new version of wakaama (at least for the core and examples)

In order to generates the tests/examples for riot, I need to do conditional inclusion of some folder of wakaama.

So I need the Riot's example Makefile to communicate (just a flag) with the wakaama RIOT's pkg Makefile.

Apparently the CFLAGS are not shared between makefile. Any ide

[2017-11-24 08:43] bergzand commented on #8099
Could not reproduce. Might be accidentally fixed by a previous PR.

[2017-11-24 08:43] #8099 closed

[2017-11-24 09:29] miri64 commented on #8106
`export CFLAGS` should do that... But maybe @cladmi can help with that
better.

[2017-11-24 09:35] florian-jean commented on #8106
@miri64 Yep export works. I created a special var in order not modify the behavior of the sub-make.

I'm now struggling with making the conditional statement in the makefile. I have not deal with makefile much up to know (only ultra basic ones).

I would like to put the conditional statement in the recipe (so interpreted as sh to my understanding) but it doesn't seem to interpret it right. I ll fi

[2017-11-24 10:08] bergzand opened #8133 "gnrc_rpl: missed edge cases with route lifetimes"
2 edge cases were missed with #8128, both for the preferred lifetime and for the valid lifetime:

1. Prefixes with infinite lifetimes should be advertised as infinite. Currently when a prefix has an infinite lifetime on the RIOT node (`UINT32_MAX`), it is divided by `MS_PER_SEC` and added to the packet. This should be added as `UINT32_MAX` instead, as that is the indication for RPL information tha

[2017-11-24 10:09] bergzand commented on #8133
For case number 2 it might be enough to add those routes as `UINT32_MAX - 1`

[2017-11-24 10:18] miri64 commented on #8133
Or I do it as I did with the PIO in the RAs ;-)

[2017-11-24 10:33] miri64 commented on #8133
I do not handle corner case 2 there correctly as well... will fix as well.

[2017-11-24 10:38] bergzand opened #8134 "gnrc: RA PIO lifetimes are added as milliseconds instead of seconds"
Lifetimes [here](https://github.com/RIOT-OS/RIOT/blob/gnrc_netif2_integration/master/sys/net/gnrc/network_layer/ipv6/nib/_nib-router.c#L102) are added as milliseconds, while [rfc 4861, sec 4.6.2](https://tools.ietf.org/html/rfc4861#section-4.6.2) specifies seconds. I have not yet confirmed whether the receiving side of the RIOT code has the same (inverted) issue.

[2017-11-24 10:44] miri64 commented on #8133
Fixed in #8135.

[2017-11-24 10:47] miri64 commented on #8134
Also fixed in #8135.

[2017-11-24 10:47] miri64 commented on #8098
https://github.com/RIOT-OS/RIOT/pull/7925#issuecomment-346792780 tells me, this can be closed.

[2017-11-24 10:47] #8098 closed

[2017-11-24 10:53] cladmi commented on #8106
`CFLAGS` should already be shared between modules because of https://github.com/RIOT-OS/RIOT/blob/2017.10/makefiles/vars.inc.mk#L40

However, all the '-DFOO="bar"' are removed from CFLAGS and put into a common header https://github.com/RIOT-OS/RIOT/blob/2017.10/Makefile.include#L554
So not visible from Makefile but only from the source files, this may be your problem.

@florian-jean what is the "s

[2017-11-24 10:58] florian-jean commented on #8106
@cladmi Well, that's weird, I couldn't see the flags I added to  CFLAGS from the other makefile debug output.

I ended up exporting a var by myself

My branch is local. I ll push it to my git on monday

[2017-11-24 11:42] kb2ma commented on #8130
Originally, gcoap was developed for GNRC. However, conn/sock was implemented in the same timeframe, so I adapted gcoap to sock. As Martine has found, the adaptation is not complete. I should have dealt with this long ago. :-/

gcoap runs in its own thread, and listens indefinitely as a server in sock_udp_recv(). However, when another thread wants to send a message, gcoap puts a message in the sock

[2017-11-24 11:46] miri64 commented on #8130
I think that just stashes the problem a step further down ;-).

I think what we really need so your gcoap thread does not have to listen indefinitely is to finally add some events to `sock` (so we have something like `select()`). Now that @kaspar030 event abstraction #6000 is merged this should be pretty simple to integrate. As soon as I'm done with #7925 I will start to think about that.

[2017-11-24 11:52] neiljay commented on #7753
Its more likely to be fixed by this:  #8032

[2017-11-24 12:50] miri64 commented on #7713
As I did not see the reported RAs and @bergzand also didn't report anything like this, I close this issue for now. Please reopen if you disagree.

[2017-11-24 13:01] bergzand commented on #8133
#8135 is merged

[2017-11-24 13:01] #8133 closed

[2017-11-24 13:02] bergzand commented on #8134
#8135 is merged

[2017-11-24 13:02] #8134 closed

[2017-11-24 14:19] kb2ma commented on #8130
Thanks, sounds like a good plan.

[2017-11-24 16:26] cladmi commented on #8019
@neiljay I am still interested on your expertise, can the dependency to `mips32r2_common` be moved to `mips_pic32_common` ? or is it just specific to the mips_pic32mx/mz.

[2017-11-24 16:33] neiljay commented on #8019
yes if the buildsystem allows you, all pic32 devices will depend on pic32_common and on mips32r2_common (all pic32 devices use a mips32r2 compatible core).

On 11/24/17 16:26, Gaëtan Harter wrote:

[2017-11-24 17:03] cladmi commented on #8019
I can propose a PR for this, basically `pic32_mx/Makefile.include` will include `pic32_common/Makefile.include` which includes `mips32r2_common/Makefile.include`.

[2017-11-26 06:37] hahchenchen commented on #8115
No, i would like to provide a fix for it after i fix the spi issue.

[2017-11-27 08:02] aabadie opened #8141 "Fix common python style issues found in automatic test scripts"
Here is the list of the problems returned (only in `tests`):
- [x] E402 module level import not at top of file (because of `import testrunner` after `sys.path.append`...) (#8249)
- [x] E302 expected 2 blank lines, found 1 (#8142)
- [x] F401 *module* imported but unused (#8143)
- [x] E401 multiple imports on one line (#8150)
- [x] E128/E127 continuation line under/over-indented for visual indent (#

[2017-11-27 08:18] aabadie commented on #8141
I would also like to have opinions on 'E402 module level import not at top of file'. There are several ways to remove this:
* move the `import testrunner` in the `__main__`. Already done in other scripts but I'm not sure that's the cleanest
* in the test Makefile, export an updated `PYTHONPATH` environment variable containing the path to `testrunner.py` just before the call to the script. Then no

[2017-11-27 10:24] smlng commented on #7713
Started (re)testing of #7925 😄

First issues I found were a compile error and a command which wasn't working as expected see #8144.

Further, I found the following behaviour I'm unsure if that is correct or expected, here is what I did:

I run single instance of `gnrc_networking` on native (macOS) and do some pings to the host system and use Wireshark on the tap bridge:

1. `ping6 ff02::1` from RI

[2017-11-27 10:24] smlng commented on #7713
forgot to clarify: 1 and 2 look fine to me, but 4 seems to be odd

[2017-11-27 10:26] kYc0o commented on #6451
#7956 was merged, can we consider this as solved?

[2017-11-27 10:30] PeterKietzmann commented on #6451
Whoops, thought I already closed this issue. Yes, I see it as solved now.

[2017-11-27 10:30] #6451 closed

[2017-11-27 10:38] bergzand commented on #7713
@smlng I do not see the behaviour from 4 when adding the entry as soon as the RIOT instance is started (so omitting step 1 and 2). I have not yet tested the full steps of your comment yet as #8144 is not yet merged.

[2017-11-27 10:49] smlng commented on #7713
@bergzand you're right, works - I made a mistake: I added the entry manually **but** for the wrong interface, i.e. 7 instead of 6 -> with 6lo the interface pid is 7, but w/o 6lo (as for ethernet/tap on native) the pid is 6 😦.

---

Interesting side effect: after manually adding a faulty entry and ping6 on the host lladdr there are 2 entries in the nib for the same address and lladdr, but on differ

[2017-11-27 10:51] smlng commented on #7713
or more correct: you have to delete in a loop to remove all entries, but you cannot select (or know) which will be deleted first - at least if you do not know in which order they were added 😉

[2017-11-27 11:18] smlng commented on #7713
I started to test on boards, first issue/question: with 6lo active RFC6775 applies, which says ND is host-initiated and does not use multicast. So question for latter: why does RIOT still join its sol. mcast address? Here `ifconfig` for PhyNode (pba-d-01-kw2x):

[code]

[2017-11-27 11:35] miri64 commented on #7713
`gnrc_networking` is in 6LR configuration, RFC 6775 to optionally do [classic NDP between routers](https://tools.ietf.org/html/rfc6775#section-6.5.5) and so we do. If you want the node to be in host configuration (6LN) either remove RPL and the `_router` in `gnrc_ipv6_router_default` or use the `gcoap` example.

Can you please summarize your findings again? I'm a bit confused what the issue is sti

[2017-11-27 11:53] bergzand commented on #7736
I've been thinking a bit about this the last few days since I have a few network features in mind which could greatly benefit from "dynamic" allocation per network device. Most notably at the moment #6873 where ETX tracking doesn't make a lot of sense on wired interfaces.

Would it be possible to reuse the memory space of a thread for this? Stack starting on one end, "one way heap" on the other en

[2017-11-27 12:15] miri64 commented on #7736
There are no threads in `netdev` and not supposed to be, so no.

[2017-11-27 12:31] miri64 commented on #7713
Is this the only remaining issue in this issue (wording chosen intentionally ;-P)?

Yes it does make sense to have 2 entries with the same *IP* address at least (lladdr might also work if they are in distinct networks). An example: A device has two radios and is in direct neighborhood for the border routers of each radio network. The administrators for both border routers are a bit lazy, so for bo

[2017-11-27 12:45] PeterKietzmann commented on #7662
@dylad would you consider this issue addressed? If not, any chance you provide a fix? I'd like to close this issue then...

[2017-11-27 12:48] PeterKietzmann commented on #7017
I consider this issue as outdated/solved, especially because I have a running configuration on my desk. @kbumsik please give a sign if you need further help.

[2017-11-27 12:48] #7017 closed

[2017-11-27 12:50] PeterKietzmann commented on #6629
@aabadie sorry if I don't get it from the above list, but arent't all boards ported now? If so, why don't we close this issue?

[2017-11-27 12:53] aabadie commented on #6629
There are some remaining and the documentation is missing for some of the listed boards. I'd like to keep this one open for tracking the porting status.

[2017-11-27 12:57] PeterKietzmann commented on #6611
On that device we provide a configuration for the second SPI bus which is
[code]
I've tested this configuration and it works. Power consumption has been discussed/addressed elsewhere. @shreeharsha22 I consider this issue as solved and close it. Please give me a sign if you need further help

[2017-11-27 12:57] #6611 closed

[2017-11-27 12:59] PeterKietzmann commented on #6629
Oh completely overseen them two open PRs. Will 'ask around' if someone has the boards around.

[2017-11-27 13:03] PeterKietzmann commented on #6261
@immesys I know you are really experienced with "low power" (in general) on that platform. Could you share some insights?

[2017-11-27 13:28] dylad commented on #7662
Well I've got my answer. Maybe I'll come with a buffered UART read as module using isrpipe someday :)

[2017-11-27 13:28] #7662 closed

[2017-11-27 14:24] cladmi commented on #7753
If you can reproduce it, I am interested in the result of

[code]

I should only have a subset of the object files

[code]

If its the case, then yes it should be solved by #8032

Manually deleting `periph.a` also brings me a broken build output because different modules use the same name.

[2017-11-27 14:42] PeterKietzmann commented on #1123
Now that #7929 and #8139 are merged we can close this issue I guess.

[2017-11-27 14:42] #1123 closed

[2017-11-27 14:44] miri64 commented on #1123
#8139 isn't merged yet (maybe you referenced the wrong PR?), but I agree, that since we have support for this platform now, we can close this issue.

[2017-11-27 14:52] haukepetersen opened #8151 "style: notation of hexadecimal numbers (0xAFFE vs 0xaffe)"
While reviewing #7937, I noticed that we don't have a preferred/default/defined way to note hexadecimal numbers: in the RIOT code base they are as often written using capital letters as they are using lowercase.

I think it would make sense to add a sentence with a preferred style to the coding conventions. Personally I prefer lowercase letters, but this is certainly very subjective. So how about

[2017-11-27 14:59] aabadie commented on #8151
Why not use Github emoji for the vote ? Let's add a comment for each proposition and people vote the comment they prefer. What do you think ?

[2017-11-27 15:01] PeterKietzmann commented on #2046
@LudwigKnuepfer IMO the [peripheral documentation](https://riot-os.org/api/group__drivers__periph.html) has greatly improved the past two years and there are a couple more recent issues asking for further doc enhancements. As this issue seems comparatively outdated I'll close it now. Please reopen if I'm mistaken

[2017-11-27 15:01] #2046 closed

[2017-11-27 15:03] PeterKietzmann commented on #2195
@miri64 didn't  #6311 solve this issue or are we waiting for #6121???

[2017-11-27 15:05] miri64 commented on #2195
Nope. This was indeed fixed by #6311. #6121 has nothing to do with `netdev_tap`.

[2017-11-27 15:05] #2195 closed

[2017-11-27 15:07] PeterKietzmann commented on #2300
qemu support hast been removed with `#8042`

[2017-11-27 15:07] #2300 closed

[2017-11-27 15:09] miri64 commented on #8151
I prefer (ii). This is personal taste (and a weird one as well), but uppercase hex look always kind of MS-DOS-y and old-timey to me.

[2017-11-27 15:11] haukepetersen commented on #8151
@aabadie: alright, we might as well try it. So please vote on one of the tree following:

[2017-11-27 15:11] haukepetersen commented on #8151
use uppercase for hexadecimal numbers: `0xAFFE`

[2017-11-27 15:11] haukepetersen commented on #8151
use lowercase for hexadecimal numbers: `0xaffe`

[2017-11-27 15:12] haukepetersen commented on #8151
I am indifferent. And this is a waste of time. And I really really don't care.

[2017-11-27 15:16] aabadie commented on #8151
Please vote only once !

[2017-11-27 15:18] PeterKietzmann commented on #2422
It seems there are still occurrences of this inconsistency. I think a checklist would speed up progress of addressing this issue

[2017-11-27 15:22] PeterKietzmann commented on #2755
@OlegHahm nothing happened in here for the last 2,5 years. Mind to close the issue?

[2017-11-27 15:26] PeterKietzmann commented on #3039
@jremmert-phytec-iot, @daniel-k, @zhuoshuguo could anyone of you give an estimation about this issue? What does the current situation look like and how plans to spend further time in what?

[2017-11-27 15:27] PeterKietzmann commented on #3052
@miri65 now that the new NDP is nearly there, could you update the "missing functionalities" list please

[2017-11-27 15:33] PeterKietzmann commented on #3256
@Lotterleben is this still present? @cladmi can you give an estimation about the current status?

[2017-11-27 15:38] PeterKietzmann commented on #3630
#8042 removed support for x86

[2017-11-27 15:38] #3630 closed

[2017-11-27 15:38] miri64 commented on #3052
I'm getting older :sob:

This is still up-to-date. The NIB did not add any significant new functionality. It's in the project as a reminder to the testers, that some functionality isn't implemented yet (and won't be in #7925).

(side-note: even if there would be new functionalities, I only would update them *after* #7925 got merged ;-))

[2017-11-27 15:42] photonthunder commented on #6261
@PeterKietzmann the latest version of RIOT does now include an xosc32/DFLL option.  Discussions are ongoing about coming up with low power options (issue #7332, #7743, #7913, #7944).  That being said, any insight that @immesys or anyone else provides to get the ball rolling would be greatly appreciated.

[2017-11-27 15:42] miri64 commented on #2755
`txtsnd` went into the direction this PR asked for, `ncache` will be removed with #7925 (and replaced with the more versatile `nib` command), so and overall the momentum seems to go more into the direction to define separate modules for optional helper commands. I would say close as well (@OlegHahm reopen if you disagree).

[2017-11-27 16:07] florian-jean commented on #8106
@cladmi
So I did a dirty repo
https://github.com/florian-jean/RIOT

Please see the makefile from tests/wakaama/client
What I did in the pkg/wakaama/Makefile is that I compile others module depending on the var WAKAAMA_EXAMPLE exported by the application makefile.

That enable me to keep the default tree of directories from wakaama and build the examples to incorporate them to riot.
However, I have

[2017-11-27 16:11] PeterKietzmann commented on #7846
Just for reference: #6575 and #6576 might take this into account

[2017-11-27 16:22] florian-jean commented on #8106
@cladmi

I can generate a few library from the makefile
wakaama (the main library from the compilation of the package)
shared_wakaama (the library of tools shared between the exemples)
client_wakaama (the library from the exemple)

I can see them all in the build directory however I can load only wakaama.a through either USEPACKAGE or the INCLUDE += $RIOTPKG/wakaama

Is there any var to access the

[2017-11-27 16:28] immesys commented on #6261
@hyungsin want to look over this? I'll take a look later

[2017-11-27 16:54] PeterKietzmann commented on #4684
@a3zzat, @phani2410 was there any progress since early 2016?

[2017-11-27 17:03] PeterKietzmann commented on #4893
@Joelfp did you follow recent discussion on the mailing list and PRs related to power management in general? Couple of things have changed and this issue is actually not up to date I guess. Mind to close?

[2017-11-27 17:09] PeterKietzmann commented on #5173
This driver has been removed with #6592 as it was pretty much outdated

[2017-11-27 17:09] #5173 closed

[2017-11-27 17:13] PeterKietzmann commented on #5398
@x3ro can you check if all questions have been answered? If so please close, otherwise, please rephrase still open questions!

[2017-11-27 17:25] PeterKietzmann commented on #6150
@Jiffkuo I didn't follow your description above in detail but however, cooja was never (really) part of RIOT ( #1921 wasn't merged). Also, there was no conversation since one year. You think we can close this one?

[2017-11-27 17:27] Jiffkuo commented on #6150
Yes, please close it.
Thanks

From Jiff Kuo iPhone

[2017-11-27 17:28] #6150 closed

[2017-11-27 17:38] PeterKietzmann commented on #6456
@juttTechnology, @rmadhuraj we do not officially support development under windows, except the virtual box that we provide. This does't mean these efforts are not worth a try, it's even adorable. However, if you actually start to work on this, I'd like you to open a fresh issue where you can tackle down and track your tasks. That's why I'm closing this one now.
Besides, don't hesitate to yous our

[2017-11-27 17:38] #6456 closed

[2017-11-27 17:45] PeterKietzmann commented on #6715
These wiki pages might help you:
- [Porting Guide](https://github.com/RIOT-OS/RIOT/wiki/Porting-Guide)
- [Writing a device driver inRIOT](https://github.com/RIOT-OS/RIOT/wiki/Guide:-Writing-a-device-driver-in-RIOT)
@denzelwamburu, @cvgaviao can you give a quick status update about your efforts?

[2017-11-27 17:50] PeterKietzmann commented on #6941
@yennhan1211 there are no current plans or ongoing efforts, which does not mean that there is generally no interest in that. If you consider contribution a port, #7622 might have simplified things. If you didn't start yet but you plan to, please ask around on the developers mailing list before. And don't hesitate to open new issues, if you find some. This one I'm going to close now

[2017-11-27 17:50] #6941 closed

[2017-11-27 17:55] PeterKietzmann commented on #7278
Have a look at #7893. There have been some efforts as you can see, all seem to be stuck somehow. But don't hesitate to ask for details in respective issues. There are also some (none-yet-visible) efforts to integrate the OpenWSN stack into RIOT. If you consider to provide help, send me a private message.

[2017-11-27 17:55] #7278 closed

[2017-11-27 17:59] PeterKietzmann commented on #7744
@bnjroos please rephrase!

[2017-11-27 18:45] cgundogan commented on #7713
Not a blocking issue, but important for the long run:
My setup is:
[code]
All nodes are in range.

The 6lh sets a default route to the router from the first received RA.
This would lead to a ping (6lh -> 6lbr) scenario, where 6lh sends a ping request to 6lbr via 6lr and the ping reply is sent back directly from 6lbr to 6lh. I would expect that the ping request is sent directly from 6lh to 6lbr.

A

[2017-11-27 19:40] miri64 commented on #6456
I think you meant "admirable". "Adorable" has more the connotation of "cute" ;-).

Now that I have a pure Windows machine at home again, I was also thinking of providing something on the side like this. However, I'm also happy if someone else provides the port and I would just give my testing power and RIOT expertise towards that goal ;-).

[2017-11-27 19:51] miri64 commented on #7713
@cgundogan can you open a separate issue for that (though I added the functionality in RFC4191 to #3052). However, I don't think RFC4191 alone will fix this issue, but rather that is also an interplay with the issue @smlng pointed out during today's call, that (current) Linux does not behave according to RFC6775 and expects the neighbor to be in the solicited-nodes address of its address. Maybe @a

[2017-11-27 21:00] basilfx commented on #4882
I've spend an hour to see how TestU01 could be used, but it requires serious patching before it even compiles (missing externs, lots of errors). @kaspar030, my guess is that you didn't continue either?

Maybe, for on-target testing, we could use something simple (but commonly used) FIPS 140-2 testing (like used in [rngtest](https://linux.die.net/man/1/rngtest)). That would be easy enough to re-imp

[2017-11-27 22:39] miri64 commented on #5656
This was fixed with the introduction of the new network interface API in #7925

[2017-11-27 22:39] #5656 closed

[2017-11-27 22:40] miri64 commented on #5790
After pondering this a little bit, I I'm not sure if this is actually a conjestion issue (which can't be fixed with normal IPv6). Can you retry?

[2017-11-27 22:42] miri64 commented on #5539
@biboc can you test if this is still an issue, now that #7925 is merged?

[2017-11-27 22:43] miri64 commented on #5467
Confirmed this to be the case multiple times over the last week. (#7925 is merged)

[2017-11-27 22:43] #5467 closed

[2017-11-27 22:44] miri64 commented on #5122
#7925 was merged and I confirmed this issue to be fixed multiple times last week.

[2017-11-27 22:44] #5122 closed

[2017-11-27 22:45] miri64 commented on #5005
Did not see this, when testing #7925 (which is now merged)

[2017-11-27 22:45] #5005 closed

[2017-11-27 22:47] miri64 commented on #4499
Both files referred in this issue were replaced by a complete rework in #7925, so I deem this issue resolved.

[2017-11-27 22:47] #4499 closed

[2017-11-28 08:03] hahchenchen opened #8162 "MODULE_CCN_LITE error"
I add `USEMODULE += ccn_lite` in Makefile of examples/ccn-lite-relay. my board is nucleo144-f429

there came out en error when compile:
`arm-none-eabi-gcc: error: /home/c/ICN/RIOT/examples/ccn-lite-relay/bin/nucleo144-f429/ccn_lite.a: No such file or directory`

is there any help for that?

[2017-11-28 08:10] PeterKietzmann commented on #8162
@hahchenchen it is `USEPKG += ccn-lite`. However, there are a couple of other requirements. Did you loog at the ccn-lite-relay example, especially the [`Makefile`](https://github.com/RIOT-OS/RIOT/blob/master/examples/ccn-lite-relay/Makefile)?

[2017-11-28 08:13] miri64 commented on #8162
For reference (and maybe more discussion) on this https://github.com/RIOT-OS/RIOT/issues/6668.

[2017-11-28 08:31] hahchenchen commented on #8162
Yes, this my setting:
`USEPKG += ccn-lite`
`USEMODULE += ccn-lite-utils`
I wanna add`USEMODULE += ccn_lite`, because in the nettype.h: https://github.com/RIOT-OS/RIOT/blob/master/sys/include/net/gnrc/nettype.h#L101, i need ccn_lite module for enable the GNRC_NETTYPE_CCN protocol.

[2017-11-28 08:53] hahchenchen commented on #8162
Hm,  my network device is cc110x, so i need add a case for GNRC_NETTYPE_CCN in _send function: https://github.com/RIOT-OS/RIOT/blob/master/drivers/cc110x/gnrc_cc110x/gnrc_cc110x.c#L64
right?

[2017-11-28 08:56] PeterKietzmann commented on #8162
@hahchenchen sorry for not reading properly. Don't use `USEMODULE += ccn_lite`. The nettypes are already included with that example, because `MODULE_CCN_LITE` is automatically generated. Yes, is seems the driver needs adaption. See what was done for the [Amel 802.15.4 driver](https://github.com/RIOT-OS/RIOT/blob/master/drivers/at86rf2xx/at86rf2xx.c#L92).

[2017-11-28 09:00] PeterKietzmann commented on #8162
YOu referenced the `_send` function. In the [`_recv`](https://github.com/RIOT-OS/RIOT/blob/master/drivers/cc110x/gnrc_cc110x/gnrc_cc110x.c#L131) function it seems to be handled properly. Please just remove `USEMODULE += ccn_lite` from your makefile and report the actual issue you have

[2017-11-28 09:24] hahchenchen commented on #8162
Hm, the actual issue is: when i use cc110x as a network device to run ccn-lite,
the gnrc_netreg_num function always return 0: https://github.com/RIOT-OS/RIOT/blob/master/sys/net/gnrc/netreg/gnrc_netreg.c#L83

[2017-11-28 09:40] bergzand commented on #7736
For now, I'm trying to ~solve~ get some discussion going on the issue of where to store the `netdev_layered_t` data if they are not statically allocated at compile time.

Just so that I understand what you're saying here, the netdev radio drivers are not thread aware, so no calls to threading functions right? Somewhere up in the stack there has to be some kind of thread running an event loop contr

[2017-11-28 10:02] PeterKietzmann commented on #8162
Did you include the radio driver to your Makefile  (`USEMODULE=cc110x`)? When I do so I get the following error:
[code]
... which is due to an inconsistency with that driver. The msba2 board inculdes such a fiel, but there is no fallback (section "Default device configuration" in [this guide](https://github.com/RIOT-OS/RIOT/wiki/Guide:-Writing-a-device-driver-in-RIOT)) might be of interest. How di

[2017-11-28 10:52] hahchenchen commented on #8162
I include the `USEMODULE=cc110x`, and i modify cc110x_params.h in msba2 to suit my board.

[2017-11-28 11:05] miri64 commented on #7736
Yes, the threading, if required, is provided by the network stack, but `netdev`'s event management (the `isr()`+`event_callback()` bootstrap) allows for totally thread-less environments as well.

[2017-11-28 11:24] miri64 commented on #8162
Did you include `USEMODULE += auto_init_gnrc_netif`

[2017-11-28 11:42] hahchenchen commented on #8162
Yes

[2017-11-28 12:04] hahchenchen commented on #8162
I found that when cc110x recv the pkg, and called the gnrc_netreg_num funciton, the type is GNRC_NETTYPE_UNDEF, but the entry for that is `NULL`:https://github.com/RIOT-OS/RIOT/blob/master/sys/net/gnrc/netreg/gnrc_netreg.c#L94
 It seems we don't register netreg for GNRC_NETTYPE_UNDEF

[2017-11-28 12:19] miri64 commented on #8162
It seems we don't register netreg for GNRC_NETTYPE_UNDEF

Ah yes of course. You need to search for `GNRC_NETTYPE_CCN`. Maybe some fix to the GNRC adapter of the `cc110x` is in order here.

[2017-11-28 12:39] miri64 commented on #5790
Testing now with

[code]

From Linux host.

[2017-11-28 12:40] cladmi commented on #3256
If I understand correctly what is described here:

In a module `Makefile`, lets say `sys/net/super_module` there is
[code]

In a **header** for this module there is
[code]
And running `make ENABLE_SUPER_POWER=1` only affects `super_module` and not every modules.

---

If I understood correctly, I say this is intended behavior and is even a feature.

Changing CFLAGS in a module `Makefile` only affe

[2017-11-28 12:42] cladmi commented on #8106
Thanks, I will look at it and get back to you.

[2017-11-28 12:43] miri64 commented on #5790
(I'll run it a bit longer, but sniffer already tells me, that the ND messages come through clear as day, both for link-local addresses and GUAs)

[2017-11-28 12:56] bergzand commented on #7736
Makes sense.

This whole idea of (one time dynamic) allocation of the `netdev_layered_t` structs doesn't necessarily have to happen inside netdev right? What I'm thinking of is a structure where the process/functions controlling a `netdev_t` instance (`gnrc_netif` or a different threadless design) also configures it with the required layered structs. How this allocation then happens is the problem

[2017-11-28 12:58] miri64 commented on #7736
Sound's like a nice idea. Are you willing maybe to provide a proof-of-concept. Would do it myself, but currently don't have enough time at hand for that. :-/

[2017-11-28 13:03] bergzand commented on #7736
Sure, not going to promise anything as my time is limited too, but it sounds like a fun challenge :)

[2017-11-28 13:08] hahchenchen commented on #8162
Yes, i think i will provide a PR as soon as possible

[2017-11-28 13:11] biboc commented on #5539
I have no time now to test it unfortunately
This issue is very old and IMO should be removed

[2017-11-28 13:12] biboc commented on #5790
Great if you solve it!
Congrats for your job on network @miri64

[2017-11-28 13:17] miri64 commented on #5539
I'll try to see what I can do, once I'm through with testing for #5790.

[2017-11-28 13:31] bergzand commented on #8003
@kb2ma Is this still an issue now that #7925 is merged?

[2017-11-28 13:34] #8019 closed

[2017-11-28 13:43] miri64 commented on #5790
Ran for over an our now and multiple updates to the neighbor cache and default router list happened on both border and downstream router. I think we can deem this issue fixed.

[2017-11-28 13:43] #5790 closed

[2017-11-28 13:49] miri64 commented on #5539
I actually think this was covered in my earlier tests for #7925, unless I'm missing something. But since you @biboc as OP also say it should be closed, I close it now (untested, but pretty confident that it is fixed).

[2017-11-28 13:51] #5539 closed

[2017-11-28 13:53] miri64 commented on #5016
Sorry 'bout the project back-and-forth.... Thought I accidentally moved it to "In Progress" there in connection to #7925.

[2017-11-28 14:01] haukepetersen commented on #8151
Seems like the majority of people doesn't care, so I take we simply do nothing w.r.t. this topic. Closing this issue again - as always: re-open of anyone disagrees with the outcome.

[2017-11-28 14:01] #8151 closed

[2017-11-28 16:44] cladmi commented on #8141
We discussed with @aabadie regarding python conventions.

He will openan issue to propose a documentation.

In short, `python3.5` compatible (because its ubuntu stable version) and following python reference style https://www.python.org/dev/peps/pep-0008/

[2017-11-28 16:48] x3ro commented on #6267
Closing this, since it didn't generate any visible interest. Feel free to bring it up again if you're interested.

[2017-11-28 16:48] #6267 closed

[2017-11-28 16:50] x3ro commented on #2894
Seems like nobody has run into this and I cannot reproduce it anymore, so I'm closing this. Feel free to reopen in case you encounter this issue.

[2017-11-28 16:50] #2894 closed

[2017-11-28 17:03] x3ro commented on #5398
Closing this as the discussions has stagnated. If I have the time, I shall review the topic again and perhaps kick off another discussions if necessary.

[2017-11-28 17:03] #5398 closed

[2017-11-28 17:11] PeterKietzmann commented on #7091
@x3ro would you give it a try at the Hack'n'ACK tonight?

[2017-11-28 17:11] PeterKietzmann commented on #8033
@x3ro would you give it a try at the Hack'n'ACK tonight?

[2017-11-28 17:15] miri64 commented on #6267
@danpetry maybe this is something you can pick up?

[2017-11-28 17:52] x3ro commented on #7091
I've tried all sorts of pinging using the current `master` and `gnrc_networking` example. Everything seems to be working as expected, couldn't find any channels of ☠️. I'm closing this after conferring with @PeterKietzmann, since apparently it cannot be reproduced.

[2017-11-28 17:52] #7091 closed

[2017-11-28 20:28] x3ro commented on #8033
Sorry, this is exceedingly hard to test on macOS since current versions of the msp430 compiler do not work with RIOT at this point in time, and getting the version installed on Murdock involves patching and building GCC 4.x 😓 I don't recommend trying it on macOS and going directly for Ubuntu. I didn't get around to testing this.

[2017-11-29 10:21] kaspar030 commented on #8141
I'd prefer this. Should be a one-liner in the makefiles, right?

[2017-11-29 10:29] aabadie commented on #8141
yes. After discussing IRL with @cladmi, we found that using the first solution (moving sys.path.append and import testrunner in the `__main__` block was the better solution. Then the test script will just be:
1. import code module `os`, `sys` and necessary modules for the test
2. (optional) define global variables
3. write a testfunction
4. put the `__main__` block containing the import to testrun

[2017-11-29 11:34] kb2ma commented on #8003
Yes, this still times out as of commit 156240c from today. The ncache command is gone from the shell, so I use the following instead:

`nib neigh add 8 bbbb::1`

[2017-11-29 11:45] bergzand opened #8172 "gnrc_netif, gnrc_uhcpc: Replacing prefix on border router results in no configured prefix"
Scenario: Launch the gnrc_border_router on the platform of choice. First use the uhcpd to add a first prefix, then restart it with a different prefix.

Expected result: The node first has the initial prefix and address configured on the wireless interface, later this is replaced by the second prefix.

Observed result: The node first has the initial prefix. Later this is removed, but the new prefix

[2017-11-29 11:47] bergzand commented on #8003
Thanks for testing, I'm going to try to reproduce the issue.

[2017-11-29 13:45] cladmi commented on #8106
From a first look, I will refine later:
* first you changed permissions of all files in RIOT to 0755 and this should not be committed :)
* You are currently defining the modules in wakaama/examples/subdirs only when used, and they should always defined. And its easier to just copy a Makefile in them.
    *  the module should have a name prefixed by wakaama `wakaama_example_server` to simplify the

[2017-11-29 14:55] danpetry commented on #6267
Hi @miri64 , yep this is something I'm interested in, I have made a note and will re-open when I have time to pay it more attention.

[2017-11-29 15:56] PeterKietzmann commented on #8033
@miri64 please check #8176.

[2017-11-29 15:56] zhuoshuguo commented on #3039
For duty-cycling MAC protocol implementations, currently, we have LWMAC in RIOT, and now [GoMacH](https://github.com/RIOT-OS/RIOT/pull/5618) is close to be merged.

[2017-11-29 16:19] aabadie commented on #8141
Finally, I'll post a documentation draft in markdown here. This draft, if accepted, can be later use as wiki page for Python script convention.

Draft:

## Python coding convention

### General

* Code shall be compliant with Python 3.5 minimum because this is the default Python 3 version in Ubuntu 16.04 (used as the reference system for CI)
* Code shall be [PEP8](https://www.python.org/dev/peps/p

[2017-11-29 16:20] aabadie commented on #8141
@cladmi, here is a draft for a Python script coding convention page, feel free to amend the comment.

[2017-11-29 16:21] PeterKietzmann commented on #8033
#8176 fixed the issue

[2017-11-29 16:21] #8033 closed

[2017-11-29 16:23] zhuoshuguo opened #8178 "GNRC MAC protocols: port to gnrc_mac module and add tutorials."
This issue is mainly about a list of future works on GNRC MAC protocols and the related modules.

So far, we have LWMAC protocol in RIOT, and will soon have GoMacH protocol. To make the codes more compact and enhance code re-usage and also remove the timer-source rely on RTT, a plan is to port both LWMAC and GoMacH to the `gnrc_mac` module. Also, we need some more detailed descriptions/instruction

[2017-11-29 16:35] miri64 commented on #8141
Why this restrictive naming convention? I would find it actually pretty useful, that if there are multiple test scripts (for different test cases e.g.) that they could have a more decriptive name, like

* `01-send-udp.py`
* `02-icmpv6-ping.py`

[2017-11-30 10:23] cladmi commented on #3256
I will write a PR to document "For developers, how to make a module configurable".

[2017-11-30 10:33] cladmi commented on #8052
This PR fixed some of the code duplication in the makefiles: https://github.com/RIOT-OS/RIOT/pull/8032
Some more cleanup can be done by making `mips_pic32_common` depend on `mips32r2_common` which would depend on `mips.inc.mk`.

[2017-11-30 14:07] bergzand commented on #8003
@kb2ma I can reproduce the issue on a nucleo-f446. I don't have a solution yet.

From what I can see with some debugging is that my Linux workstation replies to the ping requests, but on RIOT the replies are lost at either the slipdev driver or at the layer above.

[2017-11-30 14:15] kb2ma commented on #8003
Thanks for verifying, Koen.

[2017-11-30 15:09] danpetry opened #8184 "Tests: periph_uart: HIL test required for development and CI testing"
Tests: periph_uart: HIL test required for development and CI testing

# Summary

No automated testing currently exists for UART drivers. Such a test would aid driver development by providing a series of tests to run during development, both increasing speed of development and ensuring functional correctness. For the future, the test could be run by Murdock on permanent hardware setups, to avoid re

[2017-11-30 15:14] bergzand commented on #8184
First thing that comes to mind with your test setup: Would it be useful to attach a logic analyzer to the test setup. This way you don't have to rely on the interpretation of either of the boards in case of verification issues.

[2017-11-30 15:21] danpetry commented on #8184
Thanks Koen. Were you thinking that could be part of the CI setup or for
on-desk development only?

Is there a need to discern between the two here?

[2017-11-30 15:29] bergzand commented on #8184
My main reason for attaching an analyzer would be for the following: The UART is implemented in hardware, as far as I know, these hardware modules only return either the data and/or maybe some error bit in case of failure. I think this doesn't provide enough feedback when for example the baud rate is configured incorrectly.

To answer your question, I don't think it is really necessary for the CI,

[2017-11-30 15:48] cladmi commented on #8106
The main issue here is now fixed by merging https://github.com/RIOT-OS/RIOT/pull/8148 so I will close it.
Thank you for raising this problem.

@florian-jean I invite you to open a dedicated PR for adding the wakaama examples.
It will be easier to review there and could synchronize with @moenoel who was also interested to add some stuff to.
You can mention me when you open it, this way I will remem

[2017-11-30 15:48] #8106 closed

[2017-11-30 17:00] danpetry commented on #8184
Ok very good point thanks. I'll include this in any information re on desk development. I'll clarify what is required for CI testing and what is required for on-desk testing where relevant.

[2017-11-30 17:01] cladmi commented on #7753
@miri64 do you have news for this one ?

[2017-11-30 17:04] miri64 commented on #7753
Gnarf... sorry I totally forgot about this and it doesn't make much sense to run it now, since I'm on vacation as of tomorrow until Sunday. So I'll take a note to test it Monday.

[2017-11-30 20:37] haukepetersen commented on #7745
hi, sorry for the late reply! This could have many reasons. But looking at your snip, I am first wondering why you include the drivers c-files? I guess you do this because your compiler complained that it could not find the functions otherwise?

So please try to remove the c-file-includes and simply add the `enc28j60` module to your application Makefile -> `USEMODULE += enc28j60`.

If this does no

[2017-11-30 20:38] haukepetersen commented on #7591
This issue should be covered by #7745, so closing it.

[2017-11-30 20:38] #7591 closed

[2017-12-01 09:03] cgundogan commented on #5016
@gebart is #8173 a remedy for this issue? Can it be closed?

[2017-12-01 10:44] danpetry commented on #7941
I think I also need to change the periph_conf files for the boards that have the above cpus on them. Will include the changes for those in the PR I submit for each cpu peripheral.

[2017-12-01 11:37] haukepetersen commented on #7941
Yes, you will certainly :-)

[2017-12-01 12:13] smlng commented on #7871
closing, all tracked tests are adapted

[2017-12-01 12:13] #7871 closed

[2017-12-01 12:24] kaspar030 commented on #7871
Good job to everyone involved!

[2017-12-01 16:30] aabadie commented on #8141
I have no particular opinion on that. Since the script are called from the makefile we can choose any name. Here I just followed what is currently used in the test.
Your suggestion makes sense to me because it's self explanatory and keep some kind of name ordering. I can change that "rule"

[2017-12-03 19:35] miri64 commented on #8141
I think *I* started that, because the initial `pexpect` script by someone else was called like that.. But I never saw it as a general rule, more like lazy copy-pasta. IMHO (no technical, no taste-wise at least) there is no reason to put a constraint on the name so we shouldn't. For the Makefiles we could just use `$(shell find tests/ -x -type f)` to find all executables in `tests/`.

[2017-12-04 06:11] kb2ma opened #8199 "gcoap example request on tap I/F fails with NIB issue"
I have found that a gcoap shell example request fails to send a message on the tap interface. The problem looks to be in the NIB module. I describe the problem below, and then show a workaround that hopefully will help the networking wizards understand what's amiss.

The transcript below shows a gcoap example request to the tap interface fails. I have turned on debug in nib.c.

[code]
I can get th

[2017-12-04 11:22] miri64 commented on #8199
Hi @kb2ma, can you specify what your set-up is beyond that? Are you using the `gcoap` example? Are you communicating with the host system or with another `native` application? If it is the latter: which application?

[2017-12-04 11:27] miri64 commented on #8199
Wait, as far as I can see: you aren't providing the interface with the link-local local address. This is illegal in IPv6 and it was actually a bug in the old ND, that it was possible (and could possibly lead to problems in a multi-interface scenario with equal link-local addresses in the neighbors, say two different border routers configured as `fe80::1` on different radios).

[2017-12-04 11:28] miri64 commented on #8199
With the new NIB you always *have* to provide the interface with the link-local address (as you would do it also on e.g. Linux).

[2017-12-04 11:35] kb2ma commented on #8199
Thanks for the quick response, Martine. I am using the gcoap example. The CoAP client is RIOT, and the server is libcoap on my Ubuntu workstation.

I understand what you are saying with specification of the interface. When I specify this in the sock_udp_ep_t.netif member for the destination, the request works without the other additions I mentioned.

So what is the recommended way to specify the i

[2017-12-04 11:51] aabadie commented on #8141
@miri64, I think it's important to have minimal rules on the test scripts and probably having something like `<number>-<name>.py` is good. The idea is just to guide new contributors and avoid strange/meaningless names on test scripts.

@cladmi do you have comments on the proposed [Python coding conventions](https://github.com/RIOT-OS/RIOT/issues/8141#issuecomment-347912851) ?

[2017-12-04 12:24] miri64 commented on #8141
I'd argue that `01-run.py` already is pretty meaningless, but I agree, that the pattern `<number>.*<name>` for scripts that are run in batch is a time-proven naming scheme ;-).

[2017-12-04 12:25] miri64 commented on #8141
Next gripe to pick: If we ever change how the testrunner works (which from what I've heard might be pretty soon), so why enforce this structure? Not even now every test follows this structure.

[2017-12-04 13:27] kb2ma commented on #8199
Thanks for the recommendations. I'll try them out. I suggest also updating the [README](https://github.com/RIOT-OS/RIOT/blob/master/examples/gnrc_networking/README.md) for the gnrc_networking example with these best practices.

[2017-12-04 13:39] miri64 commented on #8199
Could you maybe do that? I'm not really sure were to add this so a potential newcomer would see that immediately.

[2017-12-04 13:51] miri64 opened #8204 "pkg: port LittleFS"
Offline @benpicco told me very excited how much faster and smaller than SPIFFS [LittleFS](https://github.com/geky/littlefs) is. A quick glance at the project's README let's me think that this might be a nice file system to support for RIOT. Anyone wants to port it to RIOT with a `vfs` wrapper?

[2017-12-04 14:28] gebart commented on #8204
Certainly an interesting project. It seems quite new based on the commit history. Is there anyone in the community who is involved in the development of that project?

[2017-12-04 14:34] kb2ma commented on #8199
The gcoap example README needs a similar update as well, so let me do that first. Then I'll see how that translates to gnrc_networking.

[2017-12-04 14:35] miri64 commented on #8204
Seems to be only one [contributor so far](https://github.com/geky/littlefs/graphs/contributors). @benpicco used to be quite active in the community (he used to be a student at FU Berlin), but apart from being a user for his work he doesn't seem to be involved in the project directly.

[2017-12-04 15:13] aabadie commented on #8141
Not yet, but it's a matter of time if we fix remaining pep8 and especially the E402 one (because the `sys.append` is called before `import testrunner`)

[2017-12-04 15:19] aabadie commented on #8141
Indeed but this is not the case **now**. If it changes one day, we'll just have to update this convention.

[2017-12-04 15:30] miri64 commented on #8141
My problem is not that the convention needs to change (though I think it is weird a *convention* must be changed once the framework changes, which should already ring some alarm bells), but that a rigid structure is a supposed to be a convention.

[2017-12-04 15:47] miri64 commented on #8141
No, because it is very restricted to a certain kind of test.

[2017-12-04 15:49] aabadie commented on #8141
which ones ? do you mean network tests ?

[2017-12-04 15:50] miri64 commented on #8141
Network tests, HIL tests, any test that involves more than one board or even more than one process (i.e. child in the context of `testrunner`) to control using `pexpect`.

[2017-12-04 15:57] aabadie commented on #8141
Ok, we are thinking the same. So to keep the test scripts more generic, we can just give a generic skeleton script without references to trestrunner related stuff  and put a testrunner specific template structure. What do you think ?

[2017-12-04 16:01] miri64 commented on #8141
I'm not against providing a skeleton script. We do [this already for application Makefiles](https://github.com/RIOT-OS/RIOT/blob/master/dist/Makefile). I'm against (hard NACK in fact) writing it into the coding convention for python scripts.

[2017-12-04 16:07] aabadie commented on #8141
I don't understand why. The generic skeleton is just a common rule for a regular python script (with `if __name__ == '__main__': etc. The rules given above is just for testrunner script and to me it makes sense to have it.

[2017-12-04 16:11] miri64 commented on #8141
Because I don't see any reason to enforce something like that. If you know any, except for being able to bug contributors about this ;-), please name some.

[2017-12-04 16:17] miri64 commented on #8141
The `if __name__ == "__main__":` thing is part of python conventions (because there is a technical reason for it; if it isn't in there you can not load the script as a module without executing the code everytime). But this is about *one* line in the entire script. Your suggestion gives a mandatory order, a mandatory naming and a mandatory call structure to the script that doesn't really sit right

[2017-12-04 16:24] aabadie commented on #8141
It seems you are discussing on implementation details here and maybe the testrunner improvement (#7258) is introducing some kind of bias here.
I propose to simply remove any specific rules related to testrunner and keep general rules on how a runnable Python test script should look like. Is it ok ?

I haven't heard about any decision for that, only discussions. The actual simple testrunner scripts

[2017-12-05 06:45] gebart commented on #5016
@cgundogan it looks like #8173 could be a fix for this, I have not had time to test.

[2017-12-05 08:53] roberthartung commented on #8048
We did something similar once - https://gitlab.ibr.cs.tu-bs.de/hartung/RIOT/tree/yschroed/boards/raspberrypi this might help you

[2017-12-05 08:56] roberthartung opened #8206 "Naming convention for CPUs and Boards"
After we have moved common boards to boards/common/XXX, we still have CPUs in cpu/ being named <xxx>_common or <xxx>_generic. In contrast, Boards still exist that are named arduino-<xx>, but also mbed_lpc1768, or seeeduino_arch-pro. So what's the deal here, can we agree on a naming convention? I would like to introduce our INGA sensor node, and I am currently using inga_red, inga_green, but would

[2017-12-05 09:18] miri64 commented on #8048
@roberthartung that repository was linked in the original post ;-)

[2017-12-05 09:19] miri64 commented on #7753
Done the tests now: There is still some race-condition for the `pic32-wifire`.

[2017-12-05 09:53] roberthartung commented on #8048
@miri64 Sorry :-D

[2017-12-05 10:25] roberthartung commented on #8048
So the fork was created by a colleague and not maintained. We might jump back on the train though and it might be really cool to have RIOT be running as an application on a raspberry pi. +1

[2017-12-05 11:27] miri64 commented on #8141
No bias, but there is IMHO a lesson to be learned that frameworks are not necessarily here to stay.

I think PEP8 and other common Python conventions should suffice or do you have more in mind?

[2017-12-05 12:23] miri64 commented on #7753
After some repeated forced builds on `examples/default` here is the output:

[code]

[2017-12-05 14:07] mlohse commented on #8117
Ok, tests against this bug have run through successfully. Regression tests are still in progress, but I doubt that there will be any side-effects... fixed for me :)

[2017-12-05 14:46] bergzand commented on #7736
While implementing this for netdev, I was thinking if this layered approach is possible for netif too. Maybe MAC layer protocols such as LWMAC and GoMacH could benefit from this approach.

[2017-12-05 15:01] miri64 commented on #7736
Could be.

[2017-12-05 15:04] cladmi commented on #7753
So it correctly compiled youhou (the `--change-section-lma .gcc_except_table+0xffffffff80000000 never used` was already there).

But why is it re-entering `examples/default` and not finding `mcuboot.mk` ?

[2017-12-05 15:43] miri64 commented on #7753
Maybe I chose the wrong cut-off ^^ my command was basically:

[code]

So I guess the previous lines were just from a previous build ^^"

[2017-12-05 15:59] miri64 commented on #7753
And: maybe this error doesn't even has anything to do with the race-condition :-/. But the race-condition is still there, when building with `dist/tools/compile_test/compile_test.py`.

[2017-12-05 21:00] smlng opened #8211 "tests: fail due to slow serial (re)connect after reset on macOS"
On macOS many automated tests script fail due to slow (re)connect of serial after board reset when running `make test`. Specifically all test scripts (e.g., `tests/thread_flood`) that match/expect the very first output, will fail because this output is never shown due to slow serial reconnect. The configurable start delay proposed in #8053 doesn't help here.

A possible solution would be to delay

[2017-12-06 10:34] bergzand opened #8212 "Fix common issues with shell scripts"
shellcheck is an application to statically check shell scripts for common errors. Most of these consists of small issues with the shell scripts where the problem might only appear in certain edge cases.

As an example, one of the issues is that shellcheck warns for is not having quotes around `${VAR}`. This issue leads in the headerguards check to vague errors as soon as there are spaces in `$PWD`

[2017-12-06 10:47] gebart commented on #8212
I like, more static tests 👍

[2017-12-06 10:53] aabadie commented on #8212
Indeed, very nice. Would be great to have something similar for Makefiles ;)

[2017-12-06 13:30] roberthartung opened #8213 "at86rf2xx: Basic mode and NETOPT_AUTOACK"
1. Why is it not possible to choose the default RX_MODE (without AACK enabled)?

2. In at86rf2xx_netdev.c:_set(NETOPT_AUTOACK) the comment says `/* don't set res to set netdev_ieee802154_t::flags */`. However `netdev_ieee802154_set` never handles this cases which causes `ifconfig <n> set -autoack` to fail with an error message. What was the idea behind it?

[2017-12-06 13:31] roberthartung commented on #8213
@haukepetersen @miri64 You should be able to answer these questions ;)

[2017-12-06 13:44] miri64 commented on #8213
I don't know much about this device driver, except how it interacts with the `netdev` API ;-), but I can try to answer it with my limited knowledge:

I could name you some villages in Bohemia, if you like ;-).

Why would `netdev_ieee802154_set` handle that case? As far as I know auto-ack is pretty device specific, so this should be done in `at86rf2xx_netdev.c:_set()`.

[2017-12-06 16:05] roberthartung commented on #8213
2) See #8216

[2017-12-07 10:23] roberthartung opened #8221 "at86rf2xx: Where is CRC checking implemented?"
Q: FCS is ignored in the driver. So is there any check? Or does the driver expect the radio to drop packages with wrong CRC sum?
Are there any plans to add crc_ok to the radio_rx_info struct?

[2017-12-07 10:38] miri64 commented on #8221
Isn't the FCS already checked by the device? I seem to remember that frames with wrong FCS were usually dropped by the device.

AFAIK there are no plans for that, so if you require one, go ahead and add it.

[2017-12-07 14:35] roberthartung commented on #8221
In Basic mode, CRC check is not handled automatically. This is important in energy-sensitive applications, where data might still be useful.

will do :)

[2017-12-07 14:56] miri64 commented on #8221
I seem to remember, that @haukepetersen once told me, that only extended mode is implemented for at86rf2xx...

[2017-12-07 15:24] roberthartung commented on #8221
working on getting the basic mode running. Right now my applications stops sending packets (or receiving some?). Not sure why... Gotta debug this .. somehow.

[2017-12-07 21:20] bergzand commented on #7736
I'd like some input on things concerning this issue. The main problem that I'm currently trying to deal with is the sometimes vague split between gnrc_netif and netdev. Mainly the l2filter and the l2_netstats module have code on both sides. So my question for now: *Which functionality should be in gnrc_netif and which functionality should be in netdev?*

As I see it, code dealing with the actual i

[2017-12-08 04:16] gebart commented on #8052
Some more issues popped up:
 - [ ] The MIPS CPUs never call the common periph_init during boot as far as I can tell.
 - [ ] The MIPS CPUs do not have a cpu_init function which is called by the board_init to initialize things in the CPU, (this function in the other CPUs is sometimes very simple with only a call to periph_init)

[2017-12-08 08:01] miri64 commented on #7736
Most of this issue stems from the fact that there was no "in-between" layer up-until now. Regarding l2filter and l2_netstats, I'd say put *everything* into the new layer. This way they can be independently used from GNRC. The drawback is, that you most likely will need a filter every link-layer each.

[2017-12-11 08:06] aabadie opened #8234 "boards: gpio auto initialization and saul"
While working on #7584, I realized that the auto `gpio_init` calls in `board.c` are not required when using `auto_init` and `saul`. This is because [saul already does that for us](https://github.com/RIOT-OS/RIOT/blob/master/sys/auto_init/saul/auto_init_gpio.c#L76).

Here I'm mainly thinking of the on-board LEDs and buttons.

So only the definition for the GPIO is required in the `gpio_params.h` fi

[2017-12-11 14:09] miri64 commented on #8211
Can we step back a second and discuss if it makes sense to change *kernel behavior* for testing depending on what host platform it is compiled?

[2017-12-11 14:42] cladmi commented on #8211
It should not be depending on host platform but on setting a configuration.

The goal is allowing anyone to run tests on his boards from his own computer with a not too complex solution.

Some persons, have the problem that they always lose the first seconds of output after their node resets.
As discussed in #8053 comments, smlng problem is not board specific, and maybe not even OS specific but on

[2017-12-11 15:01] aabadie commented on #8141
@cladmi, @miri64, let's move forward here. What do you think of the actual python [coding conventions above](https://github.com/RIOT-OS/RIOT/issues/8141#issuecomment-347912851) ?

[2017-12-11 15:02] miri64 commented on #8141
As they are I'm okay with them.

[2017-12-11 15:04] aabadie commented on #8141
Yeah :)

[2017-12-11 15:19] miri64 commented on #7713
@cgundogan did you open the issue I asked for? If not, please do so. Since #7925 is merged now, I'm closing this issue.

[2017-12-11 15:19] #7713 closed

[2017-12-11 15:21] cladmi commented on #8141
* Specifying the python version is good, also the shebang for executable scripts.
* Imposing the `if __name__ == '__main__':` is necessary to also allows some checkers to correctly execute, because in other cases it could execute the 'main' function as part of dynamic parsing. I already had this and its bad.
* uppercase global variables naming is also in PEP8.
* The order of imports is defined in

[2017-12-11 16:20] smlng opened #8238 "kinetis: linker fail to link on Raspbian"
When trying to build RIOT on Raspian Jessie with arm-none-eabi toolchain from APT (gcc 4.8.x, ld 2.25) for `BOARD=pba-d-01-kw2x` aka PhyNode there is a linker error:

[code]

changes where introduced in #7882 and work with more recent toolchains (e.g. >5.x.y).

[2017-12-11 16:23] smlng commented on #8238
actually its not Raspbian but Debian Jessie specific, or even more specific the arm-toolchain version.

[2017-12-11 18:01] gebart commented on #8238
Sorry, but I don't want to hold the development back to work around bugs or missing features in ancient toolchains. AFAIK the policy for the project is to support the latest LTS release of Ubuntu, which is 16.04 at the moment, which provides a more recent binutils than this. Does it work if you upgrade binutils to 2.26?