[2015-01-12 08:57] OlegHahm opened #2281 "travis: add check for line endings"
Add a script that check for valid UNIX line endings.

[2015-01-12 09:21] gebart commented on #2188
@jfischer-phytec-iot I understand what you mean with the code being horrible in `system_xxxxx.c`. I actually adapted the functions in the file to my own use in the K60 port to fit the use case. I adapted the `SystemCoreClockUpdate` function to work with my CPUs and use the global variables `SystemXxxClock` (Sys, Bus, Core, Flash) to keep track of the current clock frequency, instead of a compiler

[2015-01-12 10:27] phiros commented on #2264
Hi, this method might not yield useful random numbers acording to:
http://www.endolith.com/wordpress/2013/06/19/truerandom-is-not-truly-random/

However, we should maybe take a look at the clock drift method the author proposes at the end of the blog post.

[2015-01-12 15:59] Farthen commented on #2188
Regarding 'Watchdog disable during boot': Is RIOT supposed to work with watchdog? I just disable it right now but it could be desirable for some applications to switch it back on after booting. Would it be a good idea to add watchdog APIs to kinetis_common (or even to riot itself) that only have to be implemented or would that be overkill right now?

[2015-01-12 16:16] OlegHahm commented on #2188
@haukepetersen, didn't you have an opinion concerninc watchdogs in RIOT?

RIOT now (scnr) we don't make use of a watchdog for any architecture afaik.

[2015-01-12 16:18] saurabh984 commented on #2224
@LudwigOrtmann No I'm afraid. Will update if I do get some time.

[2015-01-12 16:23] LudwigOrtmann commented on #2224
@saurabh984 thanks for the update - @cgundogan and me started working on the implementation of MQTT-SN in the meantime.

[2015-01-12 16:28] felinira opened #2284 "USB Support"
It could be desirable to support USB and USB OTG which is present on many devices currently running RIOT.

This could have multiple use cases depending on the device support:
- USB serial console
- Sending network and/or other data from/to a computer running control or monitoring software.
- Updating application code (it was discussed on the ML a few days ago to have relocatable? applications that

[2015-01-12 16:31] saurabh984 commented on #2224
@LudwigOrtmann MQTT-SN is not really needed tbh. You can implement the full MQTT protocol which can talk to the Broker directly without the need for something like the border router running a Gateway. MQTT-SN was designed way before IBM thought that something IPv6 was possible on embedded.

MQTT-SN Flow below. Sample implementation here - https://github.com/ty4tw/MQTT-SN

                 Client

[2015-01-12 16:34] LudwigOrtmann commented on #2224
Why do you say mqtt-sn not needed? The possibility to have topic ids instead of topic strings appears very attractive to me.

[2015-01-12 16:35] jfischer-phytec-iot commented on #2188
The KL (Cortex-M0) devices have a different WDT than K Devices (Cortex-M4). I think for now we have enough to do. I would like to see kinetis_common mainline until the end of January.

[2015-01-12 16:35] LudwigOrtmann commented on #2224
As for your comparison - sixlowpan appears to do for ipv6 what mqtt-sn does for mqtt... we have sixlowpan too ;)

[2015-01-12 16:36] LudwigOrtmann commented on #2224
Oh, and the will is optional .. connection establishment can be drastically reduced.

[2015-01-12 16:50] saurabh984 commented on #2224
Need for Gateway as MQTT-SN can not talk to a Broker directly. Haha I know and I meant having sixlowpan means no need for MQTT-SN except for the constrained resources it uses.

Again we'll need a Gateway Implementation too for MQTT-SN to work. Even IBM don't provide one :disappointed:

[2015-01-12 16:59] gebart commented on #2284
I am interested in such a feature as well. Both for serial console as well as a network device.

[2015-01-12 17:26] #2272 closed

[2015-01-12 18:55] cgundogan commented on #2224
Thats true, we need a gateway to talk to the broker. I can imagine that in the long run we also might implement one to have this ability within RIOT. But for now, we can use mosquitto as it is readily equipped with a mqtt-sn gateway and broker.
http://www.eclipse.org/proposals/technology.mosquitto/

[2015-01-13 09:27] saurabh984 commented on #2224
Sounds good. Didn't realise IBM had released RSMB source. Let me know if I can help @LudwigOrtmann @cgundogan

[2015-01-13 09:32] LudwigOrtmann commented on #2224
https://github.com/LudwigOrtmann/RIOT/tree/mqtt-sn << @saurabh984 the work is happening here

[2015-01-13 09:54] saurabh984 commented on #2224
:+1:

[2015-01-13 10:04] fabianbrandt commented on #2270
Shame on me. The logic for that was there, but somehow not in the final version :(. The fix suggestion is right however.

[2015-01-13 12:11] gebart opened #2289 "Preventing race conditions with multiple bus users"
I have multiple drivers that are using the same bus (`SPI_0`) for communicating with their hardware. Has anyone considered or experienced the possible race conditions between different device drivers communicating over the bus without mutual exclusion?

I would like to introduce one mutex per bus device (`SPI_0`, `SPI_1`, ... , `I2C_0`, `I2C_1` etc) that must be acquired before using the bus in or

[2015-01-13 14:09] haukepetersen commented on #2289
@gebart You are completely right, the above mentioned behavior is (at least for me) a known issue that is not resolved in RIOT so far. I have been thinking about the scenarios you describe, but I got never to actually design a solution for it.

At first sight, I see two solutions:
1. making the peripheral drivers thread safe internally, by introducing and managing a Mutex internally in the driver

[2015-01-13 14:19] haukepetersen opened #2291 "sys/net/include: move to /sys/include/net?"
Just thinking out loud: does it make sense to move the network stack headers to `sys/include/net` and reference them in the code like `#include "net/ipv6.h"`?

This has in my opinion two advantages:

1. network layer includes are clearly distinguishable
2. and we would save about ~35 lines stating `*INCLUDE += sys/net/include`

[2015-01-13 14:24] gebart commented on #2291
:+1: it makes sense to reduce the number of individual `-I{DIR}` include directories.
Another bonus when writing `#include "net/ipv6.h"` is that it shows clearly which component the included header is supposed to belong to (ipv6.h is quite obvious but there may be others with less obvious names), makes it easier to find the right file while developing without some heavy IDE like Eclipse.

[2015-01-13 14:29] OlegHahm commented on #2291
Sound very reasonable to me, too.

[2015-01-13 14:36] LudwigOrtmann commented on #2291
I'm not opposed.

[2015-01-13 14:38] cgundogan commented on #2291
:+1:

[2015-01-13 14:44] PeterKietzmann commented on #2289
Even if it's a bit uncomfortable to handle the (un-)locking externally I would also vote for this solution because when going for a "safer" solution let's do a "really safe" one.

[2015-01-13 14:50] authmillenon commented on #2291
I'm not opposed, also.

[2015-01-13 14:54] authmillenon commented on #2291
Though I'm not sure if the `net/` prefix is necessary… I'm thinking of modules that might have submodules: e.g. `net/sixlowpan/hc.h` vs. `sixlowpan/hc.h`

[2015-01-13 15:47] thomaseichinger commented on #2289
I think using acquire and lease functions in upper drivers is the way to go especially for SPI, we don't handle chip select internally for, which could run into trouble with more than one CS line active.

[2015-01-13 16:52] haukepetersen commented on #2291
I think it does not hurt. This way the `net/` prefix labels consistently everything belonging to the network stack and its only 4 chars...

[2015-01-13 17:03] haukepetersen commented on #2188
@OlegHahm Yes, I have some concerns, tickless scheduling and watchdogs are not best friends, as watchdogs need to be refreshed periodically... But if RIOT is used in a non-low-energy context (or if there are periodic threads running), a watchdog could well be used. But these are just not our default IoT-scenarios - so I did not want to spend time on it. I wouldn't object a watchdog driver API in R

[2015-01-13 20:09] cgundogan opened #2298 "timex_t functions byReference instead of byValue"
Sometimes I get the warning/error - not sure what it is - from travis/cppcheck saying:

[code]

[#2155#issuecomment-69809181](https://github.com/RIOT-OS/RIOT/pull/2155#issuecomment-69809181)

Looking at the function definitions:

[code]

Wouldn't it make sense to really change these parameters to be pointers instead?
What's your view on this?

[2015-01-13 20:44] Kijewski commented on #2298
[code]

Interesting are the push and pop operations:

i386:
[code]

arm-none-eabi:
[code]

avr:
[code]

msp430:
[code]

In terms of stack space I think we have a winner.

[2015-01-14 00:13] OlegHahm commented on #2298
There was some discussion already here: https://github.com/RIOT-OS/RIOT/pull/1843#issuecomment-60270374
I once started to change all these functions but got tired of the cumbersome work.

[2015-01-14 07:52] PeterKietzmann commented on #2289
@thomaseichinger I think I didn't understand your comment. Are you fine with the solution in @2290 or not? What kind of problems do you see with more than one CS line? This situation should 1. be avoided when interrupt based SPI-commands are called or 2. be handled (manually) when multiple devices on the bus should get the sam message. Did I get something wrong?

[2015-01-14 07:54] haukepetersen commented on #2289
@PeterKietzmann I read @thomaseichingers comment that he is fine with the proposed soultion...

[2015-01-14 08:24] LudwigOrtmann commented on #2298
I changed the classification of this issue to reflect the answer to the former question.

[2015-01-14 08:57] LudwigKnuepfer opened #2300 "qemu unittest fails because of a page fault"
[code]

[2015-01-14 09:34] gebart commented on #2300
Why do these seemingly random Travis failures keep popping up? Are they running out of memory or something?

[2015-01-14 09:38] LudwigOrtmann commented on #2300
I've never seen this kind of failure before. I was under the impression that this is not a random failure.

[2015-01-14 09:39] gebart commented on #2300
Okay, I did not really look into the problems before, I thought this was the same as all the comments in almost every PR "Kicked Travis"

[2015-01-14 09:42] LudwigOrtmann commented on #2300
The random fails should be discussed in https://github.com/RIOT-OS/RIOT/issues/1377

[2015-01-14 09:50] thomaseichinger commented on #2289
@PeterKietzmann Yes I'm fine with the solution proposed in #2290.

[2015-01-14 10:40] OlegHahm commented on #1377
It's annoying - that's all I have to say for now. ;)

[2015-01-14 10:43] gebart opened #2302 "Synchronization: Atomic counters"
We currently have `atomic_set_return()` for atomic variables used by e.g. mutexes.
This works well for a simple on/off mutex lock, but not for counter variables, since the value to set must be computed before calling `atomic_set_return()`.

What are your opinions on adding this kind of functionality to the core atomic API?

Below is an example of an implementation of an increment/decrement functio

[2015-01-14 10:53] OlegHahm commented on #2302
Funny, I had a similar discussion with @haukepetersen yesterday offline. I think adding a function like this to the core API makes a lot of sense. Alternatively there seems to be a builtin gcc function.

[2015-01-14 10:58] haukepetersen commented on #2302
+1

how about adding
[code]
to the cores atomic interface? And while we are at it: should we consider renaming all the calls to `atomic_` functions to `atomic_arch_`, as this would mean we could throw out `core/include/atomic.h` in favor of `core/include/arch/atomic_ach.h` and get rid of the re-labeling in `atomic_arch.h`?

[2015-01-14 10:58] gebart commented on #2302
@OlegHahm Which is the builtin function? Does it exist in Clang as well as gcc? Any other compilers?

In the Cortex-M specific case it seems the __STREXW macro expands to __strex() which is not defined within the RIOT tree, I guess it's a builtin in arm-none-eabi-gcc et.al.

[2015-01-14 11:00] gebart commented on #2302
@haukepetersen I would probably wish to have the function return the new or old value (à la `i++` or `++i`)

[code]

[2015-01-14 11:01] haukepetersen commented on #2302
oh yes, makes sense.

[2015-01-14 11:02] haukepetersen commented on #2302
what about the type, you think `int` is fine, or should we think about using `unsigned` values as in `atomic_set_return`?

[2015-01-14 11:04] gebart commented on #2302
I think signed makes sense in this case.
Would it make sense to make several variations? int8_t, int16_t etc?

[2015-01-14 11:06] haukepetersen commented on #2302
multiple variations does not make sense in my opinion. I would completely go against the core's design objective as keeping it as minimal as possible...

[2015-01-14 11:10] gebart commented on #2302
@haukepetersen `int` is the most useful type in my opinion.

[2015-01-14 11:16] OlegHahm commented on #2302
I would vote for signed int, too.

[2015-01-14 11:17] OlegHahm commented on #2302
@gebart, concerning the builtins a very brief search yesterday revealed this posting:https://gcc.gnu.org/ml/gcc-help/2014-07/msg00115.html
I haven't checked more in detail yet.

[2015-01-14 11:22] gebart commented on #2302
The implementation I posted in the initial post is inspired by Joseph Yiu "The Definitive Guide to ARM® Cortex®-M3 and Cortex®-M4 Processors"

https://books.google.se/books?id=9YxqAAAAQBAJ&pg=PA353&lpg=PA353&dq=joseph+yiu+exclusive+counter&source=bl&ots=Ua42H7bAez&sig=HjapDL3t5rNaH-3un0wJLuPrPg4&hl=en&sa=X&ei=FFG2VPeHDaXOyQP-xYHwAw&ved=0CC4Q6AEwAw#v=snippet&q=__ldrexw&f=false

[2015-01-14 11:41] LudwigOrtmann commented on #2263
Implemented via #2274

[2015-01-14 11:41] #2263 closed

[2015-01-14 12:00] kaspar030 commented on #2298
@Kijewski Nice comparison. Makes me want a script that creates it...

[2015-01-15 00:37] jfischer-phytec-iot commented on #2188
@gebart @Farthen I finisched my initial support for MCG.
https://github.com/jfischer-phytec-iot/RIOT/commit/2e4a450f338e05bb2ac6353ee10c522d36a7c86c

I have tested all MCG modes (FEI, FEE, PBE, PEE ...) with crystal or external clock on two MCUs (Cortex-M0 and Cortex-M4). Please look for examples in mcg.h

[2015-01-15 09:29] Farthen commented on #2188
Looks great, will test the FEI soon. I currently can't test the external clock as my module does not have any installed right now and I would need to start soldering… I may be able to do this in a few weeks or so.

Just one question: My board's 'original' (open source) firmware enables the DMX32 bit on FEI even though it is not recommended. It works great for me as the internal oscillator is actua

[2015-01-15 10:00] gebart commented on #2188
@jfischer-phytec-iot I will test the MCG later.

I will focus on implementing `lpm_arch.c` next (using LLWU).

[2015-01-15 10:02] gebart commented on #2188
@Farthen I wish to use the DMX32 bit for FEE mode as well. I have only an RTC 32kHz crystal to use on most of my boards and I wish to be able to reach 96 MHz core clock.

[2015-01-15 10:29] jfischer-phytec-iot commented on #2188
@gebart great, that I wanted to make next, MCG may need to be extended with respect to LPM. How can I help you?

[2015-01-15 11:02] saurabh984 commented on #1646
Any one fancy trying the LPM code for me please?? Literally wrote this on Github's editor on my iPad so can't test it :disappointed:

[code]

[2015-01-15 11:33] saurabh984 commented on #2173
Will this improve things https://github.com/RIOT-OS/RIOT/pull/2155

[2015-01-15 11:39] OlegHahm commented on #2173
Yepp, merging of #2155 should improve the memory situation for RPL pretty much.

[2015-01-15 11:54] OlegHahm commented on #2173
**IoT-LAB_M3**
before: 23 808 bytes for stacks
now: 16 640 bytes for stacks

--
**MSB-A2**
before: 25 760 bytes for stacks
now: 17 568 bytes for stacks

--
**native**
before: 204 800 bytes for stacks
now: 147 456 bytes for stacks

--
Please note, that the given numbers do not reflect the actual stack usage.

[2015-01-15 13:02] LudwigOrtmann commented on #1646
Compiles after adding `static void start_lpm(void);` ;)

[2015-01-15 13:13] gebart commented on #2116
Reopened upon request https://github.com/jfischer-phytec-iot/RIOT/pull/8

[2015-01-15 13:20] gebart commented on #2188
@jfischer-phytec-iot You can comment on my idea for the lpm design:

My general idea is to always strive to reach LLS mode whenever the CPU is idle. I will implement inhibitors for each power mode which will be used to signal when a peripheral driver needs to keep the CPU at a higher power mode than LLS. The inhibitors will be simple atomic counters (counting semaphores) which will be checked befo

[2015-01-15 13:25] gebart commented on #2188
@jfischer-phytec-iot Did you test the i2c driver on your device?

I need to interface with some i2c devices but I have not had time to read up on the Kinetis I2C module yet, so I was hoping it will "just work".

[2015-01-15 13:31] gebart commented on #2173
@maxencechotard Can you test if this works now since #2155 has been merged?

[2015-01-15 13:34] Farthen commented on #2188
@gebart Keep in mind that while LPTMR0 is always available, its clock sources might not be. At least when it is configured to run on MCGIRCLK this won't be available on LLS. LPO on the other hand is available in all modes higher than VLLS0. I don't really see why the LPTMR should be driven by MCGIRCLK while in low power modes but it can be configured as such and would need to be reconfigured to LP

[2015-01-15 13:41] jfischer-phytec-iot commented on #2188
@gebart I2C driver (master mode) is well tested, https://github.com/RIOT-OS/RIOT/pull/2059#issuecomment-66291413

[2015-01-15 13:45] saurabh984 commented on #1646
Thanks @LudwigOrtmann :laughing: You can create a PR if you like! This adds SAM R21 LPM features  - All 4 modes the CPU supports

[2015-01-15 13:57] jfischer-phytec-iot commented on #2188
That is a sensible way, I suspect in you want to use RTC clock for LPTMR? Board without RTC crystal can/should use LPO clock.

@Farthen MCGIRCLK is a "for testing only" option.

[2015-01-15 13:58] LudwigOrtmann commented on #1646
I couldn't try if it actually works because I didn't have time to get openocd running for this board yet .. I'll create a PR.

[2015-01-15 14:00] Farthen commented on #2188
@jfischer-phytec-iot Where is that defined? MCGIRCLK is the only way I can see to have a high resolution LPTMR without an external clock source. At least in the k20_50 reference manual I can't see any reference to it being 'testing only'

[2015-01-15 14:06] LudwigOrtmann commented on #1646
here it is https://github.com/RIOT-OS/RIOT/pull/2309

[2015-01-15 14:19] jfischer-phytec-iot commented on #2188
@Farthen "for testing only" applies to kinetis hwtimer implementation.
Feel free to test it extensively. Tthere are IRC with 4MHz or 2MHz.
Fast IRC must be calibrated and precision of the timer can be more important as resolution.

[2015-01-15 14:51] saurabh984 commented on #1646
Thanks @LudwigOrtmann

[2015-01-15 16:31] maxencechotard commented on #2173
@gebart I am going to try it

[2015-01-15 19:22] haukepetersen opened #2311 "net: passing of addresses through the network stack"
Right now the interfaces for `netapi` and `netdev` seem to complicated to me. To clean them up I talked with @OlegHahm and we came up with the following concept for passing data and headers through the network stack utilizing the pktbuf:

When passing data up the network stack, we always pass the header of the current module encapsulating the header for the target module. For example:
` an ieee802

[2015-01-15 22:09] haukepetersen opened #2314 "drivers/periph: making bus drivers thread safe"
As pointed out in #2289, our current bus driver implementations are not thread save. A solution is proposed in #2290 (for the STM32F4 cpu). If we use that proposed solution or if we do something else - either way we need to do this for all cpus and bus drivers. This issue is for tracking the implementation status of this effort.

Thread safe bus drivers:
 - [x] cc2538
    - [x] i2c (does not exist

[2015-01-15 23:54] thomaseichinger commented on #2314
If we are at it, let's do this.

[2015-01-16 00:40] authmillenon commented on #2311
There are several reasons why I'm against it (and why I introduced that the addresses are passed as an extra parameter to the adjacent layers [funny enough I came to this conclusion too after a discussion with @OlegHahm =D):

* every header must be parsed or build double in different places, that are mostly not concerned (the layer concerned to work with it, the layer above to get to the address,

[2015-01-16 01:47] thomaseichinger commented on #2314
After thinking about it some more it would break usage of DEBUG() in ISR context and similar, so probably not. Other opinions?=

[2015-01-16 07:59] gebart commented on #2314
@thomaseichinger Can it be avoided by letting the UART IRQ have a higher priority? To be able to transmit while another ISR is waiting for the lock?

[2015-01-16 08:07] gebart commented on #2116
I have been thinking some more about this.
I don't think there is any good argument for using hardware CS over gpio CS when not using DMA for the actual transfers, and then only if you are doing some really heavy transfers, say mass storage devices (SDHC etc).
The benefits of using software CS are:
- simpler API
- unlimited number of CS lines on all boards (limited only by the number of gpio)
- On

[2015-01-16 09:23] jfischer-phytec-iot commented on #2116
@gebart ok, I agree.
Our RF driver uses its own code for spi, we would move it to a
"platform specific driver", as haukepetersen has proposed. What do you think?

[2015-01-16 10:08] gebart commented on #2116
@jfischer-phytec-iot is the RF device on its own bus? Otherwise you should ensure that you lock the bus even from your platform specific driver. (once #2314 gets merged and we have the equivalent in kinetis_common)

[2015-01-16 10:17] jfischer-phytec-iot commented on #2116
@gebart Yes, one SPI is dedicated to the radio interface inside SiP.

[2015-01-16 10:17] gebart commented on #2116
@jfischer-phytec-iot I am interested in seeing what difference it makes for the actual performance of the RF device to use HW CS, (when considering other parts, such as packet processing etc.) and thus, if it is worth it really to make the driver platform specific (if the HW CS is the only Kinetis specific part).

The GPIO CS translates to something like 4 machine instructions, which is pretty sma

[2015-01-16 10:23] haukepetersen commented on #2314
@gebart: I would not start with higher IRQ priorities - as for (i) some platforms do not support this and (ii) we have not really investigated if the kernel is actually able to run with different priorities (it's still an open task...).

But I think we could add a lock for the UART, but we can just not use it for stdout...

[2015-01-16 10:29] gebart commented on #2314
I got an idea:
Using atomic counters it should be possible to implement the UART buffering functions without locking, with the drawback that we may drop bytes when the buffer gets full.

[2015-01-16 10:42] jfischer-phytec-iot commented on #2116
@gebart At the kw2x, I can not measure the signals because the are internal.
Even if there is no big difference:
- why should I care about CS if the hardware makes it for me?
- we just need one CS signal and I can not imagine a real example with modern hardware where someone needs more than 2-4 CS.
- I have problems to find modern sensors with SPI, and we need SPI only for RF
- we need HW CS for D

[2015-01-16 10:58] Kijewski commented on #2302
Wouldn't it be the easiest solution to only have [compare and swap](http://en.wikipedia.org/wiki/Compare-and-swap)?

[code]

[2015-01-16 12:44] haukepetersen commented on #2116
That were exactly what I thought when designing the interface... As far as I read the datasheets for Atmel and STM devices so far, it shouldn't even be a problem to use DMA with external CS code (though I have not yet tried that).
I completely agree that the obvious steps to making our SPI implementations better is to start with using an interrupt driven mode and further looking into DMA. My idea

[2015-01-16 12:45] haukepetersen commented on #2314
This would work if the UART driver would buffer... But it is explicitly designed not to buffer, as this is something intended to do by the higher-level modules put on top of the UART.

[2015-01-16 14:22] gebart commented on #2302
@Kijewski I guess that would be the preferred solution on CPUs such as x86 with an CMPXCHG instruction. On Cortex-M I think `atomic_cas` would still be implemented as `LDREX`/`STREX`?

Can we still keep all of the `atomic_xxx` functions in `atomic_arch.c` per CPU?

[2015-01-16 16:03] jfischer-phytec-iot commented on #2116
I'm sorry :smile:, but I can not be satisfied with a CS that is operated from outside the SPI driver. SW or HW CS, it is not a clean interface separation.

[2015-01-16 18:39] OlegHahm commented on #2311
I'm not sure about the downward direction (from upper layer down the stack), but I have a gut feeling about the other direction:
I agree that it might be conceptional not the cleanest approach, but my intuition tells me that there might be cases where an upper layer might require more than just the addresses. (Even though I cannot provide a concrete example right now.) However, what makes passing

[2015-01-16 19:02] authmillenon commented on #2311
For these corner-case an extended version of netdev or netapi can always be provided (maybe we need a somewhat cleaner version of netdev.802154 I want to say).

and

Again: The upper layer can be agnostic about the workings in the lower layer and can decide upon the address if what he got makes sense. Example with just address passing:

* MAC packet with long (64-bit) address
* checks if packet is

[2015-01-16 19:17] OlegHahm commented on #2311
It has to know something about the link layer anyway if wants to extract information from the link layer addresses. The case you described will work for 6LoWPAN aka RFC 4944 aka IPv6 over 802.15.4. An implementation of this knows per se about the link layer and could parse the link layer header as simple as it could distinguish between different address types. If it is really agnostic to the link

[2015-01-16 19:24] cgundogan commented on #2311
Just my two cents..

I can think of routing protocols trying to benefit from link-centric information to improve their paths or to find broken paths faster (without waiting a full timeout). There are even optimized TCP implementations using more information from lower layers.

I would like to see the possibility to obtain such information from lower and maybe upper layers.

[2015-01-16 19:29] authmillenon commented on #2311
@OlegHahm wrote:

With the current API it does not. And please remember that we are not only talking about the commutication of Link-layer and 6LoWPAN, but also about the communication of Link-layer and Network-layer, Network-layer and Transport-layer, and all thinkable intermediate layers. 6LoWPAN just needs the address of the 802.15.4 frame. I already implemented this, it worked out quiet well!

[2015-01-16 19:33] OlegHahm opened #2319 "transceiver: set default channel to something sensible"
This issue is most likely gonna be solved by the re-designed network stack anyway, but for now some modules (the rpl_udp example, ccn-lite...) set rather arbitrary channels which are not available on some platforms (e.g. does IEEE 802.15.4 not specify a channel 6 or 10).

[2015-01-16 19:39] authmillenon commented on #2311
Okay alternative: let's have a look at my alternative to #2285: https://github.com/authmillenon/RIOT/commit/9b6c9f3334c98cb84c7c814b875d882e67444927. This would allow for either moving of both the `payload_data` part of a packet and (with a little bit of tweeking) inclusion of header information of lower layers. This would like on receive in an IEEE802.15.4 device e.g. (mind you with #2285 this is

[2015-01-16 19:39] authmillenon commented on #2311
For a higher layer this would be a `NETAPI_RCV_CMD` IPC call, of course ;-)

[2015-01-16 19:44] authmillenon commented on #2311
with a small adaptation to #2310 `receive_callback()` would be replaced e.g. with

[code]

[2015-01-16 20:13] OlegHahm commented on #2311
Of course, it does how would it be possible to make this distinction:

?

Which makes it even more attractive to me. I haven't checked (and am not a transport layer expert), but maybe there are transport layer protocols that uses certain information from IP headers.

Well, this is true for IP over 802.15.4, but maybe upcoming 6lowpan specifications will need other information from the link layer.

[2015-01-16 20:56] authmillenon commented on #2311
It does not need to (I should have rephrased that). If the address is not as expected the packet is discarded. I always said (maybe not clear enough): The adjacent layers are agnostic to the concerning layers data *except* the for the addresses it uses to address the packets (destination address for sending, source and destination address for receiving to e.g. resolve header compression).

With my

[2015-01-16 21:34] LudwigOrtmann commented on #2319
Maybe we want to have the transceiver export some `DEFAULT_CHANNEL`?

[2015-01-17 13:59] kaspar030 commented on #2298
@Kijewski Could you compare again compiling with LTO?

[2015-01-17 14:41] haukepetersen commented on #2311
After looking through this discussion: Can anyone answer this question: Does IPv4 or IPv6 need to know anything from the Link-Layer when receiving data?

[2015-01-17 14:45] authmillenon commented on #2311
Yes, the Link-layer address for ARP or NDP, respectively. Or did you mean more than that? At least for IPv6 I can say: no. For IPv4 I have not enough expertise.

[2015-01-17 17:42] Kijewski commented on #2298
This is the line that I used to get the data:
[code]
Seeing LTO in action will be more difficult to test.

[2015-01-18 08:58] gebart commented on #2302
@Kijewski Are you against introducing `atomic_inc`,  `atomic_dec` as separate functions?

[2015-01-19 08:30] maxencechotard commented on #2173
@gebart I tried the new version with #2155 and "RPL_MAX_ROUTING_ENTRIES" set to 4 and I get a BSS+data of 31 844. With this version I can initialize a board as node or root without falling into ISR_Hard_Fault. BUT when I try to send a message using "send" command, I fall into ISR_Hard_Fault using "send 0 something". When I try to send a message to a specific node It fail to send my message and I g

[2015-01-19 10:57] maxencechotard commented on #2173
@gebart Actually it works when I use send function. I've just forgotten to set RADIO_CHANNEL to a valid channel for at86rf233. So even if my bss is really high  it works and I'll try to reduce my bss with changing my different thread size. There is now just one problem left with the broadcast function of send which induce a ISR_Hard_Fault.

[2015-01-19 11:30] gebart commented on #2188
@jfischer-phytec-iot I have found some more problems with the SPI driver. I am refactoring parts of it now.

I would like your opinions on a change I would like to introduce:
Splitting SPIx bus into two virtual SPI busses (from the RIOT app developer's perspective)
----

The SPI0 module is split into two individual RIOT devices; one linked to CTAR0, one linked to CTAR1. This way we can configure t

[2015-01-19 11:43] thomaseichinger commented on #2314
I updated the description to also include parts using the updated interfaces to track adoption.

[2015-01-19 13:54] jfischer-phytec-iot commented on #2188
Hi Joakim, there are more problems, kw01z128 has a different SPI module, it is easier but needs its on driver (and it has only one hardware-CS or "Slave Select").
Shall we name the SPI module for K60 and KW2x SPIA  and the other SPIB?

Honestly, no. I think it's ok if it brings advantages for your hardware.

Yes, there's no other way.

I'm thinking how to integrate treatment of CS smart. :smile:

[2015-01-19 15:06] gebart commented on #2188
@jfischer-phytec-iot For me it is almost mandatory because the at86rf212 is on the same bus as the lis3dh, and they need each other's inverse settings regarding clock polarity and phase. Also, the radio is the slowest SPI slave on that bus (there are some memories which can work at either clock polarity, but they can be driven much faster than the radio)

[2015-01-19 15:23] gebart commented on #2188
Regarding the module names, what about spi_m0.c and spi_m4.c?

Side note: @jfischer-phytec-iot I would be interested in testing interoperability between your device and ours once we have networking up and running on it. We are using the 868 MHz EU RF band on the Mulle, does any of your kw0x devices have an 868 MHz antenna?

[2015-01-19 15:36] jfischer-phytec-iot commented on #2188
@gebart

Ok.

We can do it when the time comes. The first KW01 modules are for the 868MHz band.

[2015-01-19 15:38] gebart commented on #2289
I am closing this issue in favour of the tracker at #2314

[2015-01-19 15:38] #2289 closed

[2015-01-20 10:01] cgundogan commented on #2311
@haukepetersen I can also think of *Link Layer Feedback* for routing and transport layer protocols, to quickly detect link breakages.

[2015-01-20 13:33] jfischer-phytec-iot commented on #2188
@gebart @Farthen What important is still missing at kinetis_common?
Could we make a feature freeze from now and bring the existing code stable?

@Farthen What about the CMSIS header for K20?

[2015-01-20 13:39] gebart commented on #2188
@jfischer-phytec-iot Not really a new feature, but I wish to rewrite the SPI driver to support two different sets of parameters (CTAR).

I'm satisfied otherwise with the current peripheral driver lineup.

[2015-01-21 07:25] haukepetersen commented on #2311
@cgundogan: thanks for the info, thats what I was looking for.

[2015-01-21 09:48] shanthanpalle opened #2334 "Segmentation fault when executing hello-world application"
Hi ,
   I have cloned RIOT source form git hub and followed basic steps to build and execute.Am able to build and generates .elf but when i execute that am getting
Segmentation fault (core dumped) error
OS : Ubuntu 12.04
gcc version 4.6.4
please get back soon..

[2015-01-21 10:04] LudwigOrtmann commented on #2334
I can reproduce that his happens on ubuntu-12.04.

[2015-01-21 10:15] LudwigOrtmann commented on #2334
Please use one of the supported versions of GCC.
https://github.com/RIOT-OS/RIOT/wiki/Family:-native#toolchains
Compare http://lists.riot-os.org/pipermail/users/2015-January/000223.html

[2015-01-21 10:17] LudwigOrtmann commented on #2334
GCC version 4.6 is not supported.

[2015-01-21 10:17] #2334 closed

[2015-01-21 10:53] josephnoir opened #2336 "vtimer does not compile with clang on OS X"
The commit 99f227bf33834cdf7c9305865b326cfeeddfcd96 introduces a weak alias that does not work on OS X:
[code]

[2015-01-21 11:21] LudwigOrtmann commented on #2336
Which compiler/board/...?

[2015-01-21 12:13] josephnoir commented on #2336
Oh, sry. Apple LLVM version 6.0 (clang-600.0.56) (based on LLVM 3.5svn) for native.
Using gcc-none-eabi for the stm32f4discovery works fine.

[2015-01-21 13:50] LudwigOrtmann commented on #2336
It also works on OS X when compiling for native with gcc (installed via brew).

[2015-01-21 13:51] LudwigOrtmann commented on #2336
Seems to be a well known clang limitation on OSX according to the web...

[2015-01-21 14:26] LudwigOrtmann commented on #2336
After looking into this a bit I can come up with no proper solution.
We could `#ifndef BOARD_NATIVE` this out for native as it's unneeded there anyways.

[2015-01-21 14:40] jfischer-phytec-iot commented on #2188
@gebart
I would like to avoid the macros with "BASE" and replace in (PORTA_BASE). Are there any objections or why do you use them?

GPIO section of CMSIS header:
`<
#define GPIOA_BASE                               (0x400FF000u)
/** Peripheral GPIOA base pointer */
#define GPIOA                                    ((GPIO_Type *)GPIOA_BASE)
#define GPIOA_BASE_PTR                           (GPIOA)

[2015-01-21 14:43] josephnoir commented on #2336
Sounds good. Is it possible to use clang for cross compilation, and if so would this be a problem again or is it indeed OS X specific?

I searched the web a bit, but didn't find much information about it.

[2015-01-21 15:01] LudwigOrtmann commented on #2336
I'm not sure about clang for arm etc, AFAIK nobody has gotten it to produce working binaries with RIOT yet. @kaspar030 ?

Either way - my proposal is a kludge for a kludge for an obsolete function... I'd rather hope we could get rid of the whole thing before we need to fiddle around with it further ;)

[2015-01-21 15:47] gebart commented on #2336
@LudwigOrtmann I have built fully working contiki binaries for the Mulle using clang and I am currently working on building RIOT with clang. See also #2331

[2015-01-21 15:55] LudwigOrtmann commented on #2336
@gebart Good to know! Can you shed some light on the question at hand - i.e. can the clang you use cope with `attribute__ ((weak`? Under OSX?

[2015-01-21 16:40] gebart commented on #2336
@LudwigOrtmann I am using Clang 3.5 on Linux. I have used `__attribute__((weak, alias))` on arm-none-eabi, but never built anything for darwin (OSX)

The error message is rather weird, it says that _only_ weak aliases are supported, but the alias in question _is_ defined as a weak alias..

[2015-01-21 16:46] LudwigOrtmann commented on #2336
The error message is off - only the `weakref` attribute is really supported. The problem now is that this only allows for static functions and therefor is useless to us in this context.

[2015-01-21 16:48] gebart commented on #2336
Is it possible to solve this using some `#ifdef darwin` or similar?

[2015-01-21 17:04] LudwigOrtmann commented on #2336
Well, if the problem exists in clang for arm on OSX, this won't do any good because the line actually needed on some boards ;)

[2015-01-21 17:19] gebart commented on #2336
From what I can gather from posts around the web is that this error only exists when targeting darwin. i.e. It will only show up for `BOARD=native` on darwin

[2015-01-21 17:40] jfischer-phytec-iot commented on #2188
@gebart I had to change some things, please check it and tell me if it is ok.

7400180 ... https://github.com/RIOT-OS/RIOT/commit/c802956d6138aab8fe214ecc028c9c2d51985293

[2015-01-21 18:38] gebart commented on #2188
@jfischer-phytec-iot

The reason that I needed to add this is that the preprocessor `#if` blocks in gpio.c pukes if the typecasts are there, something like "Missing right operand of operator *". There needs to be some numeric value to compare against, it is not possible to compare strings either. My first idea was to use `#if GPIO_1_ISR == isr_porta_pin_detect`, but it did not work (comparison was

[2015-01-22 01:36] Kijewski commented on #2302
No, I'm not. I assumed that compare-and-swap was easier to implement on most platforms.

[2015-01-22 09:13] LudwigOrtmann commented on #2336
OK then, let's kludge ;)

[2015-01-22 11:50] #2336 closed

[2015-01-22 14:23] LudwigOrtmann opened #2341 "buildtests: shrink the build matrix"
We're reaching a point where the `boards X applications` matrix lasts too long to build on Travis CI for all permutations.

Suggestions (don't get caught up on individual boards right now, I'm just trying to illustrate what I am getting at) :
- cut out  boards which don't really differ from a build point of view (e.g. only one of pca1000, pca1005, yunjia-nrf51822?)
- build drivers for only one boa

[2015-01-22 14:25] LudwigOrtmann commented on #2341
If someone can think of a way to quickly assess which boards are affected by a particular PR (so we can only build those) please speak up!

[2015-01-22 14:26] cgundogan commented on #2341
Is it possible (and does it make sense?) to have those *similar* boards picked randomly? So that we still can have a greater coverage over time

[2015-01-22 14:30] LudwigOrtmann commented on #2341
Possible definitely, not sure whether it is desirable. Maybe we can have randomized equivalence-queues ;)

[2015-01-22 15:59] gebart opened #2344 "Linking fails with -fno-common because of multiple global variables"
Adding `-fno-common` to CFLAGS makes linking fail with the following errors:

[code]

The reason is that certain globals are defined in more than one compilation unit (without `extern` or `static`).

When using `-fcommon` (the default on my gcc at least), globals with the same name are merged into the same variable without signalling errors.

I believe all of these common symbols are bugs within R

[2015-01-22 16:01] LudwigOrtmann commented on #2344
core isn't affected?

[2015-01-22 16:02] gebart commented on #2344
I added the major label because I believe this can cause hard to chase down bugs with buffer corruptions as a result.

[2015-01-22 16:03] gebart commented on #2344
There may be more hidden commons in the tree, I only detected these by building the rpl_udp example.

[2015-01-22 16:36] jfischer-phytec-iot commented on #2188
@gebart Please review 57df27b

[2015-01-22 18:34] Kijewski commented on #2344
Common variables are an error and against our coding conventions.

[2015-01-22 19:05] gebart commented on #2344
Based on this I would say that all platforms should be updated to add `-fno-common` to CFLAGS/LDFLAGS

[2015-01-22 20:54] gebart commented on #2344
I did some filtering of the sources and I think I have a list of all global variables and whether they have an `extern` declaration within any header files.

https://gist.github.com/gebart/67757ad94781b2fa3391#file-extern-declarations

The commands used to generate the lists:

[code]

[2015-01-22 21:05] gebart commented on #2344
My interpretation of @Kijewski 's comment is that any global variable defined in a .c file but without a corresponding `extern` declaration in some header file is a bug and should be changed to a `static` variable (reduce scope from global to same compilation unit only). Otherwise, an `extern` declaration must be added to some related header file.

[2015-01-23 10:04] N8Fear commented on #2341
What about actually make use of the build matrix? Take a look at http://docs.travis-ci.com/user/build-configuration/#The-Build-Matrix

I haven't thought about implementation but this would make it possible to run a Travis instance for unit tests, one for integration tests and if required even one for each board.

[2015-01-23 10:19] Kijewski commented on #2344
That's my interpretation of my comment, too. ;)

[2015-01-23 10:34] LudwigOrtmann commented on #2341
Ah, I almost forgot about that - @Kijewski had looked into it some time ago I think.

[2015-01-23 10:43] jnohlgard opened #2346 "Tracker: Reduce scope on unintended COMMON variables"
See #2344 for a description of the error.

This is a tracker list of global variables without clear scoping (either `static` or `extern`)

The following files have global variables defined which may incorrectly get treated as COMMON symbols when linking, if any other module now or in the future defines another global with the same name. This behaviour can lead to corruption of buffers, (because tw

[2015-01-23 10:48] LudwigOrtmann commented on #2346
Wow, wouldn't it have been just as much work to just rename them? ;)

[2015-01-23 10:50] shanthanpalle opened #2347 "Unable to use CURL in hello-world program"
Hi,
    Am trying to use curl in hello-world program,its successfully building and when i execute .elf its giving
"Segmentation fault (core dumped)" Error at curl_global_init(CURL_GLOBAL_ALL); itself

Please get back to me soon..
OS: ubuntu 14.04
gcc -4.9

[2015-01-23 10:53] gebart commented on #2346
@LudwigOrtmann
[code]

[2015-01-23 10:59] LudwigOrtmann commented on #2346
I just checked - `_native_argv` is declared extern in `cpu/native/include/native_internal.h`.

[2015-01-23 11:02] LudwigOrtmann commented on #2347
curl?!

[2015-01-23 11:05] LudwigOrtmann commented on #2347
Without seeing your code, I can't say anything about this.

[2015-01-23 11:40] shanthanpalle commented on #2347
Here is my code

#include <stdio.h>
#include <curl/curl.h>

int main(void)
{
    CURL *curl_handle;
    CURLcode res;
    puts("Hello World!");

    printf("You are running RIOT on a(n) %s board.\n", RIOT_BOARD);
    printf("This board features a(n) %s MCU.\n", RIOT_MCU);
    curl_global_init(CURL_GLOBAL_ALL);

    /* init the curl session */
    curl_handle = curl_easy_init();
    curl_easy_setop

[2015-01-23 12:24] LudwigOrtmann commented on #2347
Makefile missing.

I assume you're trying to link RIOT/native with some library on your host system?

[2015-01-23 12:25] LudwigOrtmann commented on #2347
The code snippet is incomplete. Can you link to some GitHub repository instead?

[2015-01-23 12:58] gebart commented on #2346
There was a bug in my script. I am regenerating the list now.

[2015-01-23 13:01] gebart commented on #2346
Updated. List shrunk from 864 to 720 items.

[2015-01-23 13:04] shanthanpalle commented on #2347
here is the source code link

https://github.com/shanthanpalle/myRIOTEx/archive/master.zip

[2015-01-23 13:06] shanthanpalle commented on #2347
i have changed /RIOT-master/examples/hello-world/Makefile

[2015-01-23 13:24] shanthanpalle commented on #2347
https://github.com/shanthanpalle/myRIOTEx.git

[2015-01-23 13:36] LudwigOrtmann commented on #2347
Linking external libraries is not supported. What are trying to accomplish? You couldn't use curl (without porting it first) on a physical board anyways.

[2015-01-23 13:38] LudwigOrtmann commented on #2347
By the way - in order to work with a repo on github you can just fork it (thereby retaining the projects commit history) with the little button on the top-right corner of a project's page.

[2015-01-23 13:39] #2347 closed

[2015-01-23 13:48] shanthanpalle commented on #2347
Am just trying connect with my http server (like post,get etc) for that am using CURL.

[2015-01-23 13:56] LudwigOrtmann commented on #2347
I suggest using a facade (mock interface) in the meantime until you or someone else adds an HTTP library for RIOT.
Please also note that the network stack is currently completely reworked. As a consequence there is currently no border router. For more information on that subject please search the mailing list archives and look at the open issues/pull requests on this site.

[2015-01-24 15:03] maxencechotard commented on #2173
I did some optimizations for RIOT threads on samr21 and now I get RPL_UDP example running with BSS+data equal to 30868/32768 with those parameters :
-RPL_MAX_ROUTING_ENTRIES (12)
-radio thread = 1280 bytes
-rpl_process thread = 1024 bytes
-monitor thread = 1024 bytes

[2015-01-24 20:05] gebart commented on #2173
This is good to hear. Can you open a PR with the changes necessary to get it working?

[2015-01-25 01:59] syedk01 opened #2351 "Vmware ubuntu 14.04 support for riot os support"
Is there support for riot is on above os

[2015-01-25 08:23] gebart commented on #2351
RIOT OS `native` platform works fine on Ubuntu 14.04.

Some links:
https://github.com/RIOT-OS/RIOT/wiki/Family:-native#ubuntu
https://github.com/RIOT-OS/RIOT/wiki/Family:-native#toolchains

If you are targeting an embedded device you need to have a toolchain for said device, see
https://github.com/RIOT-OS/RIOT/wiki/RIOT-Platforms for a list of platforms and links to more information about them.

T

[2015-01-25 08:23] #2351 closed

[2015-01-26 10:28] maxencechotard commented on #2173
Yes, I will open a PR this afternoon

[2015-01-26 10:55] jfischer-phytec-iot commented on #2188
@gebart Please review 8cb3880

[2015-01-26 12:28] gebart commented on #2188
@jfischer-phytec-iot Looks good!

Did you have time to review https://github.com/jfischer-phytec-iot/RIOT/pull/11 yet?

[2015-01-26 14:36] maxencechotard commented on #2173
@gebart Should I modify rpl_config to set RPL_MAX_ROUTING_ENTRIES to 12 when we use the at86rf231 module ? Should I also add in mac.c :
#ifdef MODULE_AT86RF231
#define RADIO_STACK_SIZE            (1280)
#else
#define RADIO_STACK_SIZE            (KERNEL_CONF_STACKSIZE_MAIN)
#endif

to adjust thread size to samr21 ?

[2015-01-26 15:24] gebart commented on #2173
I think it is probably better to keep this configuration change linked to the samr21 platform. The Makefile in `sys/net/rpl` supports setting `RPL_MAX_ROUTING_ENTRIES` from the environment.

Try adding something like this to Makefile.include in the samr21 directory:
[code]

Regarding the stack size, is it possible to tweak the platform specific parameters further (`KERNEL_CONF_STACKSIZE_DEFAULT` a

[2015-01-26 15:33] maxencechotard commented on #2173
Ok for RPL_MAX_ROUTING_ENTRIES. Regarding the thread optimization It's not possible to optimize mac and rpl threads using (KERNEL_CONF_STACKSIZE_DEFAULT and KERNEL_CONF_STACKSIZE_PRINTF) without changing other thread size which would make other thread size insufficient.

[2015-01-26 16:17] gebart commented on #2173
Okay,
How about this?
[code]

[2015-01-26 16:32] jfischer-phytec-iot commented on #2188
@gebart sorry, have seen it too late, I'll do it tomorrow

[2015-01-26 16:36] maxencechotard commented on #2173
@gebart Where would add this ifdef ?

[2015-01-26 16:39] gebart commented on #2173
@maxencechotard I was thinking instead of `#ifdef MODULE_AT86RF231` in mac.c, to avoid hard coding platform specific values in the platform independent source.

[2015-01-26 16:47] maxencechotard commented on #2173
@gebart Do you mean

    #ifndef RADIO_STACK_SIZE
    #define RADIO_STACK_SIZE (KERNEL_CONF_STACKSIZE_MAIN)
    #endif

And I'll define RADIO_STACK_SIZE in board.h of samr21-xpro ?

[2015-01-26 18:46] gebart commented on #2173
Exactly, I accidentally reversed the logic in my example code.

[2015-01-27 08:49] gebart commented on #2314
Just for completeness I added the kinets_common stuff still being worked on in #2265

[2015-01-27 10:32] maxencechotard commented on #2173
PR done

[2015-01-27 15:30] gebart commented on #2116
Responding to a comment to a commit (https://github.com/gebart/RIOT/commit/ece822552db82c099b81f65feeab2fb43082fab0#commitcomment-9458583)

There is a problem when implementing hardware CS: All current SPI device drivers are using gpio_clear/gpio_set for handling the CS pin, so you would either have to define some "ghost" GPIOs which do nothing, or rewrite all drivers to move CS handling to the SP

[2015-01-27 17:05] josephnoir opened #2360 "unknown type name: 'clockid_t' on OS X"
Using pthread on OS X results in this error message:

[code]

[2015-01-27 17:15] josephnoir opened #2361 "malloc.h not found on OS X"
Using the native port on OS X with clang I get this error when using pthread:

[code]

[2015-01-28 06:24] gebart commented on #2361
There is one in the tree at `./sys/oneway-malloc/include/malloc.h`

The "real" posix malloc is defined in `#include <stdlib.h>`

[2015-01-28 09:18] jfischer-phytec-iot commented on #2116
Why? No one is forced to use hardware-CS.

I think the SPI driver should be redesigned. Currently, I see two things that are problematic:
- No clear interface separation, cs_set and cs_clear should be controlled by the driver
- It is only possible to transfer octets or the multiple of that.

 When kinetis_common is mainline, I would like to improve spi interface.

[2015-01-28 11:22] thomaseichinger commented on #1279
Compare https://github.com/RIOT-OS/RIOT/pull/2218#issuecomment-67516854

[2015-01-28 11:22] #1279 closed

[2015-01-28 13:39] OlegHahm commented on #2341
I'm still against this. Either we drop the support for a board at all (might be considered for PTTU) or keep it in the testing loop. (By the way wsn430 boards are still actively used in the IoT-LAB testbed).

[2015-01-28 13:39] OlegHahm commented on #2341
I would also vote for heavily cleaning the test application (and even the example) folder.

[2015-01-29 09:18] jfischer-phytec-iot commented on #2188
@gebart Please review d668d89

[2015-01-29 09:22] gebart commented on #2188
ACK regarding https://github.com/RIOT-OS/RIOT/commit/d668d89952e62b0bc84b7d8717fabafc26b3d6a0

[2015-01-29 09:29] jfischer-phytec-iot commented on #2188
Can I rebase it on master and squash several commits?

[2015-01-29 11:02] kaspar030 commented on #2341
Some more suggestions:
* optimize the build process more, e.g., use ccache, keep old builds and don't clean (depending on make to only rebuild changed files)
* get a seriuos build cluster and drop travis

[2015-01-29 11:04] gebart commented on #2188
@jfischer-phytec-iot Yes, please :+1:

I hope we can get this merged during this week.

[2015-01-29 11:04] gebart commented on #2188
@jfischer-phytec-iot I am assuming you were talking about #2265

[2015-01-29 12:51] Troels51 commented on #2284
I've been looking into this as well, knowing nothing about USB i looked for APIs in other systems, here are  the ones i found.
* [ARM CMSIS DRIVER](http://www.keil.com/pack/doc/CMSIS/Driver/html/group__usb__interface__gr.html)
* [TI MSP USB DEV](http://www.ti.com/tool/msp430usbdevpack)
They could be used as inspiration

[2015-01-29 12:56] jfischer-phytec-iot commented on #2188
@gebart done, I hope it's ok so, I have a backup :smile:

[2015-01-29 13:05] haukepetersen commented on #2116
@jfischer-phytec-iot

I think clearer than we have it at the moment as rarely possible: GPIO driver does GPIO stuff, SPI driver does SPI stuff. The CS is a GPIO function after all...

Also the SPI interface will become very bloated once you integrage the CS control into it (parameters for which CS pins to use and for timings...). This would lead to a more resource hungry and more bloated interface

[2015-01-29 14:09] jfischer-phytec-iot commented on #2284
@gebart I am on it for kinetis_common, for the beginning bulk transfers only.

[2015-01-29 15:19] gebart commented on #2284
@jfischer-phytec-iot nice! Looking forward to this. I can assist with testing when you have something you'd like to share. Unfortunately, I do not have time to work on developing this feature for the time being.

[2015-01-29 20:55] N8Fear commented on #2341
I guess "not cleaning" may lead to strange issues, as does ccache. Is it even possible to do that while using travis?

[2015-01-30 10:20] haukepetersen opened #2375 "boards: unified OpenOCD script"
We have a large number of boards, that are using OpenOCD as flash and debug tool. Right now these boards each contain at least 3 script files for flashing, debugging and resetting (`dist/flash.sh`, `dist/debug.sh`, `dist/reset.sh`), plus some specific GDB and OpenOCD configuration...

@authmillenon proposed to introduce a unified script, maybe something similar to the init.d scripts in Linux?
[cod

[2015-01-30 10:22] haukepetersen commented on #2284
+1 for USB support! I always wanted to connect old USB-mice or gamepads to micro-controllers to play around with... :-)

[2015-01-30 10:23] OlegHahm commented on #2284
And keyboard of course.

[2015-01-30 10:23] OlegHahm commented on #2284
What about VGA? ;)

[2015-01-30 10:24] OlegHahm commented on #2375
Sounds like an excellent idea to me.

[2015-01-30 10:28] authmillenon commented on #2375
One problem that did arise however, how we deal with different programs (e. g. most debug.sh use openocd as a debug server while using gdb as a debug client). I. e. some parameter parsing needs to be done…

[2015-01-30 11:19] miri64 opened #2376 "[RFC] Implement syslog protocol"
Currently we do all our logging/output via stdout/UART. Going more into the direction, that most devices running RIOT will interact with their environments via their sensors and actors and not through a graphical or command-line interface it might be a good idea to have some logging infrastructure, that supports the [syslog protocol](https://tools.ietf.org/html/rfc5424) (I know we did this in a ve

[2015-01-30 11:20] gebart commented on #2375
@authmillenon How will moving the scripts from boards/x/dist to dist/tools/openocd make the argument parsing more complex?
As I understand the intention was to keep  the current DEBUGFLAGS, FFLAGS etc parts in the Makefiles of each board and move only the scripts currently (mostly) duplicated across the boards' dist directories.

[2015-01-30 11:31] authmillenon commented on #2375
Sure, we can do this, and this would simplify a lot, but this is currently not the case, so I did not thought of this ;-).
While the flash and reset scripts for openocd look mostly similar for each openocd-enabled board (the given parameters tend to differ sometimes), the debug scripts seem to come in four flavors:

* openocd gets started as a server beforehand, than gdb with an exec-script.
* ope

[2015-01-30 11:56] jfischer-phytec-iot commented on #2284
but of course via "Cup Heater + 4 Port USB Hub"

[2015-01-30 13:04] jfischer-phytec-iot commented on #2188
@gebart I have fixed the PIT, it can be tested with [1], as hwtimer.

[1] 04fb6947b582741960a2523c73ebf4c7f58f89e0

[2015-01-30 14:00] OlegHahm commented on #2376
Also relates to https://github.com/RIOT-OS/RIOT/issues/84.

[2015-01-30 18:48] mehlis opened #2379 "building error on some boards with fedora 19 gnu arm toolchain"
[code]

[code]

[2015-01-30 20:52] gebart commented on #2379
At first glance it looks like you have some incompatibility between the C library and the code. I'm guessing wrong float config (-msoft-float vs -mfloat-abi=hard?) ?
I can take a look at this on Sunday if nobody else has already fixed it.

[2015-01-31 07:23] gebart commented on #2379
@mehlis What are your GCC multilib configurations?

(use `arm-none-eabi-gcc -print-multi-lib`)

[code]

[2015-02-01 07:49] gebart commented on #2346
#2352 reduces the severity of this issue by introducing error detection for unintended common variables.

[2015-02-02 07:45] gebart commented on #2344
Resolved the immediate bug by #2349 , #2348 and #2352 . Eliminating the rest of the unintentional common globals are continuing in #2346

[2015-02-02 07:45] #2344 closed

[2015-02-02 07:56] maxencechotard commented on #2173
Since the BSS is to high with RPL_UDP example, I removed RPL functions and my BSS is now 21744 which is way better to implement an application on SAMR21. But I am now facing a ISR_HARD_FAULT every time I try to debug on the board even if the code is working properly when I manualy reboot the board and follow the execution on the terminal. Is somebody has any idea where this problem could come from

[2015-02-02 10:29] cgundogan commented on #2173
@maxencechotard I had a glance at your code, but unfortunately I cannot test this, because I have no hardware available. Unrelated, but the first thing that came to my mind is: how are your devices able to speak with each other? If you remove rpl, then there is nothing that fills up your routing table. I did not see any code in your example related to filling the routing table manually. But I may

[2015-02-02 10:35] maxencechotard commented on #2173
@cgundogan Actually I filled manually the routing table in ip.c line 114 with setting ipv6_addr_t *dest = &packet->destaddr; and removing condition before it. Well done for monitor stack_buffer :).

[2015-02-02 10:46] cgundogan commented on #2173
@maxencechotard What I also realized is that you can remove *rpl* from your Makefile `USEMODULE += rpl`. Just to be sure that you do not interact with any part of *rpl* and strip a little bit off the binary size.

[2015-02-02 11:59] maxencechotard commented on #2173
@cgundogan I removed USEMODULE += rpl and it still goes into ISR_HARD_FAULT.

[2015-02-02 12:00] cgundogan commented on #2173
Is it working on *native* for you?

[2015-02-02 12:42] maxencechotard commented on #2173
It works on native

[2015-02-02 13:48] maxencechotard commented on #2173
The strange thing about that error is that I just fall into ISR_HARD_FAULT when I try to debug. When I launch RIOT without debug on samr21 it works as expected... I would be usually thinking that my RAM is not sufficient but with a BSS of 21k/32k I can't. For me, there is a problem of thread size but I don't understand where and why.

[2015-02-02 14:17] gebart commented on #2173
Under what circumstances does it trigger hard fault during debug? Is it during program stepping or any other debugger activity?

[2015-02-02 14:51] maxencechotard commented on #2173
I just reload the code on my board after rebooting this same board and it looks like the bug disappeared :/. I am going to dig this more and give you a feedback if I find something.

[2015-02-02 15:19] maxencechotard commented on #2173
@gebart It goes to ISR_HARD_FAULT before entering "reset_handler" in startup.c

[2015-02-02 17:55] jfischer-phytec-iot commented on #2188
@gebart please review 591ba98.
so, we are so far?

[2015-02-03 06:35] gebart commented on #2173
@maxencechotard
Is the hardware watchdog enabled by default at power on?

On the Kinetis devices it is not possible to debug until after you disable the hardware watchdog.
I see that there is a line in cpu_init(cpu.c) for disabling the watchdog. Try this in GDB:

[code]

Does that also end up in hardfault?

One more thing to try:
Move the watchdog disable statement to first thing in the reset hand

[2015-02-03 08:07] gebart commented on #2188
SPI:
 - Basic functionality works
 - Discussion about hardware CS and its implementation should be handled after merging this initial support.
 - Interrupt driven or DMA transfers may be implemented in a separate PR to save CPU clocks and battery power.

ADC:
 - Basic functionality, including self-calibration, works.
 - `clock`/`div` variable mixup in adc.c must be corrected.

GPIO:
 - Full functi

[2015-02-03 08:25] gebart commented on #2188
I forgot some modules:

PIT:
 - did not test yet.
 - Big timer rewrite is coming, will probably need major rework then.
 - Is anyone using this module for anything right now?

PWM:
 - Did not test yet, I need to find some spare time at work when I can test it with an oscilloscope.
 - @jfischer-phytec-iot has tested this on Phytec boards.
 - I will ACK the PWM without personally testing on actual h

[2015-02-03 08:26] gebart commented on #2188
C++:
 - Will be implemented in a separate PR.

[2015-02-03 10:59] jfischer-phytec-iot commented on #2188
did not test yet.
    Big timer rewrite is coming, will probably need major rework then.
    Is anyone using this module for anything right now?

PIT can be tested with 04fb694 , as hwtimer.
Currently we do not use PIT.

[2015-02-03 11:32] jfischer-phytec-iot commented on #2188
Will be implemented in a separate PR.

what is missing for C ++?

[2015-02-03 12:52] maxencechotard commented on #2173
@gebart WHat the purpose of those commands ?

    mon reset halt
    thb main
    c

[2015-02-03 12:54] gebart commented on #2188
Don't know yet, didn't test. It might already be working :)

Joakim Gebart
Managing Director
Eistec AB

Aurorum 1C
977 75 Luleå
Tel: +46(0)730-65 13 83
joakim.gebart@eistec.se
www.eistec.se

On Tue, Feb 3, 2015 at 12:32 PM, Johann Fischer <notifications@github.com>
wrote:

[2015-02-03 12:55] gebart commented on #2173
reset the device, temporary breakpoint at function `main`, continue execution

[2015-02-03 13:29] maxencechotard commented on #2173
@gebart I tried your commands and it works after going to ISR_HARD_FAULT but setting "WDT->CTRL.bit.ENABLE" to 1 doesn't works.

[2015-02-03 17:31] mehlis commented on #642
I have no idea what I meant, code changes to fast to make links to line numbers...

[2015-02-03 17:31] #642 closed

[2015-02-03 18:36] mehlis commented on #1682
@OlegHahm @LudwigOrtmann I recommend to use the time on earth with something more productive than this discussion.

Code is public domain. So I say I am the author.

[2015-02-03 18:36] #1682 closed

[2015-02-03 22:50] OlegHahm commented on #1682
Thanks for the recommendation - I hope you haven't spend the last four months (unsuccessfully) reasoning about this question.

[2015-02-04 09:28] gebart opened #2391 "Building inside a Docker container"
I want to make use of the Dockerfile provided by @kaspar030 in `/dist/Dockerfile` to let the entire compilation process run inside a Docker container.

Has anyone tried this?

Benefits:
 - Eliminate (most) differences between different Linux distributions
 - Easier to get started for beginners (only one command to install Docker, and one command to set up the container)
 - Specify compiler and lib

[2015-02-04 09:41] jfischer-phytec-iot commented on #2188
@gebart so, ready to be squashed and merged?

[2015-02-04 10:02] gebart commented on #2379
Somewhat related: #2391

[2015-02-04 10:35] kaspar030 commented on #2391
I used to build with the Docker container a lot, mainly for not having to compile some tolchains and for build testing with a defined base toolset. Integrating into the make system sounds like a nice idea to me!

You've probably seen it, but the Dockerfile shows an example on how to make the buildtests within a freshly spawned docker container.

I used something like
```# docker run -i -t -u $UID

[2015-02-04 10:53] gebart commented on #2391
@kaspar030
I saw your example. I figured that the Makefile would run something like `docker run ... make blablabla`

[2015-02-04 11:18] OlegHahm commented on #2391
I like the idea. If `BUILD_IN_DOCKER=1` would be the default we could probably simplify the whole getting started tutorial a lot.

[2015-02-04 12:06] kaspar030 commented on #2391
@OlegHahm Interesting idea... Would work only on fairly recent linux distributions, though.

[2015-02-04 13:26] OlegHahm commented on #2391
For docker support? It is included in Debian stable since october 2014, Ubuntu since 2012.04, Fedora since July 2013 and is also available in Arch and Gentoo.

[2015-02-04 14:01] kaspar030 commented on #2391
@OlegHahm Sorry, for once I was thinking of MacOS and Windows users. :) On linux it should be fine.

[2015-02-04 14:03] OlegHahm commented on #2391
According to https://docs.docker.com/installation/windows/ and https://docs.docker.com/installation/mac/ that's somehow doable. @thomaseichinger, @emmanuelsearch, can you confirm for MacOS?

[2015-02-04 14:25] thomaseichinger commented on #2391
Should be doable. Docker introduces a VM though which needs to be taken into account. (`boot2docker` stuff)

[2015-02-04 14:45] thomaseichinger commented on #2391
I set up Docker but the example line fails as in fails to compile

[code]

[2015-02-04 14:52] kaspar030 commented on #2391
Could you try to run manually to see what's wrong?
Something like ```# docker run -i -t -u $UID -v $(pwd):/data/riotbuild riotbuild bash``` might help.

[2015-02-04 15:08] thomaseichinger commented on #2391
"Computer says no."

[code]

[2015-02-04 15:11] OlegHahm commented on #2391
That's only because the poor guy doesn't have a name. (SCNR)

[2015-02-04 15:14] kaspar030 commented on #2391
what are the permissions of those ```/bin``` directories?

[2015-02-04 15:21] thomaseichinger commented on #2391
Users UID doesn't match the directories' owner.

[code]

[2015-02-04 15:24] thomaseichinger commented on #2391
Executing with explicitly setting the UID works.
[code]

[2015-02-04 15:27] kaspar030 commented on #2391
@thomaseichinger why do the directories have uid 1000?

[2015-02-04 15:36] thomaseichinger commented on #2391
@kaspar030 I don't know, isn't this the default linux UID or something? Maybe the the host's UID has to be added to the setup process?

[2015-02-04 15:58] kaspar030 commented on #2391
@thomaseichinger well, what does "echo $UID" say *outside* docker?

[2015-02-04 16:11] thomaseichinger commented on #2391
OS X user's UID is 501 too and I'm using boot2docker yes.

[2015-02-04 17:44] kaspar030 commented on #2391
boot2docker needs to be configured to use the same uid, or you need to adjust permissions/umask... Should we keep this seperate from this PR?

[2015-02-04 19:51] gebart commented on #2391
I created an organization for RIOT on the docker hub. Only lower case letters and numbers are allowed so I named it "riot". I'll continue this work tomorrow.

[2015-02-05 08:50] gebart commented on #2391
So I have successfully built RIOT projects using Docker, however, there are some complications:

 - The user does not exist inside the container, that's why we see "I have no name!" in the prompt.
 - If not running with the `-u UID` flag, all operations will be performed as root, this is in my opinion a quite serious vulnerability if we want to let normal users run Docker containers without sudo t

[2015-02-05 09:02] gebart commented on #2188
#2265 has been merged, now let's get on with each CPU and board PR! :)

[2015-02-05 09:17] jfischer-phytec-iot commented on #2188
:rocket: Thank you for assisting in the #2265.
I want to look over your k60 porting on the weekend.

[2015-02-05 10:20] jfischer-phytec-iot commented on #2188
@gebart
I have looked quickly your cpu code. Some code of your (and my cpu) code can be moved to kinetis_common, you've got it already addressed a time :+1: .

- [ ] ldscript for all kinetis
- [ ] startup code
- [ ] syscalls code

Should we do it? I think it also would be easier for review.

[2015-02-05 11:52] gebart commented on #2188
@jfischer-phytec-iot
It would be very convenient if we moved/merged our common parts of the ldscript, rename and refactor my `K60-base.ld` and adapt the kw2x ldscript to reduce it to only defining the physical memory regions and include `kinetis-base.ld` for the rest.

I am not familiar enough with the Kinetis M0 variants to know if it is adaptable for the kw0x as well.

[2015-02-05 11:52] gebart commented on #2188
Regarding syscalls I think this may even be moved to cortex-mX_common

[2015-02-05 12:12] jfischer-phytec-iot commented on #2188
@gebart

Yes, it even fits everything so far.

git mv ...

cpu/k60/ldscripts/data.ld -> cpu/kinetis_common/ldscripts/data.ld
cpu/k60/ldscripts/debugging-sections.ld -> cpu/kinetis_common/ldscripts/debugging-sections.ld
cpu/k60/ldscripts/flash-security.ld -> cpu/kinetis_common/ldscripts/flash-security.ld
cpu/k60/ldscripts/stack.ld -> cpu/kinetis_common/ldscripts/stack.ld
cpu/k60/ldscripts/text.ld -

[2015-02-05 12:58] gebart commented on #2188
Actually, only the kinetis-base.ld is used, I used the other split ldscripts before but it turned out that it was not really helping and it was just hard to get an overview in the text editor so I copied them back into one big section file (K60-base.ld)

[2015-02-05 12:59] gebart commented on #2188
@jfischer-phytec-iot I can make a PR for getting the ldscripts into kinetis_common, can you update your cpu ports to use the scripts and I'll update the K60 port?

[2015-02-05 13:47] jfischer-phytec-iot commented on #2188
Yes.

[2015-02-05 14:04] LudwigOrtmann commented on #2341
ccache does not really help here I'm afraid. No (significant) amount of applications is built twice anyways.

[2015-02-05 16:24] OlegHahm commented on #2379
That's not the recommended toolchain for this platform. See https://github.com/RIOT-OS/RIOT/wiki/Board%3A-STM32F4discovery#supported-toolchains

[2015-02-05 16:24] #2379 closed

[2015-02-06 03:29] phiros commented on #2341
I played around with the matrix build feature of travis a little bit in #2394 ....
However, the results are kind of disappointing (builds often terminate prematurely etc.)

[2015-02-06 14:23] bapclenet opened #2395 "SAMR21: UPD socket error"
I'm running rpl_udp example with a SAMR21 board.
I got three boards as senders and one board as receiver.
The senders send one message a second so the receiver receives three messages a second.

The source code works fine in native and it seems to work fine with only one board as sender.
When I plug one more (so two senders), the program runs ok for a while and at some point behaves strangely.
Som

[2015-02-06 14:45] thomaseichinger commented on #2395
@bapclenet Can I access your code somewhere? I'd expect it to be related to code alignment.

[2015-02-06 15:56] bapclenet commented on #2395
Here is my branch:
https://github.com/bapclenet/RIOT/tree/samr21_socket_pb
Use the flag in rpl_udp.h to switch between sender (node) and receiver (passerelle) and to change the address of the board you flash

[2015-02-06 16:53] gebart commented on #2391
I found one more difficulty with binaries built inside Docker:

[code]

The path to the source files in the debug info is wrong, which causes gdb to not find the file when trying to list the source line.

Is there any way to filter the debug information to modify the paths?

[2015-02-06 17:34] gebart commented on #2391
one more problem:
[code]

[2015-02-06 21:46] #2194 closed

[2015-02-07 16:30] LudwigOrtmann commented on #2264
I would propose to implement this as part of high-level random API.

[2015-02-08 10:07] d00616 opened #2407 "Replace pkg/micro-ecc random calls"
periph/random needs an higher level API. If this implemented this API needs to be integrated into micro-ecc.
https://github.com/RIOT-OS/RIOT/pull/2236#issuecomment-73404514

[2015-02-08 10:48] songjw0820 commented on #1646
Info : SAMD MCU: SAMR21G18A (256KB Flash, 32KB RAM)
wrote 32768 bytes from file /home/user/RIOT-master/examples/hello-world/bin/samr21-xpro/hello-world.hex in 40.885929s (0.783 KiB/s)
Error: CMSIS-DAP: Read Error (0x07)
Error: CMSIS-DAP: Write Error (0x07)
Warn : target was in unknown state when halt was requested
Error: CMSIS-DAP: Write Error (0x07)
Error: CMSIS-DAP: Write Error (0x07)
Error: err

[2015-02-08 13:49] authmillenon commented on #2278
@OlegHahm can we please use the Network Stack Task Force Milestone only for PR's that are explicitly mentioned in this list? Otherwise we risk getting people easily confused.

[2015-02-08 14:29] haukepetersen commented on #2375
ok, I found some time to think of this, here is a solution: #2408

[2015-02-09 09:48] thomaseichinger commented on #1646
@songjw0820 could you please provide us your openocd version? Does this happen with every attempt to flash? Reading your log it seems to be the actual writing did succeed, do you see any output when connecting over serial line?

[2015-02-09 12:52] songjw0820 commented on #1646
@thomaseichinger Thank you for your answer!
Open On-Chip Debugger 0.9.0-dev-00268-ga9c90a0
yse flash.Serial no output...

[2015-02-09 13:09] bapclenet commented on #2395
@thomaseichinger , have you had time to have a look at?

[2015-02-09 13:39] thomaseichinger commented on #1646
@songjw0820 I was able to flash the board successfully with this exact version of openocd. Could you tell us a little more about you environment? (OS, version, are you using a virtual machine?) Do you have a second board to try flashing?

[2015-02-09 13:55] thomaseichinger commented on #2395
I gave it a try but didn't get too far yet. With the configuration below I always receive
[code]

One node with
[code]
The other
[code]

[2015-02-09 13:58] bapclenet commented on #2395
Change the adress IPV6 and room node to 2 otherwise it won't work

[2015-02-09 14:00] thomaseichinger commented on #2395
Like this?
[code]

[2015-02-09 14:07] bapclenet commented on #2395
yes

[2015-02-09 14:14] thomaseichinger commented on #2395
Similar problem:
[code]

[2015-02-09 14:16] songjw0820 commented on #1646
@thomaseichinger yse virtual machine, ubuntu 14.04.

[2015-02-09 14:17] bapclenet commented on #2395
if you let it run, it should connect to the router, shouldn't it?

[2015-02-09 14:21] songjw0820 commented on #1646
@thomaseichinger I tried another demonstration boards today, run a successfully

[2015-02-09 15:12] bapclenet commented on #2395
I'm going to try it again but I used the same configuration and it should work

[2015-02-09 15:17] maxencechotard commented on #2173
Any other idea about where the problem come from ?

[2015-02-09 15:19] bapclenet commented on #2395
Are you using my entire RIOT branch? I get a
    2|20,366|38,894|20,458|40,254
    Successful deliverd 78 bytes over UDP to abcd::ff:fe00:1 to 6LoWPAN

[2015-02-09 15:53] bapclenet commented on #2395
Ok I got your problem, let me fix it

[2015-02-09 17:05] maxencechotard opened #2414 "samr21 : Problem to read RSSI and LQI values"
When I am trying to read RSSI and LQI values after receiving a packet on samr21 with RPL_UDP example, I always get RSSI =0 and LQI with a wide range of values even if the material configuration between my two nodes doesn't change. To read RSSI and LQI vlaues I go to transceiver.c and watch values in :    static void receive_packet(uint16_t type,uint8_t pos)  line 678. Am I in the wrong place to ge

[2015-02-09 17:08] LudwigOrtmann commented on #2414
This is already tracked in https://github.com/RIOT-OS/RIOT/pull/2277

[2015-02-09 17:08] #2414 closed

[2015-02-09 17:13] jfischer-phytec-iot commented on #2188
@gebart I have looked at your syscalls.c. Not so bad, but depends on devio. Would it be easier to move it with devio to kinetis_common for now?

[2015-02-09 19:36] gebart commented on #2173
@maxencechotard can you summarize where you are right now by answering these questions?

 - Is flashing the board working properly?
 - Does running the flashed program with debugger disconnected work?
 - Does running the flashed program with debugger connected result in a hard fault?
 - Do you ever hit the breakpoint if you set a breakpoint at `main` in gdb and run?
 - What happens when you run if

[2015-02-09 19:51] gebart commented on #2188
@jfischer-phytec-iot do you have the desire/time to work on migrating the devio and syscalls part from k60+kw2x to kinetis_common?
It would be beneficial in the long run to share as much as possible between the Kinetis CPUs.

[2015-02-09 23:07] jfischer-phytec-iot commented on #2188
@gebart Yes, I think this is the better solution, even if it takes more time now. Later, it will make the review for K60 and KW2X easier.

[2015-02-10 07:10] gebart commented on #2188
We should add default handlers for the standard exceptions (hard fault, usage fault, memmanage etc.) to kinetis_common, similar to what is done in #2402 for the nRF cpu

[2015-02-10 08:36] jfischer-phytec-iot commented on #2188
to be there

[2015-02-10 08:59] maxencechotard commented on #2173
Yes for sure.
-The board is flashing correctly even if it is really slow ~4 minutes on a virtual machine with Ubuntu 14.04 LTS on eclipse Luna
-When we run the program on the board without debugging it works perfectly
-Sometimes when we run the same program on the debugger it goes to ISR_HARD_FAULT without being able to enter in "void reset_handler(void)"
-When after entering in ISR_HARD_FAULT and

[2015-02-10 09:03] bapclenet commented on #2395
@thomaseichinger, problem solved, you can have a try

[2015-02-10 09:45] cgundogan commented on #1964
I did not encounter such a behavior when using the iot lab testbed (m3 nodes) with the RPL_UDP example. Is this still valid for you @OlegHahm ?

[2015-02-10 10:02] cgundogan opened #2418 "iot-lab_M3: hard fault with RPL_UDP example on the testbed"
**Sometimes** (I know @thomaseichinger loves these kinds of problems) a node on the iot-lab testbed runs into a hard fault when using the RPL_UDP example. I tried to narrow it down and I think the problem lies in the spi driver.
In `at86rf231_read_fifo()` the function `spi_release()` is called. There again, the mutex is unlocked and I believe this unlocking is the root of all problems, as it crash

[2015-02-10 12:02] gebart commented on #2188
@jfischer-phytec-iot Regarding registers in hardfault handler, see https://github.com/gebart/RIOT/blob/2d1d87b98aee1008057dbecc83f51f72216db4c8/cpu/k60/fault-handlers.c

You'll also need an ASM trampoline something like the following (declared with `__attribute__((naked))`):

https://github.com/gebart/RIOT/blob/2d1d87b98aee1008057dbecc83f51f72216db4c8/cpu/k60/interrupt-vector-k60.c#L310

[2015-02-10 12:15] bapclenet commented on #2395
By the way, it appears that after a long time (one or two hours, I don't know yet), the boards don't send any messages. Tell me it happens on your board as well.

[2015-02-10 12:45] gebart commented on #2418
I have seen an intermittent hard fault on mulle as well with the spi mutex using the at86rf231 driver in the RPL_UDP example which may be related. I have not managed to find what conditions trigger the fault, but it seems to happen after I type `node n` under some circumstances in the rpl_udp shell, not always. I have not had time to try to pin it down yet, but it looked like something corrupted t

[2015-02-10 12:49] LudwigOrtmann commented on #2395
possibly related: https://github.com/RIOT-OS/RIOT/pull/2419

[2015-02-10 12:56] gebart commented on #2173
Setting a breakpoint at `void reset_handler(void)` will most likely cause the hardware watchdog to reset the CPU, which goes to reset_handler, which causes another debugger break, which resets the CPU, which goes to reset_handler .... etc.

 - How do you normally set your breakpoints? Do you use a GUI or plain command line? Which GDB commands?

Once you get to the breakpoint in `main()` you should

[2015-02-10 13:04] bapclenet commented on #2395
@LudwigOrtmann, it might be related yes.
Shouldn't I receive "ERROR: context not found" from [here](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/network_layer/sixlowpan/lowpan.c#L1287)?

    if (con == NULL) {
            printf("ERROR: context not found\n");
            return;
        }

[2015-02-10 13:10] thomaseichinger commented on #2418
I think this strange behaviour results from the fact the current driver still reads the FIFO in interrupt context. I wasn't able to track this down yet as when I step through with the debugger this simply doesn't happen. I also have the rpl_udp example running now for about an hour with 5 nodes without any crash so it is really hard to narrow it down. BTW I will refactor this driver tomorrow. (Wit

[2015-02-10 13:19] gebart commented on #2418
@thomaseichinger I will try to find the time to do some trial runs for before-and-after your changes to the rf2xx SPI transfers when you open the PR to give you feedback on this Heisenbug.

[2015-02-10 14:05] maxencechotard commented on #2173
Usually to set a breakpoint I use breakpoint function in Eclipse witch set a permanent breakpoint at the code line desired.

Actually, I just try once to set a breakpoint at <code>void reset_handler(void)</code> and every time I fall into <code>ISR_HARD_FALT</code> it does not enter in <code>board_init</code>

[2015-02-10 14:25] miri64 opened #2422 "RFC: doc: Common doxygen naming scheme for modules."
This is a RFC to find a common doxygen naming scheme for (sub-)modules and add it to the coding guidelines. Some examples where this currently is not the case:
- `board_spark-core` <=> `boards_telosb`
- `native_cpu` <=> `lpc2387` <=> `cpu_atmega2560`
- `diskio` <=> `driver_isl29020` <=> `drivers_mag3110`
- `sys_vtimer` <=> `net` <=> `net_datalink` <=> `tcp` <=> `net_sixlowpan`

This can be a pain

[2015-02-10 14:38] bapclenet commented on #2395
@LudwigOrtmann,
I now use the mentioned PR.
That works for a while and then I fall in isr_hard_fault() with backtrace:

    #0  isr_hard_fault () at /cpu/samd21/startup.c:104
    #1  <signal handler called>
    #2  0x0000059e in sched_set_status (process=0x1 <interrupt_vector+1>, status=7) at /core/sched.c:129
    #3  0x00001134 in mutex_unlock (mutex=0x200057a8 <locks>) at /core/mutex.c:95
    #4

[2015-02-10 14:45] LudwigOrtmann commented on #2395
@bapclenet I don't have time to help you with any of this right now - I just saw this possibly related PR (which is in master by now  - consider rebasing).

[2015-02-10 14:54] LudwigOrtmann commented on #2422
Sounds good.

[2015-02-10 15:00] bapclenet commented on #2395
@LudwigOrtmann, Sure, that's fine.

Let me know if you work on it soon.

Because I only send 3 messages a second to a samr21 board and it gets block at some point which I can't localise.

[2015-02-10 15:01] PeterKietzmann commented on #2422
I'm not against unifying the naming schemes.

[2015-02-10 15:21] authmillenon commented on #2422
@PeterKietzmann But your not in favor either?

[2015-02-10 15:40] PeterKietzmann commented on #2422
In general I like your (new) proposal but after looking at @haukepetersen comment in #2404 I also feel attached to his suggestion :/ Can't decide at this moment

[2015-02-10 15:53] authmillenon commented on #2422
@haukepetersen's proposal would still be more or less incorparated into this one: `net_netapi` (@haukepetersen's proposal) vs `sys_net_netapi` (this issue) vs `sys_netapi` (which I proposed in #2404 before opening this issue, which triggered @haukepetersen's response) ;-)

[2015-02-10 16:38] thomaseichinger commented on #2395
@bapclenet This issue might be related to https://github.com/RIOT-OS/RIOT/issues/2418. Could you try again with `spi_acquire` and `spi_release` calls removed from `at86rf231_spi.c`.

[2015-02-10 16:54] bapclenet commented on #2395
Thanks, yes it sounds like it's related as my backtrace goes into those functions.
I will let you know

[2015-02-10 17:03] bapclenet commented on #2395
It still falls into <code>isr_hard_fault()</code>, here is the new backtrace (without <code>spi_acquire</code> and <code>spi_release</code>):

    bt
    #0  isr_hard_fault () at /cpu/samd21/startup.c:104
    #1  <signal handler called>
    #2  0x00014cd8 in spi_transfer_byte (dev=SPI_0, out=0 '\000', in=0x20008000 "") at /cpu/samd21/periph/spi.c:241
    #3  0x00014d6e in spi_transfer_bytes (dev=S

[2015-02-10 20:50] haukepetersen commented on #2422
@PeterKietzmann: I make it easy for you: +1 for @authmillenon's proposoal!

[2015-02-11 06:58] PeterKietzmann commented on #2422
So the majority is pro :-)

[2015-02-11 07:19] gebart commented on #2422
:+1: for @authmillenon 's suggestion

[2015-02-11 09:15] thomaseichinger commented on #2395
This is a quick shot but could you try again with increased interrupt stack?

[code]

[2015-02-11 10:14] bapclenet commented on #2395
I'm going to have a try

[2015-02-11 10:37] jfischer-phytec-iot opened #2432 "Problems with packet processing in coexistence with other ieee802154 devices"
I have a ieee802154 device regularly sends a beacon request.
After a few packets the transceiver buffer runs full and is not processed further. See dump:

2015-02-11 11:21:52,952 - INFO # Packet received
2015-02-11 11:21:52,955 - INFO # transceiver: Handling KW2XRF packet
2015-02-11 11:21:52,957 - INFO # transceiver: Content:
2015-02-11 11:21:52,960 - INFO # transceiver: Notify thread 5
2015-02-11

[2015-02-11 11:19] jfischer-phytec-iot commented on #2432
#2434 fixes it.

[2015-02-11 12:13] bapclenet commented on #2395
Nope, the same, after a while, it goes to <code>isr_hard_fault()</code>

What made you think about that?

[2015-02-11 12:45] maxencechotard opened #2435 "vtimer_sleep fails after long uptime"
I have experienced a problem with nodes on samr21 : after running about two hours, the main thread is automatically killed even if there is <code>while(1)</code> loop inside. I also tried to create the <code>while(1)</code> loop in a thread launched from the main thread and it also stopped after less than two hours. Finally, I tried the rpl_udp example on native and it also stopped after two hours

[2015-02-11 12:46] LudwigOrtmann commented on #2435
sounds like a timer overrun

[2015-02-11 12:50] thomaseichinger commented on #2432
#2434 seems correct. But there seems to be a problem in your FCF. :wink:

[2015-02-11 13:09] maxencechotard commented on #2435
Is there a timer which stops the main thread ? Because there is no timer timer in the code I have implemented.

[2015-02-11 14:06] LudwigOrtmann commented on #2435
What exactly do you mean with "the main thread is automatically killed"?

[2015-02-11 14:16] maxencechotard commented on #2435
After less than two hours the <code>while(1)</code> I used to send messages to other nodes in the main is stopped and the main thread is not running anymore (I mean it doesn't send anything then and I can't break in the <code>while(1)</code> anymore)

[2015-02-11 14:21] LudwigOrtmann commented on #2435
Are any other threads still running? what is ps saying?

[2015-02-11 14:25] LudwigOrtmann commented on #2435
(I assumed the whole node crashed due to some null pointer dereference or the likes of it after the timer overflowed..)

[2015-02-11 14:39] maxencechotard commented on #2435
Actually the node is still running in idle thread after quiting m. I am going to try a ps but I need to wait at least one hour

[2015-02-11 14:47] maxencechotard commented on #2435
I think that using <code>ps</code> command after leaving main thread will be not possible because not only main thread is stopped but also other which have been created in the main. When the main is stopped I can just break inside the IDLE thread.

[2015-02-11 15:14] #2432 closed

[2015-02-11 16:42] authmillenon opened #2438 "ubjson: Invalid reads/writes"
Valgrind is noticing some invalid reads/writes in ubjson (commit 2c703e5):

[code]

[2015-02-11 16:47] LudwigOrtmann commented on #2438
Tracked in https://github.com/RIOT-OS/RIOT/issues/2175 already.

[2015-02-11 16:47] #2438 closed

[2015-02-11 16:54] authmillenon commented on #2438
Ups… it was already by me. Sorry.

[2015-02-11 17:09] LudwigOrtmann commented on #2175
I once tried to understand this without success.

[2015-02-11 18:12] maxencechotard commented on #2435
Actually, when I execute a <code>ps</code> command after the main thread goes stopped I get :

    pid | name               | state Q   | pri | stack ( used) | location
    1   | idle               | pending Q | 15  | 256 ( 160)    | 0x200006cc
    2   | main               | bl mutex _| 7   | 1536 ( 1296)  | 0x200000cc
    3   | uart0              | bl rx _   | 6   | 1024 ( 280)   | 0x2000096c

[2015-02-11 18:23] cgundogan commented on #2435
when I talked with @haukepetersen @authmillenon and @phiros in the RoMe meeting, I got the impression that they said something about the *vtimer having an overflow when running the rpl_udp example for a long time*. maybe you guys wanna add something here?

[2015-02-11 18:35] thomaseichinger commented on #2435
@maxencechotard Could you try running `ps` after 70 and 72 minutes. The underlying hardware timer of vtimer has an overrun after 71 minutes (32bit at 1MHz). And additionally after 46 and 48 minutes. From your experience, does this happen closer to 47 or 70 minutes?

[2015-02-11 20:33] maxencechotard commented on #2435
@thomaseichinger I am going try those <code>ps</code> and give you a feedback

[2015-02-11 20:52] haukepetersen commented on #2422
alright then, so `sys_net_somethingsomething` it is for the network stack stuff -> so lets make sure the stuff we newly introduce from now on fits into this naming scheme.

[2015-02-11 21:07] authmillenon commented on #2422
:+1: who fixes the old stuff?

[2015-02-11 22:12] maxencechotard commented on #2435
I tried a <code>ps</code> at 46,48,70 and 72 minutes and the main thread is still running. I get the same ps print than the one I sent you before. I am trying now to figure out when the main thread is stopped.

[2015-02-11 23:58] jfischer-phytec-iot commented on #2188
@gebart Sorry, I hate only now time for it.
I was unsure if it belongs to kinetis_common. My opinion is that it is one for ```cortex-m4_common/crach.c```. So I left it and made as in #2402. I think it's good to start with.
Please review 14faa83

[2015-02-12 08:07] maxencechotard commented on #2435
I tried this morning and it tooks between 2h to 2h20minutes to stop main thread. I'll try to be more precise in next experiment.

[2015-02-12 08:44] LudwigOrtmann commented on #1519
@haukepetersen @authmillenon can this be closed?

[2015-02-12 08:47] LudwigOrtmann commented on #2435
Judging from the ps output and your main loop, the `vtimer_sleep` call is responsible for your problems, and it has nothing to do with rpl/udp/...

[2015-02-12 10:52] bapclenet commented on #2173
Hi everyone, Kevin Roussel here. I checked Baptiste & Maxence issues on their development machines this morning, and I noticed that the SAMR21 XPro board doesn't seem to be reset after flashing, which usually cause a crash to occur just after a new program is flashed. The board then works normally after a manual reset operation. Since none of us is expert in OpenOCD scripting, could someone check

[2015-02-12 10:53] bapclenet commented on #2395
Hi everyone, Kevin Roussel here. I checked Baptiste & Maxence issues on their development machines this morning, and I noticed the following:

* the SPI driver for SAMD21/SAMR21 sometimes hangs while waiting for a byte to arrive -- the RXC bit in INTFLAG register of SPI block never switches to 1. I don't really know why this occurs, but we probably should insert a "timeout" mechanism in the <code>

[2015-02-12 11:52] thomaseichinger commented on #2173
The openocd script actually issues a reset command after flashing. Do you use the before-mentioned patch to speed up flashing? Maybe its worth a try to disable this patch again to be sure. If this doesn't help I could have a closer look at the openocd code.

[2015-02-12 12:09] bapclenet commented on #2173
@Thomas, thank you for your answer.
We've got the problem with and without the patch so it's not related to the
patch.
 Le 12 févr. 2015 12:52, "Thomas Eichinger" <notifications@github.com> a
écrit :

[2015-02-12 12:19] haukepetersen commented on #1519
yes.

[2015-02-12 12:19] #1519 closed

[2015-02-12 12:20] haukepetersen commented on #2422
anyone bored to death? :-)

[2015-02-12 12:50] haukepetersen commented on #2422
actually I am just doing the fixing for the boards folder (as it was me who broke many of them...)

[2015-02-12 12:51] authmillenon commented on #2422
Remember to look after `@ref` tags that reference the modules you change ;-)

[2015-02-12 12:53] maxencechotard commented on #2435
@LudwigOrtmann Is there any way I can debug vtimer_sleep function ?

[2015-02-12 13:07] LudwigOrtmann commented on #2435
If you have a look at the implementation of `vtimer_sleep`, you will see it is flawless and has no debug output. The problem is probably in `vtimer_set`. You can enable debug output for vtimer like this:
[code]
Feel free to add some debug output in the same fashion you find all over the place to `vtimer_sleep` ;)

[2015-02-12 15:42] haukepetersen commented on #2422
just stumbled upon something: after this convention the network modules should be named `sys_net_SOMETHING`. But `net` is it's own top-level doxygen group (although the files reside in sys). Do we make an exception for network modules and put them in the `net_SOMETHING` scheme? I think in this case that makes sense?!

[2015-02-12 15:57] LudwigOrtmann commented on #2422
makes sense

[2015-02-12 19:46] authmillenon commented on #2422
Just for consistency (and because I already did it for most of my newer PRs) I would stick to `sys_net` and `sys_net_<module>`. Why should it make ab exception?

[2015-02-12 20:03] LudwigOrtmann commented on #2422
Because 'net' is kind of special in an Internet OS ;)

[2015-02-12 21:42] authmillenon commented on #2422
I thought we are a real-time OS :P

[2015-02-13 08:41] LudwigOrtmann commented on #2422
That's not exclusive ;)

[2015-02-13 09:13] OlegHahm commented on #2422
I would also vote for `net_` instead of `sys_net_` - and I wouldn't call it an exception. Folder and doxygen hierarchy don't have to be identical.

[2015-02-13 09:50] OlegHahm commented on #2375
Closed?

[2015-02-13 09:56] OlegHahm commented on #1964
I haven't seen it for a long time.

[2015-02-13 09:56] #1964 closed

[2015-02-13 10:18] gebart commented on #2188
@jfischer-phytec-iot 14faa83 looks good except for the missing prefix on the enum values. I will try it out on my WIP k60 branch.

[2015-02-13 14:43] maxencechotard commented on #2435
I can confirm that every time it take between 2h12 and 2h14 to stop the main thread. Sounds really like a timer problem :)

[2015-02-13 15:17] gebart commented on #2418
Is it possible to see the interrupt stack usage similar to what is shown by `ps` when creating threads with `CREATE_STACKTEST`?

[2015-02-13 19:39] gebart commented on #2418
In response to my own question:
I did a test where I fill the stack with a canary early after reset before libc init to measure the maximum stack depth used. Everything works now and I'm using 384 bytes out of 512 total after having run `init n` from the RPL shell.

I realized that my previous build was using a newlib built with `-fstack-protector` which makes it use more stack space for certain f

[2015-02-14 07:59] cgundogan commented on #2418
@thomaseichinger I can also test your refactored driver for this board. Is there a PR anywhere?

[2015-02-14 10:29] gebart commented on #2418
I have not yet tested the refactored driver, the above stack tests were made using the original driver.

[2015-02-14 12:46] thomaseichinger commented on #2418
@gebart To conclude, removing `-fstack-protector` made it work for you?
@cgundogan The refactoring isn't done yet as I wanted to wait for packet buffer implementation to be stable. (https://github.com/RIOT-OS/RIOT/pull/2285)
I will ping you once there is a PR.

[2015-02-14 12:48] haukepetersen commented on #2375
yes. With #2408 merged I think we have the solution.

[2015-02-14 12:48] #2375 closed

[2015-02-14 13:25] gebart commented on #2418
@thomaseichinger Yes, everything is working properly on k60/mulle after relinking with newlib `-fno-stack-protector`.
It is important to note here that it was newlib, not RIOT, that was built with `-fstack-protector`/`-fnostack-protector` which makes several of the standard library functions for string handling use more stack space, e.g. memcpy, printf, strcat etc..

[2015-02-16 17:20] jfischer-phytec-iot commented on #2435
I have also observed it. Can not say more currently, but it is around 2hxx

[2015-02-17 16:43] OlegHahm commented on #2435
Could be related to https://github.com/RIOT-OS/RIOT/issues/1753

[2015-02-18 17:55] OlegHahm commented on #5
I guess this becomes a wontfix with NSTF.

[2015-02-18 17:55] #5 closed

[2015-02-19 12:55] OlegHahm opened #2470 "Flashing is not working on SAMR21 any more"
As stated in https://github.com/RIOT-OS/RIOT/pull/2408#issuecomment-75021353 `make flash` (using the unified OpenOCD script from #2408) is currently not working for the SAMR21 - at least on ArchLinux. (Neither with the AUR version of OpenOCD nor with a fresh compiled from current git HEAD.) Putting an `exit` at the end of the `program` command or adding a `shutdown` command at the end helps, but l

[2015-02-19 14:47] OlegHahm commented on #2470
@thomaseichinger, the full output with `-d3` is very long. The last lines look like
[code]

[2015-02-19 15:27] haukepetersen commented on #2470
to resume the discussion from #2408: i removed the `-c shutdown` after `-c reset run`, as it lead to duplicate shutdown on most boards. As example the `stm32f4discovery` with `-c shutdown`:
[code]
without `-c `shutdown`:
[code]

@thomaseichinger testsed for the samr21 - does openOcd maybe behave different between Linux and OSX?

[2015-02-19 15:28] OlegHahm commented on #2470
Does it hurt to shutdown twice?

[2015-02-19 15:28] LudwigOrtmann commented on #2470
Can't we pass arguments/additional commands nowadays?

[2015-02-19 15:33] haukepetersen commented on #2470
It's does not really that I know of, but its not clean either...

By the way, this is the output when flashing the samr21-xpro without the `-c shutdown` on my computer:
[code]

So it seems it has something to do with different OpenOCD versions? My version is `Open On-Chip Debugger 0.9.0-dev-00186-g30203b3 (2014-11-18-16:43)` build from their sources.

[2015-02-19 15:39] haukepetersen commented on #2470
just updated openOCD -> `Open On-Chip Debugger 0.9.0-dev-00301-g986102f (2015-02-19-16:37)`

now I have the same behavior as @OlegHahm. Also flashing the stm32f4discovery seems to be broken: `Error: jtag status contains invalid mode value - communication failure` after successful verification...

[2015-02-19 15:42] OlegHahm commented on #2470
and via versa: reverted to OpenOCD version 0.9.0-dev-00186-g30203b3 and it works like charm again.

[2015-02-19 15:43] LudwigOrtmann commented on #2470
:banana:

[2015-02-19 15:43] haukepetersen commented on #2470
ok, my fault. Seems like OpenOCD changed something. I guess #2471 should fix it for everyone?

[2015-02-19 15:44] gebart commented on #2470
Only extra initialization since the OPENOCD_EXTRA_INIT argument is put before all of the commands on the command line.

[2015-02-19 15:44] haukepetersen commented on #2470
and the forget about the error for the stm board stated above, that was because I forgot to add the backshlash after the `-c reset halt` command...

[2015-02-19 16:10] authmillenon commented on #2278
The last critical component was merged. From now on it's Happy Hacking!

[2015-02-19 16:25] OlegHahm commented on #2278
Ah, haven't seen this before. Will do.

[2015-02-20 13:41] timmmmmey commented on #17
It is still happening with CodeBench Lite 2014.05-28 and GNU Tools for ARM Embedded Processors 4.9.3 20141119.
Still no work around?

[2015-02-20 14:10] gebart commented on #17
Just an idea: try building without nano.specs, i.e. full functionality
newlib. It should be somewhere in the makefile.include for the board or
CPU.
(I am not at my computer right now and I don't know anything about the code
bench tool chain so I can't provide any more information)
On Feb 20, 2015 2:41 PM, "timmmmmey" <notifications@github.com> wrote:

[2015-02-20 19:46] authmillenon opened #2479 "What's wrong with tests/bitarithm_timings?"
Observing the Pull Requests that Travis aborted seemingly randomly building, I reallized, that most (if not all) of them halted while building `tests/bitarithm_timings` and I would guess that it's always the same board cause. So what is wrong with this test that its build causes Travis to crash?

[2015-02-21 12:39] OlegHahm commented on #1004
Any one in favor of not closing this?

[2015-02-21 12:42] OlegHahm commented on #21
I guess we can close this one. There's a much better solution in the works by the NSTF.

[2015-02-21 12:42] #21 closed

[2015-02-21 12:43] OlegHahm commented on #469
Pong.

[2015-02-21 12:43] #469 closed

[2015-02-21 12:43] OlegHahm commented on #860
And I'm still thinking this.

[2015-02-21 12:49] gebart commented on #1004
Do you propose closing or leaving it open? I am sorry but I do not understand the above sentence.

This issue is quite old, did the discussion reach a conclusion somewhere? Keep numeric PIDs?
All I can find is "not future proof" in #1298

[2015-02-22 13:47] phiros commented on #2479
I think that has more to do with travis internals than with the test itself. I've also noticed this issue
quite some time ago and investigated it a little bit. To me it looks like there is nothing special about this test other than that it gets build around the 10 minute mark by travis...

BTW: I've not seen this happening with #2394.

[2015-02-22 21:20] OlegHahm commented on #1004
My rational was that there is currently no working proposal to get rid of numeric PIDs and @Kijewski seems to more or less have abandoned this project. But you're right, we should first conclude if RIOT could benefit from non-numeric PIDs or not before we should close this.

[2015-02-23 08:10] #1110 closed

[2015-02-23 08:46] gebart commented on #2470
@LudwigOrtmann @haukepetersen How about we add argument handling to the script?
That will allow us to properly quote the arguments which is not possible via environment variables unless we use some `eval` function or similar on the variables.

[2015-02-23 08:57] LudwigOrtmann commented on #2470
+1 for argument handling

[2015-02-23 09:05] gebart opened #2486 "Travis: Add separate build matrix item for static code checks"
The "needs-squashing" check is run after the compile tests have been run. Since #2394 was merged this means that if your build needs squashing all of the matrix build fail, and the person checking the Travis results need to go into each of the sub-builds and check if the failure was because of some problem, or if it was just "needs squashing" or "new doxygen warnings" or some other static check.

[2015-02-23 09:09] LudwigOrtmann commented on #2486
I am in favor of having static tests in parallel to the `BUILDTEST_MCU_GROUP` tests.

[2015-02-23 09:23] OlegHahm commented on #10
This function doesn't exist any longer in RIOT.

[2015-02-23 09:23] #10 closed

[2015-02-23 09:26] OlegHahm commented on #198
See https://github.com/RIOT-OS/RIOT/pull/1307#issuecomment-61182851

[2015-02-23 09:26] #198 closed

[2015-02-23 09:32] OlegHahm commented on #529
I think that this issues has been solved at least partly. Is anyone aware of any open problems regarding this issue or can we close this?

[2015-02-23 09:35] OlegHahm commented on #597
Fixed by https://github.com/RIOT-OS/RIOT/pull/2168

[2015-02-23 09:35] #597 closed

[2015-02-23 09:37] OlegHahm commented on #641
`printf()` is not used any more, `puts()` only once in a sensible way (for an error case).

[2015-02-23 09:37] #641 closed

[2015-02-23 09:39] OlegHahm commented on #711
Obsoleted by the work on netdev.

[2015-02-23 09:39] #711 closed

[2015-02-23 09:59] bapclenet commented on #2395
@Thomaseichinger, have you had time to try the source code ?

[2015-02-24 06:47] gebart commented on #2486
Implemented in #2488

[2015-02-24 06:47] #2486 closed

[2015-02-25 13:57] gebart opened #2490 "RPL control messages have the wrong destination address"
RPL messages (DIO, DAO etc.) are being sent to FF02::1 instead of FF02:1A. This results in Contiki and RIOT nodes ignoring messages from each other and never joining the same DODAG.

According to RFC6550:

http://tools.ietf.org/html/rfc6550#section-6:

...

[2015-02-25 19:44] cgundogan commented on #2490
Hmm right.. could you try using the patch #2491 ?
However, I have to be really optimistic to expect both implementations Contiki vs RIOT work out of the box together. Good thing though that you tested this, brings us once step further to RFC compliancy (:

[2015-02-26 07:59] BytesGalore opened #2493 "RPL related issue list"
Here we can collect and discuss issues related to the RPL implementation
- [x] wrong RPL all-RPL-nodes-address (cf #2490 and a solution PR #2491, merged)
- [x] wrong checksum calculation of RPL messages (#2497, merged)
- [x] replies from RIOT RPL nodes are sent to the wrong address (#2504)
- [ ] using the objective function `of1, mrhof` does not seem to work as `etx_beaconing` is not initialized
-

[2015-02-26 08:05] cgundogan commented on #2493
@BytesGalore great idea.
@gebart would be nice to see a dump :) as the problems might be in layers below (I can think of 6lowpan or 802.15.4 short/long address confusion here out of my head)

[2015-02-26 08:40] gebart commented on #2493
See http://packetlife.net/blog/2008/aug/4/eui-64-ipv6/
There is a bug in lowpan.c in lowpan_iphc_decoding, around line 1355. We need to invert the EUI-64 local/universal bit, which is the 0x02 bit in the first byte.

[2015-02-26 08:46] cgundogan commented on #2493
This was also my first thought and I looked it up in [1]. But it states

   are mapped into the restricted space of IEEE EUI-64 addresses by
   setting the middle 16 bits to 0xfffe, the bottom 16 bits to the short
   address, and all other bits to zero.  As a result, an IID generated
   from a short address has the form:
      0000:00ff:fe00:XXXX
   where XXXX carries the short address.  The unive

[2015-02-26 09:05] gebart commented on #2493
@cgundogan I was using Contiki as a root node for sending DIOs, it was using a 64 bit 802.15.4 source address (02:00:00:00:00:00:00:01)

[2015-02-26 09:17] gebart commented on #2493
After modifying the EUI64 to IPv6 address translation to get RIOT to understand Contiki's compressed headers it now seems like Contiki is having some trouble translating RIOT's short addresses to EUI64. Contiki says: `IPv6 packet received from fe80::cebe:0:0:0 to ff02::1a`
while Wireshark says from fe80::ff:fe00:ccbe to ff02::1a

Contiki uses long addressing in most packets which may be the reason

[2015-02-26 10:37] gebart opened #2498 "ng_sixlowpan: Invert local/universal bit in EUI-64 when forming IPv6 Interface Identifiers"
Reminder to @authmillenon to port #2497 to ng_sixlowpan

[2015-02-28 08:11] gebart commented on #2493
Here is a packet capture of a Contiki RPL root (`examples/ipv6/rpl-border-router`) communicating with a RIOT RPL node (`init n`):
https://www.dropbox.com/s/nwyfy159rrjnijw/rpl-contiki-root-riot-node.pcap?dl=0

Noteworthy points:
 - DAO messages sent back from RIOT to Contiki have the wrong ICMPv6 checksum, according to Wireshark: `Checksum: 0xa68a [incorrect, should be 0xa78a]`
 - DAO message sent

[2015-02-28 08:17] LudwigOrtmann commented on #2493
Look at the capture in the cloud: https://www.cloudshark.org/captures/4b9b364dc2b8

[2015-02-28 08:53] gebart commented on #2493
Sorry about that last pcap, I found out I had an unclean build, the broken ICMP checksum is fixed now.
I have updated the original file to a new capture. The destination 802.15.4 address is still wrong with a clean build.

[2015-02-28 09:40] gebart commented on #2493
I traced the short address problem to sys/net/network_layer/sixlowpan/ip.c:126

The destination address is not found in the neighbour cache because the Contiki RPL root does not send any neighbour notices.

[code]

[2015-02-28 17:47] LudwigOrtmann opened #2505 "Travis: don't stop analyzing"
We added `|| exit` suffixes to the static analysis to save Travis resources. Due to the adoption of the build-matrix feature, this is not effective anymore.
Running all the static tests no matter what will actually save resources because it takes (almost?) longer to create the VM than to run the tests. Also, it will make review quicker because all errors can be seen at once.

[2015-02-28 18:18] authmillenon commented on #2505
See #2506

[2015-03-01 12:14] fnack opened #2508 "sys/udp: Checksum calculation broken"
UDP packet handling no longer works because the [checksum calculation in udp.c](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/transport_layer/udp/udp.c#L82) fails. Reverting in the master history, the problem was introduced with the merge of #2497.

The problem can for example be reproduced using the rpl_udp example:
Sending:

But on the receiver side it fails:

[2015-03-01 12:19] fnack commented on #2508
@gebart: I assigned you because I think the problem was invented with your pull request #2497. Unfortunately, I don't have the time to look deeply into the problem myself. I would appreciate if you could come up with a fix because this is a show-stopper.

[2015-03-01 12:22] fnack commented on #2508
Maybe @authmillenon is also interested in this issue?

[2015-03-01 16:16] gebart opened #2510 "RPL: use DIO prefix option for stateless address autoconfiguration (SLAAC)"
DIO messages can contain prefix information, similar to what is carried by ND RA messages. Currently the prefix option is silently ignored. The prefix should be used for SLAAC, which would improve interoperability with other systems using RPL, e.g. Contiki, which do not send ND RA messages.

[2015-03-01 17:00] gebart commented on #2508
@fnack can you provide a packet capture? The source address is wrong on the receiving end, which gives the wrong checksum (2), we need to check whether the error is in the reception or transmission

[2015-03-01 19:42] #2505 closed

[2015-03-02 07:36] cgundogan commented on #2493
@gebart I just realized the following:
In a setup with two nodes (1 node + 1 root) [both using native, tap devices].
According to wireshark, the node sends DAOs from `fe80::ff:fe00:1 to `fe80::200:ff:fe00:2`, although root's address is configured as `fe80::ff:fe00:1`. This results in a packet drop and therefore no routes are entered into the routing table by rpl. This might have to do something wi

[2015-03-02 07:55] cgundogan commented on #2508
Interesting.. when I test rpl_udp on native I do not see any checksum errors from udp. However, as a side effect form the bug I mentioned in #2493 it is not possible to send messages from root -> node, because DAOs are not received properly by root.

[2015-03-02 08:21] fnack commented on #2508
A packet capture in libpcap format from wireshark can be found [here](https://www.dropbox.com/s/3eiljphqvvk5ys9/udpcap.pcap?dl=0).

Ifconfig on sender:
[code]
Ifconfig on receiver:
[code]
The corresponding output is:

Receiver:

I'm confused where the 200 in the printed source address on the receiver side comes from.

[2015-03-02 08:25] gebart commented on #2493
@cgundogan I did not realize until #2508 but we need to go through the iphc encoding and EUI-64 generation to see where it goes wrong. I need to re-read the relevant RFCs to see how to do it correctly...

[2015-03-02 08:25] cgundogan commented on #2508
@fnack the 200 comes from the flipping of the universal/local bit when generating the link local address from the EUI-64. see here https://tools.ietf.org/html/rfc4291#page-20

[2015-03-02 11:38] gebart commented on #2508
I think we need to revise the EUI-64 generation. I can't find a authoritative source on how to generate 64 bit addresses from 16 bit short 802.15.4 address. I have the following PPT which suggests using PAN ID and Short address to create a 64 bit address.
http://solomon.ipv6.club.tw/Course/ProtocolEngineering/20100505-liwen-rfc4944.ppt

[2015-03-02 11:44] cgundogan commented on #2508
I was also searching for the past hour.. and did also not find any reliable source. What I found so far:

- https://tools.ietf.org/html/rfc4944#section-6

   addresses (Section 3 and Section 12) are also possible.  In these
   cases, a "pseudo 48-bit address" is formed as follows.  First, the
   left-most 32 bits are formed by concatenating 16 zero bits to the 16-
   bit PAN ID (alternatively, if

[2015-03-02 11:47] cgundogan commented on #2508
it confuses me that RFC4944 suggests using the `PAN-ID` as a prefix (if available), but there is no word of that `PAN-ID` in RFC6282..
On the other hand, RFC6282 is meant as an **update** for RFC4944 ..

[2015-03-02 11:49] cgundogan commented on #2508
While RFC4944 states that the u/l bit **SHALL** be set to zero, RFC6282 just tells

But I cannot find any **MUST** or **SHALL** in this context..

[2015-03-02 12:01] gebart commented on #2508
I vote for going with RFC4944 and generating a 48 bit "ethernet MAC" from the PAN and short addr, and handling it like a 48 bit address and inserting 0xfffe in the middle. Thoughts on this?

[2015-03-02 12:06] cgundogan commented on #2508
what about the u/l bit? how should this be handled when deriving the IID from the short address?

[2015-03-02 12:06] lightblu opened #2514 "vtimer: vtimer_usleep fails after the first longterm timer tick (different overflows not handled properly)"
I am using a K22 port based on the open K60/mulle port pull request (great work, thanks!)
A little blinking application that uses vtimer_usleep and toggles a LED every second fails to schedule the timer properly after ~1h09.

First I blamed the K60 port or my quick K22 port, but turns out the different timer overflows in vtimer are not handled properly.Maybe I am totally wrong as I have no complet

[2015-03-02 12:13] cgundogan commented on #2508
semantically, I would prefer to leave the u/l bit as zero to point out that this interface id is not universally global, but generated from a arbitrary short address

[2015-03-02 12:18] gebart commented on #2508
@cgundogan I agree. Set the U/L to 1 in the "MAC" address to signify a local address, then it will be inverted in the EUI-64 to IID conversion as recommended by the RFC when used in 6lowpan.

[2015-03-02 12:18] lightblu commented on #2514
Did not know that a pull request automatically creates an issue, closing this in favor of https://github.com/RIOT-OS/RIOT/pull/2515 .

[2015-03-02 12:18] #2514 closed

[2015-03-02 12:32] cgundogan commented on #2508
:+1: sound.
So to sum it up:
To create link-local addresses from
1. EUI-64 addresses => flip the u/l bit and prepend the `fe80::/64` prefix
2. short address => generate the *MAC-address* [1] and set the u/l bit to **1** (local scope), put the 0xfffe in the middle, then do step **1.**

[1] 16_bit_PAN:16_zero_bits:16_bit_short_address

[2015-03-02 12:34] gebart commented on #2508
@cgundogan That's a good description of what I was thinking.

[2015-03-02 13:35] gebart commented on #2508
@cgundogan Do you have the time to implement the proposed algorithm soon-ish?

[2015-03-02 13:56] cgundogan commented on #2508
I will have a look at it asap

[2015-03-02 14:59] cgundogan commented on #2508
@fnack it's a long shot, but can you try #2517 and see if it helps with your issue?

[2015-03-02 16:57] authmillenon commented on #2508
That is the complete opposite to what we decided in the NSTF on. We decided on the RFC6282 solution since it is the update. All in all: the EUI-64 from 16-bit address generation is not standardized globally and a totally 6LoWPAN-related thing. This is why I think (after 2 years of working with this) it's a bad idea to put this stuff in the link-layer anyways. ;-)

[2015-03-02 18:34] jfischer-phytec-iot opened #2521 "Long addresses are transferred in reverse order."
During my adventure "Communication between RIOT and Linux host," I have discovered that the long addresses are transferred in reverse order.
If I replace it like:
[code]
(see https://github.com/RIOT-OS/RIOT/blob/master/sys/net/link_layer/net_if/net_if.c#L379)
then the addresse will be transmitted correctly.

In which order are the addresses in net_if_eui64_t?

[2015-03-02 18:41] cgundogan commented on #2521
@BytesGalore did you also encounter this behavior?
@jfischer-phytec-iot can you briefly explain your setup?

[2015-03-02 19:00] fnack commented on #2508
Just checked #2517 and #2518. For both PR's the problem seems to be fixed.

[2015-03-02 19:30] BytesGalore commented on #2521
@cgundogan I only used short addresses, due to always running into ["the old way"](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/network_layer/sixlowpan/ip.c#L91) of transmitting a packet.
I will test long addresses tomorrow morning without and with the fix proposed by @jfischer-phytec-iot, then I will report.

[2015-03-02 21:33] gebart commented on #2508
I think I will be able to participate remotely in the hack N ack tomorrow, maybe we'll be able to  solve this during that time?

[2015-03-03 07:28] cgundogan commented on #2508
@gebart good idea, I also will most likely attend

[2015-03-03 09:32] jfischer-phytec-iot commented on #2521
@cgundogan
- Phytec Wega SBC + Linux Kernel 3.19 + IEEE 802.15.4. Transceiver CC2520 connected over SPI
- Phytec phyWAVE Board (#2059 and #2329)

[2015-03-03 09:33] BytesGalore commented on #2521
@cgundogan @jfischer-phytec-iot unfortunately I cannot test/reproduce neither using (forcing) long address usage :(
The R-IDGE Linux USB border router seems to drop the packets internally (the R-IDGE firmware has no promiscuous mode yet). Only multicast addresses are successfully processed by now.

But still the proposition seems to be valid as we take the RPL parent address directly form a provid

[2015-03-03 17:18] jfischer-phytec-iot commented on #2521
"Fields that are longer than a single octet are sent to the PHY in the order from the octet containing the lowest numbered bits to the octet containing the highest numbered bits." <- (IEEE Std 802.15.4TM‐2011"
As I understand, ntohll is correct here?

[2015-03-03 17:21] gebart commented on #2521
@jfischer-phytec-iot What is described there is little-endian, i.e. not Network Byte Order (Big endian)

[2015-03-03 17:58] gebart commented on #2508
@authmillenon I trust in your experience in this field. Does the ng-net implementation of the network layer know about link-layer properties such as PAN IDs and such?
How are other 802.15.4 implementations doing this?

I suggest that in using short addresses, the U/L bit should be set to 1, example:
short address: 0x1234
EUI-64: 02-00-00-ff-fe-00-12-34
Link-local IPv6: fe80::ff:fe00:1234

This fol

[2015-03-03 18:01] gebart commented on #2508
Is there any benefit to including the PAN ID in the link-local address? The overlap between the RFC 4944 PAN ID bits and the U/L bit makes the choice of inverting/non-inverting seem arbitrary and probably won't play well with other implementations..

[2015-03-03 18:15] gebart commented on #2508
For what it's worth, Wireshark agrees that the IEEE802.15.4 packet sent from short address 0x2615 with IPHC mode source address elided (0 bits), has a decompressed IPv6 source address of fe80::ff:fe00:2615

https://www.cloudshark.org/captures/3751f069fe12

I forged that packet by hand btw, I don't have a PR yet.

[2015-03-03 20:45] jfischer-phytec-iot commented on #2521
Currently I'm not sure where it goes wrong. The target is the link layer addresse from the neighbor cache and it is always an array of uint8_t.
The function sixlowpan_mac_send_data (mac.c) casts it to a (net_if_eui64_t *).
I'll dig a little further tomorrow.

@authmillenon Do you have any idea?

[2015-03-03 20:46] authmillenon commented on #2521
No, not without digging myself :/

[2015-03-03 21:47] authmillenon opened #2526 "routing: complete documentation in etx_beaconing.h"
`sys/net/include/etx_beaconing.h` needs some care.

[2015-03-03 21:53] thomaseichinger commented on #1433
@OlegHahm fixed by #1434?

[2015-03-03 21:55] gebart commented on #2314
After #2326 was merged tonight I believe this can be closed as resolved.

[2015-03-03 21:57] thomaseichinger commented on #1581
Consensus found.

[2015-03-03 21:57] #1581 closed

[2015-03-03 22:01] thomaseichinger commented on #1925
@mehlis fixed?

[2015-03-03 22:07] OlegHahm commented on #1433
I guess so.

[2015-03-03 22:07] #1433 closed

[2015-03-03 22:09] gebart commented on #2521
the byte swap at https://github.com/RIOT-OS/RIOT/blob/master/sys/net/link_layer/net_if/net_if.c#L379 seem out of place, but I have not done any tests or debugging...

[2015-03-03 22:23] jfischer-phytec-iot commented on #2521
@gebart I also thought so, but then type casting to (net_if_eui64_t *) is also not right.

[2015-03-03 22:25] authmillenon commented on #163
After a little bit of thinking: This sounds not like a newbie task.

[2015-03-03 22:53] kushalsingh007 commented on #708
Hi , I am a newbie. Could you tell me what all fixes still need to be implemented. From what I see one for backslashes and one for return values. Apart from those two are there still more things that need to be done here ?

[2015-03-04 07:23] gebart opened #2528 "Bus initialization procedure"
Some (most) of the drivers for i2c connected and SPI connected devices initialize the bus as a step in their own initialization procedure. I think this is bad practice, at least when more than one device is connected to the same bus.

In my opinion, it only makes sense to initialize the bus in the device driver for the bus slave if the slave device is the only device on the bus, but generally you

[2015-03-04 07:27] gebart commented on #2528
@PeterKietzmann , @thomaseichinger , @jfischer-phytec-iot you have been active in device driver implementation lately, what are your thoughts on this?

[2015-03-04 07:29] gebart commented on #2508
Closed via #2523

[2015-03-04 07:29] #2508 closed

[2015-03-04 07:31] gebart commented on #2490
Closed via #2491

[2015-03-04 07:31] #2490 closed

[2015-03-04 08:23] PeterKietzmann commented on #2314
jap, correct

[2015-03-04 08:23] #2314 closed

[2015-03-04 09:39] PeterKietzmann commented on #2528
@gebart. I agree with you. Let me just list what came through my mind when thinking about this as a basis to discuss:

- we could stay with this solution and add peripheral configuration fields to the slave's init function to guaranty that all bus devices get the same parameters from an application (may blow up the slave's interface?)
- we could change to your proposed solution. Then we should int

[2015-03-04 09:47] haukepetersen commented on #2209
agree with @LudwigOrtmann, I think the periph_conf files should be part of the doxygen documentation.

[2015-03-04 09:53] PeterKietzmann commented on #2528
In addition: When we decide to adapt the initialization procedure I assume this would be "a lot" of  routine work. Could this be a Newbie Task?

[2015-03-04 10:38] PeterKietzmann commented on #480
I neither tested nor had a deeper look inside bud shouldn't this issue be fixed with #2038?

[2015-03-04 11:09] PeterKietzmann commented on #2470
@gebart is this issue fixed in #2487? Can we close it?

[2015-03-04 11:18] authmillenon commented on #708
Hi, I guess wit backslashes you mean parsing for quotes? Currently, for arguments we only use whitespaces as token divider, regardless if they are escaped or in a pair of quotation marks. The real challenge is to get this into a size acceptable for small devices. For return values compare #1243 and the discussion above. Here the most tedious part is finding all the already implemented she'll handl

[2015-03-04 11:20] PeterKietzmann commented on #2361
@josephnoir is this fixed now? Can we close this issue?

[2015-03-04 11:26] gebart commented on #2470
@PeterKietzmann I don't have a SAMR21 board to test with.
@LudwigOrtmann : Can you verify this is working now?

[2015-03-04 11:31] gebart commented on #2528
@PeterKietzmann The work will be quite routine, mostly deleting the init_master line from the driver and adding it back in tests/driver_xxx/main.c

When we reach a consensus on this and if the decision is to change the existing implementations I will create a tracker issue for all drivers which need modifying.

[2015-03-04 11:39] PeterKietzmann commented on #2470
I do have one but didn't want to go into detail here. AFAIK just flashing works, will verify soon. What should I especially have a look at/test?

[2015-03-04 11:41] OlegHahm commented on #2470
Before #2471 or #2472 are merged the problem isn't solved.

[2015-03-04 11:50] OlegHahm commented on #480
Apparently not:
[code]

[2015-03-04 11:52] PeterKietzmann commented on #2291
That already happened for the new network stuff, right? Is this issue "closable"?

[2015-03-04 11:56] gebart opened #2530 "enableIRQ + _native_in_isr after long idle"
I left two native rpl_udp instances running over night since yesterday. One was configured as a root node, the other a regular routing node. Communication was working properly and the shell was responding to my commands. When I came back this morning both terminals were filled with thousands of lines of the text `enableIRQ + _native_in_isr` and the shell does not accept commands any more. It has n

[2015-03-04 11:56] kaspar030 opened #2531 "core: disableIRQ/restoreIRQ inefficient?"
I've been thinking whether we might save some cycles by avoiding unnecessary enable/restoreIRQ calls.

Right now we blindly disable them, and blindly restore them after we don't use them anymore.

Almost everywhere a pair of disable/restore is used to enter/leave sections which should not be interrupted.

We could use a guard variable (e.g., irq_disabled), which gets incremented when entering a cr

[2015-03-04 11:57] PeterKietzmann commented on #2276
Too much for a newbie task?

[2015-03-04 11:59] PeterKietzmann commented on #2270
Is this already fixed somewhere? Or can we reference a PR?

[2015-03-04 12:00] gebart commented on #2530
I attached gdb to get a backtrace:

[code]

[2015-03-04 12:01] gebart commented on #2530
unfortunately, I did not compile with debugging in mind so I don't have any line numbers..

[2015-03-04 12:15] authmillenon commented on #2291
Yes on new stuff, but No on "closable". There is (and will be until complete deployment of `ng_`) still stuff in `sys/net/include`.

[2015-03-04 12:47] PeterKietzmann commented on #2470
Ok, good that these PRs are referenced now so we may not forget to close the issue after merging

[2015-03-04 12:49] PeterKietzmann commented on #2528
Jupp. I'd like to hear at least one more opinion on that. This is a good newbie task

[2015-03-04 12:51] PeterKietzmann commented on #2266
@cgundogan the problems caused by #2253 are fixed in #2253 :-) ? Is this still an issue?

[2015-03-04 13:03] PeterKietzmann commented on #2219
What's the solution for that? Should we discard it? @kaspar030 what was in your mind when adding `msg_reply_int()`?

[2015-03-04 13:06] PeterKietzmann commented on #2209
So you agree to discard the `periph_conf` from the `EXCLUDE_PATTERNS`?

[2015-03-04 13:08] thomaseichinger commented on #2528
For the new network stack we will have to introduce an initialisation procedure which enables an application designer to granularly choose what to use. This could then be combined with initialising buses or other shared resources.

[2015-03-04 13:11] PeterKietzmann commented on #2143
@phiros is this fixed now?

[2015-03-04 13:15] PeterKietzmann commented on #2528
Is there already a PR for that initialization procedure?

[2015-03-04 13:17] authmillenon commented on #2143
Nope.

[2015-03-04 13:18] PeterKietzmann commented on #2136
@LudwigOrtmann any objections?

[2015-03-04 13:26] PeterKietzmann commented on #2081
@OlegHahm did you think about that a bit :-) ?

[2015-03-04 13:26] kaspar030 commented on #2219
The idea was that a thread could request e.g., a network packet from some network layer thread, which could then defer replying to some ISR. We're not really using the context switch savings from msg_send_receive/msg_reply the way we could. Not sure removing this function is the way to go.

[2015-03-04 13:28] kaspar030 commented on #2081
+1!

[2015-03-04 13:29] PeterKietzmann commented on #2219
I also prefer to let it in but therefore to add a documentation

[2015-03-04 13:37] PeterKietzmann commented on #2039
@LudwigOrtmann can you live with that "compromise"?

[2015-03-04 13:40] PeterKietzmann commented on #2021
As this concerns old `netdev` stuff and an already closed PR (in consequence of outdated), I'll also close this issue now.

[2015-03-04 13:40] #2021 closed

[2015-03-04 13:42] PeterKietzmann commented on #1965
Any progress in this issue?

[2015-03-04 13:44] PeterKietzmann commented on #1895
@N8Fear can we close this issue?

[2015-03-04 13:50] PeterKietzmann commented on #1797
@corecode revised his statement. Can we close this issue @OlegHahm, @LudwigOrtmann ?

[2015-03-04 14:19] PeterKietzmann commented on #1749
@LudwigOrtmann do you "remember what this is about"?

[2015-03-04 14:24] PeterKietzmann commented on #1676
Do we really want to clean up those large header files???

[2015-03-04 14:28] PeterKietzmann commented on #1588
This also applies to other boards as we said that we have nearly no use case for it. We could close this issue or add the newbie label.

[2015-03-04 14:32] PeterKietzmann commented on #1533
I think this could be 1. a newbie task or 2. be closed as it is gonna be refactored by the TTF (timer task force). What do you think @haukepetersen ?

[2015-03-04 14:35] OlegHahm commented on #1965
I think we'll have to wait for the new driver. Once it's ready I will run tests on IoT-LAB again.

[2015-03-04 14:36] PeterKietzmann commented on #1480
@LudwigOrtmann I assume this is fixed?

[2015-03-04 14:57] PeterKietzmann commented on #1263
Is this outdated?

[2015-03-04 15:01] PeterKietzmann commented on #1204
@Kijewski any ideas?

[2015-03-04 15:04] PeterKietzmann commented on #1123
@cidadao, anything in progress?

[2015-03-04 15:10] PeterKietzmann commented on #1047
Still an issue? Newbie task?

[2015-03-04 15:14] PeterKietzmann commented on #994
Can we close this?

[2015-03-04 15:17] PeterKietzmann commented on #913
This issue is really old, is it still present?

[2015-03-04 15:21] authmillenon commented on #994
No, but #2503 and #2527 are fixing it.

[2015-03-04 15:21] PeterKietzmann commented on #879
Still present? Newbie task?

[2015-03-04 15:24] PeterKietzmann commented on #828
@haukepetersen do you know if this is fixed now?

[2015-03-04 16:12] kushalsingh007 commented on #2281
I will be working on this issue , before I start just a question , once the script is run what should be the expected output format (should there be a list of the places where UNIX line endings are not used) ?
Example format--
error: Filename: Line number

[2015-03-04 16:55] jfischer-phytec-iot commented on #2528
@gebart @PeterKietzmann I think the idea is good.

And such a sensor-init function should querry the parameters of sensor drivers before bus initialization.
Did I understand that correctly?

[2015-03-04 17:17] corecode commented on #1797
I don't remember exactly, but I do not think that I meant to say that this is a non-issue.

[2015-03-04 21:08] PeterKietzmann commented on #2528
I didn't had this in mind. This could also be a solution but may introduce a bit more overhead then necessary. In my opinion it is up to the programmer to chose the correct parameters as this is a "natural" result of your thoughts. Like "I have this and that sensor on bus X -oh sensor A can just handle slow speeds- then I can not set the bus to high speed".
I proposed two solutions:
- Let the bus

[2015-03-04 21:21] PeterKietzmann commented on #529
I'd vote for closing this.

[2015-03-04 21:37] PeterKietzmann commented on #162
I don't really know what config does. Is this still an issue? Will it be solved by the new network stack?

[2015-03-04 21:43] PeterKietzmann commented on #9
@fnack even if you may want to refactor this driver again in cause of the new `netdev`: Is this problem still existent?

[2015-03-05 00:03] kaspar030 opened #2538 "core: API: RTC interface should not use struct tm"
While collecting implementation ideas for a new timer subsystem, I stumbled about the fact that our real time clock interface can only be used using `struct tm` time representation.

While that might sound natural for a RTC, it seems inefficient:
- `struct tm` is defined using at least 9 integers in newlib (-> 36bytes), where 8 would be enough for any conceivable use case if RTCs would be used not

[2015-03-05 00:36] kushalsingh007 commented on #2281
Do tell if the following code looks good , tell the changes that need to be done (if any) so that I can create a PR for it. ( Note : I removed the initial copyright part from now , I think there wont be any changes for that part )

Here is the link to the code I have written

https://gist.github.com/kushalsingh007/2cdbc043b649550c8420

[2015-03-05 06:10] gebart commented on #2538
For all except lpc2387 we could just implement RTT and use the RTT->RTC wrapper layer used by Kinetis to provide RTC functionality. At least for now until a timer task force is active.

[2015-03-05 06:17] gebart commented on #2281
@kushalsingh007 I think printing the name of the offending file is enough to know what to do. Most likely the entire file is Windows line endings and then it won't be much help to print every line number.

[2015-03-05 06:21] gebart commented on #2281
I am sorry, but why do we need to implement anything at all for this? egrep handles it just fine:

    egrep '^M$' . -R -l

where `^M` is the character that comes up when you press `ctrl+v`, `enter` in the terminal.

[2015-03-05 06:26] kushalsingh007 commented on #2281
So @gebart should I then create a bash script which uses egrep ? I guess I should waited for someone before starting the task to elaborate the comment :( . Regardless , the script also works fine doesn't it ?

[2015-03-05 06:35] gebart commented on #2281
@kushalsingh007 that's just my opinion. Since this script will have to be run for every PR and every commit made to the RIOT repo on the overloaded Travis CI servers, it is better to use the option which has the least overhead, which I guess is egrep or some other tool which has been around for years instead of writing our own.

Writing this kind of tool is a good student assignment but I think fo

[2015-03-05 06:55] kushalsingh007 commented on #2281
@gebart  Here is the updated python script regardless https://gist.github.com/kushalsingh007/2cdbc043b649550c8420
I think what you say sounds correct :)
 , should I write a bash script using egrep now , or wait till @OlegHahm comes ?

[2015-03-05 08:00] #529 closed

[2015-03-05 08:05] LudwigOrtmann commented on #2530
I think I never experienced this, thanks for the heads up.

[2015-03-05 08:07] LudwigOrtmann commented on #1749
@PeterKietzmann the referencing PR https://github.com/RIOT-OS/RIOT/issues/1758 contains more context.

[2015-03-05 09:50] gebart commented on #2528
@jfischer-phytec-iot That's an automatic solution, but that is what I meant with a convoluted solution because it is a pain to implement because of the diversity of different parameter requirements in different slave devices. It will also make the code size larger unless the optimization is performed offline (at compile time). Because of these arguments I prefer to let the application designer han

[2015-03-05 09:54] OlegHahm commented on #1480
Should be solved by https://github.com/OlegHahm/RIOT/commit/73f6a0c51815144a128f3a368fafae73b1b69215 - can you confirm, @LudwigOrtmann?

[2015-03-05 09:56] gebart commented on #1676
Can we just put them inside their own Doxygen sub group? Like @haukepetersen said, they will be overwritten from time to time and we don't want spend much effort on maintaining them.

[2015-03-05 10:31] jfischer-phytec-iot commented on #2528
Ok.

[2015-03-05 11:12] OlegHahm commented on #2281
Yes, I agree with @gebart that egrep aka `grep -E` seems to be the best solution

[2015-03-05 11:20] haukepetersen commented on #2291
Actually I say we can close the issue, as the decision for `sys/include/net/...` was made...

[2015-03-05 11:20] haukepetersen commented on #2209
yes

[2015-03-05 11:57] PeterKietzmann commented on #2291
Ok that is what was in my mind. @authmillenon should do this (at will)

[2015-03-05 13:18] authmillenon commented on #2291
Fine…

[2015-03-05 13:18] #2291 closed

[2015-03-05 13:34] kaspar030 commented on #2538
@gebart So you'd approve of using RTT as time-keeping source and provide Calendar functionality in doftware?

@haukepetersen What's your take on this? IMHO this way we have the perfect "slow timer"?

[2015-03-05 14:30] gebart commented on #2538
@kaspar030 yes, I approve.

[2015-03-05 15:07] #2219 closed

[2015-03-05 15:21] OlegHahm commented on #1895
`git grep ccpcheck-suppress` still gives a big number of unexplained suppressions.

[2015-03-05 15:23] OlegHahm commented on #1533
I would say it doesn't hurt to "fix" this and we don't know how long it will take until the new timer will be in place. We already made the mistake once to postpone all vtimer issues waiting for the glorious new timer.

[2015-03-05 15:37] OlegHahm commented on #1263
I somehow fail to build for qemu-i386 at all.

[2015-03-05 15:41] OlegHahm commented on #879
Not a newbie task, more a digging in the past. @kaspar030, do you recall the reason for this line of documentation?

[2015-03-05 15:45] OlegHahm commented on #1749
And we still need a solution.

[2015-03-05 15:57] cgundogan commented on #2266
@PeterKietzmann this issue is unfortunately still unfixed

[2015-03-05 16:13] OlegHahm commented on #1263
Because master is not building...

With the fixed master I still get the warnings when building hello-world as followed:
`CFLAGS=-DDEBUG_READ_BEFORE_WRITE BOARD=qemu-i386 make -B clean all term`

[2015-03-05 16:16] OlegHahm commented on #1676
I think they are mostly excluded from Doxygen anyway in the mean time. I say `wontfix`.

[2015-03-05 16:18] #2470 closed

[2015-03-05 16:22] OlegHahm commented on #2266
For the record: Probably I won't be working on this anytime soon.

[2015-03-05 16:23] cgundogan commented on #2266
I will give it a try in the near future

[2015-03-05 16:54] OlegHahm commented on #2538
So, you're proposing to implement the counter mode and do the transformation to `struct tm` in software for all platforms that do not have already something like a RTT?

Keep in mind that a lot of upper layer stuff work on `struct tm`, so in many cases it will have to be transformed anyway.

[2015-03-05 17:29] kushalsingh007 commented on #2281
Have a look at the bash script and give your feedback
 https://gist.github.com/kushalsingh007/05e50ade69ea3c98ee6f

[2015-03-05 17:48] kushalsingh007 commented on #1533
Can you explain what you mean by fixing the value , does that mean changing the return type to void ?
Since vtimer_set_msg  is being used at only two places and that too in vtimer.c , I guess it wouldn't hurt to change the return type to void ?

[2015-03-05 18:42] authmillenon commented on #1895
Sure? Some of them are rationalized in the next line. Better check with `git grep -A 1 ccpcheck-suppress`

[2015-03-05 18:43] authmillenon commented on #2219
TBH, I'm still not sure how to use this function.

[2015-03-05 19:01] OlegHahm commented on #1895
Actually I checked with `-C 1`. Same result.

[2015-03-05 19:02] OlegHahm commented on #2219
What remains unclear?

[2015-03-05 20:33] kushalsingh007 commented on #1759
Please elaborate it a little bit further ,
1)  Do you want an open() to be added ?
2) What parts do you need the documentation for , from what I see  fd_t:fd is one of them , what are the other ones' ?

[2015-03-05 20:54] jhollister commented on #2096
It doesn't look like the change to `uint16_t` was ever implemented. Should I submit a PR for this?

[2015-03-06 12:32] kaspar030 commented on #2219
Example:

1. thread A send_receives a "give me data" message to e.g., a UART thread. UART thread doesn't have data available.
2. Data arrives
3. ISR gets triggered, sees thread A is waiting for the data, replies directly to thread A.

[2015-03-06 12:55] authmillenon commented on #2219
The doc states the ISR can't receive messages, but this function is for the ISR to answer messages (at least I'm interpreting the doc as such). That's contradicting.

At what point and in what context do I call `msg_reply_int()` then?

[2015-03-06 12:58] josephnoir commented on #2361
No, this is not fixed.

[2015-03-06 13:02] kaspar030 commented on #2219
@authmillenon Imagine you asked that question directly to me. Oleg might answer. It's possible to answer a message that you didn't receive yourself. That's what msg_reply_int is for.

The ISR in 3. would call ```msg_reply_int()``` to reply to the message the UART thread received in 1.
This is just an example, but without ```msg_send_int()``` the ISR would send it's data to UART thread first, which

[2015-03-06 13:06] authmillenon commented on #2219
Okay so this is a call this is for the ISR exclusively to answer as a proxy for other answering threads. I think the doc should reflect this behavior better.

[2015-03-06 13:18] Darredevil commented on #2096
I saw no one tackled this so I submitted a PR #2547

[2015-03-06 13:34] PeterKietzmann commented on #2361
Did you test @gebart's proposal? Are you willing to fix it :-)?

[2015-03-06 14:15] kaspar030 commented on #2219
@authmillenon How would you rephrase this?
"An ISR can obviously not receive messages, however a thread might delegate replying to a message to an ISR."

[2015-03-06 14:41] authmillenon commented on #1652
This is an issue once again. This time it fails randomly.

[2015-03-06 18:04] gebart commented on #2521
Which radio are you using when seeing? I plan on testing this on an at86rf212b during the weekend.

[2015-03-06 18:55] kausthub commented on #2526
hi , i am interested in completing this issue , but i am new to this , so what do you meant by needs some extra care ?
I am sorry if that question was trivial , thanks in advance

[2015-03-06 19:17] authmillenon commented on #2526
Welcome to RIOT,
as you can see https://github.com/RIOT-OS/RIOT/blob/master/sys/net/include/etx_beaconing.h does not have any doxygen documentation currently and most of the comments are not that helpful either. Most comments must only be reformated to doxygen syntax, however.

[2015-03-07 08:03] kushalsingh007 commented on #1458
I will be working on this task.

[2015-03-07 08:10] jhollister opened #2550 "stm32f4: Hex file from make doesn't run"
I'm trying to run some of the examples on my stm32f4-discovery board and was having issues flashing the compiled hex files onto the board. I found that changing the objcopy OFLAGS in the board's Makefile.include from `-O ihex` to `-O binary` fixed this.

Can anyone else confirm that this problem and solution aren't unique to my board? I had a look at the other Makefile.include and it seems pretty

[2015-03-07 08:15] jhollister commented on #2361
Is there a reason to use malloc.h over stdlib.h. It's my understanding that stdlib.h is more portable so it should be fine to change all `#include <malloc.h>` to `#include <stdlib.h>` or will this cause issues somewhere?

[2015-03-07 08:43] LudwigOrtmann commented on #2341
https://github.com/RIOT-OS/RIOT/pull/2394 fixed this

[2015-03-07 08:43] #2341 closed

[2015-03-07 09:00] LudwigOrtmann opened #2551 "buildtest target without paramaters does nothing"
[code]

[code]

[2015-03-07 09:06] LudwigOrtmann commented on #2551
PS:
when specifying a `BUILDTEST_MCU_GROUP` build-testing works:
[code]

[2015-03-07 09:13] LudwigOrtmann commented on #2361
Unconditionally including `stdlib.h` leads to conflicts:
[code]

[2015-03-07 09:26] LudwigOrtmann commented on #2136
No objections to documentation ;)
Furthermore: I think we can't forbid it per se because some initial thread always needs to be created when the system starts and *I guess* this happens in ISR context / semantic on most systems.

[2015-03-07 10:16] LudwigOrtmann commented on #1480
works

[2015-03-07 10:16] #1480 closed

[2015-03-07 10:17] LudwigOrtmann commented on #1242
@OlegHahm is your tab still open?

[2015-03-07 14:35] thomaseichinger commented on #2550
@jhollister Thanks for bringing this up. Will test this on Monday as I don't have the hardware with me right now. I'm wondering as with the flashing tool (OpenOCD) should be agnostic to the given file format.

[2015-03-07 16:08] gebart commented on #2361
@LudwigOrtmann is that an error in either implementation or are we just not compatible with Linux?

[2015-03-07 18:56] jhollister commented on #2361
I was able to use an if define to get around the `malloc.h` issue in OSX but I still couldn't compile because of #2360

[2015-03-07 19:02] jhollister commented on #2550
I forgot to mention that I'm using [stlink](https://github.com/texane/stlink) st-flash and not OpenOCD. I haven't tried with OpenOCD yet.

[2015-03-07 19:47] authmillenon commented on #2278
Just a little update on my rational for assigning the milestone: PR's or features that are explicitly mentioned here and any fix- or follow-up to those.

[2015-03-07 19:54] thomaseichinger commented on #2550
With bea0171754adbd9808b3a93295a5fbbdc679866c we moved from stlink to OpenOCD with which the file format was changed. We could consider changing it to `binary` for compatibility though.

[2015-03-08 01:25] jhollister commented on #2550
Ok, that makes sense. What was the reason for the switch? I haven't worked with openocd before but I will get it set up and perhaps also update the documentation [here](https://github.com/RIOT-OS/RIOT/wiki/Getting-started-with-STM32F%5B0%7C3%7C4%5Ddiscovery-boards) for use with openocd.

[2015-03-08 16:10] authmillenon commented on #1759
no, open() on a filename would be a call to `fd_new()`, so it would be nonsensical to add an open function pointer to the struct (but maybe @OlegHahm can elaborate on his use-case, here).

I guess it must become clear, that `fd_t::fd` is the RIOT internal file descriptor and not the POSIX one. So a rename to maybe `fd_t::internal_fd` + some documentation in the spirit of what I wrote in October wo

[2015-03-08 16:29] gebart commented on #2550
Isn't `-O binary` completely naked without any offset information etc? i.e. if there are multiple memory segments in the file at different address ranges the file will be large enough to cover both? (albeit with file holes it does not take up any disk space, but is still a hassle to transfer between systems)

Intel hex contains offset addresses for the data so a hex file can cover multiple address

[2015-03-08 16:31] gebart commented on #2550
also, for flashing a raw binary you'll need to specify the starting offset, all the other possible formats (ELF, ihex etc) carry this information inside the file.

[2015-03-08 18:48] LudwigOrtmann commented on #2361
@jhollister care to open a PR with your fix?

[2015-03-08 19:34] noshky opened #2557 "info-build is broken for unittests"
When calling

``make info-build``

from within the ``RIOT/tests/unittests`` directory, ``make`` breaks after processing the ``CFLAGS`` variable.
I've tracked this down to happen in ``Makefile.buildtests:168``, where the entries in ``CFLAGS`` are separated by ``\n\t`` for screen presentation. The ``CFLAGS`` contains test-strings such as

``-DTEST_STRING12="50U'HLKC3_ft"``

(defined in ``tests/unitt

[2015-03-08 22:01] authmillenon commented on #2557
The simplest solution might be to remove the quote char from the test string ;-).

[2015-03-09 04:45] BigDaddyD commented on #1759
That fd_t::fd is seperate from the int fd referenced in read, write, and close in the following lines correct?

[2015-03-09 05:14] kushalsingh007 commented on #1759
I will start working on it now , just one last question ```fd_new ``` function has an internal_fd field as a parameter to the function , so that's same as our ```fd::internal_fd```, right ?

[2015-03-09 09:59] bapclenet commented on #2395
Anyone has got the same problem?

[2015-03-09 14:23] kushalsingh007 commented on #708
@authmillenon : Just a few questions I encounterd .
1) Currently native does not have support for commands like echo so how should I go about for testing , i.e which command should I try this thing on.
2)the PR created by @Kijewski  #760 says that tokenization of input is now done , so doesn't that mean that the problem with pair of quotation marks has been solved.
3) I had the look at the PR at #

[2015-03-09 14:53] BigDaddyD commented on #1759
I had already begun working on it as well. It seemed like an great task to just get used to RIOT's process

[2015-03-09 16:51] OlegHahm commented on #2557
Maybe https://github.com/OlegHahm/RIOT/commit/b397121cffc9b4835eff9e54b4db1c5d02813480 helps.

[2015-03-09 16:57] OlegHahm commented on #2551
That's related to https://github.com/RIOT-OS/RIOT/pull/1033#issuecomment-77566600, right?

[2015-03-09 17:29] BigDaddyD commented on #2526
Is there a doxygen reference here on the wiki? I can't seem to find one

[2015-03-09 17:33] gebart commented on #2526
See also #2561
On Mar 9, 2015 6:29 PM, "BigDaddyD" <notifications@github.com> wrote:

[2015-03-09 19:41] kausthub commented on #1323
hi i am a new comer , can you help me on how to get started with this issue ? few links or what am i looking to resolve ?
thanks in advance

[2015-03-09 21:51] gebart commented on #2531
I have not studied the assembly code from such an implementation but I think it is unlikely that an atomic counter would be faster than the disableIRQ/restoreIRQ pair. The memory gains would also be minimal since the IRQ mask is a few bytes and will likely remain in a register during the whole critical section.

On the other hand, maybe we should look for nested critical sections instead and recon

[2015-03-09 21:58] kushalsingh007 commented on #1458
I think the issue can be closed

[2015-03-09 22:53] gebart commented on #2418
I am getting hard faults in spi_acquire inside at86rf231_read_fifo. The locks array has been corrupted, the first mutex has the value 1 (locked, looks fine), but the pointer to the next thread waiting has been changed to 0x0020000e, and the write seems to have overflowed into the next mutex as well, it has the value 0x0020000f. Do these values have any meaning which may help us finding where this

[2015-03-09 22:54] gebart commented on #2418
The hard fault only appears after a long uptime and with traffic going between other nodes in the 802.15.4 network

[2015-03-09 23:15] OlegHahm commented on #1458
I think so, too. @LudwigOrtmann, do you have something else on the list?

[2015-03-10 00:54] gebart commented on #2418
Sorry for hijacking the thread, my issues may not be related to the original report. I need to investigate further..

[2015-03-10 06:31] authmillenon commented on #2526
@BigDaddyD not in the Wiki, but it's generated regularly from the source code at http://riot-os.org/api/

[2015-03-10 10:00] gebart opened #2569 "RPL: DAO RPL Target has wrong length and/or data"
The RPL Target option on DAO messages has the wrong prefix length. On my rpl_udp tests the prefix length is set to 16 bits, but the complete IP address is sent in the option. I don't know enough about the algorithm for building the DODAG to know what is the correct behaviour, but for reference I have noticed that Contiki sets the length to 128 bits and sends the node's entire IPv6 address to get a

[2015-03-10 11:53] cgundogan commented on #2569
fixed in #2570

[2015-03-10 11:53] #2569 closed

[2015-03-10 12:04] kushalsingh007 commented on #2281
I think this issue can be closed now.

[2015-03-10 12:15] bapclenet commented on #1646
I'm not working on RNG for the moment, if anyone wants to go on, here is a start:
https://github.com/bapclenet/RIOT/blob/samr21/RNG/cpu/samd21/periph/random.c
It uses the AT86RF233 random bits. As of now, it uses AT86RF231 driver since at86rf2xx is not yet implemented.

@thomaseichinger, could you add the issue related to at86rf2xx driver?
Remove my name on RNG and ADC as I stopped working on plea

[2015-03-10 12:33] authmillenon commented on #2281
Yes. One Github-Tip: If you reference an issue to be fixed in an commit or pull request like "Fixes #<issue no>" or "Closes #<issue no>" the issue gets to be closed automatically as soon as it gets merged ;-)

[2015-03-10 12:33] #2281 closed

[2015-03-10 12:39] authmillenon commented on #708
Huh? What do you trying to say with that? Do you mean an `echo` shell command?

Ah right. Totally forgot about that one :D

The problem is, that it is pretty deprecated (there are new commands e.g. and it is not mergable anymore). I have currently no time at hand to fix this, but you can take my PR as a starting point.

Hope I could clear this up for you a little.

[2015-03-10 14:19] kushalsingh007 commented on #2530
I also experienced the same problem , I left the shell running for some long time and then
```enableIRQ + _native_in_isr``` message kept coming. In my case I left the examples/default running.

A screenshot [ though it is not very usefull ]
![rsz_screenshot_from_2015-03-10_194059](https://cloud.githubusercontent.com/assets/6381935/6576623/65e2c57c-c75e-11e4-843a-762e05e35549.png)

[2015-03-10 15:27] kaspar030 commented on #2531
I tried the following (best case for the "optimization"):

<pre>
int _in_critical = 0;
static inline void enter_crit(void) {
    disableIRQ();
    _in_critical++;
}

static inline void leave_crit(void) {
    if (!_in_critical--) {
        enableIRQ();
    }
}

int main(void)
{
    unsigned state;
    printf("%u\n", hwtimer_now());
    for (unsigned long N = 100000; N > 0; N--) {
//        state=di

[2015-03-10 15:27] #2531 closed

[2015-03-10 15:35] OlegHahm commented on #1323
@BytesGalore, @josephnoir, since @dangnhat has become quite silent recently, maybe you can help here.

[2015-03-10 16:08] dangnhat commented on #1323
Sorry for the long silence after I finished my thesis (I think I have enjoyed Lunar New Year holiday too much :D )

@kausthub : There may be two directions to go from here:
First, we can continue providing the basic C++ programming for the remaining boards. (I'm working on Intel Galileo now, and @BytesGalore might be working on msp430 board, so if you choose this direction then avr might be the go

[2015-03-10 16:19] OlegHahm commented on #1323
@dangnhat, no need to apologize! I'm really happy to see that you're still aboard! :)

[2015-03-10 16:41] dangnhat commented on #1323
@OlegHahm : I'm so glad to hear that! :D

[2015-03-10 17:43] kushalsingh007 commented on #1943
So, is this one still open to discussion ?
@OlegHahm: Can you elaborate the  ```(priority)_class``` idea so that I can try to implement it.

[2015-03-10 18:55] kushalsingh007 commented on #2075
@OlegHahm : I had a look a ```core/include/debug.h```. However I don't find that the debug is undefined anywhere . Would you tell where exactly are you referring to.

[2015-03-10 21:43] kushalsingh007 commented on #708
Just a final clarification:
1. What are the new commands and the example that you speak of.
2. The reason why it is not mergable anymore (what exactly is depricated)?.

[2015-03-10 22:26] authmillenon commented on #708
That's part of the exercise to find this out ;-) I honestly lost track about that.

Because there were changes made to master since my last update of the PR that are in conflict with the PR. What exactly the problem is will be come clear if you try to rebase it to current master, I would guess. But in general even simple stuff like the removal of a command can cause this.

[2015-03-10 22:34] kushalsingh007 commented on #708
Ok , so I have started working on this one ;) ( Just to make sure that effort does not get repeated )

[2015-03-11 12:47] noshky commented on #2557
No, OlegHahm@b397121 unfortunately doesn't help. If the quote char isn't needed, maybe we can just remove it? When I remove the three single quotes, ``make info-build`` runs fine, and
``cd tests/unittests``
``make clean all term``
gives me ``OK (317 tests)``.

[2015-03-11 12:51] noshky opened #2577 "Unittests sometimes hang at ``test_nomac_event_value``"
When I run all unit-tests several times, quite often the execution hangs at testcase `` test_nomac_event_value`` and never ends. If i set the outputter to OUTPUT=TEXT, i can see that the last executed testcase is
``256) OK test_nomac_set_get_long_address``
The next testcase, when it runs successfully, would be
``257) test_nomac_event_value``.

[2015-03-11 16:17] OlegHahm commented on #1759
@authmillenon:

Rationale was POSIX compliance. Currently `sys/posix/unistd.c` implements `close()` but no `open()`.

[2015-03-11 16:20] OlegHahm commented on #2557
I would prefer a solution where we can run unittests with arbitrary strings.

[2015-03-11 16:33] OlegHahm commented on #1242
Probably.

[2015-03-11 16:34] OlegHahm commented on #2577
Running on native, I suppose?

[2015-03-11 16:36] OlegHahm commented on #2075
I think this was fixed by https://github.com/RIOT-OS/RIOT/pull/2130

[2015-03-11 16:36] #2075 closed

[2015-03-11 16:57] authmillenon commented on #2577
That's okay #2426 will be merged probably today so these tests will be removed :D

[2015-03-11 17:09] OlegHahm commented on #1943
Well, the basic idea was not to change the system's behavior but just chose another name for priorities that reflect the basic behavior. I guess the discussion is still open, but not very active. ;)

[2015-03-11 17:16] OlegHahm commented on #2550
Couldn't find any reliable information about the format of `-O binary`, but I would stay with `-O ihex` to be on the safe side. Can we close this issue then?

[2015-03-11 18:20] authmillenon commented on #1759
`open()` is for files (as in things in a file system). As we currently do not have any file system support it would be kind of non-sensical to write an `open()` function. File descriptors on the other hand are used for sockets and pthreads too which we have implemented already.

[2015-03-12 08:09] #1759 closed

[2015-03-12 09:40] gebart commented on #2498
Another related reminder, verify that #2584 does the right thing in ng_sixlowpan

[2015-03-12 10:13] authmillenon commented on #2498
That's not #2584. This is dependent on the individual `netdev`s ;-)

[2015-03-12 14:38] phiros commented on #2551
@OlegHahm yes it is related to that and #2572 would this issue.

[2015-03-12 15:51] noshky commented on #2577
@OlegHahm Yes running native, forgot to mention.

[2015-03-12 15:53] josephnoir commented on #2360
As the compiler output suggests, simply renaming all instances of `clockid_t` to `clock_t` fixes the problem on OS X. Not sure how this affects other platforms and compilers.

[2015-03-12 16:00] josephnoir commented on #1323
Maybe this is a good place to discuss the `void* __dso_handle` i added to the stm32f4 startup file in #2540. I guess this is required for all boards? Other question would be why this was never notices before. [Here](http://wiki.osdev.org/C%2B%2B) is some information on the handle.

[2015-03-12 16:41] dangnhat commented on #1323
On the very first day of C++ support in RIOT, I had to add this handle to startup file to compile C++ code on iot-lab_M3 which has destructors, but when I create PR to support C++ for iot-lab_M3, this problem somehow disappeared. At that time, I didn't found any clear document about it (I have read your link before) so I leave this handle aside. Therefore, if we can come up with some clear documen

[2015-03-12 17:52] cyounkins opened #2587 "Homepage License Link is Wrong"
The homepage has a link to http://www.gnu.org/licenses/old-licenses/lgpl-2.0.en.html

But the actual license used it at https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html

Adding to the confusion is in one the L is Library and the other Lesser.

[2015-03-12 20:10] authmillenon commented on #2577
#2426 was merged. These tests do not exist anymore.

[2015-03-12 20:10] #2577 closed

[2015-03-12 20:47] LudwigOrtmann commented on #1458
I have no list.

[2015-03-12 20:47] #1458 closed

[2015-03-12 20:52] LudwigOrtmann commented on #1377
While `make buildtest`-ing this just happened:
[code]
When running `make buildtest` again this did not occur.

[2015-03-12 21:10] kushalsingh007 commented on #2136
Started working on this one :)

[2015-03-12 21:21] kushalsingh007 commented on #2136
So the warning that it a bad practice has to be added to ``` /doc/doxygen/src/mainpage.txt
[code]

[2015-03-12 21:22] LudwigOrtmann commented on #2136
I'd say either put it with `thread_create` or a general intro for `thread.h`.

[2015-03-12 21:28] jhollister commented on #2550
I'm fine with closing it, although I think the wiki should be updated for instructions on OpenOCD instead of stlink. I'll try to do it if I have time but it's finals week for me right now so I don't have much free time. Should I be the one closing it since I opened it?

[2015-03-12 21:33] jhollister commented on #2361
I don't have much experience with compatibility stuff like this. Is it correct to do something like:
[code]
and should I do this for every occurrence of `#include <malloc.h>`?

[2015-03-12 21:33] LudwigOrtmann commented on #2550
@jhollister regarding the wiki - it already contains instructions about openocd.

[2015-03-12 21:33] #2550 closed

[2015-03-12 21:36] kushalsingh007 commented on #2136
@LudwigOrtmann : Created a PR https://github.com/RIOT-OS/RIOT/pull/2589 have a look :)

[2015-03-12 21:39] LudwigOrtmann commented on #2361
You could also try to mess around with conditionally adding a local `malloc.h` for OSX (probably by extending the include path).

[2015-03-12 21:42] LudwigOrtmann commented on #2587
Which homepage (URL please) are you referring to?

[2015-03-12 21:46] authmillenon commented on #2587
It's on riot-os.org. Search for License ;-)

[2015-03-13 07:40] LudwigOrtmann commented on #2587
fixed.

[2015-03-13 07:40] #2587 closed

[2015-03-13 14:08] #2551 closed

[2015-03-13 16:42] haukepetersen commented on #1676
excluding like we do right now sounds good to me. Can we close this issue then?

[2015-03-13 21:12] gebart commented on #1676
Exclude sounds fine. I'm OK with closing as wontfix

[2015-03-14 09:24] ShubhC commented on #1511
Hi all. I am a newbie and interested to work on CPU-ID for intel galileo. can anyone help me to port RIOT on intel galileo board? I have already looked at https://github.com/RIOT-OS/RIOT/wiki/Board:-Intel-Galileo but didn't get any help.
Can anyone suggest a few such links to further proceed on the issue?

[2015-03-14 09:29] LudwigOrtmann commented on #1511
@ShubhC this issue is not the right place for such a request.

[2015-03-14 09:30] LudwigOrtmann commented on #1511
@ShubhC sorry, I misread, this is the right place ;)

[2015-03-14 09:31] LudwigOrtmann commented on #1511
@Kijewski - any idea?

[2015-03-14 09:31] #1676 closed

[2015-03-14 14:34] LudwigOrtmann commented on #1511
@ShubhC Ah I forgot, we don't support the Galileo. Compare http://lists.riot-os.org/pipermail/devel/2015-March/002203.html

[2015-03-15 12:10] phiros commented on #2557
My first idea would be to remove the ```'``` (BTW: I think this would be the most pragmatic solution to the problem).
However, if we really want to fix this we might need to pass arrays of data (in which chars are encoded as hex values) to tests instead of strings. This would require a little bit of test code to be changed.

[2015-03-15 13:33] LudwigOrtmann commented on #2557
I would just move those strings into a header instead of passing them around in command line parameters.

[2015-03-15 13:37] authmillenon commented on #2557
The idea of passing them around as command-line parameters is to change them at compile time if needed, without changing any files.

[2015-03-15 18:13] kushalsingh007 commented on #1131
@phiros : So what are the part's that can be currently worked upon , Although your previous comment does explain the reason for shifting it to next release , however since it has been recently tagged as ``` Newbie-Task-Candidate```I think there might be some areas on which I could work upon , can you point out a few.

[2015-03-16 06:28] LudwigOrtmann commented on #2557
Is that really important? Did you ever do this (after the PR was merged) and if so: why?
I think if the strings need to be changed for testing locally it means they should be changed permanently because the tests are insufficient.

[2015-03-16 13:33] haukepetersen opened #2611 "boards/Makefile.features: one feature per row"
Most boards list their feature in one or two rows, e.g.:
[code]
This leads to conflicts when there are two PR's open simultaneously and both add something to this line. I would actually prefer to have one line per feature, e.g.:
[code]
This way there won't be any merge conflicts anymore.

Here is the TODO list:
 - [x] airfy-beacon, #2630
 - [x] arduino-due, #2630
 - [ ] ~~arduino-mega2560~~ no nee

[2015-03-16 19:06] BigDaddyD commented on #2611
It seems like an easy fix that with both minimize conflcits and improve readability

[2015-03-16 19:12] khawajamechatronics opened #2615 "Hello-World example flash error on Arduino Due"
in folder RIOT/examples/hello-world
I executed:
make flash
Output:
Building application "hello-world" for "arduino-due" with MCU "sam3x8e".

"make" -C /home/abdur/Downloads/RIOT/boards/arduino-due
"make" -C /home/abdur/Downloads/RIOT/core
"make" -C /home/abdur/Downloads/RIOT/cpu/sam3x8e
"make" -C /home/abdur/Downloads/RIOT/cpu/cortex-m3_common
"make" -C /home/abdur/Downloads/RIOT/cpu/sam3x8e/perip

[2015-03-16 20:43] kushalsingh007 commented on #2611
So what boards do you suggest then @haukepetersen ?

[2015-03-16 20:48] LudwigOrtmann commented on #2611
all of them

[2015-03-16 22:08] #2615 closed

[2015-03-17 07:27] gebart commented on #2521
I have noticed the same issue as you describe here using the at86rf212b.

[2015-03-17 07:45] gebart opened #2621 "6lowpan: Neighbor solicitations (NS) are sent to multicast"
Nodes send their NS messages to the solicited-node multicast address as per RFC 4861, RFC 4291, but 6lowpan ND RFC 6775 forbids multicast NS messages.

https://tools.ietf.org/html/rfc6775#section-5.1

See also:
https://tools.ietf.org/html/rfc4861#section-4.3
https://tools.ietf.org/html/rfc4291#section-2.7.1

[2015-03-17 07:55] gebart commented on #2621
Maybe this was my own fault.. I'll reopen when I have more info.

[2015-03-17 07:55] #2621 closed

[2015-03-17 09:58] #2136 closed

[2015-03-17 10:06] haukepetersen commented on #2611
list added, see above

[2015-03-17 10:25] haukepetersen commented on #2528
I put a little more thought into this and I think I might have a solution that I think could be feasible: how about we combine the best from both worlds:

Say we have a sensor driver that uses the SPI bus. In the device driver initialization we do then the following:

 - Check if SPI bus is already initialized
    - If not: initialize the bus as we do currently
    - If yes: skip the initializatio

[2015-03-17 10:52] gebart commented on #2528
@haukepetersen I think it is better to use the strict initialization procedure.

Using the implicit initialization like you propose could potentially hide initialization mistakes because it just "happen to work" until the order of initialization of the device drivers changes.

[2015-03-17 10:52] haukepetersen opened #2623 "Repair header file include guards"
As we were pointed out a while ago, defines that start with underscores are not allowed by the C standard (I forgot the PR number where we discussed this -> could somebody help here?).

So the following style

[code]

would need to be changed to something like

[code]

Git grep tells me there are a lot of files that need to be adjusted. So if anyone is taking this on, **please do it in small, easi

[2015-03-17 11:26] PeterKietzmann commented on #2528
@haukepetersen this is approximately what I meant some days ago. Looking from the "only one sensor on a bus" side I do like your idea. But looking from the "multiple sensors on a bus" side I agree with @gebart that there might be (hidden) initialization conflicts. Imagine you forget (or event don't know) to initialize the bus before you initialize __multiple__ sensors (this was the basic idea). Th

[2015-03-17 11:47] gebart commented on #2623
Use the following command to find the offending include guards:

[code]

[2015-03-17 12:02] haukepetersen commented on #2528
@PeterKietzmann: Actually I think the complexity for building a system that check on compile or runtime for minimal common parameters is too big. Also I don't like this, as this leads to parameters not clearly being defined.

(i) this behavior is/needs to be clrearly stated in the documentation and (ii) I still have the strong opinion, that we can expect some extend of knowledge by the users/devel

[2015-03-17 12:18] PeterKietzmann commented on #2528
Maybe I didn't  stated my point that well.

- I am also against a system that checks parameters as this is too complex
- Regarding (i) is agree that this must be documented well
- Regarding (ii) I also agree that we can expect the knowledge of the best parameters by the users

I am pro for doing bus initializations outside the driver. I am sceptic about your proposed solution where the bus is init

[2015-03-17 13:44] gebart commented on #2528
@haukepetersen

I have the exact same opinion about the expectation in knowledge of the users, which is why I think we should let the users handle initializing.

@PeterKietzmann I agree with your arguments. Signalling an error when the bus has not been initialized before initializing the device driver would be helpful for developers, but requires an API change since many initialization functions r

[2015-03-17 13:59] gebart commented on #2493
@cgundogan I updated the checklist with your multiple DODAG implementation, could you complete the info if I missed anything?

[2015-03-17 14:16] cgundogan commented on #2493
@gebart thanks for adding my PRs. I completely forgot about this issue list (:

[2015-03-17 14:28] gebart commented on #2493
@BytesGalore @cgundogan Do you know what is needed to get MRHOF (OF1) working?

[2015-03-17 15:52] OlegHahm commented on #162
The config module is meant to store persistent configuration data on a node in non-volatile (i.e. flash) memory. It can be implemented by using a particular ROM region that doesn't get overwritten when flashing a new program. TI MSP430 provide a so called INFOMEM region for that and I implemented a similar section for the ARM7 of the MSBA2.

[2015-03-17 16:49] cgundogan commented on #2493
@gebart I have no experience with our **etx** implementation, I am not aware of its state (does it run or not?). Maybe @Lotterleben can say more on this topic?

[2015-03-17 19:04] Lotterleben commented on #2493
@cgundogan @gebart Nope, sorry...

[2015-03-17 20:15] LudwigOrtmann commented on #162
In the context of the firmware update taskforce this module will probably be overhauled.

[2015-03-17 20:22] kushalsingh007 commented on #162
@LudwigOrtmann : When is the firmware update scheduled ?

[2015-03-18 00:52] BigDaddyD commented on #2623
So writing a script for this change is out of the question?

[2015-03-18 05:34] gebart commented on #2623
You may choose whatever method you like, a script is fine as long as it does the right thing. We will still need to do a manual code review for the change if/when you open a PR.

[2015-03-18 10:35] OlegHahm commented on #2557
I agree with @LudwigOrtmann.

[2015-03-18 11:07] thomaseichinger opened #2634 "posix/pthread: unknown type name `clockid_t` on OS X"
Compilation fails for all `tests/pthread*` tests with the following message
[code]

Compiler version
[code]

[2015-03-18 11:45] OlegHahm commented on #2634
Duplicate? https://github.com/RIOT-OS/RIOT/issues/2360

[2015-03-18 11:46] thomaseichinger commented on #2634
yup, overlooked it.

[2015-03-18 11:46] #2634 closed

[2015-03-18 11:51] OlegHahm commented on #2493
I think one problem is that metric containers aren't implemented. @sarndt, can you provide any more details?

[2015-03-18 12:37] sarndt commented on #2493
The ETX metric had some problem with bugs in timers of RIOT when I implemented it. I don't know if those are still prevalent. Metric Containers should not be the problem, at least when I worked on RIOT, ETX was the default metric for RPL when there is no metric container.

It's true though, that metric containers were not implemented, which meant that only the default metric could be used.

[2015-03-18 15:43] kushalsingh007 commented on #1131
@authmillenon  : So what are the part's that can be currently worked upon , Although the previous comment does explain the reason for shifting it to next release , however since it has been recently tagged as ``` Newbie-Task-Candidate```I think there might be some areas on which I could work upon , can you point out a few.

[2015-03-18 16:28] kushalsingh007 commented on #2623
working on this one :)

[2015-03-18 20:53] khawajamechatronics commented on #1588
Hi,

I have expertise in SPI Communication on STM32 Boards, Specifically on STM32F0.

I would like to know, whether Patch needs Software Programming only or, Also need to be Hardware tested?

[2015-03-18 21:30] shrenikjain38 commented on #2623
Do we have to edit the defines starting with single underscores as well?
And by defines is it meant that it has to be done for #define and #ifdef as well?

[2015-03-18 21:49] gebart commented on #2623
@shrenikjain38 Changing `_FOO` is a good idea. Identifiers beginning in single underscore followed by a upper case letter is also reserved.

btw, your scripted commit https://github.com/shrenikjain38/RIOT/commit/fd40ba441aa3ac6e1223d14ba275b5ee15d5e5eb breaks the C++ checks (don't modify `#ifdef __cplusplus`)

The `#ifdef HEADER_FILE_NAME_H_` and `#define HEADER_FILE_NAME_H_` are include guards th

[2015-03-18 21:51] gebart commented on #2623
another hint for anyone preparing pull requests for this issue: Read the description at the top, we won't be able to merge the changes if you don't split them into smaller logical groups.

[2015-03-18 23:22] shrenikjain38 commented on #2623
Can you please elaborate it a bit more if the identifiers beginning with a single underscore are to be changed and if they are, whether those followed by an upper case letter after an underscore to be modified or not?

This issue has already been taken into consideration.

Is it okay if the changes are made in a specific directory to divide the whole procedure in easily reviewable and logically gr

[2015-03-19 10:45] cgundogan opened #2642 "rpl: root cannot send to nodes"
Using the rpl_udp example, a root cannot send a message to another node via `send id test`. Looking at wireshark, the 802.15.4 destination is set to broadcast `0xffff` instead of the node's id and thus results in dropping the packet.
The change was introduced in commit: 70cf054b5e1cb539ce17f0cdf49be55fb133e10a.

[2015-03-19 11:19] Otmane123 opened #2643 "Implementation of LwM2M."
hello everyone,
just i ask if someone work in the Project N2: Implementation of LwM2M.
i need further description about the subject
if someone can help me

Otmane

[2015-03-19 12:03] authmillenon commented on #2643
Please use the [developer mailing list](http://lists.riot-os.org/mailman/listinfo/devel) for such requests. It may take a while to receive an answer (because there are currently a lot of request as you may see in the archive), but there will come an answer. Please be patient.

[2015-03-19 12:03] #2643 closed

[2015-03-19 14:08] authmillenon commented on #1652
Now the svn at googlecode.com has a 502 error -.-

[2015-03-19 14:08] yerpj opened #2648 "stm32 I2C START condition issue"
Hi all,

I am currently porting RIOT on a stm32f2 (f217) and I am experiencing issues with the i2C.
I tried on both stm32f4discovery and on our own board. Result is the same.
_start() is executing (periph/i2c.c) but after writing the dev->DR register, an interrupt occurs. Debug mode tells "I2C ERROR OCCURED", "status: 00000400", "AF", which means "AF: Acknowledge failure". But, having checked with

[2015-03-19 14:08] authmillenon commented on #1652
Maybe #2645 can fix it

[2015-03-19 14:48] gebart commented on #2642
I don't understand this, it worked for me on both native and mulle when I tested it before merging. What board are you using?

The send command needs some improvements though. I would like to be able to type an IP address instead of only a 16 bit short 802.15.4 address or broadcast.

[2015-03-19 15:02] cgundogan commented on #2642
@gebart I tested with native. Communication works from node to node, but as soon as I use the `send` command from root to node, it breaks like described above. I did not look much into it, maybe later in the evening or tomorrow

[2015-03-19 15:24] PeterKietzmann commented on #2648
Hi @yerpj. Did you measure with an "open bus" ? If so, can you try it again with an i2c-slave device connected? Also make shure you have appropriate pull-up strength.

[2015-03-19 15:33] yerpj commented on #2648
Hi @PeterKietzmann : Thanks for your reply. I have some slaves on the bus. I have external pull-ups of 10k (the time-scale on the picture is 250ns per square; the "slow" low to high transition is actually fast enough).
The i2c error occurs before any slave answers, because the address is not sent. Furthermore, the START condition is wrong, as the SDA should be asserted before the SCL.
Did anyone m

[2015-03-19 15:38] PeterKietzmann commented on #2648
Yes I ran it anytime. Which speed do you use? I won't accomplish to test it now but then I'll do so tomorrow.

[2015-03-19 15:44] yerpj commented on #2648
I am using the I2C_SPEED_NORMAL, maybe the CCR register is not correctly inited, as it depends on APB clock, which is defined in my periph_conf.h file. I will check that point soon... The weird thing is, when I try the same code on stm32f4discovery, the _start() function has the same behaviour and the I2C issue still happens....

[2015-03-19 15:59] PeterKietzmann commented on #2648
@yerpj I gave it a quick try and it worked. My setup is a stm32f4discovery board and the srf02 ultrasonic senso without external pull-ups. The test in "RIOT/tests/driver_srf02" worked and the start condition looks ok as you can see :/ ...
![i2s_start_stm32f4_srf02](https://cloud.githubusercontent.com/assets/7765855/6734582/3d7cfde4-ce59-11e4-912d-0deecad9ab35.png)

[2015-03-19 16:00] PeterKietzmann commented on #2648
Ups. Please note that SDA and SCL are wrongly named here

[2015-03-19 16:24] yerpj commented on #2648
This seems to work perfectly on STM32F4DISCOVERY.

I found the issue, thanks to your question about the i2c speed!
I did not adapt the I2C_APBCLK in accordance with my CPU speed, which is 120MHz (max) for the STM32F217. Therefore, the config should be
#define I2C_APBCLK          (30000000U)   //CPU_SPEED_MAX/APB_PRESCALER=120M/4=30M
The I2C is not perfectly working. I will study this I2C driver in

[2015-03-19 16:25] OlegHahm commented on #1533
Fixed by #2545

[2015-03-19 16:25] #1533 closed

[2015-03-19 20:59] LudwigOrtmann commented on #162
Out of scope for the GSOC application period.

[2015-03-19 21:28] LudwigOrtmann commented on #1588
Of course you need to test the patch on hardware.

[2015-03-20 06:54] gebart commented on #2493
The RPL headers need some Doxygen love, added to task list

[2015-03-20 06:56] gebart opened #2656 "RPL headers need documentation"
some rpl headers are completely missing Doxygen comments, others have Doxygen commands, but inside normal comment blocks, so Doxygen ignores them.

sys/net/include/rpl.h should also contain a `@defgroup rpl`

[2015-03-20 06:57] PeterKietzmann commented on #2648
@yerpj nice to hear :-) ! Regarding the PR and git stuff these wiki pages may help you: [Contributing to RIOT](https://github.com/RIOT-OS/RIOT/wiki/Contributing-to-RIOT) and [Git cheatsheet](https://github.com/RIOT-OS/RIOT/wiki/Git-cheatsheet). Otherwise feel free to ask on the mailing list or at least in you PR when it's there.

[2015-03-20 06:57] PeterKietzmann commented on #2648
Can we close this issue, is it solved?

[2015-03-20 08:08] jhollister opened #2657 "ubjson: Missing types compiler errors on OSX"
Compiler gives the following errors for `unittests/ubjson`:
[code]

Seems to be missing a header file and if you look at `sys/include/ubjson.h:41` this seems to be the issue:
[code]

Tried changing to:
[code]
Which would let me compile (needs the malloc.h fix from PR #2590) but running the actual unit test fails with the output:
[code]

[2015-03-20 15:57] sirtian opened #2660 "Cortex-M4F: xxx.elf uses VFP register arguments, yyy.o does not"
When I compile default example by "make BOARD=stmf32f4discovery"
[code]
Is it because of the compile itself error?which version are you using to compile arm family application? can any one help me?I appreciate it very much

[2015-03-20 17:08] gebart commented on #2660
Your installed newlib version is built for soft float, the RIOT application is built for hard float. If you don't want to change your newlib you can try adding `-mfloat-abi=softfp` to your CFLAGS and do a `make clean`

[2015-03-20 19:06] phiros commented on #2557
I agree with @LudwigOrtmann and @OlegHahm.
#2663 should fix this problem.

[2015-03-20 19:13] cgundogan opened #2664 "internal error: _native_handle_tap_input"
I am facing this error when using the rpl_udp example in native.
I guess it might be due to my system upgrade.. I upgraded linux (3.18.6-1 -> 3.19.2-1).
When I start a node it crashes (somewhat randomly).
Is anyone else seeing this?

[2015-03-20 19:22] gebart commented on #2664
Did you try running it in gdb?

[2015-03-20 19:22] cgundogan commented on #2510
this can be closed, because #2522 got merged

[2015-03-20 19:22] #2510 closed

[2015-03-20 19:37] cgundogan commented on #2664
Not that much, I can say that `real_read` is returning 0 bytes, which in case results in the mentioned error message.
https://github.com/RIOT-OS/RIOT/blob/master/cpu/native/net/tap.c#L81

[2015-03-20 21:35] kushalsingh007 commented on #480
I guess all of the problems with this are solved then ?
Because after #2665 gets merged , the only thing getting left will be (unitvariable warnings )
And to quote @gebart's  [comment] (https://github.com/RIOT-OS/RIOT/pull/2567#issuecomment-77948298)

[2015-03-20 21:38] kushalsingh007 commented on #1131
It would be great if I could get some sort of direction to start the work.

[2015-03-20 22:26] authmillenon commented on #1131
I think in the current version this applies only `tests/libfixmath_unittests` and `tests/net_if`. `tests/libfixmath_unittests` is notorious for having problems to download from the repository (which caused a lot of false positives on Travis e.g. yesterday and why it should remain seperated from the other unittests) and `tests/net_if` is on its way of being obsolete. But if you want to, you can go

[2015-03-20 22:28] authmillenon commented on #1131
(and where it makes sense. modules that involve a lot of threading or timers usually can't be tested this way for now for example)

[2015-03-20 22:35] authmillenon commented on #1131
A quick evaluation later the following modules seem like suitable candidates:

* `hashes`
* `hash_string`
* `tm`
* `utlist`

[2015-03-20 23:49] kushalsingh007 commented on #1131
Thanks for having a look , working on the these now ;)

[2015-03-21 04:47] sirtian commented on #2660
@gebart , thanks for your answer,after I added -mfloat-abi=softfp both in  Makefile.cflags and  boards/stm32f4discovery/Makefile.include, I still get the following error messages:
/usr/local/bin/arm-2014.05/bin/../lib/gcc/arm-none-eabi/4.8.3/../../../../arm-none-eabi/bin/ld: error: /home/RIOT-OS/RIOT/examples/default/bin/stm32f4discovery/default.elf uses VFP register arguments, /usr/local/bin/arm-

[2015-03-21 07:54] LudwigOrtmann commented on #2664
My up-to-date arch does not have problems.

[2015-03-21 08:16] gebart commented on #2660
Try different combinations of the float configuration flags `-msoft-float`, `-mfloat-abi={soft,softfp}`

[2015-03-21 08:18] LudwigOrtmann commented on #480
Please keep in mind that different versions of cppcheck show different things.

[2015-03-21 08:19] gebart commented on #2664
I'm using a 3.19.0 kernel on Gentoo and I have not seen this problem before.

[2015-03-21 08:22] LudwigOrtmann commented on #2664
@cgundogan Maybe you have some network manager or conflicting network tool (e.g. vpn tunnel) or permission management tool installed?

[2015-03-21 09:23] jhollister commented on #2360
From what I can find `clock_t` is defined as a long and `clockid_t` is an int. I think all we need to fix this compiler error is to conditionally create a typedef to an int for `clockid_t` in `pthread_cond.h`.

[2015-03-21 10:26] kushalsingh007 commented on #480
I have been working so far with ```Cppcheck 1.68``` , and my  warnings do match with the one's that have been shown above 2 comments above. Not sure if that was what you wanted to know ?

[2015-03-21 12:27] LudwigOrtmann commented on #480
I didn't want to know anything, but remind everyone working on this issue to double-check the outcome with their respective versions of cppcheck.

[2015-03-21 12:50] #2361 closed

[2015-03-21 12:50] LudwigOrtmann commented on #2361
#2590 has been merged

[2015-03-21 17:23] kushalsingh007 commented on #1131
I think along with the tests there needs to be some change in the code itself , for instance current [hash string function] (https://github.com/RIOT-OS/RIOT/blob/master/sys/hash_string/hash_string.c#L24)
has no check to ensure that the value of variable ```hash``` does not exceed size of ```unsigned long```,
so I am changing it by breaking the loop if size is greater than ```unsigned long``` size

[2015-03-21 18:21] authmillenon commented on #1131
That is good, if errors like this surface :-), but please do the fixes in a seperate PR than the tests (or do the fixes + the tests for the module in module-wise).

[2015-03-22 13:49] phiros commented on #2557
merged #2663 -> fixed

[2015-03-22 13:49] #2557 closed

[2015-03-22 14:14] phiros commented on #2479
@authmillenon Did you see this happening with any build in the past few days?
If so: please list a few links to PRs where this happened.

[2015-03-22 15:21] cgundogan commented on #2664
@LudwigOrtmann I am not that sure about this as `real_read()` only returns sporadically `0`, so the read operation does work actually.
When I remove the `0` case, native works for me again. See #2686

[2015-03-22 15:38] authmillenon commented on #2479
I'll try to look out for it.

[2015-03-22 18:28] Darredevil commented on #2611
I wanted to tackle this but I noticed PR #2641 already does that but isn't merged,even Travis CI says everything is ok. Any reason for that?

[2015-03-22 18:34] Darredevil commented on #2623
There are still files with this issue, in /drivers for example, is it ok if I patch them even if this PR has been closed? (will not create an avalanche of new PRs this time :)

[2015-03-23 06:26] LudwigOrtmann commented on #2611
Probably it was lost in the flood of PRs or the assigned maintainer didn't have time to look into it.

[2015-03-23 07:50] yerpj commented on #2648
Yes it is. Thanks for the support!

[2015-03-23 08:14] PeterKietzmann commented on #2648
Nice

[2015-03-23 08:14] #2648 closed

[2015-03-23 08:37] #2611 closed

[2015-03-23 12:05] gedw99 opened #2691 "thread"
this is google new IOT protocol over bluetooth. its what the Nest device runs.

http://threadgroup.org/Home.aspx

i was using zigbee. Oh what a mess...

i am very happy about riot OS.

i am wondering if this is a good protocol to work into the stack ?

what do people think ?

[2015-03-23 12:34] authmillenon commented on #2623
The issue was automatically closed by github, since there was the message "fixes 2623" in your PRs somewhere. I anticipated that when I merged the PRs but forgot to reopen the issue. Sorry for that.

[2015-03-23 14:51] OlegHahm commented on #2691
Hi Ged and welcome to RIOT! Usually this type of discussion is better done on one of the mailing lists (devel or users, see https://lists.riot-os.org/). Actually, a discussion about consortia like this (thread is luckily not a Google-only thing) has recently be started on the devel mailing list: https://lists.riot-os.org/pipermail/devel/2015-March/002282.html
Feel free to subscribe and participate

[2015-03-23 14:51] #2691 closed

[2015-03-23 17:08] gedw99 commented on #2691
Hey okeg,

Yes I understand. Will converse on ideas on the lists.

Really happy I found this project.
On 23 Mar 2015 3:52 pm, "Oleg Hahm" <notifications@github.com> wrote:

[2015-03-24 04:57] gebart opened #2699 "DEBUGF does not compile if ENABLE_DEBUG == 1 and DEVELHELP == 0"
`DEBUGF` requires access to the thread name inside a `tcb_t` struct. However, the member variable `name` is conditionally added only if DEVELHELP is true.

DEBUGF is not very widely used, mostly only inside the RPL and 6lowpan code, and I realize that the intention might have been to only use it when DEVELHELP is true, but I don't think it should not cause cryptic compilation errors when used impr

[2015-03-24 05:36] kushalsingh007 commented on #480
So then I guess this one can be closed then ?

[2015-03-24 07:21] LudwigOrtmann commented on #480
I still get `21  error (uninitvar)`.

[2015-03-24 07:35] LudwigOrtmann commented on #480
On ubuntu 12.04 LTS:
[code]

[2015-03-24 07:37] gebart commented on #480
@LudwigOrtmann Using cppcheck 1.68 I get 21 `uninitvar`, all from the core_cmFunc.h CMSIS headers. The variables are not really uninitialized, they are set by inline asm code which cppcheck doesn't understand, and then returned. The warnings can be suppressed, but when there is a new CMSIS release the patch will have to be reapplied.

[2015-03-24 08:08] kaspar030 opened #2702 "periph: spi: simplify spi_transfer_byte"
When working with SPI, I found `spi_transfer_byte` is overly complicated.
1. it can return an error, but does so only if the wrong SPI device is specified (in most implementations).
   As `simplify spi_transfer_byte` is called by `spi_transfer_bytes`, that check is repeated many times unnecessarily.
2. the docs say it returns "the number of bytes transferred". Shouldn't this always be 2? stm32f\*

[2015-03-24 08:12] LudwigOrtmann commented on #480
We could still exclude the CMSIS headers from being checked (not sure if this has been discussed and with what result before).

[2015-03-24 08:45] gebart commented on #2702
In master mode there will (almost) never be any (detectable) transmission errors, there is however the possibility of detecting errors in slave mode. An earlier discussion (on the mailing list maybe?) mentioned that we have no use cases for SPI slave mode right now, but since we define an SPI slave API we should still consider the possibility of someone actually using it.

I still think this is go

[2015-03-24 09:08] PeterKietzmann commented on #2702
According to "the number of bytes transferred" I agree that it is a bit useless for `spi_transfer_byte()`. In my opinion this function should always return `1` (that is probably the reason why stm32f* implementations do so) but I could also live with a `2` :-) . The normal procedure is that after pulling the CS-line low the master shifts its data on the bus through a shift register (1 Byte) and __

[2015-03-24 09:13] kaspar030 commented on #2702
@gebart wouldn't connecting two MCUs via SPI a master/slave situation / use-case?

@haukepetersen Any opinion?

[2015-03-24 09:51] N8Fear commented on #480
Sorry that I don't participate more actively right now, but I'm still swamped with other things... :-/
Nonetheless we already had a solution that excluded vendor files (for the unusedStructMember check a while ago). Take a look at 75c02c937a275d80ace381f9d9c13ef0ecc52020 .
This solution was IIRC abandoned because we favoured to suppress the warnings for unusedStructMembers globally. (Again IIRC) t

[2015-03-24 09:54] josephnoir commented on #2360
That should work too. So the fix would be to add something like the following to the file:
[code]

[2015-03-24 11:42] haukepetersen commented on #2702
yes!

As simplify spi_transfer_byte is called by spi_transfer_bytes, that check is repeated many times unnecessarily.

That is true, but keep in mind that the `spi_transfer` functions are not implemented very good, they basically are put together as simple as possible to work for now. In the long term, the implementations of these should use DMA and hence their implementation would not simply call

[2015-03-24 11:46] kushalsingh007 commented on #480
@LudwigOrtmann : My version does not show those errors like
``` 20  style (variableHidingEnum) ```
 or ``` 57  error (nullPointer)```  is it because your version is little older ?

@N8Fear : Should I add the the entries in vendor_suppression for now ?

[2015-03-24 12:56] kaspar030 commented on #2702
would you be ok adding a ```spi_rw_raw()``` with the proposed signature?

[2015-03-24 13:23] LudwigOrtmann commented on #480
@kushalsingh007 yes

[2015-03-24 13:24] LudwigOrtmann commented on #480
Interesting in this context is what version of cppcheck Travis is using. I guess it's somewhere in between.

[2015-03-24 13:55] haukepetersen commented on #2702
nope, same problem: You get error when giving an invalid device identifier and you introduce functions that are not in-line with the rest of the perepheral API

[2015-03-24 16:52] jfischer-phytec-iot commented on #2116
There are devices (for example, displays) where a byte is not equal to one octet. We have one and can not make it easy to use with RIOT.

Below are the promised measurements.
cpu-clock = 48MHz, flash-clock = 24MHz
CH1: spi-data
CH2: spi-clock
CH3: spi-kinetis-cs
CH4: spi-gpio-cs, (the gpio-cs setup time (of course) is always the same)

**spi clock = 1 MHz**
Here it's not so much, ca 1.5bit

![1mhz

[2015-03-24 19:24] LudwigOrtmann commented on #2702
@kaspar030 if your goal is to be super-efficient, just hard-code your critical stuff ;)

[2015-03-24 20:09] kaspar030 commented on #2702
@haukepetersen Not checking the device identifier is FINE for a one byte reading function. For reading a register. Dammit. Can we call it "_unchecked"?
Also, there are other functions in the periph API which just return a value. Why not here?

@LudwigOrtmann Would be nice to be portable AND super-efficient... ;)

[2015-03-25 07:35] PeterKietzmann commented on #2116
Wow that takes a long time.. 5MHz on stm32f4discovery looks better:
![bildschirmfoto vom 2015-03-25 08-40-46](https://cloud.githubusercontent.com/assets/7765855/6819935/d801bab6-d2c9-11e4-8522-8422cf6b81d4.png)

[2015-03-25 11:11] haukepetersen commented on #2116
@jfischer-phytec-iot thx for the measurements. I gues your third picture was measured with 10MHz, right?

 So what I see, is that the setup time for the CS pin (when handled externally) is pretty much fixed at ~1.77µs and a little less when finished. AT 48MHz that are ~85 CPU cycles, that seems to be about right so besides some small gains due to optimization, this number we can not cut down too m

[2015-03-25 16:53] bapclenet opened #2713 "Samr21: GPIO can't be set to out after disabling interrupt"
On the samr21,

    gpio_irq_enable(GPIO1);
    gpio_init_int(GPIO1, GPIO_PULLUP  , GPIO_RISING, (gpio_cb_t)callback,NULL);
    gpio_irq_disable(GPIO1);
    gpio_init_out(GPIO1,GPIO_PULLUP);
    gpio_clear(GPIO_1);
    sleep(3);
    gpio_set(GPIO_1);

The last three lines don't work, it seems that <code>gpio_init_out(GPIO1,GPIO_PULLUP);</code> doesn't work after disabling the interruption.
@Troels

[2015-03-25 19:03] bapclenet commented on #2713
Found the problem, will do a PR tomorrow

[2015-03-26 14:29] bapclenet commented on #2261
I tried again with ATMEL STUDIO's RTC example, it runs 32 faster than it should be. They select the 1KHz from the 32.768kHz Oscillator and set GENDIV to 0 but it still runs at 32.768kHz  instead of 1. I think it's a hardware problem.
By selecting the 1kHz output, we may be more accurate and then, we won't see this drift.

[2015-03-26 17:12] bapclenet commented on #2261
Ok, we can correct the clock with FREQCORR Value, it should work for us since we all have the SAMR21 XPRO board.

Here is the formula:
Correction in PPM =  FREQCORR.VALUE / (1024 * 976) * 10^6 PPM

According to http://www.maximintegrated.com/en/design/tools/calculators/product-design/rtc.cfm and the delay of one and half minutes every hour, our board has a deviation of 25000ppm ...
The register FR

[2015-03-26 19:29] bapclenet commented on #2261
Btw, I tried to set CALIB for SYSCTRL->OSC32K.bit.CALIB with p27 datasheet.

    SYSCTRL->OSC32K.bit.CALIB = (*(uint32_t *)SYSCTRL_FUSES_OSC32K_CAL_ADDR & (SYSCTRL_FUSES_OSC32K_CAL_Msk))>>SYSCTRL_FUSES_OSC32K_CAL_Pos;
    SYSCTRL->OSC32K.bit.CALIB = (*(uint32_t *)SYSCTRL_FUSES_OSC32K_CAL_ADDR >> SYSCTRL_FUSES_OSC32K_CAL_Pos);

Which one of the two lines seems right for you? @thomaseichinger
For bo

[2015-03-26 20:10] LudwigKnuepfer opened #2724 "Add support for serial number passing to CMSIS boards, document it"
For further information compare https://github.com/RIOT-OS/RIOT/pull/2318

(Source: https://github.com/RIOT-OS/RIOT/pull/2318#issuecomment-86467444)

[2015-03-27 15:40] LudwigKnuepfer opened #2726 "Investigate strange variable derefence pattern"
There are several occurrences like this:

[code]

1.
Figure out if this is necessary for some strange reason (look at the assembler).

2.
Find all the places where this is done with `git grep -E '\(&[^)]*\)->'` and fix them.

[2015-03-27 16:47] kushalsingh007 commented on #2726
I have started working on this issue :)

[2015-03-27 21:47] LudwigOrtmann commented on #2096
PR was merged prematurely

[2015-03-28 14:16] x3ro opened #2732 "applications/sniffer freezes on SAM R21 when setting transceiver channel"
After some debugging I've narrowed it down to [this line](https://github.com/RIOT-OS/applications/blob/master/sniffer/main.c#L138) (the first one):

    uint16_t c = 10;
    tcmd.transceivers = TRANSCEIVER_DEFAULT;
    tcmd.data = &c;
    printf("Set transceiver to channel %u\n", c);
    msg_send(&mesg, transceiver_pid);

I've compared it to how the transceiver channel is set in the `shell` (which