[2015-03-28 15:48] LudwigOrtmann commented on #2732
The transceiver module is obsolete.

[2015-03-28 20:29] LudwigOrtmann opened #2734 "cortex_m0: no main no gain"
When the main thread is gone, RIOT crashes when sending  a message from another thread.
I'll try to put together a minimal example later.

Found on `airfy-beacon` with .https://github.com/RIOT-OS/RIOT/pull/2711 rebased on master.

[2015-03-28 20:29] LudwigOrtmann commented on #2734
I thought this would exist in the issue tracker already but didn't find a related issue after 2 minutes of searching.

[2015-03-29 11:24] LudwigOrtmann commented on #2734
Turned out to be an unrelated application error.

[2015-03-29 11:25] #2734 closed

[2015-03-30 07:21] PeterKietzmann commented on #2623
How do we proceed with trailing underscores? I found some guards with and without them.

[2015-03-30 09:06] BytesGalore commented on #2642
@cgundogan the problem seems to be only native related.
I tested sending on IoT-lab_M3 nodes with success (delivered the packet in either direction).
On native however sending from root to node seems to be disrupted. Sending from node to root works for me.

[2015-03-30 13:59] authmillenon commented on #1811
Is this issue fixed by now?

[2015-03-30 14:33] OlegHahm commented on #708
So, what is still missing?

[2015-03-30 15:30] authmillenon commented on #708
I think this issue can be closed now :-)

[2015-03-30 15:30] #708 closed

[2015-03-30 16:24] benpicco commented on #1811
It's still broken on `native` - although in a different way now:

[code]

[2015-03-31 12:58] cladmi opened #2748 "Native platform not working"
The native platform examples are raising a segmentation fault on my computer on `master`

    /home/harter/work/iot-lab/parts/RIOT/examples/hello-world/bin/native/hello-world.elf
    make: *** [term] Segmentation fault

Bisecting the issue pointed to this commit: 00092e8308311a1221c382ddc6410c297f12b3de

The `valgrind` trace has the following errors:

[code]

I'm running `Ubuntu 12.04` with gcc `4

[2015-03-31 14:28] PeterKietzmann commented on #9
@fnack ping

[2015-03-31 16:14] authmillenon commented on #2623
There are still occurrences in master.

[2015-03-31 17:41] LudwigOrtmann commented on #2748
Toolchain is not supported: https://github.com/RIOT-OS/RIOT/wiki/Family:-native#toolchains

[2015-03-31 19:42] #2748 closed

[2015-04-01 08:43] cladmi commented on #2748
Ok, I was expecting something like that.

Would it be possible to check for these forbidden versions at compile time?
They are already "hardwritten" in the wiki they could also be in the code.

[2015-04-01 09:37] OlegHahm commented on #2748
@LudwigOrtmann, do you know what is the problem behind this Segfault?

[2015-04-01 14:50] OlegHahm commented on #1925
worksforme

[2015-04-01 14:50] #1925 closed

[2015-04-01 19:03] noshky commented on #1811
Please note that the ``timer_thread`` in the ``main`` has changed, so that messages don't get re-sent. If you add
``vtimer_set_msg(&tmsg->timer, tmsg->interval, thread_getpid(), MSG_TIMER, tmsg);``
to the end of the while loop, the faulty behaviour will be restored. (Hang after 21 seconds on my machine, which is Intel(R) Core(TM)2 Duo CPU     E6750  @ 2.66GHz and Ubuntu 14.04.2 LTS).

[2015-04-02 14:41] OlegHahm commented on #2732
I don't think that this is related to the `transceiver` module. And it is still the only possibility to run 6LoWPAN on RIOT. I'm reluctant to call anything obsolete that has no alternative already in place.

[2015-04-02 14:46] OlegHahm opened #2755 "Define helper shell commands"
Picking up the discussion from https://github.com/RIOT-OS/RIOT/pull/2583#issuecomment-88922363, I think it would make sense to distinguish between shell commands that helps to request or configure device or network properties and commands that are mostly meant as helpers during development or debugging. Examples for the first type of commands are `ifconfig` (to request network interface properties

[2015-04-02 14:54] authmillenon commented on #2755
As suggested in #2583: I think the best approach is to introduce a `shell_helper` module in addition to `shell_commands`. The first type of commands would remain in `shell_commands`, while the second would be moved to `shell_helper`.

[2015-04-02 17:57] LudwigOrtmann commented on #2748
I think the libc is implementing a system call in an impossible to work around way, but it's been a while since I looked into this.

[2015-04-03 13:59] LudwigOrtmann opened #2760 "drivers/periph/gpio: add output strength option?"
In https://github.com/RIOT-OS/RIOT/pull/2717 the question came up whether it is common for GPIO hardware to support different output levels.
If it is, should we extend the GPIO API in this regard?
If not, how should this possibility be handled?

[2015-04-03 14:01] miri64 opened #2761 "core: define default flags"
https://github.com/RIOT-OS/RIOT/pull/2711#issuecomment-88627459 revealed that it can be problematic starting a thread without `CREATE_STACKTEST` when trying to debug. https://github.com/RIOT-OS/RIOT/pull/2758#issuecomment-89267598 suggested to create a macro for default flags (if there are more than `CREATE_STACKTEST` these can be added to).

[2015-04-03 15:36] #2713 closed

[2015-04-03 15:37] bapclenet commented on #2713
Related to #2760

[2015-04-03 16:49] kaspar030 commented on #2761
For CREATE_STACKTEST, fix ps to show the error.

All other flags have intrinsic defaults, e.g., CREATE_STACKTEST and CREATE_SLEEPING are opt-in, CREATE_WITHOUT_YIELD is opt-out. No need to waste code & flash for another place to store defaults.

[2015-04-03 16:53] haukepetersen commented on #2760
What are output levels?

[2015-04-03 17:27] Kijewski commented on #2761
I think @authmillenon meant a switch to force `CREATE_STACKTEST` even if it was not supplied.

[2015-04-07 07:28] PeterKietzmann commented on #2760
I guess the "Output Driver Strength" was meant, right? On samr21-xpro you can select between "normal" and "sronger" drive strength (compare [datasheet](http://www.atmel.com/Images/Atmel-42223-SAM-R21_Datasheet.pdf) p.398, sec.21.913)
In general this parameter changes the output impemndace of a pin and therefore the maximal output current. Is an option like that available also on other RIOT-cpus/bo

[2015-04-07 08:23] cgundogan commented on #2664
fixed by #2686 , so I am closing this issue.

[2015-04-07 08:23] #2664 closed

[2015-04-07 08:26] cgundogan commented on #2418
@thomaseichinger is this issue fixed?

[2015-04-07 08:44] gebart commented on #2760
@PeterKietzmann  The Kinetis family also have configurable drive strength (low = +2/-2 mA, high = +10/-9 mA) on the digital outputs.

[2015-04-07 12:05] kaspar030 commented on #2760
I'd say, let's make it optional (e.g., add another function with the extra parameter).

[2015-04-07 13:28] haukepetersen commented on #2760
Generally I am against including this kind of option into the API, as in my experience these options are used rather academically in practice (-> see speed option for STM controllers...). Also these kind of options differ greatly between CPU families and lead quickly to non-portable code. I vote strongly for hiding these options through good default values.

[2015-04-07 17:44] PeterKietzmann commented on #2760
On the one hand I share @haukepetersen's opinion that such an API-change could quickly lead to non-portable code but on the other hand I see the need of a functionality like this by the others (compare  #2717). In general we want to be as energy efficient as possible which should lead to the conclusion that the "default" initialization should happen with the smallest drive strength. If this is the

[2015-04-07 19:07] gebart commented on #2760
@PeterKietzmann Usually the things that require stronger drive strength is when you drive a LED directly from an output pin or some similar scenario, but I guess there are cases where it could be necessary even to enable stronger drive strength on a communication bus line (when using strong pull-ups on an open drain bus line for example).

[2015-04-08 07:53] OlegHahm commented on #2761
I don't get the proposal. @authmillenon, can you rephrase, please?

[2015-04-08 08:23] authmillenon commented on #2761
It was more or less @haukepetersen's idea and this was what I gathered from him. Maybe he can do that?

[2015-04-08 08:51] kaspar030 commented on #2761
If I understand correctly, @haukepetersen wondered why it's pktpuf thread always showed the full stacksize when watched with ps. The problem was that the thread was not created with the ```CREATE_STACKTEST``` flag set, which he fixed by setting that flag.

Now @authmillenon proposed to introduce default thread creation flags, so that i.e., ```CREATE_STACKTEST``` can be switched on globally.

[2015-04-08 14:27] LudwigOrtmann commented on #2761
I think this would be beneficial because one could save the cost of CREATE_STACKTEST in production environments.

[2015-04-08 15:48] OlegHahm commented on #2761
Sounds good.

[2015-04-08 16:26] bapclenet commented on #2261
As mentionned in the datasheet, we should use the XOSC32K instead of the OSC32K because the OSC32K is not accurate.
By configuring the example provided by ATMEL with XOSC32K, I've got an accurate RTC.
By using XOSC32K in RIOT, it's not accurate then there is a configuration problem in the RTC driver

[2015-04-08 21:23] LudwigOrtmann commented on #2761
Maybe we can remove this from the flags altogether and just ifdef the section of the thread creation function? I can't really think of a situation where one would want to turn this off for individual threads only.

[2015-04-08 21:25] LudwigOrtmann commented on #2761
This -> CREATESTACKTEST

[2015-04-08 21:47] Kijewski commented on #2761
:+1:

[2015-04-09 07:18] OlegHahm commented on #2761
:+1: @kaspar030, I guess you've initially implemented this. Was there a rationale behind that?

[2015-04-09 07:52] bapclenet commented on #2261
I've found out! Will do a PR soon

[2015-04-09 08:25] kaspar030 commented on #2761
Well, CREATE_STACKTEST makes the thread creation write something to the entire stack. As that is time-consuming, there was no "ps" and it's O(n), I made it optional.

Also there might be (future) use-cases where this is not needed / too time-consuming:
- Using CREATE_STACKTEST for stacks created one at boot is fine, when creating them dynamically, it feels like way too much overhead. Imagine imple

[2015-04-09 10:04] PeterKietzmann commented on #2006
@haukepetersen is this fixed with #1827?

[2015-04-09 11:21] PeterKietzmann opened #2768 "drivers/periph: putting the `DEVELHELP` around boundary checks"
Should we put the  the `DEVELHELP` around boundary checks in peripheral driver functions? This issue is a place to carry on the discussions in #2701

[2015-04-09 13:01] haukepetersen commented on #2006
nope.

[2015-04-09 13:25] PeterKietzmann opened #2769 "drivers: It is not possible to use transceiver drivers on a shared SPI-bus"
This issue results from PR #2756.

__Problem:__
Allowing SPI-transfers for example to receive data in interrupt context could lead to unwanted behavior. Assuming there is an ongoing SPI-transfer and at the same time an external interrupt is triggered by the transceiver. This will lead to two enabled chip selects and undefined behavior on the bus.

__Former solution approaches:__
1) Ensure that the

[2015-04-09 13:26] PeterKietzmann commented on #2769
@jremmert-phytec-iot , @haukepetersen , @gebart would be nice if you can check and extend the description if I missed relevant informations!

[2015-04-09 13:34] PeterKietzmann commented on #2769
Should we add the "bug" or "enhancement" label?

[2015-04-09 16:00] OlegHahm opened #2772 "oonf_api requires undocumented define"
Building an application (e.g. https://github.com/Lotterleben/RIOT-AODVv2/tree/master/aodvv2_demo) with `oonf_api` fails with an error like
[code]
if one does not define the macro `RIOT` (which is done by the given example in the application Makefile by
`export CFLAGS += -DRIOT`

I think this define is useless, because it's only used in a RIOT specific patch (https://github.com/RIOT-OS/RIOT/blob/ma

[2015-04-09 16:02] OlegHahm commented on #2772
Thanks to @mfrey for detecting this.

[2015-04-09 16:04] Lotterleben commented on #2772
Seems reasonable to me. @benpicco, since you're the author of this patch, can you tell us if you had any other intentions we're overlooking here?

[2015-04-09 17:11] OlegHahm commented on #828
@haukepetersen, ping!

[2015-04-09 17:30] OlegHahm commented on #2768
On a very first glance: sounds good to me. :+1:

[2015-04-09 17:32] OlegHahm commented on #2261
:raised_hands:

[2015-04-09 20:16] PeterKietzmann commented on #2768
I also think it's beneficial and doesn't hurt anyone.

[2015-04-09 20:46] jremmert-phytec-iot commented on #2769
I discussed that topic with Johann today. We came to the conclusion that 1) could be the a reasonable solution for devices with an exclusive SPI interface for the radio due to the following reasons:

- The KW2x device is a SiP that integrates the radio in the same package as the MCU; there are two seperate SPI, one for periph and one for the radio. In this SiP exclusive access is guaranted. As the

[2015-04-10 09:11] PeterKietzmann commented on #2261
This issue was fixed with #2767

[2015-04-10 09:11] #2261 closed

[2015-04-10 09:55] PeterKietzmann commented on #2769
@jremmert-phytec-iot thanks for the detailed response and the link. In your last point, what do you mean with "block the SPI-Bus for peripheral reasons "? Is it "hardware-blocking" so no other device can use the bus or what was your suggestion?
I remember there was a discussion about a radio with an onboard BLE and 802.15.4 transceiver. Unfortunately I forgot the name. This could be a potential ca

[2015-04-10 11:00] jremmert-phytec-iot commented on #2769
Oh true, that sentence was confusing.
In the suggested method the radio must have exclusive SPI-bus access. Consequently, if using method 1) devices with just one SPI can not handling other peripheral SPI-devices because this SPI is reserved (blocked) for the radio.

[2015-04-10 11:07] gebart commented on #2769
@PeterKietzmann I did not have any particular hardware in mind, at least the kw2x radio will work without locking as long as only one single thread is ever used to communicate with it.

The most likely issue that I see is when an SPI transfer is already in progress from thread context and an interrupt occurs and the ISR wants to perform an SPI transfer as well, which may or may not work correctly,

[2015-04-10 13:22] LudwigOrtmann commented on #1331
Note to self: Maybe it makes more sense to proxy the interrupt communication via UNIX sockets.

[2015-04-10 16:03] OlegHahm commented on #2081
I think the separation makes sense, because building behaves completely different and potential bugs cannot (or should not) be fixed in RIOT.

[2015-04-11 18:22] dantheman2865 commented on #1646
Hey guys, I've been messing around with the SAMR21-XPRO boards and I haven't been able to get the "sixlowpan" app to work. Maybe related, but I've noticed (now using the "default" app) that if I use the "pan" command to set the pan and then use "txtsnd" to send a message, the message is always received on pan 1. Could these be related? Any ideas?
Also, I can submit a PR or somebody else can fix it

[2015-04-12 05:15] sirtian commented on #2660
@OlegHahm please help me to find what's wrong?

[2015-04-12 06:08] gebart commented on #2660
What have you tried so far?

[2015-04-12 15:49] LudwigOrtmann commented on #1646
Regarding this board/transceiver and problems with network: Please search the mailing lists and issue tracker, there is plenty of text on this topic.

[2015-04-12 18:30] OlegHahm commented on #2660
Is there a reason not to use the recommended ARM toolchain from launchpad?

[2015-04-12 22:13] kaspar030 opened #2794 "pktbuf_release problem with ipv6 / icmpv6"
I stumbled on a bug that gets triggered when icmpv6 echo request packets arrive very fast (e.g., using ping6 -f).
I'm using the stack as @authmillenon described in his mini-howto from today (just netbase, ipv6, icmpv6 plus driver), using my unpublished encx24j600 driver. I could not reproduce this using the native driver, but I guess the sending is just too fast there.

Somehow a pktsnip with a ci

[2015-04-12 22:23] kaspar030 commented on #2794
I was able to reproduce on native.

To trigger this bug, I inserted a long delay (```volatile int i = 100000000; while(i--);```) into the ```_isr_event``` handler.

Same problem, the driver get's a pktsnip with circular pointers.

[2015-04-13 08:27] authmillenon commented on #2794
I'm a little bit confused about were the packet comes Form because in the initial description you say it happens on send while your reproducibility note refers to ist_event (which is called usually in receiving context, unless you are speakimg oft TX started/TX complete events.

For sending I would look into ng_icmpv6_echo_req_handle() since the payload of the request is used for the payload of th

[2015-04-13 11:36] kaspar030 commented on #2794
I think I got it.

At the beginning of ```_ipv6_send_unicast()```, an existing netif header is deleted from the to-send ```pkt``` using ```LL_DELETE()``` and then free'ed using ```pktbuf_release```.

The problem is that ```LL_DELETE()``` doesn't ```NULL``` the ```->next``` pointer of the removed element. If that element now gets freed, the pkt it was part of gets freed, too.

Adding ```netif->next

[2015-04-13 11:38] authmillenon commented on #2794
We also might fix `LL_DELETE()` ;-)

[2015-04-13 11:44] kaspar030 commented on #2794
Sure, but I thought as utlist is a library, not everyone wants this behaviour of a linked list delete... Your call!

Maybe ```static inline pktbuf_remove_and_release(haystack, needle) {..}```?

[2015-04-13 13:50] authmillenon commented on #2794
@haukepetersen what do you think of this?

[2015-04-13 14:33] OlegHahm commented on #2794
I would not touch `LL_DELETE`. utlist is a widely used and known library and having a differing implementation may cause confusion.

[2015-04-13 14:41] authmillenon commented on #2794
I was refering to the new function proposed by @kaspar030.

[2015-04-13 15:09] haukepetersen commented on #2769
After looking a little bit into the Atmel AT86RF2xx driver, I think I tend to actually go with solution `2)`. This makes sure there is no colliding bus access and we don't prevent the use of multiple devices on the bus.

Correct me if I am wrong, but at least for 802.15.4 devices I think all of them support hardware auto-acking, right? So the sending of ACKs we can just leave to the hardware and t

[2015-04-13 15:19] haukepetersen commented on #2794
I am in favor of @kaspar030s solution. Just thinking loud, how about something like
[code]
?

[2015-04-13 15:22] authmillenon commented on #2794
Since I need to remove stuff from the middle of the list in 6LoWPAN e.g. (IPv6 and UDP headers) this is not general enough for me. I prefer @kaspar030's definition:

static inline ng_pktsnip_t *pktbuf_remove_head(ng_pktsnip_t *pkt, ng_pktsnip_t *snip);

[2015-04-13 15:38] haukepetersen commented on #2794
agreed, then we should not consider my suggestion. Does `LL_DELETE` handle the two extrem cases, where `pkt` is either the first or last snip in the list?

[2015-04-13 15:53] haukepetersen commented on #2760
The more I think about it the more I am opposed to include such an option into the API. For CPUs that have this kind of option, I would include it in the `periph_conf`. On the Samd21 I would even tend to put in the higher drive strength as default: remember, just because the pin is able to deliver 7mA, it does not mean that this current is actually delivered (e.g. high impedance device connected t

[2015-04-13 16:55] authmillenon commented on #2794
Yes.

[2015-04-13 16:55] authmillenon commented on #2794
(Though last snip is not an extreme case in a single linked list ;-))

[2015-04-13 20:11] PeterKietzmann commented on #2760
Good point about the actual consumtion (difference). This is something we should test. A soultion with Makros in the periph_conf would be sufficient for me.

[2015-04-13 21:25] bapclenet commented on #2760
Well, I thought about it as well and I don't think it's a good idea to add it in the API. Either set on or off, the external component won't consume more than it needs as @haukepetersen mentioned. Let's just try if it really doesn't consume more and then simply set it on on the samd21 every time a pin is set as an output (Then a PR is needed as I mentioned #2717)

[2015-04-13 22:23] jremmert-phytec-iot commented on #2769
Ok seems so, then for Ack packets we should be fine. They do not throw an interrupt at all and are handled completely in HW.

I have thought about the time-span e.g. between an incoming Beacon and the outgoing response. As far as I understand, the timing here is not that important. There is even a minimum time spacing time, LIFS (Long interframe Spacing Period), which is 40symbols (640µs).

The ti

[2015-04-14 00:10] authmillenon commented on #2794
See #2804.

[2015-04-14 00:35] benpicco commented on #2772
I think the intention was to have this always defined by a core RIOT Makefile, but that never got merged. I wanted to compile the same source code for RIOT and for Linux, so I needed a way to [identify the platform](http://stackoverflow.com/a/4605893) - maybe something like this has been added by now? Otherwise it can't hurt to add such define to `Makefile.include`, better name it `__RIOT__` for c

[2015-04-14 05:54] OlegHahm commented on #2772
I'm not sure if we need this. Is it really a use case to build a thirdparty library inside RIOT (i.e. in `$(RIOTBASE)/pkg/`) for Linux?

[2015-04-14 06:31] PeterKietzmann commented on #2760
In addition: A solution where options are set through the periph_conf can be seen in [this](https://github.com/RIOT-OS/RIOT/pull/2063/files#diff-134bda29ded96fa4abaa9f99216a6116) (WIP) PR

[2015-04-14 06:38] OlegHahm commented on #2769
At least if I think of very cheap transceivers, that may support 802.15.4 PHY, but are not necessarily designed for 802.15.4 L2 this may not hold for every device.

[2015-04-14 08:21] mfrey opened #2808 "Unused parameter in function ng_netreg_hdr_build"
There seems to be an unused parameter in file ``sys/net/crosslayer/ng_netreg/ng_netreg.c`` in line 133 at
[code]
This was introduced with 69c593b8. Apparently the unused parameter warning is triggered by the default switch statement while the other case statements use the payload parameter - I don't know if that is actually considered an issue.

[2015-04-14 08:29] OlegHahm commented on #2808
Warning are always considered an issue.

[2015-04-14 08:31] cgundogan commented on #2808
I would suggest `(void)`'ing the parameters in the `default` clause

[2015-04-14 08:32] OlegHahm commented on #2808
:+1:

[2015-04-14 08:38] authmillenon commented on #2808
The suggested fix was introduced in 716a1bb0 (#2738)

[2015-04-14 08:41] OlegHahm commented on #2808
Eh, the mentioned fix does not comprise `payload`.

[2015-04-14 08:44] authmillenon commented on #2808
Fixed in #2809

[2015-04-14 08:46] authmillenon commented on #2808
Sorry wrong button ^^"

[2015-04-14 09:06] BytesGalore commented on #2360
@jhollister, could you test #2811? Unfortunately I have no OSX machine to test it.

[2015-04-14 16:55] haukepetersen commented on #2760
Jap, thats exactly what the periph_conf is for :-)

[2015-04-14 17:00] haukepetersen commented on #2769
Then these devices would have to handle that in their IRQ with all the implications that come with it for their SPI bus usage. It is still possible to do this - we should just try not to do it if not really really needed.

[2015-04-14 17:19] benpicco commented on #2772
Well it's possible that one day such patches could be merged upstream, then they mustn't break the build for non-RIOT targets.

[2015-04-14 18:09] haukepetersen commented on #828
no idea, will give it another test

[2015-04-15 07:06] bapclenet commented on #2760
@PeterKietzmann, I think it's the best solution! Easy to implement without changing the API

[2015-04-15 07:52] OlegHahm commented on #2772
Ok, makes sense. Let's close this as soon as #2805 is merged.

[2015-04-15 08:01] #2808 closed

[2015-04-15 08:03] Lotterleben commented on #2772
Will keep an eye on it.

[2015-04-16 05:28] LudwigOrtmann commented on #2760
@haukepetersen @bapclenet @PeterKietzmann @gebart @kaspar030
So everyone agrees we close this issue?

[2015-04-16 05:45] kaspar030 commented on #2760
Let's close it until an actual use case pops up.

[2015-04-16 06:01] PeterKietzmann commented on #2760
Agree

[2015-04-16 06:03] PeterKietzmann commented on #2760
As we found a potential solution and 4/5 of us are pro, 1/5 didn't comment on it, I'll close this issue.

[2015-04-16 06:03] #2760 closed

[2015-04-16 06:04] RIOT-notifier commented on #2760
Ok

[2015-04-16 07:09] bapclenet commented on #2760
Ok for me, I will deal with periph_conf then.

[2015-04-18 20:11] BigDaddyD commented on #2623
I am currently working on fixing all headers under the boards directory. I managed to use git grep and sed to find and fix all ifndefs and defines. I was wondering if that can be used to fix the comments as well

[2015-04-19 08:26] #2772 closed

[2015-04-19 22:36] kushalsingh007 commented on #712
@OlegHahm : Can you name a few of those shell commands so that I could have a look at the issue and get started with it.

[2015-04-20 01:16] deepfryed opened #2832 "nrf51822 - vtimer does not work correctly with TIMER_1"
I'm trying to get RIOT running on the Adafruit BLE friend along with S110 softdevice (which needs TIMER_0). Using TIMER_1 (16 bit), it looks like the timer overflows are not handled correctly in vtimer.  vtimer_gettimeofday and vtimer_usleep do not work as intended as a result.

[2015-04-20 08:28] OlegHahm commented on #2642
Fixed with #2831.

[2015-04-20 08:28] #2642 closed

[2015-04-20 11:06] joriwind opened #2834 "socket_base_sendto function doesn't return the same length as the input message"
Hi,

When sending an message, using the socket_base_sendto function, the function returns a greater value of bytes send than the size of the message.

You can see the difference when using the rpl_udp example if you modify the printf on line /RIOT/examples/rpl_udp/udp.c:150 to:
printf("Successful deliverd %i bytes (message was %i bytes) over UDP to %s to 6LoWPAN\n", bytes_sent,strlen(argv[2]), ipv

[2015-04-21 06:47] OlegHahm commented on #2137
Updated numbers:

- [ ] 23 warnings in `boards`
- [ ] 4 warnings in `core`
- [ ] 41 warnings in `cpu`
- [ ] 21 warnings in `drivers`
- [ ] 26 warnings in `sys/net`
- [ ] 14 warnings in the rest of `sys`

[2015-04-21 07:56] OlegHahm opened #2838 "Doxygen: Order of modules is arbitrary"
The order of the modules on  http://doc.riot-os.org/modules.html is pretty arbitrary (check for instance http://doc.riot-os.org/group__net.html). Looking at doxygen configuration and documentation. There are basically two ways to deal with that:
1. Set `SORT_GROUP_NAMES` to `YES` and let doxygen order stuff alphabetically.
2. Create all groups at central point (directly after `doc/doxygen/mainpage

[2015-04-21 08:22] OlegHahm commented on #2137
#2837 fixes `core`.

[2015-04-21 08:41] x3ro opened #2840 "Failing `ng_netreg_getnext` unit test"
I've been seeing this one fail a couple of times and wanted to inquire whether or not a fix is one the way :smile: Happens to me on current `HEAD` (0d45479)

    netreg_tests.test_netreg_getnext__2_entries (/home/lucas/RIOT/tests/unittests/tests-netreg/tests-netreg.c 150) ng_netreg_getnext(entry) was null.

(Took the liberty of assigning Martine, hope that's okay)

[2015-04-21 08:49] authmillenon commented on #2840
I've never encountered this, but will test.

[2015-04-21 08:52] authmillenon commented on #2840
[code]

I've got no error here.

[2015-04-21 08:52] x3ro commented on #2840
Doesn't seem to occur when building with clang (3.5.0-4ubuntu2), but does occur when building with `gcc version 4.9.1 (Ubuntu 4.9.1-16ubuntu6)`.

[2015-04-21 08:54] authmillenon commented on #2840
Okay, I've got `gcc (Ubuntu 4.8.2-19ubuntu1) 4.8.2`

[2015-04-21 08:57] x3ro commented on #2840
Checked and doesn't happen with `gcc 4.8.3-12ubuntu3`. So far only 4.9 seems to be affected.

[2015-04-21 08:58] authmillenon commented on #2840
Can you step through with gdb in your version and see what happens?

[code]

should be the most interesting (maybe step into `ng_netreg_lookup()` and `ng_netreg_getnext()` afterwards to see what `getnext` does)

[2015-04-21 09:08] x3ro commented on #2840
## Take 1

    Breakpoint 1, test_netreg_getnext__2_entries () at /home/lucas/RIOT/tests/unittests/tests-netreg/tests-netreg.c:146
    146     ng_netreg_entry_t *entry = NULL;
    (gdb) print netreg
    $1 = {0x0, 0x0}
    (gdb) n
    148     test_netreg_num__2_entries();
    (gdb) n
    149     TEST_ASSERT_NOT_NULL((entry = ng_netreg_lookup(NG_NETTYPE_TEST, TEST_UINT16)));
    (gdb) print netreg

[2015-04-21 09:16] authmillenon commented on #2840
Can you do Take 1 again, this time print `netreg[NG_NETTYPE_TEST]->next`, `netreg[NG_NETTYPE_TEST]->next->next`, … (until it hits `NULL`) before calling `ng_netreg_lookup(NG_NETTYPE_TEST, TEST_UINT16)` and after? (optionally step in, if something changes).

If nothing changes, please have a closer look at `test_netreg_num__2_entries()`...

[2015-04-21 09:26] x3ro commented on #2840
Like this?

[code]

[2015-04-21 09:26] authmillenon commented on #2840
Ahhhhhh I think know what happens …

[2015-04-21 09:28] authmillenon commented on #2840
(The stack gets overwritten)

[2015-04-21 09:36] authmillenon commented on #2840
@x3ro Can you test if it still fails with #2841?

[2015-04-21 10:54] x3ro commented on #2840
Fixed by #2841

[2015-04-21 11:00] authmillenon commented on #2840
Is not merged yet.

[2015-04-21 12:29] josephnoir commented on #2360
Should be fixed with #2811.

[2015-04-21 12:29] #2360 closed

[2015-04-21 15:34] #2840 closed

[2015-04-22 13:42] OlegHahm opened #2851 "msg: Allocating the message queue"
Follow up to this discussion: https://github.com/RIOT-OS/RIOT/pull/2454/files#r28869027

If a thread uses a [message queue](http://doc.riot-os.org/group__core__msg.html#ga90d8645ba6c1eca6ace05e369b07ce5b) for incoming messages it has to allocate the memory for this queue somewhere. I always used a global static array for this purpose, but just realized that several modules (mostly of the network s

[2015-04-22 13:54] kaspar030 commented on #2851
IMHO allocating anything larger than <verysmall> should not be allocated on the stack. So in general that applies for message queues.

+1 for declaring definition of message queues on the stack for bad practice.

[2015-04-22 14:08] Kijewski commented on #2851
Nb. I think that it would be more sane if the message queue would get allocated in `thread_create()`, but I daresay that you don't want to add further arguments to `thread_create()` … :)

[2015-04-22 15:01] OlegHahm opened #2853 "ng_pktbuf: documentation is confusing"
I just tried to understand what happens if I call `ng_pktbuf_add()` when passing the payload of a L2 frame as a first argument. However, the doxygen (particular from [line 72](https://github.com/RIOT-OS/RIOT/blob/master/sys/include/net/ng_pktbuf.h#L72) to 91) are pretty confusing to me. I do not even understand what `result` is referring to.

[2015-04-22 15:34] authmillenon commented on #2853
The result is the return value. What else is confusing to you? I tried to be as verbose (but not *too* verbose) as possible in the documentation.

[2015-04-22 15:51] OlegHahm commented on #2853
Aha, that already helps a lot, now the former rather cryptic `ng_pktsnip_t::next of result = pkt->next` makes sense. Maybe that's obvious for some people (apparently not for me), but I think we should make this explicit: The return value of this function is a `ng_pktsnip_t` struct referred to as `result`.

I also do not quite understand the graphic.

All in all, I understand you correctly: when yo

[2015-04-22 15:54] authmillenon commented on #2853
the extra conditions and not the fact that a given pktsnip_t is passed are what indicate that it is receiving (otherwise it is assumed as sending), but if you meant that, you are correct.

The result.

[2015-04-22 15:55] authmillenon commented on #2853
Maybe I can help to make things clearer.

[2015-04-22 17:07] authmillenon commented on #2853
See #2854

[2015-04-22 20:36] authmillenon commented on #2851
larger than what?

[2015-04-22 20:44] OlegHahm commented on #2851
The notification mails said:
`IMHO allocating anything larger than <verysmall> should not be allocated on the stack. So in general that applies for message queues.`

[2015-04-22 21:14] authmillenon commented on #2851
Okay, added the backslashes (md interprets `<bla>`s as HTML tags)

[2015-04-22 22:43] #2853 closed

[2015-04-23 02:12] phiros commented on #2838
I think using the alphabetical ordering is a good idea for now. The other option would essentially add yet another file that has to be edited when adding / changing a module.

[2015-04-23 06:05] OlegHahm commented on #2838
...ad could lead to discussion about the "best" ordering. I tend to agree.

[2015-04-23 06:58] x3ro commented on #2838
Completely agree.

[2015-04-23 07:12] OlegHahm commented on #2838
And here we go: #2859.

[2015-04-23 07:20] OlegHahm opened #2860 "ng_pktbuf: about pktbuf_start_write"
While reviewing the initial [IPv6 import](#2454) I came several times across the function [ng_pktbuf_start_write](https://github.com/RIOT-OS/RIOT/blob/master/sys/include/net/ng_pktbuf.h#L173). After thinking (admittedly short) about this function I have two questions:
1. Basically the pktbuf works on semaphores. While `_release()` and `_hold()` are pretty self-explanatory function names in this co

[2015-04-23 07:56] authmillenon commented on #2860
Since this function was originally @haukepetersen's idea I reassign.

[2015-04-23 09:22] OlegHahm opened #2861 "wiki: add a page with best programming practices"
Content so far could be:
 * http://www.codeproject.com/Articles/840499/RIOT-Tutorial#Understanding%20RIOT (paragraph "Best Practice for RIOT Programming")
 * https://github.com/RIOT-OS/RIOT/issues/2851
 * https://github.com/RIOT-OS/RIOT/pull/2614#discussion_r28941692

[2015-04-23 17:12] haukepetersen opened #2863 "cpu: syscall implementation seem to have trouble if uart0 is not enabled"
I observed the same behavior now on different boards (e.g. 'airfy-beacon' or 'iot-lab_M3'): Applications using the shell are running fine if  the `uart0` module is enabled (is in the default app). But when running an application using the shell without `uart0` by reading input chars directly via the clibs `getchar()`, the boards do not react.

Now interestingly, one you put a short output in the `

[2015-04-24 06:56] PeterKietzmann commented on #2863
Hope to look at it soon

[2015-04-24 07:15] kaspar030 commented on #2863
@PeterKietzmann Maybe this is a good opportunity to work on top of #2852 as it unifies ```syscalls.c```?

[2015-04-24 07:29] PeterKietzmann commented on #2863
Good point! Will use it then

[2015-04-24 11:14] emmanuelsearch commented on #2128
I updated the I just updated the FAQ on the topic "why LGPL". Does it address the concerns?
https://github.com/RIOT-OS/RIOT/wiki/FAQ

[2015-04-24 14:09] aeruder commented on #2128
The FAQ is fine but the technical guide linked from the FAQ is perfect.

[2015-04-24 14:09] #2128 closed

[2015-04-24 14:31] emmanuelsearch commented on #2270
@cgundogan what's the status on this? Can we close this issue?

[2015-04-24 19:56] emmanuelsearch commented on #2128
@aeruder just to make sure: you are saying that the technical guide [1] is appropriate, right?
(I'm confused because of the "but" in your comment ;)
Else, if the technical guide is not appropriate in your opinion, can you elaborate?

[1] https://github.com/RIOT-OS/RIOT/wiki/LGPL-compliancy-guide

[2015-04-24 20:34] khawajamechatronics commented on #1588
Hi,
I finally recieved STM32F1 board. Can you please just guide me how to get started with this board so I can test this patch.
Thanks

[2015-04-25 07:31] LudwigOrtmann commented on #1588
@khawajamechatronics STM32F1 is a CPU, which board are you referring to?

[2015-04-25 10:56] PeterKietzmann commented on #1588
@khawajamechatronics do you mean something like this [getting started](https://github.com/RIOT-OS/RIOT/wiki/Getting-started-with-STM32F%5B0|3|4%5Ddiscovery-boards)?

[2015-04-25 14:32] khawajamechatronics commented on #1588
@LudwigOrtmann I am using STM32F1 Discovery Board(STM32VL Discovery).
@PeterKietzmann Yes, as there is NO Stm32f1discovery board folder in RIOT.

[2015-04-25 14:41] PeterKietzmann commented on #1588
@khawajamechatronics we currently support some boards including the stm32f1 cpu but we never portetd RIOT to a stm32f1discovery board. Would this also be interesting to you :-) ? All drivers should be usable, it's mostly about the peripheral configuration.

[2015-04-25 15:31] khawajamechatronics commented on #1588
@PeterKietzmann Yes, this is fun. I also have STM32F0, STM32F4 Discovery,
I am also working on STM32F4, I would like to first understand complete working of RIOT and then go for implmentation of CAF.

[2015-04-25 15:32] khawajamechatronics commented on #1588
Just guide me how to proceed.

[2015-04-26 13:46] phiros commented on #2838
Fixed in -> #2859

[2015-04-26 13:46] #2838 closed

[2015-04-27 10:26] katezilla commented on #1588
Hi,
this might help you to port your board: https://github.com/RIOT-OS/RIOT/wiki/Porting-Guide
You can skip the CPU part, since it is already supported but you will have to set it in the MAKEFILE.include.

[2015-04-27 19:21] aeruder commented on #2128
Sorry for the confusion.  Yes, the compliancy guide is good.

[2015-04-28 11:33] BytesGalore opened #2876 "drivers/at86rf231 (the old one): subsequent sending packets deadlocks the driver/device"
When sending a number of subsequent packets, the driver/device seem to deadlock in its internal state-machine.
The problem appears  on `iot-lab_M3` nodes for instance when sending packets that need to be fragmented [1]. This way at least 2 subsequent packets are prepared to be sent deadlocking the driver/device.
It also happens if no fragmentation is needed but a number of packets are sent subsequ

[2015-04-28 17:06] phiros commented on #2479
@authmillenon have you seen any of those issues in the past month?
If not I'd like to close this as a Memo.

[2015-04-28 17:13] phiros commented on #1652
#1648 fixed this (by not building libfixmath on Travis).
Could be relevant for other CI systems as well -> memo

[2015-04-28 17:13] #1652 closed

[2015-04-28 17:18] authmillenon commented on #2479
Not that I know of.

[2015-04-28 17:34] #2479 closed

[2015-04-28 22:48] haukepetersen commented on #2832
as far as I know this is a known issue: the vtimer in the current state can only handle 32-bit hwtimers (it is even broken when you use `TIMER_0` on the nrf...). But a new timer is in progress - just a matter of days.

[2015-04-28 23:15] haukepetersen commented on #712
I absolutely agree with @Kijewski, that we should find a general solution for the problem of redirecting stdio instead of just focusing on the shell. For a mid-term solution: how about we remove the `get_char` and `put_char` parameters from the shell for now (and use `getchar()` and `printf/puts` directly in the shell)? And for the long-term we need to think of a way to generally handle the underl

[2015-04-29 06:56] bapclenet commented on #2876
Yeah, those are well-know issues. The at86rf2xx driver has been merged yesterday, you can find a example/test in tests/driver_at86rf2xx. You should use the new one from now.
Let us know if you observe the same behaviour with new driver.

[2015-04-29 07:40] kaspar030 commented on #712
I agree with @Kijewski too, but not all platforms do actually have file descriptors / working get/putchar implementations.

But I agree that the problem lies with those platforms and shell should just use getchar/putchar.

[2015-04-29 07:51] gebart commented on #712
@haukepetersen @kaspar030 the Kinetis platforms contain a basic implementation of the device IO table described at http://neptune.billgatliff.com/newlib.html2 which uses a look up table to redirect different IO operations to the proper device driver function based on the file descriptor. This could be adapted to improve the generic syscall implementation.

[2015-04-29 14:25] bapclenet opened #2887 "ng_netif: Erase addr while checking the length"
In ``sys/net/crosslayer/ng_netif/ng_netif_addr_from_str.c``, function ``size_t ng_netif_addr_from_str(uint8_t *out, size_t out_len, char *str)``
By rewriting the address with``*str = '\0';`` each time ``(*str == ':') || (*str == '\0')``, the address is changed then.

Ex:
addr = "18:18"
After the function, addr = "18"

If we want to use the same address as the previous one, it won't work as it has

[2015-04-29 15:12] authmillenon commented on #2887
I don't understand the problem. Can you rephrase please?

[2015-04-29 15:14] authmillenon commented on #2887
Ah now I get it…

no: I would prefer to keep this function as slim as possible. If you need the string afterwards you have to put them in a temporary variable before-hand yourself.

[2015-04-29 15:15] bapclenet commented on #2887
Yep, what I did afterwards. Sorry for the disruption

[2015-04-29 15:15] #2887 closed

[2015-04-29 15:30] Kijewski commented on #2887
Wouldn't it make more sense to fix the function? (untested)
[code]

[2015-04-29 15:49] authmillenon commented on #2887
Go on, open a PR and we will see ;-)

[2015-04-29 16:15] saleemrazam opened #2888 "How to implement 6lowpan with MSB-A2 temperature sensor nodes?"

[2015-04-29 16:21] Kijewski commented on #2887
→ #2889

[2015-04-29 17:05] OlegHahm commented on #712
Seems to be a wontfix then. Anyone disagrees?

[2015-04-29 17:07] haukepetersen commented on #712
nope

[2015-04-29 17:09] OlegHahm commented on #2888
You basically need an application that includes the following modules:
* defaulttransceiver
* sixlowpan (or udp)
* sht11

The [Wiki](https://github.com/RIOT-OS/RIOT/wiki) includes basic documentation how to set things up, particular [this how-to](https://github.com/RIOT-OS/RIOT/wiki/Creating-your-first-RIOT-project) should contain the most relevant information for you how to get started.

[2015-04-29 17:09] #2888 closed

[2015-04-30 08:38] saleemrazam commented on #2888
Thanks OlegHahm.... But there is also an example application in the Examples folder that i have downloaded from the gihub and installed on my ubuntu desktop, i can run the other applications like default, hello-world etc but how can i atcually run that sixlowapp from there..

[2015-04-30 09:02] OlegHahm commented on #2888
You mean https://github.com/RIOT-OS/applications/tree/master/sixlowapp?

[2015-04-30 09:52] x3ro opened #2894 "BOARD_INSUFFICIENT_RAM not respected when building with "make all""
When trying to reproduce build issues on Travis, I built the respective boards inside docker and noticed that they were failed because of RAM overflow. After adding the boards to the `BOARD_INSUFFICIENT_RAM` variable of the unittests makefile, the still occurred when building with `make all`, since `RIOTNOLINK` only seems to be set when running `make buildtest`.

[2015-04-30 13:26] Kijewski commented on #2894
When you explicitly supply a BOARD= override, then the project should be built. Maybe an error should be printed as in FEATURES_REQUIRED.

[2015-04-30 17:35] LudwigOrtmann commented on #712
nay

[2015-05-01 07:57] #712 closed

[2015-05-01 08:26] kaspar030 opened #2900 "netif auto-initialization suboptimal"
Hauke, I'm sorry, but I see flaws in the new network stack auto initialization.

You basically put network stack initialization into the boards's directory.
Already you can see that every now supported board has basically the same ```auto_init_ng_netif()``` function, only differing in the actual driver initialization function call.

This will lead to massive code duplication.
Just check the diff b

[2015-05-01 08:38] kaspar030 commented on #2900
I'll PR a proposal.

[2015-05-01 08:49] LudwigOrtmann commented on #2894
`s/error/warning`

[2015-05-04 11:06] saleemrazam commented on #2888
yes,,  i mean this,,, I am trying to flash sixlowapp but it says make: *** No rule to make target `/home/saleemrazam/RIOT/applications/sixlowapp/../../RIOT/Makefile.include'.  Stop.

[2015-05-04 12:01] OlegHahm commented on #2888
Then the path is wrong. The `applications` repository expects to be located at the same folder level as `RIOT` itself. It seems that you checked out `applications` inside `RIOT`. In this case you need to remove change `RIOTBASE ?= $(CURDIR)/../../RIOT` to `RIOTBASE ?= $(CURDIR)/../..`.

[2015-05-04 12:45] saleemrazam commented on #2888
solved,,,,,,,,,,,,,,, lots of thanks..

 cheers

[2015-05-04 22:31] sgso opened #2914 "ng_ipv6: debug statements broken"
There are a bunch of leftover variables in ng_ipv6.c (`i` and `ifs`)

[2015-05-05 08:59] daniel-k opened #2916 "RTT API inconsistency"
I'm in the works of implementing a RTT driver for SAMD21 (samr21-xpro board). After studying the [API](http://riot-os.org/api/group__driver__periph__rtt.html) I found a little naming inconsistency.

There is
[code]
to set an alarm which is essentially a COMPARE event.

But the API proposes

[code]
for setting an overflow callback. For my given hardware there are even both events, COMPARE and OVERF

[2015-05-05 09:04] daniel-k commented on #2916
Oh damn it. Nevermind! I really need to pay more attention before opening issues. Obviously
[code]
takes the callback as an argument. I'm closing this now.

[2015-05-05 09:04] #2916 closed

[2015-05-05 10:48] moenad opened #2917 "Not being able to flash any binary file to nrf51822 using STLink-v2"
It's not an issue specific to RIOT OS, it's more an issue with openOCD and STLink-v2.

I was interested in trying RIOT OS, before trying to flash it on my nrf51822 module I was trying an example from Nordic, I concatenated the bin file with the s110 file and it worked fine. Now, when I went ahead to flash the bin file, here's what I got (I followed the wiki http://github.com/RIOT-OS/RIOT/wiki/Boar

[2015-05-05 19:42] bapclenet opened #2919 "at86rf2xx: driver receives interrupts for every message"
Concerning the driver at86rf2xx, I don't know if it is an issue or not but the driver module (at86rf2xx) receives an interrupt from the transceiver every single message even if the message is not addressed to the board.
(to see it, enable debug in ng_at86rf2xx_netdev.c, see ``[ng_at86rf2xx] EVT - RX_START`` many times)

I though that the transceiver was able to deal with messages that are not addr

[2015-05-05 20:02] bapclenet commented on #2919
By the way, why do we receive 4 ``[ng_at86rf2xx] EVT - RX_START`` for each message?

[2015-05-05 20:11] OlegHahm commented on #2919
IIRC what @haukepetersen said the transceiver retransmit unicast packets up to four times if no ACK is received.

[2015-05-05 20:29] OlegHahm commented on #2919
Looking at the datasheet I think we should disable `IRQ_2` (`RX_START`) and only activate `IRQ_3` (`RX_END`) in normal operation. Since `IRQ_2` is fired as soon as the SFD is received, address recognition is not feasible at this point.

[2015-05-05 20:55] OlegHahm commented on #2919
Can you check with #2920?

[2015-05-06 06:51] bapclenet commented on #2919
Great! I think it's a very good idea. The software doesn't need to be waking up as soon as a message is received (if it's not for it)

[2015-05-06 07:15] gebart opened #2921 "Q: How to use buildtest and build size Makefile targets?"
I was wondering if there is a wiki article or README file somewhere in the repo documenting how to use the Makefile targets that generate size comparisons between two builds.

I have seen the results in some mailing list posts and in some PRs but never actually figured out how to do it myself.

[2015-05-06 07:22] OlegHahm commented on #2921
There is a link on the [Wiki start page](https://github.com/RIOT-OS/RIOT/wiki) called "Comparing build sizes" to the explanation that @Kijewski gave in his initial [PR](https://github.com/RIOT-OS/RIOT/pull/1033).

[2015-05-06 07:26] gebart commented on #2921
Thank you, I'll close this now.

[2015-05-06 07:26] #2921 closed

[2015-05-06 09:32] authmillenon commented on #2914
See #2922 for fix.

[2015-05-06 12:35] bapclenet opened #2924 "API: Driver RTT - frequency"
I'm wondering if RTT driver should include a param for frequency? Otherwise each board defines is own  speed. Should we include a param frequency in ``rtt_init()`` or should the board define this param by itself (as it is now)?

In my mind, I think that a Real Time Timer has to run at 1Hz by default.

[2015-05-06 13:21] kaspar030 commented on #2924
I wonder how much the rtt API will end up different from the timer API. Maybe we can unify them? The basic interface of an RTT will be "initialize", "get current counter value" and "set an alarm callback at value X", which is exactly what a timer does...

[2015-05-06 13:22] haukepetersen commented on #2924
Disagree. It should be up to the platform to define this speed (as not every board is able to run the RTT with exactly 1Hz). In my opinion it should be then up to a more high-level timer module to map the corresponding timer/RTT speeds to physical values.

[2015-05-06 15:49] bapclenet commented on #2924
Thanks for the answer
Ok @haukepetersen, let's say that each RTT defines its speed as the API is already

The problem:
But what could be a default value? (for the samr21 RTT for instance)

[2015-05-07 06:06] PeterKietzmann commented on #2917
@moenad sorry I currently don't have time for a detailed test. I've still never used the nrf51822 even if I bought some. Maybe @mehlis or @haukepetersen have an idea? @jhollister did you already use the device? Any ideas? I don't think that I have time until after next week. Sorry..

[2015-05-07 10:08] bapclenet commented on #2919
#2920 solved the problem, I close the issue

[2015-05-07 10:08] #2919 closed

[2015-05-07 10:30] haukepetersen commented on #2917
Not sure what the problem is. When I call `flash banks` on one of my working nrf51822 devices, i get
[code]
so a wrong? size output seems to be normal...
After calling the `mass_erase`, I get
[code]
so same as your output.

Just for info, I am using
[code]

Now to your problem: Are you trying to flash RIOT in parallel to the S110 soft device? Or are you flashing RIOT 'stand-alone' to flash address

[2015-05-07 10:31] haukepetersen commented on #2924
as default value 1Hz seems fine to me.

[2015-05-07 10:54] kaspar030 commented on #2924
Well, if we use 1hz as default, and use RTTs to go to very low power modes, then the granularity of those switches will be one second. Do you think that is enough?

[2015-05-07 11:29] moenad commented on #2917
I'm using this version Open On-Chip Debugger 0.9.0-dev-g2d4ae3f (2015-04-19-20:54)

[code]
You should halt first with the command `halt` but it's fine, it shouldn't be an issue.

About my main post, I wasn't flash a RIOT example back then, I was trying it on a bin file provided by nordic in the NRF51822 SDK(v6). Anyway I tried flashing the Hello World example from RIOT and here's what I got:

[cod

[2015-05-07 14:29] gebart opened #2927 "core: Automatically select the lowest possible LPM mode"
We have currently the following logical power modes in RIOT:

| Mode | Comment |
| --- | --- |
| LPM_ON | MCU is active. |
| LPM_IDLE | MCU is idle. |
| LPM_SLEEP | MCU in sleep mode. |
| LPM_POWERDOWN | MCU is powered down. |
| LPM_OFF | MCU is off. |
| LPM_UNKNOWN | status unknown/unavailable |

Currently, LPM_IDLE is activated when the idle thread is scheduled to run. This makes sense logically

[2015-05-07 17:58] bapclenet commented on #2924
4Hz should be fine then?
Anyway, people will change it in the driver if they want to...

[2015-05-08 06:23] PeterKietzmann commented on #2927
I don't have detailed comments atm but I like your proposal in general and definitely see the need to spend some more work in this topic. Hope to do some thoughts in the after next week

[2015-05-08 12:27] kaspar030 opened #2931 "DEVELHELP clumsy, why not use assert()?"
While reading in on the discussion on whether to check for parameter validity, I remembered assert.

Why don't we use that? It is ANSI C, it optimizes out cleanly, it is only one small line per check...

e.g.

<pre>
#include <assert.h>

int function(char*buf, int len)
{
    assert(len>minlen);

// blah
}
</pre>

[2015-05-08 12:41] OlegHahm commented on #2931
Sounds good. In a discussion with @mfrey recently I wondered why we were not using assert(), but then forgot it again.

[2015-05-08 12:47] kaspar030 commented on #2931
I talked to Hauke about this.
One drawback is that errors are just detected, and cannot be acted upon.

But then again, IMHO we cannot afford to check all return codes for all the little setters and getters we have anyways.

[2015-05-08 12:53] OlegHahm commented on #2931
There's no reason to replace all `DEVELHELP` occurrences with `assert`, but in many places (like the discussed length parameter check) it satisfies our needs. In many cases you cannot really act in a sensible manner upon an error any way on deeply embedded systems apart from restarting.

[2015-05-08 13:28] bapclenet commented on #2924
I close this and people will choose according to the board possibilities.

[2015-05-08 13:28] #2924 closed

[2015-05-08 13:49] RIOT-notifier commented on #2931
I remember that I worked with assert a while back, but there were some
problems (I think it was that msp430 and avr don't include it into their
respective libcs).

[2015-05-08 13:50] kaspar030 commented on #2931
We could add the header for those platforms. The actual definition can be *very* short.

[2015-05-08 13:59] haukepetersen commented on #2931
+1 (and I think that was exactly the idea here).

For implementing this, I think I would tend to create a RIOT specific assert header with an `ASSERT()` define, and map this then to the clibs assert. On platforms, where assert is not availble in the clib, we can then just implement our own thing...

[2015-05-08 14:09] OlegHahm commented on #2931
Do you think that's necessary? In the it just needs some way to print and call `abort()` (which can be easily mapped to `core_crash()`). The missing definition for MSP430 was merged some time ago IIRC.

[2015-05-08 14:13] haukepetersen commented on #2931
I have no idea. But in the end I do not care how we implement it...

[2015-05-08 14:19] kaspar030 commented on #2931
I propose, we add "assert.h" includes to the cpu directories that need it, and those just include "riot_assert.h". For the other platforms, we go with the libc version.

riot_assert.h static inline defines assert() to what the libc implementations do: print something like "assert failed in __func__ __LINE__ ...".

[2015-05-08 14:21] kaspar030 commented on #2931
If we make it crash, we cannot see how the failed assert actually crashes the system, and also the system would behave differently depending on asserts being enabled (compiled without NDEBUG).

[2015-05-08 14:22] haukepetersen commented on #2917
Hm, I use actually the same type of ST-LINK adapter (with another shiny color :-) ). So far I have 5 of them in use and all of them worked...

Calling 'st-util', I get similar output as you do:
[code]

Besides that, I can't really tell what the problem is here... My next tip would be to try a different ST-Link adapter (one reason to always buy more than one of the cheap China stuff), to check if t

[2015-05-08 14:26] kaspar030 commented on #2931
ah, on native, assert crashes.

[2015-05-08 14:27] kaspar030 commented on #2931
and newlib calls "exit(1)", reseting the board.

[2015-05-08 15:05] OlegHahm commented on #2931
Sorry, I meant `core_panic()`.

[2015-05-08 16:56] moenad commented on #2917
Oh I see... strange. Could it be from the nrf51822 module I have? I got these http://wireless-tag.com/products/bluetooth-module/nrf51822-02.aspx

Anyway, I ordered the original NRF51-DK and an STM32F0 Discovery board, I'll try it when I get them.

[2015-05-09 06:41] gebart commented on #2660
Since the original poster has not responded for a long time and the toolchain is not the recommended one I will now close this issue.

[2015-05-09 06:41] #2660 closed

[2015-05-09 16:57] d00616 commented on #2927
Your plan looks good.

I have additional ideas:
The power management needs also to switch between an low latency mode and low power mode. This is provided by hardware on NRF51 platform. I think its an good idea to inform the driver about this mode to manage things.
Allow an driver to switch off the hardware like UART or SPI master when this is only triggered by MCU and not by external events.

[2015-05-09 17:57] #2914 closed

[2015-05-10 08:27] gebart opened #2956 "stm32f334x8.h missing a closing Doxygen brace"
I saw that the file stm32f334x8.h seem to be missing a closing brace somewhere in its Doxygen comments, the initial `@addtogroup ... @{` does not have a matching closing brace. This issue is just a reminder, I don't have the desire to start going through that file in search of the missing brace.

[2015-05-10 08:34] OlegHahm commented on #2956
Are we parsing the file or is it excluded in the doxygen configuration?

[2015-05-10 12:23] authmillenon opened #2961 "ng_at86rf2xx: Source address of IPv6 packets get overwritten"
Here is a strange bug: after fixing #2959 the source address of an ICMPv6 echo request gets overwritten *after* it was copied into the transmission buffer of the `ng_at86rf2xx` (checked it with GDB).

I compiled `tests/driver_at86rf2xx` with `ng_icmpv6_echo` and `ng_sixlowpan_frag` on branch iotlab_tmp2 in @OlegHahm (commit https://github.com/OlegHahm/RIOT/commit/3b41d70f520e04e64bf974ef72ca5fa229

[2015-05-10 12:28] authmillenon commented on #2961
I observed this on both `samr21-xpro` and `iot-lab_M3`

[2015-05-10 17:58] OlegHahm opened #2962 "at8r6rf231/iot-lab_M3: long address is not unique"
Using the [at86rf2xx test application](https://github.com/RIOT-OS/RIOT/tree/master/tests/driver_at86rf2xx) results in identical long hardware address: `32:ff:dd:05:33:48:32:36` at least on iot-lab_m3. The short address seems to be okay.

[2015-05-11 05:45] OlegHahm opened #2965 "nameless stack: possible duplicate entries"
In several places in the new, nameless network stack arrays are used to manage lists of information such as IPv6 addresses for a given interface. Whenever an entry is removed from this list, it may happen that the list gets holey. However, the current implementation of the add functions usually only look for the first unused entry. This may lead to duplicate entries in the list.

Example:
List is:

[2015-05-11 08:39] biboc opened #2967 "Makefile.features: location is not relevant for all features"
In #2918, we've observed that the features written in board/XXX/Makefile.features is not always related to the board but mainly to the cpu.
I think that two Makefile.features should exist. For instance, `boards/samr21-xpro/Makefile.features` and `cpu/samd21/Makefile.features`

Most of those features (below) depends on the cpu and not the board.
`FEATURES_PROVIDED += transceiver`
`FEATURES_PROVIDED

[2015-05-11 17:45] Kijewski commented on #2967
[Makefile.buildtests:225](https://github.com/RIOT-OS/RIOT/blob/2682c38ee87f8f093693894757339a0a099adf76/Makefile.buildtests#L225) and [Makefile.include:287](https://github.com/RIOT-OS/RIOT/blob/2682c38ee87f8f093693894757339a0a099adf76/Makefile.include#L287) are the relevant lines that pull in `$(RIOTBOARD)/$(BOARD)/Makefile.features`. :+1: for adding `$(RIOTCPU)/$(CPU)/Makefile.features`.

[2015-05-11 18:22] cgundogan commented on #2965
Makes sense.
What would be a good solution regarding this problem in your opinion? Simply iterating over all entries in the array to check for the appropriate ip address? And cache the first empty position encountered to use it in case it is not contained?

[2015-05-11 19:08] authmillenon commented on #2965
This might be the best solution. Filling the holes on deletion, might lead to problems, since I keep the pointers to both the `ng_ipv6_nc_t` and `ng_ipv6_netif_t` entries in timeout timers in the neighbor discovery e.g. Moving the contents around might break stuff in these cases.

[2015-05-11 19:22] cgundogan commented on #2965
+1 Yes, I am also against moving data around to fill gaps. I would claim that in the typical IoT scenario IP addresses wouldn't be added or deleted that often

[2015-05-12 06:34] bapclenet commented on #2967
Ok great! :-)

[2015-05-12 07:13] PeterKietzmann commented on #1588
@khawajamechatronics was the porting guide helpful?

[2015-05-12 12:07] cgundogan opened #2971 "Module `ng_icmpv6` and `ng_icmpv6_echo`"
What is the purpose of defining these two modules in `Makefile.dep`? They both include `ng_ipv6`, which again includes `ng_icmpv6`. Smells like a circular dependency.. couldn't we just drop them and use `ng_ipv6` instead?

[2015-05-12 12:16] authmillenon commented on #2971
`ng_ipv6` and `ng_icmpv6` have a circular dependency. ICMPv6 without IPv6 does not make any sense and IPv6 needs ICMPv6 to function properly (though it is totally fine without it too). But I fail to see why this is a problem. `ng_icmpv6_echo` is only dependent on `ng_icmpv6` not vice versa so there is no circular dependency.

[2015-05-12 12:21] cgundogan commented on #2971
Right. Am I wrong assuming then that `ng_ipv6` and `ng_icmpv6` are module-wise completely equivalent, because they both have the same (transitive) dependencies?
Why would anyone use `ng_icmpv6` in their Makefile, when `ng_ipv6` also includes the same deps?

[2015-05-12 12:22] authmillenon commented on #2971
I don't know. Some users do weird stuff ;)

[2015-05-12 12:23] gebart opened #2972 "Cortex-M4: Stack alignment"
I'm hitting a bug where Clang assumes that the stack upon function entry is 8 byte aligned. GCC does not trigger the broken behaviour.

The following code exists in auto_init.c:
[code]

Clang compiles this to:

[code]

which makes the second memcpy actually copy to `eui64.uint32[0]` instead of `eui64.uint32[1]`

All stack manipulation inside the function is aligned in a way that eui64 is aligned t

[2015-05-12 12:23] cgundogan commented on #2971
Therefore, I started this discussion... to prohibit weird stuff by not allowing it in the first place? (:

[2015-05-12 12:40] authmillenon commented on #2971
How do you want to disallow (mechanically, not conventionally, because rules by convention can be broken easily ;)) this, so a new user would know it is not allowed?

[2015-05-12 12:54] kaspar030 commented on #2971
Why not keep the dependencies as they are (icmpv6 requires ipv6 but not the other way around), and create a pseudo-module for the whole stack, which in turn depends on what 99% of the users will want?

That way users could either USEMODULE += ipv6_full, or hand-pick their components. Keeps most of our Makefiles shorter, too.

[2015-05-12 12:56] authmillenon commented on #2971
Sounds good. Will open a PR tomorrow.

[2015-05-12 12:59] kaspar030 commented on #2971
or maybe ipv6_default isntead of ipv6_full. Same for sixlowpan + sixlowpan_default (the first depending on ipv6, the latter depending on ipv6_default)?

[2015-05-12 13:08] OlegHahm commented on #2971
That could also solve #2947.

[2015-05-12 13:08] gebart commented on #2972
After some more digging it seems like after the return from isr_svc the stack pointer is always aligned on a non-8 byte aligned 4 byte alignment (4 or c as the last digit of the address)

[2015-05-12 14:51] Kijewski commented on #2967
I found a problem with this solution: In Makefile.buildtests we don't know the CPU of a BOARD. So the BOARD's Makefile.features would need to CPU's Makefile.features. Does someone see a problem with that solution?

[2015-05-12 17:59] Lotterleben commented on #2965
Just wondering, would it make sense to keep a list of the instances where this occurs in this issue so we have a nice overview and also kind of a “to do” list?

[2015-05-12 18:13] authmillenon commented on #2965
Added to the top-message

[2015-05-12 18:18] OlegHahm commented on #2965
:+1:

[2015-05-13 07:46] gebart commented on #2972
Found the bug in the initial stacked xPSR when creating a thread, PR #2976 fixes it.

[2015-05-13 09:48] haukepetersen commented on #2962
Do we actually now, that the CPUID driver is working correctly on the iot-lab_M3 nodes?
I have just one board here, the ID is
[code]
Could someone post some more IDs to verify that they are actually unique?

[2015-05-13 09:54] haukepetersen commented on #2962
never mind, that is not the problem...

[2015-05-13 22:25] PeterKietzmann commented on #2876
@BytesGalore now we have this issue formulated for the archive, thanks for that. After spending some more time on the old and new network-stack I really think that nobody is going to spend further work on the old stack and therefore on the old driver implementation. So I'll close this issue. Re-open if you don't agree :-)

[2015-05-13 22:25] #2876 closed

[2015-05-15 18:08] cgundogan opened #2986 "ng_ipv6/nc: ng_ipv6_nc_get_reachable() does not exist"
`ng_ipv6_nc_get_reachable()` is called in [ng_ipv6.c#L449](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/network_layer/ng_ipv6/ng_ipv6.c#L449),
but this function was never defined. This results in a compiler error.

[2015-05-15 18:14] authmillenon commented on #2986
Oh I replaced this in #2908 and forgot to replace it, since I always tested it with #2910 directly. Will fix.

[2015-05-15 18:20] authmillenon commented on #2986
See #2987.

[2015-05-15 19:13] #2986 closed

[2015-05-15 19:32] authmillenon opened #2988 "ng_inet_csum: incorrect checksum calculation"
There are reproducable instances, where the the checksum of ICMPv6 (and probably UDP - though not confirmed) packets is wrong: This includes some echo requests ([see the two last ones here](https://www.cloudshark.org/captures/d0aeb1504620), interestingly enough the 4th has the checksum has the checksum the 3rd was expecting) and echo replies, when testing #2910 with two nodes on `ng_nativenet`: ht

[2015-05-15 20:23] OlegHahm commented on #2988
I'm not sure how I can help...

[2015-05-15 20:28] authmillenon commented on #2988
TBH I assigned you mainly because I did not know any other one. I might look into it after MobiSys, but I won't be able before next week.

[2015-05-15 20:29] authmillenon commented on #2988
Just to give a hint: the checksum is definitly calculated incorrectly, it's not one of these "a value is different then before" issues. I checked this.

[2015-05-15 20:39] OlegHahm commented on #2988
What do you mean?

[2015-05-15 20:49] authmillenon commented on #2988
The value `ng_icmpv6_calc_csum()` puts into the header is the same, that Wireshark reports as wrong.

[2015-05-16 11:09] authmillenon commented on #2988
#2998 should help

[2015-05-16 17:22] #2988 closed

[2015-05-16 21:09] OlegHahm opened #3006 "ng_sixlowpan: make lookup in reassembly buffer more efficient"
As discussed in https://github.com/RIOT-OS/RIOT/pull/2781#discussion_r29028320 the current implementation of the lookup for fragments in the reassembly buffer is quite expensive, because up to seven comparisons have to be made for each fragment reception. This might be improved by using a bloomfilter that checks first if the fragment _may_ be in the buffer, before the full check is performed.

[2015-05-16 21:16] OlegHahm opened #3007 "ng_sixlowpan: release sent fragment snippets"
As discussed in https://github.com/RIOT-OS/RIOT/pull/2781#discussion_r29076938 already sent fragment snippets should be released from the packet buffer immediately after sending. This requires to keep somehow track of the current offset.

[2015-05-16 21:22] OlegHahm opened #3008 "ng_sixlowpan: sending fragments blocks the 6lowpan thread"
The current implementation blocks the 6lowpan thread as long as all fragments have been sent out. Ideally this should happen asynchronously.

[2015-05-16 21:28] OlegHahm opened #3009 "ng_sixlowpan: reserve full packet only after reception of all fragments"
Currently the implementation of 6lowpan fragmentation reserves space for the full packet after reception of the first fragment. I would suggest to do so only at the end, after all fragments have arrived. This would make it possible to handle fragments from different packets concurrently.

[2015-05-16 22:13] authmillenon commented on #3007
At least with the current `pktbuf` implementation (and any implementation utilizing POSIX-conforming `free()` for a dynamically allocated packet buffer) this would not give any benefit, since nothing is actually released from the packet buffer, until the whole chunk (yes, chunk, not snip*) the data is in is actually released.

* snips are protocol-logical units in a packet, chunks are memory-logic

[2015-05-16 22:14] authmillenon commented on #3007
However for #3008 this behavior could still be beneficial ;-)

[2015-05-16 22:22] authmillenon commented on #3009
This feature would require a comparable study of the throughput in such a scenario (multiple packets arriving concurrently but with fragments out-of-order), too. Re-sizing the data segment of a packet snip can lead to movement of the data in the packet buffer if it won't fit in the previous space, if fragments of multiple packets are arriving concurrently this might produce more time-overhead due

[2015-05-16 22:23] authmillenon commented on #3009
I'm also not sure right now, how upper-layers would react to the second alternative.

[2015-05-16 22:36] OlegHahm commented on #3007
I don't understand. Does not `pkt` represent a "chunk"?

[2015-05-16 22:38] authmillenon commented on #3009
(probably not good, since most of them basically assume that the received payload is one coherent snip, it also would produce problems if an upper-layer header is divided between multiple fragments)

[2015-05-16 22:41] OlegHahm commented on #3009
I think it's also a security concern. Currently, a node can pretty easily be DOS'ed by just sending peridocially fragments with with differing tags and a big packet length field.

[2015-05-16 22:47] authmillenon commented on #3007
First of all, there is no datatype `pkt`, it is just a list of `pktsnip_t`. But regarding `pktsnip_t`: Not necessarily: a chunk is any new instance of `pktsnip_t::data` to the packet buffer (basically any time you call `ng_pktsnip_add()` and the `data` argument is not already in the packet buffer). If `pktsnip_t::data` however is already known to the packet buffer (e.g. a protocol threads marks it

[2015-05-16 22:48] authmillenon commented on #3007
The mechanism marking the already send parts would look similar ;-)

[2015-05-16 22:56] authmillenon commented on #3009
That's only partly true. The reassembly buffer itself is very least effort by design and specification. If no space is left in it, it just kicks out the oldest entry (deleting all potentially allocated packets). Currently this is not the case for the "packet buffer is full" case on reassembly buffer allocation, however. We could however optimize the reassembly buffer a little bit in that direction

[2015-05-16 23:04] OlegHahm commented on #3007
I was referring to the particular piece of code, cited in my first post.

[2015-05-16 23:07] OlegHahm commented on #3007
I still don't understand how you explanation is related. I have several pieces of memory representing the fragments. Whenever one is sent it should be freed.

[2015-05-16 23:12] authmillenon commented on #3007
That's what I am trying to explain: quoting from https://github.com/RIOT-OS/RIOT/issues/3007#issuecomment-102704709 "with the current pktbuf implementation (and any implementation utilizing POSIX-conforming free() for a dynamically allocated packet buffer)" this is not the case. You can't just free memory arbitrarily, you have to free it referring to the pointer you allocated it with (which in thi

[2015-05-16 23:16] OlegHahm commented on #3007
But the fragments are separate memory pieces, that has been allocated by the packet buffer before. In my understanding of the packet buffer and malloc-free I can free any piece of memory that I have reserved beforehand.

[2015-05-17 00:24] authmillenon commented on #3007
What are memory pieces in this context?

The state of the packet buffer before fragmentation is basically:

* 20-byte pktsnip_t,
* x Byte payload,
* 20-byte pktsnip_t,
* x Byte L4 header,
* 20 Byte pktsnip_t,
* 40 Byte IPv6 header,
* 20 Byte pktsnip_t,
* x Byte L2 header
* (plus some additional internal Metadata and even other packet snips in-between).

Each item in that list (except the last one

[2015-05-17 07:26] OlegHahm commented on #3007
That's what I'm talking about: i read the code in l90 as if fragments are allocated in the packet buffer as isolated snippets.

[2015-05-17 07:59] authmillenon commented on #3007
No, that are the headers of the packet.

[2015-05-17 08:02] authmillenon commented on #3007
I'm fragmenting the packet in that function. Where should it be fragmented previously?

[2015-05-17 08:27] OlegHahm commented on #3007
Why previously?

[2015-05-17 08:52] authmillenon commented on #3007
Ah, you meant they are allocated there. But those are the parts for sending… these ARE released. By the driver, as any other snip going to the driver. So what is this issue about? I thought it was about releasing parts of the still assembled IPv6 packet.

[2015-05-17 09:03] OlegHahm commented on #3007
Aah, then we can probably close this.

[2015-05-17 19:40] #2971 closed

[2015-05-18 10:05] PeterKietzmann opened #3020 "board: RIOT port for LimiFrog V1"
List to coordinate porting efforts for the [LimiFrog V1](http://www.la-bluefrog.io/) board. The cpu (stm32l1) of the current revision is already supported in RIOT. Please leave a comment what you are willing to work on. Also feel free to adapt and extend the list below.

Porting ToDos:
- [x] basic file structure (flashing, debugging, CPU-header, makefile, peripheral configuration, ..), @katezilla

[2015-05-18 10:06] PeterKietzmann commented on #3020
@katezilla what du you think about working on the first three main points?

[2015-05-18 10:12] PeterKietzmann commented on #3020
@YRaoul here is my suggested ToDo list to add support for La BlueFrog in RIOT. Feel free to edit, expand oder assign yourself to a task.

[2015-05-18 10:13] kaspar030 commented on #3020
Consider working directly with #2852. It should be merged soon. :)

[2015-05-18 10:17] PeterKietzmann commented on #3020
Good point. Thanks fot the reference!

[2015-05-18 23:36] OlegHahm commented on #2972
#2976 is merged

[2015-05-18 23:36] #2972 closed

[2015-05-18 23:37] OlegHahm commented on #2900
#2901 is merged

[2015-05-18 23:39] OlegHahm commented on #2851
So, we agreed that this should go into the RIOT BPP, right?

[2015-05-19 08:59] #2962 closed

[2015-05-19 09:04] haukepetersen commented on #2917
let us know how it is going with that new hardware!

[2015-05-19 09:44] katezilla commented on #3020
First two points sound interesting, i can do those. Third point might be too much, i would do one or two sensors.

[2015-05-19 15:15] PeterKietzmann commented on #3020
Well, I think that's fine! Feel free to edit the list above and assign yourself to a task (by writing your nick behind the description). When you open a PR you should link it there too. But at first let's wait for the board to arrive :-)

[2015-05-20 07:52] YRaoul commented on #3020
Hello, thanks for the ToDo list.
I could take  "OLED display driver", but we maybe need to have some discuss on this, as I don't know if RIOT has already a "display driver" feature.
RIOT could provide a printf service on the display, but I don't know if it will be fast enough to be usefull.
And maybe we need to provide some "screen sharing" feature between OS and App code...
Hope your board will a

[2015-05-20 10:41] cgundogan commented on #3006
Alhough, I have no idea about the code right now, but just want to give some hints:
Might a reordering of checks reduce the check count on average?

Regarding the bloom filter: There are quite some bytes involved (`src_addr,` `dst_addr`, `src_len`, `dst_len`, `tag`, `size`). We will need to compute the required bloom filter size to ensure x% guarantee. My gut tells me that this could grow quite qu

[2015-05-20 12:50] moenad commented on #2917
The problem turned out from the nrf51822, I tried it with a different module and it worked perfectly fine. Same when I flashed the firmware with Segger J-Link from the nRF51-DK board.

[2015-05-20 13:15] PeterKietzmann commented on #2917
Well, can we close this issue then?

[2015-05-20 13:55] haukepetersen commented on #2917
Yes, lets close this. We can re-open it, if it turns out there is more to this problem.

[2015-05-20 13:55] #2917 closed

[2015-05-20 14:06] jremmert-phytec-iot opened #3039 "802.15.4(e) MAC-Layer Task Force"
There is the consensus that we need some kind of duty cycling MAC layer within RIOT. Within this issue we can provide a collection of open topics and progression. Feel free to add open points, topics and PRs.
## Overview and open PRs:
- [x] nomac [merged -> #2426]
~~- [ ] csma_mac (@jremmert-phytec-iot) [pr -> #2467] - _(currently outdated and based on depricated assumptions, will update soon)_~~

[2015-05-20 14:16] haukepetersen commented on #3020
Hi. Regarding the display driver, we do not really have something in RIOT. I did a driver for a very simple b&w display some month ago (-> see `drivers/pcd8544`). But I did not separate any generic display API or similar. For porting the BlueFrog display, I would suggest to start with a specific driver just for the specific display and extract a more generalized API from this in a second step.

[2015-05-20 15:51] OlegHahm commented on #3039
I will probably work on extracting the MAC part from OpenWSN soonish.

[2015-05-20 15:52] bapclenet commented on #3039
What about hardware CSMA? AT86rf2xx provides CSMA (when it will be implemented).
Will it be possible to choose between hardware CSMA and software CSMA?

[2015-05-20 15:55] OlegHahm commented on #3039
Once we have a software implementation for CSMA, that should be pretty simple.

[2015-05-20 15:57] bapclenet commented on #2967
@Kijewski, I didn't get your solution. Could you provide an example please?

[2015-05-20 16:22] jremmert-phytec-iot commented on #3039
Cool :+1: , that would be very interesting to us!

Will it be possible to choose between hardware CSMA and software CSMA?

The current AT86rf2xx already implements these HW CSMA functions (CCA, Backoff-wait on channel access failure, acknowledge handling and retransmission).

My current approach would to decide accordingly to the driver responses what mechanism to use (HW or SW-CSMA). If all neces

[2015-05-21 03:50] rakendrathapa opened #3040 "Replacing /n to /r/n in output statements"
printf and puts statement outputting to the terminal should use /r/n instead of just /n for new line. Some of the terminals do not put carriage return by default and to make it compatible across all the serial consoles. Else some test cases prints just fall off the boundary.

[2015-05-21 03:57] #3040 closed

[2015-05-21 06:12] gebart commented on #3040
What terminal program are you using? Most serial programs that I have used have a setting for treating \n as crlf. Many places in the code use puts() to output text, which automatically adds newline, but no carriage return, to the output stream. It would be very unintuitive if we were to change all strings to end in \r.

[2015-05-21 06:45] PeterKietzmann commented on #3020
Yes, that seems valid to me. I'd suggest to just start writing the driver (when there is a rudimentary RIOT port)  in a very modular way. Some time ago I already thought a display driver interface for RIOT would be cool. Anyway, if you have any questions about developing for RIOT, just post here, in the PR you'll open for your driver or on the mailing list.

[2015-05-21 08:02] gebart commented on #2528
@haukepetersen  What is your stance on this issue today?

I strongly believe in moving bus initialization outside the device drivers to allow for more precise control over bus parameters. I will run into problems in the future when I start using the on board memories on the Mulle together with the radio and accelerometer if I can not force the bus to go into the lowest common communication speed.

[2015-05-21 08:15] rakendrathapa commented on #3040
Well, for embedded boards, I have always adopted the policy to consider serial terminals as dumb and always include carriage return to remove dependency on them.
But yes, considering so many printf / puts statements, it is counter intuitive to include carriage return in every statement rather than just configuring serial terminal. That is why I closed the issue. :+1:

[2015-05-21 14:04] daniel-k commented on #3039
Does (ng_)netdev already have some API for CSMA and CCA? Would it make sense to implement a second API next to netdev that implements radio specific functions like CSMA? Having a "sublayer" like this would make it easier to implement SW+HW CSMA in a more generic way I guess.

[2015-05-21 14:47] jremmert-phytec-iot commented on #3039
In far as I know, ng_netdev is ment as an universal interface between a MAC-layer and driver. I don´t see that a second api next to ng_netdev would make SW+HW CSMA easier.

What I  (rudimentary) did is asking the driver via ng_netdev option get/set if it is capable of HW-CSMA/ACK/Resend Mechanisms. If yes, the MAC-layer will behave like the current ng_nomac layer. If not, a statemachine will be us

[2015-05-21 22:16] Lotterleben commented on #2965
I think ``ifs`` in ``ng_netif.c`` is another occurence...

[2015-05-22 08:20] PeterKietzmann commented on #2528
I am still in favor of taking the initialization outside the driver. After reading our past comments I still think that the following could be a good solution, even if I'm not totally convinced that it is a "pretty" and efficient solution, but more feels like an alternative way of "getters" like e.g. in netdev.:
When taking the bus initialisation procedure outside a sensor driver, we could extend

[2015-05-22 11:33] haukepetersen commented on #2528
Hej @gebart and @PeterKietzmann,
as you know, I am not at all convinced of taking the peripheral initialization out of the device drivers. My main reasons so far were (i) simplicity of usage, (ii) a driver knows best about it's needed parameters, and (iii) setups with contradicting parameters for a shared device were the absolute minority.

Now as we learned, (iii) does not hold anymore (and I gue

[2015-05-22 12:44] PeterKietzmann commented on #2528
I think one could integrate this default configuration in my proposal above. Instead of just returning an error if the bus speed does not fit the requirements, one could also initialize the device with its default value. The outside initialization should have priority to leverage conflicts we want to solve within this issue :-).
Just to explain my general point of view: I also like to keep things

[2015-05-22 18:34] gebart commented on #2391
closed via #2392

[2015-05-22 18:34] #2391 closed

[2015-05-22 18:34] gebart commented on #2302
closed via #2321

[2015-05-22 18:34] #2302 closed

[2015-05-23 08:11] authmillenon commented on #2965
This is not done yet ;)

[2015-05-23 09:41] authmillenon opened #3052 "NDP: implement missing functionality"
This is an overview issue to organize ongoing development of IPv6 neighbor discovery:

- [ ] Main ND, [RFC 4861](https://tools.ietf.org/html/rfc4861)
  - [ ] Router Discovery and Prefix Discovery; [section 6](https://tools.ietf.org/html/rfc4861#section-6) [#3049 -> under review]
  - [x] Address Resolution and Neighbor Unreachability Detection; [section 7](https://tools.ietf.org/html/rfc4861#sectio

[2015-05-25 08:05] Lotterleben commented on #2965
Whoops, how did that happen? :o

[2015-05-25 10:26] authmillenon commented on #2965
Auto-close, becauswle the PRs were somewhere marked as fixing ;) (via the words "fixes #<pr#>" in the comments e. g.)

[2015-05-25 10:32] authmillenon commented on #2965
But afaik this issue is fixed now. So I close.

[2015-05-25 11:03] OlegHahm commented on #2965
Great work, @Lotterleben and @authmillenon!

[2015-05-25 11:48] authmillenon commented on #2965
My biggest contribution was the bug in the first place, so all the honor should go to @Lotterleben ;-)

[2015-05-25 11:50] OlegHahm commented on #2965
Reviewing is also a valuable contribution.

[2015-05-25 12:24] Lotterleben commented on #2965
waitwaitwait, what about ``ifs`` in ``ng_netif.c``? I'd reckon this is another instance of that error and would be happy to fix it, but stop me if I'm wrong here. ^^

[2015-05-25 12:39] authmillenon commented on #2965
Oh yes, you're right.

[2015-05-25 12:39] authmillenon commented on #2965
Added it to the top.

[2015-05-25 12:41] Lotterleben commented on #2965
Okay, will take care of it as soon as possible!

[2015-05-25 20:57] authmillenon opened #3061 "ng_ipv6_netif: ng_ipv6_netif_find_best_src_addr() doesn't take mc addresses scope into account"
Multicast addresses have a [scope](https://tools.ietf.org/html/rfc4291#section-2.7). Among this the link-local scope. `ng_ipv6_netif_find_best_src_addr()` currently returns just the first fitting unicast address assigned to the interface af the input address is a multicast address and the scope is not taken into account. A fix for that should do that and also consider other prefixes for other mult

[2015-05-26 06:04] OlegHahm commented on #3061
fixed?

[2015-05-26 07:51] cgundogan opened #3063 "Discussion on how and where to store source routes"
@BytesGalore I opened this issue to not hijack PR #3058 for this discussion.

RPL's non-storing mode requires a data structure to store source routes at the root node.
During the second NSTF meeting there was a very brief discussion on where such a data structure should reside.

I can identify 2 different locations:
1. It should be implemented as a standalone entity within its own thread - global

[2015-05-26 08:29] OlegHahm opened #3064 "drivers: Break conditions for waiting loops"
As discussed in https://github.com/RIOT-OS/RIOT/pull/2911#discussion_r30976233: In many places in hardware dependent code, one has to wait for an undetermined time until e.g. a register is set. Typically this is done in a while loop, which, however, could cause an endless loop in case of a hardware failure. Ergo, I would strongly vote to introduce a simple counter or similar that breaks the loop i

[2015-05-26 08:29] authmillenon commented on #3061
No.

[2015-05-26 09:21] cgundogan opened #3065 "Renaming BOARD_INSUFFICIENT_RAM?"
A discussion in https://github.com/RIOT-OS/RIOT/pull/2818#issuecomment-105446033 revealed, that renaming `BOARD_INSUFFICIENT_RAM` to something else (maybe `BOARD_INSUFFICIENT_MEMORY` as indicated by @OlegHahm) may be more appropriate.

Any thought on this?

[2015-05-26 09:23] authmillenon commented on #3065
+1

[2015-05-26 09:23] BytesGalore commented on #3064
I don't know if such approach would ease things.
If the hardware is blocked on a condition state, e.g. like discussed in #2911,  and we break out this loop we continue into an undefined state.
My concern is that this will result in even more complicated situations/wait-states etc.

[2015-05-26 09:27] BytesGalore commented on #3065
still +1 for `BOARD_INSUFFICIENT_MEMORY`.
We could also split it into `RAM` and `ROM` (or is it YAGNI?)

[2015-05-26 09:57] OlegHahm commented on #3064
The driver should return with an error code then.

[2015-05-26 11:27] #2794 closed

[2015-05-26 11:39] PeterKietzmann commented on #3064
I partly agree with @BytesGalore that there might be a risk of undefined states. But in general I still think it's more comfortable to return __somehow__ instead of running in an endless loop. Just returning and continuing the program should be avoided. The possibilities I see is either (i) return a defined error code, explicitly document it and check for this code or (ii) running into hard fault.

[2015-05-26 13:43] OlegHahm opened #3069 "shell: strange warnings for netif"
I'm not exactly sure, what's going wrong here, but if I merge #2944 on current master and add
[code]
to the `examples/default` Makefile, I receive these warnings:
[code]

Which is strange because `NG_NETIF_NUMOF` is properly set to 1. If I manually change the array size to 1, the warning remains, but vanishes if I set it to 2...

Is this some weird behavior of my toolchain or do I miss something?

[2015-05-26 13:58] authmillenon commented on #3069
As discussed with you on Jabber, I suspect the return value of `ng_netif_get()` to be too big. Have you investigated this?

[2015-05-26 14:08] OlegHahm commented on #3069
But how should the compiler be able to check at compile time?

[2015-05-26 14:14] authmillenon commented on #3069
Oh right... This is a compiler issue.

[2015-05-26 14:43] authmillenon commented on #3065
I don't think we can rely on the linker's feedback for such a "fine-grained" distinction ;)

[2015-05-26 14:46] OlegHahm commented on #3065
I think we could (if the linker doesn't know who else will know?), but I don't think that it is necessary.

[2015-05-26 14:47] authmillenon commented on #16
"fixed" in new network stack.

[2015-05-26 14:47] #16 closed

[2015-05-26 14:48] authmillenon commented on #166
"Fixed" in new network stack.

[2015-05-26 14:48] #166 closed

[2015-05-26 14:49] authmillenon commented on #773
Is this still an issue in the new network stack or does only #2851 apply here?

[2015-05-26 14:55] OlegHahm commented on #773
Well, 8 appears to be a much more reasonable number than 64. ;)

[2015-05-26 14:55] #773 closed

[2015-05-26 15:42] OlegHahm commented on #3069
Can someone check if this Bug occurs with other GCC versions? I'm using:
`arm-none-eabi-gcc (Arch Repository) 5.1.0`

[2015-05-26 17:28] OlegHahm commented on #3069
Apparently, I don't get the warning with `arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 4.8.4 20140526 (release) [ARM/embedded-4_8-branch revision 211358]`.

[2015-05-26 17:51] authmillenon commented on #890
Won't fix due to new network stack

[2015-05-26 17:51] #890 closed

[2015-05-26 17:52] authmillenon commented on #913
Won't fix due to new network stack.

[2015-05-26 17:52] #913 closed

[2015-05-26 17:53] authmillenon commented on #1297
Still interesting (and a lot easier to do) in the new network stack.

[2015-05-26 17:54] authmillenon commented on #1609
Anyways: Won't fix, new network stack avoids this syntax.

[2015-05-26 17:54] #1609 closed

[2015-05-26 17:56] authmillenon commented on #1963
Is this still an issue? In general this won't be an issue with the new network stack because the dissector is not needed anymore and I've got the feeling this is more a wireshark error than an error of the dissector.

[2015-05-26 17:58] OlegHahm commented on #1297
:+1:

[2015-05-26 18:00] authmillenon commented on #2311
#2706 fixed this

[2015-05-26 18:00] #2311 closed

[2015-05-26 18:01] authmillenon commented on #2498
I think I did all that. Can you verify @gebart?

[2015-05-26 18:02] authmillenon commented on #1647
I would say this is a device dependent thing, but implementing PMTU discovery is still something of interest

[2015-05-26 18:31] OlegHahm opened #3075 "nhdp: unnecessary microsecond precision"
NHDP and DAT are using `timex_t` to store timestamps, but microsecond precision is not required and just increases the struct size.

[2015-05-27 06:48] gebart commented on #2498
@authmillenon you mean in #2806 ?
It looks okay, the local bit is inversed when converting l2addr to iid. I did not run it though. Do the packets checksum properly in wireshark?

[2015-05-27 07:45] authmillenon commented on #2498
Last time I checked, yes.

[2015-05-27 08:05] OlegHahm commented on #3069
Wrong toolchain.

[2015-05-27 08:05] #3069 closed

[2015-05-27 08:30] OlegHahm opened #3080 "NSTF: Ping of death"
On IoT-LAB this happens when ping two neighboring nodes after 1 to n times, where the biggest n that I observed was 7:
[code]

I ran a couple of L2 experiments last week on IoT-LAB which were super stable, so I would assume that is not a driver or hardware issue.

How to reproduce:
current master + #2895 + #3078 +
[code]
and call
[code]
from `/examples/ng_networking`.

[2015-05-27 08:34] authmillenon commented on #3080
I think I encountered this too and it is related to the ZEP thing I mentioned. But did you encounter the source address thingie (#2961)?

[2015-05-27 08:35] authmillenon commented on #3080
+ I can't test your set-up since I still don't have an IoT-Lab account :(

[2015-05-27 08:38] OlegHahm commented on #3080
https://www.iot-lab.info/testbed/signup.php

[2015-05-27 08:39] OlegHahm commented on #3080
How is ZEP involved here?

[2015-05-27 08:39] OlegHahm commented on #3080
Will check.

[2015-05-27 08:39] authmillenon commented on #3080
I had a pings of death, when testing #2627.

[2015-05-27 08:40] OlegHahm commented on #3080
Ah, ok, but the bug is then probably not related to ZEP.

[2015-05-27 08:44] authmillenon commented on #3080
Nothing happens when I hit the sign-up button…

[2015-05-27 08:44] authmillenon commented on #3080
(I reported that ages ago)

[2015-05-27 08:46] authmillenon commented on #3080
Oh wait it shows "error" on the top.

[2015-05-27 08:51] OlegHahm commented on #3080
I sent a mail to the list.

[2015-05-27 08:56] authmillenon commented on #3080
Likely, but would not count on that :D

[2015-05-27 09:02] OlegHahm commented on #3080
Ok, let's rephrase there is at least one bug that's not related to ZEP.

[2015-05-27 09:06] authmillenon commented on #3080
What about #2961?

[2015-05-27 09:13] OlegHahm commented on #3080
Had to fix the other stuff first, now I will investigate.

[2015-05-27 09:40] OlegHahm commented on #3080
See https://www.cloudshark.org/captures/158abcbaef10 after the last echo request, the other node crashed.

[2015-05-27 10:08] PeterKietzmann opened #3086 "Max. packet length for AT86RF2XX"
EDIT:
The issue was fixed with #3480. However, #3480 limits the maximum payload in a (transceiver-)packet, by keeping the theoretically maximum MAC-header length of `25` Bytes free. Ideally we want a dynamic solution that computes the actual MAC-header length (which may be shorter than `25` Bytes), to fill all packets with payload completely.

OLD:
In [`ng_sixlowpan`](https://github.com/RIOT-OS/RI

[2015-05-27 10:10] authmillenon commented on #3086
At least `xbee` seems to do it the way you describe it, so I guess you are right :D

[2015-05-27 11:46] authmillenon opened #3088 "pktbuf: compiler warning on atomic_dec()"
Compiling `ng_pktbuf` since 6821350 yields a compiler warning.

[code]

However, `atomic_int_t`'s member is signed while `pkt->users` is unsigned, which could make simple casting problematic (not to mention that `atomic_int_t::value` is volatile).

[2015-05-27 11:47] OlegHahm commented on #3088
Why didn't building the pktbuf unittest in Travis reveal that?

[2015-05-27 11:48] authmillenon commented on #3088
Because travis does not output warnings, afaik.

[2015-05-27 11:48] authmillenon commented on #3088
(This was building for `iot-lab_M3`)

[2015-05-27 11:54] authmillenon commented on #3080
I don't even can confirm reachability between two nodes :/

[2015-05-27 11:57] OlegHahm commented on #3080
Which nodes? What's happening?

[2015-05-27 11:58] OlegHahm commented on #3088
I always thought it would (and it definitely should), but I have no insights there.

[2015-05-27 12:10] authmillenon commented on #3088
For unittests on native it does (but there the warning level seems not to be configured that strict), but not for the general build-tests

[2015-05-27 12:11] OlegHahm commented on #3088
damn

[2015-05-27 12:15] authmillenon commented on #3080
[code]

with current master (fe462fe9), #2895, #2952, #3084 and #3089 merged

[2015-05-27 12:15] Kijewski commented on #3088
And yet someone wanted to close #1121 just recently. ;)

[2015-05-27 12:15] authmillenon commented on #3080
(and the modifications you described above)

[2015-05-27 12:20] authmillenon commented on #3088
#1121 doesn't fix the problem as long as there ARE warnings (which noone seems to care to fix)… The warnings used to be shown for all buildtests, but someone's python script made that basically impossible without rewriting the whole thing</passiveAggressiveness>

[2015-05-27 12:26] OlegHahm commented on #3088
I fix warnings whenever I see them, but if our CI server let them pass, it's a bit "sisyphussy".

[2015-05-27 13:17] gebart commented on #3088
sorry about this mistake. Is there a problem converting `users` to an `atomic_int_t` and making it signed?

[2015-05-27 13:22] authmillenon commented on #3088
Since `users` is never supposed to go below 0 I'd rather don't want to make it signed. Why is there now `atomic_unsigned_t`?

[2015-05-27 13:24] gebart commented on #3088
@authmillenon See the discussion between me, @OlegHahm and @haukepetersen at https://github.com/RIOT-OS/RIOT/issues/2302#issuecomment-69900667

[2015-05-27 13:31] authmillenon commented on #3088
I just realized that the atomic operation there is a relic from a previous, mutex avoiding implementation. However, since the operation is now in a mutex, a normal `pkt->users--` should suffice.

[2015-05-27 14:11] authmillenon opened #3093 "ng_nativenet interface not auto initialized"
`tests/driver_netdev_eth` currently starts the nomac thread for `ng_nativenet` locally. All other devices are initialized automatically.

[2015-05-27 21:39] OlegHahm commented on #3080
Have you tried with default or ng_networking example?

[2015-05-27 23:38] jfischer-phytec-iot commented on #2188
:flashlight: I am working on RIOT port for frdm-k64f.

[2015-05-28 00:08] authmillenon commented on #3080
The ng_networking example

[2015-05-28 05:57] OlegHahm commented on #3080
Ok, was just checking, because I tried yesterday evening with `default` and applied the same changes (at least I think I did) and didn't reach the neighboring nodes either. Probably missed something there.

With ng_networking I can confirm that the bug seems not to be appear on native (and valgrind is also pretty silent) and seems also to disappear on IoT-LAB with debugging enabled. My conclusion

[2015-05-28 08:43] gebart commented on #3064
I think returning an error code is the only sensible thing to do. If the application is critically dependent on a subsystem which gives an error code, then the application should be able to decide if/when to perform a system reset (which would be the end result of the hardfault alternative). I don't think we should force the system into a hardfault or similar because of e.g. a communication proble

[2015-05-28 12:57] haukepetersen commented on #2188
nice. probably also makes sense to wait for #3100. Will try to get them both merged today.

[2015-05-28 13:32] daniel-k commented on #3039
So we agree that there needs to be duty cycling to save energy. But that's a topic concerning the whole system, not just the MAC layer or just the network stack. I see there's an API for power management, at least to set power modes, but is there also a concept on how to decide when to go to low power modes?

I wonder who (component-wise speaking) is in charge of putting the MCU to sleep. After so

[2015-05-28 13:38] daniel-k commented on #3039
I just found https://github.com/RIOT-OS/RIOT/issues/2927 which seems to kind of match my proposal

[2015-05-28 14:05] OlegHahm commented on #3039
The IDLE thread.

[2015-05-28 15:00] authmillenon commented on #3080
Would also be my guess especially since the packet buffer seems to handle things quite nicely this time and the crash seems to be quite arbitrary from a network stack point of view. Both `ng_icmpv6_echo` and `ng_ndp` make use of `vtimer`.

[2015-05-28 22:38] OlegHahm commented on #2861
https://github.com/RIOT-OS/RIOT/wiki/Best-Practice-for-RIOT-Programming

[2015-05-28 22:38] #2861 closed

[2015-05-29 08:45] gebart opened #3109 "periph/random: random_read should return unsigned int"
https://github.com/RIOT-OS/RIOT/pull/3101#discussion_r31214572

The documentation for `periph/random.h` says:

so we should not need to have a signed int for return type.

[2015-05-29 10:59] gebart commented on #1366
Reassigned to @kaspar030, reassign if you feel someone else is more suited for this.

[2015-05-29 11:59] haukepetersen commented on #1366
To be on the safe side, I created a PR to disable the use of the hardware FPU on M4F based CPUs -> #3112

[2015-05-30 10:01] gebart opened #3118 "at86rf231.c:509:41: warning: implicit conversion from enumeration type 'netdev_proto_t' to different enumeration type 'netdev_type_t' [-Wenum-conversion]"
Clang found this:

[code]

Feel free to close in case we should regard the old at86rf231 driver as obsolete.

[2015-05-30 14:14] LudwigOrtmann commented on #1331
Is this still the case with the new native network implementation? (https://github.com/RIOT-OS/RIOT/pull/2776)
Can't test due to missing hardware.

[2015-05-30 14:17] LudwigOrtmann commented on #2242
Is this fixed as of https://github.com/RIOT-OS/RIOT/pull/2776 ?

[2015-05-30 14:23] LudwigOrtmann commented on #392
As of today:
[code]

[2015-05-30 19:25] daniel-k opened #3125 "ng_netdev: TX feedback"
The new netdev API seems to lack any kind of transmission feedback. In the former days when transmitting data over a 802.15.4 transceiver by

[code]

directly returned the result of a transmission. The current implementation in `ng_netdev.h` only provides:

[code]

I see that netdev shall be a generic API not only for radio transceivers, but is there already a replacement for TX feedback? Maybe I

[2015-05-31 10:18] gebart opened #3131 "kinetis: vtimer_sleep yields too long delay after XX minutes uptime"
`vtimer_sleep` begins to misbehave after around 1 hour of running the vtimer_msg example. The console printouts come at a slower rate and everything just slows down.

This is just a heads up to @jfischer-phytec-iot and @jremmert-phytec-iot who may also be affected by this bug.

I am looking into this, will update if I find anything.

[2015-05-31 14:17] authmillenon commented on #3118
It (especially the netdev part of this driver) is obsolete and was never used and will never be used.

[2015-05-31 14:17] #3118 closed

[2015-06-02 09:02] gebart commented on #3131
Fixed by #2515

[2015-06-02 09:10] gebart opened #3139 "kinetis: hwtimer loses ticks when referenced against rtt ticks"
The hwtimer_now function loses something in the order of 130 ticks in 60 seconds when running the vtimer_msg test. The hwtimer is using the LPTMR module which runs off the RTC crystal at 32768 Hz, so the loss is 130/32768 approx 4 ms per second. These numbers are from a test program where I compare the RTT seconds and sub tick counter registers against the time reported by hwtimer_now().

I am wor

[2015-06-02 09:16] gebart commented on #3139
I had some patches when achieving that number. Without my WIP patches for the hwtimer, the loss is bigger, 240 ticks lost in 60 seconds against RTT.

[2015-06-02 09:17] kaspar030 commented on #3139
does kinetis implement the periph/timer interface? If not, you should focus on moving to that.

[2015-06-02 09:20] gebart commented on #3139
@kaspar030 The problem is that we are using another timer hardware (PIT) for the periph/timer interface which allows for higher clock frequencies and shorter periods, but it stops when the CPU goes to sleep, so it is worthless for scheduling periodic tasks that are farther away than a few µs or ms. The LPTMR only exists as a single channel timer in the CPU and we want to use that for scheduling et

[2015-06-02 09:28] #3131 closed

[2015-06-02 09:29] BytesGalore commented on #3088
+1 for `pkt->users--`
is there already a PR for this?

[2015-06-02 09:31] authmillenon commented on #3088
Yes #3092

[2015-06-02 16:32] #3088 closed

[2015-06-03 09:09] booo opened #3153 "tests/pnet fails on call to bind()"
The test case pnet (tests/pnet) fails on the call to bind() with the error message: "ERROR: Socket could not be bind". The related code starts [here](https://github.com/RIOT-OS/RIOT/blob/master/tests/pnet/main.c#L88).

The failing test run:

[code]

I have created a tap0 for testing:

[code]

Code builds fine apart from a minor warning.

[code]

[2015-06-03 09:36] gebart commented on #2435
I managed to get a backtrace on a hanged system running the vtimer_msg test. The timer ran fine until hwtimer_now reported 12313 seconds (decimal) and 0x44e9 ticks (hexadecimal, 1/32768 second per tick). This was on a mulle with #3140, #3147  and #3146 applied.

The short term queue contains a loop:
[code]

I still have the system paused in the debugger so I can investigate more but I don't have a

[2015-06-03 11:06] gebart opened #3156 "mulle: openocd 0.9.0 support"
I am having troubles using OpenOCD 0.9.0 with the current configuration in boards/mulle/dist/openocd

Other Kinetis might be affected too (pba-d-01-kw2x). The problem seems to stem from the updated kinetis-k configuration scripts in openocd-0.9, but I haven't had time to investigate further.

This issue is just a reminder.

[2015-06-03 15:53] #3093 closed

[2015-06-03 20:13] wanxili opened #3160 "ccn-lite example " simple forward" fails"
Hi,
    I am trying to play RIOT with ccn-lite example (ccn-lite-client and
ccn-lite-relay) on ubuntu using native board.

  I follow the instructions in the HOWTO document under ccn-lite-client
folder. For the "simple appserver (all in one shell)" scenario, it succeeds.

    But, for the simple forward (needs two shells) scenario , it failed. I've successfully setup the second shell which is popu

[2015-06-05 09:28] mixania commented on #3080
I know this is not the best place for my question but is there a way to run RIOT on a Teensy board?

[2015-06-05 09:42] authmillenon commented on #3080
Can you please post this question to devel@riot-os.org. That is a better place for that question ;-)

[2015-06-05 11:12] emmanuelsearch commented on #1331
@LudwigOrtmann how should I test this? If all takes in terms of hardware is a Mac, I could do that, but I'm in the dark as to how to proceed for the rest of it ;)

[2015-06-05 14:08] daniel-k opened #3169 "drivers/at86rf2xx: CCA when in Extended Mode"
At the moment the at86rf2xx driver issues a manual CCA no matter in which state the transceiver is. Additionally, only the Extended Mode (RX_AACK_ON) is implemented. However the datasheet has some quite explicit sections:

p. 104

p. 105

p. 107

Did you test the behaviour in Extended Mode? The datasheet uses _should_ and _recommended_ so I guess CCA might also work in Extended Mode in some cases.

[2015-06-05 14:57] haukepetersen commented on #2956
Should be excluded.

[2015-06-06 04:21] LudwigOrtmann commented on #1331
In theory:
Just create two virtual RIOT instances with the master branch and see if the problem described above still occurs.

In practice:
As I just read the master branch no longer builds on your system - nothing until building on OS X is fixed.

[2015-06-08 15:27] emmanuelsearch opened #3175 "Native: build of vtimer_msg test fails on OS X"
Build of vtimer_msg test fails on OS X with current master.

Error is:

[code]

Toolchain info:

[code]

[2015-06-09 22:05] josephnoir commented on #3175
Same for me in the `thread_*` tests.
[code]

[2015-06-11 07:52] PeterKietzmann opened #3186 "Atmega2560: xtimer doesn't work correctly"
The hwtimer tests don't work properly on the arduino-mega2560. The `hwtimer_spin` test seems to be fine. Running the `hwtimer_wait` test I never reach the end of the program. Running the `hwtimer` test I get the following output. The board seems to restart periodically.

[code]

And so on and so on ...

[2015-06-11 07:53] PeterKietzmann commented on #3186
Any ideas  @N8Fear, @haukepetersen?

[2015-06-11 07:58] kaspar030 commented on #3186
Shouldn't there be three?

AFAIR each callback should only trigger once. You could check if the
timer ISR disables the interrupt.

[2015-06-11 08:18] PeterKietzmann commented on #3186
Yes, I think there should be three (looking at the [`hwtimer_cpu.h`](https://github.com/RIOT-OS/RIOT/blob/master/cpu/atmega2560/include/hwtimer_cpu.h#L30)). I currently don't have time to debug that, it was just a side effect. My hope was that someone else has a fix spontaneously :-) . If not I need to look at it hopefully soon

[2015-06-11 08:45] PeterKietzmann opened #3187 "Atmega2560: shell and/or UART_RX dosn't work correctly?"
I tried to use the shell on the arduino-mega2560 without success. Is this known or am I doing something wrong? Then I tried the `periph_uart_int` test and I get stuck somewhere after [Setting up the buffers](https://github.com/RIOT-OS/RIOT/blob/master/tests/periph_uart_int/main.c#L100). Can anyone with more experience on the atmega2560 confirm this? Any ideas?

[2015-06-11 08:58] kaspar030 commented on #3187
On 06/11/15 10:45, Peter Kietzmann wrote:

In my remove_uart0 branch, I've adapted arduino-mega2560 to use the new
uart_stdio abstraction. If you don't use uart0 (like in that branches
examples/default), the shell should work.

[2015-06-11 10:21] PeterKietzmann commented on #3187
Did you test anything else than the `ps` command in the default example? I don't know it it's the length of a shell command but other commands than `ps`, e.g. `reboot`or some in my own test, don't really work. Sometimes the board gets stuck, sometimes there are just some snips of a command that were recognized. As an example:
[code]

[2015-06-11 10:48] kaspar030 commented on #3187
Actually, no. I don't have a board, so I adapted the port blind and just
did a quick test at last NSTF's hackathon...

[2015-06-11 22:24] N8Fear commented on #3187
Sadly I still don't have enough time to do work on RIOT.
@PeterKietzmann : Concerning your issues with `periph_uart_int`: this test uses `115200` Baud per default which seems to be to much for the Atmega2560 to handle. The most I got out of it without getting funny characters is `38400`. There are other issues with this test, too: `vtimer_usleep(2000*1000)` overflows the max value for the timers (

[2015-06-12 06:34] PeterKietzmann commented on #3187
@N8Fear thanks for your response! I totally overlooked the used baudrate in the test. I agree that 115200 baud is too fast for the atmega2560. Regarding the timer and reboot things it is also good to know. Still I think my proposed reboot issue was related to the UART input I gave.
Currently I also don't have time to go into too much details here. Would you say that #3186 and #1811 describe the sa

[2015-06-12 07:30] N8Fear commented on #3187
I think it's quite possible at least. As stated in https://github.com/RIOT-OS/RIOT/issues/1811#issuecomment-60721330 I traced the issue to some clobbered mutex in `hwtimer_wait(..)`. I'm not sure what parts of the related code base changed in the meantime, but it's possible at least. IIRC I was able to prevent this issues by adding a short wait (or a printf to get a minimal delay). Maybe you could

[2015-06-12 08:25] PeterKietzmann commented on #3187
Honestly I don't have time for this at the moment. The issues appeared as a side affect while trying to test the GPIO implementation #2799. I just wanted to report them so they won't be forgotten. If anyone has time and knowledge I would be happy if these bugs are fixed. Otherwise I'll look at it again at any time... Do you know if  #3186 and #1811 describe the same bug?

[2015-06-12 12:08] Kijewski opened #3195 "sys/crypto: remove our Twofish implementation"
I do not know if there is a "IoT optimized" implementation of Twofish, but our implementation is unreasonably big for IoT applications and relies on malloc. The [reference implementation](https://www.schneier.com/twofish-download.html) looks much better at the first glance.

Our twofish.c is unused and IMO unusable. Better drop it before it hurts someone ...

[2015-06-12 12:13] Kijewski commented on #3195
Also remove skipjack. WTF is skipjack?

And RC5. RC5 is patented and cannot be used freely.

[2015-06-12 12:15] N8Fear commented on #3187
As stated above: I don't know but I think it's very likely that both are the same.

[2015-06-12 12:16] PeterKietzmann commented on #3187
Ups, I over-read the first sentence. Sorry! Thanks for the answer again.

[2015-06-12 14:49] #1963 closed

[2015-06-12 16:12] PeterKietzmann opened #3197 "cpu/stm32f3: PWM frequency is twice as fast as expected"
In #3165 it turned out that the PWM frequency and the duty cycle is twice as fast as expected on the stm32f3discovery and the nucleo-f303re board. It is not far to seek that the issue is related to the stm32f3 cpu.

[2015-06-12 20:40] emmanuelsearch opened #3198 "examples: ng_UDP-6LoWPAN example does not compile on OS X"
When compiling the example in OS X, I get the warning and the error below:

[code]

Toolchain info:
OS X 10.10.3
$ gcc --version
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 7.0.0 (clang-700.0.53)
Target: x86_64-apple-darwin14.3.0
Thread model: posix

[2015-06-12 21:20] Kijewski commented on #3198
Please test if adding this guard immediately before `kernel_pid_t thread_create(` in core/include/thread.h fixes the name clash for you:
[code]

[2015-06-13 10:56] emmanuelsearch commented on #3198
mmmh. Here's what I get now with the fix you proposed:

[code]

[2015-06-14 13:18] authmillenon commented on #3195
According to the log they were imported by @haukepetersen in 05419a5 so I assign him.

[2015-06-14 14:16] authmillenon opened #3201 "ng_net: Odd length packet snips cause invalid check sum"
If an odd length packet snip occurs in a packet and is not the last snip (in the order the packet is supposed to be, not in the list's order) in a packet it will generate a wrong check sum by way the check sum is calculated: If a snip is of odd length a 0 is padded to the last bit, since it groups the bytes to 2 bytes. This de-facto includes a non-existing 0-byte into the middle of the packet. Whi

[2015-06-15 23:44] ximus commented on #3175
This also happens when running the entire test suite `cd tests/unittests && make`
My output is slightly different (different location of task.h), but essentially the same error:

[code]

The issue is `cpu/native/hwtimer_cpu.c` on OSX includes `mach/mach.h` which includes `mach/mach_interface.h` which includes `mach/task.h` which defines `thread_create()` which conflicts with Riot's own `thread_cre

[2015-06-16 00:53] haukepetersen commented on #3195
The actual import was done by @zkasmi. I just pulled them in from some branch as far as I remember. I have no opinion about the twofish implementation - if it does not live up to our quality standards and if nobody is really using it then I would be also in favor of dropping support (at least for now).

Regarding Twofish: feel free to PR the reference implementation to replace the existing one!

[2015-06-16 07:47] ReneHerthel commented on #3020
i would like to implement the LSM6DS3 sensor.

[2015-06-16 07:50] PeterKietzmann commented on #3020
Nice! Just edit the above list by clicking on the small pencil in the upper right corner and place your github name to the related point. Feel free to open a PR any time and link it there too.

[2015-06-16 08:26] katezilla commented on #3020
@PeterKietzmann I am not so sure i can edit your post. Can you add me to the first two points for now?

[2015-06-16 08:30] PeterKietzmann commented on #3020
Did. Wasn't aware that you can't edit it.

[2015-06-16 11:12] thomaseichinger commented on #3198
This problem was introduced with https://github.com/RIOT-OS/RIOT/pull/3144 it conflicts with `thread_create` declared in `mach_interfaces.h` included from `mach.h`. Removing `mach.h` from includes solves the compile problem for me.
@LudwigOrtmann can you still recall why it is included?

[2015-06-16 13:32] emmanuelsearch commented on #3198
Just to be sure: which include in which file exactly are you saying we should remove?

[2015-06-17 15:31] thomaseichinger commented on #3198
Sorry, I was not precise.
[code]
is what I meant.

[2015-06-17 18:24] cgundogan commented on #17
this issue is quite old, but I came across this linker option several days ago: `-u _printf_float` or `-u _scanf_float`respectively for newlib-nano. According to the docs this should pull in float support for printf/scanf. Can someone test this?

[2015-06-17 20:54] haukepetersen commented on #17
And while testing, do a code size comparison! I guess that would be most interesting here.

[2015-06-18 09:46] cgundogan opened #3220 "fib: fib_add_entry cannot check for the unspecified address"
When I use `fib_add_entry()` multiple times with the unspecified address (::) as destination, it adds the unspecified address multiple times to the fib instead of updating the values of the existing entry

[2015-06-18 11:15] emmanuelsearch commented on #3198
I had tried that (was the only place where mach.h occurred in the code base ;), but this is what I get now (still does not compile):

[code]

[2015-06-18 19:59] sgso opened #3221 "How to generate random numbers?"
I'm working on libcoap, which needs some randomized value here and there. Nothing crypto-critical but I'd like to do it the right way and the existing choices/docs are not really helpful. And this might become more important with things like DTLS in the future.

**What's the recommended way to generate random numbers on RIOT?**
- I can check for the existence of RANDOM_NUMOF and if positive use pe

[2015-06-19 07:53] kaspar030 opened #3222 "ng_nativenet crashes when hammered"
using "ping6 -f <ll-addr>%tapX" from two threads on linux to riot at the same time, I can reliably crash native:

<pre>
kernel_init(): This is RIOT! (Version: 2014.12-1938-g910a-booze)
kernel_init(): jumping into first task...
UART0 thread started.
uart0_init() [OK]
RIOT network stack example application
All up, running the shell now

[kaspar@booze ng_networking (master)]$
</pre>

Weird thing is t

[2015-06-19 11:21] authmillenon commented on #3221
I normally use genrand_uint32() of `sys/include/random.h` for the NDP stuff. The hardware random interface was thought to be a truly "randomness" source to set the seed for this (dangling ADCs, timer, cpu_id etc.) afaik, but I don't know if this was ever done.

[2015-06-19 15:39] emmanuelsearch commented on #3221
so, linked with https://github.com/RIOT-OS/RIOT/pull/2963 ?

[2015-06-19 15:44] kaspar030 commented on #3221
Not really. This ask for a standard way of getting random numbers, #2963 would be a possible user for such an API.

[2015-06-20 22:09] sgso commented on #3221
@authmillenon: So including NDP "wastes" about 2500 Bytes of RAM just for random numbers if there's an hardware generator (true or pseudo) available? That's a low hanging fruit ;)

[2015-06-22 03:50] sirtian opened #3231 "is there any plan to support touch screen"
hi, I searched keyword "touch screen" in issue list and get nothing, so I want to know that is there any plan to support touch screen?

[2015-06-22 07:05] PeterKietzmann commented on #3231
IMO there are currently no plans for a touch screen driver. The porting for [La BlueFrog](http://www.la-bluefrog.io/) will progress soon (compare  #3020). @YRaoul wanted to write the display driver. Also we have support for the PCD8544 display (Nokia 3310). But all without touch. Any other opinions on this? Otherwise I tend to close this issue.

[2015-06-23 02:58] #3231 closed

[2015-06-23 07:56] #2956 closed

[2015-06-23 09:17] haukepetersen opened #3242 "core: simplify the reboot interface!"
#3219 made me look at the kernel's reboot interface once more. It seems to me, that it can be simplified to some extend. Here is my proposal:

- remove the `mode` parameter to the reboot function, as it is not used and I don't see any usecase for this
- remove the reboot function from core entirely and just use the `reboot_arch()` in the first place
- add some additional implementation for `reboot

[2015-06-23 09:25] gebart commented on #3242
I like this proposal.

+1

[2015-06-23 09:30] haukepetersen commented on #3242
alright, then I will prepare a small PR for this.

[2015-06-23 15:06] OlegHahm commented on #3242
1. I think the parameter was originally introduced for POSIX or BSD compatibility reasons.
2. Calling `*_arch()` from outside the kernel feels wrong for me.

[2015-06-23 15:23] BytesGalore commented on #3220
#3233 should solve this :)

[2015-06-23 15:29] haukepetersen commented on #3242
lets continue this discussion in the PR I created: #3246

[2015-06-23 15:59] OlegHahm commented on #3195
I think these implementations originate from http://www.mi.fu-berlin.de/inf/groups/ag-tech/publications-old/1__resources/SNA-205.pdf

[2015-06-24 03:06] cgundogan opened #3249 "`ng_ndp` calls `fib_get_next_hop()` with a `NULL` parameter"
Please refer to [ng_ndp.c#L419](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/network_layer/ng_ndp/ng_ndp.c#L419) and https://github.com/RIOT-OS/RIOT/pull/3233#issuecomment-114654397

I opened this issue in order to keep better track of the discussion.
@authmillenon could you  briefly explain the surrounding code of the line being in question? What is intended to happen there?

[2015-06-24 12:26] OlegHahm opened #3252 "gnrc: improve unittest coverage"
This a list of modules that are part of the gnrc network stack and there state concerning unittest:
- [ ] Netdev Ethernet
  - _No Unittests_
- [ ] Device drivers
  - [ ] ng_at86rf2xx
    - _No Unittests_
  - [ ] ng_nativenet
    - _No Unittests_
  - [ ] xbee
    - _No Unittests_
  - [ ] kw2xrf
    - _No Unittests_
- [ ] Network Interfaces
  - **19 unittests exist in `tests/unittests`**
  - **Cover

[2015-06-24 12:26] OlegHahm commented on #3252
Please note: currently I only counted the number of the existing unittests without stating anything about their quality or coverage. I will update this information ASAP.

[2015-06-24 12:27] authmillenon commented on #3252
At least for the `netapi` part of UDP there is #3248. There is still need for `ng_udp_hdr_build()` and such.

[2015-06-24 12:30] authmillenon commented on #3252
Some unittests based on `pexpect` or similar modules for the network device drivers are also thinkable. We can use the driver's test apps as a starting point.

[2015-06-24 12:43] PeterKietzmann commented on #3252
@A-Paul may be interested in this list.

[2015-06-24 12:45] authmillenon commented on #3249
From @BytesGalore at https://github.com/RIOT-OS/RIOT/pull/3233#issuecomment-114723987

After such call, the caller could never be certain if the pointer is still valid and connected to the desired address bytes.

Currently IPv6 is the only the only user of `fib_get_next_hop()` and due to the nature of the scheduler it is pretty much guaranteed that it uses the address without interruption (all it

[2015-06-24 12:51] OlegHahm commented on #3252
@authmillenon, feel free to edit the list and add links to PRs etc. We can also change the format if someone has a better idea. So far, it's more or less a dump.

[2015-06-24 12:53] authmillenon commented on #3249
@cgundogan what exactly do you want me to explain? It is just more convenient (memory-wise and usage-wise) to use a pointer for this lookup, since it would make every assignment there a `memcpy()` and every `NULL` pointer check a `ng_ipv6_addr_is_unspecified()` check. I'd like to prevent that. The only compromise I came up with that would work with the current prototype is

[code]

but that is rea

[2015-06-24 12:53] authmillenon commented on #3249
@BytesGalore do I need to initialize `next_hop_size` with some value here, btw?

[2015-06-24 13:37] BytesGalore commented on #3249
@authmillenon just a quick response for your last question, it depends ;) .
Basically it expects the caller to provide the available size for the address bytes (shame on me I didn't wrote this in the doxy, sorry for that).
Then it overwrites the value with the actual required size for the address.

So only if you provide a sufficient large `next_hop_size`, the address bytes are copied, else only t

[2015-06-24 13:40] gebart opened #3254 "kinetis: Use DMA for SPI transfers"
What the title says. It would be possible to simplify the code if we use the DMA engine to handle SPI bus communication.
A prerequisite for this is that hardware CS is being used for all active SPI slave devices.

[2015-06-24 13:55] authmillenon opened #3255 "vtimer: `vtimer_msg_receive_timeout()` does not timeout"
In #3248 I discovered, that `vtimer_msg_receive_timeout()` does not timeout. Investigating this further it seems, that `vtimer_callback_msg()` actually gets called, but the main thread never receives the message in `vtimer_msg_receive_timeout()` for some reason.

[2015-06-24 14:57] Lotterleben opened #3256 "make: Setting constants on compile time doesn't really set them everywhere"
During the work on https://github.com/RIOT-OS/RIOT/pull/3022, @BytesGalore noted that adding the possibility to set constants on compile time the way we do it currently doesn't set the constant everywhere (I'll just qute him):

This is done in at least one other instance, namely the RPL Makefile (https://github.com/RIOT-OS/RIOT/blob/9ecaea4038d401659f79e6ee93b82692c90c2372/sys/net/routing/rpl/Make

[2015-06-24 15:04] #3156 closed

[2015-06-24 15:07] BytesGalore commented on #3256
Small addition, when you set `QUIET = 0` you can track which objects are compiled with the provided command line compile time constant.

[2015-06-24 15:11] OlegHahm commented on #3256
`CFLAGS="-DUNIVERSAL_ADDRESS_SIZE=17" make`  will work.

[2015-06-24 15:32] BytesGalore commented on #3256
@OlegHahm yup, but the intention was to provide this configurability when just using the FIB module and passing the according parameter to `make` for the project that uses the FIB.
In that case it depends on when the specific Makefile of a module is used for compiling the .o/.a files.
If I add this line to say `RIOT/sys/net/network_layer/fib/Makefile`, its only parsed and used when compiling this

[2015-06-24 17:12] PeterKietzmann opened #3258 "gnrc/ng_ipv6_addr: potential overrunning array?"
I don't know much about the implementation. So just understand this as a question and close the issue if it's stupid. Assuming in [`ng_ipv6_addr_init_prefix`](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/network_layer/ng_ipv6/addr/ng_ipv6_addr.c#L60) the variable `bits` becomes `128`. Then `bytes = bits/8` will become `16`. In [line 76](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/ne

[2015-06-24 17:18] cgundogan commented on #3258
`if (bits % 8)` comes to rescue here, the code in question will not be executed if bits is 128

[2015-06-24 17:21] #3258 closed

[2015-06-24 18:01] PeterKietzmann commented on #3258
Sure. I guess I need to go home...

[2015-06-25 06:52] gebart commented on #2768
should we close this in favor of #3216 ?

[2015-06-25 06:53] gebart commented on #2768
nevermind, there may be more periph drivers that need to be modified.

[2015-06-25 09:07] OlegHahm commented on #3256
Ah, okay, sorry for my lazyness to read through the referenced PR. With the mentioned snip for the (application's?) Makefile: didn't this work, either?

[2015-06-25 11:45] PeterKietzmann opened #3261 "gnrc/ng_netdev_eth: potential dereferencing nullpointer"
In ng_netdev_eth the line  [`if (payload)`](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/link_layer/ng_netdev_eth/ng_netdev_eth.c#L376) indicates that `payload` might be `NULL`. Some lines below [`_addr_set_multicast(hdr->dst, payload)`](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/link_layer/ng_netdev_eth/ng_netdev_eth.c#L399) is called. Inside this function, `payload` is [dereferen

[2015-06-25 12:19] authmillenon commented on #3261
Is this a duplicate of https://github.com/RIOT-OS/RIOT/pull/3238? Can you please refer to the lines you are talking of?

[2015-06-25 12:20] authmillenon commented on #3261
This IS a duplicate of #3238.

[2015-06-25 12:21] PeterKietzmann commented on #3261
Yes it is was a duplicate. PS: I linked the regarding code lines

[2015-06-25 17:29] cgundogan commented on #3249
https://github.com/RIOT-OS/RIOT/pull/3250#issuecomment-115216907

We still need a solution for usage in IPv6 though.

How will ipv6 react if #3250 gets merged? I mean, does this still fit into the logic of ipv6? I don't really understand the line of code btw. What is your intend by putting a `NULL` param into `fib_get_next_hop()`?

[2015-06-25 17:38] cgundogan commented on #3249
BTW I have no idea why I only encounter this crash when I merge #3233

[2015-06-25 18:25] authmillenon commented on #3249
IPv6 will react as such, that routing won't work... We will need at least my proposed fix for that. Or something better. :) What code are you referring to? The current implementation is erroneous.

[2015-06-26 08:59] haukepetersen commented on #2768
I would like to propose the following scheme for the peripheral drivers (as already merged for GPIO and PR'd for SPI -> #3216): We do boundary checks only in the initialization function(s), and change the rest of the access functions to a `void xx(...)` signature.

The rationale behind this is, that once you configured a peripheral, there will be hardly errors (except those that are explicitly def

[2015-06-26 14:36] haukepetersen commented on #2768
Ok, in the sense of this discussion I PR's a change to the UART interface to make my point: #3265

[2015-06-28 10:14] gebart commented on #1323
see #3107 for `__dso_handle` and some other definitions that may help for general C++ support.

[2015-06-28 10:54] gebart commented on #2173
any news on this issue?

Please open a separate issue for the openocd problem with non-reset board after flash.

Is the original crash still happening?

[2015-06-28 15:50] Lotterleben commented on #3256
You mean of  #3022? It was for a while because I'd asked @BytesGalore for this functionality, but then he discovered the issue described and then it wasn't part of the PR anymore.

[2015-06-28 16:04] OlegHahm commented on #3256
Yes, I was talking abouit #3022, but I couldn't find
[code]
there.

[2015-06-28 16:16] Lotterleben commented on #3256
Thats because Martin already rebased...

[2015-06-28 16:18] OlegHahm commented on #3256
Because, it didn't work?

[2015-06-28 16:19] Lotterleben commented on #3256
Exactly. We opened the issue with a bit of a delay there :/

[2015-06-28 17:57] bapclenet commented on #2173
This crash still happen by using Eclipse to debug. Using debug command line on terminal doesn't make the board crash.

[2015-06-28 18:09] bapclenet commented on #2961
@authmillenon, is this bug solved?

[2015-06-28 18:10] bapclenet commented on #2276
@LudwigOrtmann, is the problem solved or does it still happen?

[2015-06-28 21:05] A-Paul commented on #3252
@PeterKietzmann, yes he is. Thanks. :-)

By now (still no familiar with the structure and history of RIOT) I'm confused by figuring out:
1. How the list entries map to the header files in *sys/include/net*.
2. Where to find the specific untittests for the new network stack in *"tests/unittests/"* and other directories under *"tests/"* (Unsure if *"tests/udp"* is the only exception).
3. And again,

[2015-06-29 01:35] benoit-canet opened #3269 "Some calls to msg_init_queue get the size wrong due to improper usage of sizeof"
From core/include/msg.h:

 /**
   * @brief Initialize the current thread's message queue.
   *
   * @param[in] array Pointer to preallocated array of ``msg_t`` structures, must
   *                  not be NULL.
   * @param[in] num   Number of ``msg_t`` structures in array.
   *                  **MUST BE POWER OF TWO!**
   *
   * @return 0, if successful
   * @return -1, on error
   */
int msg_in

[2015-06-29 06:46] PeterKietzmann commented on #2276
This is related to the old driver implementation. Would be nice if someone checks if this also occurs in the new implementation somehow. @bapclenet any capacities :-) ?

[2015-06-29 07:13] PeterKietzmann commented on #3252
1. @A-Paul, currently it's a bit confusing as we have both the old and the new network stack in master. Modules related to the new stack are prefixed with `ng_`. In *sys/include/net* there are only header files related to the new stack. Except the device driver interfaces you should find all relevant headers there. For example: "Netdev Ethernet" relates to `ng_netdev_eth.h`, "Packet Buffer` relate

[2015-06-29 07:46] gebart commented on #2276
There is a PR open for changing the api as well.

[2015-06-29 07:54] bapclenet commented on #2276
@PeterKietzmann, I'm currently on an other project, I will be back with the samr21 later.
Gebart, yes it might solve the problem but I think this is specific to the samr21.

[2015-06-29 08:22] authmillenon commented on #2961
Didn't test it in a while, but since we still have problems with wrongful overwriting in the packet buffer, I would dare to say it is still an issue.

[2015-06-29 08:27] gebart commented on #2961
Does it happen with UDP as well as ICMPv6?

[2015-06-29 08:31] authmillenon commented on #3252
That is not true, IMHO. `tests/` contains what it says: test application. Most of them utilize the shell and are missing a proper execution script, but they are still tests. Anyway my rational behind creating a new test application for every netapi integration test was, that `tests/unittests` is to be used only for tests not involving threads, timers, IPC etc. (because those things are hard to map

[2015-06-29 08:45] gebart commented on #2961
@authmillenon Do you always get an `FE 80` at offset 11 in the source address?

[2015-06-29 08:53] PeterKietzmann commented on #3252
@authmillenon naming them as "demo" was a bit imprecise, I agree. I was thinking about driver tests I guess. Anyway, in this issue we are talking about the bare unittest, right? This should be the location that we are focusing on. IMO that's something where "not-so-__gnrc__-experienced" people can support.

[2015-06-29 09:10] authmillenon commented on #3252
@PeterKietzmann Yes, but they are the least interesting in terms of complexity for the stack. The netapi calls are really what glues everything together/where the most seems to go wrong ;-).

[2015-06-29 09:16] gebart commented on #3255
is this related to #3269 ?

[2015-06-29 09:17] #3269 closed

[2015-06-29 09:18] OlegHahm commented on #3252
@A-Paul was referring to these tests as [Smoke Tests](https://en.wikipedia.org/wiki/Smoke_testing_%28software%29)

[2015-06-29 10:02] PeterKietzmann commented on #3252
@authmillenon I never wanted to say that they are not interesting :-) ! @OlegHahm I'm not sure I got what you wanted to tell me. Anyway, it would be nice if you manage this testing, I'll better keep me out to avoid inconsistencies. @katezilla could also be interested

[2015-06-29 13:33] authmillenon commented on #3255
Close: I didn't initialize any packet queue for this particular thread (`main`) so the message had no way to be delivered. So this isn't a bug, but was just wrong usage.

[2015-06-29 13:33] #3255 closed

[2015-06-29 15:49] OlegHahm commented on #3252
@PeterKietzmann, I just think that "smoke testing" seems to be the most correct term for most of the applications located directly under `tests/`.

[2015-06-29 15:50] OlegHahm commented on #3255
Maybe the documentation can be improved!?

[2015-06-29 16:46] authmillenon commented on #3255
Of what?

* of `vtimer_msg_receive_timeout()` does not really apply, since `msg_receive()` is also "affected"
* of `msg_receive()`, maybe. But than I would in general state, since you never know if a message comes from ISR or not.
* of `msg_init_queue()`?
* of `main()` (is there even documentation on that?)

[2015-06-30 09:50] authmillenon commented on #3252
Can someone shed some light on how the coverage is defined?

[2015-06-30 09:56] rousselk opened #3275 "Hard Fault on iot-lab_m3 platform"
Hello everyone,

When performing extensive experimentations of my RIOT code on IoT-LAB M3 nodes, I regularily encounter `HARD FAULT` panics.

Reading the ARM Cortex-M manual indicates that Hard Faults are non recoverable, hardware-generated exceptions, usually provoked by interruption (mis)management.

Since I also get the impression that in my experimentations, I am sometimes facing problems that

[2015-06-30 10:26] PeterKietzmann commented on #3201
@authmillenon could you provide a simple patch or something to test this? Is this mybe a Hack'n'ACK candidate?

[2015-06-30 10:30] authmillenon commented on #3201
This is a little bit more complex to be just "a simple patch". You probably have to "merge" two or more snips temporarily to get this fixed.

[2015-06-30 10:31] authmillenon commented on #3201
What I can do is add a test application that show-cases this bug...

[2015-06-30 10:31] authmillenon commented on #3201
But not before the Hack'n'ACK itself.

[2015-06-30 11:13] PeterKietzmann commented on #3201
Yes, that's what I meant. And no stress, I just wanted to trigger this discussion...

[2015-06-30 11:33] authmillenon commented on #3201
Will add a (for now deactivated) test to #3248.

[2015-06-30 11:56] OlegHahm commented on #3255
At least the documentation of `vtimer_msg_receive_timeout()` should state that a message queue is required, because the messages are always sent non blocking here.

In general state...what?

[2015-06-30 12:05] OlegHahm commented on #3275
@rousselk, I recently did some experimentation of lower layer stuff on the IoT-LAB_M3 nodes and cannot recall to encounter any hard faults there, but experiments were mostly running only for a couple of minutes. Can you provide some kind of showcase to reproduces the failures?

[2015-06-30 12:06] authmillenon commented on #3255
*state*, that a message queue is required.

[2015-06-30 13:57] OlegHahm commented on #3255
Required? No, one has just to be aware that messages might get lost if you may receive messages from ISR (or other non-blocking senders).

[2015-06-30 13:59] OlegHahm commented on #3252
In theory, see https://en.wikipedia.org/wiki/Code_coverage. In practice, as I wrote, this is for now just a very rough estimation based on the number of functions per interface and the number and range of parameters.

[2015-06-30 16:13] #3249 closed

[2015-06-30 18:52] phiros opened #3280 "make: buildtest target always generates some native artifacts"
When you execute a buildtest for a MCU group which is not ```qemu-i386``` a directory ```native```
gets created in the bin folder with an empty archive file in it. I am not really sure if you can call this a bug but I find it odd (as a user I would call this unexpected behavior).
I only found out about this because the ```bin/native``` directory doesn't seem to be created as part of the buildtest

[2015-07-01 05:00] gebart commented on #3280
It comes from the ar-wrapper test on this line:
https://github.com/RIOT-OS/RIOT/blob/master/Makefile.include#L134

It creates the empty archive in native if that is your default target, if you `export BOARD=somethingelse` it will be placed there instead.

An `rm` at the end of the shell command line should be sufficient:
[code]

[2015-07-01 08:40] rousselk commented on #3275
Hello @OlegHahm,

I encounter these problem while working on my PhD thesis stuff, which has diverged quite a lot from RIOT's master branch... My code is in my own repositories (`rousselk/RIOT` branch `s-cosens`, with test applications stored in `roussel/projects` branch `my-work`).

I can imagine, though, that trying to work on these code bases would be much hassle for you.

These hard faults are

[2015-07-01 08:53] gebart commented on #3275
Can you run your code with the debugger attached and show us the backtrace
when you get your hard fault?

Hard faults are typically the application code dereferencing an invalid
pointer and reading/writing from/to an invalid memory location (or a
disabled peripheral), or unhandled interrupts.

Check that all vectors in you interrupt vector table point to valid
functions.

[2015-07-01 10:48] gebart opened #3284 "mpu: Use memory protection unit (MPU) for protecting memory accesses"
Many Cortex M3 and Cortex M4 processors have memory protection units that can be configured to disallow access to parts of the memory address space from different processes. We are currently not using any MPU features in RIOT.

Some starting ideas:
- A basic implementation: protect the ISR/Supervisor mode stack from accesses from application code.
- More advanced: per-thread access control, e.g. p

[2015-07-01 11:42] OlegHahm commented on #3284
@StefanPfeiffer, you had a bachelor student working on this some time ago. Can you share some information about the outcome somehow?

[2015-07-01 11:58] kaspar030 commented on #3284
Pebble OS uses MPU to provide a safe application environment. They run their apps in an MPU protected memory area, and provide access to system functionality through privilegue checked SVC system calls.

We could take a more detailed look...

[2015-07-01 14:18] OlegHahm opened #3291 "802.15.4: centralize default values and ranges"
Instead of letting every driver of an 802.15.4 capable radio defining the values for minimum and maximum channel, packet size, address lengths and default values for some of the settings, this should be defined in a centralized manner, i.e. in an 802.15.4 specific header.

[2015-07-01 14:25] kaspar030 commented on #3291
+1

This will probably be part of @haukepetersen and my netdev rework...

[2015-07-01 14:58] PeterKietzmann commented on #3291
+1

[2015-07-01 16:39] authmillenon commented on #3291
Not only the values should be defined centrally, but also some functions that are necessary all the time (e.g. netif_hdr to ieee 802.15.4 header and vice-versa).

[2015-07-01 20:16] authmillenon commented on #2175
@Kijewski have you any idea?

[2015-07-01 20:27] Kijewski commented on #2175
I already looked at the code when you opened the issue but I had no idea what's wrong back then. I'll look at the code again if I do not forget to do so. Please remind me if I do. :)

[2015-07-01 22:43] authmillenon commented on #3201
Added test to #3296 (https://github.com/RIOT-OS/RIOT/pull/3296/files#diff-8dceb44f59303bdb12036fd100abbab2R68 but as stated currently deactivated at https://github.com/RIOT-OS/RIOT/pull/3296/files#diff-8dceb44f59303bdb12036fd100abbab2R266)

[2015-07-02 04:36] gebart commented on #2175
I looked at the code as well but I couldn't find anything wrong either.
There is only one other unittest which uses `thread_create` (tests-core-ringbuffer.c), and that one calls it with `CREATE_STACKTESTS | CREATE_SLEEPING`, while this one calls it with only `CREATE_WOUT_YIELD`. Could that be the difference?

I can't test because my valgrind installation will not work for 32 bit executables and I

[2015-07-02 09:57] haukepetersen commented on #2851
I re-opened this issue, as I am not convinced of the outcome - actually I would argue for putting message queues on the stack! Some modules can be instantiated multiple times during runtime. There are scenarios where we don't even now the actual number beforehand. In these cases, I think it makes much sense to have the message queue on the stack, is it prevents having to manage some extra memory l

[2015-07-02 09:59] OlegHahm commented on #2851
I disagree: you have to know the number of instances at compile time in order to allocate the stack for their threads anyway.

[2015-07-02 10:32] gebart opened #3301 "fib_tests.test_fib_15_get_lifetime exp -1 was 1"
I get this failure consistently on the first boot after a flash (on `mulle`), but not on any subsequent resets after the first boot.

I have no idea where to look for the source of the error.

Below is a terminal dump (I pressed the hardware reset button a couple of times after the first to verify consistency)

[code]

[2015-07-02 11:46] BytesGalore commented on #3301
@gebart the failing test on your first boot determines if a read timepoint is lower than the current time + about one second.
It seems that this is not the case.

I guess after the flashing the current time is not cleared or just garbage, which produces a wraparound in the current time +1s and results that the left passed value in `timex_cmp()` is way larger.

[2015-07-02 14:31] #163 closed

[2015-07-02 15:01] OlegHahm commented on #163
Almost 2 years...

[2015-07-02 15:20] OlegHahm opened #3303 "ng_sixlowpan: API documentation is imprecise"
1. Documentation for `ng_sixlowpan_init()` does not specify what happens if called more than once.
2. Documentation for `ng_sixlowpan_init()` says that `EOVERFLOW` is only returned, if two many threads are running. Isn't rather the return value of `thread_create()` returned instead? (I don't want to look this up myself for black box testing.)

[2015-07-02 15:24] phiros opened #3304 "make: buildtest 'eats' compiler warnings and errors"
A look into ```Makefile.buildtest``` reveals that we suppress all compiler warnings and errors (except the return value) in the buildtest target (the target which is executed by ```compile_test.py``` for CI test runs):
[code]
As an additional result of this output redirection no details are given to the user/developer in case of a failed build.

I have two questions:

1. Do we really want to suppr

[2015-07-02 15:31] OlegHahm commented on #3304
Definitely not!

[2015-07-02 15:36] authmillenon commented on #163
One of the oldest remaining issues :)

[2015-07-02 16:46] authmillenon commented on #3303
1. Will do
2. I might have just copied the return documentation from `thread_create()`, since they *are* directly piped through. So I'm not 100% sure what the issue is you point out here.

[2015-07-02 16:48] OlegHahm commented on #3303
My question is basically: will I get this error only with too many threads running or also if, e.g., no memory for the sixlowpan thread is available.

[2015-07-02 17:23] gebart commented on #3304
See also #1121

[2015-07-02 17:25] gebart commented on #3304
What is the limit on variable contents length in shell scripts like this? I imagine the message log can become quite long for some platforms.

[2015-07-02 17:28] OlegHahm commented on #3252
@authmillenon, am I right to assume that network interface PIDs are not checked when added to IPv6 or 6LoWPAN (e.g. in `ng_sixlowpan_netif_add()`)? If yes, we should document this behavior.

[2015-07-02 17:40] authmillenon commented on #3303
No for this case 1 would apply.

[2015-07-02 17:43] authmillenon commented on #3304
You can always pipe to a temporary file.

[2015-07-02 17:45] authmillenon commented on #3252
What do you mean with "checked"? Usually they are called by `ng_netif_add` so there is no need to check if they are an interface.

[2015-07-02 18:00] OlegHahm commented on #3303
Means: I will get this error only with too many threads running?

[2015-07-02 18:02] OlegHahm commented on #3252
What happens if a I call, for instance, `ng_sixlowpan_netif_add()` with a random ID? Will it check if this ID is a valid PID or just create the 6lowpan interface?

[2015-07-02 18:37] phiros commented on #3304
Well, as far as I know most modern shells are capable of storing considerably more than just a few kB in variables (supposedly as much as they can malloc).
However, it might still be safer to go for temporary files instead (like @authmillenon suggested).

[2015-07-02 19:19] emmanuelsearch commented on #3175
Seems to work. But I still get quite some warnings:

[code]

[2015-07-02 19:22] authmillenon commented on #3303
Yes.

[2015-07-02 19:24] authmillenon commented on #3252
Will add it.

[2015-07-02 19:27] emmanuelsearch commented on #3198
It also compiles for ng_networking example, but I also get quite some warnings (see below)

[code]

[2015-07-02 20:31] phiros commented on #3280
fixed by #3302

[2015-07-02 20:31] #3280 closed

[2015-07-03 03:53] gebart commented on #3304
@phiros could you open a PR enabling stderr messages in `make buildtest`?

[2015-07-03 09:06] #3303 closed

[2015-07-03 13:31] PeterKietzmann commented on #2726
@kushalsingh007 are you still working on this? The occurrences may have changed after #3095. Didn't look for it, just came to my mind...

[2015-07-03 13:38] PeterKietzmann commented on #2623
@BigDaddyD what's the status? Are you still working on it?

[2015-07-03 13:48] PeterKietzmann commented on #659
This seems outdated. Can we close it?

[2015-07-03 13:49] OlegHahm commented on #659
My favorite label...

[2015-07-03 13:49] #659 closed

[2015-07-03 13:52] OlegHahm commented on #994
#2907 could solve this. Just someone has to replace all the printf and puts calls...

[2015-07-03 13:53] OlegHahm commented on #964
Fixed by #2586.

[2015-07-03 13:53] #964 closed

[2015-07-03 13:54] OlegHahm commented on #828
@authmillenon, net_if is outdated, right?

[2015-07-03 14:06] kaspar030 commented on #994
Couldn't care less... :)

[2015-07-03 14:06] kaspar030 commented on #994
we should rephrase the issue title.

[2015-07-03 14:21] authmillenon commented on #994
Does not apply anymore anyways ;-P

[2015-07-03 14:21] authmillenon commented on #828
Not for msba2…, but in general yes.

[2015-07-03 17:18] kushalsingh007 commented on #2726
Currently I have stopped working on it due to some other stuff that I am working on  .. But once I get free I'll have a look at it again. Meanwhile, if someone else wants have a look  .:+1:

[2015-07-04 17:47] phiros commented on #3304
I already did (#3314) :-) However, this doesn't help that much since ```compile_test.py``` does some weird stuff with stdout and stderr. I will look into this soon.

[2015-07-04 18:47] phiros opened #3315 "tests/driver_k2xrf overflows ram on nucleo-f334"
This could either be a broken toolchain (unlikely; observed this both on ubuntu 15.04 and 14.04) or something that our current build script does not want to tell us (see #3304).

Error log:
[code]

[2015-07-04 19:02] gebart commented on #3315
Examine the map file to see which functions or files are using the large
amounts of ram.

[2015-07-05 16:49] jremmert-phytec-iot commented on #3315
The Board nucleo-f334 is not blacklisted in the kw2xrf-driver yet as this is done in ```tests/driver_at86rf2xx```.

So far, the defined size os 16k RAM apparently was sufficient. #3310 reordered the RAM configuration to 12k RAM and 4k CCMRAM. I'm not really familiar of the change in #3310 and the difference of CCMRAM and RAM. But shouldn't the overall size (RAM+CCMRAM=16k) also be used after the p

[2015-07-05 19:03] kaspar030 commented on #3315
On 07/05/15 18:49, Jonas R. wrote:

No. If this test ever worked before on the f334, it was pure luck.

[2015-07-05 21:55] jremmert-phytec-iot commented on #3315
Opened #3318

[2015-07-06 06:23] A-Paul commented on #3252
While looking through the existing tests I've seen a lot of locallly defined data stubs. I may be usefull if those who are sufficient for other test could go into into `unittests-constants.h`. Ideally including a short comment which special state/case they represent.

[2015-07-06 06:34] PeterKietzmann commented on #3315
As #3318 was merged I think we can close this issue.

[2015-07-06 06:35] #3315 closed

[2015-07-06 09:26] emmanuelsearch opened #3320 "native: tapsetup script fails on OS X"
When I try to execute tapster-osx.sh I get:

[code]

[2015-07-06 10:14] authmillenon commented on #3320
Have you tried #3182 working for you?

[2015-07-06 11:52] PeterKietzmann commented on #3222
Currently I'm running into the same problem with RIOT-RIOT pings after a while (just for the record)

[2015-07-06 13:49] OlegHahm commented on #3252
Seems like a valid proposal. Maybe you can prepare a PR for this?

[2015-07-06 15:23] PeterKietzmann commented on #1204
@OlegHahm so do you suggest to remove the `thread_sleep()` again?

[2015-07-06 15:35] PeterKietzmann commented on #1131
@authmillenon I think the list is not up to date, right?

[2015-07-06 16:38] authmillenon commented on #1131
Not really, no. But don't hesitate to update it ;-)

[2015-07-07 05:58] PeterKietzmann commented on #1131
As far as I see it there are *some* unittests fot the new netif. There are still no unittests for the semaphores. I don't get why you listed `bloom` and `bloom_bytes` separately.

[2015-07-07 07:51] OlegHahm commented on #1204
Actually, yes, I think that would be the most sensible option. However, a (unit)test for `thread_exit()` would be very useful for this.

[2015-07-07 08:14] kaspar030 commented on #1204
+1 for removing the sleep

[2015-07-07 08:34] PeterKietzmann opened #3324 "cpu/native: LPM, should we add a break in switch case?"
Please compare [this line](https://github.com/RIOT-OS/RIOT/blob/master/cpu/native/lpm_cpu.c#L132). Even if it's an `exit` call, I wonder if we should add a `break;` there for the sake of completeness.

[2015-07-07 08:34] PeterKietzmann commented on #3324
@LudwigOrtmann any suggestions?

[2015-07-07 08:39] emmanuelsearch commented on #3320
Actually, following the advice of @thomaseichinger, updating tapsetup to the latest version seems to fix the problem I had http://tuntaposx.sourceforge.net/download.xhtml

[2015-07-07 08:39] #3320 closed

[2015-07-07 08:44] kaspar030 commented on #3324
Wouldn't that just be one unnecessary instruction?

[2015-07-07 08:51] PeterKietzmann commented on #3324
Maybe yes. But that is what I'd like to figure out. Feel free to close this issue if this is (really) the case

[2015-07-07 09:18] PeterKietzmann commented on #3222
@kaspar030 do you have __any__ further suggestions regarding this issue?

[2015-07-07 09:51] kaspar030 commented on #3222
Well, my gut feeling is that errno is being used in a non-thread-safe way.  Other than completely refactoring native, we could try to ignore all errors from select.

[2015-07-07 11:12] authmillenon commented on #1131
Because those were seperate test applications in the `tests/` directory at the time I opened the issue.

[2015-07-07 14:07] A-Paul commented on #3324
As long as there exists **no** condition in `real_exit()` that could make it *return*, `break` would be considered "dead code". Code analyzers may give a warning on that sequence.

[2015-07-07 14:14] PeterKietzmann commented on #3324
Ok, then let's close this issue

[2015-07-07 14:14] #3324 closed

[2015-07-07 15:02] gebart opened #3329 "Travis doesn't show failing platforms anymore"
See: https://travis-ci.org/RIOT-OS/RIOT/jobs/69877339#L569

The line
[code]
should read something like:

[code]

[2015-07-08 15:49] daniel-k opened #3338 "ng_pktbuf: strange debug output"
I'm not sure if it's worth an issue, but I open it anyway. While digging through `_pktbuf_add_unsafe(...)` ( [link](https://github.com/RIOT-OS/RIOT/blob/1e262e3e73b5b077e42e0b71fab758bd944070b0/sys/net/crosslayer/ng_pktbuf/ng_pktbuf.c#L197) ),  I stumpled upon some strange debug outputs.

[code]
I guess it should print `(void *)new_pktsnip` instead. `pkt` might even be `NULL`.

[code]
The same as

[2015-07-08 22:36] kaspar030 commented on #3222
@PeterKietzmann Could you try #3340? It makes hammer-pings a lot more stable, and native crashes differently when applied.

[2015-07-09 07:28] PeterKietzmann commented on #3222
I did. Seems to fix the above described bug. Often when hammering one tap device with pings (RIOT-RIOT in my case) I get `SIGTRAP`s after `isr_cpu_switch_context_exit()` and `SIGSEV`s in `__isr_stack[]`. Any ideas?

[2015-07-09 07:54] gebart commented on #3222
@PeterKietzmann From what you describe, I would guess a thread control block gets overwritten by a buffer overflow or stack overflow somewhere. Are you close to filling the stack on any thread?

[2015-07-09 08:40] PeterKietzmann commented on #3222
@gebart regarding buffer overflows I hoped that the address-sanitizer tool would have shown me warnings. Long time no warnings. According to the thread stack I remember @haukepetersen once experienced a strange behaviour that the IDLE thread grew in size over the time. I'm currently looking at this, but until now I didn't find anything. See this output+backtrace. Strangely enough `idle_stack()` wa

[2015-07-09 08:42] PeterKietzmann commented on #3222
PS: What you see is the output of a modified version of the `ng_networking` example when pinging __many__ times from `tap0` to `tap1` and printing the stack sizes each 10000 pings.

[2015-07-09 08:44] PeterKietzmann commented on #3222
Anyone dares to merge this?

[2015-07-09 09:05] #3222 closed

[2015-07-09 09:12] #715 closed

[2015-07-09 10:28] authmillenon commented on #3338
You are right, these debug outputs are wrong, will fix.

If you see a lack of documentation you do understand, please go ahead and rework it. If you don't ask and lets try to figure out a better documentation together. In general I should point out however, that @haukepetersen and I are planing to rework the packet buffer API slightly.

[2015-07-09 10:31] kaspar030 opened #3341 "netdev2_tap: crashes when hammered"
(this is a different problem than #3222)

using "ping6 -f <RIOT-mac-address>%tapX" from two threads on linux to riot at the same time, I can reliably crash native:

[code]

[2015-07-09 10:34] authmillenon commented on #3338
(Maybe its better if you open a new issue for the last point since this is unrelated to this issue).

[2015-07-09 10:38] authmillenon commented on #3341
Did you check this with #3316 merged? Because this fixed a lot of these problems.

[2015-07-09 10:53] kaspar030 commented on #3341
yes, this is on master.

[2015-07-09 12:05] PeterKietzmann commented on #3341
@kaspar030 what are the prerequisites for such a ping from linux to tapX? Just doing it throws "unknown host". I didn’t investigate further.

[2015-07-09 12:14] kaspar030 commented on #3341
@PeterKietzmann on the linux side, "ip link set tapX up", then "ping6 -f <riot-ll-address>%tapX"

[2015-07-09 12:14] kaspar030 commented on #3341
@PeterKietzmann I usually create a persistent tap using "openvpn --mktun --dev tap0". That way you can RIOT as non-root, and the tap survives RIOT restarts.

[2015-07-09 12:39] #3338 closed

[2015-07-09 13:03] phiros commented on #3329
This is related to my changes in #3314 and ```compile_test.py```.
I will work on this today.

[2015-07-09 13:40] kaspar030 commented on #3175
Fixed for me in master. @thomaseichinger @emmanuelsearch could you confirm and close?

[2015-07-09 14:04] emmanuelsearch commented on #3175
builds on master indeed.

[2015-07-09 14:04] #3175 closed

[2015-07-09 14:04] phiros opened #3346 "drone-scripts/build_and_test.sh: individual builds may fail randomly"
I've noticed several times now that individual builds can fail randomly (for example `example/default` seems to fail a lot for `avsextrem`). It looks like something in either `Make.buildtest` / `Makefile.include` or `compile_test.py` prevents examples/tests from being compiled properly when multiple buildtests (for different `BUILDTEST_MCU_GROUP`s) run concurrently.
So far I've noticed one case in

[2015-07-09 19:39] kaspar030 commented on #3341
Can you also reproduce this?

[2015-07-09 20:53] gebart opened #3350 "Strider: race?"
I got the following on my strider run at https://ci.riot-os.org/riot-os/riot/job/559ede2d13d80bee08e15dd9

[code]

Is there some race between multiple concurrent builds? Does every parallell build have its own workspace? It seems strange that a lock file would already exist if it was a pristine clone.

[2015-07-09 20:55] gebart commented on #3350
I found this which may be related: https://github.com/Strider-CD/strider/issues/745, https://github.com/Strider-CD/strider/pull/832

[2015-07-09 21:14] gebart commented on #2927
OK so @jfischer-phytec-iot started working on this in https://github.com/jfischer-phytec-iot/RIOT/commit/3034040ca40c0e4662e2ff88423b555fe0d59e59 as a generalization of the concepts introduced in #2605

@d00616 Do you want device drivers to start using the `xxx_poweron()`, `xxx_poweroff()` functions in the peripheral drivers?

[2015-07-09 21:26] gebart opened #3351 "Strider: running test has caption "default""
![snapshot1](https://cloud.githubusercontent.com/assets/317506/8607225/c6c865f8-2691-11e5-9fba-05f16f7d8bb2.png)

The text just says "default" for the strider build.

[2015-07-09 21:46] phiros commented on #3350
I just checked the logs there is no mention of an error (so I don't think that Strider-CD/strider#745, Strider-CD/strider#832 are related to this). However, I did notice that each ```BUILDTEST_MCU_GROUP``` operates on the same directory.
#3352 should fix this problem by giving each ```BUILDTEST_MCU_GROUP``` a separate workspace.

[2015-07-10 00:57] phiros commented on #3351
Seems like the github-status plugin does not set the context parameter.
I will change this soon.

BTW: Do you have any suggestions for the text? The best I came up with
is "RIOT-OS/Strider-CD".

[2015-07-10 04:22] gebart commented on #3351
Is it possible/desired to have other types of checks as separate strider
runs?
Strider-CD/compile-test?

Maybe we can use separate runs as a way to get a view of the build matrix
directly inside the PR threads on github, or is that more difficult to
maintain?
Strider-CD/static checks, Strider-CD/compile-test/cortex-m4 etc.

[2015-07-10 06:54] PeterKietzmann commented on #3341
I just gave it a quick try yesterday but I wasn't able to set the tap device up, I guess. Still the "unknown host" thing. I assume I need to spend a bit time the get this running.

[2015-07-10 10:37] OlegHahm commented on #3351
If this is possible, I think it would be very helpful.

[2015-07-10 10:52] OlegHahm commented on #3341
I can reproduce.

[2015-07-10 10:58] kaspar030 commented on #3341
Alright. To rule out nativenet, we need a l2 test application.
Could someone write a shell command that takes "<if-pid> <target-mac-addr> <num> [<delay>] [<extra-data>]" as arguments,
and sends <num> l2-packets with ethertype 0xffff to <target-mac-addr> via <if-pid> with <delay> us delay between packets.
The payload of the packet should contain the nr of the packet, starting with 0 for the first.

[2015-07-10 11:06] authmillenon commented on #3341
The new and shiny way to go (with iproute2) would be

[code]

This is how it is set up in the `tapsetup.sh` script (and the unified script introduced in #3182) minus addition to a bridge. This also creates a persistent tap interface accessible by the user `USER`.

[2015-07-10 11:09] authmillenon commented on #3341
About the shell command: will do: wanted to do something similar on ICMPv6 echo requests anyways. But how does this compare to sending pings from Linux to RIOT? I guess the combination of receiving and sending to two distinct sources is what destroys RIOT here.

[2015-07-10 11:10] authmillenon commented on #3341
something like `l2ping` would be far more comparable I think. Sending those from the Linux-side can be done with `scapy`.

[2015-07-10 11:13] kaspar030 commented on #3341
Just that will test *only* gnrc l2 receive. If that doesn't break when
used from two RIOT senders to one receiver, fine. Our problem is in a
higher level.

Next step is to write a simple responder that just bounces back the
packet unchanged. If that doesn't break, but icmpv6 does, the problem is
ipv6 or icmpv6.

[2015-07-10 11:14] kaspar030 commented on #3341
Keep it simple to rule out errors in the tests... Sending l2 in a loop should not be more than +5 lines to _netif_send().

[2015-07-10 12:37] miri64 opened #3355 "Provide getopt for platforms that don't support it"
newlib provides `getopt.h` which would implementing commands like `ping6` far easier. Sadly msp430-libc and avr-libc do not provide this header. Conclusively, a lightweight implementation for those platforms would be much appreciated.

[2015-07-10 15:35] A-Paul opened #3363 "Proposal for directory structure for automated tests"
Define a directory under `$RIOTBASE/tests/` and outside `tests/unittests` where sources for automated tests can be placed. It has turned out in discussions [#3296](https://github.com/RIOT-OS/RIOT/pull/3296#issuecomment-118338031), [#3307](https://github.com/RIOT-OS/RIOT/pull/3307#discussion_r33860255) that the established _unittests_ becomes insufficent for extended testing.
## Motivation

The agr

[2015-07-10 16:51] phiros commented on #3351
With the current version of strider it is not possible to have multiple projects per github repo.
However, I started to work on a build matrix plugin anyways. Maybe I can integrate your idea for
several status messages.
We just have to keep in mind that there is a rate limit for the Github API end-point.

[2015-07-10 18:19] kaspar030 commented on #3351
Github might raise our limit, they say they do if you can explain why
you need it.

[2015-07-10 18:25] phiros commented on #3351
Cool. That is good to know

[2015-07-10 18:27] daniel-k opened #3365 "ng_pktbuf_add: possible packet corruption in case of internal error"
[Link to source](https://github.com/RIOT-OS/RIOT/blob/d2d4e69d8acdd4988d06917b7d89e1aa0e1b97cd/sys/net/crosslayer/ng_pktbuf/ng_pktbuf.c#L275)

[code]
...
[code]

In case this fails it leave `pkt` altered, i.e. `pkt->size -= size` and `pkt->data` changed.

The only thing is that I don't really understand the circumstances for ` _pktbuf_internal_add_pkt(pkt->data) == false`. I get this when I supply

[2015-07-11 05:28] d00616 commented on #2927
@gebart I'm not sure what you mean with your question. Lesion i have learned is a driver must be in functional state when it's initialized.

I my opinion this _poweron, _poweroff model makes it difficult to implement an low power application. What device drivers are included and powered on is defined by choosing an board. But an application has to care about switching all devices off, but i don't

[2015-07-11 08:34] LudwigOrtmann commented on #994
Not only the title, the discussion of this issue is unrelated as well .. I'd just close and open a new issue. No need for recycling bits.

[2015-07-11 08:42] LudwigOrtmann commented on #3198
@thomaseichinger not off the top of my hat, no time for deeper soul search atm

[2015-07-11 08:52] LudwigOrtmann commented on #3195
I'm with @haukepetersen .

[2015-07-11 09:12] LudwigKnuepfer opened #3366 "periph/i2c: handle NACK"
The I2C peripheral driver interface does not currently handle a slave `NACK`.

As there are I2C devices which have `NACK` as a valid part of the communication process, the current interface (which only returns `-1` on `undefined device given`) can not cope with these devices.

I'd suggest adding a `-2` for `no ACK received` to the interface documentation and changing the driver implementations acc

[2015-07-11 09:52] N8Fear commented on #3355
Did you consider to take the getopt stuff from musl? I think musl is a very neatly written libc implementation. It's also relatively modular and doesn't assume too much. It's also MIT-licensed so license shouldn't be a problem either.

[2015-07-11 10:26] authmillenon commented on #3363
Though I'm much in favor of structuring the automated tests better (though we should IMHO even more subdivided by the means of testing [unittests with embUnit, tests via shell using pexpect or similar tools, etc.]), we also should consider that different combinations of modules can lead to slightly different behaviors (that was the original idea behind putting all unittests for all modules in one

[2015-07-11 10:30] authmillenon commented on #3365
`size == 0` will become illegal anyways when we will redo the `ng_pktbuf` API some day. Or do you have a valid point why this is useful? Even though you described your use case I'm not sure *why* you do it.

`_pktbuf_internal_add_pkt()` returns `false` when `pkt->data` is not part of a packet in the packet buffer, so I'm not sure how this is related to the size parameter (maybe `pkt->data` becomes

[2015-07-11 10:44] daniel-k commented on #3365
I have a header that specifies the type of my payload. Some types have payload, some have not. When I "add" the header while there's no payload behind, I `pkt_buf_add` something on existing data with the size of the existing data.
If it's meant to be used otherwise please tell, but that's what I figured out it's supposed to do.

[2015-07-11 10:45] daniel-k commented on #3365
At the beginning you check
[code]
So this would never happen, would it?

[2015-07-11 11:42] authmillenon commented on #3365
If there is no payload, why do you add a `ng_pktsnip_t` for that?

[2015-07-11 11:43] authmillenon commented on #3365
I don't get what this has to do with `pkt` being in the packet buffer...

[2015-07-11 11:54] daniel-k commented on #3365
Well if `size > pkt->size` you cancel anyway, so `0 <= size <= pkt->size`.

As `pkt->data` is already in the packet buffer, incrementing it by something smaller than `pkt->size` will surely be in the packet buffer, too.

So there's just the case when `size == pkt->size` where `pkt->data` is not inside the packet buffer anymore. And this is what happens to me.

[2015-07-11 12:01] authmillenon commented on #3365
Why would it be? E. g.

[code]

is not in the packet buffer, but one can still call `ng_pktbuf_add()` with it (not sure if it makes sense, but the check in `_pktbuf_internal_add_pkt()` ensures it does not do weird things to it).

[2015-07-11 12:02] daniel-k commented on #3365
I'm dissecting packets comming out of netdev. The pktsnip I get has `pkt->type` UNDEF and `pkt->next->type` NETIF.

Now I want to analyse the UNDEF payload. I expect 2 bytes that are the header of my MAC layer. After these 2 bytes of header there might be any data or not. At that moment, I don't know this yet. Depending on what the header states I'll know then if there is more data to expect.

If

[2015-07-11 12:13] daniel-k commented on #3365
Okay. I didn't think of the possiblity that `pkt->data` might point to somewhere not in the packet buffer. This way your fix #3367 makes sense now. I always thought that this was supposed to be some kind of bounds check after moving `pkt->data`.

[2015-07-11 12:14] authmillenon commented on #3365
Aaaaahh… somehow I was assuming you added the payload with `ng_pktbuf_add()`, not the header. Now I get it... I'm honestly not sure how the packet buffer handles this with #3367. Can you check?

[2015-07-11 12:20] daniel-k commented on #3365
Will do on Monday. Didn't take my hardware at home :)

[2015-07-11 13:21] phiros commented on #3350
Fixed in #3352

[2015-07-11 13:21] #3350 closed

[2015-07-13 09:15] #3365 closed

[2015-07-13 11:05] #3329 closed

[2015-07-13 11:29] gebart opened #3371 "unittests_constants: TEST_STRING8 is 7 chars long"
https://github.com/RIOT-OS/RIOT/blob/master/tests/unittests/common/unittests-constants.h#L22
is only 7 characters long if not counting the terminating NULL byte because of the double backslashes only resulting in a single backslash in the string.
From looking at the other constants it seems like the string is expected to be 8 chars excluding the terminating NULL.

Also worth mentioning is that the

[2015-07-13 11:29] gebart commented on #3371
feel free to close if this is intentional.

[2015-07-13 12:32] authmillenon commented on #3371
Nope that was definitely not intentionally and explains why ASAN was complaining about in one of the lines I "fixed" in #3369 by not using `TEST_STRING8` ;-). Will do a PR.

[2015-07-13 13:49] #3371 closed

[2015-07-13 13:50] gebart opened #3377 "boards/qemu-arm: Add support for lm3s6965evb board for testing in qemu-system-arm"
lm3s6965evb and lm3s811evb are both Cortex-M3 based and supported as emulated machines in QEMU. Adding support for these boards will let us run unittests etc on virtual Cortex-M3 hardware inside Travis/Strider to catch any ARM Cortex specific issues. e.g. tests on the scheduler code, syscalls, memory allocation, anything not tied to a particular vendor..

[2015-07-13 14:43] gebart opened #3378 "Travis: Use container infrastructure"
http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade

Using this would require pre-packaging a lot of binaries because we can not use `sudo` any more.

A related question is: Will Strider become our primary CI system in the near future?

[2015-07-13 14:48] gebart opened #3379 "Travis: Use caching of toolchain installation"
Follow up to #3378
http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade#How-Do-I-Cache-Dependencies-and-Directories%3F

This could potentially reduce each build-matrix entry by a minute (package installation time) by caching all toolchain related files inside the Travis cloud.

[2015-07-13 15:56] OlegHahm commented on #3198
:tophat: ?

[2015-07-13 15:57] gebart opened #3383 "CI: Publish buildsizes results on a web page"
Continuation of the discussion at the end of #3368:

@OlegHahm:

@gebart:

@OlegHahm:

[2015-07-13 15:58] gebart commented on #3383
I was thinking of pushing this kind of information to a thingspeak.com channel and presenting the numbers on a web page.

[2015-07-13 15:59] OlegHahm commented on #3383
I have no experience with thinkspeak.com, but I'll take a look. @backenklee, maybe you're interested in this topic?

[2015-07-13 16:15] OlegHahm commented on #3363
I like the proposal, too.

@authmillenon, did I get it right that you are also in favor of having this proposal implemented?

[2015-07-13 16:33] authmillenon commented on #3363
I'm in favor of better structuring (and sub-dividing) of the automated tests. But I'm not sure if the current proposal makes sense with regards to more complicated tests than just module-wise tests (e.g. how does IPv6 behave with and without 6LoWPAN etc.).

[2015-07-13 16:57] OlegHahm commented on #3363
I'm not sure, I get this point. If tests are covering only one module or more than one should be unaffected by the question of having a subfolder for automated tests or do I get you wrong?

[2015-07-13 16:59] authmillenon commented on #3363
What I say is: What if the test is specifically for 2 or more modules and only makes sense if those modules are involved?

[2015-07-13 17:02] OlegHahm commented on #3363
Sorry, I still don't understand the problem.

[2015-07-13 17:14] OlegHahm commented on #3363
Ah, after a offline-explanation I got it. Yes, I agree: putting automated tests into subfolders is a good idea, "cloning" RIOT's folder structure in this tests folder seems to be a) overkill and b) not cover all test cases.

[2015-07-13 17:46] gebart opened #3387 "Strider: Strider reports tests successful if skipped via missing "Ready for CI build" label"
... as long as the static tests are OK.

[code]

[2015-07-13 17:47] gebart commented on #3387
added the major label because of the severity (false green lights for tests) even though it is probably an easy fix.

[2015-07-13 17:49] grundrauschen commented on #3284
Hello all together,

Because of holidays and moving back from Sweden I did not have time to answer earlier.
I am the student mentioned by @OlegHahm and wrote a Bachelor Thesis about that topic, which I handed in march 2014.
As a disclaimer I have to mention, that the thesis is based on a branch created by @StefanPfeiffer already in summer 2013 with some additions added later.
Because I was busy wi

[2015-07-13 23:09] authmillenon commented on #3341
One remark:

[code]

does not work for me, however

[code]

is working great. @PeterKietzmann maybe that is helpful for you.

On further note: I don't just get SIGSEGVs here:

[code]

This one I already know from flooding RIOT to RIOT:
[code]

[code]

[code]

Looks more like there is some stack corruption happening.

[2015-07-13 23:10] authmillenon commented on #3341
[code]

[2015-07-13 23:11] authmillenon commented on #3341
(tapnet(7) uses the `_nomac_thread`)

[2015-07-14 08:15] OlegHahm commented on #3341
IdleThread seems to be pretty full again.

[2015-07-14 09:32] kaspar030 commented on #3341
I'm using two times 'ping6 -f -I tap0 <ll-address of RIOT node>%tap0>.
Are you using the link layer address, too?

[2015-07-14 09:38] authmillenon commented on #3341
Are you using the link layer address, too?

Nope, and yes I was using two ping6 processes, too.

[2015-07-14 09:40] authmillenon commented on #3341
Oh btw:

Could someone write a shell command that takes <if-pid> <target-mac-addr> <num> [<delay>] [<extra-data>] as arguments,
and sends <num> l2-packets with ethertype 0xffff to <target-mac-addr> via <if-pid> with <delay> us delay between packets.
The payload of the packet should contain the nr of the packet, starting with 0 for the first. If <extra-data> is given, the packet should be filled wi

[2015-07-14 09:41] OlegHahm opened #3391 "doc: wrong hierarchy level for some modules"
For some weird reasons some modules (e.g. 6LoWPAN or IEEE802.15.4e) show up at the wrong hierarchy level at http://doc.riot-os.org/modules.html. Building the documentation locally seems to generate the expected hierarchy. The documentation on the web page is generated by doxygen version 1.8.8 - locally I have 1.8.9.1. Can someone cross check?

[2015-07-14 09:46] gebart opened #3392 "CI: Automatic testing of native on different platforms"
I would like to see automatic testing of the native platform on other systems than Debian+Linux+x86(or x86_64).

Suggestions for tests:
- FreeBSD
- OSX
- armv7a-hardfloat-linux-gnueabihf (Cortex-A\* linux)
- ~~AArch64 (armv8) (64 bit ARM)~~

[2015-07-14 09:47] kaspar030 commented on #3341
Different problem then, should open another issue. Could you try two pin6 -f to the link layer address?

[2015-07-14 09:47] authmillenon commented on #3391
I've got 1.8.6 and the same result as on the website.

[2015-07-14 09:48] gebart commented on #3391
I will check this later.
Is it possible to upgrade the website Doxygen version if there is a bug?

[2015-07-14 09:50] authmillenon commented on #3341
As with `ping6 -f %tap0` I get

[code]

[2015-07-14 09:55] authmillenon commented on #3391
`net_if` (Network interfaces) is also at the wrong spot on the website. BTW: both 6LoWPAN and IEEE802.15.4 are the old network stack's versions of those modules. The new ones are in the right hierarchy.

[2015-07-14 09:58] gebart commented on #3391
@authmillenon I'm guessing without looking at the code that there is a problem with the `@ingroup` commands or similar.

[2015-07-14 10:01] authmillenon commented on #3391
Nope, all have `@ingroup net` in their respective `.h` files.

[2015-07-14 10:04] authmillenon commented on #3392
This is planned anyways.

AFAIK it is possible to build native on Raspberry Pi, so this should be easy.

We don't even have (and probably never will) support for x86_64 Linux (I'm not even sure if that would make sense currently, since all real hardware platforms we target only go up to 32bit), so why add support for this platform.

[2015-07-14 10:06] authmillenon commented on #3341
Can you point out to me, why you think that this is a different issue?

[2015-07-14 10:06] OlegHahm commented on #3341
What does ping6 do if you specify a link layer address?

[2015-07-14 10:07] kaspar030 commented on #3341
@authmillenon use the link-layer IPV6 addres suffixed by the interface, not the mac address.

[2015-07-14 10:07] OlegHahm commented on #3391
Ok, then it seems to be indeed a doxygen bug. Will try to upgrade on the server.

[2015-07-14 10:07] kaspar030 commented on #3341
Sorry, I mean link-local...

[2015-07-14 10:09] kaspar030 commented on #3341
Well, I'd assume it is a different issue because Oleg and I can
reproducably crash at the same line, and you're seeing a different crash.

[2015-07-14 10:12] gebart commented on #3392
@authmillenon fair enough

[2015-07-14 10:16] authmillenon commented on #3341
With 2x `sudo ping6 -f fe80::3ce4:ffff:fe2e:996c%tap0` I get the SIGTRAP in `__isr_stack()` again. Can't say for sure, that the other bugs won't occure, too. I'm still not convinced, that this is a different issue, because we saw different behaviors on different machines caused by the same bug with native before. What toolchains are you two using?

[code]

[2015-07-14 10:21] kaspar030 commented on #3341
I'm on
[code]

[2015-07-14 10:23] authmillenon commented on #3341
(with flags):

[code]

[2015-07-14 10:28] kaspar030 commented on #3341
[code]

[2015-07-14 10:38] A-Paul commented on #3363
@OlegHahm
Regarding *"a)"*: Is it the depth or the width of the directory structure?

Regarding *"b)"*:

@authmillenon
In terms of testing you are correctly defining the next test level after the unittests successfully passed, the integration test. And it's a sensible question wheather to mix unit- and integration tests in one directory tree.

***Footnote:*** Integration testing also should have a

[2015-07-14 10:53] OlegHahm commented on #3391
Unfortunately there doesn't seem to be a newer version of doxygen in backports.

[2015-07-14 16:18] A-Paul commented on #3197
I inspected this issue and found the error(s). Preparing a PR.

[2015-07-14 16:39] gebart commented on #2493
I updated the list to reflect what has been merged so far.

[2015-07-14 16:46] gebart opened #3399 "RPL: add hop-by-hop header RPL option"
As described in [RFC6553](https://tools.ietf.org/html/rfc6553)

[2015-07-14 19:31] phiros opened #3408 "tests/libfixmath_unittests: broken"
It seems like `tests/libfixmath_unittests` is broken right now.

[code]

[code]

[2015-07-14 20:06] phiros commented on #3379
I've thought about doing this now for some time. However, I have no idea if there are any restrictions
on the size of the cache. I need to do some experiments on this soon.

[2015-07-14 20:09] phiros commented on #3378
Strider will only be adopted as the main CI system if the community decides it makes sense
to do so. For the time being we will continue to use Travis in parallel with strider.
Therefore, I think it makes sense to also invest some time into the travis scripts.
Meaning: I will take a look at the new container infrastructure.

[2015-07-14 22:19] PeterKietzmann commented on #3197
Nice! For the record: the regarding PR is #3400. I will test with nucleo-f303 soon

[2015-07-14 22:54] phiros commented on #3383
I am not super sure about thingspeak (AFAIK each channel only allows for 8 different fields). However,
it would be nice to have some kind of charting website on which we can compare current master against pull requests (grouped by BUILDTEST_MCU_GROUP). I will look into this tomorrow.

[2015-07-15 09:29] tfar opened #3411 "Fix 6LoWPAN IPv6 Header Compression check"
The following log is produced when sending the attached PCAP (download the image and change the extension from png to pcapng) to RIOT. It was captured during testing with this guide:
https://github.com/RIOT-OS/RIOT/wiki/How-to-install-6LoWPAN-Linux-Kernel-on-Raspberry-Pi

[code]

[code]

[2015-07-15 09:40] OlegHahm commented on #3411
Probably you should include `USEMODULE += ng_sixlowpan_iphc` in your Makefile.

I think one should rename this issue to "Update the Raspberry Pi 6LoWPAN tutorial" or something like this.

(But be aware that IPHC hasn't been tested a lot so far.)

[2015-07-15 09:47] tfar commented on #3411
@OlegHahm I tested this with the ng_networking example and ```USEMODULE += ng_sixlowpan_iphc``` was added to the Makefile.

[2015-07-15 09:48] authmillenon commented on #3411
Yes, it's as @OlegHahm stated. The reason is is not activated yet is basically because it is in pre-alpha state. However, feel free to contribute big fixes for the bugs you stumble upon :)

[2015-07-15 09:50] OlegHahm commented on #3391
Ok, the original issue has been fixed by updating doxygen, but still "Atmel SAM3X8E Definitions", "RPL source routing header extension", "SAM3XA Components", and "dev_eth auto setup" are showing up on the top level.

[2015-07-15 09:51] OlegHahm commented on #3411
You tested with the module and still got the warning?

[2015-07-15 09:56] tfar commented on #3411
Correct. As you can see at https://github.com/RIOT-OS/RIOT/blob/master/sys/net/network_layer/ng_sixlowpan/ng_sixlowpan.c#L91 only uncompressed headers are currently supported.

[2015-07-15 10:00] OlegHahm commented on #3391
Fixed in #3412.

[2015-07-15 10:03] OlegHahm commented on #3411
This check seems to be broken indeed.

[2015-07-15 10:39] BytesGalore opened #3413 "shell: inputs for ng_networking example does not react anymore"
seems that
[code]
broke something for the `samr21-xpro` board.
The `ng_networking` example doesn't react on inputs from this commit on.
Strange is, that the `tests/shell` does.

Can anyone confirm, or is it just me?

[2015-07-15 10:48] PeterKietzmann commented on #3413
I tested the `ng_networking`  and `shell` example on current master with an iot-lab_M3 node and was not able to enter commands to the shell.

[2015-07-15 10:52] authmillenon commented on #3391
(slightly related: would be great if the soon to be phased out modules would be marked as such in their description)

[2015-07-15 10:55] OlegHahm commented on #3391
I plan to do update the documentation on Friday in the train to Prague.

[2015-07-15 11:07] kaspar030 commented on #3413
I git the same issue. I think it is newlib-platforms using uart0. Working on it...

[2015-07-15 11:36] phiros commented on #3408
I should mention that subsequent builds don't fail (as long as you don't clean).
My best guess is that this is a concurrency issue in the Makefile.
Make probably doesn't know that the process "downloading the source of libfixmath"
and compiling "libfixmath_unittest" has to be executed sequentially. This can be achieved
by making one target depend on the other.

[2015-07-15 11:48] gebart commented on #3408
I think I found it.

[2015-07-15 12:01] kaspar030 commented on #3413
#3415 should fix it for now.

[2015-07-15 13:25] #3413 closed

[2015-07-15 13:25] BytesGalore commented on #3413
nice thx. closed via #3415

[2015-07-15 13:41] gebart commented on #3408
Sorry, I should have read your post more thoroughly, I found the same issue that you described..

[2015-07-15 14:21] kaspar030 opened #3417 "features lost when removing obsolete network stack"
This issue is supposed to track features that will be removed by #3334.
Feel free to update.

(marked means, work on gnrc version has started)

- [x] posix sockets
- [x] TCP
- [ ] AODV (#3445)
- [ ] ~~OLSR~~
- [x] NHDP (uses socket_base, fixed in #3876)
- [X] RPL (#3050 et. al)
  - (subparts of RPL?)
- [x] cc11xx support (#3716)
- [ ] cc2420 support (#3915)
- [ ] ~~econotag-support (though it wasn

[2015-07-15 14:22] #3411 closed

[2015-07-15 14:25] authmillenon commented on #3417
@cgundogan might shed some light on the status of `ng_rpl`, @Lotterleben how far is AODV on that front, @benpicco and @OlegHahm what about OLSR?

[2015-07-15 14:26] OlegHahm commented on #3417
OLSR was never merged anyway.

[2015-07-15 14:27] OlegHahm commented on #3417
@kaspar030, what about ccn-lite?

[2015-07-15 14:32] authmillenon commented on #3417
And OpenWSN?

[2015-07-15 14:33] OlegHahm commented on #3417
@thomaseichinger is adapting it to the new driver anyway. Hopefully finished this week.

[2015-07-15 14:35] Lotterleben commented on #3417
@authmillenon  @BytesGalore and I have started to port AODVv2 yesterday (and have merged the the PR integrating the FIB today)... I have no idea how smoothly this will go, but I'll keep you posted.

[2015-07-15 15:42] haukepetersen commented on #3417
I think TCP is under construction, right @brummer-simon?

[2015-07-15 16:20] haukepetersen opened #3418 "(Temporarily) lost features after radical cleanup"
Here is a list of features, that would be temporarily lost, when doing a radical cleanup by removing all deprecated platforms/drivers and other modules. In the current state we can surely not drop everything in the list (e.g. native, msp430 support)! But this list should give us some guidance on what needs to be done...

Stuff that we get rid of for good:
- sys/uart0
- sys/chardev
- all calls to `

[2015-07-15 16:20] haukepetersen commented on #3418
Please edit/extend this list!

[2015-07-15 16:32] authmillenon commented on #3418
Kindof duplicate of (or overlap with) #1540

[2015-07-15 19:23] gebart opened #3422 "NDP: broken when running with 6lowpan IPHC enabled"
I'm guessing it is because the destination multicast address gets compressed in a weird way (`ff02::1:ffab:4012` becomes `ff02::ab:4012`) on the sender or handled wrongly on the receiving end if this is expected behaviour.

See https://www.cloudshark.org/captures/2a764c64eb9d

Dump was taken over the air using a 802.15.4 link layer sniffer. Communication is between two mulle nodes running examples

[2015-07-15 19:46] gebart commented on #3422
Found the problem. https://github.com/RIOT-OS/RIOT/blob/master/sys/net/network_layer/ng_sixlowpan/iphc/ng_sixlowpan_iphc.c#L576 should be 48 bits version

[2015-07-15 19:52] authmillenon commented on #3422
Can you maybe open a fixing PR please? Will review it.

[2015-07-15 19:59] gebart commented on #3422
I fixed it for the multicast but the subsequent ping packets are completely corrupt (destination address compression field is set to RESERVED according to wireshark)

[2015-07-15 20:01] authmillenon commented on #3422
That might be because there is some mix-up of byte-order. I tried to unify that with #2885 once but lost track.

[2015-07-15 20:25] authmillenon commented on #3422
Are you receiving the packets regardless or is decoding correct?

[2015-07-15 20:29] authmillenon commented on #3422
Wait, what do you mean by "REVERSED"?

[2015-07-15 20:39] gebart commented on #3422
my sniffer is receiving the packets, but the other node ignores them (which it should, they're broken).

[2015-07-15 20:40] gebart commented on #3422
not "reversed", "Reserved"
it seems like the multicast bit gets set on the outgoing ping unicast packets. See the cloudshark dump at https://www.cloudshark.org/captures/1f94c42b9fe9

[2015-07-15 20:45] authmillenon commented on #3422
Aaahhh, yes and the statefull compression should not be used either (unless of course you filled the context buffer with something ;-))

[2015-07-15 20:48] gebart commented on #3422
The stateful flag is set on some packets but not all. Seems like a corrupt pointer or something being used?

[2015-07-15 20:49] gebart commented on #3422
sorry, the other way around, the multicast flag is set on some packets, the stateful flag seems to be set all the time

[2015-07-15 20:49] authmillenon commented on #3422
Found it (I think). I'm opening a PR right now

[2015-07-15 20:50] authmillenon commented on #3422
There was an indexing error.

[2015-07-15 20:50] authmillenon commented on #3422
#3424

[2015-07-15 21:16] haukepetersen commented on #3418
True. Actually I was looking for #1540 earlier, but could not find it... How about closing #1540 and keep this issue, as this is more detailed and more up-to-date?

[2015-07-15 21:23] authmillenon commented on #3418
:+1:

[2015-07-15 21:24] authmillenon commented on #1540
Superseded by #3418

[2015-07-15 21:24] #1540 closed

[2015-07-15 21:25] authmillenon commented on #3422
I guess we can close this one then, right?

[2015-07-15 21:25] #3422 closed

[2015-07-15 21:46] gebart commented on #3422
Yes, thank you for your swift bug finding skills!

[2015-07-15 22:10] authmillenon commented on #3422
I would like to be them swifter to find that damn race condition bug in the gnrc stack :(

[2015-07-16 11:43] gebart opened #3427 "openocd 0.9: OpenOCD closes when pressing CTRL+C in GDB"
OpenOCD closes when pressing CTRL+C in GDB, when openocd is started by `make debug` (`openocd.sh`) and is running in the background of the same terminal as gdb. GDB still receives the ctrl+c as well.

This is not observed if I downgrade openocd to v0.8.0.

Package versions:
 - cross-arm-none-eabi/gdb-7.9.1
 - dev-embedded/openocd-0.9.0
 - kde-apps/konsole-4.14.3

[2015-07-16 14:55] phiros commented on #3408
I looked into this bug but couldn't identify the exact location of the problem. The only thing I can say for sure is that it is a target dependency problem.

BTW: I took a quick look at libfixmath itself. It uses a MIT license. @OlegHahm and @authmillenon why do we even bother with this error-prone process of downloading the sources via svn and patching them etc. if we can just take the source and

[2015-07-16 15:12] OlegHahm commented on #3408
Well, if libfixmath isn't actively developed any more, we can surely do so.

[2015-07-16 16:30] Kijewski commented on #3408
:+1: for adopting the code

[2015-07-16 18:33] gebart opened #3433 "ng_at86rf2xx: set_state is messy"
I can't follow the code at https://github.com/RIOT-OS/RIOT/blob/master/drivers/ng_at86rf2xx/ng_at86rf2xx_getset.c#L349

Why does the driver go to `TRX_OFF` regardless of the state parameter and after that only switch states if the new state is one of `TX_ARET_ON` or `RX_AACK_ON`?

I'm trying to figure out why it seems like the driver doesn't receive some packets sent over the air from another node

[2015-07-16 18:35] gebart commented on #3433
another Q: Is it possible to read the status register if the transceiver is in SLEEP mode? the data sheet for 212b says no, so I wouldn't really expect the if (state == SLEEP) bit to work either...

[2015-07-16 19:12] thomaseichinger commented on #3433
* ad `TRX_OFF`: looking at the "Extended Operating Mode State Diagram" Figure 7-10 212b datasheet I read it you can't change from `TX_ARET_ON` to `RX_AACK_ON` directly and vice versa. While it would arguably make more sense to change to `PLL_ON` instead to save state transition time.

* ad SLEEP mode: Agreed, I think it we should check sleep pin instead.

[2015-07-16 19:14] gebart commented on #3433
I will prepare a PR

[2015-07-16 19:17] gebart commented on #3433
The `TX_ARET_ON` -> `TRX_OFF` -> `RX_AACK_ON` transition may be what is making my nodes miss the replies from Contiki node (the reply coming too quickly)

[2015-07-16 19:19] thomaseichinger commented on #3433
`TRX_OFF` -> `PLL_ON` transition takes ~160us.

[2015-07-16 19:21] thomaseichinger commented on #3433
The data sheet conceals however transition times between `TX_ARET_ON` <-> `PLL_ON` <-> `RX_AACK_ON`.

[2015-07-16 19:28] gebart commented on #3433
hmm, my problems could also be the transceiver waiting for ACKs and ACKs disabled on the Contiki side.

[2015-07-16 19:40] thomaseichinger commented on #3433
`TX_ARET_ON` should only wait for ACK when the ACK requested bit is set in the header of the sent packet.

[2015-07-16 20:26] gebart commented on #3433
The radio completely misses the replies from my Contiki node. On the other hand, when the Contiki node sends NS the RIOT node replies with NA packets, so it seems to work one way.

[2015-07-16 20:51] gebart commented on #3433
I turned on auto ACK in Contiki, and Wireshark agrees that ACKs are being sent properly.

 - RIOT to RIOT pings work fine
 - RIOT to Contiki ping replies are sent according to the sniffer but not seen by RIOT.
 - RIOT to RIOT ping roundtrip is >20 ms (22-24 typ.)
 - RIOT to Contiki ping roundtrip is <13 ms (11-12 typ.) [1]

Could it be that the Contiki node responds before the RIOT node has had ti

[2015-07-16 21:03] gebart commented on #3433
Turning off ENABLE_DEBUG makes the RIOT node see the replies from Contiki, so there is a timing problem.

[2015-07-16 21:04] thomaseichinger commented on #3433
"...not seen by RIOT" at which point?

[2015-07-16 21:13] gebart commented on #3433
RIOT sends echo request to Contiki. Contiki responds with echo reply. RIOT does not register the echo reply packet, but my sniffer sees it. That is with ENABLE_DEBUG (1) in ng_at86rf2xx_netdev.c. With ENABLE_DEBUG (0) it works. So I guess I caused that error by trying to analyse other problems.

[2015-07-18 09:52] authmillenon opened #3438 "shell: input hangs on iot-lab_m3"
49ea7a3 seems to break input on iot-lab_m3. After talking to @OlegHahm and @kaspar030 I know that they don't seem to see this bug, so I'm posting my toolchain version, too:

[code]

I have this bug on testbed too, so it does not seem to be openocd

[2015-07-18 09:53] authmillenon commented on #3438
(Reverting the commit works for me, not using uart0 does not).

[2015-07-18 10:02] OlegHahm commented on #3438
I can confirm that it's working for me on current master (8850eb4035fed92ae414fd6801ac70898fc7444b) locally and on the testbed.

Toolchain is:
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 4.8.4 20140526 (release) [ARM/embedded-4_8-branch revision 211358]

[2015-07-18 10:16] authmillenon commented on #3438
Debugging this a little deeper revealed that the UART IRQ handler only handles the first 2 characters and is never called again afterwards.

[2015-07-18 10:19] authmillenon commented on #3438
Typing one character long commands seems to work indefinitely.

[2015-07-18 10:21] authmillenon commented on #3438
@haukepetersen is observing the bug too and on it already.

[2015-07-18 11:03] thomaseichinger commented on #3438
I can confirm this bug happening (sometimes, with some compiled binaries commands are handled correctly, in some not (without changes to UART/syscalls/shell of course)).

[code]

[2015-07-20 05:52] gebart opened #3451 "extra branch on RIOT-OS/RIOT"
Accidental push to wrong repo?
https://github.com/RIOT-OS/RIOT/tree/ngnetworking_readme

[2015-07-20 07:24] gebart opened #3452 "at86rf2xx: Add netdev get/set for modulation settings"
... in order to allow choosing modulation modes BPSK, O-QPSK, and sub-modes (speed), without recompiling.

See: RF212B data sheet p. 117

[2015-07-20 08:42] OlegHahm opened #3453 "strider: restarting builds"
IIRC @phiros told that restarting strider builds is currently disabled due to a bug in strider causing docker instances not being properly destroyed. Is this correct and is there any estimation until when this issue will remain?

[2015-07-20 10:39] gebart opened #3455 "doc/doxygen/riot.doxyfile: Add target for latex (pdf), man"
Add separate make targets for man and PDF documentation

#3429 removed man and pdf from the default documentation build.

[2015-07-20 12:18] x3ro commented on #3451
Yup, getting #3444 merged and then deleting the branch asap :)

[2015-07-20 13:41] brummer-simon commented on #3417
Yes it is.

On 15.07.2015 17:42, Hauke Petersen wrote:

[2015-07-20 16:27] gebart commented on #3451
Maintainers: Please do not use the SSH URL for the organisation repository, using the HTTPS link instead makes these kinds of mistakes less likely.

[2015-07-20 16:30] smee204 opened #3461 "_pktbuf_add_unsafe incorrectly adjusts data pointer"
I think in ng_pktbuf.c _pktbuf_add_unsafe incorrectly adjusts the pkt->data pointer. I find that the address is invalid after this function has completed.

Currently it does this:
`pkt->data = (void *)(((uint8_t *)pkt->data) + size);`

I think it should do this:
`pkt->data = (void *)(((uint8_t *)pkt->data) + (size*4));`

[2015-07-20 17:11] authmillenon commented on #3461
What value does `size4` have?

[2015-07-20 17:16] gebart commented on #3461
(edited to add code formatting)

[2015-07-20 17:18] gebart commented on #3461
I don't understand why you need `size * 4`

[2015-07-20 17:49] smee204 commented on #3461
Sorry yes now I look at it again the code was correct. I will close this issue.

I think the problem is with my compiler/hardware settings. I must have it setup so pointers have to be 4 byte aligned...

[2015-07-20 17:49] #3461 closed

[2015-07-20 21:49] authmillenon commented on #3451
from #3449 (due to me being stupid):

With the `git://` URL it's even lesser likely. HTTPS still allows Basic Auth (which can be stored), git protocol does not support push. Also, it's [slightly faster](https://git-scm.com/book/be/v2/Git-Internals-Transfer-Protocols).