[2017-12-11 19:16] kYc0o opened #8240 "periph/rtc breaks nucleo-l152"
While re-testing #7712 I realised that it didn't work at all, then I tested other examples and nothing seems to work.

After bisecting and looking everywhere, I realised that #6900 was the culprit. Unfortunately I didn't have time to dig more into the issue, so I don't know exactly with commit is the real cause of the crash.

Even if I revert the changes, my PR still not work, but I'm investigatin

[2017-12-11 19:24] alexaring commented on #7713
@miri64 there is not support right now, except I did some user space implementation for sending 6CO and parsing them (then setup contexts afterwards), just early state and RIOT had already support for this RFC6775 "feature".

I am aware of some contiki fork for RFC6775 (which they didn't had upstream yet, don't know the current state) - don't know the name/repository anymore. Sorry.

Linux support

[2017-12-11 19:44] aabadie commented on #8240
Yes nucleo-l152 doesn't work actually, as reported in #7687, see [comment](https://github.com/RIOT-OS/RIOT/pull/7687#issuecomment-343956480). Maybe your problem is related to this ?

[2017-12-11 19:45] aabadie commented on #8240
Also realized that there's already an issue here: #8024. Duplicate ?

[2017-12-11 19:50] kYc0o commented on #8240
Definitely this is a duplicate... however I realised that reverting #6900 actually solves the problem for the basic examples. I'll try to move the discussion in those PR/issues. Please don't close this one until that's done.

[2017-12-11 19:52] aabadie commented on #8141
@cladmi, I think I addressed your comment. Not sure about the order of imports but I added a link to the corresponding pep8 section in the script example.

[2017-12-12 05:34] miri64 commented on #8238
The most current Debian stable is Stretch, which for the most part is more up-to-date than the current LTS of Ubuntu (don't know if raspbian was updated to Stretch yet, though).

[2017-12-12 07:59] smlng commented on #8238
@gebart and @miri64: you're both right, I updated from Jessie to Stretch (Raspbian and Debian) and with the newer toolchains everything is working as expected. I also agree, that we don't need or want to support rather old toolchains. However, I think other might/will hit that issue, too. Hence, I thought it might be best to open an issue and provide an answer + solution, so other can find it here

[2017-12-12 08:19] roberthartung opened #8242 "at86rf2xx: Dead lock when sending while receiving"
The at86rf2xx driver doesn't check the current state when sending. Therefor it is possible, that a deadlock occurs. `at86rf2xx_tx_prepare` tries to set the state to `AT86RF2XX_STATE_TX_ARET_ON`, however, if the receiver is currently in `BUSY_RX` state, the idle_state will be set accordingly.
The send afterwards is still successful, however, the idle_state is wrong. The `_isr` method of `at86rf2xx_

[2017-12-12 10:06] roberthartung commented on #8242
Update: Probably extending at86rf2xx_set_state to also check for BUSY_RX and BUSY_TX might solve the problem. Will update issue accordingly.

[2017-12-12 11:04] cladmi commented on #8141
That's good, last fix is two spaces before `if __name__ == '__main__'` according to running `flake8`.

[2017-12-12 13:52] aabadie commented on #8141
AFAICT, there's no explicit rules about whether one or two blank lines are required before `if __name__ == __main__:` see this [SO answer](https://stackoverflow.com/a/15889078) and the [blank lines section](https://www.python.org/dev/peps/pep-0008/#blank-lines) in pep8.

I would leave the actual convention as it is.

[2017-12-12 13:56] cladmi commented on #8141
I just added 'pass' to the function definition to make it work and get this output with flake8.

[code]

[2017-12-12 13:57] cladmi commented on #8141
[code]

[2017-12-12 14:11] aabadie commented on #8141
Ok, in fact pep8 says that the top level def or class should be _surrounded_ with 2 blank lines, so you are right.

[2017-12-12 14:11] aabadie commented on #8141
Convention updated !

[2017-12-12 14:39] cladmi commented on #8141
ACK

[2017-12-12 21:51] aabadie commented on #8141
Section added to coding convention wiki page: https://github.com/RIOT-OS/RIOT/wiki/Coding-conventions#python-coding-convention

[2017-12-13 08:20] aabadie commented on #8234
I just thought of that a second time and I think those gpio_init are here because of the `LEDx_*` macros (`LED0_ON`, etc).

Let's close this.

[2017-12-13 08:20] #8234 closed

[2017-12-13 11:48] roberthartung opened #8251 "telosb: xtimer config wrong when running on a tmote sky"
The TelosB node and Tmote Sky node should be identical (hardware wise). However, using `xtimer_sleep(1)` is not sleeping one second, but more like 7 seconds. Will investigate.

[2017-12-13 14:23] PeterKietzmann commented on #8251
@roberthartung on my TelosB `xtimer_sleep(1)` takes about three seconds, just FYI

[2017-12-13 14:41] roberthartung commented on #8251
@PeterKietzmann Nevermind, xtimer_sleep(2) takes about 7 seconds. My bad.

[2017-12-13 14:51] PeterKietzmann commented on #8251
Whoops, yes. It helps if you can read...

[2017-12-13 14:52] roberthartung commented on #8251
nono, it was wrong in the issue/my code. You didnt do any mistake :D I edited the issue sneaky beaky like ;)

[2017-12-13 14:55] miri64 commented on #8003
@kb2ma @bergzand was you host configured as a router or did you set-up a default router to the host?

[2017-12-13 15:02] miri64 commented on #8003
Sorry, should have read the readme first ...

[2017-12-13 15:15] kb2ma commented on #8003
I'm just trying to ping between the BR mote and my workstation, which is not set up as a router. Can you recreate the problem too, @miri64? It would be helpful to get this working again to move some of the gcoap PRs forward.

[2017-12-13 15:23] miri64 commented on #8003
I can recreate it as well. Interestingly enough, I'm getting a reply, when I dump the packet on send...

Why aren't you using the usual border router `examples/gnrc_border_router` btw?

[2017-12-13 15:27] miri64 commented on #8003
For some reason the `RX` callback of the UART is not called or skipped :-/

[2017-12-13 15:32] kb2ma commented on #8003
The gcoap version of the border router makefile and README are based on `examples/gnrc_border_router` when that example was based on slip. It's easier/valuable to test with a single mote instead of setting up two motes, where the border router is intermediary.

Glad to hear you can recreate the issue.

[2017-12-13 15:44] paula75 commented on #8024
I have a nucleo-l152 and a nz32-sc151 both have the same cpu(stm32l1), i run the test examples: periph_adc, xtimer_msg and periph_rtc, this is what i get:

- Master branch:
Without changing anything all 3 test works on nz, but none in the nucleo. When i change irq_disable and irq_restore to disable_irq and enable_irq the periph_rtc works, but periph_adc and xtimer_msg are broke.
- 2017.10 branch:

[2017-12-13 16:07] danpetry commented on #7941
@haukepetersen there are aliases for UART_X called UART_X_DEV in the cc2538 driver, I was just wondering what they do?

[2017-12-13 16:15] miri64 commented on #8003
It's weird... When I apply the following patch

[code]

It works, even after I revert that patch it works and I can't reproduce it anymore... Can somebody else try that? I think I start to loose my sanity ^^

[2017-12-13 16:28] miri64 commented on #8003
Ok, when I restart tunslip during a ping, I get into the described behavior again oO...

[2017-12-13 16:35] bergzand commented on #8003
I'm quite certain that I had the SLIP code working at least once when testing, but I also know that it is not the most stable protocol/code. I'm willing to investigate as soon as I have time to play with it (probably around Christmas).

[2017-12-13 16:40] kb2ma commented on #8003
I plan to confirm later today. I agree that SLIP in this context has a bad reputation. It might be valuable to understand what triggered the instability we see now though.

[2017-12-13 16:40] miri64 commented on #8003
Confirmed, that it is not the `RX` callback. I'm able to "fix" it with the following patch as well (`_recv` is triggered by the UART RX callback):

[code]

[2017-12-13 22:07] troyholt opened #8262 "Bit Mask fixes in INA220.h"
I just noticed these two lines and thought I would flag them for someone to fix:
   72     INA220_BRNG_32V_FSR = 0x0200, // should be 0x2000
  122     INA220_BADC_AVG_1_SAMPLE    = 0x0400, // should be 0x0000 if you are ORing the ADCBIT bit
                                                                  // mask with the SAMPLE bit mask

[2017-12-14 09:50] gebart commented on #8262
Thank you @troyholt for the report. Do you have an updated branch somewhere that you would like to contribute (Pull request)?

[2017-12-14 10:48] gebart opened #8265 "Tracker: GCC 7.x compatibility"
#### Description
This is a tracker bug for any issues which occur only with GCC version 7.x or higher. Currently the CI system is using GCC 6.x so these issues can only be seen on custom toolchain installations.

#### Steps to reproduce the issue

 1. Install GCC 7.x, set as default compiler for your platform
 2. Run `make buildtest` or `dist/tools/compile_test/compile_test.py`
 3. Report any fail

[2017-12-14 11:01] kb2ma commented on #8003
@miri64, the patch above to gnrc_netif_raw.c works for me. However, the fix in #8258 does not. In both cases, I follow the steps at the top of this issue. I am testing on a samr21 Xplained Pro board.

Unfortunately, I don't have enough experience at this level to offer advice. However, I really appreciate the workaround above to allow testing gcoap. I am happy to try out any other fixes.

[2017-12-14 11:29] gebart opened #8266 "emlib: warnings when using GCC 7"
#### Description
This error occurs when building the default example for the ikea-tradfri board when using GCC 7.2.0:

#### Steps to reproduce the issue

Use GCC 7.2.0
`make BOARD=ikea-tradfri -C examples/default`

#### Expected results

No compilation errors

#### Actual results

[code]

#### Versions

arm-none-eabi-gcc (Gentoo 7.2.0 p1.1) 7.2.0

#### Issue references

#8265

[2017-12-14 11:34] miri64 commented on #8266
Potential fixes: either add a patch with the according comments to the switch-case (`/* falls through intentionally */`) or deactivate `-Werror=implicit-fallthrough` for `emlib`.

[2017-12-14 11:40] gebart opened #8267 "docker: Default settings should provide a volume for git-cache"
#### Description
Running the build in a Docker container with the `BUILD_IN_DOCKER=1 make` command should provide a persistent volume for storing the git-cache directory to reduce network download traffic.

#### Steps to reproduce the issue

in examples/ccn-lite-relay:

[code]

#### Expected results
git sources should be loaded from the git-cache

#### Actual results
git sources are re-downloaded

[2017-12-14 13:26] miri64 commented on #8003
@kb2ma can you test #8268?

[2017-12-14 14:58] kb2ma commented on #8003
No problem, will try #8268 later today.

[2017-12-15 09:53] kaspar030 commented on #1234
As x86 has been kicked out and there doesn't seem to be a pressing need, I'll close this as memo.

[2017-12-15 09:53] #1234 closed

[2017-12-15 10:30] smlng commented on #8141
I think this is through and can be close, if you @aabadie agree: please hit the close button.

[2017-12-15 10:31] aabadie commented on #8141
Indeed, let's close !

[2017-12-15 10:31] #8141 closed

[2017-12-15 10:44] kaspar030 commented on #8240
duplicate

[2017-12-15 10:44] #8240 closed

[2017-12-18 10:33] PeterKietzmann commented on #7745
@maitysubhasis what's the latest? I just used that device with a nucleo board which worked as expected. As @haukepetersen indicated you need to include that module to your Makefile. This will automatically initialize the device which is (obviously) needed. Furthermore, how about using the [`netapi`](https://riot-os.org/api/group__net__gnrc__netapi.html#gabc41a5d60228a68daa7ef14b0bbb6ff4) interface

[2017-12-18 12:22] roberthartung opened #8271 "app/netdev: application stops working after receiving frames with assertion or completely without error"
#### Description
Application stops working (Assertion failed or no output) after random(?) time with assertion with my at86rf2xx, and no error on telosb (tmote sky).

#### Steps to reproduce the issue
Send packets from various nodes (broadcast) to other nodes. Also, corrupt packages should be in the air.

#### Expected results
Application correctly receives and frees all packets.

#### Actual resu

[2017-12-18 12:59] #4882 closed

[2017-12-19 07:03] miri64 commented on #8271
From what branch are you building? When I try the application you provided [on users](https://lists.riot-os.org/pipermail/users/2017-December/000906.html), I get an error:

[code]

[2017-12-19 08:06] roberthartung commented on #8271
Working on https://github.com/roberthartung/RIOT/tree/wip-inga-crc , see also: #8276

[2017-12-19 08:07] roberthartung commented on #8271
One of my telosb nodes stopped working this morning again:

[code]

Afterwards, shell is dead and sending/receiving stopped completely.

[2017-12-19 08:19] miri64 commented on #8271
Have you had a look if `gnrc_netreg` returns the correct results (in particular `gnrc_netreg_num()`) for your custom dumper? The dump you gave in OP suggests that a `gnrc_pktbuf_release()` to many is happening.

[2017-12-19 08:46] roberthartung commented on #8271
@miri64 Can you give me a quick example of how to use `gnrc_netreg_num()`? It's 0 for me: `printf("_dump: %d %d\n", gnrc_netreg_num(GNRC_NETTYPE_UNDEF, 0), gnrc_netreg_num(GNRC_NETTYPE_NETIF, 0));`.

[2017-12-19 08:52] roberthartung commented on #8271
Another node stopped working now:
[code]

Not is not receiving, but sending. shell still works :/

[2017-12-19 10:31] roberthartung commented on #8271
New error now:

[code]

[2017-12-19 10:33] miri64 commented on #8271
This looks more and more like a `core` related issue (maybe just `core` on inga?).

[2017-12-19 10:37] roberthartung commented on #8271
Maybe. No idea what, though. Thread scheduling is taken from other atmega CPUs, as well as periph drivers. Maybe increasing stack size would help?
[code]

[2017-12-19 10:40] roberthartung commented on #8271
@miri64 INGA problem would only show up on INGA. But telosb nodes sometimes die as well.

[2017-12-19 10:43] bergzand opened #8284 "static_tests: Verify modules used in precompiler conditionals"
#### Description
Preprocessor conditionals using modules in the expression are not checked whether the modules actually exists. We rely on the programmer/testers to verify that the module being checked actually exists. Having a static tests that verifies whether any `MODULE_SOME_MODULE` used is actually an existing module helps spotting these errors.

As an example:
`#if defined(MODULE_IPV6_ROUTER

[2017-12-19 11:19] haukepetersen opened #8285 "pkg: download of packages broken?"
Stumbled upon this last week when doing #8269, and now again when reviewing #5544: when building with `make -B clean all` the used package(s) are downloaded and patched twice:
[code]
Seen on `native` and on `samr21-xpro`...

[2017-12-19 13:03] Josar opened #8287 "GCOAP Error from gnrc_sock_udp"
Hello I got an strange behavior when compiling the gcoap example. Maye someone has an idea.

I run Riot on an atxmega256a3u with an at86rf233.

When I compile with ENABLE_DEBUG (1) tin gcoap.c then everything works as expected and I am able to get .well-known/core information from the node.
But when I disable debug I always get the error -EPROTO  from gnrc_sock_udp.
Which checks

[code]
With debug

[2017-12-19 13:06] gebart commented on #8242
Are you working on a PR for this or is this a potential "help wanted" issue?

[2017-12-19 13:47] miri64 commented on #8271
Have you tried that? Thread 3 and 4 definitely look like they need more (4 is close to the max).

[2017-12-19 14:10] roberthartung commented on #8271
Yes tried that for now. The dump_thread is even at its limit, if I double the stack size. Any idea why?

The receive error also occurs on a TelosB mote.

[code]

[2017-12-19 14:17] miri64 commented on #8271
`printf()` uses a lot of stack-space, at least with `newlib`. Have you considered using `sys/include/fmt.h` instead?

[2017-12-19 14:25] smlng opened #8289 "pkg/libcoap: patching fails with newer version of git"
#### Description

While the libcoap package still works when compiled by murdock, patching fails with new versions of GIT, e.g., on Arch Linux and macOS with git 2.15.x. Using older git version, e.g., 2.11.x on Raspbian still works.

#### Steps to reproduce the issue

Try to build `tests/pkg_libcoap` with GIT version 2.15.x.

#### Expected results

builds

#### Actual results

patching fails, star

[2017-12-19 14:27] miri64 commented on #8289
My machine currently only has `git` 2.7 (Ubuntu 16.04)... So I can't work on this at the moment :(

[2017-12-19 14:29] smlng commented on #8289
I discovered this only very recently myself, when running compile tests on macOS, but I never used libcoap with RIOT. And Murdock didn't hit this issue yet, but might in the future, when we update the worker images - so its good to be prepared, I guess.

[2017-12-20 08:49] roberthartung commented on #8271
INGA / Samr21-xpro works fine right now. However, my telosb nodes are now dying all the time. Exactly when I try to send a packet and at the same time I receive a packet.

[2017-12-20 12:43] danpetry opened #8302 "Documentation/contributing: Initial setup instructions are not immediately accessible"
#### Description

Initial RIOT setup instructions are in the Tutorials at https://github.com/RIOT-OS/Tutorials. This led to one user on the mailing list, Ningbo Hou, 14.12.17, having to be pointed towards them. I would guess that others also would need to dig a bit to get them. Not having them in a very obvious place makes the initial setup process more difficult than it needs to be - this process

[2017-12-20 14:23] danpetry commented on #8302
# Other instructions to add
Based on my experience setting up, the things which didn't go completely smoothly were:

* OpenOCD needs libftdi, but this wasn't indicated on the OpenOCD setup page (it is now)
* User needs to add themselves to the dialout group to flash boards

[2017-12-20 22:30] samkumar opened #8309 "VFS Module does not reserve file descriptors 0, 1, and 2"
#### Description

The VFS module does not reserve file descriptors 0, 1, and 2 for stdin, stdout, and stderr. As a result, the following bugs exist:
* Opening a file could be assigned to one of these descriptors.
* Utilities in newlib such as `printf` do not work. The output is written to file descriptor 1 and `uart_stdio_write` never gets called.

More generally, there seems to be no `vfs_init` p

[2017-12-20 22:58] immesys commented on #8309
This would affect other platforms too though right?

[2017-12-20 23:22] samkumar commented on #8309
Yes, but after further investigation I believe that the problem may be restricted to `rtt_stdio`. The `uart_stdio` module registers stdin, stdout, and stderr with VFS in its init function.

So there are two options that I have identified.

1. Copy the same code to rtt_stdio.
2. Move the code into the VFS module.

Personally, I am in favor of the second option, since otherwise there would be multip

[2017-12-21 00:31] samkumar commented on #8309
I've written a fix for this. See Pull Request #8310.

[2017-12-21 09:12] roberthartung commented on #8271
Playing around with stack sizes solved the problem for now. Additionally some cleanup in the code. Thanks for now!

[2017-12-21 14:32] roberthartung commented on #8271
However, telosb nodes are still stuck sometimes in RX state. "ifconfig <n> set state idle" solves the problem...

[2017-12-25 21:47] kYc0o commented on #8024
I see that the problem described here is very possibly the original cause of the broken board. Just for the record, I'd like to point what I figured out on #8240, on which disabling periph/rtc solves partially the problem. I say partially because #7712 doesn't work by disabling rtc, thus I think this issue describes more precisely the problem. However, I'd like to know how these situations are rel

[2017-12-25 21:47] kYc0o commented on #8240
I just made the reference on #8024, I didn't want to close this without having it related to it. Now it's ok.

[2018-01-02 13:10] vincent-d opened #8314 "vfs: how to properly format?"
#### Description
Current `vfs` does not contain a `format` function. `spiffs` as well as `littlefs` (in progress) integrations format the filesystem if an error occurs during `mount`. I think this behavior, even if it's handy to test and quickly implement user code, is not good for long-term. On the other hand `fatfs` integration seems to work differently, and in this case, if I am correct, the us

[2018-01-03 12:59] daid commented on #6603
Just as an extra note on this issue: Installing "gcc-multilib" on debian jessie removes certain cross compilers. It's not uncommon to have cross compilers installed on embedded development environments.

If support for 16bit and 8bit architectures is already there, then it feels odd to say: But 64bit is too much effort without gain. Any 32->64bit bug you will have is a hidden bug for 32->16/8bit,

[2018-01-04 11:39] danpetry commented on #7941
@smlng for the 2538, are the above boards the only ones with this CPU? Also, would you mind testing the changes for the other boards once I've made them? (I only have the openmote at the moment).

[2018-01-04 14:09] mm-dimmiz opened #8320 "UsageFault auto_init on xmc4500-relax board"
#### Description
Hi, we are trying to port the infineon xmc4500 to the RIOT-OS. So far we have now a almost working port with GPIOs etc. And now we are trying to port the ethernet module. And now we have a very strange behavior.

In  riot/sys/auto_init/netif we have created the corresponding auto_init_xmc4500_eth.c file and also the corresponding auto_init.c entry. And the function is also called

[2018-01-04 15:35] mm-dimmiz commented on #8320
After some experiments with arm-none-eabi-gcc V5, V6, V7 we have found that the bug was created by the optimization level "-Os"...

[2018-01-04 15:35] #8320 closed

[2018-01-05 16:50] cladmi commented on #7642
Board `qemu-i386` has been removed, so no more error for these two.

[2018-01-05 16:50] #7642 closed

[2018-01-05 16:52] cladmi commented on #5647
Issue was closed by #6011

[2018-01-05 16:52] #5647 closed

[2018-01-07 23:32] kYc0o commented on #8024
After looking more closely to the bug, I found that  `__WFI()` should be called differently. I don't know why for other architectures it still works and only for the L1 it's a problem, but if I comment out the call to `__WFI()` and leave the current interrupt enable/disable instructions everything works correctly.

For more information about the usage of `__WFI()` I found [this](http://infocenter.

[2018-01-08 08:10] gebart commented on #8024
@kYc0o WFI is being called in a loop when there is nothing else going on in the system. The idle thread only contains a loop which calls the pm functions which call WFI on cortexm.

[2018-01-08 16:31] kYc0o commented on #8024
Ok I see @gebart. However I still think there's maybe a misuse of the interrupt enable/disable since we've a regression to #6484, which states more or less the same problem than this issue.

[2018-01-08 16:35] kYc0o commented on #6484
I think a regression of this bug came back after #7385 was merged. Should we reopen this one or keep going on #8024 ?

[2018-01-08 18:00] danpetry commented on #7941
Note for reviewer: now that I've removed the switch/case statement, device numbers outside the ones actually implemented can be used. They won't be caught by the default statement as before, and there's no value restriction on uart_t. What would be the effect of this?

[2018-01-09 09:53] #8003 closed

[2018-01-09 13:20] geith opened #8337 "openmote-cc2538: wrong variable name in makefile for JLink programmer"
#### Description

The _openmote-cc2538_ makefile (_boards/openmote-cc2538/Makefile.include_) uses the variable name **JLINK_FLASH_ADDR** for the flash address instead of **FLASH_ADDR** (as for example _dist/tools/jlink/jlink.sh_). As a result, the flash ROM is not written when using the JLink programmer, without reporting an error.

#### Steps to reproduce the issue

Flash any program to the _open

[2018-01-09 13:58] miri64 opened #8339 "Feature request: File system example"
Now that `vfs` supports a few file systems, it might be time to provide an example of how to access files in the `examples/` directory. I know that you can just use the newlib syscalls, so I think that is something we should showcase.

[2018-01-09 14:24] rienafairefr opened #8340 "telosb/MSP430 startup serial preamble"
Hey folks,

I'm working on IoT-lab at INRIA on including support for new custom boards. [see here](https://www.iot-lab.info/hardware/custom/)

Among the new boards where the development is in progress is a telosb/TmoteSky, based on MSP430 MCU
We have a basic 'autotest' RIOT application, nothing fancy and it works fine for other boards we have deployed. But on the TmoteSky I've encountered an issue

[2018-01-09 16:14] #8204 closed

[2018-01-10 07:49] miri64 commented on #4822
#8304 only says it *partly* fixes this issue, so I re-open again, in case it still prevails (please test).

[2018-01-10 08:33] PeterKietzmann commented on #4822
I said "partly" because pings with payloads greater than 900B (or so) did still not succeed. Maybe another issue which we need to figure out.

[2018-01-10 09:06] miri64 commented on #4822
I can think of multiple reasons for that (apart from broken driver):

* Packet loss of 10% (900 B are already ~10 packets)
* Wrongly set MTU

[2018-01-10 09:07] miri64 commented on #4822
However, I agree that it is most likely that this hints at a totally different error class. So please open a new issue with your report regarding the remaining issues.

[2018-01-10 09:07] #4822 closed

[2018-01-10 11:46] aabadie commented on #8339
It would be great if this example was using the `sd_card_spi` driver. It could be a good data logger example for Adafruit Feather-M0 and Arduino MKRZERO boards.

[2018-01-10 11:49] miri64 commented on #8339
I don't think its a good idea to have the example use a specific device, especially since flash-based storages are way more common in IoT scenarios.

[2018-01-10 12:35] MichelRottleuthner commented on #8339
I agree with @miri64 that we should not tie the example to a specific device. But it won't hurt to keep an eye on making it easy to switch the example to use *some_storage_dev_supported_by_riot*.

the last time I checked sd-cards were flash based ;)

[2018-01-10 12:48] miri64 commented on #8339
I meant the thingies you solder to your board ;-)

[2018-01-10 13:15] aabadie commented on #8340
What do you mean ? using `LOG_INFO` like it is done in `kernel_init` ? and deactivate the after `board_init` message at compile time.

If yes, it sounds ok for me.

[2018-01-10 13:25] Josar commented on #6120
Does it harm anyhow to but the `"$(OBJCOPY)"` in quatition marks?

$(AD)"$(OBJCOPY)" $(OFLAGS) "$(ELFFILE)" "$(HEXFILE)"

[2018-01-11 07:17] PeterKietzmann commented on #8340
In my opinion this shouldn't be a puts anyway. I would either remove it completely or make it a logging message, as proposed...

[2018-01-11 08:28] rienafairefr commented on #8340
Yes, I think the simplest would be puts => LOG_INFO. see PR#8347 just now

[2018-01-11 10:58] PeterKietzmann commented on #8340
Fixed with #8347 ? Can we close this issue?

[2018-01-11 11:26] rienafairefr commented on #8340
Yes, fixed, closing it :-) Thanks to all

[2018-01-11 11:26] #8340 closed

[2018-01-11 14:44] rienafairefr commented on #8340
OK for me. Closing

[2018-01-11 17:09] kYc0o commented on #8024
Well after a quite long research and efforts to understand the sleep modes on Cortex-M platforms, I realised that the wake-up requirements are kind of different depending on the CPU. If someone can clarify the decisions made to make it that generic, I'd be glad to read about it. Also, maybe all of them mean more or less the same, and so I'm just unable to understand exactly what they mean so if th

[2018-01-12 09:17] praveenlark opened #8353 "Unable to create a file on my SAM R21 xplained pro board with hello world application"
I have flashed hello world application on atmel SAMR21 board with some modifications to create file with fopen. But file is not creating while running hello world program on board.
i Build the and flashed the code with commands
make BOARD=samr21-xpro
sudo make flash BOARD=samr21-xpro

Does anyone have an idea about that?

[2018-01-12 09:23] aabadie commented on #8353
To be helpful we need more details on what you are trying to achieve.
Can you provide a small snippet (in a gist or in a comment of this issue) so we can try to reproduce your issue ?

[2018-01-12 09:34] praveenlark commented on #8353
Here i am providing the snippet of Hello_world code

int main(void)
{
    puts("Hello World!");

    printf("You are running RIOT on a(n) %s board.\n", RIOT_BOARD);
    printf("This board features a(n) %s MCU.\n", RIOT_MCU);
    FILE *fp = fopen("test.txt", "wb");
    if(fp == NULL) {
        printf("------->Can not create file<----\n");
        //return 0;
    }
     //   printf("found bpkrB file

[2018-01-12 09:57] pyropeter opened #8356 "llvm: Build broken with clang 5.0.0"
Linking breaks with current clang:

[code]

[2018-01-12 10:41] miri64 commented on #8353
Hi, first of all, welcome! What does your Makefile look like? What is the SD card reader you are using (AFAIK there is neither an SD card reader nor other flash drive storage on the SAMR21)? Did you include the proper file system module?

[2018-01-12 10:42] miri64 commented on #8353
This question might be related to #8339 ;-)

[2018-01-12 10:43] miri64 commented on #8353
Another question: you are reading from `test.txt`, so I expect you have it on an SD card somewhere. Did you make sure it is mounted in the path you expect?

[2018-01-12 12:09] gebart commented on #8356
I can confirm the same issue on my machine. I did not have time to investigate further, but it seems to be related to the cross toolchain path configuration makefile script.

[2018-01-12 15:06] kaspar030 commented on #8024
What do you mean? PRIMASK is set through irq_enable()/irq_disable(). Both platforms do on WFI sleep until an interrupt occurs. If ISRs are enabled, they jump right in. If not, they continue after WFI. Are you referring to FAULTMASK?

[2018-01-12 15:21] kYc0o commented on #8024
Yes, is the difference I want to highlight.

[2018-01-12 15:33] kaspar030 commented on #8024
AFAIK we don't set FAULTMASK anywhere, and apart from that, the cortexes should behave the same...

[2018-01-12 16:58] attdona opened #8357 "nrf52840dk: build fails with softdevice support"
#### Description

I've tried to compile without success examples/hello-world demo for nrf52840dk board including nordic softdevice.

#### Steps to reproduce the issue

in examples/hello-world/Makefile I added:

     USEPKG = nordic_softdevice_ble

#### Actual results
[code]

#### Versions

Operating system: Ubuntu
Build environment: arm-none-eabi-gcc (15:5.4.1+svn241155-1) 5.4.1 20160919

[2018-01-12 17:49] kYc0o commented on #8357
This is a well known issue, #6379 states something similar and we know it's broken since a while.

#8068 may solve these issues.

[2018-01-12 21:54] attdona commented on #8357
I think it is a new problem: not a buggy softdevice integration but a failure to compile.

Beside the type of error already reported there are a number of errors like this:

``
In file included from /home/adona/dev/RIOT/examples/hello-world/bin/pkg/nrf52840dk/nordic_softdevice_ble/src/components/device/nrf.h:48:0,
                 from /home/adona/dev/RIOT/examples/hello-world/bin/pkg/nrf52840dk/n

[2018-01-13 08:57] attdona commented on #8357
The NRF IoT SDK downloaded form nordic is https://developer.nordicsemi.com/nRF5_IoT_SDK/nRF5_IoT_SDK_v0.9.x

This version does not support nrf52840 chip, headers file are out of date and cause include conflicts not easy to resolve (at least for me)

The latest SDK IoT version readme:

http://developer.nordicsemi.com/nRF5_IoT_SDK/nRF5_IoT_SDK_v1.0.x/

Shoud it be better to migrate to latest and sta

[2018-01-13 11:31] dylad commented on #8357
Hi @attdona,
Since we're still working on a fix for the current SDK within RIOT (v0.9). I think it is a bit early to move to the new IoT SDK.
In fact, IoT SDK no longer exists and has been merged to the global Nordic SDK. I'm afraid it will take some time to get this new SDK working (as it introduces a lot of new features compare to the previous version).
My point of view would be to wait we fix a

[2018-01-13 16:50] gebart commented on #8204
LittleFS was featured on Phoronix today: https://www.phoronix.com/scan.php?page=news_item&px=LittleFS-ARM-Embedded-FS

[2018-01-15 10:08] nmeum commented on #8356
Building RIOT applications with `BOARD=native` works fine though.

A simple workaround is using gcc instead of clang for linking in `toolchain/llvm.inc.mk`:

[code]

[2018-01-15 18:29] kYc0o commented on #8024
I modified the current code to set FAULTMASK to 0 when awaking and everything works again. I'll make a PR with the fix.

[2018-01-16 09:49] smlng commented on #8265
there lots of more issue regarding GCC 7.x, see this [Murdock-Log](https://ci.riot-os.org/RIOT-OS/RIOT/8362/4ebf00c0ff1eeab208869fba457e4e9febc15a15/output.html) where I tried to add a CI-Worker with `arm-none-eabi-gcc-7.2`. I'll work on fixes for these, help welcome. Tinydtls fix is provided in #8367

[2018-01-16 10:39] nmeum commented on #8266
This seems to have been fixed, at least I can't reproduce this anymore with gcc 7.2.0. The switch statements contain `/* Fall through and [...] */` comments now which should stop gcc from emitting a warning.

[2018-01-16 10:46] eli0tc opened #8369 "[IoT-LAB] build failed on master: recipe for target 'link' failed"
#### Description
Wether I try to build the examples for the m3 node (following the tutorial [https://www.iot-lab.info/tutorials/riot-compilation/](https://www.iot-lab.info/tutorials/riot-compilation/)) on the Strasbourg site or the Grenoble site, the build fails and I get an error message.

#### Steps to reproduce the issue
As stated in the tutorial:
`<login>@<site>:~/iot-lab/parts/RIOT/examples/d

[2018-01-16 11:45] gebart commented on #8369
This is a bug/missing feature in older binutils versions. Is it possible to upgrade the arm toolchain there?
Could you post the version of the tools installed?
Use the script in RIOT/dist/tools/ci/print_toolchain_versions.sh

[2018-01-16 12:57] danpetry commented on #8184
@smlng @kaspar030 do you have any thoughts on the above? It would be good to get your input on how useful/appropriate this is for Murdock integration

[2018-01-16 13:17] eli0tc commented on #8369
I tried an apt-get install build-essential with no luck ; I don't have the right to do so.
Here is the output of print_toolchain_versions.sh:

[code]

[2018-01-16 14:51] kYc0o commented on #7667
@travisgriggs can you check if #7970 solves this issue?

[2018-01-16 14:57] kYc0o commented on #7330
I tried to reproduce this error but it works ok so far. Though it's true that `USEMODULE += uart_stdio` is necessary (a dependency).

I did it by typing:

[code]

on the default example.

@nikosft can you confirm if your issue persists?

[2018-01-16 14:59] kYc0o commented on #9
Is this being tackled by any PR regarding cc110x?

[2018-01-16 15:09] kYc0o commented on #6473
AFAIK all these issues were addressed, there are new ones but I'll open another issue with them. Closing.

[2018-01-16 15:09] #6473 closed

[2018-01-16 15:12] kYc0o commented on #7045
Can we close this issue?

[2018-01-16 15:21] kYc0o commented on #7737
I gave a quick try for this issue and, though I have problems, those are not related to what is described here but:

[code]

Is actually libcoap still supported?

[2018-01-16 15:24] kYc0o commented on #8086
@cgundogan is this still an issue?

[2018-01-16 15:28] kYc0o opened #8372 "Native broken on OS X"
#### Description

Any application built in OS X fails due to some warnings.
#### Steps to reproduce the issue

Compile any example in OS X by doing `BOARD=native make`
#### Expected results

It compiles
#### Actual results

[code]
#### Versions

[code]

[2018-01-16 15:35] nmeum commented on #7737
@kYc0o what you are seeing there is probably related to #8289.

[2018-01-16 15:36] nmeum commented on #8372
This is probably fixed by #8364.

[2018-01-16 15:40] kYc0o commented on #6533
Actually I'm not sure we can use the test script for any board as is, since it configures two tap interfaces to execute the tests.

Therefore, another test for radio platforms should be created.

Can we close the issue @BytesGalore ?

[2018-01-16 15:42] kYc0o commented on #7737
@nmeum thanks for the hint!

[2018-01-16 15:43] kYc0o commented on #8289
I can confirm the issue, I experienced it while testing #7737.

[2018-01-16 15:44] Josar commented on #6120
@kYc0o  as posted in my first post quatation marks for "$(OBJCOPY)" in RIOT/makefile.include at line 270 solves this.

[2018-01-16 15:44] kYc0o commented on #8372
@nmeum thanks! I'll test it asap.

[2018-01-16 15:45] kYc0o commented on #6120
@Josar great! can you make a PR for that? (if you didn't already).

[2018-01-17 02:47] #7045 closed

[2018-01-17 09:21] PeterKietzmann commented on #8337
@geith can you provide a pull request to fix this?

[2018-01-17 10:16] aabadie commented on #8369
The GCC ARM toolchains on the iot-lab frontends (this is a global issue there) are a bit outdated. I'm looking into this to see how we can update them.

In the mean time, you can try building against the latest stable version: 2017.10, instead of master, in step 2. use:
[code]

[2018-01-17 10:26] geith commented on #8337
PR done, but checks failed at _./dist/tools/pr_check/pr_check.sh master_:
[code]
I don't know what's wrong, the PR contains only one commit. So what can I do?

[2018-01-17 11:05] PeterKietzmann commented on #8337
Let's discuss next to the code (in the PR #8375). As @aabadie already indicated the problem is you commit message. It contains "fixup" which is detected by the CI

[2018-01-17 12:45] #8337 closed

[2018-01-17 14:38] aabadie commented on #8369
Ok, I pushed the fix for the `make setup-riot` used in step 2.

Regarding the update of the toolchain on iot-lab, this is under discussion in the maintenance team. Because IoT-LAB provides support for several OSes, including RIOT, Contiki and TinyOS, we have to think to a good solution and do some testing before.

Also, this problem is only IoT-Lab related, so next time please send an email to adm

[2018-01-17 14:38] #8369 closed

[2018-01-19 08:53] aabadie commented on #7331
@jia200x can we close this now that #8264 and #7505 are in ?

[2018-01-20 22:50] Icaltary opened #8388 "xtimer_periodic_wakeup is not interrupt safe"
#### Description
If an interrupt happens at the wrong time during a call to xtimer_periodic_wakeup with a short delay it may cause an internal overflow in the timer which results in the delay to be much longer than specified.

#### Steps to reproduce the issue
Reproducing this works best if the xtimer is built with ENABLE_DEBUG 1 and the task calling xtimer_periodic_wakeup has a low priority. (But

[2018-01-22 09:20] kaspar030 commented on #8285
Recursive make in combination with "-B" is the problem here:

1. First-level make remakes "prepare", which triggers "pkg-prepare", which then calls "make prepare" in each package directory, triggering a download.

2. First-level make then triggers the actual package build (using ```make -C$(PKGDIR) all```), which is, through "-B", forced to rebuild "git-download...

I *think* that's what is happen

[2018-01-22 15:39] smlng commented on #8289
fixed by #8396

[2018-01-22 15:39] #8289 closed

[2018-01-23 08:22] smlng opened #8408 "pkg/fatfs: linker error when build tests/pkg_fatfs_vfs for msb430 based boards"
#### Description

linker error when build tests/pkg_fatfs_vfs for msb430 based boards

#### Steps to reproduce the issue

Build `tests/pkg_fatfs_vfs` for any board that uses `msb430-gcc`, e.g `z1` or `telosb`.

#### Expected results

Builds.

#### Actual results

Linker error:

[code]

#### Versions

RIOT docker image, with Ubuntu Xenial and msb430-gcc from `apt`:

[code]

[2018-01-23 11:52] MichelRottleuthner commented on #8408
Hmm the reference to `.debug_loc+0x11c3` looks a bit wierd to me. Shouldn't this get stripped away by default (i.e. when compiling without debug helpers)?
When looking at ff.o it looks like a lot of memory is wasted for the various debug sections:
[code]
Building with `LINKFLAGS=-s BOARD=z1 make` works for me (also on msp430-gcc 4.6.3 20120301).

[2018-01-23 13:05] gebart commented on #8408
@MichelRottleuthner The .debug_xxx sections will exist in the .o files and the .elf file because we are building with debug symbols by default (`gcc -g`), but they will not take up any space in the raw binary because they are not linked into ROM/RAM. You can check that the .bin/.hex files should have the same size regardless if you strip the .o and .elf files in advance (using the `strip` tool for

[2018-01-23 13:07] gebart commented on #8408
Regarding this particular error, I assume this is related to issues in the aging mspgcc toolchain from 2012.

[2018-01-23 13:34] astralien3000 opened #8415 "Where is gnrc_netif_get ?"
Hello,

[An old pull request is using `gnrc_netif_get`](https://github.com/named-data-iot/ndn-riot/blob/7e4f3e0a1b914239493adf78c11e96354f595e24/netif.c#L43).
I guess the API has changed.

How can I replace this piece of code ?

[2018-01-23 13:36] MichelRottleuthner commented on #8408
@gebart thanks for clarifying this!

That's basically what I assumed and what lead me to the point, that It's weird the debug sections cause the linking to fail.

Do you know if this issue is also present in the msp430 toolchain supported by TI?

[2018-01-23 13:53] miri64 commented on #8415
Rather than just being represented by there PIDs and leaving everything else to the upper layers, network interfaces are now represented by structs since #7925. You can use [`gnrc_netif_iter()`](http://doc.riot-os.org/group__net__gnrc__netif.html#gaa58a468fb9e82d7107e229f0239c4e53) to get the interfaces and [`gnrc_netif_numof()`](http://doc.riot-os.org/group__net__gnrc__netif.html#ga79b293e98896c2

[2018-01-23 14:00] miri64 commented on #8415
(the PIDs which were previously stored in `ifs` you can access via the `gnrc_netif_t::pid` member)

[2018-01-23 15:24] mm-dimmiz opened #8417 "Problem ping6"
#### Description
Hello Guys,

We have ported riot-os to the XMC4500. And now we are trying to port the eth-driver to the xmc4500. We think that we may have actually achieved it. But now we have the a problem with the test.

Our test application is basiclly the same as the tests/driver_encx24j600. Where we can ping over the serial console. And here comes the problem. In the console.log file you can

[2018-01-23 15:31] miri64 commented on #8417
Hi, can I have a look at your implementation? Maybe that could already help with finding the issue. Blind I can only guess. Is your receive buffer cleared properly? The output hints at packet duplication, so maybe the receive function of netdev is returning the same packet over and over again?

[2018-01-23 15:35] miri64 commented on #8417
(also maybe use `txtsnd` instead so you can debug first on the link layer before putting IPv6 on top [see `tests/driver_xbee` as an example how to do that).

[2018-01-23 15:41] miri64 opened #8418 "CI: w5100 driver isn't built"
#### Description
While investigating something else, I noticed that there is no test application for the `w5100` device driver. Luckily, a quick test using `examples/default` showed, that it is still building, but a quick `git grep "\<w5100\>"` revealed that there is indeed no application to build this module.

[2018-01-23 17:28] cladmi opened #8420 "documentation: the build system"
#### Description

This is an issue to follow steps for documenting the build system.
This a subtask of #4309.

I welcome all points that you would like to add in the subtasks and will update the current one with PRs.

#### Goal

Add technical documentation regarding the build system in general, advanced topics and internals.
It should describe how things are achieved and also document the limitati

[2018-01-23 21:36] smlng commented on #8372
@kYc0o should be fixed, can you (re)test and close this one.

[2018-01-23 23:41] kYc0o opened #8424 "openocd.sh: line 195: setsid: command not found"
#### Description

While running openocd for debugging (e.g. make debug) on OS X I have the following:

[code]

Not sure if it's an issue but I wonder if the command `setsid` is strictly necessary.

#### Steps to reproduce the issue

Run `make debug` on a fresh installed OS X.
#### Expected results

No errors.
#### Actual results

Error described above.
#### Versions

[code]

BTW the command cited

[2018-01-24 06:59] gebart commented on #8424
There's a comment in the openocd script about setsid: "The setsid command is needed so that Ctrl+C in GDB doesn't kill Openocd"

[2018-01-24 07:00] gebart commented on #8424
Good point about the versions script and openocd

[2018-01-24 09:35] haukepetersen commented on #8285
Works for me. I don't consider this a serious issue (aside me gotten used to use `-B` far too often), so closing this one.

[2018-01-24 09:35] #8285 closed

[2018-01-24 11:03] kYc0o commented on #8424
So there's no way to avoid it? Something more standard? I was reading that this function might seem POSIX or mandatory for POSIX systems but apparently not, so it's not budled in OS X. The workaround I used in the past was to compile a kind of similar version [here](https://github.com/jerrykuch/ersatz-setsid/blob/master/setsid.c) but I thought that maybe we could find an alternative.

[2018-01-24 12:54] haukepetersen opened #8428 "pm: is the overall power management flawed?"
#### Description
I created this issue to provide a central place for the similar/overlapping discussions started in  #8401 and #7787 and to move to make the discussion about the actual `pm` concept in RIOT instead of having the general discussion in those specific, STM related PRs.

I see the main goal in this issue to find out where (or why) the actual `pm` concept is 'totally useless', and to se

[2018-01-24 12:57] roberthartung commented on #8428
+ #7947

[2018-01-24 13:02] haukepetersen commented on #8428
This seems to me rather a matter of implementation, fixable with either something like `shell_disable()` or `stdio_poweroff()` or similar.

This gets more interesting: if we are able to switch to any power mode basically any time, this means that we have to harden all our implementations against/for that, adding quite some complexity, especially to periph and device drivers. One of the beauties of

[2018-01-24 13:09] roberthartung commented on #8428
well that's why there are layers, right?

[2018-01-24 13:13] roberthartung commented on #8420
Regarding PM: I started to edit the wiki, but didn't finish it yet https://github.com/RIOT-OS/RIOT/wiki/Power-Management .

[2018-01-24 13:14] haukepetersen commented on #8428
jupp

[2018-01-24 13:18] olegart commented on #8428
Ok, here's the problem: I don't see why enabling/disabling some peripheral should disable/enable low power modes.

E.g. if UART is enabled and it has RX callback registered — it prevents system from entering STOP mode.

1) Let's distinguish between *enabled* peripheral and *active* peripheral. If you have running DMA transfer on UART port, it is enabled and active, and the system must not sleep, o

[2018-01-24 13:19] haukepetersen commented on #8428
continued from #8401:

This is good point: the `pm` module actually is designed to handle a CPU's sleep modes, not really considering different run modes, as the concept so far only considers one static run mode (@kaspar030 right?). So maybe having some (potential CPU specific) functions for handling the run-mode (e.g. different core clocks) in parallel to what the `pm` module is doing could be th

[2018-01-24 13:19] kb2ma commented on #8287
I have not seen this issue, so let me ask a few questions to be sure I understand. I assume the issue is with gcoap acting as a server, where the request is a GET for ./well-known/core.

Do you have the CLI installed? If so, send a GET for /cli/stats to gcoap. You should receive a payload with an integer encoded as a string in response.

At what point do you see the -EPROTO UDP response -- when gc

[2018-01-24 13:24] roberthartung commented on #8428
and you cannot RX if you disable it, except if you have interrupts and uart is low-power capable.

true, not a fan of that. IMO: if you want to deep sleep: you can't use the shell/uart (at least not in RX mode!), or you have to enable/disable the uart everytime you want to use it.

true! or blocking SPI transfer (talking about atmega stuff here that I am using)

what are the other cases?

[2018-01-24 13:31] kYc0o commented on #8428
This is my point. The actual (good, btw) design was thought to take into account most of general cases. But then you have a bunch of devices coming (because there was a need, a market) which embed a lot of new low power features. Thus, the general approach should be either extended or superseded.

I tend to say enable/disable at will. Developers should know what they want, and when.

Other kind of

[2018-01-24 13:34] olegart commented on #8428
Why? I can combine it, our current firmware enables sleep 15 seconds after booting, so the user have a few moments to change some devices' settings if he needs to. Then the system goes to sleep (STOP actually), UART is going to sleep automatically (CPU stops its clock), but any time the system wakes up, UART is up and running too, TX-ing log/debug/etc. messages.

So actually to make it compatible

[2018-01-24 13:37] kaspar030 commented on #8428
Who is "User"? A developer using periph/uart? A developer using shell (which might use periph/uart or rtt_stdio? An application developer using coap, which uses 6lowpan over xbee, which expects packets to arrive unless xbee is set to sleep?

When writing a specific application for a specific target hardware, "User" might know.

I think this has to be extended: Low power modes should be blocked by

[2018-01-24 13:43] olegart commented on #8428
Should STANDBY mode on Cortexes be blocked by gpio_init_int?

Should STANDBY mode be blocked by any driver as it doesn't preserve GPIO state so external devices may or may not work properly if CPU enters STANDBY?

Should peripheral drivers on Cortexes check if specific peripheral is enabled or not in SLEEP mode, and if it is not, block SLEEP mode too?

[2018-01-24 13:56] olegart commented on #8428
Actually no, because I'll have to check every time is some new driver has its' own opinion on when to disable LPM — on init only or every thirteenth minute of an hour too.

All I want is a system which doesn't get in my way if there's no disastrous consequences. Ok, save me from getting HardFault, I hate'em.

But taking control from the user on an embedded system is a really, really bad idea.

[2018-01-24 14:06] Josar commented on #8287
My setup is as follows.

RasperryPi with openlabs radio.
Jiminy Xmega board, atXmega256a3u with atmel at86rf233.

When i run the gcoap example a can recieve the values wit the rpi.
As soon as i compile gcoap.c without debug there seems some variables which are not properly initialized but where zeroed when used with debug.

The packet is received but it is not pass sock_udp_recv.

https://github.c

[2018-01-24 14:13] kaspar030 commented on #8428
What is this STANDBY mode of which Cortexes? Are the Cortex-M sleep modes even that standardized?

If the question is whether "gpio_set_int()" should block the sleep mode that it needs, yes it should.

I'm confused by what you mean with SLEEP and STANDBY modes.

The concept of pm requires periph drivers to block sleep modes that would prevent requested functions to work. *Only at that level, this

[2018-01-24 14:23] roberthartung commented on #8428
but then it's a new class of drivers, which handle LPM / pm_layered differently. I don't see a problem within pm_layered here so far.

what exactly are you talking about here? I am talking about general RIOT stuff, but this behavior with STOP is new to me.

I'd propose to generally look at the sleep modes and their impact. For atmega this is quite simple and can be managed by pm_layered. However f

[2018-01-24 14:24] roberthartung commented on #8428
Absolutely agree here. IMO this should be totally transparent to the user and be hidden from the user. If the user users shell -> no sleep. If the user doesnt have any shell and only does a i2c_read()/_write() once in a while, the node can go to sleep easily.

Problem here is xtimer obviously

[2018-01-24 14:31] kaspar030 commented on #8428
I'm not talking about blocking any PM. I'm asking whether *forcing* a low power mode would suit your needs. If your argument is that you cannot know whether that would break your some new driver - exactly that is what pm tries to prevent, in a portable way.

I think you're trying to basically do manual power management, or you'd like to do it half-automatic. In your application, you don't care abo

[2018-01-24 14:31] olegart commented on #8428
Cortex-M itself has two standard modes, sleep (stops core clock) and deep sleep (stops everything). On specific CPUs there are nuances, I'm mostly referring to STM32 scheme as the discussion started with it.

Specifically, SLEEP mode on STM32 stops core clock, but peripherals may (or may not) be clocked, depending on APBxLPENR register settings.

Should the driver check that registers every time C

[2018-01-24 14:33] olegart commented on #8428
Others should learn that UART goes to sleep if CPU goes to sleep. They should disable sleep if they need UART. There is no, I repeat no, way to work with MCU without learning some things about you MCU internals. Even Arduino requires that (sometimes).

[2018-01-24 14:47] fjmolinas commented on #8428
I think disabling enabling periph should be automatic only if higher level (obscure) modules are using it. For example if uart or spi is being used by some kind of sensor, disabling LPM should be left to the user. If it regards radios and you are using GNRC on top of it some disabling should be automatic because sometimes the thread will be blocked waiting for a response, neighbor discovery, etc t

[2018-01-24 14:47] kaspar030 commented on #8428
Again, let's please keep concept and implementation issues seperate.

... anything that *registers a callback for rx* blocks the corresponding low power mode, *if the uart needs that*.

There could be a low-power clocked UART that allows wakeing up the CPU without losing bytes. Hardware flow control could trigger wakeup. Maybe not and UART RX requires the CPU to busy wait. All depending on the UAR

[2018-01-24 14:56] kaspar030 commented on #8428
Again, who is the user?

Stuff gets layered. coap might use saul might use random_driver which might use i2c or spi depending on the target board. Whether something is "obscure" or "totally clear" depends very much on the application.

[2018-01-24 15:02] gebart commented on #8428
What are the other enabled but not active peripherals other than the UART?
As I see it the only asynchronous periph driver right now is the UART, all others are completely controlled by the software.

- timer: Block low power modes if it currently has a target and the hardware does not support low power operation.
- spi: block low power if a transfer is in progress. (remember that riot only implem

[2018-01-24 15:04] haukepetersen commented on #4669
I consider this issue solved with #7781 -> closing it.

[2018-01-24 15:04] #4669 closed

[2018-01-24 15:05] haukepetersen commented on #8428
as a reference regarding 'active' peripherals: #4758

[2018-01-24 15:06] olegart commented on #8428
Kaspar, come on, seriously. You want user (programmer of any level) to know absolutely nothing about CPU internal states and peripherals and at the same time you require him to understand the concept of power consumption dependency — by several orders of magnitude — on _registered callback_. It's bloody magic to everyone not familiar with RIOT internals.

Why xtimer_spin doesn't work? It does. We

[2018-01-24 15:09] olegart commented on #8428
Timers, unfortunately.

xtimer_now() doesn't have a target, it is broken with LPM enabled and it can't be fixed.

[2018-01-24 15:24] kaspar030 commented on #8428
I'm thinking about scale, and failure cases.

With pm:

If a clueless C developer uses periph/uart and has clue about the CPU internal states and periphials, they will probably use more power than necessary by setting a UART callback but not using it, if the uart implementation then requires blocking of a low power mode.

An experienced C / RIOT developer can do the right thing - don't initialize

[2018-01-24 15:30] mm-dimmiz commented on #8417
Sorry I can't provide you with the implementation :(. But the receive buffers are cleared properly as you can see in the console.log. Every frame which is printed to the console is moved to the higher layer. Also the dupplicated frame makes no sense as you can see here:

send:
00 E0 4C 13 59 0C 01 02 45 19 00 00 86 DD 60 00
00 00 00 0C 3A 40 FE 80 00 00 00 00 00 00 CA FE
CA FE CA FE 00 01 FE 80 00

[2018-01-24 15:33] gebart commented on #8428
@olegart

Let's just discuss the concepts here instead of the particular implementation of xtimer.

xtimer is a known issue, it needs better configuration, and implementation improvements to handle heterogeneous timer constellations.
The reason why xtimer _implicitly_ (xtimer never calls pm_block AFAIK) blocks all low power modes on most boards is that a high frequency timer is configured as the x

[2018-01-24 16:59] miri64 commented on #8417
Did you also get the correct receive output at the other end? I'm looking into the rest tomorrow.

[2018-01-24 17:53] cladmi commented on #1891
This could definitely go into a documentation, its common that I write something like `printf("size: %zu\n", size_t_variable);` And it works for some platforms but not all as newlib-nano does not have all supports. I think its usually solved by casting to `(unsigned int)` but I don't think I have seen a place where this is summarized.

[2018-01-24 19:54] olegart commented on #8428
@kaspar030 From MCU programmers' point of view «using more power by setting and not using callback» is meaningless. Why should I care about callbacks at all if I suppose that in sleep there's no UART working and so there will be no callbacks? I expect the peripheral to stop, not to prevent me from using sleep.

I really do not understand the logic behind the idea.

If I enabled LPM, *I did it for

[2018-01-24 21:00] kaspar030 commented on #8428
That is maybe a valid thing to suppose. You might as well suppose "when I set up UART for reading, I suppose the system does not go to sleep underneath, until I tell it I don't want UART RX anymore".

I guess both are valid assumptions, but unfortunately orthogonal.

This behavior is very simple to get (by disabling pm_layered, defining ```PROVIDES_PM_SET_LOWEST``` and providing a custom ```pm_set

[2018-01-25 07:35] olegart commented on #8428
Why should I suppose that, exactly? Can you show me a specific page of the Reference Programming Manual of any MCU or maybe Cortex-M core which states such behavior?

No. Because no MCU behaves like that. It is a concept pushed by RIOT, and RIOT only. And I don't understand why anyone needs it.

No, they don't. No more then they expect the system to automatically initialize everything that is desc

[2018-01-25 07:37] roberthartung commented on #8428
The atmega family does exactly that. If you go to sleep (and dont block some sleep modes) you will not receive any data, that's why you have to block the sleep modes, if uart is used for receiving.

[2018-01-25 07:40] olegart commented on #8428
@roberthartung Any MCU without buffered LPUART can not receive data while sleeping because UART is not clocked.

This is normal. This is expected behavior. Peripherals are not clocking while sleeping.

But MCU will refuse to sleep because it has its UART clocked is a highly unexpected thing. AVR doesn't do that by itself. Cortex-M doesn't do it. 8051 doesn't do it. On any existing MCU programmer h

[2018-01-25 09:13] haukepetersen commented on #8428
This statement compares Apples and Bananas... RIOT is not forcing any MCU to do anything that is not stated in any reference or programming manual (nor will it ever, as this behavior is fixed in silicon and hard to alter...), so RIOT does not break anything.

Its like working with any software library: there is an API description (reference manual for the MCU) that shows us all the functions we ca

[2018-01-25 09:14] gebart commented on #8428
The discussion is getting off track. @olegart Please open a separate issue for your UART API concerns if you have some changes that you want to introduce, or respond in #5899. To me it seems like that thread had a very constructive discussion around the API design of the UART.

Regarding this topic, I think this can quite easily be solved by introducing a new module as an alternative to the pm_lay

[2018-01-25 09:42] olegart commented on #8428
@gebart I have no issues with UART — we implemented all the functionality that has «no use case» a while ago. We just never felt a need to spent time on lengthy github discussions about use cases.

Here I tried to explain that deliberately guarding users from things those users are too lazy to understand to use properly is a really bad idea.

Ok, RIOT maintainers have another opinion.

That's fine

[2018-01-25 11:25] kb2ma commented on #8287
Thanks for the additional information. The immediate problem is that the values in sock->remote are not zeroed out. sock->remote is always zeroed at gcoap startup. Specifically, gcoap_init() starts the gcoap thread, which runs _event_loop(). This function calls sock_udp_create(), which zeroes sock->remote.

So, it looks like the problem is a matter of overwriting rather than initialization. I wond

[2018-01-25 11:47] danpetry opened #8434 "Lua support"
## Description

There is an external developer who wants to build a modular piece of hardware with a coprocessor running RIOT, with potential to be a commercial product. For this, he wishes to use Lua to control part of it, and therefore Lua support could enable commercial use of RIOT. Additionally, dynamic language support (see also https://github.com/RIOT-OS/RIOT/pull/7796 and https://github.com

[2018-01-25 12:23] smlng opened #8436 "Kinetis PhyNode: failed to flash binary > 256K"
#### Description

For release testing I tried to flash the (whole) unittest binary onto a PhyNode (`pba-d-01-kw2x`). First problem is, that the binary got quite large recently and exceeds 256K by now. Fortunately I got a PhyNode with Kinetis MCU marked as MKW22D512, which means it should have 512K ROM. Second problem: there are different versions of the PhyNode with differing ROM sizes (some have

[2018-01-25 12:26] waehlisch commented on #8434
@danpetry it is probably helpful to enumerate the other Lua implementions that you looked on.

[2018-01-25 13:53] miri64 commented on #8417
I honestly don't see it how the dump would make sense of that. On which end and on which layer is send dumped? On which layer is receive dumped (I suppose [somewhere here in gnrc_netif_ethernet.c](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/gnrc/netif/gnrc_netif_ethernet.c#L185-L197), but I'm not sure)?

But you also follow the rules, for when `buf == NULL` and `len == 0` (return number of

[2018-01-25 14:36] kYc0o commented on #8428
I agree with @gebart that we need several options instead of forcing all users to one because we think that's the best choice. I know we work on very flexible/usable enough APIs to make RIOT very friendly (as our motto says), but it's true that we cut a little bit the freedom of some users who want to go a bit beyond the proposed solutions.

As Kaspar and Hauke said, there's actually no limitation

[2018-01-25 17:40] gebart commented on #8436
I agree there's a problem with the flash detection, but AFAIK the chip does only have two banks, but they are twice as big as the 256k variant.
There have been some recent improvements to the openocd code regarding kinetis flash detection, it could be that this "just works" with a development version of openocd.
Another thing you can try is to use the frdm-common openocd.cfg. The pba-d-01-kw2x ope

[2018-01-25 19:18] A-Paul opened #8443 "release test 2018.01 RC1: tests/periph_hwng, device not initialized"
#### Description
Running the test fires a lot of messages: **random device not initialized, failing**

#### Steps to reproduce the issue
"make clean all term" in *tests/periph_hwrng*

#### Expected results

#### Actual results

and so on ...

#### Versions
[code]

[2018-01-25 19:36] smlng commented on #8436
@gebart thanks for the hints - I knew you might know something 😉. I'll a newer openocd and look into the frdm config.

[2018-01-25 19:55] A-Paul opened #8444 "release test 2018.01 RC1: tests/thread_priority_inversion, hangup"
#### Description
Sequence of messages stop without producing any error message.

#### Steps to reproduce the issue
"make clean all term" in *tests/thread_priority_inversion*

#### Expected results
According to the README.md

[code]

#### Actual results

hangs here ...

#### Versions
[code]

[2018-01-25 22:01] kaspar030 commented on #8428
I've played with customizing power management. See #8445.

[2018-01-26 07:38] mm-dimmiz commented on #8417
As suggested by riot doc i have implemtend the netdev_driver_t struct which then calls the _recv function which then calls the internal receive function of the driver. This is where the hex dump comes from.

If I understand it correctlly my low level receive function should do the obove mentiond procedure? If so than this is not the case at the moment.

[2018-01-26 08:29] miri64 commented on #8417
Depends on what you mean by low-level, but yes, the `netdev_driver_t::recv` method should at least do the above mentioned procedure.

[2018-01-26 08:56] haukepetersen opened #8446 "periph/i2c: order of calling i2c_init_master and i2c_acquire"
#### Description
Just saw something that might cause some trouble: currently we are calling `i2c_init_master` in all the device drivers that use I2C (yes thats broken, but this issue is not about that). We also call `i2c_acquire` in all the init functions. BUT the order in which we call these functions is not defined currently, so some drivers call `acquire` before `init_master`, others to it the

[2018-01-26 09:15] gebart commented on #8446
Best short term solution IMO is to make sure the periph drivers use static initialization for the mutexes (`mutex_t m = MUTEX_INIT`), but that may be ugly when there are multiple busses.

[2018-01-26 10:30] emmanuelsearch commented on #8428
It is customary (and more efficient) to open separate issues for specific problems that have been pinpointed.
@olegart you have mentioned a number of issues on your stm board (you listed I2C, ADC, GPIO...).
Could you please open separate issues for these, describing each problem in more details?
It would help a great deal discussions towards solving these issues.

[2018-01-26 10:45] olegart commented on #8428
I think I'll make PRs, probably even today. We fixed all those problems, and it's pretty basic code, so should not be a problem to transfer it to recent RIOT code (we are using 2017.10 now).

[2018-01-26 13:07] smlng opened #8450 "littlefs: unittests fails on boards"
#### Description

Unittests for littlefs fails when executed on real boards (tested with pba-d-01-kw2x and samr21-xpro), but succeeds on native.

#### Steps to reproduce the issue

build `tests/unittests/tests-littlefs` for real (non-native) board, flash and exec tests

#### Expected results

tests succeeds on any board

#### Actual results

fails on boards (tested with pba-d-01-kw2x and samr21-xp

[2018-01-26 14:30] #8450 closed

[2018-01-26 14:54] smlng commented on #4560
since back a while we have `-Wextra` enabled and decided not to go for "-Wpedantic` then. But, as I work on macOS I can confirm that clang is (was GCC 7 is similar) more pedantic even for `-Wextra` - and those errors are mostly fixed by now, too. So I think this is not a big issue anymore.

[2018-01-26 15:56] rfuentess opened #8457 "Unable to send packets with UDP sock"
Hi people,

#### Description

I was working with a simple  sock UDP client/server code when I noticed I lost the ability to send UDP messages. Though, the gcoap example is working fine.

As I was unable to determine the source of my problem, I run  `test/gnrc_sock_udp` in the current master and got errors.  Can anyone else confirm this behavior?

#### Steps to reproduce the issue

[code]

#### Exp

[2018-01-26 15:59] miri64 commented on #8457
I'm going to look into it ASAP.

[2018-01-26 16:00] kYc0o commented on #8457
I was thinking, why sock is not into the release specs?

[2018-01-26 16:01] miri64 commented on #8457
The test @rfuentess is using is in the release specs (Task 2), so it would have come up eventually.

[2018-01-26 16:04] kYc0o commented on #8457
Oh I see, I thought it was not included because I didn't find it explicitly into the single hop tests or something like that.

[2018-01-26 16:15] rfuentess commented on #8457
After playing with `git bisect ` I got this:

[code]

[2018-01-26 16:22] A-Paul opened #8458 "release test 2018.01 RC1: tests/gnrc_ndp, kernel panic"
#### Description
Program crashes immediate after start.

#### Steps to reproduce the issue
"make clean all term" in *tests/gnrc_ndp*

#### Expected results

#### Actual results

#### Versions
[code]

[2018-01-26 16:37] miri64 commented on #8457
Well that was to be expected that is was one of these reworks ;-). Found the error in the tests at least btw (will open a PR in a moment), but I'm not sure this helps you with your sock_udp problem.

[2018-01-26 16:40] miri64 commented on #8457
See https://github.com/RIOT-OS/RIOT/pull/8459

[2018-01-26 16:41] miri64 commented on #8457
@rfuentess can you see if your other problems are also fixed with #8459?

[2018-01-26 16:44] bergzand commented on #8458
From what I've seen, the test network adapter used in the test doesn't implement `NETOPT_DEVICE_TYPE`, causing the assertion failure in gnrc_netif.

[2018-01-26 16:49] rfuentess commented on #8457
@miri64 #8459 already tested, and sadly not, my UDP client is still not working.  Which is bizzare,  the commit previous to the faulty one  is not giving me problems with my sock UDP client.

By the way, my client believes the message was sent (sock_udp_send returns value greater than zero), but the package is never send.

[2018-01-26 18:43] cladmi commented on #5962
Added a PR to fix the documentation https://github.com/RIOT-OS/RIOT/pull/8460.

Which does not solve your problem, but matches the issue title.

[2018-01-27 06:27] miri64 commented on #8458
Fix provided in #8464

[2018-01-27 06:31] miri64 commented on #8457
Not fixed, as reported by @rfuentess.

[2018-01-27 06:32] miri64 commented on #8457
I'll look into it. Error codes can mean nothing with GNRC.

[2018-01-27 07:33] smlng commented on #8444
known issue, fix under discussion in #7445

[2018-01-27 07:35] #8458 closed

[2018-01-27 14:50] ilf-S commented on #8457
We encountered an issue that could potentially be related to this one, but we are not sure.

Compiled the SNTP test on bluepill with attached AT86RF212b. When we try to get NTP time from the server we are not able to. tcpdump on the server shows an incoming and outgoing NTP packet, but the console on RIOT reports this (i'm cleaning up the IPv6 address, as those are routable and public):

`<0xff>ma

[2018-01-28 10:30] miri64 commented on #8443
Fixed by #8466

[2018-01-28 10:30] #8443 closed

[2018-01-29 09:10] smlng commented on #8372
I just ran `BOARDS=native ./dist/tools/compile_tests/compile_tests.py` using _2018.01-RC2_ on macOS (10.13.3) with some required tools (e.g. cmake) installed via Homebrew, and it completed with full success. So I guess we can close this (for now)?

[2018-01-29 09:19] kYc0o commented on #8372
Yes we can!

[2018-01-29 09:19] #8372 closed

[2018-01-29 10:41] smlng commented on #5863
still persist on macOS 10.13.3 with latest `arm-none-eabi-gcc` version 7.2 on samr21-xpro

[2018-01-29 10:43] smlng commented on #5863
its work for pba-d-01-kw2x, same compiler

[2018-01-29 12:13] smlng commented on #6145
Cannot observe this behaviour with `2018.01-RC2` not on Linux native nor on macOS native.

[2018-01-29 12:13] #6145 closed

[2018-01-29 12:37] smlng commented on #5561
@jia200x please check if this issue persist, I do not have that problem in macOS. If resolved, please close!

[2018-01-29 12:54] miri64 commented on #8415
@astralien3000 I hope I was able to answer your question. I'm closing this issue now.

[2018-01-29 12:54] #8415 closed

[2018-01-29 13:30] haukepetersen commented on #7745
@maitysubhasis I hope your issue has been resolved.

Since there is no activity  in this issue, I am closing this now. Please re-open if the issue still exists.

[2018-01-29 14:46] rfuentess commented on #8457
My original issue that led me to detect the faulty test is now identified: When link-local addresses are used, an interface must be set explicitly (even if there is only one), before the rework it was not necessary, yet it was a faulty behavior.

PR #8470 mitigates this behavior.  Of course, a more robust client is the best solution for scenarios with multiple interfaces.

Sadly, this means that @

[2018-01-29 14:46] #8457 closed

[2018-01-29 14:50] miri64 commented on #8457
@ilf-S regarding your problem: it looks like the timeout is set too tight (I think up until now it was only tested in a local set-up). If the problem persists with a larger timeout, please open a separate issue.

[2018-01-29 14:55] miri64 commented on #8457
(the default timeout is 5000 μs which might indeed be pretty low for a IEEE 802.15.4 multihop scenario).

[2018-01-29 15:23] kYc0o commented on #4560
@smlng I'd say so. We can close this issue.

[2018-01-29 15:32] kYc0o commented on #6466
IIRC, @aabadie has already started this job. Can you (@aabadie) complete this issue to show the progress? If you prefer we can close this one and open a new one which tracks the efforts.

[2018-01-29 15:36] kYc0o commented on #3947
A gentle ping for those who are involved here. I saw some PRs regarding this issue, however I don't know if we can mark it as solved.

Can someone confirm the doc still missing?

[2018-01-29 15:37] Kijewski commented on #5561
The trailing commas are still there [in master](https://github.com/RIOT-OS/RIOT/blob/5cf71e3096e72d7ceb891acd3cd2b70ea54f73e8/sys/include/net/netopt.h), lines 465, 473, 495, 507.

RIOT defaults to -std=c99, but AFAICT there is no global switch for C++, only for some modules.

[2018-01-29 15:39] kYc0o commented on #1895
How are we doing here?

[2018-01-29 15:48] ilf-S commented on #8457
I don't know if I should continue writing in this issue, if it's wrong, I'm sorry, let me know if I should open a new one.

Just a bit more info on the issue. Despite using global addresses, we are talking about an SNTP (openntpd) server literary on the next hop (i.e. RaspberryPi serving as BR). My first thought was that the timeout was too low, so I tried with different timeouts going as high as

[2018-01-29 16:56] jia200x commented on #4363
Maybe a dist/tools/uncristify command with several blacklist entries? (e.g core or specific files that won't need uncrustify)
Since most reviews are style issues, running uncrustify on most PRs could help to reduce reviewing time and merge faster.

[2018-01-29 17:46] miri64 commented on #8457
Please let's discuss this in a separate issue, otherwise we risk this discussion to get lost.

[2018-01-29 18:45] ilf-S opened #8473 "SNTP not working"
#### Description
I'm trying to get NTP time from an SNTP server (Initially it was chrony, then openntpd). At first we tried with our own code in main.c, which was not successful, then switched to the sntp test code in /tests, but that doesn't work, too.

This is on a bluepill board with AT86RF212b transceivers. 6lowpan with RPi (where NTP daemon is) as BR. Tested with public servers, too, same res

[2018-01-29 18:50] miri64 commented on #8473
Can you maybe try to find out what the return value of the sync function is [here](https://github.com/RIOT-OS/RIOT/blob/master/sys/shell/commands/sc_sntp.c#L83-L86) and also what `errno` it corresponds to? I'll have a look at it myself tomorrow.

[2018-01-30 09:44] smlng opened #8476 "tests: gnrc_netif fails on macOS"
#### Description

The test application `tests/gnrc_netif` fails on macOS; but works on Linux.

#### Steps to reproduce the issue

run `make all test` in `tests/gnrc_netif`

#### Expected results

success, without errors like on Linux

[code]

#### Actual results

fails with on MacOS:

[code]

#### Versions

OS= macOS 10.13.3 with:

[code]

Note: even though GCC 7.2.0 is installed, compiler for nat

[2018-01-30 09:57] smlng opened #8477 "tests: gnrc_ipv6_nib_6ln fails"
#### Description

Test application `tests/gnrc_ipv6_nib_6ln` fails with 4 errors, on macOS *and* Linux.

#### Steps to reproduce the issue

run `make tests` for named tests app

#### Expected results

success without error

#### Actual results

4 errors:

[code]

#### Versions

OS: macOS 10.13.03 with

[code]

Linux: CentOS 7 with

[code]

[2018-01-30 10:19] miri64 commented on #8473
Okay, I've tried it now myself. I wasn't able to do it with a Raspberry Pi, because mine doesn't seem to work at the moment so I found it easier to use the `gnrc_border_router` example instead with `openntpd` installed on my home machine. I also applied this patch:

[code]

With this, when I tried with the `100000` you proposed I got an error as well (Connection timed out), but with `1000000` I go

[2018-01-30 10:31] miri64 commented on #8473
See #8478

[2018-01-30 10:43] jia200x opened #8479 "documentation: better end-user documentation and learning resources"
#### Description
After the last monthly discussion on better documentation efforts, it came the idea of improve several topics and maybe add stuff like [openthread.io](http://openthread.io):
- Mantain an up-to-date webpage for each board, with better documentation on specific configurations, pinouts, etc.
- Add some guides and better end-user documentation (#5434).

I also take the opportunity to

[2018-01-30 10:52] bergzand commented on #8479
I would like to suggest to generate a number of board/cpu-specific pages with a script.

For example, a table of boards with the CPU model, type and supported peripherals could be generated from the board makefiles using the `CPU_MODEL`, the `FEATURES_MCU_GROUP` and the `FEATURES_PROVIDED` variables.

This way the documentation is automatically synced with what the build system provides for the pl

[2018-01-30 11:03] miri64 commented on #8477
(`tests/gnrc_ipv6_nib` isn't working either, right?)

[2018-01-30 11:28] miri64 commented on #8477
This was broken in https://github.com/RIOT-OS/RIOT/pull/8135. Will provide a fix.

[2018-01-30 11:29] smlng commented on #8477
well, yes error messages ...

[2018-01-30 11:34] miri64 commented on #8477
See #8480 (another reason why testing corner cases is good.... though we should have run the tests in #8135 ;-)

[2018-01-30 12:52] #8477 closed

[2018-01-30 12:57] cladmi commented on #8284
I see 3 steps for this:

* generate the list of all modules
* extract the module names used in a file
* Magic to run both and produce test result

The first one is hard to do right now at without matching too large.
Getting (real) modules names and pseudomodules as names or regexp too is not too complicated.
Having exact pseudomodules and submodules would be hard right now.
It could be enough howe

[2018-01-30 13:01] cladmi commented on #8284
Oh, and ignoring packages modules and sources as its harder to do also.

[2018-01-30 13:44] kYc0o commented on #7330
I retested on current master and found that it compiles right with the configuration provided on the README. I'll close it for now, reopen if you find the error again.

[2018-01-30 13:44] #7330 closed

[2018-01-30 16:06] ilf-S commented on #8473
Damn, timeout of 1000000 indeed does work for me, too.

[code]

We will need to adjust our code, too. Too bad the RTC does not seem to work on STM32F1s, but we will move to F4s anyway. Thank you for the help. I thought it was an UDP issue at the begining and it was a legitimate issue. Should have send an email to the mailing list first. Should I close this?

[2018-01-30 16:41] miri64 commented on #8473
Should be closed, when #8478 is merged, so leave it open, please.

[2018-01-30 16:54] haukepetersen commented on #3947
No, I think this issue is still valid to some point. Though I think this is not so much about the specific `tim_t` type, but what is (still) missing is a more coherent documentation about the general peripheral driver concept, specifically on the concept of platform specific types this concept is using.

So anyone volunteering to write something up? I won't get to this anytime soon...

[2018-01-30 17:17] cgundogan commented on #5016
@gebart do you think this issue can be closed?

[2018-01-30 17:42] jia200x commented on #7331
Yes, let's close it.

[2018-01-30 17:42] #7331 closed

[2018-01-30 17:44] #4560 closed

[2018-01-30 18:05] haukepetersen commented on #8446
Yes, I agree. Did a quick grep, and seems to me these are the only CPUs that need fixing:
- [ ] efm32
- [ ] nrf52

At least the nrf52 I broke, so I will have a quick take on fixing them :-)

[2018-01-30 18:12] haukepetersen commented on #8446
@basilfx could you maybe have a quick look at the `efm32` i2c driver? Thx!

[2018-01-30 19:17] jia200x commented on #5678
Haven't seen this issue anymore, even working with a large number of nodes

[2018-01-30 19:25] basilfx commented on #8446
Should be done with #8489, I guess :-)

[2018-01-30 19:30] smlng commented on #4512
`tests-relic` is blacklisted for ARM cortex M platforms see https://github.com/RIOT-OS/RIOT/blob/master/tests/unittests/Makefile#L167

[2018-01-30 19:30] smlng commented on #4512
so close this?

[2018-01-30 19:39] miri64 commented on #4512
I think blacklisting a test doesn't fix it.

[2018-01-30 19:43] miri64 commented on #5678
So close?

[2018-01-30 20:30] #8473 closed

[2018-01-30 21:21] jia200x commented on #8434
There are some libraries (e.g Jerryscript) that provide [custom dynamic allocation procedures](https://github.com/jerryscript-project/jerryscript/tree/master/jerry-core/jmem). Maybe LuaRTOS is doing the same.

Otherwise, I think it would be possible to use TLSF

[2018-01-31 08:53] smlng commented on #7347
any news, how to proceed here -> fix would be to adapt XTIMER_BACKOFF and stuff in board.h right?

[2018-01-31 09:04] smlng commented on #6123
cannot reproduce with 2018.01-RC2 on macOS native, flood pinged for >20min with 8 instances against 1 RIOT still works

[2018-01-31 09:46] Marc-Aurele commented on #7347
Hi,

In my case, i faced two kinds of issues when i was calling xtimer_usleep
with small values :
 - my task was stuck in sleep state and was never waking up after
calling xtimer_usleep  => and indeed, incrementing XTIMER_BACKOFF seems to
have solved the issue
 - my task was stuck in running state in a "while" loop => didn't find a
solution yet, i have incremented my AHB bus speed but i rely on my

[2018-01-31 10:02] kaspar030 commented on #6123
Still happens here, current master, on linux.

[2018-01-31 10:04] kaspar030 commented on #6123
8 instances, started manually. after 6-7 first packets get lost and riot prints a couple of "gnrc_netif: possibly lost interrupt.", like every second, then it crashes:

[code]

[2018-01-31 10:28] smlng commented on #6123
my test still runs on macOS, RIOT native not crashed after > 1h with 8 parallel ping6 -f on its link-local address. Though, according to Wireshark not all ping request get a reply but many do.

[2018-01-31 10:29] kaspar030 commented on #6123
That might hint that the problem is linux specific. What machine did you run the test on? Maybe this only happens when RIOT doesn't get scheduled enough? My thinkpad is fairly slow by today's standards.

[2018-01-31 10:29] kaspar030 commented on #6123
Can you try increasing to 16 or more?

[2018-01-31 10:30] smlng commented on #6123
latest iMac with i7 @ ~4Ghz and 16GB RAM

sure!

[2018-01-31 10:33] kaspar030 commented on #6123
That's a 4GHz quad core? Eight ping6 -f are enough to break native on dual 1.6GHz. Do the math, we need to starve the RIOT native thread. ;)

[2018-01-31 10:34] smlng commented on #6123
so 16 parallel pings on RIOT native, still working - but lots of `ping6: sendmsg: No buffer space available" from macOS

[2018-01-31 10:35] smlng commented on #6123
and Wireshark has a hard time to capture all those ping requests and replies ...

[2018-01-31 10:37] bergzand commented on #6123
The other difference between macOS and Linux is that the async_read used by netdev_tap has a different implementation. Maybe that is causing the different observations here.

[2018-01-31 11:16] PeterKietzmann commented on #4893
This topic is outdated and seems to lack attention. Closing this one

[2018-01-31 11:16] #4893 closed

[2018-01-31 12:24] kaspar030 opened #8498 "gnrc: gnrc_networking: problem picking up public address from RasPi + openlab"
#### Description

I have a fairly standard Raspberry PI + Openlab that's announcing a /64 prefix to the 802.15.4 network.
With 2017.10, this works fine. Current master doesn't pick up the addresses.

#### Steps to reproduce the issue

1. follow guides to set up openlab & radvd
2. flash gnrc_networking to samr21-xpro

#### Expected results

ifconfig shows public address

#### Actual results

ifconf

[2018-01-31 12:27] #8262 closed

[2018-01-31 12:37] jia200x commented on #5678
yup

[2018-01-31 12:37] #5678 closed

[2018-01-31 12:53] jia200x commented on #8498
@fjmolinas and @paula75 were working with a similar setup, and I think they weere able to pick up addresses. Is it still working?

[2018-01-31 13:03] smlng commented on #8498
I cannot confirm the issue either, tested with RasPi with OpenLabs and `gnrc_networking` on PhyNode (pba-d-01-kw2x) and samr21-xpro: both get a public address though it took the samr21 a bit longer than the PhyNode.

Output samr21-xpro:

[code]

output PhyNode:
[code]

I'm using release tag `2018.01`

[2018-01-31 13:05] kaspar030 commented on #8498
On my setup it output this (2018.01):

[code]

[2018-01-31 13:07] kaspar030 commented on #8498
Bisecting is difficult, newest known-good merge on master is ```b1e69a776fbdc546557c242509654d6292ea1cdf```, I'm trying to find a newer one.

Here it outputs:

[code]

[2018-01-31 13:08] kaspar030 commented on #8498
radvd "Version: 2.15"

radvd.conf:

[code]

[2018-01-31 13:09] kaspar030 commented on #8498
Any information that might help?

[2018-01-31 13:10] smlng commented on #8498
my config:

[code]

[2018-01-31 13:11] smlng commented on #8498
maybe you need an ABRO now, with new ND merged?

[2018-01-31 13:16] kaspar030 commented on #8498
How do I set that?

[2018-01-31 13:16] smlng commented on #8498
or `UnicastOnly on;`

ABRO: see my config above

[2018-01-31 13:17] smlng commented on #8498
must be the link-local address of the pi lowpan interface.

[2018-01-31 13:19] kaspar030 commented on #8498
Thats was it!

[2018-01-31 13:20] kaspar030 commented on #8498
Alright, thanks for helping, I guess we don't have a showstopper.

[2018-01-31 13:20] #8498 closed

[2018-01-31 13:21] kaspar030 commented on #8498
Might want to add a note to the release notes...

[2018-01-31 13:51] miri64 commented on #8498
"NDP now RFC-compliant" ^^. Just for the other maintainers, @kaspar030 and I discussed this. The reason why ABRO is required is because of this sentence

In [RFC 6775, section 8.1.3](https://tools.ietf.org/html/rfc6775#section-8.1.3). The other way to fix this issue (e.g. if changing the RADVD is not possible for what ever reason) is to deactivate Multihop Prefix and Context Distribution (by setti

[2018-02-01 09:59] geith commented on #7358
My intention was to propose a generic API which should be used by other platforms too.  After receiving some comments on my initial approach, I made another suggestion (my previous comment in this discussion) but did not receive any feedback.

As long as there is no aggreement on the API, this is somehow experimental.

But, in my opinion, it could be helpful to test this on other platforms too and

[2018-02-02 12:59] Josar opened #8510 "UART_STDIO_BAUDRATE and BAUD merger"
The situation right now is that both UART_STDIO_BAUDRATE and BAUD have to be defined. But in my understanding they are always the same.

But havig to change two settings, on multiple places, to be able to compile and run the board with different baud seem not very intuitiv and error prone to me.

So my suggestion would be:

1. Implement ifdefs for all boards for UART_STDIO_BAUDRATE, then it can be

[2018-02-02 15:03] miri64 opened #8511 "gnrc_sixlowpan: Refactoring"
# Motivation
GNRC's 6LoWPAN has some quality defects in its design, that need to be addressed before @cgundogan can start porting [ICNLoWPAN](https://datatracker.ietf.org/doc/draft-gundogan-icnrg-ccnlowpan/) to RIOT. Also I have some issues with certain points in the code that in hindsight I would have done differently.

# A model for the 6LoWPAN adaption layer
In a try to solve both problems in m

[2018-02-05 14:01] kYc0o commented on #8024
After a debugging session with @cladmi we found that it was the variable `state` which is messing everything up on stm32l1. Why only on that CPU? I'm investigating, but what we know now is that the variable `state` is being stored "temporary" in r0 (maybe because of compiler optimisations), which after sleep apparently is lost. The solution is to force the variable to be stored in the stack by dec

[2018-02-06 10:09] #6379 closed

[2018-02-06 13:11] kaspar030 commented on #7962
That is expected, FEATURES_PROVIDED merely states what is available.

Everything in FEATURES_REQUIRED that is not in FEATURES_PROVIDED will abort compilation (as a required feature is not available).
Everything in FEATURES_REQUIRED and ```FEATURES_OPTIONAL & FEATURES_PROVIDED``` will be added to usemodule.

So in your application, just specify all required features in FEATURES_REQUIRED, and they'l

[2018-02-06 13:38] kaspar030 opened #8523 "tools: need backport script"
#### Description

Creating backports should be automated to something like

[code]

... which would automatically create a new branch on top of the last release branch, using all commits from #prnum, and create a PR (possibly using "hub"), automatically filling subject and description.

IMO that could save a lot of time...

[2018-02-06 16:29] miri64 commented on #8523
Already on my TODO list. I take the assignment for now, but if somebody else is faster, I'm not mad ;-) (but somebody knowledgeable with git should do this, as IMHO finding the right commits to rebase onto the release branch is not a simple task IMHO, especially if the PR is already merged into master).

[2018-02-06 16:41] photonthunder commented on #7962
Thanks for the information, so is there some documentation that explains this?  I didn't even realize there was three options (REQUIRED, OPTIONAL, and PROVIDED).

[2018-02-07 15:52] gebart opened #8532 "kinetis: timer_set_absolute randomly misses its target"
#### Description

Using the test application introduced in #8531, it was discovered that the implementation of timer_set_absolute sometimes misses its target when using the LPTMR hardware timer. The error seem timing dependent and occurs randomly while running the test.

#### Steps to reproduce the issue

Build the test application in #8531 with

[code]

#### Expected results

All absolute min, ma

[2018-02-08 15:07] fjmolinas opened #8539 "stm32/rtt: rtt broken on stm32l4"
#### Description
tests/perip_rtt doesn't work on nucleo-l476, RTT seems to be broken on this board since at least 2017.07 (or application test is wrongly implemented).

I'm trying to look in to the problems origin. The bigger issue for me is how commits that break stuff for stm32 boards are getting into master...; more so considering there are tests for a bunch of their features.

#### Steps to re

[2018-02-08 17:21] #8539 closed

[2018-02-09 13:48] #8314 closed

[2018-02-12 08:07] gebart opened #8548 "arduino-uno does not provide FEATURES_PROVIDED=cpp"
#### Description
C++ support is required to build Arduino code. Building the arduino-hello-world example with BOARD=arduino-uno works just fine, but the build system is warning that feature cpp is missing for the board.

#### Steps to reproduce the issue
[code]

#### Expected results
No warnings

#### Actual results
[code]
but compilation succeeds (using both BUILD_IN_DOCKER=1 and my local avr-gcc

[2018-02-13 13:41] kYc0o opened #8550 "tests/unittests fail on OSX"
#### Description

Unittests fail for OSX

#### Steps to reproduce the issue

`make -C tests/unittests all test`

#### Expected results

All unittests pass.

#### Actual results

[code]

#### Versions

[code]

[2018-02-13 17:17] gebart commented on #8309
See an alternative solution in #8552, which does not require adding any new functions or dependencies between vfs and other modules.

[2018-02-13 19:52] #8266 closed

[2018-02-13 20:49] #8309 closed

[2018-02-14 14:09] miri64 commented on #8130
BTW the PR for that is already open for a while: #8149.

[2018-02-14 15:50] miri64 opened #8561 "[RFC] Versioning our user facing APIs"
# Motivation

We discussed @ FU Berlin a while back offline that it might be a good idea to version some of our user facing APIs to make communication of changes in the API more obvious beyond just the RIOT release. And since I smell some major API reworks coming again (#8351, a `sock` rework @kaspar030 was proposing in #8149, ...) I think it is about time to pick this discussion up again.

# What

[2018-02-14 20:11] kaspar030 commented on #8561
Which specific problem are you trying to solve?

How would we use that to automatically notify a user?

The linked semantic versioning scheme is supposed to be used for implementations ("software", "packages"), not just an API. API only gets two numbers.

[2018-02-14 20:23] miri64 commented on #8561
People complaining about RIOT not being stable enough for their purposes / not being clear enough about API changes.

Why would an automatic notification be required? I know of no software platform that does that. This issue is about *documenting* API changes.

Where do you get this from? The linked document talks a lot about "public API[s]". Are you referring to comments made during that one meet

[2018-02-14 20:36] kaspar030 commented on #8561
Well, for being "clear" about changes, documentation might be enough in order to later tell the unhappy people "look, the change was documented".

RIOT's API not being stable is not fixed by versioning the API.

Some tool telling users what changes affects their code, and a hint on how to fix, might help. Just asking.

Well, your linux box uses semantic versioning to dynamically link the correct l

[2018-02-14 20:52] miri64 commented on #8561
True, but it makes changes more visible and easier to track: "Oh minor version change, well than I can be relieved, let's see what nice things they added" vs. "Mh major version change, let's see what changed so I can adapt". Hopefully major version steps become a rarer thing once we need to document the changes (developers hate documentation after all ;-)).

Well, the doc demon could also watch fo

[2018-02-14 21:11] kaspar030 commented on #8561
I'm not so sure about that. These are the includes of a random real-world riot application:

[code]

I think almost all of the headers can be considered "user facing".

There's *no chance in hell* that any API change in those headers won't be recognized by the compiler first (should they be incompatible), compared to the user checking the versions of the used modules in doxygen and realizing "oh,

[2018-02-14 21:42] miri64 commented on #8561
Many I'm not really agreeing with. In particular:

[code]

I think if we define how to version APIs *first* we can then talk about how to connect this to module definitions. But some thoughts from a high-level perspective: We could do it like most package management softwares (`apt`, `pip`, etc) do it by having `module` meaning just the newest version, `module>=x.y` meaning any version equal or gr

[2018-02-14 21:43] miri64 commented on #8561
(just musings of a person often implementing against python `setuptools` ;-))

[2018-02-14 22:10] kaspar030 commented on #8561
Does that matter? The point is, there'll be either many versioned API's, or not enough, or just one, (or none, which would be our current state).

With "not enough" I would describe a state where maybe the core/ headers and sock are versioned and most other sys/ modules are not, making versioning's use quite limited.
With "just one" I mean the possiblilty of versioning the whole RIOT source tree w

[2018-02-14 22:17] miri64 commented on #8561
Well, I opened this issue to potentially also discuss which APIs should be versioned. But maybe we should focus on the how first ;-). However, I think there is a sweet spot (or even sweet zone) between overkill and not enough / just one ;-). Tossing ideas around: maybe a user survey could offer some answers here.

Granted.

[2018-02-15 09:00] gebart opened #8567 "sys/analog_util is not tested/used anywhere"
#### Description
The functionality in sys/analog_util is not tested or even used anywhere.

#### Steps to reproduce the issue
[code]

#### Expected results
Unit test

#### Actual results
no test

#### Versions
current master branch 2018-02-15

[2018-02-15 09:02] gebart commented on #8567
I am working on improving the analog_util module.

[2018-02-15 09:53] rfuentess commented on #8561
My two cents: gcoap and nanocoap.

And maybe this is redundant (or overkill), but any API making use of external packages.

[2018-02-15 15:41] basilfx opened #8569 "EFR32: track radio driver progress"
This issue is to track the progress of the integrated radio drivers of the EFR32 family (supported via EFM32).

Currently, the following boards have support:

* [SLTB001a](https://github.com/RIOT-OS/RIOT/tree/master/boards/ikea-tradfri)
* [IKEA-tradfri](https://github.com/RIOT-OS/RIOT/tree/master/boards/sltb001a)

Current work:

* Initial driver based on RAIL 1.x by @kaibeckmann: [here](https://gi

[2018-02-15 15:43] basilfx commented on #8569
So far I know @kYc0o, @pyropeter, @kaibeckmann and I are interested.

My knowledge on radio drivers is very limited, but I can help to fix things on the EF{M, R}32 side though :-)

[2018-02-16 11:04] danpetry commented on #8434
Here are my findings:

# Architecture/implementation

LuaRTOS, for the most part, simply implements the original Lua library. It adds this, FreeRTOS, and the SDK for the lower layers of the ESP32 board together, along with an assortment of other libraries that the originating company (Whitecat) has deemed useful.

They have also added support for Lua multithreading, where multiple Lua processes ca

[2018-02-18 12:42] Citrullin opened #8589 "Why using -F in avrdude?"
Hello,

I got a simple question. Why do you use -F avrdude?
I configured a ATMega328P. So I used the arduino Uno configuration. I use a USBASP, so I set the port to /dev/USBasp. I executed make flash, which resulted in a broken board, because riot uses -p arduino instead of usbasp. I don't know what exactly is broken now. But I though: "Why using the -F flag in avrdude for normal programming? That

[2018-02-18 15:08] lafka commented on #6715
I can confirm that CC2650 example works fine for me. Only step i've done is to copy related files from cc2650 in cpu and board directories to their own cc13xx dirs.

[2018-02-18 21:57] Citrullin opened #8590 "Add Flag in Makefile for USBasp"
Hi,
I have found any board or flag for using RIOT with an ISP. I got some boards which I can only flash via an ISP. It would be also nice to be able to flash the MCU, without a board. I would suggest to use a new flag for this, since the board flag also includes already the MCU.

Maybe another solution would be also suitable :)

[2018-02-18 22:09] Citrullin opened #8591 "CLion + RIOT (Maybe plaftormio integration) ?"
Since RIOT uses a Makefile and CLion supports only CMake, I couldn't find any solution to getting CLion and RIOT work together. Maybe I try now Eclipse, since there is a how to for it. :)

I used platformio before. They have a nice, simple to use, solution. Maybe it makes sense to add RIOT as Library to platformio. This would make it possible to use RIOT with every IDEs in just a few commands. Pla

[2018-02-19 07:57] PeterKietzmann commented on #8510
I never really thought about it but your point seems reasonable. I personally have not real preference. Maybe @haukepetersen has?

[2018-02-19 08:13] gebart commented on #8590
My preferred solution here would be to use the DEBUG_ADAPTER environment variable in the same way as for the openocd compatible boards. Setting DEBUG_ADAPTER=usbasp should use the usbasp debugger hardware, and DEBUG_ADAPTER=something else would use the onboard programmer.

[2018-02-19 08:15] gebart commented on #8591
What is CLion and what is the benefit of using it in RIOT? What is platformio?

[2018-02-19 08:37] Citrullin commented on #8591
Hi @gebart,
CLion is an IDE by Jetbrains. (Well known for they IntelliJ IDE): https://www.jetbrains.com/clion/
Platformio is a kind of build tool-set: http://docs.platformio.org/en/latest/what-is-platformio.html
They have a CLI for initializing project. So you just run:
[code]
and they create all necessary stuff for your IDE. You get also a platformio.ini file, which described how your project wil

[2018-02-19 17:25] bergzand opened #8596 "emb6: dead url to documentation pdf"
#### Description

The URL in the emb6 docs to the [pdf](https://github.com/hso-esk/emb6/raw/develop/doc/pdf/emb6.pdf)([here](https://github.com/RIOT-OS/RIOT/blob/master/pkg/emb6/doc.txt#L6)) is dead. I don't know what was in the original PDF, so I don't know what the replacement URL should be.

#### Steps to reproduce the issue

Click the url to the pdf in the doxygen: http://riot-os.org/api/group

[2018-02-19 19:28] miri64 commented on #8596
It should suffice to use the `PKG_VERSION` of the emb6 pkg instead of `develop`. Currently don't have the means to fix that nowish, so I'm not mad, if anyone else picks up the task ;-)

[2018-02-19 21:09] Citrullin opened #8598 "CCN Lite: Add "no 8-Bit support" to documentation"
I tried one CCN Lite example. While compiling I got many errors. I fixed some of them, until I reached the following point:
[code]
ccntlv line 508
[code]

Since CCN Lite shifts 16 bits, I guess 8-Bit MCUs are not supported. I recommend to add this somewhere to the documentation. :) There are also other places where CCN Lite shifts 16 bits.

[2018-02-19 21:50] gebart commented on #8598
I guess ccn lite assumes int is 32 bit. This should be fixed upstream, but I guess you should be able to add a cast to uint32_t on the left shift to fix it.

[2018-02-20 09:25] mfrey commented on #8598
CCN-lite lacks precision in the length of types. My assumption is that this is partially due to the fact that it supports multiple message formats. We've already discussed this briefly and it is already part of the [todo list](https://github.com/cn-uofbasel/ccn-lite/wiki/TODO)

[2018-02-20 09:41] Citrullin commented on #8598
@mfrey Of course, it would be nice to get a fix for it :) But for now, I think a short notice in the documentation is just fine. So, user know that 8-Bit MCUs are not supported at the moment. (just for networking with CCN Lite).

[2018-02-21 14:13] #8356 closed

[2018-02-22 05:36] roberthartung commented on #8589
Hi,
good question. I can't really tell you and the one who wrote this line should be able to tell us. #6516 Was the PR for that and @antmerlino is the author. Maybe he can tell us?
I don't see a particular reason. Never needed to use `-F` myself.

- Robert

[2018-02-23 12:37] basilfx commented on #8591
I haven't looked into the details, but it seems that there are already many supported frameworks: https://platformio.org/frameworks/arduino. RIOT could be one of them IMHO.

[2018-02-23 14:13] miri64 opened #8627 "ccn-lite: does not build on Ubuntu 16.04 (LTS)"
#### Description
CCNlite currently does not build on the most current LTS version of Ubuntu for `native`:

#### Steps to reproduce the issue
[code]

#### Expected results
CMake should finish and CCN-lite should proceed to be build.

#### Actual results
CMake fails with:

[code]

#### Versions
[code]

[2018-02-23 14:15] miri64 commented on #8627
There is a fix in the CCN-lite repo (https://github.com/cn-uofbasel/ccn-lite/commit/d2ea61ff450d0f3636aa29af3e448ef10ee95f9e) but updating it to that commit, doesn't build either:

[code]

[2018-02-23 14:25] miri64 commented on #8627
Done that in #8628.

[2018-02-23 17:15] miri64 opened #8631 "at86rf2xx/kw2xrf: scalar NETOPT options checked as arrays"
For the `get` and `set` options of both `at86rf2xx` and `kw2xrf` (and maybe more devices, but I did not care to look), the width of some scalar values is assumed to be like an array (the check is not done with a `!=` operator but with `<`, `>`, `<=` or `>=`) but than set as a scalar value by way of pointer dereferencing. I noticed it first for `NETOPT_MAX_PACKET_SIZE`, but I suspect there are more

[2018-02-23 17:24] gebart commented on #8631
I think the root cause of this construct is that the documentation for some of the original netopt options still do not contain specifications on the size and data type of the value. All new netopt options have the expected data type specified in the doxygen in the netopt header file (much thanks to your detailed reviews @miri64 :) ), but not the older ones.

[2018-02-23 17:27] miri64 commented on #8631
At least the ones I and @haukepetersen introduced in the beginning contain this specification pretty much from day 0 (compare c5c9c3dfab89bda864064eb39648a6cc42a2da22). ;-)

[2018-02-23 17:36] gebart commented on #8631
You are right, the majority of the options have data type specified in the docs. We do need to improve the docs for some others though.

[2018-02-23 18:01] miri64 commented on #8631
Yes. And we need to fix this issue ;-)

[2018-02-23 18:38] gebart commented on #8631
I agree! 👍

[2018-02-25 20:43] Citrullin opened #8637 "Add custom radio, which SPI conf?"
I added a CC1101 to my existing Stm32f103c8 board. The documentation says, I need to include the boards default one: https://doc.riot-os.org/group__net__gnrc.html
Since I don't have a default one, I wanted to add the CC110x driver. Which doesn't work, because it misses the params for it. I figured out that maybe I should change board configurations instead of my applications ones. So I added the `

[2018-02-26 09:56] gschorcht commented on #7922
I just want to let the community know that I'm working on an ESP8266 port. I do that
https://github.com/gschorcht/RIOT-Xtensa-ESP8266. However, before publishing my changes and submitting a pull request, I would like to make some more progress.

**Current status (2018-02-23):**
- context saving and restoring (implementing the core's thread inteface) is implemented and tested
- interrupt handling (

[2018-02-26 10:09] miri64 commented on #8627
Fixed in https://github.com/RIOT-OS/RIOT/pull/8427

[2018-02-26 11:11] PeterKietzmann commented on #8637
@Citrullin have a look at #8437. Maybe you can review and test it with your board later? As your board does not define a `CC110X_PARAMS_BOARD` the default configuration `CC110X_PARAMS_DEFAULT` will be used. The pins (e.g. `CC110X_PARAM_GDO0) you can set in your (application ?!) Makefile, for example.

[2018-02-26 11:17] #8627 closed

[2018-02-26 11:19] PeterKietzmann commented on #7922
@gschorcht great to hear your news about that port! I bet there are thousands of people looking forward to that :-). If you ask for comments about bare-matal vs. SDK, I think it might make sens to put it on the developers mailing list. Maybe it's good to announce it on that list anyway.

[2018-02-26 12:43] Citrullin commented on #8637
@PeterKietzmann

[code]
That makes totally sense to me. :) Thanks. I'll take later a look into it.

[2018-02-26 13:28] PeterKietzmann commented on #8637
This configuration should work, as it is the hard-wired configuration of the msba2 platforms. However, it is just the default for this single board. For all others, if not defines elsewhere, the fallback is [this configuration](https://github.com/RIOT-OS/RIOT/pull/8437/files#diff-f8ae35bd3ea4db5c3ec7fab79ed91374R48). So you should still define it by yourself. Pleas close the issue once clarified.

[2018-02-27 13:50] aabadie commented on #8096
For those interested: #8650, #8649 and #8651

[2018-02-27 16:10] gebart commented on #8631
I am working on a documentation improvement for netopt.h

[2018-02-27 18:20] agawande commented on #7922
@gschorcht Thanks for working on this! Do you have any rough estimate of when one can try this out?

[2018-02-27 21:19] cladmi opened #8653 "msba2: default example fails on assert"
#### Description

Board `msba2` fails on an assertion when running `default` example.
It fails on this line:

https://github.com/RIOT-OS/RIOT/blob/2018.01/cpu/lpc2387/mci/lpc2387-mci.c#L383

Which is explicitly called with a NULL buffer here:

https://github.com/RIOT-OS/RIOT/blob/2018.01/cpu/lpc2387/mci/lpc2387-mci.c#L538

It was introduced by https://github.com/RIOT-OS/RIOT/pull/6622/commits/ba31

[2018-02-27 21:19] bergzand commented on #6887
Closing this one as it is fixed for a while now

[2018-02-27 21:19] #6887 closed

[2018-02-27 21:25] bergzand commented on #8596
The whole pdf is removed with [this commit](https://github.com/hso-esk/emb6/commit/d1cb0b424fd8d8301a4ed29e50f6fef14364bb61). Maybe their current github wiki is the best equivalent at the moment.

[2018-02-27 23:39] miri64 commented on #8596
Mh, but wouldn't it make more sense to have the documentation of the same version the package is referring to?

[2018-02-28 02:28] samkumar commented on #8309
@gebart, thanks for your comments on this issue and in my Pull Request #8310.

I agree that your solution in #8552 is cleaner, in the sense that VFS doesn't depend on other modules. However, it doesn't resolve that problem that printf() does not work in rtt_stdio (see Method #1 in the original description). The reason is that rtt_stdio doesn't bind the file descriptors 0, 1, and 2 if VFS is used,

[2018-02-28 07:31] gebart commented on #8631
See #8655

That PR only fixes documentation, no implementations.

[2018-02-28 10:37] Josar opened #8658 "adxl345.h MCU Pin Definition in module header."
https://github.com/RIOT-OS/RIOT/blob/2cab4292d57cd6ec5d16752cfc60ee8030ed423d/drivers/include/adxl345.h#L95

This should not be defined here. IMHO.
Collision with iom256rfr2.h

I don't see where they are used anyhow.

https://github.com/RIOT-OS/RIOT/pull/8643#discussion_r171176311

[2018-02-28 11:18] Josar opened #8659 "avr-libc-extra PRIu64 Why?"
https://github.com/RIOT-OS/RIOT/blob/90519692939cbe3231dc7bb442f3ab4458ee3854/cpu/atmega_common/avr-libc-extra/inttypes.h#L27

Is there a reason why this types are defined here?
When they are defined here using printf with PRIu64 will not print as it is not implemented.
But as the types are defined it suggests that it works, and there is not hint that it won't.

in avr/inttypes.h
[code]

But inste

[2018-02-28 11:27] dylad commented on #8658
Hi @Josar
I think this declaration is at the perfect place, this enum is here for select the interrupt type output for the ADXL345's interrupts pins as this accelerometer have two pins dedicated to interrup. Thus there are not related to any CPU.
One solution for your issue would be to rename this to :
[code]
I can open a PR to change it if you want.

[2018-02-28 11:28] Josar commented on #8658
@dylad  OK thanks.

[2018-02-28 11:36] Josar commented on #8658
What si with stream and fifo would it be better to prepend them also to avoid future collision?

[2018-02-28 11:43] dylad commented on #8658
@Josar #8661 should solve your issue.
I've renamed the two enums to avoid any conflict in the future.

[2018-02-28 11:45] dylad commented on #8658
Oh sorry I didn't see you send a PR just before mine. I'll drop mine then.

[2018-02-28 13:12] kYc0o opened #8662 "nucleo-l152: LSE broken"
#### Description

On nucleo-l152 rev C-03 or newer, there's a problem using the on-board 32.768KHz crystal. #8545 proposes to use the internal low speed oscillator to avoid the problem, but it doesn't solve it.
#### Steps to reproduce the issue

Compile any example with LSE set at 1 (CLOCK_LSE define) for BOARD=nucleo-l152.
#### Expected results

Any example works properly.
#### Actual results

It

[2018-02-28 13:14] MichelRottleuthner opened #8663 "/sys/random/seed: why not use hwrng if available?"
#### Description
When using modules like gcoap (and probably others - gcoap is just an examle here) that use random_uint32() within their init phase this leads to always the same message IDs at startup even if the target comes with hwrng capability. This is at least not what I expected to happen when looking at gcoap_init() which calls `atomic_init(&_coap_state.next_message_id, (unsigned)random_ui

[2018-02-28 13:27] aabadie commented on #8662
To be complete, #8545 changes should be updated with a reference on this issue (see [here](https://github.com/RIOT-OS/RIOT/pull/8545/files/f35edcacf1663d05fcb494e3da85d053660aa1e0#diff-5d69d844a724995a1e1add8ee4bbca0c))

[2018-02-28 14:17] aabadie opened #8664 "pkg: doxygen documentation is not fully processed"
#### Description

While looking for Semtech-loramac API documentation on https://doc.riot-os.org, I noticed that the public API is not referenced (see http://doc.riot-os.org/group__pkg__semtech-loramac.html)

And this problem is more general because it's also the case with openthread, lwip, nordic_softdevice_ble, etc

After looking at the [doxygen configuration file](https://github.com/RIOT-OS/RIO

[2018-02-28 14:26] aabadie commented on #8664
I won't work on lwip because there are too many changes required (mainly missing things) and I don't feel I have enough expertise to work on this one. For emb6, the changes should be quite simple.

[2018-02-28 14:39] miri64 commented on #8664
As a user of lwIP with RIOT, maybe @vincent-d can also provide some help here?

[2018-02-28 15:12] gschorcht commented on #7922
@gschorcht I'm doing that in parallel to my regular business. That means it will take a little longer, maybe a month. Yesterday I implemented the periph_timer module, which needs a bit more testing. Currently I started working on the module periph_spi.

[2018-02-28 15:32] gebart commented on #8664
I am not convinced this is a good idea. The RIOT API docs is already quite large, there is a risk that mixing in all pkg documentation in the same place will make reading the documentation confusing with different library APIs mixed in the same documentation index.

[2018-02-28 15:35] vincent-d commented on #8664
I don't use lwIP, sorry

[2018-02-28 15:38] aabadie commented on #8664
In fact, the documentation should only be related to the adaption layer added to make it fit with RIOT internal API (mainly network APIs). It won't process the package APIs themselves.

[2018-02-28 15:43] aabadie commented on #8664
And there's nothing that checks the doxygen documentation is complete or valid (like Murdock does), so if someone wants to known what a function is about, he may find non existent or invalid information in the code (see changes in related PRs).

[2018-02-28 16:24] gebart commented on #8664
Ah ok, thanks for clarifying that. I thought it was going to add the entire documentation for all pkgs. If it is only the glue layer then I am all for this.

[2018-03-01 12:23] #8024 closed

[2018-03-01 14:20] cladmi opened #8713 "Cleanup of boards and cpus makefiles."
#### Description

In my goal to document the build system. I spent some time looking at boards and cpu Makefiles.
I found some inconsistencies and now useless configurations.

#### Expected results

I would like to remove them to have cleaner and more consistent configurations between boards/cpus.
This should also simplify the task of documenting them.

In a short term, it only refactors makefiles

[2018-03-01 14:31] gebart commented on #8713
One more point: native defines CC, LINK, CXX etc even though they are already defined by gnu.inc.mk, llvm.inc.mk

[2018-03-01 15:22] Josar commented on #8479
@bergzand i jsut wrote to the mailing list and was suggestig something related.

Did you thing about how this could be done or implement something in this regard?

[2018-03-01 19:30] miri64 commented on #8664
Or was it @lebrush? :-/ Sorry, my memory is out of wack the last few days ....

[2018-03-02 08:15] aabadie commented on #7519
@haukepetersen, @smlng, @kYc0o, are you interested in giving me some review help with all the related PRs ?
Some are very simple now and should be very simple to get in. Just check that the modified macro names (`XXX_PARAMS`) are not use somewhere else in the code base (like in board.h).

[2018-03-02 08:36] haukepetersen commented on #8446
yes. All CPUs should be fixed for now. I tend to leave this issue open for future reference until the I2C remodeling is done, but feel free to close if anyone doesn't like this :)

[2018-03-02 13:15] dylad commented on #8658
Can we close this issue now that #8696 is merged ?

[2018-03-02 13:18] Marc-Aurele commented on #6715
Hi,
I'm also very interested in using RIOT on my CC1310 launchpad. I'm just discovering this MCU and it seems to be full of promise. Usually, im using RIOT on my STM32.

[2018-03-02 13:22] #8658 closed

[2018-03-02 13:26] gebart opened #8730 "unittests/spiffs: Unit tests fail on device without real MTD"
#### Description

Running tests-spiffs on samr21-xpro and frdm-kw41z results in test failures on vfs_mount (-ENODEV).

My first guess is that this is because of the vfs_format addition in #8315

The boards which do not have an MTD device on board are using a minimal RAM backed MTD emulation defined inside the test application to be able to test the functionality.

#### Steps to reproduce the issue

[2018-03-05 04:34] kb2ma commented on #8130
I'm experimenting with #8149 / #8236 in gcoap. So far, so good. I expect that this work will provide a simpler interface for waiting than the mbox and timer used currently. I hope to have something to share later this week.

[2018-03-05 11:56] miri64 opened #8736 "pkg: Maintainance of external software"
I started a discussion in https://github.com/RIOT-OS/RIOT/pull/8728#issuecomment-370102544 regarding maintainance of packages and the transparency of RIOT's packaging system where this software came from.

# The problem

In my opinion forking a software into a separate Git repository controlled by the RIOT community requires a certain level of trust by our users that we did not mess with the origi

[2018-03-05 12:14] miri64 opened #8737 "dist: header guard checker too nit-picky"
In #7881 I found myself stumped when both CI servers still complained about the header guards, though at least to me they looked alright. Turns out the header guard script expects there to be an *exact* number of spaces (1) between the `#endif` and the comment. I think this is very nit-picky and especially annoying since the script doesn't show (at least on the CI servers) on its own what the actu

[2018-03-05 12:35] bergzand commented on #8737
Would adjusting the `headercheck.py` script to output something like:

[code]

solve this issue?

[2018-03-05 12:38] mtausig commented on #8737
Yes. This I way I could fix the issues myself instead of waiting for someone else to do some extra work to tell me what I need to do.

[2018-03-05 12:44] smlng commented on #8737
mhm, the script in `dist/tools/headerguards/headerguards.py` already does that, i.e., it prints a diff when executed locally, but it seems that `static-tests` suppresses the output.

[2018-03-05 14:17] kaspar030 commented on #8736
Any package maintainer that has to provide patches very probably uses a git repo anyways. Making that public and use it directly saves the trouble of "git format-patch", "git am", ...

Using a commit hash (instead of a possibly changing tag) is necessary so every RIOT commit hash leads to the same sources being built. Using a tag for packages doesn't work here.

[2018-03-05 17:00] gebart commented on #8730
I assume the bug fix for this will be similar to #8607

[2018-03-05 17:06] vincent-d commented on #8730
Sorry, I overlooked this.

Yup, I think so. I can provide a patch if you want.

[2018-03-05 17:20] gebart commented on #8730
If you have the time. I can review, but I likely can't test until tomorrow

[2018-03-05 17:39] vincent-d commented on #8730
see #8741

[2018-03-05 20:51] #8737 closed

[2018-03-06 11:43] MichelRottleuthner opened #8746 "stm32_common/periph/rtc: current implementation broken/poor accuracy"
#### Description
In the current implementation `rtc_unlock()` doesn't, like the name indicates, only unlocks the rtc but also enters init mode. Looking at the datasheet this is not a really good idea. Refering to "Calendar initialization and configuration":

_1. Set INIT bit to 1 in the RTC_ISR register to enter initialization mode. In this mode, *the
calendar counter is stopped* and its value can

[2018-03-06 14:06] vincent-d commented on #8746
+1. Resetting RTC_DR and RTC_TR at boot time is not a good idea, but checking if the RTC has been initialized or not before going through `rtc_init` sounds like a gound idea. Though I don't know if it should be done inside `rtc_init` or outside (i.e. in `cpu_init`)

Did you already work on fixes for these issues?

[2018-03-06 14:41] MichelRottleuthner commented on #8746
Currently I've fixed it by guarding everything in `rtc_init` by `if(!(RTC->ISR & RTC_ISR_INITS))` exept for the EXTI configuration which is lost after shutdown. And additionally replacing `rtc_unlock()` in `rtc_set_alarm` with
[code]
There may be more (an improved test would show), but with this I can at least get ~12ppm, with calibration even below that.
But as you already said, I also thought th

[2018-03-06 16:35] miri64 commented on #8511
While working on untangling IPHC and fragmentation, I might have found a way to have it work without `context` at least for this use-case.

[2018-03-07 06:36] nilesh-xebrium commented on #2660
Hello rykerDial,
how to force it link to libarm_cortexM4lf_math.a.
thanks

[2018-03-07 12:59] dylad opened #8750 "pkg/semtech-loramac: semtech_loramac_send function stucked after device wakeup"
#### Description
I'm currently using the semtech-loramac pkg on a custom board (SAML21J17B / SX1276)
I'm able to send/receive data to/from TTN.
I put my device in standby sleep mode with `pm_set(1)`, device is wake up with the RTC at a given time, I'm trying to send data again but I'm stucked within the semtech_loramac_send function (more precisily at the `msg_receive(&msg);` line of this function

[2018-03-07 13:01] aabadie commented on #8750
Are you sleeping between the TX and RX windows ?

[2018-03-07 13:07] dylad commented on #8750
No I'm waiting for the timeout
My app looks like :
[code]

[2018-03-07 13:27] dylad commented on #8750
How can I achieve this ? I don't use shell for this app.

[2018-03-07 13:37] dylad commented on #8750
I just discovered `thread_getpid` funtion :)
It returns '2' before sleep and after wakeup.

[2018-03-07 13:41] aabadie commented on #8750
Can you check if one of these lines [here](https://github.com/RIOT-OS/RIOT/blob/master/pkg/semtech-loramac/contrib/semtech_loramac.c#L161) or [here](https://github.com/RIOT-OS/RIOT/blob/master/pkg/semtech-loramac/contrib/semtech_loramac.c#L238) in the code is called ?

[2018-03-07 13:41] aabadie commented on #8750
And if yes what is the value of `semtech_loramac_handler_pid` ?

[2018-03-07 13:51] dylad commented on #8750
before sleep the code is called and the value of semtech_loramac_handler_pid is 2 (same as the thread_getpid return from main)
after sleep the code is not called.

[2018-03-07 13:54] aabadie commented on #8750
So that explains why the send function is stuck. Now one has to find why it's not called... Maybe enable debug output [here](https://github.com/RIOT-OS/RIOT/blob/master/pkg/semtech-loramac/contrib/semtech_loramac.c#L44), and see what are the debug statements called.

[2018-03-07 13:58] dylad commented on #8750
Here's the log :
[code]

[2018-03-07 14:07] dylad commented on #8750
Within the LoRaMac.c file, I'm stuck [here](https://github.com/Lora-net/LoRaMac-node/blob/f42be67be402a40b3586724800771bfe13fb18e6/src/mac/LoRaMac.c#L3303)
Looks like the frame is sent but there is no DIO interrupts after... I'll investigate.

[2018-03-07 14:19] aabadie commented on #8750
So maybe an issue with interrupt configuration lost after wake-up ?

[2018-03-07 14:20] miri64 opened #8752 "mrf24j40: does not link for examples/default"
#### Description
When using this driver with a board that does not provide an on-board network device (e.g. `stm32f4discovery` or `nucleo-f302`) with `examples/default`, the application will fail to link due to the GNRC module missing. I think this is some dependency issue.

#### Steps to reproduce the issue
Build the `default` example with a board in question and `mrf24j40`:

[code]

#### Expecte

[2018-03-07 15:02] dylad commented on #8750
I think I've found the culprit ! Looks like the timer is involved. If I allow my timer driver to run in standby mode, i'm getting the desired behavior otherwise it seems we're stuck somewhere (because of a missing timeout ?)
I'm wondering if we can reproduce this issue with others CPU.

[2018-03-07 15:29] aabadie commented on #8750
Internally the mac timeout are managed by the xtimer that itself uses the timer peripheral driver. So it could be that the timer is not reinitialized/powered on correctly after wake up ?

This sounds hardware dependent (at driver level) so it's difficult to say.
I can test with stm32 based boards.

[2018-03-07 15:45] dylad commented on #8750
Sounds good to me :)

[2018-03-07 16:01] bergzand commented on #8752
@miri64 I can also reproduce this issue with:
`BOARD=stm32f4discovery USEMODULE=at86rf233 make -C  examples/default/`
and with
`BOARD=stm32f4discovery USEMODULE=cc2440 make -C  examples/default/`
so this is not limited to the mrf24j40, but a valid issue nonetheless

[2018-03-08 01:54] Citrullin opened #8754 "CC101x Initialization kernel panic"
Hi, I currently checked the following pull request: https://github.com/RIOT-OS/RIOT/pull/8437

I wrote the following code
[code]
I don't think that especially this part is correct:
[code]
I can compile it and the MCU even starts. But it results in a kernel panic:
[code]
I don't understand this kernel panic message. What assertion failed?

[2018-03-08 07:08] aabadie commented on #8754
Prefix your build command with `CFLAGS=-DDEBUG_ASSERT_VERBOSE`, you'll see where the assertion failed.

[2018-03-08 07:58] Citrullin commented on #8754
@aabadie Thanks.
[code]

I need later take a look into it. Maybe it already find it by myself.

[2018-03-08 13:12] jia200x opened #8755 "wiki: Broken MIPS toolchain links"
#### Description

I just noticed all links pointing to MIPS toolchain are broken, as seen [in the wiki entry](https://github.com/RIOT-OS/RIOT/wiki/Family%3A-MIPS). They are pointing to the root site, so it seems the site changed the URL format.

[2018-03-08 17:16] miri64 opened #8761 "io1_xplained: crashes with SAUL"
#### Description
I'm able to crash a `samr21-xpro` with a `io1_xplained` attached, when in `examples/saul`.

#### Steps to reproduce the issue
I built `examples/saul` with the `io1_explained` module for `samr21-xpro` and flash it:

[code]

When typing in `saul` I already get weird output

[code]

The temperature sensor is shown twice and the last three are listed as `CLASS_UNKNOWN`, when I address

[2018-03-08 17:26] miri64 commented on #8754
@Citrullin unless you explicitly deactivated the `auto_init` module all initialization you are doing is already done for you by that module (so I suspect `thread_create()` to return an error because the thread is initialized twice wit the same stack). Also the stack you are allocating for the network interface is scarily small (`sizeof(thread_t)` [48 on 32-bit platforms] is the minimum size for a

[2018-03-08 17:27] miri64 commented on #8754
BTW there is no module `netif`, so the `#ifdef MODULE_NETIF` is always excluded. What you are looking for is `MODULE_GNRC_PKTDUMP`, I think.

[2018-03-09 06:11] aabadie commented on #8761
I could reproduce the issue and fixed it with #8762

[2018-03-09 06:12] aabadie commented on #8761
There was a position mismatch in saul entries register, an invalid comparison in the assert and the gpio driver was wrong.

[2018-03-09 10:13] LalunePierr0t opened #8764 "6lowpan : loss of the default router"
Hello,

#### Description
I m using RIOT OS ( RIOT-2017.04 ) on 2 border routers and several nodes with 6lowpan.
From the node, if I loose my router ( non response on ICMP ping or COAP request for example), I want my node discover the second router as quick as possible.
In other words, I would say my goal is to find any router available as quick as possible, if I lost the current on.

#### Steps to

[2018-03-09 11:09] miri64 commented on #8764
Can you try with `CFLAGS=-DGNRC_IPV6_NIB_DEFAULT_ROUTER_NUMOF=2`, please?

[2018-03-09 11:09] miri64 commented on #8764
(at the node)

[2018-03-09 11:11] miri64 commented on #8764
(Otherwise there is no space for a second router in the network information base)

[2018-03-09 11:12] Josar commented on #8510
Anyone some thoughts about this?

[2018-03-09 11:16] bergzand commented on #8764
@miri64 `GNRC_IPV6_NIB_DEFAULT_ROUTER_NUMOF` requires the 2018.01 release (or at least the netif/nib overhaul) right? The issue states that 2017.04 is used for the setup.

[2018-03-09 11:17] miri64 commented on #8764
Ah... then @LalunePierr0t should go to the most current release, because the ND on 2017.04 is known to be broken.

[2018-03-09 11:18] miri64 commented on #8764
(and next to impossible to fix, that's why we re-modeled the Neighbor Discovery in 2018.01)

[2018-03-09 12:41] #8761 closed

[2018-03-09 12:59] miri64 opened #8766 "io1_xplained: GPIO devices not writable via SAUL"
#### Description
When using the `io1_xplained` extension on `samr21-xpro` with `examples/saul`, writing to LED, GPIO1 and GPIO2 does not have any effect

#### Steps to reproduce the issue
I built `examples/saul` with the `io1_explained` module for `samr21-xpro` and flash it:

[code]

The following `saul` devices are available:

[code]

When writing to the LED (`saul write 3 1` or `saul write 3 0`)

[2018-03-09 14:22] aabadie commented on #8750
I gave a try to pm + rtc + loramac on a STM32L0 based board (thanks to #7329) and it works with some adaption in the semtech-loramac package that may not be related to your problem (My application is sending messages from another thread than the main thread).

Regarding your issue, maybe you need to add calls to `pm_block`/`pm_unblock` functions. That's what I did.

I only tested the stop mode bec

[2018-03-09 14:39] dylad commented on #8750
Thanks for testing @aabadie  !
Regarding my issue I'm getting more and more convicted this is related to a sillicon bug within SAML21.
In standby mode, GCLK main clock (processor clock) is not shutdown properly. GCLK main clock is taken from GCLK0 which is used for the saml21 timer driver (and almost all other peripherals)
When I go to standby mode all my peripherals must stop so GCLK0 must be sto

[2018-03-09 14:41] dylad commented on #8750
Why do you need to restart the join procedure ? RAM is not in retention state in standby mode for STM32 ?

[2018-03-09 14:45] aabadie commented on #8750
Apparently not, the application is doing a full reset apparently (I'm not a PM expert at all)

[2018-03-09 15:00] dylad commented on #8750
@aabadie Should we close this since you cannot reproduce this issue on other arch ? I'll provide a fix if something is wrong with SAML21.

[2018-03-09 19:50] #8750 closed

[2018-03-11 00:11] llueder opened #8767 "gcoap and c++"
Hi all!

I am quite new to RIOT and had troubles buildung a gcoap application with c++.

**Problem, how i got it and how I (half) fixed it**
When trying to compile the gcoap example (on current master) with c++, I got compiler errors regarding atomic types, because `rmutex.h` includes `stdatomic.h`, when c++ needs `<atomic>`. After fixing this using [1], no copy assignment operator for the `rmutex

[2018-03-11 12:33] gebart commented on #8767
I don't think you are doing anything out of the ordinary regarding C++. These are valid issues for gcoap in my opinion.
- Re: stdatomic.h: the gcoap_state_t struct looks like it is only needed from inside the gcoap implementation and could be moved to either gcoap.c or a new implementation use only header.
- `class` as a variable name is definitely a mistake and should be renamed.
- the flexible a

[2018-03-14 10:49] gebart opened #8778 "sys/random: random_uint32_range is only uniform if range is a power of 2"
#### Description

It does not say so explicitly in the documentation, but most users would assume that this function will return a uniform distributed random number in the interval [a,b).

[code]

However, the assumption is only true if `b - a` is a power of two, because of the discrete values (integer) involved. If `b - a` is _not_ a power of two, then the output will be weighted towards the lowe

[2018-03-14 10:49] gebart commented on #8778
I will fix and add a unit test when I find some time

[2018-03-14 11:02] AnonMall opened #8779 "CC2538 RF overlapping PIN usage"
#### Description

In the CC2538 RF initialization (`cc2538_init()` in `cpu/cc2538/radio/cc2538_rf.c`) the function uses some of the pins in order to observe the state of signals. For this it differentiates between the openmote-cc2538 and the cc2538dk board, but when used with a REMote-RevB for example, the pins interfere with the other pins needed for I²C.
Therefore using a REMote-RevB as a I²C Bu

[2018-03-15 11:30] cladmi commented on #8265
All currently reported issues have been closed ! Cool.

[2018-03-15 19:03] carlotapares opened #8783 "fibroute command not working"
Hi,
I've just tried this tutorial [https://github.com/RIOT-OS/RIOT/wiki/Tutorial:-RIOT-and-Multi-Hop-Routing-with-RPL]() and when I get to the step of issuing the _fibroute_ command my shell says command not recognized.
I have cloned the RIOT repository and compiled the gnrc_networking example [https://github.com/RIOT-OS/RIOT/tree/master/examples/gnrc_networking]() as it is. Do I have to make any

[2018-03-15 19:11] miri64 commented on #8783
Hi, the tutorial seems to be out-dated. Please use `nib route` instead.

[2018-03-15 23:44] carlotapares commented on #8783
Great! Just tried it!
Thanks a lot!!

[2018-03-16 11:05] denizs commented on #4764
Hey there - are there any news on this?

[2018-03-16 11:46] #8783 closed

[2018-03-16 14:09] kYc0o commented on #4764
I have a branch somewhere on which I didn't succeed to set up the routes properly... @denizs  do you have experience on setting up networking options (especially IPv6) on OS X?

[2018-03-17 09:01] miri64 commented on #4764
I guess the long term plan is to replace Ethos with either PPP or a multiplexed version of SLIP (e.g. [slipmux](https://tools.ietf.org/html/draft-bormann-t2trg-slipmux-02))

[2018-03-20 17:44] MichelRottleuthner commented on #7347
As #8763 only speaks of l152, and there were some other boards mentioned above: is this really fixed for "all" boards?

[2018-03-20 17:49] kYc0o commented on #7347
No, it only fixes for L1 family. However I had no issues with L151, but #8763 doesn't affect the output so it's ok. I have errors in F446 so I assume the F4 family "needs" a backoff of 7 to work properly.

[2018-03-20 17:49] aabadie commented on #7347
Reopening the issue since other boards are affected (nucleo-f411, pba-d-01-kw2x,  frdm-kw41z).

[2018-03-20 18:03] astralien3000 opened #8806 "Kinetis : xtimer collide with FTM ?"
Hello,

I'm working on a qdec driver for the teensy board. The qdec drivers ([dirty code here](https://github.com/astralien3000/RIOT/blob/teensy31-test/boards/teensy31/include/quad_decode.h)) are using FMT 1 and 2 peripherals. Both are working great if I use them alone (I can print the value of the encoders on serial).

But, if I use xtimer (with `xtimer_sleep`), using the qdec FTM 1 make the prog

[2018-03-20 18:23] astralien3000 commented on #8806
Ok, I found the problem, I was overwriting a register used for PIT while configuring FTM1 while FTM2 was not using the same register...
Sorry ! My bad !

[2018-03-20 18:23] #8806 closed

[2018-03-20 21:19] Marc-Aurele commented on #7347
in my case, it was on a nucleo-l073 and on my custom boards thats embeds the same cpu. Since i have incremented the AHB bus speed and the XTIMER_BACKOFF the issue doesn't occur anymore ... but i'm consuming a little bit more at wake up now :(

[2018-03-21 18:13] MrKevinWeiss commented on #7941
Just FYI I am working on updating the uart config for the lm4f120 based off @danpetry work.

[2018-03-22 00:24] ilf-S opened #8813 "LoraMAC-node does not work"
#### Description
Seems like LoraMAC-node package is not working.

I'm trying to join Nucleo-F446 + Modtronix InAir9b (SX1276 w/ PA_BOOST enabled i.e. +20dB) to a LoRaWAN network.

Similar setup but with bluepill + Modtronix InAir9b does not work either.

This has been done with the pkg_semtech-loramac in tests/.

Extra info:

I did a simple Lora (not LoraWAN) test between the nucleo and the bluepi

[2018-03-22 07:50] aabadie commented on #8813
Thanks for testing RIOT with LoRaWAN. Let's try to find what's wrong with your setup.
First, I'm using the loramac-node package daily for almost 3 most and trust me, it works very well.

From your debug output, I recommend that you disable all debug messages from the driver. You can keep the ones displayed by the semtech-loramac package. The reason for this is that the debug messages introduce ext

[2018-03-22 07:52] aabadie commented on #8813
Thinking of it again, the problem could also come from the xtimer with F4 (since both of your boards are using this model of cpu), and in this case #8807 could help as well.

[2018-03-22 12:10] ilf-S commented on #8813
Few points, just so we dismiss several reasons:

I initially attempted joins without debug enabled, that is why I enabled it. I will now just disable the debugging of the transceiver, but I doubt that is the reason.

I will also take a look at PR #8798. I will also take a look at #8807.

Also the Nucleo is F4, the bluepill is F1. My first assumption was that the F4 is way to fast and that could be

[2018-03-22 12:28] ilf-S commented on #8813
Quick follow back. Increasing the xtimer backoff, did not help. Disabling the SX127x debugging did not help either.

I will test with the PR next.

[2018-03-22 12:45] aabadie commented on #8813
Yes, the problem is somewhere else but the transceiver debug has to be disabled in any case (I already lost a lot of time because of this).

Only ST boards: I tested on B-L072Z-LRWAN1 (which embeds an sx1276 radio), nucleo-l073, nucleo-l476 with MBED shields (sx1272 and sx1276). Maybe I tested other nucleo boards with the mbed shields. All worked except the nucleo-l152: this one cannot receive mes

[2018-03-22 13:51] ilf-S commented on #8813
Sure:

[code]

[code]

and after loramac join otaa:

[code]

It essentially cycles through all the EU frequencies but doesn't send anything.

I know that the radio works, as it send lora pkts and I get them with the bluepill board. I'm starting to wonder could it be something connected with the fact that all your transceivers have both 433/868 antennas connected or is it something else.

I moved a

[2018-03-22 14:14] aabadie commented on #8813
I guess you don't see the activation message received by the backend server ?
Because from the logs looks normal. What is the distance between the device and the gateway ? Maybe it doesn't receive the messages.

[2018-03-22 14:27] ilf-S commented on #8813
Distance is 1 meter. Again, I don't have a spectrum analyzer right now, but I'm pretty sure that a packet is not generated at all, i.e. nothing goes through the radio.

I can see the concentrator (iC880A), it's right in front of me, when a request (pkt) is received, it hard to miss it, as the LEDs go through most colors of the rainbow :). I'm also looking at the output of lora_pkt_fwd, so, nothing

[2018-03-22 15:23] aabadie commented on #8813
I have no more idea. Hopefully, I have a nucleo-f446 and a modtronix sx1276 radio but I never used them in such a configuration. I'll test them in a week or two (I don't have the time before).

[2018-03-22 15:47] ilf-S commented on #8813
Unfortunately I don't have any STM32Ls to test with. I know that the example implementation relies on STM32Ls. I'm starting to wonder if I can probably attempt a test with mbed, just so I'm sure everything works properly on the hardware side.

[2018-03-22 15:48] jia200x commented on #8813
@ilf-S unfortunately I don't have the hardware to test :/
In case you have another LoRa radio, can you try to sniff TX (ABP) or Join Request (OTA)? To do so, there's a dirty trick of setting the radio channel to a fixed value, and use another node to sniff that channel. With that, at least you can ensure the packet is going to the air.
Let me know if it works.

[2018-03-22 15:55] ilf-S commented on #8813
I can do that. I have ~10 Modtronix transceivers, so that wouldn't be a problem. The sniffer is a good idea, I'm still doubtful that any package is actually generated at all, but I'll check with the sniffer. I think the problem is somewhere in between the MAC and PHY, but I can't pinpoint it exactly.

[2018-03-22 16:03] jia200x commented on #8813
@ilf-S can you give it a try? I think that could help to detect where is the problem. Also, you can try stuff like reading with an oscilloscope SPI pins (or turning on SPI debug).

[2018-03-22 17:21] ilf-S commented on #8813
OK, tested with the sniffer setup. Crickets.

I am working from home (which is not even my home, but different topic :) ), i.e. I have a limited access to certain equipment, so no oscilloscope at hand.

I will now recheck again all connections and configuration, especially the DIO pins, as obviously the SPI is setup properly, as I'm able to send raw lora packets. On the top of my head I don't reme

[2018-03-22 17:35] aabadie commented on #8813
Just to be sure, have you updated the sx127x_params.h file in drivers/sx127x/include with your pins configuration ?
The default values are for nucleo-64 boards with an mbed shield.

[2018-03-22 18:05] ilf-S commented on #8813
Yes. Depending on the board I'm using I'm either using SPI(0) - nucleo, or SPI(1) on bluepill. My nucleo setup is a bit different than the default, but it's very close. I'm currently testing with SX127x communication and I'm able to send payloads on different channels with different SF and DRs. This is obviously some problem with the loramac-node packet.

I'm currently exhausting all available opt

[2018-03-22 18:24] aabadie commented on #8813
in general, yes.

So to summarize, you can send and receive packets when using the driver test application, so this means the driver is correctly configured and works with your setup.
When you start an OTAA join procedure, no activation message is received by the network server. right ? And the gateway never light up (in orange) briefly 5 seconds after starting the OTAA.
You could put a debug stat

[2018-03-22 18:32] ilf-S commented on #8813
Yes, more or less. Nothing goes to the LoraWAN backend, because the gateway never receives a packet, so nothing is forwarded to the join server.

SX127x communication works quite well actually, I'm a bit astonished, because it has never been reliable for me in a P2P scenario.

I will do that now and will report back.

[2018-03-22 20:43] dylad commented on #8813
@ilf-S Could you try to modify this [variable](https://github.com/RIOT-OS/RIOT/blob/690c36b3cf12e0a90cd16f1eb9bd22980d18b098/drivers/include/sx127x.h#L79) to 925000000UL and tell us if it's change something for you please ?

[2018-03-22 21:40] ilf-S commented on #8813
@dylad This did the trick. The sniffer reports packets, the node is activated, traffic goes through. I'm very happy. This is on the Nucleo-F446+Modtronix.

I will test with the bluepill too, but I think it will work. Would you mind explaining this variable and why it helped?

I think this can be closed, at least on my end.

Here is the output from the sniffer (I can also post output from the lora_

[2018-03-23 08:34] dylad commented on #8813
Awesome ! But please note that this change is NOT a patch. It can only be used with your Modtronix InAir9b module (This issue is not CPU related)

So let's explain what's going on !

SX1276 chip has several pins dedicated to RF TX
RFO_LF (TX 433 MHz 14 dB max)
RFO_HF (TX 868/915 MHz 14 dB max)
PA_BOOST (TX dedicated for 20 dB output)

In addition, user has to select between PA_BOOST and RFO_HF for

[2018-03-23 09:00] aabadie commented on #8813
Thanks @dylad for the detailed explanations. I looked at the upstream code (version 4.4.1) and the use of PA_BOOST or PA_RFO is related to the radio used apparently (including region of use 868/915MHz, etc).

Thinking of it, the solution would be to add a specific parameter in the driver (`SX127X_PARAM_PA_SELECT` ?) parameters and adapt the `sx127x_get_pa_select` accordingly. Then it will be up to

[2018-03-23 09:24] MrKevinWeiss commented on #7941
I think I will work on the UART for the lpc1768 next.  There are some shared files that #6472 is working on but it seems to be in different sections.

[2018-03-23 09:45] dylad commented on #8813
@aabadie I think this is the best option. We must let the users override this parameter if they want to force it.
Also, a little note somewhere in a readme or within the documentation to warn users about such cases.

[2018-03-23 09:52] mfrey opened #8825 "debugging documentation in wiki is missing"
Hi,

is there a reason why there is no "debugging" wiki page anymore? It is listed in the "General hints" section, but points to a non existing page.

TIA
 Michael

[2018-03-23 10:26] maxvankessel opened #8826 "stm32: Add support for QSPI"
Currently I'm working on a project which has support for serial data flash through a quad spi interface.
The project has a STM32F4 controller, with serial nor flash.

_STM32L476DISCOVERY is provided with an onboard micron serial flash device._

I've seen no implementation for quad spi in the peripheral folders. After digging deeper the mtd_spi_nor driver only support one method of transfer and thi

[2018-03-23 10:37] miri64 commented on #8825
There is only a commit that states "Destroyed Debugging (markdown)" by a person called dongDa... so probably some troll. Should be there again.

[2018-03-23 10:37] #8825 closed

[2018-03-23 11:16] vincent-d commented on #8826
From what I know, qspi and spi interfaces are quite different. I took a look some time ago and thought it would be better to add a new periph interface for quadspi peripherals. Then a mtd wrapper would be easy to write.

The main difference between spi and qspi are that the former is full-duplex while the latter is half-duplex. A typical qspi transaction is: instruction -> address -> alternate byt

[2018-03-23 14:14] ilf-S commented on #8813
@dylad Thank you for your detailed explanation. Indeed both transceivers+MCUs were essentially hanging from the front USBs of my workstation and were very near each other (one was without antenna attached, actually). The gateway was on the other side of the desk (which is about 1.5m away).

I was actually examining the schematics of the mbed lora modules and saw that they have their low and high f

[2018-03-23 14:39] dylad commented on #8813
You're welcome, I ran into the very same issue months ago :)

This might be the reason why there are very few module using PA_BOOST at 868 MHz. But you can still use PA_BOOST output at 14 dB (just like the RFO_HF pin). I guess you can emit at 20 dB on the 433 MHz band but the 868 MHz must have more restrictions.

[2018-03-23 14:40] bergzand opened #8827 "pkg/cn_cbor depends on posix"
#### Description
The cn_cbor package includes `arpa/inet.h` for byte order conversions (`ntohl`). This causes the unittests/tests-cn_cbor build to fail when build by itself. Because at the moment Murdock builds the full unittests suite as a whole, the posix unittest is included and thus provides the header and implementation and the build succeeds.

#### Steps to reproduce the issue
[code]

#### E

[2018-03-25 12:38] kb2ma opened #8831 "[RFC] gcoap adaptation to #8772"
[ Edited to add gcoap_opt_add_string() ]

I have an outline now for adaptation of gcoap for #8772. Overall, I don't see any issues. The existing gcoap API can remain, and I'll add a couple of functions for options. For implementation, I'll add a stack-based buffer for compiling options and an additional memcpy(). The overall gcoap approach remains -- a higher-level API to CoAP.

The gcoap function

[2018-03-25 22:12] redradist opened #8833 "Missed files ccn-lite-riot.h and ccnl-pkt-ndntlv.h"
I have faced with the following issue:
./RIOT-OS/sys/shell/commands/sc_ccnl.c:24:10: fatal error: ccn-lite-riot.h: No such file or directory
./RIOT-OS/sys/shell/commands/sc_ccnl.c:24:10: fatal error: ccnl-pkt-ndntlv.h: No such file or directory

#### Description
Cannot find ccn-lite-riot.h: No such file or directory
Cannot find ccnl-pkt-ndntlv.h: No such file or directory

#### Steps to reproduce

[2018-03-26 05:14] cgundogan commented on #8833
@redradist thank you for this report. Could you however give the master branch of RIOT a shot? I cannot reproduce this issue neither on the master branch nor on the 2018-01 branch. Could you give a pointer to your application's Makefile?

[2018-03-26 14:29] #8813 closed

[2018-03-26 15:03] redradist commented on #8833
@cgundogan I have just switched to tag "2018.01" (commit e4fb634e3f18067331fccb968559dff35d989697) and there are not files **ccn-lite-riot.h** and **ccnl-pkt-ndntlv.h**

About Makefile it is not easy cause I have made a build of RIOT based on CMake system.
If it would be useful I can provide it

[2018-03-28 16:00] danpetry commented on #8434
Some further notes:

### Getting it working with a simple example

**http://lua-users.org/wiki/BindingCodeToLua**

This gives some info on how to do it and links to the lua API documentation.

**Kaspar's jerryscript PR: https://github.com/RIOT-OS/RIOT/pull/7796**

This is using the event queue in PR 6000

**https://github.com/RIOT-OS/RIOT/pull/7794**

this is a simple print function that prints ou

[2018-03-28 16:19] danpetry commented on #8434
As of submitting https://github.com/RIOT-OS/RIOT/pull/8847 there are two known bugs:

- [ ] user can't exit from the lua prompt back to the RIOT shell on boards
- [ ] the lua prompt on boards only appears for the results of commands

[2018-03-28 22:15] harisatyasrinivas opened #8849 "gnrc_networking program"
when i compile the gnrc_networking program for z1 , its prompting the below error how to resolve ??

"make" -C /home/user/RIOT/sys/tsrb
"make" -C /home/user/RIOT/sys/uart_stdio
"make" -C /home/user/RIOT/sys/xtimer
/usr/lib/gcc/msp430/4.6.3/../../../../msp430/bin/ld: /home/user/RIOT/examples/gnrc_networking/bin/z1/gnrc_networking.elf section `.text' will not fit in region `rom'
/usr/lib/gcc/msp430/

[2018-03-28 23:20] Josar opened #8850 "Race condition RIOT and Radvd"
In my setup i have an Jiminy-atmega256rfr2 and a RPI3 with openlabs transceiver.

On the RPI i have WPAN tools and radvd as native IPv6 6LBR.
On the Jiminy i use the gnrc_networking example.

I just constantly ping the node from the rpi.
After some time there starts a race condition between the two.
It seem like constantly RS from RIOT and RA from RPI, NS from RIOT and NA from RPI.
This can be rep

[2018-03-29 05:53] miri64 commented on #8849
`gnrc_networking` is way to big for your board. Try `gnrc_minimal`.

[2018-03-29 05:53] #8849 closed

[2018-03-29 06:02] miri64 commented on #8850
I need some more infos here (but in general: yes, setting the module's `ENABLE_DEBUG` is sometimes the best bet):

1. What exactly is the race condition? At the moment it looks more like the timer is somehow broken on the jiminy for me. But I'm of even that I'm not sure, since you cut of the time in your PCAP dump ;-).
2. What is the radio you are using? From what I can see, the Jiminy comes with

[2018-03-29 08:32] Josar commented on #8850
1. The race condition is that they two just continue with rs ra, ns na and start rs na ...
As fast as they can transmit packages.

This just loops until msg_que is full. Then some interrupt are allegedly lost.

2. I implement at86rfr2 support into at86rfr2xx which is currently under review.

3. Yes, as it is. Only added assert verbose.

Where in the net implementation is the decision made to send

[2018-03-29 08:50] miri64 commented on #8850
Just start with `sys/net/gnrc/network_layer/ipv6/nib/nib.c` (the central pieces of the NDP protocol implementation are here), if that doesn't give you enough information, add `sys/net/gnrc/network_layer/ipv6/nib/_nib_arsm.c` (this is the implementation of the **a**ddress **r**esolution **s**tate **m**achine [ARSM for short]; neighbor solicitations sending is triggered from here), `sys/net/gnrc/net

[2018-03-29 09:13] Josar commented on #8850
It starts after ifconfig.

There are a lot `Handle timer event`.
[code]

[2018-03-29 09:35] dylad opened #8851 "test/periph_i2c: cannot use init_master command for nrf5x_common and EFM32 families"
#### Description
Cannot use `init_master` command from `test/periph_i2c` on NRF52 based board.

#### Steps to reproduce the issue
call `init_master 0 1` (0 is first I2C bus available and 1 stand for `I2C_SPEED_NORMAL` so 100kbits/s)

#### Expected results
I2C is properly initialized.

#### Actual results
[code]

#### Versions
current RIOT master

Current I2C implementation from NRF52 supports `I2C

[2018-03-29 09:43] dylad commented on #8851
@basilfx Could you confirm this issue also exists on EFM32 please ?

[2018-03-29 10:13] Josar commented on #8850
When adding debug massages only to `_nib_arsm.c` the race conditions stops after some time.
Then starts again. Stops ...

Its between `nib neigh`.
In wireshark i see a lot of RS RA, NS NA.

[code]

[2018-03-29 10:25] miri64 commented on #8850
This looks exactly like I suspected: there seems to be something wrong with `evtimer` or `xtimer` on the Jiminy board. Basically, the timers are firing way to fast. Are you sure the timers are working correctly on that board?

[2018-03-29 11:02] basilfx commented on #8851
This would also affect EFM32, since it maps the enum values to speed values.

[2018-03-29 11:18] dylad commented on #8851
Thanks @basilfx ! I've update the tittle.
What's the best workaround for now ? modify the driver or the test app ?

[2018-03-29 11:20] basilfx commented on #8851
I've created #8852 to fix this issue.

Since you may override `i2c_speed_t`, I went for modifying the test application.

[2018-03-29 11:39] Josar commented on #8850
First thank you, second i will investigated.

xtimer_usleep with pin toogle is in expected range.
´´´
main(): This is RIOT! (Version: 2018.04-devel-722-g05e14-josua-VBox-jiminy_master)
Running test 5 times with 3 distinct sleep times
Please hit any key and then ENTER to continue
Slept for 10272 us (expected: 10000 us)
Slept for 50224 us (expected: 50000 us)
Slept for 100224 us (expected: 100000 us

[2018-03-29 11:43] gebart commented on #8850
Try running the benchmark in #8531 on your board. I found some pretty bad bugs in the Kinetis timer implementation using that application.

[2018-03-29 12:53] Josar commented on #8850
The output suggests that there is something wrong, i have to get a better understanding of this test to be able to interpret where the error might come from.

[code]

[2018-03-29 17:40] miri64 commented on #8850
I guess this is definitely a timer problem and not a network problem then ;-)

[2018-03-29 20:10] kb2ma commented on #8767
Thanks for pointing out the unnecessary external, @gebart! Created #8854 to address this.

[2018-03-31 11:17] kb2ma commented on #8767
#8854 merged, so first issue resolved.

[2018-04-01 09:46] hahchenchen opened #8859 "cc1101 work instability"
Hi,
i use cc1101 on nucleo144-f429, when i use ccn-lite-relay to communicate with another board, sometimes i can receive the content, but sometimes i can't, i think maybe cc1101 is not working reliably.
Is there any solution or advice for that?

Thank you.

[2018-04-02 23:09] Josar commented on #8850
After #8858 first test run promising. Long run test has to follow.

[2018-04-03 11:14] #8851 closed

[2018-04-04 07:03] cgundogan commented on #8833
Yup, a link to your customized build system would greatly help in pinpointing the problem. Maybe it's just a missing `INCLUDE` or a wrong dependency in the Cmake file?

[2018-04-04 11:16] gschorcht opened #8876 "spiffs: compile problems on new platform xtensa-lx106 (ESP8266)"
I ran into compilation problems when I tried to use ```spiffs``` with my MTD flash device implementation in my RIOT port for the ESP8266 (xtensa-lx106). I got a lot of the following error message, one for each standard type.

[code]

Reason is propably that the xtensa version of gcc is not fully C11 standard compliant.

```xtensa-lx106-elf-gcc (crosstool-NG crosstool-ng-1.22.0-60-g37b07f6) 4.8.5``

[2018-04-06 15:54] bergzand commented on #8827
fixed with #8791

[2018-04-06 15:54] #8827 closed

[2018-04-07 16:52] ZetaR60 opened #8896 "cpu/atmega_common: Context switching race condition"
On the ATmega there is a race condition where instructions after AVR_CONTEXT_SWAP_TRIGGER are executed before the context swap actually occurs. In my testing it seems that the thread_yield_higher function call has enough delay that instructions after it are not executed before the swap. However, this may change under environmental conditions that change clock rate or propagation delays such as: cl

[2018-04-09 09:14] kaspar030 opened #8901 "tests: OS X testrunner loses target output, many tests fail"
#### Description

On OS X, the the terminal doesn't get target output from before the testrunner start delay.

#### Steps to reproduce the issue

For samr21-xpro:

1. set ```TESTRUNNER_START_DELAY``` to something high (e.g., 10)
2. flash e.g., ps_schedstatistics
3. run "BOARD=samr21-xpro make tests"

#### Expected results

After ten seconds, all output of RIOT including "main(): This is RIOT!" app

[2018-04-09 09:16] kaspar030 commented on #8901
I don't use OSX. Maybe someone who does can investigate?
I assume there's a difference in buffering between Linux and OSX.

@cladmi You've introduced the delay. Any ideas?

[2018-04-09 10:30] kYc0o commented on #8901
To complete the description, here my setup:

[code]

[2018-04-09 12:02] cladmi commented on #8901
This is the same problem that @smlng had: https://github.com/RIOT-OS/RIOT/issues/8211

I tried something on a local branch to add a 1s delay before calling main, but it required adding `xtimer` dependency… and I just forgot about it.

And after talking to @kYc0o, it looks like it is another problem than just timing, so I will check with him directly.

[2018-04-09 12:08] kaspar030 commented on #8901
Closing as duplicate of #8211.

[2018-04-09 12:10] kaspar030 commented on #8211
Any solution should not require to change the image-under-test. We might want to catch the very first printouts, or test uart output without uart input.

[2018-04-09 13:38] cladmi commented on #8211
I agree it would be better.

If not possible, if its really that you cannot capture the first 5 seconds after a reset, I still prefer to test with a modified version than not testing at all :) I thought we were in that case, that's why I thought about adding a delay before the main function.
But according to https://github.com/RIOT-OS/RIOT/issues/8901 and @kYc0o it can be something else so we will

[2018-04-09 13:52] kaspar030 commented on #8211
Yeah, if the tester doesn't work, fix the testee, not the tester! ;)

[2018-04-09 14:13] kaspar030 commented on #4974
It doesn't, but does anyone miss it? If yes, please reopen.

[2018-04-09 14:13] #4974 closed

[2018-04-09 14:33] rfuentess commented on #7649
I had been rethinking the two proposed modules for trying to make them the most independent possible from network stacks.  I'm moving the most relevant aspects of the sock secure module to TLSMAN (flags, cipher suites selection, open channel, renegotiation, etc.). With the idea that sock secure be a module only for socks, and that other modules can be developed for different stacks.

Right now I h

[2018-04-10 05:35] ZetaR60 commented on #6526
@kYc0o Please try #8904 if you get a chance. I had a similar problem in #8842 that I think is caused by #8896.

[2018-04-10 14:14] emmanuelsearch opened #8910 "tests: Unittests don't build"
#### Description
Unittests don't build in current master.
Quick bisect we did with @miri64 points to #8844 as introducing this problem.

#### Steps to reproduce the issue
[code]

 or

[code]

#### Expected results
It should build.

#### Actual results
It does not build. Sample error:

[code]

#### Versions
Issue detected on Linux and OS X

[2018-04-10 14:18] bergzand commented on #8910
Confirmed, I noticed the problem here too

[2018-04-10 14:18] cladmi commented on #8910
I was writing an issue about it, and know why murdock tests run also still pass.

I have a fix for it that I will PR.

[2018-04-10 14:18] emmanuelsearch commented on #8910
@cladmi great.

[2018-04-10 14:54] cladmi commented on #8910
They build if you run `make clean all` instead of just `make clean; make all`, that's why murdock could not detect it.
The BUG is hidden because of this line when calling `make clean all`: https://github.com/RIOT-OS/RIOT/blob/2018.01/Makefile.include#L350

Normally it should have failed with other examples, but because of another bug, (BASELIBS values are added after these lines), there was not pr

[2018-04-10 16:35] cladmi opened #8913 "make: use of immediate value of variables before they have their final value"
#### Description

Some makefiles use variables with their immediate value before they get the final one.
It's not problematic for build flags but for variables containing files/path.

The root of the problem is that the makefiles do not follow a pattern of defining all variables first/including sub makefiles, and then only after define the rules using the variables as file target or file dependenc

[2018-04-10 21:01] ZetaR60 opened #8914 "drivers/periph_common: problems with starting RTC early"
In #8842 I have had trouble with race conditions when using xtimer. This is solved by removing rtc_init from drivers/periph_common/init.c and moving it to the application (tests/periph_rtc). It seems that code in drivers/periph_common/init.c is executed before xtimer_init, which is in sys/auto_init/auto_init.c

Steps to reproduce: use xtimer_usleep in rtc_init

Expected results: xtimer functions n

[2018-04-10 21:43] kaspar030 commented on #8778
how did you catch this? :) any news?

[2018-04-10 21:47] #8730 closed

[2018-04-11 01:42] madokapeng commented on #5494
Hi, I am a new comer to RIOT OSS.
This issue is assigned to me. I realize it was created a year ago. any updates?

[2018-04-11 04:08] gebart commented on #8778
Caught it on paper :) I did some calculations because the expression in the code looked non-uniform. This is really only an issue when the reduced range of numbers is large, otherwise the difference is pretty much impossible to detect from samples.

[2018-04-11 04:50] ZetaR60 commented on #8914
Strictly speaking, it does not require xtimer. On the ATmega, safe access to several registers controlling the asynchronous timer is not guaranteed. There is a register that has busy flags that you have to wait on before you can safely write them (and for one register, even reading it requires waiting on a flag). This wait can be up to two cycles of the RTC timer, each of which is around 30ms. xti

[2018-04-11 05:30] gebart commented on #8914
We are working towards moving the periph initialization to periph_init which is called from the board init. This reduces the amount of code that has to be maintained for each individual board.

[2018-04-11 05:34] ZetaR60 commented on #8914
Should I just make the system spin while waiting on those flags? Even thread_yield won't really be useful because periph_init is called before kernel_init.

[2018-04-11 05:48] gebart commented on #8914
Let's continue this discussion in the proper PR

[2018-04-11 06:04] ZetaR60 commented on #8914
Closing. I asked my question in #8842.

[2018-04-11 06:04] #8914 closed

[2018-04-11 06:07] miri64 commented on #5494
First of all, a warm welcome to the RIOT community @madokapeng.

This isn't really my strong suit, but I would suggest to look into the current implementation in `cortexm_common` and go from there from the platform you are working on.

Out of interest: who assigned you to this issue?

[2018-04-11 11:04] kaspar030 commented on #8550
still?

[2018-04-11 12:36] kYc0o commented on #8550
It's not really clear:

[code]

on Linux
[code]

but I guess everything runs OK.

[2018-04-11 14:03] vincent-d opened #8922 "Native CAN device does not build when VFS is used"
#### Description

Cannot build `candev_linux` when `vfs` is used.
Bisecting returned 93a521c50132e24558e42bc57dcf9c94051f07e3 as the culprit (introduced in #8652)

#### Steps to reproduce the issue

[code]

#### Expected results
Build OK

#### Actual results
[code]

#### Versions

[code]

[2018-04-11 15:42] vincent-d commented on #8876
@gschorcht can you test #8924 and check if it fixes your issue?

[2018-04-11 16:00] cladmi commented on #8922
Indeed, our posix headers do not define the `PF_` macros.

I will verify if defining them would be safe with a handwritten value or if https://github.com/RIOT-OS/RIOT/pull/8652 should be reverted.

[2018-04-11 16:10] gschorcht commented on #8876
@vincent-d it seems to work :-)

[2018-04-11 17:41] gebart commented on #6161
Closing since Teensy 3.1 and 3.2 support was added by #8210

[2018-04-11 17:41] #6161 closed

[2018-04-11 20:55] kaspar030 commented on #8662
What'S the state here?

[2018-04-12 07:27] vincent-d commented on #8550
Not sure if it's related, but #8934 disables the littlefs prints. Might be worth to try.

[2018-04-12 08:02] #8876 closed

[2018-04-12 08:17] aabadie opened #8935 "drivers/sx127x: SX1272 driver doesn't work reliably"
#### Description

While testing the Semtech Loramac package on a Nucleo board with an SX1272 radio device plugged on it, I realized that it was not working at all.

With more testing, I also noticed an issue with the driver test application in tests/drivers_sx127x when used on a sx1272: it's not possible to send/receive raw radio packets right after a reboot. I opened #8926 that fixes this particu

[2018-04-12 09:34] aabadie commented on #8935
Ok, I made some progress and it appears that the bug is located between the keyboard and the chair:
[code]
should be
[code]

But the driver issue still stands.

[2018-04-12 10:54] aabadie commented on #8935
After more testing, the SX1272 support is not broken with the loramac package (sorry) but the driver problem really exists. I updated the issue title accordingly.

In the end #8926 fixes this issue.

[2018-04-12 13:09] kYc0o commented on #8550
After #8934 was merged I don't get anymore the errors, but for some reason the terminal is killed before the "OK" is printed. Though it doesn't mean the unittests failed it's a problem. Anyways I think we can close this.

[code]

[2018-04-12 15:45] cladmi commented on #8922
I missed one thing with posix in the given PR, what is defined in the standard is only symbols not the values.

So even right now, if we look at the values of `AF_INET6`, they are not compatible:
* RIOT: 4
* Linux: 10
* MAC: 30

So using our posix headers in interaction with Linux is problematic. So I will revert the PR.

[2018-04-12 16:08] cladmi commented on #8922
With the reverted, the compilation works:

 `USEMODULE=vfs make -C tests/conn_can BOARD=native`

[2018-04-12 16:54] #8922 closed

[2018-04-12 18:12] kaspar030 opened #8941 "tests: split unittests?"
#### Description

Currently, RIOT's unittests test application consists of many tests for different parts of the system, e.g., tests-core or tests-relic.

By default all of them (that are compatible with the target board) are built into one big binary, but they can also be built seperately.

There are several issues with this;

1. the big binary is too large for almost all boards, thus the default

[2018-04-12 18:15] bergzand commented on #8941
What was the original reason for building it as one large application?

With the current problems I agree with the proposed idea of splitting every unittest into a single test. My next question then is if there is a difference between a regular hardware-independent test (using embunit assertion) and a unittest application.

[2018-04-12 18:16] aabadie commented on #8941
given your arguments, +1

[2018-04-12 18:20] aabadie commented on #8941
what I see as a drawback is that it might significantly increase the number of jobs for a single CI run. Since all sub unit tests will be built for all platforms that support them.
Do you have an idea of that overhead ?

[2018-04-12 18:24] kaspar030 commented on #8941
54 tests, 116 boards -> ~6000 extra builds, not substracting the ones that wouldn't be built anyways. That is indeed significant.

[2018-04-12 18:30] miri64 commented on #8941
@kaspar030

+1, but the extra builds need to be addressed somehow. Maybe not split them up by suites (after all you can have multiple suites in one unittest) but by topic? E.g. put all non-GNRC network related code into one application, put non-core data structures in one application, put all storage related tests in one application, etc. The question is: Does this scale in the future or will we n

[2018-04-12 18:35] bergzand commented on #8941
If all unittests are split up in their own test application, is there an architectural difference between something like tests/gnrc_ipv6_nib and one of the unittests? From what I see they both use embunit assertions.

[2018-04-12 18:39] kaspar030 commented on #8941
No difference.

[2018-04-12 22:25] miri64 commented on #8941
That depends... For the `tests/unittests` application the real backend is sometimes will-fully left-out, so a the `set_up` routine can reset/redo stuff independent from the backend (e.g. with `gnrc_ipv6_nib` some of the NDP stuff is deactivated / doesn't really make sense in a real world scenario, but for the tests).

[2018-04-13 06:33] miri64 commented on #8850
With #8858 being merged, this should be fixed.

[2018-04-13 06:33] #8850 closed

[2018-04-13 09:08] #8339 closed

[2018-04-13 13:55] bergzand commented on #8831
@kb2ma overall I like the idea. Do I understand correctly that the options are only added to the `coap_optpos_t` array and are only written to the buffer when the packet is finalised, and thus that the order of adding options doesn't matter?

[2018-04-13 16:34] kb2ma commented on #8831
Cool, thanks for the confirmation. Yes, option positions are stored in the coap_optpos_t array. The option values are actually stored in the packet buffer as a scratchpad as the user adds them. gcoap also maintains the payload pointer while building the options, so the user can copy that after specifying the last option. Then when the packet is finalized in the gcoap_finish() call, gcoap uses the

[2018-04-13 17:03] kYc0o commented on #9
What happens with this issue? Can be closed?

[2018-04-13 17:13] kYc0o commented on #1263
Is this still an issue?

[2018-04-13 18:52] aabadie commented on #7123
All stm32s cpus now support stmclk interface (#8735 did that for L0/L1), so we can close this one.

[2018-04-13 18:52] #7123 closed

[2018-04-14 10:09] kb2ma commented on #8831
I just reread my comment, and I see I didn't clearly answer your question. Yes, you're right, the user is _not_ required to add options in any particular order.

[2018-04-14 10:13] bergzand commented on #8831
Mostly to confirm since it's been a while since I've used the gcoap API. Is it possible to get request headers from within the handler? For example the [Accept](https://tools.ietf.org/html/rfc7252#section-5.10.4) header to determine the content type that should be returned.

[2018-04-14 12:57] kb2ma commented on #8831
I am making an attempt to standardize function names. I like the [convention](https://github.com/RIOT-OS/RIOT/pull/8772#issuecomment-378625669) proposed by @kaspar030. It fits well with gcoap's use of 'gcoap_req_X', 'gcoap_resp_X'.

So, I just updated the function names in my original comment above to use the format 'gcoap_opt_X_add'. I also updated my [proposal](https://github.com/RIOT-OS/RIOT/pu

[2018-04-14 16:44] redradist commented on #8833
@cgundogan It is not a missing include file. I cannot find manually "ccn-lite-riot.h" and "ccnl-pkt-ndntlv.h"

This error happens during compiling ./RIOT-OS/sys/shell/commands/sc_ccnl.c
In this file included:

    #include "ccn-lite-riot.h"
    #include "ccnl-pkt-ndntlv.h"

And those files are absent at the file hierarcy

[2018-04-14 19:42] aabadie commented on #6035
Closing this one since there's no activity and an answer was proposed.

Feel free to reopen if you disagree.

[2018-04-14 19:42] #6035 closed

[2018-04-14 19:53] aabadie commented on #8637
@Citrullin, could you finally solve your problem with the given answer ? Can we close this issue ?

[2018-04-15 07:59] aabadie commented on #8752
Briefly looked at the 'default' Makefile and gnrc related modules are only loaded if the board is listed in the `BOARD_PROVIDES_NETIF` variable.
So I would say that this is not a bug but a feature.
Could you try the same build command but with your board added to this list ? Maybe using `BOARD_PROVIDES_NETIF=stm32f4discovery BOARD=stm32f4discovery USEMODULE= cc2420 make` would work ?

[2018-04-15 13:50] madokapeng commented on #7915
i am been assigned to this PR. is possible to provide some instruction how? what is the status of current issue?.
many thanks

[2018-04-15 14:53] cgundogan commented on #8833
#include "ccnl-pkt-ndntlv.h"

@redradist Those files are not in the code base of RIOT, but exist [here](https://github.com/cn-uofbasel/ccn-lite/blob/master/src/ccnl-riot/include/ccn-lite-riot.h) and [here](https://github.com/cn-uofbasel/ccn-lite/blob/master/src/ccnl-pkt/include/ccnl-pkt-ndntlv.h). CCN-lite is an external package from the perspective of RIOT, i.e., CCN-lite is cloned during the bui

[2018-04-15 19:33] miri64 commented on #8752
I think there is still a dependency issue if you get a linking error due to this. Even if the board is not in `BOARD_PROVIDES_NETIF`, the worst thing that should happen is that it isn't controllable, since GNRC is missing. So this *is* a bug.

But yes, besides that, we might either make the list configurable or, maybe much more convenient have it like PROVIDES_FEATURE with the `periph` interfaces,

[2018-04-15 20:38] ZetaR60 commented on #6836
The ATmega1284P has this reboot-loop issue as well. Tested on BOARD=mega-xplained

[2018-04-15 20:49] aabadie commented on #8752
AFAIU, the `default` application mainly relies on the hardware provided by the boards. So if a device is not provided by default by a board (and also configured for this particular board), it's not guaranteed to work. Here, you are trying to build an external radio plugged on a board that doesn't provide/configure it.
Your `PROVIDES_FEATURE` proposition sound interesting though. But this won't sol

[2018-04-16 07:15] aabadie commented on #5156
This issue is probably fixed by #8697 and #8698

[2018-04-16 10:24] kaspar030 commented on #8778
I'll untag for the release, as I don't think we'd block the release for this.

[2018-04-16 10:25] kaspar030 commented on #8550
Is the test succeeding? (```make test```)

[2018-04-16 10:27] kaspar030 commented on #8242
Any news here?

[2018-04-16 10:27] kYc0o commented on #8550
Nope, because for some reason the make recipe ends before the `OK (890 tests)` is printed. I need to investigate if it's related to the recent make modifications.

[2018-04-16 10:33] kYc0o commented on #8550
For info, in current master:

[code]

[2018-04-16 10:41] kaspar030 commented on #8548
Hm, just adding ```cpp``` to the CPU's features won't work, as on avr there's no libstdc++, which all the other cpp tests require...

[2018-04-16 10:42] kaspar030 commented on #7800
We should mark this module "deprecated" somehow...

[2018-04-16 10:45] kaspar030 commented on #8532
2018-02-07 16:48:13,931 - INFO # interval   count       sum       sum_sq    min   max  mean  variance

How do I read a line like this? A timer with interval "18" was set 3067 times", ...?

[2018-04-16 11:26] miri64 commented on #7800
Use `@deprecated` command in `sys/include/cbor.h` for that.

[2018-04-16 11:48] aabadie commented on #8662
Ok, I don't understand why (maybe #8735 ?), but I just switched CLOCK_LSE to 1 in the nucleo-l152 peripheral configuration and it works like a charm.

So I would say that this issue can be closed.

[2018-04-16 11:50] gebart commented on #8532
@kaspar030

[code]

[2018-04-16 11:55] aabadie commented on #7875
#7919 was merged so is this issue still valid @kYc0o ?

[2018-04-16 12:01] kYc0o commented on #7875
I'd say all test should be OK right now, but let me check again in case something is missing.

[2018-04-16 13:36] kYc0o commented on #8550
hmmm... it doesn't seem to be a general issue, but maybe only on my computer. @smlng can you test this to compare?

[2018-04-16 14:10] #8935 closed

[2018-04-16 14:16] aabadie commented on #8662
This is issue will be closed automatically when #8961 is merged.

[2018-04-16 14:30] #8662 closed

[2018-04-16 14:46] Citrullin commented on #8637
@aabadie Hi, I'm not that good in C. So I had a bit trouble with getting it running. I will check this again.

[2018-04-16 15:41] bergzand commented on #8420
@cladmi Any progress here?

[2018-04-16 15:50] bergzand commented on #4673
Would this be fixed with #7976?

[2018-04-16 15:55] bergzand commented on #4527
@miri64 Is this with the current implementation still an issue?

[2018-04-16 16:04] kYc0o commented on #4609
Right now we have I have this output on OS X:

[code]

Should we consider this is enough to close this issue? It's being two years is here and no one implemented the feature, thus I'd say it's not needed, and at the same time it doesn't hurt to have it compiled for native.

[2018-04-16 16:33] bergzand commented on #5025
RPL is ported to NIB, can we close this issue?

[2018-04-16 16:34] kYc0o commented on #7875
I've found some more. I'll post it here so we still keep track of the current errors, even if they're not critical for the release.

  - [ ] driver_ata8520e **non portable printf arguments**
[code]

  - [ ] driver_hd44780 **conficting types**
[code]

  - [ ] driver_hih6130 **various integer errors**
[code]

  - [ ] driver_lis3mdl **implicit conversions**
[code]

  - [ ] driver_lsm6dsl **binary lit

[2018-04-16 17:27] smlng commented on #8550
well, with latest master I get the following interesting error:

[code]

[2018-04-16 17:30] kYc0o commented on #8550
Yes that's a known issue not only for OS X. Can you try with `make clean all term`?

[2018-04-16 17:40] smlng commented on #8550
ah yes, read and remember the issue ... with `make clean all term` I get another error:

[code]

[2018-04-17 07:29] aabadie commented on #4140
@PeterKietzmann is there still an issue here (since kinetis was refactored a lot recently) ? Maybe @gebart could help ?

[2018-04-17 07:32] miri64 commented on #4527
Did not verify :-/

[2018-04-17 07:39] miri64 commented on #4518
Well the FIB still exist and isn't supposed to be removed (it could be and should be at some point implemented as a back-end for the NIB) and it still has unnecessary microsecond precision, so no: this issue is still valid.

[2018-04-17 07:40] bergzand commented on #4518
Ok, thanks for the explanation.

[2018-04-17 07:43] miri64 commented on #5025
Yes, filling up the forwarding table now puts the next hop in the same structure as the neighbor cache. As already stated: it isn't technically *in* the neighbor cache, but at the memory it will be when added to the neighbor cache. I think however, that the NIB callbacks for state changes are not yet ported to RPL yet.

[2018-04-17 07:47] kaspar030 commented on #4518
Still I see this as nice-to-have optimization. Closing as memo, feel free to re-open as appropriate.

[2018-04-17 07:47] #4518 closed

[2018-04-17 07:48] gebart commented on #4140
It's still an issue, but we need to examine the pba-d-01-kw2x schematics to see what the best configuration could be here.

[2018-04-17 07:54] kYc0o commented on #4140
Once we tried to get them (@cgundogan  remember?) to add the button driver. We didn't receive any answer so we did it by looking directly at the board's lines and making tests with the ohmeter... A bit hard but not impossible.

[2018-04-17 08:40] #8567 closed

[2018-04-17 08:41] #8910 closed

[2018-04-17 09:59] cladmi commented on #8420
I have more been fighting with some inconsistencies than writing anything unfortunately :/
I should spend some time on it in parallel.

[2018-04-17 10:06] aabadie commented on #7058
I'm having a look, not sure if I can fix it

[2018-04-17 13:16] kYc0o commented on #1891
Can't we instead enforce the usage of `fmt` and portable printf descriptors?

Is this really per platform or per architecture? It's hard for me to think that such a `printf()` works in a samr21-xpro but not in a iotlab-m3...

[2018-04-17 13:16] Josar opened #8969 "API change: append base unit to all variables"
This issue is to raise awarness of a problems which i encounter while porting Riot OS to the jiminy.

While searching for strange behaviours a started digging in the xtimer and event timer implementation.
And thus found some bugs which are related to misinterpretation of variables base unit such as ticks, us, ms.

One example is the problem with the event timer resolve with #8858  #8963 #8875.

Wh

[2018-04-17 15:14] aabadie commented on #7058
Opened #8970 to tackle this issue

[2018-04-17 19:25] kaspar030 commented on #8548
How about removing the feature requirement for certain whitelisted boards?

[2018-04-17 19:47] kaspar030 commented on #7800
That doesn't warn when compiling, right?

[2018-04-17 20:37] gebart commented on #8548
I propose the Arduino build layer use FEATURES_REQUIRED += arduino instead of cpp

[2018-04-17 20:39] gebart commented on #8548
Btw, what exactly is missing in an Arduino toolchain? It can't be libstdc++, because that is part of gcc, not libc

[2018-04-18 11:22] miri64 opened #8972 "[Feature Request] doc: create top-level module checker"
#### Description
It appears to be every week or so that someone breaks the [top-level module view](http://doc.riot-os.org/modules.html) of our nice rendered doc (see #8973 for the most current example). Main culprit most of the time is that they set `@ingroup` to a group that does not exist.

How about we provide a checker script that checks `modules.html` directly after the doc was build by the C

[2018-04-18 11:27] miri64 opened #8973 "doc: CoAP-RD modules appear on top level"
#### Description
All CoAP-RD sub-modules currently appear at the top-level of the module list:

![image](https://user-images.githubusercontent.com/675644/38929195-d8b52a64-430b-11e8-93cb-a8444dc98046.png)

This is due to them being assigned to a group `net_rdcli` (via `@ingroup`) that does not exist.

#### Steps to reproduce the issue
Go to http://doc.riot-os.org/modules.html and have a look ;-).

[2018-04-18 11:47] aabadie commented on #8972
Maybe having a per PR overview of the generated documentation would also help (see #8729 for example)

[2018-04-18 11:52] miri64 commented on #8972
This would help a little, but then again: I think a warning is also of need I think. Far to often we let things slip we are technically informed about, but not warned about (see missing runs of unittests last week)

[2018-04-18 11:55] aabadie commented on #8972
+1

[2018-04-18 11:58] miri64 commented on #8972
(before anyone does unnecessary work: I checked: there is sadly no way to configure Doxygen to warn on itself if a group referenced by `@ingroup` does not exist :()

[2018-04-18 16:00] aabadie opened #8975 "dist/tools/openocd: cannot debug some stlink based boards"
#### Description

#8856 tries to fix a bug preventing to debug with the b-l072z-lrwan1 board but in fact this problem is more general since it might touch all boards using the stlink programmer.

I tested and noticed the same behaviour with a nucleo-l152, nucleo-f070, nucleo-l476

#### Steps to reproduce the issue

Example with a nucleo-l073:

[code]

Then add a breakpoint in main function using g

[2018-04-19 08:31] Josar opened #8979 "Received packets processing and thread change Timing"
I ping from an RPI to the jiminy and see that the timings are somehow getting bigger and then jumping back to smaller and again getting bigger.

Thus i added pin toggels to xtimer and to the transciever interrupts. What i can see is that the requested ping is only processed after a xtimer overflow. I would assume that the packet is proccessed as soon as possible.

The timings from received and tra

[2018-04-19 08:38] gebart commented on #8979
Does your problem still occur if you apply #8951?

[2018-04-19 09:36] miri64 opened #8981 "examples: gcoap: stack overflow when NON times out"
#### Description
When I send a NON GET with the gcoap example the `coap` thread overflows if there is no request.

#### Steps to reproduce the issue
1. Flash gcoap example to board (I used `samr21-xpro`, did not check for other types of boards)
2. Check current stack usage:

[code]

Send CoAP NON to fake destination:

[code]

Check stack usage again:

[code]

#### Expected results
Stack should not

[2018-04-19 09:40] Josar commented on #8979
Yes atmega based. Thanks for the hint, i will look into it.

[2018-04-19 09:40] miri64 commented on #8981
(I'm not sure if raising the stack size is the go-to solution here though it is obviously the simplest fix. Rather we should investigate why `gcoap` is using so much stack space in the first place (776 without even sending anything? Not even IPv6 and 6Lo which are quite complex as well are this wasteful).

[2018-04-19 12:09] Josar commented on #8979
@gebart could not find `cortexm_isr_end `, but you made me thinking in the right direction.
Compared the timer isr with my isr implementation and found missing information in sched.h

The interrupt has to call the scheduler to execute the thread change.
[code]

Now the ping time is at 20ms.
Thanks a lot.

[2018-04-19 12:09] #8979 closed

[2018-04-19 12:19] gebart commented on #8979
No problem :+1:

[2018-04-19 12:55] kb2ma commented on #8981
Thanks for the report @miri64. I have not seen this issue. I am short on time at the moment, but I expect the added size in coap_pkt_t from #8772 has triggered this issue. Note this extra size is specific to gcoap, which still uses the old mechanism for storing options. I am working on adapting gcoap as described in #8831.

[2018-04-19 14:00] cladmi opened #8984 "RFC: Set `PSEUDOMODULES` in packages `Makefile.include`"
#### Description

I was the one suggesting @bergzand to set `PSEUDOMODULES` in his `libcose` package `Makefile.include` while developing so he would not need to modify the other RIOT files.

https://github.com/RIOT-OS/RIOT/blob/6c39d2d621d15cd6f252545c791bbc381b1b48bf/pkg/libcose/Makefile.include#L11-L12

I also thought it could be the occasion to ask if it is something we may want to do for packa

[2018-04-19 15:51] cladmi commented on #8984
It would also be the way of doing it for external modules with: https://github.com/RIOT-OS/RIOT/pull/8987

[2018-04-19 16:11] cladmi commented on #8973
Should be fixed when the doc is rebuilt.

[2018-04-19 17:52] Josar commented on #8979
As i see it in `msp430_common` this is included in `__exit_isr` as i would have expected it to be, in `atmega_common` it is not. Instead it is redundatnly written in every isr

[2018-04-19 18:30] gebart commented on #8979
IMO the msp430 and cortex approach is preferable. This is something that was refactored for the Cortex-M platforms in #6171. Feel free to provide a similar PR for the atmega if you feel like you have the time to do it.

[2018-04-20 09:02] kaspar030 commented on #7800
I've added a note to the release notes.

[2018-04-20 09:14] kaspar030 commented on #4048
Unconfirmed for more than two years -> closing.

[2018-04-20 09:14] #4048 closed

[2018-04-20 09:48] kaspar030 commented on #8548
+1

I don't think there is an libstdc++ implementation for AVR that is freely available.

[2018-04-20 10:02] kaspar030 commented on #8532
LPTMR is running at 32kHZ, and being measured with an us timer (```TIMER_DEV(2)```)?

[2018-04-20 14:45] #8548 closed

[2018-04-20 14:47] cladmi commented on #8548
No error message anymore when doing

```make BOARD=arduino-uno -C examples/arduino_hello-world/```

[2018-04-23 04:43] kb2ma commented on #8981
I confirmed that the stack issue surfaced with #8772. Prior to this PR, stack size was 724 initially, and 996 (out of 1024 available) after sending a message.

I did test gcoap when I reviewed #8772. I can only guess that I tested mostly on native.

[2018-04-23 07:12] KRolander opened #8999 "Can't find source code of LoRaWAN"
Dear jia200x,

I have read that you  already created the implementation of LoRaWAN into RIOT (you presided that it's not a full implementation ), I didn't find the source code of LoRaWAN implementation into RIOT on GitHub (for example the netdev2 repertory doesn't exist in drivers/include/net/), could you help me please where can I find the source code ? Do you have any sample or test programs for

[2018-04-23 07:43] #8981 closed

[2018-04-23 09:14] miri64 commented on #8999
Hi @KRolander,

welcome to the RIOT community. Please use our [developer mailing list](http://doc.riot-os.org/#contribute-to-riot) for this kind of question (or write @jia200x directly). This issue tracker is mainly supposed to track bugs, feature requests and the like.

Thanks and best regards,
Martine

[2018-04-23 09:14] #8999 closed

[2018-04-23 09:41] KRolander commented on #8999
Hi,

Could you help me please how can I write to @jia200x directly, because his
mail is unpublished ?

Thanks and Best Regards
KRolander

2018-04-23 11:14 GMT+02:00 Martine Lenders <notifications@github.com>:

[2018-04-23 09:47] jia200x commented on #8999
Hi @KRolander

It seems the private messaging of Github is not available anymore.
Concerning the LoRaWAN implementation, with @fjmolinas we tried to do a custom LoRaWAN implementation based on the Semtech LoRaMAC code. It's available [here](https://github.com/RIOT-OS/RIOT/pull/6645) and working up to that date, but it's outdated to the latest LoRaWAN standard.

It was not merged because we opted t

[2018-04-23 10:04] KRolander commented on #8999
Hi José,

Thank you so much for your quick answer, I'll try to make the patch, I hope
it will work...
Thank you again!!!

Best Regards,
Roland

2018-04-23 11:47 GMT+02:00 jia200x <notifications@github.com>:

[2018-04-23 13:10] kYc0o opened #9001 "examples/gnrc_minimal: don't work anymore for atmega"
#### Description

While doing some tests for the release, I noticed that the gnrc_minimal example
doesn't work anymore in AVR platforms. I tested for the 2017.10 release and
it works. I tried to bisect and fell into the netif2 commits, and git bisect cannot
help there anymore. It is broken since 2018.01.

#### Steps to reproduce the issue

Compile and test gnrc_minimal for any atmega platform. I'm

[2018-04-23 13:29] cladmi commented on #8984
I added a PR that proposes to add this in the documentation https://github.com/RIOT-OS/RIOT/pull/9003

[2018-04-23 14:02] miri64 commented on #9001
Is it possible that the other threads starve because of your `while (1);` loop? Try put a `xtimer_sleep();` in there.

[2018-04-23 14:05] miri64 commented on #9001
If not, it would be great if you could provide us with some more information where approximately the packet got lost (i.e. Can you sniff it? Does the receive interrupt fire? Do you have the same problem with `default` or the network device's `test` application?).

[2018-04-24 04:33] #7459 closed

[2018-04-24 04:56] maitysubhasis commented on #7745
I still can't make the test work. I think there is some problem in function transmit part of `spi_transfer_bytes` function. And another question why `dev(bus)->DR;` needs to be flushed when busy. Wouldn't it flush received data also?

[2018-04-24 07:03] maitysubhasis opened #9008 "The driver_enc28j60 test not working for openmote-CC2538."
#7745

@haukepetersen  I still can't make the `driver_enc28j60` test work. In case of single register data read/write the spi driver works fine but for multibyte read/write the driver is not working.

Can any one test the driver please.

I think there is some problem in `receive` part of `spi_transfer_bytes` function. And another question why `dev(bus)->DR;` needs to be flushed when busy. Wouldn't

[2018-04-24 13:02] rfuentess opened #9009 "Some make rules are hidden"
#### Description

It's seems that since daa277b36e414188584b44485b970fddf1b82c60 at least three rules for make are not displayed by `make help` : `buildtest`, `info-boards-features-missing` and `info-buildsizes-diff`.

I originally was looking for `buildtest` but at diff thrown the other two rules.

#### Steps to reproduce the issue

In any example run:

[code]

#### Expected results

With V. 2017

[2018-04-24 15:51] jia200x commented on #8984
The idea sounds nice to me!

[2018-04-24 18:29] maitysubhasis commented on #9008
It finally worked. There was some problem with the SPI code.

[2018-04-24 18:29] #9008 closed

[2018-04-26 14:15] kaspar030 commented on #8972
[Here](https://gist.github.com/78b6a26e710a03ae1d28cae5c38f3cbe)'s a prototype that someone could turn into a CI check.

Both ```git grep '@defgroup$'``` and ```git grep '@ingroup$'``` are also insightful. @miri64 those smell like your editor template? ;)

[2018-04-26 18:05] miri64 opened #9036 "stm32_common: can't link on IoT-LAB frontend"
#### Description
It is not possible to link a RIOT application for `stm32_common` boards (this includes `iotlab-m3` and `iotlab-a8-m3`) on the SSH frontend server for the IoT-LAB testbed in Grenoble.

#### Steps to reproduce the issue
Go to the SSH frontend server

[code]

Clone RIOT repository, if necessary. Change into the RIOT repository and try to build an application, e.g. `hello-world`

[cod

[2018-04-26 18:12] aabadie commented on #9036
I guess you are using the master version of RIOT so I think this problem is not related to RIOT but to the compiler version available on iotlab frontend (4.9).

We recently deployed unofficial gcc 7.2 toolchains on the frontends, they are installed in `/opt/gcc-arm-none-eabi-7-2017-q4-major/bin/`, so using:
[code]
fix build issues with recent versions of RIOT.

I just tested it and it works.

[2018-04-26 18:27] gebart commented on #9036
We should add the binutils version to the print versions script.

[2018-04-26 18:29] miri64 commented on #9036
@aabadie thanks! But this information should be somewhere more prominent I think.

[2018-04-26 18:35] aabadie commented on #9036
This is something relatively new (3 weeks) and we plan to announce it (and update riot tutorials, etc).

[2018-04-26 18:39] aabadie commented on #9036
And we chose to keep the old toolchain as default to avoid unexpected problems with other OSes supported by iotlab (Contiki, OpenWSN, FreeRTOS, TinyOS).

[2018-04-26 23:13] miri64 commented on #9036
Ok, then this issue is resolved for me.

[2018-04-26 23:13] #9036 closed

[2018-04-27 05:56] ZetaR60 commented on #9001
@kYc0o Did you test with #8904 ? The context swap code was changed a few months before the gnrc_minimal example stopped working.

[2018-04-27 08:37] aabadie commented on #9036
I edited a [wiki page](https://github.com/iot-lab/iot-lab/wiki/Versions-of-the-GNU-toolchain-for-ARM) related to GNU Toolchains for ARM installed on the IoTLAB frontends.

[2018-04-27 08:50] Josar commented on #8510
Still open for discussion.

[2018-04-27 09:10] cladmi commented on #9009
Hi @rfuentess, that is because the makefiles generating these rules are not included unless specified as command line goal:
https://github.com/RIOT-OS/RIOT/blob/daa277b36e414188584b44485b970fddf1b82c60/Makefile.include#L75-L83

I think we could always include these file, but make them only define the `.PHONY: global-rules` if `BOARD==none` or something like that.

[2018-04-27 14:43] gschorcht opened #9043 "enc28j60: packet tranmission problem"
Sometimes, either directly after a reset or after some time of operation, the ENC28J60 stops the transmission of packets. Transmit interrupts are then not generated. A similar behaviour is described in the errata sheet section 12, but only for half duplex mode.

[2018-04-27 21:02] kYc0o commented on #9001
Yes I did, but it's not due to that. I just discovered it doesn't work either on arduino-zero, thus I suspect it comes from gnrc code. I'll investigate deeper.

[2018-04-28 08:28] cgundogan commented on #8833
@redradist were you able to resolve your issue? Can we close this?

[2018-04-29 13:59] kb2ma opened #9048 "[RFC] CoAP API updates for options"
#### Description
Discussion for nanocoap/gcoap API updates to support use of options as defined in #8772. See [CoAP API Options Update](https://github.com/RIOT-OS/RIOT/wiki/CoAP-API-Options-Update) wiki page for the proposal.

Also see #8920, which triggered the proposal.

[2018-04-29 23:50] ZetaR60 opened #9049 "xtimer mis-scaling with long sleep times"
#### Description
On the ATmega platforms, xtimer is not scaling properly with XTIMER_HZ when sleeping for longer time periods. It is properly scaling for shorter sleep times. I don't know if this occurs on other platforms (as I have no non-ATmega boards). I discovered this while trying to track down problems with tests/posix_semaphore for #8904

#### Steps to reproduce the issue
Build and run some

[2018-04-30 09:58] gschorcht opened #9050 "enc28j60: compilation problem"
The driver is not compilable when MODULE_NETSTATS_L2 is enabled. Reason is the undefined variable ```count```. I will provide a change also with my pull request.

[code]
Has to be changed in
[code]
 and has to be placed after the loop.

[2018-04-30 11:10] iia commented on #7197
Hi @TomKeddie ,

I am interested to contribute for this board. What is the current state of the support for this board and what are major pending tasks ?

Cheers.