[2017-05-10 16:17] kaspar030 commented on #7033
True that. Looking through the logs, Murdock1 didn't build the unittests since that commit.

Honestly, I didn't run the compile tests, as I relied on Murdock2, which correctly built everything for the corresponding commit. I guess I loosely misinterpreted the spec entry as "everything compiles", not "make buildtest works".

[2017-05-10 18:42] miri64 opened #7035 "lwIP: hangs due to sema change after a while"
Try `tests/lwip_sock_ip` tests with both `LWIP_IPV4=1` set as environment variable. The test will predictably hang at `test_sock_ip_send4__socketed_no_local_no_netif()`. I can't really say why this is, but some bisecting revealed that this is due to the changes recently done to `sema` (which is used by lwIP): before #6155 was merged the tests ran through, after it an assertion wasn't met. This how

[2017-05-10 19:48] lebrush commented on #7035
Strange... we have it running stably since a while. The only difference is that we use #6441 which has not been merged in yet. Can you apply the patch and confirm if it is still happening?

[2017-05-10 20:12] #7011 closed

[2017-05-11 06:24] miri64 commented on #7035
Yapp, still hanging :-/. Might also be, that due to my hacky handling in those tests I leave the stack's mutexes in an unclean state, but since I really don't touch them and just manipulate the neighbor cache, I doubt that.

[2017-05-11 06:25] miri64 commented on #7035
(also curious that only `lwip_sock_ip` is affected, but not `lwip_sock_udp` or `lwip_sock_tcp`)

[2017-05-11 10:49] haukepetersen commented on #7008
Yes, if they return an error the `_ECANCELED` should be propagated. But many drivers do not return error values on their read/write functions for a simple reason: the drivers test their connectivity etc. once during initialization and expect their connection (e.g. SPI, UART...) to be working from here on. So during their read/write this connection is expected to be working and won't return any err

[2017-05-11 11:04] haukepetersen commented on #7017
Hi, to get your configuration working just do the following:
- take your target board (e.g. some nucleo as the  `nucleo-f401`) and connect the radio module to it (I guess you use jumper wires?) For a working configuration have a look into the board's `periph_conf.h` file to see the pin mapping for e.g. SPI pins etc
- go to the GNRC networking example (`examples/gnrc_networking`). This is the best

[2017-05-11 11:06] haukepetersen commented on #7017
Oh, and when you plan to use this configuration more often, you have of course some more options to make this config a little more persistent:
- you can edit the applications Makefile and add these variables there
- you can export those env vars in your shell (so they stay for the session)
- you can copy the `at86rf2xx_params.h` file into your application folder and edit the pin config to your nee

[2017-05-11 11:16] haukepetersen commented on #6888
Yes, you are right.

Thinking about this, could a combination of something like `netdev->get(NETOPT_TX_RETRIES_NEEDED)` and the TX_COMPLETE be the solution here? The number of retries would need to be counted by the driver internally and the value must of course be synchronized with the get call, but this could be simply done by having a shadow value that does the acutal count and an exposed value

[2017-05-11 11:48] lebrush commented on #7035
Thanks for trying it. It's actually a bit strange... from the debug traces I couldn't see anything. However, running it [slowly] with the debugger just works fine. I'm looking into it, but don't understand why is not happening with IPv6 or the other ones

[2017-05-11 11:56] haukepetersen commented on #6802
Yes and no. Sure you can configure the xtimer to use some low-power timer (typically clocked by a 32khz crystal). But this would mean that xtimer looses quite some accuracy compared to running it with some xx MHz timer. Though this might be sufficient for some scenarios, this might not be an option for others -> hence this is not a generic solution. What we need is IMHO a (or a set of) high level

[2017-05-11 17:16] kbumsik commented on #7017
Thank you for all detail!
I will try this out this weekend :)

[2017-05-11 17:18] immesys commented on #6709
Just a reminder, this is present in 2017.04 release: power management doesn't work on samr21.

[2017-05-11 21:07] raticate opened #7045 "when using module saul_adc: fatal error adc_params.h"
when I try to use the saul_adc module I get the following error:
fatal error: adc_params.h: No such file or directory
 #include "adc_params.h"

[2017-05-12 03:34] immesys commented on #7008
I think it is essential for sensor drivers to have the ability to report errors on every reading. Our deployments have motes initialize once, and then run for >5 years without rebooting. The probability of never hitting a spurious error (either in the i2c bus or in the sensor) within that time is very low. If you are lucky the error is a one-off but sometimes it results in a loss of sync with the

[2017-05-12 10:04] haukepetersen commented on #7008
Yep, cutting down the `hdc1000` driver was me... In retrospect it seems like I was a little bit too enthusiastic removing the error checking. The reasons I did so back then were (a) the assumption that the connection to the device would be stable after initialization and (b) optimization in regard to code size. Assumption (a) was mostly driven from experiences with SPI and UART.

As it seems to me

[2017-05-12 10:56] lebrush commented on #7035
Analysis of the issue. There are 4 threads running:

| PID | Name |
|---|---|
| 1 | idle |
| 2 | main |
| 3 | lwip_netdev_mux |
| 4 | tcpip_thread |

The deadlock happens because we want to send "main" (pid 2) from "tcpip_thread" (pid 4) a message that we are done (`stack.c` method `_netdev_send`). In the case of IPv6 there's no message in the queue of "main" (capacity 1) so we just put it there a

[2017-05-12 15:15] alexiss03 opened #7052 "ROP attack on RIOT"
Hi!

I have replicated a `Return-oriented Programming (ROP)` attack in RIOT OS by using `ROPGadget` and by adding a CFLAG `-static -fno-stack-protector` in the Makefile of the application I created. Is it left intentional that the stack protector flag can be overriden?

Thanks,
Lexi

[2017-05-12 17:50] immesys commented on #7008
Thanks for responding so quickly. No hard feelings on making things worse for a bit, these things happen in any active project with a large and diverse user base, it's hard to keep track of what is important to whom.

@Hyungsin given that the hdc1000 is fixed, and we know the pattern for reporting errors through SAUL in future, I think we can close this.

[2017-05-12 19:02] gebart commented on #7052
It is intentional that all CFLAGS should be possible to override from the project Makefile,  -fstack-protector and -fno-stack-protector are no special exceptions. If you would like to elaborate some more on this potential attack, could you please send an email to security@riot-os.org with some more information?

[2017-05-12 20:50] dylad commented on #7045
I tested and got the same error message.
I think this feature has not been implemented yet.

[2017-05-13 00:00] Hyungsin commented on #7008
Good I will close this. Thank @immesys  and @haukepetersen  ! :)

[2017-05-13 00:00] #7008 closed

[2017-05-13 01:02] samkumar opened #7054 "Use of fd_new in posix_sockets.c"
Take a look at https://github.com/RIOT-OS/RIOT/blob/master/sys/posix/sockets/posix_sockets.c#L445.

In posix_sockets.c, the accept() function calls fd_new(), even though it seems that fd_new has been eliminated.

@immesys

[2017-05-13 01:47] samkumar commented on #7054
See also Pull Request #7055.

[2017-05-13 05:31] gebart commented on #7045
Not all boards have a configuration file yet. You should write your own adc_config.h and place it in the boards/<BOARD>/include directory. You can copy the adc_config.h in boards/mulle/include for an example of what it is expected to contain.

[2017-05-14 14:45] kaspar030 opened #7058 "tools: pyterm: EOF not handled correctly"
pyterm passes the EOF char (e.g., ctrl-d) as string "EOF" to the connected serial.
That causes problems with pexpect, which sends EOF e.g., when closing the spawned ```make term```.
I don't know exactly when it does that, but pyterm's behaviour breaks running pexpect scripts in a row.

[code]

(I pressed CTRL-D at some point).

IMO pyterm should either ignore EOF, or send the EOF character, or exi

[2017-05-15 06:51] OlegHahm commented on #7058
If I remember correctly, the twisted package introduced this behavior.

[2017-05-15 10:15] haukepetersen commented on #6857
Hi, sorry for the late reply! Just did a little digging into the driver: when I introduced some delays into the `cc110x_get_reg_robust()` function (through DEBUG output in my case, the initialization and the shell work fine. So my guess is, that we have some timing issue in the driver.

@kaspar030: would you mind to have a quick look?

[2017-05-15 15:11] haukepetersen commented on #6857
to go more specific, inserting a simple `DEBUG("foo");` between `cpsr = irq_disable();` and `cc110x_cs(dev);` in `cc110x_get_reg_robust()`, then it works fine, taking out the DEBUG it while compaing `res1` and `res2`...

[2017-05-16 08:26] haukepetersen commented on #6874
Let's see: the cleanest solution would be to move the `samr21` to it's own CPU implementation. However, I would be kind of opposed to do this, as this would lead to a lot of code duplication, right? But I can't really tell the amount of differences we actually have between the `samr21` and the `samd21`, are they really only this minor (e.g. easily resolvable with some simple ifdefs), or do we have

[2017-05-16 08:41] dylad commented on #6874
I think we can keep samr21 and samd21 chip under the same tree and use some ifdef for the small differences.
@haukepetersen Your solution seems good to me !

[2017-05-16 15:36] haukepetersen commented on #6874
:-)

[2017-05-17 18:03] kbumsik opened #7070 "Makefiles: How to add subdirectories in an application directory?"
Hi, I am currently working on WINC1500 WiFi driver for MKR1000 and various boards (related: #6666)
I am trying to keep the code structure of the original WiFi driver in an application directory. So, my application directory looks like this:

[code]

and I added a following Makefile:
[code]
Lastly I added a simple `include $(RIOTBASE)/Makefile.include` Makefile in every `boo` directories.

When try

[2017-05-17 19:03] gebart commented on #7070
Try adding `USEMODULE+=boo1 boo2 boo3` in your Makefile. I think there is room for improvement here, but IIRC that is what is needed to add the files from subdirectories to the linking stage.

[2017-05-17 19:33] kbumsik commented on #7070
Ohhh. It works! I now understand how MODULE is treated a little bit. Now I can communicate with the WiFi driver. Thanks a lot!

[2017-05-18 18:03] photonthunder opened #7081 "bootloader and application section"
I want to setup a bootloader for my samd21 board.  I have a simple test program for the boot section that just tries to jump to application section (I have set the application section at 0x4000).

In the Makefile.include I added the following for the application memory:

export LINKFLAGS += -Wl,--section-start=.text=0x4000

After programming both to the board I get the following error:

Stack poin

[2017-05-19 00:51] alexiss03 commented on #7052
Hi!

I'll send an email for this.

Thanks,
Lexi

[2017-05-19 12:07] rfuentess commented on #7020
Just a quick notification,

I have been working on improving the performance of tinyDTLS for RIOT (also, upgrading it to 0.8.6). I'm still doing tests before updating the PR https://github.com/RIOT-OS/RIOT/pull/6430. But, you can see some of the changes on my [fork](https://github.com/rfuentess/RIOT/commits/TinyDTLS-Upgrades03-Integrating_nanoCoAPS).

The issues of encryption  were related to allo

[2017-05-19 14:44] aabadie commented on #6973
@haukepetersen, I just gave another try to this (using my freshly installed toolchain ;)). Here is what I have now:
* it works when using a samr21-xpro or iotlab-m3 node as BR
* it doesn't work when using Linux + OpenLabs as BR. An iotlab-m3 or a samr21-xpro gets a prefix from this BR

[2017-05-19 19:29] keestux commented on #6874
@haukepetersen Yes, I agree with your suggestion to introduce a new variable.
This also gives the possibility to simplify cpu/sam0_common/include/vendor/sam0.h. We could do

    #if   defined(CPU_MODEL_SUB_samd)
      #include "samd21/include/samd21.h"
    #elif defined(CPU_MODEL_SUB_saml)
      #include "saml21/include/saml21.h"

But that requires us to create a define like `__SAMD21E15A__`. Whic

[2017-05-19 22:39] photonthunder commented on #7081
So I switched to 0x2000 instead of 0x4000 as the start of my application section (made the change in both my boot and application code) and it works.  So must be some issue with 0x4000 as an application memory start location?

[2017-05-20 12:16] keestux commented on #6874
Before we do anything it may be good to look at all the variables we have today, like, CPU, CPU_MODEL, CPU_FAM. I'm losing track of what is used for what.

in `boards/sodaq-autonomo/Makefile.include`

    # define the cpu used by SODAQ Autonomo board
    export CPU = samd21
    export CPU_MODEL = samd21j18a

in `cpu/samd21/Makefile.include`

    export CPU_ARCH = cortex-m0plus
    export CPU_FAM

[2017-05-20 19:23] keestux commented on #6874
Have a look at my `add-sam0-cpu-fam-sub` branch to see what I mean.

    https://github.com/keestux/RIOT

[2017-05-20 19:48] dylad commented on #6874
Maybe we should also think to get the CPU variant.
For example, SAML21J18 has two variants (A and B)
There are few difference between variant but maybe we should take it into account ?
Have a look at this [link](http://www.atmel.com/images/atmel-42512-migrating-from-sam-l21-variant-a-to-variant-b_applicationnote_at13382.pdf)

[2017-05-22 08:34] miri64 commented on #7052
From what we've read on security@riot-os.org this is a vulnerability in the application, not the operating system, so I'm closing this issue. Re-open if you disagree.

[2017-05-22 08:34] #7052 closed

[2017-05-22 10:07] kYc0o commented on #7081
Can you share your code to see what's really happening? I implemented a bootloader (very basic and simple) in #6922, but unfortunately it only works for cortex-m3 boards. If you have some other approach maybe we can merge both to add m0 boards to the supported devices? It would be awesome since it would bring OTA updates also for such cpu.

[2017-05-22 10:11] haukepetersen commented on #6973
This is strange behavior indeed. But I fear I won't have much time the next weeks to look into this issue any further -> @miri64: could you help @aabadie to find the source of this?

[2017-05-22 10:24] kaspar030 commented on #7052
Well, Lexi just asked if it is intentional that the stack protector can be disabled at compile time, which I think @gebart answered perfectly.

[2017-05-22 10:48] miri64 commented on #6973
After the Ascension weekend I'll definitely can look into this (if you provide me the hardware). The next three days I don't have time for that either.

[2017-05-22 17:04] photonthunder commented on #7081
At this point all I was trying to do was to get it to jump in memory (no actual bootloader code yet).  I will implement an extremely simple bootloader and when i do I will share it.  For now here is the code I am using for my jump (simplified from ASF):

`
#include "samd21Misc.h"
#include "globals.h"

#define APP_START_ADDRESS          0x00004000

static void jumpToApplication(void);

int main(voi

[2017-05-23 06:47] cgundogan opened #7090 "kw2xrf: linking problems with arm-none-eabi-gcc 7.1.0 and *-ld 2.28"
With the latest arm-none-eabi-gcc (7.1.0) and -ld (2.28) on my Arch machine, I get the following linking problems when building `gnrc_networking` for the `pba-d-01-kw2x` board:
[code]

[2017-05-23 06:50] cgundogan opened #7091 "kw2xrf: RF Channel (19) of Death"
Tuning two `pba-d-01-kw2x` boards to RF channel 19 kills the communication between them. Pinging does not work between both boards (`gnrc_networking`). Can anyone else verify? @smlng could you give it a try?

[2017-05-23 08:05] gebart commented on #7091
Did you try it at a different physical location? There could be some WiFi or other wireless activity in your area which interferes with it.

[2017-05-23 08:06] smlng commented on #7091
I'm on it, I'll report back soonish ...

[2017-05-23 08:15] smlng commented on #7091
cannot verify this:

[code]

[2017-05-23 08:17] smlng commented on #7091
btw. used `gnrc_networking` from latest RIOT master, and board `pba-d-01-kw2x` (the newer revision with AA batteries).

[2017-05-23 09:06] smlng commented on #7091
I did some further tests regarding this channel 19 issue, all successful:

- using different PAN ID
- ping between 2 PhyNodes
- ping from both PhyNodes to RasPi (with OpenLabs)
- ping from RasPi to both Phynodes

Some packet loss, but nothing serious. I'll recommend closing this issue as invalid - though there might be other networking issues present.

[2017-05-23 09:10] cgundogan commented on #7091
I will give it another try later today with @gebart's recommendation

[2017-05-23 11:04] biboc commented on #7081
This might help you:
https://community.arm.com/processors/f/discussions/4633/cortex-m0-how-to-switch-from-one-program-to-another/11627?pi1735=141&pi1738=2#

[2017-05-23 13:48] miri64 opened #7094 "RFC: include module name in doxygen documentation"
I've come to realize that many new users struggle with what to include into their application and realized that while we have a good API documentation there is no specific information how to include a certain component. There is some [general information about `USEMODULE`](http://doc.riot-os.org/creating-an-application.html#including-modules) in the doc, but no information about what to add to `US

[2017-05-23 13:50] haukepetersen commented on #7094
could you give a specific example for your proposal? But if I understand it correctly, I like this!

[2017-05-23 14:00] miri64 commented on #7094
A simple example would be e.g. for `xtimer`

[code]

A more complex example e.g. with `net/gnrc/ipv6.h`:

[code]

[2017-05-24 07:59] smlng commented on #7094
I like the idea - despite the additional work load 😉

Is it possible to put such extensive and detailed description in a separate file and link (reference) it into the docu via the header file? As far as I see, its already markdown syntax? If it is in a separate .md file it could also be compiled separately, without using doxygen.

[2017-05-24 09:13] miri64 commented on #7094
No, and I would be against it. The doc should also be easily associatable in code (that's why we use Doxygen after all, otherwise we could just write some man pages ;-)).

[2017-05-24 10:24] Gr3yh0und commented on #7020
Hi @rfuentess ,
Thanks for the reply. For the `gettimeofday()` issue, simply do a `make BOARD=cc2538dk` and it will fail.

I've seen your branch on tinydtls and I am already using it. I've implemented my CoAPs server based on YaCoAP [here](https://github.com/Gr3yh0und/RIOT/tree/coaps) on your old example. As I am now trying to do the same for the client I've tried your old and new client implement

[2017-05-24 11:46] haukepetersen commented on #7094
I think I like this as proposed. How about a simple `Usage` as section name?

[2017-05-24 12:08] miri64 commented on #7094
:+1:

[2017-05-24 15:23] kaspar030 commented on #7094
While I like the "to use this, use module X", IMHO we should not repeat how to actually use a module. It would clutter the documentation a lot.

There's already documentation on how to use modules, which might need to be moved or improved.

[2017-05-24 15:51] photonthunder commented on #7081
Thanks for the link, I will have to compare the assembly code and see if there is any difference but it is just odd that it will jump without issue at 0x2000 but not at 0x4000.

[2017-05-24 16:14] miri64 commented on #7094
True, there are hyperlinks after all, so maybe

[code]

[2017-05-25 18:44] photonthunder opened #7100 "regression: assert check fails for SAMD21 ADC"
The assert in _adc_configure:

`assert(res >= ADC_RES_8BIT && res <= ADC_RES_12BIT);`

doesn't work for samd21 because ADC_RES_12BIT is 0x00 and ADC_RES_8BIT is 0x30.

Assert must have been turned on by default in a recent push or something, because it was not caught during quick tests.  Is dropping the check the best solution?

[2017-05-26 17:12] photonthunder commented on #7100
Just looked at the datasheet and the saml21 has a similar feature, where 12Bit is 0 and 8Bit is 3.

[2017-05-29 19:39] dylad commented on #7100
@photonthunder I just tried the lasted commit on master with SAML21-XPRO and tests/periph_adc (10 bits & 12 bits resolution). Everything was fine.
Could you describe a bit more your problem ?

[2017-05-29 19:56] dylad commented on #7100
@photonthunder I looked more closely. Indeed, there is something wrong with `assert(res >= ADC_RES_8BIT && res <= ADC_RES_12BIT)`
The check is wrong but assert was not catch when I tried.

I think we should just patch the assert and explain why we're doing like that with a dedicated comment.

[2017-05-30 07:21] biboc commented on #7081
@photonthunder Have you done any progress on the bootloader? Could you do a PR please so we can review your code.

[2017-05-30 09:54] sravan7 opened #7109 "help me to install RIOT in Arduino UNO"

[2017-05-30 09:59] miri64 commented on #7109
Have you seen http://doc.riot-os.org/#the-quickest-start?

[2017-05-30 10:00] miri64 commented on #7109
(just set the `BOARD` environment variable to `arduino-uno`)

[2017-05-30 13:26] photonthunder commented on #7100
It would be a little ugly but we could just do `assert(res == ADC_RES_8BIT || res == ADC_RES_10Bit || ADC_RES_12BIT)`  Then the register values don't come into play if later a cpu is added that does things differently?

[2017-05-30 13:33] sravan7 commented on #7109
@miri64 yes I read quick start guide, but i can't able to do it.
What I did ?
1. I cloned Riot to my ubuntu using Terminal
2. After that I tried lot but i can't able to install Riot to Arduino Uno ,

Can you please help me step by step through screen shots or theough Video.
Anyway Thank you.

[2017-05-30 13:44] sravan7 commented on #7109
And I tried   $ make BOARD = Arduino - uno
result : No Bash , some thing is coming

[2017-05-30 13:47] photonthunder commented on #7081
Still working on it.  One of the challenges I have is that I would like to keep my code under the 0x2000 mark.  Thus, I have a standalone version where I use a mini printf, hard code the baud rate, etc.  I tried to setup a bootloader define but then you end up hacking the reset_handler and kernel_init to help keep code size small.  Been following [#6922](https://github.com/RIOT-OS/RIOT/pull/6922)

[2017-05-30 14:04] PeterKietzmann commented on #7109
you tried "BOARD=arduino-uno make"?

[2017-05-30 14:07] PeterKietzmann commented on #7109
... with a small *a* and without white spaces... Furthermore, 'make' will only build the program, 'flash' will write the binary to your board and 'term' will open a serial connection to you can see the STDOUT in a terminal. You can simply do everything in one step copy-pasting the following line:
`BOARD=arduino-uno make all flash term`

[2017-05-30 14:15] kYc0o commented on #7109
BTW @PeterKietzmann 's example command will only work on RIOT/examples/hello-world. Since the UNO board has only 2K of RAM, other examples may not fit into this amount of memory. What is worse, the compiler/linker won't throw any warning or error about memory overflowing.

[2017-05-30 14:25] kYc0o commented on #7081
Great to see some advancements here! I also tried to keep code small by squeezing out as much as possible the RIOT code and remove all "extra" things, without much success. The problem here is, as you mentioned it, you always need to hack the init functions to "isolate" the RIOT kernel from device drivers, which are the only needed part from the base code.

@haukepetersen has some ideas to do so,

[2017-05-30 15:40] travisgriggs commented on #7100
I don't think it's ugly. I think it's actually more clear and explicit and more safe. If the domain involved 5 or more linear arranged values, then maybe the comparators would be an appropriately necessary algorithmic approach. But where it's only these three, and it's causing fatal errors as it is right now, I like your solution @photonthunder . PR?

[2017-05-30 16:38] miri64 commented on #7109
@kYc0o that might have been a little confusing. This also works with the applications in the Tutorial repository, but the memory constraint still holds.

[2017-05-30 17:14] sravan7 commented on #7109
No I tried all, didn't worked. Please help me from beginning to install RIOT into Arduino-Uno.

[2017-05-30 17:45] miri64 commented on #7109
Sorry, but unless you show us your problem, we can really help you. A start could be, if you might provide us with a dump of your terminal output (in most OSs you can just mark and copy it) from all the steps you have done so far.

[2017-05-30 18:16] PeterKietzmann commented on #7109
Please provide a dump of your terminal output  (simply copy paste the text from you terminal where you typed the command BOARD=...)

[2017-05-30 18:16] PeterKietzmann commented on #7109
whoops, didn't refresh the window...

[2017-05-30 18:20] #7090 closed

[2017-05-31 05:21] sravan7 commented on #7109
sravan@sravan:~/RIOT$ cd example/default/
bash: cd: example/default/: No such file or directory
sravan@sravan:~/RIOT$ cd examples
sravan@sravan:~/RIOT/examples$ ls
arduino_hello-world  dtls-echo           gnrc_minimal     ipc_pingpong      posix_sockets
bindist              emcute              gnrc_networking  javascript        riot_and_cpp
ccn-lite-relay       gcoap               gnrc_tftp

[2017-05-31 05:33] miri64 commented on #7109
(took it upon me to fix your markdown)

[2017-05-31 05:44] miri64 commented on #7109
First of all, please make sure you installed all required dependencies:

**For Arduino:**
[code]

**For native** (i.e. run RIOT as a native Linux process):
[code]

You've typed `make all term`, not `BOARD=arduino-uno make all flash term` for `examples/arduino_hello-world`. Then you go to the root directory (which does not contain an application) and try to flash from there. Please go back to the `

[2017-05-31 10:45] DipSwitch opened #7114 "xtimer: add's items to the wrong list if the timer overflows between _xtimer_now() and irq_disable()"
I have a problem where `xtimer_usleep` thinks that it should place the timer into the timers long list while `(timer->long_target > _long_cnt)` are both `0` but ` || !_this_high_period(target)` says it's not this period. But when the timer is added to the long list. It doesn't trigger for aprox 1,5 hour instead of in 69uS.

Below the log and possible solution to fix.

	11:58:43:726	COM9	8	_xtimer_

[2017-05-31 10:48] DipSwitch commented on #7114
Possible related:
 - #6052
 - #5103

[2017-05-31 11:18] nRhR commented on #6724
@chenek Hey there, I have the same problem with the cc2650stk RIOT shell response.
 Is there any progress?

[2017-05-31 11:31] chenek commented on #6724
No, I have no progress on this.

[2017-05-31 12:35] DipSwitch commented on #7114
Closed in favor of #7116

[2017-05-31 12:48] kYc0o commented on #7114
Why did you close it? is not an issue anymore?

[2017-05-31 12:49] DipSwitch commented on #7114
Closed in favor of PR #7116 ;)

[2017-05-31 14:02] DipSwitch commented on #7114
Fixed by: #7053

[2017-05-31 14:46] miri64 commented on #841
The title would indicate that, but the description also asks for an `getaddrinfo()` implementation and is marked as a posix feature request, so I would not yet close it.

[2017-05-31 16:58] photonthunder commented on #7081
What I would like to do first is to get flash read/write/erase added; however, I don't see much except for flashpage.c which doesn't seem to be implemented by any boards.  Is there a riot method for flash access that is used?  If not where would I put my flash functions?

[2017-05-31 18:23] photonthunder commented on #7100
[PR #7118 ](https://github.com/RIOT-OS/RIOT/pull/7118)

[2017-05-31 19:43] kYc0o commented on #7081
There is actually #5366 which already proposes a driver for that. However something is wrong with erasing... Maybe you can take a look and see if you can find the bug?

[2017-06-01 05:19] sravan7 commented on #7109
yeah.....! It's working. I wonder that's all installing RIOT in arduino  - uno is over ?.
 BOARD = arduino-uno make all flash term only one commnad. RIOT is for IOT where does COAP, LORAWAN , how to make use of them

[2017-06-01 05:33] gebart commented on #7109
This discussion should be moved to the riot-users mailing list, it is not about a bug or issue in RIOT.
https://lists.riot-os.org/mailman/listinfo/users

[2017-06-01 06:53] miri64 commented on #7109
BOARD = arduino-uno make all flash term only one commnad. RIOT is for IOT where does COAP, LORAWAN , how to make use of them

RIOT is the operating system. Network protocols you can add by adding modules. Please read the documentation on that. For LoRaWAN you need a special radio (see #6797) and I think there isn't enough space on an arduino uno for CoAP. If you want to try regardles, try one of t

[2017-06-01 06:56] kaspar030 commented on #7109
Challenge accepted! ;)

[2017-06-01 06:59] PeterKietzmann commented on #7109
I see this issue as solved -> closing.

[2017-06-01 06:59] #7109 closed

[2017-06-01 16:25] haukepetersen opened #7123 "cpu: implement the stmclk interface for all STM32 CPUs"
Lately, we introduced an interface for controlling the internal clocks for all STM32 CPUs (`stm32_common/include/stmclk.h`). This is however only implemented for the STM32F1 and STM32F7 so far and should be implemented for all members of that family. As result, problems like the one in #6504 are trivial to solve...

This issue is created to track and synchronize the porting effort.

Todo:
- [x] st

[2017-06-01 19:36] photonthunder commented on #7081
Thanks for the link, bug found...

[2017-06-02 08:21] gebart commented on #7091
@cgundogan Did you?

[2017-06-02 09:19] gebart opened #7127 "csma_sender is not being CI tested"
In trying to find out how to use the csma_sender module for software CSMA (see [mailing list thread](https://lists.riot-os.org/pipermail/users/2017-May/000818.html)), I noticed that it is not used as a module in any of the examples, nor is it a dependency of anything else in the repo. This means it will not be built by the CI tests and there is no standard way of testing it. A quick compilation te

[2017-06-02 09:25] miri64 commented on #7127
Could one of the assigned people provide a test application, please.

[2017-06-02 09:29] miri64 commented on #7127
The original plan seemed to have been that these would have been used in #4180, #4184, and #4213, but all of them are closed now. Is this module still needed at all?

[2017-06-02 09:32] gebart commented on #7127
I would like to use it with the kw41zrf driver to provide csma since the hardware doesn't do it.

[2017-06-02 09:39] miri64 commented on #7127
@gebart Both functions provided in this module should be straight forward to be used instead of `netdev->driver->send()` in your application or network stack glue code, as far as I can remember. For good parameters for CSMA/CA you need to ask the MAC experts I assigned this issue to ;-).

[2017-06-02 09:51] gebart commented on #7127
@miri64 Actually, I was thinking about adding it [here](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/gnrc/link_layer/netdev/gnrc_netdev_ieee802154.c#L224)

[2017-06-02 09:58] miri64 commented on #7127
Fine by me, but only optional (with `#ifdef MODULE_CSMA_SENDER`) I hope. ;-)

[2017-06-02 10:32] emmanuelsearch commented on #7081
@photonthunder if you identified/fixed a bug, can you PR the fix?

[2017-06-02 10:58] smlng commented on #7091
@cgundogan I still think this is not a general issue, but has rather something to do with your specific test setup, hardware, and software - so close this?

[2017-06-02 11:03] miri64 commented on #7127
@gebart also please note https://github.com/RIOT-OS/RIOT/pull/6554#issuecomment-305756434

[2017-06-02 11:03] zhuoshuguo commented on #7127
I will see if I have time to do it. In case I have enough spare time, will try to write a test application.

[2017-06-02 11:10] zhuoshuguo commented on #7127
Normally, in case your test scenario is no too intensive, a default CSMA parameter in ` csma_sender`, as far as I remember (BE-min of 3, and BE-max of 5), will be OK, for example test scenario like: one receiver and 2-3 senders, with data rate 1packet/1s, or even multi-hop network. :-)

[2017-06-02 11:25] kYc0o commented on #7081
@emmanuelsearch The solution was pointed out in the PR, Hauke already fix it so we are in testing phase.

[2017-06-02 13:40] emmanuelsearch commented on #7081
awesome ;)

[2017-06-02 17:21] A-Paul commented on #6724
Hi @chenek. I can't reproduce your problems here with my sensortag (under Debian).

Welcome to pyterm!
Type '/exit' to exit.
2017-06-02 19:08:38,367 - INFO # main(): This is RIOT! (Version: 2017.04-devel-1135-g3b725-mobi31)
2017-06-02 19:08:38,368 - INFO # Hello World!
2017-06-02 19:08:38,372 - INFO # You are running RIOT on a(n) cc2650stk board.
2017-06-02 19:08:38,375 - INFO # This board feature

[2017-06-03 07:39] chenek commented on #6724
@A-Paul I just git to the latest source code and do "make BOARD=cc2650stk" on my VirtualBox Ubuntu 14.04. I still cannot see UART output after I download hex or elf to my CC2650STK. I attach my hex/elf for your reference. Maybe you can attach yours so I can download it to my CC2650STK to see if it works on my HW.

[cc2650stk.zip](https://github.com/RIOT-OS/RIOT/files/1049443/cc2650stk.zip)

[2017-06-03 09:44] nRhR commented on #6724
Same here.
maybe i missed some elementary, but if i run my code on native i get response.
lets keep on trying :)

[2017-06-03 11:04] nRhR commented on #6724
My setup: @chenek @A-Paul

-code
-output native
-output BOARD=cc2650

`/*
 * Copyright (C) 2008, 2009, 2010  Kaspar Schleiser <kaspar@schleiser.de>
 * Copyright (C) 2013 INRIA
 * Copyright (C) 2013 Ludwig Knüpfer <ludwig.knuepfer@fu-berlin.de>
 *
 * This file is subject to the terms and conditions of the GNU Lesser
 * General Public License v2.1. See the file LICENSE in the top level
 * directory

[2017-06-03 11:06] nRhR commented on #6724
the code upload is messed up.
i will try it better if needed

[2017-06-03 19:19] smlng opened #7133 "Usage and interpretation of I2C addresses"
I recently tested the LSM6DSL sensor (part of STM X-NUCLEO IKS01A1), which provides accelerometer and gyroscope. During configuration I stumbeled upon the following addressing issue:

The default I2C address of the RIOT driver is `0x6B` [1].  According to a label printed on IKS01A1 the default I2C address of LSM6DSL is `0xD6`, see also [2] page 38, sec 6.3.1. However, the driver worked right out o

[2017-06-03 19:22] smlng commented on #7031
you mean like #6643

[2017-06-03 19:38] gebart commented on #7133
I don't think it is reversed, but shifted one bit. The least significant bit of the i2c address is the read/write flag, so the actual address is in reality only 7 bits long. Does this make sense?
See also this link https://www.totalphase.com/support/articles/200349176-7-bit-8-bit-and-10-bit-I2C-Slave-Addressing

[2017-06-03 19:43] smlng commented on #7133
Thanks for the pointer, could be the shifted.

However, still it seems weird, that the device label says default address is `0xD6` and the driver uses `0x6B` (which works). At least for I2C noobs like me, simply trying to use the labeled address will likely result in lots of frustration ☹️

[2017-06-03 19:50] smlng commented on #7133
mhm, seems to be shifting, works for the alternative addresses, too

- driver: `0x6A` = `0110` `1010`
- device label: `0xD4` = `1101` `0100`

still as said above, not very intuitive

[2017-06-04 08:00] gebart commented on #7091
@cgundogan try #7139 #7138 and RIOT-OS/applications#30 for checking the radio environment.
It does require an implementation of NETOPT_LAST_ED_LEVEL, which I haven't written for the kw2xrf, but it should be very similar to the implementation for kw41zrf in https://github.com/gebart/RIOT/commit/df58e8149d242303c0fc704aa164ad6b46fbb3eb

[2017-06-04 08:05] cgundogan commented on #7091
@gebart I will try, thanks. I didn't look further into this issue, but I need to focus on this the following week. Will report back tuesday/wednesday on this.

[2017-06-04 11:22] Marc-Aurele opened #7140 "How to add additional files to my project ?"
Hello,

I want to add additional c files to my application project but i don't really know how to do that. In my main application folder, where i have already the following files :
_main.c
Makefile
README.md_

I want to add a "src" folder and an "inc" folder to the compilation. So I have added a makefile to the src folder with the following contain:

_MODULE = main_app_src
include $(RIOTBASE)/Make

[2017-06-04 11:50] aabadie commented on #7133
In fact, LSM6DSL is part of [STM X-NUCLEO IKS01A2](http://www.st.com/en/ecosystems/x-nucleo-iks01a2.html) and it is LSM6DS**0** which is part of [STM X-NUCLEO IKS01A1](http://www.st.com/en/ecosystems/x-nucleo-iks01a1.html).

From the datasheets, the sensors are sensibly different (I tried when I reviewed #6835)

[2017-06-04 13:51] gebart commented on #7140
Your solution looks correct. Did you test it?
In the future, these kinds of questions are better to ask on the riot-users mailing list. This issue tracker is meant for issues in RIOT. You will likely get better and more complete answers on the mailing list.
https://lists.riot-os.org/mailman/listinfo/users

[2017-06-04 17:59] smlng commented on #7133
@aabadie, I know there are different version of this sensor - but here it just serves as an example for the counter-intuitive (not matching) addressing between RIOT driver and device datasheet (or labeling).

[2017-06-04 18:24] gebart commented on #7114
I think I may be hitting this issue when I use a 32 kHz xtimer, I will report back once I have had time to run some tests.

[2017-06-04 18:29] gebart commented on #7133
@smlng I understand how you think it is unintuitive, but there's actually a variation between how different device vendors write their data sheets. Some write the 8 bit address including the read but, and other vendors write the 7 bit address and a short note that the eighth bit is a read/write flag.

[2017-06-04 19:42] Marc-Aurele commented on #7140
Hi,
Thank you for the reply.
Yes everything is working fine. Sry for having posted my question here, next time i will use the mailing list ;)

[2017-06-05 06:32] gebart commented on #7114
It seems my issue was fixed by relaxing the xtimer backoff timings, I don't think this issue was related.

[2017-06-06 01:04] triple7 commented on #6379
Hi, has anyone been able to fix this? We
re currently stuck with trying to get it going, however we don't want to mess with the dependencies all over the board.

[2017-06-06 06:08] kaspar030 commented on #6379
I'll take a look at it later today!

[2017-06-06 09:50] smlng commented on #6473
@kYc0o please not that with #6444 and #6599 the default board for certain boards changed. Which means, that even without supplying a specific board via `BOARD=<something>` some tests will use e.g. `BOARD=samr21-xpro` instead of `native`. Specifically this holds for most periph tests, that require SPI or I2C <- not available for `native` (yet).

That said: as I use macOS myself and do also care abo

[2017-06-06 11:06] smlng commented on #7133
@gebart thanks a lot for your input and pointers, I think I got it ... And you were right with the *shifting* explanation.

To that matter I'll review the RIOT I2C documentation, maybe be I can provide some enhancements to clarify.

[2017-06-06 11:08] smlng commented on #7133
I'll close the issue after I checked the docu, in general its resolved for me.

[2017-06-07 02:18] A-Paul commented on #6724
Hi @chenek, I tried to use your image. Here is the output:

2017-06-07 02:42:30,736 - INFO # Hello World!
2017-06-07 02:42:30,741 - INFO # You are running RIOT on a(n) cc2650stk board.
2017-06-07 02:42:30,743 - INFO # This board features a(n) cc26x0 MCU.

It seems that your toolchain is working in respect of building an image file. Also there it is no issue in the RIOT codebase.
I'd like to ask yo

[2017-06-07 07:10] cgundogan commented on #6038
I am exceedingly delighted that my initial discomfort about the number of coap examples led to the long, but fruitful discussion. Re-evaluating the current state, we still have 3 coap related examples in our `examples` directory: **gcoap**, **nanocoap_server** and **microcoap_server**.

@kaspar030 I looked at the **nanocoap_server** app. IMO there's nothing RIOT-related in this example that might

[2017-06-07 07:14] cgundogan commented on #4822
@smlng @PeterKietzmann what's the status on this?

[2017-06-07 07:53] smlng commented on #4822
good question -care to check while you are running your own tests anyway 😉 ?

[2017-06-07 11:00] chenek commented on #6724
That is strange because my CC2650STK has no problem to output UART messages when I test Contiki OS. I would check my CC2650STK and Thanks for verifying my binary.

[2017-06-07 11:00] #6724 closed

[2017-06-07 15:50] A-Paul commented on #6724
Hi @chenek. Hope you still get notifications...
Are you aware of the fact that *hello_world* just prints after power on *once* and that there is no reset button on the sensortag defined?
Maybe see you on the ML.

[2017-06-07 19:24] smlng opened #7152 "SAUL: add full support for PhyNode (pba-d-01-kw2x)"
The following table gives an overview and work in progress on the state of SAUL support for peripherals of the PhyTec PhyNode (board `pba-d-01-kw2x`), looks quite good already 😄

Device | Driver | SAUL support
------ | ------ | ----
Humidity Sensor | HDC1000 | ✅
Magnetometer | MAG3110 | ✅
Accelerometer | MMA8x5x | ✅
Pressure (+Temp) | MPL3115A2 | ✅  (#7120)
IR Temperature | TMP006 | ✅ (#7168)
Colo

[2017-06-08 08:19] PeterKietzmann commented on #6519
@phectori could you check if the mrf24j40 driver still works on nucleo-f401 with current master?!

[2017-06-08 09:26] gebart opened #7154 "Tracker: Kinetis development board support"
This is a tracker issue for tracking the progress of adding more NXP Kinetis Freedom development boards to RIOT.

http://www.nxp.com/products/software-and-tools/hardware-development-tools/freedom-development-boards:FREDEVPLA

| # | Board | MCU family | CPU core | Status | Documentation | Key features
| -- | -------- | ------------------ | ------------------ | -------- | --------------------- | ---

[2017-06-08 11:48] smlng commented on #7133
closing, fixed with #7142 merged

[2017-06-08 11:48] #7133 closed

[2017-06-08 17:58] #7100 closed

[2017-06-09 03:52] kamejoko80 commented on #5458
Hello,

I see that after running this script it blocks the Linux console.
Is there any way to run script start_network.sh as a background service?

[2017-06-09 06:28] PeterKietzmann commented on #6519
@phectori no need for this any more. At least not for nucleo-f401.

[2017-06-13 02:05] photonthunder commented on #7081
So I have a simple bootloader programmed that just splits the flash memory in half and if the fletcher checksum matches it updates the application section.  Then any updating is done outside of the bootloader.  I can get it to work great outside of riot but once I put it into riot then my size triples and the jumpToApplication function above no longer works (brings me back to my original question)

[2017-06-13 11:00] kYc0o commented on #7081
You must adjust the stack pointer and be sure that the clocking system is correctly reseted, either before jumping or in the sam0 code before configure it again. You can check #6922 for more details, specifically [here](https://github.com/RIOT-OS/RIOT/pull/6922/commits/43f542852519644b1be26007764a3c4845bea10a#diff-e2a771a25bff91acba344153c865264eR194).

[2017-06-13 11:06] kYc0o commented on #7081
For the flashing issue, it's a bit more complex than that. You can see in 76501fcde101c02844978f32109aa4c057418e8e what it's done for this purpose, if you want to absolutely generate an ELF file. Another approach (which was the one I used before) can be to simply join the two firmwares using e.g. `srec_cat` into an hex file which openocd won't have any issue to flash (it won't look to any section

[2017-06-14 01:42] photonthunder commented on #7081
@kYc0o thanks for the feedback.  I must be missing the obvious, in the jumpToApplication function above it does adjust the stack pointer and then jumps to application.  This works fine when I compile it outside of riot-os, but when I build it within riot it doesn't jump correctly.  You linked code appears to be doing something similar, but I don't see anything that deals with the clock.

On the fl

[2017-06-14 02:45] kamejoko80 opened #7182 "Question : Border router setting"
Hello,

I've followed this [guideline](https://github.com/RIOT-OS/RIOT/tree/master/examples/gnrc_border_router) to setting up border router connection, but I am not able to ping from Linux PC to a node device. I have 3 devices: Linux PC, BR and a node. The interface of each device as below:

1> Linux PC interface

[code]

2> BR interface

[code]

3> Node interface

[code]

I was able to ping from

[2017-06-14 03:03] kamejoko80 commented on #6967
Hello,

You can refer board nucleo-f103 and port to your new board.

[2017-06-14 11:56] miri64 opened #7185 "gnrc_ipv6_ext: conceptual error in packet buffer usage"
There is a conceptional error in `gnrc_ipv6_ext` that would make the function `gnrc_pktbuf_duplicate_upto()` (which messes with the concept of the packet buffer in general) unnecessary, if fixed.

The current state is: duplicate a received (i.e. reversed-order) packet from the extension header up to the IPv6 header then call the parsing function. This parsing function modifies the IPv6 header for

[2017-06-14 13:22] kYc0o commented on #7081
Sorry, I didn't look again at the code before answering, my bad. So, looking again at the code, it seems that you are moving the vector table before jumping, but that operation is already done by RIOT in the initailisation code, have you taken a look at that?

About the clock, it was reworked for stm32f1 in #6970 to ensure a correct initial status before configuring. So, you must be sure that the

[2017-06-14 14:22] photonthunder commented on #7081
Thanks for the information.  I was assuming that RIOT played with the vector table, but was hoping that maybe there would be a larger picture bootloader implementation so that I didn't have to tweak the base files.  Any chance of a RIOT bootloader placeholder being implemented?

On the flash side, it is set up so I can flash them seperately.  if you take out the export statements then it will just

[2017-06-14 14:27] A-Paul opened #7188 "CC2650STK shell not reading chars from UART"
The *tests/shell* doesn't react to input. Starting message is coming up, so writing to stdout (UART) is working. After that there is no reaction.

[2017-06-14 15:33] gebart opened #7189 "Missing support for building position independent code"
Adding support for building position independent code would make it easier to build images for online firmware updates, since the binary can be relocated by the bootloader to a suitable location depending on available memory. Running binaries from RAM should also be possible without any special linker scripts.

I have not investigated the details but the a rough draft of the changes needed are:
-

[2017-06-14 15:54] A-Paul commented on #6724
Hi @shaolinkhoa and @nRhR your reports ( https://github.com/RIOT-OS/RIOT/issues/6724#issuecomment-286322009 and https://github.com/RIOT-OS/RIOT/issues/6724#issuecomment-305968053) are in the wrong place, because this issue is about a -non existing- failure *writing* to UART.
Your problems are based on a shell freeze when *reading* from UART. I opened an issue https://github.com/RIOT-OS/RIOT/issues

[2017-06-14 15:58] gebart commented on #7189
Maybe relevant #6450 #7167 #6922 #7081

[2017-06-14 17:06] photonthunder opened #7190 "Regression: PR #7134 makes hello-world no longer output"
@smlng and @kYc0o, PR #7134 compiles but there is no USART output for hello-world on samd21-xpro compiled on Mac OS X 10.12.  Removing the PR makes it function again.

[2017-06-14 20:03] nRhR commented on #7188
Hey @A-Paul thanks for linking.
Im interested, how can we solve this issue?
Is there any method to figure out the bugg?
Any ideas someone ?

Kind regards

[2017-06-15 06:19] kb2ma opened #7192 "gcoap confirmable messaging plan"
I created a [wiki page](https://github.com/kb2ma/RIOT/wiki/Confirmable-Messaging) that describes the messaging scenarios that gcoap must handle for the confirmable message type. The discussion references supporting features in gcoap, which can be seen in a [commit](https://github.com/kb2ma/RIOT/commit/52f8c4221a5d314e4660eba75f0f8538a1e40ed4) I created just for documentation. I intend to implement

[2017-06-15 11:47] smlng commented on #5799
seems to be fixed with the adaption of netdev2 in #6453. I made some test and wireshark sniffs and cannot observe any duplicates anymore. So closing this!

[2017-06-15 11:47] #5799 closed

[2017-06-15 11:51] josephnoir commented on #4700
@gebart So ... this issue can be closed, right?

[2017-06-15 11:51] #4700 closed

[2017-06-15 11:56] gebart commented on #4700
Yes, I forgot to close after #5688 was merged.

[2017-06-15 19:02] TomKeddie opened #7196 "cpu/samd21 : external interrupts are mismapped on samd21"
I've observed on SAMD21 that all external interrupt controls map to EXTINT0.

Dump with no interrupts enabled.

[code]
with EXTINT 7 enabled (note that the EXTINT0 enables are all set).

[code]

[2017-06-15 19:05] TomKeddie commented on #7196
The problem appears to be a typo in gpio.c (I don't see any other evidence of support for the SAMR21 cpu).

Will submit a pull request later today.

[2017-06-15 19:47] thomaseichinger commented on #7196
@TomKeddie Could you check if https://github.com/RIOT-OS/RIOT/pull/7125 fixes this?

[2017-06-15 22:34] TomKeddie opened #7197 "boards : add support for SparkFun SAMD21 Mini Breakout"
This is a tracking issue for support for the SparkFun SAMD21 Mini Breakout (https://www.sparkfun.com/products/13664).

Wiki entry is [here](https://github.com/RIOT-OS/RIOT/wiki/Board%3A-SparkFun-SAMD21-Mini)

[2017-06-16 02:47] TomKeddie commented on #7196
@thomaseichinger thanks.  This is definitely a dupe of #7125, the fix proposed there is good.  Thanks, I'm not sure why my search didn't find it.

[2017-06-16 02:47] #7196 closed

[2017-06-16 13:48] miri64 opened #7199 "core: "Invalid read of size 4""
I found this error with valgrind:

[code]

From what I was able to gather, this means that we get a bit to many bytes at the end of `main_stack`, but I'm not sure if this is a false positive.

[2017-06-16 13:50] miri64 commented on #7199
(marked as minor bug, since though it is in core it is just affecting `ps` with stacktest enabled [so it shouldn't be in production code anyway])

[2017-06-16 21:10] travisgriggs opened #7200 "edbg: hidapi issue on OS X"
I only took a few weeks off... Before then, `make flash` to my samd21-xpro board used my brew installed version openocd. Life was good.

I grabbed latest riot master an hour ago, and `make flash` now tries to fetch and build `edbg`. Unfortunately it crashes and burns:

[code]

I have no idea why this is. And am only slightly cranky that it has regressed. :/

[2017-06-16 21:34] travisgriggs commented on #7190
as of `a6fcbcd`, my samd2-xpro prints hello

[2017-06-18 00:18] triple7 commented on #6379
Any progress on this?

[2017-06-19 09:00] smlng commented on #7190
cannot confirm this bug, after some fiddling with the flasher, I tested with `examples/hello-world` and got the following output:

[code]

I tested with macOS 10.12.4 and latest master (`ed9899ad`). I think we can close?

[2017-06-19 13:57] miri64 opened #7206 "native: race-condition in IPC"
I was on the hunt last week for a race-condition bug that I suspected to be in GNRC's IPv6, but the more I looked at it it looked like a bug in the IPC itself. I took the following steps to verify.

First, I ensured that `msg_try_send()`, `msg_send()`, `msg_send_to_self()` and `msg_send_int()` are only sending to the IPv6 thread using `netapi`'s helper functions with `git grep -e "\<msg_send\>" -e

[2017-06-19 14:13] miri64 commented on #7206
Ok. Bisecting it now showed, that the problem occurs either in 37c4810fbac0998d72ef86116319607fe6a52339 or 1f6f02e196ab8cd5912d045d4a5369a3c412b502 for the first time, so it might not be a core problem after all, but just native specific. Will investigate deeper

[2017-06-19 14:22] miri64 commented on #7206
(both commits come from https://github.com/RIOT-OS/RIOT/pull/6311)

[2017-06-19 14:30] miri64 commented on #7206
(the message causing the crash is a NETAPI_SND btw)

[2017-06-19 15:10] photonthunder commented on #7190
I pulled the latest and it works fine. Closing.

[2017-06-19 15:10] #7190 closed

[2017-06-19 16:07] photonthunder opened #7208 "samd21: pull all generic clock generators into clock.c"
The samd21 has 9 generic clock generators that can be tied to different clock sources and then tweaked for the users needs.  Currently these are setup in clock.c, timer.c, rtt.c, and rtc.c.  Wanted to open a discussion about cleaning this up.  I recommend we pull all generic clock generator code back into clock.c and setup a specific clock generator for a specific clock.  For example:

[code]

The

[2017-06-19 18:14] smlng commented on #7190
Still: keep up testing and working with RIOT on macOS, it is highly appreciated 😄  And report any bugs, or inconsistencies you encounter.

[2017-06-19 19:12] gebart commented on #7208
Unassigning because I have just about zero experience with the Atmel SAM families.

[2017-06-20 08:27] smlng commented on #7188
I can confirm this issue, reading UART works, writing to it does not. But I also observed that the buffer seems not do be flushed at the end, the last line of output is always missing.

Btw. lots of tests do not work as expected on this platform, i.e. `periph_timer` runs but timers fire immediately regardless of the delay set. And as the base-timer is not working all xtimer tests fail, too.

[2017-06-21 11:34] smlng commented on #1837
close in favor of #4309 ?

[2017-06-21 12:15] miri64 commented on #1837
I would prefer to keep this open, because this is more core specific and thus of more importance

[2017-06-21 16:07] jnohlgard opened #7220 "sys/fmt: Missing tests for fmt_float, fmt_lpad"
See title.
Also, fmt_float has a bug where it will skip over a byte before the decimal point in the middle of the output string if the number is negative because of a mistake in the output pointer advancement.

[2017-06-21 19:48] DipSwitch commented on #5025
This is now the case if I stand correct? I saw the neighbors when enabling RPL? @miri64 any thoughts?

[2017-06-21 20:02] miri64 commented on #5025
As soon as RPL is ported to the NIB (see #6325 at al.) this should happen automagically ;-). I wouldn't call it "filling the neighbor cache" though, because this also implies reachability confirmation and all this stuff, but when next hop information is in the NIB, it will be used for NUD (thus also making it part of the neighbor cache).

[2017-06-21 20:26] DipSwitch commented on #4841
I had the same problem and in combination with TCP.

It seems that the problem triggers if an other msg is received (from interrupt in my case) while the `xtimer_msg_receive_timeout` is waiting or has timed out or is restarting...

[2017-06-22 11:41] emmanuelsearch opened #7226 "edbg: tool fails to automatically build"
trying to flash a SAMR21 on via Vagrant (Ubuntu 16.04.2 LTS) I get the following error while (automagically) building edbg before flashing:

[code]

[2017-06-22 11:43] miri64 commented on #7226
You need to update your vagrant image. This was solved in https://github.com/RIOT-OS/RIOT/pull/7105

[2017-06-22 11:44] miri64 commented on #7226
[For future references](https://github.com/RIOT-OS/RIOT/pulls?utf8=%E2%9C%93&q=libudev-dev) ;-)

[2017-06-22 11:45] cgundogan commented on #7226
@emmanuelsearch can you try if `vagrant box update` is enough to resolve this issue for you?

[2017-06-22 11:48] emmanuelsearch commented on #7226
I had already done the update. Vagrant box update gives currently:

[code]

[2017-06-22 11:48] emmanuelsearch commented on #7226
(hence: reopened the issue)

[2017-06-22 11:54] emmanuelsearch commented on #7200
I ran into the same issue on my Mac. I assume you are on OS X, right?

[2017-06-22 11:55] cgundogan commented on #7226
hm, then a complete destroy might help: `vagrant halt` `vagrant destroy` `vagrant up`

[2017-06-22 11:56] cgundogan commented on #7226
oh and in case there are some older versions around: could you open the virtualbox GUI and delete them manually?

[2017-06-22 12:03] emmanuelsearch commented on #7226
OK, with this it works thanks ;)

[2017-06-22 12:03] #7226 closed

[2017-06-22 13:04] miri64 commented on #4822
A student of mine was able to reproduce it ;-)

[2017-06-22 13:07] smlng commented on #4822
can you (or the student) elaborate a bit on: setup, test app, packet sizes and boards used - for the latter: obviously `pba-d-01-kw2x` but, which revision and/or interop with other boards or Linux?

[2017-06-22 13:26] miri64 commented on #4822
Interop with Raspberry Pi (as far as I know). How do you find out the revision? It's one of the ones where the `tcs37727` is already one sensor.

[2017-06-22 13:27] miri64 commented on #4822
@adrianghc is that about right?

[2017-06-22 13:38] smlng commented on #4822
does it have 2x AA battery holders or that single flat cell one? The former should be the _newest_ (?) revision.

[2017-06-22 13:41] smlng commented on #4822
Btw. I haven't observed the behavior when sending/receiving between two PhyNodes (`pba-d-01-kw2x`) using latest master (that is everything, after the radio driver (kw2xrf) rework to netdev2).

[2017-06-22 13:49] miri64 commented on #4822
flat cell.

[2017-06-22 14:06] kaspar030 commented on #7200
@travisgriggs You should be able to get back to using openocd by setting "PROGRAMMER=openocd".
Sorry for the regression...

[2017-06-22 14:10] adrianghc commented on #4822
@miri64 Yes, but I am pretty sure it also failed with a samr-21-xpro instead of a Raspberry Pi in the past, though I haven't tested it with the current code yet.

[2017-06-22 14:27] kaspar030 commented on #7200
We could make openocd the default on OSX machines, until we can fix edbg's build...

[2017-06-22 14:44] smlng commented on #4822
would be great, if you ( @adrianghc ) can test with other RIOT boards, i.e., samr21-xpro would be a good start. Linux/RasPi is a different story anyway ...

[2017-06-22 14:45] smlng commented on #7200
I can confirm this issue on macOS, and I can also confirm that @kaspar030 workaround works, I tried some days ago.

[2017-06-22 14:59] kaspar030 commented on #7220
+1, but fmt_lpad() does have some unittests?

[2017-06-22 17:12] thomaseichinger commented on #7200
It is actually only compilation in the `hidtest` directory that fails. `edbg` gets built successfully on the second run of `make flash`.

For some weird reason hidtest's configure thinks `CXX=arm-none-eabi-g++` is a good idea ...

[2017-06-22 18:29] A-Paul commented on #7188
Hello @nRhR ,
generally we have to "hunt" the bug down. ;)
*shell_run()* is essentially a loop over *readline()* and  *handle_input_line()* - all of them in <sys/shell/shell.c>. *readline* is a loop that calls *getchar()*.

Hey @smlng,

This is a external view, I think. ;) I experienced a hangup when reading the UART - from RIOTs perspective.

[2017-06-22 20:31] adrianghc commented on #4822
I've just tested with the samr21-xpro with the same result.

[2017-06-23 05:17] gebart commented on #7220
Maybe I missed it while I was scanning the source. But fmt_float needs some tests at least

[2017-06-23 10:31] BytesGalore commented on #3399
see PR #7231

[2017-06-23 12:33] squeekeek commented on #4136
Hi everyone! I am also interested in adding MSP430X support in RIOT since we need a mote that has a large memory for our experiments. Is it possible to get a hold of the workspace so that I can continue porting it?

[2017-06-23 14:47] vincent-d opened #7233 "Incorrect behavior of fopen/fclose/... functions on native"
While playing with files, we realized that fopen/fclose/... functions on native do not use the vfs, even if open/close/read/... do.

I guess this is because RIOT is linked with the native libc, but I wonder how we could make these calls use the RIOT syscalls.

Does anyone have an idea about that?

[2017-06-23 15:05] miri64 opened #7235 "msp430: use tlsf instead of oneway_malloc"
The `oneway_malloc` module looks more like temporary solution and we have a working alternative (`tlsf`). The benefit would be that we could remove the `oneway_malloc` module.

[2017-06-23 15:17] gebart commented on #7233
Could it be possible to build newlib for the native platform? It would mean one more manual installation step for the native platform, but it could perhaps be made optional through the Makefiles.

[2017-06-26 01:31] lcgamboa commented on #7188
I can confirm the bug running the default example in ccc2650 launchpad. When I using the code composer to debug step by step until the call of shell function and run after this point the example works. Apparently the problem is the corruption between RIOT threads initialization and can be linked with timers issue.

[2017-06-26 06:23] smlng commented on #7188
@lcgamboa good point! Timers are not working correctly, try `tests/periph_timer` - though it seems to work, its output is nonsense.

[2017-06-26 11:57] miri64 commented on #4822
I just tested it with #5469 (which was said to fix the issue) as of the state on closing of that PR, but the same problem as on master exists. As soon as it reaches a certain size I don't receive a packet at the other end anymore (with ping6 that number is 92). I analyzed the problem from multiple sides:

1. Rebasing #5469 to maybe find the fix. Except for non-substential changes (`netdev2` naming

[2017-06-26 12:08] miri64 commented on #4822
(Digging even deeper: `seq` is `XCVSEQ_TX_RX` at this point, which is why `kw2xrf_can_switch_to_idle()` returns 0).

[2017-06-26 12:08] miri64 commented on #4822
@smlng maybe you can do similar steps and find out, what your board is doing differently and why.

[2017-06-26 12:45] miri64 commented on #4822
@adrianghc a really shitty workaround would be to apply the following patch

[code]

With this I was able to send out at least two fragments (with a significant increase of latency of course and risk of missing reception of course too), which is at max. 176 bytes and should be enough for your use-case. For more set a higher sleep period.

[2017-06-26 12:59] kYc0o commented on #7200
I confirm this behaviour and now I have edbg working on my OSX system. Should we close the issue or try to make it compile in the first try?

[2017-06-26 13:20] smlng commented on #7200
I'd say the latter would be great?!

[2017-06-26 13:37] kYc0o commented on #7200
Yeah well would be great but I have no idea on how to fix it, and since there's nothing to do but just type `make flash` twice that's why I propose to close the issue, but let's leave it open until only one `make flash` is necessary.

[2017-06-26 13:40] smlng commented on #7200
me neither 😞  Not sure if we can unset the CXX variable when compiling edbg and reset it to the RIOT setting afterwards?

[2017-06-26 15:07] dylad commented on #7208
This discussion can be expand to SAML21 as its also have 9 generic clock module.
Personally, I think moving all those init into clock.c is a good idea.
And user should only modify the periph_conf.h file to obtain the desired behaviour regarding clock management without overwrite clock.c

[2017-06-26 19:09] mali commented on #6836
Hummm .. I think I've bricked my board while testing the code above.
avrdude fail to flash because board reboot on loop

avrdude: stk500_recv(): programmer is not responding
avrdude: stk500_getsync() attempt 1 of 10: not in sync: resp=0x00
avrdude: stk500_recv(): programmer is not responding
avrdude: stk500_getsync() attempt 2 of 10: not in sync: resp=0x00
avrdude: stk500_recv(): programmer is not

[2017-06-27 07:18] aabadie commented on #6405
@smlng, some of your PRs yesterday made me remember this issue. In `made buidtests`, the idea would be to check if the application to be built is `examples/saul` and loop on all drivers in `sys/auto_init/saul`. Then the SAUL build of drivers will be part of the CI.

What do you think of the idea ?

I'd like to look at it for this release.

[2017-06-27 07:23] smlng commented on #6405
@aabadie had the same idea yesterday, when working on those SAUL refinements - and basically I did as you suggested: take `examples/saul` and compile every SAUL capable driver like:

[code]

The question is how to proceed and make it future prove? Integrate with `make buildtests` wouldn't be _my_ favorite, nevertheless, better than nothing.

[2017-06-27 07:35] kaspar030 commented on #6405
There are test applications for most drivers. How about just including saul in them?

While the CI could do "for driver in drivers; do USEMODULE=driver make -C examples/saul clean all", it would completely break both ccache and the git-caching scheme used to avoid a new checkout for each build.

[2017-06-27 07:41] smlng commented on #6405
Though that might be the easiest way, I don't think its a good idea. Because most driver tests are functional tests, and would then break when somethings wrong with SAUL - or the other way around.

Further, I'm huge _fan_ of keeping tests small and simple - so they (hopefully) fit and execute on even the smallest platforms, like Arduino Uno (remember: just 2K of RAM).

[2017-06-27 07:46] aabadie commented on #6405
Maybe we could add some logic for getting saul capable drivers in compile_test.py ?

This won't solve the ccache issue if I understand correctly.

[2017-06-27 07:50] miri64 commented on #5486
Sadly #7115 did not fix this problem

[2017-06-27 07:52] smlng commented on #6405
For #7241 (by @kaspar030 ) to work, each drivers has to state its required features. Could we extend (or reverse) that logic so that drivers also can state which features they provide, i.e., SAUL for instance?

And if that's possible, could we exploit that for the tests and/or CI building process to check SAUL if a driver implements SAUL interface?

[2017-06-27 07:54] aabadie commented on #6405
In python, this can be done in one line (PEP8 inside):
[code]

[2017-06-27 08:30] kaspar030 commented on #6405
How about a "saul_drivers" test application, building *all* saul enabled drivers? (This is about compiling, right?)

[2017-06-27 08:31] aabadie commented on #6405
The problem will be with low memory boards.

[2017-06-27 08:32] smlng commented on #6405
Yes, a compile test would be enough for the beginning. Still would be nice to have an automatic way to get _all_ SAUL enabled drivers, and not adapt the test for every new SAUL adaption.

[2017-06-27 08:52] miri64 commented on #6405
They still compile when they are in `BOARD_INSUFFICIENT_MEMORY`, just the linking is skipped.

[2017-06-27 09:01] aabadie commented on #6405
Ok, then let's go for the saul_drivers application. I'll try to push a PR later today.

[2017-06-27 18:36] mali commented on #6836
Ok, board unbricked !

[2017-06-27 18:41] zqad commented on #6836
Ah, good. Could not find anything matching that situation myself.

[2017-06-27 18:47] mali commented on #6836
But the bad news is that I've tested with your patch applied and result is the same ... loop-reboot ...

[2017-06-27 20:53] zqad commented on #6836
That is bad news. Are you using the same avrdude command as above? I hope that I can get some time in the beginning of next week to try it again myself.

[2017-06-28 07:20] mali commented on #6836
@zqad , yes the same avrdude commande, in fact i just do a `make BOARD=arduino-duemilanove flash term`

[2017-06-28 11:05] kaspar030 commented on #7235
tlsf was too fat, last time I checked. Does it even work on 16bit platforms?

[2017-06-28 11:59] miri64 commented on #7235
Ah right. I knew I missed something. Nevermind then. Then someone(TM) actually needs to fix `oneway_malloc` ;-)

[2017-06-28 11:59] #7235 closed

[2017-06-28 22:11] thomaseichinger opened #7268 "samr21-xpro: unable to ping another node"
git bisect hints to #7115 having introduced an regression, pinging between two samr21-xpro nodes doesn't work on current master as of 524f2e57b.

@aabadie can you confirm?

[2017-06-29 06:16] miri64 commented on #7268
Can confirm for `iotlab-m3` and `samr21-xpro` (did not check when the regression was introduced though)

[2017-06-29 06:21] miri64 commented on #7268
For some reason it already fragments 38 byte packets with lots of duplication oO.

[2017-06-29 06:33] miri64 commented on #7268
Of course, when I add debug output it works -.-

[2017-06-29 08:11] smlng commented on #7152
all done! Full SAUL support for board `pba-d-01-kw2x`! Closing this issue!

[2017-06-29 08:11] #7152 closed

[2017-06-29 08:43] smlng commented on #7152
@aabadie might be something for the release notes?

[2017-06-29 08:48] aabadie commented on #7152
sure, I'll put this in shape once we reach feature freeze.

[2017-06-29 11:47] aabadie commented on #6973
Any chance for looking into this ?

[2017-06-29 11:54] aabadie commented on #5486
@miri64 since #7115 was in fact broken, maybe it will work with #7275

[2017-06-29 11:58] aabadie commented on #2137
AFAICT, all warnings in documentation are fixed. Should we close this one ?

(tested with `make doc 2>&1 | grep -i warn | grep -oE 'RIOT\/[^\/]*\/' | cut -c 6- | sort | uniq -c`)

[2017-06-29 12:17] #7268 closed

[2017-06-29 12:20] miri64 commented on #5486
For the record: this can be tested on `iotlab-m3` (not sure if this bug exists on `samr21-xpro` or other boards) with the following patch and the `tests/lwip` application:

[code]

If `dev->pending_tx (dec): 0` is not printed after all packets were transmitted (there is already some transmission at the start, so make sure you see everything from `reset`), then the bug still exists.

[2017-06-29 12:21] miri64 commented on #2137
Yes.

[2017-06-29 12:21] #2137 closed

[2017-06-29 12:23] miri64 commented on #6973
Not today anymore :-/. I'm not sure I will find the time tomorrow. But I'll try.

[2017-06-29 14:04] Adu143 opened #7278 "Feature request : support TSCH mode in MAC"
Is the current implementation supporting TSCH mode ? If not, is there a roadmap on when it shall be included.

[2017-06-30 07:29] smlng opened #7282 "Support for ST X-NUCLEO IKS01A2"
This issue documents the state of driver support for sensors on the [ST X-NUCLEO Shield IKS01A2](http://www.st.com/en/ecosystems/x-nucleo-iks01a2.html), plus to coordinate the efforts and synchronize work on distinct drivers. It is a follow up to #6629 and has similar intention as #7152.

Device/Sensor Type | Driver | state
------ | ------ | ----
Humidity and Temperature | HTS221 | ✅ see #7280
Acc

[2017-06-30 07:43] miri64 commented on #7282
If they are one shield, unifying them under one driver (in addition to the individual device drivers) like we did with the `io1_xplained` extension board for `samr21-xpro` might make sense.

[2017-06-30 07:45] smlng commented on #7282
mhm, I rather thought about introducing a pseudomodule `iks01a2` which has the respective drivers as a dependency.

[2017-06-30 07:57] miri64 commented on #7282
Also thinkable. But don't you have to configure the periphs used by the shield somewhere?

[2017-06-30 08:00] smlng commented on #7282
could be done with a distinct `<DRIVER>_PARAMS_IKS01A2` in `drivers/<driver>/include/<driver>_params.h` and then using `#ifdef MODULE_IKS01A2` I guess? But again: first things first, i.e. getting all drivers ready and afterwards we care about the shield config.

[2017-06-30 08:05] miri64 commented on #7282
Yes, just wanted to bring this up.

[2017-06-30 08:07] smlng commented on #7282
duly noted, thanks for the pointer to `io1_xplained` - wasn't aware of that.

[2017-06-30 08:10] zhuoshuguo commented on #7127
Maybe this issue is settled now with the merge of [LWMAC](https://github.com/RIOT-OS/RIOT/pull/6554) which includes `csma_sender`. :-)

[2017-06-30 08:23] miri64 commented on #7127
Agreed.

[2017-06-30 08:23] #7127 closed

[2017-06-30 11:38] smlng commented on #7200
@travisgriggs please try #7283 and report back, whether it helps or not.

[2017-06-30 19:13] tprrt opened #7287 "sys/cbor: strptime implicit declaration"
The function cbor_deserialize_date_time does not build on ATmega targets because the strptime function is not provided by AVR libc.

cbor.c: In function ‘cbor_deserialize_date_time’:
cbor.c:769:5: error: implicit declaration of function ‘strptime’ [-Werror=implicit-function-declaration]
     if (strptime(buffer, format, val) == 0) {
     ^
cc1: all warnings being treated as errors

[2017-07-01 22:00] miri64 commented on #7033
@kaspar030 are you sure the unittests are compiling on Murdock? Because as far as I can tell they are currently broken for msp430-based platforms.

[2017-07-01 22:03] miri64 commented on #7033
(ah they are currently blacklisted via the `cbor` tests).

[2017-07-01 22:07] miri64 commented on #7287
A solution for that could be to provide an implementation (or get it from an LGPLv2.1 source) of that function in `cpu/atmega_common/` and add the function to the `cpu/atmega_common/avr-libc-extra/time.h` header.

[2017-07-02 12:21] aabadie commented on #6379
ping @kaspar030, would be great to fix this for the release.

[2017-07-02 21:23] miri64 opened #7294 "RFC: merge candev API into netdev API"
Looking at the newly merged candev API I still don't see, why this has to be its own API apart from netdev:

* The receive mechanism is nearly the same (except that there is no receive function, I'm guessing the frame is passed via the event callback).
* The only difference in the two `send()` is that `can` gives the explicit frame, instead of a vector array with the data
* `init()`, `isr()`, `set

[2017-07-03 08:24] vincent-d commented on #7294
I disagreed with that, but I must say that it could make sense. I still need to think a bit more about it.

You are guessing right. But I believe the flow could be changed to match netdev's one.

Yes, and IMO this is mandatory to pass the frame explicitely. But it could be encapsulated in an iovec.

The goal of different functions was to avoid useless complexity and use typed data, but it could be

[2017-07-03 11:44] roberthartung opened #7300 "tests: Common output format"
Hey everyone,
I was porting our own board to RIOT and was about to integrate the driver tests into our CI system. However, I noticed that there output of the tests I am using (driver_adxl345, driver_l3g4200d, driver_bmp180 for now) do not have a common output format and also they run "forever".
Is there any "best practice" for tests? E.g. an "[OK]" for initializing, some data output and finally a

[2017-07-03 11:46] roberthartung opened #7301 "tests: Delay being "u" instead of "ul" breaks delays on 8-bit/AVR platforms"
Running tests on 8-bit platforms such as the AVR sometimes fails, because a delay of 100\*1000u results in 100000u which does not fit into 16bit unsigned values on 8-bit/AVR systems. This can be solved by either introduction SLEEP_100US variables for each architecture or simply by changing the delay to 100*1000ul.

[2017-07-03 14:29] miri64 commented on #7300
I think @smlng had some ideas on that. I'm not sure how @kaspar030's #7258 is taking these kind of infinite tests into account.

[2017-07-03 14:35] miri64 commented on #7301
(fixed the markdown because of broken output)

[2017-07-03 14:36] miri64 commented on #7301
Can you specify *which* tests are failing?

[2017-07-03 14:37] miri64 commented on #7301
Usually the timer works with `uint32_t` which shouldn't have this kind of restriction. That's why I'm asking.

[2017-07-03 15:32] smlng commented on #7300
My idea was to define common strings to indicate success or failure of a test, which would also allow an automated test framework to looks for these strings. However, until now we do not have such thing and its inconsistently handled in our tests. I personally try to use `[SUCCESS]` and `[FAILURE]` as the final output of a test, but we also have tests that run in a loop - but on the other hand, we

[2017-07-03 17:15] Gr3yh0und opened #7304 "General 802.15.4/CC2538 RF driver dislikes fast ACKs"
Hey,
I'm using two CC2538DK, one with the gnrc_border_router fw and another with my own. However as soon as I configure both with the AUTOACK and ACK_REQ options I get problems when I am sending packets fast.
E.g. when I send two packets immediately from the client to the router, the router/slip only sends one ACK for the second packet.

Has anyone tested that?

[2017-07-03 19:53] miri64 commented on #7300
We solved the halting problem \o/

[2017-07-04 06:41] roberthartung commented on #7300
@smlng I thing a test should always have SUCCESS and FAILURE maybe? But that doesnt apply for examples where a shell is started I guess? And for those running in a loop: Do they have to be in a loop? I guess it makes sense for the sensors, but from a CI Point of View it doesnt make much sense. Nevertheless, those tests could still print out a [SUCCESS] or [FAILURE] and possibly a [FAILURE:<reason>

[2017-07-04 06:43] roberthartung commented on #7301
@miri64 Oh right, I didnt say which tests ;) I am using the adxl345 test for example. I changed it from `100 * 1000U` to `100 * 1000UL`. You are right that the `xtimer_usleep` is using a `uint32_t` argument, but I guess that the compiler turns the 100*1000U into an unsigned first which is 16-bit? and that overflows I guess?

[2017-07-04 06:45] roberthartung commented on #7304
Quick notice: the same happened to me on the AT86RF2XX where I tried to send packages as fast as possible which resulted in missing Interrupts and strange behaviours.

[2017-07-04 06:48] miri64 commented on #7301
Ah right.... Just saw, that the multipliers in `timex.h` have the same problem :-/.

[2017-07-04 06:48] Gr3yh0und commented on #7304
Thanks for the feedback, so it looke like a more general issue. I am currently on the 2017.04 Release (as additional information).

[2017-07-04 07:02] smlng commented on #7300
There are lots of things to think about when it comes to automatic testing:

- common messages/labels/tags/returns (what ever we call it) for success and failure
- certainly, infinite loops are not good, so we have to use timeouts in the test framework or introduce a max-counter instead
- timing is  also an issue, many tests sleep or wait before continuing - for auto-tests such intervals should be

[2017-07-04 08:01] roberthartung commented on #7300
@smlng I am currently working on an improved version of our (some colleagues and mine) test framework for those cases. It is a python script configurable by different YAML configuration files (**Suite**: Directory to RIOT/Contiki, ...; **Nodes**: Node types, serial devices, IDs, ...'; **Tests**: which tests to run, which output parser to use, directory, make command, arguments, ...).
I would be ha

[2017-07-04 08:49] kaspar030 commented on #7300
That sounds painfully close to what I wrote in #7258. Maybe we can share insights and hopefully code?

[2017-07-04 09:54] smlng commented on #7300
@roberthartung please coordinate with @kaspar030 on that matter, he is currently working on this on the RIOT side, see referenced PR in his comment, too.

[2017-07-04 11:14] roberthartung commented on #7300
@kaspar030 You are not at the hackathon end of the month, right?

[2017-07-04 11:23] kaspar030 commented on #7300
unfortunately not.

[2017-07-04 15:00] aabadie commented on #6973
@miri64 could you find some time to look into this one ?

[2017-07-04 16:33] miri64 commented on #6973
I only have tomorrow and the day after, after that I'm on vacation until IETF. I see if I find the Xbee tomorrow, but I can't promise much :-/

[2017-07-04 20:15] photonthunder commented on #7208
Submitted PR #7315 to try and move this forward.  Once it is accepted then we can expand it to SAML21.

[2017-07-04 20:48] #7200 closed

[2017-07-05 10:10] miri64 commented on #6973
Mhhh.... for some reason the xbee doesn't send a Router Solicitation (which is why the Raspberry Pi never sends an RA. The `gnrc_border_router` example sends multicast RA because it get's a prefix freshly assigned that's why the xbee gets a prefix with it there).

[2017-07-05 10:25] miri64 commented on #6973
@aabadie see #7319.

[2017-07-05 10:27] aabadie commented on #6973
Very nice, thanks! Will test on friday.

[2017-07-05 10:34] miri64 commented on #6973
Then I'm already on vacation ;-)

[2017-07-05 10:35] miri64 commented on #6973
If you want to release on the 14th and if you want this in the release this has (and its backport) need to be merged today or tomorrow, after that I will only return to a keyboard on July 15th ;-).

[2017-07-05 10:42] kYc0o commented on #6973
I'll look at it today.

[2017-07-05 12:11] aabadie commented on #6973
You need to test that the XBee gets a prefix in 2 cases:
* with a samr21-xpro or iotlab-m3 as BR
* with a RPI (OpenLabs) as BR

For the second case, you can try next to my office (channel 11) if don't have the RPI.

[2017-07-05 15:03] vincent-d commented on #7294
I thought a bit more about it and I need some more feedback.

If we start to merge candev and netdev, do you think it would make sense to also use gnrc_netdev?

Currently the architecture is as follow (`+=====+` are threads):
[code]

But if we use gnrc_netdev and netapi/netreg, it would lead to something like:
[code]

There would be an extra thread, which is not optimal IMO.

Moreover, the can rou

[2017-07-05 15:04] kYc0o commented on #6973
#7319 fixes this 😃  thanks @miri64 !

[2017-07-05 15:18] #6973 closed

[2017-07-05 15:39] smlng commented on #7304
FYI: the cc2538 does not handle ACKs, they are currently filtered out - cause the device cannot handle them, which has to be done in a software MAC layer.

In general, you get strange behaviour when sending either to fast, i.e., lots of small packets or large packets that get fragmented by 6LoWPAN for instance.

[2017-07-05 16:39] MichelRottleuthner commented on #7031
@smlng ...better late than never: Yes! (I wonder what the heck I searched for to overlook this ;)

[2017-07-05 19:08] kaspar030 commented on #7031
I guess this can be closed.

[2017-07-05 19:08] #7031 closed

[2017-07-06 10:50] miri64 commented on #7294
That would be even greater. From what I can see `can_router` indeed looks very similar to `gnrc_netreg`, so an extra thread might not be required.

`gnrc_netreg` is in its core just a per-`nettype` lookup-table (where `nettype` usually identifies a protocol, though there are exceptions, like IPv6-extension headers). This lookup-table stores linked-lists of `netreg_entry` objects, that contain a `n

[2017-07-06 12:46] nikosft opened #7328 "Avoid the use of goto"
Using goto is a terrible programming practice. There might been some benefits for using in the core code (I cannot see any), but for god sake do not use it in the examples.

The file that caught my attention is RIOT/blob/master/examples/gcoap/gcoap_cli.c which in line 139 has a goto statememt, which can be simply replaced with the code under the label end: (only two lines).

[2017-07-06 13:00] smlng commented on #7328
for the gcoap example you're certainly right. On the other hand there are roughly 30 (something) usages of goto in RIOT overall, considering that this is an (embedded) IoT operating system, that count is rather low.

So, please feel free to provide a PR fixing the gcoap example, but otherwise I don't see this as an issue (at least for now).

[2017-07-06 13:03] kaspar030 commented on #7328
That is debatable. Using goto for error handling in C is actually considered good practice by many, as it often leads to more readable, less error prone code.

[2017-07-06 13:04] kaspar030 commented on #7328
You mean, duplicate the printf call?

[2017-07-06 13:09] smlng commented on #7328
I think the code can be easily reworked using `if .. else if ... else` avoiding `goto` without affecting readability - which is not possible in all cases where `goto` is used.

[2017-07-06 13:35] kaspar030 commented on #7328
Sure. I wanted to point out that just copying the two lines is not gonna cut it.

[2017-07-06 13:54] nikosft commented on #7328
It is not about reducing the line of codes. It is about readability and good code practices. When goto is used instead of if...else.... then "it is considered harmful"

[2017-07-06 13:54] #7328 closed

[2017-07-06 16:13] smlng commented on #7301
I think @roberthartung is right, IIRC we had this issue in other places, too - and `UL` solved it

[2017-07-06 16:14] smlng commented on #7301
I encountered it when working with Arduino (Uno, Duemilanove) based on atmega328p which is 8bit, too

[2017-07-06 18:58] smlng commented on #2726
I think this can be closed, latest output for `git grep -E '\(&[^)]*\)->'` in RIOT:

[code]

[2017-07-06 21:09] smlng commented on #6930
closing, because (1) is resolved all inline functions are also static now (see #7108) and (2) is no issue because `coap_resources` is statically defined by the application and passed to gcoap.

[2017-07-06 21:09] #6930 closed

[2017-07-06 21:10] smlng commented on #7070
closing, issue resolved.

[2017-07-06 21:10] #7070 closed

[2017-07-06 21:11] smlng commented on #7091
any news on this? Or stated differently: can this be closed?

[2017-07-06 21:14] smlng commented on #7045
so the actual task would be: provide SAUL ADC adaption for all boards with feature `periph_adc`, right?

[2017-07-06 21:15] smlng commented on #6713
didn't @A-Paul worked with the Z1 nodes, maybe he or @dnahm can look into this?

[2017-07-06 21:21] smlng commented on #6549
@paterson what's your status on this, did you get it working, so we can close this issue?

[2017-07-06 21:24] smlng commented on #6439
Jenkins is no more 😢 so closing

[2017-07-06 21:24] #6439 closed

[2017-07-06 21:24] smlng commented on #6426
Jenkins is no more 😢 hence, closing

[2017-07-06 21:24] #6426 closed

[2017-07-06 21:32] smlng commented on #6035
is this solved - it also seems more like a flash-tool question than RIOT specific, anyway.

[2017-07-06 21:42] smlng commented on #5769
any news here?

[2017-07-07 08:30] aabadie commented on #5436
Digging this up: I would propose to use the nanocoap example instead. I built it locally and it fits on the Z1:
[code]

[2017-07-07 08:31] aabadie commented on #5436
Closing.

[2017-07-07 08:31] #5436 closed

[2017-07-07 08:37] aabadie commented on #4982
I think we can close this one. @kaspar030 ?

[2017-07-07 08:42] aabadie commented on #4901
gcoap/nanocoap is besoming the reference coap implementation in RIOT: it now handles OBSERVE request.
Maybe it is worth trying this.

Closing this one but feel free to reopen if you disagree.

[2017-07-07 08:42] #4901 closed

[2017-07-07 08:54] aabadie commented on #5207
I tested this with openthread which has board specific makefile code and it works:
[code]

Is it related to what is described here ? If yes, I guess this one is fixed and we can close ?

[2017-07-07 08:58] aabadie commented on #3383
This can be found in Murdock results now. Closing this one.

[2017-07-07 08:58] #3383 closed

[2017-07-07 09:00] aabadie commented on #4974
Does Murdock handle [ci skip] in commit message ? @kaspar030
If yes, I think this one can be closed.

[2017-07-07 09:02] melshuber commented on #5769
not yet, but I am currently not working only part-time on this project

[2017-07-07 10:20] kaspar030 commented on #3383
Well, murdock collects the data, but there's no visualization for it...

[2017-07-07 10:35] vincent-d commented on #7294
Thanks for the explanation.

I think we might be able to do something with some adaptations in `gnrc_netreg` and `gnrc_netdev`.

When receiving, if the `gnrc_netdev` sends the CAN id of the received frame as `demux_ctx`, then `gnrc_netreg` might be able to compare the received id with a CAN filter previously registered.

Updates would be needed on `gnrc_netdev` level, because the:
[code]
would nee

[2017-07-07 10:53] vincent-d commented on #7294
I'm also not sure to understand how multiple interfaces are handled by the upper layers. Because the `gnrc_netreg_entry_t` does not contain any reference to an interface.

[2017-07-07 10:57] kaspar030 commented on #3383
I just checked their terms, without paying they allow 8000msgs/day. Sounds like a lot, but we currently have ~13k builds, each with text, data, bss values. This number will grow, and we'll soon add both power measurements and benchmark results...

[2017-07-07 13:15] gebart commented on #3383
They might offer a discount for RIOT for being open source and IoT, did anyone ask them?

[2017-07-07 14:31] nikosft opened #7330 "Ethos does not compile"
When USEMODULE += ethos is included in an app's Makefile, compiling the app fails with error "comparison between signed and unsigned integer expressions" in RIOT/drivers/ethos/ethos.c: lines 303 and 311.

To solve this problem line 303 of RIOT/drivers/ethos/ethos.c should be changed from
``if (len < (int)dev->last_framesize)``
 to
``if (len < dev->last_framesize)``

and line 311 from
``if ((tsrb_g

[2017-07-07 16:19] jia200x opened #7331 "RFC: LoRaWAN in RIOT"
Hi community.

We just had a meeting with @aabadie, @adjih and @fjmolinas to discuss about the possible next stages for LoRaWAN on RIOT.

@aabadie is proposing to add [LMIC](https://github.com/mirakonta/lmic) as a pkg (the IBM original link seems to be broken). Although it has minimal functionalities,it covers class A and B devices and 868-915 MHz bands.

On the other side, @fjmolinas and me origi

[2017-07-07 21:09] photonthunder opened #7332 "Real Time Timer that supports thread sleep/yield"
In my application I have several threads that are asleep most of the time but wakeup at periodic times to do some work.  I use the RTT alarm before sleeping the thread:

[code]

And then wake with the callback:

[code]

What I would like is a method for supporting waking up using the RTT (or other timer) from multiple threads.  I had hoped initially XTIMER would do the job but as is well documente

[2017-07-08 19:13] Hyungsin opened #7334 "samd21: DFLL configuration"
DFLL CTRL register setting at https://github.com/RIOT-OS/RIOT/blob/master/cpu/samd21/cpu.c#L163
may flush the previous register setting at https://github.com/RIOT-OS/RIOT/blob/master/cpu/samd21/cpu.c#L158, because it renews the whole register again.

How about "SYSCTRL->DFLLCTRL.bit.ENABLE = 1" instead?

[2017-07-09 13:57] gebart commented on #7332
There is no inherent limitation in xtimer itself that prohibits low power operation, the problem is that the xtimer configurations for most platforms are using the hardware timers which stop counting in sleep modes. On most CPUs there is at least one timer which keeps running in low power mode, for example for Kinetis it's the LPTMR module, for STM32 there's one as well. The downside is that the l

[2017-07-10 08:43] smlng commented on #7330
thanks for reporting, are you willing to provide a fixing PR?

[2017-07-10 10:30] dylad commented on #7331
You probably mean A and C classes. B class will cause us a lot of troubles.

I don't really know GNRC and all this stuff but I think it will be a shame to use LMIC as a package now because we will start from zero (dive into code, full review for compliance, heavy tests...) while we have #6645.
Of course, the current PR needs more work and a long & painful review but I think It will be even worse a

[2017-07-10 10:53] aabadie commented on #7331
Some work has already been done so we don't start from zero here. Since it will used as a package, I hope the changes will be minimal.

Implementing from scratch a GNRC version of LoRaMAC-node is also a lot of work and there's still a lot of work in #6645.

[2017-07-10 11:54] dylad commented on #7331
Good to know
So do you think it will be faster to use LMIC as a package to get a working LoRaWAN node in RIOT ?
I'm not oppose to it but I have some questions :
- LMIC is still uncompleted so should we wait for next release from IBM ? Will they do it ?
- Are we going to diverge ? fork their work and add our features later.

I don't really know which one will be the best solution but in both case,

[2017-07-10 13:13] aabadie commented on #7331
It depends, but that's my intuition.

The repository (arduino-lmic) has not moved during 11 months but still seem to be active (regarding issues/PR) so maybe.

No, we will just use it as an external package, patched to fit to RIOT netdev hal (where we already have the drivers). Then the user will just have to use the high-level API of LMIC.
The good thing with packages is that the workload to main

[2017-07-10 13:27] dylad commented on #7331
Sure but with this approach, I'm not even sure RIOT will support class B device one day.
If this repo is still alive and maintainers are willing to implement the remaining features then maybe we should choose this option. But we haven't any guarantee...
Let's see what RIOT's users think about it.

[2017-07-10 13:33] aabadie commented on #7331
If it provides support for class A and C, it's already better than what we have now (e.g nothing). Let's move in small steps first before thinking of supporting all variants of the protocol.

[2017-07-10 13:46] dylad commented on #7331
Agreed,
I just want to make sure this (future) package will evolve and don't remain in a vegetative state for the rest of its life.

[2017-07-10 16:13] photonthunder commented on #7332
@gebart thanks for the information and link.  One approach I have seen used elsewhere is switch to the your low power clock (like your 32 kHz external crystal) before sleep at set the expected sleep time.  Then when you wake your update your xtimer clock based on how long you sleep.  The drawback is that you do introduce some jitter/noise into your timer clock.

[2017-07-10 16:14] jia200x commented on #7331
I meant what is currently implement in LMIC.

AFAIK the original LMIC code was available in the IBM site "as it" and hasn't changed in a year. I'm not sure if there will be further development.  The netdev adoption might take some time too, it requires going deep and intercept all LMIC driver calls. Will it take less time than refactoring #6645?

We did some tests with LMIC on RIOT (adopted all ha

[2017-07-10 18:21] MichelRottleuthner opened #7347 "xtimer_usleep stuck for small values"
On `nucleo-l1` (L152RE) `xtimer_usleep` never returns if you hand it values <=11.

minimum example to reproduce the error:
[code]
For me this always leads to the application getting stuck after printing the following line:
[code]
In xtimer.c the callback [`_callback_unlock_mutex`](https://github.com/RIOT-OS/RIOT/blob/master/sys/xtimer/xtimer.c#L42) that should be fired after [`_xtimer_set64(&timer

[2017-07-11 05:09] smlng commented on #7347
mhm, I cannot reproduce with `nucleo-f411` either. However, it might have something to do with the xtimer config in `board.h`. For instance the `nucleo-l476` does not have an explicit xtimer config (see [here](https://github.com/RIOT-OS/RIOT/blob/master/boards/nucleo-l476/include/board.h) ), hence default values will be used. Try to delete the xtimer config [here](https://github.com/RIOT-OS/RIOT/b

[2017-07-11 05:13] smlng commented on #7347
well you know, I can reproduce on f411, now 😕 but it gets stuck at `going to sleep 7 usecs...`

[2017-07-11 05:14] smlng commented on #7347
guess we should try you test on every board ...

[2017-07-11 05:19] smlng commented on #7347
mhm, changing `XTIMER_BACKOFF` from `5` to `40` (RIOTs default) fixes the issue. Seems like there is some kind of race condition, when the timer is actually set or it simply spins. Maybe the backoff values are chosen by dice for many platforms without actually verifying them.

Can you please provide a PR with your small test to have in the repo, something like `tests/xtimer_usleep_tiny`?

[2017-07-11 07:39] smlng commented on #7347
I just tested with PhyNode (`pba-d-01-kw2x`) which has no board config either, and hence uses default xtimer config, i.e. with `XTIMER_BACKOFF (30)` - which works. However, explicitly settings this value to anything `< 22` makes your test hang at 23us - similarly as I reported above the `nucleo-f411` got stuck at 7us with set `XTIMER_BACKOFF (5)` which makes a diff of 2us between backoff time and

[2017-07-11 08:14] MichelRottleuthner commented on #7347
Thanks for testing and providing additional info! I will create a PR for the test as you suggested.

[2017-07-11 08:17] Gr3yh0und commented on #7304
It looks like the cc2538 is able to do hardware acks - or am I mistaken? I don't have much experience on that field but [Contiki ](https://github.com/contiki-os/contiki/blob/master/cpu/cc2538/dev/cc2538-rf.c#L365)and [OpenThread ](https://github.com/openthread/openthread/blob/master/examples/platforms/cc2538/radio.c#L255) are simply setting the `RFCORE_XREG_FRMCTRL0_AUTOACK` which is according to

[2017-07-11 08:42] smlng commented on #7304
IIRC that's the case in RIOT as well, if a frame with ACK flag set is received the cc2538 sends an ACK back. The problem is rather the other way around, when the cc2538 sends a frame with ACK flags set and the receiver sends an ACK back, the cc2538 does not have any routines to handle the ACK internally but would pass it up to the (software) driver, that is RIOT. Currently, there is no software MA

[2017-07-11 08:44] Gr3yh0und commented on #7304
Ah thanks, for the heads up. Now I'm getting it and it makes sense though.

[2017-07-11 09:01] MichelRottleuthner commented on #7347
Just tested that to be sure and as expected this fixes the Problem for the `nucleo-l1`.

[2017-07-11 09:10] gebart commented on #7347
I had a similar problem on the frdm-kw41z board, but the timer used had a wrap around of 2 seconds, so it only hung for 2 secs. I fixed it by increasing XTIMER_BACKOFF and related constants by a small amount. I think you'll have to do some trial and error experiments to find the correct values.

[2017-07-11 09:26] MichelRottleuthner commented on #7347
Only modifying XTIMER_BACKOFF the smallest value that fixes the problem for me is 10. But I wonder if there are other factors like compiler optimization etc. that may cause different behaviour on this. Is trial and error the current best practice to determine the right value for XTIMER_BACKOFF?

[2017-07-11 09:31] smlng commented on #7347
Or rephrase the question to "What is the impact of using xtimer default values instead of board specific optimizations?" that is `XTIMER_BACKOFF (40)`, for instance. Certainly, if xtimer backoff is to high it will often spin instead of setting an actual timer, which might have performance impacts.

Further, we really need to look into the other config params, e.g., what about the timer frequency,

[2017-07-11 15:09] jia200x commented on #7331
@aabadie @dylad do you have more comments? :)

Also, @miri64 may be interested in this discussion.

[2017-07-11 15:20] dylad commented on #7331
I don't know LMIC enough to have a strong opinion but I doubt it'll evolve in a near future plus it'll be a shame to throw away #6645
In other hands, I do not know GNRC too...
It's up to RIOT's maintainers.

[2017-07-12 08:52] smlng commented on #5361
should be fixed by #7335  and #7343

[2017-07-12 18:01] A-Paul commented on #7188
Issue is solved by #7342

[2017-07-12 18:21] smlng commented on #7188
then lets close this?

[2017-07-12 18:51] A-Paul commented on #7188
@smlng, strange suggestion. ;)

[2017-07-12 18:51] #7188 closed

[2017-07-13 08:52] smlng commented on #7233
so is this a problem/bug and do we need to (or should) address this? At least the issue title is somewhat misleading, as it doesn't seem to be a bug.

[2017-07-13 09:11] smlng commented on #7334
the questions is, if it is a bug or whether this might be intentional? Did you observe any problems? In general you right, codewise current implementation this will flush/overwrite the DFLL register setting - but again, might be on purpose.

[2017-07-13 09:34] gebart commented on #7233
I think it should be changed, at least If using the VFS module on native. It is confusing behavior that fopen  and open are working with different sets of files (file systems).

[2017-07-13 09:35] gebart commented on #7233
OTOH it may be useful to be able to access the regular file system from inside RIOT in native.

[2017-07-13 09:40] smlng commented on #7233
this would have many (I mean ... lots of) security implications, I guess.

[2017-07-13 09:42] gebart commented on #7233
Well, right now it is possible to access files with regular fopen. You should certainly never run a RIOT application as root.

[2017-07-13 09:44] smlng commented on #7233
oh, wasn't aware of that - and never tried to either ... but sure, using libc calls should be possible.

[2017-07-13 11:51] haukepetersen commented on #7294
Actually, I don't think using `gnrc_netreg` and `gnrc_netdev` would be the way to go here! They pull in a lot of `gnrc` dependencies, that IMHO don't make sense to have in the CAN stack (and that have proven to be sub-optimal at times).

Merging `candev` into `netdev` is however a very good idea (if I remember correctly this was also already subject of discussion in the original CAN PR). I agree f

[2017-07-13 12:18] vincent-d commented on #7294
It runs from the device thread. From my understanding, it's really an equivalent of `gnrc_netreg`.

This router contains a list of registered filters per device. When a frame is received, the `can_router_dispatch_rx_indic()` function is called (through `can_dll_dispatch_rx_frame()` which first allocate the `pkt`) from the device thread. It goes through the list to find which thread(s) subscribed t

[2017-07-13 12:24] haukepetersen commented on #6713
fixed by #7355

[2017-07-13 12:24] vincent-d commented on #7233
I also think this is an issue.

`real_*` functions have this purpose for board and cpu code I guess.

From an application point of view, a RIOT vfs backend with a local directory mounted inside RIOT would be great IMO.

[2017-07-13 12:31] haukepetersen commented on #7294
oh damn, I forgot that the can stack is using the `gnrc_pktbuf` already. Maybe forget my comment above...

[2017-07-13 12:51] smlng commented on #7233
👍 certainly!!

[2017-07-13 18:05] geith opened #7358 "Generic Watchdog Timer (WDT) API"
In my opinion, a hardware watchdog timer is an essential feature for embedded systems. To make use of this, RIOT should support this feature with a generic API. A challenge on this is the differing behavior of individual hardware implementations, especially the WDT timing.

I wrote an experimental implementation for the cc2538 and tried to generalize the API ([cc2538-wdt][cc2538_wdt], branch _cc25

[2017-07-13 18:26] gebart commented on #7358
Good initiative!
I have a bunch of bookmarks on my laptop related to using the watchdog in multi-tasking systems that may be relevant background information to read when designing and reviewing this API. I'll try to find them when I am back at my laptop.

[2017-07-13 18:42] photonthunder commented on #7358
Agreed, this would be very nice to have...

[2017-07-13 18:43] gebart commented on #7358
Some initial thoughts:
Windowed watchdog timers should also be supported, and selectable through the api. wdt_init and wdt_init_max could be merged into a single function. As far as I can see, the only difference is the rounding behavior? (Round up to nearest greater than, or round down to nearest less than)
Also, many watchdogs have saveguards on the setting registers which trigger a hardware res

[2017-07-13 18:59] photonthunder commented on #7334
It is a bug, the |= got dropped somehow.  I will get a PR going to add it back in.  The change means that you are running in open loop mode, meaning you are not taking advantage of the external crystal to calibrate the DFLL.

[2017-07-13 19:02] smlng commented on #7334
okay, where was it dropped - was there a PR introducing the regression or already when the CPU got ported for RIOT? Otherwise I'd rather got for your suggested:

[code]

instead of using '|=', the above is consistent with the rest of the code and more explicit.

[2017-07-13 19:05] photonthunder commented on #7334
PR #7130 added the option of using DFLL and in my initial code the |= existed, but at some point it was dropped.  I will push a PR with the one line fix.

[2017-07-13 19:13] Hyungsin commented on #7334
@photonthunder, Cool. Go for it! :)

[2017-07-13 19:13] photonthunder commented on #7334
PR #7359 created, thanks for catching this bug.

[2017-07-13 19:15] Hyungsin commented on #7334
This is closed thanks to PR #7359.

[2017-07-13 19:15] #7334 closed

[2017-07-13 20:04] geith commented on #7358
Generally, I agree about the windowed wathdog timers. But I have no experience with them and my hardware (cc2538) has only a basic watchdog functionality. So, I would depend on additional contribution on this point.

Yes, the only difference between _wdt_init()_ and _wdt_init_max()_ is the round up/down behavior. So, it could be merged into one function with an additional argument (e.g. as enum wi

[2017-07-14 08:28] geith commented on #7358
I was thinking again about the different initialization functions. Now, I would also prefer having only one function with selectable modes like this:

[code]

[2017-07-14 14:32] aabadie commented on #6713
Since #7355 is merged, I close this one.

[2017-07-14 14:32] #6713 closed

[2017-07-14 14:35] geith opened #7365 "scheduler: priority inversion problem"
The RIOT scheduler seems to have no protection against the [priority inversion problem][priority_inversion] where a task of medium priority can prevent the execution a higher prioritized task when that waits for a resource allocated by a low prioritized task. The attached code example demonstrated this behavior.

A common solution for this is a for this is [priority inheritance mechanism][priority

[2017-07-14 15:02] gebart commented on #7365
I understand the statement and I agree that this is a problem.
@geith would you like to create a pull request with your example code in a test application (for example create a new tests/thread_priority_inversion based on tests/thread_basic),  to make it easier for others to check out and see the problem for themselves? I guess it makes sense to keep this program in the repo as a demonstration of

[2017-07-15 13:33] miri64 commented on #7182
@kamejoko80 what board are you using as a node device? What board as a border router?

[2017-07-15 14:23] miri64 commented on #7294
The interface identifier in GNRC is the `pid`. As for handling in other layers: GNRC typically replaces the link-layer-specific header (from what I understand this would be `can_dll`?) with a generic header [`gnrc_netif_hdr`](http://doc.riot-os.org/group__net__gnrc__netif__hdr.html) that contains a `if_pid` for later reference. If that isn't possible for some very specific reason, I think it is al

[2017-07-17 13:38] smlng commented on #7301
@dnahm can you verify this on arduino uno?

[2017-07-19 00:07] jia200x opened #7384 "RFC: Expose OpenThread API via snippets"
OpenThread has API functions to interact with the OT core (functions with ot prefix like otUdpReceive(), otUdpNewMessage(), available in the original OpenThread docs). With the current port of OT in the master branch, it's not possible to directly call these API functions due to concurrency problems, so there's an [ot_call_command](https://github.com/RIOT-OS/RIOT/blob/master/pkg/openthread/contrib

[2017-07-21 14:23] rfuentess opened #7397 "RFC: secure_sock - Integration of (D)TLS stacks for RIOT O.S."
Briefly discussed in the PR #7177, further work for integrating DTLS to RIOT OS must be adhered to RIOT philosophy. And therefore, the  previous PR, although functional, should be upgraded.

---
_**Edited**_: This post was edited to reflect the main critiques (up to July/2017).
[code]
This is the proposition of the first API for handling secure communication with RIOT O.S. This first API is intend

[2017-07-21 20:08] miri64 commented on #7397
Why not reuse names from `sock_tcp`? I'm thinking especially about `sock_dtls_listen[ing]()` and `sock_dtls_s/stop/disconnect/()`. Also: might it make sense to make it the two-object-style we have there as well (`create` to create client, `listen` to create server listening queue)?

[2017-07-21 20:08] miri64 commented on #7397
Might be just a mistake, but why is there no `recv()`?

[2017-07-21 20:36] rfuentess commented on #7397
This is mostly because of the behavior of tinyDTLS. The receptions of UDP packets are processed by a callback which classified them between DTLS records or other things. Once that identifies one DTLS record as a data layer record, will retrieve the upper data and then process it   (by example (By example  [module_dtls:sys/net/gcoap.c#120](https://github.com/rfuentess/RIOT/blob/Module_DTLS/sys/net/

[2017-07-23 20:31] miri64 commented on #7397
Implementation behavior should not dictate the make-up of an API (see emb6 vs lwIP vs GNRC which in their behavior and access strategies are vastly different). The reception callback can be e.g. fill an [`mbox`](http://doc.riot-os.org/group__core__mbox.html) (that is a member of the `sock_dtls` type), that the receive function then empties.

That sounds awfully implementation specific.

[2017-07-24 11:16] biboc commented on #7384
How do you

?

[2017-07-24 11:28] biboc commented on #7384
Ah! I understand now! That's great and this is why as an example you showed how to call a function inside OpenThread thread via ot_exec_job so all functions have made in platform_functions_wrapper are example of function you want user to create, true?

So we could put all functions from platform_functions_wrapper in a separate file in tests/openthread to show some examples on how to call OT functi

[2017-07-24 20:22] jia200x commented on #7384
Exactly ;-)

I think it's a really good idea. Also, each module could have it's own set of OT_JOBS (e.g sock).

I agree!

[2017-07-25 22:41] kYc0o opened #7411 "Error (WERROR=1) while compiling the CBOR module"
While testing some stuff in the mulle platform I notice that the unittests test doesn't compile anymore. This is due to the CBOR module which throws the following error (warning):

[code]

I tried several methods to make it disappear without success.

Besides, the CBOR test (not unittest) has now a stack overflow probably due to #7230 but I still need to verify.

[2017-07-26 07:05] miri64 commented on #7411
I tried

[code]

and did not encounter any errors. Which toolchain are you using?

[2017-07-26 07:05] miri64 commented on #7411
Alternatively, use `git bisect` to determine the last working commit.

[2017-07-26 10:43] kYc0o commented on #7411
For the cbor test I get this:

[code]

For the unittests I get exactly the same.

I also got the same error with gcc 5.2 (I updated it because I thought that was the problem).

[2017-07-26 11:45] miri64 commented on #7411
Mh I don't get that error with `tests/cbor` either.

[code]

[2017-07-26 11:54] kYc0o commented on #7411
Should we blame my libc version then? I thought it came with the toolchain...

[2017-07-26 11:56] miri64 commented on #7411
I guess so.

[2017-07-26 12:32] gebart commented on #7411
I saw something similar the other day in another situation. I can try it with my toolchain when I am back at my PC.

[2017-07-26 17:21] travisgriggs opened #7418 "Buffered printf()"
I would like our printfs to run in the background, or rather the feeding of them out the serial port. Is there a general recipe for how to accomplish this in the RIOT framework?

[2017-07-27 06:49] gebart commented on #7411
cbor.c is missing a block
[code]

Not sure that is the proper fix though, there might be a missing `#define _DEFAULT_SOURCE` as well

[2017-07-27 06:54] gebart commented on #7418
If you still want the messages to be printed on the UART you will need to modify the UART driver for your CPU to use interrupts or DMA and it will probably need an extra internal buffer to keep while the UART is working.

[2017-07-27 07:11] miri64 commented on #7411
I just noticed, that there is another issue (#7287) that is referring to this error.

[2017-07-27 07:13] gebart commented on #7287
Another solution would be to disable the cbor_ctime module for atmega

[2017-07-27 11:43] roberthartung opened #7422 "Provide a generic way for PRR in atmega_common instead of MEGA_PRR"
The `atmega1284p` (and probably others too) has more than one PRR register (from the avr libs I can tell that there are up to three: PRR0, PRR1, PRR2). At the moment there is only a single PRR register (MEGA_PRR) used / implemented.

Instead I suggest using `avr/power.h` that wraps all of this nicely!

[2017-07-29 08:39] kamejoko80 commented on #7182
Hello miri64,

I'm using nucleo32-l432 for both node and border router. I see there are TAP and SLIP on the wiki guideline page, TAP doesn't work but SLIP is working properly for me.

Thank you very much

[2017-07-29 16:43] roberthartung commented on #7358
You are missing an option for interrupt mode. E.g. on atmega platforms you can use the WDT in low power modes.

[2017-07-30 09:24] roberthartung commented on #7300
@kaspar030 I had a nice discussion with @OlegHahm and @haukepetersen - Let's have a chat / call soon to discuss our solutions and requirements?

[2017-07-31 07:24] holasm opened #7430 "Explain how _snd_rcv works."
I am trying to understand the flow of packets.
I came across the functions `_snd_rcv(...)` in *sys/net/gnrc/netapi/gnrc_netapi.c*.

Can anyone explain how the function works.
Specially what is `sendto->target.pid`

thanks

[2017-07-31 07:51] rfuentess commented on #7397
I did a makeover based on the main critiques, including using again the term "secure_sock" instead of "dtls_sock" and the use of a second API.

In this propose, the` secure_sock` API is for the users and applications, this API tries to mimic standard socks functions (`create`, `send`, `receive`) for making easy the steps for adding this module to current applications (like gcoap). It's important t

[2017-07-31 08:07] miri64 commented on #7430
Hello @holasm, welcome to RIOT.

First of all, you have to understand, that the GNRC network stack has a multithreaded design and consists of one thread per each module (that's why they are addressed by PID). Thus, the difference between receive and send from a packet's perspective is just, if it moves up (receive) or down (send) the network stack. This is why both NETAPI commands / messages can b

[2017-07-31 08:31] geith commented on #7358
I was already considering an optional interrupt callback (see below), but I'm not sure about the callback behavior. In my opinion, it should only be used for emergency actions (e.g. storing some data) before the system is reset by the WDT. The possible behavior may depend on the system implementation and the API should define a general functionality which fits to most systems (in case of the cc253

[2017-07-31 08:38] roberthartung commented on #7358
@geith xtimer relies on regular timers and is therefore currently **not** usable for waking you up! Additionally, the timers on some atmega platforms require an external oscillator for wakeup from deep sleep modes, but the WDT can do this without, in case these are not present.
For the atmega1284p the WDTI is explicitely listed as a wakeup source. Therefore I would really vote for a generic soluti

[2017-07-31 11:49] geith commented on #7358
@roberthartung:
I'm not aware of the details, but to my understanding the power management including low power operation is something that is being worked on (e.g. #6802). I also understand your "... **currently not** usable for waking you up..." in the same way. So, this is something that could be expected in future. Therefore, I would see the WDT for this only as a kind of workaround...
Even if

[2017-07-31 12:01] roberthartung commented on #7358
@geith Currently I am probably the one that is most responsible for the low power management and I am working on creating the pull requests at the moment :-)

Writing a new timer will take a longer time and for the PM I already "hacked" in a RTT implementation that is based on the WDT (because of these problems), this is ugly and a general WDT api with wakeup capability would satisfy the needs her

[2017-07-31 12:10] geith commented on #7358
@roberthartung Okay, I will integrate the API update into my pull request (#7374). But I can't test this functionality on my development platform (cc2538 based). So, I will keep the test program as it currently is and it could be extended later.

[2017-07-31 13:20] haukepetersen commented on #7365
Thanks for pointing this out, this is indeed a known problem. As you also stated, RIOT does so far move this problem onto the application developers, offering no means of protection against priority inversion inside the core/scheduler.

I agree with @gebart here: how about we add the code you provided as a test application (maybe adding some documentation that this test will always fail using RIOT

[2017-07-31 15:24] roberthartung opened #7431 "Order of FEATURE_PROVIDED and Makefile.features"
The `sam3` cpu is not declaring `FEATURES_PROVIDED += periph_pm`, but `cc2538` does. However, both depend on `cpu/cortexm_common` which also defines periph_pm as a provided feature and actually implements it in `cpu/cortexm_common/periph/pm.c`.

Unfortunately when I build `examples/hello-world/` the order of modules is a little bit different:

```boards/cc2538dk -> core -> cpu/cc2538 -> cpu/2538/p

[2017-08-02 04:19] holasm commented on #7430
So the while(1) loop keeps spinning for new message to be available at `&msg` and it sens or receives accordingly. Could me tell me where the `sendto->target.pid` is assigned.

[2017-08-02 08:35] miri64 commented on #7430
A callee of [`gnrc_netreg_register()`](http://doc.riot-os.org/group__net__gnrc__netreg.html#gafb6a9d0b840aae07c3c1617932835ef1) is supposed to set it, before calling that function. In most cases this is done by using the [`gnrc_netreg_entry_init_pid()`](http://doc.riot-os.org/group__net__gnrc__netreg.html#ga806d3268f56159bb73fcbfcc92c5cd2f) helper function or static [`GNRC_NETREG_ENTRY_INIT_PID()`

[2017-08-02 08:36] miri64 commented on #7430
(with that said, I see that the doc is somewhat outdated at this point. Will fix)

[2017-08-02 08:40] miri64 commented on #7430
For `sock_udp` e.g. however, this is using `sendto->target.mbox`, by the way.

[2017-08-02 08:48] miri64 commented on #7430
See https://github.com/RIOT-OS/RIOT/pull/7438

[2017-08-02 11:39] kaspar030 commented on #7397
@rfuentess maybe we need to go back two steps, with this API.

I think it would look fundamently different if sock would have

1. asynchronous operations
2. generic read/write (```sock_read((sock_t*)sock_udp)``` vs. ```sock_udp_read(sock_udp)```)
3. scatter/gather operations

All of them are not trivial, but would tremendously simplify what you're trying to stack on top here.

[2017-08-02 13:56] bergzand commented on #6888
Finally some time to work on this again.

Your suggestion sounds better than adding extra void pointers to the callback :)
I'll see if I can extend the netopts and add this functionality in #6873.

[2017-08-03 02:30] Joe-sae commented on #6043
I have install RIOT and openocd followed wed size https://github.com/RIOT-OS/RIOT/wiki/OpenOCD and https://github.com/RIOT-OS/RIOT/wiki.
anything is OK.
But it is fail to make flash after I connect ST-LINK with STM32 broad,.
it shows that  Error: corrupted fifo read pointer 0xe7fee7fe.
could you give me some help ?

----------------------------------------------
next information is catching in Ubu

[2017-08-03 02:51] Joe-sae opened #7440 "problem about downloading RIOT into STM32F103ZE broad with ST-LINK by openocd"
I have install RIOT and openocd followed wed size https://github.com/RIOT-OS/RIOT/wiki/OpenOCD and https://github.com/RIOT-OS/RIOT/wiki.
 anything is OK.
 But it is fail to make flash after I connect ST-LINK with STM32 broad,.
 it shows that Error: corrupted fifo read pointer 0xe7fee7fe.
 could you give me some help ?

next information is catching in Ubuntu.

$ make flash
 Building application "te

[2017-08-03 11:51] haukepetersen commented on #7365
I gave this some more thought and started to play around a little bit with mutexes, using the example above as 'benchmark' -> see https://github.com/haukepetersen/RIOT/tree/add_core_prioinheritance

I thought that there might be an easy solution to integrate priority inheritance into the mutex code, but as I found out, it seems not that easy. The problem I currently look it is caused by mutexes be

[2017-08-03 19:22] travisgriggs commented on #7418
Thanks @gebart.

[2017-08-04 08:12] kaspar030 commented on #7418
A simple way would be to create a thread reading from an isrpipe writing to uart, then modifying the newlib write() implementation to write to that isrpipe. The isrpipe would double as buffer. The cost would be an additional thread stack and the buffer, and still, as uart writes are synchronous, after the buffer is full, printf's would block. Might still be useful for debugging.

[2017-08-04 08:35] roberthartung commented on #7431
Makefile.features will be automatically included via `makefiles/feaures.inc.mk`. However, if a CPU uses a common CPU that provides features, no Makefile.features can be provided. The actual CPU always has to define FEATURES_PROVIDED variable.

A special case is the following:

The arduino-due board with the sam3 CPU is using the cortexm_common. The cortexm_common CPU has a pm.c and should therefor

[2017-08-04 08:36] roberthartung commented on #7431
@kaspar030 Maybe your solution for submodules for periph modules might solve this whatsoever!

[2017-08-04 09:08] kaspar030 commented on #7431
You mean like in #7441?

[2017-08-04 09:11] roberthartung commented on #7431
Oh, I wasn't aware of that one, I will try that one first. I was more referring to #7241

[2017-08-04 09:13] roberthartung commented on #7431
@kaspar030 Oh I see, it's brand new :-D I am currently working on the same issue ... sort of, but with a slightly different approach (just removing weak for now and try to use IFDEF/IFNDEF, let's see how messy it gets!)

[2017-08-04 09:14] roberthartung commented on #7431
See also: https://github.com/roberthartung/RIOT/commits/hartung/pm/remove-weak

[2017-08-04 10:01] haukepetersen commented on #7365
@geith: While I was looking into this, I PRed an adapted version of your test application: #7444

[2017-08-04 10:29] bergzand commented on #7365
Does a thread have a list of all acquired locks? If so, the priority could be reset to the highest lending priority among locked mutexes. The original thread priority would only have to be registered with the thread.

[2017-08-04 10:39] haukepetersen commented on #7365
nope, that information is not available. But I think I found another way, PR will follow in the next hours...

[2017-08-04 11:24] kaspar030 commented on #7365
Do we have any non-theoretical, real world problem here? Pathfinder was launched twenty years ago.

IMO this only gets "solved" (e.g., by priority inversion), because it is actually doable compared to preventing all deadlocks. Why do we solve this (programming error) compared to "thread A locks mutex1, thread B locks mutex2, then A locks mutex 2, then B locks mutex 1 -> classical deadlock"?
Any so

[2017-08-04 11:33] haukepetersen commented on #7365
But that doesn't mean, that programming errors like that are not made anymore... And why not give the developer something to his/her hand to make an application potentially more error proof?!

That's for sure! But adding some priority inversion prevention as an optional module would not hurt, right?!

[2017-08-04 11:44] kaspar030 commented on #7365
Having it not only does not hurt, but would be nice. I'm just asking myself if we're solving a problem that noone actually encountered in the wild. So why invest time? (unless it's fun! :) )

[2017-08-04 11:59] haukepetersen commented on #7365
actually I believe this is encountered quite a bit in the wild and is not something that was a problem only 100 years ago. I think the reason one does not hear about this very often anymore, is that all major real-time OSes do have priority inversion prevention integrated by default/as module... (-> see freertos, zephyr, mynewt, ...).

[2017-08-04 12:00] bergzand commented on #7365
I've always been taught priority inheritance as a way to minimize blocking time of higher priority tasks for better real time guarantees.

[2017-08-04 12:08] kaspar030 commented on #7365
Well, I don't. :) Any references to this being a real problem?

True that.

Alright, didn't want to discourage fixing this, carry on guys!

[2017-08-04 12:08] haukepetersen commented on #7365
Fixed it, just preparing the PR...

[2017-08-04 12:53] haukepetersen commented on #7365
done #7445

[2017-08-04 15:06] holasm commented on #7430
Thanks @miri64.

[2017-08-04 15:06] #7430 closed

[2017-08-06 11:02] bergzand opened #7446 "RFC: Circular log buffer"
While testing something out, I got a bit annoyed by `uhcpc` spewing log messages directly in my serial console 😞.
I was thinking that on nodes with a bit of ram to spare, a circular log buffer would be a valuable addition. a KB of ram dedicated to log messages, set up as a circular log buffer. This could then be read out by a shell command or even over CoAP in environments where there is no shell

[2017-08-06 11:08] gebart commented on #7446
Kind of like syslog with logrotate on Linux? I like this idea, especially being blue to read the log through coap or even through the debugger when trying to fix UART issues :+1:

[2017-08-07 15:40] travisgriggs commented on #7418
Regarding "... then modifying the newlib write() implementation to write to..." I've never done that before, can you give a pointer on how one does that? From what little I can glean from Google, newlib is the version of libc used for RIOT?

[2017-08-07 20:58] maitysubhasis opened #7458 "Test driver_enc28j60 not running on mopenmote-cc2538"
After flashing the `tests_driver_enc24j600.bin` I can't execute any command over serial port `/dev/ttyUSB0`.
In case of provided examples the code runs fine. What may be the reason ?

[2017-08-07 22:50] maitysubhasis opened #7459 "What is the map of the pins from ENC28J60 to openmote-cc2538?"

[2017-08-08 13:03] gebart commented on #7418
@travisgriggs the interface between newlib and RIOT are called syscalls, and are implemented in https://github.com/RIOT-OS/RIOT/blob/master/sys/newlib_syscalls_default/syscalls.c (Also note that there are two implementations of the file-related syscalls, one with the vfs module and one without it, which one you are using depends on whether you have USEMODULE+=vfs in your application, or not)

[2017-08-08 20:16] bergzand commented on #7446
Yes, the linux kernel log (dmesg) might be the better analogy, but the idea is clear.

I also think that if this project is going to support [slipmux](https://datatracker.ietf.org/doc/html/draft-bormann-t2trg-slipmux), this might be the way to do the message logging.

[2017-08-11 07:54] soleilos commented on #6629
When I flash the Hello-world example on  NUCLEO-F767ZI, I receive the following flashing error:

/home/vagrant/RIOT/boards/nucleo144-f767/dist/openocd.cfg:5: Error: Can't find target/stm32f7x.cfg
in procedure 'script'
at file "embedded:startup.tcl", line 60
at file "/home/vagrant/RIOT/boards/nucleo144-f767/dist/openocd.cfg", line 5
/home/vagrant/RIOT/examples/hello-world/../../Makefile.include:368

[2017-08-11 07:55] gebart commented on #6629
@soleilos most likely you need to update your OpenOCD version. It looks like your version is too old to support the stm32f7 CPUs.

[2017-08-11 13:20] soleilos commented on #6629
@gebart Thank you, I updated it to openocd 0.10.0 and could flash it as well.

The new issue is that nothing is displayed on the terminal for a simple hello-world or riot_and_cpp examples, PyTerm:

Done flashing
/home/vagrant/RIOT/dist/tools/pyterm/pyterm -p "/dev/ttyACM0" -b "115200"
No handlers could be found for logger "root"
2017-08-11 12:38:38,573 - INFO # Connect to serial port /dev/ttyACM0

[2017-08-11 15:01] rfuentess commented on #7397
@kaspar030, I have been thinking about the feasibility of turning all the current `sock` types into a single one.  It's not in conflict with the original designs of having different types? [[1](https://riot-os.org/api/group__net__sock.html)].

However, one approach that we can take for testing can be generate a simple module for Asynchronous I/O SOCK (AIO_SOCK) which can try to use a generic sock

[2017-08-12 00:43] jia200x commented on #7440
I have had this kind of issues when using passive USB hubs. Have you tried to connect the board straight to the computer's USB port?

[2017-08-12 01:14] jia200x commented on #6331
I'm still seeing the issue in samr21.

[2017-08-13 16:12] jnohlgard opened #7474 "6lo gnrc fragmentation expects driver to block on TX"
The 6lowpan fragmentation code in gnrc doesn't work when a driver returns an error code if the device is already busy transmitting another packet, instead of blocking the driver thread. This is the case for kw2xrf (#4822) and kw41zrf.
The at86rf2xx driver works with gnrc, but it uses a busy wait until the device reports that it is idle, wasting CPU cycles on doing nothing but reading the spi bus o

[2017-08-13 16:47] miri64 commented on #7474
We most definitely need to find a solution that is independent of the stack above. I think the most ideal would be to do proper state handling where `TX_COMPLETE` signals the complete and acknowledged transmission and that would be the signal to the network interface that the fragment was delivered and the next packet can be send (i.e. the interface thread shouldn't handle any NETAPI messages, unt

[2017-08-13 19:59] gebart commented on #7474
@miri64 that sounds like the best solution, long term. Do you have any plans on working in this in the near future, or is this only an idea for future improvements?

[2017-08-14 06:24] miri64 commented on #7474
No plans yet, just an idea.

[2017-08-14 06:27] miri64 commented on #7474
Another thing to consider is that an interface thread can deadspin due to the events and NETAPI messages going to the same queue in GNRC (NETAPI messages would just be returned to the queue in case of TX_COMPLETE not executed yet => would hog the queue => NETDEV_EVENT_ISR messages can't come in)

[2017-08-15 19:31] gebart commented on #6331
@jia200x you should look up the manual for your CPU if it has the same behaviour as Kinetis. On those devices, the alarm interrupt is triggered when the seconds register is equal to the alarm register, and the seconds register increments. Which means that reading the current time after the alarm has triggered would show that the time is one second past the alarm.
What we expected, and I would gues

[2017-08-16 16:21] R1oT01 commented on #6379
@kaspar030 PING. Any ideas yet?

[2017-08-17 12:51] miri64 commented on #7474
Wait... I thought about this a bit more. Is "being busy" meant to wait for an ACK or actually sending? If it is the first: this shouldn't be a problem since the ACK contains a sequence number. If it is the latter: I'm also not sure what the problem with locking a mutex until done is.

[2017-08-17 14:32] gebart commented on #7474
@miri64 busy means either transmitting a packet, or waiting for the RxAck, or in the process of receiving the Ack packet.

I solved it for kw41zrf by using a mutex, see https://github.com/RIOT-OS/RIOT/pull/7107/files#diff-463bd50a4a529968ce504e2f13f66b2cR175. This is probably the best solution for the system as a whole, the CPU is freed and can do other things while the transceiver is transmitting

[2017-08-17 15:35] miri64 commented on #7474
Ok so can we close this issue (and maybe open a fix/issue to fix the at86rf2xx in that regard?)

[2017-08-17 16:06] gebart commented on #7474
I still think that the documentation for netdev needs to be improved to clarify that the send method should be blocking.

[2017-08-21 08:14] haukepetersen commented on #7123
As explicit reference: we should watch the outcome of #7477 to make sure there is no redundant work done when implementing this interface...

[2017-08-22 09:22] gebart opened #7493 "riot-os.org: missing hardware"
The list of supported platforms on the website should be expanded (http://riot-os.org/#usage)

- Cortex-M7 missing from the list of architectures (and Cortex-M0+ if that counts as separate from Cortex-M0)
- Lots of device drivers and boards are missing from the lists

It might be easier to just add links with the text "and more..." or similar that points to the boards and drivers directories on Gi

[2017-08-22 09:29] gebart opened #7494 "Doxygen: Search box missing in mobile browsers/small screens"
I can't get the search box found in the top right corner of the Doxygen documentation to show up if I open http://riot-os.org/api/ on my phone, even when checking "Request desktop site" in the site settings.
It seems like the cause may be that the screen is too narrow to fit everything on one line. The same symptom shows on the computer if I shrink my web browser window to approximately half the s

[2017-08-22 09:51] miri64 commented on #7494
It's not a bug, it's a feature. The search results (they are created by doxygen-imported javascript) look insufferably unresponsive and not really suitable for mobile (believe me it isn't very user friendly), so I decided to remove it altogether, until doxygen gets a more responsive design by default.

[2017-08-22 10:10] gebart commented on #7494
It is incredibly annoying to not be able to search for something on the mobile, especially when looking for the docs on one particular function without knowing under which module it is located. The only other option is to use a custom Google query to find the correct subpage for the function or typedef I am looking for, which takes a lot more effort than waiting for a slow javascript for a few sec

[2017-08-22 11:03] miri64 commented on #7494
I know... but until it is fixed in doxygen, there is no way to do it otherwise :-(.

[2017-08-23 12:33] gebart opened #7503 "gnrc: is it possible to pass flags/extra info between layers?"
Is it possible to pass extra information about a packet from the 6lowpan layer to the link layer for setting link layer protocol bits depending on the content?

For radio duty cycling MAC layers it is useful to be able to pass information from the higher layers (e.g 6lowpan) to the link layer whether the packet is part of a stream or burst of multiple packets, or if it is the last one. For example

[2017-08-23 12:48] miri64 commented on #7503
Most (if not all) of this information is in the [6LoWPAN frame](https://tools.ietf.org/html/rfc4944#section-5.3) and need not be specially encoded by some GNRC mechanism.

* Packet is a fragment? Yes, if packet start with bits 11000 or 11100
* Packet is part of a specific collection of fragments (is that what you mean with burst or stream?): Packets share the same datagram tag
* Packet is the last

[2017-08-23 12:51] miri64 commented on #7503
Oh, you might need to parse the packet in case [Mesh Headers precede the fragmentation header](https://tools.ietf.org/html/rfc4944#section-5)

[2017-08-23 13:06] gebart commented on #7503
I was hoping that the link layer would not have to know the format of 6lowpan frames, to keep the mac layer independent of what is running on top of it.
It feels kind of redundant to have one thread encode the network header with all the compression magic and extra headers, and then have the next layer decompress it and parse it all, just to set a single bit in the link layer header. Wasteful of r

[2017-08-23 13:14] miri64 commented on #7503
There are the [flags in `gnrc_netif_hdr_t`](http://doc.riot-os.org/structgnrc__netif__hdr__t.html#abbf718ba7223770b72eb8fbd39dd85f6) that can be used for that. But there is also some work regarding this for the UDP checksum compression in Hamburg (sorry forgot who is doing the work, @PeterKietzmann can you say?). So there needs to be some consolidation done before randomly choosing flags ;-).

[2017-08-23 13:44] R1oT01 commented on #6379
Ok, I tested some things, but still no output in terminal.
I flashed the SoftDevice.hex and microcoap-server manually with JLinkExe and nrfjprog command line tool, but still didn't work. I try to debug, but couldn't connect with the Segger JLink Debugger Device to the board. I tried to search the code for inconsistancies, but was overwhelmed by the amount of code to look into. Still have no clue w

[2017-08-24 16:09] #5489 closed

[2017-08-25 08:10] haukepetersen opened #7513 "core/debug.h: stack size check for DEBUG_PRINT outdated?"
The current check for stacksize in the `DEBUG_PRINT` macro in `debug.h` is mostly rather annoying. The `Cannot debug ...` message pops up on most platforms, when trying to print DEBUG messages in interrupt context. Potentially this is not needed anymore (since we are using the newlib nano specs)?!

Also, the fallback to outputting a fairly long string using `puts` instead seems quite questionable

[2017-08-25 08:13] gebart commented on #7503
I will try to do a proof of concept with netif flags

[2017-08-25 09:14] gebart commented on #7513
I would not mind getting rid of this check. I have seen this as well.

The memory usage depends on the format string, so it is hard to calculate a suitable limit. The nano printf still uses a lot of stack space because of a very deep call chain until it reaches write(). That said, I still think the check might be a bit on the conservative side regarding the memory limit.

[2017-08-28 07:00] gebart commented on #6887
I think it is a good idea to let the drivers do the conversion on a best effort basis. At least for most 802.15.4 radios it will be possible to get dBm readings.
As for the value range, why not just increase the width to `int16_t`? It's only one byte more for a single variable, the application is likely not going to keep thousands of RSSI values around, even the spectrum scanner in https://github.

[2017-08-28 07:56] roberthartung commented on #7422
This will be fixed once we finished the pm module. I already fixed this for `atmega_common`.

[2017-08-28 08:34] haukepetersen opened #7519 "drivers: unify default parameter definition scheme"
Looking at the existing scheme we use when defining a device's default parameters, there seem to be a slight variation of styles used -> comment style for default values, `xx_CUSTOM` vs. `xx_BOARD` vs. `xx_DEFAULT`...

Furthermore, we have a source of error in all of them: in case there is more than one device defined by a board (-> `xx_BOARD` has more than one entry), the SAUL reg info field has

[2017-08-28 08:43] smlng commented on #7519
You're right regarding the inconsistent naming (and usage), which should be adapted. However, I always thought it would (and should be possible) to have multiple devices of the same kind, i.e., there is an onboard sensor and I want to attach a second sensor of the same kind. Hence, it would be

[code]

Though, I'm unsure if that's even possible, i.e., this would require specific address config for

[2017-08-28 12:58] haukepetersen commented on #7519
Yes, it is (and should be) possible to define more than one device of a type. Using the style I proposed above, you would simply do the following in e.g. your `board.h`:
[code]

But now that I look at this, we could maybe pull the arrays outer parenthesis into the define, to make it better readable:
[code]

[2017-08-28 13:02] smlng commented on #7519
But having the complete array in `DEVX_PARAMS` plus having that in `board.h` has the drawback, that I have to change `board.h` instead of just providing `DEVX_PARAM_CUSTOM` with my application code (`app/include/devx_params.h`); while still having `DEVX_PARAMS_BOARD`.

[2017-08-28 13:08] haukepetersen commented on #7519
No, you can still override the whole file by supplying a `devx_params.h` file with your application (or your board). The way you can customize the configuration (as stated [here](https://github.com/RIOT-OS/RIOT/wiki/Guide:-Writing-a-device-driver-in-RIOT#default-device-configuration)) does not change.

[2017-08-28 13:16] smlng commented on #7519
I think we are not on the same page (yet)? I know that I can override the config by shipping `devx_params.h` and/or override some stuff by setting certain params via `CFLAGS`.

However, my suggestions was to specify the array as:

[code]

with that I can have a board specific config (for an onboard device) **and/or** a custom application config for an *additional* device of the same kind - or even

[2017-08-28 13:23] haukepetersen commented on #5103
Just checked, the issue at hand does still exist.

[2017-08-28 13:52] haukepetersen commented on #7519
Ah, now I see. I think this scenario is quite rare (though not unrealistic) and for such a case I think defining a custom `xx_params.h` file in the application and adding the board specific configuration to it would be the way to go.

The suggestion you proposed above has IMHO some disadvantages:
- the default configuration (defined in `DEVX_PARAMS_CUSTOM` -> maps to `DEVX_PARAMS` in my suggestion

[2017-08-28 13:56] smlng commented on #7519
[code]

yeah, that's better!

[2017-08-28 14:26] bergzand commented on #6887
@gebart You're probably right with that assumption. The only reason I have to define it as a `uint8_t` is because it (should) fit.

[2017-08-28 15:14] haukepetersen commented on #7519
Ok, so this would lead to the template I first suggested on top, do you agree?

[2017-08-28 15:18] smlng commented on #7519
well, yes ... but, now I'm convinced, too 😄

[2017-08-28 17:54] dylad commented on #6904
#6932 fixes this issue so I'm closing it.

[2017-08-28 17:54] #6904 closed

[2017-08-29 07:18] gebart commented on #7519
I agree that it would be good to do some clean up in the driver params code, but I dislike introducing a lot of new preprocessor defines. I have seen in our existing tree how old defines remain in the header files even though the driver using them has been refactored to use a different configuration. Putting the configuration directly in the struct definitions lead to compilation errors if the dri

[2017-08-29 07:56] haukepetersen commented on #7519
I agree with @gebart, that the macro base device configuration is not perfect. But on the other hand, this is the only working and configurable solution that we have found so far.

So I would maybe split this in to phases:
1: we unify the params files we have so far using the style proposed above by keeping the existing concept
2: we think about alternative concepts and switch over when/if we find

[2017-08-29 15:53] #6022 closed

[2017-08-29 19:28] kaspar030 commented on #6241
I'll close as the examples have been removed.

[2017-08-29 19:28] #6241 closed

[2017-08-29 19:29] kaspar030 commented on #5774
Yep, the problematic file is still excluded from LTO.

[2017-08-30 08:04] smlng commented on #6650
will be resolved with #7517 and finally #7320

[2017-08-30 09:56] smlng commented on #7458
@holasm I guess you'll need to adapt some pin configuration in the [Makefile](https://github.com/RIOT-OS/RIOT/blob/master/tests/driver_encx24j600/Makefile#L34) of that test, because the default config uses GPIOs PA0 for CS and PA1 for INT (interrupt). These map to the UART RX and TX pins, which is used by the shell and as they are overridden (or redirected) to the ethernet shield the serial isn't

[2017-08-30 10:00] smlng commented on #7459
@holasm the ENC28J60 has an SPI interface, try the following:

- connect SI of ENC28J60 to MOSI pin (DIO6) of the OpenMote
- connect SO of ENC28J60 to MISO pin (DIO5)
- connect SCK of ENC28J60 to SCK (DIO4)
- connect CS of ENC28J60 to CS (DIO7)

problem is I haven't found proper documentation of the pinout map for the open mote (yet) so I'm unsure how to connect and configure RESET and INT pins ri

[2017-08-30 19:39] gebart opened #7543 "core: thread_flags: THREAD_FLAG_MUTEX_UNLOCKED, THREAD_FLAG_TIMEOUT are not used"
Follow up to #7533. I found that there are two other predefined constants which are not used in the tree.

- `THREAD_FLAG_MUTEX_UNLOCKED`
- `THREAD_FLAG_TIMEOUT`

I think the constants may be intended for `xtimer_msg_timeout`, which mentions core_thread_flags in the documentation, but does not in fact use thread flags for the implementation.

[2017-08-30 19:46] smlng commented on #5361
closing, resolved by #7335 and followups

[2017-08-30 19:46] #5361 closed

[2017-08-30 19:50] smlng commented on #5103
cannot confirm behaviour on cc2650stk, I created a [gist](https://gist.github.com/smlng/9cdad410c899f7e55c1ee5723209f260) with the output of `tests/xtimer_drift` over the first 1000s. The only curious thing is that instead of having 1s between each output it falls short by roughly 6ms (994ms instead of 1000ms) between each print out. As the low level periph timer is running at 1MHz it cannot be so

[2017-08-30 23:06] kaspar030 opened #7546 "samr21-xpro uart broken in master"
#7260 seems to have broken uart output on my samr21-xpro... does anyone else see this?

[2017-08-31 07:26] haukepetersen commented on #7546
I confirm it to be broken -  weird, tested it yesterday on the sam with #7260... Will look into this now.

[2017-08-31 08:07] dylad commented on #7546
Sorry, Seems to be my fault. I should buy a samd21 based board in a near future to avoid this kind of thing.

[2017-08-31 08:11] haukepetersen commented on #7546
no problem, also my fault as I seem to have messed up when testing...

[2017-08-31 09:21] lebrush commented on #7035
It might be relevant for this: we ran into priority inversion issues with lwIP, this is something that will have to be tackled at some point in RIOT :-(

[2017-08-31 10:06] #7546 closed

[2017-09-01 22:06] kaspar030 commented on #7543
#7558 implements a simple timeout function using THREAD_FLAG_TIMEOUT, which I think will be used in many timeout variants of existing functions.

When adding THREAD_FLAG_MUTEX_UNLOCKED, I thought it might be useful to wait for multiple mutexes at the same time. IMO supporting this would mess up the mutex code, so I propose to remove the define.

[2017-09-04 10:11] cgundogan opened #7560 "iotlab-m3: shell not working"
When I flash an `iotlab-m3` ~~or `samr21-xpro`~~ board with `gnrc_networking` on current master, then I get no shell output. Flashing succeeds. `git log` indicates that there was some movement for cortex related code, but I haven't got the time to look further into in currently.

[code]

EDIT: The `samr21-xpro` works as expected. However, the `iotlab-m3` has no shell output.

[2017-09-04 10:24] smlng commented on #7560
cannot confirm that issue: tested with board samr21-xpro, pba-d-01-kw2x (aka PhyNode), and remote-revb on macOS with compiler:

[code]

[2017-09-04 11:20] PeterKietzmann commented on #7560
Can confirm iotlab-m3 nodes are silent after flashing. samr21-xpro works as usual -for me. I'm using a rather old compiler `arm-none-eabi-gcc  4.9.3`

[2017-09-04 11:21] cgundogan commented on #7560
@smlng you were right, the samr21-xpro works as expected. Wanna visit us downside and try with an iotlab-m3 node?

[2017-09-04 11:29] cgundogan commented on #7560
BTW with `git checkout master@{one week ago}` the shell works like charm.

[2017-09-04 11:33] aabadie commented on #7560
Bisecting can help

[2017-09-04 11:57] miri64 commented on #7035
Like #7461 e.g.?

[2017-09-04 12:15] smlng commented on #7560
can confirm: samr21-xpro working, iotlab-m3 is not -> again macOS with gcc-6.3, as commented above

[2017-09-04 12:25] smlng commented on #7560
bisected and got:

[code]

[2017-09-04 12:31] soleilos commented on #7560
Tried gnc_networking in Board Nucleo F429 and the `ifconfig` also shows nothing on the shell. Is this related to this shell issue or?

[2017-09-04 12:38] aabadie commented on #7560
#7561 proposes a fix. Thanks @smlng for pointing to the commit that introduced this issue.

[2017-09-04 12:45] smlng commented on #7560
I don't have problem with `nucleo-f411` so it might be related to f1 only? @Tenderson but you get a shell, just the `ifconfig` command isn't showing anything? I suppose that's normal if no netdev is available.

[2017-09-04 13:06] Tenderson commented on #7560
Thanks @smlng, gnrc_networking example works native very well. I need the IP address on the Nucleo board in this example.

I followed [task 7.3](https://github.com/RIOT-OS/Tutorials/tree/master/task-07) with no success so far. After starting the udp server, I get no info from the ifconfig! Any thoughts is highly appreciated.

How can I enable netdev?

[2017-09-04 13:27] Tenderson opened #7562 "GNRC_Networking example: ifconfig does not work!"
The gnrc_networking example works native very well. I need to setup a network of Nucleo boards.

I followed [task 7.3](https://github.com/RIOT-OS/Tutorials/tree/master/task-07) with no success so far on a specific board. After starting the udp server, I get no info from the `ifconfig`! Any thoughts is highly appreciated. The example Readme says:

Is there any guide on how to setup a network of rea

[2017-09-04 13:29] aabadie commented on #7562
What kind if Nucleo boards are you using ? (Nucleo F429 with ethernet port ?)

[2017-09-04 13:32] smlng commented on #7562
did you before starting the server?

[2017-09-04 13:33] smlng commented on #7562
nice one @aabadie 😉

[2017-09-04 13:44] Tenderson commented on #7562
Thank you, Im using the Nucleo144- f429. Here is the log info:

Done flashing
/home/vagrant/RIOT/dist/tools/pyterm/pyterm -p "/dev/ttyACM0" -b "115200"
No handlers could be found for logger "root"
2017-09-04 13:42:59,079 - INFO # Connect to serial port /dev/ttyACM0
Welcome to pyterm!
Type '/exit' to exit.
help
2017-09-04 13:43:04,434 - INFO # help
2017-09-04 13:43:04,436 - INFO # Command

[2017-09-04 13:50] miri64 commented on #6668
Yes of course. But currently it isn't clear, what `USEPKG` is supposed to do and what `USEMODULE` is supposed to do in this context.

To stick with this comparison: Regardless of its source, in the end you end up with a (local) `.pkg.tar.xz` file which you then install with `pacman` (which in my opinion would be comparible with the semantics of `USEMODULE`). `USEPKG` on the other hand is comparabl

[2017-09-04 13:52] aabadie commented on #7562
I just flashed  `gnrc_networking` (latest master) on that board and have the expected behavior: `ifconfig` returns nothing, networking commands does nothing. This is normal since there's no support (yet) for the Ethernet port on this board.

There's a PR [here](#5643) that adds support for the STM32F4 Ethernet driver. With some effort it should be possible to have the networking commands work.

Ar

[2017-09-04 14:01] Tenderson commented on #7562
Could you tell me where it is pointed that the board does not support Ethernet port?

The Link is not valid. I appreciate if you also let me know which ST Nucleo board supports the Ethernet module?

I am new to this and need to learn how this networking work.

[2017-09-04 14:20] aabadie commented on #7562
For the nucleo boards with an Ethernet port (some of the nucleo 144 boards, f207, f429 and f746 are 2 of them), this is related to their MCU since some F4 support ethernet connectivity and the ethernet port is directly mapped to it. For F4, you can check if there is no `eth.c` file that in `cpu/stm32f4/periph` and this is what #5643 brings.

Fixed (sorry)

[2017-09-04 14:36] kaspar030 commented on #6668
IMO, if a package "introduce additional problems, and might integrate a less smoothly", it should be fixed...

I'm trying to remove the confusion around ```USEPKG += jsmn USEMODULE += jsmn```. Currently both are required for most packages, which I find confusing, if I'm putting myself into Joe Newuser's perspective. And verbose, from my own perspective.

I propose making ```USEMODULE += <whatever>

[2017-09-04 14:41] miri64 commented on #6668
:+1: That sounds like a more reasonable direction than the other way around.

[2017-09-04 15:09] Tenderson commented on #7562
I could not find any `eth.c` in the Riot master. It means that actually Riot is not supporting any Ethernet module on its supported Boards.

[2017-09-04 16:17] lebrush commented on #7562
The PR which provides ethernet support has not yet been merged. I'm working on an updated PR to the latest RIOT tip and I'll send tomorrow an update with an example so you can pull from there.

[2017-09-04 16:36] #7560 closed

[2017-09-04 16:38] cgundogan commented on #7560
@Tenderson this issues closed automatically because it was referenced in #7561 and it got merged. Is your issue still persisting?

[2017-09-04 17:17] miri64 commented on #7562
No, but at the moment there is only support for the [enc28j60](https://github.com/RIOT-OS/RIOT/tree/master/drivers/enc28j60) and [encx24j600](https://github.com/RIOT-OS/RIOT/tree/master/drivers/encx24j600) (and `netdev_tap` which is using the UNIX' `tap` interface to provide Ethernet support on native). If PRs for other drivers get merged, they will be supported as well.

[2017-09-05 07:34] Tenderson commented on #7562
Thank you, @lebrush. I am really looking forward to your PR. I believe this is the most important thing for the Riot, so it can be deployed in real work, connecting devices and not only on native!

[2017-09-06 08:25] rfuentess commented on #7397
After further reviewing this challenge, it's seems that the best route for the asynchronous communication relies on completing it inside of the `sock_udp`. Therefore, the `secure_sock`  could be progressing in parallel to it.

As told before, I'm going to modify the API for `secure_sock` for considering asynchronous component.

This is in particular, I'm not sure if it can help us. Because of the

[2017-09-06 12:22] bergzand opened #7574 "mrf24j40: NETOPT_STATE_STANDBY support"
As far as I understand it, in the stand-by state, the radio should not receive packets, but be awake. Is it enough to simply turn off packet reception, or is a energy saving state expected?
The mrf24j40 does not have a real stand-by mode where power consumption is minimized (a sleep mode is available). Is it enough to disable packet reception for NETOPT_STATE_STANDBY?

[2017-09-06 12:35] gebart commented on #7574
While we always strive to use the lowest possible power mode, I think the main difference between sleep and standby is the time it takes the transceiver to switch to idle. I'd suggest that for devices such as the one you describe, it's better to leave the transceiver on but with paket reception disabled, than to make standby a synonym of sleep mode. One use case for standby is in MAC protocols whe

[2017-09-06 12:49] bergzand commented on #7574
Thank you for your explanation. This is also what I was thinking, the real sleep mode of the mrf24j40 turns off the oscillator so that doesn't fit the requirement with the CCA check application.

I'll build a PR in the next days or so that disables packet reception on the mrf24j40 for this state.

[2017-09-06 12:49] #7574 closed

[2017-09-06 13:44] miri64 opened #7575 "cortexm-common: minimal configuration grew by 200 bytes"
Checking our minimal configuration I noticed that it grew by 200 bytes (at least on IoT-LAB-M3, for Cortex-M0 boards even more IIRC) since we last checked and documented it (in this case in some paper draft ;-)). After some bisecting I found 4bfce89 to be the commit that significantly made it bigger (though there are others that always made it bigger some bytes). This particular commit unified the

[2017-09-06 16:44] rfuentess commented on #7397
One of the main issues that I'm having with tinyDTLS and RIOT is the handling of the memory required for the data structures of the former.

Right now, I'm using the original code which uses malloc/free functions. Yet, RIOT's `free()` function is in a [TODO](http://doc.riot-os.org/group__oneway__malloc.html#gafbedc913aa4651b3c3b4b3aecd9b4711) state.

For communication between sensors with a single

[2017-09-08 09:22] haukepetersen commented on #5128
fixed by #7507 and export will be added by #6690, so this issue is obsolete.

[2017-09-08 09:22] #5128 closed

[2017-09-08 09:35] #2058 closed

[2017-09-08 11:11] aabadie opened #7585 "Track support for ST b-l475e-iot01a board"
Board datasheet is [here](http://www.st.com/en/evaluation-tools/b-l475e-iot01a.html), detailed pdf is [here](http://www.st.com/content/ccc/resource/technical/document/user_manual/group0/b1/b8/7a/f2/f7/8d/4b/6b/DM00347848/files/DM00347848.pdf/jcr:content/translations/en.DM00347848.pdf).

The board is based on STM32L475VG MCU.

Here is the list of missing features:

- [x] initial support (basic feat

[2017-09-08 15:01] cladmi commented on #2346
I can try looking into this to dig a bit more in the repository. First remove easy ones, like tests, so it narrows down to the most important ones.

@gebart Can you provide the command you run to get the output please ?

What is the idea for `tunslip` tools, should they be fixed, or should they stay as close as possible to contiki version ?

What should be the solution for the `xxx_saul_driver` st

[2017-09-08 15:07] cladmi commented on #2346
There may be symbols not found, like `bf` in `tests/bloom_bytes/main.c` which is defined with `BITFIELD(bf, BLOOM_BITS);`

[2017-09-09 05:00] gebart commented on #2346
I will try to find what line was used to generate the globals.txt file above, the second stage of the list generation is the oneliner pasted in my comment https://github.com/RIOT-OS/RIOT/issues/2346#issuecomment-71177366

Don't bother with tunslip, it's a big mess and it is only built by itself standalone so it doesn't matter what is exported or not.
The saul question about where the struct goes a

[2017-09-09 08:19] holasm commented on #7459
@smlng Thanks for your response.
According to openmote  [periph_conf.h](https://github.com/RIOT-OS/RIOT/blob/master/boards/openmote-cc2538/include/periph_conf.h#L140) I have set the SPI interface.
I set the **INT pin to DIO0** according to [this](https://sourceforge.net/p/contiki/mailman/message/33525505/)

For the RESET pin I can't find any doc.

[2017-09-10 13:44] maitysubhasis opened #7591 "How to test enc28j60 driver?"
@haukepetersen how to test enc28j60 driver?

[2017-09-10 18:29] gebart commented on #4858
The standard has been made available for free at http://standards.ieee.org/about/get/802/802.15.html in case anyone is interested in taking on this task.

[2017-09-10 21:28] miri64 commented on #4858
With `gnrc_netif2` this can be handled GNRC-internally (as our frame building is at the moment as well), with a netopt to determine the frame version.

[2017-09-11 08:44] smlng commented on #7591
For starters, you could use `tests/driver_enc28j60` with your favourite board, it has a SPI interface so wire it accordingly and adapt INT (interrupt) and RST (reset) pins in the test Makefile.

[2017-09-12 22:09] maitysubhasis commented on #7459
@smlng I have figured out the pin mapping with some help of my friend.
![enc28j60_to_cc2538](https://user-images.githubusercontent.com/16653067/30350611-18b54ed2-9835-11e7-8ae3-a92f5036671a.jpg)

[2017-09-13 12:04] aabadie commented on #6331
+1

[2017-09-13 13:30] aabadie commented on #6038
Ok, I missed this one before writing on the ML.

Here is one proposition (roughly copy-pasted from the initial mail):
IMHO, that would be great to only have one example that shows all the CoAP related features provided by RIOT. And for this, gcoap is, I think, the best candidate since it provides server and client features, OBSERVE requests and a shell.
#6100 proposed to directly remove the microc

[2017-09-13 14:15] Tenderson opened #7596 "Riot Kinetis K64 MCU support - Hexiwear watch example?"
Hi,

I appreciate if there is any example for the **Riot OS Kinetis K64 board**. I have bought the **[Hexiwear](http://www.hexiwear.com) Watch POWER USER PACK** and would like to program it using the RIOT. I wrote a simple blink program, however it is not working. Here is the flashing log:

   text	   data	    bss	    dec	    hex	filename
 120476	    444	   8496	 129416	  1f988	/home/vagrant/RIOT/

[2017-09-13 15:51] kb2ma commented on #6038
@aabadie, no technical concerns on your proposals for the gcoap example. However, rather than add /riot/value, we could add PUT capability to the existing /cli/stats resource, which would avoid some duplication in what the example demonstrates. It also would allow the user to zero out the value for /cli/stats, which is useful in the context of the example.

[2017-09-14 08:00] aabadie commented on #6038
#7599 implements my suggestion above.

[2017-09-14 09:10] gebart commented on #7596
That is an interesting platform. There is no board support for it yet though, so you will have to write a board configuration for it, unless it happens to be identical to the FRDM-K64F board.
Do you have all the schematics for the Hexiwear board?
You can add it as a new board by creating a copy of boards/frdm-k64f to e.g. boards/hexiwear-k64f (to leave room for a boards/hexiwear-kw40z, for the com

[2017-09-14 11:53] roberthartung opened #7603 "cpu/atmega_common: uses old spi interface and does not define spi_init_cs"
I wonder why are the examples still working? Or am I missing something?

[2017-09-14 11:56] roberthartung commented on #7603
I guess I am missing something. closed for now.

[2017-09-14 11:56] #7603 closed

[2017-09-14 12:18] #7422 closed

[2017-09-14 20:17] photonthunder opened #7605 "samd21-xpro doesn't compile if gclk_src is not 0"
In the latest version or RIOT, uart.c was merged from SAML21 and SAMD21.  If you change the gclk_src from GCLK_CLKCTRL_GEN_GCLK0 to any other generic clock source it will not compile since the definitions in gclk.h are 32 bit rather than 8 bit.  @dylad any insight on the best way to fix this?

[2017-09-14 20:26] dylad commented on #7605
@photonthunder The solution is to change `uint8_t gclk_src` -> `uint32_t gclk_src` in the file `cpu/sam0_common/include/periph_cpu_common.h`
I was able to reproduce this bug and this solution seems to fix it.
I'll open a PR to fix it right now. Thanks a lot for spotting this :)

[2017-09-14 20:38] photonthunder commented on #7605
@dylad, happy to help.  Maybe it will help me get PR #7405 through, I tried to rebase it off your combination of uart.c.  Makes it nice to wake a board from sleep via uart.

[2017-09-14 20:46] dylad commented on #7605
Nice effort, I'll take a look at it tomorrow ! I'll update my rework of I2C driver #7588 to prevent this issue too.
I just propose #7606 to fix the issue

[2017-09-14 20:47] photonthunder commented on #7605
Perfect, closing...

[2017-09-14 20:47] #7605 closed

[2017-09-15 08:05] roberthartung commented on #6802
A submodule-based approach is shown in #7597 . Once we agreed on that, I will showcase a pm implementation for the atmega1284p (just need to merge code here, it's already finished!)

[2017-09-15 11:19] kaspar030 commented on #7033
@gebart The commit in question was yours, and honestly I don't understand it. Maybe you could take a look?

[2017-09-15 11:47] gebart commented on #7033
The intention of the commit in question was to add FEATURES_REQUIRED += cpp when the unittests are built containing at least one C++ test module. For the platforms which don't support C++ we need to filter out the C++ test modules when building the complete test suite, to avoid dependencies on missing C++ compilers etc.

[2017-09-15 11:48] gebart commented on #7033
I am not sure what part of it causes the problem though, possibly the FEATURES_REQUIRED part?

[2017-09-15 12:25] roberthartung opened #7609 "atmega/periph: gpio.c does not implemented pin change interrupts."
While preparing the changes for #7604 I found out that I missed to add my PinChange interrupt implementation. Is there any reason why this was not implemented yet?

Feedback by @haukepetersen @kaspar030 @lebrush much appreciated. Should I create a different PR, or can I use the one for the INGA boards, because it will be introduced along with that platform?

[2017-09-18 12:57] roberthartung commented on #7575
True.. I also came upon the periph_init() call in cpu_init and thought if there was a better solution to this.

[2017-09-18 13:00] kYc0o commented on #7609
AFAIK there is no strong reason why they're not implemented, I guess it's just that nobody made use of it until now, besides context switching on which only the needed PCINT is implemented for that exclusive use.

[2017-09-18 15:20] Tenderson opened #7614 "Riot OS Ubuntu Dev Image"
Hi,

Is there any pre-configured Riot OS Ubuntu VBox image for developers to download, so that we can start development immediately rather than going through error-prone steps [here](https://github.com/RIOT-OS/RIOT/wiki/Using-the-Eclipse-IDE-for-C-and-CPP-Developers,-Howto).

It will be a great help to have such image with Eclipse, Flasher, Debugger configured. This saves a lot of time...

Thank y

[2017-09-18 16:20] Tenderson opened #7616 "Riot OS Ubuntu on VBox"
Hi,

I am following the instructions [here](https://github.com/RIOT-OS/RIOT/wiki/Using-the-Eclipse-IDE-for-C-and-CPP-Developers,-Howto).

I am stuck at 7.2. for the both run settings:

1. At flashing, when I run it, I get an error: sudo: flash: command not found. However I can flash with the shell using OpenOCD as well. But in Eclipse, I face the above issue.

2. At Run configurations, I also get

[2017-09-18 23:22] kbumsik commented on #7614
There is a Vagrant config file in this repo that you can use. Simply `vagrant up` at the repository root directory.

[2017-09-19 00:01] travisgriggs opened #7617 "samd21:uart TXC test backwards"
In cpu/sam0_common/periph/uart.c, uart_write() has a spin wait on TXC.

        while (!(dev(uart)->INTFLAG.reg & SERCOM_USART_INTFLAG_DRE)) {}
        dev(uart)->DATA.reg = data[i];
        while (dev(uart)->INTFLAG.reg & SERCOM_USART_INTFLAG_TXC) {}

Based on my reading of the TXC bit (for samd21 at least), it's backwards and should be NOT'ed in the spin test. As written, it's going to be set to

[2017-09-19 06:42] Tenderson commented on #7614
@kbumsik The vagrant file as you know does not setup the eclipse, it is just for the build environment. I have no problem with vagrant setup and can build and flash as well.

The problem is the Eclipse configuration for flashing and debugging, specially using the VBox. It would be great to have a configured Eclipse environment in Ubuntu, so the development can be started quickly..

[2017-09-19 12:22] BytesGalore commented on #7616
Hi @Tenderson, seems the instructions are getting a bit outdated.
But I'm happy you give it a try.
I cannot test it right now, but I guess you need to add `-p` or `--port` in front of the actually used port, e.g.:
[code]

[2017-09-19 13:44] smlng commented on #7616
@Tenderson please report back and close issue if resolved, thx!

[2017-09-19 13:45] smlng commented on #7591
any progress?

[2017-09-19 14:10] kaspar030 commented on #4982
Nope, I'll close.

[2017-09-19 14:10] #4982 closed

[2017-09-19 20:46] Kijewski commented on #1263
@OlegHahm, @emmanuelsearch, there are enough bored out BSc students, aren't there? Maybe implementing TLSF from scratch according to [its paper](http://www.gii.upv.es/tlsf/files/ecrts04_tlsf.pdf), and comparing it to more common allocators would make an interesting bachelor thesis?

[2017-09-20 09:14] smlng commented on #7614
IMHO @kbumsik still has a point, if eclipse integration is a want-to-have feature we should adapt our vagrant box configuration instead of providing a separate VM box or something.

[2017-09-20 09:19] Tenderson commented on #7614
Thank you @smlng, I do agree with you!

This will be great help so the development can be started immediately.

[2017-09-20 09:54] gebart opened #7626 "buildtest starts too many parallel processes"
The `make buildtest` command used to limit the number of parallel make jobs to the number of cores, or number of cores + 1. When I run a buildtest now I get about 50-100 parallel cc1 processes, which make my quad core quite unresponsive until it is over... I don't have any time to look into this right now, but I think it had to be reported at least.

[2017-09-20 10:01] kaspar030 commented on #7626
I see why. Will fix.

[2017-09-20 10:06] kaspar030 commented on #7626
See #7627.

[2017-09-20 20:24] #7626 closed

[2017-09-21 07:33] smlng commented on #7033
FYI: when I run `make buildtest` in `tests/unittests` using latest master  on macOS it does compile for all boards, though all are reported as `failed`. Nevertheless, the original issue (*does nothing*) seems to be resolved?

[2017-09-21 07:36] gebart commented on #7033
What is the failure? (run with BUILDTEST_VERBOSE=1)

[2017-09-21 07:46] smlng commented on #7033
`BUILDTEST_VERBOSE=1` still only one line output

[2017-09-21 08:06] smlng commented on #7033
the error is with the usage of `strptime` in `cbor.c`, if I change the Makefile for cbor to set `_XOPEN_SOURCE` for all (not only macOS) it works for all but AVR based MCUs. However, that is a separate issue - maybe cross compiling on macOS related?

[2017-09-21 08:33] smlng commented on #7617
Reviewing the code, I came to same conclusion that the `TXC` check should be not'ed - but I'm unsure if it can be removed as an alternative solution. Btw. the UART driver is generic for sam*21 (and even all sam0 based) CPUs, so it should apply for all.

[2017-09-21 08:34] smlng commented on #7617
Btw. nice catch! Did you have any issues with uart, or was it just by chance?

[2017-09-21 14:10] photonthunder commented on #7617
My two cents would be to pull it out and make it a separate function.  Not really needed with every byte sent, but would be useful to do a check to make sure the UART is empty after sending a bunch of bytes.  Something I might check before sleeping...

[2017-09-21 16:40] travisgriggs commented on #7617
I'm not sure yet. Originally I thought it was just an idle observation as I was trying to debug a nasty deadlock issue we're trying to fix. I'm running some tests right now that have me suspicious it may actually be more than just benign. I should have a better answer on that in about 24 hours.

[2017-09-21 16:42] travisgriggs commented on #7617
Given that it does not do what was intended, it was already effectively removed. But I take your point, that if its needed, we should implement it. But so far, the installed base has anecdotally indicated its not needed, by getting by without it implemented properly.

I did look at the L21's data sheet, it uses the same verbiage, which leads me to believe that the *sole* condition for writing to t

[2017-09-21 17:17] travisgriggs commented on #7617
The SAMR21 data sheet says the same thing.

[2017-09-21 17:46] photonthunder commented on #7617
Atmel Software Framework (ASF) does do the TX check after every byte.

[2017-09-21 18:58] travisgriggs commented on #7617
I'm pretty confident now that not only is the current version ineffectual, but has been contributing to some nasty bugs we've been having. It's a case of a lot (5-ish) of different priority threads running asynchronously mixed with powering that chip down frequently, leads to hangs. I know multithreaded printf can lead to garbled output, but I don't think it should hang stuff.

My current app with

[2017-09-21 22:11] travisgriggs commented on #7617
Why it hangs:

In a normal single threaded, non interrupted scenario, what happens is this:

1) poll DRE until set
2) load the byte
3) poll TRX until clear

With this coded upside down like this, TRX should be clear immediately following #2. So the first probe evaluates true and the code falls through. So it was basically a NOP.

However, if this thread gets suspended (either because of ISR or thr

[2017-09-22 10:05] rmadhuraj commented on #6456
@juttTechnology  . I have the thought of Building RIOT on Ecllipse from windows. Are you succeeded with your testing? If yes, i think you will help me to achieve the same.

[2017-09-22 10:07] juttTechnology commented on #6456
not really..

On Fri, Sep 22, 2017 at 11:05 AM, Madhu Raj <notifications@github.com>
wrote:

[2017-09-22 12:44] dylad opened #7639 "issue with #ifdef NUMOF set to 0"
While addressing some comments from @lebrush for #7588 I noticed an issue.
In fact, we use a common struct in order to init peripheral driver within `periph_conf.h` file
NUMOF are defined using `sizeof(struct) / sizeof(element)`. This line is fine but only process by compiler. So we cannot use `#if NUMOF`.
The problem is : if the board does not define this peripheral (e.g NUMOF = 0) **AND** the dr

[2017-09-22 17:17] cladmi commented on #1242
I started looking into this a few days ago. This comment is where I currently am, I need to write it down to help me settle things and also to get remarks.

From what I found now, to build applications, without taking the `gnrc_%` and `log_%` inclusion, the `pkg`, `unittest`, `BINDIRS`, `PSEUDOMODULES`, `SUBMODULES` into account, as I did not look into them, it may not be that hard to get rid of r

[2017-09-23 01:00] travisgriggs opened #7641 "Question: bitfield vs mask efficacy"
In #7638, I really like the stylistic change to testing struct bitfields. E.g.

` while (!(dev(uart)->INTFLAG.reg & SERCOM_USART_INTFLAG_DRE)) {}`

vs

`while (!dev(uart)->INTFLAG.bit.DRE) {}`

The second reads a ton better. I'm curious what the performance/size implications of this pattern are though? I did some naive tests and found that the code size didn't change at all. But that the performan

[2017-09-23 09:55] cladmi commented on #5776
From what I understood, it works in the article because they are always using variable with double quotes. So when replacing spaces by `+`, and quotes by spaces, they introduce a new separation between blocks, its as if they configured make to say "separator is double quote".

I tried a solution which would make this work, by removing only the `-D` entry if there is no double quote.
So its kept in

[2017-09-23 18:06] smlng commented on #7641
I'm not that much into compiler/code optimisation, but I would guess it should be faster, because compare ops can be optimised to use read-only regs.

[2017-09-23 18:24] smlng commented on #7639
I think the new approach ( @haukepetersen , please step in here) is to use `#ifdef <PERIPH>_NUMOF` and omit any definition of that in `periph_conf` if no such periph device is present. For instance, in the past we set something like `#define ADC_NUMOF (0)` and now use `#define ADC_NUMOF (sizeof(adc_config) / sizeof (adc_config[0])`, but only if at least one ADC line is configured. Further we guard

[2017-09-23 19:15] dylad commented on #7639
@smlng yes you're right.
So now, the #define PERIPH_NUMOF (0) is forbidden except for some old periph_conf.h board ?
User must remove this define if he wants to disabled this feature ?

[2017-09-23 19:47] gebart commented on #7641
You need to check the assembly code for both solutions to know if there is a difference.

[2017-09-24 03:46] kbumsik commented on #7641
I personally think it could be a little bit dangerous when portability matters more than the performance. The bit order of struct bitfield is not guaranteed by the compiler since it depends on the [CPU/Compiler endianess](http://mjfrazer.org/mjfrazer/bitfields/). Although it is true that the Big-Endian rarely can be found but it may lead confusion. I heard that the struct bitfield is intended for

[2017-09-24 13:37] cladmi opened #7642 "Some broken builds on ubuntu 17.04"
I wanted to run `dist/tools/compile_test/compile_test.py` on an ubuntu 17.04 machine and some configurations are broken:

* `tests/libfixmath_unittests` does not compile for `BOARD=native`
* `tests/ssp` does not compile for `BOARD=qemu-i386`

For `libfixmath_unittests/BOARD=native` I get the following error:
[code]

And for `ssp/BOARD=qemu-i386` I get

[code]

[2017-09-25 18:26] dylad opened #7645 "Build arduino bootloader compatible application"
I would like to know if there is some specific stuff to do in order to program an arduino m0 board (I know this board is not yet supported by RIOT). In fact, the Arduino M0 board does not have an embedded debugger. So I used BOSSA tool to flash my app on it. But each time, I ended by bricking the bootloader.
Arduino bootloader start at ROM address 0x00 with a 0x2000 bytes size.
Is there specific s

[2017-09-25 20:10] gebart commented on #7645
Did you try using the arduino mkr linker script (https://github.com/RIOT-OS/RIOT/blob/master/cpu/sam0_common/ldscripts/samd21g18a_mkr.ld)? It looks like there was already someone trying to get it working with the Arduino bootloader. The rom section starts at 0x2000, which should be safe for the bootloader. I don't have any time to dig further, but the linker script should be the first thing to che

[2017-09-26 07:02] roberthartung commented on #7300
@kaspar030 *ping*

[2017-09-26 07:44] aabadie commented on #7645
I confirm this is the way to go, I already used this one in #7510 and in other port not PR'ed yet. I opened #7646 in order to use a more generic name.

[2017-09-26 07:58] dylad commented on #7645
Good to know, I already noticed this ld script but I was wondering if a SUBMODULE was needed or something to do with the Makefile in addition to this linked script.
@aabadie Did you successfully flash an app on a arduino board with a preinstalled bootloader using the current BOSSAC command build by RIOT ? (with make BOARD=<arduino_board> flash)
I also had some troubles on this point.

[2017-09-26 08:04] aabadie commented on #7645
Yes. The board has be set in "bootloader mode": on the boards I tested, this can be done by double pressing the reset button: the on-board led will then slowly oscillate.

You said that you tried to flash an Arduino M0 ? Is it the one with the original Arduino pinout layout ? If, yes, I don't think you need a bootloader and you can directly use OpenOCD (that's what I do). I have Arduino Zero and M

[2017-09-26 08:06] smlng commented on #7562
Can we conclude that this is not an issue, at least not

but rather a missing feature, i.e. no driver for nucleo ethernet - but there is one in the pipe #5643 .

IMHO we can close this one, or definitely change the title!

[2017-09-26 08:17] miri64 commented on #7562
Yes.

[2017-09-26 08:28] #7562 closed

[2017-09-26 08:40] dylad commented on #7645
Ooooooh that did the trick ! I was able to flash successfully my arduino-m0 using BOSSAC.

I cannot (in fact I don't want to) use openOCD because I don't have an embedded debugger on the board like arduino Zero or M0-pro and I don't want to spend my time looking for my external programmer for openOCD.
the combination bootloader with bossac is really great.
BTW, I'm playing with this [board](http:/

[2017-09-26 08:43] smlng commented on #7642
@cladmi please provide gcc version you are using, further I think the qemu port is problematic anyway - but haven't tried that myself, maybe @kaspar030 knows something?!

[2017-09-26 09:51] roberthartung commented on #6802
I proposed a different approach in #7648 which is not dependent on the current build system!

[2017-09-26 09:54] roberthartung commented on #6802
A full implementation of pm_layered can be seen in [my branch](https://github.com/roberthartung/RIOT/blob/hartung/boards/inga/cpu/atmega1284p/periph/pm.c) for the atmega1284p and periph on [atmega_common](https://github.com/roberthartung/RIOT/blob/hartung/boards/inga/cpu/atmega_common/periph/i2c.c#L334)

[2017-09-26 14:19] Tenderson commented on #7616
I have other issues now. This should work now.

[2017-09-26 14:19] #7616 closed

[2017-09-27 09:59] rfuentess opened #7649 "RFC: (TLSMAN) API for handling all the (D)TLS stacks for the user"
This is the proposition of the second API (See #7397) for handling secure communication with RIOT O.S. This API has as objective to binding all the SSL/TLS protocols available (tinyDTLS, WolfSSL, etc.) with the intention of making their use invisible to the user.  With this approach the user only needs to use secure_sock and configure the (D)TLS stack by means of the Makefile.

I had the good luck

[2017-09-27 10:13] rfuentess commented on #7397
I edited the title and the OP for referencing the second API. The separation is intended for having the discussion of the secure_sock here, while details of tinyDTLS, wolfSSL and other stacks in the second RFC.

[2017-09-27 12:11] cladmi commented on #5207
I think this has been fixed by https://github.com/RIOT-OS/RIOT/pull/7589

[2017-09-27 13:47] cladmi commented on #5848
To fix that correctly by generating something in `BINDIR`, I think the best would be to create an `$(APPLICATION)_sketches` module in BINDIR.

I have use cases where the RIOT repository should be read-only and build are be produced in directories outside, so it definitely makes sense to keep APPDIR as is.

My reasons for thinking about a module is that, from what I understood, `Makefile.base` is m

[2017-09-28 11:42] ynezz commented on #7645
FYI, Arduino for SAMD has quite [handy feature](https://github.com/arduino/ArduinoCore-samd/blob/master/cores/arduino/USB/CDC.cpp#L118) in the Serial class, which allows putting board into bootloader mode automatically by just opening the serial port with 1200 baudrate setting. Reset feature as used in [Arduino IDE](https://github.com/arduino/Arduino/blob/ec2e9a642a085b32701cf81297ee7c1570177195/a

[2017-09-28 11:50] smlng commented on #7459
@maitysubhasis nice and thanks for sharing this here! So is this issue resolved and can be closed?

[2017-09-28 13:56] aabadie commented on #7645
Well, that's what I tried initially (adapted from arduino-due) with mkr-1000, but couldn't make it work. I'll try again with your proposed patch in the other feather-m0 PR

[2017-09-28 13:59] cladmi commented on #7642
Ubuntu 17.04 provides gcc-multilib version 6.3.0 which pulls

[code]

[2017-09-28 14:43] cladmi commented on #7642
I upstreamed the issue for libfixmath https://github.com/PetteriAimonen/libfixmath/issues/3

[2017-09-28 14:56] dylad commented on #7645
Thanks for the tips ! I'll give it a try soon or later...

[2017-09-28 15:28] ynezz commented on #7645
I've just realized, that to get this `reboot into bootloader ` feature working in RIOT, there would need to be USB/CDC driver available first. In other words, it is going to work for the first time, if your board is running some sketch with Arduino Serial class using USB/CDC serial driver which has this `reboot into bootloader` feature implemented. Once you flash your device with RIOT based firmwa

[2017-09-28 16:03] aabadie commented on #7645
Exact, I tried again and came up to the same conclusion. Having USB/CDC support to RIOT will also allow to redirect STDIO to USB, which is very useful for debugging without a FDTI.

[2017-09-28 16:05] paula75 opened #7657 "Vrefint stm32l1"
Hi,

I'm working on a project where my VDD is variable using a nucleo-l1 and i need to estimate according to vrefint on the board. According to the datasheet i could estimate it from Vrefint_cal (data acquired at a specific vdd=3V and is in the memory address) and the read of the adc in vrefint pin with the actual vdd supply, according to V_DD = 3* VREFINT_CAL/adc_sample(vrefint_pin). The problem

[2017-09-28 17:11] gebart commented on #7645
For reference, there was an in-progress USB stack in #3890, but it was never finished. In my opinion, a USB CDC driver would be an incredibly useful feature addition.

[2017-09-29 12:16] cladmi commented on #7642
For the `_stack_chk_fail_local` issue, duplicating `_stack_chk_fail` with the new name in ssp module removes the warning the test works.

https://github.com/RIOT-OS/RIOT/blob/67201c18f4e312bfa4bc2e198acf866ae3371af8/sys/ssp/ssp.c#L30

I will try to find what triggers the use of `_local` instead of the other one.

[2017-09-29 14:02] cladmi commented on #7642
GCC defines `__stack_chk_fail_local` as a function calling `__stack_chk_fail` with some magic to save some code space

https://github.com/gcc-mirror/gcc/blob/6d191b11018a4346cdf17764a10d35e0515240b1/libssp/ssp-local.c

And it looks like that the `_local` function is used for static linking by using `ssp_nonshared`
http://wiki.osdev.org/Stack_Smashing_Protector#Usage
https://github.com/gcc-mirror/g

[2017-09-29 19:43] paula75 opened #7661 "stm32_common pm.c"
Working on pm feature for stm32l1 i noticed pm.c is on stm32_common instead of each of the different folders for every processor. The problem with this is that each processor have different amount of pm modes and need to set different register to get to them, this result in use a lot of #if defined in the functions. Is there a special reason to implement this module in stm32_common instead of each

[2017-09-29 20:00] dylad opened #7662 "UART API: polled read function"
I would like to know why there is no `uart_read` function within the API. I'm ok with ringbuffer and interrupt but why UART is the only one which don't have a polled read ? Is there any historical reason ?

I'm currently porting some code from Atmel Studio with polled read uart. Not having a polled read is a bit frustrating.

[2017-09-30 09:36] aabadie commented on #7645
I'm going to close this one, since the initial issue is solved. Feel free to reopen if you don't agree.

[2017-09-30 09:36] #7645 closed

[2017-09-30 16:23] aabadie commented on #7657
The ADC interface in RIOT is common to all supported MCU so it's possible that some features of a given MCU are missing. I'm not an expert with ADC but I'll try to answer for the STM32L1.

You can only tweak the ADC resolution. See available values [here](https://github.com/RIOT-OS/RIOT/blob/master/cpu/stm32l1/include/periph_cpu.h#L56) for this CPU.

I'm not sure, but I would say that this is [har

[2017-09-30 16:28] aabadie commented on #7657
Maybe @fjmolinas or @jia200x can also give some information, they have experience with ADC on the STM32L1 IIRC.

[2017-10-03 19:53] travisgriggs opened #7667 "sam0 flashpage_write issue"
This took a while to chase this down. On the samd21 issue, the flash page_write function casts the `void* data` argument to a `uint32_t*` pointer. This works fine when the compiler places the memory for your argument aligned. But I've found that it doesn't always. I was declaring a

    static u8 Row[NVMCTRL_ROW_SIZE];

The compiler was alternately placing this memory at `x20002402` or `x20002400`

[2017-10-04 07:18] gebart commented on #7667
For a quick workaround, use `uint32_t buf[]` for your client side source buffer and cast a pointer to `uint8_t*` if you need to do bytewise manipulations. It is safe to cast a pointer from a wider alignment to a different type with a lower alignment requirement, but not the other way around: `uint8_t *ptr8 = (uint8_t *)ptr32` is safe, but `uint32_t *ptr32 = (uint32_t *)ptr8` is not.

[2017-10-04 13:03] hubertmis opened #7672 "802.15.4 support for nRF52840 MCU"
I've seen, there is support for nRF52840 PDK board in RIOT-OS.

Recently we released driver for IEEE 802.15.4 radio in nRF52840: https://github.com/NordicSemiconductor/nRF-IEEE-802.15.4-radio-driver
I think it would be good to add 802.15.4 support to nRF52840 RIOT port.

[2017-10-04 16:32] travisgriggs commented on #7667
Your workaround actually points to yet-another solution:

4) Just declare the data argument type as `uint32_t*` rather than `void*`.

Is there an appetite for a PR for any of these solutions? I really do think *one* of them should be done, even it's just adjusting the documentation. I spent a good day of time pulling hair out with intermittent stack corruptions caused by this.

[2017-10-04 18:42] gebart commented on #7667
Changing the argument type is not possible. That means an API change for the general periph flashpage interface, but this API is designed to be as platform agnostic as possible, and forcing the argument to uint32_t makes assumptions about the underlying hardware platform.

[2017-10-04 18:51] travisgriggs commented on #7667
Back to the original 3 then :)

[2017-10-04 22:36] kbumsik commented on #7591
Hi, I am working on #7433 and have a question too.
So while I run the test application and connect the two boards with a enc28j60 to a IPv6-enabled router then a board should be able to ping the other board in within the same subnet? And can the board also ping a Linux PC too?

[2017-10-05 11:31] haukepetersen commented on #7672
Thanks for your input, so nice to see the device driver to be published as open source!

Support for the 802.15.4 mode of the nRF52840 radio is indeed something we definitely want in the RIOT master, and we actually started to write a driver from scratch some months ago. The driver is almost ready and close to be merged -> #7425

Naturally the RIOT implementation is quite entangled with RIOT speci

[2017-10-05 11:59] dnahm commented on #7672
I think we should integrate this radio driver in RIOT, because it provides all features.

[2017-10-05 12:22] hubertmis commented on #7672
It's good to know that there is almost ready driver for nRF52840 radio. I didn't know there is #7425.
The driver we released is heavily tested and robust. It will be easier to test one implementation instead of two. Moreover, it is fully event-driven (no busy waits for events). It should result in lower power consumption.

[2017-10-05 15:04] paula75 commented on #7657
Hi,

Thanks for your reply!

Indeed the resolution improve the accuracy, but i had to modify the periph_cpu.h file. I have a board to test it and the 6_BIT, 8:BIT and 10_BIT is not well implemented, all of them are set to 4095

If true, maybe this is something that could be defined in the board configuration and if not defined here use this default value there.

Yes, i belive that in that file thi

[2017-10-06 08:18] aabadie commented on #6038
Since #7599 is now merged, are you ok to close this one ? (we now have 2 different coap examples instead of 3)

[2017-10-08 03:29] kbumsik commented on #7662
I am wondering too. Is there any specific reason not providing polling UART read function?

[2017-10-09 12:34] #6331 closed

[2017-10-09 13:01] pyropeter opened #7698 "Redefinition of iovec with current glibc"
Starting with `glibc` 2.26, the following issue exists:

[code]

[2017-10-09 13:30] #6275 closed

[2017-10-09 13:40] kYc0o commented on #6275
Hi! Sorry for the delay, have you found the answer to your problem?

If not, you might want to take a look [here](http://api.riot-os.org/group__pkg.html).

[2017-10-09 19:38] xiumingliu opened #7701 "Z1 Zolertia tests/driver_adxl345 failed: unsatisfied feature requirements: periph_i2c"
Hello,

I am new to RIOT and was going through some tests with a Z1 Zolertia node. The test for adxl345 sensor failed with the following output:

wcnes@wcnes-VirtualBox:~/RIOT/tests/driver_adxl345$ make BOARD=z1
There are unsatisfied feature requirements: periph_i2c

EXPECT ERRORS!

Building application "tests_driver_adxl345" for "z1" with MCU "msp430fxyz".

"make" -C /home/wcnes/RIOT/boards/z1
"m

[2017-10-10 08:59] shreeharsha22 opened #7702 "Configuring another uart instance does not print any data on tera term or py-term"
Hi when I try to configure two uarts am not getting any logs on pyterm or teraterm

[2017-10-10 13:37] nmeum opened #7708 "hangs in cbor parser"
@PyroPeter and I fuzzed the cbor parser with [afl](http://lcamtuf.coredump.cx/afl/) and found a few bugs while doing so. See #7707 and #7706. Additionally we found quite a few inputs which triggered hangs in the cbor parsing code. A tarball containing input files triggering hangs in the cbor parser can be found here: http://user.informatik.uni-bremen.de/~tempel/riot-cbor-hangs.tar.xz

[2017-10-10 16:39] #7617 closed

[2017-10-10 17:03] emmanuelsearch commented on #7493
Updated the website as suggested. Note: a full revamp of the website is pending, so I will close this issue for now.

[2017-10-10 17:03] #7493 closed

[2017-10-10 17:11] kaspar030 commented on #6038
In the CoAP breakout session at Summit '17 we've decided to keep both nanocoap and gcoap as first-class CoAP API's, merging them as much as possible, keeping one for memory and code optimized stuff and the other for higher-level higher-convenience development. Thus it makes sense to keep both examples.

I'll close, feel free to reopen if you disagree.

[2017-10-10 17:11] #6038 closed

[2017-10-10 17:49] cladmi commented on #7667
I agree this is an issue. It requires either an API change, with a per board alignment requirement, or a safe implementation.

[2017-10-10 17:58] nmeum commented on #7708
BTW: This might sound like a troll but I would honestly suggest that you consider removing this cbor parser entirely: It doesn't properly implement the standard, the code quality is horrible and most importantly it's full of bugs and doesn't seem to have a maintainer who is actively working on this.

[2017-10-10 18:08] dylad commented on #7702
Hello @shreeharsha22,
Could you provide more information :

- Which CPU/board are you using ?
- Could you show us your UART configuration ? (extracted from periph_conf.h)

[2017-10-10 18:12] dylad commented on #7701
Hi @xiumingliu and welcome to RIOT !
Looking at cpu/msp430fxyz, it seems like i2c is not supported by RIOT yet. If you want to used your Z1 board you have to add support for i2c first.

[2017-10-10 18:23] miri64 commented on #1895
Quick

[code]

revealed some of these still to be uncommented (and not in line with #6024)

[2017-10-10 18:42] miri64 commented on #1895
Also a checker script that checks this in the static tests would also be great.

[2017-10-10 20:50] smlng opened #7713 "gnrc_ipv6_nib: Findings from testing new NDP implementation"
I started testing the new NDP based on #7479, this issue is meant to collect observations, problems and findings observed, so far. List will be extended

## General observations

- [x] no DAD what so ever ([`1b36cdf7`](https://github.com/RIOT-OS/RIOT/commit/1b36cdf7#diff-70af9b646cf9af505bb03d44e6414ff1R15))
- [x] no MLD, for joins on `ff02::1` and `ff02::2` (233237d)

## IPv6 standard ND

tested

[2017-10-10 20:58] smlng commented on #7713
failed assertion using `gnrc_networking` adapted Makefile to have `USEMODULE += gnrc_ipv6_nib_6ln`, setting global address `fd16::1/64` on node A and `fd16::2/64` on node B and try ping6 A -> B:

[code]

[2017-10-10 21:01] miri64 commented on #7713
* no MLD, for joins on ff02::1 and ff02::2

It's a little bit unfair to point this out if that was never the goal for NIB (not NDP2, that's just the send and header assembly module now).

[2017-10-10 21:04] miri64 commented on #7713
Did you add the prefix using `ifconfig <if> add` or `nib prefix add`? With the latter you can configure the lifetime.

[2017-10-10 21:04] miri64 commented on #7713
(but until RFC 4862 isn't implemented properly this isn't important anyway).

[2017-10-10 21:06] miri64 commented on #7713
Rest I will fix tomorrow :-)

[2017-10-10 21:12] smlng commented on #7713
wasn't meant to diss NDP2 by that, more as a general ToDo what RIOT is missing, sorry if you got that wrong.

[2017-10-10 21:26] miri64 commented on #7713
Did not got it wrong, just wanted to make sure we are on the same page here ;-)

[2017-10-10 21:27] OlegHahm commented on #7708
@nmeum, can you elaborate a bit more on the code quality issues and problems with RFC compliance?

[2017-10-10 21:58] OlegHahm commented on #7662
I cannot see a reason against it right now and from my understanding it shouldn't be too difficult to implement. Have you considered to open a RFC-PR that updates the API accordingly?

[2017-10-11 11:34] gebart commented on #7543
#7558 was merged, waiting for #7717 then this will be fixed.

[2017-10-11 13:07] Tenderson commented on #6629
Hi @gebart ,

I updated the OpenOCD and it flashed successfully. However, when I try ps and help, nothing is shown on the terminal, although these modules are added to the program.

I have the following settings:

$ gcc --version
gcc (Ubuntu/Linaro 6.3.0-18ubuntu2~16.04) 6.3.0 20170519
$ openocd --version
Open On-Chip Debugger 0.10.0
$ pip --version
pip 9.0.1 from /home/vagrant/.local/lib/python2.

[2017-10-11 13:49] miri64 commented on #7713
Just to clarify: the name of the new neighbor discovery implementation is not NDP2! `gnrc_ndp2` is just the packet assembly module for NDP packets (I sadly wasn't able to use the old `gnrc_ndp` part for that). The actual handling of NDP packets its part of the NIB.

[2017-10-11 14:03] miri64 commented on #7713
Just looked into this: The indefinite part comes from [RFC 6775](https://tools.ietf.org/html/rfc6775#section-5.3). I'll fix it for classic IPv6.

[2017-10-11 14:12] miri64 commented on #7713
Fixed in 9b77bb7

[2017-10-11 14:33] miri64 commented on #7713
I'm unsure how you mean that. Do you expect a set L-flag to auto-generate an address (that would be wrong, a set A flag does that) or are you pointing out that with an set A flag but an unset L flag, the address is auto-generated, while a set A flag and a set L flag doesn't?

[2017-10-11 14:33] Tenderson commented on #7560
@cgundogan I still have the issue :( . As I noted [#6629](https://github.com/RIOT-OS/RIOT/issues/6629) at the bottom.

I appreciate any input from you too...

[2017-10-11 14:52] cgundogan commented on #7560
@Tenderson what kind of transceiver did you attach and what driver do you use for the nucleo board?

[2017-10-11 15:15] vincent-d opened #7719 "saul_reg: const pointer for device?"
#7586 changed the `dev` field of `saul_reg_t` from `void *` to `const void *`.

I don't see why it should be const, some driver might need to update the device descriptor while using it.
It actually break some of my code where the driver needs to update the descriptor.

So what is the rationale for this change?

[2017-10-11 15:20] miri64 commented on #7713
Also unclear, how you mean that: do you mean there are *only* 2 RAs send in short intervals and then none afterwards (which would be wrong) or are the only 2 RAs in very short intervals and then longer intervals between them afterwards (which except for the 2 be the right way).

[2017-10-11 15:39] miri64 commented on #7713
@smlng also, I get 4 (!) RAs in 16s interval differences (which is the specified short interval). Can you maybe provide a dump of the output with the following patch?

[code]

[2017-10-11 15:46] cladmi commented on #7719
The rational was allowing the dev structures to be stored in rom, but should not constraint the device.

From my knowledge, it does not require the structure to be const. It only prevents uses of the saul_reg device to modify it through this pointer https://stackoverflow.com/a/31109590.
Please correct me if I am wrong here.
In the same way parameters can be defined as `const` pointers only as a co

[2017-10-11 16:05] smlng commented on #7713
exactly, the A flag is set in both cases but an address is only auto generated if L flag is **not** set, from what I read the L flag should not have any influence on whether or not an IPv6 address is auto generated.