[2017-01-20 16:21] PeterKietzmann commented on #6392
If the problem persists, why are you closing this issue. Is it noted somewhere else? CC2538 is not avr or msp430.

[2017-01-20 16:26] OlegHahm commented on #6392
There is no problem with xtimer_usleep() as far as I understood it. The problem was rather that `xtimer_usleep(1000U * 1000U)` evaluates to `xtimer_usleep(1000000 % 2^16)` on 8 and 16 bit platforms.

[2017-01-20 16:26] kYc0o commented on #6392
Because the issue described here and in the title was fixed in #6406 for the XBee example and a test in #6394 was added.

Two problems were noticed from this one: Check for size compatibility on constants used widely for 8 and 16 bit platforms and XTIMER broken for the two boards mentioned above.

[2017-01-20 16:27] OlegHahm commented on #6447
Are you on master?

[2017-01-20 16:28] OlegHahm commented on #6447
The problem should have been fixed by #6309.

[2017-01-20 16:37] nikosft commented on #6447
You are right, I was using a previous version of master (dcfd0d656baecdfb786781daeb06bd7bfc837681) I updated and it works fine

[2017-01-20 16:37] #6447 closed

[2017-01-20 20:26] gebart commented on #6436
It was primarily meant as a response to the question whether you can run
the unit tests on constrained devices.

On Jan 20, 2017 14:12, "Martine Lenders" <notifications@github.com> wrote:

I usually run the complete unittests build on mulle, but even if you're
using one of the boards listed under BOARD_INSUFFICIENT_MEMORY you can
still run the tests if you build a subset using make tests-core for

[2017-01-21 13:26] LudwigKnuepfer commented on #6442
Please provide a minimal application that reliably shows the defect.

[2017-01-21 13:40] Farthen commented on #2188
you can probably throw out the k20 for now, not sure if/when I would actually find the time to take care of it and nobody else seems to need it anyways.

[2017-01-22 14:12] mali commented on #6358
I've run test/xtimer_usleep, examples/timer_preriodic_wakeup and tests/saul and well .. it works :)

[2017-01-23 04:42] kmaloor commented on #6241
@mattiantonini
Regarding your comment:

the client/server samples in the IoTivity-Constrained tree currently build for SAMR21-xpro using the
Makefile in port/riot.
Client:
   text	   data	    bss	    dec	    hex	filename
  72548	    284	  31120	 103952	  19610	…/iotivity-constrained/port/riot/bin/samr21-xpro/ocf_app.elf
Server:
   text	   data	    bss	    dec	    hex	filename
  72176	    316	  312

[2017-01-23 07:52] radioelf opened #6451 "Gain max. SRF08?"
Hi.
Is this correct? RIOT/drivers/include/srf08.h line 65 "#define SRF08_MAX_GAIN 0x25"
In the documentation https://www.robot-electronics.co.uk/htm/srf08tech.html it indicated 0x31 (1025)

[2017-01-23 09:09] PeterKietzmann commented on #6451
Where did you see `0x35` on the provided site? What I found there was
`31 	0x1F 	Set Maximum Analogue Gain to 1025` which still differs from your description. When writing this file I used [this document](http://coecsl.ece.illinois.edu/ge423/DevantechSRF08UltraSonicRanger.pdf) as reference which states `0x25`. However, looking at the "Analogue Gain" table I think the mapping **might** be wrong. Is

[2017-01-23 09:44] lebrush commented on #6442
So far I'm using `tests/posix_semaphore`, keeping/removing the `thread_yield_higher` in the callback of the timer to trigger this. I can't promise I have time to look further into this for this release.

[2017-01-23 10:16] jfischer-phytec-iot commented on #2188
I have removed k20 and kw01 from the list, I think it can be closed.

[2017-01-23 10:54] #6246 closed

[2017-01-23 11:05] radioelf commented on #6451
HI, It was a mistake, its 0x31....

[2017-01-23 14:34] juttTechnology opened #6456 "Windows + eclipse + RIOT Hello_world example build error"
i am using windows 10 + eclipse + RIOT hello world example.
toolchain is cygwin
Hardware is nrf52dk
here is build info

make BOARD=nrf52dk info-build all
Warning: no PORT set!
File * -common not found
process_begin: CreateProcess(NULL, command -v arm-none-eabi-gcc, ...) failed.
APPLICATION: hello-world

supported boards:

BOARD:   nrf52dk
CPU:     nrf52
MCU:     nrf52

RIOTBASE:  C:/IoT/RIOT
RIOTB

[2017-01-23 20:53] mali commented on #6358
Don't know how nor why, but it has been fixed by PR #6320
I close

[2017-01-23 20:53] #6358 closed

[2017-01-23 22:00] bergzand opened #6460 "stm32f4: xtimer clock running at twice the speed"
So, this evening I experienced the same problem as with #6287 on my nucleo-f401 board.
Tested with the timer_periodic wakeup example again.
CPU: stm32f401RE
board: Nucleo-f401

expected to receive a message every second. A message is received every 500ms.
RIOT seems to think that a second has elapsed:
[code]

Problem seem to be introduced by https://github.com/RIOT-OS/RIOT/pull/6184
Might be relat

[2017-01-23 22:43] antmerlino opened #6461 "Support semihosting for ARM targets without available UART"
Similar to the J-Link Segger RTT, semihosting can provide an IO interface for boards without an additional UART.  Semihosting uses SVC instructions to signal semihosting operations to the debug agent.

To use semihosting, you must link librdimon which implements the semihosting versions of syscalls from newlib.

Here is currently what I've identified as the steps to get this working

1. Change bui

[2017-01-24 00:52] antmerlino commented on #6461
I've just stumbled upon the PSEUDOMODULE concept.  Seems like that would be a good way of doing this.

Can a pseudomodule change the LINKFLAGS variable?  I am trying it but it doesn't seem to work the way I expected.

[2017-01-24 08:04] lebrush commented on #6442
As just mentioned in #6441 I also realized that in `native` when one xtimer is set and fired I can't any future xtimer does not fire...

[2017-01-24 10:24] PeterKietzmann commented on #6456
I really can't help you with this but did you consider using a VM? Please have a look at the description [here](https://github.com/RIOT-OS/Tutorials) under section "Quick Setup using a Virtual Machine". There is also an interesting wiki page, if you haven't already seen it [here](https://github.com/RIOT-OS/RIOT/wiki/Build-RIOT-on-Windows-OS). But **might** be outdated. We don't officially support

[2017-01-24 10:42] juttTechnology commented on #6456
1- with VM everything is working perfectly.
2- now i am testing on windows. Regarding to the above error i found the error line.
from the above build info data. on line number 3(File * -common not found)
this error is coming from the Makefile.buildtests
and line who is generating this error is this one
BOARDS := $(filter $(if $(BOARD_WHITELIST), $(BOARD_WHITELIST), %), $(BOARDS))

[2017-01-24 11:47] aabadie opened #6462 "boards/nucleo-l1: crashes when setting time to RTC"
I noticed this issue while reviewing #6448.

How to reproduce:
1. Use a nucleo-l1 board, checkout current master
2. build and flash `tests/periph_rtc` application
[code]
3. You get the following error messages:
[code]

[2017-01-24 12:37] gebart commented on #6461
I briefly looked at semihosting as an alternative a few years ago when we were testing different parts of the software, but I never saw that there were any open source alternatives for handling the PC side of it (OpenOCD). How do you enable it in OpenOCD?

The stdio write functionality on the device side is quite simple to implement IIRC, the basic idea is to put the characters in a register and c

[2017-01-24 12:57] lebrush commented on #5707
Nucleo f103 still works with latest upstream/master as expected.

Btw, regarding getting the uart output I flashed the latest fw to the embedded stlink in the nucleo and from that moment I can use it as serial interface as well :+1:
http://www.st.com/content/st_com/en/products/embedded-software/development-tool-software/stsw-link007.html

[2017-01-24 12:58] lebrush commented on #4689
@miri64 is this still relevant?

[2017-01-24 13:02] miri64 commented on #4689
Nope, your port removed this altogether

[2017-01-24 13:02] #4689 closed

[2017-01-24 13:08] aabadie commented on #5707
Thanks for digging this up. @kaspar030 it was working for nucleo-f334 and I can make it work for nucleo-f103 and f303.

We can safely close this one.

[2017-01-24 13:08] #5707 closed

[2017-01-24 13:10] #5986 closed

[2017-01-24 14:04] PeterKietzmann commented on #6451
No. In the link you sent it is `0d31` equals `0x1f`. The link I sent did not translate the decimal to the hex values correctly. Thus I assume your documentation is correct. Do you want to provide a fix for the header file :-)?

[2017-01-24 14:10] miri64 opened #6466 "doc: @brief where @name is supposed to be"
In many places in the doc this structure is used:

[code]

The intend is to add FOOBAR to a group named "name of group", but this is not what that results in. Rather is "name of group" parsed as the brief for FOOBAR, while the original `@brief` (if present) is parsed as its `@details`. The correct command would be `@name`.

Here is a list of top-level directories that should be addressed:
- [ ] bo

[2017-01-24 14:14] miri64 commented on #6466
See e.g. http://doc.riot-os.org/boards_2nucleo-l1_2include_2periph__conf_8h.html as an example.

[2017-01-24 14:32] radioelf commented on #6451
No, better ensure the correct documentation

[2017-01-24 14:56] #6213 closed

[2017-01-24 15:37] antmerlino commented on #6461
There is some information here under the ARM section http://openocd.org/doc/html/Architecture-and-Core-Commands.html

Basically you just need to do
```arm semihosting enable```

As far as the stdio functionality, it's all done for you via librdimon.  My issues are more concerned with how to get it integrated into a reasonable workflow with Riot now.

So far I have:
1. Added a pseudomodule called s

[2017-01-24 15:40] emmanuelsearch opened #6468 "Backburner PRs"
How about creating a "Backburner" label which would be applied before closing a PR that has seen too little (or no) update from the author for a while, e.g. maximum timelapse = release cycle of 3 month?

This way we'd have an improved process to log and close PRs that are not making progress -- some of which are piling up undesirably as the number of open PRs grow...

[2017-01-24 15:41] emmanuelsearch commented on #6468
we could start right away with this release by the way ;)

[2017-01-24 15:45] miri64 commented on #6468
This would fit nicely with a kind of GitHub watchdog daemon I was thinking about implementing after our discussions yesterday (my main focus was more to limit the number of PRs assigned to one person / limit the number of PRs a person may open).

[2017-01-24 15:46] miri64 commented on #6468
To explain: label set => "start timeout" in that daemon to close as soon as <configurable time x> has passed.

[2017-01-24 15:52] kaspar030 commented on #6468
If you do, you should take a look at the murdock codebase, as it already includes logic to react on pull request actions, etc.

[2017-01-24 15:56] miri64 commented on #6468
I know, and would've. But I don't think that's something a CI server should be bothered with.

[2017-01-24 15:56] PeterKietzmann commented on #6468
Sorry for being so negative but I'm personally not a fan of this kind of last-minute-fixes. Even though this might be an opportunity to improve our PR development in the future, I'd vote to postpone this plan until the Release is out. It might be worth a try but maybe we should give it some more time (even to get the other maintainers opinions)

[2017-01-24 15:59] miri64 commented on #6468
Sorry I think I stirred the discussion in the wrong direction there. I don't think that adding a new label is a last-minute-fix. The daemon was just a proposal to automate this behavior (instead of requiring any one of our time to review old PRs for every release) ;-)

[2017-01-24 16:04] haukepetersen commented on #6437
Nice!

[2017-01-24 16:06] cgundogan commented on #6468
Hm, to be honest, I have difficulties to see the advantage (other than for statistical reasons) of marking inactive PRs. Nobody will ever look at them anyways. Do we really want that extra overhead of keeping track of inactive PRs (let it be manual or automatic overhead)?

[2017-01-24 16:13] miri64 commented on #6468
I think if we mark inactive PRs we have less overhead (and issue pressure to a contributor to react). If a PR is marked as such and the last entry in this PR is

we can just close (in a manual) it without rereading old discussions from 3 month ago. With an automatic solution even this isn't required anymore. I don't see where you see more overhead.

[2017-01-24 16:14] kYc0o commented on #6468
What about those PRs that are very nice but the committer is very busy (the case of PRs abandoned by our maintainers team) or simply the PR got a long review time so the committer just doesn't work on the same thing anymore? I think for those cases someone else can take over the PR and revive it for RIOTs sake.

[2017-01-24 16:16] miri64 commented on #6468
The idea is that the number of PRs is so low that our maintainer team doesn't forget about a PR anymore ;-). But in general: it's still the maintainers prerogative to set this label, so if they deem it worthy to wait they don't have to set the label.

[2017-01-24 16:24] emmanuelsearch commented on #6468
keeping P

[2017-01-24 16:25] emmanuelsearch commented on #6468
mishap close ;)

[2017-01-24 16:25] PeterKietzmann commented on #6468
But starting with a new workflow just some hours before feature freeze might introduce  further disturbance and uncertainty about the progress. As you can see, there is already a discussion and a couple of "strong-minded" maintainers didn't even state their opinions. So I propose to let this issue open for discussion but not apply for this Release.

[2017-01-24 16:31] emmanuelsearch commented on #6468
Fine. Let's discuss that later.

[2017-01-24 16:32] kaspar030 commented on #6468
The question would be if it has value to tag a PR/issue when closing it because of prolonged inactivity. That only makes sense if we want to search specifically for those later.

[2017-01-24 16:39] emmanuelsearch commented on #6468
This could be useful to quickly sort out stuff that was not fully exploited by the community (not brought to a mergeable state), from stuff that was rejected (because flawed in some sense), while diminishing systematically the number of open PRs.

[2017-01-24 16:40] miri64 commented on #4388
Closed via #6004.

[2017-01-24 16:40] #4388 closed

[2017-01-24 16:42] emmanuelsearch commented on #6468
This may help in the long run (i) maintainers that were not reviewers, and (ii) outsiders which are looking to pick up something "valuable" where others left off.

[2017-01-24 17:09] PeterKietzmann commented on #4822
To me it seems #5469 does not fix this issue. @smlng please re-check.

[2017-01-24 17:10] PeterKietzmann commented on #4822
I meant the follow-up PR #6453

[2017-01-25 01:01] Hyungsin commented on #6229
@smlng Yeah, I'm exactly at the same position and just waiting for a comment from @cgundogan  :)

[2017-01-25 08:57] PeterKietzmann commented on #6419
@kYc0o IMO this issue has high priority. Recently it seemed you're into this. Any chance for a fix from you side?

[2017-01-25 09:00] kYc0o commented on #6419
I'm investigating this and the waspmote, I'll try to provide a fix this week

[2017-01-25 09:02] PeterKietzmann commented on #6419
I still didn't fully understand where you see the relation between these two, but I trust you :-)! Looking forward for that!

[2017-01-25 09:04] kYc0o commented on #6419
It's just that both are getting bad initialisation prescalers... but the fixes will be different indeed.

[2017-01-25 10:47] kYc0o opened #6473 "List of compiling issues on OS X"
I just ran

[code]

on the RIOT tests folder to know which things are free of error on OS X, and that gave results which can be useful

  - [x] **tests_can** fixed in #7847.
[code]
  - [ ] **driver_hd44780** Errors due to the spefici setting for Arduino. I propose to white list the boards which support Arduino pin mapping.
  - [ ] **gnrc_ipv6_nib** Found a _pontential_ corner case @miri64 :
[code]

[2017-01-25 14:22] OlegHahm commented on #5055
Ok, I think this is fine to close then.

[2017-01-25 14:22] #5055 closed

[2017-01-25 14:44] OlegHahm commented on #3169
Fixed with #6355 (no CCA in extended mode any more).

[2017-01-25 14:44] #3169 closed

[2017-01-25 15:21] OlegHahm commented on #6468
I'm not sure how this label would differentiate from the "memo" label.

[2017-01-25 15:41] emmanuelsearch commented on #6468
good point.

[2017-01-25 15:43] emmanuelsearch commented on #6468
the one thing we don't have, though, whatever the label, is a policy when to close PRs that drag when the author unresponsive for months.

[2017-01-25 16:23] OlegHahm commented on #6462
Did you check at which line it triggers the hard fault?

[2017-01-25 16:33] OlegHahm commented on #6466
In the example you give: do you know why "Clock system configuration" has a different hierarchy level than "I2C configuration"?

[2017-01-25 18:06] OlegHahm opened #6476 "GNRC TCP: code review"
Based on a rather superficial review of GNRC TCP I found a couple of issues that must be addressed:

## examples
* [x] examples are rather tests (#6524)
* [x] examples are missing a README
* [x] cli is a misleading name (it does not provide a Command Line Interface, but a CLIent) (#6524)
* [x] client examples contain a hardcoded IP address for the communication peer, but this address is not set on

[2017-01-25 21:27] PeterKietzmann commented on #6437
@ks156 this is a gentle reminder to test SPI on the WeIO board. Please report errors here or better, check the box in the issue description on success. You can find a procedure that we used for testing SPI drivers in [this table](https://docs.google.com/spreadsheets/d/1_IrBtKyhkOyKK8NxQIHOJ2fdyExqNqMucxDWPLdBNQI/edit?pli=1#gid=0)

[2017-01-26 08:23] lebrush commented on #6437
Please add to the list that the `pn532` driver needs adaption

[2017-01-26 08:26] PeterKietzmann commented on #6437
Dammit! Totally forgot that one. Thanks for the hint

[2017-01-26 08:32] haukepetersen commented on #6437
@lebrush  no problem, I can do the adaption quickly now, if you are volunteering to test it (as I don't have the device...).

[2017-01-26 08:34] PeterKietzmann commented on #6437
We have one here

[2017-01-26 09:05] haukepetersen commented on #6437
and here is the fix: #6478

[2017-01-26 09:05] haukepetersen commented on #6437
build the test-app with `PN532_MODE=spi BOARD=xxx make ...`

[2017-01-26 09:49] PeterKietzmann commented on #6451
@radioelf do you have new insights which data sheet is the correct one? Otherwise I assume the issue still persists, right?

[2017-01-26 10:54] radioelf commented on #6451
Hi Peter, Safely NO, yes the issue still persists.

[2017-01-26 11:22] haukepetersen commented on #6437
Actually, the `nvram` driver on the `mulle` was just working fine, I just did not configure the correct CS pin when running the test application...

[2017-01-26 12:54] PeterKietzmann opened #6484 "boards/nucleo-l1: hard faults with shell?"
Running e.g. tests/shell, examples/default or examples/gnrc_networking on a nucelo-l1 hard-faults. I didn't check other nucleo boards nor did I look into details

[2017-01-26 13:11] haukepetersen commented on #6484
Other nucleo boards seem to be fine, but run into the same hard-fault on the l1. Seems to me, that something is broken with the UART interrupt, looking into it now.

[2017-01-26 13:11] kYc0o commented on #6436
See #6485

[2017-01-26 13:41] miri64 commented on #6466
So? Both are using the `@name` tag, as you can see in [the header](https://github.com/RIOT-OS/RIOT/blob/master/boards/nucleo-l1/include/periph_conf.h). But `DAC_NUMOF` is e.g. part of `Clock system configuration` and the intended group name (DAC configuration) became the macro's description.

[2017-01-26 14:27] OlegHahm commented on #6466
I'm not sure how this answers my question, but it actually raises a new one: shouldn't https://github.com/RIOT-OS/RIOT/blob/master/boards/nucleo-l1/include/periph_conf.h#L50 close the group for `Clock system configuration`?

My initial question was: why does `Clock system configuration` show under `Macros`, while `I2C configuration` shows as a group on its own.

[2017-01-26 15:42] PeterKietzmann commented on #5103
@haukepetersen @kaspar030 does this issue still persist???

[2017-01-26 15:47] PeterKietzmann commented on #4672
Ping @miri64 could you answer @OlegHahm's [comment](https://github.com/RIOT-OS/RIOT/issues/4672#issuecomment-202918197)

[2017-01-26 15:54] PeterKietzmann commented on #4344
We dropped it #6359. Will close with memo label set in case someone will work on a new port sometime.

[2017-01-26 15:54] #4344 closed

[2017-01-26 15:57] PeterKietzmann commented on #3812
How about #5453

[2017-01-26 16:01] PeterKietzmann commented on #2927
@gebart is everything coverey by #5453? If yes, please close.

[2017-01-26 16:02] #2188 closed

[2017-01-26 16:03] PeterKietzmann commented on #2116
Outdated due to the SPI rework.

[2017-01-26 16:03] #2116 closed

[2017-01-26 17:29] melshuber opened #6490 "ATOMU"
OFF Topic:

I think i just found an issue in ATOMIC_VALUE on avr8

[code]

copiles to
[code]

you see two `lds` instructions in atomic_val.c

Problem case: Suppose a higher priority thread interrupts just after the first `lds` and changes the value itself to 0xFFFF. In this case an inconsistent value would be returned (endianness depended either 0xFF or 0xFF00)

[2017-01-26 17:30] melshuber commented on #6490
sorry i did accidently hit enter

[2017-01-26 17:36] melshuber opened #6491 "ATOMIC_VALUE might return inconsistent values on avr8 (or other 8bit mcu)"
threre might an issue in ATOMIC_VALUE(...) on avr8

[code]

copiles to
[code]

you see two `lds` instructions in atomic_val()

Problem case: Suppose a higher priority thread interrupts just after the first `lds` and changes the value itself to 0xFFFF. In this case an inconsistent value would be returned (endianness depended either 0xFF or 0xFF00)

The correct behavior should be return either the o

[2017-01-26 17:58] #6436 closed

[2017-01-26 18:16] gebart commented on #6491
I agree, it's not correct. The best solution is in my opinion already PRed in #5688

[2017-01-26 18:27] OlegHahm commented on #6491
Does the AVR toolchain actually has C11 support?

[2017-01-26 20:54] ks156 commented on #6437
@PeterKietzmann I'm sorry but I won't be able to test the SPI now ... I don't have an oscilloscope under the hand anymore, and I don't currently have SPI devices for tests...

[2017-01-26 22:31] gebart commented on #6491
It should work on AVR since it has a more recent gcc than the msp430 does.

On Jan 26, 2017 19:27, "Oleg Hahm" <notifications@github.com> wrote:

[2017-01-27 00:42] OlegHahm commented on #6491
Which is not so difficult. ;-)

[2017-01-27 07:59] haukepetersen commented on #6484
hm, seems like we get hardfaults on any interrupt -> the `xtimer_msg` test reboots every second...

[2017-01-27 09:36] haukepetersen opened #6495 "cpu/stm32x: timer driver wrongly asserts 4 CC channels"
Currently, the shared timer driver for the STM32 CPUs expects the used timer to have exactly 4 capture-compare channels. This is not true for all hardware timers on these CPUs, leading to some constraints when configuring the timer that is used.

It might make sense to alter the timer driver so that it can cope with a different number of cc channels...

[2017-01-27 10:53] haukepetersen commented on #6484
this is getting creepy: `tests/periph_timer` works as expected. `xtimer_msg` and `xtimer_usleep` work fine with `DEVELHELP` enabled, but hard fault once `DEVELHELP` is disabled...

[2017-01-27 11:41] haukepetersen commented on #6484
one step closer: git bisect lead me to `807a190e2086793225e774a5d64983467cf221b7` (cpu: cortexm: adapt to periph/pm) as the bad commit. Strange.

[2017-01-27 11:46] haukepetersen commented on #6484
hmm, setting, or better waking up the CPU from sleep, is the problem here. So what is the L1 doing (or not doing), so it crashes when sleeping?!

[2017-01-27 11:51] haukepetersen commented on #6484
fixed by #6499

[2017-01-27 12:22] PeterKietzmann commented on #6460
Should be fixed with #6492. @bergzand can give it a quick try and reopen the issue in case it is not solved?

[2017-01-27 12:22] #6460 closed

[2017-01-27 12:28] bergzand commented on #6460
@haukepetersen, @PeterKietzmann: Issue is solved, thank you.

[2017-01-27 13:06] haukepetersen opened #6501 "boards/nucleo: Pin usage collision (SPI clk vs. LED0)"
On most (all) STM nucleo boards we have a pin usage collision on pin PA05. It is used for both `LED0` and `SPI_DEV(0) sclk`. Now after the SPI remodeling was merged, the SPI busses are for some boards now initialized before the LED pin, leading to an overridden pin config and a not working SPI clock line...

Now the question is how to proceed here.

@kaspar030: would you mind to check the pin conf

[2017-01-27 13:13] haukepetersen opened #6502 "cpu/stm32l1: RTC broken"
Seems like #6448 broke the RTC for the `stm32l1` (at least on the `nucleo-l1`): the CPU is stuck when calling `rtc_init()`. Investigating this now...

[2017-01-27 13:17] haukepetersen commented on #6502
seems like they are all related...

[2017-01-27 13:18] haukepetersen commented on #6462
I guess this is also connnected to #6499

[2017-01-27 13:19] haukepetersen commented on #6502
the `l1` was somehow broken really really bad -> we need to work on our regression testing!

[2017-01-27 13:27] haukepetersen commented on #6502
found the error: my `nucleo-l1` does not have an external low-speed oscillator equipped... Time for some more granular configuration I guess...

[2017-01-27 13:41] vincent-d commented on #6502
@haukepetersen I was about to ask if there was a LSE. I remember when reading the nucleo user manual, that some parts number have small differencies regarding the LSE.

It's not easy to solve, but I can imagine different options:
- duplicate the boards for the different part numbers: definititely not optimal
- improve the periph_conf.h comments, it's then up to the developper to update the file: m

[2017-01-27 13:51] haukepetersen commented on #6502
The solution is IMHO simple:  #6504

[2017-01-27 14:50] melshuber commented on #6491
as far as i have seen since gcc 4.9 the header stdatomic.h exists, but i think the functions are not implemented

I just built a tool chain with ct-ng (gcc 6.3; all default)

It seems there are implementations missing (e.g. __atomic_load_2, probably others as well)
[code]

[code]

[code]

I also tried with -std=c11
[code]

[2017-01-27 15:21] #6484 closed

[2017-01-27 15:22] gebart commented on #6491
@melshuber could you try it with #5688 applied? It should provide everything you need.

[2017-01-27 15:27] PeterKietzmann commented on #6484
#6499 was merged

[2017-01-27 15:32] aabadie commented on #6462
I confim this is fixed @haukepetersen with #6499. Closing.

[2017-01-27 15:32] #6462 closed

[2017-01-27 16:02] melshuber commented on #6491
on #5688 it seem reasonable on avr8 (main.c see above)

[code]
[code]
[code]

[2017-01-27 17:25] kYc0o commented on #5597
Just reopen the issue because it persists, I also changed the name to make the difference between #5237.

[2017-01-27 18:09] kYc0o commented on #5841
Can anyone check if this was actually fixed by #5608 already merged? It does add support for 32768Hz for RTC clocks, but I didn't check.

[2017-01-27 18:10] kYc0o commented on #5237
"Any" it's a bit too much, but #5608 addressed this and #6507 takes care of 14.7456MHz frequencies.

[2017-01-27 21:18] antmerlino opened #6510 "Rename methods uart_stdio_init/read/write"
I believe renaming uart_stdio_init to simply stdio_init allows for a simpler way of switching where the stdio gets routed.  For any module currently using stdio functionality, uart_stdio_init/read/write are called even if the functionality isn't actually a uart.

For example, on cortexm processors stdio is configured through syscall implementations.  The init call gets called before main through t

[2017-01-27 22:01] antmerlino commented on #6461
So, I got this working.  It wasn't necessarily ready to land, but I confirmed it at least could work.  However, I should have done more reading before doing it.  Semihosting is ungodly slow.  It prints something out like every 1 second.  And it keeps halting the processor over and over again.  Some say it depends on the debugger setup, so maybe I just have a really slow setup. But either way, sinc

[2017-01-28 11:38] miri64 commented on #4672
Yes.

I was thinking the same, something like a generic `netdev2_params`. But I have to admit that I did not yet think the concept through enough to justify the required grow in RAM to identify the specific type.

[2017-01-28 13:36] miri64 commented on #6490
Can you please give the issue a more informative title.

[2017-01-28 13:37] miri64 commented on #6490
Ah nvm. Just saw #6491.

[2017-01-28 13:37] #6490 closed

[2017-01-28 17:08] brummer-simon commented on #6476
Hi Oleg,

Thanks for your Input. I'll try to address the Issues asap. I would use this Issue to discuss some things.

First of all: Whats wrong with "gnrc_tcp_calc_csum()" as Part of public API? I put it there because UDP does this as well.

[2017-01-28 20:59] antmerlino commented on #6510
@kaspar030 I have started (and potentially finished this update).  See PR #6513

[2017-01-29 08:16] brummer-simon commented on #6476
Oh and about include cleanup. Whats RIOTs usual policy there?

In a Header File I would include every Header that contains a Type used in the function prototypes and in the Source Files I would include everything that is used except includes that were part of the associated header file. Right?

[2017-01-29 08:39] brummer-simon commented on #6476
And about the examples. Those were actually thought as test program. I think about removing them as soon as I integrated TCP into the gnrc_networking example. What do you think @OlegHahm ?

[2017-01-29 12:55] miri64 commented on #6476
Then why were they in `examples/` and not in `tests/` in the first place?

I'm not sure integrating TCP into `gnrc_networking` is such a good idea :-/. Bloat in this application is already showing. I'd rather prefer having two separate applications for the two transport protocols. Regarding removing the examples: how about moving them to `tests/` instead?

[2017-01-29 14:23] basilfx commented on #6473
There are four output backends, of which the first redirects to stdout, the second to SDL, the third to SPI and the fourth to I2C.

[2017-01-29 16:47] brummer-simon commented on #6476
Hi miri64,

The original Idea of my examples was to show potential user how to use TCP (thats why it ended up in examples) it became more and more my personal test application. I am fine with a second application similar to gnrc_networking (should it contain udp as well?)

I move the examples to tests  #6498. I do some cleanup mentioned here as well.

[2017-01-29 18:33] miri64 commented on #6476
I don't see why UDP as well would be necessary. An example should be as much to the point as possible. Maybe take the TCP part of my [lwIP tests](https://github.com/RIOT-OS/RIOT/pull/6372) as an example. Though they are based on `sock` they show-case the different functionalities both a TCP client and server need to provide quite nicely, in my opinion.

Already offered my complain about doing this

[2017-01-29 20:49] kYc0o commented on #6473
Super, I'll mark it as done.

[2017-01-29 21:11] chinawanghaitao commented on #4612
hello,
is this fixed? I got the same issue at the release 2016.10, when I try to build ccn-lite-replay example to z1 board.

[2017-01-29 23:09] antmerlino opened #6515 "STM32 CMSIS Header Confliction"
I am in the process of porting Riot to a board that uses an STM32.  I've run into an issue that I see two ways of fixing and was looking for some feedback. The current STM32F1 port supports processor models F103xB and F103xE.  I am looking to add support for a few processors eventually but for now, F105xC.

The port includes what appears to be a relatively stock version of stm32f103xb.h from the C

[2017-01-29 23:13] OlegHahm commented on #4612
No, it's not fixed - and probably won't be fixed. For 16 bit platforms you have to use an alternative malloc() implementation.

[2017-01-30 12:44] haukepetersen commented on #6515
Actually, we did modify STMs vendor headers slightly (just look at the git log for these files to see the changes we did). So for this issue, just adapt your header to enable the 'array style' access `CR[2]`. I don't see why we should make our code less efficient just because ST was not able to provide nice header files...

[2017-01-30 12:59] kaspar030 commented on #6501
I can confirm that by commenting the led configuration in board.c, the encx24j600 works on nucleo-f334, on current master. With the led setup in place, it doesn't work.

[2017-01-30 13:02] kaspar030 commented on #6437
Tested encx24j600 on nucleo-f334, works like a charm after disabling of onboard led (#6501)

[2017-01-30 13:12] PeterKietzmann commented on #6437
@kaspar030 did you also test it on a stm32f4discovery board?

[2017-01-30 14:33] antmerlino commented on #6515
@haukepetersen Sounds good! Just didn't know what the policy was.

[2017-01-30 14:33] #6515 closed

[2017-01-30 14:34] haukepetersen opened #6519 "driver/mrf24j40: broken on stm32f4discovery"
the newly merged driver for the `mrf24j40` is broken on the `stm32f4discovery`. From quick analyis, the driver hangs during initialization while setting the channel, explicitly it loops in the function `mrf24j40_reset_state_machine()`. IMHO, this is not an SPI issues (as we expected earlier), as all SPI transfers before that, and also this specific one look just fine on the logic analyzer. I expec

[2017-01-30 14:37] paterson opened #6520 "Issue with microcoap_server example"
Hi there!

I'm relatively new to Riot, so first off, many thanks for the extensive documentation and work that has gone into the project. I'm looking to create a simple BLE + IPV6 + CoAP stack, so the microcoap_server example is perfect. I have two issues that are probably quite straightforward but I can't quite deal with. For reference, I'm using an NRF52dk board and have a Mac running macOS Sier

[2017-01-30 15:26] antmerlino opened #6522 "UART_NUMOF confliction with stm32_common/periph/uart.c"
I am currently working on an STM32 board that does not have any available UARTS broken out.  Looking at stm32_common\periph\uart.c there is a header guard around all code that basically eliminates all code if UART_NUMOF has not been defined.  So I tried removing the define from my periph_conf.h file.

But then, uart.h in drivers\include\periph\ checks to ensure that the define UART_NUMOF has been

[2017-01-30 16:16] PeterKietzmann commented on #6519
Probably this is timing related. Following "test" makes the driver work for me with stm32f4discovery. It is still strange that [this loop](https://github.com/RIOT-OS/RIOT/blob/master/drivers/mrf24j40/mrf24j40_getset.c#L476) needs several SPI transfers until the device returns `MRF24J40_RFSTATE_RX` whereas with an Atmel there is just one call.

@bergzand can you confirm and have a look at this?

[c

[2017-01-30 16:22] PeterKietzmann commented on #6519
@bergzand do you even connect the `WAKE` line of the radio? I never did but now I've seen that we actually set the "Immediate Wake-up mode" [here](https://github.com/RIOT-OS/RIOT/blob/master/drivers/mrf24j40/mrf24j40.c#L66) and according to the datasheet sec. 3.15.2 one has to apply a high level to wake up the device.

[2017-01-30 17:05] #6461 closed

[2017-01-30 17:34] kYc0o commented on #6419
Well after a deep investigation the culprit is #5608 , specifically 63e91151cd0b3dfde28bd7cc9b3ef23b140f3730 .

I'm looking deeper so if someone can helps it would be faster maybe.

The insights are:
 - the remote boards (in remote-common) initialise the timer at a very high frequency of 16MHz, for a 16bit timer, which could overload the xtimer layer. Changing the frequency doesn't help.
 - The ti

[2017-01-30 17:38] kaspar030 commented on #6419
Like, setting the frequency to 1MHz or even 250KHz via prescaler doesn't
help?

Yep, 16MHz on a 16bit timer with 16MHz CPU clock is probably pushing it
too much...

[2017-01-30 17:42] kYc0o commented on #6419
help?

Yes, I tried several frequencies and the timer gets stuck, it's like if the overflow interrupt is not working.

[2017-01-30 20:16] #6520 closed

[2017-01-30 22:07] bergzand commented on #6519
I've optimized the wake pin away since the same functionality can be achieved via SPI commands, but I forgot to remove the SPI commands that enable the pin.  I should have some time this week to test out your suggestion on a nucleo and discovery board. It also makes sense to see if the delay can be tuned such that the SPI loop here is not needed.

[2017-01-31 07:48] PeterKietzmann commented on #6519
@bergzand that would be great, thanks! I will analyse the SPI driver and all configurations on the stm32f4discovery later (again). In case everything looks as expected, I will count it as a radio driver "bug" and mark the mrf24j40 support as "initial" or "experimental" in the 2017.01 release notes.

[2017-01-31 09:36] kYc0o opened #6526 "atmega based boards freeze when main thread is over"
While testing gnrc_minimal with arduino-mega2560 + XBee, the board seems to freeze when the main thread is over, as the examples behaves. However, if an infinite loop is used to avoid the thread to finish, the board doesn't freeze and it answers to pings.

I think it's related to the way threading works on this platform, maybe only task switching, but I didn't investigate further.

[2017-01-31 09:59] kYc0o opened #6527 "tests/thread_cooperation doesn't work on 8 and 16 bit platforms"
While testing some threading on 8 and 16 bit boards I noticed that something is wrong with the calculation of the result on this example. The rest of the test runs correctly so it's certainly due to integer sizes but I didn't find how to fix it quickly.

This is the output:

[code]

[2017-01-31 13:31] kaspar030 commented on #6527
See #6528.

[2017-01-31 14:16] PeterKietzmann commented on #6437
@haukepetersen when I run SPI (with `POL:0, PHASE:0`) it appears that CLK is on high level during idle. Just when the CS line pulls low, the SCK line goes low as well and when CS goes high, the CLK line goes high as well. That seems a bit strange to me. Did you observe the same during your tests?

[2017-01-31 14:21] PeterKietzmann commented on #6437
BTW: Same applies to `POL:0, PHASE:1`. With `POL:1, PHASE:*` we also come from high level and result in high level before and after the transmission -as expected.

[2017-01-31 17:03] #6527 closed

[2017-01-31 17:59] OlegHahm commented on #6520
First of all: welcome to RIOT and thanks for the nice words about our documentation. ;-)

Out of curiosity: Did you manage to solve your problem?

[2017-01-31 20:16] smlng commented on #6052
I just ran the `xtimer_drift` test on native several times for the `2017.01-RC2` release. It got stuck after 62, 681, and 272 seconds for instance. So not deterministic, however, I did not dig any deeper into this.

[2017-01-31 20:17] miri64 commented on #6052
(btw my longterm bisect was as inconclusive as it gets...)

[2017-01-31 21:06] PeterKietzmann commented on #3007
I close this for @OlegHahm.

[2017-01-31 21:06] #3007 closed

[2017-01-31 21:15] PeterKietzmann commented on #5230
This is the current PR that should fix it #5729

[2017-01-31 21:16] PeterKietzmann commented on #5390
OpenWSN ahs been removed #6359

[2017-01-31 21:16] #5390 closed

[2017-01-31 21:26] PeterKietzmann commented on #2112
Current CI also builds for msp430 platforms (e.g. z1). I also used that board recently and ran several applications. Will close this issue cause it seems to be fixed.

[2017-01-31 21:26] #2112 closed

[2017-01-31 21:31] PeterKietzmann commented on #2702
This issue is outdated. If there are concerns about the newly introduces SPI rework, please post them in #6437

[2017-01-31 21:31] #2702 closed

[2017-01-31 22:16] PeterKietzmann commented on #6379
@kaspar030 ping can you give it a quick try?

[2017-01-31 22:19] PeterKietzmann commented on #6432
@cgundogan this issue is solved right? Please confirm!

[2017-01-31 23:08] kYc0o opened #6532 "native broken on OS X"
#4058 broke the building on native for OS X:

[code]

@cgundogan is Jenkins now also compiling for OS X?
@kaspar030 What's Murdock state on this?

[2017-02-01 05:38] BytesGalore opened #6533 "tests/lwip target board for python test is hardcoded to native"
The python driven [test](https://github.com/RIOT-OS/RIOT/blob/master/tests/lwip/tests/01-run.py) does not run for boards other then `native`
But since the default `BOARD` for is set to `iotlab-m3` for this test, I guess they should be the primary target.

Setting the boards and ttys manually in the 01_test.py [1]
[code]
 forces the script to start with these parameters but it fails when trying to

[2017-02-01 08:17] smlng commented on #6052
I narrowed it down to the assembly code [here](https://github.com/RIOT-OS/RIOT/blob/master/cpu/x86/x86_ucontext.c#L60), that is the last function call I see every time before it gets stuck.

My assembly magic is very low, so I didn't dig any deeper ...

[2017-02-01 08:56] zpymyyn commented on #6532
Me also met with this, I think it might relate with the Tuntap not updated to EI captain?

[2017-02-01 08:58] smlng commented on #6532
@zpymyyn this is a compiler issue on macOS related to some optimizations for openocd, I don't think its related to the tuntap issue on macOS. Please try the fix in  #6534 and report back if it works or not, thanks!

[2017-02-01 09:05] zpymyyn commented on #6532
@smlng  Thanks a lot! It works!

[2017-02-01 10:49] yijiazi opened #6535 "Problem flashing Riot to Arduino UNO/Mega2560 boards"
Hi,

I'm trying to flash Riot to Arduino boards -- however, I need very good luck to flash the Riot OS to the UNO board, because most of the time, I got error messages like (it might stop at any point):

(I'm using the Ubuntu VM downloaded from vagrant https://github.com/RIOT-OS/RIOT/tree/master/dist/tools/vagrant running on a Mac OS host.)

[code]

If I was in luck (after 20~ retries), I will be

[2017-02-01 13:12] cgundogan commented on #6432
I cannot reproduce the hard faults. Everything is fine here!

[2017-02-01 13:12] #6432 closed

[2017-02-01 13:32] PeterKietzmann opened #6538 "tests/gnrc_ipv6_ext: README seems outdated"
It seems the above mentioned README needs an update. @Yonezawa-T2 your are listed as author of that application. Please provide one.

[2017-02-01 13:52] #6532 closed

[2017-02-01 15:13] brummer-simon commented on #6476
#6541= Renames "_gnrc_tcp_pid" to "gnrc_tcp_pid", removes trailing Underscores in header guards, centralizes the declaration of extern variables into a single header (common.h)

[2017-02-01 16:17] PeterKietzmann opened #6542 "boards/nucle-f0xx: misconfigured timer configuration"
I open this issue to keep track of  #6494 in the release notes.

[2017-02-01 20:01] lebrush commented on #6442
@LudwigKnuepfer try the following "snippet" to see what I mean. It's not that the thread doesn't yield but that the timer stops "working" if fired to fast. Main will print dots until thread 1 wakes and prints a newline character.

If you set the line with the `/* change this value */` to around 1000 the thing works forever on my laptop (or until the battery runs flat). If you set it to 500 or lowe

[2017-02-01 21:52] mali commented on #6535
Hum .. don't seem related with arduino API ?
@yijiazi  Which avrdude version ?

[2017-02-01 23:49] yijiazi commented on #6535
@mali : the avrdude is

 avrdude -v

avrdude: Version 6.2
         Copyright (c) 2000-2005 Brian Dean, http://www.bdmicro.com/
         Copyright (c) 2007-2014 Joerg Wunsch

I think it's the default one provided by the vagrant VM

[2017-02-02 10:01] smlng commented on #6442
@lebrush: I just tested your snippet on macOS and got an interesting behavior:

* with ` xtimer_usleep(500)` the application stops working after some time, not printing dots `.` or  newlines
* with ` xtimer_usleep(1000)` the application runs forever, **but** after some time it stops printing dots and only newlines from threads get printed.

So for the latter case the main thread seems to stuck or

[2017-02-02 10:09] smlng commented on #6442
btw. setting it to 100 also runs forever, but with 500 it stops even with 1000 sometimes. So firing too fast might not be the real/exact issue here?!

[2017-02-02 10:10] lebrush commented on #6442
Thanks for testing! Description changed :-)

[2017-02-02 10:43] kYc0o commented on #6535
I think the problem lies on the fact that you're using the vagrant VM. It comes with predefined default access to several boards which provide UART connectivity, and usually it works good so far. At the same time, if the resources of the host are not so high, of course it has a consequence on the communication with external hardware.

Which kind of native OS are you using? Be aware that RIOT can b

[2017-02-02 12:14] cgundogan commented on #6535
@yijiazi could you try `BOARD=arduino-uno make flash` instead of the direct call to `avrdude`? One thing I spotted is that you use a baud rate of `115200`, while RIOT is using `9600` (see `RIOT/board/arduino-common/Makefile.include`

[2017-02-02 12:28] OlegHahm commented on #6535
Totally true - my fault.

[2017-02-02 13:15] paterson commented on #6520
@OlegHahm Yes thank you! It was just a faulty board, so moving to an older NRF51 did the trick! Thanks!

[2017-02-02 18:42] paterson opened #6549 "Riot OS + CoAP + OSX"
Hi Guys,

Thanks for all the documentation that comes with Riot; it's been great for getting started as a newbie!

Just a quick question. I have my NRF51 board running the `microcoap_server` example, and it works great on that side, but when I'm trying to request the payload from `/riot/board`, I can't seem to get it working.

I run the following command:

      coap-client "coap://[fe80::ff:fe00:

[2017-02-02 20:33] mali commented on #6535
I use avrdude: Version 6.1, compiled on Sep 11 2014 at 20:00:34 and never had this kind of problem.
As suggested by @Kycoo, can you try flashing directly from your MacOS host ?

[2017-02-02 20:54] smlng commented on #6549
Whats your network/communication setup between your Mac and the board? How are they connected?

[2017-02-03 09:17] yijiazi commented on #6535
@cgundogan : What I used was `BOARD=arduino-uno make flash `, I simply copied the part about the flashing. The default baud rate used by the `BOARD=arduino-uno make flash` was 11520.
I also tried with other rates from 9600, it doesn't work either.

But I'll try Riot without using the VM as @mali and @kYc0o suggested, and come back to you later.

thanks a lot.

[2017-02-03 10:30] gebart commented on #2927
@PeterKietzmann I guess you meant #6160.

I did not yet have time to investigate the layered mode in the pm module, but from the short description I read in the PR it seems like it corresponds with this issue. Closing.

[2017-02-03 10:30] #2927 closed

[2017-02-03 10:53] yijiazi commented on #6535
OK, I tried it without using VM -- apparently, it works fine now.

Now the problem is solved -- thanks very much!

[2017-02-03 12:33] PeterKietzmann commented on #6476
@brummer-simon or @OlegHahm can you provide checkboxes above so we can track the progress?

[2017-02-03 12:45] OlegHahm commented on #6476
Sorry for the delayed reply:
I think it would make sense if the public API only provide those functions which are supposed to be called by the upper layer (both for TCP and UDP). If additional functions need to be exposed I would put them into a separate header, in order to keep the interface slim.

[2017-02-03 12:56] OlegHahm commented on #6535
I guess we can close then?

[2017-02-03 14:58] smlng commented on #6439
it shows changes between consecutive builds of that specific PR, **not** between PR and master. Mostly after a rebase you see lots of changes ... so its (only) a bit counter-intuitive what _changes_ means (or what Jenkins refers to) here

[2017-02-03 15:56] paterson commented on #6549
Hey! Thanks for replying! Right now all I have is the USB connection, so I figure I need to setup the bridge/tap stuff right? That's where I'm a little lost so any info on that for OSX would be great!

[2017-02-04 09:42] cgundogan commented on #6535
Before we close this issue I would actually like to confine the problem. AFAIK, flashing arduino boards (at least used to) work with a linux host. @yijiazi is using a OSX machine and we had several problems before with OSX. Can anyone with an OSX host ( @kYc0o  ?) try to reproduce this error by flashing an `arduino-uno` from within vagrant?

[2017-02-04 11:09] aabadie commented on #6542
#6494 was merged.

[2017-02-05 21:02] bergzand commented on #6501
Confirmed this for the nucleo-f401, the LED is now a really nice SPI activity LED

[2017-02-06 07:31] Yonezawa-T2 commented on #6538
Created a PR #6556.

[2017-02-06 11:23] #6538 closed

[2017-02-07 08:29] haukepetersen commented on #6501
Awesome board layout...

But any idea how we could fix this? The simplest way would be not to expose the LED, but do we want this?

[2017-02-07 08:30] haukepetersen commented on #6305
For me everything I asked for is working now -> closed

[2017-02-07 08:30] #6305 closed

[2017-02-07 08:33] haukepetersen commented on #2006
I can't reproduce this behavior anymore, so I consider it fixed.

[2017-02-07 08:33] #2006 closed

[2017-02-07 09:27] #4694 closed

[2017-02-07 15:13] gebart opened #6567 "periph/spi: Switching between CPOL=0,1 problems on Kinetis with software CS"
(I did not yet verify this with a scope)
The software CS is causing problems when moving between different clock polarity settings.
We discovered that the LIS3DH driver on mulle requires setting the SPI mode to 0, but it should be using mode 3 according to the data sheet, as well as when using the old SPI driver and when using a different driver in Contiki. Clearly there is something different wit

[2017-02-07 18:23] gebart commented on #6567
Also, the LIS3DH driver works if we retry the who am I query during init, but that's just hiding the problem because the first transfer will have placed the bus in the correct clock polarity for the second transfer.

[2017-02-07 18:33] bergzand commented on #6519
@PeterKietzmann I tested a bit today. I checked and apparently I did not forget to remove the WAKEPAD enable bit, thus the wake pin was always disabled and the level applied to it should not matter. The driver is currently using the second method to enable and disable sleep mode (register based sleep and wake mode). The immwake register means that the radio wake immediately when signalled and not

[2017-02-07 18:46] LudwigKnuepfer commented on #6442
Terribly sorry, but I have no time to properly investigate right now.
As a general remark: signals/interrupts in POSIX may be lost. I.e. if the next timer fires while signal for the current one is still being processed, there will be no signal for the next timer. This is what I would check for first.

[2017-02-07 18:47] LudwigKnuepfer commented on #6442
Also: thank you for the thorough bug report!

[2017-02-07 19:52] ks156 opened #6571 "cpu/lpc11u34 : GPIO mode"
Is it safe to mask the mode that way : https://github.com/RIOT-OS/RIOT/blob/master/cpu/lpc11u34/periph/gpio.c#L77-L78 ?

Can we be sure that the gpio_mode_t members will have a correct binary value ?
I've connected a debugger, and here's the respective member values :

* GPIO_IN -> 0
* GPIO_IN_PD -> 8
* GPIO_IN_PU -> 16
* GPIO_OUT-> 1
* GPIO_OD -> 1025
* GPIO_OD_PU -> 1041

These values looks coun

[2017-02-07 20:13] gebart commented on #6571
See https://github.com/RIOT-OS/RIOT/blob/master/cpu/lpc11u34/include/periph_cpu.h#L70-L89 for a piece of the puzzle.
The lpc11u34 CPU periph driver has its own device specific gpio_mode_t where some hardware register bit masks are encoded as the values of the enum. The default gpio_mode_t definition that you quoted above is from the generic periph header under drivers/include, but it will not be u

[2017-02-07 20:28] ks156 commented on #6571
Wow, how have I missed this ? That's no **a** piece, that's **the** piece ! Thanks a lot @gebart 👍

Now I understand the values I read when I debug the code.

(oh, and this issue can be closed, of course)

[2017-02-07 20:33] #6571 closed

[2017-02-08 08:57] PeterKietzmann commented on #6437
I unset the box for lis3dh because of #6567

[2017-02-08 09:00] PeterKietzmann commented on #6519
Thanks for testing @bergzand. Are you aware of any SPI timing requirements for the radio? Additionally we need to analyse the stm32_common SPI driver in more depth.

[2017-02-08 10:11] haukepetersen commented on #6542
@PeterKietzmann I guess we can close this issue again?

[2017-02-08 10:17] haukepetersen commented on #6567
Will look into this as soon as I can.

[2017-02-08 12:38] haukepetersen opened #6577 "periph/i2c: tracking the remodeling"
The changes proposed in #6575 and #6576 need many efforts to be undertaken. This issue will track the progress and should help to synchronize the work efforts.

Modules in RIOT that need adaption:
CPUS:
- [x] atmega_common (@mali #9252 )
- [x] efm32 (@basilfx #9208)
- [x] nrf51 (@aabadie #9477)
- [x] nrf52 (@dylad #9334)
- [x] cc2538 (@smlng #9347 )
- [x] kinetis (@gebart #9262)
- [x] sam0_common

[2017-02-08 14:08] rmadhuraj opened #6578 "RIOT+OpenThread"
Hi group,

I am working on RIOT with OpenThread which is cloned from
https://github.com/jremmert-phytec-iot/RIOT/tree/kw2xrf
https://github.com/RIOT-OS/RIOT/pull/5552
Now, I want to test the functionality of openthread on SAMR21. Can anyone help me on how to test the openthread functionality.
1. **How many minimum nodes required?**
2. How can I make sure that openthread application is working prop

[2017-02-08 14:18] kYc0o commented on #6578
See #5552, maybe you can synchronise with @jia200x .

[2017-02-08 14:19] kYc0o commented on #6578
For extensive tests the IoT-Lab testbed was used.

[2017-02-08 15:12] jia200x commented on #6578
Hi @rmadhuraj

As @kYc0o pointed out, the #5552 is the current PR for OpenThread. There's an ongoing update (OT has changed a lot since July 2015). The new version is compiling from OT building, but stopped working properly (I'm on it ;) ).

The PR version is just for testing Thread capabilities, but still wouldn't use it for real cases because lacks commissioning and border router. Anyway if you

[2017-02-08 19:21] ks156 opened #6580 "drivers/periph_common : Question about init.c"
I don't understand why the SPI devices are initialized at startup by this file : https://github.com/RIOT-OS/RIOT/blob/master/drivers/periph_common/init.c#L28

On many CPU, SPI interfaces are alternate functions. Should these alternate functions automatically configured? From my point of view, no, and SPI must be explicitly initialized by the application and not at CPU startup.

[2017-02-09 05:03] rmadhuraj commented on #6578
Hi jia200x,

                Thanks . I tried  compiling tests/othread ,, but its throwing me the error...

madhu.r@CPU-245U:~/Opentread+RIOT/RIOT-kw2xrf/tests/othread$ make
Building application "openthread_example" for "native" with MCU "native".

"make" -C /home/madhu.r/Opentread+RIOT/RIOT-kw2xrf/pkg/openthread
make -C /home/madhu.r/Opentread+RIOT/RIOT-kw2xrf/tests/othread/bin/pkg/native/openthr

[2017-02-09 08:01] gebart commented on #6491
hmm, GH didn't auto-close this when #5688 was merged.
Fixed via #5688.

[2017-02-09 08:01] #6491 closed

[2017-02-09 10:05] smlng commented on #6549
@paterson bridge/tap isn't fully functional on macOS compared to Linux, however, basic stuff is possible. You have to install [tuntap](http://tuntaposx.sourceforge.net/), e.g. via [Homebrew](http://brew.sh): `brew cask install tuntap`. You may have to adapt permission, please refer to tuntap help/FAQ.

Afterwards, you should be able to use RIOTs `tapsetup` script in `dist/tools/tapsetup`. What wor

[2017-02-09 11:55] haukepetersen opened #6583 "native/atmega broken on Mint17 (gcc 4.8.4)"
#5688 breaks native for on my host:
[code]
using `gcc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4` the default stock gcc on Mint 17

I know the gcc is old, but I guess I am not the only one using the default stock gcc on their linux machine (and not willing to upgrade once every half a year?!). So any idea to solve this?

[2017-02-09 11:57] haukepetersen commented on #6583
Actually the same seems to be true for the `avr8` platforms -> `avr-gcc (GCC) 4.8.2`.

[2017-02-09 12:24] haukepetersen commented on #6583
solved it by upgrading to some newer gcc version. Still I am wondering, what we can do to help people that run these old compiler versions, as it seems to me this might be something quite a few people run into?!

[2017-02-09 12:25] kaspar030 commented on #6583
Mint 17 is based on Ubuntu 14.04 LTS. We sometimes ago decided that we'd support only the newest LTS, with a grace period of maybe half a year...

Upgrade GCC! Should be possible. Maybe just use the ubuntu 16.04 packages.

[2017-02-09 12:27] haukepetersen commented on #6583
did.

good to know, seems like I missed that. So fine with me, I consider this issue as solved.

[2017-02-09 12:27] #6583 closed

[2017-02-09 13:08] paterson commented on #6549
Hi @smlng. Right I get you, thanks for the clarification! So because I'm looking to communicate between a RIOT board and my host operating system, I need to essentially find commands that do the equivalent of this, but on mac:

sudo ip tuntap add tap0 mode tap user ${USER}
sudo ip link set tap0 up

Is that possible? I.e RIOT board <--> macOS?

Thanks again!
Niall

[2017-02-09 13:26] smlng commented on #6549
RIOT native <--> macOS is working (somewhat) as described above. RIOT board <--> macOS would require something like ethos or slip, IIRC both are not working on macOS right now. But I haven't tried lately ...

As an alternative, you could run Linux inside a VM and pass the USB where the board is connected to the VM. Use Vagrant for an easy setup, look up the [tutorials](https://github.com/RIOT-OS/T

[2017-02-09 13:48] jia200x commented on #6578
Hi @rmadhuraj

You are compiling it for "native". You have to compile it for SAMR21:

`make BOARD=samr21-xpro all flash`

Then:

`make BOARD=samr21-xpro term`

Cheers!

[2017-02-10 05:04] rmadhuraj commented on #6578
Hi @jia200x

                  Thanks for your time. I did the same for SAMR21-XPRO as well . But still i am facing the same Error...

 **madhu.r@CPU-245U:~/Opentread+RIOT/RIOT-kw2xrf/tests/othread$ make BOARD=samr21-xpro all flash**
Building application "openthread_example" for "samr21-xpro" with MCU "samd21".

"make" -C /home/madhu.r/Opentread+RIOT/RIOT-kw2xrf/pkg/openthread
make -C /home/madhu.

[2017-02-10 13:05] jia200x commented on #6578
Hi @rmadhuraj

Please try the code available at #5552. I'm not sure about the setup in the Phytec branch.
The code in #5552 was developed using a SAMR21-xpro, so it should work out of the box.

Cheers

[2017-02-10 14:11] gebart opened #6588 "mips: Build system is not aligned with other platforms"
There are some issues with the current Makefile.include for the recently added mips CPU family.

 - [x] `USEMODULE += newlib` is missing/commented out
 - [x] Makefile requires `$(MIPS_ELF_ROOT)/share/mips/rules/mipshal.mk`
 - [x] Doesn't build with BUILD_IN_DOCKER=1 unless the host system also has the tool chain installed, effectively eliminating the benefit of using a Docker image with all tools.

[2017-02-13 10:06] neiljay commented on #6588
I'll address these issues one at a time:

This compiles in /sys/newlib/syscalls, which conflicts with the implementation in our toolchain crt:

`/user/neil.jones/src/RIOT/examples/default/bin/mips-malta/newlib_syscalls_default/syscalls.o: In function `_init':
/user/neil.jones/src/RIOT/sys/newlib/syscalls.c:63: multiple definition of `_init'
/opt/imgtec/Toolchains/mips-mti-elf/2016.05-03/bin/../lib

[2017-02-13 14:56] neiljay commented on #6588
Where did you get this toolchain from and what version ? We could potentially move this file into RIOT but I want to avoid potentially locking us into specific versions of the toolchain. (there are interdependencies between this file and the linker scripts which also reside in the toolchain).

[2017-02-13 15:07] neiljay commented on #6588
Really ?

`
$ cd /opt/imgtec/Toolchains/

$ sudo mv mips-mti-elf/ was_mips-mti-elf

$ cd ~/RIOT

$ docker run -i -t -u $UID -v ~/RIOT:/data/riotbuild --env BOARD=mips-malta riotbuild make -C examples/default clean all
make: Entering directory '/data/riotbuild/examples/default'
Building application "default" for "mips-malta" with MCU "mips32r2_common".

"make" -C /data/riotbuild/boards/mips-malta
"

[2017-02-13 15:46] kaspar030 commented on #6588
Try unsetting the mips variables (which ought not to be set if the toolchain is not installed.

Also, please try ```BUILD_IN_DOCKER=1 BOARD=mips-malta make -C examples/hello-world```, which should currently be broken, unless the MIPS_* variables are st.

The docker image has the toolchain installed, so if the build is started from within, building works fine. That's why the CI doesn't show a probl

[2017-02-13 15:58] pyropeter opened #6595 "Regression: Build with TOOLCHAIN=llvm fails on cortexm and native"
[code]

The same error occurs on `native`, but there are further issues on that platform:

[code]

[2017-02-13 16:12] neiljay commented on #6588
Makefile.GNU must be getting pulled in somehow see:
https://github.com/RIOT-OS/RIOT/pull/6066/commits/d273ecd36ba5ed5e61bb4bcf4fa4c1e9aa17c8e6

We need to do this as objcopy is broken in our toolchain, so having some flexibility to override these setting is required, we should be able to move the MIPS port to use TOOLCHAIN and Makefile.gnu explicitly though fairly easily (as long as we can overrid

[2017-02-13 16:22] neiljay commented on #6588
That still works if you manually invoke docker:

$ export MIPS_ELF_ROOT=
16:17[njones@njones-linux(x86_64)~/RIOT]
$ docker run -i -t -u $UID -v ~/RIOT:/data/riotbuild --env BOARD=mips-malta riotbuild make -C examples/default clean all
make: Entering directory '/data/riotbuild/examples/default'
Building application "default" for "mips-malta" with MCU "mips32r2_common".

"make" -C /data/riotbuild/bo

[2017-02-13 17:39] gebart commented on #6588
@neiljay what does your bundled crti `_init` function actually do? Maybe it belongs in the cpu initialization in RIOT?

If we don't have the RIOT syscalls then nothing in RIOT will be able to interact with newlib. I guess you have implemented basic uart write for printf, but I don't see how any of the other calls will work without cooperating with the OS. This will in particular break the POSIX co

[2017-02-13 17:49] gebart commented on #6588
@neiljay

This is a convenience helper for letting new users build stuff for all platforms without having to manually install a toolchain for the target (you still need GNU make, obviously) and to avoid having to type a really long `docker run` command line.

If you try it for the other targets (e.g. `make BUILD_IN_DOCKER=1 BOARD=stm32f4discovery`) you'll see that the Makefile will set up the envi

[2017-02-13 18:17] neiljay commented on #6588
@gebart

"Use the source Luke" ;-)
https://github.com/RIOT-OS/RIOT/blob/master/cpu/mips32r2_common/thread_arch.c

No the toolchain provides a full semi-hosting layer which can interact with a debugger or bootloader or the application can intercept the syscalls themselves and choose to handle them (we can optionally handle the write syscall to stdout or stderr in the riot/mips port forwarding to th

[2017-02-13 18:53] neiljay commented on #6588
@gebart

wrt issue 3, how about:

`
diff --git a/cpu/mips32r2_common/Makefile.include b/cpu/mips32r2_common/Makefile.include
index d0c9b7a..a9e0dbd 100644
--- a/cpu/mips32r2_common/Makefile.include
+++ b/cpu/mips32r2_common/Makefile.include
@@ -1,6 +1,8 @@
 ifndef MIPS_ELF_ROOT
+ifneq ($(BUILD_IN_DOCKER),1) #Don't error when BUILD_IN_DOCKER=1 as it _is_ set in DOCKER
     $(error "Please set $$(MI

[2017-02-13 19:15] miri64 opened #6596 "tests: unify sock tests"
There is a lot of code duplication in and between the tests for `sock` for both `lwip` and GNRC. With some careful consideration these can be reduced.

[2017-02-13 21:10] smlng commented on #6595
Just tried on macOS, can confirm this issue. Needs further investigation!

Would be good to have llvm tested for native by our CI.

[2017-02-13 22:09] gebart commented on #6595
Easiest workaround is to just ifdef the whole sync file away when using
clang. The file is only needed when using a gcc from 4.6 or earlier, i.e.
the msp boards.

On Feb 13, 2017 10:10 PM, "Sebastian Meiling" <notifications@github.com>
wrote:

[2017-02-14 15:20] brummer-simon opened #6603 "native: 64 Bit support ?"
Hi,

I have read today that Arch Linux seems to discontinue x86 32-bit
platform support in summer 2017.

Other distributions might follow in the future. Are there any plans to
get rid of natives dependencies to its manditory 32-bit libraries?

[2017-02-14 15:39] miri64 commented on #6603
This doesn't make much sense IMHO. We don't have support for any other 32-bit platform.

[2017-02-14 19:49] gebart commented on #6595
btw, what version of Clang was it that caused this error?
I don't see this error on Linux with `clang version 3.9.1 (tags/RELEASE_391/final)`

[2017-02-14 21:03] #6595 closed

[2017-02-14 21:59] pyropeter commented on #6595
I used `clang version 3.9.1 (tags/RELEASE_391/final)` on Linux, too. Why did you not get the error?

[2017-02-15 07:46] brummer-simon commented on #6603
@miri64 - I dont get what you mean. I am just saying that Linuxes support for i386 starts to vanish sooner or later, therfore "native" should buildable under x86_64 without dependencies to i386 libraries.

[2017-02-15 08:39] haukepetersen commented on #6580
The problem is, that SPI devices are potentially shared among many uses (i.e. device drivers). Now calling the init function from every driver would be unnecessary overhead. Also this would lead to some side problems like initializing the mutexes etc.

The pin initialization is also something, that only should be done once in the code (instead of again and again for each driver using the same SPI

[2017-02-15 08:49] haukepetersen commented on #6522
I opt for solution 2): I don't like having these 'void' statements (`#define UART_NUMOF 0`) in the boards config. IMHO the config should be as compact as possibly -> only define whats there vs define also what's not there...

Fixed in #6607

[2017-02-15 09:14] kaspar030 commented on #6603
@brummer-simon Arch only discuntinues 32bit only installations. they will not drop support for 32bit userland binaries.

Having native compile for 32bit would be nice-to-have, but IMHO is not worth the effort of fixing the codebase (yet).

[2017-02-15 10:52] miri64 commented on #6603
@brummer-simon

I mean, why making the native platform vastly different, only because one distro is dropping toolchain support for it (which it isn't, see @kaspar030's comment). There are always ways to install software beyond the official repositories of a Linux distribution (in Arch even easier than most other distros IMHO), so why enforce a very different architecture (64bit on native vs (32bit

[2017-02-15 10:54] miri64 commented on #6603
I mean of course `pacman -S gcc-multilib` ^^"

[2017-02-15 12:43] shreeharsha22 opened #6611 "SPI for samr21 board in RIOT-2017.01"
May I know if SPI driver is tested and stable for samr21 board in latest RIOT-2017.01. If any one has already worked on it.  Facing some clock related issues.

Thanks in advance.

Regards,
shreeharsha I

[2017-02-15 13:00] PeterKietzmann commented on #6611
Yes it was tested. You can have a look at [this table](https://docs.google.com/spreadsheets/d/1_IrBtKyhkOyKK8NxQIHOJ2fdyExqNqMucxDWPLdBNQI/edit?pli=1#gid=0) which contains information about what was tested. However, we introduced a complete SPI rework with this release and we collect leftover topics in #6437. Can you elaborate on your clock related issues?

[2017-02-15 14:16] shreeharsha22 commented on #6611
hai am doing the below steps for spi communication
where I have selected 2nd spi device in i,e configuring for sercom3
static const spi_conf_t spi_config[] = {
        {:
        },
        {
        },
         }
        .dev      = &SERCOM3->SPI,
        .miso_pin = GPIO_PIN(PA, 16),
        .mosi_pin = GPIO_PIN(PA, 18),
        .clk_pin  = GPIO_PIN(PA, 19),
        .miso_mux = GPIO_MUX_D,

[2017-02-15 15:11] neiljay commented on #6588
@gebart points 3 and 4 are now addressed in #6066 and #6092 see:
https://github.com/RIOT-OS/RIOT/pull/6092/commits/1c827f3c1786aabd93c3d4130085691b8e50ba31
and
https://github.com/RIOT-OS/RIOT/pull/6066/commits/4413a76aaa571fd8c1a4fa573ea943051c769968

[2017-02-15 16:17] alexiss03 opened #6614 "Cannot make all"
Hi! I've checkout the branch 2017.01-branch. While entering the make all command, I've encountered the following error message:

gcc -Werror -Wall -Wextra -pedantic -std=gnu99 -m32 -fstack-protector-all -ffunction-sections -fdata-sections -fno-delete-null-pointer-checks -Wstrict-prototypes -Werror=strict-prototypes -Wold-style-definition -Werror=old-style-definition -fno-common -Wall -include '/va

[2017-02-15 20:12] DipSwitch commented on #6161
The only technical problem I have, is that I technically don't have enough spare time to finish what I started ;) But there is light at the end of the tunnel =)

[2017-02-15 23:29] alexiss03 commented on #6614
Hello. I've found the solution on this. I have a missing package **libc6-dev-i386**. After installing the said package, the make all command continued successfully. I was able to get into the shell. This issue is closed.

[2017-02-15 23:29] #6614 closed

[2017-02-16 07:28] A-Paul commented on #6419
I'm also trying to investigate this topic. I made a remarkable discovery that *tests/xtimer_usleep* is running to the end, when I connected with the jlink adapter via JTAG.
It is still running through after warm resets. After a cold reboot it gets stuck at the first *xtimer_usleep* call, as usual.

[2017-02-16 09:18] PeterKietzmann commented on #6611
- please check your braces
- can you try your code with a given [default configuration](https://github.com/RIOT-OS/RIOT/blob/master/boards/samr21-xpro/include/periph_conf.h#L183), e.g. the second defined SPI port has pinouts
- what exactly is the problem? Please state what you see and what you've expected.

[2017-02-16 15:11] haukepetersen opened #6620 "gcoap: broken handling of ACK messages?"
I am not quite sure, but is the behavior as shown below as intended? It shows sending a confirmable GET request from  a coap client (libcoap on linux) to a `gcoap` server (`native` RIOT on the same host). From my understanding, the second ACK should not be send, right? Or couldn't `gcoap` pickyback the content in an ACK message right away?

![gcoap_bug](https://cloud.githubusercontent.com/assets/6

[2017-02-16 15:49] kb2ma commented on #6620
Apologies for the confusion, @haukepetersen. gcoap does not support confirmable messaging at present, only non-confirmable. You are seeing gcoap copy the message type from the request into the response, which is a poor way to deal with the limitation.

The gcoap example [README](https://github.com/RIOT-OS/RIOT/tree/master/examples/gcoap) describes the limitations. The source documentation does not

[2017-02-17 08:26] haukepetersen commented on #6620
All good, I might as well read the doc... :-)

Maybe I can squeeze in some time next week to look into implementing support for confirmable message beginning of next week if that is alright with you.

Regarding this issue: I consider it solved and close it again.

[2017-02-17 08:26] #6620 closed

[2017-02-17 08:46] gebart commented on #6588
@neiljay I think we should try to find the compiler in `$PATH` before erroring out on a missing environment variable. The toolchain root can be found relative from the compiler executable. Saves on setup if you have the compiler already in your path.

Btw, I looked at the mipshal.mk file and I still think it should be merged into `mips-common/Makefile.include`. There's basically only one relevant

[2017-02-17 10:28] kb2ma commented on #6620
Of course, I'd be happy for your contributions! The client side is the challenging part, but gcoap already times out requests. See the use of gcoap_request_memo_t and the GCOAP_MEMO* macros. Also, @kaspar030 has implemented confirmable messaging for nanocoap in [nanocoap_sock.c](https://github.com/kaspar030/sock/blob/master/nanocoap/nanocoap_sock.c). Notice the constants already defined there that

[2017-02-17 10:33] kb2ma commented on #6620
One more thing -- why I implemented the timeout and callback on failure for NON. IMO, whether it's a NON request or a CON request, the application still may need to deal with the situation where it does not get a response to the request.

[2017-02-17 10:49] kb2ma commented on #6620
I also maintain some wiki pages on gcoap. The [status page](https://github.com/kb2ma/RIOT/wiki/gcoap-Status) is a good place to start, and the features page will give you more background on the approach.

[2017-02-17 15:38] haukepetersen opened #6624 "core: thread_flags seem to be broken on native"
Thread flags seem to be broken on native. I was trying to run this code
[code]
on `native`. But after setting the timer a second time, it gets stuck:
[code]

Next I tried to run `test/thread_flags`, but the test also failed:
[code]

using `gcc (Ubuntu 6.2.0-3ubuntu11~14.04) 6.2.0 20160901` on Mint 17.3

[2017-02-19 18:45] drcef commented on #6419
I've also had issues with my applications getting stuck at `xtimer_usleep` calls. I'm developing on the Zolertia re-mote board (cc2538 cpu).

I've determined that when `xtimer_usleep` is called from the main thread or from auto_init routines before main is entered, it will sleep forever. However, it works as expected when called from within other threads that I create. My application involves read

[2017-02-20 10:30] aabadie opened #6629 "Add support to (all) ST Nucleo boards"
There's an ongoing work which goal is to add support for (all) [ST Nucleo boards](http://www.st.com/en/evaluation-tools/stm32-mcu-nucleo.html) to RIOT.

The goal if this issue is to keep track of this work. For all boards, it lists some information, the actual support status (available upstream, available PR, not supported) and give the link to the documentation in the Wiki (if any).

| # | Board

[2017-02-20 19:13] gebart opened #6631 "doc: add link between SAUL and SAUL registry"
I don't know how to do it in Doxygen, but it would be helpful if there was a link (both ways) between https://riot-os.org/api/group__sys__saul__regs html and https://riot-os.org/api/group__drivers__saul.html

[2017-02-20 22:28] antmerlino opened #6632 "PAN Coordinator Support"
I've seen this mentioned in a few different issues, but it seems there is no stand-alone issue regarding support for PAN configuration via a coordinator.

I am interested in working on this feature but am unsure if I'd be able to do it alone without at minimum guidance, or more likely, actual help writing it.  Are there reasons that this hasn't been completed yet that I may not be considering?  Is

[2017-02-21 09:36] kaspar030 commented on #6624
Actually, it doesn't fail. It just doesn't end. The thread waiting for flags exits, end main ends up in ```while(1) {}```. Will PR a fix.

[2017-02-21 09:39] kaspar030 commented on #6624
See #6636.

[2017-02-21 09:51] kaspar030 commented on #6624
I run your code. Seems like the second timer interrupt is not triggered.

[2017-02-21 10:03] kaspar030 commented on #6624
Problem is native specific, on samr21 your code runs fine.

[2017-02-21 10:52] kaspar030 commented on #6624
Somehow, the second "thread_yield_higher()" tries to switch to native's ISR context, but never arrives. Don't have time to dig deeper.

[2017-02-21 12:50] smlng commented on #6632
Good point bringing this up (again), IIRC this is also an ongoing discussion for linux-wpan, maybe you chat with @alexaring on that topic, too.

[2017-02-22 09:16] PeterKietzmann commented on #6632
@antmerlino I would say the general interest exists and there is no explicit reason (besides of time resources) why it hasn't been implemented yet. Concerning guidance I would say just start and come around with concrete questions in your PR, here or on the devel mailing list.

[2017-02-22 09:36] haukepetersen commented on #6624
Would you mind opening a more specific issue and closing this one then? Thx

[2017-02-22 10:26] kaspar030 commented on #6632
@antmerlino I'd be really happy to see PAN coordinator support!

[2017-02-22 15:22] #6522 closed

[2017-02-22 20:44] aabadie commented on #6629
Updated Nucleo-F411.

[2017-02-22 22:45] immesys commented on #4271
@haukepetersen in this system, how does an application get access to the device handle initialized by the auto_init_xx() function?

[2017-02-23 13:31] haukepetersen opened #6642 "xtimer: broken on 'native` when with thread_flags"
refining #6624

The following code hangs after the first timeout on native:
[code]

After a quick debugging session I might have found a lead: it seems like native is doing an early context switch from its interrupt context back to the main thread when calling `thread_flags_set()`. The second call to `xtimer_set()` exits in `_lltimer_set()` without setting the new timer, because `_in_handler` is s

[2017-02-23 13:32] haukepetersen commented on #6624
closed in favor of #6642

[2017-02-23 13:32] #6624 closed

[2017-02-23 13:53] mali commented on #1323
@BytesGalore : can you add arduino uno and duemilanove to the Atmega Family list (not checked) ?

[2017-02-23 13:58] haukepetersen commented on #6642
The problem seems to be broken scheduling behavior in native, `isr_thread_yield()` (in `native_cpu.c`) calls the scheduler directly, and does not allow the interrupt to run to completion. If I am wrong or is that quite broken behavior?!

[2017-02-23 16:15] BytesGalore commented on #1323
@mali added

[2017-02-23 21:59] eprive opened #6646 "Problems trying to build RIOT on Tinycore"
Encountering errors when trying to build RIOT on Tinycore 7.2 (with gcc package loaded)

- after loading iproute2 (required for the ip command) reports : "RTLINK reports: Operation not supported"
- After make all : "./--version: error while loading shared libraries .....
- After make term : "./--version: error while loading shared libraries .....

But the executable starts: "/home/tc/RIOT-master/e

[2017-02-23 22:36] aabadie commented on #6629
Updated Nucleo32-F031

[2017-02-24 01:47] immesys commented on #6437
The MISO pin is configured incorrectly on samr21 again. Same as  #5868. Please make sure that MISO is always configured as IN_PD or IN_PU, never just IN.

[2017-02-24 02:08] immesys commented on #6611
I will also confirm that something is very wrong with SPI in SAMR21 in master now. Deep sleep mode now consumes 1.5mA instead of 4uA. I have bisected it to between d587cf38df5a630804212864c5644fe9e9981e53 and 236f1eddddb2755c9fefbdf118e3e98f97075b4b which isn't super helpful because more than 60k lines changed there, most related to SPI rework. I'm not finished searching yet but wanted to confirm

[2017-02-24 06:54] kaspar030 commented on #6646
Interesting! :)

is the tuntap module loaded (check lsmod output...)?

Weird. The only places where native uses "--version" seems to be gcc or ldd.

Could you try

    # gcc --version
    # ldd --version

... and see if they output their version if called manually?

It says "Operation not permitted", maybe try as root? If iproute2 failed to create the tap interface above, RIOT tries to create it i

[2017-02-24 07:24] haukepetersen opened #6648 "gnrc: configure global IP addr on startup (for debugging)"
I just had an idea that would make my life (and hopefully that of others) a little easier, but I don't quite know where to implement it:

It would be nice to be able to define a (global) IPv6 address in the Makefile, that is added to the default (e.g. the first) network interface. For example something like:
[code]

[2017-02-24 08:03] gebart commented on #6642
@haukepetersen I agree that the ISRs must be allowed to run to finish before switching contexts.

[2017-02-24 08:22] eprive commented on #6646
gcc --version -> 5.2.0
ldd --version -> "./--version error while loading shared libraries ....etc"

It could well be that "ip" doesn't support the bridge functionality in Tinycore. Many commands and applications have been stripped in Tinycore to reduce the footprint.

[2017-02-24 08:30] lebrush commented on #6427
Solved by #6428

[2017-02-24 08:30] #6427 closed

[2017-02-24 08:33] lebrush commented on #6642
I faced a similar situation when implementing the `xtimer_mutex_lock_timeout` and solved by adding a [`thread_yield_higher()`](https://github.com/RIOT-OS/RIOT/blob/master/sys/xtimer/xtimer.c#L242) (which then I figured out it should rather be a [`sched_context_switch_request = 1`](https://github.com/RIOT-OS/RIOT/pull/6441/files#diff-7412db2749b270423cfd5430e69744b9R253) since it's called from an i

[2017-02-24 13:24] AnonMall opened #6650 "GPIO Port shift in cc2538 is unconsistent"
Hi,
I just realized when trying to initialize a GPIO Pin with an interrupt through `gpio_init_int(...)` the pin enumaration is inconsistent to the defines in `cc2538_gpio.h`. While the port shift in `cc2538_gpio.h` is 3, it is 12 in `periph/gpio.c`. So when trying to initialize the GPIO `GPIO_PB0` for instance, which is the gpio with port=1 and pin=0 (so encoding by `cc2538_gpio.h`means its pin nu

[2017-02-24 16:25] aabadie commented on #6629
Updated Nucleo144-F413

[2017-02-25 07:58] LudwigKnuepfer commented on #6603
| We don't have support for any other 32-bit platform.

You mean 64bit?

[2017-02-25 08:08] LudwigKnuepfer commented on #6603
I highly doubt any major Linux distribution will drop 32-bit support (available via multilib for the x86_64 platform) in the foreseeable future.
That being said there are pros and cons.

Pro:
- improve RIOT's code base by fixing 64 related errors
- simplify toolchain setup for native

Con:
- effort / gain (as it's unlikely we will support any other 64 bit platform, fixing potential 64 bit errors i

[2017-02-25 08:10] LudwigKnuepfer commented on #6603
Closing as memo, reopen if you disagree.

[2017-02-25 08:17] LudwigKnuepfer commented on #6603
PS:
I added my answer to the [FAQ](https://github.com/RIOT-OS/RIOT/wiki/FAQ#why-is-there-no-64-bit-support-at-least-in-native) - if I missed some important point please update there as well.

[2017-02-25 08:26] LudwigKnuepfer commented on #6629
Just out of curiosity: why is this a goal?

[2017-02-25 19:03] immesys opened #6655 "periph/pm: pm_layered never used"
On SAMR21 the `pm_set_lowest` implemented in `sys/pm_layered` is never called because the weakly defined noop version in `drivers/periph_common` takes precedence. If I knew why, this would be a pull request not an issue.

To see this, you first have to fix #6640 which at the time of writing is not merged. So

[code]
Then compile a trivial example for samr21

[code]

Now look at the symbol for pm_s

[2017-02-25 19:10] immesys commented on #6655
In case it's relevant. I am compiling with `arm-none-eabi-gcc 4.9.3 20150529 (prerelease) (15:4.9.3+svn231177-1)`.

[2017-02-26 16:40] brummer-simon commented on #6476
Whats the Problem with this 'gnrc_tcp_eventloop.c allocates a message queue on the function stack' point?

I mean the message queue of gnrc tcp's eventloop thread is allocated on the thread function. The message queue lives as long the thread lives and the thread is an eventloop that never returns...

[2017-02-27 05:57] pithadiyarp opened #6657 "gcoaps example in RIOT source code"
hi ,,
can anyone tell me how to test gcoaps example for samr21 provide on RIOT code .
my query -
1) for this example how many samr21 board is Required (two or one) .

Thanks..

[2017-02-27 07:41] aabadie commented on #6629
It's a goal because it's difficult to follow the status of all ports for this family of boards : which one is in the code base, which one has a PR opened, which one is documented in the wiki. I think it also helps others following this work.
Not sure if that answers your question.

[2017-02-27 08:36] haukepetersen commented on #6642
Agree, this is not only a **shoul**, but a **MUST**!

So it seems this behavior is (to some extend) related to #6442. The question is how we can fix this once and for all... IMHO this should be a high priority thing to do, but I don't have the know-how to fix this. Anyone else volunteering?

[2017-02-27 09:56] OlegHahm commented on #6642
Maybe I don't it right, but why do you assume that the ISR does not run to completion? I can't neither see it from the native code (just calling `sched_run()`) does not immediately switch context) nor from putting a debug puts after `thread_yield_higher()` in `_thread_flags_wait()`.

[2017-02-27 12:02] miri64 commented on #6648
See https://github.com/RIOT-OS/RIOT/pull/6623?

[2017-02-27 12:14] miri64 commented on #6603
Yes ^^"

[2017-02-27 13:05] miri64 commented on #6657
If you want to communicate with it you need at least two (or one and some kind of border router device like a Raspberry-Pi with a WPAN radio device attached). It would be great if you could give us a pointer to where the [README](https://github.com/RIOT-OS/RIOT/blob/master/examples/gcoap/README.md) of that example is lacking in that regard.

[2017-02-27 13:05] smlng commented on #6648
I'm unsure if configuring _global_ IPv6 addresses will work without a 6L(B)R in the network. A while back (ages ago) I flashed 2 boards with RIOT gnrc_networking, manually configured global IPv6 address (or ULAs) but couldn't ping between them, because ND couldn't resolve IP addresses to MAC addresses. Maybe setting ncache entries manually, too, would help?

[2017-02-27 13:09] miri64 commented on #6648
You need to set some kind of default route, yes.

[2017-02-27 13:15] smlng commented on #6648
@miri64 I doubt  a default route suffices - I think the problem is remains to resolve L3 to L2 address <- neighbor discovery. IIRC having 2 RIOT nodes with manually setup global IPv6 addresses gets stuck in ND, because there will be no NA to an initial NS by one node for the IP address of the other.

[2017-02-27 13:57] haukepetersen commented on #6642
I'll put together a test application to demonstrate this behavior.

[2017-02-27 14:17] haukepetersen commented on #6642
done: #6659

[2017-02-27 14:45] kb2ma commented on #6657
In addition to @miri64's suggestions, see [README-slip.md](https://github.com/RIOT-OS/RIOT/blob/master/examples/gcoap/README-slip.md) specific to the use of a samr21-xpro board in a border router setup, connected via USB/serial to a Linux machine.

[2017-02-27 17:05] kaspar030 commented on #6642
#6660 fixes the issue for me.

[2017-02-28 04:40] pithadiyarp commented on #6657
hi ,
in gcoap example coap get command
ex: coap get ip port path data
in path what should i provide that i didn't understand (for native platform only).
details -
--> in that i created two taps like tap0 and tap1. now i want to transfer data from tap1 to tap0 and ping is success fully work that i verified with Wireshark tool .

[2017-02-28 10:45] kb2ma commented on #6657
gcoap includes two built-in paths:

1. `/.well-known/core` -- the standard CoAP discovery path
2. `/cli/stats` -- simple statistics about the CoAP CLI itself; reports on count of requests the CLI has sent

Below is a transcript from my workstation. The last command shows the GET request. `ifconfig` shows how to determine the IP address of the process, and `coap info` shows the listening port and t

[2017-02-28 10:56] pithadiyarp commented on #6657
Hi i tried this but is given me some error -

root@CPU-262U:~/RIOT/examples/gcoap# bin/native/gcoap.elf tap0
RIOT native interrupts/signals initialized.
LED_RED_OFF
LED_GREEN_ON
RIOT native board initialized.
RIOT native hardware initialization complete.

main(): This is RIOT! (Version: 2017.04-devel-48-g0b70-CPU-262U)
gcoap example app
All up, running the shell now

ifconfig
Iface  6   HWaddr: be

[2017-02-28 10:58] kb2ma commented on #6657
There is a '-' in `/.well-known/core`. ;-)

[2017-02-28 11:54] pithadiyarp commented on #6657
hi ,,
I created two tap tap0 and tap1
can you please tell me how can i transfer data between two tap . tap detailsgiven below...

# TAP1
 root@CPU-262U:~/RIOT/examples/gcoap# bin/native/gcoap.elf tap1
RIOT native interrupts/signals initialized.
LED_RED_OFF
LED_GREEN_ON
RIOT native board initialized.
RIOT native hardware initialization complete.

main(): This is RIOT! (Version: 2017.04-devel-48-g0b

[2017-02-28 13:10] RichardH92 commented on #6495
This is referencing the TIMER_CHAN definition in /cpu/stm32_common/include/periph_cpu_common.h? Would it be best to add this as a parameter in the Makefile?

[2017-02-28 13:19] kYc0o commented on #5519
@OlegHahm Would you mind to re-modify the README about this issue? It's one of the first things we see when we come to the repo so it can scare people...

[2017-02-28 16:44] kYc0o commented on #6419
@drcef Can you test your code without the workaround with the previous RIOT release? There are several modifications done for the current release that could have broken xtimer, but I cannot determine exactly which one.

[2017-02-28 17:55] BytesGalore commented on #6437
I appended a problem with HW CS on the Kinetis board to the OT list
@ 1MHz the HW CS rises back after transmission, while it doesn't @100kHz and 400 kHz

[2017-02-28 18:04] gebart commented on #6437
The kinetis problem could be that the module is disabled before the clock CS line has risen. Try removing the clock disable line in spi_release, see if that fixes it.

[2017-02-28 18:10] immesys commented on #6437
Can I ask why we want to disable module and clock on release? Is it just to save energy or is there a different reason? I ask because I don't think it's a good idea but if I want to convince people to revert it I will need to prove it doesn't serve its intended purpose.

[2017-02-28 18:36] BytesGalore commented on #6437
@gebart I commented out the complete line for powering off [1], but no luck.

[1] https://github.com/RIOT-OS/RIOT/blob/master/cpu/kinetis_common/periph/spi.c#L155

[2017-02-28 19:54] LudwigKnuepfer commented on #6629
@aabadie I was interested in why it is a goal to support ALL Nucleo boards.

[2017-02-28 20:36] miri64 opened #6668 "pkg: USEPKG vs USEMODULE"
There seem to be some confusion all throughout the code-base about the `USEPKG` macro and how to use it. My interpretation at this point: `USEPKG` pulls the package in (i.e. just downloads and patches it), `USEMODULE` then *builds* modules that are part of that module. Yes, `USEPKG` lets the buildsystem step into the package's path, but I see it more like updating `DIRS` in `sys` or `net/gnrc`. Ho

[2017-02-28 21:23] aabadie commented on #6629
@LudwigKnuepfer, last year at the Paris Open Source Summit, I remember there was one guy talking about IoT who was comparing different OSes. He gave his opinion about RIOT : promising but with limited hardware support.
I think that supporting all Nucleo boards could give a good starting counter argument of what he said (even if he was more thinking of NXP MCUs).

Those boards covers a wide set of

[2017-03-01 07:28] pithadiyarp commented on #6657
hi ,,
Thanks it's very helpful to me...

[2017-03-01 07:45] gebart commented on #6437
@BytesGalore Sorry, I meant https://github.com/RIOT-OS/RIOT/blob/master/cpu/kinetis_common/periph/spi.c#L71. Leave the MDIS stuff in. If it doesn't make a difference, try removing both the SIM_SCGC line and the SPI_MCR MDIS line.

[2017-03-01 07:56] smlng commented on #6419
I ran several tests but no solution to this so far. First, I thought that the 16Bit (vs. default 32Bit) timer might be a problem, but then I tested with an atmega328p Arduino  (16Bit timer, too) and everything works. I created a gist with the outputs for boards _remove-revb_ and _arduino-duemilanove_ for `tests/xtimer_hang` [here](https://gist.github.com/smlng/85b6ecd22362d1170ada2f7feeb76857). Bt

[2017-03-01 09:23] BytesGalore commented on #6437
@gebart preventing clearing the SIM_SCGC when powering off (@ line [71](https://github.com/RIOT-OS/RIOT/blob/master/cpu/kinetis_common/periph/spi.c#L71) ) did the trick.
I tested it with 100kHz, 400kHz and 1MHz (my logic analyzer doesn't sample correctly higher frequencies).

[2017-03-01 10:43] kb2ma commented on #6657
Excellent! Feel free to close this issue then. You always can open another one or send a message on the riot-users mailing list for more questions.

[2017-03-01 12:41] smlng opened #6669 "boards, nucleo: THREAD_STACKSIZE_DEFAULT too large"
In #6662 I optimized the size of `tests/xtimer_drift` to fit onto board _arduino duemilanove_, which has only 2K RAM. In the Makefile of this test the `nucleo32-f031` and `nucleo32-f042` are blacklisted due to insufficient mem - and @miri64 asked it this is still valid for that tests, so I looked into it.

Simply running make for these boards, resulted in a linker error saying that section .bss wo

[2017-03-01 12:48] tilmannOSG commented on #5845
@kosme I'm not really familiar with the hardware of the Electron but I guess if it's close enough to the Photon then it shouldn't be too hard to get that working too :) (nothing we plan to work on though)

[2017-03-01 12:58] kYc0o commented on #6419
@smlng I spend quite longtime analysing on which way #5608 would introduce this problem, however I couldn't see anything harming the behaviour specifically for this platform. I also tried 16 and 32 bits timers with xtimer, and I have always the same behaviour.

My findings so far lead me to suspect that for some reason the interrupt is not being triggered, causing the timer being stuck somehow, th

[2017-03-01 13:06] smlng commented on #6419
@kYc0o I tested with `tests/xtimer_hang` and enabled debug in `xtimer_core.c` to get the output you see in the gists. I played around with different settings for the hardware timer: frequency 1MHz, 16MHz, even 250kHz of the arduino, I also set it to 32Bit mode, but nothing helped so far. Its confusing ... btw. `tests/periph_timer` works, at least with correct settings - so the hardware timer and d

[2017-03-01 13:24] #6657 closed

[2017-03-01 13:34] aabadie commented on #6669
I remember that we had this discussion when @vincent-d ported the nucleo32-f042 in #6273. See comments [here](https://github.com/RIOT-OS/RIOT/pull/6273#issuecomment-270658233), [here](https://github.com/RIOT-OS/RIOT/pull/6273#issuecomment-270907622) and the [winning comment](https://github.com/RIOT-OS/RIOT/pull/6273#issuecomment-270909774) of @OlegHahm.
Maybe there's still room for debate.

[2017-03-01 13:44] smlng commented on #6669
mhm, I'm not familiar with the differences within the cortex (m0, m1, m2, ...) family. So I don't know if some may require larger stack sizes because they bring more stuff. However, I would guess it makes sense to adapt stack sizes by minor family, i.e. m0, m1 ... . At least it seams that boards with m0 very likely have limited RAM, too.

Or we could define `THREAD_STACKSIZE_DEFAULT` within Makefi

[2017-03-01 13:56] kaspar030 commented on #6669
The stack sizes needed are architecture (and application-)dependent. That's why AVR8 and MSP430 have smaller "default" stacksizes than ARM, and all ARM (which all compile to thumb) have the same, as all applications compiled for any ARM board will need the same amount of stack.

Setting smaller default stacksizes for ARM boards with little memory will very probably cause problems.

If a test needs

[2017-03-01 13:59] smlng commented on #6669
@kaspar030 so you would favor what I said last:

which is probably the best thing to do, as its mostly app/test depended how much mem is actually required, having some predefined values (MIN, MED, LRG, XXL) might be a good starting point.

[2017-03-01 14:09] gebart commented on #6437
I think turning off the clock domain for the SPI is a wrong move on Kinetis. It doesn't affect the power consumption as far as I can measure, and it have caused issues on multiple occasions.

[2017-03-01 14:10] kaspar030 commented on #6669
Not the best idea, as many modules use that define for their stacks. Tweaking it for the main application could break those.

IMHO setting ```THREAD_STACKSIZE_MAIN``` is the way to go for the main thread, as there's no way to change the define in code.

For threads spawned from within the application, MIN SML DFLT LARGE should be used.

Unfortunately, some modules also use THREAD_STACKSIZE_MAIN, t

[2017-03-01 14:31] brummer-simon commented on #6476
With the merging of  #6541, the issue List can be updated.  #6541 addresses:

- at least parts of the documentation still refer to ng_... (e.g., ng_pktsnip)
-  parts of the code do not obey RIOT coding conventions (else in the same line as the closing brace, camelCase...)
- several functions exceed 100 lines
- header guards with trailing underscores are re-introduced
- includes more than 20 header

[2017-03-01 14:32] smlng commented on #6669
@kaspar030 good point.

Okay lets go by example, see `tests/xtimer_hang` for instance: where we have those 2 very tiny background timer threads, which do not require a large stack.

Using THREAD_STACKSIZE_DEFAULT or MAIN here, would waste memory. And even redefining THREAD_STACKSIZE_MAIN is bounded by the size the actual main requires and will still be larger than necessary for these background ta

[2017-03-01 14:38] kaspar030 commented on #6669
Would DEFAULT/2 work on all platforms? That's how we'd define e.g., ```THREAD_STACKSIZE_SMALL```.

[2017-03-01 15:43] phectori commented on #6519
The stm32 datasheet states:

I think adding `while (!(dev(bus)->SR & SPI_SR_TXE)) {}` before line [175](https://github.com/RIOT-OS/RIOT/blob/master/cpu/stm32_common/periph/spi.c#L175) solves the problem. (so waiting for TXE to be set before checking the BSY bit.)

It solves the problem for me on a nucleo-f401 board. I do not have a stm32f4discovery at my disposal.

I hope this solves the problem o

[2017-03-01 15:48] immesys commented on #6437
It doesn't affect power consumption positively on SAMR21 either...

[2017-03-01 15:59] smlng commented on #5265
fixed by #6360

[2017-03-01 15:59] #5265 closed

[2017-03-01 16:08] smlng commented on #6419
I tested with `tests/xtimer_periodic_wakeup` which reports to large differences, for any viable setting for timer in cc2538, i.e. I tested with 16Bit timer using 1MHz and 16MHz, and also with 32Bit timer and 16 MHz in all cases the diff was around 2000

[code]

Basically the `xtimer_periodic_wakeup` function returns immediately cause target time already based. This seems to be the root cause, when

[2017-03-01 16:55] bergzand commented on #6519
@phectori thanks for the research on this issue. I should have some time again this weekend for RIOT-os, so I will test your suggestion then.

[2017-03-02 10:36] OlegHahm commented on #6668
So far my understanding of `USEPKG` was that it is the counterpart to `USEMODULE` for code that does not resides inside the RIOT repository, i.e. I use `USEPKG` to download, patch, *and* build the package.

[2017-03-02 10:43] OlegHahm opened #6680 "tests: unclear semantic for thread_msg_block_wo_queue"
I don't understand the basic idea of the test application `thread_msg_block_wo_queue`. Unfortunately, it misses a README or an expect script and the output is also not very enlightening.

The application spawns a second thread, waits for a message, that is then sent by the second thread. This thread (with a higher priority) then tries to send another message and waits for a response. After receivi

[2017-03-02 10:44] OlegHahm commented on #6680
I just realized that `tests_msg_block_w_queue` is similar and as unclear for me.

[2017-03-02 10:48] OlegHahm commented on #6648
Well, at least for a non-6LoWPAN scenario this should work anyway.

[2017-03-02 11:03] kaspar030 commented on #6668
We do need USEPKG because packages are handled differently than modules.

How about adding all USEMODULE entries that have a corresponding folder in /pkg to USEPKG?

[2017-03-02 11:19] #6642 closed

[2017-03-02 11:22] OlegHahm opened #6681 "cpu: native: cpu_switch_context_exit() at the end of ISR"
Found while reviewing #6660.
At the end of native's IRQ handler (`native_irq_handler()`) the function `cpu_switch_context_exit()` gets called. However, the documentation of this function says: "Call context switching at thread exit". Apparently, this function serves more than this purpose on native.

[2017-03-02 11:22] miri64 commented on #6668
But then semantics get mixed (and are already) with USEPKG for stuff like lwIP, emb6 and even oonf. Just make a quick grep for `oonf_` to see what I mean ;-).

You do it. I didn't do it for lwIP and emb6, since they do have sub-modules and I don't see the point in treating them special in the build process, now that they are checked out per app, per board.

So I would add >20 directories for `lwip

[2017-03-02 11:26] Lotterleben commented on #6680
The corresponding issue to these tests was https://github.com/RIOT-OS/RIOT/issues/100. If I remember it correctly, the point of the test was to ensure correct blocking behaviour while a thread is busy sending a message… Is this a call for us to write a README? ;) I'd be happy to have a go at that on friday.

[2017-03-02 11:40] kaspar030 commented on #6668
USEMODULE does:

- add <module>.a to the list of archives to be linked

USEPKG does:

- make -C pkg/<pkg> <target> for all, clean, distclean
- include pkg/<pkg>/Makefile.dep
- include pkg/<pkg>/Makefile.include

We might be able to unify that somehow, but that is not the point.

That's why those packages clutter Makefile.dep unneccessarily.

I didn't say "create a directory for every (sub-)module

[2017-03-02 12:06] miri64 commented on #6668
But why do the `make all` and `make clean` need to be called in a different way to how `USEMODULE` calls its `make all` and `make clean`?

Yes, but also because we define our dependencies centrally not module-wise ;-).

where it is not neccessary. (Unless we *want* users to realize they're
entering the package land.)

Huh, all I heard so far is to do exactly that: make modules and packages transpa

[2017-03-02 13:03] OlegHahm commented on #6680
Well, in the end it would be terrific to have a README, a pexpect script for automation, and inclusion in the test framework (i.e., enabling the `make test` target). But for starters a README would be nice, yes. :)

[2017-03-02 13:05] OlegHahm commented on #6476
Exactly. So, what is the point in having the queue inside the stack when the memory is never freed anyway?

[2017-03-02 13:13] OlegHahm commented on #6476
For the discussion see: https://github.com/RIOT-OS/RIOT/issues/2851

[2017-03-02 13:22] Lotterleben commented on #6680
OK, I'll have a go at it after work. :)

[2017-03-02 13:33] brummer-simon commented on #6476
Okay I get what you mean. I'll put the message queue outside of the thread function.

[2017-03-02 14:05] kaspar030 commented on #6668
Because modules are inherently part of *our* build system.

- all sources of a module reside in one directory
- *[c,cpp,s,S] gets compiled using our cflags, into one .a
- there's no clash in $(BINDIR)/modulename/
- ...

Packages, on the other hand, need downloading, extracting, patching,
fiddling, compiling, linking all to the packages liking, usually
integrating whatever a package's upstream comm

[2017-03-02 14:46] OlegHahm commented on #6668
Isn't it desirable for a user to distinguish between a module and a package? For me, it is similar as the distinction between a package from official Arch Linux repository and a package from AUR, i.e. with a module I can expect typical RIOT code quality and perfect integration, where a package requires Internet connectivity for first time building, may introduce additional problems, and might inte

[2017-03-02 14:59] dylad opened #6686 "SAML21 SPI broken"
Hello,
I was doing some tests for #6645 with my saml21-xplained board but I'm facing a SPI issue.
It appears SPI for SAML21 is broken. I cannot leave spi_acquire function.
I also tried with tests/periph_spi, shell is blocked in a loop and SPI is not initialized.
I will try to investigate further and come up with a PR to fix it.

[2017-03-02 16:31] dylad commented on #6686
I figured out the problem.
SERCOM ID calculation located in cpu/sam0_common/include/periph_cpu_common.h is wrong for SAML family.
SERCOM0 is located at  0x42000800 for SAMD family and SERCOM0 is at 0x42000000UL for SAML family.
As this calculation is address related. It is obviously wrong for SAML.
#6687 fixes the problem.

[2017-03-02 17:19] astralien3000 commented on #6327
I think you won't need this anymore if #6676 is merged.

[2017-03-03 09:22] lebrush commented on #4281
@haukepetersen @kaspar030 is this outdated after the PM implementation?

[2017-03-03 09:28] kaspar030 commented on #4281
The concept of the new power management would be that the applications themselves turn off devices when they don't need them anymore, which in turn would make the device unblock sleep modes, which then would make the idle thread select the deepest possible sleep mode.

Would that serve your need?

[2017-03-03 09:34] lebrush commented on #4281
Mine yes :-) @DipSwitch ?

[2017-03-03 15:32] smlng commented on #6419
@PeterKietzmann #6685 fixes the weird output in `tests/periph_timer` and #6692 should fix the xtimer issue.

[2017-03-06 08:28] brummer-simon commented on #6476
I think it would make sense if the public API only provide those functions which are supposed to be   called by the upper layer (both for TCP and UDP). If additional functions need to be exposed I would put them into a separate header, in order to keep the interface slim.

I am not sure about that. The API here is not intended to be the 'public' API. GNRC TCP should be used via Sock or any other g

[2017-03-06 10:15] brummer-simon commented on #6476
About:

I know this is bad practice in general, in this case I did it on purpose. It is in places where something Network Layer specific must happen. I added the switch statements to make it obvious that code handling AF_INET or AF_LOCAL must be added there. Is it okay to leave it here, or should I change this?

[2017-03-06 10:54] OlegHahm commented on #6476
Concerning the API, from the perspective of someone who prefers GNRC over sock (because he never read the doc :wink:) I don't share your view, but I have no strong opinion.

[2017-03-06 10:59] brummer-simon commented on #6476
Does this mean we can cross:

Of the list?

[2017-03-06 11:17] smlng commented on #6476
Though I understand the reasoning by @OlegHahm that this function should not be public, UDP and ICMPv6 implement this the same way as @brummer-simon did. Hence, I'd say this should be solved (if this is really an issue) once and for all protocols - in a separate PR, that is.

[2017-03-06 15:35] dylad opened #6699 "Nucleo-l1 : SPI clock always low"
Hi,
I was testing SPI on a nucleo-l1 board using tests/periph_spi.
I can initialize the SPI but when I tried to send data, the SCLK pin is always low. NSS/MOSI/MISO are okay.
I also tried to `git bisect` but with no luck...
Any STM32L1 experts can give it a try ?

[2017-03-06 16:14] smlng commented on #6549
@paterson: are you getting along, and is this solved?

[2017-03-06 16:28] smlng commented on #6526
@kYc0o I doubt this is a bug. I mean the `main` of `gnrc_minimal` states:

[code]

So I'd say this is not a problem in general, I understand (and checked) that other platforms do not stop answering pings after main thread completes. But then, whats the use of that? If main (and any other thread) are done, the node wouldn't do anything anymore.

[2017-03-06 21:07] OlegHahm commented on #6526
Not sure I understand your point, but in GNRC the main thread is not responsible for responding to ICMP echo requests. Hence, it should reply with pongs whether the main thread terminates or not.

[2017-03-07 08:54] dylad commented on #6699
It is the same problem as #6501
Sorry I should have seen it sooner but I didn't thought this issue affects most of nucleo boards.

[2017-03-07 08:54] #6699 closed

[2017-03-07 10:15] rzr commented on #6241
Note https://github.com/01org/tinycbor/commits/v0.4.1 has previous RIOT fixes I upstreamed , it may worth to check again.

[2017-03-07 11:01] cgundogan opened #6709 "pm: use of wrong `pm_set_lowest`?"
(Thanks for hinting @MichelRottleuthner)

When I add `USEMODULE += pm_layered` to the `Makefile` of the `default` example and when I build for the `samr21-xpro` board, I get the following:
[code]

There are three `pm_set_lowest` implementations in the code base:
1) `drivers/periph_common/pm.c` <= `__atribute__((weak))`
2) `cpu/cortexm_common/periph/pm.c`
3) `sys/pm_layered/pm.c`

My understandig i

[2017-03-07 11:05] cgundogan commented on #6709
Obviously, `nm` is reporting the same:
[code]

vs.
(manual, corrected linking)
[code]

[2017-03-07 11:19] kaspar030 commented on #6709
See #5757.

[2017-03-07 11:55] cgundogan commented on #6709
Thanks for the hint!

I am wondering with what setup the `pm_layered` module was tested, as I can't activate the functionality out of the box?

[2017-03-07 12:34] OlegHahm opened #6713 "z1: default example broken"
After flashing the default example to my z1 node, the only output I get is:
[code]
and nothing else happens. Shell is also not responding. Flashing shell test, for instance, works.

Investigating further details.

[2017-03-07 13:15] wamburu opened #6715 "Support For cc1310 and cc1350"
Am trying to port this to TI's cc1310 and cc1350 family.

Is there to do this?
The hello world doesn't seem to work on this.

Thanks.

[2017-03-07 13:23] OlegHahm commented on #6713
After bisecting I conclude the SPI rework seems to have introduced this bug.

[2017-03-07 14:13] miri64 commented on #6476
May I intercept this discussion: This is done intentionally. The checksum is generated by the `gnrc_ipv6` module *after* the source address was determined (since it is required for the checksum). So unless you want to do some `extern` magic in `gnrc_ipv6` `gnrc_*_calc_csum()` has to be public.

[2017-03-07 14:32] smlng commented on #6476
@miri64, still I think @OlegHahm has a point: as a (higher layer) user (application) you would not invoke (and should not (?)) `gnrc_*_calc_csum()` when using icmp, tcp, or udp. So why expose it the user anyway?

[2017-03-07 14:39] miri64 commented on #6476
I do not consider the network internal stuff as a "higher layer user API". Contradicting @OlegHahm: That's what sock is for. In this case they are used by another (sub-)module, so they need to be exposed somehow.

[2017-03-07 14:48] OlegHahm commented on #6476
I've never objected putting this function in any header, I would just differentiate between the API exposed to the application and the API exposed to other layers. If the idea is that GNRC's transport layer should be only accessed via sock, this is not necessary, agreed. So far I tried to avoid sock mostly, because I found netapi more convenient.

[2017-03-07 21:52] cgundogan commented on #6709
seems like I completely overlooked #6655. Sorry! I still keep my issue open as it provides additional info, though.

[2017-03-07 23:49] kYc0o commented on #6248
Well... It seems that #6250 didn't fix this for older compilers.
I'm on a Debian Jessie with `arm-none-eabi-gcc`"

[code]

The error seems to be quite the same, while building examples/gnrc_border_router:

[code]

[2017-03-08 16:34] jbeyerstedt opened #6721 "nucleo-f401 hardware rev. c-01: no high speed clock source"
Some board revisions of the nucleo-f401re fail at initializing the cpu clock in the `cpu_clock_init` function of cpu.c (https://github.com/RIOT-OS/RIOT/blob/master/cpu/stm32f4/cpu.c).

The board MB1136 C-03 works well, but my C-01 board does not get farther than this line
[code]
because, the X2 crystal is not present on this particular board revision.

Is there an easy way to detect the board revi

[2017-03-09 05:40] chenek opened #6724 "Couldn't make hello world work on cc2650stk"
I can run hello world example successfully on my CC2538DK. However, when I build hello world example with "make BOARD=cc2650stk" and download elf file to my CC2650STK. I cannot see any output from UART. Do I miss anything?

[2017-03-09 07:05] #6419 closed

[2017-03-09 11:24] smlng commented on #6526
I don't have an xbee shield available. However, I ran `tests/thread_msg` on board _arduino duemilanove_ and changed the loop to run 100 times (instead of 3). In this tests 3 threads are created by main and exchange messages for some time (i.e., 100x). The point is _main_ **exits** after creating the 3 threads, but the threads run - so it does **not** freeze. So the cause is not that main is over.

[2017-03-09 11:27] smlng commented on #6526
I also added a `xtimer_sleep(3)` in thread1 forcing the system to go into idle thread. I observed a problem with power management on cc2538 recently, which wasn't able to get out of idle after a sleep, I thought this might be a problem here, too -- however, the tests suggests it is not the case here.

[2017-03-09 11:37] smlng commented on #6526
so basically that agrees with @OlegHahm, stating:

So either there is no interrupt from the network device/driver or something blocks the system from handling such interrupt and switch to the network threads responsible to answer pings.

[2017-03-09 14:21] kYc0o commented on #6526
However it doesn't explain why adding an infinite loop at the end keeps the board alive...

[2017-03-09 14:43] smlng commented on #6526
what do you do in your _infinite loop_? What happens if you add (if not already done that way) something like `xtimer_sleep(0xFFFF)` instead at the end of main? Basically sleep very long ...

[2017-03-09 14:44] smlng commented on #6526
and can you share your application code?

[2017-03-09 15:24] kYc0o commented on #6526
Well the application is basically the gnrc_minimal example:

[code]

[2017-03-09 15:26] smlng commented on #6526
ah okay, simple `while(1);` - what about `xtimer_sleep` instead?

[2017-03-09 15:31] smlng commented on #6526
what helped me in solving #6419 in #6692 was to enable debug output in `core/sched.c`. Please try this, too - and post the output here, that way we should see which thread is schedules last and where it hangs ...

[2017-03-09 15:32] smlng commented on #6526
without your infinite loop, that is!a

[2017-03-09 15:43] kaspar030 commented on #6526
@kYc0o Please check if main uses too much stack.

[2017-03-09 15:52] kaspar030 commented on #6526
The idle thread's stack is defined right after the main thread's stack, in core/kernel_init.h. So if the main thread overuses it's stack, it overwrites the idle thread's stack space. That will most probably lead to immediate mess-up when jumping to the idle thread.

[2017-03-09 16:05] smlng commented on #6526
default stack size is 256B for atmegas, so @kaspar030 could be right, that main stack is smallish. The mega2560 has 8K, `gnrc_minimal` require something less than 3K (at least thats what my compiler says) so you could enlarge stack size for main by adding to the Makefile:

[code]

[2017-03-09 16:15] kYc0o commented on #6526
Well I tested with different stack sizes and the problem persists. I'll take a look to the scheduler to see if something gets wrong there.

[2017-03-09 16:27] kaspar030 commented on #6526
Which ones did you test?

[2017-03-09 16:29] kYc0o commented on #6526
512 and 1024 for now. You think I should increase more?

[2017-03-09 16:32] #6327 closed

[2017-03-10 10:30] smlng commented on #6724
@chenek thanks for reporting, I'll try to check in the next days.

[2017-03-10 10:35] chenek commented on #6724
Look forward to hearing feedback from you.

[2017-03-10 15:16] tilmannOSG commented on #5845
WIP patch is now available at https://github.com/RIOT-OS/RIOT/pull/6730 :)

[2017-03-12 07:49] gebart commented on #4695
After applying #4699 the makefiles tree looks like this:
[code]

[2017-03-13 16:26] LudwigKnuepfer commented on #6629
I see, thank you for the explanation!
Also: thank you for the effort, sounds legit ;)

[2017-03-13 16:27] malosek commented on #4902
closing...

wbr
malo

[2017-03-13 16:27] #4902 closed

[2017-03-13 20:35] lebrush commented on #6721
I think that through some solder bridges you can use an exported clock from the st-link and feed it as a HSE into the stm32 (at least this is possible with the nucleo f103).

See http://www.st.com/resource/en/user_manual/dm00105823.pdf section 6.7.1 for more details.

Of course, you can also use the internal HSI as a clock source. In the [`stm32f1`](https://github.com/RIOT-OS/RIOT/blob/master/cpu/

[2017-03-14 04:54] shaolinkhoa commented on #6724
Hi, I predefined cc2650stk so that RIOT OS can run on cc2650 launchpad :
**/home/ntuankhoa/RIOT/boards/cc2650stk/include/periph_conf.h**
[code]

**/home/ntuankhoa/RIOT/boards/cc2650stk/include/board.h**
[code]

I cloned default example to my_project and added:
[code]

After I loaded my_project into cc2650 launchpad:
+ 2 led Red & Green turn on
+ Receive from terminal :
[code]
but I can't send my s

[2017-03-14 10:19] kaspar030 commented on #6724
@chenek Which serial port is the cc2650 connected to? (unplug/replug and see if ```dmesg``` gives a hint)

Maybe you need to specify the right serial port by adding "PORT=/dev/<port>" to your command line.

[2017-03-14 11:00] shaolinkhoa commented on #5361
Hi,
Are there any news ?
I tested timer_periodic_wakeup with cc2650 launchpad and it didn't work correcly.
regards,
khoa

[2017-03-15 01:29] chenek commented on #6724
I connect my CC2650STK on Win & and use teraterm with baudrate 115200. I cam pretty sure the connection is good. If I download Contiki OS into my CC21650STK, it can output to UART without problem.

[2017-03-15 02:16] shaolinkhoa commented on #6724
Hi,
Are there any examples about shell commands in UART ? or the shell commands only works on native mode ?

[2017-03-15 10:23] jbeyerstedt commented on #6721
Thanks for this information, that I somehow skipped during reading the Nucleo-64 user manual. But the greater problem is actually the 32 KHz clock supply, which is also not present in this particular Board revision. So the RTC peripheral cannot be used (at cpu/stm32_common/periph/rtc.c):
[code]
The `RCC_BDCR_LSERDY` flag never gets set.

But I managed to get the default example running by removing

[2017-03-15 14:37] lebrush commented on #6721
That would be great! Thank you

[2017-03-15 14:41] aabadie commented on #6669
Any update on this one ? I started to work on a port of RIOT on nucleo-l011k4 which has only 2K of RAM. With the actual default stack size, even hello-world doesn't build...

[2017-03-15 14:59] kaspar030 commented on #6669
Maybe it's time for a blinker app ;)

Seriously, 2k ram is *very* little, especially for ARMs. Try to get the minimal example working first, maybe add some output using fmt...

[2017-03-15 15:04] smlng commented on #6669
2K RAM is enough for most tests (if they are properly implemented, without unnecessary bloat). At least those _without_ networking should work; that's my experience with an _arduino duemilanove_ with 2K RAM.

[2017-03-15 15:06] smlng commented on #6669
@aabadie you could specify distinct stack sizes for this board, overwriting those of cortex-common ...

[2017-03-15 15:30] kaspar030 commented on #6669
The situation is quite different on 8bit platforms...

[2017-03-15 15:33] kaspar030 commented on #6669
Just as a reminder: all ARM boards need the same amount of stack space. So if lowering the default stack size works for nucleo-l011k4, it works for all other ARM boards, too (not considering stack usage differences of e.g., periph).

[2017-03-15 15:37] smlng commented on #6669
that might be true, but this primarily  about low-mem/constraint nucleo(32) boards , which are (mostly) 32 Bit, right?

good to know; thought there might be (some) differences between cortex m0, ..., m3, m4

[2017-03-16 09:04] #6721 closed

[2017-03-16 09:22] jbeyerstedt opened #6750 "at86rf233 (openlabs module) driver does not work (on nucleo-f401)"
The openlabs 802.15.4 radio will not initialize with my nucleo-f401 and f411 boards.
Because the F411 board only was recently added to RIOT, a wasn't able to test this board with an older release of RIOT, so I switched to the F401.

The program does not get farther than the while statement in the `_set_state` function of `st86rf2xx_getset.c`:
[code]

So I connected a scope to the SPI bus to check

[2017-03-17 07:11] OlegHahm opened #6756 "pkg: lwip: superfluous/wrong call of sched_switch()"
In `pkg/lwip/contrib/sys_arch.c` the function `sched_switch()` gets called for unclear reasons after creating the main lwip thread. In my understanding this call doesn't have any effect, since a) the lwip thread has the highest priority anyway and b) `sched_switch()` seems rather like a kernel internal function to me.

[2017-03-17 07:39] jbeyerstedt commented on #6750
Sorry, I just realized, that the issue with the missing clock signal is known in issue #6501. But the rest of this issue remains a problem.

[2017-03-17 08:15] shaolinkhoa commented on #6535
hi,
I have the problem while flashing Arduino Mega2560 board too.

khoa@khoa: ~/RIOT/examples/arduino_hello-world$ BOARD=arduino-uno make flash

Building application "arduino_hello-world" for "arduino-uno" with MCU "atmega328p".

In file included from /home/khoa/RIOT/drivers/include/periph/uart.h:48:0,
                 from /home/khoa/RIOT/sys/arduino/include/serialport.hpp:24,
                 fr

[2017-03-17 08:25] aabadie commented on #6535
Hi,

Did you try on a Debian-like system ? If yes, can you try this:
[code]

[2017-03-17 08:26] mali commented on #6535
arduino Mega2560 or Uno ?
if it's a Mega2560 you should use `make BOARD=arduino-mega2560`  ?
Have you installed avr-libc ?

[2017-03-17 08:46] shaolinkhoa commented on #6535
Sorry for my misstake, I copied when I tried with Uno.
After installed avr-libc, it works. Thanks all.

[2017-03-17 08:48] #6535 closed

[2017-03-17 09:26] bergzand commented on #6519
@phectori I've tested your sugestion and it works. What I think happens is that after writing to the SPI_DR register, we check the BSY flag. Due to the mentioned delay, this is not yet set and thus no wait until the BSY flag is cleared here. The RXNE is still cleared at this point and the SPI_DR is never read, the buffer thus never cleared.

My hypothesis is that with the long register read at [12

[2017-03-17 09:56] shaolinkhoa opened #6758 "How to add my Library to RIOT OS"
Hi,

I have a library for arduino . I would like to use it in my mega2560 RIOT OS project.
I copied the library into my project folder.

Then I add `#include "lib_folder/lib.h"` in `_sketches.cpp` .
I tried `make BOARD=arduino-mega2560 flash`.

But after that. The code auto delete the line `#include "lib_folder/lib.h"`.

I really don't know why ? Should I add the library into Makefile too ?

[2017-03-17 12:35] pyropeter commented on #2967
While working on #6162 (Rust support) we stumbled upon this issue. The solution provided by @Kijewski  seems to be reasonable.

We tried to add a feature-flag for Rust support. Since the support depends on the cpu architecture, we added `FEATURES_PROVIDED += rust_support` to `cpu/native/Makefile.features` (and others). This works fine regarding the unsupported feature warning displayed when buildi

[2017-03-17 13:12] miri64 commented on #6756
Disclaimer: I don't exactly know anymore, why I put it there. The [porting guide doesn't give a hint either](http://lwip.wikia.com/wiki/Porting_for_an_OS#Threads). Maybe I wanted to enforce a switch to the thread just created, but I don't know why (I really should get used to comment everything o_O). However I have some comments on your statements:

But that function isn't the "create lwip thread"

[2017-03-17 14:29] OlegHahm commented on #6756
True, but if it gets a lower priority, `sched_switch()` won't schedule it anyway.

Also true and the documentation is IMO a bit misleading in fact, but it seems that you rather should have called `thread_yield_higher()` instead. But I don't see the reason for an additional scheduler call here at all.

[2017-03-17 15:44] thomaseichinger commented on #6750
@jbeyerstedt Thanks for reporting this! Could you provide us with some more information, especially which state doesn't get reached and what's the state reported by the device?

Something like this should do:

[code]

[2017-03-20 09:26] jbeyerstedt commented on #6750
The issue seems to be stuck while getting to state 19 (AT86RF2XX_STATE_TX_ARET_ON).
The radio always "responds" with state 0 (`00 != 19`).

[2017-03-20 17:04] thomaseichinger commented on #6750
@jbeyerstedt Thanks for providing more details on this. There seems to be a similar issue in #6730. It seems the openlabs module does something different, I will look into it. In the meanwhile, could you see if the approach described in https://github.com/RIOT-OS/RIOT/pull/6730#issuecomment-287719691 brings any improvements?

[2017-03-20 19:35] thomaseichinger commented on #6750
@jbeyerstedt Thanks for providing more details on this. There seems to be a similar issue in #6730. It seems the openlabs module does something different, I will look into it. In the meanwhile, could you see if the approach described in https://github.com/RIOT-OS/RIOT/pull/6730#issuecomment-287719691 brings any improvements?

[2017-03-21 08:24] brummer-simon commented on #6476
About:

-  gnrc_tcp_fsm.c - why do some function have a bool pointer(!) as output parameter? An int return value offers more than enough options to indicate different states

The int return value for the functions with the bool pointer, encode already three different states in the return value. Positive values are used for the amount of bytes sent/received, zero for no error ocured and negative va

[2017-03-21 08:42] jbeyerstedt commented on #6750
Sorry, but it's still the same issue, if I revert #5244.

[2017-03-21 16:48] thomaseichinger commented on #6750
@jbeyerstedt To reproduce the problem properly, could you please share your branch including your configuration with me. Also I'd appreciate the description or picture of how you connected the radio module to the board.

[2017-03-21 19:45] dylad commented on #6437
SPI doesn't work on SAML21 anymore.
see #6686 for the issue reference.
I also come up with the required fix #6687

[2017-03-21 20:28] aabadie commented on #6686
As you referenced this issue in #6437. I think we can safely close this one.

[2017-03-21 20:28] #6686 closed

[2017-03-22 07:46] lebrush commented on #637
@miri64 Heads up here: #5616 got merged :-)

[2017-03-22 10:29] miri64 commented on #637
I know ;-). I'll look into it.

[2017-03-23 18:19] pyropeter commented on #2967
Hello?

[2017-03-23 19:43] kaspar030 commented on #2967
This is a bug, because Makefile.features is currently not considered for "make info-boards-supported".
This doesn't manifest, as all Makefile.features within boards only define periph_pm, which is currently not correctly used anywhere.

[2017-03-24 07:03] ansqja91 opened #6783 "task-06 fails to build on telosb"
BOARD=telosb PORT=/dev/ttyUSB0 make all flash term
Building application "Task06" for "telosb" with MCU "msp430fxyz".

"make" -C /home/mbkim/workspace/RiotOS/Tutorials/RIOT/boards/telosb
"make" -C /home/mbkim/workspace/RiotOS/Tutorials/RIOT/core
"make" -C /home/mbkim/workspace/RiotOS/Tutorials/RIOT/cpu/msp430fxyz
"make" -C /home/mbkim/workspace/RiotOS/Tutorials/RIOT/cpu/msp430-common
"make" -C /hom

[2017-03-26 19:16] dylad opened #6792 "extend support for SAM D and L family"
I would like to add support for the SAMD20-Xplained board from Atmel.

Recently, sam21_common has been renamed to sam0_common and I think it was a good point. But if we take a look into RIOT structure, there is cpu/samd21 and cpu/saml21 but what about the others MCU from atmel ?

So my question is : Should we rename cpu/saml21 and cpu/samd21 to cpu/samdxx and cpu/samlxx (or something else) to ease

[2017-03-27 01:25] alexiss03 opened #6793 "Objcopy not found error"
Hi RIOT team,

I am having this error when running the command **make all BOARD=iotlab-m3** inside the _/examples/default_ directory.

[code]

What do you I need to do this remove this error? Am I missing a package?

Thanks,
Lexi

[2017-03-27 07:40] shreeharsha22 opened #6794 "rtt driver for nucleo-f401"
Hi all,
 can any one help in implementing rtt driver (configure rtc as counter) for nucleo-f401.
Looking forward for your reply.
Thanks in advance.

Regards,
Shreeharsha I

[2017-03-27 08:18] gebart commented on #6793
You need to install a compiler and tool chain. See https://github.com/RIOT-OS/RIOT/wiki/Family:-ARM for some more information on toolchains for Cortex-M
See also the guides on the wiki https://github.com/RIOT-OS/RIOT/wiki

Closing this ticket because it's not a problem in RIOT

[2017-03-27 08:18] #6793 closed

[2017-03-27 10:58] gebart commented on #6631
Fixed by #6689

[2017-03-27 10:58] #6631 closed

[2017-03-27 16:11] emmanuelsearch opened #6798 "Vagrant: latest vbox (5.1.18) + latest vagrant (1.9.3) don't RIOT together"
I upgraded, and since then, when I `vagrant up` I get the error:

[code]

[2017-03-27 16:12] emmanuelsearch commented on #6798
Anyone out there with the same issues?

[2017-03-27 17:19] gebart commented on #1769
Fixed in #4780.
 spi_transfer_xx no longer have return values.

[2017-03-27 17:19] #1769 closed

[2017-03-27 19:40] thomaseichinger commented on #6798
@emmanuelsearch I can't reproduce this, I had to update the VirtualBox Extension kit however too to get rid of the following error message.
[code]

[2017-03-27 20:30] emmanuelsearch commented on #6798
Thanks. By updating the extension pack I could make the setup work, but my (previous) VM seems to not work with the upgrade. I'll investigate further to see if I can salvage it somehow.

[2017-03-28 05:16] alexiss03 commented on #6793
Thanks!

[2017-03-28 07:39] shreeharsha22 opened #6801 "Configure timer2 as counter"
Hi all,
I want to configure timer2 as counter generating interrupt every 1msec. please find the below attached program.
Issue: The problem is if I can see the variable value read after 10msec is not accurate. we are missing a tick.
can any one tell how to avoid timer_set in  callback function to reset the timer.

[main.txt](https://github.com/RIOT-OS/RIOT/files/874809/main.txt)
[periph_conf.txt](h

[2017-03-28 07:50] haukepetersen commented on #6801
Hi! Could you push your changes into a branch please? This makes it much easier to see the diff of your changes... Also this kind of question is best put on the users mailing list, as this seems not to be a RIOT issue per se?! Anyway, next time...

Could you please dump the output of your test run?

[2017-03-28 07:56] haukepetersen opened #6802 "Implement power management `pm` for CPUs"
This issue is created for tracking the `pm` implementation status and synchronize efforts.

Steps needed for implementation:
- implement `pm` interface
- use `pm_layered` where applicable
- only allow appropriate power modes in peripheral drivers (e.g. use `pm_block`/`pm_unblock`)
- verification of power modes (e.g. using external measurement equipment)

Implementation status:
- [ ] atmega1281 (at

[2017-03-28 08:30] gebart commented on #6802
The Kinetis CPUs are best implemented as a shared PM driver with possibly some small differences handled in preprocessor conditionals.

[2017-03-28 12:03] haukepetersen commented on #6802
jupp, agree. Updated the list

[2017-03-28 12:58] aabadie commented on #6501
Any solution found regarding this problem ?

[2017-03-28 13:48] lebrush opened #6806 "Inconsistent return values / documentation in fmt"
See for instance `fmt_u32_dec` or `fmt_lpad`.

[2017-03-28 13:51] bergzand commented on #6501
I would disable the exposure of the LED. Maybe, but not necessarily guarded with some kind of define.

My main arguments are that this LED has caused enough hard to debug SPI problems and I don't consider it a critical feature of the board. It is easier for most people to strap another LED to some GPIO than to move the clock line of the SPI.

[2017-03-28 14:25] PeterKietzmann commented on #4281
I guess it's outdated. Will close, @DipSwitch please reopen if I'm mistaken.

[2017-03-28 14:25] #4281 closed

[2017-03-28 17:07] PeterKietzmann commented on #6501
Disable LED for SPI

[2017-03-28 17:19] haukepetersen commented on #6501
+1 for dropping the LED!

At some point (once the FEATURES thingies are working es expected) we could make this dependent on SPI being present, but for now I fear we need to disable the LED per default...

[2017-03-28 17:25] aabadie commented on #6501
hopefully, this LED is defined in a single place for nucleo-64 boards ;)

[2017-03-28 18:55] aabadie commented on #6501
I think I read too fast.

So in the end, to summarize, the idea is to remove the `gpio_init(LED0_PIN)` call in board.c for nucleo-64 boards (I'll also check if the problem is there with the 32 and 144 pins versions) ?

[2017-03-28 18:57] haukepetersen commented on #6501
yes. Or more precise, ifdef it out per default and enable it only if stated explicitly by the make system for now.

[2017-03-28 18:59] #6806 closed

[2017-03-28 18:59] aabadie commented on #6501
ok, got it. Is it ok if I take it ?

[2017-03-28 19:46] PeterKietzmann commented on #5361
@A-Paul can you check if the issue still persists?

[2017-03-28 20:55] PeterKietzmann commented on #6715
Hi @denzelwamburu and welcome to RIOT! Can you give some more details about what has been done? Maybe share a branch or open PR with your changes?

[2017-03-28 20:56] keestux commented on #6792
Your suggestion might not be a bad one.

TL;DR
The way I saw this (when I started with my SAMD21 board), was to try and follow what Atmel gives us through their CMSIS files in ASF (Atmet Software Framework). Notice that `cpu/sam0_common/include/cmsis/` comes straight from some ASF version. (Albeit that we don't know the exact history how it was added in RIOT.)

At one point I had the illusion that

[2017-03-29 07:37] dylad commented on #6792
Thanks for your reply @keestux

I leave to RIOT members the choice of the new directories name (It was just a suggestion)I'm afraid such modification will impact some pending PRs but it has to be done...Do you think we can come up with a PR for the April release ?

[2017-03-29 12:47] shreeharsha22 opened #6815 "Tick handler in nordic nrf52dk"
Hi all,

I have configured my RTC to generate TICK event with prescaler value 32. following are the steps I followed. may I know the handler for tick event.

1.RTT_DEV->EVENTS_TICK = 1;
2.RTT_DEV->EVTENSET = 1;
3.RTT_DEV->TASKS_CLEAR = 1;
4.  rtt_init();

Thanks in advance.
Regards,
Shreeharsha I

[2017-03-29 14:51] shreeharsha22 opened #6817 "RTC tick value not accurate"
Hi all,
Am working on samr21-xpro board. I have configured the RTC as counter for generating an event for every one sec. For functionality testing purpose am incrementing a variable in the call back function.
For a delay of 50 sec am expecting value of the variable to be 50 but am getting the value as 49 i,e missing one tick value. The same experiment is repeated for 100,400 secs and tick value is

[2017-03-29 18:37] keestux commented on #6792
What have you done so far?

[2017-03-29 19:15] dylad commented on #6792
Nothing ! Only think.
I can propose a PR and notify you if you want.

[2017-03-29 19:58] kaspar030 commented on #6792
2.5 weeks left util feature freeze. If the PR is stable until then, it'll be in.

[2017-03-29 20:06] keestux commented on #6792
Well, it may be more work than you think. What has to be done is:
1. look at the code in `cpu/samd21` and determine what is compatible with SAMD20 and what is not
2. add the include files in `cpu/sam0_common/cmsis` (we need to decide from which ASF version)
3. add the board files for SAMD20 Xplained
4. testing ...

About 1)
A quick scan already gave me the impression that we cannot use `cpu/samd21

[2017-03-30 07:48] PeterKietzmann commented on #6519
I will give it another try and close the issue again then

[2017-03-30 08:16] dylad commented on #6792
@keestux you're right, I take a quick look into D20 & D21 datasheets.
What I thought was to submit two PRs :
- create a common tree like `cpu/samd` & `cpu/saml` (for April release)
- Then, start to work on my port for SAMD with a second PR
But I didn't expect so much difference between registers... It may be even worse with D9, D10 & D11...
I will give a try with one PR SAMD20 (and keep an eye on

[2017-03-30 09:50] dylad commented on #6817
Hello,
Is it the same issue as #6331 ?

[2017-03-30 09:58] PeterKietzmann commented on #6519
Works great now :-)!

[2017-03-30 09:58] #6519 closed

[2017-03-30 10:44] PeterKietzmann commented on #5460
This issue didn't occur for quite some time, even if samr21-xpro is a widely used platform. Willl close the issue with memo label set. @dbohn if you ever face this problem again, feel free to reopen

[2017-03-30 10:44] #5460 closed

[2017-03-30 14:49] #6501 closed

[2017-03-30 22:50] travisgriggs opened #6823 "Support SAMD21 XPlained Pro Board"
Add minimal support for a `samd21-xpro` build similar to builds for `saml21-xpro` and `samr21-xpro`.

[2017-03-31 05:57] gebart opened #6824 "Wrongly placed doc modules"
HD44780 and Native MTD are accidentally placed at the top level instead of under the proper group.

[2017-03-31 06:38] PeterKietzmann commented on #6750
@jbeyerstedt I'm on an stm32f4discovery board, the openlabs transceiver connected according to the following pin configuration:
[code]
Then I build (and flash) the `gnrc_networking` example with: `USEMODULE=at86rf233 BOARD=stm32f4discovery make clean all flash term` and everything works as expected. Can you check on your discovery and nucleo boards if you did something different and otherwise lend

[2017-03-31 09:59] miri64 opened #6830 "doc: `@ingroup` tags in *.c files"
Throughout the code-base some (but not all) c-files contain a Doxygen `@ingroup` tag. First of all, shouldn't it be an `@addtogroup` tag instead (since it does not define a new group). Second, why is it there in the first place? C-files are not compiled by Doxygen.

[2017-03-31 10:07] miri64 commented on #6824
Partly fixed in #6826.

[2017-03-31 10:12] miri64 commented on #6830
I would prefer to remove them, since there is no way to check if they are correct anyways (other than compiling the c-files with doxygen).

[2017-03-31 10:17] smlng commented on #6830
mhm, from the doxygen docu one either uses `@defgroup` together with `@ingroup` tags **or** `@addtogroup` *instead* of the other two

[2017-03-31 10:24] miri64 commented on #6830
That's what I said ;-) "First of all, shouldn't it be an @addtogroup tag instead (since it does not define a new group)."

[2017-03-31 11:10] smlng commented on #6830
do we have any _rules_ when to use which variant for documentation?

[2017-03-31 11:15] miri64 commented on #6830
Nope.

[2017-03-31 11:21] haukepetersen opened #6833 "make buildtest broken"
I have a weird problem with `make buildtest`: it fails since some time with the following error:
[code]

When I delete the first line from `boards/nucleo-f302/Makefile.features`, it works fine. If I put something like `FOO = 123` in the first line, it builds fine. If I put an empty newline in the first line, it gives the error above. If I put any random comment (starting with `#`) in the first lin

[2017-03-31 11:23] smlng commented on #6830
as expected, then ... its inconsistent all over the place, even if `@defgroup` is used its not clear where to define it first.

For instance:

- `sys/include/hashes.h` has an `@ingroup sys_hashes`, the group is defined in `sys/hashes/doc.txt`
- `sys/include/fmt.h` has `@defgroup sys_fmt` and `@ingroup sys` in itself, no extra `doc.txt`
- `sys/include/fd.h` simply uses `@addtogroup posix`

[2017-03-31 11:25] smlng commented on #6830
might be something for the DocTF, if still active?

[2017-03-31 11:32] gebart commented on #6833
Try looking at the location where the file is included from. Perhaps there are some weird constructs around the include line.

[2017-03-31 12:16] #6824 closed

[2017-03-31 13:18] miri64 commented on #6830
sporadic activeness :rofl:

[2017-03-31 16:10] zqad opened #6836 "Issuing a reboot on ATmega328p makes the board loop-reboot"
Consider this sample program:
[code]

Running it on the board gives this result on my serial console:
[code]

The error is due to the usage of the watchdog as the reboot method, without properly clearing the WDRF bit in MCUSR. This means that the watchdog will be activated with a 250ms timeout on the next reboot.

I have prepared a patch which I will add as a pull request to this issue. Feel free

[2017-03-31 16:13] zqad commented on #6836
The pull request is added as #6837 , the result of which is this serial port output for the same program:
[code]

[2017-03-31 16:55] travisgriggs commented on #6823
#6839

[2017-04-01 10:14] JeffJerseyCow opened #6840 "Stack Buffer Overflow - Potential Denial of Service"
I'd like to report a stack buffer overflow bug within RIOT without making it publicly known. I'm still doing some testing at the device level but a bug definitely exists, who is best to discuss with privately?

[2017-04-01 15:26] lebrush commented on #6840
Why should you not make it publicly available? This is an open source project and the issue can't be discussed / solved if no information about it is shared.
In case it's an issue, once solved a patch will be publicly available to fix it. So everyone will know about the issue after all. From this point until a hypothetical private company using RIOT issues a firmware update, it's the company respo

[2017-04-01 16:21] gebart commented on #6840
@JeffJerseyCow Right now, I don't think there is a designated software vulnerability team among the developers, but I would suggest that you contact @OlegHahm,  @kaspar030, or @EmmanuelSearch, directly via email or IRC until we have defined a security issues group, they should be able to direct you to the person most suited to address the vulnerability.

@lebrush current industry best practice whe

[2017-04-01 16:50] sudarshansrinivasan commented on #3355
Hi ,
I am complete newbie to RIOT & open source . Currently  looking at the PRs labeled "Newbie-Task-Candidate".
I wanted to know if this PR# is still open  to work on  and suggestions how proceed with it?
I see some changes were submitted for review in https://github.com/RIOT-OS/RIOT/pull/4106.

Thanks

[2017-04-01 16:51] lebrush commented on #6840
It sounds sensitive and I think makes a lot of sense for systems which are easily updatable. However, it's quite hard for on-the-field embedded devices since a fix may not be even possible, if there's no update possibilities... Newly produced devices could have the issue fixed though...

I guess that doing it the way @gebart suggests does not hurt anyone and could benefit [companies with] updatabl

[2017-04-01 17:39] JeffJerseyCow commented on #6840
@gebart Thank you I appreciate it. I've set out on attacking various IoT devices as a preventative measure to future security issues.
@lebrush The problem occurs when a vulnerability exists and is used maliciously before a responsible disclosure occurs; god forbid another Mirai occurs without any preventative measures.

[2017-04-02 01:39] kamejoko80 commented on #6358
No concerned with this topic but I have a question, how to implement xtimer with count down mode timer ?

I'm porting RIOT to ARM cortex-A9, the CPU has 32bit timers with count down mode only, it will generate interrupt when timer reaches to Zero. Now I'm stuck at xtimer implementation, almost another platform are using count up mode timer.
Please show me some hints. My porting task is almost done

[2017-04-02 01:52] kamejoko80 opened #6841 "[xtimer] count down mode timer"
I'm porting RIOT to ARM cortex-A9, the CPU has 32bit timers with count down mode only, it will generate interrupt when timer reaches to Zero. Now I'm stuck at xtimer wrapper layer implementation, almost another platform are using count up mode timer.
Please show me some hints. My porting task is almost done except xtimer.

Thank you very much.

[2017-04-02 04:55] gebart commented on #6358
The kinetis hardware lptmr (periph/timer.c) only support down counting mode, you could look there for ideas.

[2017-04-02 04:57] gebart commented on #6841
The kinetis hardware lptmr (periph/timer.c) only support down counting mode, you could look there for ideas.

[2017-04-02 12:55] miri64 commented on #3355
@sudarshansrinivasan for avr-libc have a look at the [comment by @N8Fear above](https://github.com/RIOT-OS/RIOT/issues/3355#issuecomment-120600215). The implementation (the c-file) should go to `cpu/atmega_common` and the header to `cpu/atmega_common/include`. The idea is to implement a feature interchangable with POSIX's getopt functionality: https://docs.python.org/3/library/getopt.html.

@gebar

[2017-04-02 12:57] miri64 commented on #3355
(`getopt` suffices for now, no need for `getopt_long`)

[2017-04-02 13:18] andyrosete17 opened #6842 "EMCUTE with SAMR21-XPRO device"
Hi I am new to this,

I want to connect a board with the linux machine and test the MQTT protocol. I don't know how to set the IP in the board and how to communicate it with the Linux machine.
Thanks in Advance.

With Regards,
A.Rosete

[2017-04-02 14:23] gebart commented on #3355
I don't know about msp430 libc, but I guess newlib on msp430 has it if newlib on arm has it.

[2017-04-02 14:31] miri64 commented on #3355
I have to say since #6778  I'm pretty confused how newlib and msp430 work now ;-). But that's OT, I know.

[2017-04-02 18:31] kamejoko80 commented on #6841
Hello Gebart,

Thanks so much for your reply, let me check.

[2017-04-03 07:54] haukepetersen commented on #6358
Hej @kamejoko80: actually the solution is not too difficult: you don't have to care about `xtimer`, all you need to care about is the implementation `periph/timer.h`. And a here the only thing that is a little tricky is the `time_read()` function. Here you probably have to us some kind of SW counter on the side.

[2017-04-03 09:12] #6833 closed

[2017-04-03 09:30] PeterKietzmann commented on #6750
Works like charm with this configuration:
[code]
I tried with @jbeyerstedt's hardware. Most likely it was just an incorrect wire connection.

[2017-04-03 09:30] #6750 closed

[2017-04-03 10:00] jbeyerstedt commented on #6750
Just a a follow up:
I tried the configuration of @PeterKietzmann with the state of the master branch I used when opening this issue and it does not work. But something in the last commits to the master branch has somehow fixed this problem. So it was not just a wiring issue.
Anyway: Thanks for the support.

[2017-04-03 12:04] smlng commented on #6842
@andyrosete17,

I'd suggest that you first get a little bit familiar with RIOT and required toolchains, for samr21-xpro you need the arm-none-eabi GCC and openocd (flash tool). The tutorials should get you started on this, see [here](https://github.com/RIOT-OS/Tutorials).

Afterwards, you can try out the MQTT (SN) example provided with RIOT, see [here](https://github.com/RIOT-OS/RIOT/tree/master/e

[2017-04-03 12:52] andyrosete17 commented on #6842
@smlng

Thanks for the suggestion as you said, I've already done the tutorials and I've run the protocol in local as the example explained. After that I flashed the samr21 with the mqtt (sn) example modified but i don't know how to get/set the ip address of the samr21 device, and the way of communication with the device and the linux machine  because in the example is easy using the terminal and s

[2017-04-03 13:07] smlng commented on #6842
ah okay, you already past the native stuff 👍 Perfect!

The `examples/emcute` application provides a shell to run commands. On the one hand to configure the mqtt stuff (connect to broker, pub/sub topics), but on the other hand you can also get and set network parameters using `ifconfig` command.

However, the problem is that by default you have no networking between your linux host and the riot boa

[2017-04-03 13:40] andyrosete17 commented on #6842
@smlng ,

Uhmm I thought i could test the protocol between the device and the linux machine. I have 5 Samr21 devices and one Raspberry pi (very old one, model B).
So I should flash one of them with the boarder-route example (https://github.com/RIOT-OS/RIOT/wiki/Tutorial:-RIOT-and-Multi-Hop-Routing-with-RPL), but later how can I communicate the device, and in case of that, how can I be sure of the

[2017-04-04 05:57] shreeharsha22 opened #6856 "Board file for STM32f105RCT6"
Hi all,
Am working on STM32f105RCT6 board. May I know if this board is already supported by RIOT or should I develop a board file for the same.
Looking forward for your valuable reply.

Thanks in advance.

Regards,
Shreeharsha I

[2017-04-04 08:11] aabadie commented on #6856
Hi @shreeharsha22,

And thanks for your interest in RIOT.

AFAIK, STM32f105RCT6 is not an exact board reference but a ST MCU reference. What is the board you are targeting exactly, do you have a link ? is it open-hardware ?

Concerning STM32f105RCT6 MCU, RIOT already supports this ST family of MCU (see [here](https://github.com/RIOT-OS/RIOT/tree/master/cpu/stm32f1) in the code for details), so add

[2017-04-04 12:31] patgrosse opened #6857 "cc110x: not working since SPI driver interface rework"
Since #4780 I cannot use networking on the msba2 board. I used the gnrc_networking example on two msba2 boards and I can't even access the shell anymore because the code in the `main()` is not reached. Possibly this is an issue/task for #6437.

Used example: gnrc_networking

With 513b20ffd328934c58af169e2bce0c0a01eddee2:
[code]

With b101c704c7d901275aefea331b28023403328de1 (commit right before):

[2017-04-04 14:09] shreeharsha22 commented on #6856
Hi aabadie ,
As suggested  in the previous comment I did following steps but dint get .ld file form STM32CubeMX.

1. added stm32f105xc.h file to stm32f1/include/
2. Included #include "stm32f105xc.h" in cpu_conf.h

3. not able to find *.ld file in STM32CubeMX.
can u please help me for 3rd step.
Thanks in advance,

Regards,
Shreeharsha I

[2017-04-04 14:23] aabadie commented on #6856
@shreeharsha22, you have to write the linker script yourself following the MCU datasheet : copy an existing one in `stm32f1/ldscripts` and just change `LENGTH` value in the `rom` and `ram` lines.

[2017-04-04 14:42] astralien3000 opened #6859 "C++ constructors not called for global variables on native ?"
Everything is in the title.

I tried the following code on native and samr21-xpro :
[code]

native has a segfault before printing "test"
samr21-xpro seems ok

Looks like native's startup script does not call C++ constructors for global variables before the main (or even at all ?).
The startup code for native is very hard to understand for me. I will try to investigate, but any information about th

[2017-04-04 15:06] gebart commented on #6859
I actually solved this problem today. See #6858 for a proposed solution.

[2017-04-04 15:28] astralien3000 commented on #6859
Thanks ! I am very lucky you fixed that before me ^^ !

[2017-04-04 15:59] gebart commented on #6859
Reopening until we have merged a solution

[2017-04-05 06:24] gebart commented on #4695
#4699 was merged.

[2017-04-05 06:24] #4695 closed

[2017-04-05 12:18] kYc0o opened #6865 "nrf52dk status"
I'm currently trying to use this board for some development but I found that is broken since release 2016.07.

It is certainly due to the nordic softdevice library which was broken since some time ago, but was never fixed. Since then, several changes to RIOT can also make difficult to fix it.

So, my proposition is to disable the softdevice for this board and enable it when it gets fixed.

Any sug

[2017-04-05 15:03] PeterKietzmann commented on #6865
Related to #6379?

[2017-04-05 15:05] kYc0o commented on #6865
Certainly. Should we close this one since it's a duplicate?

[2017-04-05 15:07] PeterKietzmann commented on #6865
Maybe close one of both, don't know which one. Depends on the issue you describe here. Is you issue more generic? Just close the one you think makes more sense.

[2017-04-05 15:10] kYc0o commented on #6865
I think the best idea should be to find why it's broken, open an issue describing it and close both, since the board it actually works without the softdevice enabled (as @haukepetersen did for nRF52840dk in #6863).

[2017-04-05 15:19] kb2ma commented on #6865
Forgive my ignorance, but does the absence of softdevice mean the device is incapable of 6lo and IP?

[2017-04-05 16:03] haukepetersen commented on #6865
@kb2ma yes and no, depends on how you look at it: when falling back to the `nrfmin` driver, the board is able to run 6lo and IPv6, but on it's own prorietary link layer, so it won't be compatible with BLE or 15.4...

[2017-04-07 04:23] kyungtaeH opened #6869 "xbee does not work"
The xbee(tests/driver_xbee) does not working properly in the latest version.
For reference, I have confirmed that it works well in past versions.
(I tested it on an arduino-due board.)

[2017-04-07 05:17] gebart commented on #6869
Could you tell us what part is not working?
What version did it work properly? (git commit id or a release number)
When you say current version, do you mean the latest master branch or do you mean the release 2017.01?

[2017-04-07 06:40] kyungtaeH commented on #6869
I just tested it with 'git clone' few days ago.
It seems that it did not work properly because I did not 'git checkout' to the release version of 2017.01.
After checkout to release version, it works!
I'm really sorry to report the wrong issue.

[2017-04-07 06:49] gebart commented on #6869
What is not working with xbee on master?
If it is broken on master then someone needs to fix it.

[2017-04-07 07:00] kyungtaeH commented on #6869
I just checked 'git pull' again from the master and it works too!
Perhaps I have checked out a version that is not temporarily available.

[2017-04-07 07:02] gebart commented on #6869
ok, closing this. Post a new issue if you find anything is broken.

[2017-04-07 07:02] #6869 closed

[2017-04-07 07:58] PeterKietzmann commented on #6840
security@riot-os.org has been set up and documented in the [wiki](https://github.com/RIOT-OS/RIOT/wiki/FAQ) so I close this issue. Please reopen if I'm mistaken

[2017-04-07 07:58] #6840 closed

[2017-04-07 09:02] #637 closed

[2017-04-08 20:23] dylad opened #6874 "SAMD21: possible CMSIS bug ?"
Hello,
I've noticed a possible bug in cpu/samd21/cpu.c file
[code]
Here, code disables all periphs clock. And it stops at 0x22. If we take a quick look in SAMD21 datasheet (Table 15.5 page 131-132) the last periph clock ID is 0x26.
Moreover, if we now take a look at Atmel CMSIS (cpu/sam0_common/include/vendor/samd21/include/component/gclk.h)
The last periph ID is 0x24 (and doesn't take into accoun

[2017-04-09 17:14] andyrosete17 commented on #6842
Hello I've flashed two device with the emcute example but with the samr21-xpro devices I could not connect both of them. I've been seen the ifconfig results but I don't know how to connect one with the other.
Do I need something like the boarder-router  example to have a network? in case of need that, how con emcute example be tested?
![captura de pantalla de 2017-04-09 19-10-46](https://cloud.git

[2017-04-11 07:57] bergzand opened #6887 "Radio's should report RSSI in dBm"
When receiving a frame, all radio's report the RSSI as the raw register value in the netdev_radio_rx_info struct. This way it is impossible to use this value in any higher level layer. This value should be converted to dBm by the radio drivers, to have any use.

I would propose to refactor the type of the rssi variable to `int8_t`. The practical range of most radio's is between -10 and -100 dBm. T

[2017-04-11 08:25] bergzand opened #6888 "netdev: How to report transmit statistics"
For ETX calculations, it is useful to know how many transmissions the radio had to perform before an ACK was received. Currently the netdev/driver glue code does not seem to have a way to report these values back to netdev. Only success or failure is reported.

Is there a preferred way to implement this? I'm willing to write the code for this, but I have no clue what kind of structure is wanted fo

[2017-04-11 09:10] kamejoko80 commented on #6358
Hello haukepetersen,

Thanks so much for your reply.

Yes, I've implemented the following wrapper layer functions for xtimer.

void timer_irq(void);
int timer_init(tim_t tim, unsigned long freq, timer_cb_t cb, void *arg);
unsigned int timer_read(tim_t tim);
int timer_set_absolute(tim_t tim, int channel, unsigned int value);

But I'm not clear about xtimer behavior in RIOT, are almost platform usin

[2017-04-11 11:04] haukepetersen commented on #6358
Hej, I am not quite sure if I understand your question. As already said: you don't have to care for xtimer. Just implement the `periph/timer.h` interface as if it was an upcounting timer, then you don't have any trouble.

[2017-04-11 12:02] miri64 commented on #6888
If the value is on a device level and changes seldom a new NETOPT would be the preferred way to report this.

If the value is on a per packet basis, I have a little history lesson ;-): When the `recv()` function got the info context, the `send()` was supposed to get one too. However, we decided [to provide it when it is needed](https://github.com/RIOT-OS/RIOT/pull/4648#issuecomment-177467596). So

[2017-04-11 14:28] bergzand commented on #6888
This is indeed about values on a per packet basis.

The problem with giving the `send()` method an info context is that the transmission statistics are known when the callback function is called. Would it be okay to add an info context to the netdev event callback function, [here](https://github.com/RIOT-OS/RIOT/blob/master/sys/net/gnrc/link_layer/netdev/gnrc_netdev.c#L49)?

[2017-04-11 18:38] keestux commented on #6874
Hmm. I vaguely remember that I brought this up in the SAMR21 versus SAMD21 discussion.
The reason for the 0x22 is that it samd21/cpu.c was first developed for a SAMR21, which has peripheral clocks up to 0x22 (GCLK_PTC). SAMD21 goes up to 0x26.

But not only that, there are some differences in the Generic Clock Selection ID. It's one of the very few areas where we have to apply #ifdef's and select

[2017-04-11 19:19] dylad commented on #6874
Aaaw, ok.
Still, I don't get why Atmel define two I2S ID for SAMR21 in the CMSIS.
This may be change when someone will port SAMD21-xpro board.
But I'm still wondering why there is up to 0x24 in CMSIS and 0x26 in datasheet for SAMD21.

[2017-04-12 01:07] kamejoko80 commented on #6358
Hello haukepetersen,

I didn't touch xtimer, just implemented the following functions :

void timer_irq(void);
int timer_init(tim_t tim, unsigned long freq, timer_cb_t cb, void *arg);
unsigned int timer_read(tim_t tim);
int timer_set_absolute(tim_t tim, int channel, unsigned int value);

I've tested with example timer_periodic_wakeup and realized that it didn't work properly.
I'm investigating tim

[2017-04-12 02:19] kamejoko80 commented on #6358
Hello

I think I know the problem

Normally up-counter timer counts from 0x0 to 0xFFFFFFFF, timer_read() function returns the current counter value, and timer_set_absolute() sets the compare value (counter matching register), when counter matches compare value then timer interrupt happen. I missunderstood compare value with timer reload value.

Unfortunately, S5P4418 doesn't have any compare regis

[2017-04-12 18:17] keestux commented on #6874
Indeed, the latest SAMD21 datasheet (Rev N) and the include files (up to ASF 3.34) don't match.

I also have an older datasheet (Rev E) which matches the ASF include files.

If the Rev N. datasheet is correct then Atmel forgot to update ASF.

[2017-04-12 18:43] dylad commented on #6874
In that case, what would be the best solution to integrate this change ?
There is an ongoing effort to port SAMD21-xpro. The current state is ok for SAMR21 but not for SAMD21.
Use #`ifdef CPU_MODEL_SAMD21J18A` for example ?

[2017-04-12 19:34] keestux commented on #6874
I don't have a straightforward answer. There is no define for the last ID. Would it hurt to set the clock for "reserved" ID's? If not we could initialize up to 0x3F.

But I do think that `ifdef CPU_MODEL_SAMD21J18A` is wrong. I don't like the `J18A` part of it. Isn't `CPU_FAM_SAMD21` a better choice? See `cpu/sam0_common/include/periph_cpu_common.h` and `cpu/sam0_common/periph/spi.c` for examples.

[2017-04-12 19:41] dylad commented on #6874
`CPU_FAM_SAMD21` is a better choice only if initialization of both samr21 and samd21 up to 0x3F is not harmful.
But if we have a problem with this, we should have a backup plan.

BTW, I'm sure there is a historical reason, but why samr21 is define as part of `CPU_FAM_SAMD21` ?

[2017-04-12 20:12] adjih commented on #6887
You should consider that the sensitivity of most modern low-range low power radios is below -128 dBm (almost by definition; that's what makes them long range). I've seen figures of -141 dBm for NB-IoT, -134 dBm for LoRa, -129 dBm for SigFox, -142 dBm for RPMA, etc.

[2017-04-13 07:33] astralien3000 commented on #6859
It can be closed now.

[2017-04-13 07:33] #6859 closed

[2017-04-13 07:48] astralien3000 opened #6896 "C standard forced on platforms"
I have hard time to use external c11 code with RIOT on some platforms, because `-std=gnu99` is forced in [boards' Makefile.include (native, for example)](https://github.com/RIOT-OS/RIOT/blob/master/boards/native/Makefile.include#L49).

Is there a reason to force this, an not to do like in [this file](https://github.com/RIOT-OS/RIOT/blob/master/makefiles/cflags.inc.mk#L1-L7) ?

[2017-04-13 09:08] kaspar030 commented on #6896
There's no reason to force it. The default has to be overwritten, though, as those boards need the gnu extensions.

[2017-04-13 09:15] vincent-d commented on #6802
How the periph driver are supposed to implement this? I think this is straightforward for spi, block/unblock are called in acquire/release. But how do we proceed for uart for instance. Are the block/unblock supposed to be called from `uart_poweron`/`uart_poweroff`? If yes, then we need a timeout mechanism or something from the layer above to power off the uart when nothing is expected anymore. The

[2017-04-13 09:38] kaspar030 commented on #5959
Just checked, in my system headers they are declared as functions.

[2017-04-13 09:43] OlegHahm commented on #5959
True.

[2017-04-13 09:55] miri64 commented on #5959
According to the [POSIX-specification](http://pubs.opengroup.org/onlinepubs/9699919799/functions/htons.html) they are functions.

[2017-04-13 10:02] bergzand commented on #6887
I completly missed that class of devices, thanks.
In that case it makes more sense to have absolute values.

[2017-04-13 14:39] #5959 closed

[2017-04-13 15:14] dylad opened #6904 "cpu/saml21: cannot use several EXTI"
I was playing with EXTI on SAML21 and I notice an annoying problem.
Hardware : saml21-xpro
Software : tests/periph_gpio

First I try to register a EXTI on any GPIO (PA18 for example -> EXTI 2)
Registration is ok, I attach a button to it and it works fine.
Now I try to register a second pin (PA17 -> EXTI 1)
registration is ok, I attach a second button but no IRQ trig. (First button still working).

[2017-04-13 18:35] keestux commented on #6874
O shit. I now see that `CPU_FAM_SAMD21` is used for both `samd21` and `samr21`. That's not what I meant. It was certainly not my choice. See story below.

It's a long story. First there was support for SAMR21 (board samr21-xpro) and it was done "using" `cpu/samd21` and the CMSIS files were from the `samr21` tree, renamed to `samd21`. Then I came in with a request to move `cpu/samr21` to `cpu/samd2

[2017-04-14 09:05] gebart opened #6910 "doc: HTML docs broken with Doxygen >=1.8.12"
https://github.com/doxygen/doxygen/commit/8480d35beef57ed08139b58972bfb83a3b37422c
seem to break the new design from #6878
Screenshot:
![screenshot_20170414_104035](https://cloud.githubusercontent.com/assets/317506/25039072/2d3944da-2102-11e7-96e8-636b371e4cc3.png)

Web browser console shows:
[code]

[2017-04-14 09:09] miri64 commented on #6910
Can you send me the html directory zipped?

[2017-04-14 09:14] astralien3000 commented on #6896
Ok, so we could enable the flag to be overwritten by the user ?
But I am lost in the Makefiles :
 - There is one in [boards](https://github.com/RIOT-OS/RIOT/blob/master/boards/native/Makefile.include)
 - and 2 in `makefiles/arch` ([msp430](https://github.com/RIOT-OS/RIOT/blob/master/makefiles/arch/msp430.inc.mk), [mips](https://github.com/RIOT-OS/RIOT/blob/master/makefiles/arch/mips.inc.mk))

[2017-04-14 09:43] gebart commented on #6910
Try this link: https://www.dropbox.com/sh/8elyl6kb6at1j9k/AABuCBA7XS7DZDOTLhvjXbQwa?dl=0

[2017-04-14 09:46] adjih commented on #6887
Your initial issue is still very valid: the reported RSSI value has no meaning per say, and would be driver/hardware dependent. With just a dump of the radio register values, the application would have to do the conversion (which can be complex this is why for instance  #6797 does it in the driver).

I just have no opinion on how one would best solve the issue.

[2017-04-14 11:09] miri64 commented on #6910
Ah okay, the use this one https://github.com/vadikom/smartmenus now for the menus instead of handcrafting them. I will look into that. For now since this isn't in the auto-gernerated doc, let's keep this issue open.

[2017-04-14 18:39] travisgriggs commented on #6823
Merged and finished.

[2017-04-14 18:39] #6823 closed

[2017-04-15 00:11] travisgriggs commented on #6709
We've just run into his same issue with the samd21. So glad you documented what's going on here. We were pulling our hair out. Any hope of a solution emerging?

[2017-04-15 13:17] miri64 commented on #6910
@gebart can you try with https://github.com/RIOT-OS/RIOT/pull/6914?

[2017-04-16 15:02] kamejoko80 commented on #6358
Hello haukepetersen,

I've finished porting RIOT to my custom board and I've uploaded my workspace into github server as below link :

https://github.com/kamejoko80/RIOT-S5P4418

In my porting task has three  parts :

1> Add support for ARMv7-A (in /cpu/armv7a_common),  we can reuse this module if we want to implement with another platform in the future such as RPi, Beagle Bone Black...

2> Add su

[2017-04-16 16:10] miri64 commented on #6358
Hi @kamejoko80,
Did you have a look at [our Wiki](https://github.com/RIOT-OS/RIOT/wiki/Contributing-to-RIOT#contribute-code)? You need to put the commits into a GitHub [fork](https://help.github.com/articles/about-forks/) of RIOT to create a [pull request](https://help.github.com/articles/about-pull-requests/) (PR for short).
Good thing is: you already seem to [have one](https://github.com/kamejok

[2017-04-17 04:04] kamejoko80 commented on #6358
Hello miri64,

Thanks so much for your kindly support. I've created a pull request https://github.com/RIOT-OS/RIOT/pull/6915.

This is the first time that I work with RIOT and git, and I'm sorry for my mistake if any.

Thank you very much.

[2017-04-17 19:10] diegolondel opened #6917 "Arduino Mega2560 + XBee doesn't write flash"
Hi everyone!
I'm new here. I'm working on Arduino Mega2560, and I have a little issue. When I test the example "arduino_hello-world" without the XBee module, it works. But when I try to do the same with the XBee module connected (and the XBee shield), It doesn't work, and this happens:

[code]
The XBee shield has the switch in USB mode.
Any idea?
Thanks!

[2017-04-18 21:25] travisgriggs opened #6928 "SAMD21 has no ADC peripheral implementation"
yet... :)

[2017-04-18 22:04] travisgriggs commented on #6928
created #6929

[2017-04-18 22:45] travisgriggs commented on #6261
Is there a PR for this? Or did it stall out? We'd really like to be able to use the clock configuration mentioned (it's the best configuration for really low power consumption).

[2017-04-19 01:55] #6841 closed

[2017-04-19 02:19] kamejoko80 opened #6930 "Potential compilation error"
Hello,

I see in the source code there is some potential compilation error.

1> Inline function definition:
In file /drivers/kw2xrf/include/kw2xrf_intern.h
Inline function in the header file should be defined with "static inline".
Compilation error will happen if we change the gcc flag from -Os to -O0

2> Partially include source file in nanocoap package:
In file /pkg/nanocoap/Makefile.nanocoap
ha

[2017-04-19 08:45] dylad commented on #6874
Thanks @keestux for the story !
I can understand the choices which has been made. But I don't really like them.
The recent port of SAMD21 board ( #6839 ) will introduce 'conflicts'. The one on this issue is an example. SAMD21-xpro has I2S. So `for (int i = 0x3; i <= 0x22; i++)` will have to be update to 0x24 or 0x26
#6885 is another example.

@haukepetersen @keestux what can we do about that ?

[2017-04-19 14:47] smlng commented on #480
is this resolved with #6703 merged?

[2017-04-20 08:21] ansqja91 commented on #6783
thank you!!!

[2017-04-20 11:22] yennhan1211 opened #6941 "Port RIOT to SAM4 family"
Thanks for great working and beautiful OS. Is there any plan or schedule to port Riot to Atmel sam4 family.
If this question is duplicate, pls help me to remove it.

Thanks in advance.

[2017-04-24 06:57] kaspar030 opened #6950 "question regarding best practice for sizeof() type"
While experimenting with coccinelle, I realized that we're not using sizeof() consistently regarding to using a type or an identifier as argument.

For example, grep for usages of ```gnrc_netapi_get()```.

Some occurences are using ```gnrc_netapi_get(..., &var_name, sizeof(var_name))```, some are using ```gnrc_netapi_get(..., &var_name, sizeof(var_type))```.

Should we aim for consistency here? If

[2017-04-24 07:32] gebart commented on #6950
I prefer to use `sizeof` on the variable itself, when possible, because then we don't need to search and update all sizeof uses if the type of a variable changes. Drawback: This approach does not work if the variable is of a pointer type and the target is an array and not a single value. (`sizeof(*ptr)` is the size of one item, does not take into account the array size)

[2017-04-24 08:24] smlng commented on #6930
I think you're right, but how did you *see* these potential errors? Any specific tool you used, or example code so that others can reproduce your findings?

As these changes look rather minor: can you provide *separate* PRs for these issues?

[2017-04-24 09:50] smlng opened #6953 "doxygen: missing spacing in parameter description"
Spacing between name and description of function parameters looks a bit ugly, due to a missing whitespace(s). See here:

![riot_doxygen](https://cloud.githubusercontent.com/assets/10532675/25331598/f0d80da2-28e3-11e7-925b-0f81dfc3ee97.png)

specifically for parametes `dev` and `row` for the first function and `value` for the second function.

[2017-04-24 13:14] #6953 closed

[2017-04-24 22:04] andyrosete17 opened #6956 "Communicate two samr21-xpro Emcute example and gnrc_border_route example"
Hi

I'm trying to communicate two devices (samr21-xpro) one of them with emcute (mqtt-sn) example and the gnrc_border_route example, but the con command of emcute example return TimeOut error.

I've added the ip of the gnrc_border_route example to emcute example

![image](https://cloud.githubusercontent.com/assets/17157288/25360611/285980a6-294a-11e7-80ff-63545e0b7d45.png)
(gnrc_border_route)

![i

[2017-04-25 09:05] #6910 closed

[2017-04-25 13:32] haukepetersen commented on #5489
should be fixed with #6959

[2017-04-25 13:32] haukepetersen commented on #4673
Is this still an issue? We have not run into this anywhere else and there is not much traction (currently) for the LaunchPad boards...

[2017-04-25 14:35] haukepetersen commented on #6802
pratically, it is quite simple - as long as peripherals are active, they need to block any power state that prevents them from working:
UART: block low power when activated (init and poweron), and unblock when disabled (poweroff), no need for timeouts or anything. Effect: as long as e.g. the shell is used, low power modes are blocked. This is not a problem of the uart driver, but the using module

[2017-04-25 14:38] haukepetersen commented on #6888
Does it make sense to go the same path than we did for `recv` by changing the send function to something like
[code]
and define something similar to `struct netdev_radio_rx_info` like
[code]
?

[2017-04-25 14:53] vincent-d commented on #6802
That's what I understood, then.

So in practical, as soon as shell or xtimer is used, we cannot reach any low power mode anymore with the current design.

For the UART, some platform will need to setup the rx pin as an external interrupt before sleeping to be able to wake up from the UART. Do you see this kind of features as part of the UART driver or as an extra layer above ?

I'm glad this topic

[2017-04-25 15:44] haukepetersen commented on #6802
I'd say this would be part of the uart driver, as it is up to the driver how it behaves in context with low power modes. But we need to be careful, as we don't want to run in situations, where we lose the first char send over the UART when we need to wakeup first...

[2017-04-25 16:59] gebart commented on #6802
I prefer to see this not as a design flaw of xtimer, but rather a misconfiguration of the boards.
The whole purpose of #5608 was to allow low power modes while using xtimer. Many platforms have low power timers which operate at lower frequencies than 1 MHz. On Kinetis platforms, all we need to do is use the LPT instead of PIT and we get full xtimer functionality in all low power modes. I don't kno

[2017-04-25 17:06] kYc0o commented on #6865
So I propose to close this issue and move into #6379.

[2017-04-25 17:06] #6865 closed

[2017-04-25 17:18] kYc0o commented on #6379
I tried and it actually doesn't work anymore, it works for release 2016.10 but it stopped to work on 2017.01.

What I suggest is just to remove it from the boards with radio capabilities and point to the exact branch/commit on which the softdevice used to work.

Of course, the best thing to do is to fix it, but I have no idea how.

[2017-04-25 17:20] kYc0o commented on #6709
I don't know if there's a proposed solution yet but looking at the status of the PRs marked for this release I think this issue should be also postponed.

[2017-04-25 17:22] kYc0o commented on #6655
Same as #6709, should we close one of them?

[2017-04-25 17:31] miri64 commented on #480
Yes

[2017-04-25 17:31] #480 closed

[2017-04-25 17:36] miri64 commented on #6655
I would propose to close this one. It is referenced in #6709 so the information provided here is still accessible, but the discussion in #6709 went a little bit on already.

[2017-04-25 17:54] kYc0o commented on #6354
Opened #6964

I also remove the bug label since it's not really a bug, but a quality defect in my opinion.

[2017-04-25 18:04] kYc0o commented on #6331
Can you verify (or someone) that this is solved by #6504 ?

[2017-04-25 18:08] kYc0o commented on #6817
I think so, but let's keep it open for now.

[2017-04-25 18:15] kYc0o commented on #6052
I confirm this bug, but I have no idea on the cause... any more hints @smlng ?

[2017-04-25 18:17] smlng commented on #6052
@kYc0o didn't look into this any further, so no 😞

[2017-04-25 18:42] kYc0o commented on #6018
So, there was such workaround?

[2017-04-25 18:55] kYc0o commented on #5928
Can we close this issue then?

[2017-04-25 19:01] kaspar030 commented on #6842
Closed in favour of #6956.

[2017-04-25 19:01] #6842 closed

[2017-04-25 19:05] kaspar030 commented on #6801
Try "timer_set_absolute()", carrying around the absolute target value.

If you have further questions on how to use RIOT, please try our mailing list (users@riot-os.org). The issue tracker is meant to be used with issues within the RIOT code.

[2017-04-25 19:05] #6801 closed

[2017-04-25 19:12] kYc0o commented on #5848
@gebart Did you have time to work on the solution? @kaspar030 any other suggestion?

[2017-04-25 19:20] kYc0o commented on #5799
I think this should be fixed by #6453. Can you @smlng try it again?

[2017-04-25 20:03] #6229 closed

[2017-04-25 20:31] nbars opened #6967 "Questions regarding support for STM32F103C8"
Hey guys,

I just tried to compile RIOT for an STM32F103C8 device and noticed that it doesn't seem to be supported. Can you tell me what I have to do for adding support for this chip?

Am I right in the assumption that I only need to change the file ```/cpu/stm32f1/include/cpu_conf.h``` and get somewhere a vendor file for this chip?
Or are there any other places that need to be edited?

Thanks in

[2017-04-25 23:38] jfbortolotti commented on #6018
Nothing cleaner than what described above so far.

[2017-04-26 07:55] brummer-simon commented on #6476
With the merging of #6742, a few points can be crossed of the list:

- examples are missing a README
- client examples contain a hardcoded IP address for the communication peer, but this address is not set on the server side
-  contain switch-case statements with only one case
-  gnrc_tcp_tcb_init() can be significantly be shortened using memset()
-  gnrc_tcp_eventloop.c allocates a message queue

[2017-04-26 09:18] miri64 commented on #6476
Still some redundant assignments to zero in there:

[code]

Rest I can confirm (and sorry for not pointing out the short-coming mentioned above in #6742 already).

[2017-04-26 09:48] brummer-simon commented on #6476
It is true that the Defines are mostly Zero as well. I still would like to keep those.
It is possible that values of those Macros change from zero to something else, introducing bug that are hard to track.

[2017-04-26 10:13] kYc0o commented on #5748
Does anyone know if this is still an issue?

[2017-04-26 11:11] miri64 commented on #6476
`KERNEL_PID_UNDEF` is unlikely to change, so is `AF_UNSPEC`. The latter [is even standardized](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/sys_socket.h.html):

[2017-04-26 11:27] brummer-simon commented on #6476
Okay, I'll remove the rest of them.

[2017-04-26 11:40] brummer-simon commented on #6476
@miri64 - Would you do me a favor and review #6972 ?

[2017-04-26 11:41] aabadie opened #6973 "Troubles with IPv6 autoconfiguration when using XBee"
Hi,

I have issues with IPv6 address autoconfiguration on a XBee module: it never gets the prefix propagated by a border router (I'm using a Raspberry with OpenLabs as BR). The interface is only configured with a link local address.
The problem seems to be there for a long time now: it's working with 2016.10 but is broken in 2017.01. I suspect #6235 to have introduced this regression but a bisect

[2017-04-26 11:52] miri64 commented on #6476
Done.

[2017-04-26 11:54] brummer-simon commented on #6476
Thanks :).

[2017-04-26 11:59] brummer-simon commented on #6476
The remaining Issue:

- gnrc_tcp_open_passive() (which I don't find a very speaking name) requires one thread per open TCP port, IMO this could (and should) be solved more efficiently with GNRC. E.g., one function could register the TCP thread to wait for incoming connections and actually in
coming connection requests could use TCP. Not even POSIX requires one thread per connection.

Requires a bi

[2017-04-26 12:21] kYc0o commented on #5858
Is this still an issue?

[2017-04-26 12:22] kYc0o commented on #6018
What I mean is if a PR was opened with such workaround.

[2017-04-26 12:25] smlng commented on #5858
I think (de)fragmentation is still a problem, specifically between different platforms and boards. But I haven't tested lately - did you run any tests?

[2017-04-26 12:25] kYc0o commented on #5561
Someone have news on this one?

[2017-04-26 13:10] kYc0o commented on #5858
Just tested a iotlab-m3 vs samr21-xpro: works like a charm with the experimental setup provided by @OlegHahm.

Tested iotlab-m3 vs pba-d-01-kw2x: lots of timeouts even with small payload.

So I'd say that we can close this issue and maybe open a new one stating that pba-d-01-kw2x has some problems, which I think are more related to the radio driver than something on gnrc or 6lo.

@smlng would you

[2017-04-26 13:12] kYc0o commented on #5539
#6064 was merged, @biboc can you test if this is still an issue?

[2017-04-26 13:12] kYc0o commented on #5790
@biboc ping.

[2017-04-26 13:18] miri64 commented on #5656
#5731 did not fix this issue it just provided a new data type to fix it.

[2017-04-26 13:21] kYc0o commented on #5656
Ok, just changed the milestone since the fix seems to be hard.

[2017-04-26 13:24] miri64 commented on #5656
It's not hard, its just a very intensive search-and-replace of mutexes to rmutexes with regards to `gnrc_ipv6_netif` ;-).

[2017-04-26 13:53] miri64 commented on #6476
is also not ticked off yet. Any reason? Above you stated it is fixed.

[2017-04-26 13:56] brummer-simon commented on #6476
It is. I think it was just not crossed of the list.

[2017-04-26 13:56] brummer-simon commented on #6476
At least i am not aware the any line is longer than 100 characters

[2017-04-26 14:55] aabadie commented on #6973
@miri64, @haukepetersen do you have any idea about this problem ? It would be great to fix it for the release (4 days remaining!).

[2017-04-26 15:15] biboc commented on #5790
I'm sorry @kYc0o , I won't be able to test this for now.

[2017-04-26 15:18] miri64 commented on #6973
I just tried this on Arduino Due and xbee and I get the prefix, but I ping to the global address of the border router times out (link-local works though). I can sniff the replies though.

[2017-04-26 15:26] biboc commented on #5539
I'm sorry @kYc0o , I won't be able to test this for now.
I don't think #6064 is related to this bug.
Currently, with a small sleep (50ms) before sending a packet from ethos to BR, there are no problem.
This problem may exist due to hardware configuration and not ethos software so if nobody encounters it, I would vote to close this issue.

[2017-04-26 15:32] aabadie commented on #6973
What is your prefix ? I'm trying with fd00:aaaa::/64. What kind of BR do you have ?

[2017-04-26 15:53] aabadie commented on #6973
@miri64 I tested with arduino-due and it doesn't work either but maybe I didn't setup the shield correctly. What is your setup ?

[2017-04-26 15:59] miri64 commented on #6973
The one @haukepetersen handed me a few weeks back: at UART1 (Ports 18 and 19) and with the parameters you provided in #6971:

![img_20170426_175607102](https://cloud.githubusercontent.com/assets/675644/25443974/d3c4966e-2aa9-11e7-9da6-ad2e1c1af090.jpg)

[2017-04-26 16:19] aabadie commented on #6973
Ok I see, I had the same. Tested the shield back on arduino-zero and I get a link-local address.
Here is my output at reboot with arduino-due:
[code]

[2017-04-26 23:27] jfbortolotti commented on #6018
No PR opened with such workaround.

[2017-04-27 06:18] smlng commented on #3399
@BytesGalore you're working on this, right?

[2017-04-27 07:58] BytesGalore commented on #3399
@smlng, yup

[2017-04-27 14:07] kYc0o opened #6979 "frdm-k64f: kernel panic with any example using shell"
While testing some examples on the frdm-k64f I realised that any example using the shell leads to a kernel panic when any command is sent. I suspect is related to the UART input buffer.

@gebart do you have a board to test?

For info: The examples seem to work on 2017.01-branch

[2017-04-28 04:24] gebart commented on #6979
I don't have a frdm-k64f board to test on. I can't find anything that's off between the frdm-k64f and the mulle, which is working fine. According to @haukepetersen the pba-d-01-kw2x is also working fine.
@kYc0o Could you try to single step it through a debugger and see where it faults and post a backtrace?
I will post a PR for FRDM-K22F in a few days, which is very similar to the FRDM-K64F, but I

[2017-04-28 10:44] kaspar030 opened #6980 "unittests: mtd tests fail on iotlab-m3"
```mtd_tests.test_mtd_write_read_flash (tests/unittests/tests-mtd/tests-mtd.c 236) exp 0 was -17```

There's a comment stating the test would fail if not run on real flash. I guess that is what's happening.
Anyhow, can we somehow exclude that test in the dummy-flash case? Unittests are supposed to succeed or point out a problem.

[2017-04-28 16:33] kYc0o commented on #6979
Fix proposed in #6984

[2017-05-01 00:13] kbumsik opened #6985 "Segger GDB with TUI has bad newlines."
Hello, I am porting Arduino MKR1000. I am sorry this question is not directly RIOT-OS related.
I am currently flashing/debugging the device using Segger EDU connected via SWD.

To run the debugging session, I run `TUI=1 BOARD=arduino-mkr1000 make debug` (I made a new board directory for MKR1000.) And the terminal shows me this screen:

![untitled picture](https://cloud.githubusercontent.com/assets

[2017-05-01 08:00] aabadie commented on #6985
Hi @kbumsik,

Good to hear that someone else is interested in mkr1000. Some times ago, I opened #6666 to add support for this board.
Maybe you can have a look/review it ?
My port doesn't use the SWD programming but [Bossa](https://github.com/shumatech/BOSSA) like in Arduino IDE: so I don't have debugging facility with it.

[2017-05-01 08:36] kbumsik commented on #6985
Hi @aabadie ,
Great. I am happy that someone is working on it. I quickly looked through your PR, and it looks like there are some codes that I could add :). I will make a PR to your branch when I finish reviewing it.

[2017-05-01 16:27] aabadie commented on #6985
That would be nice !
do you also plan to add the wifi driver ?

[2017-05-01 16:35] travisgriggs commented on #6928
merged

[2017-05-01 16:35] #6928 closed

[2017-05-01 18:02] andyrosete17 commented on #6956
Hi,

I'm still having problem to connect the devices  and establish the communication among then.  I have been testing the emcute example in native and it run perfectly but once I want to use the samr21  it fails.  I've been trying to test the emcute example with the gnrc_border_router example but I'm not able to communicate them even when I've added the ip and I can execute ping6 and it response

[2017-05-01 21:53] kYc0o commented on #6979
Fixed in #6984

[2017-05-01 21:53] #6979 closed

[2017-05-01 21:57] kYc0o commented on #6354
Fixed in #6964

[2017-05-01 21:57] #6354 closed

[2017-05-01 23:58] kbumsik commented on #6985
@aabadie
Yes. I already have experience in porting ATWINC1500's wifi driver on a bare-metal MCU. But I worried it won't be compatible with RIOT's network stack...

[2017-05-02 07:43] aabadie commented on #6985
@kbumsik, if you can first provide the driver on its own PR with a usable API it would be great and mergeable fast. We'll see later how to integrate it in RIOT network stack.

[2017-05-02 09:21] #6980 closed

[2017-05-02 12:23] haukepetersen commented on #6973
just tried this using an xbee @ arduino-due and a samr21-xpro/gnrc_border_router. My arduino gets a global prefix from the border router just fine:
[code]
But I think I might have found some small things with the xbee driver, will propose fixes soon.

[2017-05-02 12:24] haukepetersen commented on #6973
oh, and the output looks a little weird, as I have DEBUG for the xbee driver turned on currently...

[2017-05-02 16:48] gebart commented on #5848
I don't think I will have any time to spend on this issue, it is of very low priority for my use cases.

[2017-05-03 16:03] aabadie opened #7001 "Better document how to use devices that support auto_init"
As raised in #6982, we need to better explain newcomers how to build applications using the auto_init modules.
This is the case for `examples/default` and for the networking specific examples (gnrc_networking, microcoap, nanocoap, gcoap, etc).

The idea is to create a common doxygen page explaining the principles of auto_init and listing all devices that support it. Then in the README files of con

[2017-05-03 16:16] miri64 commented on #7001
@aabadie could you maybe write-up a page? Just have a look at the *.md files in the `doc/doxygen/src/` directory for a template (not the mainpage.md though ;-)) and add it to the [`INPUT` configuration variable](https://github.com/RIOT-OS/RIOT/releases)

[2017-05-03 17:55] kbumsik commented on #6985
I found a perfect alternative to GDB TUI debugging. Segger provides [Ozone](https://www.segger.com/ozone.html) a perfect GUI debugging program. It doesn't require complicated configuration. Just put an `.elf` file and it works! Closing the issue.

[2017-05-03 17:55] #6985 closed

[2017-05-04 07:18] aabadie commented on #6973
I also has debug turned on in the xbee driver but that didn't change anything.
The only difference with my setup is that you are using RIOT BR and I'm using a RPI + OpenLabs BR (that works like a charm with samr21 and zolertia remote).
Will test with a RIOT BR.
I still don't understand why my Arduino due + Xbee doesn't work.

Do you have a Nucleo 144 around ? I am interested to see if you also can

[2017-05-04 15:31] aabadie commented on #7001
I'll see what I can do

[2017-05-04 20:11] Hyungsin opened #7008 "saul: Error message from SAUL_REG"
I'm working on making some sensor drivers interoperable with SAUL abstraction.

Meanwhile, I found an issue with SAUL_REG_READ function [1].
It returns the dimension of the output value (e.g., magnetic field -> 3) and reports an error "ENODEV" if a user tries to read from a non-existing sensor.

But even when a sensor is normally initialized, its driver sometimes fails to provide a reading due to

[2017-05-05 06:26] tuanle311 opened #7010 "fatal error: stdio.h: No such file or directory , compile error stm32f4 on RIOT"
I got this issue when i compile hello world for board stm32f4 discovery, RIOT

tuanle@TuanLe ~/RIOT/examples/hello-world $ BOARD=stm32f4discovery make
Building application "hello-world" for "stm32f4discovery" with MCU "stm32f4".

/home/tuanle/RIOT/examples/hello-world/main.c:23:19: fatal error: stdio.h: No such file or directory
#include <stdio.h>
^
compilation terminate d.
/home/tuanle/RIOT/Makef

[2017-05-05 08:33] haukepetersen commented on #6973
I have the nucleo144-f746 I can try it with.

[2017-05-05 08:44] haukepetersen commented on #7008
Actually, the interface already defines that it returns `-ECANCELED` in case the device failed to produce the requested data. So the SAUL read function implemented by the device driver can simply return that value in case of error...

[2017-05-05 09:14] aabadie commented on #7010
Hi,

This command works for me (Ubuntu + arm-none-eabi-gcc 4.9.3). You probably have missing development packages for correctly build RIOT on ARM platform.
You should follow [the doc](https://github.com/RIOT-OS/RIOT/wiki/Family:-ARM) for setting up your build environment ?

If you are running Ubuntu/Debian, you need to run the following first (including useful debugging tools):
[code]

[2017-05-05 10:58] kaspar030 opened #7011 "tests/unittests: tests-spiffs: hard fault on samr21-xpro"
The test hard faults after the third test:

[code]

[2017-05-05 11:44] haukepetersen commented on #6973
done: using the `gnrc_networking` with `xbee` @ `nucleo144-f746` works (almost) as expected, I get identical behavior as when using the same configuration on the `arduino-due` (this time without `DEBUG` for the driver enabled). Initialization goes fine and a prefix from the border router is assigned (again using a `samr21-xpro` with the `gnrc_border_router` example):
[code]

The only thing that I

[2017-05-05 11:52] bergzand commented on #6888
@haukepetersen I think that extending the send function doesn't work here. Most if not all send functions initiate a send operation in the hardware radio. The result of this operation is not available until the radio finished the transmission, but the send function has already returned by then.
Because of this asynchronous working, I proposed to add the information struct somewhere in the callback

[2017-05-05 11:58] bergzand commented on #6887
@adjih I might have been a bit short sighted with this. It seems that ieee802.15.4 is quite strict with how the RSSI should be reported, but that might be one of the few classes of devices that actually have a RSSI that can be converted to dBm. It's not called an indication for nothing :)

This issue will probably become a best effort kind of thing, depending on the radio type and the manufacturer

[2017-05-05 13:36] vincent-d commented on #7011
I don't have that board and can't reproduce the issue on the hardware I have.

Could you provide a GDB backtrace?

[2017-05-05 15:39] photonthunder opened #7016 "samd21: Misc utiliites (wdt, brownout, serial number, reset cause)"
I would like to add the following misc. utilities to the samd21-xpro:  wdt, brownout, serial number, and reset cause.  From what I see in code it looks like you just put them in board.c of the particular board.  All of these though would apply to the samd21 cpu.  Are these specific enough that I just add them to my own code, is it worth adding to the samd21-xpro board.c code or is there a way to i

[2017-05-05 17:46] miri64 commented on #6888
Why not use the TX_COMPLETE event then?

[2017-05-05 18:03] bergzand commented on #6888
As far as I can tell, the TX_COMPLETE event only indicates that a transmission was successful, not how "hard" the radio had to try to get it to the other node.
The problem with this is that with ACK request enable, an ieee802.15.4 transmitter should retry 3 times if it doesn't receive an ACK. So for example, a single send call could have a radio transmit 3 times before an ACK from the receiving no

[2017-05-08 01:25] kbumsik opened #7017 "Any working example for attaching at86rf233 with a stm32f4 board?"
Hi,
I just got two at86rf233 modules (zigbit and openlabs). I am trying to follow networking examples using Nucleof401 boards or a Discovery F4 board with the rf modules. But I am stuck at the beginning: I cannot found any working example (e.g. example/default pinmap and best practice attaching module hardware) attaching them from the source code and the documentation. Each tutorials in the wiki i

[2017-05-08 14:51] aabadie commented on #7017
Hi,

I never tried myself but this is what I would try first:
* load the corresponding module, in your case add `USEMODULE += at86rf233` in the application Makefile
* in the default Makefile, add nucleo-f401 to the boards providing a net interface, this is required to load the gnrc stack commands (ifconfig).
* then, since default uses auto_init, define the required pins for the module in [at86rf2x

[2017-05-08 16:11] Gr3yh0und opened #7020 "isr_rfcoreerrors while pinging between CC2538DKs"
Hey guys,
I'm currently trying to play around with the TinyDTLS package maintained by @rfuentess . However while trying to make it fly I often get the following errors on the node (`dtls-echo`):

      RFCORE_SFR_RFERRF = 0x02

      RFCORE_SFR_RFERRF = 0x00

  RFCORE_SFR_RFERRF = 0x00

I'm using one CC2538DK with the `gnrc_border_router` image as a border router to access the second device.

Some

[2017-05-08 17:53] Gr3yh0und commented on #7020
It looks like this topic has already came up earlier on a couple of issues and PRs. Obviously the CC2538 still has some RF problems with possibly too fast received packets? When i do massive ICMP spam with 250B huge packets it occurs every ~30s.
`gnrc_netdev: possibly lost interrupt.`

I guess in my situation the three fast coming DTLS client packets (key ex, cipher, finished) are sometimes crashi

[2017-05-08 17:56] rfuentess commented on #7020
Hi @Gr3yh0und,  maybe you can try `ifconfig <interface-ID> -ack_req`  ?
This helped to improve the performance of TinyDTLS for my testbed.

[2017-05-08 19:51] Gr3yh0und commented on #7020
Hey @rfuentess ,
Thanks, it helps a bit. I'm currently using the version 0.8.2 where I needed to change one line because my compiler complained about gettimeofday() as non-existent (, so I set it to 0). However I'm now getting closer and it stops at

I'll look closer into that tomorrow, somehow the MAC check failed.

[2017-05-08 20:30] rfuentess commented on #7020
I fear that the master secret for temporary keys are wrongly done due the absence of `gettimeofday()`. I'm assuming you are not using Linux for compiling, right? (I didn't have this particular problem when was testing the package).

By the way, the DEFINE that you disabled was `HAVE_SYS_TIME_H` or `HAVE_TIME_H`?

[2017-05-08 21:00] nandra opened #7021 "Nucleo f091 hello-world issue"
Hi, I'm trying to run hello-world on nucleo-f091 board. Basically I want to see some output on UART (should be 1152008N1) and I also enable following define:

[code]

Problems it that I cannot see anything on console and also green LED is not enabled after make BOARD=nucleo-f091 flash

flashing output:
[code]

Before debugging can anybody confirm it's working on latest master (I'm on: 2ed677690158

[2017-05-09 09:45] Gr3yh0und commented on #7020
After doing some testing the `ifconfig 7 -ack_req` doesn't help much. I just need to use the normal `ping6` with 64 Bytes every second and I can wait for the RF errors to occur.

I'm building the BOARD=cc2538dk on debian. As the `gettimeofday` function returned an `implicit declaration` on compilation for the board, I simply set `tv.tv_sec = 0;`

[2017-05-09 14:52] aabadie commented on #7021
It does work for me with master.

I'm using nucleo-f091RC. I don't think AUTO_INIT_LED0 is required except if you want to put it on in the main function for debugging. In this case, adding `#define AUTO_INIT_LED0` in board.c is not enough, you need to include `board.h` in main.c and call `LED0_ON;` macro in main.

Regarding your issue with UART, I would suggest that you update st-link firmware usi

[2017-05-09 15:01] kbumsik commented on #7017
@aabadie Thank you so much. I have one question,

What are you referring 'default Makefile' to?

[2017-05-09 15:18] aabadie commented on #7017
I'm referring to the `examples/default/Makefile` file.

[2017-05-09 19:24] nandra commented on #7021
Thanks a lot for hint. Updating STlink FW helps.

[2017-05-09 19:24] #7021 closed

[2017-05-09 23:06] Hyungsin commented on #7008
Thanks for feedback.
Then, I also think that device drivers should be changed so that the saul read function can return -ECANCELED when reading is failed.

[2017-05-10 12:28] MichelRottleuthner opened #7031 "Packages: downloading code archives over http -> CI build may fail"
When working on a RIOT package (namely #6072 )that downloads its external code as an archive file from the authors webserver, I've seen some errors in the CI log regarding failing `$(DOWNLOAD_TO_FILE)` / `wget` calls.
I could only observe this behaviour on superfast Murdock2 which may overload the used archive server with its parallel downloading.
Are there any plans to add some caching to the `$(

[2017-05-10 13:58] miri64 opened #7033 "tests: unittests buildtests skipping"
When trying to run `make buildtest` on `tests/unittests` nothing is done. A bisect revealed a2b4c42c28425554a1c8083c3365be33016a77a7 to introduce that bug. BTW: how was this missed during testing for the release?

[2017-05-10 15:41] vincent-d commented on #7011
I was able to reproduce on nucleo-f091. There is an alignment issue.

I'll prepare a fix.