[2018-04-30 11:15] iia commented on #5566
Hi,

I'm interested to fix this issue. What is the current state of this issue ?

Cheers.

[2018-04-30 11:49] TomKeddie commented on #7197
Hi @iia thanks for offering.  The work is essentially done but I am backlogged on other things and have not been able to complete it.  I think the main task would be to test and audit all the pin mappings especially the Arduino ones and the serial/spi/i2c definitions,.

My code is all checked in on https://github.com/TomKeddie/RIOT, it needs to be on a branch, my git skills are proving to be a pro

[2018-04-30 12:04] gschorcht commented on #9043
It seems that the transmission logic sometimes hangs. In that case, after writing the data to send into the buffer and starting the transmission process with ```cmd_bfs(dev, REG_ECON1, -1, ECON1_TXRTS);```, it seems that nothing happens. The transmission process is neither finished nor aborted. Neither the ```EIR.TXIF``` nor ```EIR.TXERIF``` are set. When ```ns_send``` is called next time, the ```

[2018-04-30 12:16] bergzand commented on #8973
Doc is rebuild, CoAP RD doesn't appear in the top level anymore

[2018-04-30 12:16] #8973 closed

[2018-04-30 16:52] jcarrano opened #9051 "Linker failure when using `times` or `rename`"
#### Description

When building for an ARM platform, certain functions in newlib are not implemented and cause a linker error.

#### Steps to reproduce the issue

Try to compile a program that uses [`times`](http://pubs.opengroup.org/onlinepubs/9699919799/functions/times.html) or [`rename`](http://pubs.opengroup.org/onlinepubs/9699919799/functions/rename.html).

For example:

[code]

#### Expected

[2018-04-30 19:31] ZetaR60 opened #9052 "misc issues with tests/trickle"
#### Description
While running tests/trickle for #8904 on mega-xplained, I have run into a number of different issues. One issue is that prev_now is not being initialized properly in main (it assumes xtimer_now_usec is zero when main starts, which is not the case). This is easily fixed by adding ```prev_now = xtimer_now_usec();``` to the beginning of main. There are also a number of problems where

[2018-04-30 21:20] iia opened #9053 "Support for Kinetis KE02 based FRDM-KE02Z board"
Hi,

Is there any ongoing work to port Kinetis KE02 based FRDM-KE02Z board? I'm interested to port this variant of Kinetis CPU and board.

Cheers.

[2018-04-30 21:52] gebart commented on #9053
I am not aware of any current ports to the Kinetis KE02. If you want to create your own port, you may find it useful to start from my KL43Z port in #9012 which adds support for the Kinetis L series. I believe the ke0x series may have much in common with the KL series. One challenge with the KE02 is the tiny RAM size, but I think it should be possible to at least run simple applications on it.

[2018-05-01 10:09] kb2ma commented on #9048
I just modified the page to require use of coap_opt_finish(), including addition of a parameter to specify that a payload is expected. This addition allows writing the payload marker at this point. Previously, the idea was to maintain the payload marker at all times to avoid use of coap_opt_finish() if no options. I think that approach is too error prone and susceptible to off-by-one.

[2018-05-01 11:26] Josar opened #9058 "atmega: thread exit deadlock"
When a thread ends and was not set to sleep there is a deadlock, might be related to #6526.
Enabling debug in scheduler.c removes the deadlock but then all xtimer values are wrong.

Testing with this

[code]

[2018-05-02 12:29] kb2ma commented on #9048
Building up to a WIP PR in my [nanocoap/build_request_pkt branch](https://github.com/kb2ma/RIOT/tree/nanocoap/build_request_pkt).

[2018-05-02 12:31] cladmi opened #9060 "Unittests broken on iotlab-m3 iotlab-a8-m3"
#### Description

`tests/unittests` fails on `iotlab-m3` and `iotlab-a8-m3` by a hardfault in `qDSA` test.
I tried debugging it with printfs and adding prints changes where it breaks… I do not have really ideas on why it breaks…

I even forced LARGE_STACK_TESTS and increased stack size.

#### Steps to reproduce the issue

    make -C tests/unittests BOARD=iotlab-m3 flash test

It fails after some

[2018-05-02 12:40] aabadie commented on #9060
Have you tried using the following in GDB ?
[code]

[2018-05-02 13:09] cladmi commented on #9060
[code]

[2018-05-02 13:38] kaspar030 opened #9061 "gnrc: problem with Release-Specs 05 on native"
#### Description

Tasks 1, 3 & 4 of [Relese-Specs 05](https://github.com/RIOT-OS/Release-Specs/blob/1edc542c4e50e1c582d3cd437c6655050eabd6cf/05-single-hop-route/05-single-hop-route.md) don't work (in 2018.04-branch commit 55f7038e5).

#### Steps to reproduce the issue

- create tap bridge: ```dist/tools/tapsetup/tapsetup --create 2```
- compile ```gnrc_networking```
- launch two native instances,

[2018-05-02 14:49] aabadie commented on #9060
Not very useful...

[2018-05-03 09:55] haukepetersen commented on #8265
As all issues have been closed, I take the freedom to close this issue as well. Good job guys!

[2018-05-03 09:55] #8265 closed

[2018-05-03 10:02] haukepetersen opened #9064 "examples: unable to build ccn-lite for cortex-m"
#### Description
Just tried to build the `cc-lite-relay` example for ARM Cortex-M (`iotlab-m3` in my case). The build fails due to some libc issues as it seems to me:

[code]

using
[code]

Is this something known (and I was to blind to find the issue), or did someone encounter this before?

#### Steps to reproduce the issue
build the `ccn-lite-relay` example for `iotlab-m3` using the toolchain as

[2018-05-03 13:06] cladmi opened #9065 "flashpage_write broken on iotlab-m3"
#### Description

`flashpage_write` broken on `iotlab-m3`

#### Steps to reproduce the issue

In `tests/periph_flashpage`:

execute:
* dump 255
* test 255
* dump 255

#### Expected results

```wrote local page to flash page 255 at addr 0x807f800```
And having `a b c d...`.

For reference with ENABLE_DEBUG (1) its working properly:

[code]
#### Actual results

[code]

#### Versions

Introduced by h

[2018-05-03 14:33] aabadie commented on #9065
I'm on it and I think I have a fix: the calls to lock/unlock functions cause problems with iotlab-m3. In fact, it's the only difference introduced by #8768 regarding iotlab-m3.
I'm testing other boards to check nothing else is broken.

[2018-05-04 10:09] #8896 closed

[2018-05-04 22:03] iia commented on #9053
Hi @gebart,

I made the board work with UART using RIOT's interface and could compile and run the hello world example. Should I create a PR? Or support for this board has no chance to be merged into RIOT base because of its low memory and other limitations ?

Cheers.

[2018-05-05 05:11] gebart commented on #9053
You can open a PR. There are no rules or limits for the supported boards, as long as it is at least possible to run a subset of the examples on the board, and we already have the nucleo32-031 and Arduino Uno which have tiny RAM. You will have to go through all the examples and tests and add the board to `BOARD_INSUFFICIENT_MEMORY` for the applications which fail to link, or else Murdock will compl

[2018-05-06 20:49] ZetaR60 commented on #9058
@Josar does this issue still exist since #8904 has been merged?

[2018-05-07 10:10] Josar commented on #9058
@ZetaR60 deadlock seems to be resolved.

[2018-05-07 10:10] #9058 closed

[2018-05-07 13:47] cladmi commented on #9060
Fixed by https://github.com/RIOT-OS/RIOT/pull/9091

[2018-05-07 13:47] #9060 closed

[2018-05-07 14:24] Mario0x1 opened #9093 "EFM32 (sltb001a) is missing FEATURES_PROVIDED=cpp"
#### Description
FEATURES_PROVIDED=cpp is not set in cpu/efm32/Makefile.features despite being able to build and run examples/riot_and_cpp

#### Steps to reproduce the issue
[code]

#### Expected results

informs that

It should fail if RIOT-gecko-sdk does not support cpp.

#### Actual results
example/riot_and_cpp can be build and flashed and returns

#### Versions
SEGGER J-Link Commander V6.22a
G

[2018-05-07 15:10] TorbenPetersen opened #9094 "cpu/atmega_common: external interrupts not usable"
In `cpu/atmega_common/periph/gpio.c` external interrupts are not usable for the atmega1284p CPU. The reason is this if clause:

`(_port_num(pin) != PORT_D && _port_num(pin) != PORT_D)`

Any INT on pins that are *not* on port D will therefore be wrongly excluded. It was wrongly introduced by #8829 by @ZetaR60

I will provide a fix shortly.

[2018-05-07 15:16] ZetaR60 commented on #9094
@TorbenPetersen I have a PR to fix this and many other problems with ATmega external interrupts. See #8951

[2018-05-07 19:36] basilfx commented on #9093
I've created #9097 to address this bug.

[2018-05-08 03:25] kaspar030 commented on #9061
This is a bug in the test specs, so I close...

[2018-05-08 03:25] #9061 closed

[2018-05-08 07:28] #9093 closed

[2018-05-09 11:00] PedroAlfNeto opened #9106 "fatal error: stdio.h: No such file or directory - msp430"
#### Description

Cannot build example/default or any other application because of the error:
`/home/pedorcas/Documents/Code/RIOT_OS/RIOT/cpu/msp430_common/include/stdio.h:28:24: fatal error: stdio.h: No such file or directory`

#### Steps to reproduce the issue

Using the command:
`make all BOARD=telosb`

#### Expected results

To build the application x)

#### Actual results

Cannot build exampl

[2018-05-09 11:36] danpetry commented on #8434
# Tests - WIP

The testing and support is split into "initial" and "later" using the rationale that the items in "initial" should satisfy the requirements of the product being built running RIOT, and "later" should expand this support. Also, the items in "initial" will allow us to gain familiarity with Lua idoms and good practices in low-resource dynamic language support in general.

## Initial

-

[2018-05-09 12:13] rfuentess commented on #9106
Hi and welcome to RIOT!

Can you please run `./dist/tools/ci/print_toolchain_versions.sh` and copy/paste the output here ?
This will help us to identify the issue :)

Also, if you still don't read the [toolchains wiki](https://github.com/RIOT-OS/RIOT/wiki/Introduction#compiling-riot) page, this is a good moment

Finally, try to compile  `examples/hello-world` as I think the gnrc_*  examples are to

[2018-05-09 12:30] kYc0o commented on #9106
That error looks like a bad configured/installed toolchain. I recommend you to follow [this](https://github.com/contiki-os/contiki/wiki/MSP430X) guide and then try again.

[2018-05-09 12:51] rfuentess commented on #9106
A correction from my part,  `examples/gnrc_minimal` should be OK for telosb.

Also, native can send UDP packages (though will use standard IPv6 instead of 6LoWPAN).

[2018-05-09 13:00] PedroAlfNeto commented on #9106
@rfuentess `examples/gnrc_minimal` gives the same error.
also, through the toolchains wiki's link i wasn't able to figure install the msp430 toolchain so i previously installed
`sudo apt-get install gcc-msp430`.

[2018-05-09 13:31] kYc0o commented on #9001
Small update on this:

After several tests in several platforms to discard problems with GNRC and/or radio drivers, I have the following:

  - The `while (1) {}` is not necessary anymore thanks to #8094 and @ZetaR60 .
  - gnrc_minimal works "more or less" good, though it doesn't allow to be pinged at multicast groups.
  - The XBee radio works properly.
  - The example is still broken for atmega, a

[2018-05-09 13:44] PedroAlfNeto commented on #9106
@kYc0o I'm giving up on the `mspgcc 4.7.0` script, after creating the folder running it, took about 20 min and failed in the end with various:
`as: unrecognized option '-mcpu=430'`
Thank you still.

[2018-05-09 15:36] ZetaR60 commented on #9001
@kYc0o Can you narrow the problem down by gradually commenting out changes made by ENABLE_DEBUG? I am looking in particular at _event_loop and the msg_receive as a likely candidate (but also note that debug changes the stack size).

[2018-05-09 15:56] kYc0o commented on #9001
Maybe that's the key, I didn't think about it. Thanks!

[2018-05-09 16:49] kYc0o commented on #9001
That was it! Stacks are very in the limit for networking applications on AVR. I'll submit a PR to increase them for "big" (more than 2K RAM) platforms. Thanks again @ZetaR60 !

[2018-05-10 13:16] PedroAlfNeto commented on #9106
To update you and conclude this thread,

As of the instructions, the became obsolete, most links are broken, this because the abandonment of the openSource gcc-msp430, so it is needed to download the compiler from the Texas instruments site. And that version i think it's not supported by the current Riot (suspect just needs a path update), or maybe just an update to the instructions will solve it

[2018-05-11 15:03] kYc0o commented on #6526
@ZetaR60 your PRs solved this part of the problem, closing.

[2018-05-11 15:03] #6526 closed

[2018-05-11 15:51] cladmi commented on #9052
Thank for investigating this, I also had problem on `tests/trickle` with `arduino-zero`.
Adding the `prev_now = xtimer_now_usec();` in main fixes it. I will do a PR for it.

[2018-05-11 16:02] cladmi commented on #9052
I implemented your `prev_now` fix in #9118.

However I misread and thought it also fixed your problem, I can amend my commit message depending on your feedback.

[2018-05-11 20:49] kaspar030 opened #9120 "cpu/cortexm0(plus): gcc 8.1: "Error: SVC is not permitted on this architecture""
#### Description

[code]
This seems to be a gcc regression:

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=85606

How often do they put out point releases? ;)

[2018-05-14 07:59] #9120 closed

[2018-05-14 09:02] PedroAlfNeto opened #9128 "Memory suficient boards for sockets in cooja simulator"
#### Description
Does anyone know of a compatible board with both RIOT and Cooja simulator that can run the posix-socket example? I've spent the last few days trying to find a compatible board and failing... Apreciate your time.

#### Versions
Linux Mint 18

[2018-05-14 11:11] #9128 closed

[2018-05-14 11:12] #9106 closed

[2018-05-14 12:09] kYc0o commented on #9128
I don't know why you closed it, but unfortunately the port for cooja was unattended since a while. As far as I know, cooja works only for msp430 and needs some glue code to work on RIOT.

You might try [renode](https://github.com/renode/renode) (supported in RIOT) which may be useful for what are you aiming to do.

[2018-05-15 02:51] kb2ma commented on #9048
I just modified the page to remove the 'flags' attribute from coap_pkt_t. Instead, the user requests to sort options via a bitwise parameter in coap_opt_finish(). The addition of the sort function is controlled by a compile time macro.

[2018-05-15 13:06] cladmi commented on #9052
@ZetaR60 I am not seeing any hang on `arduino-zero` in the `trickle` test, with the initialization fix, tests are working.
However I am not really using the board for anything, just running the automated tests on IoT-LAB.

[2018-05-15 16:55] gebart commented on #4881
I would like to remove it, but I don't have time to work on it.

[2018-05-15 18:44] ZetaR60 commented on #9052
@cladmi Below is what I get on mega-xplained. Could you post the output you are getting as well?

[code]

[code]

[2018-05-16 04:04] ZetaR60 opened #9143 "ACU-AMNx board and MVP checklist"
### Summary:
This issue is to show progress towards support in RIOT for a new board by Acutam Automation (my company), as well as a checklist of items required to reach a minimum viable product (MVP). I also welcome any feedback anyone wishes to share here.

### Description:
The ACU-AMNx (Acutam Autonomous Mesh Node) is a field deployable IoT unit for agricultural and industrial automation. The pr

[2018-05-16 06:02] aabadie commented on #9143
Very nice project @ZetaR60 !

Regarding 'for EEPROM API and support on ATmega', you might be interested by #8862.

[2018-05-16 10:40] kb2ma commented on #8831
@bergzand, I see that I still didn't answer your question clearly. :-( Yes, you can enter options out of order, but they are written twice -- once out of order, and then sorted in order. See #9144. Given the definition of coap_optpos_t, I don't see how to record the location for the option data until `coap_opt_finish()`.

[2018-05-16 12:18] cladmi commented on #9052
I am running from my branch to run on IoT-LAB:

[code]
Toolchain
[code]

[2018-05-16 12:52] bergzand commented on #9052
The test correctly runs if I increase `TR_IMIN` to 40 (`XTIMER_BACKOFF` for the arduino).

[2018-05-16 12:58] bergzand commented on #9052
Not that those have anything to do with each other -_-

[2018-05-17 00:13] virajsahai commented on #8242
If this is a "help wanted" candidate..I would like to take this up!

[2018-05-17 04:14] gebart commented on #8242
@virajsahai any help is welcome. Feel free to open a PR if you find what the actual problem is.

[2018-05-17 13:52] ClementChotard opened #9148 "Hard fault after a while, 2 UART"
Hi,

I have a problem when using 2 USART on STM32f407. I receive some data from both USART which triggers each its callback function. I tested two possibilities in the cb, either it's sending each received character by IPC to a Thread or it's saving the full message in an array before sending it to the Thread. Either way, a hard fault error triggers after a while. When sending each character indiv

[2018-05-17 14:26] enzingerm opened #9149 "examples: cannot build for nucleo-f091 / nucleo-f411"
#### Description

Cannot build hello_world and gnrc_networking (others untested) for nucleo boards

#### Steps to reproduce the issue
Checkout repo from github, `cd` into `examples/hello-world` and run `make BOARD=nucleo-f091`

#### Expected results

It should work

#### Actual results
[code]

#### Versions
Installed compiler toolchains
- native gcc: gcc (GCC) 8.1.0
- arm-none-eabi-gcc: arm-none-e

[2018-05-17 15:08] gebart commented on #9149
This looks like #9121

[2018-05-17 15:13] cgundogan commented on #9149
@enzingerm could you try again with the latest master?

[2018-05-17 16:15] enzingerm commented on #9149
I can confirm that it works now, thanks.

[2018-05-17 16:15] #9149 closed

[2018-05-18 10:35] kYc0o commented on #9049
Why would you do that? XTIMER_HZ is meant to be a "safe" timer initialisation, if you put "random" values there, you must be sure your hardware supports it.

What's the fastest timer speed in your atmega platform?

[2018-05-18 11:50] gebart commented on #9049
What exact XTIMER_HZ values did you try? Does the atmega periph timer driver support the frequencies you tried?

[2018-05-18 17:05] ZetaR60 commented on #9049
The timers on ATmega support CLK/1, CLK/8, CLK/64, CLK/256, CLK/1024. I tried using 8MHz XTIMER_HZ, 1MHz XTIMER_HZ, and 125kHz XTIMER_HZ. All of these are supported frequencies by the underlying hardware, and the changes should all be easy for xtimer use (being powers of 2). The point is that xtimer does actually work properly on these frequencies, but only for short sleep times. Changing XTIMER_H

[2018-05-18 17:09] kYc0o commented on #9049
Have you tried those speeds with tests/periph_timer?

[2018-05-18 18:31] gebart commented on #9049
Try https://github.com/RIOT-OS/RIOT/pull/8531 for evaluating the timer driver. You can test both periph timer and xtimer with it. Try the default build settings first, then play around with TIM_TEST_FREQ to test different frequencies. If it hangs, you might need to increase TEST_MIN:
[code]
To test xtimer:
[code]
(That might also need tweaking the TEST_MIN parameter)
Remember to make clean between

[2018-05-19 01:56] nunux13 opened #9155 "__libc_init_array () trigger HARD FAULT HANDLER on SAML21E18B arm core bug"
#### Description
Cannot run helloworld or test/leds for saml21-custom board.

#### Steps to reproduce the issue
1) Clone board/saml21-xpro to board/saml21-jn
2) Tune boards/saml21-jn/include/periph_conf.h to match saml21e18b datasheet at best
2) update CPU name in board/Makefile.include to saml21e18b
3) Add saml21e18b in /cpu/sam0_common/Makefile.include otherwise linking will failed without rom a

[2018-05-19 02:04] nunux13 commented on #9155
I put a copy of my try here: https://github.com/nunux13/saml21-jn
Regards,

[2018-05-19 02:05] nunux13 commented on #9155
Also, i remove most of the features to keep it light at beginning. Hope it's ok ...

https://github.com/nunux13/saml21-jn/blob/master/boards/saml21-jn/Makefile.features

[2018-05-19 02:09] nunux13 commented on #9155
![image](https://user-images.githubusercontent.com/28257369/40263931-7400810a-5b1a-11e8-8b0b-7174f7637e03.png)

[2018-05-19 02:18] nunux13 commented on #9155
![image](https://user-images.githubusercontent.com/28257369/40264011-b4a5e56e-5b1b-11e8-8828-42bfd008982a.png)

[2018-05-19 13:12] Burdaa opened #9157 "(remote-reva) ccn-lite-relay: Only one content packet received. Returning Content not captured by RIOT sniffer tool"
**_See update below_**

**Description**:
Cannot receive more than one Content in ccn-lite on remote-reva over IEEE 802.15.4. All following Interests does not return Content. Also, only Interests are captured by RIOT sniffing tool (running on remote-reva). Return messages (Content) are not captured.

**Steps to reproduce**
Default ccn-lite-relay
node A: sudo BOARD=remote-reva PORT=/dev/ttyUSB0 make

[2018-05-20 01:19] #8831 closed

[2018-05-20 09:09] cgundogan commented on #9157
@Burdaa thanks for reporting and your hints. Regarding the capturing problem: Do I understand correctly, that all subsequent Interests are received correctly, but they juts don't show up on the capturing node? So it's more or less a problem of the sniffing node?

[2018-05-20 11:37] Burdaa commented on #9157
@cgundogan Yes, all subsequent Interests are received. I suppose it is starting to look like a problem with remote-reva working as a 802.15.4 sniffer together with the RIOT sniffer-script.  Would be interesting to see if both Interests and Content are captured with different boards, CC2538 and others.

[2018-05-21 07:36] cgundogan commented on #9157
@Burdaa could be a problem with the sniffer script. I will try sniffing with an openlabs tomorrow in the office and capture from linux.

[2018-05-21 08:00] aabadie commented on #6857
#9154 has been merged. Let's close this one.

[2018-05-21 08:00] #6857 closed

[2018-05-21 20:28] nunux13 commented on #9155
Hello,
I started again from the last stable release.
https://github.com/nunux13/saml21-jn-take2

Based on your remark, I setup everything including PIN for Feature not activated like SPI.

I also changed this array:

static const int8_t exti_config[2][32] = {
    { 0,  1,  2,  3,  4,  5,  6,  7, -1,  9, 10, 11, -1, -1, 14, 15,
      0,  1,  2,  3,  -1,  -1,  6,  7, 12, 13, -1, 15,  -1, -1, 10, 11}

[2018-05-21 20:29] nunux13 commented on #9155
![image](https://user-images.githubusercontent.com/28257369/40328357-5cd9dc5a-5d46-11e8-8960-fcaa12617656.png)

[2018-05-21 20:32] nunux13 commented on #9155
Reading symbols from bin/saml21-jn/hello-world.elf...done.
Remote debugging using localhost:3333
reset_handler_default () at /home/parallels/RIOT-2018.04/cpu/cortexm_common/vectors_cortexm.c:76
76	{
(gdb) continue
Continuing.
at91saml21e18b.cpu -- clearing lockup after double fault

Program received signal SIGINT, Interrupt.
0xfffffffe in ?? ()
(gdb) bt
#0  0xfffffffe in ?? ()
#1  0x000015f0 in _m

[2018-05-21 20:43] nunux13 commented on #9155
enabling timer get better startup

[2018-05-21 20:46] kYc0o commented on #9155
Can you also share the output of `arm-none-eabi-readelf -S your-application.elf` ?

[2018-05-21 20:50] nunux13 commented on #9155
parallels@parallels-vm:~/RIOT-2018.04/examples/hello-world$ arm-none-eabi-readelf -S bin/saml21-jn/hello-world.elf
There are 19 section headers, starting at offset 0x1048f8:

Section Headers:
  [Nr] Name              Type            Addr     Off    Size   ES Flg Lk Inf Al
  [ 0]                   NULL            00000000 000000 000000 00      0   0  0
  [ 1] .text             PROGBITS        00000

[2018-05-21 20:54] kYc0o commented on #9155
Can you format better the output? it's almost not readable... You can use \``` (github markdown) to format your output at the beginning and the end of the text, so it shows as if it was on the console.

[2018-05-21 20:54] kYc0o commented on #9155
Anyways it looks good.

[2018-05-21 21:00] nunux13 commented on #9155
![image](https://user-images.githubusercontent.com/28257369/40329701-af7b4cce-5d4a-11e8-8282-dc3b8dd5dfa4.png)

[2018-05-21 21:17] nunux13 commented on #9155
https://github.com/RIOT-OS/RIOT/issues/4470#issuecomment-164147588:

I remove the debugger and run from externe power supply, and that is looking great now.

[2018-05-21 21:18] maribu commented on #8115
@hahchenchen: Does [this merged PR](https://github.com/RIOT-OS/RIOT/pull/9154) fix your SPI issue?

Kind regards,
Marian

[2018-05-21 22:08] nunux13 commented on #9155
After 5 days to try, I can confirme now RIOT OS is working on SAML21E18B.

The only fix you have to do regarding RIOT-2018.04 is:

[code]
**Cave-int and pits falls:**
When porting a new Board, you have to perfectly setup alls pins, even-if you disable the feature.
Don't run attached to the debugger. Stay halt after flashing, then move to a regular power source.
If using minicom for serial testing,

[2018-05-21 22:08] #9155 closed

[2018-05-22 02:30] virajsahai commented on #3355
Hello..
I have written an implementation for this. Can anyone tell me how to test it?

[2018-05-22 05:46] dylad commented on #9155
Hi @nunux13.
Glad to hear you solve your issue.
I think you can also define ROM_LEN and RAM_LEN in the Makefile.include of your board if you don't want to modify any files under cpu/ folder
Cheers
Note: if you plan to use EXTI or RTC you will have some changes to do (like the array you modify) others periphs should run.

[2018-05-22 12:57] nunux13 commented on #9155
Yes, doing "ps" to show process on shell make crash. I still have to fix things...

Can you point me more "some changes" to check ?

I need to setup MRF24J40MA, done my first try, but need to try harder: I get crashs or no interface on "ipconfig" shell command ...

Regards,

[2018-05-22 14:00] mali commented on #6836
@kYc0o Confirmed on duemilanove, the strange thing is that it works well with uno (these two boards are atmega328p based). And the #9141 don't fix for duemilanove.

[2018-05-22 16:07] rfuentess commented on #7397
This an update on this issue, after some off-line discussions, as well as some online discussions.

In general, this module faces the following challenges:

- The sock_secure should be integrated into sock as an optional component (similar to [sock_async](https://github.com/RIOT-OS/RIOT/pull/8149)).
- It's intended that a generic sock takes the place of the sock_tcp, sock_udp and sock_ip in the fu

[2018-05-22 17:40] ZetaR60 commented on #6836
@mali Are there fuse setting differences between boards that work and those that don't? The only other thing I can think of that's significantly different between the two is the UART adapter.

[2018-05-23 01:42] ZetaR60 commented on #9049
@gebart Here are (some) of the results. test-xtimer always seemed to hang, even when I set TEST_MIN very high. Also, I tried 8MHz test frequency, but it didn't like it and gave me a compile error.

Default settings:
[code]

With ```CFLAGS='-DTEST_MIN=10 -DTIM_TEST_FREQ=125000'```:
[code]

With ```CFLAGS='-DTEST_MIN=10 -DTIM_TEST_FREQ=1000000'```:
[code]

[2018-05-23 03:16] ZetaR60 commented on #6577
@haukepetersen ads101x update: #9165

[2018-05-23 07:44] mali commented on #6836
@ZetaR60 fuses settings attached, honestly, I don't know how to interpret this ..

[uno.txt](https://github.com/RIOT-OS/RIOT/files/2029980/uno.txt)
[duemilanove.txt](https://github.com/RIOT-OS/RIOT/files/2029982/duemilanove.txt)

[2018-05-23 08:00] ZetaR60 commented on #6836
Weird. It is reading the fuses as all being set to 0. Maybe retrieving it over USB is unsupported.

I found the default fuse settings for both boards on some website and neither have watchdog always on set.

[2018-05-23 08:40] aabadie commented on #7519
To simplify the tracking of remaining PRs, I put here the related list:

- [ ] lsm303dlhc: #8699
- [ ] l3g4200d: #8698
- [ ] lis3dh : #8697
- [ ] isl29020: #8688
- [ ] tcs37727: #8683
- [ ] tsl2561: #8673
- [ ] lps331ap: #6577
- [ ] mag3110: #8758

[2018-05-23 08:41] aabadie commented on #7519
Maybe @kYc0o you want to have a look ?

[2018-05-23 16:04] kYc0o commented on #7519
Do you really want to get them in while the I2C embargo is ongoing?

[2018-05-23 17:17] aabadie commented on #8096
All related PRs were merged, closing this one.

[2018-05-23 17:17] #8096 closed

[2018-05-24 12:25] kb2ma opened #9180 "gcoap Observe registration woes"
Presently the gcoap Observe implementation limits registration for a resource, for example '/sensorData', to a single token from a single endpoint. However, @miri64 reports that this approach is problematic when the link layer is lossy:

Specifically, gcoap allows re-registration using the same token. However, some CoAP tools expect to generate a new token internally for a new GET request. gcoap i

[2018-05-24 12:49] kb2ma commented on #9180
First, thanks for the report @miri64. I agree this problem needs a solution.

The message above from the core ML advises temporarily allowing for two registrations for the same endpoint+resource. I suggest taking this a step further to short circuit the process -- add the ability to re-register based on endpoint+resource, as well as the current ability to re-register based on endpoint+token.

In o

[2018-05-24 12:57] miri64 commented on #9180
Sounds reasonable for now and still in line with the RFC IMHO (due to the token being replaced there is still one registration), but I need to think about it a little first to give a definite answer.

[2018-05-24 12:59] miri64 commented on #9180
Specifically, we need to make sure, that there is no way, the old registration isn't used anymore afterwards. Is this the case automatically (i.e. if there is a new registration, can we assume only the newer one is the legal one or is there some edge case [malicious or not] where an older registration *can* still be legal)?

[2018-05-24 13:02] miri64 commented on #9180
Can it be considered an attack to constantly send new registrations with different tokens? If yes, is that a problem for us? Can this risk be lessened by only replacing the token if the first response was already sent (i.e. the response might have gotten lost)?

[2018-05-24 13:03] miri64 commented on #9180
For the CON case: if an ACK for first response wasn't received or if still waiting for an ACK in subsequent response.

Sorry for the spam btw... Just brainstorming.

[2018-05-24 14:17] kb2ma commented on #9180
Yes, this happens automatically. The old registration is replaced. gcoap_obs_init() and gcoap_obs_send() generate and send the notification. They look in the list of registrations for the token and endpoint for the message.

[2018-05-24 14:21] miri64 commented on #9180
I was talking more from the client's perspective. Or to pose the question somewhat differently: Is there a legitimate edge case, were just replacing the token might be harmful?

[2018-05-24 14:27] kb2ma commented on #9180
Yes, no question. See the quote below from the Security section of 7641.

   exhaust the resources that the server has available for maintaining
   the list of observers for each resource.  Servers may want to apply
   access controls to this creation of state.  As degraded behavior, the
   server can always fall back to processing the request as a normal GET
   request (without an Observe Option)

[2018-05-24 14:38] jcarrano opened #9187 "sys/newlib: gettimeofday() returns time since boot, not current wall time."
#### Description

PR #4286 added support for `gettimeofday()` by implementing it on top of `xtimer_now_usec64()`.

[This definition](https://github.com/RIOT-OS/RIOT/blob/f49b8bbf496f28e4053de147b990a5c441c4ee94/sys/newlib_syscalls_default/syscalls.c#L501) is in conflict with the [specification](http://pubs.opengroup.org/onlinepubs/9699919799/functions/gettimeofday.html), which says:

#### Expected

[2018-05-24 14:41] kb2ma commented on #9180
I see your point now. The client already is a little confused because a previous registration apparently failed. Can an attempt by the client to re-register compound the problem? For example, if the registration response from the server is lost, and the server sends a notification with the original token while the client is attempting to re-register with a new token, what happens then? Good questi

[2018-05-24 16:17] haukepetersen commented on #7745
sorry for only noticing your reply now, as the issue still exists I reopen it. Don't have the hardware at hand right now, but will give this a try once I am back at work the week after the next.

[2018-05-24 16:18] haukepetersen commented on #7745
oh, but still one more important question: @maitysubhasis which board are you using?

[2018-05-24 16:20] haukepetersen commented on #7745
hmm, did look at my backlog in the wrong order. So looking at #9008 I am confused now: does this issue still exist or not?

[2018-05-25 01:56] virajsahai commented on #9187
@jcarrano if anyone isn't working on this..i think I can do it and create a pull request by tomorrow.

[2018-05-25 04:09] kb2ma opened #9191 "Logic errors in nanocoap_get()"
#### Description
Two issues in nanocoap_get():

1. miscounts retries for a confirmable message
1. includes unnecessary gotos

The easiest way to reproduce the retry problem is to disable the server you're testing with. You should see nanocoap_get() attempt only three retries, not the expected four.

The retry loop is problematic -- it counts up, but stops one retry short. The loop counts up, but a

[2018-05-25 06:52] smlng commented on #9191
someone working on this, otherwise I could?

[2018-05-25 08:03] jcarrano commented on #9187
@virajsahai As far as I know, [`xtimer_now()`](http://doc.riot-os.org/group__sys__xtimer.html#gaf3dbc76790c2beedce25bc1ba61faf33) returns a timestamp since an _unspecified time_ in the past (since last reset, maybe?). The docs are not 100% clear, but I would assume that, as measuring absolute time would require a RTC or some other time-setting mechanism.
`gettimeofday()`, on the other hand, requir

[2018-05-25 10:26] kb2ma commented on #9191
Go for it, @smlng! I'd be happy to review.

[2018-05-25 10:34] vincent-d commented on #6577
For stm32, we should try to come up with a unified driver.
It seems that there are 2 different IPs:
 - stm32f1, stm32f2, stm32f4, stm32l1
 - stm32f0, stm32f3, stm32f7, stm32l0, stm32l4

So 2 versions of the driver should be written.

[2018-05-25 11:11] aabadie commented on #6577
@vincent-d, +1 for unifying the drivers but it seems simpler/harmless to do it in a second step. Is it ok for you ?

[2018-05-25 11:17] vincent-d commented on #6577
I would say it's easier to do it straight. But of course, I would develop with only 1 arch first and adapt afterwards.
But the current situation with a driver per sub-family where most of them are just copy/paste is crap.

[2018-05-25 13:21] PedroAlfNeto opened #9201 "telosb: radio initialization fails "again?""
#### Description
Can't initialize cc2420.

#### Steps to reproduce the issue
Enabling debug messages in the cc2420 driver says cc2420: init: unable to communicate with device. And printing the reg value i get reg=0;

#### Expected results

I've been trying to build a simple comunication at the link-layer level (using 802.15.4) for a few weeks now, to start getting into RIOT, but have been failing

[2018-05-25 13:45] PedroAlfNeto commented on #9201
Update: When simulating in cooja the `examples/default` compiled for z1 (i don't get anything at all with telosb, don't know), i get the DEBUG main()`main():cc2420: init: unable to communicate with device` and the reg value also prints 0;

[2018-05-25 14:59] aabadie commented on #6577
Ok @vincent-d, you convinced me. See #9202 for the L0 and F3. I don't know how to cleanly set the internal speed options and how to unify with the second type of drivers (F0/F2/F4/F7/L1). Are you ok to work on this part ?

[2018-05-25 16:16] maribu commented on #8859
Hi,
can you please check if it works with [my cc110x-dev branch]? I have fixed some timing issues. Sadly, on the MSB IoT board there is still an SPI issue (or at least I believe its SPI related). But the fixes solve at least some of the reasons for instability on my boards.

Kind regards,
Marian

[2018-05-25 17:02] gebart commented on #6577
I will try to do the Kinetis implementation during the weekend

[2018-05-25 17:52] dylad commented on #6577
Great !! Many thanks @gebart !:+1:

[2018-05-26 02:10] hahchenchen commented on #8115
Yes, it does fix SPI issue.

[2018-05-26 11:41] kb2ma commented on #9180
I cannot think of a scenario where a server replacing the token will be a problem for the client. The scenario I was thinking about is this:

1. `Client GET Obs=0 Tok=a ---> Server`

2. `XXX <--- Server 2.xx Obs=123 Tok=a`

[Client timeout, MUST forget about Tok=a]

3. `Client GET Obs=0 Tok=b ---> Server`

[Client waiting for response for Tok=b]

4. `Client <--- Server 2.xx Obs=124 Tok=a`

[State

[2018-05-26 14:36] kb2ma commented on #9180
Not sure I understand the scenario you suggest here. I think you mean this:

1. Server receives initial registration request and saves Tok=a.
2. But before initial 2.xx response with Observe value sent, another request arrives with a different token.

I don't see this scenario as a problem because the response is written synchronously when the request is received. So, the handling continues with:

[2018-05-28 08:42] smlng commented on #9201
sounds like a configuration issue, i.e., check GPIO pins and SPI dev are all correctly set.

[2018-05-28 09:27] smlng commented on #9148
Hi @ClementChotard can you try compiling with `DEVELHELP=0 make` likely a timing issue with ISR and (too much) debug code

[2018-05-28 12:09] MrKevinWeiss commented on #6577
Just FYI,

I am testing with the new i2c API and a samr21 board,

the new API says the return of i2c read/writes should be error codes ( I2C_ACK, I2C_ADDR_NACK...) but they are return the number of bytes.

Also the read bytes and read reg seem to be physically reading one too many: i2c_read_bytes(addr, 4, 0) actually reads 5 bytes (according to the oscilloscope) but says it reads 4.

[2018-05-28 13:26] dylad commented on #6577
In fact, when we implemented the proposed I2C API, we also look at the current implementation of SPI. I guess the number of bytes read or written is borrowed from the SPI and we didn't take in account the I2C_ACK return code.
Both solutions can be applied we just need a consensus I guess :)

Regarding the extra byte read, as I remember this issue is also true in the previous API. We need to ensure

[2018-05-28 14:27] gebart commented on #6577
What about slave mode?
This would be a good time to at least think about where slave mode will fit in the API.
Since i2c is a multimaster bus, the API should be designed in a way that a device can act both as a master and a slave on the same bus.

[2018-05-28 14:31] kYc0o opened #9214 "make: compiling is broken for any ARM platform on OS X."
#### Description

As per #9080, the newlib-nano directory is not included anymore in my local setup for
ARM platforms. Apparently the reason is that the commands used to add the directory
don't work properly on OS X.
#### Steps to reproduce the issue

Compile anything on current master for any ARM platform on OS X.

#### Expected results

Compiles correctly.
#### Actual results

[code]
#### Versio

[2018-05-28 14:44] ClementChotard commented on #9148
Hi @smlng thanks for replying. I started to test and it seems to work now! I will run more test and keep you updated.

[2018-05-28 14:46] dylad commented on #6577
TBH, I don't really think about it but you're right, this may be a good timing to start some discussions about like how the slave API will look like ?
Regarding multimaster bus, I've personally never used it. Do we know if there are some existing, working and open-source implementations somewhere ?
This may fit in another issue.

[2018-05-28 14:51] jcarrano commented on #9214
# ArchLinux

#9080 also breaks the build for ArchLinux. The reason is that Arch's package for newlib is defective and does not include separate headers for the `nano`.

## Steps to reproduce / expected results / actual results

Same as OSX.

## Versions

[code]

# Workaround

See https://github.com/jcarrano/RIOT/commit/7cd02ada9a7e51d7c42d545516d0169e8c2b8718

[2018-05-28 20:09] gebart commented on #6577
One more open issue:
How do we configure timeout limits for when the slave holds the clock low for too long?

[2018-05-28 20:21] dylad commented on #6577
What about create a device attribute as params ? Or maybe add a hardcoded value per driver ?

[2018-05-29 07:41] PedroAlfNeto commented on #9201
I figured it was a configuration issue @smlng, but the problem is from Riot's implementation, and suposedly they had the same issue previously and thay had solved it, but since the error mantains with default example, i know it wasn't my mistake. Unfortunately i don't know how to configure the device & radio...

[2018-05-29 08:12] smlng commented on #9201
Hi @PedroAlfNeto can you elaborate a bit more and also provide (a link to) your working configuration? Or if you like, provide a PR with a possible fix? Thx!!

[2018-05-29 08:16] ClementChotard commented on #9148
Unfortunately, the problem remains the same... There is about 10 minutes before it crashes. I also increased the msgQ size that sends messages from the cb to the Thread.

[2018-05-29 10:37] kYc0o commented on #9148
@ClementChotard can you also try to print a `ps();` from time to time? Or at the end of each of your tasks? Maybe you're running out of memory or have a stack overflow.

[2018-05-29 12:35] ClementChotard commented on #9148
I figured out, the problem comes from too much print as suggested by @smlng. I was printing every message that it received and eventually it ends up by crashing the system. Thanks, problem solved.

[2018-05-29 12:35] #9148 closed

[2018-05-29 12:50] maribu opened #9225 "cc110x driver on STM32F4xxx MCUs not working reliable"
Outdated, see bottom of thread

[2018-05-29 13:54] #8532 closed

[2018-05-29 15:26] maribu commented on #9225
PR for Variant 1: https://github.com/RIOT-OS/RIOT/pull/9230

[2018-05-29 15:37] maribu commented on #9225
PR for Variant 2: https://github.com/RIOT-OS/RIOT/pull/9231

I personally favor this version

[2018-05-29 15:53] maribu commented on #8859
@hahchenchen: I think I had the same issue.

Please check PR https://github.com/RIOT-OS/RIOT/pull/9230 or PR https://github.com/RIOT-OS/RIOT/pull/9231 (both solve the same issue in different ways, so either should work if you have the same problem I had).

[2018-05-29 16:52] PeterKietzmann commented on #8637
@Citrullin please refer to #9225, #9230, #9231. I think for the configuration everything should be pretty clear now. If now, don't hesitate to re-open the issue. I'll close this one for now

[2018-05-29 16:52] #8637 closed

[2018-05-29 17:40] PeterKietzmann commented on #8859
@hahchenchen please confirm so we can close this issue as duplicate.

[2018-05-29 18:06] #9180 closed, assigned to kb2ma

[2018-05-29 18:14] kb2ma opened #9235 "gcoap Observe: Notifications terminate unexpectedly"
#### Description
Notifications terminate when re-register with the same message ID.

@miri64 writes:

This report is a follow-on to the fix in PR #9209 and issue #9180.

[2018-05-29 18:27] miri64 commented on #9235
I also have to add, that this is not a general occurrence. I only saw it for multihop and only for <50% of the nodes (but the numbers were significant). I'm running a longterm experiment with your fix tonight (but not with duplicate message IDs). We'll see tomorrow, if it really was the message IDs or if it was something else.

[2018-05-29 20:10] aabadie commented on #6577
@dylad, #9202 (STM32 I2C driver) has rebase issue with new_i2c_if because #7658 (DMA) was merged after the embargo and it conflicts with #9202 since they touch the same files.
I'm wondering what it the best strategy to solve this. Should we rebase new_i2c_if branch on top of master now ? or backport #7658 to new_i2c_if ? or something else ?

[2018-05-29 20:15] dylad commented on #6577
This is where the fun begins.
I guess we should rebase the new_i2c_if branch. It's probably better than push a revert which will re-revert right ?

[2018-05-29 20:20] aabadie commented on #6577
I would do that as well, because this is what will happen in the end. Maybe @miri64 will have some advice, since she already managed the netif feature branch.

If we do the rebase, the next question is: do we want to keep the merge commit in the rebased branch (using --preserve-merges) or not ?

[2018-05-29 20:32] aabadie commented on #6577
No problem.
The current RIOT workflow in GitHub creates merge commits each time one hits the GitHub green button.
So for example the new_i2c_if branch contains all merge commits created when we merged PRs containing updates of I2C API and drivers (have a look at the git history, merge commits have 2 ancestors commits - for other git experts, let's keep it simple for now).
But when one rebases a br

[2018-05-29 20:38] dylad commented on #6577
Well I guess I will leave this question to our zealots :)
TBH I understand the situation but I don't have strong opinion.

[2018-05-29 20:41] miri64 commented on #6577
If you don't want to loose merge commits (and there identity) the way to go would be to merge master into the branch, but this should have been prevented by the embargo. So the cleanest way would be to revert or backport the commits that cause the conflict/are required.

[2018-05-29 20:43] dylad commented on #6577
But if we revert something, we will need to re-revert it once we merge the whole branch right ? isn't weird ?

[2018-05-29 20:52] aabadie commented on #6577
Thanks @miri64. Is it ok if we cherrypick commits from #7658 in new_i2c_if ?

[2018-05-29 20:54] miri64 commented on #6577
Yes, but that's what we did for gnrc_netif/gnrc_ipv6_nib as well.

I'd rather like you to open backport commits, so the history is trackable in both git and GitHub.

[2018-05-30 06:14] maribu commented on #9225
Please note that I added two more possible solutions to the first message. I really hate solution variant 3, as latency could be extremely relevant for some use cases, e.g. tactile Internet. (And, btw: I get a RTT of 0.1ms on the MSB IoT, and 0.3ms on the MSBA2 according to `ping6`. This is seems quite good to me.)

[2018-05-30 09:04] PedroAlfNeto commented on #9201
The previous reported issue was [telosb: radio initialization fails #5867]( https://github.com/RIOT-OS/RIOT/issues/5867), i think there is already a fix but i lack some background. I don't know what PR stands for, could you explain?

[2018-05-30 11:09] maribu commented on #9225
My fixes stopped working on my board. Maybe I'm extremely unlucky and this is an hardware problem which somehow magically disappeared at the same time I changed my code?

[2018-05-30 11:26] maribu commented on #9225
Tested with 8 devices, same issue as before. Either in all 4 pairs at least one device is faulty, or it is a software issue that I somehow fixed without noticing and commiting the changes :-( Shit :-(

[2018-05-30 12:41] miri64 commented on #9235
Some (preliminary) update after a first look onto my longterm experiment: The duplicate message ID don't seem to be the problem for the lost registration. There was however a second GET (different token this time) before the registration was dropped (and the client was sending one final Content packet). I have started another experiment without the fixes in #9209 (and with my modification to the t

[2018-05-30 12:51] maribu commented on #9225
Maybe someone comes up with an idea if I provided all information I'm aware of:

When the cc110x worked on the MSB IoT, I got RTTs of 0.100ms to 0.101 ms. Now I get about 16ms RTTs in the rare case I get a corresponding pong. This was also the case before I started working on the cc110x driver.

In current state it takes from "cc110x_send()" to packet was send about 7ms. So something is wasting a

[2018-05-30 14:01] dylad opened #9248 "__libc_init_array() crash (newlib)"
#### Description

I'm encountering a weird issue with the __libc_init_array(); called in cpu/cortexm_common/vectors_cortexm.c
I tried on saml21-xpro, nrf52dk and with tests/leds app. My LEDs are not blinking :(
I'm using Ubuntu 18.04

I guess I did something wrong when I setup my ubuntu ?...

#### Steps to reproduce the issue

Use lastest ubuntu 18.04 iso
install all dependencies for build, etc.
#

[2018-05-30 14:33] miri64 opened #9249 "CI: unittests not run on master anymore"
#### Description
While reviewing #9242 I noticed, that the unittests don't seem to run on Murdock at the moment (neither for native nor any other board). Is that known or even intended?

#### Steps to reproduce the issue
Look at Murdock log of any given PR.

#### Expected results
Unittests run should appear in log

#### Actual results
Unittests do not appear in log

#### Versions
Murdock ;-)

[2018-05-30 14:36] kb2ma commented on #9235
Thanks for the additional information, @waehlisch. I wonder if this issue is related to #8287.

I can think of a few compile-time constants for array sizes in gcoap that can be reduced if that will help for experimentation.

[2018-05-30 14:37] smlng commented on #9249
Not true, see at the bottom of https://ci.riot-os.org/RIOT-OS/RIOT/8988/d41cc36bcc8111cdb4f1d3f5b7b71daeebd101ef/output/compile/tests/unittests/native.txt

[2018-05-30 14:42] miri64 commented on #9249
Ah okay... but that's quiet hidden IMHO :-/

[2018-05-30 14:42] #9249 closed

[2018-05-30 15:50] #9065 closed

[2018-05-30 18:19] dylad commented on #6577
We need to take a decision about the I2C return code within the API.
Should we return I2C_ACK (aka 0) or the number of bytes read/written ?
I guess the latter may help when debugging. This is also the current behaviour of the SPI bus.

What do you think ?

[2018-05-30 19:36] aabadie commented on #6577
+1 for the number of bytes

[2018-05-30 19:40] dylad commented on #6577
Ok after some debate with myself, I change my mind.I  think we should drop the number of bytes read/written.
I2C is synchronous bus. We're not supposed to read more bytes by design and if we read/write less, the function will return an error code like.
I also took another look to the SPI implementation. The behaviour is not that clear to me and return the return is not always used (some functions

[2018-05-30 20:49] miri64 commented on #9235
No, this is a distinct error, since the registration actually get's dropped / is overwritten for some reason.

I now was able to reproduce the bug locally on native, so we are closer to finding a solution (sadly did not find the time yet to step through it with gdb :(). For this I created [this application](https://github.com/miri64/RIOT_playground/tree/master/gcoap_obs_test) (sorry not much docum

[2018-05-30 21:02] miri64 commented on #9235
Found it! In the end it was a matter of a gdb session of 2 min xD. Will provide a fix!

[2018-05-30 21:06] miri64 commented on #9235
See #9253

[2018-05-31 01:41] ZetaR60 commented on #9094
#8951 has been merged. This issue should be fixed now.

[2018-05-31 04:38] #9235 closed

[2018-05-31 06:31] MrKevinWeiss commented on #6577
I will just put some things I noticed regarding that issue:
- The only time the number of bytes would differ from length is an error (maybe you can think of adding timeout and collision errors), meaning that the number of bytes should never return any non error that is not equal to length
- RPi i2c c library seems to return the number of bytes (but I think it is because they use a filesystem write

[2018-05-31 07:30] dylad commented on #6577
Adding error codes to the API is something trivial as we can implement them later in the CPU drivers.

Some driver already implements timeout or lost arbitration on the bus. So I guess it's probably more useful to improve our error codes. If something is wrong on the bus, we will return the dedicated error code and if everything is alright, what's the point on returning the number of bytes written

[2018-05-31 07:34] jcarrano opened #9254 "pkg: CFLAGS get passed twice to the compiler in packages using cmake."
#### Description

In packages using cmake as the builde system, compiler flags are duplicated. This causes a build failure if there is an option that can be given only once, for example `--specs`.

It is also the reason why #9216 cannot be implemented.

#### Steps to reproduce the issue

Change any package using cmake so that the make steps gets called with VERBOSE=1.

For example, in `pkg/ccn-lit

[2018-05-31 07:59] miri64 commented on #9235
Sadly this issue isn't done yet for GETs with already registered tokens. See #9255.

[2018-05-31 08:00] MrKevinWeiss commented on #6577
Agreed, I don't think there should ever be cases that we wouldn't get an error but would have a different number of bytes.

Heh, I didn't think of it like that but it makes sense.  Most things use this as 0 is an error, now that it is success it will be easier to detect. I guess the question is try to keep some compatibility which might have small unknown errors or make it blatant and propagate ch

[2018-05-31 08:03] aabadie commented on #6577
I looked at the I2C api of other MCU OSes (Zephyr/MyNewt/Nuttx) and they all use return codes (0: success, negative values in case of errors, some use errno return codes). None are using the number of bytes read/written. So this goes into @dylad direction.

[2018-05-31 08:20] dylad commented on #6577
If we're agreed then we will take this direction.
Using errno could be interesting but is this already used in RIOT ? I never saw it but it already covers 99% of use case.
Most of the work is locate in the device driver. We can still add new I2C error code now (or after this refactoring) in the API, which is not harmful to any drivers and add support for this new error code in CPU driver.
I will t

[2018-05-31 08:38] aabadie commented on #6577
I think netdev, can, saul apis are using them and there are occurrences in the native related code.

What about -EIO (IO errors), -ENXIO (no such device or address), -ETIMEDOUT ?

[2018-05-31 08:54] dylad commented on #6577
So the current I2C_ADDR_NACK will be replaced by -ENXIO but what about I2C_DATA_NACK ? replaced by -EIO ?

[2018-05-31 08:58] MrKevinWeiss commented on #6577
+1 +1 +1 to errno!

[2018-05-31 09:07] gebart commented on #6577
+1 for errno, but the common codes _must_ be explained in the function docs (no data ACK, no addr ACK, timeout, and so on). Otherwise each cpu implementation is likely to use different codes for the same condition.

[2018-05-31 09:33] gebart commented on #6577
One of the requested features in a api rework is the ability to do repeated starts. There are weird devices which use multiple repeated starts as part of their protocol.
I think the function you posted just needs to change flags & no stop to flags| no stop

[2018-05-31 09:37] dylad commented on #6577
@gebart is right, you probably using an old version of the API because we saw this error and `flags & I2C_NOSTOP` has been replaced by `flags | I2C_NOSTOP` already.

[2018-05-31 09:49] MrKevinWeiss commented on #6577
I still think there may be an issue, what about if it was (flags | NOSTOP & NOSTART) since the first write must always write the start and the second write should either NOSTART for the majority of sensor or have a start in case of repeated start.  Sound OK?

[2018-05-31 09:50] MrKevinWeiss commented on #6577
Changing so fast!

[2018-05-31 10:03] dylad commented on #6577
This is a fast growing child !

We can clear the NOSTART flag by default for the first call but I don't think we should change the second call.
Don't forget theses functions are just here for basic, generic, and non-weird I2C sensors. If we implement weird I2C stuff later, the device driver will have to implement its own read/write function using i2c_read_bytes and i2c_write_bytes with the flags w

[2018-05-31 10:04] MrKevinWeiss commented on #6577
(flags | NOSTOP & ~NOSTART) sorry

[2018-05-31 10:26] MrKevinWeiss commented on #6577
Can anyone think of a case where we would need I2C_NOSTOP or I2C_NOSTART with read_bytes command?  If not than I think I got a bug free ;) solution that works with the SAMR21 and fits the API.

[2018-05-31 15:39] gebart commented on #6577
It would be good to have periph_init run after uart_stdio has been initialized. My debug prints in init are causing the system to crash because of uninitialized stdio... I'll remove them for now

[2018-05-31 16:10] adjih commented on #9248
I suspect I met the same problem:

- using ubuntu 18.04, with base packages, tried to flash hello-world (master branch of RIOT)

- -> nothing was output.

 I was advised to use arm-gcc 7 instead; doing so:

- -> Hello-world worked again.

[2018-05-31 17:55] dylad commented on #9248
Good to know I'm not the only one !
Maybe there's nothing with gcc-arm-none-eabi version of ubuntu 18.04 ?

[2018-05-31 19:15] dylad commented on #6577
@gebart I'm not against, in fact that would be logical. But this doesn't belong to the I2C refactoring as they are plenty of way for doing it. Maybe opening an issue is a better idea. I don't think all maintainers/developers are looking at this issue.

[2018-05-31 19:30] dylad commented on #6577
I take a look at the Linux kernel documentation -> [here](https://www.kernel.org/doc/Documentation/i2c/fault-codes)
I propose to use the following errno's code :
-EIO -> I2C_DATA_NACK ?,
-ENXIO -> equivalent to the current I2C_ADDR_NACK,
-ETIMEDOUT ->  timeout occurs before device's response
-EOPNOTSUPP -> use when a flag or operation is not supported by the driver
-EAGAIN -> lost bus arbitration

[2018-05-31 20:38] gebart commented on #6577
@dylad
I have used -EINVAL in other places when there were invalid arguments passed to functions, such as flags. How about EINVAL instead of EOPNOTSUPP?

[2018-05-31 22:08] gebart commented on #6577
This is a bit late, but changing the CPU periph api into three primitives would make it possible to reuse a larger part of the logic as periph_common instead of reimplementing in each CPU. The primitives would be start, transmit, and receive. Where the transmit or receive functions would perform a stop unless a flag is sent. This way we could place all of the logic for 10 bit addressing inside per

[2018-06-01 07:11] dylad commented on #6577
@gebart Yes we can use -EINVAL for invalid argument like the len params. But I'm septic for the flags. returning an EINVAL for a flag that we define in our own API is just to weird for me.

In the current state, CPU implements must implements at least read_bytes and write_bytes which are basically the transmit and receive you were talking. I don't see a particular reason to export the start functi

[2018-06-01 07:30] dylad commented on #6577
@gebart I understand what you want about the API change but I'm not sure all I2C IP will be able to support this.
You had to do some workaround for the Kinetis, I have to find some for the SAM0. As I know @basilfx also some limitations with the EFM32. And I have absolutely no idea how it looks like for the rest of CPUs.
If we are sure we can use the configuration you propose without running into l

[2018-06-01 08:20] aabadie commented on #9064
@haukepetersen, I just tried and it works for me.

[code]

Can you try again with the latest master ?

[2018-06-01 09:49] PedroAlfNeto commented on #9201
I've concluded after testing with real hardware that actually the transmiter configuration is working, making this a cooja issue. Thank you for the suport. This way i'll close the issue.

[2018-06-01 09:49] #9201 closed

[2018-06-01 09:52] cladmi commented on #9214
This should have been fixed by #9251 reverting the change
@kYc0o can you confirm ?
@jcarrano can you verify too ?

[2018-06-01 09:56] jcarrano commented on #9214
@cladmi I can't verify it anymore because newlib has been fixed upstream for arch.

[2018-06-01 10:07] aabadie commented on #8972
Just in case, I'm working on it based on @kaspar030's gist. The checker works, now I'm fixing the reported issues (and there are quite a few!)

[2018-06-01 13:08] jcarrano commented on #9214
On archlinux, it now compiles with latest RIOT and latest newlib.

[2018-06-01 16:19] aabadie commented on #6577
We need to take a decision regarding the API asap, otherwise we cannot proceed efficiently:
- Do we keep the function names (read/write_bytes/regs) in the API ?
- Do we use the error codes as proposed above ?
   -EIO -> I2C_DATA_NACK
   -ENXIO -> equivalent to the current I2C_ADDR_NACK
   -ETIMEDOUT -> timeout occurs before device's response
   -EOPNOTSUPP or -EINVAL -> use when a flag or operatio

[2018-06-01 16:21] gebart commented on #6577
I can probably do hih6130, FXOS8700, ina220 later tonight

[2018-06-01 17:10] dylad commented on #6577
My position (at the moment ) is :
-EIO -> I2C_DATA_NACK
-ENXIO -> equivalent to the current I2C_ADDR_NACK
-ETIMEDOUT -> timeout occurs before device's response
-EINVAL -> to check len > 0 or another params
-EOPNOTSUPP For unsupported flag operations
-EAGAIN -> lost bus arbitration (when another master take the lead of the bus)

Regarding the API state : I think it's safe to keep it as it right now

[2018-06-01 22:06] gebart commented on #6577
@dylad I think your proposal seems valid. I have updated the kinetis driver with those errnos

[2018-06-01 23:32] tcschmidt commented on #7846
@miri64 will this still be relevant after the I2C refactoring?

[2018-06-02 00:53] TomKeddie opened #9271 "tests : Add new test periph_gpio_arduino to allow testing of arduino pin numbering"
Issue to track https://github.com/RIOT-OS/RIOT/pull/7392

A new test is desired that will enable easy testing of the arduino i/o api configuration for new and existing boards.

Should support
- Analog pins
- Digital pins (direction control and read/write)

[2018-06-02 07:44] aabadie commented on #7846
It depends on the quality of the refactoring for STM32.
If the new API is correctly applied, this should be fixed but I'd prefer waiting for it to be fully done, merged and verified before closing.

[2018-06-02 12:07] tcschmidt commented on #9094
@TorbenPetersen do you see it fixed? Then please close the issue.

[2018-06-04 11:03] TorbenPetersen commented on #9094
Jupp, its fixed. Thanks @ZetaR60

[2018-06-04 11:03] #9094 closed

[2018-06-04 12:33] cladmi commented on #9254
That looks specific to `ccn-lite` as it is doing this to generate the Makefile:

[code]
With `RIOT_CFLAGS` containing `CFLAGS` and `TOOLCHAIN_FILE` containing `CFLAGS` too.

It is not the case for all packages.

[2018-06-04 13:24] jowlo opened #9286 "gnrc not sending UDP packets with payload larger 1452B"
#### Description
Cannot send UDP Packets with a payload larger than 1452 bytes.

#### Steps to reproduce the issue
I have only tested this on `native` so far, using two tap interfaces - as described in the [Readme](https://github.com/RIOT-OS/RIOT/blob/master/examples/gnrc_networking/README.md#connecting-two-riot-instances) to connect two RIOT instances. I am using Wireshark to monitor the `tap` in

[2018-06-04 13:35] miri64 opened #9287 "netif: use where appropriate"
#### Description
With #8844 merged now, we are able to use network interfaces stack independent now. There is however quite some work to do, still. This is the tracking issue for this progress.

### Stack adaptation
Currently only GNRC is supported. However, there are a few other stacks that could benefit from it:

- [ ] emb6 (@miri64)
- [ ] lwip (@miri64)
- [ ] openthread (@jia200x or @aabadie)

[2018-06-04 13:45] jowlo commented on #9286
This might help to find where this packet disappears:
I added a test case to `tests/gnrc_sock_udp/main.c`, which - however - is reported as successful:
[code]

[code]

Any help in tracking this down further is much appreciated.

[2018-06-04 13:46] aabadie commented on #9287
I don't understand the link between this issue and #8844

[2018-06-04 14:04] miri64 commented on #9287
Sorry I meant #8841. Fixed in OP.

[2018-06-04 14:09] miri64 commented on #9286
@jowlo we don't support IPv6 fragmentation at the moment, but you are welcome to implement it. However, I agree, that for Ethernet IPv6 should be able to at least 1500 byte-sized packets

[2018-06-04 14:11] miri64 commented on #9286
Actually it does: 1452 + 40 (IPv6 header) + 8 (UDP header) == 1500. So this issue is invalid. If you want to provide IPv6 fragmentation, please open a feature request issue where we can discuss this.

[2018-06-04 14:11] #9286 closed

[2018-06-04 16:03] pyropeter commented on #9286
Wait a second... Surely this condition must be signalled to the upper layers? Similar to `EMSGSIZE` in POSIX.

[2018-06-04 18:19] miri64 commented on #9286
@pyropeter there is: if you include the `gnrc_neterr` module (which is not well tested, I'm afraid), GNRC is able to report these kinds of errors, but you lose its asynchronouos advantages for sending.

[2018-06-06 08:59] cladmi opened #9297 "nib: hardfault after random time execution on `samr21-xpro`"
#### Description

During suit hackathon, I get crash on `samr21-xpro` with `gnrc_networking`.

It is connected to an rpi+openlab border router and there are certainly other nodes non RIOT sending traffic

[code]
[code]

#### Versions

Current master version 59e18df

[2018-06-06 09:14] miri64 commented on #9297
@cladmi can you be a little clearer how to reproduce this issue? Also, it would be great if you could tell, which values `nib_dr` or `nib_dr->next_hop` have.

[2018-06-06 09:15] miri64 commented on #9297
Ah `nib_dr=nib_dr@entry=0x200019b8 <_netifs>`.... That is definitely wrong.

[2018-06-06 09:41] miri64 commented on #9297
#9300 should fix this.

[2018-06-06 09:43] miri64 commented on #9297
Another question is though: why does the router timeout in the first place? Does the RPi not answer to router solicitations?

[2018-06-07 09:58] cladmi commented on #9297
I do not really know why… but what I know is that with the fix, on samr21 after receiving a lot of traffic (30k-70k) the transfer could not finish because I was not able to request/receive all blocks. Which would make sense if the router timeouts.

Before it was crashing and with the fix I was just not able to finish the transfer.
I did not have any nib debug info unfortunately.

It was also a bus

[2018-06-07 10:09] cladmi commented on #6668
I have a local branch for this and will do a WIP pr for the current state.

[2018-06-07 11:40] #9297 closed

[2018-06-08 05:34] kb2ma opened #9309 "CoAP struct-based Options API"
nanocoap and gcoap's APIs, particularly for CoAP Option handling, have developed as needed. Recently #8772 reworked how options are referenced in the coap_pkt_t struct for scalability. In addition the number of Option API functions has grown to the point where they make up a significant portion of the overall API. This issue describes how we plan to update the APIs to accommodate these changes.

#

[2018-06-10 11:39] cgundogan commented on #9157
@Burdaa  I did some testing last week with the openlabs and I was able to see all Interest and Data packets in wireshark. It's likely an issue with the sniffer script or the hardware. Nevertheless, the discussion moves in a separate direction. Should we close this issue and perhaps open a new one for the sniffer?

[2018-06-10 23:53] peurpdapeurp commented on #7922
@gschorcht Thank you so much for working on the ports! Is the ESP32 port still in progress? I was thinking of trying to port it myself (as a learning experience and also because I may need the port), but do you think this would be too difficult for a complete beginner to do? (I am both new to RIOT OS and have never done anything like this before)

[2018-06-11 05:30] gschorcht commented on #7922
@peurpdapeurp Please refer https://github.com/gschorcht/RIOT-Xtensa-ESP/wiki/ESP32-port to get more information about the status of the ESP32 port. It is already working quite well and I hope that I can place an initial PR in next few days.

[2018-06-11 12:14] miri64 opened #9324 "gnrc_tcp: tests need work"
#### Description
The current tests for `gnrc_tcp` have some problems:

* There are two tests (server and client) that are interdependent on each other
* They don't test against an independent implementation
* They only run on native
* They take ages to finish

#### Proposal to makes things better
I propose the following changes to better tests to (a) help with automation (b) make them also run for

[2018-06-11 18:14] #8972 closed

[2018-06-12 13:48] jowlo commented on #9286
@miri64 Thanks for clearing this up. We opted for implementing fragmentation of our large (handshake) packets on the DTLS layer, which _MUST_ support it according to [RFC 6347](https://tools.ietf.org/html/rfc6347#section-4.2.3) anyways (although tinyDTLS does not as of now).

[2018-06-12 13:52] miri64 commented on #9286
Ok. I guess then it is about high time, to finally clean up the extension header handling in GNRC. It's a mess at the moment. Let me know if you need help regarding the implementation of IPv6 fragmentation in GNRC.

[2018-06-12 14:10] dylad commented on #6577
nRF52 based board has been ported to the new API in #9334

[2018-06-12 14:31] dylad commented on #6577
We have a merge conflict between new_i2c_if and the master branch caused by :
[code]
@aabadie Do you know what happened ?

[2018-06-13 14:33] PeterKietzmann commented on #9157
No because it is different hardware

I couldn't find the issue right now but IIRC we had some issues with the cc2538 driver recently, unfortunately. Basically it seemed as if transmission stopped working with greater distances than 10 cm or so (@MrKevinWeiss can you give more insights or reference the issue?). @Burdaa it might be worth trying simple pinging between two motes. Use examples/gnrc_net

[2018-06-13 14:41] aabadie commented on #6577
I tested locally and for me everything is ok: `git checkout master && git merge new_i2c_if` works. I also tested a rebase (git checkout new_i2c_if && git rebase master) and everything was fine.

[2018-06-13 14:46] dylad commented on #6577
Guess I've done something wrong on my side.
Sorry for the noise then !

[2018-06-13 15:30] bergzand opened #9342 "OTA: tracking issue"
# Tracking OTA progress

Tracking issue for the different parts required to enable over the air updates.

## Overview

We are aiming at a simple OTA prototype in a first phase,
which can be extended in later phases.
The blueprint for the first prototype is the implementation we had working at the [SUIT Hackathon](https://github.com/suit-wg/Hackathon-Interim-Berlin) in June 2018 (see slide 3 of thi

[2018-06-13 16:35] MrKevinWeiss commented on #9157
Hmmm seems that I didn't create an issue or work on it...  I can pick it back up.  A brief description of what I noticed: Any board with a cc2538 cpu didn't seem to have range more than a few cms.  I tested on the remote and openmote-revb against each other and the samr21.  The only time I had range was samr against samr.  I also used a sniffer and the sniffer seemed to pick it up bit still not we

[2018-06-14 01:54] madokapeng commented on #8284
Any update on this issue now. I am assigned to solve it @cladmi @bergzand

[2018-06-14 10:04] cladmi commented on #8284
Nothing on my side

[2018-06-14 14:56] miri64 commented on #8511
Actually, that isn't the case. What I have to hand down for encoding though, is the datagram-size. I'll ponder about this some more and then adapt this issue, if need be.

[2018-06-14 15:41] miri64 commented on #8511
In the mean time: the reassembly buffer definitely needs to be exposed (see https://github.com/RIOT-OS/RIOT/pull/9353)

[2018-06-14 22:07] gschorcht opened #9359 "thread: possibility to add architecture specific data to thread control block required"
During the ports of RIOT for ESP8266 and ESP32 MCUs, I had to learn that it would be really helpful if it would be possible to extend the thread control block by architecture specific data that belong to the thread context, .e.g., the saved interrupt level for nested interrupts with task switching.

At the moment I'm doing that by managing additional structures in additional tables for all threads

[2018-06-15 09:04] #1976 closed

[2018-06-15 09:17] kaspar030 commented on #9359
Yeah, we've had this issue before (#1234), but dismissed it as there was no need anymore.
Feel free to pick this up again!

I'd suggest using a struct, e.g.,

[code]

In ```cpu/$arch/include/cpu_conf.h```:
[code]

[2018-06-17 10:50] brummer-simon commented on #9324
The TCP tests could really need an improvement. About that netcat scripting. Are there any tests where
this is done? It would be good to implement the tests in a similar way than is done for other test cases.

About the " They take ages to finish". The MSL - Timeout (that is the reason why the test takes ages to finish) can be reduced with via a define, however the timespan is demanded by the TCP

[2018-06-18 11:31] miri64 commented on #9324
I did not know you are testing timeouts as well. This should maybe made be clearer in the description in the README or the test output then (it wasn't certainly clear to me by just looking at the applications' code).

1. If I try to run them on `samr21-xpro` I first of all get

[code]
   (or `tap1` respectively for client). Yes, I know this is due to the app resetting the PORT environment variable

[2018-06-18 11:34] miri64 commented on #9324
PS: is it wanted, that the 2048 bytes of payload are send over byte-by-byte?

[2018-06-18 11:53] cgundogan commented on #8833
@redradist I am closing this because I think the issue is resolved. Feel free to re-open if you think otherwise.

[2018-06-18 11:53] #8833 closed

[2018-06-18 11:56] cgundogan commented on #9064
@haukepetersen I am also able to build without problems. We had a version bump a couple of days ago. Could you give it another try?

[2018-06-18 11:58] cgundogan commented on #9157
The discussion seems to go in another direction now. We should open a new issue for the sniffer script if the problem persists. @Burdaa I will close this issue now, as we already updated the ccn-lite package on the current master. Feel free to re-open if you think otherwise.

[2018-06-18 11:58] #9157 closed

[2018-06-19 06:38] brummer-simon commented on #9324
Nope. And the last time I tested it was never sent byte-by-byte. Well I guess I have to look into that more closely. It would be great if you could give some input on changes in the lower network stack levels that occured recently. From my point of view it seems that much changed since last year.

[2018-06-19 07:36] miri64 commented on #9324
Indeed there is changed a lot since the last year, but in theory this shouldn't have much influence on TCP.

* Network interfaces were consolidated, so that there is only a single module to manage them: `gnrc_netif` (no more PID array in `gnrc_netif`, and various APIs in `gnrc_sixlowpan_netif`, `gnrc_ipv6_netif`, etc.), but the main API to access them is still `gnrc_netapi`. So if you used that to

[2018-06-19 07:58] #7001 closed

[2018-06-19 11:58] pwillem opened #9371 "assert: c99 static_assert macro doesn't function for multiple static_asserts in the same scope"
#### Description

c99 static assert introduced in 2bd1d7f045 doesn't allow multiple static_asserts in the same scope. GCC throws `/RIOT/core/include/assert.h:122:8: error: redeclaration of enumerator ‘static_assert_failed_on_div_by_0’`

#### Steps to reproduce the issue

1. add to examples/hello-world/main.c
[code]
2. make -C examples/hello-world
#### Expected results

example/hello-world should c

[2018-06-19 21:53] peurpdapeurp commented on #7922
@gschorcht Hello and thank you again for working on the ports! Is there a date estimate for when the ESP32 port may be made public?

[2018-06-20 00:09] gschorcht commented on #7922
@peurpdapeurp I'm tuning the source code a bit to pass automatic source code checks and finalizing some documentation. I hope, I can finish it until this Friday. First, I will upload it to my RIOT fork before I place a PR for merge.

[2018-06-20 00:45] gschorcht commented on #7922
@peurpdapeurp WiFi and Bluetooth is a big problem. At the moment I am not sure whether it will be possible at all to get them working without ESP-IDF. WiFi and Bluetooth are driven by proprietary libraries that are not documented. Furthermore, these libraries use ESP-IDF functions. ESP-IDF itself is a FreeRTOS port which cannot be used together with RIOT.

I already started to work on a FreeRTOS a

[2018-06-20 00:53] peurpdapeurp commented on #7922
@gschorcht Ah I see! Do you think there is anything I could to to help with this effort, being a complete beginner?

[2018-06-20 08:33] haukepetersen opened #9376 "net/sock_udp: assign ephemeral source port on `sock_udp_create()`"
#### Description
In the current sock/udp implementation for GNRC (and probably others as well), an ephemeral source port is assigned only when calling `sock_udp_send()` for the first time. This casts IMO unnecessary restrictions on the interface, and this seems to be counter intuitive to me.

Take the following example, using a dedicated listener thread to handle incoming data:
- thread_1 is start

[2018-06-20 09:04] jcarrano commented on #6097
I'm closing this issue. It is old and we already have TLSF.

[2018-06-20 09:04] #6097 closed

[2018-06-20 10:05] haukepetersen commented on #9376
Thinking and talking about it, I might have found a better solution: how about we change the semantics for `sock_udp_create()` to the following:
- `local == NULL` -> ephemeral source port is assigned when calling `sock_udp_send()` [no change]
- `local != NULL && local.port != 0` -> use given ep as local ep [no change]
- `local != NULL && local.port == 0` -> assign generate ephemeral port and use a

[2018-06-20 10:05] haukepetersen commented on #9376
also local.family needs to be set accordingly, of course

[2018-06-20 10:17] miri64 commented on #9376
:+1: This would keep the current API in tact (maybe doc needs some update though) and would be similar how such a case is handled with sockets.

[2018-06-20 11:02] haukepetersen commented on #9376
perfect. Can I get you to implement the changes? :-)

[2018-06-20 11:27] miri64 commented on #9376
I can get do that.

[2018-06-20 12:20] danpetry opened #9379 "Priority inheritance - enabled by default?"
### Description

https://github.com/RIOT-OS/RIOT/pull/7445 adds priority inheritance to RIOT. However, there is some open debate around whether the feature should be enabled or disabled by default. This issue aims to clarify.

### Desired outcome

As well as making a decision on this particular issue, it would be helpful if the discussion can serve as a platform to clarify our approach, in a wider

[2018-06-20 12:22] miri64 commented on #9376
@haukepetersen see https://github.com/RIOT-OS/RIOT/pull/9380

[2018-06-20 12:42] haukepetersen opened #9381 "newlib-nano: NEWLIB_INCLUDE_DIR set incorrectly"
#### Description
With #9243 merged, I can not build anything for Cortex-M anymore, as apparently the `NEWLIB_INCLUDE_DIR` is not set properly for my environment:
[code]

I might have a more or less custom setup (though not too fancy I would guess):
- toolchain at custom location
- custom folder containing symbolic links to binaries added to global PATH var

Now the definition of the `NEWLIB_INCLUD

[2018-06-20 12:49] aabadie commented on #9381
I reported the same problem [yesterday](https://github.com/RIOT-OS/RIOT/pull/9243#issuecomment-398390544) and this is a known problem (and already reported elsewhere). But from what I understand, your local toolchain might not be setup correctly.

I could fix it by uninstalling newlib with my package manager and use the [ARM Embedded toolchain](https://developer.arm.com/open-source/gnu-toolchain/g

[2018-06-20 12:52] cgundogan commented on #9381
did you try #9216 ? Otherwise, does it help to add a new `NEWLIB_INCLUDE_PATTERNS` for your newlib location?

[2018-06-20 12:54] miri64 commented on #9376
No, see https://github.com/RIOT-OS/RIOT/pull/9382. This time from the right branch and with tests + adaptations that came out of these tests

[2018-06-20 13:10] haukepetersen commented on #9376
thanks

[2018-06-20 14:55] cladmi commented on #9381
The reason I did not personally revert the `warnings` pr, is that cortexm, it is expected to be compiled with `newlib-nano` and for me, I expect the build to produce an error if it cannot be found. Which is my way of interpreting it.

The question that is really asked is, is it ok to include newlib-nano and compile without the headers because the toolchain is not installed in a supported directory

[2018-06-20 16:22] redradist commented on #8833
@cgundogan Yes, an issue is closed it is my mistake

[2018-06-20 19:03] redradist opened #9385 "Support for cc3200 and cc3220 chips"
#### Description
Should be added support for the following chips cc3200 and cc3220

#### Expected results
Support should be added for cc3200 and cc3220

[2018-06-21 00:00] dingens opened #9387 "shell `ping6` doesn't display duplicate packages"
#### Description
This is rather a question. Maybe there is a good reason for this behavior.

When pinging and duplicates arrive, the riot shell `ping6` command just says
[code]

IPutils ping does it like this:
[code]

I wonder why you chose to do it like this. My primary reason to ask is that I use `ping ff02::1` etc for debugging the network, for which the latter output is way more useable. Also,

[2018-06-21 06:27] cgundogan commented on #9064
ping @haukepetersen

Interesting though that your log says:
[code]
No idea why CMake only detects `arm-none-eabi-g++` on your side, and not `arm-none-eabi-gcc`.

[2018-06-21 06:38] cgundogan commented on #9064
@haukepetersen Looking at your CMake log, is your CMake of version 3.5? This problem may occure in older CMake versions. Latest Ubuntus nowadays seem to have version 3.10.*, I have 3.11.4. Can you upgrade your CMake and check again?

[2018-06-21 06:54] #9254 closed

[2018-06-21 08:47] miri64 commented on #9387
I think there is no specific reason, other than a lazy approach to handling of packets... @OlegHahm according to `git blame` that error message is yours. Do you remember?

[2018-06-21 10:16] #9376 closed

[2018-06-21 11:22] miri64 commented on #9381
I have a similar problem on  Ubuntu 17.10 now:

[code]

[code]

[2018-06-21 11:55] #9051 closed

[2018-06-21 13:12] tcschmidt commented on #7894
I guess we can close this one - correct?

[2018-06-21 15:12] cgundogan commented on #9381
@haukepetersen would #9394 help you out with your custom setup?

[2018-06-21 15:16] cgundogan commented on #9381
if not, then I would suggest that you symlink your newlib folder to `/usr/include/newlib`

[2018-06-22 07:16] smlng commented on #9381
on macOS I currently get:
[code]

when building anything for cortex based boards.

[2018-06-22 11:27] PeterKietzmann commented on #7981
All boxes checked, I'll close

[2018-06-22 11:27] #7981 closed

[2018-06-22 15:06] pyropeter opened #9401 "ARM: Non-upstreamed openocd configs need to adopt new dap support"
OpenOCD has changed their dap support and that requires all configs for ARM targets to be modified. More information here: http://openocd.zylin.com/#/c/4468/

The change was merged, but OpenOCD was not released since then, so there is still time to address this.

This only affects a few boards, as most boards use the configs contained in OpenOCD. Maybe it would be a good idea to push upstreaming e

[2018-06-22 15:10] gdoffe commented on #9379
Hi everyone,

Some good args from both sides. ;)

Except memories overhead, does it break actual RIOT use cases ?
If not, I'm in favor of its default activation, joining the point of view of @OlegHahm about disabling features.

I'm trying to put myself in the shoes of someone starting a new project with RIOT (which was my case not so long ago ;) ). When you start a project you always have few code

[2018-06-22 16:23] mmaxus35 opened #9402 "What is the best hardware for multi-hop WSN ?"
I have studied Contiki-OS in TelosB mote and so far i have seen that Riot is more promising and opened. I would like to shift my project to Riot-OS. However, for a quick adaptatiton, is there anyone who tried to create a multi-hop newtork using TelosB or Z1. Maybe another hardware which is better ?

Thanks.

[2018-06-23 07:53] mmaxus35 commented on #9402
Sadly i still use 16-bit platform because of lack of sources in the University. Yet we are preparing for upcoming season and would like to shift to newest 32-bit platforms and operating system. I would like to know more about Samr21-xpro and investigated a bit. . In the light of your suggestions i will start searching on my thesis. However, I couldn't find any information about Hamilton board ?

T

[2018-06-23 09:30] gebart commented on #9401
If you have this new version of openocd you have, by definition, not an old openocd, so you should set USE_OLD_OPENOCD=0. We could improve it and let it be determined by a check of the openocd version. Help wanted.

[2018-06-24 19:43] ZetaR60 opened #9405 "Docker: update to Ubuntu Bionic"
EDIT: changed the title to make more clear the breadth of the proposed change, so that it can be used as an in-project proxy for https://github.com/RIOT-OS/riotdocker/pull/42 with the release milestone.

#### Description
avr-libc 1.8.x does not implement the full C standard library. It is missing at least code related to ```time.h```. Thus things related to RTC work on the ATmegas cannot be linked

[2018-06-25 06:46] PeterKietzmann commented on #9402
@mmaxus35 are you aware of the [FIT IoT-LAB](https://www.iot-lab.info/) testbed? The [M3](https://www.iot-lab.info/hardware/m3/) nodes are well supported by RIOT and on the Grenoble (and Lille?) site you can build multi-hop topologies.
As for a local setup I'd recommend:

[Atmel ATSAM21-XPRO](http://www.microchip.com/developmenttools/productdetails.aspx?partno=atsamr21-xpro&utm_source=MicroSolutio

[2018-06-25 06:56] PeterKietzmann commented on #9385
Relates to #5733. Are you working on that? Personally I don't think this should be an open GitHub issue as long as there is no progress to track.

[2018-06-25 06:57] PeterKietzmann commented on #9385
Even relates to multiple efforts, [see](https://github.com/RIOT-OS/RIOT/pulls?q=is%3Apr+cc3200+is%3Aclosed)

[2018-06-25 07:36] mmaxus35 commented on #9402
Sure thanks!

[2018-06-25 07:42] #9402 closed

[2018-06-26 12:21] PeterKietzmann commented on #8162
@hahchenchen I assume the PR you've been talking about was #8191? We closed that one due to unresponsiveness. Furthermore, since you opened this issue there were a [couple of efforts](https://github.com/RIOT-OS/RIOT/pulls?q=is%3Apr+cc110x+is%3Aclosed) concerning the cc110x radio. Are you still willing to provide a fix?

[2018-06-26 12:37] PeterKietzmann commented on #3039
All referenced PRs have been merged or closed. Closing this issue now. Please re-open if I'm mistaken.

[2018-06-26 12:37] #3039 closed

[2018-06-26 12:57] Test6778678 opened #9412 "Unable to build for AVR on Ubuntu : undefined reference to 'main'"
#### Description

Cannot build for any off the AVR - based boards.
#### Steps to reproduce the issue

Install the required packages :
sudo apt-get install gcc-avr binutils-avr gdb-avr avr-libc avrdude
Clone the RIOT git repository, create the Makefile (Used the one presented here : http://doc.riot-os.org/getting-started.html)
Try to build it, for example make BOARD=arduino-uno
#### Expected result

[2018-06-26 13:06] bergzand commented on #9412
Hi @Test6778678

Are you able to compile the arduino_hello-world example? With:
[code]
From your RIOT base dir.

From your issue it looks like you're missing a file with the `main` function for your project. Try to have a look at the examples from your clone for a few pointers on how to start.

[2018-06-26 13:10] Test6778678 commented on #9412
Hi @bergzand
I am able to build it without issues.

make: Entering directory '/usr/home/(user)/Desktop/RIOT/examples/arduino_hello-world'
Building application "arduino_hello-world" for "arduino-uno" with MCU "atmega328p".

"make" -C /usr/home/(user)/Desktop/RIOT/boards/arduino-uno
"make" -C /usr/home/(user)/Desktop/RIOT/boards/common/arduino-atmega
"make" -C /usr/home/(user)/Desktop/RIOT/boards/co

[2018-06-26 13:16] bergzand commented on #9412
Hi @Test6778678

Thank you for providing the build output. From what I see there is no issues with your installation. From the error of your original post, it seems that the linker is unable to find a function called `main`. This function should be provided by your custom project and is not provided by RIOT-os.

Please let me know if you have more questions.

[2018-06-26 13:19] Test6778678 commented on #9412
Thanks. The problem was that I had misunderstood something. I was trying to build a project without my own projects files... That why its failed. After putting them in the right place, everything's fine.
Thanks for your support ! I'll close this now.

[2018-06-26 13:19] #9412 closed

[2018-06-26 13:43] PeterKietzmann commented on #4684
No progress since Feb. '16 nor feedback since Nov. '17. Closing this one. Please re-open when planning to take up work again

[2018-06-26 13:43] #4684 closed

[2018-06-26 13:46] PeterKietzmann commented on #3546
Unfortunately this project has been scrubbed. Closing issue (for now)

[2018-06-26 13:46] #3546 closed

[2018-06-26 13:55] PeterKietzmann commented on #7893
@kYc0o personally I have the impression this issue does not help. And obviously it hasn't been updated or used since opening. Browsing through the referenced PRs/issues it seems that (i) many projects have been canceled and closed and (ii) I'm missing the red thread. Of course it's about "lower layers" but for example, one finds further tracking issues for MCU hardware support next to outdated rad

[2018-06-26 13:57] danpetry commented on #3546
Shame, this looks cool

[2018-06-26 14:00] aabadie commented on #3546
There is a starting work made by @astralien3000 and based on this original PR #3890. This feature is very useful indeed.

[2018-06-26 14:32] PeterKietzmann commented on #6468
No progress/outcome since 1.5 years -> I tend to close this issue. @danpetry what do you think, is it worth a note in the [Maintainer Guidelines](https://github.com/RIOT-OS/RIOT/blob/master/MAINTAINING.md)? If not, where else?

[2018-06-26 14:34] PeterKietzmann commented on #6261
@spiderkeys, @photonthunder, @immesys anyone still there to report whether this is still an open issue?

[2018-06-26 14:45] kYc0o commented on #7894
I'm not sure, I need to check if all issues are solved, though I guess there are more... I need rather to update all the related issues to reflect the ongoing work.

[2018-06-26 14:50] MrKevinWeiss opened #9414 "periph/i2c: [TRACKING] i2c bugs list"
This will be a compilation of the issues and corner case bugs found during the new i2c if embargo.  The tracking of progress is found in #6577

- [ ] i2c_read_bytes() with I2C_NOSTOP set in sam_common0 cpu will cause lockup.  _[Suggested Fix]_ if I2C_NOSTOP then don't wait until the bus is free.  Since the SCL line stays low due to the master at this point the bus should not be finished.
- [ ] i2c

[2018-06-26 14:53] danpetry commented on #6468
@PeterKietzmann I would say that PRs older than three months ideally and six at the most, with no activity, should be closed. I get the impression that opinion is divided, though. Might be useful to try and raise a PR against the maintainer guidelines or something and see how that pans out.
IMO issues are ok, though. A lot of open source projects I come across have a longer issue list, I think tha

[2018-06-26 14:53] aabadie commented on #9414
If you don't mind, I'd prefer to keep track of it in #6577, this will avoid potential confusion.

[2018-06-26 14:54] danpetry commented on #6468
(Worth mentioning that people form task forces and that kind of thing for packets of work, so it's not completely amorphous.)

[2018-06-26 15:05] kb2ma commented on #7894
I maintain some pages for CoAP, which are referenced from the overall [Roadmap page](https://github.com/RIOT-OS/RIOT/wiki/Roadmap). #9309 is a pretty good summary of current state.

[2018-06-26 15:21] PeterKietzmann commented on #6468
I agree with you. Would you mind to do so? I guess @emmanuelsearch would be a good assignee and we could close this issue afterwards.

Once I read from @miri64 something like " close PRs that had no activity for six month so" but I couldn't find the source of it, though I share that thinking.

[2018-06-26 15:36] MrKevinWeiss commented on #6577
Here are some bugs that I have found and some solutions.

- [ ] i2c_read_bytes() with I2C_NOSTOP set in sam_common0 cpu will cause lockup.  _[Suggested Fix]_ if I2C_NOSTOP then don't wait until the bus is free.  Since the SCL line stays low due to the master at this point the bus should not be finished.
- [ ] i2c_read_bytes() with I2C_NOSTOP followed by a repeated start locks up cpu if the first b

[2018-06-26 15:37] MrKevinWeiss commented on #9414
Agreed, moving info to #6577

[2018-06-26 15:37] #9414 closed

[2018-06-26 15:53] danpetry commented on #6468
Sorry about this, but I've actually got quite a lot on my plate at the moment and I've just spent a fair amount of time on a process discussion getting this merged. I would be happy to help when I've got more time - I don't need to be the one opening all the PRs against the guidelines, though.

[2018-06-26 17:29] #9381 closed

[2018-06-26 17:30] kYc0o commented on #7893
@PeterKietzmann I agree with you. My aim was to track the progress of the things highlighted on our roadmap, in order to know where the efforts were needed. I don't know if we're actually following the roadmap anymore of if it's still up to date. I can try to update all my issues and (try to) give again a global view of the progress made in our most important directions. But if the need doesn't ex

[2018-06-26 17:34] kYc0o commented on #9309
@kb2ma would you mind to have "ticks" on the related PRs in the description? This way the progress can be seen in a more abstract view.

[2018-06-26 18:52] spiderkeys commented on #6261
@PeterKietzmann Sorry, we moved away from PWM in our application (this was for talking to a motor controller and we now use UART), so I can no longer comment on whether or not this is still an issue.

[2018-06-26 19:03] photonthunder commented on #6261
@PeterKietzmann the basic functionality is now in the RIOT code (to use DFLL instead of PLL).  Attempts to "clean up" further have stalled out (see PR #7315 and issue #7913).

[2018-06-26 19:15] PeterKietzmann commented on #6261
Thanks for your feedback. It seems most points have been addressed though it's not fully clear if the initial problem persists. I'll close with memo label set. If you have the impression this is the wrong way to go, please give me a sign.

[2018-06-26 19:15] #6261 closed

[2018-06-26 19:20] PeterKietzmann commented on #7893
Yepp I see and the idea seems reasonable. But now -half a year later - it seems as if the tracking mechanism was not used by the community and thus only introduces management overhead. However, I won't close the issue, just wanted to raise the question...

[2018-06-26 19:33] miri64 commented on #6468
@PeterKietzmann I did this basically on the basis of "feeling within the community". Nothing is lost if you close a PR, so I did not see i t as something that needs long discussion. If other maintainers disagreed, they could just reopen it again (or the contributor could ask for it). See, e.g. #2968 ;-). This however is only valid for feature PRs. Bugfixes (which do not involve major remodeling) o

[2018-06-26 19:50] PeterKietzmann commented on #6468
I have the impression you didn't get ee right. Let me summarize: As @emmanuelsearch stated:

My proposal was to spend a note on the newly introduced maintainer guidelines that says "if unresponsive for time X, close .... blabla can always be re-opend...". If we put that in actual words, we need to define a reasonable "expiration date".

[2018-06-26 20:18] PeterKietzmann opened #9419 "cpu/msp430: GPIO driver doesn't work properly"
#### Description
While reviewing/testing  #9367 I observed that our MSP430 GPIO driver does not work on all port/pin configurations. Yet, I don't have a complete list of combinations that do/don't work.

#### Steps to reproduce the issue
Take a  Z1 or TelosB (or other MSP430 based?) board and flash *tests/periph_gpio*. Initialize pin 6 0 as output (`init_out 6 0`) and toggle this pin (`toggle 6 0`

[2018-06-26 20:19] PeterKietzmann commented on #9419
@haukepetersen, @aabadie ideas?

[2018-06-26 22:31] tcschmidt commented on #8778
Fixed with #9410.

[2018-06-26 22:31] #8778 closed

[2018-06-27 06:39] kb2ma commented on #9309
I tried to include ticks in the table, but can't figure out how to do it, so used strikethrough instead to show completion. Which is more important, the ticks or the table?

[2018-06-27 07:02] PeterKietzmann commented on #6437
@gebart I'd like to get rid of this old-timer. The only uncovered points are:
- Test sensor driver adt7310
- Problems with hardware CS on Kinetis (@ 100kHz and 400kHz)

Do you have a chance to test the adt7310? I would guess that after 1.5 years a SPI defect in this driver would have already popped up. For the latter issue I propose to cover it within #6567.

[2018-06-27 09:29] kYc0o commented on #9309
Ok I see, of course the table is more important! No doubt about it. I'll then link this issue to the project and add the ticks there.

Thanks for tackling this!

[2018-06-27 09:32] miri64 commented on #9309
How about a project to organize this and have an overview? I did the same for [6Lo refactoring](https://github.com/RIOT-OS/RIOT/projects/18)

[2018-06-27 14:32] neiljay commented on #8052
item 2 now resolved in #9259. I think this can be closed ?

[2018-06-27 17:39] gebart commented on #6437
My adt7310 breakout is in a box somewhere but I will not be able to get to it until August.

Regarding the Kinetis SPI module disable issue: #9438

[2018-06-27 19:10] gebart commented on #6577
This should already be part of the i2c rework of each device driver. i2c bus initialization is performed by periph_init() at boot, and the device drivers should only do i2c_acquire during the device init.

[2018-06-27 19:18] dylad commented on #6577
i2c_acquire must be used before any call of I2C API not only during the device init so we can acquire the mutex, enable peripheral, clocks, etc.

[2018-06-27 19:45] alemusix commented on #7397
Hi @rfuentess
I've downloaded your fork of RIOT
[https://github.com/rfuentess/RIOT/tree/Module_DTLS_Develop](url)
I'd like to test the gcoap example with DTLS. In the examples/gcoap folder I've commented out the this line in the Makefile

when I compile the example I get this error

what am I doing wrong? If this not the right place to contact please tell me where I need assistance. Thanks

[2018-06-27 19:54] gebart commented on #6577
@dylad Sorry, I meant only i2c_acquire as opposed to i2c_init_master followed by i2c_acquire. i2c_acquire is required for all i2c bus access

[2018-06-27 20:00] dylad commented on #6577
@gebart No problem, I just want to be sure we're going in the same direction :)

[2018-06-28 11:15] miri64 opened #9449 "github: rename "Ready for CI build" label to "CI: ready for build""
I'd like to rename the "Ready for CI build" label to "CI: ready for build" to be more in line with the "CI: run tests" label. However, I don't know how hard coded it is into Murdock that it has to be *that* label. So I rather ask ;-).

[2018-06-28 12:30] cladmi commented on #9381
@smlng having `-I/RIOT/core/include ` in your include directories is really really wrong. Could you please open a dedicated issue for this with output of `make info-build` and any debug information.

[2018-06-28 12:53] cladmi commented on #8052
It is only flashing `pic32-wifire` and not `pic32-clicker`, also it is currently not merged :)
But we are getting closer to closing this.

[2018-06-28 13:07] rfuentess commented on #7397
Hi @alemusix

This seems to be  more a problem with GCC. Maybe [this can be of help](https://stackoverflow.com/questions/19528665/difference-between-time-and-gettimeofday-and-why-does-one-cause-seg-fault).

Also, the branch that you were using (`module_gdtls_develop`) was very old, and I just removed it. The one that had the "last version" of that work is [module_gdtls](https://github.com/rfuentes

[2018-06-28 13:29] alemusix commented on #7397
Hi @rfuentess
thanks for your reply. I've downloaded the more recent branch that you've linked me, but I still get the same error if I want to use the module gnrc_dtls in the Makefile. The compiler I'm using is msp430-gcc (GCC) 4.7.2. I'm I the only one experiencing this issue.

[2018-06-28 13:31] cladmi commented on #9342
Linker offset supports depends on https://github.com/RIOT-OS/RIOT/pull/9451 to allow testing.

[2018-06-28 14:06] kaspar030 commented on #9449
+1

I checked, it is not hard-coded in current master (minus one place that I just commited a fix). As this is rather cosmetic, I'd rather not restart murdock. How about I keep this in mind and next time we do maintanance on Murdock I rename the label?

[2018-06-28 14:32] haukepetersen opened #9452 "make: build for Cortex fails due to '-W missining-include-dirs`"
#### Description
Sadly, this is the second time in a week I have to open this issue. I can, again, not build anything for Cortex-M boards due to the `-Werror=missing-include-dirs`. This time though the compiler complains that some actually existing include path(s) can not be found.

Example building `hello-world` for the `samr21-xpro`:
[code]

The location of ` -I/home/hauke/dev/riot/RIOT/core/inc

[2018-06-28 14:49] miri64 commented on #9449
If it doesn't *slip* your mind :+1: ;-)

[2018-06-28 16:03] cladmi commented on #9452
I think it must be something like `-I $(an_empty_variable) -I/path/to/RIOT/core/include`.
I got this before when working on https://github.com/RIOT-OS/RIOT/pull/9243 and adding `-I` without a path after.

Can you paste the output of
`make -C examples/hello-world/ BOARD=samr21-xpro info-debug-variable-INCLUDES`

[2018-06-28 16:13] cladmi commented on #9452
When I overwrite `NEWLIB_NANO_INCLUDE_DIR` to an empty variable I get the same error:
[code]

If it is the case, it means your NEWLIB_INCLUDE_DIR location set from `makefiles/libc/newlib.mk` is still not correctly detected. So the error is the same as before but with a worst error message.

The new error message is a consequence of https://github.com/RIOT-OS/RIOT/pull/9394

Can you try building by

[2018-06-28 16:17] cladmi commented on #9452
This is the reason I created https://github.com/RIOT-OS/RIOT/pull/9384 a week ago to at least give an informative warning message.

[2018-06-28 16:36] haukepetersen commented on #9452
so, finally spend some time looking into this. It is indeed an empty variable as in `-isystem -ISOME_PATH`, so this is what causes the trouble.

I did fix this last week by simply setting `NEWLIB_INCLUDE_DIR` for my environment directly, but db6cb1ac65e1fde042c511e68ef13c42bf4b477e broke it again. Turns out, that the changes introduced in db6cb1ac65e1fde042c511e68ef13c42bf4b477e simply expected a

[2018-06-28 16:36] #9452 closed

[2018-06-28 19:28] Hyungsin commented on #6577
@haukepetersen, I opened #9455 for hdc1000 driver. Please update the info.

[2018-06-28 20:35] Hyungsin commented on #6577
@haukepetersen, #9457 takes care of tmp006.

[2018-06-29 06:53] smlng commented on #6577
@Hyungsin nice work! Thx for contributing!

[2018-06-29 09:11] PeterKietzmann commented on #6468
Offline @danpetry and @miri64 convinced me that a simple note about closing strategies neither solves or improves the logging concerns nor it improves our PR/issue organization in general. So let's keep this issue for now

[2018-06-29 13:53] jcarrano opened #9460 "docker: make commands for docker require insecure setup."
#### Description

Communicating withe the docker daemon requires elevated privileges. This can be accomplished by either using `sudo` or adding a user to the `docker` group. The latter option is advocated by the [RIOT wiki](https://github.com/RIOT-OS/RIOT/wiki/Use-Docker-to-build-RIOT), and is expected by the build system:

Using the `docker` group, however, is not as secure as it seems, and in ef

[2018-06-29 14:25] MrKevinWeiss opened #9461 "stm32common i2c_1.c cannot write multiple registers (new i2c api)"
#### Description
Cannot write multiple registers, it seems it gets locked up.  I think @aabadie has a solution already that works.  (This may be fixed, I won't have HW to fix until Monday, I just wanted it documented somewhere)

#### Steps to reproduce the issue
Write multiple registers to a sensor with any stm32f0/3/7 and l0/4. I used stm32f303 to test

#### Expected results
For it not to hang

#

[2018-06-29 15:03] cladmi commented on #9452
That should not be the case, I will do a PR for fixing it.

Agreed, it is also the goal of https://github.com/RIOT-OS/RIOT/pull/9415 and related PR to not assume the toolchain location by using `nano.specs`.
Remaining problem is with llvm where it is actually required to find the newlib path from another compiler than the one currently used… but limiting it for this case would help.

[2018-06-29 15:55] ZetaR60 commented on #9405
@kYc0o No, #8857 solved a separate issue of time.h being outdated, which caused compiled code to call the time functions with the wrong variable types. It does not add the library implementation. The library time implementation requires an updated library version on Docker / build server.

[2018-06-29 18:27] Hyungsin opened #9465 "Compile error"
#### Description
With the latest RIOT-OS, I suddenly got the following compile error. Any idea to fix it?

/usr/include/linux/errno.h:1:23: fatal error: asm/errno.h: No such file or directory
compilation terminated
![image](https://user-images.githubusercontent.com/22308790/42108472-7aa041b8-7b8f-11e8-88c3-2c3770a4aef1.png)

#### Steps to reproduce the issue

#### Expected results

#### Actual res

[2018-06-29 19:23] gebart commented on #9465
Try installing the linux kernel headers for your distro. What is your distro, kernel version? Did you do any system upgrades lately?

[2018-06-30 16:45] ZetaR60 commented on #9405
After looking into this issue, I think that upgrading the Docker image from Ubuntu Xenial to Ubuntu Bionic would solve the problem. [https://packages.ubuntu.com/bionic/avr-libc](url) lists the version as 2.0.0 and Bionic is also a long term support version (like Xenial). I assume that the build server is using the Docker image, so it would fix both.

@gebart would it be possible to update the Dock

[2018-07-01 09:08] liuziangexit commented on #5497
@Stargateur i agree. in some embedded platform, a byte is 32 bit

[2018-07-01 11:54] kaspar030 commented on #5497
@Stargateur @liuziangexit of course you're right, C defines ```CHAR_BIT >= 8```.

Is anyone trying to use RIOT on such a platform?

[2018-07-01 11:57] Stargateur commented on #5497
@kaspar030 I just talk about semantic, if `uint8_t` is available, `CHAR_BIT` would be 8. But keep in mind that `uint8_t` do not allow you to [alias](https://stackoverflow.com/q/98650/7076153) other type contrary to `char`.

[2018-07-01 13:53] liuziangexit commented on #5497
yes, the CPP standard says you can only use the uchar and char to access an
obj, otherwise is UB(include using union, which is legal in C99 but illegal
in CPP

On Sun, Jul 1, 2018 at 7:57 PM Antoine PLASKOWSKI <notifications@github.com>
wrote:

[2018-07-02 08:14] kb2ma commented on #9309
Thanks @kYc0o, and nice idea, @miri64! I'll keep this issue but focus it on Options and remove the PR references. I'll create a project for the Options work and include a link to this issue. I'll also remove the references to confirmable messaging, Observe, and Block. Those really are part of the Network Stack High Layers project.

[2018-07-02 15:42] toonst commented on #9452
#9415 fixes this, it adds a check to only use NEWLIB_NANO_INCLUDE_DIR if it is not empty.

[2018-07-02 20:07] Hyungsin commented on #9465
![image](https://user-images.githubusercontent.com/22308790/42184020-c7ca0e72-7df8-11e8-867f-8588d95409f4.png)

This comes from newlib.mk.
Seems like there are PRs handling this include errors.

[2018-07-02 21:04] cgundogan commented on #9465
@Hyungsin could you print your output of
[code]
?

[2018-07-02 21:11] Hyungsin commented on #9465
hskim@ubuntu:~/Desktop/rebase/RIOT-OS/tests/saul$ make RIOTBASE=/home/hskim/Desktop/rebase/RIOT-OS BOARD=hamilton info-build
APPLICATION: tests_saul

supported boards:
make[1]: Nothing to be done for 'info-boards-supported'.

BOARD:   hamilton
CPU:     samd21
MCU:     samd21

RIOTBASE:  /home/hskim/Desktop/rebase/RIOT-OS
RIOTBOARD: /home/hskim/Desktop/rebase/RIOT-OS/boards
RIOTCPU:   /home/hskim/D

[2018-07-02 21:29] Hyungsin commented on #9465
@cgundogan, oh man.. the problem is gone with the current master. Seeing the git log, there have been some changes in newlib.mk. So never mind! 👍

[2018-07-02 21:42] cgundogan commented on #9465
@Hyungsin great! (: should we close then, or is the other issue in your first post with `asm/errno.h` still existing?

[2018-07-02 22:03] Hyungsin commented on #9465
yes, here is the output.

hskim@ubuntu:~/Desktop/rebase/RIOT-OS/tests/saul$ make RIOTBASE=/home/hskim/Desktop/rebase/RIOT-OS info-build
APPLICATION: tests_saul

supported boards:
acd52832 airfy-beacon arduino-due arduino-duemilanove arduino-mega2560 arduino-mkr1000 arduino-mkrfox1200 arduino-mkrzero arduino-uno arduino-zero avsextrem b-l072z-lrwan1 b-l475e-iot01a bluepill calliope-mini cc2538dk cc

[2018-07-03 09:52] danpetry commented on #9379
Hi @gdoffe
Thank you for your input and sorry for the late reply.
Anybody else with any comments?
Dan

[2018-07-03 18:35] Hyungsin commented on #6577
FYI, #9268 (fxos8700) is merged.

[2018-07-03 19:54] Hyungsin opened #9491 "xtimer: Is XTIMER_OVERHEAD necessary?"
#### Description

The current xtimer implementation sets a target time as "now + offset - XTIMER_OVERHEAD" instead of "now + offset". This is a different way of timer implementations compared to TinyOS and Contiki. I think the motivation of introducing "XTIMER_OVERHEAD" is for **very accurate** timer expiry.

But is it necessary to have this? Do we need that accurate timer resolution where a few m

[2018-07-04 08:33] cladmi commented on #9465
Could you give the result of `sudo updatedb; locate errno.h | grep 'asm/errno.h'` to know where the file is.

Also, could you try with the last release `git checkout 2018.04` to be sure it is not a side effect from an upgrade.

And even better if you could bisect the commit that broke it, but I could look into it before already.

[2018-07-04 13:14] danpetry commented on #6267
Some examples of good labelling:
https://github.com/ARMmbed/mbed-os/pulls
https://github.com/rtrlib/rtrlib/pulls
https://github.com/rust-lang/rust/pulls
In general prefixes look like a good way to go...

[2018-07-04 14:29] miri64 commented on #6468
Regarding issue labeling, there is this issue too btw https://github.com/RIOT-OS/RIOT/issues/6267 (just because it popped up in my timeline again ;-))

[2018-07-04 14:30] miri64 commented on #6267
See also #9449.

[2018-07-04 19:32] dylad commented on #8357
I guess #9473 will solve this issue.

[2018-07-05 12:14] dylad commented on #9461
@MrKevinWeiss Does #9476 fix this issue ?

[2018-07-05 12:35] pekkanikander commented on #8357
In #9473 I don't have currently direct support for nrf52840dk with the SoftDevice, but adding that should not be too hard. I can try to make sure it compiles, but I don't have the newer DK and therefore I will not be able to test.

[2018-07-05 13:00] MrKevinWeiss commented on #9461
Yup #9476 points out other issues but it is at a usable state.

[2018-07-05 13:00] #9461 closed

[2018-07-05 13:18] pekkanikander commented on #8357
Now I've added initial NRF52840DK SoftDevice support to #9473

[2018-07-05 13:22] dylad commented on #8357
nice, good job @pekkanikander
maybe @attdona can help you with #9473 now ?

[2018-07-05 14:30] cladmi commented on #8984
It is now supported and documented.

[2018-07-05 14:30] #8984 closed

[2018-07-05 18:43] Hyungsin commented on #9465
The following is the results. I don't have linux/include/asm/errno.h. And this problem is not related to RIOT-OS's update but my linux (ubuntu 16.04). Any idea to fix the problem?

/usr/arm-linux-gnueabi/include/asm/errno.h
/usr/arm-linux-gnueabihf/include/asm/errno.h
/usr/include/x86_64-linux-gnu/asm/errno.h
/usr/src/linux-gcp-headers-4.10.0-1004/arch/alpha/include/uapi/asm/errno.h
/usr/src/linux

[2018-07-09 06:11] attdona commented on #8357
Great Job!
I can do some test for this board.

The first feedback is about this build error from `feature-update-nRF5-SDK-15.0.0`:

``
cc1: error: /etc/alternatives/gcc-arm-none-eabi-include/newlib-nano: No such file or directory [-Werror=missing-include-dirs]
cc1: error: unrecognized command line option '-Wno-implicit-fallthrough' [-Werror]
cc1: all warnings being treated as errors
``

Is it rela

[2018-07-09 06:47] pekkanikander commented on #8357
Hi @attdona I haven't seen anything like that with #9473.  It would be helpful if you run `make` with `Q=` so that the exact compile commands are shown, and copy-paste also them.  Using triple backticks is probably a good idea for readability,
[code]

[2018-07-09 07:56] MrKevinWeiss opened #9518 "periph/i2c: tracking bugs and untested acks"
This is a list of bugs found and untested acks given (due to lack of hardware) discoved during the I2C embargo.  After the new_i2c_of branch is merged to master each point can be checked off given appropite time to fix the bug or acquire the hardware.  Untested acks just require a hardware test.  The bugs will require a proper fix.  Following the #6577 issue.

BUGS:
- [ ] sam_common0 - i2c_read_by

[2018-07-09 09:43] miri64 commented on #9449
Ping? When will that be?

[2018-07-09 09:52] kaspar030 commented on #9449
... still applies.

(Problem is, Murdock is almost maintanance free, last restart was in Oktober. )

[2018-07-09 09:55] smlng commented on #9449
@kaspar030 the label is defined in `.murdock` file shouldn't be as simple as:
- defining the new label but  leaving the old intact
- create PR modifying the label in `.murdock`
- remove old label as soon as above is merged

No restart or update of workers needed?

[2018-07-09 09:56] smlng commented on #9449
see https://github.com/RIOT-OS/RIOT/blob/master/.murdock#L22

[2018-07-09 09:57] smlng commented on #9449
ah damn, sorry mixed things up

[2018-07-09 10:00] dylad commented on #6577
We're almost done ! only 3 remainings PR to merge !!
Unfortunately we have a merge conflict witht the following files :
cpu/kinetis/Makefile.dep
boards/pba-d-01-kw2x/include/periph_conf.h
boards/mulle/include/periph_conf.h
boards/frdm-kw41z/include/periph_conf.h
boards/frdm-k64f/include/periph_conf.h
boards/frdm-k22f/include/periph_conf.h

and also with :
boards/common/stm32f103c8/include/periph_c

[2018-07-09 10:03] smlng commented on #6577
@dylad as you managed the rework I would suggest you clear the conflicts as soon as all drivers and stuff is in?!

[2018-07-09 10:06] dylad commented on #6577
@smlng I can give it a try. I suppose I just have to cherry-pick some commits from master.

[2018-07-09 10:11] smlng commented on #6577
mhm, no cherry-picking will not work I'd say. I think you need to rebase the `new_i2c_if` branch onto master and resolve conflicts during that. I guess we should have done the rebase during the rework several times, and best before every merge of a PR against this branch that way conflicts might have been avoidable.

[2018-07-09 10:21] miri64 commented on #9449
Ok, but there is something like a maintenance schedule, right?

[2018-07-09 10:38] kaspar030 commented on #9449
Nope, not really. We schedule maintanance as needed.

[2018-07-09 15:37] aabadie opened #9526 "Semtech-loramac confirmable TX broken"
While working on #9524, I realized that sending confirmable messages was broken on the current master branch (master at 15b0fe4368fe473193de2e0aab10be8068da5138).

### How to reproduce

1. Build and flash `tests/pkg_semtech-loramac` application
[code]
2. Configure the device with LoRaWAN parameters (deveui, appeui, appkey):
[code]
3. Activate the device, using OTAA, and ensure activate succeeds
[c

[2018-07-09 15:58] attdona commented on #8357
It works: I've patched `makefiles/libc/newlib.mk` with #9394.

I don't know if it is related with gcc version, by the way the problem arose with:

    gcc version 6.3.1 20170620 (15:6.3.1+svn253039-1build1)

I've tested on another host with arm-none-eabi-gcc 7.2.1 and compilation succeeded without any patching.

[2018-07-09 15:59] jia200x commented on #9526
@aabadie @PeterKietzmann LoRaWAN is sending negative values in the first operand `a`. When casted to uint32_t, the number will be bigger than `b`. That's the reason of the assertion.

I'm checking why LoRaWAN gives negative values

[2018-07-09 16:02] jia200x commented on #9526
@aabadie I think LoRaWAN needs a random_int32_range function instead of the current map to uint32_t random (as seen [here](https://github.com/RIOT-OS/RIOT/blob/master/pkg/semtech-loramac/patches/0003-adapt-utilities-functions.patch#L36))

[2018-07-09 18:53] aabadie commented on #9526
Thanks @jia200x for the good analysis. I opened #9528 to provide a fix. Tested and now it works as before.

[2018-07-10 07:53] #9526 closed

[2018-07-10 13:38] cladmi commented on #6577
For me rebasing implies that you could do rebase errors (it happens all the time) and so that everything should be re-reviewed. I often saw duplicated functions on rebase due to wrong resolution.

For me the proper solution would be more to backports the PRs that introduced conflicts to the i2c branch.

[2018-07-10 14:11] dylad commented on #6577
I'll rebase the branch on master, if there is any conflict I'll backport the required changes.
Let's finish the two remaining PRs first.

[2018-07-10 14:43] cladmi commented on #9001
@kYc0o This issue is still tagged on milestone 2018.04, please move it to 2018.07 or 2018.10.

[2018-07-10 14:47] kYc0o commented on #9001
Done. I mark it for this release though it depends a lot on the I2C work (to allow some PRs to be merged which fix this problem).

[2018-07-10 14:58] dylad commented on #6577
Hmm guys I need the wise advises from a git guru here
I can rebase the new_i2c_if branch on lastest master with :
`git rebase master`
but it failed when I do :
`git rebase --preserve-merges master`

[code]

[2018-07-10 15:05] smlng commented on #6577
@miri64 and @cladmi can you help?

[2018-07-10 15:21] cladmi commented on #9465
It looks the same on my computer…
What is the output of

    gcc -v -x c -E /dev/null

Did you maybe replace `gcc-multilib` by `gcc` ?

[2018-07-10 15:29] cladmi commented on #8357
*I updated the PR message and comments to put three "`" to get the multi line output.*

@attdona could you try with this PR ? https://github.com/RIOT-OS/RIOT/pull/9515

There are also some debug procedure in the PR comments, it would help if you could provide the output with this diff https://github.com/RIOT-OS/RIOT/pull/9515#issuecomment-403456845 with and without the PR and the output of https:/

[2018-07-10 15:30] cgundogan commented on #9465
@PeterKietzmann didn't you have a similar issue that you already resolved a couple of days ago?

[2018-07-10 15:31] basilfx commented on #6577
It seems that `git rebase [upstream/]master --rebase-merges` (git 2.18+) works and keeps the merge commits.

[2018-07-10 15:32] cladmi commented on #8357
Just noticed that when you tested #9473, was not rebased on master so maybe https://github.com/RIOT-OS/RIOT/pull/9394 was not included. So it may be fixed now.

[2018-07-10 15:36] dylad commented on #6577
this doesn't work on git 2.17.1 which is my default version

[2018-07-10 15:36] PeterKietzmann commented on #9465
Maybe not the most elegant solution but it worked:
`ln -s /usr/include/asm-generic /usr/include/asm``` (taken from [here](https://stackoverflow.com/questions/14795608/asm-errno-h-no-such-file-or-directory))

[2018-07-10 16:07] MichelRottleuthner opened #9534 "linkerscripts for stm32 incorrect for MCUs with non-contiguous SRAM1 & SRAM2"
The common linker script for stm32 based platforms doesn't take into account that on some platforms the available RAM is split up in different RAM sections e.g. SRAM1 & SRAM2.
On some MCUs there is a hardware feature to remap the address space of SRAM2 consecutively after SRAM1, there it doesn't actually impose a problem. This feature is not available on all MCUs though.
On stm32l476rg for example

[2018-07-10 16:11] cladmi commented on #6577
When doing the rebase, please save here the original branch `sha1` and the new one.
It will help verifying that the difference from the commits is the same after the rebase.

[2018-07-10 16:51] attdona commented on #8357
Correct, #9394 is not included in #9473.

The info you asked for (I'm using the standard arm-none-eabi-gcc package provided for ubuntu 18.04):

[diff_without_PR9515.txt](https://github.com/RIOT-OS/RIOT/files/2181334/diff_without_PR9515.txt)

[diff_with_PR9515.txt](https://github.com/RIOT-OS/RIOT/files/2181335/diff_with_PR9515.txt)

    arm-none-eabi-gcc -v -x c -E /dev/null 2>&1

[code]

    arm-n

[2018-07-10 17:07] dylad commented on #6577
@cladmi I think I push a clone of the new_i2c_if to the RIOT-OS repo, I'll rebase the clone and make a PR with it ? Does it suit you ?

[2018-07-11 08:02] cladmi commented on #8941
During a chat with @smlng when I was in Hamburg, we discussed that tests for packages could be moved to the package directory. An idea I like and that keep going toward self contained packages.

[2018-07-11 08:07] smlng commented on #8941
and we could also (think about) restructure  the tests according to the main/root folders, i.e. `tests/core/`, `tests/drivers` ... `tests/sys` and consequently have the unittests within/below the respective subfolder.

[2018-07-11 08:35] cladmi commented on #8357
That you for the output. So your gcc looks like to output the supported things.

Can you confirm that know that #9473 has been ebased it compiles correctly ?

Sorry, I took some of your time for nothing as I was not clear enough. For the diff I meant to apply the diff I had in the comment https://github.com/RIOT-OS/RIOT/pull/9515#issuecomment-403456845 that adds `$(info)` and compile to see the de

[2018-07-11 08:39] cladmi commented on #9001
Thanks.

[2018-07-11 10:37] cladmi commented on #6577
@dylad: yes doing a clone was great, this way both are kept and can be compared.
I will find the magic commands to compare them.

[2018-07-11 12:07] attdona commented on #8357
On my side I can confirm!
greetings
Attilio

[2018-07-11 12:40] MichelRottleuthner commented on #9534
Checked this for L0, F3, F4, F7 and found some more problems regarding the RAM sizes:
[code]
Another question that arises: the the CCMRAM_LEN is used to declare a memory region in [stm32_common.ld](https://github.com/RIOT-OS/RIOT/blob/master/cpu/stm32_common/ldscripts/stm32_common.ld) but there is no section defined in the other linker scripts that makes use of this region. Shouldn't there at leas

[2018-07-11 13:59] stegomon opened #9546 "dht: driver for dht11 sensor sometimes stuck in dht_read() on Atmel SAM R21"
#### Description
Using the DHT11 temperature and air humidity sensor on the Atmel SAM R21 Xplained Pro, sometimes the function `dht_read` to read the value of the DHT11 sensor gets stuck.

#### Steps to reproduce the issue
Connect DHT11 sensor to a pin of the Atmel Board e.g. to Pin A07.
Initialize the DHT11 sensor with the following code:

[code]
Then, read the DHT11 sensor with the following loo

[2018-07-11 19:01] bergzand commented on #7736
@tcschmidt I think this is a good idea. Purely based on the implementation changes that we aim at here I expect the processing time/flash/ram impact to be neglible, maybe a slight increase in RAM usage (as in less than 100 bytes in total), but of course this is measurable to confirm this before merging anything significant.

Most of the technical details have been worked out, the difficult part no

[2018-07-11 19:11] tcschmidt commented on #7736
@bergzand the problem is not with code size, but with packet processing and overall stack performance. The results reported in the paper should somewhat serve as a reference: this is what the original netdev - after all debugging and optimizing - could do (@PeterKietzmann has the numbers). Future versions should undergo regression tests and be rejected, if not performing.
After all, networking is

[2018-07-11 19:58] bergzand commented on #7736
@tcschmidt Yes, as I tried to mention above, I expect the impact on packet processing time to be negligible. The advantage of the approach described above is that it reduces code complexity

[2018-07-11 22:22] tcschmidt commented on #7736
@bergzand should not expect, but prove: experiences have been on the contrary. Packet processing is an art.

[2018-07-12 06:33] gebart commented on #8941
All great ideas in my opinion. Does anyone have the time to do a proof of concept PR?

[2018-07-12 07:11] MichelRottleuthner commented on #9546
Thanks for opening the issue!
I think this happens because the data pin of the sensor is [polled](https://github.com/RIOT-OS/RIOT/blob/master/drivers/dht/dht.c#L54). If then, while polling, either a "long"-running ISR or another thread is scheduled (because of an interrupt), the driver will miss a flank and wait forever for a pin change that will not happen anymore.
Two possible solutions: timeout

[2018-07-12 07:43] MichelRottleuthner commented on #9546
@stegomon you can take a look at [this branch](https://github.com/MichelRottleuthner/RIOT/tree/dht_fix_lockup) for a possible solution. This served me well as a quick fix, but on some platforms the timing requirements of the sensor signaling may be a bit too tight to work in all cases. Thus, as stated above there should probably still be some kind of timeouts added just to be sure.

[2018-07-12 07:55] maxvankessel opened #9547 "pkg/wakaama: Wakaama doesn't build"
The wakaama package doesn't build, makefile include is invalid. File: `pkg/wakaama/Makefile.include`
`INCLUDES += -I$(RIOTPKG)/wakaama/wakaama`

Should be:
`INCLUDES += -I$(RIOTPKG)/wakaama`

Unsure why this happens now and not before.

[2018-07-12 12:07] bergzand commented on #7736
@tcschmidt I though we already agreed on getting some measurements before merging, so I'm not completely sure what you're trying to say here.

Would you mind opening an issue on this, aimed at how RIOT should measure this performance in transmitting and receiving packets? It would be nice if this issue results in a performance test/benchmark to have a consistent method for taking measurements.

[2018-07-12 12:09] bergzand commented on #7736
@tcschmidt By the way, did you think of some improvents for the documentation thing I asked you about [here](https://github.com/RIOT-OS/RIOT/issues/7736#issuecomment-404276439)?

[2018-07-12 12:16] bergzand opened #9559 "semtech_loramac: Enable event callbacks on driver"
Semtech-loramac does not properly enable the RX and TX callbacks on the radios

From what I see in `pkg/semtech-loramac/contrib/semtech_loramac.c`, it uses (parts of) the netdev API to communicate with the radio. It should in the initialization, after initializing the radio, enable the event callbacks on the radio. This is similar to #9467, but for the semtech-loramac case.

I'm not completely cer

[2018-07-12 12:22] tcschmidt commented on #7736
@bergzand for the moment I would suggest you just cross-link with @PeterKietzmann to get his testing scripts etc. For the future, we have scheduled work on network testing as part of our HIL initiative - but this won't be finished in a few weeks. So it makes no sense to wait.
Regarding documentation, I would love to see a (i) clear  problem statement and (ii) well justified solution concept. Howev

[2018-07-12 12:35] bergzand commented on #7736
I still think an issue for this would be good as it gives the community a place to discuss and sync the ideas and requirements for a test like this.

The problem statement might not be directly clear from the opening post here, but can be easily distilled from the text. Something like:

"The current netdev implementation does not allow for adding features in a scalable way independent of the netwo

[2018-07-12 13:03] tcschmidt commented on #7736
@bergzand no problem, I will open an issue about network testing ... just need a little time for that.

Adding the design considerations to the header documentation sounds good to me. Various people work on the code, and when discussing the netdevs (and other stuff) in retrospect for publications it quickly appeared that we all have limited memory lifetime ;)

[2018-07-12 13:19] bergzand commented on #7736
Awesome, thank you :)

[2018-07-12 13:46] jcarrano opened #9561 "Lua scripts and asynchronous APIs"
While designing the binding for the Lua intepreter in RIOT, I found the lack of an unified asynchronous API problematic. The reason is that with a scripting language, we can only afford one instance of the interpreter running in only one thread.

I'll start with an example of what I'm trying to achieve in Lua code. Say one has an application with the following requirements:

- Activate actuator A

[2018-07-12 19:58] dylad commented on #9559
@bergzand Sorry for the dumb question (not a netdev user) What's the goal of initialize this event ? I mean this pkg is working (maybe we are lucky) so what's behind this initialization for netdev ? How/why netdev need it ?

[2018-07-12 20:19] bergzand commented on #9559
@dylad I know that for the ieee802154 devices the reported events (such as TX transfer complete) from the netdev interface back to the network stack are only reported if the flag for that event is set.
If this is not the case for Loramac devices, as in all events are always reported back, then this issue is invalid.

[2018-07-13 08:05] #9547 closed

[2018-07-13 09:11] jia200x commented on #9559
hi @bergzand

enabling or disabling these callbacks won't have effects in LoRaWAN. The reason is because the LoRa radio doesn't provide [this condition] nor NETOPT_{TX|RX]_END_IRQ netopt getter/setter. So, it will always call the event_callback

[2018-07-13 09:12] bergzand commented on #9559
@jia200x Thanks for confirming this! this issue is invalid then, sorry for the noise

[2018-07-13 09:12] #9559 closed

[2018-07-13 09:13] jia200x commented on #9559
@bergzand absolutely no problem ;). Thanks to you

[2018-07-13 15:26] PeterKietzmann opened #9573 "pkg/lwip: assert on samr21-xpro"
#### Description
The following was discovered in #9553. Running *tests/lwip* on a samr21-xpro asserts after some time (sometimes?!?) - without doing anything:
[code]

@bergzand was not able to reproduce this behavior on samr-21xpro node in the FIT IoT-LAB testbed/Saclay. @MichelRottleuthner was able to reproduce it (locally).

#### Steps to reproduce the issue
- build *tests/lwip* (I used Docker)

[2018-07-15 03:03] pyropeter commented on #9452
Why is this closed? This issue still persists.

[2018-07-16 08:52] jcarrano commented on #9561
To further expand this issue: this was partly motivated by #8236 and #8149 and my feeling that, while the feature itself is useful, it would not solve enough cases for the effort it would take.
I'm aware that, at least in the case of networking/GNRC, what I propose could be achieved by not using sock and instead using GNRC directly, which consists of essentially of receiving and sending messages a

[2018-07-16 12:57] miri64 commented on #9573
Also unable to reproduce on Ubuntu 17.10 (test ran for at least 5 min) :-/

[code]

Will try again with docker.

[2018-07-16 13:48] miri64 commented on #7736
In general this work aims to reduce code complexity. The layers this issue talks about currently already exist in part and existed in the referenced paper as well (see modules like `netdev_ieee802154` and `netdev_ethernet`). However the calling hierarchy is quite messed up at the moment + private member fields are touched in places where they are not supposed to be touched (and I admit that this i

[2018-07-17 06:49] MrKevinWeiss commented on #9573
I received the following error on my computer (not build with docker)
[code]
Here is some fun info about my setup
[code]

[code]

[2018-07-17 07:02] miri64 commented on #9573
Must be the Hamburg air :D

[2018-07-17 07:04] miri64 commented on #9573
I'll try it with my 16.04 machine as well today.

[2018-07-17 09:40] kYc0o opened #9582 "periph_*: Allow extensions for external periph adapters"
Many times, internal peripherals in a MCU are enough to handle basic operations, like GPIOs, ADCs, DACs, etc. However, for complex applications, extensions for such peripherals are needed, and actually widely used in industry.

Since RIOT aim is to keep the periph interfaces as slim and portable as possible, making extensions to them is indeed a complicated task. The aim of this issue is to explor

[2018-07-17 11:32] kYc0o commented on #9
@maribu AFAIR you were working with this transceiver. Can you confirm the issue?

[2018-07-17 11:37] kYc0o commented on #495
I'd say this is a won't fix and we close the issue. Anyone against?

[2018-07-17 11:40] kYc0o commented on #1263
@jcarrano did you fix this?

[2018-07-17 11:41] maribu commented on #9
I'll have a look into it, as soon as I have some time for it and report back.

[2018-07-17 11:44] kYc0o commented on #1891
So what do we do here? It seems that is also a won't fix...

[2018-07-17 11:45] miri64 commented on #9573
Works like a charm there as well. :-/

[code]

[2018-07-17 11:57] cladmi commented on #8941
I will do something for moving packages tests to their directory after the release.

[2018-07-17 12:12] miri64 commented on #495
I'm against closing this one, as this is fixable (it just takes some heavy investigating). Just closing it with wontfix is a very lazy way of dealing with actual problems ;-).

[2018-07-17 12:36] PeterKietzmann commented on #9573
Actually I think it is. I switched to channel 11 directly after reset and since then (>30 min.) it runs without assertion. I'll let @MrKevinWeiss double-check this behavior. However, that could also indicate bad radio configurations

[2018-07-17 12:39] jcarrano commented on #9573
Left it running for almost an hour. No crashes.

My system (Archlinux):
[code]

[2018-07-17 12:45] kYc0o commented on #4512
But who's willing to fix it? I'd say we close as memo and we have it in the release notes as a known issue.

[2018-07-17 12:47] kYc0o commented on #3366
Is the I2C rework handling this? As far as I can tell, yes, so it would be good if it's referenced somewhere.

[2018-07-17 12:48] miri64 commented on #4512
If it is a known issue for the release then this issue shouldn't be closed..

[2018-07-17 12:48] miri64 commented on #3366
@MrKevinWeiss @aabadie @dylad?

[2018-07-17 13:01] dylad commented on #3366
In the I2C refactoring, when a NACK is received from the device, the I2C function will return -EIO so it is handled as an error.
If a NACK can be use as part of the protocol (not handled as error) then we should add some more work. We must first identify which sensors are using NACK this way.

[2018-07-17 13:08] kYc0o commented on #4512
Ok, I just wanted to find a way to pile more efficiently very old issues, but yeah, I agree closing is not a good way to do it. I thought about a special milestone (like `FIXME First` which existed some time ago) which might help.

[2018-07-17 13:09] miri64 commented on #4512
Maybe a project instead so they can get some kind of staging?

[2018-07-17 13:24] kYc0o commented on #4612
#9006 didn't help on this is it? I guess it wasn't tested for 16bit platforms but I'd like to know if there's a connection.

[2018-07-17 13:30] miri64 commented on #4612
Since the `pkg`'s doc [clearly states](https://github.com/mattconte/tlsf#caveats), that it only work for 32-bit platforms, this issue is a classic example for a `wontfix` ;-). However, I agree with @OlegHahm on

@jcarrano didn't you find something like this?

[2018-07-17 13:46] kYc0o commented on #5051
This is not part of a milestone anymore but I'd ask @miri64 if this issue was somehow addressed by recent networking PRs.

[2018-07-17 13:47] kYc0o commented on #5103
@Josar is this handled by one of your xtimer PRs?

[2018-07-17 13:50] kYc0o commented on #5230
According to #5729 this might have been solved in #7925. @miri64 do you confirm?

[2018-07-17 13:52] miri64 commented on #5051
This might have been fixed with the recent changes to RPL. @cgundogan is it ?

[2018-07-17 13:53] miri64 commented on #5230
Not sure. Remind me to test this.

[2018-07-17 13:54] kYc0o commented on #5561
@jia200x can you confirm if one of your PRs solved this?

[2018-07-17 14:02] kYc0o commented on #5405
Sorry for the noise... is this issue still present? There was a significant rework on networking (although not in xtimer, which might be the cause of the problem)  which might have solved this issue.

[2018-07-17 14:06] kYc0o commented on #5774
@kaspar030 can you confirm that #7776 was the fix for this?

[2018-07-17 14:23] kYc0o commented on #5858
Just tested with at86rf231, at86rf233 and cc2538 with very successful results (100% packets received). kw2x has problems so I'd say there's no problem with 6lo but with the radio driver.

Thus, I close this issue.

[2018-07-17 14:23] #5858 closed

[2018-07-17 14:25] miri64 opened #9589 "application/Makefile: environment settings after inclusion of Makefile.include"
#### Description
Environment variables that are set after the inclusion of `Makefile.include` in an application's Makefile seem to be ignored. This results in e.g. the default channel not to be configurable via environment variables in `gnrc_networking`

#### Steps to reproduce the issue
Try to compile the `gnrc_networking` example with `DEFAULT_CHANNEL` set to a different value than the actual de

[2018-07-17 14:38] miri64 commented on #5405
Can't reproduce anymore, so I deem it fixed.

[2018-07-17 14:38] #5405 closed

[2018-07-17 14:49] cladmi commented on #9589
I think that it is just that it needs to be cleaned between builds. Which is, I agree, a problem.

[2018-07-17 15:00] miri64 commented on #5230
Mh... It seems like the reverse is the case now. Non-link-local multicast addresses are handed up the stack, but are not forwarded anymore :-/

[2018-07-17 15:03] kYc0o commented on #5962
So what would do it? @yschroeder is still a problem for you with the newly added documentation?

[2018-07-17 15:05] kYc0o commented on #6018
@pekkanikander your PR updating the softdevice would solve this issue?

[2018-07-17 15:07] MrKevinWeiss commented on #9573
I tested again with channel 11 instead of the default 26 and it appears that it doesn't fail... Maybe it is the Hamburg air but only the air on channel 26.

[2018-07-17 15:11] kYc0o commented on #6120
@Josar did you fix this issue?

[2018-07-17 15:15] miri64 commented on #5230
This is also kind of difficult to fix at the moment. I'd rather do this after I refactored IPv6 reception when #8511 is through.

[2018-07-17 15:19] miri64 commented on #9589
Yepp, a clean between builds "fixes" the problem ;-).

[2018-07-17 15:34] cladmi commented on #9589
It is true for all `CFLAGS` modified after including `Makefile.include`. Replacing by `CFLAGS_WITH_MACROS` would help there. I will do something about it.

[2018-07-17 15:56] cladmi commented on #9064
I have the same issue here when testing the release. I installed `cmake 3.10.3` in `/usr/local` and it worked. I can try debugging this tomorrow.

[2018-07-17 16:09] MrKevinWeiss commented on #3366
We should distinguish between a DATA NACK and an ADDR NACK.
The HDC1010 temperature/humidity sensor will NACK the address if trying to read data that isn't read and will NACK the data byte if trying to write to a readonly register such as a serial number.

According to the documentation
[code]
So it appears like both cases are covered and the user can handle the logic in the application.  Maybe no

[2018-07-17 16:58] miri64 commented on #9573
Can one of you maybe sniff on channel 26 while the crash is happening to see on what lwIP is killing itself?

[2018-07-17 17:46] #9043 closed

[2018-07-17 18:42] Josar commented on #5103
Why is ther no Test for this? So it can be run from command line?

Every line has errors in the log of a run on jiminy.
Riot/master
[code]

Almost no error, one post every second, just a too fast running timer. But this is expected.
vs https://github.com/RIOT-OS/RIOT/pull/9211

[code]

Maybe adding a test to this which checks if the timer is triggered every second, would be a good idea.

[2018-07-17 20:11] tcschmidt commented on #4512
@tfar any proposal for resolving the issue?

[2018-07-18 05:52] tfar commented on #4512
In general RELIC works on ARM, if you have enough RAM and flash memory. So maybe it makes more sense to whitelist boards with enough memory or something like that.

[2018-07-18 09:38] jcarrano opened #9594 "Q: Is it OK to unlock a mutex on a different thread from which it was locked?"
This question was triggered by the use of a mutex as a signalling device in #9588.

In many OSes (POSIX, Windows), mutexes cannot be released by a thread that did not lock them. RIOT seems to allow that, and thus RIOT's mutex seems to be a more general synchronization mechanism.

If this usage is supported, it should be documented and guaranteed to work. If it is not, there should be a warning to

[2018-07-18 09:51] jcarrano commented on #4612
@OlegHahm @miri64 Take a look at [UMM malloc](https://github.com/rhempel/umm_malloc). It seems quite nice, it's workings are documented and it has very low overhead. Also, unlike TLSF, it has no tunable parameters.

It uses double linked lists, with 16bit offsets instead of pointers, because you will never be managing so much memory in a MCU. I thinks it's simplicity and low overhead could mean th

[2018-07-18 10:02] Josar commented on #5103
@kYc0o the problem with the race condition is because of the high working load. This lead to a always to late target in `_xtimer_periodic_wakeup`. This can be fixed, but then it does not behave like described.

IMHO, its a bad idea to not update the `last_wakeup` if the set target is allready reached as this could lead to a allways late target depending on the period.

[2018-07-18 10:55] kaspar030 commented on #9594
Yes, a mutex can be unlocked from any thread or ISR.

[2018-07-18 11:16] kaspar030 commented on #9594
Should we close again?

[2018-07-18 11:18] kaspar030 commented on #4612
O(1) means it is suitable for realtime code.
tlsf has some other desirable properties, e.g., a paper describing it's fragmentation behaviour.

If those are not needed, what's wrong with newlib's malloc()?

[2018-07-18 11:34] cladmi commented on #9534
Handling two ram regions may be interesting to also into when doing https://github.com/RIOT-OS/RIOT/pull/9104

[2018-07-18 11:52] jcarrano commented on #4612
If the rest of the code is not O(1), then it does not matter. If the allocator is O(n) and n is known beforehand and the worst case fits into the time available, it does not matter either.

I'm using TLSF because you can provide an array and do allocations there. malloc() uses a system-wide pool.

* A leak will last until the device is reset.
* One subsystem can exhaust memory, leading to failure

[2018-07-18 12:05] kYc0o commented on #5796
@jcarrano another issue with tlsf. Do you confirm this one?

[2018-07-18 12:09] Josar commented on #5103
@kYc0o please see https://github.com/RIOT-OS/RIOT/pull/9595 https://github.com/RIOT-OS/RIOT/pull/9596

[2018-07-18 12:15] jcarrano commented on #5796
Steps to reproduce:

- Go to `examples/hello-world`.
- Add `USEMODULE += tlsf-malloc` to the Makefile.
- Recompile.
- Run. I get `Segmentation fault (core dumped)`

Why is this marked as `native`? It should be a problem in **all** platforms.

[2018-07-18 12:22] kYc0o commented on #5103
Thank you @Josar !

[2018-07-18 12:35] #9534 closed

[2018-07-18 13:45] jcarrano commented on #4490
Please see https://github.com/jcarrano/RIOT/blob/tlsf-init-experiments/examples/tlsf-init-test/main.c.
It seems to solve the problem in both embedded (only tried the samr21) and native. ATM it's a rough sketch.

Interestingly, newlib's `preinit_array` is a cross file array!!

[2018-07-18 14:16] jcarrano commented on #5796
@OlegHahm Please see https://github.com/jcarrano/RIOT/blob/tlsf-init-experiments/examples/tlsf-init-test/main.c.

The thing with TLSF is that it does not have any means of requesting more memory from the OS (no `sbrk`) and no way to grow the heap (other than adding pools, but one ends up with a fragmented heap.

What I did in that test was to statically allocate 8MB, which should be plenty.

Anoth

[2018-07-19 01:09] Citrullin opened #9602 "SX1276 UART driver?"
Hey,
I can only find the SPI driver. Is there also a way to use a UART module? Like the E45-TTL-100?
Or do I need to add an own driver for it?

[2018-07-19 09:06] dylad commented on #9602
Hello @Citrullin,
As I know, we currently support SX127x SPI IC but also rn2xx3 (UART) from Microchip, there is also this PR  #9289 for mkrwan.
@aabadie or @jia200x can correct me if I forget one.
If you plan to use another chip, you may have to create your own driver (but you can based your work from rn2xx3 I guess ?)

[2018-07-19 10:45] Citrullin commented on #9602
I soldered a SPI SX1276 module this night. Still struggling with the configuration for my bluepill. But that's another topic. Thanks for your answer, I take later a look into it. Maybe I can add support for it to Riot.

[2018-07-19 11:41] #9602 closed

[2018-07-19 11:46] yschroeder commented on #5962
Oh, this a very old one... I'm not working on my Raspberry Pi RIOT port anymore, so for me this issue is obsolete. Don't know if this would still be a problem for other people though.

I guess it would be a good idea to add a Raspberry Pi with native CPU and allow the use of the GPIOs pins.

[2018-07-19 11:52] kYc0o commented on #8118
@bergzand I think you've fixed this isn't it?

[2018-07-19 11:59] bergzand commented on #8118
Nope, issue still exists

[2018-07-19 12:52] PeterKietzmann commented on #9573
@miri64 I sniffed the traffic back then -> nothing to see in wireshark. I retried now -> nothing to see. This doesn't necessarily mean that (i) there is no other signals on 2,4 GHz which interfere somehow but more dramatically (ii) there is no other 802.15.4 packets [see this comment](https://github.com/RIOT-OS/RIOT/pull/9587#issuecomment-405649141).

When we've been working on #8570 we accidental

[2018-07-19 13:00] kYc0o commented on #8357
So, finally this issue will be solved by which PR?

[2018-07-19 13:02] kYc0o commented on #8287
@Josar did you try @kb2ma suggestions?

[2018-07-19 13:07] kYc0o commented on #8238
Thus, @smlng close?

[2018-07-19 13:18] kYc0o commented on #8388
@kaspar030 @Josar could you take a look on this?

[2018-07-19 13:20] miri64 commented on #9573
I'll try to remember to bring my econotag when I'm in Hamburg, so we can check with it as well.

[2018-07-19 13:34] bergzand commented on #8118
The other thing I noticed is that the radio switched to using the short 802154 mac address.

[2018-07-19 13:35] attdona commented on #8357
This issue will be fixed by #9473

[2018-07-19 13:49] kYc0o commented on #8436
@smlng did you try?

[2018-07-19 14:01] bergzand commented on #8118
So this one is a bit more troublesome. On initialization, `nib.c` issues a netopt set call to set the used source MAC address to the long address. In the netdev layer this is just a flag. On a `NETOPT_STATE_RESET` call, this flag is cleared again. the `nib.c` never received the netopt call, and thus the address length is never reapplied.

I think the best fix here is to have the `NETOPT_STATE_RESE

[2018-07-19 14:14] miri64 commented on #8118
Arghs... Mh... Maybe move the re-initialization to long addresses into a common reset call (#9531) iff `gnrc_sixlowpan` is present?

[2018-07-19 19:24] smlng commented on #8436
nope, not yet ... need to put on my list (again)

[2018-07-20 09:25] Josar commented on #8388
Sound as this could happen.
Can be fixed by disabling interrupts before reading `_xtimer_now()` for comparison in `_xtimer_periodic_wakeup` and also add `interrupt_State` as parameter to  ´_xtimer_set_absolute()` . Then restore when spinnign and at the end of ´_xtimer_set_absolute()`.
Same is valid for `_xtimer_set`.
imho.

[2018-07-20 13:54] kYc0o commented on #8550
I could run all the unittests successfully on OS X. However, for some reason the target `test` throws a timeout, but that's another issue. Thus, closing.

[2018-07-20 13:54] #8550 closed

[2018-07-20 14:02] kYc0o commented on #8752
Jut to confirm that this still is an issue and quite annoying btw... @miri64 any ideas so far? What it has been discussed here is still valid?

[2018-07-20 14:12] miri64 commented on #8752
New ideas (apart from the one proposed in the discussion), no. I still think however that this is a configuration bug / flaw of the application and/or our dependency system.

[2018-07-20 16:05] kYc0o commented on #6123
I tried to reproduce this issue and it really took longtime before crashing, though I didn't exaggerate the number of pings, only 4 instances flooding on vagrant.

Is it expected that RIOT ensures an "eternal" functioning state?

[2018-07-20 16:15] kYc0o commented on #8388
Let's try to fix it for the next release.

[2018-07-20 16:17] kYc0o commented on #5748
So far, I only found issues with the kw2x driver. With at86rf2xx everything works like a charm. Thus, I conclude there's no problem with gnrc.

Ok to close?

[2018-07-20 16:18] kYc0o commented on #4866
This issue would affect gpio expanders, isn't it @ZetaR60 ?

[2018-07-20 19:19] miri64 commented on #6123
It is expected that a system exposed to a network is able to either handle the packets or drop them. Crashing is unexceptable as this leaves doors for DoS attacks open. It is unclear though if it is actually GNRC, RIOT, the `native` sublayer or even Linux' TAP infrastructure that is crashing here. Maybe some simple, complexity-increasing tests (first test a TAP application on Linux, than just `net

[2018-07-20 19:20] miri64 commented on #5748
Might be that #9434 fixed this issue as well.

[2018-07-20 21:00] maribu opened #9619 "ATmega platform issues"
Hi,

it seems something is broken with ATmega platform, but it is hard to tell what.

# Symptoms
## Using `BUILD_IN_DOCKER` or Ubuntu's (latest LTS) toolchain
Basically, nothing works, even `example/hello-world` never produces any output on the terminal

## Using Alpine Linux or the Arch Linux toolchain
- `example/hello-world` works on both Arudino UNO and Arduino Mega2560
- `example/default` work

[2018-07-21 07:00] pekkanikander commented on #6018
I don't know.  I haven't had time to look at this bug.

[2018-07-21 08:56] miri64 commented on #6123
I still can reproduce btw. Maybe in September I find some time to bite myself into this like I did with the leak in `gnrc_pktbuf_static`.

[2018-07-21 09:00] gebart commented on #9619
Can you inspect memory with the limited debugger? If so, check what the memory contents of the mutex is before the call to mutex lock. Also, check that the data and bss initialization is OK

[2018-07-21 09:45] dylad commented on #9619
Could you also try with another toolchain version ? We already encountered issues with the arm-gcc from lastest ubuntu. Maybe this is the same for AVR ?

[2018-07-21 11:10] maribu commented on #9619
@gebart: At least on the Mega2560 (JTag) this should be possible. I believe with the UNO (debugWIRE) it is also possible. Best would be a break point at kernel_init and then dump the memory, right?

@dylad: Sure. Can you suggest any known to work toolchain? Ideally in a docker container, so that I don't need to set up a VM for it?

@dylad: Sure

[2018-07-21 16:12] stegomon commented on #9546
@MichelRottleuthner Thank you for your help.. however, using that branch reading the sensor is not possible at all. The problem causing this is the [mutex lock in read()](https://github.com/MichelRottleuthner/RIOT/blob/dht_fix_lockup/drivers/dht/dht.c#L77).

[2018-07-21 20:15] JohannaOm commented on #5457
Hello!
Does the protocol currently work as a nonbeacon-enabled PAN?

[2018-07-22 17:04] Icaltary commented on #8388
@Josar I'm not sure if disabling the interrupts before / while reading `_xtimer_now()` is a good idea. The current xtimer value (`_xtimer_now()`) comes from a hardware timer that increments an overflow counter (`_xtimer_high_cnt`) in it's interrupt. The `_xtimer_now()` function reads both values and always checks, if it has gotten a valid pair of timer value and overflow counter. However, if you d

[2018-07-22 17:48] Josar commented on #8388
@Icaltary yes thats right. I think this can be solved after https://github.com/RIOT-OS/RIOT/pull/8990/files is merged. And disabling interrupts after `_xtimer_now()` in `_xtimer_set_absolute()` should then suffice.

[2018-07-22 20:43] ZetaR60 commented on #4866
@kYc0o Thanks for the heads up on this. For the gpio_exp interface in #9190 gpio_toggle is affected because it is implemented as a read followed by a write to reduce the number of callbacks stored. For other gpio_exp functions, it depends on the implementation of the specific GPIO expander (#9054 is affected).

[2018-07-23 11:17] maribu commented on #9619
@gebart: The mutex seems to not be initialized correctly:

[code]

I guess RIOT depends on the c library to initialize the .bss section. So this is a toolchain bug.

But honestly, debugging with AVaRICE is so fragile, I'm not really sure if I can trust the output at all. Sometimes AVaRICE tells me that the program was interruped, while I interact with RIOT's shell (and the shell is responsive...).

[2018-07-23 12:23] dylad commented on #9619
@maribu I am not a Docker user so I cannot help you
but google pointed to :
https://github.com/KaDock/avr-toolchain
https://hub.docker.com/r/mkdryden/avr-toolchain/
Hope it will help you.

[2018-07-23 17:18] maribu commented on #9619
@dylad: Thank's for the links. It seems most docker AVR toolchains use the old avr-libc 1.8.0, which is compatible only with legacy GCC compilers. However, the legacy GCC versions don't provide c11 atomics, which are required to compile RIOT. So bad luck on that front.

[2018-07-23 19:09] maribu commented on #9619
Can someone with an Arduino UNO or Arduino Mega2560 try to confirm these issues? @kYc0o: Do you have an UNO and get the default application running on the UNO? If so, does it also work for you with the docker container riot/riotbuild?

I just want to rule out that I have tough luck and my boards are broken.

[2018-07-23 19:39] stegomon commented on #9546
I am using the Atmel SAM R21 Xplained Pro with model number A09-2127 Rev03.

Unfortunately, adding ```mutex_init(&ctx.mutex);``` didn't change anything. Also changing the assert is not changing anything either.

Enabling DEBUG in mutex.h gives the following output:

[code]
And then it stops. Hope this helps.

[2018-07-23 20:46] kYc0o commented on #9619
The UNO has not enough memory to run the default example, it can only run hello-world.

You might also check if the Mega has enough memory to do what do you want to do, shell apps are very memory consuming. Unfortunately, the toolchain won't prevent you to flash overflowed RAM/ROM binaries, so check carefully that you're on the boundaries.

[2018-07-23 20:58] kYc0o commented on #9619
I don't have the hardware right now but the compilation goes smoothly:

[code]

[2018-07-23 21:31] maribu commented on #9619
@kYc0o: Thank's for the info. I can confirm that the `default` is too big to fit the UNO's RAM and the `default` app with the `w5100` driver enabled overflows both falsh and RAM of the Mega2560. I wonder why avrdude does not complain about flashing an image bigger than the available flash.

Maybe the target `print-size` can call e.g. a little python script that takes the available flash and RAM si

[2018-07-24 08:58] MichelRottleuthner commented on #9546
Thanks for providing more information. The problem with the assert is only visible when DEVELHELP is enabled.
With samr21-xpro I am able to reproduce your issue. It looks like interrupt handling on this platform is already to slow for this approach. I just tested if it might be possible to optimize it further but even if you just increment a counter in the ISR it is to slow to catch every flank. I

[2018-07-24 11:17] cgundogan commented on #9064
what are your debugging results? If this issue is fixed with a recent `cmake` version that is included in current Ubuntu LTS versions, then I won't pursue this issue further.

[2018-07-24 13:00] maribu commented on #9619
@kYc0o: [This PR](https://github.com/RIOT-OS/RIOT/pull/9628) adds support for detection of RAM / flash overflow. Sadly some manual work is required: Adding the FLASH / RAM size for each CPU model, if the new feature should be provided

[2018-07-25 03:42] madokapeng commented on #5494
@miri64
Hi, I got this issue from codetriage email. I should not say "assign to me" :)
what is the procedure to solve issues?
is just by looking at open Issues list and pick up one?

Thanks

[2018-07-25 10:01] cladmi commented on #5962
I think the original problem would not be "replace an object from the compilation list" but more "use another gpio MODULE" implementation.
I do not think I would add support for doing changes inside of a module in a "hacky" way, but taking into account that some module should be selectable, even with `periph-` is important.

I will currently close this issue as this original described issue is add

[2018-07-25 10:01] #5962 closed

[2018-07-25 10:39] jcarrano opened #9631 "Makefiles: Remove abuses of FORCE and .PHONY"
# Description

## What

FORCE and .PHONY targets are being abused in RIOT's makefile. For example:

https://github.com/RIOT-OS/RIOT/blob/d6b2a9ed0152a7ddd38d380be9e291d1ed3701a2/Makefile.include#L383

https://github.com/RIOT-OS/RIOT/blob/d6b2a9ed0152a7ddd38d380be9e291d1ed3701a2/Makefile.include#L404

https://github.com/RIOT-OS/RIOT/blob/d6b2a9ed0152a7ddd38d380be9e291d1ed3701a2/Makefile.include#L44

[2018-07-25 13:40] cladmi commented on #9631
I would still say, more important than not rebuilding for nothing, which "only" wastes time, we are currently not rebuilding when necessary https://github.com/RIOT-OS/RIOT/issues/9589 for example which makes the build invalid if you do not do `make clean all`.

But of course both are somehow linked together.

[2018-07-25 13:44] jcarrano commented on #9631
@cladmi Of course they are linked. One can say that building too much is the lesser evil, but we should resist the temptation to work around our "too little built" issues by being overly conservative and forcing things to be build.

[2018-07-25 14:04] jcarrano commented on #9589
@cladmi Why does it matter if the definition is made before or after including `Makefile.include`?

[2018-07-25 14:07] jcarrano commented on #9631
Recursive use of make only complicates matters, see [Recursive Make Considered Harmful](http://aegis.sourceforge.net/auug97.pdf).
The rule that runs the recursive make *has* to be forced, because there's no way for the outer make to know things have not been modified.

[2018-07-26 05:58] cgundogan opened #9638 "murdock: blank page when visiting murdock"
#### Description
[Murdock](https://ci.riot-os.org/) does not show any builds for me.
Firefox tells me:
[code]
Which is reasonable. AJAX is getting it's data from the domain `https://riot-ci.inet.haw-hamburg.de/` and not `ci.riot-os.org`. So, the AJAX domain needs to be updated at Murdock.

It's strange, because [here](https://github.com/RIOT-OS/murdock-html/blob/9e76668bcfb27172d150a2b6c187fa5d15f

[2018-07-26 11:02] miri64 commented on #8511
With #9484 merged now this means the basic refactoring work is finished. @cgundogan are you planning to provide a paging module? @A-Paul did you follow the progress of this PR for your work on GHC?

[2018-07-26 12:21] roberthartung commented on #8086
ping @cgundogan still an issue?

[2018-07-26 15:38] cladmi commented on #4053
I fell on a related issue because `libfixmath_unittest` uses `__FILE__` for outputing the file name. Which makes the size of the build firmware vary with the build path. So I took some time to read about it.

From my tests, the issue mentioned here is only present for `inline` functions and not macros.
* inline functions, `__FILE__` and `__LINE__` are evaluated as the header and `RIOT_FILE_RELATIV

[2018-07-26 16:29] cladmi commented on #9589
It is used but does not trigger rebuild through the `$(RIOTBUILD_CONFIG_HEADER_C)`

[2018-07-27 09:46] jcarrano commented on #9589
@cladmi Any reason for the current behaviour of:

[2018-07-27 15:07] cladmi opened #9645 "Different build behavior between `murdock` and `riot/riotbuild:latest` image"
#### Description

Compilation behavior is different between `murdock` the `docker` image with `BUILD_IN_DOCKER=1` even with `RIOT_CI_BUILD=1`.

It makes things hard to debug and understand the root cause of problems.

Like for the following PRs:

https://github.com/RIOT-OS/RIOT/pull/9362 Warnings only on murdock
https://github.com/RIOT-OS/RIOT/pull/9605 Warnings only on murdock with llvm
https://g

[2018-07-27 15:08] cladmi commented on #9645
@kaspar030 @smlng I think you are the person who would know the more about it

[2018-07-27 16:33] cladmi commented on #9645
Other issue,  `RIOT_FILE_RELATIVE` is not really relative in `docker`:

[code]

Outside I get:

[code]

Which can easily explain build size difference when `RIOT_FILE_RELATIVE` is used.

[2018-07-28 06:40] cladmi commented on #9589
From searching history with `git log -G CFLAGS_WITH_MACROS` it was introduced by `77a15e7886c978161fb1bf442cc5a82226571cd2` which comes from https://github.com/RIOT-OS/RIOT/pull/5097 PR. It was both to fix the rebuild issue and clean the output https://github.com/RIOT-OS/RIOT/issues/5092.

To keep both introduced behaviors, without fixing any other non rebuilding issue for the moment, I would go f

[2018-07-28 06:50] cladmi commented on #9589
I can provide a PR with this but may like some feedback on naming and such before.
@jcarrano @gebart

[2018-07-30 09:16] #9638 closed

[2018-07-31 10:50] cladmi commented on #8267
I will look at it.
I think it would require to move the default out of `dist/tools/git/git-cache`:

[code]

To have access to the value in the build system.

[2018-07-31 13:15] cladmi commented on #8267
I proposed something in #9651

The difference from this issue description is that you say "default settings" whereas I only did it if the ${GIT_CACHE_DIR} is defined and exists, I do not create one.

[2018-07-31 16:32] PeterKietzmann opened #9656 "gnrc/netif: various problems after resetting interface a second time"
#### Description
After resetting the network interface more than once, a node is not able to receive packets anymore.

#### Steps to reproduce the issue
Flash *examples/gnrc_networking* on two nodes A and B. Ping from node A to B via
`ping6 <node B link-local IPv6 address>` .
Reset the network interface on node A via
`ifconfig 7 set state reset`.
Ping should still work. Reset the network interface

[2018-07-31 16:38] miri64 commented on #8118
From the comments there I'm not sure #9616 actually fixed it, so I'm reopening for now

[2018-07-31 16:43] PeterKietzmann commented on #8118
It does fix the issue described above. However, there are still other issues currently which look similar. I opened a new issue for that #9656. Agree to close this again?

[2018-07-31 16:43] PeterKietzmann commented on #8118
Furthermore, this is not atrf2xx specific (anymore)

[2018-07-31 17:13] miri64 commented on #8118
Ok, closing in favor of #9656.

[2018-07-31 17:13] #8118 closed

[2018-07-31 18:02] cladmi commented on #8408
This should now be fixed now that #9507 is merged.

The fix I merged was disabling the tests for now.

[2018-08-01 07:29] smlng opened #9664 "netdev: unicast receive fails after 2 NETOPT_STATE_RESET"
#### Description

When running `examples/gnrc_networking` on (likely any board) eg. `samr21-xpro` or `pba-d-01-kw2x` the node does not respond to unicast (to its link local address) pings after 2 soft-resets, i.e. calling `ifconfig 7 set state reset`. However, the node does respond to multicast pings e.g. on `ff02::2`.

#### Steps to reproduce the issue

- flash and enter shell for `examples/gnrc_

[2018-08-01 07:30] smlng commented on #9664
close because of #9656

[2018-08-01 07:30] #9664 closed

[2018-08-01 07:31] smlng commented on #9656
copied from (my) duplicate issues:

#### Description

When running `examples/gnrc_networking` on (likely any board) eg. `samr21-xpro` or `pba-d-01-kw2x` the node does not respond to unicast (to its link local address) pings after 2 soft-resets, i.e. calling `ifconfig 7 set state reset`. However, the node does respond to multicast pings e.g. on `ff02::2`.

#### Steps to reproduce the issue

- flash

[2018-08-01 07:32] smlng commented on #9656
just to be clear: after more than 1 reset the node does not receive unicast packets but does receive and handle multicast packets.

[2018-08-01 13:50] cladmi commented on #9656
I am not mistaken @bergzand talked about this issue

[2018-08-01 13:51] miri64 commented on #9656
I'll have a look.

[2018-08-01 14:13] miri64 commented on #9656
Mhhhh... I'm so sure this is a GNRC netif problem. Yes, the problem occurs with multiple radios, but when I put the following patch in

[code]

I get the following output:

[code]

So after the double reset the device doesn't trigger the RX_COMPLETE event (meaning the `irq_handler` isn't even fired).

[2018-08-01 14:13] miri64 commented on #9656
For multicast however they are :-/.

[2018-08-01 14:14] miri64 commented on #9656
So maybe something happens to the address configuration to most of those devices on reset.

[2018-08-01 14:20] gschorcht opened #9667 "sdcard_spi: compilation error"
When I try to compile module ```drivers/sdcard_spi```, I get the following compilation error:
[code]
Reason is that parameter ```argument``` is defined to be of type ```uint32_t``` which is ```unsigned int``` on my platform (ESP32), but the format specifier ```%08lx``` requires ```unsigned long```.

Since the definition of type ```uint32_t``` can vary from platform to platform, either the paramete

[2018-08-01 14:25] miri64 commented on #9656
Yeah... have a look at that:

[code]

Before the second reset the short address is `2d:56` and the EUI-64 is `15:11:6b:10:65:fc:ad:56`, after the second reset the short address is `2d:52` and the EUI-64 is `15:11:6b:10:65:fc:ad:52`, so the last byte changed for both addresses for some reason. Both [`at86rf2xx`][1] and [`kw2xrf`][2] use the `luid_get()` function to generate the address, which has t

[2018-08-01 14:29] miri64 commented on #9656
@PeterKietzmann The title says "various problems", but the issue description only goes into the reception problem (so does @smlng). What are the other problems? If this is the only problem, mind that we rename it `drivers/*: get_luid() not idempotent` or something, to reflect the cause I demonstrated?

[2018-08-01 15:50] cladmi commented on #9656
The PR was chosen to replace https://github.com/RIOT-OS/RIOT/issues/8118 so just check if renaming it does not hides known problems.

[2018-08-01 15:52] PeterKietzmann commented on #9656
@miri64 I just chose this title after @bergzand stated

and @smlng asked me to open an issue that is more generic than a single driver implementation. Feel free to change to whatever fits better.

[2018-08-01 15:59] cladmi commented on #9656
@miri64 from the documentation it's normal that `luid_get` returns different values, so it should be more an issue that the driver don't save the value.

It could be replaced by a new call `luid_set_t luid_get_seed(..., luid_set_t *seed)` that returns the `lastused` value and accepts taking it as input to generate the corresponding key. It would allow saving only the `lastused` part in the driver.

[2018-08-01 16:02] cladmi commented on #9645
Also if it's possible to have an archive of the currently  used image. I could diff with my local docker image and try to find the reason.

[2018-08-01 16:34] miri64 commented on #9656
@cladmi:

What PR are you talking about?

That might be a good solution. AFAIK the `lastused` global context was introduced to allow for multiple interfaces to have different link-layer addresses (interesting though, that the first reset doesn't have any effect...), so the intention is valid, but the execution wasn't thought through.

@PeterKietzmann

Ok, let's wait for a solving PR to or some exp

[2018-08-01 16:41] cladmi commented on #9656
@miri64 I meant "this issue", too much used to talk about PRs.

Ok. The drivers could also save the address somewhere as the default link layer address. A new call is only to, maybe, save some RAM by saving just the seed instead of the link layer address. At least it could be compared.

First thing could be a simple test, where the address is printed each time after a reset and should be the same

[2018-08-01 16:52] miri64 commented on #9656
Well it does that already in the `netdev_ieee802154_t` struct, but @bergzand is already working on getting those layers nicely separated I would like to avoid the device to access those members directly.

[2018-08-01 17:56] cladmi commented on #9214
I will close this as it has been solved, according to IRL discussions we had. Please re-open if it is not the case.

[2018-08-01 17:56] #9214 closed

[2018-08-01 19:13] bergzand commented on #9656
My current idea for netdev is to remove the link layer address members from the netdev structs. This because IMHO there is no need for netdev to remember the link layer address if the higher layer (gnrc, lwip etc) already have the link layer address.

The getters and setters are only necessary to get the ll address if the interface has one by default (e.g. netdev_tap) and to set the address for ll

[2018-08-01 19:45] miri64 commented on #9656
This I find unacceptable. The network device should still be able to be idempotent on its own.

[2018-08-01 20:16] #9667 closed

[2018-08-01 20:26] bergzand commented on #9656
I agree with you on this.

My idea was to have the upper layer generate the link address on init and call the setter on the netdev device to configure it for the LL filter on the hardware. In a certain way the LL address would be handled similar to the way the `NETDEV_FLAGS_` are handled now, they have to be set when the netdev instance is initialized or reset.

[2018-08-02 08:47] miri64 opened #9680 "pkg: cayenne_lpp: different results with LLVM"
#### Description
When building with LLVM (see #9398) `cayenne_lpp` produces different results.

#### Steps to reproduce the issue
First, verify (on a Linux machine, since most OSX setups just link `clang` as `gcc`) that it works with default toolchain (`gnu`):

[code]

[code]

Then build with LLVM:

[code]

[code]

#### Expected results
`cayenne_lpp` test should produce same results

#### Actual r

[2018-08-02 08:55] cgundogan commented on #8436
@smlng might #9406 be a solution for this problem?

[2018-08-02 09:15] smlng commented on #8436
@cgundogan nope doesn't help same error, seems openocd also only write the first (256K) flash bank but not to the second if the binary is larger

[2018-08-02 10:08] cladmi commented on #9680
It is just a difference in floating point precision handling. It looks like `llvm` is using the same configuration as when cross compiling. It should simply use the other value if native and llvm:

[code]

[2018-08-02 11:45] miri64 commented on #7035
Seems like it was an issue in lwIP after all, since I can't reproduce it in master anymore and 41eb29521f259a7d20 is the first one where it worked.

[2018-08-02 11:45] #7035 closed

[2018-08-02 12:49] MrKevinWeiss commented on #3366
Now that the rework is here should we do something with this PR?

[2018-08-02 13:35] dylad commented on #6577
I'm closing this since the new I2C interface has been introduced :)

[2018-08-02 13:35] #6577 closed

[2018-08-02 14:07] #9680 closed

[2018-08-02 15:33] pokgak opened #9686 "examples: gcoap: failed assertion when using "post" or "put" with no port number"
#### Steps to reproduce the issue
Use `coap` with `put` or `post` without specifying the port number.
`coap put fe80::c439:e7ff:fe28:a62 /cli/stats 5`

#### Expected results
Print usage:
[code]

#### Actual results
Failed assertion:
[code]

#### Versions
Ubuntu 18.04
[code]

[2018-08-02 22:57] kYc0o opened #9690 "periph/gpio: enable API usage for expanders"
This issue aims to track the progress on the definitions for the GPIO API extensions, and its implementations on the corresponding CPUs.

  - [ ] API proposal
  - [ ] Tests
  - [ ] CPU implementations

[2018-08-02 22:58] kYc0o commented on #9690
@ZetaR60 I think #9190 should be splitted into the proposed steps to ease the merging. Please feel free to propose new steps or modify the current ones if you feel so.

[2018-08-02 23:04] ZetaR60 commented on #9582
My proposal for implementing this. Most of this can been seen in #9190, but there are a few small differences.

1. Any periph interface that is addressed with some form of ID reserves the leading bit of that ID for use by the extension interfaces. This includes of course, GPIO, ADC, DAC, but also perhaps even I2C, SPI, UART, etc. Making this a general policy for all of the addressed interfaces wou

[2018-08-03 06:43] PeterKietzmann commented on #9686
Fixed in #9688

[2018-08-03 07:46] dylad opened #9692 "BOSSA/arduino-due based board possible issue"
#### Description

I am suspecting a bug in the BOSSA use for arduino-due based board. I was playing with arduino-zero like board and I tried to flash it using BOSSA, I borrowed the Makefile.include from common/arduino-due folder.
I was able to flash but app doesn't run after reset.
I found out I need to add the dedicated linker script (behaviour taken from sodaq-explorer Makefile.include).
After t

[2018-08-03 09:45] cladmi opened #9694 "IoT-LAB testbed-support enhancements"
List of things that I would like to improve on the IoT-LAB integration with `IOTLAB_NODE`.

https://github.com/RIOT-OS/RIOT/blob/master/dist/testbed-support/makefile.iotlab.single.inc.mk tool. W

* [ ] Handle `native` to ignore `IOTLAB_NODE`. No running everything with `IOTLAB_NODE=auto-ssh` just puts a warning.
* [ ] Handle tools not installed
* [ ] Factor things in common with the other iotlab s

[2018-08-03 11:50] leandrolanzieri opened #9695 "SPI Mode 2 & 3 problems in sam0_common cpu"
#### Description
SPI modes 2 & 3 have incorrect clock signals on samr21-xpro board or anything with the sam0_common cpu.

#### Steps to reproduce the issue
On the samr21-xpro run tests/periph_spi looking at PB22 and PB23
[code]

If scoped you should see the above waveforms on the MOSI/SCK

#### Expected results
**> Correct waveforms**
This are the spected waveforms for each SPI mode (0 to 3), by c

[2018-08-03 13:23] miri64 commented on #9645
At least for the LLVM thing @kaspar030 found a reason: https://github.com/RIOT-OS/RIOT/pull/9398#issuecomment-410248593

[2018-08-03 13:57] miri64 opened #9696 "pkg: gecko_sdk: can't build with LLVM"
#### Description
When testing for #9398 locally I wasn't able to build any board that uses `gecko_sdk` with LLVM/clang, but this should be possible, because AFAIK they are Cortex-M based.

#### Steps to reproduce the issue
Try building any application for a board using `gecko_sdk` using LLVM/clang, it will fail on an "unknown warning option":

[code]

#### Expected results
Should build with LLVM.

[2018-08-04 07:29] spirit900 opened #9708 "Error when compiling native"
#### Description

Cannot build hello-world application for native  board.

#### Steps to reproduce the issue

Hello! I use Ubuntu 14.04, gcc 4.9. I have compiled Hello-world for bluepill without any problem. But then tried the same for native, it's return this:

"make" -C /home/pavel/Desktop/STM32_RIOT/RIOT-master/boards/native
"make" -C /home/pavel/Desktop/STM32_RIOT/RIOT-master/boards/native/dri

[2018-08-04 08:10] bergzand commented on #9379
@jcarrano I'm not sure what you're trying to say with your arguments. I hope you do realize that priority inheritance protocol is not supposed to fix deadlocking issues, but is to improve the WCET of high priority threads.

To me, your statement that priority inheritance protocol solves a design time problem at run-time sounds a bit naive. Do you have something to back this claim?

If you like I c

[2018-08-04 14:25] miri64 opened #9709 "examples: failed assertion in dtls-echo example"
#### Description
The `dtls-echo` example fails an assertion when trying to send between 6Lo nodes with global addresses.

#### Steps to reproduce the issue
Compile `dtls-echo` with `USEMODULE += gnrc_rpl auto_init_gnrc_rpl` flash it to two nodes

Flash a third RIOT node with `gnrc_networking` and configure it as a root:

[code]

Start a DTLS server on one of the `dtls-echo` nodes:

[code]

Send a

[2018-08-04 15:03] rfuentess commented on #9709
I got a similar issue with the gcoap example, but I was unable to determine if there was a faulty commit affecting both cases. I tried with this specific example, due it was the base for some parts of dtls-echo.

[2018-08-04 19:49] miri64 commented on #9708
Hi, I think (but can not confirm) in older ubuntu versions the package was called `ia32-libs`. Hope that helps.

[2018-08-05 15:37] Citrullin opened #9712 "Something similar to shiftIn (Arduino)?"
Hey,
the shiftIn function is really useful. I just don't rewrite this function. So I wanted to know if there is something similar in RIOT OS. I haven't found it yet in the API docu.

[2018-08-06 06:41] PeterKietzmann commented on #9712
AFAIK there is no such function. We have a (small) collection of bit operations in [bitarithm](https://riot-os.org/api/bitarithm_8h.html) but no helper for shifting.

[2018-08-06 07:43] #9696 closed

[2018-08-06 09:51] cladmi commented on #1891
I added some reference in the coding conventions:

https://github.com/RIOT-OS/RIOT/wiki/Coding-conventions#-wformat

Feel free to add more informations and rephrase.

[2018-08-07 08:58] #9686 closed

[2018-08-07 10:13] MrKevinWeiss commented on #3366
@dylad Do you want to investigate further? I tend to think special i2c protocols should be handled in the higher levels.  We should only support the read/write reg functions since they are common.  If we all agree then I think we can close this issue.

[2018-08-07 10:27] miri64 commented on #9709
Tried on IoT-LAB also and can not reproduce anymore :-/

[2018-08-07 13:38] danpetry commented on #9342
# State of development
Please update this list as required so that we all know what we're up to

## Development branches
Here's a list of active branches where people are developing. Please add a short description if you can get around to it.
https://github.com/kYc0o/RIOT/tree/hackathon_suit_2018  - Paco dev branch
https://github.com/kYc0o/riot-ota-server/tree/master/otaserver - OTA server (Paco f

[2018-08-07 13:49] rfuentess commented on #9709
I was wondering the chances that IoT-Lab was the source of the issues instead of the code. I was getting similar behavior even with previous commits that were well tested. But sadly, without physical nodes, I was unable to confirm my suspects.

[2018-08-07 14:01] miri64 commented on #9709
Ok, then let's keep this open as a known issue for this release (@cladmi ?) in case it pops up again.

[2018-08-07 14:36] cladmi commented on #9709
check

[2018-08-07 15:55] #8476 closed

[2018-08-07 19:03] dylad commented on #3366
@MrKevinWeiss We can investigate it further but I'm currently in holidays so you'll have to start without me.

[2018-08-08 07:13] miri64 commented on #9709
@rfuentess I retested on testbed in `lille` and `saclay` now (with static routes though) and I still wasn't able to reproduce :-/

[2018-08-08 09:42] Citrullin opened #9737 "Coding convention: Dependency injection"
Hi,
I am working on creating a PR for the shiftIn topic: https://github.com/RIOT-OS/RIOT/issues/9712
Since I need gpio and it is a module I asked myself how to get it into bitarithm. One nice solution could be dependency injection with a pointer function. So, I just want to know if this the way to go or if the RIOT contributors prefer something different.

[2018-08-08 10:13] miri64 opened #9739 "lpc2387: non-ARM statement in naked function"
During my efforts to better our LLVM/clang support (see #9398, #9730) I noticed that for our `lpc2387` boards I get the following error when compiling with `TOOLCHAIN=llvm`:

[code]

I've done some research and found conflicting meanings for the `naked` attribute. The [GCC manual](https://gcc.gnu.org/onlinedocs/gcc-3.1/gcc/Function-Attributes.html) only states

[This source](http://www.keil.com/su

[2018-08-08 10:13] miri64 commented on #9739
@maribu maybe you want to have a look as well.

[2018-08-08 10:41] gebart commented on #9737
I suggest you create a new module, preferably under drivers, since the shiftIn function is basically one half of a bit banging SPI implementation. Don't put it in core/bitarithm, core is used only for important core kernel functionality, such as task switching and IPC .

[2018-08-08 10:43] gebart commented on #9739
Not sure. Is arm_reset the system entry point? It might be bad to start the system by pushing some nonsense onto the stack.

[2018-08-08 11:01] kaspar030 commented on #9737
if it is plain logic code, wouldn't sys/ make more sense?

[2018-08-08 11:49] jcarrano commented on #9739
@gebart The entry point in ARM is `Reset_Handler`.

@miri64 The `naked` attribute should be removed. It is wrong write anything but `__asm` statements inside a naked function (which `arm_reset` does). The attribute not necessary because it is not called at startup.

It seems  `arm_reset` (beatifully undocumented, btw)  is only called from within `pm.c`. While I have not read the datasheet, I assum

[2018-08-08 12:13] gebart commented on #9737
But it is not, at least not according to https://www.arduino.cc/reference/en/language/functions/advanced-io/shiftin/

[2018-08-08 12:55] cladmi opened #9742 "`buildtest` uses wrong build directory"
#### Description

When building using `buildtest` the build is not using the BOARD `bin/$(BOARD)` directory but the default BOARD defined in the application Makefile `BOARD ?= native`.

This also has consequences on `dist/tools/compile_test/compile_test.py` which is using `buildtest`.

*EDIT*: This only happens when setting variables on the command line as then the `MAKEOVERRIDES` from here are do

[2018-08-08 22:07] basilfx opened #9743 "Module rtt_stdio and vfs not working together"
#### Description
I'm unable to run some examples with `rtt_stdio` in combination with `vfs`. Stdin seems to be looping, and no input is accepted.

I can confirm it somewhat works, as I can see the RIOT boot message.

I am using an EFM32 SLSTK3402a, but I don't think it's a board issue.

#### Steps to reproduce the issue
* Checkout master
* Modify `examples/default` and add `USEMODULE += rtt_stdio

[2018-08-08 22:08] basilfx commented on #9743
Maybe @samkumar has an idea?

[2018-08-09 17:43] gschorcht opened #9753 "periph/i2c: Possibility to set I2C bus speed is missing in new I2C"
With new I2C the ```speed``` parameter was dropped in the ```i2c_init``` function.

The reason was explained in PR #6576: "... As I2C is not like SPI, where each device on the bus can be interfaces with a different clock speed, the bus clock for I2C buses needs to be assigned globally for all devices on the bus, so we might as well define it as part of the I2C config in the boards periph_conf.h. .

[2018-08-09 21:46] dylad commented on #9753
I disagree with you on this point, I2C is not designed to be a plug’n’play system like USB. What I mean here is that sensors are already present on a board, so we know them and there is no need to enumerate or scan throught available services/capabilities (like Bluetooth). In addition, add the speed parameter to the device description could work, but if you have several sensors on the same bus, we

[2018-08-10 18:49] gschorcht commented on #9753
This is probably the case for special boards like the IoT-LAB M3 open node, but not for generic boards like Arduino*. From the board definition's point of view, the sensors connected at I2C bus are unknown for such generic boards.

Should it really be RIOT's concept of board definitions that the application developer changes the board definition for a generic board according to his requirements? T

[2018-08-11 06:44] cladmi commented on #9656
As mentioned in https://github.com/RIOT-OS/RIOT/pull/9616 I would find it great to have a test for these issues. Single node test if possible or in the https://github.com/RIOT-OS/Release-Specs if they require two nodes for testing.

[2018-08-11 06:57] cladmi commented on #9001
This looks related to https://github.com/RIOT-OS/RIOT/issues/9619 so "only" an issue that the avr toolchain/build system currently does not detect the overflow correctly.

[2018-08-11 14:05] kYc0o commented on #9001
Nope, this example builds and flashes correctly on arduino-mega2560 with XBee for instance. The issue is already detected and it needs just a part of #9130 to be fixed.

[2018-08-11 15:56] dylad commented on #9753
is this an issue ? This is also true for PWM, ADC and so on. If you are using an Arduino board with different daughter boards you're likely to change so ADC or PWN channels because these modules doesn't use the same pins, or you need to add a second UART definitions because your GSM module is a fancy model with GPS.
Modify the periph_conf.h file as an app developer must be done very often especial

[2018-08-11 16:30] cladmi commented on #8444
This one should have a dedicated automated test I think. It would make it more visible.

[2018-08-11 16:43] cladmi commented on #7846
@aabadie ping as it was listed in https://github.com/RIOT-OS/RIOT/projects/16

[2018-08-11 16:48] cladmi commented on #8446
@aabadie also found this while listing the release issues you may know more about it

[2018-08-12 18:49] DipSwitch commented on #8242
This is the same bug as described under: https://github.com/RIOT-OS/RIOT/pull/7276#issuecomment-412254790

It has been tried to be fixed with PR's: #7115 #7275 #7276 #8186

[2018-08-12 21:38] DipSwitch commented on #5486
Please look at my write-up under https://github.com/RIOT-OS/RIOT/pull/7276#issuecomment-412254790

[2018-08-12 21:50] DipSwitch commented on #5218
It could also miss a memory barrier depending on what you mean, __asm__("instruction" : R : W : clobbers )

Where clobbers is, "memory" can be placed, this means the C lines above and below the assembly lines may never be moved over the assembly lines.

[2018-08-13 07:00] MrKevinWeiss commented on #9753
Since I2C speed is dependent on the pullup resistor value and the pullups are a board feature and not a sensor/daughter board feature (you don't want multiple resistors in parallel) I think it should stay the way it is.  This also happens to be less work since it is already done...  Does anyone have an example of a sensor that cannot receive and I2C clock less than 400kHz?

[2018-08-13 09:05] MrKevinWeiss opened #9766 "Initial UART data corruption with libfixmath test after flash"
#### Description
It appears that sending lots of data after flashing has corrupted data when using `make flash term BOARD=...`.    I tried this on nucleo boards and samr21 with the same result.  I tried adding extra timeout after resetting.  If a reset button is pressed after the it seems to be able to handle the data.  If a sleep or delay is added before spitting out data in the main function if

[2018-08-13 09:54] cladmi commented on #9342
For *binflash* I would also have a dependency of `FLASHFILE`: https://github.com/RIOT-OS/RIOT/pull/8838

And I am thinking, why do we even need to do `binflash`. Flashing a binary means having both a file and an address. And this could be done by generating an `ihex` file instead.

[2018-08-13 11:36] cladmi commented on #9460
As you raised the issue in the first place, do you mind updating the documentation now that https://github.com/RIOT-OS/RIOT/pull/9635 is merged ?

[2018-08-13 12:49] cladmi commented on #9766
More precision, it is when doing `make flash test` and so in practice having `make term` open and then `make reset`. Which should after reset, have the first node output in the terminal.

[2018-08-13 13:00] kYc0o commented on #9342
As far as my early tests went, it was very complicated to manage ihex files especially when you want to flash bootloader + image (slot 1 or 2). Then build an hex file with such information was very challenging at that time. To speed up things, and make something more reliable I used bin files flashed at the needed address.

Now we have all the information we need to know where to flash, so I'd say

[2018-08-13 13:14] cladmi commented on #9052
Note from the release tests, it is also broken on `stm32discovery` where the test detects the failure.

* arduino-mega2560: stuck after TRICKLE_RESET
* arduino-uno: stuck after TRICKLE_RESET
* stm32discovery: test failure detected by firmware

[2018-08-14 08:40] kaspar030 commented on #9753
IMO, ```i2c_set_speed()``` should be present. All periph/i2c implementations need the corresponding code anyways, so this is just a matter of factoring it in its own function.

This would also be the entry point to hot-pluggable i2c devices, or at least pluggable without re-compilation. Work is being done in that direction (by e.g., the rapstore guys).

While for compile-time compilation that is n

[2018-08-14 09:17] maribu commented on #9739
I can confirm that @jcarrano is correct. See https://github.com/RIOT-OS/RIOT/pull/9773. I tested and the `reboot` shell command, which in turn calls `pm_reboot`, which in turn calls `arm_reset`, still works.

[2018-08-14 09:53] gschorcht commented on #9753
@MrKevinWeiss

Introducing such a function should not require to much work following the ```#define HAVE_*``` approach. The function would have to be declared in ```driver/include/periph/i2c.h```.  In ```driver/periph_common/i2c.c``` a function dummy could be defined which simply returns ```-EOPNOTSUPP```. This dummy is only compiled if ```HAVE_I2C_SET_SPEED``` is not defined. The implementation o

[2018-08-14 12:06] benVolatiles opened #9775 "hello-world example crashes on BOARD=nucleo-f446re"
#### Description

Current RIOT master fails to run on the [Nucleo-F446RE](https://www.st.com/en/evaluation-tools/nucleo-f446re.html) eval board.

#### Steps to reproduce the issue
I checked out the latest RIOT master (2018.10-devel-463-g0c14681a3) and ran `make BOARD=nucleo-f446re flash` in `/examples/hello-world`.

#### Expected results
[code]

#### Actual results
No output could be observed on `

[2018-08-14 14:09] miri64 commented on #9064
The issue is made more obvious, but not fixed IMHO.

[2018-08-14 17:26] kYc0o commented on #5748
I'll remake the tests to configure the cases you mention and give a more complete feedback.

[2018-08-15 11:26] kYc0o commented on #5561
@jia200x did you? Maybe this can be tackled by your efforts on coding conventions compliance?

[2018-08-15 11:27] jia200x commented on #5561
@kYc0o sorry, I completely forgot. I will try to find some time today.

Makes sense

[2018-08-15 11:27] kYc0o commented on #7800
Now that the module is completely deprecated (for 2 release cycles), can we close this issue?

[2018-08-15 11:33] miri64 commented on #7800
It's still not removed... So I'd vote against it, but I wouldn't block a close either, if people think it should be closed.

[2018-08-15 11:34] miri64 commented on #7800
Ah, but we can remove it now :-)

[2018-08-15 11:37] kYc0o commented on #8446
I'd tend to say that this is solved with the recently I2C merged work. Anyone can confirm an thus close the issue?

[2018-08-15 11:39] kYc0o commented on #7800
👍 thumbs up to remove it!

[2018-08-15 11:54] miri64 commented on #7800
Already asked @nmeum to rebase #8793 ;-)

[2018-08-15 14:13] bergzand commented on #9342
For the bootloader, the mimimal set of required metadata is this:
[code]

 - **magic_number**: To indicate that a firmware metadata field is located here.
 - **version**: Version of this firmware. The bootloader will boot the firmware with the highest version number
 - **start_addr**: Start address of the firmware. This way the bootloader can easily work with variable metadata sizes.
 - **chksum**

[2018-08-15 14:31] bergzand commented on #9342
# Documentation todo

- dependencies
  - CPU peripherals required
  - metadata format and bootloader interaction

- metadata fields
- CPU initialization (happens twice)

[2018-08-15 15:26] maribu commented on #7734
@temmihoo, @nmeum: Could the (already merged) PR be a starting point for further code de-duplication? https://github.com/RIOT-OS/RIOT/pull/9126

[2018-08-15 15:43] maribu opened #9784 "enc26j60 stuck in a loop"
# Description
The enc28j60 driver occasionally stucks in the following loop:

https://github.com/RIOT-OS/RIOT/blob/90c4ddcfb135ea7c7ac01528938c5038a37abaab/drivers/enc28j60/enc28j60.c#L469-L472

# Steps to reproduce the issue
Let the enc28j60 receive a lot of traffic and wait for some time. In my hostile network environment I have to wait for something between 2 seconds to 60 seconds for the drive

[2018-08-15 15:49] maribu commented on #9784
Btw: This seems to occur only the next packet received after receiving a packet bigger than the buffer (`[enc28j60] recv: unable to get packet - buffer too small`). But it doesn't occur every time an incoming packet was dropped.

[2018-08-15 19:19] keestux opened #9785 "AT parser driver improvements"
Hi,

With this "issue" I want to be able to give some feedback about the AT parser driver, and also start a discussion about its usage.

Besides the normal code documentation there is no description how the driver is supposed to be used. Also for the URC part there is no real description.

[2018-08-15 19:30] keestux commented on #9785
To start of with a first simple question. Let's look at some code duplication. At least, it's almost duplication, which deserves an explanation.

    int at_send_cmd(at_dev_t *dev, const char *command, uint32_t timeout)
    {
        size_t cmdlen = strlen(command);

        uart_write(dev->uart, (const uint8_t *)command, cmdlen);
        uart_write(dev->uart, (const uint8_t *)AT_SEND_EOL, AT_SEND

[2018-08-16 08:48] kaspar030 commented on #9785
Thanks for working on this!

Same answer as last time: two authors, no time. No reason not to refactor.

[2018-08-16 09:32] vincent-d commented on #9785
True, but there is one reason though. In `at_send_cmd_wait_prompt` the EOL is different on purpose.

Normal case, we send:  `AT+CMD\r` we receive `AT+CMD\r\r\nOK`.
In case of a prompt: we send `AT+CMD\r`, we receive `AT+CMD\r\n>`.
That's why there are 2 different functions. But I think it could be improved by making the prompt character configurable as it seems some device use different prompt cha

[2018-08-16 10:07] PeterKietzmann commented on #9784
@haukepetersen, @gschorcht, @smlng might be interested

[2018-08-16 10:31] cladmi commented on #9342
Notes about `flashbin`:

### edbg

 `edbg` is already flashing binary files.
An offset from the start address can be given using `-o|--offset` the PR currently uses this as an absolute address which is wrong in general. So flashing a binary from start address works.

Some work is only required to disable erasing everything and supporting flashing from an `offset` of the start address. Which is onl

[2018-08-16 15:32] HendrikVE opened #9789 "Repeating definitions in the web api documentation"
#### Description
In the API documentation on the web are several tables with repeating items.

#### Steps to reproduce the issue
Open the [api](https://riot-os.org/api/cc2538_2include_2periph__cpu_8h.html#a491a2cbfb4e94f2afcc0d5bdef2dc454) in a browser.

#### Expected results
Only one definition per item

#### Actual results
GPIO_OD_PU is defined 3 times there, always with another definition. Its

[2018-08-16 20:28] basilfx commented on #9743
Issue can be closed if #9790 gets merged.

[2018-08-17 11:52] PeterKietzmann commented on #5457
My initial concern has been fixed but if I see it correctly, this issue raised the question about the need for short addresses in non-PAN-coordinated networks in general. Is that correct?

[2018-08-17 13:38] PeterKietzmann commented on #9775
Thanks for reporting this issue. Could you `git bisect`? I think people just used that board recently.

[2018-08-17 13:49] PeterKietzmann commented on #9692
@leandrolanzieri maybe look at this one?

[2018-08-17 13:49] #9737 closed

[2018-08-17 14:16] kYc0o commented on #9692
Can you paste the output of `arm-none-eabi-readelf -S` of the generated ELFs with and without the adapted linker script?

[2018-08-17 15:13] leandrolanzieri commented on #9692
I just tested a few examples on the arduino-due board and it's working. :thumbsup:

[2018-08-17 19:15] emmanuelsearch commented on #9342
Minutes from this week's OTA meeting (15.08.2018) available [here](https://github.com/RIOT-OS/RIOT/wiki/minutes-from-OTA-Task-Force-virtual-meeting-15.08.2018)

[2018-08-18 06:42] spirit900 commented on #9708
This helped:
sudo apt-get install gcc-4.9-multilib.

[2018-08-18 14:42] waehlisch commented on #9342
Which option is preferred to add comments/questions on the minutes? Should I comment via this issue, create a new issue, or ...?

[2018-08-18 14:49] emmanuelsearch commented on #9342
I'd say: comment here?

[2018-08-18 15:53] gschorcht opened #9795 "tests/lwip_sock_*: compilation errors"
Compilation of these tests throw the following error message on the ESP8266 platform:
[code]
which seems to be indeed the case if stack variables are not initialized by default. If I understand the semantic of the source correctly, the following construct could solve the problem:
[code]

[2018-08-19 14:40] gschorcht commented on #9795
Additional comment: According to ISO/IEC 9899:TC3 WG14/N1256 (C99 standard) section 6.7.8 clause 10 an object that has automatic storage duration is not initialized explicitly, its value is indeterminate.

I'm a bit wondering that these tests do now throw error messages on other platforms.

[2018-08-19 15:29] miri64 commented on #9795
That's surprising indeed. At least our static code analyzer should have picked that one up. While I agree that this should be fixed, I think

[code]

offers a more readable solution than a foot-operated loop. Do you want to provide a fix for that or should I.

[2018-08-19 15:38] gschorcht commented on #9795
As you prefer. I could provide a fix, but I suppose  that merging into the master is done immediately by yourself if you fix it. I need the fix to satisfy murdock.

[2018-08-19 15:40] miri64 commented on #9795
I can't ACK my own PRs either ;-)

[2018-08-19 15:45] miri64 commented on #9795
(as such it would indeed go faster with the combination of you being the contributor, me being the reviewer, instead of waiting for a third party)