[2016-06-08 09:55] aeneby commented on #5530
So if I understand you correctly, what you're saying is that the bug is actually in `_netif_send()` rather than `gnrc_pktbuf_add()`, since [here](https://github.com/RIOT-OS/RIOT/blob/e9bbd54f5825c6fddedf2030ecddae7a5703cbc1/sys/shell/commands/sc_netif.c#L1076) we should be checking if the data is zero-length, and if so, creating a packet with a NULL data pointer?

[2016-06-08 11:08] miri64 commented on #5530
Yes :)

[2016-06-08 14:52] miri64 commented on #5091
I proposed the API as a PR in #5533.

[2016-06-08 18:37] A-Paul commented on #5512
This issue has been addressed already by https://github.com/RIOT-OS/RIOT/pull/5383. Followed by an extended approach in https://github.com/RIOT-OS/RIOT/pull/5384.

[2016-06-08 19:48] aeneby commented on #5530
Okay, I've changed the issue's title and description to reflect the actual problem. Will submit a new PR.

[2016-06-08 23:30] miri64 commented on #5512
Ah, okay then let's close this as duplicate.

[2016-06-09 00:59] aeneby opened #5535 "gnrc: network stack does not handle data packets with zero-length payload"
This bug is easily reproducible using the native port and PR #5534 (or just master once the PR is merged). Simply set up a two-node topology as described [here](https://github.com/RIOT-OS/RIOT/wiki/Virtual-riot-network), and send an empty data packet from one node to the other:

`txtsnd 4 11:22:33:44:55:66 ""`

The receiving node will promptly dump core - I believe the crash is due to a [failed as

[2016-06-09 07:33] miri64 commented on #5535
Using gdb and `assert.h` I traced it down to the packet parsing in `sys/net/gnrc/link_layer/netdev2/gnrc_netdev2_eth.c` for native. Will provide a fix for all link-layer types.

[2016-06-09 09:03] miri64 commented on #5535
See #5536

[2016-06-09 09:03] miri64 commented on #5535
Related issue #5530.

[2016-06-09 09:04] #5530 closed

[2016-06-09 12:08] dbohn commented on #5460
I'm sorry to comment this issue, although it is closed, but I'm experiencing closely related issues with an TMP006 and the samr21-xpro board as well.

I'm currently participating in a software project at FU and thus me and my group are just getting to know RIOT, so please excuse some missing knowledge about the platform.

I'm using the latest RIOT master and made sure that the fix provided in #546

[2016-06-09 16:16] A-Paul commented on #5512
Reopen because although there has been PRs fixing this error, no issue existed before. So this issue isn't a duplicate.
This issue can give some motivation to get https://github.com/RIOT-OS/RIOT/pull/5383 and maybe https://github.com/RIOT-OS/RIOT/pull/5384 merged. ;-)

[2016-06-10 10:31] kYc0o commented on #2109
I'm using now the z1 and I don't get any garbage... should we close this?

[2016-06-10 15:27] bapclenet opened #5538 "Ncache lost after reboot, other nodes won't be in cache anymore"
My setup:
- Border router on samr21
- Gnrc_networking node A
- Gnrc_networking node B

Border router powers up, then node A and B. Node A and B are in ncache of BR.
Then BR reboots, ncache is erased. node A and B keeps their global addresses but they are never added in ncache of BR.

Why the nodes does not remove their global address or why ncache is not filled again?

[2016-06-10 15:32] biboc opened #5539 "Border Router: packet not forwarded from ethos to interface 6"
My setup:

Linux with start_network.sh (i.e ethos and uhcpd running)
Border router on samr21
Gnrc_networking node A
Gnrc_networking node B

I run a program that sends 20 UDP packets to my nodes every 20 sec.
After some time, instead of seeing:
got packet from fe80::46:a5ff:fe3d:fc3e port 58493
uhcp: push from fe80::46:a5ff:fe3d:fc3e:58493 prefix=2001:db8::/64
gnrc_uhcpc: uhcp_handle_prefix(): got

[2016-06-10 19:16] miri64 commented on #5538
Why should they or to ask it more direct: how should they know they should? They got a PIO with a prefix and a valid lifetime for it, now they get a new PIO with (another?) prefix and a valid lifetime for it. Unless the old prefix times out or the router explicitly sends a 0-lifetime PIO it will not be deleted.

Here's how it should happen:
1. 6LBR sends out a RA
2. 6LN receives it configures new

[2016-06-10 19:18] miri64 commented on #5538
Normally after a reboot an updated version ABRO should be send, since the version is not stored persistently this most likely does not happen => 6LN recognizes update as update => doesn't re-register.

[2016-06-11 09:29] gevard opened #5541 "SAMR21 Xplained - Hardfault"
Hello

I'm completly newby to riot-os, I found it with an excellent article in a french magazine call "Open Silicium".

After doing some exercise like helloword and gnrc_networking, I tried the example of the article, with is related to 6LowPan.
I got an hardfault, it's reproducible, and occurs at the server side when I launch the device. Before that the server stay alive and tell me the it open t

[2016-06-11 10:38] aeneby opened #5542 "gnrc: consider removing restriction on registering NETTYPE_NETIF packets"
Currently it's not possible to register packets of this type, due to restrictions imposed by a [check](https://github.com/RIOT-OS/RIOT/blob/789b2c0917507058fe10bf312c36ca34284e4fa6/sys/net/gnrc/netreg/gnrc_netreg.c#L28) in `gnrc_nettype_register()`. If this is a legacy restriction (i.e. one imposed prior to the existence of NETTYPE_NETIF), then perhaps it can be removed or modified to permit regis

[2016-06-11 11:28] OlegHahm opened #5543 "stm32: compiler errors in DAC"
Trying to compile any application for iotlab-m3 on current master results in:
[code]

I assume that the cause for this error exists for some time, but shows only now because of an update gcc:
[code]

[2016-06-11 11:31] OlegHahm commented on #5543
A simple fix might be:
[code]

[2016-06-11 18:15] miri64 commented on #5542
I'm still not 100% sure what the point of this is. Handling such packets usually is something the MAC layer should do and it has full access to it. If you want to examine packets why not use the sniffer application, which is much more comfortable to use, since you can use wireshark with it.

[2016-06-11 21:25] aeneby commented on #5542
My understanding is that the purpose of `pktdump` is primarily as a debug tool, and the fact that it is ignoring (or cannot display) certain types of perfectly valid 802.15.4 packets is a bug, IMO, even if alternatives exist. Perhaps the proposed solution is the wrong one - perhaps the packets in question should be getting marked as `NETTYPE_UNDEF` instead, for example - but I thought I would at l

[2016-06-12 10:24] miri64 commented on #5543
Duplicate / subpart of https://github.com/RIOT-OS/RIOT/issues/5519

[2016-06-12 10:24] #5543 closed

[2016-06-12 10:43] OlegHahm commented on #5543
Ups, overlooked this one.

[2016-06-13 07:26] bapclenet commented on #5538
Thanks for your answer.
Is it possible to control when 6LBR sends out a RA? I would like to send it just during a slot of time (5 min) then stop. Is that even possible or 6LN will remove is global address if it doesn't reecive a new RA so its prefix has not a valid lifetime?
Basically, I would like to say from now to now+5min, send RA so nodes are added to network then stop sending RA and no new n

[2016-06-13 07:36] gebart commented on #5519
I will keep this issue in mind during the summer and fix this in steps, any patches are welcome.

Please reference this issue number (#5519) for any PRs that fix anything related to GCC-6.

I am currently building a GCC 6 toolchain on my system and can test any PRs related to this.

[2016-06-13 09:47] OlegHahm commented on #5519
I'll add a note to the README to avoid new users being confused.

[2016-06-13 11:15] miri64 commented on #5538
Usually that interval is "randomized" between `GNRC_IPV6_NETIF_DEFAULT_MIN_ADV_INT` and `GNRC_IPV6_NETIF_DEFAULT_MAX_ADV_INT` (but given the fact that we still don't initialize a sensible seed for our PRNG its always the same). If you change that you can manipulate it. You can also just unset the `RTR_ADV` flag on your interface using `ifconfig <if> -rtr_adv` or `gnrc_ipv6_netif_set_rtr_adv(ip6_ne

[2016-06-13 11:55] gebart commented on #5503
I would like to see the kind of high level abstraction/method dispatcher that you describe here, especially for the kind of devices where it's not uncommon to have multiple instances and different parts of the same category, such as UART (in-CPU, USB-CDC, debugger, etc.), flash memory (on-board memory, additional project-specific external memory), other non-volatile memory (eeproms etc.).

We have

[2016-06-13 12:18] aabadie commented on #5541
Hi @gevard.
Thanks for reporting, there's indeed an issue with the networking example when they are built against the master branch.
You can try with version 2016.04 and it works. In the RIOT source directory, use:
[code]

I'll dig a bit more into this in a few days to make the examples compatible with latest master. @miri64, any suggestion on how to fix it ?

[2016-06-13 12:36] miri64 commented on #5541
I would suggest to git-bisect it from last week, since it was working then,this way we might find the culprit that broke it. Will do this afternoon.

[2016-06-13 14:03] miri64 commented on #5541
BTW: I would suggest to use `2016.04-branch` instead of `2016.04` to get the newest fixes ;-)

[2016-06-13 14:04] miri64 commented on #5541
Anyway, I just tried the example you provided, but I wasn't able to reproduce... But maybe I'm doing something wrong... @aabadie can you try to bisect when the crash was introduced?

[2016-06-13 14:16] aabadie commented on #5541
By default, I didn't have the crash either. But simply adding `printf("message: %s", message)` in `server_thread` right the call to `snprintf` triggered the crash. Otherwise nothing happened.

Try the server_to_terminal example and send udp packets on port 8000 to it.

----- Mail original -----

[2016-06-14 07:00] bapclenet commented on #5538
I see, I'll make some try later.

1. 6LBR sends out a RA
2. 6LN receives it configures new address and solicits address registration (send NS with ARO, get NA from 6LBR back with ARO signalling success).
Did any of that happen in your set-up? (Just checking, that the ND is broken is a known issue, that I plan to fix the next weeks).

On which file I should enable debug to see this message? So I'll

[2016-06-14 22:52] Nordzisko commented on #5407
Hey, I tried both (PORT_C,0) or (PORT_C,3) and in the both cases, not even networking was working.

[2016-06-15 08:34] PeterKietzmann commented on #5407
Dammit! Im running out of ideas... But the button still works then? Fine, I will buy myself an stm32f3discovery so I can at least check the interrupt functionalities then.

[2016-06-15 10:13] chrysn commented on #5503
I've now uploaded a demo of this (applied to UARTs) to my [mixed-peripherals branch](https://github.com/chrysn-pull-requests/RIOT/tree/mixed-peripherals). The only CPU this was ported for now is EFM32 (which is currently out of tree) in [a dedicated branch](https://github.com/chrysn-pull-requests/EFM2Riot/tree/for-mixed-peripherals), but [the changes done to the CPU's native UARTs](https://github.

[2016-06-15 10:48] chrysn commented on #5503
About the openocd semihosted demo, I forgot (or initially thought we'd need that, tested it without, messed up the rebuild and thought it worked without): OpenOCD, following the blocking semantics of the ARM semihosting environment, blocks reads instead of reporting zero bytes read. Thus, when you run the example, RIOT spends all prompt waiting time waiting for the debugger to continue after the b

[2016-06-15 16:06] Nordzisko commented on #5407
Yes, Button was still working. If I will catch some new idea, I will inform you.

[2016-06-15 22:07] sdalu opened #5554 "Add PWM driver for NRF5x"
nRF52 natively support PWM driver, and it's possible to implement it for nRF51:
 https://github.com/NordicSemiconductor/nrf51-pwm-library

[2016-06-16 02:32] aeneby commented on #5542
To simplify the question - is there currently any way for a RIOT application to know that a zero-length data packet has been received?

[2016-06-16 09:01] PeterKietzmann commented on #5554
Hi @sdalu what do you mean by "native PWM driver support"? Usually in RIOT we write drivers ourselves to have a slim implementation that matches our hardware abstraction and API which is not dependant on externals libs... Did I miss the point?

[2016-06-16 09:11] sdalu commented on #5554
Sorry wrong wording I guess. nRF52 has a PWM module builtin, so this chip will only require a slim implementation. nRF51 lack such PWM module but this can be achieved using TIMER, GPIOTE and PPI modules

[2016-06-16 11:05] PeterKietzmann commented on #5554
So the proposed library is a software PWM implementation that uses standard I/O pins and timers to generate a PWM modulated signal?

[2016-06-16 11:10] sdalu commented on #5554
Yes, the provided link is the Nordic software implementation of PWM for the nRF51.

[2016-06-16 13:32] PeterKietzmann commented on #5554
@sdalu I appreciate your efforts to improve nRF support in RIOT. But as said, using external librarys for peripheral drivers is not the "RIOT way". Looking at the implementation you posted and at the reference manual for nRF51 controllers, it does not seem too complex to implement a driver by ourselves. Now the questions are (i) do you urgently *need* this feature for some project and (ii) would y

[2016-06-16 13:50] sdalu commented on #5554
I provided the link for reference implementation purpose
(i) that's a feature that i will need
(ii) i can volunteer to test

[2016-06-16 13:53] PeterKietzmann commented on #5554
Okay. So then we still need someone who actually writes the driver :-). I won't find time for this. Any volunteers? I will hold my eyes and ears open...

[2016-06-18 11:41] gevard commented on #5541
Your expectation is completely correct, I added a printf for debugging purpose, and now doing _$ git checkout 2016.04_ it working as expected. Thank you very much for helping.

[2016-06-18 21:32] spth opened #5557 "STM8 port"
How about porting RIOT to STM8? It already has an STM32 port, and AFAIK, the peripherals are quite similar.

Philipp

[2016-06-20 07:39] aabadie commented on #5541
You're welcome.
Thanks for reporting BTW, you highlighted issues with the UDP layers in the current code.

[2016-06-20 07:42] PeterKietzmann commented on #5541
Is the issue addressed? In that case, please close it @aabadie.

[2016-06-20 07:44] aabadie commented on #5541
Issue addressed. Closing.

[2016-06-20 07:44] #5541 closed

[2016-06-20 15:03] jia200x opened #5560 "C++11 extensions in header files"
Hi.

I'm having some warnings when trying to compile C++ RIOT with some header files.
For example, I added "net/netdev2.h" in riot_and_cpp and example and got errors like this:

[code]

Commas at the end of enumerator list are valid in C99, but seems not to be valid when linking with G++ and pedantic flag.
I'm using Gcc 4.8.4.

Anyone else with a problem like this?

[2016-06-20 15:24] jia200x opened #5561 "C++11 extensions in header files"
Hi.

I'm having some warnings when trying to compile C++ RIOT with some header files.
For example, I added "net/netdev2.h" in riot_and_cpp and example and got errors like this:

[code]

Commas at the end of enumerator list are valid in C99, but seems not to be valid when linking with G++ and pedantic flag.
I'm using Gcc 4.8.4.

Anyone else with a problem like this?

[2016-06-20 15:34] Kijewski commented on #5561
Why did you close the issue? You are right!

C++03 does not allow trailing commas, this feature was only added in C++11. C99 does allow trailing commas, but legends tell that C++03 was intended be compatible with ANSI C, which did not allow trailing commas.

[2016-06-20 15:35] jia200x commented on #5561
Hi, I closed this issue because due to browser fault it was posted twice.

[2016-06-20 15:37] jia200x commented on #5561
So, we would need to remove the trailing commas of all files.
I know some net header files that have this, I will try to identify the rest.

[2016-06-20 17:21] gebart commented on #5561
There's another issue somewhere in the tracker, but I don't remember the
issue number. I think that it's only the msp430 which still uses a gcc 4.6
toolchain which would have trouble with c++11. All other platforms have
well supported toolchains based on gcc 4.8 or later.

[2016-06-20 18:08] kaspar030 commented on #5561
This [1] page from TI suggests there's a GCC 5.3.0 for msp430!

[1]
http://software-dl.ti.com/msp430/msp430_public_sw/mcu/msp430/MSPGCC/latest/index_FDS.html

On 06/20/2016 07:21 PM, Joakim Nohlgård wrote:

[2016-06-20 19:12] gebart commented on #5561
Yes, see my pr wip (search for newlib in the pr list) for the msp430 newlib
support. It needs some love though.
I'm replying via email so I'm sorry I couldn't quote the pr number directly.

[2016-06-20 19:20] LudwigKnuepfer commented on #5560
go there instead: https://github.com/RIOT-OS/RIOT/issues/5561

[2016-06-21 08:34] #5560 closed

[2016-06-21 11:47] kYc0o commented on #2109
As far as I can see, the garbage is a known problem related to a specific version of the compiler (4.6.3) which displays this garbage, some info [here](http://wsn.blogs.ua.sapo.pt/270.html?thread=270).

So I'll close this issue.

[2016-06-21 11:47] #2109 closed

[2016-06-21 12:20] bapclenet commented on #5538
ping @miri64

[2016-06-21 13:11] gebart commented on #5557
I have never used any STM8 but from what I gather from the web it has similar specs as the ATmegas (avr) which puts it in the lower end of the spectrum of devices capable of running RIOT. The biggest issue may be that there is no GCC port, and we have not tested building RIOT on any compilers other than GCC and Clang AFAIK. I have never used SDCC or IAR so I wouldn't know how big the required effo

[2016-06-21 14:41] spth commented on #5557
There are four important C implementations for the STM8: http://colecovision.eu/stm8/compilers.shtml
Their standard-support is at different levels, but in general, I'd say IAR and SDCC are the most advanced. The SDCC regression test suite includes most of the tests that GCC uses (excluding in particular those that rely on GCC extensions). AFAIK neither IAR nor SDCC aim for GCC-compability the way

[2016-06-21 15:30] jia200x opened #5563 "Hard fault with C++ and ARM"
Hi community,

I'm porting the OpenThread stack to RIOT. As I wrote in devel, I'm having a hard fault when I link RIOT with the core of OT. This error is happening with all ARM boards. I have been using a SAMR21-xpro.

RIOT is crashing in this line [[1]], function libc_init_array(). Here's the content of hardfault:

[code]

To reproduce the error, try the example in [[2]] (it's still in developmen

[2016-06-21 16:51] hexluthor commented on #3284
See my PR #5564. It doesn't protect any supervisor / hardware memory from application code as suggested by @gebart, but it does implement a low-level Cortex-M MPU driver and use it to protect against stack overflows.

[2016-06-22 10:19] josephnoir commented on #5563
Hi, trying to reproduce the error. I checked out your RIOT fork and followed your steps, but I am running into this error:

[code]

Am I missing something?

[2016-06-22 10:33] jia200x commented on #5563
Hi @josephnoir
Sorry, it was my fault. When I added netdev2_tap interface I forgot to add #ifdef MODULE_NETDEV2_TAP to the extern declaration.

Just fixed it. Try now.
Cheers

[2016-06-22 11:28] josephnoir commented on #5563
Thx, getting the same error now.

[2016-06-22 11:47] josephnoir commented on #5563
@jia200x How did you figure our where it crashes? My debugger isn't working, it just hangs. And when I objdump the elf file and look at the address of the `$pc`, ...

[code]

... this is what I see:

[code]

[2016-06-22 13:12] jia200x commented on #5563
Hi.
Try debugging with `make BOARD=samr21-xpro debug`, and put a breakpoint in file vectors_cortexm.c (e.g line 97)

Cheers

[2016-06-22 13:20] josephnoir commented on #5563
Tried that with lines 73 and 95. This is all I see:

[code]

Or does it take more than 5 minutes to advance? (I am on OS X, btw.)

[2016-06-22 13:38] jia200x commented on #5563
Hi.

I'm on OS X too, you should see the error instantly.

Try putting a breakpoint in the libc_init_array function or in another function (you might try to put a breakpoint in the main_trampoline). Maybe for you is crashing in another part.

Cheers

[2016-06-22 15:21] josephnoir commented on #5563
For some undetermined reason, after too many tries, the debugger started at a breakpoint I set in an earlier try. And now I can poke around a bit. I cannot step into `__libc_init_array` though.

[2016-06-22 15:25] jia200x commented on #5563
Strange.

Btw I was reading and it seems libc_init_array has something to do with C++ constructor and memory management. Probably the OpenThread library is triggering something.

[2016-06-22 15:35] josephnoir commented on #5563
Yep. If I am not mistaken it allows static initialization for classes in C++. When first trying to get static initialization on the stm32f4discovery, we called the [init_array](http://newlib.sourcearchive.com/documentation/1.18.0/init_8c-source.html) functions by hand in a startup file.

When I append the implementation of `__libc_init_array` to the `syscalls.c` file I can step into it and it cras

[2016-06-22 15:44] jia200x commented on #5563
I think yes, but I'm not sure. Can you check what line in the libc_init_array implementation is crashing?

[2016-06-22 15:54] josephnoir commented on #5563
It's the first call to `__init_array_start[i] ();`.

[2016-06-22 15:57] josephnoir commented on #5563
However, I am still wondering if why we don't call the function from the newlib. A small test that uses static initialization works regardless.

[2016-06-22 16:28] dondonprad opened #5566 "sam3: RTC implementation"
i tried compile main.c in tests/periph_rtc
i using arduino-due board
i think rtc.h not compiled in main.c, i ask how fix it??

![screenshot from 2016-06-22 23 25 55](https://cloud.githubusercontent.com/assets/15816634/16274657/bf18bc52-38d0-11e6-878c-493f6d49966c.png)

[2016-06-22 16:32] hexluthor commented on #5391
Does anyone know how to fix this? Because I don't.

[2016-06-23 06:46] gebart commented on #5391
One solution would be to eliminate all the custom definitions from the Doxygen docs by enclosing them in `#ifndef DOXYGEN`.

[2016-06-23 06:47] PeterKietzmann commented on #5566
@dondonprad it seems there is currently no rtc implementation for the SAM3x controller in RIOT. One could fix it by writing an appropriate driver to the [peripheral rtc interface](https://github.com/RIOT-OS/RIOT/blob/master/drivers/include/periph/rtc.h.

[2016-06-23 06:56] gebart commented on #5561
#4766 is the PR for supporting the msp430-elf-gcc-5.3.0 compiler with newlib as libc.

[2016-06-23 09:26] jia200x commented on #5563
Hi,

Did you try to run with the original function? It crashes?
I will check the uart_stdio_init part to see what's going on.

[2016-06-23 09:39] jia200x commented on #5563
As I was reading in ([1]), the __init_array_start is provided by the runtime linker. I'm checking if the pointer to that function is valid.

[1]: http://docs.oracle.com/cd/E19683-01/817-1974/6mhlu8fdh/index.html

[2016-06-23 10:16] josephnoir commented on #5563
The `__init_array_start` marker can be found in the [linker file](https://github.com/RIOT-OS/RIOT/blob/master/cpu/cortexm_common/ldscripts/cortexm_base.ld#L57). Not sure where it points to at runtime.

[This](https://github.com/josephnoir/RIOT/blob/f5cc0f31954a765def83bc66fc6a48826bca0b63/cpu/native/startup.c#L375) is the code we used to hack in static initialization in native earlier. Was never p

[2016-06-23 11:11] PeterKietzmann commented on #5407
@Nordzisko my board arrived. I tested two setups that just differ in one detail. Note that I did not connect a transceiver.

Manual pin initialization like in the at86rf2xx driver:
1) SLEEP pin at PA1
2) RESET pin at PA2
3) INT pin at PB0 **AND** PC3
4) USR_BUTTN pin at PA0
5) SPI_0 at PA5-7
6) SPI_CS pin at PA4

Results:
- with PC3 in step 3) all pins worked as expected. GPIO outputs, GPIO interr

[2016-06-23 11:49] jia200x commented on #5563
Good snippet!
Yes, I'm not sure what's going on there but at least I think I can use that for now to continue testing OpenThread.
Cheers

[2016-06-23 12:32] jia200x commented on #5563
I can't even test the OT port because it's crashing randomly. It seems there are some constructors that are not being called

[2016-06-23 13:59] josephnoir commented on #5563
How many calls does the `__init_array` loop skip before it reaches the `reset_handler_default` function? And, does is make a difference if you add the loop to call the `__preinit_array` functions?

[code]

[2016-06-23 18:12] jia200x commented on #5563
Actually never reaches the reset_handler_default function. So just skips
the init arrays. At some point this makes the program crash.

It makes no difference when I add or remove the __preinit part.

2016-06-23 16:00 GMT+02:00 Joseph Noir <notifications@github.com>:

[2016-06-24 10:19] jia200x commented on #5563
I have compiled the rest of the RIOT examples and some random codes, and I couldn't find a code that has __preinit and __init functions. This is what objdump tells about the init and preinit functions in the OT port:

[code]

And

[code]

For example, the RIOT and CPP example shows this:

[code]

So, basically there aren't functions in the init and preinit there. About my previous comment, these f

[2016-06-24 11:12] josephnoir commented on #5563
Not sure what the exact purpose or `__preinit_array` is, but it may very well be empty. The code I posted above simply skips all calls in the `__init_array`. However, calling any of the functions leads to a hard fault. It is still curious that I do get to main that way ...

@gebart, @dangnhat do you have a bit of time to look at the problem or a helpful comment?

[2016-06-24 11:24] jia200x commented on #5563
Yes, I got the same too, but with a lot of uncompleted features. It seems these not called init functions are making the main crash at random parts.

So, it goes into the main but anyway fails. I'm not sure why this is the only code that has calls to the __preinit and __init functions.

[2016-06-24 12:48] josephnoir commented on #5563
The second  constructor call of `__init_array` maybe for the sCommand array in `RIOT/examples/openthread_example/bin/pkg/samr21-xpro/openthread/src/cli/cli.cpp` line 49. Not sure about the first one though. This is the address in the array:

[code]

[2016-06-24 16:21] jia200x commented on #5563
Yes, that's exactly where is crashing. It means it's something with OpenThread constructors.
Actually, it's crashing with a `ands r0, r1` instruction. I don't know what's going on, these registers are for general purpose.

[2016-06-25 01:12] dangnhat commented on #5563
guys, just want to add some information which might be helpful for you guys:
(short version: the code snippet is not necessary for ARM platform, don't use it; openthread might have added some initialization routines in ```init_arrays``` and make our program crashes => we should test it without RIOT first :-) )

- First, the code snippet above only works in native as a workaround for RIOT current i

[2016-06-25 19:48] gebart commented on #5563
Usually, due to memory latency, and interrupt latency, the instruction
pointed to at a hard fault is usually one or two instructions after the
actual memory access violation. You should be looking for a ldr or str
instruction close to your ands.

But yeah, I agree with @josephnoir that the issue is likely in the
constructors. I'm guessing that the constructor expects some other piece to
have alrea

[2016-06-27 05:13] miri64 commented on #2927
?

[2016-06-27 06:15] PeterKietzmann commented on #5460
Thanks for reporting @dbohn. Unfortunately I don't have a fix right now. Will re-open the issue

[2016-06-27 12:07] josephnoir commented on #5563
Thanks for the input!

@dangnhat Isn't OpenThread made for these devices? Still, validating that it actually runs on its own would help to exclude some sources for errors.

I wasn't sure about the code we used for native, but also looked at the [init.c](http://newlib.sourcearchive.com/documentation/1.18.0/init_8c-source.html) of the newlib and used their implementation. Somewhere above is the objd

[2016-06-27 13:06] jia200x commented on #5563
Thank you for all the information!
With the following asm code:
[code]

The r3 register is 0x6374. The disassembly show this in that address:
[code]

But GDB is showing this:
[code]
I couldn't find some of these lines in the disassembly. When I try to jump to 0x6374 it throws the same hard fault.

[2016-06-27 13:54] jia200x commented on #5563
The second __init_array_start pointer is pointing to GLOBAL__sub_I__ZN6Thread3Cli11Interpreter9sCommandsE (Static initializer of sCommands). Again, according to the objdump disassembly file the asm is:

[code]

GDB shows this:
[code]

Why is this inconsistency? Other addresses point to the right place according to the objdump disassembly file. This is only happening with the __init_array functions

[2016-06-27 16:23] gebart commented on #5563
Which inconsistency are you referring to?
I think gdb gets confused and tries to pretty print whatever you tried to
print as arm mode machine code. If you want to look at the assembly it's
better to use the disassemble command in gdb. It would be interesting to
see what the pointer at 0x1b598 is pointing to since that seem to be the
address that is causing the trouble.
Den 27 jun 2016 15:54 skrev

[2016-06-27 16:35] jia200x commented on #5563
I mean, for the same address GDB and objdump show different instructions.

 Thumb instruction set of cortex-m0 looks usually looks like:

[code]
16 bit instructions (sometimes 32, but it depends on the instruction).

Some of the OpenThread functions are being shown like this in the assembly file:

[code]

So basically objdump is trying to interpret these 32 bits instructions (when they should be 1

[2016-06-27 17:05] gebart commented on #5563
What's your objdump command?
If you type disassemble my_function in gdb you will get a proper
disassembly, at least if you're starting it with `make debug` in RIOT.
Den 27 jun 2016 18:35 skrev "jia200x" <notifications@github.com>:

[2016-06-27 17:09] jia200x commented on #5563
I'm using:
`arm-none-eabi-objdump ./bin/samr21-xpro/openthread_example.elf -d`

the dissasemble function shows:
[code]

So, it seems is crashing in the stmdb line.

[2016-06-27 17:55] gebart commented on #5563
What's the value of the stack pointer register when the stmdb instruction
is executed?
Btw, could you post the latest output from the hard fault handler? The
register dump including the extra status registers (bfar etc)
Den 27 jun 2016 19:09 skrev "jia200x" <notifications@github.com>:

I'm using:
arm-none-eabi-objdump ./bin/samr21-xpro/openthread_example.elf -d

the dissasemble function shows:

0x

[2016-06-28 08:13] PeterKietzmann commented on #5302
(Solution was already found. memo label set not to forget the proposal to fix problem on multiple `gpio_init()` calls )

[2016-06-28 09:34] PeterKietzmann opened #5575 "boards/msb-430(h?): can not flash"
1.What is the difference between *msb-430* and *msb-430h*?
2. I'm using the OLIMEX adapter for flashing. `ls /dev/` shows up a `ttyACM0` device but no `ttyUSB0` device. However, in the [Makefile.include](https://github.com/RIOT-OS/RIOT/blob/master/boards/msb-430-common/Makefile.include#L6) the port is defined as `ttyUSB0`. Did I confuse something?
3. Neither with `ttyUSB0` nor with `ttyACM0` I was

[2016-06-28 09:34] PeterKietzmann commented on #5575
@malosek might help?

[2016-06-28 10:04] jia200x commented on #5563
Hi again.
This is the crash:
`2016-06-28 11:50:36,228 - INFO # Context before hardfault:
2016-06-28 11:50:36,229 - INFO #    r0: 0x00000000
2016-06-28 11:50:36,231 - INFO #    r1: 0x00000655
2016-06-28 11:50:36,232 - INFO #    r2: 0x00000000
2016-06-28 11:50:36,234 - INFO #    r3: 0x00006374
2016-06-28 11:50:36,235 - INFO #   r12: 0x7dbfff7f
2016-06-28 11:50:36,237 - INFO #    lr: 0x00025d17
2016-

[2016-06-28 12:09] jia200x commented on #5563
I compiled OpenThread without RIOT and checked some similar functions.
For example, these are the instructions of HandleAckTimer in OpenThread example:

`0020148c <_ZN6Thread3Mac3Mac14HandleAckTimerEv>:
  20148c:       b510            push    {r4, lr}
  20148e:       4604            mov     r4, r0
  201490:       f00c fc3e       bl      20dd10 <otPlatRadioIdle>
  201494:       f894 3090       ldrb

[2016-06-28 12:17] gebart commented on #5563
You're right, it seems the open thread code is built in arm mode instead of
thumb! The addresses in the init array are both even numbers, which means
that the thumb flag is not set. Check your compilation commands for open
thread and verify that the -march and/or -mcpu options are correctly set
(should be the same as for when you compile the rest of RIOT).

I compiled OpenThread without RIOT and c

[2016-06-28 12:21] PeterKietzmann commented on #3186
This is just a report of running the xtimer tests with current master

xtimer_drift: hangs and reboots
xtimer_hang: looks OK but is > 100% normal?
[code]
xtimer_longterm: (with #5576) reboots after ~3min
[code]
xtimer_msg: ok
xtimer_msg_receive_timeout: ok
xtimer_now64_continuity: ok
xtimer_remove: ok
xtimer_reset: ok
xtimer_shift_on_compare: ok
xtimer_usleep_until: gets stuck here
[code]

[2016-06-28 12:27] gebart commented on #5563
Also, the psr register has the thumb bit cleared at the beginning of the open thread constructor call, which means it has jumped to arm mode code and will signal an exception on the next instruction executed (the stmdb instruction).

[2016-06-28 14:11] PeterKietzmann commented on #4737
With *tests/thread_exit* I don't get a hard fault on the stm32f4discovery but it still behaves weird. Threads are not exiting, surprise surprise.

[code]
#4529 did not fix it

[2016-06-29 05:44] zmingshi opened #5581 "Issues about installing 6lowpan on a raspberry pi"
Hi,
The Wiki page [How-to install and use 6LoWPAN on a Raspberry Pi with Linux Kernel rpi-4.1.y](https://github.com/RIOT-OS/RIOT/wiki/How-to-install-6LoWPAN-Linux-Kernel-on-Raspberry-Pi) shows a detailed method to install 6LoWPAN on a raspberry pi. But it refers to linux kernel rpi-4.1.y, I want to know if the higher version like rpi-4.4.y is ok for the 6LoWPAN support?
Thank you!

[2016-06-29 07:56] smlng commented on #5581
Hey @zmingshi, the wiki page is kind of outdated (should be updated or link to newer guides). Though 6Lo on RasPi is (very) important to RIOT, i.e., for testing and realistic deployments, (IMO) it does not fit into RIOT wiki. Which is why I created some (RIOT external) guides on that topic, take a look [here](https://github.com/RIOT-Makers/wpan-raspbian/wiki).

Hope this helps ...

[2016-06-29 08:46] zmingshi commented on #5581
Hi, @smlng, thank you so much! It is helpful, and I'll take a careful look at the details in that page.

[2016-06-29 09:45] josephnoir opened #5583 "Clash between LITTLE_ENDIAN defines in RIOT and in arm-none-eabi-gcc 5.4"
The newest `gcc-arm-none-eabi-5_4-2016q2-20160622` from [Launchpad](https://launchpad.net/gcc-arm-embedded/+download) creates a clash between LITTLE_ENDIAN defines in RIOT and in gcc. Here is the output from building the hello world example for the samr21-xpro:

[code]

And a [gist](https://gist.github.com/josephnoir/f6b7bb0491818aedd05e44473202efd1) with the complete output. Just in case the OS b

[2016-06-29 09:51] gebart commented on #5583
I have a commit somewhere offline for fixing this, but can't make a PR
today. The fix is to delete the defines in the Sam headers, they are
unused. Feel free to open a PR if you have the time.
Den 29 jun 2016 11:45 skrev "Joseph Noir" <notifications@github.com>:

The newest gcc-arm-none-eabi-5_4-2016q2-20160622 from Launchpad
<https://launchpad.net/gcc-arm-embedded/+download> creates a clash betwe

[2016-06-29 10:13] jia200x commented on #5563
Thank you guys. Finally this problem was solved.
I'm compiling OT with RIOT makefiles instead of using their Make system, so now the right Thumb code is being generated.

Cheers!

[2016-06-29 10:15] josephnoir commented on #5563
Just wanted to say something similar. Added some flags to configure openthread (``./configure --enable-cli --host=arm-none-eabi CXXFLAGS="-mcpu=cortex-m0plus -mthumb" CFLAGS="-mcpu=cortex-m0plus -mthumb" LDFLAGS="-mcpu=cortex-m0plus -mthumb" CPPFLAGS="-mcpu=cortex-m0plus -mthumb"``) and get to main now. Still run into a HARDFAULT there on input.

[2016-06-29 10:20] josephnoir commented on #5563
I am glad we got that sorted out! Going to close the issue.

[2016-06-29 10:20] #5563 closed

[2016-06-29 13:52] SoonSYJ opened #5585 "Do RIOT support Raspberry pi 3 B"
Hi, I am working on IoT based on Raspberry Pi 3. Can anyone please tell me weather it is supported by RIOT. Thank you.

[2016-06-29 14:02] PeterKietzmann commented on #5585
Hi @SoonSYJ. Short answer: no. With RIOT we are targeting microcontrollers with orders of magnitudes less memory and cpu speed than a Pi. Why not running Linux on it? You could use Raspian with WPAN support (check out [this guide](https://github.com/RIOT-Makers/wpan-raspbian/wiki)) and communicate to a RIOT node via 802.15.4 (+6Lo/IPv6/UDP/COAP)

[2016-06-29 14:02] #5585 closed

[2016-06-29 17:03] bapclenet commented on #5538
ping @miri64

[2016-06-30 00:30] SoonSYJ commented on #5585
Hi @PeterKietzmann . Thank you so much. I have followed this tutorial [https://github.com/RIOT-OS/RIOT/wiki/How-to-install-6LoWPAN-Linux-Kernel-on-Raspberry-Pi#get-a-new-raspberry-pi-kernel-on-a-linux-host](url) . But is it suitable for RPi3? Anyway, I will follow the guide provided by you.

[2016-06-30 00:58] SoonSYJ commented on #5585
Hi @PeterKietzmann , I have taken a look at your guide. And I got a question. I am working on CC2500 transceiver neither openlabs nor microchip. Is that means that I have to create a device by myself? Is there any guide for doing this?

[2016-06-30 07:28] PeterKietzmann commented on #5585
Hi. I didn't try it on a Pi 3 but someone else recently did. You might want to follow [this conversation](https://lists.riot-os.org/pipermail/devel/2016-June/003998.html). As it seems linux-wpan supports a cc2531 driver (compare [this overview](https://github.com/linux-wpan/wpan-tools/wiki/Driver-Features)). I don't know if an overlay exists. But anyway you can find helpful informations about abou

[2016-06-30 23:18] aeneby commented on #5542
@miri64 ?

[2016-07-01 18:51] A-Paul commented on #5575
I think this will come up when trying to use the console.
*mspdebug* connects through a native usb device *(/dev/bus/usb/XXX/NNN)*, at least it is called by make to do so.

For now I'm ending up with the same error output as you.
Is it assured that no batteries are needed? :-)

[2016-07-03 18:04] keestux opened #5594 "boards/samr21-xpro: is SPI_1_DIPO correct?"
Hi,

Can someone explain why SPI_1_DIPO is the correct value? I'm talking about this [periph_conf.h](https://github.com/RIOT-OS/RIOT/blob/master/boards/samr21-xpro/include/periph_conf.h#L181)

    /*      SPI1             */
    #define SPI_1_DEV          SERCOM5->SPI
    #define SPI_IRQ_1          SERCOM5_IRQn
    #define SPI_1_DOPO         (1)
    #define SPI_1_DIPO         (2)

    #define SPI_

[2016-07-04 08:39] miri64 commented on #5542
The "problem" is a more a matter of memory optimization: NETIF is intentionally not >=0 because every `nettype` >=0 consumes memory in `netreg`. It's just a word-length per type but just for debugging purposes I don't see why we should waste them. We could make NETIF >=0, if DEVELHELP is defined, but that would make the code unnecessary complicated in that case.

Of what layer? Because for e.g. UD

[2016-07-04 08:43] miri64 commented on #5538
Sorry, was on vacation. Will look into it ASAP.

[2016-07-04 08:51] miri64 commented on #5538
Best thing would be to use a sniffer I think (e.g. in the IoT-Lab testbed). Alternatively, you can enable debug in

* `sys/net/gnrc/network_layer/ndp/gnrc_ndp.c`
* `sys/net/gnrc/network_layer/ndp/internal/gnrc_ndp_internal.c`
* `sys/net/gnrc/network_layer/sixlowpan/nd/gnrc_sixlowpan_nd.c`

and to look out for the DEBUG output of the `..._handle()` functions for each node.

[2016-07-04 10:50] OlegHahm commented on #5575
Short answer: they have different radios and a slightly different board design.
see http://www.mi.fu-berlin.de/inf/groups/ag-tech/projects/Z_Finished_Projects/ScatterWeb/modules/index.html

Yes, the msb-430 gets flashed using the JTAG, not the serial the define for `$PORT` in the Makefile defines only the serial port (you need an additional serial converter (FTDI)).

I could imagine two things:
1.

[2016-07-04 11:29] PeterKietzmann commented on #5575
Yepp. It was just about the power supply. Thanks @OlegHahm, @A-Paul for looking into this!

[2016-07-04 11:29] #5575 closed

[2016-07-04 14:34] jia200x opened #5595 "MAC layer in complex L2 protocols (Request for comments)"
Hi all.

We were discussing with @kYc0o about the proper way to implement complex L2 protocols in RIOT.
I have been working mainly with the L2 layer of RIOT while porting OpenThread, implementing PPP, etc. And sometimes I have had some problems trying to handle L2.

For example, PPP is a stack of protocols in L2 (LCP, Auth, NCP, etc). These subprotocols have to communicate each other via IPC msgs

[2016-07-04 15:08] miri64 commented on #5595
I don't quite understand why you didn't implement PPP on top of netdev2, like other MAC protocols would also be implemented (see e.g. among others #3730) or 6LoWPAN already is? This might not make it available to other stacks other than GNRC, but e.g. lwIP comes with its own PPP implementation anyway (and they do it on top of their network device layer [not existant and expected to be provided by

[2016-07-04 16:07] jia200x commented on #5595
Hi Martine.

I did this for 2 reasons:

1. Handling of actions.
2. Passing arguments from ISR to the isr handler (AT command finished, data received, AT timeout received, etc).

As you said, would be possible to handle 1 as "set" options (just as brainstorming, does it make sense to have in a future release something like an "action" hook?). The second reason has some solutions too (e.g state vari

[2016-07-04 16:21] kYc0o opened #5597 "XTIMER initialisation for non multiples of 15625Hz"
Hi all!

I opened a PR (#5592) to solve an specific issue on the initialisation of XTIMER when the board clock is not compatible with the hardcoded 1MHz. This is the case on the waspmote-pro board, which integrates a 14.7456MHz clock.

Thus, I'd like to keep open this issue until we agree on a solution to this case.

[2016-07-04 17:20] gebart commented on #5597
Closing as a duplicate of #5237, but I agree that the issue needs to be resolved.

[2016-07-04 17:38] kYc0o commented on #5597
Why we don't look for a straightforward solution in the meantime? The PRs addressing this issue go very far, and they're quite old. I don't know if there will be a consensus in the short term and this issue is affecting the overall xtimer functionality at least on the waspmote. I don't know if this issue also avoid the use of the xtimer on other boards, but it seems to me that it's only avoiding t

[2016-07-04 20:52] bapclenet commented on #5538
Thanks, let's close this PR and I'll come back with more detail if necessary

[2016-07-04 20:52] #5538 closed

[2016-07-05 10:09] kYc0o opened #5599 "UART1 support for msp430f1611 and SPI"
The SPI peripheral on msp430f1611 is configured to be used with the UART0 peripheral, so we can't have the shell output and the SPI working at the same time.

Therefore, we need to add support for UART1, in order to share it with the SPI and enable the use of UART0 and SPI together.

Anyone having the same issue or willing to add support to this?

[2016-07-05 10:11] OlegHahm commented on #5583
How about #5600?

[2016-07-05 11:18] #5583 closed

[2016-07-05 12:02] kYc0o opened #5603 "atmega boards second UART issue"
After a while trying to debug a second UART on atmega based boards I didn't succeed to make work both UART1 and UART2 (also UART3 and UART4 on CPUs including them) with other devices, although they work when bridging TX and RX on the board itself.

This affects, for now, arduino-mega2560 and waspmote-pro.

[2016-07-05 12:38] chrysn commented on #5503
Please have at least a rough look at the proposed code, I'd like to bring a slightly more mature version to the summit, but I'd need *some* feedback on whether such a path has a future in RIOT.

[2016-07-05 13:02] thomaseichinger commented on #5599
@kYc0o @OlegHahm I don't know the wsn430 boards, the question is if USART1 is actually connected? Or do you use a UART adapter with the board?

[2016-07-05 13:20] kYc0o commented on #5599
Oh, I assigned you because it seems that you committed the current configuration of the SPI on this board.

USART1 is not used AFAIK, the issue here is that we need to add it because it shares buffers and some configurations with the SPI port. I don't have access to the actual boards but using IoT-Lab ones on the testbed.

[2016-07-05 13:40] bapclenet commented on #5594
Yes it is a little bug: this should be by default:
[code]

You can open a PR and change it.

[2016-07-05 14:40] kYc0o commented on #5599
And what about configuring the USART1 as SPI? I think it should work since in the IoT-Lab repositories there is a port for contiki which uses UART1 for STDIO and SPI for radio...

[2016-07-05 14:42] miri64 commented on #5539
So the gist is, somehow everything is 0 if I see that correctly

[2016-07-05 15:05] thomaseichinger commented on #5599
@kYc0o please see #5606.

[2016-07-05 16:00] bapclenet commented on #5539
Yes, I only keep ping6 from linux, it works for a while and then it does not work anymore, I see that packets get stopped with ``gnrc_netdev2: unable to forward packet of type 0``

How can I debug more? Can the gnrc_pktsnip_t be corrupted somewhere?

[2016-07-05 18:49] keestux commented on #5594
It's not really up to me to create a PR. I don't have this board, so I can't test. I'm just trying to understand the current SPI of SAMD21.

[2016-07-05 21:15] bapclenet commented on #5539
What could cause the packet to be malformed every time?

[2016-07-06 07:12] smlng commented on #5539
could this be related to (or even fixed by) #5596?

[2016-07-06 07:29] bapclenet commented on #5539
@smlng, I don't think so, because packet is locked in netdev2 so before ipv6 layer if I'm right?

[2016-07-06 08:26] PeterKietzmann commented on #5594
#5609 was merged

[2016-07-06 08:26] #5594 closed

[2016-07-06 09:20] bapclenet commented on #5539
@miri64, any idea on that?

[2016-07-06 09:51] kaspar030 commented on #5539
It is possible that ethos' state somehow get's corrupted.

[2016-07-06 10:14] bapclenet commented on #5539
@kaspar030, ok, how can I check that?
I can easily reproduce it by keeping a ping on 2001:db8:: node or even interface 6 on BR

Here is a gist with some more debugs:
https://gist.github.com/bapclenet/2fa3c4185633d827980109aab0003644

[2016-07-06 10:43] miri64 commented on #5595
Hi Jose,

Let me process the rest first, but quick answer to your last question:

The idea always was to have alternatives to gnrc_netdev2. So you wouldn't use gnrc_netdev2 at all, but implement your own PPP-specific glue-code layer between GNRC and netdev.

[2016-07-06 13:38] bapclenet commented on #5539
@kaspar030, on ethos, is there some controls that a packet is correctly arrived on BR before sending a new one?

[2016-07-06 13:53] bapclenet commented on #5539
I tried at 9600Baud and with 48MHz or 8Mhz, it does not change, pkt gets corrupted at some point.

Did someone try to continuously ping a node from linux (with Global IP)?

[2016-07-06 14:38] bapclenet commented on #5539
In the irq_handler of UART, I checked if I have an error:
[code]

And yes BUFOVF is raised each time before it starts to not working

[2016-07-06 16:24] bapclenet commented on #5539
I think, I understand the bug, when I constantly ping a node, it sends a ping every 1sec. UHCP sends a request every 1min and if by bad luck uhcp server sends answer at the same time as my ping, Linux being much quicker than samr21, linux sends both message very quickly and RIOT does not have time to deal with them.
It is an assumption, but adding a little delay in the loop in linux ethos helps to

[2016-07-06 19:59] aeneby opened #5611 "tests/zep: Application attempts invalid registration of GNRC_NETTYPE_NETIF"
Offending line [here](https://github.com/RIOT-OS/RIOT/blob/2cbc8fb8f723f1ad6720505484e2e2a00bbb894c/tests/zep/main.c#L46) - `GNRC_NETTYPE_NETIF` is an [invalid type](http://riot-os.org/api/group__net__gnrc__netreg.html#gafb6a9d0b840aae07c3c1617932835ef1) for registration via `gnrc_netreg_register()`.

[2016-07-07 10:28] miri64 commented on #5611
My current opinion to the ZEP module is "burn and toss it away", since last time I worked on it, every bug-fix opened a whole new can of worms, so if you like to fix it, please do, otherwise I would vote to delete the module altogether and maybe establish an altogether more stable solution.

[2016-07-07 10:39] miri64 commented on #5595
1. you already said: `set` would be the way to go (for asynchronous actions use `set` + `isr`)
2. `isr()` is not supposed to have arguments, since it is a signifier for the device to handle the "aftermath" of a preceding interrupt. What kind of interrupt it is supposed to be determined by the device's internal state so any kind of value/parameters could and should be stored device-internally anywa

[2016-07-07 10:43] miri64 commented on #5595
Just an example for using set with a timeout:

[code]

Wouldn't that work?

[2016-07-07 15:17] kaspar030 commented on #5503
While I totally agree that multi-API's are lacking in RIOT, I don't think this macro-based approach is the way to go. We try to avoid macro-magic wherever possible, for many reasons.

[2016-07-07 16:03] #5092 closed

[2016-07-07 16:54] chrysn commented on #5503
I'd like to mention that macros are used here only at two locations, neither of which is essential to the proposal:
* I've suggested that the pluggability of virtual devices be implemented using X macros. I'd be totally fine with any other form of code generation (which preprocessor basically is), but I don't see how an enum/switch can be extensible in C without generating code one way or another.

[2016-07-07 21:57] aeneby commented on #5611
I have zero familiarity with ZEP and no idea what a fix would/should look like; I just happened to stumble across this and thought I'd report it. So feel free to close this issue if you feel that removal is the preferred option.

[2016-07-08 07:55] bapclenet commented on #5539
Tell me if I'm wrong but the packet sent by serial to netdev is allocated somewhere or it is still allocated in the ringbuffer of ethos? If it is kept in the ringbuffer and a new packet arrives before the other has finished to be transmitted, the packet is overwritten? @kaspar030

[2016-07-08 10:19] kaspar030 commented on #5503
Yes, but both are more than simple expressions. You will not find many
more throughout the RIOT code.

There are many clever ways of using macros in order to "extend" C in
desired ways, but so far we had a strong stance against that cleverness.

That is not set in stone, but will need a more general discussion (which
is out of scope for this PR).

[2016-07-11 11:38] kYc0o commented on #5512
Since #5383 was merged, can we reclose this issue?

[2016-07-11 11:46] kaspar030 commented on #5391
Fixed by #5586.

[2016-07-11 11:46] #5391 closed

[2016-07-11 11:47] kaspar030 commented on #5207
this won't be fixed for the release -> postponed to the next one

[2016-07-11 11:49] miri64 commented on #5512
If the test is working now, yes.

[2016-07-11 11:51] kaspar030 commented on #5512
works for me.

[2016-07-11 11:51] #5512 closed

[2016-07-11 11:56] kaspar030 commented on #5051
won't be fixed for this release -> postponed

[2016-07-11 11:58] kaspar030 commented on #4841
Probably fixed by #5428.

[2016-07-11 12:03] kaspar030 commented on #1891
any news here?

[2016-07-11 12:05] kaspar030 commented on #1769
any new insights here?

[2016-07-11 12:06] kaspar030 commented on #1263
any news here?

[2016-07-11 12:06] kaspar030 commented on #4387
any news?

[2016-07-11 12:33] miri64 commented on #4387
See #5091...

[2016-07-11 12:45] PeterKietzmann commented on #4488
Is anyone willing to take over the assignment of this PR? I think I won't make it any time soon. Probably @DipSwitch?
Postponing to release 2016.10

[2016-07-11 13:22] kYc0o commented on #5394
I think this issue can be postponed (as well as #5486), what do you think?

[2016-07-11 13:34] kYc0o commented on #5458
Do you have news on this issue?

[2016-07-11 13:34] kYc0o commented on #5432
@OlegHahm can you confirm that this issue is gone with that PR merged?

[2016-07-11 13:44] kYc0o commented on #5390
Do you refer only that the package does not compile or that the application openwsn does not compile? if that's the case, it is not an issue that would be better to discuss in the applications repo? It actually exists an [issue](https://github.com/RIOT-OS/applications/issues/27) pointing to the same.

[2016-07-11 13:48] aabadie commented on #5458
Works with 2016.04 release of RIOT but didn't tried recently with master.

[2016-07-11 13:58] kYc0o commented on #5230
Do you know if this issue is still present?

[2016-07-11 13:58] kYc0o commented on #5218
#5059 has solved this?

[2016-07-11 13:59] kYc0o commented on #5122
There are news on this?

[2016-07-11 14:01] kYc0o commented on #4954
Can anyone check if #5188 solves this?

[2016-07-11 14:12] kYc0o commented on #4902
I'm maybe forced to postpone this issue for the next release, only if at the end of the week one of the xtimer PRs solve this...

[2016-07-11 14:12] kYc0o commented on #4802
can anyone confirm if #5377 can be the source of this?

[2016-07-11 14:14] kYc0o commented on #1040
This warnings are still appearing?

[2016-07-11 14:29] kYc0o commented on #1231
Someone has a hint on how this issue can be addressed? BTW for this release it seems to be difficult to find something, so I need to postpone it.

[2016-07-11 14:30] kYc0o commented on #1305
And postponed again?

[2016-07-11 15:05] kYc0o commented on #1323
As there's still some ongoing work, I'll mark this issue for the next release. Thanks for the work you're doing and keep going! :D

[2016-07-11 15:08] kYc0o commented on #4512
still an issue?

[2016-07-11 15:37] kYc0o commented on #4590
Is this issue still present?

[2016-07-11 15:44] OlegHahm commented on #5432
I think so, but #2071 has not yet been merged due to the missing ARM support.

[2016-07-11 15:48] kYc0o commented on #5432
Ok it seems complicated to get it for the next release so let's postpone it again... hopefully the last time! :)

[2016-07-11 15:49] kYc0o commented on #4612
Is this issue still present?

[2016-07-11 15:53] kYc0o commented on #4866
I'm afraid that we need to postpone this again, anyone knows if the new GPIO API takes into account this issue? Maybe @PeterKietzmann ?

[2016-07-11 15:54] kYc0o commented on #4872
any news on this? There's no milestone but a current issue is referencing this one, so maybe we need to put a milestone on this too.

[2016-07-11 15:54] kYc0o commented on #5102
anyone looking into this issue?

[2016-07-11 15:55] Kijewski commented on #1305
Seems so, unless you want to open a last-minute PR.

[2016-07-11 15:57] kYc0o commented on #3186
Let's wait for the several xtimer PRs that could improve and even solve this issue... For now changing the `XTIMER_SHIFT` to 4 gives more stability, but does not solve the problem.

[2016-07-11 16:04] kYc0o commented on #1305
It wasn't solved by #1843?

[2016-07-11 16:08] Kijewski commented on #5102
Fixing this would be easy enough:

[code]

(Untested, order of bytes could be wrong.)

[2016-07-11 16:09] Kijewski commented on #1305
`timex_t` is still used in 18 files. Most of the seem to be unit tests, though.

[2016-07-11 16:12] kYc0o commented on #1305
Uhm... I don't know if postpone it since it's a minor issue, but it's true that adding compatibility with standards is one of our main goals... Let's see if I have time to change it before the feature freeze.

[2016-07-11 16:25] wentaoshang commented on #5102
We don't know for sure that destination will be aligned. The hash value
could be filled into any location in memory.

On Monday, July 11, 2016, René Kijewski <notifications@github.com> wrote:

--
PhD @ IRL, CSD, UCLA

[2016-07-11 16:35] wentaoshang commented on #5102
See my temporary fix for this issue. This is essentially the same code as memcpy.

https://github.com/wentaoshang/RIOT/commit/11c9baab117a56fa228a2c2c083be365f9bf3fa4

[2016-07-12 06:30] LudwigKnuepfer commented on #4872
Do as you please.

[2016-07-12 07:43] OlegHahm commented on #4612
AFAIR this is an inherent problem of the TLSF implementation. One way to go around it, would be just not to offer TLSF support for 16-bit platforms and add another package for malloc on these platforms.

[2016-07-12 09:14] PeterKietzmann commented on #4866
Not that I know. IMO the issue is not about the API design but more about (i) the driver implementation itself and/or (ii) documentation about the programming model

[2016-07-12 13:57] toonst opened #5623 "How to use a module only on certain OS?"
For a test application I'm making I'd like to use a module only if the target is native and if it is Linux.
I tried to do this the following way (inside `tests/mystest/Makefile`:
[code]
If I try to put the `include $(RIOTBASE)/Makefile.include` after this, OS and CPU are not yet defined.
If I try to put it before, the USEMODULE is already expanded.

What's the proper way to do this?

[2016-07-12 14:20] toonst commented on #5623
This seems to be an acceptable solution:
[code]

[2016-07-12 14:23] toonst commented on #5623
This seems to be an acceptable solution:
[code]
So defining OS myself and use BOARD iso CPU, which is defined in `Makefile.tests_common`. It might be useful to move `OS:=$(shell uname)` to `Makefile.tests_common` as well.

[2016-07-12 14:23] #5623 closed

[2016-07-13 14:46] kaspar030 commented on #5518
Should be fixed by #5630 and a fix to Murdock's build scripts. Will keep open until the first release branch build completes.

[2016-07-13 16:09] OlegHahm commented on #5394
I'm afraid we have to.

[2016-07-13 17:58] OlegHahm commented on #1263
I was probably the RIOTer with the most extensive use of TLSF over the last three months, but apart from concurrency issues with calloc() I couldn't find a problem.

[2016-07-13 18:07] OlegHahm commented on #1040
Yes.

[2016-07-13 18:15] kYc0o commented on #5394
Well... let's do it...

[2016-07-13 19:08] miri64 commented on #5394
Well there is an issue for that now, so we can close this ;-)

[2016-07-13 19:08] #5394 closed

[2016-07-14 13:28] gebart commented on #5398
Another PR on flash interfaces: #5624, with a spiffs implementation in #5625

[2016-07-15 09:50] cladmi opened #5647 "dist/tools/uhcpd: allow running multiple instance"
I want to run multiple instances of uhcpd on the same host at the same time.

My goal is to make a 'start_network.sh' equivalent script work on IoT-LAB frontend to multiple users.

For that it should be possible to run multiple instances of `start_network.sh` with different tap interface and notes. The current problem is `uhcpd`, as it is locking the udp socket port.

One other constraint, at best

[2016-07-16 10:17] gebart opened #5651 "doc: Doxygen group core_util is cluttered"
The group `core_util` has grown and become very cluttered.
I propose we introduce a new top level group beside Kernel name "Core library".
The core_util functions don't really depend on the kernel and are mostly pure portable C implementations of useful algorithms and techniques.

Existing layout:
- Kernel
  - IRQ Handling (irq.h)
  - Kernel utilities (everything else)
  - Messaging / IPC (msg.h)

[2016-07-16 12:46] kYc0o commented on #534
I'm afraid I won't have time to work on it for this release... I need to postpone it.

[2016-07-18 12:17] melshuber opened #5656 "Possible Weakness with locking in the GNRC network stack"
In the IPv6/6loWPAN stack there are sometimes statements like this: (e.g.: sys/net/gnrc/network_layer/ipv6/netif/gnrc_ipv6_netif.c:95ff)

[code]

Releasing the lock and relocking it again later however breaks the atomicity of those functions, because the memory which is protected by the lock might change while the lock is not held.

I propose two possible solutions:
1) implement local function for

[2016-07-18 13:07] miri64 commented on #5656
We talked already at the summit about this and I agree, that we need to fix this ASAP. I think the re-entrant mutexes would be the cleaner and in the end code-saving. @kaspar030 how hard would that be to realize?

[2016-07-18 13:21] melshuber commented on #5656
I also think reentrant mutex are the way to go. However i do not think that you should change the semantics of your current mutex implementation as this may break many other things. Further non-reentrant mutexes are more lightweight. May be it is better to add an rmutex module.

[2016-07-18 13:22] kaspar030 commented on #5656
@melshuber With re-entrant you mean recursive, e.g., a thread locking a mutex twice doesn't block itself?

[2016-07-18 13:30] LucaZulberti opened #5657 "CC2538: kernel panic using 'radvd'"
Hi all,

recently I've seen the RF support for the cc2538 has been added to the master branch, so I decided to add that type of hardware in my sensor network.
I've flashed the gnrc_networking example on two board (samr21-xpro, cc2538dk) and using radvd on my linux 6lowpan router they build their own global address with a specific prefix.

I turn on the cc2538 node, ifconfig output:
[code]
It has g

[2016-07-18 13:41] melshuber commented on #5656
yes - recursive is the correct terminus

[2016-07-18 13:43] miri64 commented on #5656
I think they are both correct ;-) at least I've seen both in literature.

[2016-07-18 13:46] miri64 commented on #5656
So the issue is two-fold now: (a) implementing re-entrant mutexes and (b) apply them everywhere it makes sense. @kaspar030 do you have capacities to do (a)? Then I would do (b) at least for the most parts in GNRC with the upcoming re-work of the network layer anyway.

[2016-07-18 13:53] miri64 commented on #5657
Looks more like a failed assertion. The big "ASSERTION FAILED" could be a hint for that ;-). Can you check with `addr2line` or `objdump` where the assertion is failing, please?

[2016-07-18 14:14] LucaZulberti commented on #5657
The kernel panic reports this address: 0x2052c1, right?
[code]

I've give this command ('hce-iot' is a copy of the cc2538 folder with some personal defines):

And searching for '2052c1' I've found only this (match at label '188:')
[code]

[2016-07-18 14:18] miri64 commented on #5657
Yes, but we seem to have the same issue as on iotlab-m3. Please recompile without optimization (`CFLAGS_OPT=-O0`) and try again (at least that is what I remember how to resolve this, but I think @OlegHahm might be the more helping hand here).

[2016-07-18 14:29] LucaZulberti commented on #5657
I've searched for '2052c', now is better:
[code]

Now i'll try to recompile without optimization.

[2016-07-18 14:40] LucaZulberti commented on #5657
Compiling without optimization doesn't resolve the error:
[code]

At the 0x2002b1 address is located the core_panic function:
[code]
 How can I find where the core_panic is called?

[2016-07-18 17:45] kaspar030 commented on #5656
Well, they're (fairly) easy to implement, but they would basically add (mutex-codesize + X).

Do I understand correctly that gnrc has a lot of shared memory (between threads) that the mutexes try to protect, and even one single thread might try to lock some of that memory twice, because the accesses are nested? Sounds scary.

[2016-07-18 18:33] gebart commented on #5519
Reopening because lpc2387 fails with current release of GCC-6 (arm-none-eabi-gcc-6.1.0)

Should be fixed in 6.2.0 (unreleased), see https://gcc.gnu.org/bugzilla/show_bug.cgi?id=70830

[code]

[2016-07-18 19:01] miri64 commented on #5657
I didn't state that it resolves the error, just the "error" with not finding the proper line fo the assertion.

It's called by the `assert()` macro in https://github.com/RIOT-OS/RIOT/blob/master/sys/net/gnrc/pktbuf_static/gnrc_pktbuf_static.c#L224, most likely ;-). Seems like the new driver has a `gnrc_pktbuf_release()` to much

[2016-07-18 19:05] miri64 commented on #5657
Since this is device dependent I suspect it's more a problem with the device, so I rename the issue and reassign.

[2016-07-18 19:08] miri64 commented on #5657
@aeneby `git blame` revealed you wrote most of it. Can you have a look, too?

[2016-07-18 19:16] miri64 commented on #5656
Not a lot, just the data structures of the network layer that are also accessible to users (interfaces, neighbor cache, ...). The problem comes from the fact, that packets need to be send out if some things are changed (e.g. Router Advertisements when a new prefix is added). Since this happens has to happen while the mutex is locked (otherwise the address could be removed again making the sendout

[2016-07-18 19:26] kaspar030 commented on #5656
That could be a way. I'll try to come up with sth.

[2016-07-18 19:30] aeneby commented on #5657
This failed assertion rings a bell - see #5535 .

[2016-07-18 22:40] aeneby commented on #5657
@LucaZulberti you might try building with #5536 included to see if this prevents the crash - this would only be a temporary solution however, since I think that PR needs re-doing. It would be interesting to know what type of packet is causing the crash, though. Do you have a sniffer available?

[2016-07-18 23:25] OlegHahm commented on #5519
Is ARM7 even officially supported by this version?

[2016-07-19 05:12] LucaZulberti commented on #5657
Yes I can sniff the packets, but I can't do it before this evening, I'll post the results with #5536 included.
Thank you for your support.

[2016-07-19 08:43] kaspar030 opened #5659 "classify RNG "randomness" in code"
In order to make discussion about RNG initialization etc. more effective, I've tried to classify the requirements to our random number generators for different applications:

1.  just spit out some numbers
Simple. Even rand() does that. It's always the same sequence, but ok for some applications. This is the current state of affairs.
Enough for (boring) Tetris.
Insufficient for networking (breaks

[2016-07-19 08:44] kaspar030 commented on #5659
IMHO we should make this classification available for code, so e.g., crypto code can at least spit out a warning when used with no or a bad random source.

[2016-07-19 09:51] gebart commented on #5519
@OlegHahm I believe it does. lpc2387 is of the family ARM7TDMI which uses the armv4t architecture which should be supported in GCC.

[2016-07-19 12:43] OlegHahm commented on #5519
Thanks for the clarification.

[2016-07-19 12:44] OlegHahm commented on #5659
I just realized: it's probably not such a good sign, that we don't even have a label "security" in the issue tracker. ;)

[2016-07-20 06:56] LudwigKnuepfer opened #5664 "native does not build on arm platforms anymore"
There is an unconditional x86 assembly command in natives code at the moment:
https://github.com/RIOT-OS/RIOT/pull/3782#discussion_r71473616

[2016-07-20 08:11] OlegHahm commented on #5664
Oops, mea culpa.

[2016-07-21 03:23] aeneby commented on #5535
ACK frames will also provoke this.

[2016-07-21 10:15] melshuber commented on #5656
@miri64: Just a thought - As RIOT is a Message passing OS why not try to put this paradigm onto the network stack.
Those management functions - read/modify neighbour cache, add/remove ip addressed, read/modify 6loctx, ... are called rarely from the outside and mostly not performance critical.
Why not make them accessible by the synchronous and or asynchronous API and get rid of the mutexes complet

[2016-07-21 12:47] miri64 commented on #5656
Might also be an idea. Indeed, I'm thinking about integrating more layers than just L2 into the usage GET/SET commands (which was the original idea). This part of netapi is currently dangerously underutilized ;-).

[2016-07-21 21:15] aeneby commented on #5657
@LucaZulberti Did you manage to test with the PR included?

[2016-07-21 21:27] LucaZulberti commented on #5657
I have some problems with the connection to the board, i think my USB-serial adapter is gone...
I'm sorry for the late in response, but i think i can't do nothing at the moment.. I will post the result as soon as i can.

[2016-07-21 22:23] LucaZulberti commented on #5657
I've made this:
[code]

Then i recompiled the gnrc_networking example for both board, but the error is still present.
I sniffed the packets with tcpdump on the linux host, this is the 'fatal' sequence:
[code]

I try to sniff wpan0 too:
[code]

[2016-07-22 10:06] jia200x commented on #5659
Some radio drivers (e.g at86rf2xx) provide a "true" RNG based on transceiver events. Should be fast enough for most applications :)

[2016-07-22 10:13] gebart commented on #5656
There's an implementation proposal for a recursive mutex as part of the PR for newlib reentrancy #4529

https://github.com/RIOT-OS/RIOT/pull/4529/files#diff-8f48e1b9ed7a0a48d0c686a87cc5084eR35

[2016-07-22 10:33] jia200x opened #5678 "[at86rf2xx] failed assertion in _isr"
Hi.

Sometimes I get [this failed assertion](https://github.com/jia200x/RIOT/blob/openthread/drivers/at86rf2xx/at86rf2xx_netdev.c#L637) in the at86rf2xx when I'm working with more than 20 nodes.

I added an [option](https://github.com/jia200x/RIOT/blob/openthread/drivers/at86rf2xx/at86rf2xx_getset.c#L376) for enabling/disabling the receiver of at86rf2xx (required for the OpenThread port, sorry for

[2016-07-22 11:17] melshuber commented on #5656
I have checked the implementation and it should work.
However is the atomic_inc/dec necessary? The lock is already/still held at this point.
A normal / non-atomic should do the job just as well.

[2016-07-22 11:20] gebart commented on #5656
I agree regarding the atomic inc, but I think there is already another race between the check and update of the owner variable. Probably should be using atomic_cas in some form.

[2016-07-22 11:46] gebart commented on #5656
@melshuber Do you have the time to adapt the code from #4529 into a new core/recursive_mutex component?

[2016-07-22 13:19] OlegHahm commented on #5678
Could be related to https://github.com/RIOT-OS/RIOT/issues/5486.

[2016-07-22 13:22] jia200x commented on #5678
Could be in fact. It's the same behavior

[2016-07-22 18:24] LudwigKnuepfer opened #5680 "native does not run on arm platforms anymore"
There is a bug in natives `thread_stack_init` code at the moment causing native to segfault:
https://github.com/RIOT-OS/RIOT/pull/3390/files#r71922871

[2016-07-24 02:55] quangkhanh opened #5683 "Error when Booting VM with command: vagrant up"
I'm following the steps for preparation (Quick Setup - Using a Virtual Machine) in Tutorials. When I reached the step "Run the [Vagrant RIOT Setup"](https://github.com/RIOT-OS/RIOT/blob/master/dist/tools/vagrant/README.md), I got an error with boot VM.

I'm using Windows 7 Ultimate 64-bit, VirtualBox 5.0.26 and VirtualBox Extension Pack, Vagrant 1.8.5.
I tried:
- Reinstall the VirtualBox
- Run the

[2016-07-24 16:55] grundrauschen commented on #3284
Sorry for writing back so late, but I overread the messages.

[2016-07-24 18:10] gebart commented on #2143
We should fix this for next release. I'm getting the same build error for BOARD=z1 1½ years later.

[2016-07-24 20:29] aeneby opened #5684 "ieee802154: Intra-pan packet headers are constructed incorrectly"
When sending intra-pan packets (i.e. packets where the source and destination PANs are identical), the source PAN should be omitted from the header and the "intra-pan" bit set to 1. From the 802.15.4-2003 spec (page 154):

Currently, drivers using RIOT's `ieee802154` implementation are sending out intra-pan packets with both source and destination PANs in the header, and the "intra-pan" bit set to

[2016-07-25 01:40] aeneby commented on #5657
I'm afraid I can't seem to reproduce this using two cc2538 devices and radvd. Your "fatal" packet sequence suggests that it is a response to a neighbor solicitation which provokes the crash, but this works fine for me even without #5536 included. Are you using the current git master?

I'm also curious as to which radio/driver you are using with radvd?

[2016-07-25 04:08] aeneby commented on #5457
The more I read through the 802.15.4 spec, the more I'm convinced that the only valid "default" short address is `0xffff`. This is alluded to throughout the spec - for example, Table 71 describes the short address as:

So the only way for a device to have a short address _at all_ is to either be a PAN coordinator, or be issued one _by_ a PAN coordinator. If neither of these things are true then th

[2016-07-25 05:37] aeneby commented on #5684
#5685

[2016-07-25 05:41] basilfx commented on #5683
I don't use Vagrant, but here are some things to check:

* Does a normal virtual machine start? You can create one and see if it boots. If not, than it is not a RIOT-OS issue.
* Do you have virtualization enabled in your EFI/BIOS?
* Have you also tried this order: remove VirtualBox, remove Avast, reboot, install VirtualBox?
* What does your log file say (C:\Users\Dell\VirtualBox VMs\Logs\VBoxHarde

[2016-07-25 07:59] smlng commented on #5457
@aeneby, I think you are right. But somehow the short address handling is (kind of) _messed up_ in RIOT at the moment anyway. See my comment above regarding PhyNodes (pbd-d-01-kw2x) with _same_ (wrong) short address, it seems that RIOT is considering short addresses during DAD (or some other mechanism behind the scenes) and discards its IP addresses. So even if `0xffff` is used in RIOT as _default

[2016-07-25 09:39] alexaring commented on #5457
No, we don't have any pan coordinator functionality yet. But I have some idea's what's currently missing and "basic" how to implement it We don't support any MLME-OPS, I think we should start to implement _one_ MLME-ops, the other MLME-ops will come... then we have some basic stuff e.g. synced xmit function with return value of transmission state (e.g. ACK was there or not).

The whole coordinator

[2016-07-25 09:49] mojiuyu commented on #5684
dear aeneby : Sorry,my english is not very good.I want to use the radio frequency functions cc2538.Can you show me the example of it?

[2016-07-25 10:02] aeneby commented on #5684
@mojiuyu your question is outside the scope of this issue, please try asking on the RIOT users' mailing list instead.

[2016-07-25 10:53] aeneby commented on #5657
Hmm. Are you able to reproduce this reliably?

It's possible you won't see the offending packet via `tcpdump` on the Linux host, since it may be coming from your other node. You'd have to capture traffic using a separate radio in monitor mode, if possible.

Alternatively, try building from [this commit](https://github.com/aeneby/RIOT/commit/1bef81ea156265a5c2d44cedc00a4ab2d071ac33) and flashing to

[2016-07-25 13:24] kYc0o commented on #3812
Postponed again to 2010.10

[2016-07-25 13:48] gebart commented on #4700
#5688 fixes this by removing atomic.h and replacing it with compiler intrinsics and a helper library for when the hardware is missing support for lockless atomic operations.

[2016-07-25 14:34] LucaZulberti commented on #5657
I haven't got an external sniffer now. This is the output with your commit:
[code]

[2016-07-25 15:51] kYc0o opened #5689 "CI: Murdock start with other labels than "Ready for CI build""
I noticed that Murdock starts to build when I set the label "new feature" in any PR. I didn't test with other labels but if you experience something similar please report it.

[2016-07-25 16:03] kYc0o commented on #1263
Should we close it then?

[2016-07-25 16:05] kYc0o commented on #1769
#4780 is still being discussed, so this issue will go for the next release.

[2016-07-25 16:05] Kijewski commented on #1263
No.

[2016-07-25 16:07] kYc0o commented on #1263
Then it will postponed since there is no PR solving this bug.

[2016-07-25 16:09] kYc0o commented on #1891
It is not solved by #5094 ?

[2016-07-25 16:11] kYc0o commented on #3186
Since there are several timer PRs to be reviewed and hopefully merged, I think it's reasonable to move this issue to the next release.

[2016-07-25 16:12] kYc0o commented on #4048
@miri64  It was?

[2016-07-25 16:34] kYc0o commented on #4387
There's no milestone for #5091, so I'll postpone this one.

[2016-07-25 16:34] kYc0o commented on #4474
Postponed again...

[2016-07-25 16:36] kYc0o commented on #4388
Sadly, postponed again.

[2016-07-25 17:35] jia200x commented on #5486
@OlegHahm  as pending_tx is an uint8_t, at some point this variable overflows and becomes 0 again (=> crash due to assert).

[code]

(I added "Exec" DEBUG msg to at86rf2xx_tx_exec ).

This seems to happen when there's an incoming packet just after transmission. Maybe one of this solutions?:

1. Give space for missing interrupts (e.g declare a timeout for each transmission, and only if the driver c

[2016-07-25 17:51] jia200x commented on #5486
I tried setting the AT86RF2XX_XAH_CTRL_1__AACK_ACK_TIME flag to 1, but didn't work...

[2016-07-25 18:09] miri64 commented on #4048
I honestly don't know. So let's move this again.

[2016-07-25 19:52] aeneby commented on #5657
@LucaZulberti thanks, this is great. There are some buffer underflows happening there which is a concern, but I think I already see why (a second packet being received while one is already being processed; a situation which isn't handled properly by the driver yet). But this is not the reason for your crash.

The failed assertion is being caused by that final packet `05 02 00 04 1e ea`, which is j

[2016-07-25 21:01] aeneby commented on #5657
Actually, I just realised that this last frame is not garbage - it's a completely valid frame (ACK), including the CRC. So #5654 won't help you there. This is a duplicate of #5535. Sorry for the confusion.

[2016-07-25 23:15] LucaZulberti commented on #5657
Ok, thank you for your support! :-) I have to wait for #5535 right? If so, this issue can be closed in favor of that.

[2016-07-25 23:42] aeneby commented on #5657
Yes, I think @miri64 mentioned she was going to look at it after the 2016.07 release. @thomaseichinger please feel free to close this issue.

[2016-07-26 00:54] mojiuyu commented on #5657
@LucaZulberti : sorry my english is not good.I am also interested in the radio of cc2538 module.Can you show me how to use this module? thank you !

[2016-07-26 06:32] LucaZulberti commented on #5657
@mojiuyu This is out of the scope of this issue.
This radio can be used with the gnrc network stack of RIOT as the others one.
If you want you can send to me an email (zulberti.luca@gmail.com), anyway I'm not an expert of this OS.
I think you should start to read the Wiki and test some example projects.

[2016-07-26 06:43] melshuber commented on #5656
Yes I will take a look, i hope can propose a pull request, by the end of next week.

[2016-07-26 07:04] BytesGalore commented on #5108
I proposed #5690

[2016-07-26 07:28] quangkhanh commented on #5683
I tried with some other normal virtual machines, and VirtualBox cannot boot them while VMware can. This must be the issue of VirtualBox.

Thank you.

[2016-07-26 07:28] #5683 closed

[2016-07-26 07:40] PeterKietzmann commented on #5657
@LucaZulberti do I get it correctly that #5535 fixes the above described issue?

[2016-07-26 08:01] mtausig commented on #5466
Introducing a weak RNG is definietely not a good solution.
But what could be done, is make micro-ecc at least semi-usable without a HWRNG, since a lot of functions does not need it anyway (like signature verification and deterministic signing). One could create a patch which removes all functions requiring random numbers when no hwrng is available.

[2016-07-26 08:03] mtausig commented on #5466
By the way, @wentaoshang: Have a look at https://github.com/RIOT-OS/RIOT/pull/4989, which implements the hwrng for a samr1-xpro board. It is not merged (and won't be in the near future), but it works and you could use it in your project.

[2016-07-26 08:29] BytesGalore commented on #3301
@gebart does this issue still apply?

[2016-07-26 10:34] BytesGalore commented on #5102
@wentaoshang you're right, the user passes destination and source to the functions which pass them further to the `be32enc_vect(..)`function.
Since `dst_` is a `void*` we cannot make any assumptions on its alignment.
I guess your temporary fix would do, but I wonder if we would only require the ``` else ``` part.

[2016-07-26 10:35] gebart commented on #3301
nope, does not occur anymore

[2016-07-26 10:35] #3301 closed

[2016-07-26 11:59] kYc0o commented on #4512
Ok well, let's move it for the next release.

[2016-07-26 12:02] kYc0o commented on #4499
As far as I can see this issue is solved by #4520. Can anyone confirm it?

[2016-07-26 12:08] kYc0o commented on #4590
Well let's see for the next release if we can solve it.

[2016-07-26 12:08] kYc0o commented on #4612
Ok well let's discuss it for the next release.

[2016-07-26 12:09] kYc0o commented on #5539
Anyone against to postpone this bug to be solved on the next release?

[2016-07-26 12:10] kYc0o commented on #4802
Ok so let's see for the next release (again).

[2016-07-26 12:12] kYc0o commented on #4841
Since #5428 is open and probably won't be merged for this release, I'll postpone this issue.

[2016-07-26 12:16] kYc0o commented on #4902
@OlegHahm  I'd like to reconsider your proposition but it cannot be done by filtering all the bug issues which are or not marked for a release? They still are bugs anyways...

[2016-07-26 12:17] kYc0o commented on #4954
#5188 was postponed so this one too.

[2016-07-26 12:22] kYc0o commented on #5083
Still an issue. Postponed for the next release.

[2016-07-26 12:24] kYc0o commented on #5102
Can anyone point to the PR solving this (if there is one)?

[2016-07-26 12:27] kYc0o commented on #5122
Postponed. Hoping this one will be addressed on the new design of NDP.

[2016-07-26 12:28] kYc0o commented on #5218
Well until having  an answer I'll move it for the next release.

[2016-07-26 12:29] kYc0o commented on #5230
Postponing again since the fix was postponed too.

[2016-07-26 12:30] kYc0o commented on #5338
I need to postpone this until all related XTIMER PRs are solved.

[2016-07-26 12:34] kYc0o commented on #5361
The issue is still present AFAIK, so postponed for the next release.

[2016-07-26 12:37] kYc0o commented on #5390
The issue about old modules is not present anymore, however the package is still not building. Postponing and I'll try to open another issue pointing to the new problem, afterwards we can close this one.

[2016-07-26 12:38] kYc0o commented on #5458
Please try asap if you can, I'll move this issue to the next release.

[2016-07-26 12:40] kYc0o commented on #5519
Since this bug is being fixed in a new compiler version, I'll move it to the next release to wait for such new version, then test if it really solves this and close it.

[2016-07-26 12:41] kYc0o commented on #5678
Since the related issue is postponed, I'll postpone this one too.

[2016-07-26 12:42] kYc0o commented on #1040
Let's postpone this issue then.

[2016-07-26 12:43] kYc0o commented on #1131
Somehow this was reaaaally forgotten... moving for the next release.

[2016-07-26 12:44] gebart commented on #5218
there's still some in the tree.
There are also a few occurrences of `asm` (instead of `__asm__`)

[2016-07-26 12:44] kYc0o commented on #1305
I didn't addressed this issue so I'll postpone it.

[2016-07-26 12:45] kYc0o commented on #5218
Ok so let's try to fix them for the next release.

[2016-07-26 12:46] kYc0o commented on #1646
Didn't make it, so postponing.

[2016-07-26 12:47] kYc0o commented on #2137
@OlegHahm can you give an update on this issue? I'm afraid it will be postponed again.

[2016-07-26 12:49] kYc0o commented on #3063
@cgundogan AFAIK there is no non-storing mode currently on master, so I'll postpone it for the next release.

[2016-07-26 12:50] kYc0o commented on #3169
And postponed again...

[2016-07-26 12:53] kYc0o commented on #3662
Somehow this was completely forgotten... I hope it can be addressed for the next release...

[2016-07-26 12:56] kYc0o commented on #4037
Solved by #5491

[2016-07-26 12:56] #4037 closed

[2016-07-26 12:58] kYc0o commented on #4211
@gebart I have the impression that on one of your PRs you addressed this issue. Am I wrong?

[2016-07-26 13:00] kYc0o commented on #4275
and postponed again... maybe @zhuoshuguo or @miri64 can have an idea?

[2016-07-26 13:02] kYc0o commented on #4342
The PR solving this was merged, so I'll close the issue.

[2016-07-26 13:02] #4342 closed

[2016-07-26 13:04] kYc0o commented on #4344
The openwsn package is broken, let's open another issue to point it out and work on this one for the next release.

[2016-07-26 13:04] kYc0o commented on #4363
And not for this one either... :/ hopefully the next?

[2016-07-26 13:07] BytesGalore commented on #5102
@kYc0o there is none currently.
@wentaoshang could you provide a PR for the changes you made in https://github.com/wentaoshang/RIOT/commit/11c9baab117a56fa228a2c2c083be365f9bf3fa4, then we can discuss your proposition there and probably merge it soon :)

[2016-07-26 13:15] kYc0o commented on #5102
Ok right, thanks. Let's try to do it for the next release.

[2016-07-26 13:18] kYc0o commented on #4371
Still inconsistent. Let's move it for the next release.

[2016-07-26 13:19] gebart commented on #4211
@kYc0o I don't remember changing this

[2016-07-26 13:19] kYc0o commented on #4418
AFAIK this issue is not completely solved, so I'll move it for the next release.

[2016-07-26 13:19] kYc0o commented on #4211
Ok let's postpone it then.

[2016-07-26 13:21] kYc0o commented on #4490
And postponed again...

[2016-07-26 13:23] kYc0o commented on #4511
Maybe for the next release? ;)

[2016-07-26 13:26] kYc0o commented on #4511
Another package affected by this issue is in #5552 which also provides their own building system, which is incompatible with the RIOT one. Maybe we need to standardise the systematic use of the RIOT build system?

[2016-07-26 13:30] kYc0o commented on #4518
So there is a consensus on this issue?

[2016-07-26 13:36] waehlisch commented on #4518
Yes, ms.

[2016-07-26 13:36] kYc0o commented on #4518
So it was changed on the FIB?

[2016-07-26 13:37] kYc0o commented on #4518
I found #5158 is not merged so this will be postponed too.

[2016-07-26 14:17] kYc0o commented on #4560
Since it was partially solved by #4593 I'll postpone this issue for the next release.

[2016-07-26 14:19] kYc0o commented on #4583
Someone has a hint on the status of this issue? I'll postpone it but I don't know if there are proposed solutions.

[2016-07-26 14:22] kYc0o commented on #4672
Let's postpone this one since hopefully a newer solution will come based on #5181

[2016-07-26 14:23] kYc0o commented on #4689
@miri64 this issue was solved by #4551 isn't it?

[2016-07-26 14:23] kYc0o commented on #4764
And postponed again... :(

[2016-07-26 14:25] kYc0o commented on #5034
No objections, but please address it for the next release :)

[2016-07-26 14:26] kYc0o commented on #5128
And postponed again...

[2016-07-26 14:27] kYc0o commented on #5156
I hope this will be addressed on the next release :)

[2016-07-26 14:30] kYc0o commented on #5164
Let's continue this discussion for the next release.

[2016-07-26 14:32] kYc0o commented on #5173
Well... it seems the issue wasn't addressed. Let's try to solve it for the next release.

[2016-07-26 14:33] kYc0o commented on #5201
Nice idea, but maybe we can realise it for the next release.

[2016-07-26 14:35] kYc0o commented on #5237
This issue has been addressed in some PRs, but none of the has been merged or could be merged for this release. Let's try for the next one.

[2016-07-26 14:36] kYc0o commented on #5263
Let's try to propose a solution for this for the next release.

[2016-07-26 14:38] kYc0o commented on #5265
Is this still an issue? If so, let's try to address it for the next release.

[2016-07-26 14:39] kYc0o commented on #5318
Updated and moved for the next release.

[2016-07-26 14:40] kYc0o commented on #5319
Let's try to completely fix it for the next release.

[2016-07-26 14:41] kYc0o commented on #5328
Maybe it can be addressed on the new NDP design? For the next release if possible :)

[2016-07-26 14:43] kYc0o commented on #5371
Maybe this could be addressed on the next release?

[2016-07-26 14:44] kYc0o commented on #5494
Postponing for the next release.

[2016-07-26 14:47] kYc0o commented on #5599
Postponed as the PR solving this was postponed too.

[2016-07-26 15:24] gebart commented on #5265
yes, still an issue. This thread has been awfully silent since I posted it.

[2016-07-26 15:30] josephnoir commented on #4583
I hope that #5688 will solve this.

[2016-07-26 15:34] gebart commented on #4583
`mutex_t` doesn't actually use `atomic_int_t` anymore (since #4557).
@josephnoir could you test if this issue was fixed by that change?

[2016-07-26 15:49] josephnoir commented on #4583
Thanks for the hint. Compiles on native for me using macOS 10.12 Beta with:
[code]
Unless someone wants to try it with the current OS X version, I'd say we can close this.

[2016-07-26 16:22] miri64 commented on #4499
I'm not sure.... @jfischer-phytec-iot can you please confirm?

[2016-07-26 16:39] gebart commented on #4583
Works fine on Linux with `CC=clang` as well.

[code]
Let's close this.

[2016-07-26 16:39] #4583 closed

[2016-07-26 17:05] josephnoir opened #5693 "Building core module for native on raspberry pi fails"
Testing #5682 on raspberry pi, I noticed that building the `thread_basic` test for native (gcc version 4.9.2 (Raspbian 4.9.2-10)) fails with:

[code]

(Requires changing the `#ifndef` in `RIOT/core/panic.c` line 49 to `#ifdef` as noted in the comments.)

[2016-07-26 17:14] gebart commented on #5693
what's your compiler version?

[2016-07-26 17:17] gebart commented on #5693
UNREACHABLE is defined in kernel_defines.h which is included by panic.c. Could you run it again with QUIET=0 and then use the same GCC command but remove the `-o [filename.o]` and add `-E -dD | less` and see what UNREACHABLE is defined to?

[2016-07-26 17:32] josephnoir commented on #5693
Here is the output:

[code]

Complete compiler version is:
[code]

[2016-07-26 17:56] OlegHahm commented on #5265
Oops, yes, this one slipped through somehow. Could it be that the old hwtimer module needed this API somehow? For now, I would support this RFC.

[2016-07-26 18:02] gebart commented on #5693
okay, could you paste the whole preprocessed code somewhere? (e.g. https://gist.github.com)

[2016-07-26 18:03] #5664 closed

[2016-07-26 18:06] miri64 commented on #4802
I think that might have been solved. Lets close this and reopen in case something like this is seen again (it's a minor issue anyways).

[2016-07-26 18:06] #4802 closed

[2016-07-26 18:07] josephnoir commented on #5693
Sure. You mean [this output](https://gist.github.com/josephnoir/4ecaac0c195bdddc4e9e5efcc4c84ea5)?

[2016-07-26 18:10] gebart commented on #5693
yeah, something is messed up on your side. It looks like panic.c ends after the `UNREACHABLE();` line.

[2016-07-26 18:11] gebart commented on #5693
(It's missing the closing brace for the function `core_panic`)

[2016-07-26 18:12] miri64 commented on #5390
Here at least it's still the hwtimer problem.

[2016-07-26 18:14] LucaZulberti commented on #5657
@PeterKietzmann yes, this can be closed in favor of #5535, I will wait and test with the new PR #5694.

[2016-07-26 18:15] OlegHahm commented on #5390
Depends on how you want to handle this, but I always preferred to keep unsolved issues tagged for the release in order to easily gather them for the "known issues" list.

[2016-07-26 18:17] josephnoir commented on #5693
Damn, you are right! Sorry for the fuzz ...

[2016-07-26 18:17] #5693 closed

[2016-07-26 18:24] PeterKietzmann commented on #5657
Ok so I will close it. Thanks for your report!

[2016-07-26 18:24] #5657 closed

[2016-07-26 18:26] miri64 commented on #4689
Nope, still volatile int.

[2016-07-26 18:39] #5680 closed

[2016-07-26 19:03] OlegHahm commented on #2137
[code]

[2016-07-26 19:40] OlegHahm commented on #1891
For me the output still looks like
[code]

[2016-07-26 19:47] OlegHahm commented on #3824
Cannot reproduce any more.

[2016-07-26 19:51] miri64 commented on #3824
So can we close?

[2016-07-26 19:51] miri64 commented on #3824
(me neither btw)

[2016-07-26 19:53] OlegHahm commented on #3824
Tested on two machines several times. Haven't seen a single crash -> close.

[2016-07-26 19:53] #3824 closed

[2016-07-26 20:06] miri64 commented on #3824
(to be fair: two very similar machines, but maybe someone with an Ubuntu PC that isn't a ThinkPad likes to test too ^^)

[2016-07-26 20:35] kYc0o commented on #4689
ok let's postpone it then.

[2016-07-26 20:38] kYc0o commented on #2137
wow... huge numbers indeed... well, let's try to do something for the next release.

[2016-07-26 20:44] kYc0o commented on #1891
So the issue disappeared? (compared to the output on the beginning of this issue)

[2016-07-26 20:47] miri64 commented on #1891
No, that's basically still the same. It won't disappear unless we activate printf support for longs and long longs in nano specs.

[2016-07-26 20:49] kYc0o commented on #1891
AFAIK active that will increase code size it isn't?

[2016-07-26 20:51] OlegHahm commented on #3824
I mean I tested on two machines (Lenovo Thinkpad X220 with Intel(R) Core(TM) i5-2520M CPU @ 2.50GHz and Dell Desktop machine with Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz). But yes, both machines running Arch Linux with Linux 4.6.3.

[2016-07-26 20:57] OlegHahm commented on #3824
Tested on a Intel(R) Core(TM) i7-2600 CPU @ 3.40GHz with Debian and Linux 4.4.0-1-amd64, too. Works also without problems.

[2016-07-26 20:59] miri64 commented on #3824
Ah I thought you were refering to our two machines :-)

[2016-07-26 20:59] OlegHahm commented on #1891
Yes, that's why we should not do that.

[2016-07-26 21:00] kYc0o commented on #1891
So the issue cannot be solved otherwise?

[2016-07-26 21:00] miri64 commented on #1891
Replace all occurences with usage of `fmt` maybe.

[2016-07-26 21:07] kYc0o commented on #1891
We can postpone it?

[2016-07-26 21:10] miri64 commented on #1891
Yes. And let's keep up the discussion ;-)

[2016-07-26 21:36] kaspar030 commented on #3824
did you try multiple parallel 'ping -f'?

-----Original Message-----
From: Oleg Hahm <notifications@github.com>
To: RIOT-OS/RIOT <RIOT@noreply.github.com>
Cc: Kaspar Schleiser <kaspar@schleiser.de>, Assign <assign@noreply.github.com>
Sent: Di., 26 Juli 2016 22:09
Subject: Re: [RIOT-OS/RIOT] native: gnrc: hardcore pinging crashes (#3824)

Cannot reproduce any more.

---
You are receiving this becau

[2016-07-26 22:28] kYc0o commented on #5539
Postponed.

[2016-07-27 00:59] aeneby opened #5695 "make: RIOT_VERSION not updated if core/kernel_init.c unchanged"
So if you switch branches and rebuild, `RIOT_VERSION` will still have the old branch name in it unless `core/kernel_init.c` gets rebuilt.

This should be solvable with a `.FORCE` directive in a Makefile somewhere, but since I'm unsure exactly where that should be I'm opening an issue instead of a PR :)

[2016-07-27 06:41] OlegHahm commented on #3824
Yes. Different issue.

[2016-07-27 06:41] OlegHahm commented on #3824
https://github.com/RIOT-OS/RIOT/issues/3341

[2016-07-27 07:10] LudwigKnuepfer commented on #5695
I'm not convinced we want to force recompilation of `kernel_init` (=> `core` => everything) but the problem of untracked dependence exists for other environment variables as well. Maybe there is an open issue/past discussion on the mailing list about this already..

[2016-07-27 07:15] gebart commented on #5695
This should be added to the riotbuild header instead, or if it is already there we need to investigate why it is not causing a rebuild.

[2016-07-27 07:15] LudwigKnuepfer commented on #5695
[code]

[2016-07-27 07:15] LudwigKnuepfer commented on #5695
Just found out about this new addition ;)

[2016-07-27 07:44] kYc0o opened #5697 "C++ tests fail to compile on Debian Jessie/Ubuntu 14.04 gcc-arm-none-eabi-4.x"
While running the Task 01 for the release, all the tests for CPP fail, with this output:

[code]

Any ideas? Maybe it's just a needed package that's not installed...

This is the ubuntu version:

[code]

and the compiler:

[code]

[2016-07-27 07:54] BytesGalore commented on #5697
I cannot reproduce the error.

compiler:
`gcc version 5.3.1 20160307 (release) [ARM/embedded-5-branch revision 234589] (GNU Tools for ARM Embedded Processors)`

[2016-07-27 08:44] kYc0o commented on #5697
OK I confirm that works with gcc 5.2.1, but it does not work on versions 4.8.4 and 4.9.3. Is this behaviour expected?

[2016-07-27 08:53] kYc0o commented on #5697
On the wiki there's no recommended version for the arm-none-eabi-gcc, maybe we should put something about that, since 4.8.4 is carried with Debian Jessie and 4.9.3 with Ubuntu 14.04.

[2016-07-27 08:55] kaspar030 commented on #5697
+1

Maybe find some baseline we try to keep supported, e.g., the latest
Ubuntu LTS?

[2016-07-27 08:58] gebart commented on #5697
See also https://lists.riot-os.org/pipermail/devel/2015-June/002777.html

The problem should go away if you use the toolchain from ARM on launchpad.

[2016-07-27 09:01] kYc0o commented on #5697
OK so we need at least to discourage the use of the embedded toolchain.

[2016-07-27 09:24] kaspar030 commented on #5697
Seems to compile fine with xenial's gcc-arm-none-eabi.

[2016-07-27 09:47] gebart commented on #5697
From some googling it seems the problem was with newlib. I don't have time to mess with old toolchains though, just leaving this piece of information here in case anyone stumbles upon this thread later.

I agree with Kaspar, let's use the latest Ubuntu LTS as a baseline. That is 16.04 (xenial) today. Next LTS is 18.04 I think?

[2016-07-27 10:16] BytesGalore commented on #5697
+1

[2016-07-27 10:39] OlegHahm commented on #1749
bump

[2016-07-27 13:12] OlegHahm commented on #3284
thanks!

[2016-07-27 14:20] BytesGalore opened #5699 "test/msg_send_receive: fails on samr21-xpro"
Found during release 2016.07 testing https://github.com/RIOT-OS/Release-Specs/issues/24#issuecomment-235584801
The test fails on samr21-xpro board because of a wrong value present in [`msg_resp.content.ptr`](https://github.com/RIOT-OS/RIOT/blob/master/tests/msg_send_receive/main.c#L55) in the last iteration.
Printing the values of `counter` and `msg_resp.content.ptr (resp val)` for each iteration

[2016-07-27 14:25] kYc0o commented on #5699
any hint @kaspar030 ?

[2016-07-27 14:30] OlegHahm commented on #5699
Try to revert https://github.com/RIOT-OS/RIOT/pull/5444

[2016-07-27 14:53] BytesGalore commented on #5699
@OlegHahm reverting #5444 didn't help

[2016-07-27 14:53] OlegHahm commented on #5699
Have you tested on other platforms?

[2016-07-27 14:58] kaspar030 commented on #5699
Looks to me like the threads are sending around pointers to their stacks, and in the last iteration, one of the threads already exited.

Could you try to add ```thread_sleep()``` before the return in thread2()?

[2016-07-27 15:02] BytesGalore commented on #5699
@kaspar030 that did it

[2016-07-27 15:02] BytesGalore commented on #5699
(I mean the test succeeds now)

[2016-07-27 15:02] kaspar030 commented on #5699
I'll prepare a PR.

[2016-07-27 15:03] BytesGalore commented on #5699
nice

[2016-07-27 15:08] kaspar030 commented on #5699
#5701

[2016-07-27 15:44] #5699 closed

[2016-07-27 15:57] josephnoir commented on #5697
So, does that resolve the issue?

[2016-07-27 20:11] wentaoshang commented on #5102
Sorry I was distracted in the past few days. Will make a pull request ASAP.

[2016-07-28 08:25] jfischer-phytec-iot commented on #4822
#5469 should fix it

[2016-07-28 12:31] kYc0o commented on #5697
I'll modify the wiki to indicate which compiler we recommend for ARM-based boards.

[2016-07-28 12:35] kYc0o commented on #5697
Done and close.

[2016-07-28 12:35] #5697 closed

[2016-07-28 13:23] miri64 opened #5704 "RFC: network layer API"
I finally came to write down some of my thoughts about how to re-arrange IPv6 (or more general the *network layer*), to make the going-ons in routing/NDP/6Lo-ND (I generalize all of them as *"routing protocol"* in the following) more tracable. The base-idea comes from [this paper](https://www.usenix.org/legacy/events/osdi06/tech/ee.html).

The base idea is that there are 3 interfaces of that there

[2016-07-28 14:51] jia200x commented on #4511
With OpenThread I had the same problem. If you are compiling the source directly it makes sense to have a lot of flags and options. But for RIOT, it's nice to use the same options as the main build.

I agree with the idea of @kYc0o

[2016-07-28 15:14] kaspar030 commented on #4511
Could you elaborate on what you mean by that? I understand you propose to require a RIOTized Makefile for these packages?

[2016-07-28 15:52] kYc0o commented on #4511
Yes that's what I meant, to require Makefiles which use the RIOT build system and not the one embedded on remote Makefiles.

[2016-07-28 16:03] OlegHahm commented on #4511
But that would creating a package much more painful.

[2016-07-28 16:07] kYc0o commented on #4511
Yes I think so too... Maybe post in the wiki to be sure that the build system on the remote package is compatible with RIOT's. I try to make an agreement on this because to discover that the original problem was that one in #5552 took really too long, since the compilation an linking was successful but the used instruction set was different.

[2016-07-28 16:09] kaspar030 commented on #4511
I don't think that is necessary. What is necessary, though, is that the
package build system uses all the CFLAGS, LINKFLAGS etc that RIOT passes
to it.

[2016-07-28 17:32] jia200x commented on #4511
I think in some cases it's possible to just use the pkg Makefile, but at least I have had problems like:

- Duplicate variables in Makefiles that made the remote build crash.
- Complex make system with lots of configurations (e.g I was selecting the right target and had non Thumb code in the end).

Although the second one could be solved finding the right set of instructions, in the end was easier

[2016-07-29 12:21] aabadie commented on #5382
I was not aware that this issue was already opened. I initiate a port to nucleo f446 in #5706, feel free to have a look.

[2016-07-29 12:32] aabadie opened #5707 "Support for Nucleo f103, f303 and f334 boards broken ?"
Due to the change I made in nucleo-common code for #5706 (added saul support), I wanted to verify that it wasn't introducing any regression on other supported Nucleo boards.

It appears that one cannot access anymore to the UART using the USB debug interface on the Nucleo boards listed in the title of this issue.

[2016-07-29 12:38] kaspar030 commented on #5707
Tested on nucleo-f334, works fine here with default example.

[2016-07-29 12:55] aabadie commented on #5707
That's weird, I tested a second time but still no UART. I'm flashing with Ubuntu 16.04. My gcc is
[code]
and openocd is 0.9.0.

[2016-07-29 13:26] kaspar030 commented on #5707
I'm on arch (gcc version 6.1.1, openocd 0.9.0).

Just to clarify - I'm just trying "make term" (e.g., the default UART). Or do you mean sth else?

[2016-07-29 13:55] aabadie commented on #5707
No, I'm trying the same thing with:
```make BOARD=nucleo-f334 flash term```

The tty is `/dev/ttyACM0` at 115200

[2016-07-29 14:08] lebrush commented on #5707
The UART/USB on the nucleo boards does not play nicely with ubuntu (14.04 here). It never worked for me: neither with the f103 nor with the f401 nor the l1. I don't think is a regression :-)

[2016-07-29 14:08] kaspar030 commented on #5707
@aabadie anything weird in ```dmesg```?

[2016-07-29 14:40] aabadie commented on #5707
dmesg says:
[code]

[2016-07-30 09:53] kaspar030 commented on #5497
I think we're talking about functions like ```memcpy()```. The idea is that wherever the pointer points to arbitrary data, like with memcpy or for a container holding an arbitrary pointer type, ```void *``` is the way to go, as it reduces otherwise necessary casting.

[2016-07-30 21:15] kaspar030 commented on #3417
Does anyone still care about this?

[2016-07-30 21:16] kaspar030 commented on #4025
marked as memo, closing for now.

[2016-07-30 21:16] #4025 closed

[2016-07-30 21:26] OlegHahm commented on #3417
I think the only thing that was part of the old stack that is still missing, is TCP support, right? And AFAIK this is hopefully ready soon. Hence, Fine with closing this one.

[2016-07-30 21:27] kaspar030 commented on #3417
Yup.

[2016-07-30 21:27] #3417 closed

[2016-07-31 16:44] OlegHahm commented on #5697
Could you share the link, please?

[2016-07-31 16:47] kYc0o commented on #5697
Yes! [here](https://github.com/RIOT-OS/RIOT/wiki/Family%3A-ARM) you can find the mention.

[2016-07-31 16:58] OlegHahm commented on #5697
Thanks!

[2016-07-31 17:21] OlegHahm commented on #5102
@kYc0o, any reason not to integrate #5703 into the release?

[2016-07-31 23:51] kYc0o commented on #5102
Nothing special, I didn't know that it was addressing this issue, I thought it was #5690, and the bug tag wasn't set in the PR. I'll look asap.

[2016-08-01 12:00] lebrush commented on #2528
Only for completion: It's also being tackled in #4926 for i2c. Current approach is to define a fixed speed for the bus in the `periph_conf.h` file.

[2016-08-02 11:40] gebart opened #5717 "netdev2: send/recv length arguments should be unsigned"
The length arguments on some of the functions declared in the netdev2 API are signed, which does not make sense and causes warnings in some driver implementations when `-Wsign-compare` is used.

https://github.com/RIOT-OS/RIOT/blob/master/drivers/include/net/netdev2.h#L140
https://github.com/RIOT-OS/RIOT/blob/master/drivers/include/net/netdev2.h#L161

Warning in at86rf2xx:
https://github.com/RIOT-

[2016-08-02 11:47] miri64 commented on #5717
Agreed. See https://github.com/RIOT-OS/RIOT/pull/5495

[2016-08-02 13:54] kYc0o commented on #5102
Solved by #5703

[2016-08-02 13:54] #5102 closed

[2016-08-03 09:25] kaspar030 commented on #4974
I need to change the network connection of the buildbox, CI will be down for some minutes.

[2016-08-03 09:38] kaspar030 commented on #4974
done.

[2016-08-03 10:14] kaspar030 commented on #4974
Now the riot-labs.de CI frontend server needs to be moved. That will also take some minutes, unfortunately with some more unreachability due to propagating DNS upgrades.

[2016-08-03 11:14] miri64 commented on #4974
Still not reachable for me :-/ anything went wrong?

[2016-08-03 12:05] kaspar030 commented on #4974
Many things. ;) But for me everything is back to normal now, @miri64, can you confirm?

[2016-08-03 12:13] miri64 commented on #4974
Nope, still get ERR_ADDRESS_UNREACHABLE

[2016-08-03 12:14] miri64 commented on #4974
but http://riot-labs.de/ is reachable (but shows an under construction message)

[2016-08-03 12:43] LucaZulberti opened #5719 "cc2538: rf driver doesn't handle large packets"
Hi all,

I've tried to ping a cc2538 based board with the gnrc_networking example:

[code]

and all it's ok, but if I try:

[code]

I don't receive any answer.

Output of "tcpdump -i wpan0" with correct echo reply:

[code]

Output of "tcpdump -i wpan0" without the right echo reply:

[code]

With the samr21-xpro I can do:

[code]

without problems.

Luca.

[2016-08-03 13:20] kaspar030 commented on #4974
Still? What IP address does it resolve to? (it should be 138.something, old one was 188.*)

[2016-08-03 14:15] miri64 commented on #5719
Might be, that the driver returns the wrong value for `NETOPT_MAX_PACKET_SIZE`.

[2016-08-03 14:28] LucaZulberti commented on #5719
The NETOPT_MAX_PACKET_SIZE is ok, the mtu is 127 byte.
A 6lowpan packet (max 1280 bytes) greater then 127 byte should be splitted in wpan packets of 127 bytes, am I missing anything?

[2016-08-03 14:33] LucaZulberti commented on #5719
This should not be done by the driver, but it happens only with the cc2538.

[2016-08-03 15:11] miri64 commented on #4974
Nope, now it's working! Sorry, for not reporting.

[2016-08-03 15:35] miri64 commented on #5719
The maximum size of for packets *is* done by the driver (some devices like the xbee e.g. are not able to send a full-sized IEEE 802.15.4 frame). The size should be 127 - mac header, so 127 is definitely to big (should be 102 IIRC)

[2016-08-03 16:57] LucaZulberti commented on #5719
Yes I understand what do you mean, the payload size of the cc2538 is 102 as the at86rf2xx one, but the 6lowpan standard defines the mtu at 1280, doesn't it? In fact it works for the at86rf2xx.

[2016-08-03 18:18] miri64 commented on #5719
You are confusing MTU (on IP layer) with the maximum payload length of a radio frame right now ;-). 102 is the maximum payload length an IEEE 802.15.4 radio can send in a frame (at least in the configuration we run them). 1280 is the size an IPv6 packet over IEEE 802.15.4 can have *at maximum*.

But if it is the same as the at86rf2xx, it must be something else in communication with the device... T

[2016-08-03 18:32] OlegHahm commented on #5719
Just a pretty wild guess, but if the cc2538 driver cannot handle packets coming in rather quickly back to back, this could also lead to the mentioned problem.

[2016-08-03 18:38] OlegHahm commented on #5719
Anyway, enabling `DEBUG` in the radio driver might help to figure the root of the problem,

[2016-08-03 19:38] LucaZulberti commented on #5719
Yes sorry, I said that badly.

I will do some tests. Thank you a lot.

Ok! I will post the results in the next days.

[2016-08-03 21:23] aeneby commented on #5719
I will need to look at this more closely when I get time, but I suspect that @OlegHahm is correct - it's probably because the driver does not handle multiple frames in the RX FIFO.

[2016-08-04 12:02] romainvause opened #5722 "Compile atmega_common"
Hi,

I have an error when it compiles the cpu/atmega_common/periph/spi.c file.
At the line 64,

I'm just make the Makefile from `Tutorials/task-01`, to try with arduino-uno
Any idea ?

Thanks.

[2016-08-04 12:52] PeterKietzmann commented on #5407
@Nordzisko are there any new insights?

Following [this](https://lists.riot-os.org/pipermail/devel/2016-July/004273.html) topic on our devel mailing list, @Adeel had problems with connecting an Atmel ATZB-**X**-233-XPRO. For me it seems like a problem with peripherals or peripheral configurations. Do you have an idea about the difference to the ATZB-**X**-233-XPRO or any good advice for Adeel  how

[2016-08-04 13:21] adeelm87 commented on #5407
Thanks for your message on this thread @PeterKietzmann. You have tagged the wrong Adeel though :-).

I would like to add a little here about the differences between ATZB-X-233-XPRO and ATZB-A-233-XPRO. ATZB-A-233-XPRO only has a at86rf233 transceiver and the SPI pins on the external connector directly connect to the trasceiver. ATZB-X-233-XPRO on the other hand has an MCU and an at86rf233 trasceiv

[2016-08-04 14:23] kYc0o commented on #3075
wow... very old issue without any addressing. Actually is maybe related to #4211 #2298 #1305

[2016-08-04 14:26] kYc0o commented on #3086
We leave this issue open until is fully solved?

[2016-08-04 14:48] kYc0o commented on #5007
I'll try to look for the next release.

[2016-08-04 14:49] romainvause opened #5723 "There are unsatisfied feature requirements: arduino cpp"
I always have this message when I launch the task-01 tutoriel:

Thx in advance.

[2016-08-04 14:51] kYc0o commented on #5723
The arduino-uno board is not supported yet. Let's address this issue when the board will be officially supported.

[2016-08-04 14:53] romainvause commented on #5723
Actually, there is a fork for arduino-uno from @mali

https://github.com/mali/RIOT/tree/73e02ecc42dff8290a44ecd0709bd5345ca0fa63

[2016-08-04 14:57] miri64 commented on #3075
Not really.. But yeah this could be fixed somewhat straight forward.

[2016-08-04 14:58] miri64 commented on #3086
It's not solved yet, so yes ;-)

[2016-08-04 15:01] aabadie commented on #5723
@romainvause, what is the message you have exactly ?
Notice that you normally don't need to build/flash/open a serial term using `sudo`. What system are you using ?

[2016-08-04 15:01] miri64 commented on #5723
Yes, but (a) fork != supported by RIOT (that's only the case when merged) and (b) that fork is still under development (see https://github.com/RIOT-OS/RIOT/pull/5451). ;-)

[2016-08-04 15:10] romainvause commented on #5723
@aabadie
With the command: `sudo BOARD=arduino-uno make all flash term`, here is the fully output:

With the command `BOARD=arduino-uno make all flash term`, here is the fully ouput

Thx for your answer :)

[2016-08-04 15:11] romainvause commented on #5723
@miri64 Thanks for this information, I don't use Github a lot..

[2016-08-04 15:16] miri64 commented on #5723
Where's this `_skettches.cpp` coming from? There should only be three files:

[code]

[2016-08-04 15:20] romainvause commented on #5723
@miri64 It's directly generated (by idk what), here is the content of `_skettches.cpp`:
[code]

[2016-08-04 15:23] miri64 commented on #5723
Okay if it's automatically generated I don't know why... That's something people with an Arduino should answer ;-)

[2016-08-04 15:25] kYc0o commented on #495
Oups... little FIX ME FIRST which wasn't fixed... I'll try to look at it asap.

[2016-08-04 15:30] romainvause commented on #5723
@miri64 Hope that some people will see it !

Thx for messages.

[2016-08-04 16:06] kYc0o commented on #2761
Is this still a known issue?

[2016-08-04 16:07] kYc0o commented on #2927
Is someone working on this? @punchcard60 ?

[2016-08-04 16:13] kYc0o commented on #2967
@Kijewski any news?

[2016-08-04 16:44] romainvause opened #5724 "Delay in example arduino-hello-world"
Hey, in this file
https://github.com/RIOT-OS/RIOT/blob/master/examples/arduino_hello-world/hello-world.sketch

You should remove the delay. After doing some tests, it looks like that the serial line is not working because the delay is too big.

I just remove it, and everything was working !

[2016-08-04 17:54] miri64 commented on #5486
This issue also now causes large IPv6 datagrams not to be received anymore. See https://github.com/RIOT-OS/Release-Specs/issues/21#issuecomment-236606806

[2016-08-04 18:11] OlegHahm commented on #5486
Isn't the problem rather caused by *sending* large datagrams? Otherwise I don't see the connection.

[2016-08-04 18:13] miri64 commented on #5486
Well the receiver get's stuck, too. So there is definitely a connection.

[2016-08-04 18:16] OlegHahm commented on #5486
Have you tested with receiving only? If this is also leads to a situation where the device's getting stuck, that may indicated another problem (which might be related to this issue or not).

[2016-08-04 18:18] miri64 commented on #5486
Yes, both sender and receiver have >0 counters pinging multiple >500 byte-sized frames with <=100 ms delay.

[2016-08-04 18:19] OlegHahm commented on #5486
Now I'm even more confused. How can a receiving only device have a *TX* counter > 0?

[2016-08-04 18:30] miri64 commented on #5486
Because it's sending replies.

[2016-08-04 18:33] OlegHahm commented on #5486
Then I repeat my question: Isn't the problem rather caused by *sending* large datagrams?

[2016-08-04 18:36] miri64 commented on #5486
Ah okay, that's what you wanted to infer. Yes, but the TX_END interrupt get's lost => no decrementation of the tx counter.

[2016-08-04 19:53] miri64 commented on #5723
@mali https://github.com/RIOT-OS/Tutorials

[2016-08-04 19:55] miri64 commented on #5723
Oh btw @romainvause: note, that the version downloaded automatically is fixed to https://github.com/RIOT-OS/RIOT/tree/6b768a114510f968acc845b80f5ebf403ccc1aa7, so unless you reset `RIOTBASE` in the Makefile before `make` you will not have @mali's branch in there.

[2016-08-05 05:54] aeneby commented on #5719
The error you describe above is actually caused by the driver tripping over it's own feet trying to respond to the ping - the ping query is received okay, but it doesn't wait for the first reply packet to finish sending before attempting to send the second one. This issue is described (and addressed) more fully in #5725.

You'll still hit the RX FIFO problem described above, though, once you incre

[2016-08-05 07:40] aabadie commented on #5724
@romainvause, I don't think removing the delay is a solution. The provided sketch is a valid arduino code.

On which board did you try ?

[2016-08-05 07:41] haukepetersen opened #5726 "All Cortex-M platforms broken on current master"
Just wanted to bulid something for the `arduino-due` on the current master, but something broke (actually it broke for all cortex-m based boards):
[code]
What happened here?

[2016-08-05 07:43] haukepetersen commented on #5726
oh, forgot to mention, using `gcc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4`

[2016-08-05 07:57] kaspar030 commented on #5726
I can confirm the issue with ```arm-none-eabi-gcc (4.8.2-14ubuntu1+6) 4.8.2```, arch's toolchain works fine.

5cd91bc784e70052fcd75efab68c91776adf4da8 introduced this.

[2016-08-05 08:00] haukepetersen commented on #5726
So if I see this right, the majority of the boards is broken for a very common toolchain for the last 21 days?! I wonder how this could slip by unnoticed -> is there something we can do to prevent this in the future?

[2016-08-05 08:03] haukepetersen commented on #5726
hm, on the other hand, the toolchain is from 2014q3, it might be valid for an almost 2 year old build of the toolchain to fail?

[2016-08-05 08:09] kaspar030 commented on #5726
The toolchain you're using - is it the one from PPA?

[2016-08-05 08:13] haukepetersen commented on #5726
just tried different ones. Updated mine to `arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 5.4.1 20160609 (release) [ARM/embedded-5-branch revision 237715]` (from launchpad) -> works fine

Used `arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 4.8.4 20140725 (release) [ARM/embedded-4_8-branch revision 213147]` before (also from launchpad) -> showed error as posted above

Also t

[2016-08-05 08:16] kaspar030 commented on #5726
https://github.com/RIOT-OS/RIOT/pull/5727

[2016-08-05 08:17] kYc0o commented on #5726
Very strange since all the compilation tests passed OK. I was actually doing interoperability tests yesterday without any trouble.

What's the firmware you want to build?

[2016-08-05 08:17] kaspar030 commented on #5726
Murdock uses a more recent launchpad toolchain...

[2016-08-05 08:24] kaspar030 commented on #5726
We could extend the CI to compile everything with older toolchains, as well.

[2016-08-05 08:35] kYc0o commented on #5726
Actually in #5697 I was using the embedded toolchain for Ubuntu 14.04 (gcc 4.9.3) which throw only c++ errors, so I'm confused which is the oficial version of gcc for this Ubuntu version.

Anyways, the wiki states now that's recommended to use the toolchain from launchpad or the Ubuntu 16.04 so this could prevent people to use 4.8.3.

[2016-08-05 08:40] aabadie commented on #5722
As reported in  #5723, arduino-uno is not officially supported by RIOT. Also, there are pending PRs about this: see #5451 and #5590. Please comment there instead of creating new issues.

[2016-08-05 08:40] #5722 closed

[2016-08-05 09:45] aabadie commented on #5724
In the official RIOT code base (current master at 0f73a40), the only boards supported by this feature are stm32f4discovery and arduino-due.
I tried with arduino-due and everything works like a charm. If someone with a stm32f4discovery could try as well, it would be great.
I suspect that you tried with the unofficial arduino-uno port from #5451 as you recently created other issues related to this t

[2016-08-05 09:57] aabadie commented on #5723
The actual port of arduino-uno doesn't provide the required features to enable arduino sketches with this board.
I commented in the related PR #5451, [here](https://github.com/RIOT-OS/RIOT/pull/5451#discussion-diff-73668707). Can you try to apply the change and tell us if it work ?

[2016-08-05 13:08] melshuber commented on #5656
I have added a pull request for the port. See https://github.com/RIOT-OS/RIOT/pull/5731

[2016-08-06 22:53] Cr0s commented on #5520
This test is awaits a trailing zero character at the end of a transmission. Do you tried to explicitly send a zero character?

[2016-08-07 01:22] Cr0s opened #5735 "[stm32l1] [i2c] Hanging on I2C error"
Hello everyone,

It's possible to overhaul current STM32L1's I2C peripheral driver code to remove the
[code]
from the I2C error ISR?

Due to this stub, the application code freezes if any I2C bus error occurs. That obviously makes an application less robust.

The current implementation code is like this:
[code]

My suggestion is to replace this hanging stub to the routine which rising an error fla

[2016-08-07 01:45] aeneby opened #5736 "doc: website lists support for non-existent transceiver"
Listed under "Drivers" at riot-os.org is the CC2438, should presumably read "CC2538"

[2016-08-07 06:29] LudwigKnuepfer commented on #5736
Fixed, thank you.

[2016-08-07 06:29] #5736 closed

[2016-08-07 17:05] #5735 closed

[2016-08-08 06:15] olikraus opened #5737 "u8g2 riot interface function (RIOT/pkg/u8g2/patches/0002-u8g2-add-riot-os-interface.patch)"
@basilfx

affected file:
RIOT/pkg/u8g2/patches/0002-u8g2-add-riot-os-interface.patch

Although not used at the moment in u8g2, but two of the interface messages to u8g2 are implemented wrong in procedure "uint8_t u8x8_gpio_and_delay_riotos"
Correct code is this:

[code]

[2016-08-08 08:48] romainvause commented on #5724
@aabadie Yep, I tried with arduino-uno. You're right, sorry to comment here! Thx

[2016-08-08 09:10] #5724 closed

[2016-08-08 09:12] miri64 commented on #5723
Since arduino-uno isn't merged yet I would suggest to discuss all the kinks of that port in https://github.com/RIOT-OS/RIOT/pull/5451 and this issue to be closed.

[2016-08-08 09:12] #5723 closed

[2016-08-08 09:52] aabadie commented on #5737
Thanks for the report.
Maybe the required change can be added to #5702.

[2016-08-08 13:27] basilfx commented on #5737
I will fix this as soon as I am back from holidays next week. Thanks @olikraus

[2016-08-08 16:12] Nordzisko commented on #5407
Hello @PeterKietzmann  !
I am sorry, but this was school project and during the vacation, I do not have any access to the specific boards.

@adeelm87 I would consider adding Makefile.dep as I did [https://github.com/Nordzisko/RIOT/tree/Riot-Mine/boards/stm32f3discovery](url) and add its reference to the Makefile.include file. Lookup for differencies in the folder I gave you link to, maybe you will

[2016-08-09 09:39] romainvause opened #5738 "Making a .c file and .sketch file"
Hi,

Is it possible to launch a `.c file` and a `.sketch file` at the same time ? One has to run on my computer, and the other one on my arduino.

Because it looks like that only the .c file is executed.

Thx in advance.

[2016-08-09 10:13] PeterKietzmann commented on #5407
@adeelm87 how exactly do you connect to that "board"? I have no idea how this interface works but I could imagine that it causes trouble. Is the MCU meant to bypass the SPI signal somehow? RIOT provides a SPI driver for that radio and directly connecting from an stm32f4discovery worked.
For me it seems a bit like the Atmel samr21 which has a samd21 CPU plus a transceiver on one chip which are inte

[2016-08-09 14:09] PeterKietzmann commented on #5520
Tried with samr21-xpro and a CP210x UART/USB converter. Pyterm didn't show any output, Minicom did.

[2016-08-09 14:30] kYc0o commented on #5520
I'm on OSX using CoolTerm btw, but no output as well...

[2016-08-09 14:39] gebart commented on #5520
I didn't look at the test, but some general information that might be relevant here: Pyterm doesn't print anything until a newline is received. Flow control (cts, dtr) should be off. Did you compare if there are any differences between the settings in the two programs?

[2016-08-12 03:45] jthacker opened #5745 "AVR thread yield"
I believe the AVR thread yield is not implemented correctly. `thread_arch_yield` (aka `thread_yield_higher`) is currently implemented as a naked function that will begin execution of the new thread at the same level as the calling point. In the atmega version of `timer.c`, `thread_yield_higher` is called in an ISR, which can result in long running functions at this level possible halting the execu

[2016-08-12 06:44] #2209 closed

[2016-08-12 07:05] PeterKietzmann commented on #5738
Hi r@romainvauce. Could you rephrase your question please? I didn't really understand what you're trying to do and what the relation to RIOT is.

[2016-08-12 07:10] PeterKietzmann commented on #5738
Ah you mean RIOT arduino library support? And what needs to run on your computer? @haukepetersen is the right contact person. He won't be available before Semeptember though.

[2016-08-12 10:08] romainvause commented on #5738
Hi @PeterKietzmann,
Basically I just want to run the MQTT protocol with RIOT.
So just send a program to the arduino (a simple MQTT client), and run the MQTT server on my Linux machine.

If I understood well, you can create a .c file to be executed with RIOT (by doing a `make all term`) and also execute a .sketch file for the arduino with RIOT (by doing a `make all flash term`)

But after severals

[2016-08-15 06:51] PeterKietzmann commented on #5738
@romainvause probably I still don't get your issue (maybe it's my lack of knowledge about the arduino port). But I'm gonna try to find out, so let me ask some questions and give first hints.
- which MQTT implementation do you intend to use in RIOT?
- you can *either* write a c-program with a .c ending *or* (and this is the special thing) write a .sketch file in arduino-code. I don't know which per

[2016-08-15 10:46] OlegHahm opened #5748 "gnrc: nodes crashing with too small packet buffer"
I just ran into a problem, when I manually configured the packet buffer too small in the `gnrc_networking` example. In fact, I copied the size from the `gnrc_minimal` example (512 bytes). Testing this on the iotlab testbed with ~350 nodes (Neighbor cache size set to 100, FIB size to 350) I ran into several crashes. Nodes were dying with hard faults after some time.

(On the pro side: with the defa

[2016-08-15 15:03] miri64 commented on #5748
I think I have the same problem at the moment. Will look into that.

[2016-08-15 15:06] miri64 commented on #5748
@OlegHahm are you on native or other platform? (native resets `GNRC_PKTBUF_SIZE` to 2048)

[2016-08-15 15:11] OlegHahm commented on #5748
I tested only on iotlab.

[2016-08-15 15:38] miri64 commented on #5748
My problem was unrelated (see #5749), but nevertheless: will look into this ASAP.

[2016-08-15 17:47] kbumsik opened #5752 "WIfi Modules like CC3000?"
Hello.
I am new to RIOT. I have some wifi modules, CC3000 and ATWINC1500. I was looking for references for porting them.

It looks like there were a[ CC3000 driver directly uses TI's codes, not through GRNC](https://lists.riot-os.org/pipermail/notifications/2015-March/030723.html) and some supported boards with CC3000 such as [Spark  Core](https://github.com/RIOT-OS/RIOT/wiki/Board%3A-Spark-Core).

[2016-08-15 20:53] miri64 commented on #5752
Welcome to the RIOT community! Yes, as you can see if you go to that [PR](https://github.com/RIOT-OS/RIOT/pull/2603) it has been closed, since the developer abandoned it. We are definitely planning to integrate WiFi at some point, but at the moment no one is working at this particular driver to my knowledge, so feel free to do so. To be on the safe side I would recommend however to also ask around

[2016-08-15 21:22] kbumsik commented on #5752
Thank you for a prompt reply.
Just in case I tried to PR for wifi modules, I am worried that these wifi drivers usually offer their own TCP/IP stack. I would like to port these drivers directly first, not integrating GRNC or RIOT's stack. Also these drives may contain their own BSD/GPL-like license too. Could these be reason for rejecting my PR?
I show Coding Conventions and PR Guidelines but stil

[2016-08-15 23:31] miri64 commented on #5752
I reassign to @haukepetersen because I think he has a stronger opinion on that matter.

[2016-08-16 00:02] kbumsik commented on #5752
Thanks. Please understand that unlike 802.15.4 transceivers, Wifi modules designed for MCUs such as CC3000/CC3100/CC3200 and ATWINC1500 have in-built processors. These in-built processors takes over up to TCP/IP layer instead of host MCUs. Although most of them offers BSD-style sockets, it might be impossible to directly control them from Low-level.

[2016-08-16 15:27] OlegHahm commented on #5752
Maybe you want to take a look at https://github.com/RIOT-OS/RIOT/pull/5733.

[2016-08-16 18:55] hexluthor commented on #4866
In #5753 I modified the CC2538 gpio driver to use bit-banding. I agree with @DipSwitch that this method can be used to fix a lot of the Cortex-Ms. Furthermore, I think the `BITBAND_ADDR()` and `BITBAND_VAR32()` macros from `cpu/k60` can be reused since the MCUs tend to alias regions `0x_0000000` to `0x_2000000` consistently.

[2016-08-16 22:47] OlegHahm commented on #5748
I figured that you will probably get more debug information if you revert #5665.

[2016-08-16 23:40] kbumsik commented on #5752
Oh I didn't looked at that PR in detail but there are actually a lot of things to see for me. Thank you very much!

[2016-08-17 07:09] kaspar030 commented on #5128
*bump*

doesn't help.

[2016-08-17 07:46] romainvause commented on #5738
@PeterKietzmann
Hi,
So if I got it, `BOARD=arduino-due make all flash` only send the code to the arduino ? And then
`BOARD=arduino-due make term` execute the `.c` file ?
Thx a lot, I'm gonna try it !

[2016-08-17 09:27] cgundogan commented on #5518
Looks fine now, Murdock builds non-master PRs (see https://ci.riot-labs.de/RIOT-OS/RIOT/5741/fb46a1dfc4fa6867e553ffeab38af2d61abd5a84/output.html)

[2016-08-17 09:27] #5518 closed

[2016-08-17 13:48] dondonprad opened #5755 "Machine to Machine Communication using RIOT OS"
hello..
I have a project, make Machine to Machine Communication using 6LoWPAN protocol
Specification Device
- 2 Arduino Due
- 2 Xbee S1 -
- DHT 11 (temperature and Humidity Sensor)
- RTC (Real Time Clock)

i'm create 2 node ( 1 sensor node, 1 sink node), sensor node work sensing temperature, humidity, and sending data to sink node using Xbee S1

a question, how create coding using RIOT OS and how

[2016-08-18 15:17] kaspar030 commented on #5745
Wow, this might explain a lot of trouble we've been having with AVR's interrupts behaving ... weird.

[2016-08-18 15:20] kaspar030 commented on #5745
Quick googling suggests that this might be the only way to have proper ISR handling. So a PR would be very welcome.

[2016-08-18 17:32] PeterKietzmann commented on #5738
@romainvause, `make` builds the the code, resulting in a binary (and cpp file as an interim step, if I see it correclty ). `flash` writes the binary to the boards memory  and `term` connects the serial output to a terminal program to see the STDIO. Anyway, the steps you listed should work.

[2016-08-19 09:55] kYc0o commented on #5745
I agree with Kaspar, this could be the origin of several trouble we have especially with timers, maybe this could fix it.

@jthacker feel free to open a PR from your branch. Notice that not all external interrupts are implemented for this MCU family, so maybe we can complete the support and use a free pin for context switching.

[2016-08-20 11:40] basilfx commented on #5737
I have fixed this in #5702.

[2016-08-23 10:45] melshuber opened #5769 "Possible problem in scheduler"
I am not totally sure, but i think there might be a Problem in `sched_set_status`.
https://github.com/RIOT-OS/RIOT/blob/master/core/sched.c#L130-L150
`runqueue_bitcache` is not accessed atomically, i think it should.

e.g.: `runqueue_bitcache |= 1 << process->priority`

I found out that in our project sometimes one of our thread hung. I check for deadlocks but did not found any, so i locked up the

[2016-08-23 10:58] kaspar030 commented on #5769
The access to 'runqueue_bitcache' should be protected by disabling
interrupts.

Can you pinpoint where exactly? Is the thread "STATUS_RECEIVE_BLOCKED"?

What platform are you working on?

[2016-08-23 12:26] melshuber commented on #5769
Thanks for the Info,

It is true - atomic access is not enough.
I checked again and i think that all calls to `sched_set_status` seem to be protected by `disableIRQ`.

The hung thread (a network interface) has STATUS_PENDING - at least `ps` told me.
I stepped multiple times through `sched_run` and confirmed that the thread was queued in the correct run-queue. Other threads are still active.

The t

[2016-08-25 11:51] punchcard60 commented on #2927
Hello,

I'd like to  announce you that me  and my family are moving, you may find more information  here <http://ndiquyjynta.happihome.com/aeloinc>

My Best, jon

[2016-08-26 15:40] biboc commented on #5539
@kaspar030, have you tried to reproduce the bug?

[2016-08-27 09:37] kaspar030 commented on #162
Solved through #5756.

[2016-08-27 09:37] #162 closed

[2016-08-27 09:44] OlegHahm opened #5773 "feature request: persistent system config"
RIOT should provide a platform independent interface to store persistent configuration data, e.g. unique identifiers, radio channel, L2 address, crypto keys etc. This feature should be implemented with a minimum memory requirement, i.e. just storing a small struct somewhere in flashrom should be sufficient.

This issue replaces #162.
Compare https://github.com/RIOT-OS/RIOT/pull/5756

[2016-08-29 08:37] kaspar030 opened #5774 "cpu: cortexm_common: context switching code breaks when compiling with LTO"
[code]

To get this error, merge #5742, remove the "SRC_NOLTO" line from `cpu/cortexm_common/Makefile` and compile with `LTO=1`.

[2016-08-29 08:45] kaspar030 opened #5775 "cpu: cortex-m: compiling vectors.c with LTO triggers compiler bug"
[code]

In order to get this error, merge #5742, remove SRC_NOLTO line in cpu/<your-board>/Makefile and compile with LTO=1.

[2016-08-29 08:52] kaspar030 commented on #5775
As this seems to be a bug in gcc, I've marked it as memo. It is intended as reference point for the workarounds within our Makefiles.

[2016-08-29 10:42] gebart commented on #5775
There's an upstream bug report in the GCC Bugzilla regarding the same error when building chibios with LTO, but I lost the url.

[2016-08-29 11:06] miri64 opened #5776 "make: Predefining CFLAGS are parsed weirdly"
When I define some `CFLAGS` in my application's Makefile before I include the Makefile.include, they get scrambled up somehow. At least in [this instance](https://github.com/miri64/RIOT_playground/blob/7b7e0fee11479ffe7efc0dce4a85ff32c6fa1770/stack_comparison/time_tx/lwip/Makefile#L8):

[code]

Bisecting it I saw that before #5097 this problem did not exist, but with its introduction I get the mes

[2016-08-29 11:07] basilfx commented on #5775
@gebart https://gcc.gnu.org/bugzilla/show_bug.cgi?id=69866?

[2016-08-29 11:27] Kijewski commented on #5776
[code]
That's [this line](https://github.com/RIOT-OS/RIOT/blob/bece851972726abc34aa1fee2eece69860381845/dist/tools/genconfigheader/genconfigheader.sh#L4). Is your /bin/sh broken?

[2016-08-29 11:31] miri64 commented on #5776
No, it's the `CFLAGS` I defined [here](https://github.com/miri64/RIOT_playground/blob/7b7e0fee11479ffe7efc0dce4a85ff32c6fa1770/stack_comparison/time_tx/lwip/Makefile#L8), the line 4 just is refering to the line in the [make rule of `%.o`](https://github.com/miri64/RIOT_playground/blob/7b7e0fee11479ffe7efc0dce4a85ff32c6fa1770/stack_comparison/time_tx/lwip/Makefile#L8)

[2016-08-29 11:31] miri64 commented on #5776
(edited the link due to copy-pasta)

[2016-08-29 12:25] miri64 opened #5777 "iotlab-term: make tmux optional"
This issue is two-fold:

1) I don't really understand the `iotlab-term` target in `Makefile.iotlab` anymore since the `tmux` logging feature was introduced in #5351 (main reason why I can't provide a fix myself). Considering that `make term` should be the simplest command of all that is a little disquieting.
2) Not everyone uses `tmux` and not everyone knows how to use it. The `iotlab-*` targets s

[2016-08-29 12:45] cgundogan commented on #5777
Why should `term` be the `simplest` command? The idea of this makefile is to abstract and hide complex command executions.

See https://github.com/RIOT-OS/RIOT/blob/master/dist/testbed-support/README.iotlab.md#iotlab-term

One of the incentives of using the aggregator within tmux is that a user can now de-/attach from a running experiment. This was not possible before. I.e. you can start an experi

[2016-08-29 13:00] OlegHahm commented on #5777
While I mostly agree with @cgundogan here, I understand @miri64's concerns. How about offering a simple `iotlab-term` and an advanced `iotlab-tmux` target (maybe with different names)?

[2016-08-29 13:21] miri64 commented on #5777
It's not like I don't know how to handle tmux, but as @OlegHahm states: it hightens the entry bar in my opinion.

[2016-08-29 15:10] gebart commented on #5775
@basilfx that's the one I meant.

[2016-08-29 15:19] gebart commented on #5776
I'm guessing it's caused by the spaces, and the fact that make does not work well with spaces

Does the problem go away if you remove the whitespace inside the quotes?

[2016-08-29 15:21] gebart commented on #5776
Also, the line 4 is not referring to the line 4 of the recipe, since all of the line endings have been escaped. The line 4 must be from newlines contained inside one of the variables, e.g. $(CFLAGS).

[2016-08-29 15:22] miri64 commented on #5776
Yes, without the whitespaces it works.

[2016-08-29 15:24] gebart commented on #5776
Okay, I guess there's some `sort`, `addprefix`, `patsubst`, or other make function which operates on words which messes up this variable.

[2016-08-29 15:25] gebart commented on #5776
Probably this line: https://github.com/RIOT-OS/RIOT/pull/5097/files#diff-ebbb3165b3276a049759e5cb4e04d6a4R504

[2016-08-30 10:36] gebart opened #5780 "make: Changing between LTO=1, LTO=0 does not trigger rebuild"
`make LTO=1` followed by `make` does not trigger a complete rebuild.
Any CFLAGS changes should trigger a rebuild IMO.

[2016-08-30 10:40] kaspar030 commented on #5780
This can be generalized: any changes to any Makefile (-variables) should trigger a rebuild.

I don't think there's an elegant way of doing this in make. Even making everything depend on all Makefiles won't fix commandline supplied variables.

I resorted to using ccache and always rebuild everything.

[2016-08-30 10:42] kaspar030 commented on #5780
One way would be to add CFLAGS and LINKFLAGS to riotbuild.sh (as comment), so changing them causes a rebuild.

[2016-08-30 10:50] kaspar030 commented on #5780
Actually the whole CFLAGS are part of riotbuild.h, and every OBJC depends on it.

[2016-08-30 11:08] kaspar030 commented on #5780
Ok, I'm getting there. Sorry for the noise. :)

As LTOFLAGS are only added to CFLAGS on a per-file basis, changing them doesn't change global CFLAGS and thus not riotbuild.sh.

[2016-08-30 11:10] kaspar030 commented on #5780
Fixed by #5781.

[2016-08-30 11:39] miri64 commented on #5748
@OlegHahm its really just a hunch, but can you check if https://github.com/RIOT-OS/RIOT/pull/5694 fixes the problem?

[2016-08-30 12:41] #5780 closed

[2016-08-30 18:24] PeterKietzmann opened #5786 "boards/cc2538/radio: networking has high losses"
Pinging several times between two remote revision A nodes (`remote-reva`) with bigger payloads (e.g. 200, 500, 1000 Bytes) leads to high losses.

[2016-08-30 19:09] #4530 closed

[2016-08-30 20:26] smlng opened #5787 "OSX: linker option --gc-sections not supported"
The linker on OSX does not support `--gc-sections` as introduced by commit 5fcb09f6. Alternative would be `-dead_strip` on OSX.

[2016-08-31 08:14] biboc opened #5790 "ND: Lost of Global IPV6 on node after sending lot of UDP frame from BR"
I'm using two SAMR21, one with BR (on A) and the other (on B) with
gnrc_networking example.
I'm on April release.
Switch on A (border router) then switch on B, I'm able to send UDP
message from Linux to 2001:db8 address of B.
If I try to send lot of data (every 100ms), it works for a while and
then B does not receive message anymore. After I see it failed, I
stopped the loop sending UDP message, I

[2016-08-31 11:05] miri64 opened #5791 "Coding conventions: 4-space indent instead of 8-space indent"
The [coding conventions](https://github.com/RIOT-OS/RIOT/wiki/Coding-conventions) currently inherit 8-space indentation from from the [Linux coding conventions](https://www.kernel.org/doc/Documentation/CodingStyle), but our code uses 4-space indentation throughout. I propose to be "heretic" in Linus' eyes and adapt the wiki page accordingly.

[2016-08-31 11:06] miri64 commented on #5791
Sorry... searched for the literal "4", and did not read properly.... the CC already state that it shoult be 4 spaces.

[2016-08-31 11:06] #5791 closed

[2016-08-31 11:13] gebart commented on #5787
Could someone else take over this assignment? I don't have an OSX machine to work on. @thomaseichinger, @emmanuelsearch, @kYc0o perhaps?

[2016-08-31 14:40] kYc0o commented on #5787
I cannot find the commit, could you give the PR number?

[2016-08-31 14:42] alignan commented on #5786
Hi @PeterKietzmann, I will try to reproduce, thanks for testing!  mind pointing me to steps to reproduce?

[2016-08-31 14:57] thomaseichinger commented on #5787
@kYc0o I think it should've been #5742.

[2016-08-31 15:08] smlng commented on #5787
its 5fcb09f

[2016-08-31 15:24] kYc0o commented on #5787
Confirmed.

[code]

[2016-08-31 15:38] kYc0o commented on #5787
@smlng can you provide a PR using `-dead_strip`?

[2016-08-31 18:00] smlng commented on #5787
@kYc0o: well I could add some OS (or linker) specific `#ifdef` magic. However, I've to admit I'm not very familiar with those linker flags and optimizations; I'll check back with a colleague tomorrow who is running OS X, too.

[2016-09-01 07:25] PeterKietzmann commented on #5786
1. Flash gnrc_networking on two remotes.
2. Repeatedly ping the link local address address with a big payload.
For example: `ping6  20 <ipv6 addr> 500`

[2016-09-01 07:31] smlng commented on #5787
Does anyone know (comparing binaries compiled w/ and w/o), how much we actual gain (or reduce size) using this linker option?

[2016-09-01 07:38] gebart commented on #5787
I don't think code size matters that much on native, but keeping the build
as close to the real targets is quite desirable IMHO.

[2016-09-01 07:45] smlng commented on #5787
Nah, unsure about that - I mean, compiling for native target will use system/OS specific libs, and those are likely larger (not optimized) compared to the embedded ones, or not? So comparing native target with any real board binary is kind of arbitrary/ambiguous anyway ...

[2016-09-01 07:49] smlng commented on #5787
Btw. [here](http://blog.senthilthecoder.com/post/lto-linker-commandline/) an interesting post on compiler and linker flags/options when using LTO. Maybe we should apply/integrate this as well?

[2016-09-01 08:10] smlng commented on #5787
made a PR #5794

[2016-09-01 09:54] aeneby opened #5795 "gnrc_netapi: dropped messages (receiver queue is full)"
Sending 6lowpan packets which must be split into more than 9 fragments fails, since the message queue fills up and fragments >9 don't get sent.

I'm not 100% sure where the problem actually lies, or if it's even reproducible on other platforms, but here's how to reproduce it on a cc2538:
- Enable DEBUG in `sys/net/gnrc/netapi/gnrc_netapi.c`
- Build and run `gnrc_networking` example on target platf

[2016-09-01 10:08] OlegHahm opened #5796 "native: tlsf: early malloc will lead to a crash"
In case an application uses the TLSF package built for native, the process will crash if a TLSF function (like `malloc()`) is called before TLSF initialized its buffer - which is typically done in the application.

Possible solutions to this problem would be either to patch TLSF to check if the buffer was already reserved or to implement #4490.

[2016-09-01 11:01] kaspar030 commented on #5796
Is an early auto_init an option?

[2016-09-01 11:53] OlegHahm commented on #5796
That's basically what #4490 proposes, yes.

[2016-09-01 12:09] kaspar030 commented on #4490
+1

Maybe using the linker variables to find out about unused memory areas?

[2016-09-01 12:10] OlegHahm commented on #4490
Yes, if I remember correctly that was also an approach that @haukepetersen and me discussed some time ago.

[2016-09-01 12:57] miri64 commented on #5795
I can confirm that we don't have this problem on other platforms (at least on 2016.07 release), since I ran multiple experiments both with `at86rf2xx` devices and `netdev2_test` the last few days. I can't confirm for master, but since `gnrc_sixlowpan` wasn't touched since the release, I guess we can assume it is the case there, too. Have you tried it with a bigger queue size for `gnrc_netdev2`?

[2016-09-01 14:42] miri64 commented on #5795
Just saw, that all devices have the same priority as 6LoWPAN. Can you look, if a lower priority value (i.e. higher priority) has an effect on this issue?

[2016-09-01 22:03] aeneby commented on #5795
Setting `NETDEV2_NETAPI_MSG_QUEUE_SIZE` to 16 solves the problem.

Changing cc2538_rf's priority from 3 to 2 (i.e. compared with 6lo's priority of 3) also seems to solve the problem.

So... what does this mean? Where does the issue actually lie, and why doesn't it affect other platforms (with the same message queue size and priority) in the same way? And what's the most appropriate fix likely to b

[2016-09-01 22:21] miri64 commented on #5795
I'm not sure exactly, but if I must guess I guess that `cc2538_rf` blocks sometime, when `at86rf2xx` usually doesn't resulting in the queue getting filled since its thread doesn't get to `msg_receive()`. While a quick fix (and also an appropriate fix because actually that was how we originally had the priority in mind: MAC having the lowest, then 6Lo, then IPv6, etc...) I'm wondering what cc2538_r

[2016-09-02 09:11] OlegHahm commented on #5795
Couldn't it be that the `cc2538_rf` actually never get a chance to run until `6lo` is done with its fragmentation if they have the same priority? Having threads with the same priority is often problematic and is discouraged unless you know exactly what you're doing.

[2016-09-02 09:21] miri64 commented on #5795
@OlegHahm then we should fix our `netif_auto_init` ;-)

[2016-09-02 09:50] OlegHahm commented on #5795
What do you mean?

[2016-09-02 09:53] miri64 commented on #5795
All of our MAC threads for all of our supported devices currently run on the same priority as 6LoWPAN, so if running on the same priority is a problem we should fix that.

[2016-09-02 09:56] OlegHahm commented on #5795
Oh, I wasn't aware of that. Was there any reason for this design?

[2016-09-02 09:58] miri64 commented on #5795
As far as I know, no. I guess what happened was that we started without 6LoWPAN, we just set our thread priorities based on that and at some point I implemented 6LoWPAN and just decremented the IPv6 priority by one without checking the MAC priorities.

[2016-09-02 11:00] smlng opened #5799 "kw2x: 15.4 duplicate transmits"
I found that the kw2x is transmitting each 15.4 message twice with an interval of 2ms.

I first thought my sniffer has some problems, but then I started samr21 node which does not exhibit this behavior. But I saw this behavior with different kw2x nodes. I put a small wireshark capture in my dropbox [here](https://dl.dropboxusercontent.com/u/19629108/kw2x_sniff.pcapng) shows it.

Note: source addre

[2016-09-02 19:48] alignan commented on #5786
A quick sweep & repeat (5-7 times each step) without too much difference:

[code]

Strangely packet size of 369-380 always yielded 100% packet loss (after 10+ runs), whereas larger packet size yields in packet loss  but not 0%.  I will keep testing, and try to test also with another CC2538-based platform

[2016-09-02 21:52] aeneby commented on #5795
But then why doesn't e.g. at86rf2xx have the same issue, since I assume its MAC thread is running at the same priority as 6lo too?

There is some mutex locking happening, but I don't see how this should affect things. There is also a blocking wait for any in-progress transmissions before sending. Disabling the mutex makes no difference, but the TX wait is necessary.

(OT: Every time I look at this

[2016-09-02 22:44] miri64 commented on #5795
Probably because it uses no mutexes ;-)

[code]

And though kw2xrf includes the header it doesn't use it either:

[code]

Basically any additional blocking takes time away from the message receive. I agree, that the mutexes aren't really necessary: sending is always sequential and receiving is handled via the RX_EVENT bootstrap mechanism, ideally by the same thread that is handling it (otherwise t

[2016-09-02 23:46] aeneby commented on #5795
Ah, I think I see what is happening. I'm using a macro (`RFCORE_WAIT_UNTIL()`) to wait for ongoing transmissions to complete before sending, but this is not a blocking wait - it yields, which I guess is allowing `6lo` to fill up the message queue before the wait is complete. I should be using a regular blocking `while();` here, probably.

I'll submit a PR for this, and also one to get rid of the m

[2016-09-02 23:55] miri64 commented on #5795
Will do.

[2016-09-02 23:58] aeneby commented on #5795
For the record, though, I'm still a little confused as to why giving cc2538_rf a higher priority than 6lo solves the problem, given that it's still yielding and (presumably) still giving 6lo an opportunity to fill the message queue up...

[2016-09-03 00:03] aeneby commented on #5795
Nevermind. I see that thread_yield() passes control to processes with the same or higher prio. Makes sense.

[2016-09-03 00:10] miri64 commented on #5795
See https://github.com/RIOT-OS/RIOT/pull/5803

[2016-09-03 00:19] aeneby commented on #5795
Thank you. IMHO the issue is resolved with this PR.

[2016-09-03 01:56] aeneby commented on #5786
Wow... bizarre. I can reproduce this too (well, 99.9% loss). Do we know if the same thing occurs on other platforms?

[2016-09-03 04:05] aeneby commented on #5786
It seems that introducing a slight delay in the transmission improves things significantly. The delay only needs to be _very_ slight - enabling `DEBUG` in `cpu/cc2538/radio/cc2538_rf_netdev.c` for all nodes is even sufficient, since this adds a delay for printing debug output.

Why this helps, though, I have no idea.

[2016-09-03 13:25] miri64 opened #5805 "[RFC] Global constant header"
At the moment many (user-editable) constants are scattered in form of macros over the code base (e.g. address timeouts, thread priorities and stack sizes, packet buffer size, maximum link-layer address length, etc.). How about we collect them together in one single header file, that then gets included by those who need those constants?

[2016-09-03 15:34] OlegHahm commented on #5805
This goes in the direction of something like a `config.h` as discussed several times ago, right?

[2016-09-03 18:51] miri64 commented on #5805
Did we? I didn't find an issue for that. But in general: yes.

[2016-09-03 19:25] OlegHahm commented on #5805
We had something like this back in old Firekernel days.

[2016-09-06 07:24] smlng opened #5825 "Bootstrap RIOT toolchain(s) on any OS"
While Vagrant is a very useful and convenient way to get started with RIOT development, I guess in the long run most users want to install the toolchain(s) right into their base OS.

IMHO it would be useful to have some kind of generic OS bootstrap script that installs all required tools (`gcc`, `openocd` etc) like the Vagrant bootstrap / provisioning [script](https://github.com/RIOT-OS/RIOT/blob/

[2016-09-06 07:31] OlegHahm commented on #5825
One immediate thought: in the early Firekernel/µkleos days we had a script to build the toolchain for ARM7. (Actually, I just realized that it is still there: https://github.com/RIOT-OS/RIOT/tree/master/dist/tools/toolchains .) The main reason why we decided to recommend other pre-compiled toolchains instead was the maintenance effort for this script. I have the impression that providing such a bo

[2016-09-07 10:19] thomaseichinger commented on #5825
I think this is a good idea in general but instead of actually compiling we should as the mentioned bootstrapping script use the OS's package manager. This might reduce the maintenance effort to a manageable amount.

[2016-09-07 15:19] LucaZulberti commented on #5719
Solved by #5803. Thank you a lot!

[2016-09-07 16:08] LucaZulberti commented on #5719
Sorry, but I thought this has been resolved by #5803...

I have tested with that PR, I can't ping with large packets.
I have enabled debug of the "netapi", but there aren't messages of dropped packets.

[2016-09-07 16:10] miri64 commented on #5719
Even if that would fix it, the normal workflow would be to close the issue *after* the fix was merged to master ;-)

[2016-09-07 16:11] LucaZulberti commented on #5719
Received, I'm sorry.

[2016-09-07 16:11] miri64 commented on #5719
No problem :-)

[2016-09-07 18:13] #5695 closed

[2016-09-07 18:24] LudwigKnuepfer commented on #5825
I think it's a waste of time.

[2016-09-07 18:52] OlegHahm commented on #5825
@thomaseichinger, that was my understanding anyway - still I think it is a lot of effort.

@LudwigKnuepfer, can you elaborate just a little bit more?

[2016-09-07 19:30] smlng commented on #5825
Just to shed some light on this:

With the current support of vagrant by @cgundogan we already have such a bootstrap script for Ubuntu (only), which can naturally be used without vagrant to setup RIOT toolchains in _native_ Ubuntu.

Further, we experienced some incompatibilities with certain tools in the past, i.e. OpenOCD or gcc-none-eabi. For example, specific versions of these tools where not w

[2016-09-07 22:41] OlegHahm commented on #5825
To be clear: I completely agree that this would be a helpful amendment, I just want to point out that this is creates additional maintenance efforts. I'm not so much worried that we don't have the personal power and/or experience, but more about the fact that someone has to keep an eye on this to make sure that it doesn't get outdated. In my experience, it shows that people tend to forget to updat

[2016-09-08 05:33] cgundogan commented on #5825
that would be a great use case for #5828 with a proper integration into murdock, so that tests run on different OSs automagically

[2016-09-08 05:35] cgundogan commented on #5825
BTW: with #5828 we would already need such provisioning/bootstrapping scripts, if we go down that path to support multiple platforms/diferent versions of OSs. So both, this issue and #5828, go hand in hand.

[2016-09-08 09:32] OlegHahm commented on #5825
@cgundogan, when would you run those tests on Murdock and how would you make sure that no unrelated PR is affected from changes in some OS' packaging system?

[2016-09-08 09:41] cgundogan commented on #5825
@OlegHahm such tests would need to be executed periodically (cron et al.), independently of active PRs.

[2016-09-08 09:49] kaspar030 commented on #5825
Let's not forget that we're already using docker for the CI. Adding different flavours of Linux is easy there.

[2016-09-08 18:09] LudwigKnuepfer commented on #5825
I am not aware of any developer who can spend the time needed to make this work and keep it working who is not better off working on something else in RIOT. I consider vagrant a good enough option for all developers not working on one of the distributions that are already supported (via mostly very clear instructions in the wiki).

[2016-09-11 20:49] #5737 closed

[2016-09-13 10:24] Cr0s opened #5841 "xtimer: implement xtimer with 1s resolution or better over RTC on stm32l151"
Hello,

It's possible to make a module that implements xtimer interface over an RTC to be able to wake-up the chip even from lowest power mode?

[2016-09-15 06:54] alignan commented on #5786
Have you tried https://github.com/RIOT-OS/RIOT/pull/5804/ with `DEBUG` enabled? wondering if this contributes to the required delay as well

[2016-09-16 07:44] LaszloLango opened #5845 "How to run RIOT on Particle Photon?"
I'd like to run RIOT on a [Particle Photon](https://docs.particle.io/datasheets/photon-datasheet) board. The porting documentation on wiki didn't helped much. I tried to make a new board based on Nucleo-f207 and Spark Core, but it is not working. What is the minimal set of defines (in `board.h` and `periph_conf.h`) to run simple "hello world" or led blinking example on this board?

[2016-09-16 15:33] gebart opened #5848 "arduino: Race condition in sys/arduino/Makefile.include"
https://ci.riot-labs.de/RIOT-OS/RIOT/5794/291c1a54ebfde8e5d7ff3db97d5b01befae3b7f0/output.html#cortex_m3_1
observed in #5794

https://github.com/RIOT-OS/RIOT/blob/master/sys/arduino/Makefile.include#L6 is executed in parallel for all targets of a make buildtest

https://github.com/RIOT-OS/RIOT/blob/master/dist/tools/arduino/pre_build.sh#L17 does not write the file atomically, which means that the

[2016-09-18 15:02] OlegHahm opened #5849 "pkg: ccn-lite: rework convenience functions"
The convenience functions in CCN-lite's RIOT adapter for interest sending and waiting for content chunks need serious rework:
1.) They should be moved into the RIOT repository for easier modifications.
2.) The interface needs to be reworked. The "wait_for_chunk" function, for instance, need to provide access to the chunks meta data, like the name.
3.) The "wait_for_chunk" function currently sets a

[2016-09-19 07:49] miri64 commented on #5849
How about integrating this into `sock` right away?

[2016-09-19 08:20] kaspar030 commented on #5849
I think it is "convenience function".

-----Original Message-----
From: Oleg Hahm <notifications@github.com>
To: RIOT-OS/RIOT <RIOT@noreply.github.com>
Sent: So., 18 Sep. 2016 16:01
Subject: [RIOT-OS/RIOT] pkg: ccn-lite: rework convenient functions (#5849)

The convenient functions in CCN-lite's RIOT adapter for interest sending and waiting for content chunks need serious rework:
1.) They should b

[2016-09-19 08:29] OlegHahm commented on #5849
@miri64, yes, I will take a look if this makes sense.

@kaspar030, oops, thanks!

[2016-09-20 15:13] smlng commented on #5786
I made the same observations, see #5840 for some debug output. I saw 100% packet loss with ping6 and 256B payload from `samr21-xpro` to `remote-revb`

[2016-09-20 17:48] smlng commented on #5799
FYI: @cgundogan and @PeterKietzmann

[2016-09-20 19:05] aeneby commented on #5786
For those testing with large payloads over a layer 3 protocol, please also see #5803

[2016-09-20 19:28] aeneby commented on #5786
@alignan no, I haven't tested this yet. One thing I can't currently test, but would like to, is whether pinging cc2538 from another platform exhibits the same problem. i.e. do other drivers send their packets as quickly as the cc2538 does? I know that RIOT's cc2538 driver is capable of sending consecutive packets very quickly - it doesn't wait for transmission of the first packet to complete befor

[2016-09-21 07:35] #5845 closed

[2016-09-21 16:33] OlegHahm opened #5858 "gnrc: 6lo: potential problem with reassembly of fragments"
**Abstract** Packet loss seems to confuse the 6lo reassembly state machine.
### How to reproduce

**Hardware:** iotlab-m3
**Application:** gnrc_networking example
**Setup:**
- two nodes in radio range
- ping with small payload (e.g. default) -> works
- ping with bigger payload (e.g. 256 bytes) -> works
- ping with often with bigger payload and no delay, e.g. `ping6 100 <addr> 1024 0` -> works for

[2016-09-21 17:42] OlegHahm commented on #5858
Interestingly:
[code]

[2016-09-21 17:44] cgundogan commented on #5858
ow c'mon (;

[2016-09-21 19:13] #5745 closed

[2016-09-21 22:10] miri64 commented on #5858
Mh, that commit doesn't do much besides including the auto-initialization of RPL (which does the same as `rpl init <if>` does)... Could be interesting if this happens too if RPL is manually initialized.

[2016-09-22 07:30] smlng commented on #5858
@OlegHahm did you get through with _bisecting_? And have you found anything apart from RPL that's suspicious?

[2016-09-22 08:34] jfischer-phytec-iot commented on #5799
short: in the current driver some things were not done properly :smile:. #5469 should fix it, testers are welcome.

[2016-09-22 08:39] OlegHahm commented on #5858
Yes, I fully bisected between 32be958eebb602562b35df9342981512edffad84 and b70204913427304b7baa4c370ee3c32e2875c82b. However, to identify the problem one has sometimes to ping more than 100 times - unless at least one ping timeout occurs. And in one case, the ping resumed after the first timeout, but hung after the next - if my theory holds that could mean that in the first case the very last frag

[2016-09-22 08:43] smlng commented on #5858
@OlegHahm not in my case, I don't need 100 pings. With current master I *never*  got any successful ping (100% packet loss) between `pba-d-01-kw2x` and `samr21-xpro` for fragmented pings. But with `2016.04-branch` I had virtually not packet loss for large payloads, even `512B` with no delay was working.

[2016-09-22 08:45] OlegHahm commented on #5858
That seems to be a separate problem, since pinging on current master works on iotlab-m3 and samr21-xpro - in *most* cases.

[2016-09-22 16:31] vincent-d opened #5859 "Compiling outside of a git repo fails"
Because of the `RIOT_VERSION` variable not available, the compilation outside of a git repo (for instance from the zip file downloaded fron github) fails.

[code]

I found that using the `RIOT_VERSION_OVERRIDE` fixes the issue, but the message is not clear. Is it known / a feature ?

[2016-09-22 17:32] OlegHahm commented on #5859
Interesting. A similar problem was fixed in #2241, but this seems to be a strange reincarnation. As a matter of facts, removing the white spaces from `RIOT_VERSION` in `${RIOTBASE}/Makefile.include` eliminates the error, but I failed to figure out how to escape them properly.

[2016-09-22 22:35] OlegHahm commented on #5845
I heard some rumours that @tilmannOSG was working on a port for that...

Anyway, can you maybe elaborate on what is missing in the porting guide?

[2016-09-23 06:16] LaszloLango commented on #5845
@OlegHahm, it was hard to figure out what should be in `periph_conf.h`, but we could make it. The `F_CPU` is also misleading, because non of the existing ports use this define. The wiki page does not mention the `CLOCK_*` and  `*_NUMOF` defines. I know they are CPU specific macros, but it would be good to know where to look for them. :)

[2016-09-23 08:57] tilmannOSG commented on #5845
@OlegHahm I can confirm that rumor :) In fact @LaszloLango is working in my team and together with fellow team members he has successfully ported RIOT to the Photon board in the last couple of days.
Our intention is to contribute the port upstream eventually but that might still take a while :)

[2016-09-23 10:00] thomaseichinger commented on #5845
@LaszloLango @tilmannOSG That's great to hear! I started working on it a couple of days ago too, mind to join forces on it?

[2016-09-23 11:21] smlng opened #5863 "OSX + SAMR21-xpro: shell cannot handle command inputs larger than 64 chars"
Hi,

just ran into a curious problem, I used `gnrc_networking` example on two RIOT nodes, and run `udp server start 1234`. On the other node I run: `udp send <addr> 1234 foobar`.

Which works up to a string of length 23, afterwards the `udp send ...` command just blocks, and while I saw all previous transmissions in the sniffer and where dumped on the server side, 24B and above seem to be stuck at

[2016-09-23 11:23] smlng commented on #5863
btw. latest master of RIOT it is!

[2016-09-23 11:27] OlegHahm commented on #5863
My first guess would be that this limit is induced by the shell input buffer. Can you check this?

[2016-09-23 11:31] OlegHahm commented on #5863
Could not reproduce your problem on master, using native or iotlab-m3 everything seems to run smoothly.

[2016-09-23 11:34] smlng commented on #5863
mhm,

[code]

my command has 65 chars and is as follows, which is not working (one less is):
[code]

[2016-09-23 11:37] smlng commented on #5863
I'm testing on `samr21-xpro`.

[2016-09-23 11:39] OlegHahm commented on #5863
Is also working for me:
[code]

[2016-09-23 11:45] OlegHahm commented on #5863
Would be helpful if you could identify which thread is blocking your setup. Using `make debug` and `call ps()` should help for that.

[2016-09-23 12:47] smlng commented on #5863
I narrowed it down to OS X with `gcc-arm-none-eabi-4_9-2015q2` and `samr21-xpro`, there is problem with more than 64 chars in the shell.

On Linux with `gcc-arm-none-eabi-5_2` everything works as expected.

[2016-09-23 14:08] smlng commented on #5786
Another observation that causes kernel panic:

I have a `remote-revb`, a `samr21-xpro`, and a RPi with openlabs transceiver, and I send pings (no large payload, just standard size, i.e. 4B) between those devices. The following happens:

* ping between `remote-revb` and `samr21-xpro` works in both directions
* ping between `remote-revb` and RPi does not work in any direction
   * `remote-revb` -> R

[2016-09-23 17:35] LucaZulberti commented on #5786
@aeneby Why the RX FIFO is unconditionally flushed? At the end of the "_read" function when the packet is copied into the buffer there could be another packet into the FIFO.
The driver should flush the fifo only in case of overflow. I don't know how the upper layer works, but it should yield and wait for the next IRQ of packet reception without problems. Doesn't it?

[2016-09-23 21:37] aeneby commented on #5786
@smlng

Could this perhaps be caused by the Linux kernel on the RPi dropping the packets? RIOT actually [sends out incorrectly constructed packets](https://github.com/RIOT-OS/RIOT/pull/5685) for intra-PAN communication, and my observation has been that Linux will drop these. If that's the cause, however, it seems strange that it would work for the `samr21-xpro`, since both RIOT devices should be u

[2016-09-26 08:36] #5859 closed

[2016-09-26 08:39] gebart commented on #5787
I believe this was fixed by #5794, reopen if this is not the case.

[2016-09-26 08:39] #5787 closed

[2016-09-26 08:45] gebart commented on #5776
An article about Makefiles and parsing quoted strings that may be of interest in this matter:
http://www.dctrwatson.com/2012/06/gnu-make-double-quotes-and-lists/

[2016-09-26 11:45] smlng commented on #5863
I updated my toolchain to latest `gcc-arm-none-eabi-5_4-2016q2`, still the same issue:

* on OS X and board `samr21-xpro` is the shell command exceeds 64 chars the command handling fails
* on OS X and board `pba-d-01-kw2x`, with same toolchain, everything works as expected 64+ no problem
* on Linux and board `samr21-xpro` with same toolchain (v5.4) everything works, too

Might be related to the UA

[2016-09-26 14:59] yschroeder opened #5867 "telosb: radio initialization fails"
When using a TelosB (in this case actually a TMote Sky) with the `default` example the radio does not work.

Enabling debug messages in the cc2420 driver says `cc2420: init: unable to communicate with device`. The TelosB board never initializes `CC2420_PARAMS_BOARD` and uses the default parameters from the driver (which obviously fails).

Side question: Why does the CC2420 driver (the AT86RF2xx do

[2016-09-27 03:29] immesys commented on #5841
Just FYI I have done this on SAMR21 using #5608 and then switching the xtimer to the RTC. We have reliable wakeups from the lowest power mode (2.5uA)

[2016-09-27 19:58] PeterKietzmann commented on #5867
A default configuration for the cc2420 on the telosb node is indeed a missing feature as I see it. And I assume (as you obviously do as well) that the drivers default config is not correct for the telosb. Are you familiar with that device and willing to submit a configuration :-)? Otherwise @kYc0o would you provide one?
I'm not 100% sure but as far as I know the drivers-default configuration was j

[2016-09-27 20:36] kaspar030 opened #5876 "missing newlines in DEBUG output"
```git grep 'DEBUG(".*);' | grep -v '\\n'``` shows many uses of DEBUG that are missing a final newline (```\n```).

[2016-09-27 21:10] OlegHahm commented on #5876
I have the impression that most of these lines were introduced by you. ;)

[2016-09-27 21:23] kaspar030 commented on #5876
Naaah. I count less than 10%. ;)

[2016-09-27 21:41] OlegHahm commented on #5876
Since I'm a good Newbie. :wink:

[2016-09-28 05:24] miri64 commented on #5535
#5694 was merged.

[2016-09-28 05:24] #5535 closed

[2016-09-28 13:21] #5876 closed

[2016-09-28 18:29] d00616 commented on #5398
I have designed https://github.com/RIOT-OS/RIOT/pull/2239 to support accessing flash at the lowest possible level. That's the reason i work with pointers to flash memory. Reading a single word from internal flash doesn't need to copy a whole page into RAM. This helps to save some energy for ultra low power devices.

Next feature is the ability to write parts of a byte, if it is supported by underl

[2016-09-28 21:35] immesys opened #5888 "how to set netif parameter"
Say I want to set a parameter on the radio device, specifically something like

[code]

but I would like to do this from the application where there is no handle to the driver, and I want it to go through the queues so that if I do wakeup->send packet->sleep that the order happens correctly. How do i  do this? I understand this is the role of a MAC layer but at this point I would like to control i

[2016-09-29 06:09] yschroeder commented on #5867
I already tried to make a default configuration, but it did not work straight away.
Here is what I currently got:

[code]

However, this does not seem to work (or something else is broken in my setup...).
I used [this datasheet](http://www4.ncsu.edu/~kkolla/CSC714/datasheet.pdf) as reference.

Regarding the default configurations: Should I open another issue to have a better place for discussion?

[2016-09-29 06:38] miri64 commented on #5888
It seems you are using GNRC, so why not use `gnrc_netapi_get()` with the interface the device is using? The number the interface is identified by is its PID. `GNRC_NETTYPE_NETIF` can't be registered to `gnrc_netreg` because in the usual stack use-cases there is no need for that (interfaces are not "receiving" as they are directly communicatingwith the driver and for sending they are identified by

[2016-09-29 06:58] miri64 commented on #5888
This means you can't use `gnrc_netapi_dispatch_send()` (since this looks up the PID in `gnrc_netreg`), but nobody stops you from just using `gnrc_netapi_send()` but this has nothing to do with options, so I'm not sure how this is related to the question.

[2016-09-29 07:01] miri64 commented on #5888
You can get all interfaces available using [`gnrc_netif_get()`](http://doc.riot-os.org/group__net__gnrc__netif.html#gae81e49c4abc7735987200d880ddab2fd). [Here](http://doc.riot-os.org/group__net__gnrc__netapi.html#ga0ca19b514ad9303c0c3bc206fbe15b0a) is a link for `gnrc_netapi_get()`, too ;-).

[2016-09-29 07:04] immesys commented on #5888
OK, thanks for the pointers! That ought to work. Sorry for the noise, it can be difficult to work out the best way to implement things, and now that I'm trying to upstream all my work I find it pays to ask first so that the code ends up fitting in properly later.

[2016-09-29 07:04] #5888 closed

[2016-09-29 07:07] miri64 opened #5889 "doc: @defgroup's name should reflect the modules name"
Looking just at the [generated documentation](http://doc.riot-os.org) I myself find it very hard to find a module. Some examples include:

* `gnrc_netapi` => "Generic (GNRC) network stack => GNRC communication interface"
* `xtimer` => "Timer"
* and many more

I propose to require the `@defgroup` command as follows: `@defgroup <module_name> Module name` with <module_name> being the canonical name w

[2016-09-29 07:49] OlegHahm commented on #5889
Hm, not sure I understand the problem. If someone is new to RIOT and wants to use a timer, he/she's probably looking for "Timer". Hence, it's helpful (although not 100% required) if the documentation about the timer module can be found at the alphabetical position of "Timer". If someone like you or me, who knows RIOT quite well is looking for something like netapi, I can simply use the search func

[2016-09-29 09:32] kYc0o commented on #5867
I'm looking at the code and will try to get the hardware for testing, although it seems complicated...

[2016-09-29 10:02] miri64 commented on #5889
Mh, from that perspective this might make sense...

[2016-09-29 16:35] tilmannOSG commented on #5845
@thomaseichinger Yes, we would be happy to work together with you! I've sent you an email with some information about the current state of the port.

[2016-09-30 07:37] yschroeder opened #5896 "native board segfaults when module xtimer is loaded with glibc < 2.17"
xtimer uses a call to `real_clock_gettime()` in its depths which should map to `clock_gettime()` from `time.h`. However, on machines with glibc < 2.17 `dlsym()` for this function silently fails (not even giving an error in `dlerror()`) and returns a null pointer for that function. This results in a segfault during initialization of the xtimer module.

Linking with `-lrt` fixes this problem and `re

[2016-09-30 07:40] PeterKietzmann commented on #5786
@alignan, @aeneby  in #5869 we completely disabled ACK interrupts and in that scope I realized that the cc2538 does not handle ACKs and retransmissions in hardware. Is that correct?

If my above assumption applies and in case we will implement ACK handling as well as retransmission handling in software, it might be reasonable to slow down the sender by waiting for an ACK (even if this is not with

[2016-09-30 09:31] PeterKietzmann commented on #5755
Hi @dondonprad. I've never used the Xbee shields but have you already looked at the neworkig examples `examples/gnrc_minimal` (which contains an Xbee configuration) an `examples/gnrc_netowrking` (which is an "extended" networking example including a shell)? You might need to add this module to your Makefile (compare [here](https://github.com/RIOT-OS/RIOT/blob/master/examples/gnrc_minimal/Makefile#

[2016-09-30 09:32] PeterKietzmann commented on #5738
@romainvause can we close this issue?

[2016-09-30 10:48] romainvause commented on #5738
Yes, you can ! Sorry I didn't close it

Le 30 sept. 2016 11:32, "Peter Kietzmann" <notifications@github.com> a
écrit :

[2016-09-30 11:07] #5738 closed

[2016-09-30 15:39] OlegHahm commented on #5896
I tend to say: wontfix and add the 2.16 to the [not supported toolchains](https://github.com/RIOT-OS/RIOT/wiki/Family%3A-native#working) for native.

[2016-10-01 04:32] aeneby commented on #5786
@PeterKietzmann yes that is correct (although automatic _sending_ of acknowledgements is supported in hardware)

Hmm but that would imply that we always need to have the acknowledgement request flag set in the frame header, or risk running into the same problem again?

I notice that the cc2538 driver in a certain other IoT platform (hint: starts with C, rhymes with "non-sticky") waits for transmis

[2016-10-01 12:48] smlng commented on #5786
@aeneby from what I saw during my (interop) tests with other boards, i.e. `pba-d-01-kw2x` and `samr21-xpro`, the `cc2538` is sending to fast when there is fragmentation. `samr21` and `kw2x` require something > 3ms between distinct frame fragments, otherwise they are unable to re-assemble the original frame.

When I enabled debugging in the `cc2538` driver (using `gnrc_networking` btw for my tests)

[2016-10-01 21:03] aeneby commented on #5786
I don't know about other boards/MCUs unfortunately, since all I have is ones based on the cc2538. I suppose in the interests of interoperability we could introduce a slight delay between sending packets; at this point optimization seems somewhat premature. Are you able to confirm that something like [this (untested) patch](https://github.com/aeneby/RIOT/commit/1bfab5579702de539ff93dd3336479b2adff3

[2016-10-04 05:44] yschroeder commented on #5896
Yes, for me this is sufficient to solve the issue.

However, I wanted to report it so maybe other people running into the problem can find this issue and solve their problem faster.

[2016-10-05 08:29] PeterKietzmann commented on #5867
@kYc0o is the code okay?

[2016-10-05 08:59] kYc0o commented on #5867
The code seems OK and the pin configuration too... I'd like to have the hardware to make the tests locally, but unfortunately I don't have it... @haukepetersen maybe has one?

[2016-10-05 14:57] OlegHahm commented on #5896
Thanks!

[2016-10-05 18:27] thomaseichinger commented on #5867
This message indicates that SPI communication is not properly set up. Can you add a `DEBUG("%x\n", reg)` and see if the read data is anything else than `0xffff` or `0x0000`?

[2016-10-06 06:14] PeterKietzmann commented on #5867
Yes SPI (I/O) is not working correctly. I'm will look into it (unfortunately) and will report back once I found something.

[2016-10-06 09:21] smlng commented on #5786
@aeneby your _untested patch_ is now **tested** by me 😄 and it works! I now can send fragments, that is PINGs with large payloads, successfully between `remote-revb` and `samr21-xpro`.

However, @PeterKietzmann said: ACKs and retransmissions are currently missing and have to be implemented in/by the driver.

[2016-10-06 09:31] PeterKietzmann commented on #5786
@smlng great! As said, for me it's ok to introduce this "blocker" if it fixes interoperability. As @aeneby proposed I also think that software retransmission and ACK handling might be generalized by a mac protocol, even though I didn't look into details of  #3730

[2016-10-06 09:40] smlng commented on #5786
@PeterKietzmann fine with to generalize such functionality, so we should move forward there, too.

However, @aeneby will you provide a PR with your patch or shall I do so? Further, I'd like to get those two `remote-xyz` / `cc2538` PRs (#5823 and #5840) merged (very) soon, so we can move on.

[2016-10-06 09:43] alignan commented on #5786
Unfortunately, I have a very low bandwidth now to do any test/changes until next week, so any help on those is welcome, thanks!

[2016-10-06 23:47] aeneby commented on #5786
@smlng see #5915

WRT ACK/CSMA, I don't know how far off a MAC protocol capable of doing this is, but it would certainly save duplication of effort if it was possible for every driver to utilise the same code. In saying that, however, the `cc2538` does have a dedicated programmable "Command Strobe/CSMA-CA Processor" (CSP) which would be much more efficient at handling this. I haven't looked very d

[2016-10-07 15:10] Lotterleben commented on #5434
Hi @acochrane, I just stumbled across your comment– I was wondering if you'd gotten around to updating the howto (not quite sure which one you mean exactly) with your experiences? :) Also, if you see anything in the Wiki that you feel is incomplete, you can just edit the page. If you're unsure or want to let people know about the changes you've made, you can send an e-mail to the RIOT mailing list

[2016-10-07 15:21] PeterKietzmann commented on #5867
Would be great if you could test #5917 with #5918

[2016-10-09 09:22] desword opened #5919 "Is there any examples for the RPL over nodic 51822 BLE?"
I have noticed the implementation of RPL of RIOT. However, is there any example application for nodic 51822 BLE? Thanks.

[2016-10-09 10:49] miri64 commented on #5919
Hi, the 6Lo implementation of RIOT was also written with [RFC 7668](https://tools.ietf.org/html/rfc7668) in mind, but since at the point of implementation there was no BLE support in RIOT yet, it might not work since nobody (as far as I know) tested it.

[2016-10-09 10:50] miri64 commented on #5919
(If 6Lo works, IPv6 works, so RPL should work, too ;-))

[2016-10-10 11:24] smlng commented on #5786
@aeneby and @PeterKietzmann, I tested and merged #5915 - I think we can close this one then?

[2016-10-10 13:43] PeterKietzmann commented on #5786
I will close it an set the memo label cause there is still room for improvement!

[2016-10-10 13:43] #5786 closed

[2016-10-10 14:22] smlng commented on #5786
@PeterKietzmann, yes you're right, but thats the case with (m)any solutions/PRs - we might never close any issue then 😬

[2016-10-10 21:07] aeneby commented on #5719
@LucaZulberti are you able to test whether this issue still exists in master?

[2016-10-11 09:01] LucaZulberti commented on #5719
@aeneby Sure, I can test this, but not before Thursday.

Il 10 Ottobre 2016 23:07:34 CEST, Aaron Sowry <notifications@github.com> ha scritto:

[2016-10-11 19:20] basilfx opened #5928 "xtimer: usage in board_init() crashes"
Initializing and using xtimer before the kernel has initialized leads to a crash (no output, corrupted stack in gdb). I verified this for the Thunderboard Sense (EFM32) target and Seeeduino Arch Pro (LPC1768). I use it exactly the same as the Mulle board (#4133).

The problem does not happen when the delay is less than the backoff. So my workaround for sleeping 1ms is sleeping 100 times 10 µs.

Us

[2016-10-12 11:50] yschroeder commented on #5867
I tested both PRs together on two TMote Skys. I used the default example and transmitted data between both of them via `txtsnd`. Sending and receiving both work. The PRs fix this issue!

:+1:

[2016-10-12 12:32] PeterKietzmann commented on #5867
Great to hear. Thanks for testing

[2016-10-12 12:46] haukepetersen opened #5930 "native: `ncache add` shell command results in segfault"
Found a way to cause a segfault in 'native': run the default example and simply call `ncache add` without any further argument -> segfault:
[code]

I don't have time to look into this right now, but maybe we should fix this?! :-)

[2016-10-12 13:39] miri64 opened #5932 "sock: timeout/non-blocking behavior for send"
With #5929 basically non-blocking communication was introduced to `sock`, at least for received. But this kept me thinking: Should we introduce that feature for `send`/`write`, too? Up until now we only have blocking `send`, but no timeout, no non-blocking capabilities.

[2016-10-12 13:40] #5930 closed

[2016-10-12 19:24] immesys opened #5934 "drivers: at86rf23x address endianness"
When setting the long address from the cpuid, the existing code switches the byte order [(line 90)](https://github.com/RIOT-OS/RIOT/blob/master/drivers/at86rf2xx/at86rf2xx.c#L90)

I am not convinced this is correct. A few lines above, we manipulate the first byte to set the multicast /global unique bits but after the byte order switch, that byte is now the least significant byte, so either we mani

[2016-10-12 21:33] thomaseichinger commented on #5934
I am always getting a bit dizzy with all the endianness changes but I think the existing code, in sum, is correct. The thing is, `addr_long.uint64.u64` is stored in network byte order (`network_uint64_t`) so we need to use `NTOH` to avoid compiler errors. The confusing part is the loop in `at86rf2xx_set_addr_long()` where the address once gets assigned to the internal struct `dev->netdev.addr_long

[2016-10-12 22:22] Lightertu opened #5935 "libcoap pkg Makefile wrong link?"
I notice that RIOT-OS has a fork of libcoap Which contains files, coap_io.c/h. However the link is being used in pkg/libcoap/Makefile is "https://github.com/OlegHahm/libcoap", which does not contain coap_io.c/h. After checked the libcoap's documentation, I assume that the RIOT-OS's fork is version 4.1.2 and the link used in the Makefile is 4.1.1. Also there is a "riot-port_new" branch in that RIOT

[2016-10-12 22:40] immesys commented on #5934
Ok, say for example the CPUID is 8 bytes long, and is `11 12 13 14 15 16 17 18` with `11` being the least significant byte. This code will then change the `11` to `12` (clear bit 0x01, set bit 0x02), and then flip the bytes in the NTOHLL. The resulting LL address would be `fe80::1817:1615:1413:1212` when it should actually be  `fe80::1a17:1615:1413:1211` according to appendix A of RFC2373.

So I t

[2016-10-13 12:09] lebrush commented on #4093
@gebart this can be closed, right? There are no more references to `vtimer` in the code...

[2016-10-13 12:26] miri64 commented on #9
Has anyone looked into this again? Is this still an issue?

[2016-10-13 12:27] miri64 commented on #127
So.... close?

[2016-10-13 12:29] miri64 commented on #179
ping? (e.g. @kaspar030)

[2016-10-13 12:29] x3ro commented on #127
It's been around for three years, I couldn't reproduce it and there doesn't seem to be any interest from anyone else, so I'd say yes.

[2016-10-13 12:29] #127 closed

[2016-10-13 12:46] miri64 commented on #3341
Since nativenet does not exist anymore I allowed myself to rename this ;-).

[2016-10-13 12:54] miri64 commented on #2761
Why was it in the known issues anyway? This is a feature proposal, not a bug...

[2016-10-13 12:54] #2761 closed

[2016-10-13 12:56] miri64 commented on #2967
Why was this marked as a known issue. Doesn't seem like a bug to me...

[2016-10-13 13:00] gebart commented on #4093
Yeah, finally! :)

[2016-10-13 13:00] #4093 closed

[2016-10-13 13:07] miri64 commented on #4093
Whoop whoop :smile:

[2016-10-13 13:09] kaspar030 commented on #4093
Over half a decade of bad design finally gone! :smile:

[2016-10-13 13:14] miri64 commented on #208
Updated the title a little bit.

[2016-10-13 13:25] miri64 commented on #534
Can confirm that this is still an issue.

[2016-10-13 13:28] miri64 commented on #637
This should be fixable for the release.

[2016-10-13 13:37] miri64 commented on #637
Though... considering #5616, I'd like to wait for @gebart answer there.

[2016-10-13 13:57] miri64 commented on #904
But what about other platforms?

[2016-10-13 14:04] miri64 commented on #1004
Okay, there has bin no discussion whatsoever. I'm not really convinced by this whole non-numeric PIDs thing, though I would see some benefits of having non-PID messaging coupled to `core_mbox` somehow to get rid of (or merge it with) `core_msg`. This however is another scope than non-numeric PIDs and goes more into the direction of TCBs not in stack. For now, just in the spirit of cleaning things

[2016-10-13 14:04] #1004 closed

[2016-10-13 14:06] miri64 commented on #480
Thanks to the efforts during this release we have less (but still some) findings:

[code]

[2016-10-13 14:09] miri64 commented on #637
After some consideration I came to the conclusion that `fd` would be removable with #5616 merged. Until then I would like to keep it for the sockets.

[2016-10-13 14:20] miri64 commented on #1234
I guess not much happened into that direction?

[2016-10-13 14:20] miri64 commented on #1233
Any news?

[2016-10-13 14:37] thomaseichinger commented on #1233
No, no news from my side on this.

[2016-10-13 15:38] basilfx commented on #1123
@miri64 Yes, I am still working on it.

[2016-10-13 18:06] makomi commented on #480
I checked out the current master (d79cd42) and got these results:

    $ ./dist/tools/cppcheck/check.sh 2>&1 |cut -d: -f3|sort|uniq -c|sort -n
          1  performance (redundantCopy)
          1  style (unusedVariable)
          1  warning (clarifyStatement)
          2  style (unreachableCode)
          2  style (unsignedLessThanZero)
          2  warning (invalidPrintfArgType_uint)
          3

[2016-10-13 18:25] makomi commented on #480
Would it make sense to call `cppcheck` as part of every pull request's automatically performed checks, in order to avoid introducing ever new issues? Newly introduced warnings and errors would be handled as part of the pull request by the person that wrote the code. It would also function as a great feedback on the code's quality helping one to avoid such warnings/ errors in the future.

I figure

[2016-10-13 18:44] OlegHahm commented on #480
@makomi, that's already happening in https://github.com/RIOT-OS/RIOT/tree/master/dist/tools/cppcheck

[2016-10-13 19:01] makomi commented on #480
@OlegHahm, it seems to me that new issues are introduced somehow, though. When I made the above pull requests the reported issues were down to this:

    $ ./dist/tools/cppcheck/check.sh 2>&1 |cut -d: -f3|sort|uniq -c|sort -n
          1  performance (redundantCopy)
          1  style (unsignedLessThanZero)
          1  style (variableScope)
          1  warning (clarifyStatement)
          2  sty

[2016-10-13 19:43] miri64 commented on #480
Mine was master too, but `Cppcheck 1.72` on `Ubuntu 16.04`.

[2016-10-13 20:50] OlegHahm commented on #5935
@Lightertu, https://github.com/RIOT-OS/RIOT/blob/master/pkg/libcoap/Makefile contains a link to the upstream version of libcoap on Github. The revision in the package's Makefile should be the latest that is known to be working with RIOT.

[2016-10-13 21:40] OlegHahm commented on #904
I would vote for disabling DEBUG in ISR context completely.

[2016-10-13 21:45] #5935 closed

[2016-10-13 21:45] Lightertu commented on #5935
thank you

[2016-10-13 22:07] OlegHahm opened #5943 "pkg: micro-ecc: missing dependency to periph/random"
Trying to build #5914 I realized that the micro-ecc package requires a hardware RNG, which is apparently not modeled correctly.

[2016-10-14 06:25] miri64 commented on #1501
Since by now every package is downloaded by every application for every board I don't think that's still a good idea...

[2016-10-14 06:27] miri64 commented on #1507
I'm not sure this is still relevant... I'm closing this for now.

[2016-10-14 06:27] #1507 closed

[2016-10-14 06:29] miri64 commented on #1511
@haukepetersen @PeterKietzmann @kYc0o @thomaseichinger can you give an estimate how the current state of this issue is?

[2016-10-14 06:29] miri64 commented on #1366
What's the state of this issue?

[2016-10-14 06:30] miri64 commented on #1579
I don't understand what this issue is about...

[2016-10-14 06:33] miri64 commented on #1646
Is there another PRNG than #4989 on that board?

[2016-10-14 06:34] miri64 commented on #1647
@haukepetersen can you maybe look into this?

[2016-10-14 06:35] miri64 commented on #1749
bump bump

[2016-10-14 06:45] miri64 commented on #1837
Updated the list.

[2016-10-14 06:47] miri64 commented on #1845
@kYc0o @PeterKietzmann could one of you test this on msp430?

[2016-10-14 06:51] miri64 commented on #1891
Bump

[2016-10-14 06:55] miri64 commented on #1895
Still a lot unexplained.

[2016-10-14 06:57] miri64 commented on #1976
Considering my optimization experimets I did a few weeks back I still consider this issue relevant.

[2016-10-14 06:58] miri64 commented on #1976
Updated macro naming.

[2016-10-14 07:09] PeterKietzmann commented on #1511
I can't. I wasn't even aware of this PR. As it seems there is no CPUID on msp430 MCUs.

[2016-10-14 07:36] PeterKietzmann commented on #1845
@miri64 what exactly do you want me to test? I can confirm that `ipv6_addr_to_str()` definitely works on msp430 boards.

[2016-10-14 07:44] miri64 commented on #1845
Yes.

[2016-10-14 07:44] miri64 commented on #1845
(you can just run the unittests for that module)

[2016-10-14 07:56] PeterKietzmann commented on #1845
Ran some unittest on a z1 node.
tests-gnrc_ipv6: ok
tests-gnrc_ipv6_hdr: ok
tests-gnrc_netif: ok
tests-inet_csum: ok
tests-ipv4_addr: ok
tests-ipv6_addr: ok
tests-ipv6_hdr: `ipv6_hdr_tests.test_ipv6_hdr_inet_csum__initial_sum_overflows (tests/unittests/tests-ipv6_hdr/tests-ipv6_hdr.c 266) exp 5961 was 5962`

[2016-10-14 08:04] miri64 commented on #1845
Interesting, but from what I can see, this has nothing to do with `ipv6_addr_to_str()`. Will open a separate issue for that.

[2016-10-14 08:04] #1845 closed

[2016-10-14 08:08] #5726 closed

[2016-10-14 08:09] miri64 opened #5944 "msp430: ipv6_hdr unittests fail"
See https://github.com/RIOT-OS/RIOT/issues/1845#issuecomment-253733950.

I'm not sure how this exactly happening, but I suspect the overflow is handled differently.

Might be good to test this for avr and arm platforms, too.

[2016-10-14 09:22] LucaZulberti commented on #5719
Tested... This issue still exists.

[2016-10-14 11:06] OlegHahm commented on #1579
Since CCN-lite is a package in the mean time, I think it is safe to close this one.

[2016-10-14 11:06] #1579 closed

[2016-10-14 11:08] OlegHahm commented on #1501
Unless you use git-cache.

[2016-10-14 13:51] miri64 commented on #5717
Fixed in #5495.

[2016-10-14 13:51] #5717 closed

[2016-10-14 13:52] miri64 commented on #5689
Is this still an issue? Did anybody else see this? @kaspar030 e.g.?

[2016-10-14 13:53] miri64 commented on #5689
I take it out of the release however this this concerns https://github.com/kaspar030/murdock, not RIOT ;-)

[2016-10-14 13:54] miri64 commented on #5651
:+1:

[2016-10-14 14:38] kaspar030 commented on #5689
Never experienced this. And @miri64 is right, if this happens the bug should reported in the murdoc repo.

@kYc0o ok to close?

[2016-10-14 15:53] gebart commented on #5689
This happened to me this morning when adding the hacktoberfest label to one
pr which was already green and ready for merging.

On Oct 14, 2016 4:38 PM, "Kaspar Schleiser" <notifications@github.com>
wrote:

[2016-10-15 12:58] kaspar030 commented on #5689
Ok, that helped, I found it.

When murdock stops, it currently doesn't save the state of the PR's it
knows. Every change to a PR then makes it reload that state. So after a
label change following a murdock restart, murdock thinks the head commit
has changed and thus rebuilds.

Will fix...

[2016-10-16 14:27] kYc0o commented on #1511
Same for atmega, I'll try to check for the others.

[2016-10-16 14:41] kYc0o commented on #5689
Ok to close when the fix comes :P

[2016-10-16 18:18] LudwigKnuepfer commented on #534
I have no interest in working on OSX problems, I'd rather ditch OSX support.
Therefore I am unassigning myself from this issue.

[2016-10-16 18:29] LudwigKnuepfer commented on #5930
@miri64  So this was not an issue with native but with the shell, right?

[2016-10-16 18:49] basilfx commented on #1511
LPC1768 has a [driver](https://github.com/RIOT-OS/RIOT/blob/master/cpu/lpc1768/periph/cpuid.c) by now.

[2016-10-16 19:04] miri64 commented on #5930
Yapp, @haukepetersen just encountered it on native.

[2016-10-16 19:05] miri64 commented on #1511
Feel free to tick of the boxes (and of course extent it with new CPU types ;-))

[2016-10-16 19:22] ThanasisArvas opened #5953 "Wifi on arduino mega2560"
Hello, I am working on a project using an arduino-mega2560 and a wifi shield ( https://www.arduino.cc/en/Main/ArduinoWiFiShield ). I am using riot-os and I am trying to enable wifi networking, but I was unsuccessful until now. Is there any example code that i can use? Any suggestions or directions on where to look for information will be greatly appreciated.

[2016-10-16 19:41] jeffbortolotti opened #5954 "nRF52 uart_write get stuck"
Using nRF52DK, I have found conditions where the uart_write function stays stuck on waiting the character to be sent(https://github.com/RIOT-OS/RIOT/blob/8a74475e70925db155ee9747d514004f8d2dadd7/cpu/nrf5x_common/periph/uart.c#L146).

The way to reproduce this is : use the example/microcoap_server, setup the IPv6/6lowPan connection with a host and send ping request every 5s for instance. (the 5s de

[2016-10-17 05:16] Yonezawa-T2 commented on #534
I can debug RIOT with LLDB on macOS. I suggest closing this issue and reopening if anyone found a problem.

[2016-10-17 06:40] PeterKietzmann commented on #5953
Hi @ThanasisArvas we don't have support for that device. To use it one needs to write a device driver before. Do you intend to provide one for RIOT?

[2016-10-17 07:22] haukepetersen commented on #5867
#5918 and #5917 were merged, so is this issue fixed now in master?

[2016-10-17 07:57] PeterKietzmann commented on #5867
yes

[2016-10-17 07:57] #5867 closed

[2016-10-17 11:56] miri64 commented on #2046
Is this issue still relevant?

[2016-10-17 11:57] miri64 commented on #2058
Obviously hadn't had the time to work on this... Anyone care to look into this?

[2016-10-17 12:01] miri64 commented on #2098
@OlegHahm is this still an issue?

[2016-10-17 12:08] miri64 commented on #5265
Any news?

[2016-10-17 12:11] haukepetersen commented on #5265
the functions were used from the old `hwtimer`. Since that code path does not exist anymore, I would be happy if we would just remove those functions.

[2016-10-17 12:22] miri64 commented on #5173
Wrongly labeled as question. Maybe it was ignored because of that ;-)?

[2016-10-17 12:23] miri64 commented on #5458
@aabadie does this issue still exist?

[2016-10-17 12:23] miri64 commented on #5539
@kaspar030 ping?

[2016-10-17 12:25] aabadie commented on #5458
No, the warning problem was fixed and the BR issue is another problem (see #5539). Closing this one.

[2016-10-17 12:25] #5458 closed

[2016-10-17 12:31] miri64 commented on #2116
Can somebody tell me if this issue was resolved? I seem to remember that there was some PR regarding CS in SPI a few days back.

[2016-10-17 12:34] miri64 commented on #2140
Bump

[2016-10-17 12:40] miri64 commented on #2175
Issue still persists.

[2016-10-17 12:50] miri64 commented on #2188
To my knowledge Kinetis integration is complete or am I mistaken?

[2016-10-17 12:52] miri64 commented on #2195
Fixed by #5614.

[2016-10-17 12:54] miri64 commented on #2264
Kind of fixed in #5153 ;-).

[2016-10-17 12:55] miri64 commented on #2278
Though there are still some things under construction, since PRs exist I would deem this issue as complete, so close.

[2016-10-17 12:55] #2278 closed

[2016-10-17 12:56] miri64 commented on #3125
Wasn't this fixed (and opened a whole new can of worms -> #5486)?

[2016-10-17 12:58] miri64 commented on #3546
Fixes https://github.com/RIOT-OS/RIOT/issues/2284

[2016-10-17 13:06] miri64 commented on #2300
Due to the inclusion of `relic` and since `periph_timer` is now required unittests don't build for this board anymore in any case :(.

[2016-10-17 13:08] miri64 commented on #2346
Bump.

[2016-10-17 13:11] miri64 commented on #4511
At this point I don't really care about it anymore (maybe silence `cmake`). If somebody cares, please reopen ;-)

[2016-10-17 13:11] #4511 closed

[2016-10-17 13:15] miri64 commented on #1305
Clearing milestone because there doesn't seem to be much traction behind this family of issues.

[2016-10-17 13:15] miri64 commented on #4211
Clearing milestone because there doesn't seem to be much traction behind this family of issues.

[2016-10-17 13:19] miri64 commented on #4474
Realized in #5758.

[2016-10-17 13:19] #4474 closed

[2016-10-17 13:20] miri64 commented on #4388
Fixed by #5772 and my [currently WIP posix socket port to sock](https://github.com/miri64/RIOT/tree/posix/enh/use-sock-for-sockets)