[2016-10-17 13:21] miri64 commented on #4418
Fixed title ;-)

[2016-10-17 13:22] miri64 commented on #4387
Fixed in #5772.

[2016-10-17 13:28] miri64 commented on #4344
@kYc0o did this happen?

[2016-10-17 13:30] miri64 commented on #2143
Agreed! Does anyone has a fix? #2094 was closed.

[2016-10-17 13:31] miri64 commented on #3169
at86rf2xx is not part of GNRC anymore.

[2016-10-17 13:32] miri64 commented on #2376
I would say this is still of interest ;-)

[2016-10-17 13:33] miri64 commented on #2407
Maybe #5153?

[2016-10-17 13:34] miri64 commented on #2422
I think This still needs fixing.

[2016-10-17 13:34] #5889 closed

[2016-10-17 14:29] miri64 commented on #2528
So I guess #4780 and #4926 are fixing this issue?

[2016-10-17 14:31] miri64 commented on #2530
As far as I know #2071 fixes this (at least I did not encounter it at my usual problem zones when I merged that PR).

[2016-10-17 14:35] miri64 commented on #2623
There are still some of these macros left. In sys in particular.

[2016-10-17 14:37] miri64 commented on #2726
So… what are the results of this?

[2016-10-17 14:44] miri64 commented on #3052
Should look into this when working on #5293.

[2016-10-17 15:01] miri64 commented on #3195
Bump

[2016-10-17 15:15] miri64 commented on #3346
Did anyone encounter this issue still? @kaspar030 @OlegHahm @gebart @haukepetersen @cgundogan?

[2016-10-17 15:17] miri64 commented on #3363
Any progress here?

[2016-10-17 15:19] miri64 commented on #3378
We don't use travis anymore, so let's close this

[2016-10-17 15:19] #3378 closed

[2016-10-17 15:19] miri64 commented on #3379
We don't use travis anymore so let's close this

[2016-10-17 15:19] #3379 closed

[2016-10-17 15:20] miri64 commented on #3392
Renamed

[2016-10-17 15:20] miri64 commented on #3392
Also some relation to #5201.

[2016-10-17 15:29] miri64 commented on #3408
I couldn't reproduce. Is this still an issue?

[2016-10-17 15:30] miri64 commented on #3418
Bump

[2016-10-17 15:32] miri64 commented on #3630
Given the recent problems with qemu: Bump!

[2016-10-17 15:34] miri64 commented on #3638
Maybe I find some time until the release for this one.

[2016-10-17 15:35] miri64 commented on #3791
@OlegHahm didn't you work on something like this?

[2016-10-17 15:36] miri64 commented on #3947
@haukepetersen bump?

[2016-10-17 15:42] zhuoshuguo commented on #2623
@miri64 Will find time to handle.

[2016-10-17 16:24] kaspar030 opened #5959 "byteorder functions in capital letters?"
RIOT's `byteorder.h` defines `NTOHL()` as capital static inline functions. Does anyone remember the reason for not using `ntohl()` et al?

Like this it is really inconvenient for code also used on other platforms (see https://github.com/kaspar030/sock/issues/2).

[2016-10-17 19:44] sinkarharshad opened #5960 "objcopy: command not found"
Hi,

I'm trying to setup RIOT shell on MAC OSX using this guide: http://riot-os.org/api/index.html#the-quickest-start

While trying 'make all' I'm getting an error:

__TEXT  __DATA  __OBJC  others  dec hex
90112   1220608 0   24576   1335296 146000
bash: objcopy: command not found
make: **\* [all] Error 127

And there's an error after using the command: 'git checkout <LATEST_RELEASE>'
Error: -bash

[2016-10-18 01:30] Yonezawa-T2 commented on #5960
If you are using MacPorts, setting `PATH` will work.
`PATH=$PATH:/opt/local/x86_64-apple-darwin15.6.0/bin/ make BOARD=native`

[2016-10-18 07:28] miri64 commented on #5959
@kaspar030 I guess because our coding conventions state that macros should be upper case. For portability you can find the POSIX naming in `sys/posix/include/sys/bytes.h` ;-)

[2016-10-18 07:29] miri64 commented on #5959
(which also should help you with portability since the macro is exactly where other OSs would expect it to be `<sys/bytes.h>`)

[2016-10-18 07:47] kaspar030 commented on #5959
Well, that's the thing. They are static inline functions, not macros.

[2016-10-18 07:49] miri64 commented on #5959
See https://github.com/RIOT-OS/RIOT/pull/4812

[2016-10-18 08:03] kaspar030 commented on #5959
So with the current state of byteorder.h, you don't remember the reason for the function names being uppercase?

[2016-10-18 08:16] miri64 commented on #5959
Not really, but I guess the HTONS etc. wrapper macros are primarily there for legacy reasons. @Kijewski?

[2016-10-18 08:20] kaspar030 commented on #5959
They're not macros. :)

[2016-10-18 08:27] miri64 commented on #5959
That's even more confusing ^^.

[2016-10-18 08:51] gebart commented on #5959
I think they were macros at first but were changed into inline functions to
make it easier to see programming mistakes.

[2016-10-18 08:51] miri64 commented on #4026
Is this still an issue over a year later?

[2016-10-18 08:51] miri64 commented on #4053
Bump

[2016-10-18 08:52] kaspar030 commented on #5959
I would propose then, independently of #4812, to change them to use lowercase names. #4812 can then implement the functions using the const macros (or builtins...), and the posix wrapper can just include byteorder.h. What do you think?

[2016-10-18 08:53] miri64 commented on #5959
Fine by me.

[2016-10-18 08:55] miri64 commented on #4102
Any updates to this discussion or can it be closeds

[2016-10-18 08:55] miri64 commented on #4113
Ping?

[2016-10-18 08:58] miri64 commented on #4136
Any progress?

[2016-10-18 08:59] miri64 commented on #4140
@jfischer-phytec-iot ping?

[2016-10-18 09:00] miri64 commented on #4151
Can be closed I think.

[2016-10-18 09:00] #4151 closed

[2016-10-18 09:01] miri64 commented on #4185
Fixed in https://github.com/RIOT-OS/RIOT/pull/5118

[2016-10-18 09:01] #4185 closed

[2016-10-18 09:02] miri64 commented on #4204
Ping?

[2016-10-18 09:03] miri64 commented on #4206
I think ZEP is another thing I have to look at ;-)

[2016-10-18 09:06] miri64 commented on #4243
Can we somehow get this into the main repository? This is not very prominent.

[2016-10-18 09:08] miri64 commented on #4260
An [SNTP](https://tools.ietf.org/html/rfc5905#section-14) implementation is our project for the [Ladies that FOSS hackathon](https://www.wikimedia.de/wiki/Ladies_that_FOSS)

[2016-10-18 09:12] miri64 commented on #4309
There is some overlap to https://github.com/RIOT-OS/RIOT/issues/1837. Can we somehow merge them?

[2016-10-18 09:13] x3ro commented on #4026
I suppose the concrete issue is fixed, but this was more of an open-ended question regarding how to properly debug on a platform w/o gdb support. But I suppose it can be closed.

[2016-10-18 09:13] #4026 closed

[2016-10-18 09:14] miri64 commented on #4026
`DEBUG()` macro and [shotgun debugging](https://en.wikipedia.org/wiki/Shotgun_debugging) is usually my preferred method for such cases. ;-)

[2016-10-18 09:18] miri64 commented on #4499
@jfischer-phytec-iot ping?

[2016-10-18 09:22] miri64 commented on #4522
Anyone encounter this problem in the last time? I hadn't had it for a while.

[2016-10-18 09:23] miri64 commented on #4527
#4528 was adapted in https://github.com/RIOT-OS/RIOT/pull/5729, but it seems not seem to fix this issue...

[2016-10-18 09:25] miri64 commented on #4558
I think the question is answered or is should we adapt the porting guide?

[2016-10-18 09:26] miri64 commented on #4561
Soooooo how is the situation?

[2016-10-18 09:27] miri64 commented on #4565
Since #4572 was closed I guess this is still an issue?

[2016-10-18 09:28] gebart commented on #4565
Yes

[2016-10-18 09:30] miri64 commented on #4677
Microcoap application in `applications` was removed so close

[2016-10-18 09:30] #4677 closed

[2016-10-18 09:31] miri64 commented on #4693
Ping?

[2016-10-18 09:32] miri64 commented on #4694
#3418 might be related.

[2016-10-18 09:39] miri64 commented on #4710
Bump

[2016-10-18 09:42] miri64 commented on #4758
So #4780 and #4929 fix this?

[2016-10-18 09:43] miri64 commented on #4788
This should be fixed with #5018.

[2016-10-18 09:43] #4788 closed

[2016-10-18 09:47] gebart commented on #4758
Only for spi and i2c. This issue is still relevant, but it might be beneficial to make the top post into a page in the doxygen documentation.

[2016-10-18 09:50] miri64 commented on #4758
Okay, I added a DocTF label

[2016-10-18 09:52] miri64 commented on #4822
Can somebody confirm?

[2016-10-18 09:54] miri64 commented on #4857
Implemented in #4861 ;-)

[2016-10-18 09:56] miri64 commented on #4874
Bump

[2016-10-18 09:56] spth commented on #4558
I'd suggest to add the information to the porting guide.

Philipp

[2016-10-18 09:57] miri64 commented on #4875
They are ;-)

[2016-10-18 10:05] miri64 commented on #4958
Fixed in #5881.

[2016-10-18 10:08] miri64 commented on #4974
Ping on the overall issue.

[2016-10-18 10:08] miri64 commented on #4982
Ping?

[2016-10-18 10:09] smlng commented on #4822
@miri64: yes I can. I tested #5469 and besides its adoption of netdev2 it also helps to resolve this issue. However, @jfischer-phytec-iot wanted to work on the said PR a little more - I'd like to merge that one ASAP, though.

[2016-10-18 10:10] miri64 commented on #4822
Than discuss there please!

[2016-10-18 10:20] miri64 commented on #5010
Did not seem to have happened ;-)

[2016-10-18 10:21] sinkarharshad commented on #5960
I tried, and still I get the same error. ):
![screen shot 2016-10-18 at 12 21 05](https://cloud.githubusercontent.com/assets/18270841/19473809/68616454-952d-11e6-8652-7456f6878d4d.png)

[2016-10-18 10:24] miri64 commented on #5025
Is there any result to that discussion?

[2016-10-18 10:26] miri64 commented on #5037
#5206 was disconitnued, but maybe someone else likes to pick up this task?

[2016-10-18 10:30] miri64 commented on #5091
Sock (the result of that discussion) was merged in #5758.

[2016-10-18 10:30] #5091 closed

[2016-10-18 10:31] Yonezawa-T2 commented on #5960
Type `mdfind -name objcopy` to locate where the `objcopy` is installed.

If you don't have a file named `objcopy` but `gobjcopy`, make a symlink to it and add it to your `PATH`:
[code]

[2016-10-18 10:34] sinkarharshad commented on #5960
I have installed objcopy. what should i do next? (Below is the path)
![screen shot 2016-10-18 at 12 33 12](https://cloud.githubusercontent.com/assets/18270841/19474253/238e17bc-952f-11e6-8b38-f4167b16978a.png)

[2016-10-18 10:34] miri64 commented on #5161
Is this still required with the new rebase/squash feature of GitHub?

[2016-10-18 10:36] Yonezawa-T2 commented on #5960
[code]

[2016-10-18 10:39] miri64 commented on #5114
@OlegHahm did this answer your question?

[2016-10-18 10:40] Yonezawa-T2 commented on #5960
To other maintainers:
BTW, `boards/native/Makefile.include` will use `gobjcopy` if it is available, but `cpu/Makefile.include.llvm` just try to use `objcopy`. I guess that is the cause of this issue (not confimed yet). If so, we should update `cpu/Makefile.include.llvm` to use `gobjcopy` if `objcopy` is not available.

[2016-10-18 10:40] miri64 commented on #5108
I guess this was fixed (though differently than proposed) in #5690.

[2016-10-18 10:40] #5108 closed

[2016-10-18 10:41] sinkarharshad commented on #5960
After following  above instructions, again when i tried running "make all" i still got the same error.  :! (or after following above instruction, I don't need to run "make all" ? )

[2016-10-18 11:35] miri64 commented on #5259
Then I'll add it as a fixable issue to the current release.

[2016-10-18 11:39] miri64 commented on #5296
@kaspar030 ping?

[2016-10-18 11:39] miri64 commented on #5299
Might be fixable for this release.

[2016-10-18 11:41] miri64 commented on #4511
(this is wish is also expressed in #5359, so closing this issue stays valid)

[2016-10-18 11:42] miri64 commented on #5382
#5706 was merged, so close?

[2016-10-18 11:43] #5382 closed

[2016-10-18 11:50] miri64 commented on #5407
Is this still an issue and can someone please summarize what the reason is?

[2016-10-18 11:59] kYc0o commented on #5960
I confirm the issue, I didn't provide a patch for that since I don't use a lot the native port but I think we should work on it, even if there are no "a lot" of Mac OS X users I think is important.

[2016-10-18 11:59] miri64 commented on #5438
In case you never got an answer: I realize now, that Cooja (https://github.com/RIOT-OS/RIOT/pull/1921) was never merged. I'm deleting that article because of that.

[2016-10-18 12:20] kYc0o commented on #5438
But does it mean that RIOT and Cooja does not work? In my opinion this is a MUST...

[2016-10-18 12:25] miri64 commented on #5438
Not at the moment, but I don't see any reason against it.

Feel free to adapt #1921 :-)

[2016-10-18 12:25] #5438 closed

[2016-10-18 12:43] Kijewski commented on #3630
I tried to remove the board=qemu-i386 but break some build scripts, so I didn't open a PR. I think a clean restart would be easier than fixing/adapting the current implementation.

[2016-10-18 13:02] miri64 commented on #5542
Is this still needed, now that #5694 was merged?

[2016-10-18 13:03] #5542 closed

[2016-10-18 13:07] miri64 commented on #5561
I mark this as a known issue though it seems rather specific. If you don't agree, shout! ;-)

[2016-10-18 13:12] miri64 commented on #5581
@smlng could you please update the Wiki according what you wrote?

[2016-10-18 13:24] miri64 commented on #5595
Is this issue resolved with my explanations? (#5470 seems to be in the process of being adapted for that anyway)

[2016-10-18 13:27] biboc commented on #5790
I tried again to send lot of data in a row (20 packets/sec)
And actually NDP sends also messages between these packets and at some point, the node shows:
`ndp internal: set 2001:db8::fec2:3d00:4:abb1 state to STALE (go into DELAY on next packet)`
Then I can't communicate to the node with global IPV6 but I can with local IPV6

[2016-10-18 13:28] miri64 commented on #5611
I guess fixing ZEP is another thing I need to do then :P

[2016-10-18 13:28] #5611 closed

[2016-10-18 13:29] miri64 commented on #5790
Directly after?

[2016-10-18 13:35] miri64 commented on #5647
@kaspar030?

[2016-10-18 13:38] biboc commented on #5790
node starts and get global IPV6: great
I start sending data (~20 packets/sec), I receive 380 packets and it stops with last message:
`ndp internal: set 2001:db8::fec2:3d00:4:abb1 state to STALE (go into DELAY on next packet)`

In the middle, I've got NDP receiving SL2A:
[code]

And you can see that node misses some lines when NDP is talking

[2016-10-18 13:40] kaspar030 commented on #5647
Hm, maybe we should uhcpd to sock! ;)

[2016-10-18 13:40] miri64 commented on #5790
what are those "lines"?

[2016-10-18 13:42] biboc commented on #5790
Some UDP testing lines ("hello world')

[2016-10-18 13:43] miri64 commented on #5790
Ah okay, thanks. I will consider this for my tests when testing the new ND!

[2016-10-18 13:45] biboc commented on #5790
This mainly show that if there are many messages arriving at the same time on a node, it can loose its global IPV6 address

Do you know why or how packets from 116 to 121 are not received?

[2016-10-18 13:45] miri64 commented on #5684
Fixed in https://github.com/RIOT-OS/RIOT/pull/5897

[2016-10-18 13:45] #5684 closed

[2016-10-18 13:46] miri64 commented on #5704
#5866 is the far less complicated result of this considerations ;-)

[2016-10-18 13:46] #5704 closed

[2016-10-18 13:50] biboc commented on #5790
If I do the same test with local IPV6, it will loose some line when ND runs but it will continue to the end because local IPV6 is not lost (comparing to global IPV6)

[2016-10-18 13:51] miri64 commented on #5790
I have multiple suspicions.

* Some kind of collision at L2
* Next hop determination fails due to the packet being in DELAY state
* some issue in the  packet buffer
* full packet queues of the IPv6 thread

Any thing sounds like something you observed?

[2016-10-18 13:51] yschroeder opened #5962 "Makefile: UNDEF variable is not working as documented"
As I understand the documentation for `UNDEF` in [Makefile.vars](https://github.com/RIOT-OS/RIOT/blob/master/Makefile.vars#L44) (which makes not too much sense), the `UNDEF` variable should undefine object files to avoid their use in the final executable to avoid multiple definitions of functions.

In my case I want to override the gpio implementation of the native cpu with my own implementation i

[2016-10-18 13:58] biboc commented on #5790
I can test but I need to know where to debug?
I didn't observed more than one I said yet

[2016-10-18 14:00] kaspar030 commented on #5962
Let's get rid of it, see https://github.com/RIOT-OS/RIOT/pull/5757.

[2016-10-18 14:06] miri64 commented on #5790
Try the following:

Check with a sniffer

Add `DEBUG()` statements before any return of `gnrc_sixlowpan_nd_next_hop_l2addr` in `gnrc_sixlowpan_nd.c`

Call `gnrc_pktbuf_stats()` whenever this is occuring (if it helps: this should be easily implementable as a shell commands).

Call `msg_queue_print` in `_event_loop` in `gnrc_ipv6.c` before and after the `msg_receive()` call.

[2016-10-18 14:07] biboc commented on #5790
With IPV6 debug, I added the number of lost lines since the start of sending packets:

[code]

[2016-10-18 14:10] jia200x commented on #5595
Yes, it's is solved. I'm working on the adoption.

Cheers!

[2016-10-18 14:10] #5595 closed

[2016-10-18 14:20] miri64 commented on #5752
I deem this question/issue resolved ;-)

[2016-10-18 14:20] #5752 closed

[2016-10-18 14:25] miri64 commented on #5769
@kaspar030 ping?

[2016-10-18 14:25] biboc commented on #5790
I added the followings:

gnrc_pktbuf_stats() is called every received packet

[code]

[2016-10-18 14:27] kaspar030 commented on #5769
@melshuber Did you encounter this again?

[2016-10-18 14:29] miri64 commented on #5790
I'm a little bit confused if this is the sender or the receiver now? Also, come to think of it `received line: xxx` suggests to me that the lines don't get lost but that the message is just not printed...

[code]

Seems like none of my suspicions are true (if this is the sender)

[2016-10-18 14:31] miri64 commented on #5774
I don't understand... did #5742 introduce this error or did it fix it...

[2016-10-18 14:31] biboc commented on #5790
This is the receiver, I only gave receiver output.
Line are not received because you can see that lost lines var is incremented

[2016-10-18 14:36] miri64 commented on #5790
I have 2 questions:

* How do you no the line got lost?
* How is the loss of the global IPv6 address at the *receiver*'s neighbor cache related to packet loss?

I think I still don't understand your setup :(, but maybe the issue is a duplicate of #5122?

This only helps on the sender side.

[2016-10-18 14:41] miri64 commented on #5796
Maybe I miss something, but I don't get how this issue is distinct from #4490 accept the focus on native.

[2016-10-18 14:42] yschroeder commented on #5962
Well, if that functionality is removed, how could I solve my use case?

A bit more info on it:
I have a board that uses the native cpu but should provide real gpio functionality. The native cpu has a dummy implementation for gpio that does nothing. I now want my board's implementation to be used instead of the one in the native cpu. If this a bad idea altogether then please point me into a directi

[2016-10-18 14:43] miri64 commented on #5805
Why was it removed then?

[2016-10-18 14:44] miri64 commented on #5805
To be clear I would like to have this header be optional for applications or - alternatively - in a central spot like `sys/include/` on `core/include`

[2016-10-18 14:57] kYc0o commented on #5863
I experienced the same issue while testing `txtsnd` on a default RIOT example on OS X too. I-d say then that this is a OS X related problem. I don't have much time now so I don't promise to work on this soon.

For info my test was between a iotlab-m3 and a z1.

[2016-10-18 14:58] biboc commented on #5790
Ok I've got a BR + one node.
BR sends UDP packets (20/sec) with payload:"[n° packet]:hello world"
I showed here the output of the node

Because each sent line has a number in the payload :-)

Good question, only thing I see is that when ND runs (SL2A solicitation), the receiver misses some lines. And if the packets are sent to global IPV6 of the node, it stops receiving at some point as shown earl

[2016-10-18 15:01] miri64 commented on #5960
@kYc0o would it be possible to provide this patch for the release?

[2016-10-18 15:32] miri64 commented on #5896
Done

[2016-10-18 15:32] #5896 closed

[2016-10-18 15:34] miri64 commented on #5919
Maybe @kaspar030 can answer the question from the BLE perspective?

[2016-10-18 15:35] miri64 commented on #5932
@kaspar030 ping? **Now** is the is the time for easy changing ;-)

[2016-10-18 16:41] kaspar030 commented on #5774
#5742 allows selectively excluding files from being compiled with LTO, and does so with the cortexm context switching code.

[2016-10-18 17:22] miri64 commented on #5774
That did not answer my question, just described things I don't understand :)

[2016-10-18 17:50] kaspar030 commented on #5774
Well, see, the answer is not in the set you gave. The problem existed before and still does.

[2016-10-18 18:01] kaspar030 commented on #5805
I don't like it. If the constants are magic numbers belonging into one module, that's where they should be defined. If there's anything user configurable, it should still be there, just possibly enclosed by "#ifndef X, #define X <reasonable default>, #endif".

[2016-10-18 18:03] kaspar030 commented on #5774
Sorry, is that clear enough? Before #5742, LTO compiles were not possible at all for most platforms. That PR includes many fixes originally made by @gebart, plus a way to exclude files if they still pose problems when compiling with LTO, like the hand-written assembler code in cortexm's ctx switching code. I opened this issue so we don't forget about that.

[2016-10-18 18:04] kaspar030 commented on #5774
As LTO is quite effective without fixing this issue, and it's still optional and shouts "EXPERIMENTAL!" when enabled, this can be postponed...

[2016-10-18 22:26] miri64 commented on #5774
So, since this is optional it's not a known issue? (that's all I want to know ;-))

[2016-10-18 22:31] kaspar030 commented on #5774
I'd say, no. I mean, thanks to the workaround in #5742, LTO works fine on cortex-m, just the one file will not be link time optimized...

[2016-10-18 22:35] miri64 commented on #5774
"No, it's not a known issue" or "No, it is a known issue"? (Double negatives are always tricky in natural languages ;-))

[2016-10-18 22:56] kaspar030 commented on #5774
No need to mention this anywhere else but in this issue. ;)

[2016-10-19 01:37] Yonezawa-T2 commented on #5960
@sinkarharshad
What is displayed with the following commands?

[code]

[2016-10-19 02:12] Yonezawa-T2 commented on #5960
@miri64 @kYc0o I made a PR #5965.

[2016-10-19 03:41] sinkarharshad commented on #5960
@Yonezawa-T2 "make all" no error, for "make term" I am getting this following error.
![screen shot 2016-10-19 at 05 40 56](https://cloud.githubusercontent.com/assets/18270841/19504952/a73848f0-95be-11e6-8b5b-3c96e703f450.png)

[2016-10-19 03:56] Yonezawa-T2 commented on #5960
@sinkarharshad Install http://tuntaposx.sourceforge.net/.

[2016-10-19 04:01] sinkarharshad commented on #5960
After installing tunetap, and I tried again .. and got following error.
![screen shot 2016-10-19 at 06 00 18](https://cloud.githubusercontent.com/assets/18270841/19505270/75099b74-95c1-11e6-8ace-81cb23655d01.png)

[2016-10-19 05:33] yschroeder commented on #5896
I just learned that the native board's makefile covers this problem [here](https://github.com/RIOT-OS/RIOT/blob/master/boards/native/Makefile.include#L126).

The only thing is that this probably belongs not into the board but into the cpu. I think in my case it broke because I made a new cpu based on native with another name and that broke it because the Makefile explicitly checks if the cpu's nam

[2016-10-19 07:00] PeterKietzmann commented on #5407
@Nordzisko we are currently preparing for the next RIOT release and it would be great to clarify this issue. Does it still persist on your site? IIRC I tested interrupt functionality as well as communication with an openlabs transceiver connected to the stm32f3discovery, with success. Would be great if you could report the latest news

[2016-10-19 07:16] PeterKietzmann commented on #5581
This issue was "solved" and isn't directly RIOT related -> can be closed. The "6LoWPAN on RasPi" page needs some polishing, agreed.

[2016-10-19 07:16] #5581 closed

[2016-10-19 08:47] Nordzisko commented on #5407
@PeterKietzmann I do not have access to the devices, because my work was a part of school project, so I haven't had any progress since the last comment from me and I assume that I will not continue on this project, sorry.

[2016-10-19 10:02] Yonezawa-T2 commented on #5960
Try `sudo make term`.

Tips: if you get `resource busy` error on tap interface, find a process named *.elf, then kill it.

[2016-10-19 10:09] sinkarharshad commented on #5960
It worked, and finally got a message saying .. "Welcome to RIOT" .. thank you all for religiously putting your efforts helping me. Thank you one more time. Cheers! Also, As I am beginner to riot, can you please guide me? How should i start writing simple programs on RIOT? Thank you!

[2016-10-19 11:17] miri64 commented on #5790
Yes. Can you do the same debugging on the BR? Or isn't that a RIOT node? Another theory I have might be, that the missing MAC might let you loose packets (both UDP and NDP) and that the issue stems from that.

[2016-10-19 11:27] PeterKietzmann commented on #5407
@Nordzisko thanks for your feedback. It's quite hard to figure out what the bug is/was cause I can't reproduce. I will close this issue now because I’m not convinced this is an issue with RIOT or custom code. Please feel free to post back in here once you take on work again.

[2016-10-19 11:27] #5407 closed

[2016-10-19 11:37] dylad opened #5967 "saml21-xpro: i2c compilation error"
Hi,
I see that some code has been shared between saml21 & samd21 MCU.
I tried to build an application with I2C on saml21-xpro but I got several errors because CMSIS files of saml21 have not been added to RIOT yet.
I take a look to ASF and find the required files.
There are some difference between cmsis/samd21/include/component/sercom.h & cmsis/saml21/include/component/sercom.h so it seems to be no

[2016-10-19 13:57] kYc0o commented on #5863
@smlng Can you also check your python version? Since `make term` actually launches `pyterm` maybe this is more related to the Python version rather than Mac OS X.

[2016-10-19 14:33] cgundogan commented on #4518
postponing. see https://github.com/RIOT-OS/RIOT/pull/5158#issuecomment-254831032

[2016-10-19 16:28] miri64 commented on #5145
Any information on your setup? From which thread to which did you send? Did you initialize the message queue properly (if you used them)?

[2016-10-19 16:31] immesys commented on #5934
@thomaseichinger I know things are a little busy at the moment, but I don't want to forget about it. Does my example make sense?

[2016-10-19 16:50] miri64 commented on #5928
Why not use `periph/timer` for that?

[2016-10-19 17:31] smlng commented on #5863
@kYc0o, I have python 2.7.12 install via `brew`. Just tested again against current master, and the issue persist. However, its not about sending packets or any other networking stuff; its the shell command input and parsing. It somehow has a problem with lines longer than 64 chars - I'll adapt the issue title accordingly.

Btw. the issue is only with `BOARD=samr21-xpro` and OSX, another board such

[2016-10-19 20:00] PeterKietzmann commented on #5967
Just as a side note: As far as I know there never was an i2c driver for the saml21 and the effort to unify these drivers has just started. That's why I assume the current driver under sam21_common was never meantt to run for all sam21 variants.

[2016-10-20 06:37] Yonezawa-T2 commented on #5863
Maybe we should check returned value from `_native_write` in `uart_write`:
https://github.com/RIOT-OS/RIOT/blob/7020b7c09c3d511cb3470eae9d5aeecade8c0edf/cpu/native/periph/uart.c#L175

[Man write(2)](https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man2/write.2.html) says: “When using non-blocking I/O on objects, such as sockets, that are subject to flow control, w

[2016-10-20 07:53] dylad commented on #5967
What would be the best way to integrate i2c driver for saml21 ?
- Add and Modify CMSIS files for saml21 from Atmel ? (I've read this is not a wanted solution)
- Modify i2c.c under sam21_common/periph to integrate specific code for saml21 ?
- Find a way to ignore sam21_common/periph/i2c.c and write a new i2c.c under cpu/saml21/periph ?
Or maybe someone has a better idea ?

[2016-10-20 08:31] miri64 commented on #5863
I thought this issue was about

a) a limited *reading* of input chars
b) compiling am image for samr21 on OSX

How would checking the return value of `write()` on native help in that case? ;)

[2016-10-20 09:05] Yonezawa-T2 commented on #5863
I misunderstood that macOS native RIOT is communicating to a board via UART.

[2016-10-20 09:25] biboc commented on #5790
Ok I got debug for BR and node. BR tries to send 1000 lines (with payload= "[Num Line] hello". I kept only interesting part of debug.

node:
[code]

BR:
[code]

[2016-10-20 09:26] biboc commented on #5790
What do you mean? When does the node miss the MAC?

[2016-10-20 09:50] basilfx commented on #5928
I don't have timers available, because the only timer available is reserved for xtimer.

Furthermore, it would be a workaround. Take #4133 as an example: if it would depend on `periph/timer`, it would make the nvram driver not less portable.

[2016-10-20 09:59] kaspar030 commented on #5790
@biboc Do you have the same issue with debugging disabled?

On the samr21, output over serial is *very* expensive.

[2016-10-20 10:08] kaspar030 commented on #5928
xtimer as is expects threading to be initialized, and that can only be changed with unacceptable runtime overhead.

That's because with these short delays, xtimer spins instead of issuing a task switch.

Why not work around the issue?

At startup time, using a simple ```volatile unsigned N = <number of ticks>; while(N--)``` for 1ms is IMHO perfectly acceptable. Or, move the expander initalization

[2016-10-20 10:15] basilfx commented on #5928
I'll go with the while-loop, as auto_init() would add board-specifics to the RIOT-OS's system.

But then again, #4133 is wrong (cc @gebart). If one would change the timings in the nvram driver, the mulle board would also crash.

[2016-10-20 10:16] miri64 commented on #5967
@dylad I think its best to sync in #4926 with the unification effort.

[2016-10-20 10:22] miri64 commented on #5790
There is no MAC protocol implemented in RIOT yet. That's what I meant with missing MAC, but maybe the answer lies in @kaspar030's remark ;-).

[2016-10-20 10:43] biboc commented on #5790
Yes same problem if ND debug is disabled
I'll try to disable more debug like waiting for incoming packet

[2016-10-20 10:43] biboc commented on #5790
@miri64 Does anything seems weird on the debug log I gave?

[2016-10-20 10:53] biboc commented on #5790
@kaspar030, see, I removed most of the debug (I show only if line%100 == 0)

[code]

I don't receive anything afterwards

[2016-10-20 11:03] kaspar030 commented on #5790
@biboc hm, try Line%10, but disabling debug in ndp, and see if that works better. @miri64 That shouldn't happen anyways, right?

[2016-10-20 11:10] miri64 commented on #5790
@biboc the only thing suspicious that I see is that there are 3 NS, but no NA in reply seems to be received, though the node is sending it. So packet loss seems to be what is happening here. Now we only need to find out where in the line they get lost. So please first try completely without debug output.

@kaspar030 of course not!

[2016-10-20 11:24] biboc commented on #5790
@kaspar030: try Line%10, but disabling debug in ndp
Nothing changed if debug is removed partially or totally

[2016-10-20 11:28] biboc commented on #5790
Yes I see that, node NA packet gets lost because there are too many packet sent by the BR?

[2016-10-20 13:10] kYc0o commented on #5863
Ok let me make a test on those boards and I'll give feedback soon.

[2016-10-20 13:22] biboc commented on #5790
Just to be sure, in the [RFC 6775](https://tools.ietf.org/html/rfc6775) there are three types of node: Host, Router and Border Router.
In RIOT, I don't see Host node?
gnrc_networking makes every node as a router? `USEMODULE += gnrc_ipv6_router_default`
gnrc_border_router makes the BR as a BR : `USEMODULE += gnrc_sixlowpan_border_router_default`

What's a Host for RIOT ND?

[2016-10-20 13:48] miri64 commented on #5790
@biboc `gnrc_minimal` is a host, but very reduced. Other alternatives are to remove the `_router` from the `USEMODULE` include of `ipv6` and the RPL related modules or to use [the host application I provided in my application repository](https://github.com/miri64/RIOT_playground/tree/master/gnrc_host). But I did not test this in month.

[2016-10-20 13:48] miri64 commented on #5790
(the application in my repo is basically what I described for modifications of `gnrc_networking` ;-))

[2016-10-20 13:50] kYc0o commented on #4344
Nein, not yet, I'll try to test it soon.

[2016-10-20 14:14] miri64 commented on #5420
Fix provided in #5975.

[2016-10-20 14:15] biboc commented on #5790
If I start two nodes (gnrc_networking) and one BR, sometimes the second nodes does not have its global IPV6 in BR's cache and I have the feeling that first node act as a router and the second node global IPV6 is in first node cache
Is that possible?

[2016-10-20 14:48] miri64 commented on #5299
I tried to implement it, but it seems that either I'm failing to get a correct value for a long array at http://www.nitrxgen.net/hashgen/ or fletcher32 is broken :-/

[2016-10-20 20:53] malosek commented on #4136
Hello,

have it done for TI compiler, but had to make additional changes since TI msp430 compiler does not support "naked" functions which is quite important compiler feature for porting riot...
Seems working well, device is up and running since then.
Anyway if somebody is interested I can provide CCS workspace with working project.
Do not have plans/time to port it to free compiler.

wbr
malo

[2016-10-21 08:53] miri64 commented on #5299
Ah, should have read the comments for the `atof` test ^^ "`XXX: not verified with external implementation yet`" and putting in that data also yields a different hash than the one expected in the test.

[2016-10-21 11:56] miri64 commented on #3291
Fixed in #5977.

[2016-10-21 13:33] miri64 commented on #3075
Not *that* straight forward.

[2016-10-21 14:17] biboc commented on #5790
Considering that I don't need my nodes to be router but only host, I removed the `_router` part

Here is now what I get as output:

Node:
[code]

BR:
[code]

As you see BR sends  neighbor solicitation:
 `ndp internal: send neighbor solicitation (iface: 6, src: @!,  tgt: 2001:db8::fec2:3d00:4:7b6a, dst: 2001:db8::fec2:3d00:4:7b6a) `
and the host receives it (global address) and answers:
[code]

but

[2016-10-21 14:25] biboc commented on #5790
By the way, between each packet there is a sleep of 30ms (for above debug)

I tried with a sleep of 1s and all packets are received `neighbor solicitation` and `neighbor advertisement`

[2016-10-21 14:31] biboc commented on #5790
My conclusion is that when BR sends lot of packet quickly (30ms between each packet), advertisement answer from host get lost somewhere and BR and host consider themselves as not reachable so communication stops.

How can I stop NDP to run during the time my packets are sent? Or at least set the reachable time to high value so no neigbor solicitation/advertisement will be sent during the process?

[2016-10-21 15:54] thomaseichinger commented on #5934
@immesys I'm very sorry for the delay, I will look into it in the course of the day.

[2016-10-23 12:14] sinkarharshad opened #5986 "overflow in implicit constant conversion"
I am trying to run a program from RIOT examples "arduino_hello-world" on arduino-uno.

I am using "make BOARD=arduino-uno flash" command to run the code given in example.

and I am getting this following error.

![screen shot 2016-10-23 at 14 13 17](https://cloud.githubusercontent.com/assets/18270841/19626146/e4ea4634-992a-11e6-894c-50eeaec1b74c.png)

Kindly help me to resolve this issue. Thank yo

[2016-10-24 09:09] aabadie commented on #5986
@sinkarharshad, I issued this [PR](#5987) to fix your issue. Feel free to try it and give some feedback.

[2016-10-24 09:14] sinkarharshad commented on #5986
@aabadie Thank you for your efforts sir, saw the issue #5987 : To try this updated changes .. do I need to trash my old RIOT and clone updated RIOT again to my system using "git clone git://github.com/RIOT-OS/RIOT.git" ?

Thank you in advance.

[2016-10-24 09:18] aabadie commented on #5986
From your local RIOT repository, you can fetch my RIOT remote and checkout in the PR's branch:
[code]

[2016-10-24 09:22] sinkarharshad commented on #5986
I tried, and getting following error:
![screen shot 2016-10-24 at 11 22 13](https://cloud.githubusercontent.com/assets/18270841/19640264/2b43c180-99dc-11e6-99b6-ea6a606ab9ed.png)

[2016-10-24 09:25] miri64 commented on #5986
@sinkarharshad use `git://github.com/aabadie/RIOT.git` or `https://github.com/aabadie/RIOT.git` instead.

[code]

[2016-10-24 09:34] sinkarharshad commented on #5986
@aabadie  @miri64  Thank you.
I followed all the steps, and successfully run the code. But LED's did not flash on uno :!
What exactly I am missing ): .. Kindly help!! Thank you in advance.
![screen shot 2016-10-24 at 11 32 54](https://cloud.githubusercontent.com/assets/18270841/19640606/ca728e2a-99dd-11e6-9673-285292b7a403.png)

[2016-10-24 10:57] aabadie commented on #5986
Just checked that and in fact it does but too fast. This is because the sleep(500) has no effect. Looks like the xtimer doesn't work with this board.

[2016-10-24 15:41] kYc0o commented on #534
Great! Let's close it...

[2016-10-24 15:45] miri64 commented on #534
Is anyone rewriting the make target for that? ;-)

[2016-10-24 16:02] kYc0o commented on #534
maybe @Yonezawa-T2 can provide it? I don't have experience with LLDB.

[2016-10-24 20:39] sinkarharshad opened #5990 "error: no newline at end of file [-Werror,-Wnewline-eof]"
I am trying to run a program (attached below). I can run this program in my terminal without any error. But when I am trying to run this simple program in RIOT, getting this following error. Kindly help me to resolve this issue. Thank you in advance.
Figure 1 : Error, Figure 2 : My Code

![1](https://cloud.githubusercontent.com/assets/18270841/19663075/ace53e54-9a3a-11e6-8558-fead6f17f8e0.png)

![

[2016-10-24 20:43] Kijewski commented on #5990
Just add a blank line at the end of the file. The standard mandates that a C(++) file needs to have a trailing newline.

[2016-10-24 20:56] sinkarharshad commented on #5990
@Kijewski  Thank you sir. That solved my problem. But after executing my code.. I saw following  strange thing. (Also find the below attached image)
main(): This is RIOT! (Version: 2016.10-devel-449-g51a0-Harshads-MacBook-Air.local-arduino_sketch_on_arduino)

Why there is "arduino_sketch_on_arduino" this thing coming? :!
Kindly help and thank you in advance.
![screen shot 2016-10-24 at 22 55 45](h

[2016-10-24 21:54] sinkarharshad commented on #5986
@aabadie Hello Sir, I just observed that after running any program I am getting this
main(): This is RIOT! (Version: 2016.10-devel-449-g51a0-Harshads-MacBook-Air.local-**arduino_sketch_on_arduino)**

Why there is "arduino_sketch_on_arduino" this thing coming? :!
Kindly help and thank you in advance.

![screen shot 2016-10-24 at 22 55 45](https://cloud.githubusercontent.com/assets/18270841/19665407

[2016-10-25 08:09] Yonezawa-T2 commented on #534
Made PR #5991

[2016-10-25 09:22] #5990 closed

[2016-10-25 13:00] Kijewski commented on #5990
Actually I wasn't even aware that you can use standard iostreams and threads in RIOT now.

@josephnoir, @gebart, does this look right to you?

[2016-10-25 13:10] sinkarharshad commented on #5990
@Kijewski  :P okay .. anyway .. Thank you for your help.

[2016-10-25 13:30] Kijewski commented on #5990
@sinkarharshad, I didn't mean any disrespect. I only like to learn, too. :) Could be that you can use `<thread>` and `<iostream>` by now. I didn't follow the lastest improvements to RIOT too closely.

[2016-10-25 13:34] sinkarharshad commented on #5990
@Kijewski Hey, I did not feel it that way.. I was really thankful and you actually solved my problem. so I am really grateful :))

[2016-10-25 17:20] #5420 closed

[2016-10-25 17:33] josephnoir commented on #5990
It works for the native port, I guess. Trying to cross-compile it for a board should fail:

[code]

To allow using something very similar std::thread on RIOT, there is the [cpp11-compat](https://github.com/RIOT-OS/RIOT/tree/master/sys/cpp11-compat) module. Since there is no C++ clock on RIOT, functions that require a timer accept a custom struct, see the [riot/chrono.hpp](https://github.com/RIOT-O

[2016-10-26 14:39] #3291 closed

[2016-10-26 15:52] #5299 closed

[2016-10-27 19:47] jfbortolotti commented on #5954
Would it make sense to submit the workaround proposed below till there is a better understanding of the root cause ?
At least, this will avoid to get the system stuck forever.

[2016-10-28 08:41] haukepetersen commented on #5954
I am against the workaround, we should find the root cause and fix that. Looking at the error you see, it seems to me that something outside of the UART driver is causing the observed behavior, probably something related to STDIO trouble when 'spamming' it from multiple threads -> I bed we get the UART error when there is a context switch between lines 146 and 148. So the actual problem is rather

[2016-10-28 13:28] jfbortolotti commented on #5954
I'll give it a try. I had the same thinking but was not able to prove it.
Just to be sure I'm not missing something, your change above still have the issue, you are just changing the window of the problem, but the problem will still exist, correct ?
Shouldn't the right fix be to make the uart driver thread safe ?

[2016-10-28 23:22] sinkarharshad opened #6016 "How to exit from the code?"
Whenever I run any code, after execution I have to manually enter (control+c or cmd+z) to exit the current execution. I have attached the below snapshots for the better clarity.
My question is: Is there any way to come out from the program via code?
Thank you in advance.
![screen shot 2016-10-29 at 01 17 18](https://cloud.githubusercontent.com/assets/18270841/19825151/1731177c-9d76-11e6-9965-d9e39

[2016-10-29 00:27] sinkarharshad opened #6017 "Thread Synchronisation: Mutex"
I am trying to synchronise two threads (t1 and main) using mutex function (C++). There are no errors or any warnings (tried and tested in C++, Worked fine). But when I am trying to run the same code in RIOT I am getting following error as attached below. (Figure1: Error, Figure2: My code).
Kindly help me to resolve this issue. Thank you in advance!!

![screen shot 2016-10-29 at 02 26 39](https://c

[2016-10-29 04:07] miri64 commented on #5960
https://github.com/RIOT-OS/RIOT/pull/5965 is not merged yet

[2016-10-29 10:51] josephnoir commented on #6017
I tried to reproduce this and it works as intended for me using the native port:

[code]

Here is my code:

[code]

Note that compiling C++ code for a board won't work with the STL thread and mutex headers. You can use the [c++ 11 compat](https://github.com/RIOT-OS/RIOT/tree/master/sys/cpp11-compat) module which offers thread, mutex and condition variable headers C++11 (excluding timer dependent f

[2016-10-29 11:09] sinkarharshad commented on #6017
@josephnoir Thank you for your feedback.
1: I tried to run your program - Worked fine in C++  - Got same error in RIOT :!
2: I am using a macos-terminal to compile my programs.

Where m I going wrong?
Kindly help!!

Thank you in advance.

[2016-10-29 11:40] haukepetersen commented on #5954
I am not 100% sure, but I think the fix should close the window completely.

In general yes, but this is not really possible, as long as the UART is used from interrupt context as it is done currently.

[2016-10-29 11:50] x3ro commented on #6016
As far as I know, you can achieve this by including `#include "lpm.h"` and changing the MCU's power mode to powerdown/off using either `lpm_set(LPM_POWERDOWN);` or `lpm_set(LPM_OFF);`. To be honest, I don't know the difference.

In any case, a better place to ask development questions regarding RIOT is on the mailing lists (see the [README](https://github.com/RIOT-OS/RIOT/blob/master/README.md)).

[2016-10-29 11:50] #6016 closed

[2016-10-29 11:54] x3ro commented on #5825
This may be a stupid question, but if we're already using Docker for the CI, couldn't we use that image as an official way for building stuff for RIOT on non-supported systems?

[2016-10-29 12:40] sinkarharshad commented on #6017
I did it. Thank you for your help :))

[2016-10-29 13:01] jfbortolotti opened #6018 "nRF52: gnrc_6lowpan_ble: memory leak with nordic_softdevice_ble"
In case of Tx conflict on the ble interface, the _send function of gnrc_nordic_ble_6lowpan.c will return an -EBUSY error but no one handling the GNRC_NETAPI_MSG_TYPE_SND will take care of the error and what needs to be done for the packet(free or requeue).
This packet will stay in the alloc buffer.
After some time, if such conflicts happened, the memory allocated will continue to grow till the gnr

[2016-10-29 18:14] #6017 closed

[2016-10-29 19:56] PeterKietzmann commented on #2528
@miri64 as far as I'm currently involved I think yes. However, unfortunately both PRs were postponed for next release. @haukepetersen can you give a comment here and move the Milestone label then?

[2016-10-29 20:04] miri64 commented on #2528
Please don't move the milestone but move the issue to the appropriate  "known issues" column then.

[2016-10-30 05:15] kaspar030 opened #6022 "pkg: build order issue"
I've hit an issue building the nanocoap pkg for nrf52dk:
1. when using the softdevice, nrf52dk's cpu_conf.h includes files from a package
2. debug.h includes thread.h which includes cpu_conf.h
3. nanocoap uses debug.h
4. nanocoap comes before nordic_softdevice_ble lexicographically
5. our dependency system doesn't honor the dependencies in the build order

[2016-10-30 11:47] jfbortolotti commented on #5954
Here are the results of my weekend testing: the proposed fix from @haukepetersen avoid the stuck condition. This is a cleaner solution than my proposal (counter based).
The reason is that even if a thread is interrupted by another thread between the write of the data and the test of the TXRDY flag, the bit will not be cleared and the interrupted thread will be able to exit its infinite loop.
The l

[2016-10-30 20:01] OlegHahm commented on #5934
Any news?

[2016-10-30 21:38] OlegHahm commented on #5795
So, this issue can be closed?

[2016-10-30 22:01] OlegHahm commented on #5748
Just tested on master with same settings and 220 nodes on Lille site: nodes are still crashing.

[2016-10-31 01:34] sinkarharshad opened #6027 "How to get process ID in RIOT?"
I am trying to get the process ID in RIOT. But not able to do it and getting the following attached error :! . Same program is working fine in C++.
![screen shot 2016-10-31 at 02 28 28](https://cloud.githubusercontent.com/assets/18270841/19841872/5e00c7c2-9f12-11e6-9eeb-552ff7e686da.png)

My code is as follows:

[code]

[2016-10-31 05:31] miri64 commented on #5795
Guess so

[2016-10-31 05:31] #5795 closed

[2016-10-31 07:47] miri64 commented on #6027
(I allowed myself to edit your post to make the code more readable)

`fork()` is not implemented in RIOT yet and it is highly unlikely that it ever will be (every new process would need a memory stack which costs memory of which we only have little ;-)). Also consider to post your questions to the [devel@riot-os.org](https://lists.riot-os.org/mailman/listinfo/devel) or the [users@riot-os.org](http

[2016-10-31 07:47] #6027 closed

[2016-10-31 07:49] miri64 commented on #6027
(if you want to get the process ID of your `native` instance: it is accessable through the [CPUID driver](http://doc.riot-os.org/group__drivers__periph__cpuid.html))

[2016-10-31 08:54] miri64 commented on #1040
Sadly, we have to postpone again.

[2016-10-31 09:00] miri64 commented on #2530
Making a longterm test to see if it is fixed now that #2071 is merged.

[2016-10-31 09:02] miri64 commented on #5089
Needs to be postponed again :(

[2016-10-31 09:09] miri64 commented on #3075
Needs to be postponed again.

[2016-10-31 09:12] miri64 commented on #3086
Again postponed.

[2016-10-31 09:14] miri64 commented on #3638
Mh somehow it seems that I missread the comments. The rename to gnrc_networking already happened so let's close it :-).

[2016-10-31 09:14] #3638 closed

[2016-10-31 09:22] miri64 commented on #4558
Updated porting guide

[2016-10-31 09:22] #4558 closed

[2016-10-31 09:32] miri64 commented on #2137
Hope we can fix this for next release! :-)

[2016-10-31 09:51] miri64 commented on #5263
If this issue is addressed this might fix #5486 too ;)

[2016-10-31 12:29] haukepetersen commented on #2116
IMHO partly resolved in #4780 (at least the allowance of hw-cs), but not reached an end of discussion...

[2016-10-31 12:33] miri64 commented on #1131
To be honest, reevaluating this issue I would say it is fixed. Except `bloom_bytes` and `posix_semaphore` they are all ported to unittests, but the two tests use threads and timers respectively, so they are less suitable for unittests anyway.

[2016-10-31 12:33] #1131 closed

[2016-10-31 12:35] miri64 commented on #1231
@kYc0o build an application that uses a package for that there isn't any application at the moment.

[2016-10-31 13:48] miri64 commented on #2530
I had an instance idling for about 5h now and non of the described bugs occured, so I deam this issue fixed via #2071.

[2016-10-31 13:48] #2530 closed

[2016-10-31 14:44] miri64 commented on #534
Fixed via #5991

[2016-10-31 14:44] #534 closed

[2016-10-31 19:16] miri64 commented on #4958
#5881 got merged

[2016-10-31 19:16] #4958 closed

[2016-10-31 21:28] #5960 closed

[2016-11-01 10:29] miri64 commented on #5265
I just closed #5979 since this functions are still very entangled on the boards that implement them, so I postpone.

[2016-11-01 14:02] taher143 opened #6035 "How to program Standalone ATmega328P"
How can I port a code into stand alone ATmega328P board instead of Arduino? I do need to change avrdude command to program my ATmega328P. From where can I change this command?

[2016-11-01 15:11] miri64 opened #6036 "tinydtls: DTLS randomly missing functions"
Murdock builds are randomly failing because sometimes (but not always) there seem to be a linking problem with DTLS. An example for this can be seen in [the build for #6009](https://ci.riot-labs.de/RIOT-OS/RIOT/6009/0dfcefc003171dcded7833f9d9ebe0cd1a3f20f1/output.html#arm7):

[code]

Could not assign @rfuentess so I assigned @OlegHahm.

[2016-11-01 15:27] OlegHahm commented on #6036
Hm, I seem to remember to have seen this problem before - but don't remember if I've ever understood the reason for that.

[2016-11-01 15:29] rfuentess commented on #6036
yes, I had watched this issue when tested the dtls-echo with `make buildtests` but frankly I though was something more related to RIOT than my code.

[2016-11-01 15:32] kYc0o commented on #6036
As I commented on that PR, this error appears systematically on OS X, and as far as I can remember, it changes randomly.

[2016-11-01 19:33] smlng opened #6037 "pkg/nanocoap: native build fails on macOS"
Building `examples/nanocoap_server` or the (new) `examples/gcoap` fails on macOS with:

[code]

Further, there is an error when the user has no `~/.gitcache` directory.

[EDIT]: though it has something to do with the new sock API, `tests/gnrc_sock_udp/` builds on macOS for native.

[2016-11-01 22:38] kYc0o commented on #5519
We still have this bug?

[2016-11-01 22:38] miri64 commented on #6037
Because I used field-initializers there ;-). But darn, I wanted to use the `{ 0 }` notation inmy current ZEP port.

Can you try if

[code]

does the trick?

[2016-11-01 22:41] miri64 commented on #5519
Seems like it... I'm not sure what you meant by "new compiler version". The one on Ubuntu is currently

[code]

[2016-11-01 22:43] kYc0o commented on #5519
According to @gebart comment this is solved in gcc 6.2.0, but It don't know if it was already released and included to any LTS distribution.

[2016-11-01 22:44] miri64 commented on #5519
(mine is Ubuntu 16.04 LTS ;-))

[2016-11-01 22:45] miri64 commented on #5519
Wait... what am I talking about... this issue only effects GCC 6... so sorry about the noise... Don't know about other toolchains of other distributions either :-/

[2016-11-01 22:48] kYc0o commented on #5519
Yes it's OK, and the news say that GCC 6.2 was released, maybe we can wait for an input from @gebart if he has a way to test it in such GCC version.

[2016-11-01 23:28] miri64 commented on #5114
Related to #5497?

[2016-11-02 07:26] smlng commented on #6037
@miri64: works! I'll open issue in @kaspar030 sock/nanocoap reop.

[2016-11-02 08:37] cgundogan opened #6038 "Too many coap examples?"
Hey,

I noticed that we feature **3** different coap implementations in our `examples` folder. My understanding was that `examples` exist to showcase `RIOT`'s functionality. Wouldn't one coap example completely suffice to show `RIOT`'s ability to speak coap?

[2016-11-02 08:56] smlng commented on #6038
@cgundogan I agree, and with gcoap (#5598) merged, I would see that as RIOTs recommended CoAP implementation to be show cased. Nevertheless, _microcoap_ and others will still be supported, but we should move those examples into the `RIOT/applications` repo?

[2016-11-02 09:35] #5943 closed

[2016-11-02 09:47] miri64 commented on #6038
I disagree.

So why not show-case that we have 3 (counting libcoap even 4!) working CoAP implementations.

Side-note: Remember that the examples also always should be as minimal as possible to show-case the pure functionality (see #6007 on that note).

In a free operating system alternatives are always good and "natural selection" might show what implementation will be the most dominant.

For the

[2016-11-02 09:57] cgundogan commented on #6038
From the point of view of newcomers, I can imagine that choosing between 3 different coap implementations, showcased in the `examples` folder, is a much harder task. All those examples do not show their full functionality, so it is not even possible to see which of them suits best for a newcomer's task. IMO `examples` should not exist for the sole purpose of showing how a module is used, but rathe

[2016-11-02 09:57] OlegHahm commented on #6038
Same old discussion... I tend to agree with @cgundogan and keep the number of examples small. We might consider to provide one CoAP example where the implementation dependent part is factored out into several source files, e.g. a `main.c` plus a `microcoap.c`, a `nanocoap.c`, a `gcoap.c`, and a `libcoap.c`. This might even help to come up with a cleaner interface to all the CoAP implementations.

[2016-11-02 10:01] miri64 commented on #6038
:+1: Though this might also make the example more complicated than needed.

[2016-11-02 10:02] miri64 commented on #6038
:grin: I was thinking the same

[2016-11-02 10:10] miri64 commented on #4371
This somehow flew under my radar. Postponed.

[2016-11-02 10:11] miri64 commented on #4689
I overlooked this on Monday => Postponed.

[2016-11-02 10:12] miri64 commented on #4344
@kYc0o well can you do this? I'll postpone this one and set a memo label for you to remember ;-)

[2016-11-02 10:13] miri64 commented on #4260
Fixed ;-)

[2016-11-02 10:13] #4260 closed

[2016-11-02 10:13] miri64 commented on #4260
(see #6020)

[2016-11-02 10:14] miri64 commented on #4243
Postponed.

[2016-11-02 10:38] kYc0o commented on #4344
Sorry I have it in my TODO list but didn't reach it... I have spotted it while doing the tests so I think I'll spot it again ;)

[2016-11-02 11:57] OlegHahm commented on #4344
I took a look and I think it would really require some more work to fix this. Hence, I would advice to temporarily drop support for OpenWSN in RIOT. :cry:

[2016-11-02 14:36] daniel-k commented on #3125
My according PR #3729 has already been merged a while ago, so I think we can close this issue. As far as I can tell, this is unrelated to #5486.

[2016-11-02 14:55] PeterKietzmann commented on #3125
Thanks for the update @daniel-k!

[2016-11-02 14:55] #3125 closed

[2016-11-02 16:02] miri64 commented on #6038
@haukepetersen didn't you mention something similar you discussed with @cabo at the t2trg meetup?

[2016-11-02 17:06] kb2ma commented on #6038
Just updated the examples page. Didn't reference/copy my wiki status page since the link to the directory/README accomplishes that purpose.

[2016-11-02 18:04] kYc0o opened #6043 "iotlab-m3 nodes always fail on flashing"
While testing the release specs I found that the iotlab-m3 is flashed correctly, but I always have an error.

Can anyone else confirm this behaviour on ` 2016.10-RC1`?

My config is:

[code]

And

[code]

I'm in a Debian jessie machine this time ;-)

[2016-11-02 18:42] thomaseichinger commented on #6043
@kYc0o What is the actual error (message)?

[2016-11-02 19:05] kYc0o commented on #6043
Sorry I forgot to put it in the description:

[code]

[2016-11-03 12:02] miri64 commented on #6043
Tat was one of my main issues, when trying to implement a working test framework ;-)

[2016-11-03 14:51] OlegHahm commented on #6038
Nice! :+1:

[2016-11-03 15:49] miri64 opened #6052 "tests: xtimer_drift gets stuck on native"
It was shown in https://github.com/RIOT-OS/Release-Specs/issues/27 that the xtimer_drift currently stops at about ~30-90 seconds on native. I'm not sure if this is related to #5103. In trying to bisect this I reallized that the same thing might also happen in earlier versions but way later (up to 590 seconds I saw).

[2016-11-03 20:47] sinkarharshad opened #6056 "Compiler msp430-gcc is required but not found in PATH. Aborting."
I am trying port RIOT on Texas Instruments EZ430-Chronos. and getting this error while running the program hello world from riot examples.
Kindly help me to resolve this issue.
Thank you in advance.
(I am using mac :!)

[2016-11-04 00:31] miri64 commented on #6056
You don't have to port the `chronos`, there is [already a port for that](https://github.com/RIOT-OS/RIOT/tree/master/boards/chronos). You have to install the compiler for MSP430 (the architecture the `chronos` is based on). @emmanuelsearch @kYc0o @Lotterleben @smlng @thomaseichinger @Yonezawa-T2 maybe you can help how to do that?

Also I again urge you to ask this kind of questions to the [devel](

[2016-11-04 01:07] sinkarharshad commented on #6056
@miri64 I solved it in linux .. but thank you :)

[2016-11-04 07:23] taher143 commented on #5986
how can we use delay for arduino code? timer? what is Xtimer? is it same as Timer0/1/2 in AVR ATmega328P?

[2016-11-04 15:32] #4387 closed

[2016-11-04 16:15] miri64 commented on #3169
This is not a bug, so I'm postponing it.

[2016-11-04 16:19] miri64 commented on #4612
I say the same, since it is an inherent problem I don't see it necessary to mark it as a "known issue"

[2016-11-04 16:30] miri64 commented on #5519
There might be a new issue with GCC 6 (https://github.com/RIOT-OS/Release-Specs/issues/28) so I'm leaving this open.

[2016-11-04 17:33] miri64 commented on #6036
Fixed in #6053.

[2016-11-04 17:33] #6036 closed

[2016-11-04 19:30] miri64 commented on #5486
Maybe, just maybe this was fixed by https://github.com/RIOT-OS/RIOT/pull/5244?

[2016-11-07 15:31] kYc0o commented on #6043
Just tested on OS X with `Open On-Chip Debugger 0.10.0-dev-gdfc6658 (2016-02-18-22:16)` and it works as expected.

[2016-11-07 16:13] kYc0o commented on #5083
This test has changed by `xtimer_periodic_wakeup` and now it succeeds. I think it was solved by #5763 .

[2016-11-07 16:13] #5083 closed

[2016-11-07 16:17] kYc0o commented on #3186
Just tested again all xtimer* on arduino-mega2560 with success. Perhaps #5763 fixed it.

[2016-11-07 16:17] #3186 closed

[2016-11-07 16:42] kYc0o commented on #6056
It's solved so I'll close it.

[2016-11-07 16:42] #6056 closed

[2016-11-07 16:48] kYc0o opened #6068 "Failed assertion on z1 while receiving a packet"
While testing the default example in current master I noticed a failed assertion on z1 hardware when a packet is received:

[code]

The packet comes from a samr21-xpro, also using the default example.

[2016-11-07 17:27] kYc0o commented on #6068
Just found that the failing assertion is [here](https://github.com/RIOT-OS/RIOT/blob/6cd8d98f1d9638f697ce9eadc1a3420bc21cebb4/cpu/msp430fxyz/periph/spi.c#L221) but only when receiving packets. If I comment out this line everything works as expected.

Any ideas @haukepetersen ?

[2016-11-07 17:50] kYc0o commented on #6068
Another strange thing: Nothing fails on gnrc_minimal on z1 side, pings are answered correctly from a samr21-xpro running gnrc_networking. Until now it only fails when testing the default application on the z1.

[2016-11-07 18:17] thomaseichinger commented on #6068
@kYc0o Could you please test if #6070 fixes this issue?

[2016-11-08 07:33] roberthartung commented on #5745
For me this breaks the default example I  get a kernel panic because the msg_queue is not initialized

[2016-11-08 07:39] roberthartung opened #6073 "#5745 breaks my board"
Hey everyone,

I just pulled the current master into my fork and it turns out that I am not able to run the default example anymore. If I revert anything related to #5745 it works again.

It looks like the pktdump msg_queue is not initialized for some reason. The gnrc_netreg_register() function is called for the pktdump thread without it being initialized!

[code]

If anyone could look into this i

[2016-11-08 10:02] miri64 commented on #5083
At this stage of the release cycle: Please, please, please remove the issue from the "Release 2016.10" project and the release note drafts!

[2016-11-08 10:25] miri64 commented on #6073
That is not a bug, it's a failed assertion. The message queue of a registering thread needs to be initialized when running GNRC. I don't see how this is related to #5745.

[2016-11-08 10:28] OlegHahm commented on #6073
If the default example fails with an assertion, I would call it a bug.

[2016-11-08 10:37] roberthartung commented on #6073
It is clearly a bug. ... or at least the changes from #5745 make the assertion appear! If I simply comment the changes from that issue the both my program and the default example are working again!

I assume that scheduling happens too early or something else.

I added a printf to `sys/net/gnrc/pktdump/gnrc_pktdump.c:168` (just inside the `_eventloop` function). And if I don't use the changes from

[2016-11-08 10:46] miri64 commented on #6073
It's a bug in the application, yes. But not an AVR specific bug and not a bug in the system. Just one look into the default example would show you that the message queue isn't even initialized ;-). The assert @roberthartung hits was introduced in https://github.com/RIOT-OS/RIOT/commit/2e342c7e

[2016-11-08 10:47] miri64 commented on #6073
@roberthartung it might be that fixing the threading behavior revealed this shortcomming of the default app on AVR boards.

[2016-11-08 10:48] miri64 commented on #6073
Also what changes from #5745 do you mean? It is an issue not a PR, so no changes were made there.

[2016-11-08 11:02] OlegHahm commented on #6073
If you were right the example would fail for every platform. But fortunately this isn't the case, because the the message queue is initialized in `sys/net/gnrc/pktdump/gnrc_pktdump.c`.

[2016-11-08 11:04] OlegHahm commented on #6073
@miri64 wrote:

@roberthartung wrote:

The only PR linked in #5745 is #5763.

[2016-11-08 11:19] OlegHahm commented on #6043
The reason is probably the old OpenOCD version. See discussion in https://github.com/RIOT-OS/RIOT/pull/2472.

[2016-11-08 11:21] roberthartung commented on #6073
@OlegHahm You're totally right here. It is NOT a bug in the application! It is a bug of the "fixed" threading for ATmega CPUs / AVR boards.

@miri64 Sorry, but you're wrong. It's a specific problem of avr boards with the changes within that issue / the references pull request.

I am indeed talking about commit https://github.com/RIOT-OS/RIOT/pull/5763/commits/e0365e0bf95b18eec57c8b0808e9984133bd2b

[2016-11-08 11:26] miri64 commented on #6073
Ah okay, sorry I was a little bit misled by the failed assertion >.<.

[2016-11-08 11:37] kYc0o commented on #6073
Can you describe your setup? It seems to me that something is strange, since in our tests we never put an at86rf2xx transceiver together with any AVR cpu while merging such PR, so that's maybe why this specific commit is triggering the failing assert.

[2016-11-08 11:45] kYc0o commented on #5122
I suppose we could move this one again?

[2016-11-08 11:48] kYc0o commented on #5083
Ok ok ok... Sorry, will do it asap.

[2016-11-08 11:50] kYc0o commented on #6068
Fixed by #6070 .

[2016-11-08 11:50] #6068 closed

[2016-11-08 12:02] miri64 commented on #5122
Move to where? It's a known issue. Please don't move milestones for bugs as long the release notes are not in ;-).

[2016-11-08 12:02] miri64 commented on #5083
Already done. ;-) Just a reminder for next time

[2016-11-08 12:03] roberthartung commented on #6073
@kYc0o I am using one of our INGA sensor nodes ( https://www.ibr.cs.tu-bs.de/projects/inga/index.html?lang=en ).

[2016-11-08 12:06] miri64 commented on #3186
@kYc0o "Fixed issue from last release" is for issues mentioned in 2016.07 release notes only ;-)

[2016-11-08 13:34] kYc0o commented on #5122
Ok I was just asking ;-)

[2016-11-08 13:37] kYc0o commented on #3186
Oh, I thought I had put this on the known issues.

[2016-11-08 13:49] kYc0o commented on #6043
Yes, that's the problem. We can then say somewhere (wiki?) that we recommend OpenOCD 0.10 or higher?

[2016-11-08 14:03] kYc0o commented on #6073
Just tested on arduino-mega2560 and everything works. Can you provide a link to your fork which is failing? I assume you provided these needed defines:

[code]

of course by choosing an unused interrupt pin on your custom board.

[2016-11-08 14:03] melshuber opened #6076 "Behaviour of gnrc_sixlowpan_ctx_lookup_addr and IPHC"
assume a 6ctx table

[code]

1) Suppose a packet from/to `fd2a:0:0:9a7e::1`: (match = 64)
To my knowledge 6CTX #0 could be used as long as the IID is carried inline

2) Suppose a packet to `fd2a::21f:ff:fe00:758b` (match = 112)
To my knowledge 6CTX #1 could be used:
* 64 must be carried inline if the PANID (in this case 0x1f) of the L2 destination do not match or the 16Bit bit short address do not

[2016-11-08 14:10] roberthartung commented on #6073
@kYc0o See https://github.com/roberthartung/RIOT/tree/hartung/boards/inga for the fork. I used the defines from another atmega board, but I've just seen, that they might be just wrong ...Let me check them and I'll come back to you

[2016-11-08 14:27] melshuber commented on #5769
@kaspar030: not yet, but we are currently running on a patch which replaces bit operations on runqueue_bitcache by atomic_[set|clr]_bit.

I know thats not the correct solution, but I have not yet not found the time to dig into this.

[2016-11-08 14:40] miri64 commented on #6076
@melshuber all of the prefixes you configured have bit-length 128. So for the algorithm they are basically all full addresses, so none of the addresses you exemplified match. For your assumptions to be correct you need to setup the following contexts (minimum requirements):

[code]

See https://tools.ietf.org/html/rfc6775#section-5.4.2 for further details on the data structure.

[2016-11-08 14:45] miri64 commented on #6076
Note also, that the PANID has no mentioning in https://tools.ietf.org/html/rfc6282. So only IID `00:00:00:ff:fe:00:xx:xx` falls under the rules of compression described there (as is stated there pretty clearly IMHO).

[2016-11-08 15:59] OlegHahm commented on #6043
Actually, I thought we already did this, but I cannot find it. So, :+1: for recommending OpenOCD > 0.9 somewhere.

[2016-11-08 16:45] roberthartung commented on #6073
@kYc0o Ok .. it looks like this was just a misconfiguration on my side ... I will investigate further tomorrow.

[2016-11-08 18:54] miri64 commented on #5539
This sounds a little like the analysis given by @Yonezawa-T2 in #5926. @biboc can you check if #6064 fixes this issue for you?

[2016-11-08 19:01] miri64 commented on #5007
Is this still an issue? I did not see that in a while.

[2016-11-08 19:34] miri64 commented on #5007
Regardless, I just tested the setup (pinging the border router's WPAN interface address from the Linux side) and it did not seem to be an issue anymore. That is why I would deem this issue as resolved.

[2016-11-08 19:34] #5007 closed

[2016-11-09 00:11] kYc0o commented on #1891
It wasn't solved by the use of `fmt`? I think this was the issue with `posix_semaphore` #6079 ?

[2016-11-09 00:18] kYc0o commented on #5748
Maybe this would be solved by #6083 ?

[2016-11-09 00:19] kYc0o commented on #5748
Ups sorry, didn't refresh the page and this was already referenced.

[2016-11-09 00:58] miri64 commented on #1891
Yes it was, but fmt does not fix all cases (leading or training spaces or zeroes e. g.), which is why I couldn't use it in #6080.

[2016-11-09 11:21] melshuber commented on #6076
@miri64 You have convinced me.
I think the important sentence in the RFC is "**Bits covered by context information are always used.**" (see below). This forces that the complete prefix of the context have to match on order to be to be used

Thanks

https://tools.ietf.org/html/rfc6282#section-3.1.1 :

[2016-11-09 11:22] #6076 closed

[2016-11-09 17:22] vincent-d opened #6097 "Question: memory allocator ?"
Hi,

As I am currently working on the CAN stack, I need some mechanisms to allocate memory dynamically.

I used the gnrc_pktbuf_static code, but I had to copy/paste it, as using it as a module would be to intrusive.

I was thinking that maybe such an allocator could be in a separate standalone module. It could also become handy to plug it to the newlib syscalls.

I would like to have a feedback on

[2016-11-09 17:24] biboc commented on #5539
I don't think this issue is related because this is more about ethos communication over serial.

[2016-11-09 17:46] biboc commented on #5539
Did you try to send many packets in a row to see if the communication is still on?

[2016-11-09 18:10] miri64 commented on #6097
The first question I would ask is: do you really need it ([money quote](https://twitter.com/Lotterleben/status/754294302503800832) ;-)) or might that be solvable with a static array? The current packet buffer is very constraint to the use case of roughly equal sized datagram traffic.

[2016-11-09 18:42] OlegHahm commented on #6097
First answer: Don't use dynamic memory on embedded devices.
Second answer: Don't misuse packetbuf for that.
Third answer: Don't use dynamic memory. ;-)

If you still want to do it, have you tried using `malloc()`? If `sbrk()` is not correctly implemented, you could use the [TLSF](https://github.com/RIOT-OS/RIOT/tree/master/pkg/tlsf) package (if you're using a 32 bit platform). If you're using a 8

[2016-11-10 08:43] vincent-d commented on #6097
My use case is pretty similar to the gnrc one. I need to allocate buffer for incoming or outcoming packets.

When we stick to raw CAN, the data packets always have the same size, so my first implementation used a  static array which is simpler and probably safer. But when we come to isotp implementation, I need to allocate bigger data packet as an udp implementation could do.

I have three differe

[2016-11-10 11:25] kaspar030 commented on #6038
How about we remove microcoap? I don't think it'll get much maintanance in the future. yacoap basically took over microcoap's heritage, and nanocoap tries to replace it by just being better.

[2016-11-10 11:29] cabo commented on #6038
At some point RIOT should become “opinionated” and offer a default, out-of-the-box implementation of CoAP (of course, people will always be free to implement their own).  Removing older, non-maintained (and, frankly, not so good) alternatives might be one step into that direction.

Grüße, Carsten

[2016-11-10 15:56] miri64 commented on #3086
Mhhh… this is more of an enhancement by now, not an issue => postponed.

[2016-11-10 16:40] kYc0o commented on #6073
@roberthartung Can we close this issue?

[2016-11-10 16:54] kYc0o commented on #6043
Done in the [wiki](https://github.com/RIOT-OS/RIOT/wiki/OpenOCD).

[2016-11-10 16:54] #6043 closed

[2016-11-10 17:38] OlegHahm commented on #3341
The last time I tested after #2071 being merged, I was not able to reproduce. Can anyone verify?

[2016-11-10 17:51] OlegHahm commented on #5432
#2071 has been merged.

[2016-11-10 17:51] #5432 closed

[2016-11-10 17:53] kYc0o commented on #5863
Strange... but I can confirm that samr21-xpro shell (default example) only allows 64 bytes, while pba-d-01-kw2x allows 128 and when exceeded sends an error (shell: command not found).

[2016-11-10 18:06] miri64 commented on #3341
I ran this on both a bridge and a vanilla tap for about 2 min and wasn't able to reproduce.

[2016-11-10 18:53] smlng commented on #5863
The 128 bytes is expected as this is the shell buffer size, see [1]. The 64 bytes/chars on the samr21-xpro is strange, because it only persists on macOS/OSX with any gcc version I checked (4.9, 5.2, and 5.4). Using the same gcc version on a Linux machine with samr21-xpro does not show this behavior.

[1]: https://github.com/RIOT-OS/RIOT/blob/master/sys/include/shell.h#L34

[2016-11-10 19:00] kaspar030 commented on #3341
Me neither. Awesome! Closing...

[2016-11-10 19:00] #3341 closed

[2016-11-10 19:03] A-Paul commented on #6052
Just for the record. While testing for 2016.10 RC4 the test has stopped after ~7min, ~3min and ~20min.

[2016-11-11 00:47] miri64 commented on #6052
Out of interest I tried this on 2016.10-devel, too: it's also freezing after ~3 min.

[2016-11-11 09:50] roberthartung commented on #6073
@kYc0o it looks like it's working for now! Thanks for the support!

[2016-11-11 09:50] #6073 closed

[2016-11-11 11:44] miri64 commented on #6052
On its introduction the application worked. I leave a longterm bisect run over the weekend ;-)

[2016-11-15 13:13] Josar opened #6120 "Windows AVR Mega development makefile Error"
The RIOT/makefile.include at line 270 inlcudes this
`$(AD)$(OBJCOPY) $(OFLAGS) "$(ELFFILE)" "$(HEXFILE)"`

in for avr-gcc or avr-size the call just prompts the command, for avr-objcopy it inluces the whole path.

This resulte in somthing like that
`/c/Program Files (x86)/Atmel/Studio/7.0/toolchain/avr8/avr8-gnu-toolchain/bin/avr-objcopy -O ...`

Which does not work and throws an error like this, w

[2016-11-15 13:44] Kijewski commented on #6120
Please reinstall the toolchain in a path without any spaces. Fixing all problem that spaces introduce is not worth the hassle IMO.

[2016-11-15 16:55] kaspar030 opened #6123 "gnrc: crash with (excessive) traffic in native"
#2071 seems to have fixed native interrupt handling. But I can still crash a riot native instance by flood pinging.

Steps to reproduce:

1. run gnrc_networking
2. start a couple (5-10) ```ping -f <riot-ip>%tap0```
3. wait some minutes

Sometimes it takes 30sec, sometimes 5min, but riot reliably crashes.

The problem seems somewhere in gnrc, as my other stack runs fine since #2071 is merged.
Here'

[2016-11-15 17:25] miri64 commented on #6123
I have a hunch that this *might* be related to #5748 (or at least fixable with #6086). Can you try with #6086?

[2016-11-15 17:26] miri64 commented on #6123
(it might be, that `gnrc_pktbuf_start_write()` needs fixing in #6086 too)

[2016-11-15 17:31] PeterKietzmann commented on #5719
@LucaZulberti, @alignan within the scope of [release testings](https://github.com/RIOT-OS/Release-Specs/issues/33) I pinged with **large** packets between remote-revb and phytec boards as well as remote-reva and samr21-xpro boards and had great success regarding error rates. Could you check if this issue still persists please?

[2016-11-15 18:14] LudwigKnuepfer commented on #6120
I would be interested in whether you have `/c/Program Files (x86)/Atmel/Studio/7.0/toolchain/avr8/avr8-gnu-toolchain/bin/` in your `PATH` or whether you exported `OBJCOPY=/c/Program Files (x86)/Atmel/Studio/7.0/toolchain/avr8/avr8-gnu-toolchain/bin/avr-objcopy`. Not sure how the PATH is handled on Windows.

[2016-11-15 18:16] LudwigKnuepfer commented on #6120
Other than that - I think we did support some space-handling at some point .. has this been removed? If not we should either support it everywhere or remove the partial space support as well.

[2016-11-16 00:07] lahmer opened #6125 "Question: how to write to a file in native mode"
HI, I am trying to use riot in simulation in native mode and i want to write all the events to a log file how do i proceed by this ?

[2016-11-16 07:30] Josar commented on #6120
To give you some more insight `avr8-gnu-toolchain/bin` is in my PATH. As I mentioned avr-gcc and avr-size are called directly with `avr-gcc`  and `avr-size avr` only objcopy gets expanded with the path.
So the behaviour here is strange, for my understanding.

I did not export the path and assigned it. What i found is in `cpu/makefile.include.gnu` where an assignment of objcopy is done.

The withsp

[2016-11-16 08:28] aabadie opened #6126 "nanocoap cannot handle more than 2 endpoints"
I tried to update some of my CoAP application with the new nanocoap server and I discovered this issue : I have CoAP servers exposing more than 2 custom endpoints, the first 2 can be retrieved but after I get a 4.04 error.

This can be easily reproduced on IoT-LAB with a modified version of the nanocoap_server example :
* Modify the `examples/nanocoap_server/coap_handler.c` file as follows (add 2

[2016-11-16 09:03] kaspar030 commented on #6126
The endpoints have to be sorted alphabetically...

[2016-11-16 09:05] kaspar030 commented on #6126
... by their path. I'll add some comments.

[2016-11-16 10:14] aabadie commented on #6126
Thanks ! It works with the endpoints paths sorted !

[2016-11-16 11:43] miri64 commented on #6125
I'm not sure what you mean by "event" and if you just want to log stuff or if you want to log some internal behavior (e.g. ISR triggers, etc). For the latter I would recommend using the `real_open()`, `real_write()`, `real_close()` system calls to the host system in e.g. `cpu/native/irq_cpu.c` to write stuff into your log file. For the first I would suggest to wait for the file system support whic

[2016-11-16 13:08] miri64 commented on #6126
Where's the doc-fix?

[2016-11-16 13:38] Kijewski commented on #6120
Related line of code: https://github.com/RIOT-OS/RIOT/blob/fe96a4c9c42f94fe0127fba2c3aae450d13f7107/cpu/Makefile.include.gnu#L12

[2016-11-16 13:55] kaspar030 commented on #6126
Not nice changing the issue in mid-flight. If you insist, please also change the issue title.

The doc fix is here: #6132.

[2016-11-16 13:56] miri64 commented on #6126
Not nice providing an issue or PR before closing the issue that raised the need for it ;-)

[2016-11-16 14:03] kaspar030 commented on #6126
what are you talking about?

[2016-11-16 14:07] kaspar030 commented on #6126
@miri64 Just to clear this up: @aabadie suggested a bug in nanocoap (which happens to be code I wrote), and you assign the issue to me. I identify the "bug" as user error (due to lack of documentation), promise to improve the docs, wait for @aabadie to report back that his stuff is working now and close the issue.
You then re-interpret missing documentation as bug in the documentation, re-tag the

[2016-11-16 14:16] miri64 commented on #6126
Well the doc fix is provided now, so we can close now.

[2016-11-16 14:16] #6126 closed

[2016-11-16 14:21] miri64 commented on #6126
You then re-interpret missing documentation as bug in the documentation, re-tag the issue and re-open it.
That feels wrong to me on many levels. And please stop throwing emoticons at me.

I just wanted to make sure the doc fix does not get lost. That's all.

[2016-11-16 15:21] miri64 commented on #6123
okay does not seem to be related. Here's a more detailed GDB dump:

[code]

[2016-11-16 15:22] miri64 commented on #6123
Or maybe it is.. sorry about the noise. `pkt=0x20` comes from the packet in `_send`, so this still might be a packet buffer problem...

[2016-11-16 15:27] miri64 commented on #6123
(but #6086 does not solve the problem)

[2016-11-16 16:19] kaspar030 commented on #6123
Too bad. Thanks for testing, I didn't get around, yet. So you can reproduce this?

[2016-11-16 16:23] miri64 commented on #6123
Yepp. But since #6086 doesn't fix #5748 either the problems still seem to be related. But don't have the time atm to look into that. :(

[2016-11-17 15:06] miri64 opened #6139 "pyterm: prints to stderr per default"
`pyterm` prints to `stderr` per default (and I'm not sure changing this to stdout is configurable). This makes things very difficult if we ever want to use software like [`pexpect` for testing](http://stackoverflow.com/questions/27179383/extracting-stderr-from-pexpect) (the proposed solution on StackOverflow does not allow for input via `child.sendline()` anymore).

[2016-11-17 15:28] OlegHahm commented on #6139
I don't see why pyterm should print to `stderr` and a simple test seems to confirm that this is not the case on my PC. pyterm uses the default root logger for printing on the console, so maybe your Python configuration is somehow different?

[2016-11-17 15:42] miri64 commented on #6139
[code]

And no, I did not change anything in my python config (except that `alias python=python3`, but as you can see: that does not make a difference for the script). Maybe its because its Python 2? Given that, we should enforce `stdout` even more to have equal output on all platforms. There are efforts made to make [python3 the default in Debian-based systems too](https://wiki.ubuntu.com/Python#

[2016-11-17 15:43] miri64 commented on #6139
Actually, no. Enforcing Python 3 has the same effect.

[2016-11-17 15:47] miri64 commented on #6139
Also, from [python doc](https://docs.python.org/3/howto/logging.html#advanced-logging-tutorial):

[2016-11-17 15:56] OlegHahm commented on #6139
Ah, okay, then I tested incorrectly. I will prepare a patch.

[2016-11-17 16:01] OlegHahm commented on #6139
See #6140.

[2016-11-17 23:21] #6139 closed

[2016-11-18 11:22] kaspar030 commented on #6018
Sorry for the delay.

IMHO send would be the place to handle the error. I'd be fine with a workaround (make sure the packet always gets freed), but re-queuing is maybe not much more complicated to implement?

[2016-11-18 11:41] kaspar030 commented on #5962
Are you using Linux's interfaces for accessing the gpios? If yes, that could become the default gpio implementation.

[2016-11-18 11:46] kaspar030 commented on #5932
Hm, didn't we add the flags field on create for non-blocking operation?

[2016-11-18 11:54] miri64 commented on #5932
That would be a different paradigm than we have for receive...

[2016-11-18 12:03] kaspar030 commented on #5932
It is also solving a different problem.
For UDP, the receive timeout specifies "how long to wait for a packet sent by the remote". For send, it means "how long to wait at most until there's free space in the send buffer". In the latter case, it is perfectly valid to just drop the packet.

For TCP it's a different story, as for sending the congestion control plays a role. POSIX has SO_RCVTIMEO/SO_S

[2016-11-18 12:52] kaspar030 commented on #5296
Maybe "extremely bad design" is exaggerated, but a thread gets "registered" for something by another thread, the thread has no control over when it get's registered, and it might not be ready. It might even have preconditions that are not met and decide not to register at all. I can't quote any book here, but IMHO having a thread deal with it's own stuff makes the overall design much cleaner.

I t

[2016-11-18 12:53] kaspar030 commented on #5145
I'm inclined to close this. @srisler any objections?

[2016-11-18 13:13] kaspar030 commented on #4471
What do we do with this? Do we feel there's a need to refactor cpu/?

[2016-11-18 13:15] kaspar030 commented on #4418
This issue is very broad. How about we compile a list of those functions and tackle them one-by-one?

@OlegHahm I hope you don't mind but I'll start.

[2016-11-18 13:26] kaspar030 commented on #4102
@IldarValiev To sum up, you see a need for something I'll call "conditional scheduling", where an application can tell the scheduler "don't schedule me unless condition X is met", for conditions that cannot trigger an ISR or equivalent.

The usual way to do this is to have the thread run in a loop with sleeping/yielding in between.
Moving this check into the scheduler might save some context switc

[2016-11-18 13:26] #4102 closed

[2016-11-18 13:27] kaspar030 commented on #4053
Cantfix?

[2016-11-18 13:31] miri64 commented on #4053
For `__FILE__` it works as expected, so there might be a way to fix it.

[2016-11-18 13:31] kaspar030 commented on #2851
We could add a DEVELHELP'ed assertion that, should the msg array be between stack pointer and stack size, checks if there's a certain amount of stack space left.

[2016-11-18 13:39] haukepetersen commented on #2851
Actually, after all this time, I don't have an opinion about this anymore -> do whatever you want :-)

[2016-11-18 13:41] kaspar030 commented on #1976
@miri64 care to open a PR for this?

I propose having the default as MEDIUM.

[2016-11-18 13:46] OlegHahm commented on #4418
I think this makes a lot of sense. Thanks!

[2016-11-18 13:54] miri64 commented on #2851
Assert is already only activated, when DEVELHELP is defined ;-). But we should be careful about the error message. Assertions already are confusing many people.

[2016-11-18 13:55] OlegHahm commented on #5296
If we follow this paradigm, shouldn't we change the signature of `gnrc_netreg_register()` then to only require the `type` and the `demux_ctx`, but not the PID? This way a thread would only be able to register itself.

[2016-11-18 13:56] kaspar030 commented on #5296
Sounds good to me. @miri64 how often do threads register another?

[2016-11-18 14:03] OlegHahm commented on #2851
Or `FORCE_ASSERTS` is set to 1.

[2016-11-18 14:19] miri64 commented on #5296
I would have to `git grep` that myself... But I see some issues (with both the idea and your statements):

1. I don't see the relation msg-queue as `thread_create()` parameter <-> changes to `gnrc_netreg`... Can you please elaborate how this happened
2. `gnrc_netreg_register()` does not receive a PID as input parameter, but a struct initialized by `gnrc_netreg_entry_init_pid()/GNRC_NETREG_ENTRY_IN

[2016-11-18 14:22] OlegHahm opened #6145 "native: system reboots on SIGTRAP"
To be honest, I'm not quite sure what happens, but at least it is reproducible.

**How to reproduce**
Call `core_panic()` from an application in native with `DEVELHELP` set.

**Expected result**
The application terminates with a segfault and coredump, because `panic_arch()` on native calls ` kill(_native_pid, SIGTRAP)` if `DEVELHELP` is set.

**Observed result**
The application reboots 81 times, b

[2016-11-18 14:27] OlegHahm commented on #5296
@kaspar030 proposed to consider one thread "managing" another thread's resources, e.g. registering thread A for message reception from thread B, as bad style. This means that `gnrc_netreg_register()` should only be called for the thread itself, i.e. the thread would not need to specify a PID anymore.

Which leads to the same result.

Valid point. But couldn't `gnrc_pktdump` provide a function to r

[2016-11-18 17:48] srisler commented on #5145
Yes you can. It nerver happened again when I made major change un code.

Thx

[2016-11-18 17:48] #5145 closed

[2016-11-19 07:54] LucaZulberti commented on #5719
Hi Peter, I've flashed the gnrc_networking example on a CC2538 based board and a samr21-xpro board.
I pinged with different size of packets (100, 200, 400, 800) and I had great success too! Thanks to developers!

[2016-11-19 11:51] Kijewski commented on #4053
Dunno if this even needs a fix. I think the current state is even better than printing the .h file, because when you look at the .c file, you can easily see that this line uses a macro, and follow its macro expansions, but it is extremely difficult to do the reverse, and trace back the expansions that led to this line in the .h file.

[2016-11-20 06:43] Jiffkuo opened #6150 "z1: malloc doesn't work when running z1 mote on Cooja"
I found an issue about malloc, if you use malloc in C code and compile the code within z1 board  then running it on Cooja simulator. No error report after the compilation. However, malloc always returns NULL.

After investigation, I think we can modify msp430-main.c:141 as below,
[code]
Could you help to review the modification? Does it make sense?
Thank you

Tzu-Chi

[2016-11-20 16:46] PeterKietzmann commented on #5719
Great! Thanks for testing again.

[2016-11-20 16:46] #5719 closed

[2016-11-20 19:44] miri64 commented on #4053
But if you try something like `printf("%s:%d ...\n, RIOT_FILE_RELATIVE, __LINE__);` the output is *very* confusing.

[2016-11-20 19:45] miri64 commented on #4053
(in inline functions I mean)

[2016-11-21 07:05] yschroeder commented on #5962
Currently I do not do that. I'm on a Raspberry Pi and found it easier to use specific libraries. Standard GPIO functions should not be that complicated with the Linux interfaces but I don't know yet if it's possible to have (good) interrupts and callbacks for externals hardware with that. I am currently using PIGPIO (http://abyz.co.uk/rpi/pigpio/). That library has an interface that is pretty comp

[2016-11-21 12:58] lebrush opened #6151 "Sema dropping messages"
When a thread uses semaphores (concretely [`sema_wait_timed`](https://github.com/RIOT-OS/RIOT/blob/master/sys/sema/sema.c#L131)) messages are dropped from the message queue. This causes a thread acting on messages to lose events due to the use of a semaphore. Imagine a thread receiving events from [drivers, other threads, ...] and depending on the message it send a message using lwip. Since the cu

[2016-11-21 14:31] OlegHahm commented on #6150
First of all: are you sure you want to use malloc() on embedded device - particular a really constrained one such as the MSP430?

Second: I'm not really sure I understand your proposed solution. Have you verified that it fixes your problem? Can you elaborate why casting the result to `unsigned int` should make a difference?

[2016-11-21 14:31] miri64 commented on #6151
Adding kaspar due to the change request to `msg`'s API.

[2016-11-21 14:32] miri64 commented on #6151
I'd rather prefer to have semaphore implementation with no IPC whatsoever btw.

[2016-11-21 14:41] miri64 commented on #6151
(maybe using thread flags? ;-))

[2016-11-21 18:22] immesys commented on #5934
I'm back from conferences and whatnot. @thomaseichinger do you want to ping me offline when you have a moment to discuss this issue?

[2016-11-21 18:54] Jiffkuo commented on #6150
Hi,

Thanks for your prompt reply.

1. Yes, I agree with you. It's better to use static instead of dynamic
memory allocation on embedded device. Right now, I am doing an experiment
about memory performance and management, so I need to use malloc to
allocate some space dynamic. Of course I do monitor the size of malloc in
my code.

2. Yes, I did verify it. The reason is I found if the value of cur_

[2016-11-21 19:14] Jiffkuo commented on #6150
By the way, I realized that 'unsigned int' may be not good solution for all
cases (e.g. address starts with 0xfxxx_xxxx). The point is that we should
get the absolute offset value during the address calculation.

2016-11-21 10:54 GMT-08:00 Jiff Kuo <jiffkuo@gmail.com>:

[2016-11-22 08:00] lebrush commented on #6151
Good point @miri64, I'll have a look at it :+1:

[2016-11-22 13:48] OlegHahm commented on #4053
Nope, because the debug message will give you the name of the .c file, but the line number from the .h file.

[2016-11-22 14:50] Kijewski commented on #4053
OK, that's less than optimal :)

[2016-11-22 17:24] lebrush commented on #6151
@miri64 please have a look at #6155

[2016-11-23 09:43] mlohse commented on #4841
Hi, I ran into this issue and spent an entire day tracing it down to a semaphore used by lwip:
In 'sema_wait_timed_msg' a 'timer_t' is created as a local variable, the timer is set, but before it expires or is removed the function's scope can be left and the xtimer_t removed from the stack:
[code]
This is bad already an can lead to a crash, but it get's better:
When 'sema_wait_timed_msg' is called

[2016-11-23 09:59] kaspar030 commented on #4841
Wow, nice catch and thanks a lot for digging this deep!

@miri64 Do you want to fix this (... having the sema rewrite (#6155) in mind)?

[2016-11-23 12:40] miri64 commented on #4841
As https://github.com/RIOT-OS/RIOT/pull/6155#issuecomment-262395224 points out, that function is removed in that fix. But as far as I understood this there is also a bug in xtimer, not checking the identity of an added `xtimer_t` struct. This should be an easy fix to xtimer, doesn't it?

[2016-11-23 13:14] kaspar030 commented on #4841
Well, xtimer has the superficial _is_set() in order to avoid traversing the whole list, which would be needed otherwise. And xtimer is safe for re-using a timer. No set timer can have the target time all zero.

You found the only loophole: re-use a (set) xtimer_t, but zeroing it's values before use. I don't know of a simple way to prevent something to break that get's its structs modified while in

[2016-11-23 13:18] mlohse commented on #4841
@miri64 As long as xtimer is used correctly it works as expected.
I forgot to mention, that removing the timer before returning from 'sema_wait_timed_msg' fixed this issue for me:
[code]
Considering the impact (RiotOS hanging) of a wrongly used timer and how difficult it is to trace such bugs back, one could argue that a more careful check should be done. A safer implementation involves iterating

[2016-11-23 13:21] miri64 commented on #4841
@kaspar030 Mhhhh... What is xtimer internally: A circular list or a linear list? If it is the latter you can check if the xtimer is part of (any) list by checking the `next` value. If it is `NULL` it obviously is part of a list (most likely the timer queue), if not it is either not already scheduled or at the very end of a queue (which means you need to traverse the queue anyways to add it).

[2016-11-23 13:23] lebrush commented on #4841
I think it's not that simple. This would only be true if the xtimer variable is in the same place of the stack. But if in the next iteration is placed in another position, the previous xtimer in the list now points to unpredictable data (corrupt data).

[2016-11-24 07:58] PeterKietzmann commented on #6125
Have a look at the latest progress in #6072

[2016-11-28 11:36] RndMnkIII opened #6161 "You need help to advance support for Teensy 3.x"
I dont see any advances in Teensy 3.x since I saw the work in progress in supported platforms some months ago. Any technical problem with the freescale cpu?

[2016-11-28 16:06] mali commented on #6035
the avrdude command used to flash arduino boards is defined here : https://github.com/RIOT-OS/RIOT/blob/master/boards/arduino-common/Makefile.include
arduino-common refers to uno and duemilanove which are the arduino boards based on atmega328p mcu.
Hope this helps

[2016-11-29 15:18] nikosft opened #6166 "base64_encode calculates wrong output size"
The formula of base64_encode  for calculating base64_out_size is wrong (RIOT/sys/base64/base64.c  lines 62,63). For example for data_in_size = 16 it outputs 26, whereas the correct size is 24.

[2016-11-29 16:08] nikosft commented on #6038
gcoap (as well as nanocoap) lacks many features specified by the CoAP RFC (e.g., ACK, separate responses).  I cannot understand the excitement about yet another limited coap implementation.   Especially when libcoap is out there.

[2016-11-29 16:22] kb2ma commented on #6038
Well, I'm excited. :-) Both of these implementations have been around for only a few months. @kaspar030 recently [posted](https://github.com/RIOT-OS/RIOT/pull/6117#issuecomment-261485116) his implementation plan, and mine is similar. Let us know of any constructive suggestions or improvements.

[2016-11-29 16:53] x3ro commented on #6166
For easier reference here's [a link to the file](https://github.com/RIOT-OS/RIOT/blob/1e8d76870140c2ab76ed3cebb9e5980bcfc77856/sys/base64/base64.c#L62) at the current point in time.

[2016-11-29 17:05] Kijewski opened #6167 "Try to run "include-what-you-use" over our code?"
I just came across https://github.com/include-what-you-use/include-what-you-use:

Sounds good, doesn't it?

PS. as of 2016-11-29 18:05 CET the project has [1000 "stars"](https://github.com/RIOT-OS/RIOT/stargazers)!

[2016-11-29 17:10] nikosft commented on #6038
I might moving this discussion out of scope, but what is wrong with libcoap? Why not targeting for making libcoap the "recommended CoAP implementation to be show cased"

[2016-11-29 17:10] x3ro commented on #6166
This observation appears to be correct, and a bug in our base64 implementation. [This C implementation I've found](http://stackoverflow.com/a/6782480) appears to calculate the correct output size result using the formula

    4 * ((input_length + 2) / 3)

Comparison to the Wikipedia example values: [Wikipedia example values](https://en.wikipedia.org/wiki/Base64#Output_Padding)

| Input Length | Ou

[2016-11-29 17:25] BytesGalore commented on #6166
@nikosft thx for the pointer on this!
@x3ro I changed the used formula to: `((4 * n / 3) + 3) & ~3` which should fix the wrong calculation.

[2016-11-29 17:26] x3ro commented on #6166
@BytesGalore We should definitely add a test for this, though, right? Does fixing this interfere w/ the rest of the algorithm as it stands?

[2016-11-29 17:28] BytesGalore commented on #6166
yup will add some tests, mom.

not I'm aware of.

[2016-11-29 17:43] BytesGalore commented on #6166
@x3ro now uses your proposed formula and I added a small test to check the encoding size determination based on the wikipedia lengths.

[2016-11-29 18:15] kaspar030 commented on #6038
Just compare the memory needs.

[2016-11-29 18:50] smlng commented on #6038
@nikosft I agree with @kaspar030, `libcoap` wasn't written with embedded systems in mind. I personally use `libcoap` a lot, but thats on the Linux side; e.g. on my RPi based 6LBR, to test CoAP server on RIOT bases nodes.

To make libcoap run in RIOT it needs a lot of patching and updating these patches to a new libcoap version is cumbersome. So I'm very happy to see the progress @kb2ma is making w

[2016-11-29 18:58] miri64 commented on #6038
Regardless we should think about integrating sock into libcoap upstream ;-).

[2016-11-29 19:10] tfar commented on #6167
It sounds good, but it's not trivial to use on larger projects. At least if you want to have it to use the right headers (public headers, instead of private ones where stuff is specified). But don't let that stop you from giving it a shot. It's pretty easy to build though.

[2016-11-29 21:19] nikosft commented on #6038
I can buy the memory argument but the comparison is unfair: on one hand there is libcoap which supports the whole CoAP RFC plus a couple of others, and on the other there is gcoap that supports only a small fraction of the CoAP RFC.

Moreover, libcoap has been developed for years, by a small community and tested by hundreds of users. On the contrary, gcoap has been developed for some months, by a

[2016-11-29 21:43] smlng commented on #6038
You're free to use whatever coap implementation you want with RIOT.

This discussion is not about removing any package support, not for microcoap (for now) and certainly not for libcoap. However, the code base of RIOT is growing rapdily and we cannot ship examples for everything, but there still should be some show-cases on the core features such as coap.

I've never used libcoap with RIOT directl

[2016-11-29 21:48] kb2ma commented on #6038
Passionate advocacy makes things happen! If someone wants to leverage the use of LWIP within libcoap with the LWIP wrapper for sock, I think that would be well received here. It would allow for a more direct comparison of resource usage, too.

I respect the work Olaf and the libcoap group have done, but CoAP is important enough to develop independent implementations that are well suited to a parti

[2016-11-29 21:52] nikosft commented on #6038
I have successfully used libcoap with RIoT and I recently shared an example with dev and users mailing lists.  The code is here https://github.com/nikosft/libcoap/tree/master/riot Moreover, the code has been successfully tested on a nucleo board.

[2016-11-29 23:00] OlegHahm commented on #6038
@nikosft, not sure I get your point. libcoap has many features, but is of limited used because of its memory footprint - I'm not aware of a configuration where it would fit on a class 1 device, are you? gcoap has less features, but has a reasonable memory footprint and a design particularly designed to be used with GNRC (which I, as one of GNRC's co-designers obviously support).

Hence, IMO it's p

[2016-11-30 09:40] kaspar030 commented on #6038
Let's not forget nanocoap, which is used by gcoap as "backend" for parsing/creating CoAP packets, but can be used stand-alone. It will make it possible to have a coap client/server on class 0 devices, with RAM and ROM left for applications, if gnrc can be left out.

[2016-11-30 10:14] rykerDial commented on #2660
I ran into the same issue trying to compile a project for the Teensy 3.6. with arm-none-eabi 4.8.4. The issue was that gcc was linking to _libarm_cortexM4l_math.a_, which is the software floating point version of the library. The solution was to force it to link to _libarm_cortexM4lf_math.a_, the hardware floating point version

[2016-11-30 13:13] jfbortolotti commented on #6018
Correct re-queuing may not be that complicated it will just take more time for me to figure it out and test it ...
If you can point me to some sample of code, I'll give it a try.
I can submit the workaround very quickly as I tested it already.

[2016-11-30 13:17] kaspar030 commented on #6018
Then let's go with the workaround and provide a proper fix later!

[2016-11-30 13:19] kaspar030 commented on #6018
One more idea: could we replace ```ble_mac_busy_tx``` with a mutex?

[2016-12-01 15:16] ant9000 commented on #5967
Hello,
in my effort to add support for [Acmesystems' YARM](http://acmesystems.it/yarm) I've reworked the I2C driver for SAML21 (the specific chip is L21E18B) - it works correctly as far as my tests go.

I don't really know how to make a pull request cherrypicking only the I2C code, but here's my version anyway:

  https://github.com/ant9000/RIOT/blob/master/cpu/sam21_common/periph/i2c.c

I've adde

[2016-12-01 21:15] kaleb-himes opened #6172 "Quick Start Guide link broken..."
https://github.com/RIOT-OS/RIOT/wiki/Quick-Start-Guide

No Guide, just offers to let you create a new wiki

Link is referenced here: https://github.com/RIOT-OS/RIOT/wiki/FAQ

[2016-12-02 09:19] mali commented on #6172
I think we could make it point here : https://github.com/RIOT-OS/RIOT/wiki/Introduction  ?

[2016-12-02 16:05] kaleb-himes commented on #6172
When I saw that I was hoping it would provide insight on how to go about setting up a new recursive makefile system in an existing library that you wished to port to RIOT OS. I have a library already structured:

<library root>
              | -> <subdirectory 1 w/ source files>
              | -> <subdirectory 2>
                                         |-> <subdirectory 2.1 w/ source files>

I w

[2016-12-02 17:15] kb2ma commented on #6172
Try building the source documentation, `make doc`, in the top-level directory, which is built in the `doc/doxygen/html` directory. From the main doc page, notice especially the Further Information section at the bottom. That should get you started, and then let us know if you have more questions.

[2016-12-02 17:26] kaleb-himes commented on #6172
Will do. Closing this issue for now as it's diverged from the initial topic of "quick start guide link broken". Thanks for your advice!

[2016-12-02 17:26] #6172 closed

[2016-12-03 10:11] LudwigKnuepfer commented on #6125
@lahmer if this does not answer your question, please clarify.

[2016-12-06 09:52] #5954 closed

[2016-12-06 21:32] stream-mab opened #6179 "hello-world example on nucleo-f091 uart not working"
I've build docker image on osx for building nucleo-f091 hello-world example. Compilation passed and I used following command to burn image to target:
[code]

Start minicom by:
[code]

but there is no output (setup is 115200 8N1). Any ideas what to check? Thanks.

[2016-12-07 01:03] kbumsik opened #6180 "New board suggestion: nRF52840 DK"
Hello,
There is a new MCU board just came out: [nRF52840 Preview DK](https://www.nordicsemi.com/eng/Products/nRF52840-Preview-DK).
It looks almost same as nRF52 DK currently being developed in this repo, but it has much nicer radio: IEEE 802.15.4 with Bluetooth 5-ready (nRF52 DK doesn't support 802.15.4 as far as I know).
Of course it just came out and may not be a mature hardware, but I am just w

[2016-12-07 10:18] emmanuelsearch commented on #6180
Thanks for the tip.
Looks like a nice candidate indeed.
The triple-mode radio looks great.
However, I would not list this as an issue (hence I close this "issue" ;).
To continue the conversation on this topic, either go to the devel mailing list, or, if someone starts porting (you?) and encounter issues, then open another issue.

[2016-12-07 10:18] #6180 closed

[2016-12-07 12:55] kYc0o commented on #6179
Why don't you simply do `make flash term` ?

[2016-12-07 13:07] stream-mab commented on #6179
Developing on osx so build is done on docker and then I call this command to flash image to board.

[2016-12-07 13:10] kYc0o commented on #6179
Oh ok I see... I develop also in OS X and I can do it natively... Do you have any special reason to use docker for this?

You can still compile in docker and use `make term` after flashing, but I think it should also work on minicom... @aabadie is this port using the right UART?

[2016-12-07 13:13] stream-mab commented on #6179
I need to install on osx correct toolchain and then I can do it natively. But this is out of scope of this issue (uart not working) ;)

[2016-12-07 14:32] kYc0o commented on #6179
I asked because maybe some configurations on pyterm are done to make it work, but I don't think so... anyways, can you try to add in `board.h` [this](https://github.com/RIOT-OS/RIOT/blob/master/boards/waspmote-pro/include/board.h#L45) line to modify the UART output? Try to play with the UART numbers until you have the hello-world message on your output.

[2016-12-07 14:44] stream-mab commented on #6179
I tried that already but it doesn't help. Just to be sure that image is correct I enable debug led and led is on so updating of fw in device works fine. Maybe some uart_init is missing in my board?

[2016-12-08 13:03] lebrush opened #6190 "stm32/cortex-M: expose clock initialization [RFC]"
The current implementation of some of the LPM (at least on stm32) re-initializes calls `cpu_init` in order to re-establish the clock system. This might not be the best behavior being only necessary to initialize the clock but not the entire interrupt vectors, etc. (as done by `cpu_init`).

In the stm platforms this the `cpu_init` usually calls a static method named `clk_init`:

[code]

The idea is

[2016-12-08 15:20] pwillem commented on #6190
It seems that on a stm32f2 it isn't necessary to re-initialize the complete clock. After wake up from stop mode (LPM_SLEEP) I only had to:
- turn on HSE
- turn on PLLs
- configure the system clock switch

[2016-12-08 17:21] OlegHahm commented on #6125
Please shout if your question was not answered.

[2016-12-08 17:21] #6125 closed

[2016-12-08 17:39] OlegHahm commented on #6038
So, as a conclusion of this discussion: how about we go with https://github.com/RIOT-OS/RIOT/issues/6038#issuecomment-257820162 for now and after we gathered some experience with all the available CoAP implementations, we may decide to recommend one of them?

[2016-12-08 18:23] OlegHahm commented on #6035
@taher143, did this answer your question?

[2016-12-08 18:24] OlegHahm commented on #6161
@thomaseichinger, do we?

[2016-12-08 18:30] OlegHahm commented on #4841
So, who has the token on this?

[2016-12-08 18:36] OlegHahm commented on #5934
@thomaseichinger, do you?

[2016-12-08 19:45] kaspar030 commented on #6038
I think all the necessary ifdef magic in both main.c and Makefile seem not very appealing.

[2016-12-08 20:04] OlegHahm commented on #6038
I would try to put as much as possible into the Makefile and go with various .c files.

[2016-12-08 20:55] thomaseichinger commented on #6161
I am not actively working on this and haven' been in a while so there was a lot of interface changes in the meanwhile.
@RndMnkIII Every helping hand is always welcome. In that case it'd be more starting over I guess.

[2016-12-09 02:24] justinjoy opened #6194 "which version of msp430-gcc is recommended?"
Hello,

Although I found MSP430-GCC 5.3.0 from TI didn't work for RIOT as it is because some of functions like `getchar` is added unlike previous version of MSP430-GCC,
I'd like to be sure about recommended compiler version and future plan.

At the present, is msp430-gcc 4.6.x only option for using RIOT?
Have the latest version of gcc, or clang planned to use?

Thanks,
Justin

[2016-12-09 07:48] gebart commented on #6194
I think everyone agrees that requiring gcc 4.6 for one platform while the others are supporting at least up to gcc 5.4 is not optimal, and is holding back the other platforms from using newer features like C11 etc. The problem is that nobody seem to have the time to invest in working on that issue.
See also the PR on support for msp430 with newlib #4766
If you have some time to spare on this suppo

[2016-12-09 11:23] kYc0o commented on #6179
I just had the time to test and it works correctly:

[code]

[2016-12-09 11:43] kYc0o commented on #6190
I recently faced a similar problem while jumping from different RIOT firmwares in a cortexm device. I just disabled the clock initialisation and it worked, so I agree that some sort of custom clock initialisation would be very useful for various cases.

[2016-12-09 12:37] smlng commented on #6037
solved with #6101

[2016-12-09 12:37] #6037 closed

[2016-12-09 14:38] stream-mab commented on #6179
Without any change in board code? I tried today on linux machine just run:
[code]

Everything seems to be passed without error but no output on /dev/ttyACM0 (1152008N1 on minicom).

[2016-12-10 10:26] bergzand opened #6198 "drivers: jc42 compatible temperature sensor driver"
There is a whole slew of simple I^2C temperature sensors compatible with the JC42.4 standard. The standard is meant for temperature sensors on PC memory modules, but they're often for sale as simple modules. Included in this list, but not limited to is:
- MAX6604
- MCP9808
- AT30TS00
- TSE2004

Common features seem to be an interrupt signal for over/under temperature signaling and some hysteris se

[2016-12-10 13:08] LudwigKnuepfer commented on #6198
There is definitely always an interest in drivers for standard devices!
Don't worry if the whole feature set of something is not met, work that is done is work that is done ;)
Any suggestions for a cheap breakout board for one of these?

[2016-12-12 08:50] PeterKietzmann commented on #5967
Hi Antonio. Please follow these steps when creating a PR
[https://github.com/RIOT-OS/RIOT/wiki/Development-procedures](https://github.com/RIOT-OS/RIOT/wiki/Development-procedures).

Also have a look at
[https://github.com/RIOT-OS/RIOT/wiki/Contributing-to-RIOT](https://github.com/RIOT-OS/RIOT/wiki/Contributing-to-RIOT)

and
 [https://github.com/RIOT-OS/RIOT/wiki/Git-cheatsheet](https://github.com/

[2016-12-12 14:30] ant9000 commented on #5967
Hi Peter, thanks for the guidelines.

I just tried my hand with a simple PR, that adds support for a SAM L21 cpu variant: #6201 The PR should be quite easy to validate.

 I2C modifications for SAM L21 could follow, but I'll get in touch with @haukepetersen  first.

[2016-12-12 16:07] OlegHahm commented on #6194
I'm planning to dedicate some time to the MSP430 port during my Christmas holidays, but I cannot promise anything.

[2016-12-12 16:16] lebrush opened #6202 "Some lpm implementation do not follow docs"
The LPM notification indicates that the `lpm_arch_set` method shall return the mode which was actually set. However, some implementations (stm32f2, [stm32f1](https://github.com/RIOT-OS/RIOT/pull/6110), any maybe others) return the previous mode to the one which was set.

[code]

Either the documentation needs to be updated or the code fixed.
This probably expires once #6160 (or relevant) is merged

[2016-12-12 20:57] dylad commented on #5967
Hi,
I give a try for I2C driver on SAML21
Have a look there #5992
If you have any suggestions about it feel free to comment it.

[2016-12-13 07:50] PeterKietzmann commented on #5967
(How) does #6201 solve your problem? There is still no i2c driver for the saml21. Would you like to have a look at #5992 :-)? However, I don't really see this as an issue. Fine to close this one and further discuss inside above mentioned PRs?

[2016-12-13 10:04] lebrush commented on #4841
@OlegHahm this should be "solved" when #6158 and #6155 are merged

[2016-12-13 10:13] ant9000 commented on #5967
@PeterKietzmann , no, my PR does not solve the original issue - sorry, I'm probably just writing in the wrong place.

I've unified the sam21_common driver, in order to make it work on L21 chips - my solution is pretty similar to #5992 , except that I've added the Atmel include files. In order to get rid of the current ones inside cpu/saml21/include/atmel/, though, the current issue with sercom nee

[2016-12-13 12:30] bergzand commented on #6198
I'll see to it that I can build a minimal driver implementation then :)

The cheapest I found is the MCP9808 board, probably because there is an open source pcb design for

[2016-12-13 13:35] kYc0o commented on #6179
Strange... No I didn't change anything, I tested on current master on OS X with a gcc toolchain:

[code]

My OpenOCD version:
[code]

I'll try to check it in Linux but I think @aabadie has already done it. Maybe he can confirm first.

[2016-12-13 16:14] miri64 commented on #4841
@lebrush seems unrelated to the OP... (just the one reported by @mlohse) or am I mistaking?

[2016-12-13 20:24] dylad commented on #5967
As @PeterKietzmann asked. I closed this issue and further discuss should be move to mentioned PRs.

[2016-12-13 20:24] #5967 closed

[2016-12-14 08:24] miri64 opened #6209 "RFC: Merge utlist with clist/list"
Currently we have two separate linked list implementations:

1. `clist`/`list`: our native list implememations in `core` implementing singly-linked linear (`list`) and circular lists (`clist`).
2. `utlist`: imported linked-list implementation in `sys` implementing singly-linked linear lists (`LL_` and doubly-linked linear (`DL_`) and circular lists (`CDL_`).

Both implementations have their respec

[2016-12-14 08:40] kaspar030 commented on #6209
Well, for me utlist was a foreign code macro magic black box, that's why I started with clist initially. I actually don't thing that utlist.h would make it through our current review standards.

Some points:

- there's list *and* clist for performance reasons: clist does have to keep the list circular, list doesn't. That's only a couple of instructions, but list is used by RIOT's hottest code path

[2016-12-14 08:44] miri64 commented on #6209
Though it is hard to the eye to read the macro magic (especially, since `->next` can be renamed) it's a pretty straight forward implementation based around looping over the list and doing the specific implementation ;-).

[2016-12-14 08:45] miri64 commented on #6209
Agreed. I counted that as a drawback with 'non-RIOT coding style'

[2016-12-14 08:46] miri64 commented on #6209
I don't intend to merge those to (that's why I took care to always mention them as a pair ;-))

[2016-12-14 08:47] kaspar030 commented on #6209
Yeah, well, now that you say it. I thought they used a quantum walk algorithm to traverse the lists.

[2016-12-14 12:19] lebrush opened #6213 "core/list: no unittests defined"
It would be nice to have some unittests for the list utility.

[2016-12-14 13:25] OlegHahm commented on #6209
I would tend to keep both and maybe improve the documentation. Saying that, e.g., core/list is an optimized implementation that doesn't implement all features.

[2016-12-14 13:58] kaspar030 commented on #6209
I would rather state that list/clist *should* be used unless it is missing a feature.
What features are missing in clist? Do we use the sorting? Need doubly linked lists?

[2016-12-14 14:07] miri64 commented on #6209
as clist is singly-linked list, and `utlist` only has doubly-liked circular lists I would more look into the features lacking in `list` ;-). Otherwise you compare apples and oranges. `list` is "lacking" (in quotes because for the constrained usage of `list` it makes sense) compared to `utlist`'s `LL`

* name independence for "next" element
* sorting
* appending
* arbitrary insertion
* concatenatio

[2016-12-14 14:07] miri64 commented on #6209
:+1:

[2016-12-14 14:17] kaspar030 commented on #6209
I consider clist the singly-linked list implementation of choice (over list), even if the circular nature is not needed. It can be used wherever a linked list is needed, but has a much cleaner API and more features.

list is only for the hottest code paths.

[2016-12-15 12:21] haukepetersen commented on #6190
+1 for factoring out the clock initialization for the STM32 CPUs! While we are at it, I think it makes also sense to investigate, if some of the code can further be shared for all stm32 CPUs.

I would suggest to go in small steps here:
- factor out the clock init code into a repeatable, non-static function for the stm32 CPUs only
- implement the (hopefully shared) code for the new `pm` interface (

[2016-12-15 15:07] fjmolinas opened #6227 "stm32x unified timer not applied to all Boards periph_config.h"
During the last release a unified version on the timers was built for all STM32x, changing the config structures for a bunch of them put not all board had there periph_config.h changed accordingly. For example the  LimiFrog v1 using the STM32L151RC uC, still implements the old timer config structure witch doesn't work in the new format.

[2016-12-15 15:10] pyropeter commented on #1242
The article linked to in the issue description is now available here: http://aegis.sourceforge.net/auug97.pdf

[2016-12-15 15:12] OlegHahm commented on #6227
The title of this PR looks a bit misleading. Could you modify it?

[2016-12-15 15:16] kaspar030 commented on #1242
I propose closing this. The build system is OK as is. Should we rewrite it, then definitely not using make again.

[2016-12-15 15:21] OlegHahm commented on #1242
I agree to the first sentence. I agree to the second if you define "OK" as "it works". But I disagree with the last sentence.

@miri64, fine with closing?

[2016-12-15 15:23] pyropeter commented on #1242
@nmeum and I are trying to add Rust support to RIOT at the moment. The ugly build system is a major issue.

[2016-12-15 15:24] kaspar030 commented on #1242
Because it is using recursive make?

[2016-12-15 15:24] OlegHahm commented on #1242
I've never seen a non-ugly build system.

[2016-12-15 15:37] miri64 commented on #1242
Mhhhh... I still think there could be some merit in straightening out the current build system... So no: would not close.

[2016-12-15 15:38] pyropeter commented on #1242
Building C code is comperativly easy because you can just compile each source file to a corresponding object file and then link everything as the last step of the build (this is what the current build system does, basically).

For rust support we need to completely build and link all dependencies of a module/package before we can build the module/package. This is impossible to express in the curre

[2016-12-15 17:23] Kijewski commented on #1242
There [are examples](https://www.google.de/search?q=rust+autotools) how to integrate rust with autotools, e.g. https://github.com/lu-zero/autotools-cargo-example. This could be a good starting point to integrate rust into RIOT.

That being said: It's clearly not out make system's fault that rust wants to reinvent the wheel …

[2016-12-15 21:21] Hyungsin opened #6229 "gnrc_rpl: _update_lifetime"
Hi, I have used TinyRPL and ContikiRPL, but now I'm interested in this new OS and currently looking at the RPL implementation on RIOT-OS :)

A small question about void _update_lifetime(void) in gnrc_rpl.c:
I don't understand why **parent->lifetime** is updated differently from **dao_time** and **cleanup**.
Is there any problem if we initialize and update **parent->lifetime** like **dao_time** and

[2016-12-15 21:38] Hyungsin commented on #6229
Oh sorry, I think I'm wrong.
parent->lifetime is updated by gnrc_rpl_parent_update() :)
But I don't understand why **parent->lifetime** is updated differently from **dao_time** and **cleanup**.

Is there any problem if we initialize and update **parent->lifetime** like **dao_time** and **cleanup** without calling **xtimer_now_usec()** in both gnrc_rpl_parent_update() and _update_lifetime()?

[2016-12-16 06:22] miri64 commented on #5748
#6086 sadly did not fix this

[2016-12-16 13:58] BytesGalore commented on #6229
Hi @Hyungsin,
if I get you right you wonder why we store the `parent->lifetime` while we do not so for DAO routes, i.e. transit options [1].
The point is that parents need to be maintained by RPL to decide if a node remains in a DODAG or needs to find a new parent [2], while DAO routes can safely expire without dropping the node out.
A DAO route has a certain lifetime and a node does not need to k

[2016-12-16 20:30] haukepetersen commented on #6227
Hm, i wonder how this slipped through Murdock...

[2016-12-16 20:32] haukepetersen commented on #6227
Hmm, just re-checked: I could not find any STM32 based board that still uses the old timer configuration... The limifrog builds just fine on the current master...

@fjmolinas could you maybe give some more concrete example where you run into trouble?

[2016-12-17 01:16] Hyungsin commented on #6229
Hi @BytesGalore, thanks for a quick response!

Actually, I think my point is different. Sorry for causing confusion :(

If I understand correctly, **_update_lifetime(void)** updates three timers: 1) parent->lifetime [1], 2) inst->cleanup [2], and 3) inst->dodag.dao_time [3]. **parent->lifetime** may be used for checking validity of parent nodes, **inst->cleanup** for checking validity of RPL insta

[2016-12-18 20:30] fjmolinas commented on #6227
If you look at the new timer structure, defined in periph_cpu_common.h this is the format:
 `/**
 * @brief   Timer configuration
 */
typedef struct {
    TIM_TypeDef *dev;       /**< timer device */
    uint32_t max;           /**< maximum value to count to (16/32 bit) */
    uint32_t rcc_mask;      /**< corresponding bit in the RCC register */
    uint8_t bus;            /**< APBx bus the timer i

[2016-12-19 16:30] kaspar030 opened #6241 "examples: iotivity: examples not built by CI, broken"
#6096 added some examples one level deeper in the folder hirarchy, so they don't get picked up by the CI.

Hint: they don't all even compile.

[2016-12-20 05:49] kennethjiang opened #6244 "Vagrant VM not connecting via SSH"
Vagrant: 1.8.6
Host: Mac OSX 10.11.6
Hypervisor: VirtualBox 5.0.28

`vagrant up` ended with the error message:
[code]

When I turned on Vagrant debug, it timed out at this command:
[code]

On VirtualBox admin console, the VM was actually running, with login screen on console.

--------
Additional debugging info:

The openssh server running in the guest VM seems to have problems:

[code]

Whereas a

[2016-12-20 08:51] smlng commented on #6244
@kennethjiang I just tested on macOS 10.11.6 (same as yours) with latest VirtualBox (5.1.10) and Vagrant (1.9.1) and it worked for me. Output of `vagrant up`:

[code]
As you see there was a timeout during boot, too, but still worked. Afterwards I called `vagrant ssh` and that was the output
[code]

Do you installed vbox extension pack? Maybe you system has high load or memory usage, so that vagran

[2016-12-20 11:51] gebart opened #6245 "doc: net_ppp group is misnamed and wrongly placed in Doxygen generated docs"
See http://riot-os.org/api/group__net__ppp.html
The group caption is wrongly listed as "Header" and it can be found at the top level of the documentation modules. Should be an easy fix in the Doxygen comments in ppp/hdr.h

[2016-12-20 13:26] kennethjiang commented on #6244
Upgraded VirtualBox to 5.1.10 and it worked! Did not have to upgrade Vagrant.

Thanks @smlng for your prompt response!

[2016-12-20 13:26] #6244 closed

[2016-12-20 14:03] juttTechnology opened #6246 "Port RIOT for specific device"
is there any tutorial or easy way to port the code for the specific device (e.g Nrf52).
i would like to use the Visualgdb. i Really do not like that all the files will compile in background, Means
i like to add all the files into the Visualgdb.so i can compile and debug step by step. ofcouse then i will not use the make file from the RIOT OS.
as for as i know.
i need to follow the makefiles rules

[2016-12-20 15:43] BytesGalore opened #6248 "shell/sc_gnrc_6ctx strtok_r missing"
building `examples/gnrc_border_router` throws out the following error when building:
[code]
tested on Ubuntu 16.04.1 LTS with:
`arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 5.3.1 20160307 (release) [ARM/embedded-5-branch revision 234589]`
`andarm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 5.4.1 20160919 (release) [ARM/embedded-5-branch revision 240496]`

Building the exampl

[2016-12-20 18:28] smlng commented on #6248
I ran `git bisect`, turns out #5824 by @kaspar030 introduces this behavior

[2016-12-20 18:34] gebart commented on #6248
Likely it is similar to an issue I had in #5616 where we need to define
_DEFAULT_SOURCE before including the header. (the issue I had was with
strnlen)

On Dec 20, 2016 7:28 PM, "Sebastian Meiling" <notifications@github.com>
wrote:

[2016-12-20 18:40] BytesGalore commented on #6248
@gebart your proposition fixes the issue described here :)

[2016-12-20 18:45] kYc0o commented on #6179
Do you have news on this issue? Can we close it?

[2016-12-20 19:01] kaspar030 commented on #6248
I wonder how this slips by murdock.

[2016-12-20 19:03] smlng commented on #6248
@kaspar030 its seems only to happen on arm cortex platforms and compiler arm-none-eabi-gcc version > 5.2. Maybe Murdock has an older version running?

[2016-12-20 19:04] gebart commented on #6248
My guess is that it depends on tool chain versions etc.

[2016-12-20 19:04] smlng commented on #6248
I tested with 5.2 and it worked, but with 5.4 (2016q3) it fails.

[2016-12-20 19:14] stream-mab commented on #6179
I find out that somehow virtual port on stlink doesn't work. I used rs232->usb adapter and connect TX and RX to CN3 and I can get output from RIOT. So with this workaround it basically works. Thanks.

[2016-12-21 10:08] #6248 closed

[2016-12-21 13:51] haukepetersen commented on #6227
I see, have only tried to build it without looking at the code... Fixed with #6256

[2016-12-21 13:51] haukepetersen commented on #6227
and thanks for pointing this out!

[2016-12-21 22:07] OlegHahm commented on #6179
@haukepetersen, I remember that we had similar problems with other nucleo boards in the past. Do you remember if we've ever found the reason behind this?

[2016-12-22 07:58] spiderkeys opened #6261 "SAMD21 TC3 & TC4 issue when using TCC2"
Ran into a bug in the pwm driver tonight that led to a bunch of odd observations; things working when they shouldn't be and the like. I'll break down everything the best I can.

**What I did:**
Created a new board that uses the SAMD21 CPU. Configured PWM0 to use TCC2. When pwm_init is called for PWM0, xtimer starts exhibiting very strange behavior and reports time elapsing much faster than it ough

[2016-12-22 08:07] spiderkeys commented on #6261
For full application source see:
https://gitlab.com/openrov/RIOT/tree/debug/rev8

Application directory:
apps/trident

BOARD=openrov-trident-rev8

Note: I have made some other bug fixes to the PWM driver that I haven't submitted back to RIOT yet, so there may be discrepancies between my source and master.

[2016-12-22 14:45] mali opened #6264 "arduino uno : threads doesn't work anymore"
tried with ipc_pingpong example, 2nd thread don't start.
I'm sure it was working correctly,
I'll try to git bisect later if nobody doesn't come with a solution before.

[2016-12-22 21:41] mali commented on #6264
Hum ... git bisect doesn't help

[2016-12-22 22:05] OlegHahm commented on #6264
What do you mean? Why did `git bisect` not help? Maybe a toolchain update?

[2016-12-23 10:10] OlegHahm commented on #3169
What would be the "right" way to tackle this issue? Disabling the CCA netopt for the current implementation?

[2016-12-23 10:14] OlegHahm commented on #5986
Did anyone open an issue for the xtimer problem?

[2016-12-23 11:30] RndMnkIII commented on #6161
Sorry, I've concentrated in another project that requires me to full time

[2016-12-23 14:58] x3ro opened #6267 "Label cleanup / re-organization"
Since my suggestion was ignored / overlooked on the mailing list (and honestly, I prefer GitHub for such discussion w/ images and stuff) I'm opening an issue here.

I propose adopting a scheme similar to [this one](https://medium.com/@dave_lunny/sane-github-labels-c5d2e6004b63#.4lyg41bbf). Existing labels would be renamed to fall into a number of categories, e.g.:

`arm` -> `Architecture: ARM`
`na

[2016-12-25 07:24] LudwigKnuepfer commented on #6267
I added and applied the label (and removed it) only for illustration purposes.

[2016-12-25 07:35] LudwigKnuepfer commented on #6267
Initially I liked the idea.

However, looking at https://github.com/himynameisdave/git-labelmaker/issues?q=is%3Aissue+is%3Aclosed I have the impression that it gets more difficult to actually read the labels because every second word in the plaintext is metadata.
Also this type of metadata is kind of redundant as the titles themselves already imply a type.
Tool-wise it does not make a difference i

[2016-12-25 07:37] LudwigKnuepfer commented on #6267
I would like to see what the JSON label file looks like and how it integrates, but that is a separate issue IMHO.

[2016-12-27 19:49] mali commented on #6264
I'd like someone else to try to build and run ipc_pingpong example and say if it work's ...
I'd suspect my setup is broken but can't figure why ...

[2016-12-27 20:06] kYc0o commented on #6264
I can confirm that it doesn't work in arduino-uno... I'll try to check why but not very soon...

[2016-12-27 20:51] kYc0o commented on #6264
However it does work for arduino-mega2560... And it's because there's no definition for `AVR_CONTEXT_SWAP_INIT`. Look [here](https://github.com/RIOT-OS/RIOT/blob/master/boards/arduino-mega2560/include/board.h#L56) for an example. Can you maybe provide a PR to fix it?

[2016-12-27 21:22] mali commented on #6264
AVR_CONTEXT_SWAP_INIT is defined [here](https://github.com/RIOT-OS/RIOT/blob/master/boards/arduino-common/include/board.h#L55) in arduino-common, but I'll dig deeper in this direction

[2016-12-27 21:26] kYc0o commented on #6264
Yes I just saw it, but I don't know if it was tested before to make sure that it works. Also I can see a confusing thing about "arduino-common" since there are several other arduino boards which don't use this files... anyways, maybe rename them is another issue, I'll try to not forget it and find a consensus on this.

[2016-12-27 21:29] mali commented on #6264
Yes, it was working, and it should trigger an [error](https://github.com/RIOT-OS/RIOT/blob/master/cpu/atmega_common/thread_arch.c#L31) if undefined.
arduino-common is in fact common to arduino uno and duemilanove, maybe arduino-atmega328p-common would be a better name ....

[2016-12-29 17:06] ciolo opened #6275 "Add External Library"
Hello everyone.
I have to use this library with RIOT on open mote CC2538:
https://github.com/bro/broccoli
I installed the library with "./configure, make and make install", i moved the broccoli library in to pkg folder of RIOT. Then, I added the USEPKG macro in my application's Makefile but when i use "include <broccoli.h>" in main.c of my test program i have this error: /home/user/RIOT/examples/h

[2017-01-02 04:51] kennethjiang opened #6279 "GNRC doesn't do stateless address autoconfiguration based on router advertisement"
Board: samr21-xpro
Branch: master

Steps to reproduce:
1. Install `radvd` on Raspberry Pi, and configure it to advertise on `lowpan0` network interface.
2. Build microcoap server: `cd RIOT/examples/microcoap_server && make all flash BOARD=samr21-xpro`
3. `make term BOARD=samr21-xpro` and watch the output of `_netif_config`.

Bug: Tcpdump shows that radvd responds to router solicitation with correc

[2017-01-02 17:27] kYc0o opened #6280 "#include "board.h" in hashes/sha256.c"
Anyone knows why [this](https://github.com/RIOT-OS/RIOT/blob/master/sys/hashes/sha256.c#L50) line is necessary?

I see that is included in a commit which checks for endianess but maybe there's another way to know it? Without this include this library is more portable (which is my need).

If no objections, I'd like to remove it.

[2017-01-02 17:38] kYc0o commented on #6280
I explored a bit the reason and seems safe to remove it...

[2017-01-02 21:25] juttTechnology opened #6281 "Hello world with Eclipse IDE"
i am working with eclipse IDE to build the hello world example.
i am blocked on the setp Number 5 of this tutorial. [Link](https://github.com/RIOT-OS/RIOT/wiki/Using-the-Eclipse-IDE-for-C-and-CPP-Developers,-Howto)
when i try to run this command
make BOARD=nrf52dk eclipsesym
i got the following error.
![shell](https://cloud.githubusercontent.com/assets/20758400/21596341/475db976-d13a-11e6-86f1-06d

[2017-01-03 09:44] OlegHahm commented on #6281
Well, my first guess, looking at the output, would be that you will have to install wget or curl.

[2017-01-03 09:46] OlegHahm commented on #6280
I could imagine that the `#ifdef __BIG_ENDIAN__` is the reason for that line. Since none of the supported boards is big endian, this wouldn't change a thing for now.

[2017-01-03 10:38] aabadie opened #6282 "git-cache broken ?"
Just tried a fresh build of nanocoap_server against latest master () but failed to clone the kaspar030/sock repository.

The incriminated commit is 63bfbfabecf555b58d15dadf7ae16d83f710f28f.

The error message I have is:
[code]

[2017-01-03 10:59] OlegHahm commented on #6282
I failed to reproduce. Which git version do you use?

[2017-01-03 11:52] aabadie commented on #6282
[code]
with Ubuntu 16.10

[2017-01-03 15:48] OlegHahm commented on #6282
Okay, it doesn't seem to be a problem of the git version. I don't get the error with `git version 2.9.3`, either. Strange.

[2017-01-03 19:21] kosme commented on #5845
@tilmannOSG Sounds terrific. Any possibility this port would also work on a Particle Electron?

[2017-01-04 06:43] gebart commented on #6282
Do you have git-cache installed?
Is it initialized? Could be that git cache doesn't handle errors gracefully
when there's something wrong with the cache directory.

On Jan 3, 2017 4:48 PM, "Oleg Hahm" <notifications@github.com> wrote:

[2017-01-04 13:04] bergzand opened #6287 "stm32f1: xtimer clock running at twice the speed"
I've noticed this when running the timer_periodic_wakeup example from the RIOT examples directory.
cpu: STM32F103RCBT6
Hardware: [maple-mini](https://github.com/phectori/RIOT/tree/maple-mini/boards/maple-mini) (Clock configuration seems identical to the nucleo-f103 board

expected to receive a message every second. A message is received every 500ms.
RIOT seems to think that a second has elapsed:
[

[2017-01-04 13:55] bergzand commented on #6287
This seems to be caused by the unification of the timer code for the stm32 series. Looking at the code previously used for the [stm32f1 for the timer prescaler](https://github.com/RIOT-OS/RIOT/blob/2016.10/cpu/stm32f1/periph/timer.c#L59):
```dev(tim)->PSC = ((CLOCK_CORECLOCK / freq) - 1);```
and now it is:
```dev(tim)->PSC = ((periph_apb_clk(timer_config[tim].bus) / freq) - 1);```
apb_clk is the A

[2017-01-04 14:01] OlegHahm commented on #6287
I can confirm the bug for the IoT-LAB M3 platform and `git bisect` also pointed to #6184.

[2017-01-04 14:10] aabadie commented on #6282
----- Mail original -----

Yes, git-cache is provided by RIOT itself (in `dist/tools/git`)

it's working for me with 5fd26e28e7cf7450344ffe22abf97a74d8069526, the commit just before 0c47cf70931942b353eb9fc04f3bae3e1ea92c2e (the one that fails).

Looking at the changes, it's the `git clone --reference` that fails.

[2017-01-04 16:02] kYc0o commented on #6280
See #6288

[2017-01-04 17:05] #6280 closed

[2017-01-04 17:09] aabadie commented on #6282
Thanks @BytesGalore.

I should have read the README first. My problem was that I had a .gitcache directory but it was empty (not initialized with `git-cache init`).

#6289 makes sense BTW by not activating git caching by default.

[2017-01-04 17:14] BytesGalore commented on #6282
@aabadie it fails also if the `.gitcache` folder is not present, at least for me.

[2017-01-05 09:26] aabadie commented on #6282
Same here but your PR fixes it.

I may have missed something but after playing a bit with this git cache functionality, I found the actual behavior a bit weird : if the git cache is correctly configured (`dist/tools/git/git-cache init`), the repositories are still cloned in `<application>/bin/pkg/<pkg-name>` and `~/.gitcache` only contains refs commits but no objects.
I'm wondering what's the bene

[2017-01-05 12:49] juttTechnology commented on #6281
i am using windows 10. when i try to install the curl, i was unsuccessful.
i seems like, he is working on linux or ubuntu.
on windows its not easy to put this working.

[2017-01-05 12:54] haukepetersen commented on #6287
fixed with #6291

[2017-01-05 13:34] gebart commented on #6281
On Thu, Jan 5, 2017 at 1:49 PM, juttTechnology <notifications@github.com> wrote:

Most RIOT developers are using some variant of Linux or MacOS for
development. There are some people writing on the mailing lists about
working with RIOT in Windows, but I haven't followed the developments.

[2017-01-05 15:38] #5466 closed

[2017-01-05 15:44] #6282 closed

[2017-01-05 16:51] #6287 closed

[2017-01-06 15:25] miri64 commented on #5122
Can someone test, if the following quick-fix solves the issue (until I'm done with the new implementation):

[code]

[2017-01-06 15:27] miri64 commented on #5122
Explanation: The removed code is only supposed to be executed for incoming router advertisements (which isn't checked). Since the 6LBR usually doesn't receive any this would explain this behavior. The RFC states this behavior is a MAY, not a MUST (and we don't have multihop-DAD anyways which is the only way to get out of tentative mode), so removing it is the quickest solution.

[2017-01-06 15:28] miri64 commented on #5122
(@smlng e.g.)

[2017-01-06 15:28] miri64 commented on #5790
@biboc can you check if https://github.com/RIOT-OS/RIOT/issues/5122#issuecomment-270926714 fixes this? This would at least be a quick fix for the release.

[2017-01-07 08:50] kaspar030 opened #6299 "sys: net: gnrc: performance regression"
Using @PeterKietzmann's l2 reflector, we've identified a couple of inefficiencies in gnrc_netdev2_ieee802154, mostly through unnecessary but expensive pktbuf alllocations:

- [ ] always calls gnrc_pktbuf_realloc_data() (fix in #6294)
- [ ] iovec for pktsnip is allocated in pktbuf
- [ ] allocate whole pkt, allocate header, mark payload, throw away header is inefficient.

[2017-01-09 09:58] haukepetersen commented on #6179
No, actually we never found out what caused the problem...

[2017-01-09 14:50] kYc0o commented on #6179
So should we leave this as an open issue? Close as memo?

[2017-01-09 15:04] kYc0o commented on #5520
So actually the test was fine but required a specific character to print the characters. So this is closed thanks to #6302

[2017-01-09 15:04] #5520 closed

[2017-01-09 17:49] A-Paul commented on #6264
I recently started to adapt to a "arduino pro mini" clone (also atmega328p) and the shell isn't working. That is related to this bug, I think?

[2017-01-10 08:46] haukepetersen opened #6305 "pyterm feature request: blank mode and `>` handling"
When doing some measurements on a node, I often copy-paste output from the shell and use it for quick analysis in spreadsheets or similar. For this some parts of the pyterm output is in the way, so here my idea:

a) can we add an option to pyterm that will prevent pyterm from printing the date in front of each output line?
b) we could make the handling of the RIOT shell's `>` character smarter: if

[2017-01-10 09:07] cgundogan commented on #6305
adding to this, but not addressing the feature request; if the macro variable `SHELL_NO_PROMPT` is set, then the output of `>` is ignored.
This could be used in anticipation before compiling the binary for performing measurements etc.

[2017-01-10 09:36] OlegHahm commented on #6305
From the top of my head: the output is configurable. Let me take a look...

Sure, makes sense.

[2017-01-10 10:03] OlegHahm commented on #6305
See #6308 (the feature was there, but broken). If you want to have no prefix at all, add this to your pyterm config (per default `${HOME}/.pyterm/pyterm-${HOSTNAME}$.conf`:
[code]

If you have no pyterm config file yet, you can create one like this:
[code]

[2017-01-10 10:07] haukepetersen commented on #6305
I see. But am I able to define a custom config file through some command line arg through the RIOT build system? As an option like overriding the fmt string is something I would do only on specific occasions and I don't want to edit the pyterm conf file every time...

[2017-01-10 10:12] OlegHahm commented on #6305
You can specify the config file via the command line:
[code]
Reading the formatter from the command line seems clumsy to me, but I could give it a try.

[2017-01-10 10:42] OlegHahm commented on #6305
How about #6309 - `-np`/`--noprefix` does what you requested.

[2017-01-10 10:57] OlegHahm commented on #6305
Hm, thinking about this again: what happens if the executing of a RIOT command takes longer, e.g. the ping command? But maybe pyterm could scan for RIOT's `>` anyway and print it immediately, i.e. without waiting for the newline.

[2017-01-10 11:07] haukepetersen commented on #6305
Yes, that was what I was looking for

[2017-01-10 11:07] haukepetersen commented on #6305
I think I'd like that

[2017-01-10 12:25] OlegHahm commented on #6305
See #6310 for b).

[2017-01-10 12:47] PeterKietzmann commented on #6227
#6256 was merged, I'll close this issue. @fjmolinas please ping me if you don't see this issue solved

[2017-01-10 12:47] #6227 closed

[2017-01-10 13:09] PeterKietzmann commented on #3169
It seems no one is actively working on this. I will remove the Milestone completely which must not mean that it's not worth it working on such a great feature.

[2017-01-10 14:11] smlng commented on #6279
@kennethjiang from the tcpdump output above:

I assume your RADVD config is not correct, please have a look at mine [here](https://github.com/RIOT-Makers/wpan-raspbian/wiki/Setup-native-6LoWPAN-router-using-Raspbian-and-RADVD#configure-6lr), the important option is `AdvSourceLLAddress on;`

[2017-01-10 14:12] smlng commented on #6279
I often use a very similar setup and it works, however, I haven't tested with current master lately. So please report back if my config works for you ...

[2017-01-10 14:13] OlegHahm commented on #6279
I remember that in earlier versions of radvd the L2 source address information was not included in the router advertisements.

[2017-01-10 14:40] gebart commented on #2143
The problem was with the old MSPGCC toolchain (4.6.x in the Debian repos). The official TI supported msp430-elf GCC toolchain (4.9.x and newer) does include the `__ctzhi2`, `__clzhi2` functions.

I believe #4766 would fix this problem, with the added requirement that the toolchain used is from the newer series, and not the ancient MSPGCC.

MSP430 is officially supported by upstream vanilla GCC sin

[2017-01-10 14:54] miri64 commented on #2143
:+1:

[2017-01-10 15:12] OlegHahm commented on #2143
Okay, I will check, but I seem to remember that the TI toolchain had other issues.

Hm, unfortunately, this toolchain also requires newlib which increases the code size quite a bit.

IMO once we have working newlib support and some clear instructions for the users on how to install the toolchain, we should finally bump the GCC version requirement to at least 4.8 or so, that would let us move on wi

[2017-01-10 17:27] bergzand commented on #5318
I was looking at a way to implement the GNRC UDP stats since it doesn't seem te be a lot of work and it looks like an easy way to learn something about the network stack.

First, there doesn't seem to be some kind of struct in the UDP handler to store the stats in. Am I right in this or have I just missed it?

Second: the IPv6 stats does not seem to care about errors in the lower layers, such that

[2017-01-10 17:35] OlegHahm commented on #5318
In principle `sock` could hold this information, I guess.

Is this by design and wanted? Or is an implementation where the upper layer also counts an error wanted?

My design idea was that the layer statistics count only what is under their control. I.e. if IPv6 passes a datagram to the link layer, it assumes the packet to be sent -> TX success. If it cannot pass the datagram to the lower layer, b

[2017-01-10 19:01] LudwigKnuepfer opened #6316 "nrfmin Doxygen module misplaced"
`NRF Minimal Radio Driver` shows up in the Modules' root.

[2017-01-10 19:02] LudwigKnuepfer commented on #6245
@jia200x ping

[2017-01-10 19:07] OlegHahm commented on #6316
Lazy bum!

[2017-01-10 19:11] LudwigKnuepfer commented on #6316
Me?

[2017-01-10 19:15] OlegHahm commented on #6316
All of you!

[2017-01-10 20:23] LudwigKnuepfer commented on #5034
Just to add some beef to the discussion which I did not read:
being able to txtsnd and with happening on the receiving side is very confusing.

[2017-01-10 21:18] miri64 commented on #5318
Please don't mix-in `sock` into `gnrc_udp`. The latter should be able to be used without `sock_udp`. All things considered the `gnrc_udp` can be considered as singleton (having multiple `gnrc_udp` instances doesn't make much sense), so you could just store this kind of data statically in the module I would propose.

[2017-01-10 22:20] bergzand commented on #5318
Makes sense, thanks for the explanation.

Sounds doable. I'll look into this in the next few days when I have time.
Thanks for all the explanations

[2017-01-10 22:44] OlegHahm commented on #5318
The question was about UDP, not about gnrc_udp. That's why I proposed sock. Also, I thought that statistics per peer might be more interesting than general UDP statistics.

[2017-01-11 00:42] kennethjiang commented on #6279
You guys are probably right. I have `AdvSourceLLAddress on;` in `radvd.conf` but tcpdump does seem to show there is no source link address. @OlegHahm what version of radvd should I upgrade to?

[2017-01-11 02:17] kennethjiang commented on #6279
Never mind I followed @smlng 's awesome tutorial at https://github.com/RIOT-Makers/wpan-raspbian/wiki/Setup-native-6LoWPAN-router-using-Raspbian-and-RADVD#configure-6lr and it worked!

[2017-01-11 02:17] #6279 closed

[2017-01-11 07:13] miri64 commented on #5318
But @bergzand was asking about *GNRC* UDP, so your comment might have been misunderstood (as I did). Regarding the per-peer statistics it might indeed be more useful (and easier to implement) to store the data in GNRC's `sock_udp` struct and provide a (GNRC-specific!) function to access that.

[2017-01-11 07:22] #6316 closed

[2017-01-11 08:33] bergzand commented on #5318
So there are two options here? Am I understanding them correct?
One as static variables in the gnrc_udp  code with the result that only total UDP packets/bytes are counted.
Second option: add the statistics to the sock_udp and get per listening/connecting socket stats

I don't really have a preference for one or the other. With the second option I don't know yet how the gnrc code or the shell comm

[2017-01-11 09:40] #6245 closed

[2017-01-11 09:58] OlegHahm commented on #5318
So, maybe we should discuss what we actually want to achieve, before we discuss implementation details. We currently have IPv6 statistics which are stored per interface. Since UDP doesn't provide any additional services in terms of reliability, we could get three additional insights from gathering UDP stats as well:
1. How much of the IPv6 traffic (summing up over all interfaces) was actually UDP

[2017-01-11 10:51] #6166 closed

[2017-01-11 23:14] OlegHahm opened #6327 "tests: enable Aversive++ CI tests"
With #6323 the CI skips the Aversive++ package to speed up CI testing during the release sprint. After the release this patch should be reverted.

[2017-01-12 08:17] gebart commented on #2143
@OlegHahm It would be interesting to see a comparison between a nano newlib and the old msp libc.

Most nano patches from ARM have been upstreamed in newlib and should benefit most platforms when building with the nano configuration flags.

[2017-01-12 09:15] kYc0o commented on #6264
Solved by #6320

[2017-01-12 09:15] #6264 closed

[2017-01-12 09:30] kYc0o opened #6328 "Creating github project to manage common issues."
While checking some PRs I noticed that as they increase in number we start to loose the track of previous ones and issues that could be related.

Even if the github projects feature is quite new and most of the things are done manually, I'd like to propose the use of such feature to organise PRs and issues that share a common solution.

For example, I noticed some PRs and issues that could be solv

[2017-01-12 13:31] #6281 closed

[2017-01-12 13:33] juttTechnology opened #6329 "Reactive Discovery of P2P Routes example"
Hello
        is there any example for  Reactive Discovery of P2P Routes ?

thank you

[2017-01-12 14:03] kYc0o opened #6330 "#6321 broke git-cache in OS X"
While merging #6321 no package can be downloaded using git-cache on OS X.

This is due to the addition of line 48 in git-cache.

[code]

`flock` doesn't exist in OS X, and I didn't find any replacement so far. Is this really necessary?

The same "command not found" is happening with `md5sum` but a direct replacement exists as `md5`.
It's on line 111:

[code]

But this doesn't lead to a crash (expe

[2017-01-12 14:12] jia200x opened #6331 "RTC alarm triggered with 1s delay"
Hi.

I have been testing RTC features.
When I try to do stuffs like:

[code]

, the alarm is triggered n+1 seconds after the rtc_set_alarm call (11 seconds in this case). I added 2 printf in the cb function of periph_rtc example and this is the output:

[code]

rtc_get_time > rtc_get_alarm by 1 sec, so the cb is being triggered every 9+1 seconds. The test passes, but I'm not sure if this is the ex

[2017-01-12 14:21] gebart commented on #6331
Which board are you running on? This is likely a bug in the periph driver for that CPU.

[2017-01-12 14:24] gebart commented on #6331
I'm seeing the same issue in tests/periph_rtc on kinetis (mulle)

[2017-01-12 14:26] jia200x commented on #6331
Hi.

I have been using an NZ32-SC151 (stm32l1) and a samr21. Both have the same
behavior.

Cheers

El ene. 12, 2017 11:21 AM, "Joakim Nohlgård" <notifications@github.com>
escribió:

Which board are you running on? This is likely a bug in the periph driver
for that CPU.

—
You are receiving this because you authored the thread.

Reply to this email directly, view it on GitHub
<https://github.com/RI

[2017-01-12 15:02] miri64 commented on #6330
Maybe unrelated but why does `git-cache` use md5. Isn't Git all about SHA-1?

[2017-01-12 15:17] kaspar030 commented on #6330
The locking is necessary :( I'll research how to do it on OSX.

git-cache uses md5sum to create a unique name for each URL. git needs a name in addition to an URL for every remote, so I just use the md5sum of the URL.

@kYc0o Does OSX have sha1sum?

[2017-01-12 15:30] kYc0o commented on #6330
OS X have both MD5 and SHA-1, but with a different name: `md5` for md5sum and `shasum -a 1` for sha1sum.

[2017-01-12 15:30] miri64 commented on #6330
Aren't URL's unique by nature? Unless you are trying to save space it would suffice to use their identity. On the other hand with SHA-1 you could store them as blobs in your git-cache repository and check if they already exist just by asking git about the existence of the blob :D

[2017-01-12 15:34] smlng commented on #6330
to solve this, I installed the following with Homebrew:

[code]

see also [here for OSX flock](https://github.com/discoteq/flock)

@kaspar030 wouldn't it be better/safer to lock a file, e.g. `git-cache.lock`, instead of filediscriptor number `9`?

[2017-01-12 15:36] kYc0o commented on #6330
I know, but we are adding more and more requirements to have a "stable" environment in OS X, I'd like to have something less hacked...

[2017-01-12 15:38] smlng commented on #6330
@kYc0o I agree, we should try to use (native) tools that are available on Linux and other Unix-like environments such as macOS by default.

[2017-01-12 15:39] miri64 commented on #6330
That's why it might be a good idea to use git itself to store the URLs. This you should have installed ;-). And git porcelain is very powerful.

[2017-01-12 15:46] kaspar030 commented on #6330
Thing is, git-cache needs to do "git remote add $name $url" at some point, but it doesn't care about the name. It just needs to be unique for the cache. using md5sum seemed simple. :)

[2017-01-12 15:52] miri64 commented on #6330
Ahh, I thought you use it for some comparison. But still, use git for that:

[code]

(The `-w` would write the created object into the git repo if desired)

[2017-01-12 15:58] kaspar030 commented on #6330
good idea!

[2017-01-12 16:04] kaspar030 commented on #6330
@kYc0o could you test https://github.com/kaspar030/git-cache/commits/master pls? (still no locking, but uses git for hashing)

[2017-01-12 16:05] miri64 commented on #6330
And regarding `flock`, haven't found any yet, but considering that many git commands are written in shell script (`git bisect` or `git rebase` to name a few popular ;-)) it wouldn't surprise me if there is a locking mechanism somewhere in git

[2017-01-12 16:25] kaspar030 commented on #6330
@kYc0o I've also added locking for OSX, using shlock.

@miri64 Didn't find anything, either. Probably the do it in perl...

[2017-01-12 16:30] kYc0o commented on #6330
Works like a charm! PR it quickly I'm anxious to see this beauty on master! 😃

[2017-01-12 21:06] #6330 closed

[2017-01-12 23:00] OlegHahm commented on #2143
I will try to investigate on this.

[2017-01-13 09:12] PeterKietzmann commented on #5506
Question was answered and no response since half a year.

[2017-01-13 09:12] #5506 closed

[2017-01-13 19:53] kYc0o commented on #6179
Justo closed it as memo, reopen if the problem reappears.

[2017-01-13 19:53] #6179 closed

[2017-01-13 21:51] kYc0o opened #6353 "emb6 on native"
By building all the tests for native I found that emb6 requires SPI to work... IIRC emb6 is the implementation of the Contiki's IPv6 network stack is it? Shouldn't it build (and run) in native too?

[code]

[2017-01-13 22:03] miri64 commented on #6353
emb6 only is the 6LoWPAN part of UIP, so without socket_zep it doesn't make much sense to port it to native.

[2017-01-13 22:04] kYc0o commented on #6353
OK! Thanks!

[2017-01-13 22:04] #6353 closed

[2017-01-13 22:45] kaspar030 commented on #6241
The iotivity example makfiles are a mess. I tried building them during murdock tests, and in some cases, the riot checkout ended up only containing tinycbor files, which is a submodule of iotivity. If this doesn't get fixed, I propose removing the package and it's examples for now.

[2017-01-14 10:09] OlegHahm commented on #3169
I still wonder what is the actual goal of this issue. Implementing basic mode for the transceiver or simply disable the feature for now?

[2017-01-14 10:13] LudwigKnuepfer commented on #5105
any outcome?

[2017-01-14 10:21] LudwigKnuepfer opened #6354 "examples/gnrc_border_router README.md is outdated"
I tried to understand how to configure an Ethernet based border router and the first thing it said I would need to do is this:

There is no `USEMODULE += gnrc_slip` in the Makefile, however.

Maybe it would make sense to split this off into a new section while fixing it?

[2017-01-14 10:32] OlegHahm commented on #3169
I propose to go with #6355 first and work on a driver version for the basic operation mode of the at86rf2xx after the release.

[2017-01-14 10:36] OlegHahm commented on #5105
Have you checked the minutes from the meeting?

[2017-01-14 10:41] mali commented on #6246
Have you take a look at the wiki ?
There is a [Porting Guide](https://github.com/RIOT-OS/RIOT/wiki/Porting-Guide) and lot more informations.
You cans use `make QUIET=0` to have a full compilation log, I think that's what you mean by :

Nothing to say about VisualGDB, I don't know nor use it.

[2017-01-14 11:17] OlegHahm commented on #5519
I think all issues have been resolved with the most up-to-date gcc6 version.

[2017-01-14 11:17] #5519 closed

[2017-01-14 11:53] OlegHahm commented on #5114
If I understand the outcome of #5497 correctly, it should be changed, right?

[2017-01-14 11:59] OlegHahm opened #6357 "make: problem with ccache and colorgcc w/ buildtest"
Trying to use `make buildtest` locally using colorgcc and ccache fails for native (it just hangs forever). Enabling some more output, I get:
[code]

Anyone an idea what goes wrong? Normal building of native works as expected.

[2017-01-14 12:57] mali opened #6358 "arduino uno : xtimer accuracy problem"
xtimer accuracy is bad under arduino uno and duemilanove platforms.
e.g. examples/timer_periodic_wakeup should wake up every second.
Instead it wakes up very often, something like 50ms or so.

[2017-01-14 18:13] LudwigKnuepfer commented on #5105
No, they are not linked here. In any case it would have been the right thing to document the outcome here if there was an outcome.

[2017-01-15 01:35] OlegHahm commented on #5105
Feel free.

[2017-01-15 07:01] LudwigKnuepfer commented on #5105
Seems to have been cast to void.

->

https://github.com/RIOT-OS/RIOT/wiki/Meetings

->

https://yourpart.eu/p/riot-2016-03-23-virtual-meeting

->

https://yourpart.eu/p/riot-2016-05-17-virtual-meeting

->

not mentioned (same as for all later linked meeting minutes [Virtual Meeting on October 19, 2016, Virtual Meeting on October 5, 2016, Virtual Meeting on June 15, 2016] as of the time of this wr

[2017-01-15 10:33] OlegHahm commented on #1231
libcoap and oonf_api have test applications, OpenWSN is about to be removed.

[2017-01-15 10:33] #1231 closed

[2017-01-15 10:34] OlegHahm commented on #5263
I don't think that we get this implemented before the release.

[2017-01-15 12:00] OlegHahm opened #6367 "doc: doxygen's automatic file matching files"
Currently we get a large number for warning like this when building doxygen:
[code]
This looks IMO strange since apparently only one matching input file was found, so no problem should exist. Of course, the simple solution could be to specify explicitly things like
[code]
for each CPU and board, but I thought doxygen should be able to resolve this itself.

[2017-01-15 12:48] OlegHahm commented on #5774
This is still an issue, right?

[2017-01-15 12:52] OlegHahm commented on #5805
Maybe this is rather a topic for the mailing list or a meeting?

[2017-01-15 12:55] OlegHahm commented on #5919
I think the answer is: probably not out of the box, but please feel free to test. Concrete issues can be discussed in a separate discussion here or on the mailing list.

[2017-01-15 12:55] #5919 closed

[2017-01-15 12:57] OlegHahm commented on #5796
#4490 is a feature request. This issue indicates an existing problem with native that *could* be used implementing #4490. However, there are other means to fix it.

[2017-01-15 13:05] OlegHahm commented on #5647
Should we?

[2017-01-15 13:06] OlegHahm commented on #5161
@kaspar030, are you still interested in this or should we close?

[2017-01-15 13:11] OlegHahm commented on #5259
Invalid.

[2017-01-15 13:11] #5259 closed

[2017-01-15 13:14] OlegHahm commented on #5025
ping

[2017-01-15 13:16] OlegHahm commented on #5010
Could be worth a discussion on the mailing list or in a meeting, but here it seems to be stalled. Please re-open if you disagree.

[2017-01-15 13:16] #5010 closed

[2017-01-15 13:20] OlegHahm commented on #4561
I still think that multiple periph timers would be a nice feature for native, but the urgent need for this feature vanished for now.

[2017-01-15 13:21] OlegHahm commented on #4982
Do we still need this issue?

[2017-01-15 13:21] OlegHahm commented on #4974
@kaspar030?

[2017-01-15 13:30] OlegHahm commented on #4875
Still willing?

[2017-01-15 13:35] OlegHahm commented on #4522
I think it seems to be save to close it.

[2017-01-15 13:35] #4522 closed

[2017-01-15 13:36] OlegHahm commented on #4499
What shall we do here?

[2017-01-15 13:44] OlegHahm commented on #5959
I would suspected that non-RIOT code rather expects these functions to be macros and thus to be uppercase.

[2017-01-15 13:45] OlegHahm commented on #4113
Timeout.

[2017-01-15 13:45] #4113 closed

[2017-01-15 13:45] OlegHahm commented on #4140
Who else has the hardware to test it?

[2017-01-15 13:47] OlegHahm commented on #4206
@miri64, I suppose you're not planning to fix this any more with the upcoming change of ZEP, right?

[2017-01-15 13:47] OlegHahm commented on #4204
@A-Paul, @PeterKietzmann, any progress?

[2017-01-15 13:48] OlegHahm commented on #3947
Actually, I don't understand the problem.

[2017-01-15 13:55] OlegHahm commented on #3791
Hm, yes, it might be, but it's probably horribly outdated.

[2017-01-15 13:56] OlegHahm commented on #3418
This looks actually doable for the release.

[2017-01-15 13:57] OlegHahm commented on #3408
Worksforme.

[2017-01-15 13:57] #3408 closed

[2017-01-15 13:58] OlegHahm commented on #3392
@cgundogan, @smlng, @kaspar030, this is currently happening in the CI TF, right?

[2017-01-15 13:59] OlegHahm commented on #3363
Stalled?

[2017-01-15 13:59] OlegHahm commented on #3346
Worksforme.

[2017-01-15 13:59] #3346 closed

[2017-01-15 13:59] daniel-k commented on #4113
Oops, looks like I was talking about a very distant "tomorrow" 😄 . Sorry, totally lost track of this issue. Since this is already 1.5y in the past and I don't have any boards to test let's hope it's fixed now. Thanks anyway @OlegHahm and @miri64.

[2017-01-15 14:01] OlegHahm commented on #4388
wontfix

[2017-01-15 14:03] OlegHahm commented on #2726
@LudwigKnuepfer ?

[2017-01-15 14:06] OlegHahm commented on #4211
Was there a consensus?

[2017-01-15 14:16] OlegHahm commented on #2188
I think so, too.

[2017-01-15 14:16] OlegHahm commented on #2188
Ah, overlooked the check list.

[2017-01-15 14:21] OlegHahm commented on #2098
AFAIK, this should be fixed.

[2017-01-15 14:21] #2098 closed

[2017-01-15 14:22] OlegHahm commented on #2046
@LudwigKnuepfer?

[2017-01-15 14:22] OlegHahm commented on #5953
Timeout

[2017-01-15 14:22] #5953 closed

[2017-01-15 14:26] OlegHahm commented on #1501
Close as wontfix?

[2017-01-15 14:26] OlegHahm commented on #5689
Does this bug still exist?

[2017-01-15 14:26] kaspar030 commented on #5689
Nope, fixed.

[2017-01-15 14:26] #5689 closed

[2017-01-15 14:28] kaspar030 commented on #1501
Two years old. yes.

[2017-01-15 14:28] #1501 closed

[2017-01-15 14:28] OlegHahm commented on #1646
Anyone working on the ADC driver?

[2017-01-15 14:31] OlegHahm commented on #1233
phew...

[2017-01-15 14:33] OlegHahm commented on #5128
Postponing again?

[2017-01-15 14:38] OlegHahm commented on #9
The current cc110x driver is not even working correctly AFAIK.

[2017-01-15 14:39] OlegHahm commented on #4866
@haukepetersen, no news on this I suppose?

[2017-01-15 14:40] OlegHahm commented on #1323
Where are we at?

[2017-01-15 14:40] OlegHahm commented on #4488
Postponing again?

[2017-01-15 14:40] PeterKietzmann commented on #4140
At least the config file has changed and the above mentioned hint disappeared from that file. I can check this again tomorrow.

[2017-01-15 14:42] OlegHahm commented on #5603
Does this still exist?

[2017-01-15 14:43] PeterKietzmann commented on #4204
Well, it was more meant as a feature **request** ;-)

[2017-01-15 14:43] OlegHahm commented on #4737
bump

[2017-01-15 14:48] OlegHahm commented on #5460
Any news?

[2017-01-15 14:48] miri64 commented on #4206
Yep, the plan is to remove `gnrc_zep` as soon #6121 is merged

[2017-01-15 14:51] PeterKietzmann commented on #3947
I think @A-Paul refers to [this comment](https://github.com/RIOT-OS/RIOT/pull/3780#r39371758)  and asks for enhancement of the documentation [here](https://github.com/RIOT-OS/RIOT/blob/8a74475e70925db155ee9747d514004f8d2dadd7/drivers/include/periph/timer.h#L37)?

[2017-01-15 14:51] #4206 closed

[2017-01-15 14:54] miri64 commented on #4388
Shouldn't we at least wait until #5772 got merged?

[2017-01-15 14:54] PeterKietzmann commented on #1646
@immesys wanted to

[2017-01-15 14:58] OlegHahm commented on #4388
No strong opinion. I saw this issue as conn related (part of the description) and hence as a wontfix.

[2017-01-15 15:07] OlegHahm commented on #5755
Timeout

[2017-01-15 15:07] #5755 closed

[2017-01-15 16:30] smlng commented on #3392
Yes, macOS is WIP for Jenkins see #6341, and I just created #6371 to activate native compile on Raspberry Pi ...

[2017-01-15 16:51] bergzand commented on #6198
Fixed in #6292

[2017-01-15 16:51] #6198 closed

[2017-01-15 18:21] immesys commented on #1646
I did some work on it, I discovered that many use cases we had required tweaking things like gain, differential sampling and whatnot, so now I have this conflict between making a simple, abstraction-compatible ADC driver and one that implements all the platform specific features. I will do my best on it, and then I may need some shepherding. Timeline is probably 3 weeks though

[2017-01-15 21:42] mali commented on #6358
Does it works well on atmega2560 ?
For what I understand, xtimer use Timer0 for wich atmega2560 and atmega328p have the same specs.
By the way, I don't understand mega2560 xtimer configuration :
`#define XTIMER_WIDTH                (16)` should be `(8)`
`#define XTIMER_SHIFT                (2)` should be `(4)`
Anybody with a meg2560 who can confirm ?

[2017-01-16 08:26] gebart commented on #6367
This bothered me before as well. I even did try to dig a little in the Doxygen source code, since it seems like a bug in Doxygen, but it's a mess and I didn't have time to dig deeper.

Did you try specifying the name on the line? IIRC another warning showed up instead.

[2017-01-16 08:47] gebart commented on #4875
I did not have time to fix this, but it is still a request to add the functionality to SAUL.

[2017-01-16 11:08] kYc0o commented on #5603
Yes.

[2017-01-16 11:09] kYc0o commented on #5603
Although the problem was in the test itself, I still cannot get working it with XBee... Maybe I just should change the name of the issue or open a new one with the specific problem.

[2017-01-16 11:15] PeterKietzmann commented on #5603
Did you also try with a second UART/USB converter?

[2017-01-16 11:17] kYc0o commented on #5603
Yes, with a second converter and the periph_uart test this works correctly, my issue is actually with XBee... I'll close this and open another with the specific XBee issue.

[2017-01-16 11:17] #5603 closed

[2017-01-16 11:25] kYc0o commented on #6358
I did extensive tests on this platform and works correctly with current configuration. Can you elaborate a bit more what you don't understand?

[2017-01-16 12:45] mali commented on #5986
@OlegHahm : issue #6358 for xtimer problem

[2017-01-16 14:01] PeterKietzmann opened #6379 "nrf52dk/nordic_soft_device: not working anymore?"
Following [this guide](https://devzone.nordicsemi.com/blogs/981/setting-up-ipv6-over-ble-using-nrf52-series-and-ri/) I can not use the nrf52dk with Nordic soft device BLE support any more. A program including the soft device module won't even allow interaction with a shell. @kaspar030 can you confirm?

[2017-01-16 14:39] PeterKietzmann commented on #4140
This is still an open question. `ADC_0_CH0` and`ADC_1_CH1` now refer to
[code]
I would vote to either remove the ADC channel on `PTE3` (who ever used 6 ADC channels simultaneously?) or provide a switch plus explanation about this mode.

[2017-01-16 15:19] PeterKietzmann commented on #4737
Hi again! tests/thread_exit seems to work correctly on stm324discovery with current master (at least for my setup). I don't have enough time/knowledge to dig deeper into the newlib/thread safe issue. Hope this result already helps?!

[code]

[2017-01-16 16:17] mali commented on #6358
@kYc0o :
I think that current xtimer implementation of mega2560 use TIMER0 which is an 8 bits timer, but it's defined as `XTIMER_WIDTH (16)` which means 16 bits resolution.
The same way, according to [XTIMER_SHIFT doc](https://riot-os.org/api/group__sys__xtimer.html#gafd8fce8e5a8b0042399523706cfb6f60), and knowing that atmega2560 has a 16Mhz Clock, it should be defined `XTIMER_SHIFT (4)` not `(2)`

[2017-01-16 16:19] kYc0o commented on #6358
OK, I'll test asap since I'm experiencing various XTIMER problems on arduino-mega2560.

[2017-01-16 16:21] PeterKietzmann commented on #5460
I can not reproduce this error. For  me it works with current master and standard optimization `-Os`. @dbohn are you still available?

[2017-01-16 16:29] kYc0o commented on #6358
Well actually we are using TIMER1 which is 16 bits. For the XTIMER_SHIFT the timer will run at 250KHz so the value it's right.

[2017-01-16 16:41] OlegHahm commented on #6367
Indeed:
```/home/oleg/git/RIOT/cpu/atmega1281/include/cpu_conf.h:12: warning: the name `cpu/atmega1281/include/cpu_conf.h' supplied as the second argument in the \file statement is not an input file
[code]

[2017-01-16 17:00] OlegHahm commented on #4822
What's up here?

[2017-01-16 17:02] smlng commented on #4822
close as soon as #5469 is merged

[2017-01-16 17:12] PeterKietzmann commented on #2247
Obsolete  (see #6160)

[2017-01-16 17:12] #2247 closed

[2017-01-16 17:29] OlegHahm commented on #5986
Thanks!

[2017-01-17 07:13] miri64 commented on #6367
The problem might be, that doxygen's path is `doc/doxygen` (at least I suspect it to be) or it just works on absolute paths.

[2017-01-17 07:30] #3195 closed

[2017-01-17 07:30] #1040 closed

[2017-01-17 07:43] OlegHahm commented on #6367
I tried with relative paths (`../../cpu.../`) but it didn't work. Didn't want to try with absolute paths since this wouldn't make sense.

[2017-01-17 07:45] OlegHahm commented on #1040
Hm, because of #6367 this issue isn't 100% solved, but I would still vote to keep it closed. Agreed, @LudwigKnuepfer?

[2017-01-17 08:16] miri64 commented on #5105
After looking into the doxygen documentation for https://github.com/RIOT-OS/RIOT/issues/6367 I noticed that there actually is a way to include *.c files via the `@example` command. So I was thinking that maybe moving the show-case examples to `doc/examples` instead and incorporating them into the show-cased module's doxygen documentation might be a good idea. More complex 'tool examples' could be

[2017-01-17 08:36] LudwigKnuepfer commented on #1040
👍

[2017-01-17 08:58] mali commented on #6358
Ok, got it [RIOT TIMER0](https://github.com/RIOT-OS/RIOT/blob/master/boards/arduino-mega2560/include/periph_conf.h#L45) is in fact mcu TIMER1.
Anyway, these two boards are similar in terms of TIMER0/1/2 and it's done the same way for [Uno](https://github.com/RIOT-OS/RIOT/blob/master/boards/arduino-common/include/periph_conf.h#L46) as it's done for the Mega2560. So problem should be elsewhere ....

[2017-01-17 10:07] gebart commented on #6367
Could you please try it with absolute paths as well? I think the original
warning will come back then.

On Jan 17, 2017 8:43 AM, "Oleg Hahm" <notifications@github.com> wrote:

[2017-01-17 10:31] OlegHahm commented on #6367
True.

[2017-01-17 10:57] A-Paul commented on #6367
The warnings disappear when in *riot.doxyfile* the line :

is reset to default.

The change was introduced by https://github.com/RIOT-OS/RIOT/pull/4890.

[2017-01-17 11:03] OlegHahm commented on #6367
Ah, thanks! Great finding. Now we have to think how we can solve this issue without re-introducing #4794.

[2017-01-17 11:08] miri64 commented on #6367
Maybe set `STRIP_FROM_INC_PATH_LIST` just to `$RIOTBASE` (and rename it to something more non-list-related then of course)? This would keep cpu- and board-related headers from colliding

[2017-01-17 11:13] miri64 commented on #6367
Nope, that keeps the include path's confusing :-/

[2017-01-17 11:19] miri64 commented on #6367
Another alternative would be to have the doccheck script just not report

[code]

as an error.

[2017-01-17 11:21] OlegHahm commented on #6367
As long as we make sure that we never supply a second argument to `@file`, this could work.

[2017-01-17 11:22] miri64 commented on #6367
So `git grep "@file.\+$" && echo "Evil begun!"`, too?

[2017-01-17 11:23] A-Paul commented on #6367
I think the exclusion is the fastest solution, for now. It should be commented as a workaround with reference to the PR.

[2017-01-17 11:23] miri64 commented on #6367
Yes, also quite visible so people don't wonder about the wall of text when they compile their doc locally.

[2017-01-17 11:30] A-Paul commented on #6367
The doxygen documentation says:

    The documentation of global functions, variables, typedefs, and enums will only be included in the output if the file they are in is documented as well.

Is this the reason '\file' tags without parameters are used anyway?

[2017-01-17 12:17] haukepetersen commented on #2528
sounds good.

[2017-01-17 13:02] kYc0o opened #6392 "xtimer_usleep not working on AVR and msp430 boards"
While testing some drivers I found that the function `xtimer_usleep()` has no impact on AVR8 based boards.

I'm trying to look for a solution but as I'm not an xtimer expert it can take long time...

Any hints @kaspar030 @gebart ?

[2017-01-17 13:05] kYc0o commented on #6392
Just realised that it doesn't work either on msp430...

[2017-01-17 13:09] gebart commented on #6392
I don't think I will have any time to look at this within the near future, sorry.

[2017-01-17 13:36] OlegHahm commented on #6392
Have you checked what the underlying `_xtimer_tsleep()` does on these platforms? Does `_xtimer_spin()` work properly here? Are the spin barriers configured correctly?

[2017-01-17 13:45] rzr commented on #6241
I can try to help  to support iotivity

I think it was caused by:

This change 0ed0f4425cffdd84317998efa8fe19eef561c2fa from @kmaloor
Bring RIOT OS port up-to-date with RIOT OS upstream

Any clue ?

I will ask why:
https://gerrit.iotivity.org/gerrit/16209

https://github.com/RIOT-OS/RIOT/pull/6075 might be needed too

[2017-01-17 13:54] kYc0o commented on #6392
I'll check. It also fails on cc2538...

[2017-01-17 14:04] gebart commented on #6367
Based on the findings of @A-Paul, I opened #6395 which avoids adding the cpu and board include directories to the include path strip list. The warnings show up because of multiple files in the include path with the same name (mostly cpu_conf.h and periph_conf.h).

[2017-01-17 15:06] OlegHahm commented on #5034
\<theo-de-raadt-mode>Slackers!\</theo-de-raadt-mode>

[2017-01-17 15:19] kYc0o commented on #6392
Ok I made some tests and found a strange behaviour on avr-gcc compiler (I think).

While doing:

[code]

The boards arduino-mega2560 and arduino-uno displays the text without sleeping any second. BUT if I change the define by:

[code]

it works... Any hints?

For boards like waspmote-pro and remote-reva which use different frequencies for the xtimer the test fails anyways.

[2017-01-17 15:23] OlegHahm commented on #5034
see #6397

[2017-01-17 15:31] OlegHahm commented on #6392
Doesn't the `U` tells the compiler to use an `unsigned int`? On 8 and 16 bit platforms this has probably only a 16-bit width which cannot hold 1000000. Try `UL` instead.

[2017-01-17 15:39] kYc0o commented on #6392
This was the problem.

There are some some code on RIOT which doesn't take into account this limitation (xbee driver for instance) so such code doesn't work on 16 and 8 bit platforms. What can we do?

[2017-01-17 15:42] OlegHahm commented on #6392
Open a PR to fix it.

[2017-01-17 15:44] kYc0o commented on #6392
It's maybe hard to find ALL the places when such a thing was coded... For now I'll fix the XBee driver but for the rest I'll try to find some time to look further.

[2017-01-17 15:47] OlegHahm commented on #6392
Well, obviously we can only fix what we are aware of. Not sure what answer you expected. Code reviews and testing should prevent these kind of bugs, but unless we have a CI that runs tests on various platforms, I don't see what else we can do.

[2017-01-17 18:02] dbohn commented on #5460
hey, sry, actually I'm not really available for this anymore. This issue occured in the works for a university software project in the last semester, so I don't have the development boards around anymore and it has been quite a while now that I dived into the code.
The only thing I can do, is provide you the code we used, which lives here: https://github.com/fridalufa/smart-environment
If I rememb

[2017-01-17 18:47] PeterKietzmann commented on #5460
@OlegHahm any idea how to proceed here?

[2017-01-17 18:55] kmaloor commented on #6241
Hello,
It appears that the iotivity package is pointing to an old revision of
IoTivity-Constrained, and needs maintenance.
The upstream project (https://github.com/iotivity/iotivity-constrained) that
I maintain is evolving and was recently updated to use the new xtimer APIs, and as such,
its own examples build and run successfully against the tip of the RIOT-OS tree.

You may try assigning this is

[2017-01-17 19:15] rzr commented on #6241
I have current master building (with WERROR=0)
with patches in:
https://github.com/RIOT-OS/RIOT/pull/6075

You can check on your devices, with this script snippet:

[code]

[2017-01-17 19:28] A-Paul commented on #3947
@PeterKietzmann, your assumption is correct. :-)
To be more precise,I followed this advice: https://github.com/RIOT-OS/RIOT/pull/3780#r39622407.

[2017-01-18 08:45] PeterKietzmann commented on #3947
And did you see your issue solved somewhere during all the documentation efforts? I didn't look it up...

[2017-01-18 09:31] PeterKietzmann commented on #4737
The issues described in this PR do not appear any more.

[2017-01-18 09:31] #4737 closed

[2017-01-18 10:07] aabadie opened #6405 "Some drivers with saul capabilities are not tested automatically by the saul test"
This is the case for:
* si70xx
* bmp180
* jc42
* and soon bme280 (after #6156 is merged)

I open this issue to discuss a solution that could be applied to the CI scripts : [dist/tools/compile_test/compile_test.py](https://github.com/RIOT-OS/RIOT/blob/master/dist/tools/compile_test/compile_test.py)) or the [JenkinsFile](https://github.com/RIOT-OS/RIOT/blob/master/Jenkinsfile).

@PeterKietzmann sugg

[2017-01-18 12:24] OlegHahm commented on #4902
What's the state here?

[2017-01-18 12:36] OlegHahm commented on #6038
Did we reach a consensus here?

[2017-01-18 12:38] OlegHahm commented on #4053
Anyone with a nice solution?

[2017-01-18 12:50] rzr commented on #6241
Are there any tasks pending ?

Feel free to ping me if you need help on iotivity support

This change could be merged to avoid a "WERROR FTBFS":
https://github.com/RIOT-OS/RIOT/pull/6403

https://github.com/RIOT-OS/RIOT/pull/6075#event-927115858

[2017-01-18 15:07] kYc0o opened #6410 "xtimer_core.c DEBUG does not compile (at least) for AVR platforms"
If one tries to enable debug on `sys/xtimer/xtimer_core.c` several errors will appear:

[code]

My compiler:

[code]

[2017-01-18 15:21] OlegHahm commented on #6410
I couldn't reproduce, but can you check if #6411 fixes the issue for you?

[2017-01-18 15:39] kYc0o commented on #6410
Yes it does.

[2017-01-18 16:14] kb2ma commented on #6038
@OlegHahm, I appreciate the concerns behind the issue of too many examples. On my side, I have focused my limited time on adding features to gcoap rather than work on this single example with multiple implementations. The reimplementation on sock rather than GNRC is targeted for the 2017.01 release. I'm also just a few days from opening a WIP PR for Observe.

[2017-01-18 16:33] OlegHahm commented on #6038
Cool! Looking forward to this.

[2017-01-18 18:10] #6410 closed

[2017-01-18 18:49] kYc0o commented on #6410
#6414 does actually.

[2017-01-18 18:56] antmerlino opened #6416 "Proposal: Use Gitter to allow users and developers easier and simpler chat functionality"
I am a relatively new user to Riot OS.  I understand that this type of proposal from a new user may be frowned upon or unwarranted.  So I understand if this idea gets shot down and closed.  However, I would like to see if there is any interest in using Gitter rather than freednode and the mailing lists (or maybe the mailing lists stay in parallel) for developers and users to chat.

I have worked w

[2017-01-18 19:01] kaspar030 commented on #6416
Please ask again on the mailing list!

[2017-01-18 19:01] #6416 closed

[2017-01-18 19:52] emmanuelsearch commented on #6241
I tried `make buildtest` with #6403 after #6075, and with the latest commit of iotivity-constrained (aed3afb26107a1e32c9891b425f8ae2563b19d6e) and all builds fail...

[2017-01-18 20:21] #5034 closed

[2017-01-18 22:34] haukepetersen commented on #6358
@kYc0o are you still looking into this?

[2017-01-18 22:36] haukepetersen commented on #6358
see also #6392

[2017-01-19 09:23] PeterKietzmann opened #6419 "cpu/cc2538: timer broken?"
On remote boards it appears that `xtimer_usleep` hangs. Didn't test on other cc2538 boards. Even *tests/periph_timer* acts weird as it  can't initialise all timers:

[code]

[2017-01-19 09:26] kaspar030 commented on #6419
Please look into the timer_init() function to see in what cases it might fail.

[2017-01-19 09:29] OlegHahm commented on #6419
Related to https://github.com/RIOT-OS/RIOT/issues/6392#issuecomment-273165564 ?

[2017-01-19 09:30] rzr commented on #6241
Yea additional are changed, I started to upstream a couple but it's not over, support from @mattiantonini  is welcome.

Meanwhile you can track efforts at:

https://gerrit.iotivity.org/gerrit/#/q/topic:C99

[2017-01-19 09:33] kYc0o commented on #6419
Yes I noticed that yesterday and it's about the initialisation first, then the conversions used by xtimer...

[2017-01-19 09:35] PeterKietzmann commented on #6419
@kYc0o you knowthe fix out of the box? Otherwise I will (must) go into details soon

[2017-01-19 09:40] PeterKietzmann commented on #6419
Concerning the `periph_timer` issue we land [here](https://github.com/RIOT-OS/RIOT/blob/master/cpu/cc2538/periph/timer.c#L110) which is not a bug cause the test tries to initialize with 1MHz which is not the sysclk.

[2017-01-19 10:00] kYc0o commented on #6419
I was working on the fix yesterday but didn't finish. I'm still trying today but I'm busy with waspmote's timers... if you're already there I'll let you solve the bug I'd you find out what it is.

[2017-01-19 10:00] kYc0o commented on #6419
The timer should be initialised at 16MHz according to XTIMER_HZ.

[2017-01-19 10:21] alignan commented on #6419
I'm changing job/country now so probably I won't have time to look this anytime soon, but @PeterKietzmann is right-on spot as the expected frequency is different

[2017-01-19 10:44] #4874 closed

[2017-01-19 12:27] lebrush commented on #6151
#6155 got merged

[2017-01-19 12:27] #6151 closed

[2017-01-19 12:30] lebrush commented on #6202
This can be closed since #6160 got merged.

[2017-01-19 12:30] #6202 closed

[2017-01-19 14:14] gebart opened #6426 "Jenkins: Show status of each individual build group as red/green"
I don't know Jenkins very well, so excuse me if this already exists somewhere.
I would like to have a status page where we can see the status of each build group in the CI build, something like what Travis used to show when we used the build matrix feature to select settings.
I have seen this page:
https://riot-ci.inet.haw-hamburg.de/job/RIOT/view/change-requests/job/PR-3263/2/flowGraphTable/
but

[2017-01-19 14:25] vincent-d opened #6427 "xtimer: infinite loop with xtimer_mutex_lock_timeout"
Hi,

I tried to use xtimer_mutex_lock_timeout but if I try to lock the mutex again when the timeout has expired, the mutex_lock is stuck in an infinite loop.

By changing the `_mutex_timeout` function as follow, it solves the issue:
[code]

[2017-01-19 14:35] PeterKietzmann commented on #6419
I have a strong assumption that [this](https://github.com/RIOT-OS/RIOT/blob/master/boards/remote-common/include/board_common.h#L77) configuration is incorrect. `git bisect` pointed to this commit:
 [63e91151cd0b3dfde28bd7cc9b3ef23b140f3730](https://github.com/RIOT-OS/RIOT/commit/63e91151cd0b3dfde28bd7cc9b3ef23b140f3730) which is at least related to `xtimer`. Printing [this line](https://github.com

[2017-01-19 14:37] miri64 commented on #5055
Since #6314 introduces ways to circumvent this (mainly an internal counter, but also other ways), I would deem this issue fixed. @OlegHahm what do you say?

[2017-01-19 14:40] miri64 commented on #6426
In general some parsed output of the log files would be nice. Oftentimes they are not really helpful in finding the error unless you use `Ctrl+F`

[2017-01-19 14:42] miri64 commented on #6426
(To my knowledge there are plugins to parse GCC's output, so this shouldn't be that much of a deal [baring the usual config hell of Jenkins of course])

[2017-01-19 14:42] PeterKietzmann commented on #6419
PS: Applying proposal of #6427 does not solve the issue

[2017-01-19 14:44] mattiantonini commented on #6241
Hi All!
I'm investigating about this problem. I have tried to recompile these examples for samr21-xpro (compiler arm-noneaebi-gcc 4.9.3)  and everything goes right without any warning or error.  The problem is for native (gcc 4.9.4)....

P.S. sorry for my delay, but I'm studying for my last exam before graduation

[2017-01-19 14:57] kaspar030 commented on #6427
@vincent-d Would you mind opening a PR with your change? Like this it is hard to see what you have changed...

[2017-01-19 16:00] antmerlino opened #6431 "Segmentation Fault running Shell"
Hi all,

I'm working through the tutorials trying to checkout some of the features of RIOT OS.  In task-02 you are asked to add a shell command.  Here is my code:

[code]

But, if I type in anything in the terminal after adding this command, I get:

[code]

Not sure if I am doing something fundamentally wrong, or there is an issue here.

[2017-01-19 16:07] OlegHahm commented on #6431
Which toolchain/compiler version are you using?

[2017-01-19 16:09] antmerlino commented on #6431
I've tried with both vagrant and docker with the same result.  So I'm going to assume GCC, which according to the docker container

gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609

I'm going to guess Vagrant is on a similar version

[2017-01-19 16:11] smlng commented on #6229
@cgundogan any comments from your side, as our resident RPL expert 😄

@Hyungsin: what you said is not quite right, the function `_update_lifetime` decreases the `cleanup` and `dao_time` timers with each call, but it does **not** change the parent lifetime. For the latter it just checks if the timer is close to expiration and will send a DIS or remove the parent accordingly.

However, IMO you are r

[2017-01-19 16:12] OlegHahm commented on #6431
Can you post your Makefile as well, please?

[2017-01-19 16:13] antmerlino commented on #6431
Sure, though it is the stock one from the tutorial.

[code]

[2017-01-19 16:14] OlegHahm commented on #6431
Ah, sorry, for the noise - I should have checked if I can reproduce your problem first - which in fact I can.

[2017-01-19 16:15] antmerlino commented on #6431
All good, I did notice I made one small change to the Makefile which was to add the -g option to CFLAGS.  On a side note, what is the intended way of getting make to generate symbols using Riot's build system.  Is there a different target?  I tried all-debug but that didn't seem to do anything.

Sorry for the side question.

[2017-01-19 16:16] OlegHahm commented on #6431
[code]
The list of  `shell_command_t` must be terminated by an empty entry. It should be
[code]

[2017-01-19 16:17] OlegHahm commented on #6431
The easiest way would be indeed to do `make clean all-debug debug`.

[2017-01-19 16:18] antmerlino commented on #6431
Ahhh! Okay, maybe we should add that to the notes in the tutorial task? Or link the shell documentation?  Either way thank you for your very quick response!

[2017-01-19 16:20] OlegHahm commented on #6431
Good idea.

Okay to close the issue?

[2017-01-19 16:22] antmerlino commented on #6431
I wouldn't mind contributing to the documentation when I come across things like this.  What are your contribution guidelines or procedures for updating documentation?

Good to close the issue.

[2017-01-19 16:23] OlegHahm commented on #6431
Oops, then I was too fast. ;-) In general, opening a pull request should work in any RIOT related repository.

[2017-01-19 16:23] #6431 closed

[2017-01-19 16:24] antmerlino commented on #6431
Sounds good, thanks again!

[2017-01-19 16:29] OlegHahm commented on #5055
Sounds reasonable. Do we still have support for transceivers that do not use #6314?

[2017-01-19 16:29] #4211 closed

[2017-01-19 16:39] miri64 commented on #5055
As far as I see it they just need to be ported to use the `uuid` module instead of their own implementation.

[2017-01-19 16:59] PeterKietzmann opened #6432 "boards/limifrog-v1"
Hard faults with several applications, for example examples/shell

[2017-01-19 17:52] PeterKietzmann commented on #5944
We're talking about [this test case](https://github.com/RIOT-OS/RIOT/blob/master/tests/unittests/tests-ipv6_hdr/tests-ipv6_hdr.c#L249) failing. The problem lies [here](https://github.com/RIOT-OS/RIOT/blob/8a74475e70925db155ee9747d514004f8d2dadd7/sys/include/net/ipv6/hdr.h#L291). On 16 bit platforms the sum `(sum + len + prot_num)` already overflowed whereas on 32 bit platforms `sum` is incremented

[2017-01-19 21:17] kmaloor commented on #6241
Hello @mattiantonini

Thank you for checking in on this.

IoTivity-Constrained has changed a bit since Nov, and its RIOT port compiles
and runs successfully against the latest RIOT OS source (i.e. directly, using port/riot/Makefile).

While you’re investigating this, it might be a good idea to revisit a few things in the
RIOT OS pkg and samples on the RIOT OS tree. (can discuss further over e-mail

[2017-01-20 00:51] #2623 closed

[2017-01-20 01:01] miri64 commented on #2623
Some are still left by git's non-concurrency ;-):

[code]

[2017-01-20 07:55] haukepetersen commented on #5055
To my knowledge, all network devices except the `kw2x` are using the `uuid` module. I did not touch the `kw2x`, as I didn't want to interfere with its porting to netdev2...

[2017-01-20 08:14] #6367 closed

[2017-01-20 08:44] gebart opened #6436 "unittests: tests-tweetnacl crashes on ARM"
Tested:
 - Works on native
 - Reboots after tweetnacl tests finish on mulle
 - Works on mulle when I increase `THREAD_STACKSIZE_DEFAULT` to 2048 (up from 1024)

No error messages printed or any status of the tests, just silent reboot.
Likely a stack overflow.

[2017-01-20 08:48] kYc0o commented on #6436
The [README.md](https://github.com/RIOT-OS/RIOT/blob/master/pkg/tweetnacl/README.md) states it, you need at least 2K more stack in constrained nodes.

Should I change it to explicitly say that it will work out of the box in native but this change is mandatory on small nodes?

[2017-01-20 09:28] gebart commented on #6436
We need the unit tests to run to completion with the default build on all platforms, so we need to either skip the test or change the settings for the thread stacks on unit tests.

[2017-01-20 09:45] miri64 commented on #6436
Should be doable by setting the stack-size via the CFLAGS in the test-suite's `Makefile.include`.

[2017-01-20 09:47] gebart commented on #6436
On the other hand, changing the default stack size in the unit tests might
hide stack overflow errors in other modules.

On Jan 20, 2017 10:45 AM, "Martine Lenders" <notifications@github.com>
wrote:

[2017-01-20 09:49] kYc0o commented on #6436
+1 👍

I can PR the change.

[2017-01-20 09:55] miri64 commented on #6436
hide stack overflow errors in other modules.

That's why I proposed to only change it in the test suite. By testing the other modules separately you can still detect those (or by deleting the tweetnacl test-suite and building the rest).

[2017-01-20 10:11] kaspar030 commented on #6436
IMHO the compile of the default unittests should also be runnable. By setting it only in the suite's makefile, the unittest.elf containing all tests would fail.

We could create a thread with bigger stacksize for tests-tweetnacl and run the tests in there?

[2017-01-20 10:31] miri64 commented on #6436
Huh? The unittests are compiled in a way that all variables from all suites are pulled in during compilation.

That's also an alternative, but embUnit and threading had proven to be tricky at best in the past.

[2017-01-20 10:32] miri64 commented on #6436
(remember the dots per test is just *one* way the unittests can output, they also have an XML format and a more verbose output than the dotted tests)

[2017-01-20 11:27] PeterKietzmann opened #6437 "periph/spi: Leftovers from SPI rework in #4780"
This issue acts as a place to collect and track leftovers and TODOs from the SPI rework done in  #4780.
- [x] Adapt pn532 (-> #6478)
- [x] Fix sensor driver lis3dh (-> #6479, #6572, #6567)
- [x] Fix nvram-spi
- [ ] ~~Test peripheral driver on lpc11u34~~
- [x] Test sensor driver adt7310
- [x] Fix mrf24j40 connected to stm32fx boards (-> discussion in #6519, fixed by #6764)
- [x] Test ethernet drive

[2017-01-20 11:27] kYc0o commented on #6436
Is that unittest.elf flasheable to constrained devices?

[2017-01-20 11:29] miri64 commented on #6436
Look at the number of boards in `BOARD_INSUFFICIENT_MEMORY` of `tests/unittests` and tell me yourself ;-)

[2017-01-20 11:31] kYc0o commented on #6436
Well, mulle is not there, only for that it's worth to find a solution.

[2017-01-20 12:56] gebart commented on #6436
I usually run the complete unittests build on mulle, but even if you're using one of the boards listed under `BOARD_INSUFFICIENT_MEMORY` you can still run the tests if you build a subset using `make tests-core` for example.

[2017-01-20 13:12] miri64 commented on #6436
I know. I wrote this feature ;-)

[2017-01-20 13:16] miri64 commented on #6436
For the record I meant to provide a fix in the style of

[code]

[2017-01-20 13:26] mattiantonini commented on #6241
Hi all,
I have performed the following tests (on the server example) using the latest master of RIOT, IoTivity-Constrained and the patch by @rzr for CBOR(01org/tinycbor#61):

- Native compilation (GCC 4.9.4) fails for Warning on CBOR
- SAMR21-XPRO compilation (arm-none-eabi-gcc 4.9.3) compiles but there is a ram overflow (~1.7 Kb)

@kmaloor regarding your questions:
1) my examples work only in rea

[2017-01-20 13:27] gebart opened #6439 "Jenkins: Shows unrelated commits under "Changes" heading"
Change list shows commits which have been added to master after the PR was branched. It should only show the commits on the PR branch, not the master changes.

Example: https://riot-ci.inet.haw-hamburg.de/job/RIOT/view/change-requests/job/PR-5688/8/

![image](https://cloud.githubusercontent.com/assets/317506/22151008/6551f4a2-df1c-11e6-850c-47f6b3df0b8b.png)

[2017-01-20 13:46] rzr commented on #6241
@mattiantonini   what is the issue on cbor?

Note there are more changes needed for IC,
I need to take time to check before submitting them upstream, maybe in a couple of weeks.

[2017-01-20 13:50] mattiantonini commented on #6241
@rzr this:

[code]

[2017-01-20 13:57] lebrush opened #6442 "cpu/native: timer interrupt issue"
~~AFAIK all interrupts shall cause a thread yield (`thread_yield_higher`), right?~~

**EDIT 01/02/17:**
Timer in native stops "working" ~~if fired too fast~~ sometimes. See https://github.com/RIOT-OS/RIOT/issues/6442#issuecomment-276765280

[2017-01-20 14:00] lebrush opened #6443 "cpu/lpc2387: periph interrupt do not yield thread (?)"
I observed that the IRQ handlers of the peripherals of this cpu do not include a `thread_yield_higher`. Is this handled somewhere else?

[2017-01-20 14:06] OlegHahm commented on #6443
ARM7 is a special case (it was the first platform supported by RIOT's kernel). The context switch should be done here:
https://github.com/RIOT-OS/RIOT/blob/master/cpu/arm7_common/common.s#L139

[2017-01-20 14:09] kaspar030 commented on #6443
@OlegHahm is right, ARM7 does the check on every context switch.

[2017-01-20 14:19] OlegHahm commented on #6442
Shouldn't this be done here: https://github.com/RIOT-OS/RIOT/blob/master/cpu/native/native_cpu.c#L145 ?

[2017-01-20 14:22] lebrush commented on #6443
Thanks! :-)

[2017-01-20 14:22] #6443 closed

[2017-01-20 14:33] lebrush commented on #6442
I observed it while testing the callback of the `xtimer_mutex_lock_timeout`. Removing the `thread_yield_higher` call from the `_mutex_timeout` callback, blocks indefinitely.
I thought it might be because no yielding is done, but I've not enough inside on this implementation. So maybe the issue is somewhere else.

[2017-01-20 15:44] kYc0o commented on #6358
My lasts tests showed a good xtimer behaviour with this board. @mali can you make a last check and see if it still fails?

[2017-01-20 15:46] kYc0o commented on #6392
Well the reason of this issue was because some integers were not correctly sized for these platforms, so we can close it.

However, the problem of a broken XTIMER persists in boards which are not using compatible clock speeds. Namely, for now, waspmote-pro and cc2538.

[2017-01-20 15:46] #6392 closed

[2017-01-20 15:59] mali commented on #6358
@kYc0o : which commit fix this please ?

[2017-01-20 16:00] kYc0o commented on #6358
Unfortunately I don't know and I didn't dig into it, but it was strange...

[2017-01-20 16:21] nikosft opened #6447 "pyterm AttributeError: SerCmd instance has no attribute 'fmt_str'"
With python 2.7.12 on ubuntu 16.04 I get the following error when I run RIOT/dist/tools/pyterm/pyterm

[code]
if I put in comments lines 129-132 (the if statement) and if I add
[code]
After line 109, it works as expected