[2018-12-12 14:33] jcarrano commented on #10598
RIOT is using the latest edbg master. Please report the bug to edbg upstream too.

[2018-12-12 14:33] miri64 commented on #10594
Or in conjunction with `*_sock_recv()`: `EAGAIN`.

[2018-12-12 14:36] gschorcht commented on #10594
For `cc110x`? Yes, PR #10340.

[2018-12-12 14:36] miri64 commented on #10594
No, for your `esp_eth` fixes ;-).

[2018-12-12 14:46] kYc0o commented on #10598
Actually I'm investigating further and there's maybe something related to my local setup. I'll report later the results.

[2018-12-12 15:32] gschorcht commented on #10594
There will be later today when I'm back in my office.

[2018-12-12 15:40] miri64 commented on #10594
Ok.

[2018-12-13 14:37] PeterKietzmann commented on #10444
ping @scarabsoft

[2018-12-13 17:20] Derwaan opened #10611 "Board z1: BTN0_IN is not defined"
#### Description

`BTN0_PIN` is not defined for the **Z1** board in [board.h](https://github.com/RIOT-OS/RIOT/blob/master/boards/z1/include/board.h).

The corresponding pin is P2.5. So I think `BTN0_PIN` should be redefined as `GPIO_PIN(2,5)`.

[2018-12-14 07:47] MrKevinWeiss opened #10614 "DEBUG stops shell if used in i2c init"
#### Description
For stm32f4 and stm32f1 based cpu, having debug enabled and writing something in the init seems to prevent from interacting.

#### Steps to reproduce the issue
Enable debug and print in the i2c init of a stm32f4 or f1 board.

#### Expected results
See the output of the debug print
#### Actual results
Nothing gets printed and trying to write to the shell yields no result.

Mentione

[2018-12-14 08:41] #10395 closed

[2018-12-14 08:51] aabadie commented on #10614
The problem is that stdio_init is called by the newlib intialization [here](https://github.com/RIOT-OS/RIOT/blob/master/sys/newlib_syscalls_default/syscalls.c#L72) and this is done after `board_init` [here](https://github.com/RIOT-OS/RIOT/blob/master/cpu/cortexm_common/vectors_cortexm.c#L129). And all peripherals are initialized in `board_init` by a call to periph_init.

For testing purpose, I thi

[2018-12-14 08:59] MrKevinWeiss commented on #10614
Sounds like that could be it.  You want to fix it or shall I?

[2018-12-14 09:01] aabadie commented on #10614
Please go ahead :)

[2018-12-14 09:51] MrKevinWeiss commented on #10614
The nucleo-f303re doesn't print the init but at least doesn't lockup.  Would it be sufficient to attempt to prevent lockup?

I don't want to be responsible for "undesirable effects" and don't think I have the understanding to ensure nothing else gets effected.

[2018-12-14 09:56] aabadie commented on #10614
Maybe @gebart, @haukepetersen @kaspar030 will have a good opinion on that problem ?

[2018-12-14 10:31] gebart commented on #10614
I do not have much knowledge of the STM32 periph drivers, but some general thoughts regarding the uart initialization:
- It should not be an error to call uart_init again after it has been called once. Especially since we do not have an API for changing the RX callback after initialization.
- Having a check in uart_write to prevent hard faults if called before init is a good safety net. For these

[2018-12-14 17:03] 360disrupt commented on #10598
@kYc0o i#m having the same problem I first reinstalled those packages and then uninstalled them but I still get the same err.

Board: `samr21-xpro`
Mac OS 10.14.1 (Mojave)

[code]

[2018-12-14 20:47] kaspar030 commented on #10614
We should maybe move periph_init into auto_init, or into main_trampoline before the auto_init call.

[2018-12-14 21:02] Carton32 opened #10618 "Can't start application on STM32F3"
Hi everyone,

I have a custom board with a radio transceiver, a relay, a sensor for measuring current consumption values and some voltage transformers (230VAC to 12VDC, 5VDC and 3.3VDC). The board has either a STM32F303RB or a STM32F302RB. I have the same board for development which has a Nucleo-F303RE instead of a soldered microcontroller. The production boards don't have any serial output so I u

[2018-12-14 21:11] kaspar030 commented on #10618
This issue tracker is meant for issues within RIOT's code base, not for usage trouble. Next time, try the mailing list "devel@riot-os.org".

Can you, at that point, in GDB, try "print pc"? That might point to the address where the hard fault happens.

Better yet, try to get into gdb, reset using "monitor reset halt", set a breakpoint in "board_init()" and step through until you find the location o

[2018-12-15 17:55] pekkanikander commented on #10241
We used RF based HIL testing extensively in a couple of HW startups I was previously involved with, with good results.

Some lessons learned:

1. Designing and keeping in order the underlying Python library that implements the RF keywords is (was?) more an art than science.  You may want to have a dedicated person for this, and make sure that you don't get multiple Python scripts / RF keywords tha

[2018-12-16 20:30] keestux opened #10620 "rn2xx3: rn2xx3_write_cmd_no_wait can't be correct"
In the driver `rn2xx3`, the function `rn2xx3_write_cmd_no_wait` there is this code:

    mutex_lock(&(dev->cmd_lock));
    _uart_write_str(dev, dev->cmd_buf);
    _uart_write_str(dev, closing_seq);
    DEBUG("[rn2xx3] RET: %s\n", dev->resp_buf);
    mutex_unlock(&(dev->cmd_lock));
    return rn2xx3_process_response(dev);

Immediately after writing the command to the UART it prints and processes th

[2018-12-17 06:45] Carton32 commented on #10618
I could debug my app with your help. Thank you and sorry for posting this here. I thought at first this could be a RIOT bug...

The problem was in some gpio_init() of board_init(). I still can't explain why the code was working right after a flash but not after a hard reset (power off/on).

Anyway, thanks for your help again !

[2018-12-17 06:45] #10618 closed

[2018-12-17 07:41] gschorcht commented on #9582
@ZetaR60 Many thanks for your the very precise summary of what we are looking for and your analysis what the problems are. I completely agree with that. Let me comment some items.

When I was reading this, I was also wondering why we don't have a macro like `ADC_LINE(i)` or `DAC_LINE(i)` for GPIOs. You called it inverse function in #10504. The concept behind seems to be at least very similar if no

[2018-12-17 08:51] gschorcht commented on #9582
@ZetaR60 I'm really sorry, but I have to come back to the naming. After writing the extension APIs for ADC, DAC, and PWM and realizing true extension drivers for all of the extension APIs, I am still not satisfied with their naming scheme. It still seems inconsistent to me.

On one hand we have the macros:

`FOO_LINE_LL` for features provided by the MCU
`FOO_EXT_LINE` for features provided by exte

[2018-12-17 10:30] MrKevinWeiss commented on #10611
Hmm, true it does look a bit odd, I can't find P2IN.  Maybe the idea is to define it in the board.c similar to the P5OUT is done.  Either way I cannot test on a board though I can compile tests/buttons/

[2018-12-17 10:54] 360disrupt commented on #10598
My current solution:

- Dl EDBG from `git clone https://github.com/ataradov/edbg && cd edbg`
- `make all`
- export EDBG (`export EDBG=pathToBin` in my `.bash_profile`) or set when compiling with riot: `make flash BOARD=... EDBG=...`

[2018-12-17 12:59] jia200x commented on #10566
(updated with #10617 )

[2018-12-17 13:03] jia200x commented on #10566
I wonder why GNRC_IPV6_STATIC_LLADDR was not listed here :O

[2018-12-17 15:51] obgm commented on #10164
I just happen to need that. What is the status of your port?

[2018-12-17 15:54] gschorcht commented on #10164
@obgm No problem. I is just waiting for review.

[2018-12-18 10:13] jia200x commented on #10566
added LORA configurations to this list. They were not parse by the script

[2018-12-18 10:19] jia200x commented on #10566
@RIOT-OS/maintainers the `@config` group was already added in #10571. We politely ask request for your help on:
1. Add missing configurations to this tracker
2. Strike configurations that doesn't make sense
3. Pick one or more groups of these tracker and open PRs to add those configuration macros to the `@config` group. You can base e.g on #10617.

Thanks you all! ;)

[2018-12-18 10:45] miri64 commented on #10566
Because it is not `#ifdef`'d but only included over `defined(DOXYGEN)` (so there is no default value).

[2018-12-18 10:46] jia200x commented on #10566
I see

[2018-12-18 10:46] miri64 commented on #10566
Also please: if you introduce new configuration macros, we would be very happy if you group them under the new `config` group ;-).

[2018-12-18 10:53] jia200x commented on #10566
should `sys/auto_init` be configurable? Messing with those PRIOs can break several modules I guess

[2018-12-18 11:00] miri64 commented on #10566
A person configuring that should know what their doing, but it should be configurable ;-).

[2018-12-18 12:15] gschorcht commented on #10079
@jia200x Currently, I'm struggling with another strange problem. I tried everything to satisfy Codacy in PR #10033.

[Codacy check](https://app.codacy.com/app/miri64/RIOT/pullRequest?prid=2520085) complains in the `README.md` files in commit https://github.com/RIOT-OS/RIOT/pull/10033/commits/f9528ba8933b6215169fc8de4fe437d9a92c24a2 that I have no spaces in front of the list items:
`[list-item-inde

[2018-12-18 12:48] kubazdz opened #10628 "Can't read data from BH1750 senseor using STM32F3Discovery"
#### Description
BH1750 light sensor returns 0 lx

#### Steps to reproduce the issue
I'm trying to read values from BH1750 light sensor using STM32F3Discovery. I'm using GY-302 module. Tried on two different ones and the output is the same

Connections:

STM32              BH1750
5V ---------------> VCC
GND ------------> GND
PB6 -------------> SDA
PA7 -------------> SCL
5V ---------------> ADDR

C

[2018-12-18 13:15] kubazdz commented on #10628
Edit: I just found out that I had wrong pins for I2C connected, and switched it so that they matched pins that are initialized by RIOT

[2018-12-18 13:38] kubazdz commented on #10628
No, sorry I was just checking what happens now. Now i get the BH1750_ERR_I2C in return. I'm not sure if im passing right arguments to the bh1750fvi_init and bh1750fvi_sample functions, so now im trying to do it using i2c periph driver to check if it'll work this way

[2018-12-18 13:53] MrKevinWeiss commented on #10517
Figured it out, this is because the tests/periph_uart/main.c uses atoi to parse and an int is 16 bits for the atmega2560.
However looking in the datasheet I found that the calculation for baudrate is brr=fosc/(16*baud) - 1 not

`brr = (CLOCK_CORECLOCK + 8UL * baudrate) / (16UL * baudrate) - 1UL;`

oh boy...

[2018-12-18 14:44] Josar commented on #10575
seems to be updated now for outside US https://open-isa.org/order/outsideus/

[2018-12-18 14:59] kubazdz commented on #10628
using i2c periph driver output is the same

[2018-12-18 16:22] PeterKietzmann commented on #10444
The provided [mosquitto.rsmb log](https://github.com/RIOT-OS/RIOT/issues/10444#issuecomment-440582896) indicates that link local IPv6 addresses were used with which the broker has know issues. Furthermore the issue looks pretty like the issue explained in #9522. Thus, I expect `CFLAGS += -DGNRC_IPV6_NIB_CONF_SLAAC=1` to fix the problem. I'm closing this issue due to unresponsiveness. @scarabsoft p

[2018-12-18 17:21] PeterKietzmann commented on #9977
#9845, #10434 and #10553 were all merged so I'm closing this one again

[2018-12-18 17:21] #9977 closed

[2018-12-18 17:53] jcarrano opened #10634 "pyterm: weird behaviour with long lines."
#### Description

Pyterm fails to handle long input lines (more than 64 characters,)

#### Steps to reproduce the issue

Go to `tests/shell`. I used a samr21:

[code]

In the terminal, type a long line. No output will show up. Then type something else (say, `help`) a gardbage output follows:

[code]

Notice the garbage characters.

#### Expected results

Using another term (I use miniterm.py) give

[2018-12-18 18:03] gebart commented on #10634
Are you sure this is a bug in pyterm? The UART stdin input buffer is 64 bytes IIRC.

[2018-12-18 18:05] gebart commented on #10634
I replied too soon, I noticed that you tested another terminal. Does it also send the whole line in one go or does it send char by char like minicom?

[2018-12-18 18:43] PeterKietzmann commented on #4204
This issue is rather old and was opened in the initial days of xtimer where documentation wasn't barely in place. Nowadays nearly all tests have a README. Tests that don't provide one have clear statements about success/failure by their testrunner -> I'm closing this issue now

[2018-12-18 18:43] #4204 closed

[2018-12-18 18:49] miri64 commented on #10133
Since #10238 is merged and the rest are just additional features and tests, I consider this issue solved.

[2018-12-18 18:49] #10133 closed

[2018-12-18 19:18] miri64 commented on #10399
Ping @kaspar030?

[2018-12-19 06:54] kubazdz commented on #10628
I didn't fix the problem, but what i found is that bh1750 driver is not likely to work on stm32f3discovery because it uses i2c_write_byte function when stm32f3 i2c driver doesn't support it. In the i2c_1.c file (in stm32_common) there is only i2c_write_**bytes** function

[2018-12-19 08:03] scarabsoft commented on #10444
@PeterKietzmann sorry for the late response - I was in vacation without any technical device..

Side node: I changed my ipv6 from 2001:0db8 --> 2001:db8

Well I applied the flag to the Makefile and my if config looks like:

main(): This is RIOT! (Version: 2018.10-RC1-206-g455cd)
MQTT-SN example application

Type 'help' to get started. Have a look at the README.md for moreinformation.
got packet fr

[2018-12-19 08:55] gschorcht commented on #9789
@jcarrano Thank you for investigating the problem in more detail. I'm not sure, but it might be that

- https://github.com/doxygen/doxygen/issues/2344
- https://github.com/doxygen/doxygen/issues/6617

are describing a problem that is slightly different. They have different enumerations with same member names. In our case, we have enumerations with same name and same as well as additional member na

[2018-12-19 08:56] gschorcht commented on #9789
Maybe we sould open a new issue with a short description of the problem and the options we have as RFC.

[2018-12-19 09:18] PeterKietzmann commented on #10444
The output you posted is from`ifconfig` on the samr21-xpro with ethernet/ethos?

On the wired interface there's no global address. @miri64 ideas?

[2018-12-19 10:15] scarabsoft commented on #10444
Yes, I guess so. Its connected via USB

[2018-12-19 10:39] Citrullin commented on #10443
@frodak17 I think the question is more: Is it part of the C11 standard? I mean the C11 standard specifies threading, but not as pthreads. If it is against the standard: I totally agree with you, it shouldn't be part of the header files then. But if it is in the standard, it should also be part of newlib.

[2018-12-19 11:14] #10614 closed

[2018-12-19 12:13] miri64 commented on #10413
This proposal sounds sane to me. I would however add something like "The state of the data retrieval buffer is not defined on error", so we avoid requiring a reset or something like that in an error case.

[2018-12-19 12:43] kaspar030 commented on #10634
That buffer is defined in ```sys/stdio_uart/stdio_uart.c```. It is necessary because within the UART ISRs, we have to get rid of incoming characters *fast*, thus there's a ringbuffer that can always (unless full) be written to within an ISR. If that buffer is full, e.g. when receiving bytes faster than the shell can consume them, bytes get dropped.

[2018-12-19 12:56] gebart commented on #10413
@miri64

Sounds good to me, the buffer should not contain anything important anyway since the caller was expecting to have it overwritten by the received frame before the error occurred.

[2018-12-19 13:45] kaspar030 commented on #10413
I think you both are talking about different buffers, if I understand the argumentation correctly.
@miri64 means that the supplied (to recv()) buffer might have some bytes changed, e.g., recv() might touch the buffer even if it is actually dropping the frame. This might help implementations where reading from the device (even if partly) needs a buffer, and it would otherwise, in the error case, ne

[2018-12-19 13:48] maribu commented on #10413
@kaspar030: Thanks for your explanation. Now that I understand what @miri64 meant I totally agree :-)

[2018-12-19 14:25] jcarrano commented on #10634
I confirm this is a bug in RIOT and not in pyterm. I have a minimal example. I will close this and open another PR.

It is not about speed, In my example I lowered the baud rate to 1200 and it is still failing (and even before, it would be very unlikely that the shell could not react fast enough to a mere 11k chars a second).

[2018-12-19 14:25] #10634 closed

[2018-12-19 14:34] miri64 commented on #10413
Yes I meant the supplied buffer to the `recv()` method. Sorry for the confusion.

[2018-12-19 15:30] jcarrano opened #10639 "sys/stdio_uart: dropped data when received at once"
#### Description

When a long stream of characters (greater than 64 bytes, that is the default receive buffer size) is sent all at once to the UART, there is data loss, even though there is enough resources to process all the data.

I could verify this issue on samr21-xpro and pba-d-01-kw2x. Additionally, I used an oscilloscope to make sure that the usb-serial converter was not interfering with co

[2018-12-19 15:30] jcarrano commented on #10634
I moved this to a new issue (#10639 )

[2018-12-19 16:09] kaspar030 commented on #10639
Don't understimate the amount of work that the MCU is doing here. Even if the data trickles in at only 1200baud, there'll be an interrupt for every character, with all the context switches that are necessary. There's also no flow control. What probably happens here is that the MCU is busy serving UART interrupts and context switches until the stdio buffer is full, at what point it'll have to drop

[2018-12-19 16:51] jcarrano commented on #10639
I doubt it. I lowered the baud rate to 600 baud (that's 60 characters a second). The problem persists. I timed the interrupt. I modified https://github.com/RIOT-OS/RIOT/blob/68dc5b0d6e0422df9c3653c2cb8021fc35974aae/cpu/sam0_common/periph/uart.c#L139-L152 to

[code]

And it's clocking _consistently_ at 7.05µs on samr-21. For reference, there is one reception each 16ms.

[2018-12-19 16:56] kaspar030 commented on #10639
You mean ```GPIO_PIN(1, 02)``` goes high every 7µs? Only if there is a transfer or permanently?

[2018-12-19 17:40] kaspar030 commented on #10639
Ok, there's indeed something odd. 16.7ms should actually be enough for thousand context switches, and definitely enough for one plus a little ringbuffer read.

[2018-12-20 16:39] gebart opened #10645 "stdio_init happens late during boot"
This applies to newlib platforms at least, possibly others.

### Actual behavior

stdio_init is called from _init which is run after board_init. This has the downside that it is not possible to use printf or DEBUG from board_init or from the init function of periph drivers which are initialized by periph_init, e.g. SPI, since those run before _init.

### Desired behavior

stdio_init should be call

[2018-12-20 16:53] kaspar030 commented on #10645
How about moving it into kernel_init()?

[2018-12-20 20:22] dylad commented on #10645
Moving it to `kernel_init()` will not help since it is called even after `__libc_init_array() ` (for cortexm_common).
Maybe we should moving it to `cpu_init()` or `board_init()` ?

[2018-12-21 07:42] gebart commented on #10645
board init might be the best location since the board developer should be aware of which hardware modules need to be initialized before stdio can work.

[2018-12-21 08:18] aabadie commented on #10620
Thanks for the detailed analysis @keestux. There is indeed something wrong and that should be changed. Maybe we could get rid of `rn2xx3_write_cmd_no_wait`, since it's only used in one place.

I'll see if I can find some to time to have a look.

[2018-12-21 08:32] maribu commented on #10413
No that I know what you meant it is obvious to me. Everybody else understood you right away, so it's me not reading properly ;-)

[2018-12-21 08:33] gebart commented on #10575
I propose we update this issue into a tracker for the porting effort for the Vega board.

[2018-12-21 08:37] maribu commented on #10413
So, there seems to be an agreement reached?

If `recv()` was called with `buf != NULL` and `buf_len < frame_len`, then:
- Drop the received frame
- Do not retrieve any data
- Return -ENOBUFS
- The caller must expect that the content of the buffer in parameter `buf` is undefined garbage
    - This allows the driver to use this buffer to implement the dropping case more efficiently - or to not touch

[2018-12-21 09:35] dylad commented on #10645
As I see, most (almost all ?) `periph_init()` are called within `cpu_init()` of each platform. Moreover, `cpu_init()` is called from `board_init()`. But we cannot call `periph_init()` before our clocks are setup which happen during `cpu_init()` BUT to solve our issue we must call `stdio_init()` BEFORE the end `cpu_init()`. This also means we cannot call `stdio_init()` from `board_init()`.

It give

[2018-12-21 09:42] aabadie commented on #10645
This is what I did when working STM32s I2C unification, especially because of this.

[2018-12-21 11:43] Citrullin commented on #10575
Maybe [this](https://github.com/zephyrproject-rtos/zephyr/pull/11853) is helpful for the implementation

[2018-12-21 13:17] #10068 closed

[2018-12-21 18:57] gebart commented on #10413
@maribu :+1: from me

[2018-12-21 21:34] gebart commented on #10575
I started outlining a few tasks for the Vega port in the top post

[2018-12-21 21:45] gebart commented on #10575
My approach to this will be to attempt to get the Cortex-M4 core to run RIOT first, since that should be very similar to simply adding one more Kinetis CPU variant. I believe this MCU may possibly be a close relative to the not yet released K32W0x with extra RISC-V cores.

[2018-12-22 08:32] gebart commented on #9582
The thing with ADC_LINE and DAC_LINE is that it may not be useful to create DAC_PIN(port, pin) macros for them since the MCUs may only have a handful of possible pins where to map the analog functions to, unlike gpio which usually is mappable to almost any pin. The mapping from package pin to adc module and internal adc channel number may not have a simple function but may require a look up table,

[2018-12-22 11:12] gschorcht commented on #9582
@ZetaR60

Agreed.

Yes, that's clear.

We should keep that in mind for further PR. We could open an new issue not to forget it or we could add a ToDo list to this issue.

Ok, I read your explaination again and I tried to understand your intention of the hierarchical concept. And yes, it is probably a question of different perspectives. If I understand you correctly, you consider MCU GPIOs as part

[2018-12-22 11:33] gschorcht commented on #9582
@gebart

In reality, the mapping is defined by the board developer in static const arrays. The only chance for the application developer to change this mapping is to overwrite the complete `periph_conf.h` of the board definition by an application-specific version of `periph_conf.h`.

To have the possibility to address a channel of a certain ADC device, I proposed to change the `ADC_LINE` and `DAC_

[2018-12-22 11:49] gschorcht opened #10650 "[RFC] $(APPDIR) as first entry in the INCLUDES variable"
#### Description

Applications often need to include header files from their directory, for example, to override a parameter configuration file of a driver. To include such a file instead of the overridden file, $(APPDIR) has to be added as the first entry to the `INCLUDES` variable. This can either be done in application's `Makefile` or in application's `Makefile.local`.

#### The question
Would

[2018-12-24 01:11] gschorcht opened #10651 "Tagged version of LOG_* macros"
#### Description

There are many different output formats used with the `LOG_ *` macros. The formats that have been found are:
[code]
The same for LOG_ERROR and LOG_WARNING.

#### Feature request

To avoid that each module is using its own output format and to be able to implement a uniform format for all LOG_ * messages, there should be tagged versions of these macros LOG_TAG_INFO (tag, ...) that

[2018-12-24 09:14] gebart commented on #10651
I think this would be a useful improvement. It would allow changing formatting in the future to allow e. g. JSON formatted logs for easier processing for automated testing. If `-DMODULE=$(MODULE)` is passed on the compiler command line it could be implemented quite straightforward as

[code]
or something similar, (unsure about the preprocessor stringification syntax, writing from the phone)

[2018-12-26 19:58] maribu commented on #10413
Ok, [this PR](https://github.com/RIOT-OS/RIOT/pull/10657) applies the current consensus to the doc *and* *other* similar changes on `netdev_driver_t::recv()`s documentation. I split each change into a separate commit to allow discussing them one by one and easily split off controversial parts into a separate PR -- if any.

[2018-12-27 11:11] gschorcht opened #10658 "cpu/esp*: tracking issue for refactoring of ESP MCU implementations"
#### Description

There are already parts of MCU implementations for ESP8266 and ESP32 SoCs which are almost identical or at least very similar. Examples are the implementations of

- context handling, context switching and low level interrupt handling (`cpu/esp*/vendor/xtensa/*`)
- ESP-NOW netdev driver and interface (`cpu/esp*/esp-now`)

All other parts are completely different at the moment, si

[2018-12-27 21:11] KillerLink opened #10664 "TCP Sockets can not be used / built"
#### Description
Can not build code using TCP sockets by writing `USEMODULE += gnrc_sock_tcp`.
I assume part of the probleme might be missing implementation? As you can see in [1] there only is a directory for UDP (which i successfully used previously) but not TCP. Since the documentation [2] describes the use of TCP by example and explicitly states

i considered this a bug (as opposed to a featur

[2018-12-28 16:09] kb2ma commented on #10566
Reviewed gcoap section -- looks good! Added sections for coap and nanocoap in the list above. The items I added are not set up presently for external override (they are just #define, not #ifndef/#define/#endif). However, I'll do that in the PR where I add the config group tags.

[2018-12-28 20:16] miri64 commented on #10413
@kaspar030 @gebart can you maybe also have a look at #10657?

[2018-12-29 12:49] miri64 opened #10672 "gnrc: runs full on very heavy load"
#### Description
When using a 6Lo capable node, I am able to cause one node to have a full packet buffer. The packet space is never released, so the node basically becomes unreachable.

This was originally reported in https://github.com/RIOT-OS/RIOT/pull/10581#issuecomment-450367114

#### Steps to reproduce the issue
Compile `gnrc_networking` on native with

[code]

Run two instances of it

`nativ

[2018-12-29 12:50] gschorcht opened #10673 "periph/i2c: return values of i2c_aquire and i2c_release"
#### Description

I have read very carefully all related issues #6577 and PRs #6575, #6576 to figure out the answer to the following question:

For which purpose do the `i2c_acquire` and `i2c_release` function still have a return value. In fact they simply lock and unlock a mutex on all platforms. Since `i2c_acquire` blocks until the mutex can be locked, the function will not fail.

Some implement

[2018-12-29 13:03] gschorcht commented on #10672
Build environment for ESP32:
[code]

[2018-12-29 13:08] #10531 closed

[2018-12-29 13:09] miri64 commented on #10672
Yep...

[2018-12-29 13:11] gschorcht opened #10674 "dist/tools/ci: print_toolchain_version requires update for ESP toolchains"
#### Description

`./dist/tools/ci/print_toolchain_versions.sh` doesn't print any information related to installed ESP toolchains.

#### Steps to reproduce the issue

Try `./dist/tools/ci/print_toolchain_versions.sh` in riotdocker.

#### Expected results
[code]

[2018-12-29 13:33] miri64 commented on #10674
See #10675 for a fix.

[2018-12-29 13:34] #10413 closed

[2018-12-29 14:37] miri64 commented on #10672
Since I can't reproduce in `native` with `netdev_tap` this points to an issue with 6Lo.

[2018-12-29 14:44] #10674 closed

[2018-12-29 14:56] miri64 commented on #10672
@TimoRoth This is why I don't believe it is the `gnrc_icmpv6_echo` implementation.

[2018-12-29 15:52] gschorcht commented on #10672
Hm, I realized now that I lost a prepared big comment in #10581 last night with the results of 3 hours of investigation with `airdump` :worried: This could have helped you a lot to investigate. When I was investigating the problem with `airdump` I could observe the following:

- 6Lo is working as expected. There are fragments with 1 byte `esp_now_header_t`, 5 bytes 6Lo header and 240 data.
- Data

[2018-12-29 15:55] gschorcht commented on #10672
But, increasing the reassembly buffer size alone didn't solve the problem.

[2018-12-29 17:00] miri64 commented on #10672
Also doesn't explain, why the packet is never released again. The datagrams with lost fragments should be garbage collected after 3 sec

https://github.com/RIOT-OS/RIOT/blob/a87c2c9563320776d3b9bf8247c92787c98d6f83/sys/net/gnrc/network_layer/sixlowpan/frag/rbuf.h#L34

https://github.com/RIOT-OS/RIOT/blob/a87c2c9563320776d3b9bf8247c92787c98d6f83/sys/net/gnrc/network_layer/sixlowpan/frag/rbuf.c#L219

[2018-12-29 17:44] gebart commented on #10673
I agree, the way we use the api and the way it is implemented makes the return value an unnecessary complexity.

[2018-12-29 19:58] miri64 commented on #10672
I was at least able to confirm, using [this branch] that it neither is our ping implementation nor some lingering datagrams in the reassembly buffer that cause this problem.

[2018-12-29 20:02] miri64 commented on #10672
(I also added temporarily a `memset()` when freeing segments in the packet buffer. There is still readable data in the packet buffer, so this are definitely unfreed packets.

[2018-12-29 21:11] miri64 commented on #10672
I was able to run reproduce in Valgrind (using `gnrc_pktbuf_malloc` instead of `gnrc_pktbuf_static`). To be able to run with `socket_zep`

I needed to patch the `cpu/native/Makefile.include` (maybe something for @cladmi or @jcarrano to investigate?):

[code]

With `VALGRIND_FLAGS="--leak-check=full --show-leak-kinds=all"` I was able to reliably get the same heap summary at least twice:

[code]

(w

[2018-12-29 22:01] miri64 commented on #10672
I found some bug, but it doesn't resolve it completely (I still have a full packet buffer later): https://github.com/RIOT-OS/RIOT/pull/10679

[2018-12-29 22:07] miri64 commented on #10672
(kind of a sad news good news situation: I can't reproduce the bug with Valgrind anymore with #10679 anymore, but still with normal `gnrc_pktbuf_static`).

[2018-12-30 15:05] miri64 commented on #10672
Both fixing PRs are merged and I can't produce the steps to reproduce anymore.

[2018-12-30 15:05] #10672 closed

[2018-12-30 15:44] gschorcht opened #10682 "cpu/esp_common: esp_now netdev problems"
#### Description

Although the problems described in issue #10672 were solved, there seem to be further problems that occur on heavy load, at least for ESP-NOW:

1. sometimes 6Lo fragments are kept in the packet buffer
2. a single ping with no data is not possible after heavy load with ping timeouts

#### Steps to reproduce the issue

Precondition:
- Test with two ESP32 nodes, one pinging and one

[2018-12-30 16:01] gschorcht commented on #10682
@TimoRoth Unfortunatly, it seems to be a problem of `esp_now_netdev` ringbuffer since it `_recv` returns:
[code]

[2018-12-30 16:46] gschorcht commented on #10682
Reason is not really clear yet. When the test has been finished, available bytes in `esp_now_netdev` ringbuffer should be 0. But in my test, for example:
- on both nodes, 729 bytes available in the buffer
- on answering node, the read position is 343

When the single small ping frame arrives on answering node
- it is written to ringbuffer position 1072
- but 6Lo reads from 729 wrong data, an old 6

[2018-12-30 17:13] gschorcht commented on #10682
@TimoRoth I have counted the generated `NETDEV_EVENT_ISR` and `NETDEV_EVENT_RX_COMPLETE` events. It seems that some `NETDEV_EVENT_ISR` generated by `esp_now_netdev` gets lost. This happens first exactly at the same time when first `ping timeout` occurs. The result of lost `NETDEV_EVENT_ISR` events is that subsequent `NETDEV_EVENT_ISR` and following `NETDEV_EVENT_RX_COMPLETE` events trigger the rea

[2018-12-30 17:14] gschorcht commented on #10682
The question is now why `NETDEV_EVENT_ISR` event gets lost an whether this is caused by `esp_now_netdev`.

[2018-12-30 17:33] TimoRoth commented on #10682
My first idea, without looking at the code, would be a failing msg_try_send somewhere, because the queue on the other end is full. If that's the case, I'm not really sure how to properly handle the situation though.

[2018-12-30 17:50] gschorcht commented on #10682
This is exactly what I though, but in that case we should get `gnrc_netif: possibly lost interrupt` message
 https://github.com/RIOT-OS/RIOT/blob/d3f78a5a4008a640ce4ad24743c77bfdc97c7730/sys/net/gnrc/netif/gnrc_netif.c#L1362-L1369 from here.

[2018-12-30 17:58] TimoRoth commented on #10682
Hm, as we are not in an ISR but in the wifi thread when calling the event cb, this msg_send will actually block and not return until the message was delivered.

[2018-12-30 18:02] gschorcht commented on #10682
`gnrc_netif` has a message queue of size 8. Should not be blocking until the message queue is full.

[2018-12-30 18:17] gschorcht commented on #10682
Unfortunately you are right. Since we are not in an ISR the `wifi` thread would indeed block when queue is full and we don't get the `gnrc_netif: possibly lost interrupt` message at all. Bad for two reasons:
- We don't have any option to use `msg_try_send` instead of `msg_send`.
- The `wifi` thread can be blocked which must not happen.

On the other hand, if the message queue would become full and

[2018-12-30 21:16] miri64 commented on #10682
Might be a good idea to change that to a `msg_try_send()`. But this doesn't fix the problem of the filling ringbuffer of course :-/.

[2018-12-30 22:08] gschorcht commented on #10682
I have already an idea but I'm not at my desk. I will try it later tonight.

[2018-12-31 01:57] gschorcht commented on #10682
I tried the following two changes:

##### 1. Approach
I tried to simulate that we are in an ISR when we call
[code]
to get the error message when the event is lost. With `irq_interrupt_nesting` counter greater than 0, `irq_is_in()` returns `true`. Since interrupts are disabled and context switches are not possible if `irq_is_in()` returns `true`, this change shouldn't cause any problem.
[code]
It

[2018-12-31 02:58] gschorcht commented on #10682
In principle, `esp_now_recv_cb` calls `esp_now_netdev::_recv`directly. If this is faster than the next fragment can be received, we should neither need the ringbuffer nor the mutex `dev->rx_buf`. A single `_buffer` for one esp-now packet and a flag `_buffer_used` which indicates whether the buffer is already used should be enough.
[code]

[2018-12-31 08:09] miri64 commented on #10682
Is the `wifi` thread distinct from the thread, `gnrc_netif` is running in?

[2018-12-31 08:11] miri64 commented on #10682
@kaibeckmann This discussion might also be of interest for your `rail` port.

[2018-12-31 08:52] gschorcht commented on #10682
@miri64

Yes, the `wifi` thread is a separate thread with prio 1 handling the `WiFi` hardware. Since `gnrc_netif::_event_cb` is called from `esp_now_recv_cb` which is called in `wifi` thread context, `gnrc_netif::_event_cb` is executed in the `wifi` thread context.

[2018-12-31 09:50] dylad commented on #10673
This is true, nevertheless, when we started the I2C rework, we were thinking about expanding stuff within those functions. So that they can also setup/disable peripheral clock (to save power), setup DMA or CPU specific actions.
I think  this is why we kept a return value.

But I am not opposed to remove it :)

[2018-12-31 10:12] gschorcht commented on #10673
Indeed, some CPUs are doing this, but at least for the moment without error handling.

[2018-12-31 11:55] dylad commented on #10673
This is mostly because we didn't put much effort on this specific part during the refactoring because we already had enough problems. So we kept it as it was in master at this time but added the return value for potential future use.
I wanted to use it on SAM0 I2C driver but never found time for this.

[2018-12-31 12:18] gschorcht opened #10686 "[RFC] Definition of error codes returned from driver functions"
#### Description

Very often, driver functions return error codes that can be checked by the application to deal with errors.

#### Question

Which of the following approaches is the best way to define and deal with error codes that are returned from driver functions:

1. Define positive `ERROR_CODES` and retrurn `-ERROR_CODE`.
2. Define negative `ERROR_CODES` and return simply `ERROR_CODE`.

Appr

[2018-12-31 12:39] dylad commented on #10686
My personal taste goes for 1.
Should we also consider using errno everywhere to handle error code ? (like the I2C API)

[2018-12-31 13:39] TimoRoth commented on #10682
It definitely seems like an improvement to me, and the ringbuffer is indeed not needed anymore then, since the buffer content will be read in the same thread, at least from how I understand the flow. I think a separate field for the rx_len would be nicer than using the first byte of the buffer, but otherwise it seems ok to me.

[2018-12-31 14:00] gschorcht commented on #10682
I would suggest to change it in two steps. In first step, we improve the stability using approach 2 in https://github.com/RIOT-OS/RIOT/issues/10682#issuecomment-450600883. In second step, we can optimize it. I will also have to check whether these changes work with ESP-NOW on esp8266.

I can provide a PR for step 1.

[2018-12-31 14:06] TimoRoth commented on #10682
There is also still the issue remaining with the stuck gnrc pktbuffers, which I doubt are caused by that. But that needs addressed separately.

[2018-12-31 14:30] gschorcht commented on #10682
After my changes I couldn't observe any packet buffer problems anymore.

[2019-01-02 09:49] jia200x commented on #10566
thanks @kb2ma for the review!

[2019-01-02 09:56] jia200x commented on #10566
there are some options missing in loramac. I will add them in a follow-up PR. Unchecked the `loramac` checkbox to reflect this ;)

[2019-01-02 14:32] gschorcht commented on #10682
@miri64 It would help to use `msg_try_send()` if https://github.com/RIOT-OS/RIOT/blob/d3f78a5a4008a640ce4ad24743c77bfdc97c7730/sys/net/gnrc/netif/gnrc_netif.c#L1358 would return an error if `msg_try_send` failed. In that case, the caller would be able to decide what to do independent on whether it is done in interrupt or thread context. In our case, for example, it would probably be better to drop

[2019-01-02 16:02] MrKevinWeiss commented on #10686
Yup, UNIX style + errno gets my vote!

[2019-01-02 16:37] MrKevinWeiss commented on #10628
Also, just to be sure you are defining `#define I2C_INTERFACE I2C_DEV(1)` meaning that you use
[code]
and you are **NOT** using  `#define I2C_INTERFACE I2C_DEV(0)`  which would require
[code]
for the stm32f3discovery board

[2019-01-02 17:49] gschorcht commented on #10682
Finally, I could figure out the problem why some ISR events gets lost. I will provide a PR in next hours.

[2019-01-03 07:43] MrKevinWeiss commented on #10628
Hmm according to the [datasheet](https://www.mouser.com/ds/2/348/bh1750fvi-e-186247.pdf) it says max voltage is 3.6 volts not 5, hopefully you didn't blow the chip.

[2019-01-03 08:05] MrKevinWeiss commented on #10628
I think I figured it out.  The i2c address are incorrect.  According to the datasheet the `BH1750FVI_ADDR_PIN_HIGH` should be 0x5C and the `BH1750FVI_ADDR_PIN_LOW` should be 0x23.  Since the `BH1750FVI_DEFAULT_ADDR == BH1750FVI_ADDR_PIN_HIGH` it means that the truly low state should be what is used, which is actually the default... Sorry :disappointed:

Quick fix, remove the +5V from the ADDR pin

[2019-01-03 08:16] MrKevinWeiss commented on #10628
@kubazdz Please let me know if this fixes the issue.  I was able to get it running on my setup (though I was using a nucleo-f303re).

Also thanks for catching and reporting this bug, we appreciate it! :+1:

[2019-01-03 08:50] #10628 closed

[2019-01-03 09:56] kaspar030 commented on #10686
+1, as long as "errno" means just using the error defines from errno.h, not using the errno variable!

[2019-01-03 10:00] kaspar030 commented on #10686
I think we should not be dogmatic on this. This should be phrased as "try using errno error codes", maybe not mixing them with custom ones. If there's a case where errnos just don't fit, it is acceptable to have custom error codes.

[2019-01-03 13:12] MrKevinWeiss commented on #10375
@andrea-nisti It looks like an interesting chip.
I am not sure how to answer that question since I could not find the reference manual or any way to purchase the chip or module.  It also appears that it uses both an M4 and M0 which may take some effort to port.

If ST releases the reference manual or if you are able to find it, please post a link and I or someone can spend some time looking throug

[2019-01-03 14:57] #10335 closed

[2019-01-03 16:10] miri64 commented on #10566
Not sure this sure this should be configurable. In the end, the one supposed to provide the (human readable) name is the network stack, so increasing or decreasing the length of this makes no sense (or at least implementations very complicated.

[2019-01-03 16:41] kb2ma commented on #10566
Thanks for shepherding the CoAP PR's for this, @miri64!

[2019-01-03 17:43] #10517 closed

[2019-01-03 17:58] gschorcht commented on #10672
@miri64 Unfortunatly, the problem with stucked 6Lo packets in GNRC packet buffer still remains :worried:

When I was testing my fixes and optimizations of `esp_now_netdev` in PR #10700, I could observe it several times.

I could still observe the same problem with 3 `iotlab-m3` nodes with the current master branch. Should I reopen this issue or we create a new one?

[2019-01-03 18:15] gschorcht commented on #10672
@TimoRoth Could you take a look to the changes?

[2019-01-03 18:21] TimoRoth commented on #10672
The only issue I found in #10700 so far is fixed in a later commit of it already. I'll give it a try this weekend and report how it performs.
As to this issue, I have also observed leftover packets things in the gnrc packet buffer, and I can't possibly see how esp-now or esp-eth would be causing it, so I very much think there is still a lingering issue somewhere.

[2019-01-03 21:37] gschorcht commented on #10672
Sorry, wrong issue.

[2019-01-03 23:18] gschorcht opened #10701 "gnrc: packet space in gnrc packet buffer is not released on very heavy load"
#### Description

The behavior was originally reported in https://github.com/RIOT-OS/RIOT/pull/10581#issuecomment-450367114 and later reproduced in issue #10672.

I could reproduce a similar or the same behavior for `iotlab-m3` nodes. Fixes provided with PR #10679 and PR #10680 were already applied.

If you are using 6Lo-capable nodes, it is possible that packet space for some packets will never b

[2019-01-03 23:36] gschorcht commented on #10701
@miri64 I could reproduce the problem with only 5 simultaneous pings in each direction with MRF24J40.

[2019-01-04 00:57] gschorcht commented on #10701
@miri64 Might this https://github.com/RIOT-OS/RIOT/blob/b77c802f9b68d9272da21386a4d0ccee4677ac59/sys/shell/commands/sc_icmpv6_echo.c#L248-L253 and https://github.com/RIOT-OS/RIOT/blob/b77c802f9b68d9272da21386a4d0ccee4677ac59/sys/shell/commands/sc_icmpv6_echo.c#L256-L262 be potential leaks?

I went through `pktbuf` code and if I didn't miss something the `gnrc_pktbuf_release(pkt)` releases `pkt` in

[2019-01-04 06:49] kubazdz commented on #10628
@MrKevinWeiss I'll try it as soon as I'll can and let you know. Thanks a lot

[2019-01-04 10:56] #1366 closed

[2019-01-04 11:34] miri64 commented on #10701
I wasn't really able to reproduce the `iotlab-m3` scenario in current master :confused:. @gschorcht have you tried your fix? It looks valid (I would choose the name `payload` though, to make the code less confusing). Also, please try with #9523 (we should still fix first before adopting #9523).

[2019-01-04 11:48] #10594 closed

[2019-01-04 13:08] gschorcht commented on #10701
Strange, I could reproduce it again and again. Will try it again too.

Yes, but didn't help since in all case already the first allocation failed. https://github.com/RIOT-OS/RIOT/blob/b77c802f9b68d9272da21386a4d0ccee4677ac59/sys/shell/commands/sc_icmpv6_echo.c#L238

[2019-01-04 15:31] gschorcht commented on #10701
Yes, I was using: `m3-100.grenoble.iot-lab.info`, `m3-101.grenoble.iot-lab.info`, `m3-102.grenoble.iot-lab.info`

[2019-01-04 20:23] keestux commented on #10177
I agree with @jcarrano

Here I disagree, I **do** think it is bad to ignore `volatile`. It is explicitly written as undefined behaviour [1].

[1] https://en.cppreference.com/w/c/language/volatile

[2019-01-04 22:22] aabadie commented on #10192
The automatic test script was improved in #10588 to avoid these timeout problems on nrf51 based boards (but also on atmega2560). Now it also works well on b-l072z-lrwan1.
Maybe we can close ?

[2019-01-06 17:17] benemorius opened #10715 "What's the most RIOT-like way for a shell command to quit on ^C without wasting a thread to block on reading stdin?"
I'm implementing a telnet server and a kernel message ring buffer (#7446) with a shell command like `dmesg` to read and clear it. I want to add `dmesg -w` (works like `tail -f`) which mustn't return until the user interrupts it.

I'm not sure of the best way to do this without dedicating a thread to block on reading `stdin`.

I don't think we can `fcntl(STDIN_FILENO, F_SETFL, O_NONBLOCK)` but even

[2019-01-07 08:20] MrKevinWeiss commented on #10673
Although I am not strongly opposed to removing it as well, however, I tend to think that, since it isn't introducing bugs, it allows better future proofing, and it doesn't add that much to code size, it would be better you spend time on more bug fixes, testing, board support, features, etc.

[2019-01-07 09:55] gschorcht commented on #10673
@MrKevinWeiss A return value that is ignored for 90% of the calls has no value. If there is a return value, drivers should not rely on the knowledge that the return value is not set anyway by the called function, since this can be changed in the future. That means the drivers would have to check that. However, checking the return value increases the code size, which in turn makes no sense for a re

[2019-01-07 10:18] dylad commented on #10673
@gschorcht is right here. The question that we must answer is: Should we use these return values for the purpose we want and thus increase code size ?
I think dropping these return values makes sense for the sake of simplicity. Even if we add more features to the acquire/release like setting clock, this should not fail (if the configuration is correct). This way, assertions should be enough for de

[2019-01-07 10:39] andrea-nisti commented on #10375
@MrKevinWeiss I discovered that this chip is still under preview, not really sure when available for us mortals. Anyway, I really think this could be an awesome solution for embedded IOT applications and as soon as possible I will play with it.

Through the STM MCU Finder I downloaded the datasheet, you can find it at [this](https://1drv.ms/b/s!Avq0vFmfOUSQwyzRsq1jTGWe4vcw) link

[2019-01-07 10:58] #4857 closed

[2019-01-07 11:06] MrKevinWeiss commented on #10375
Ya, it is very fresh but very cool.  Thanks for the datasheet but I think the reference manual is what I would need.  Everyone has their own naming conventions.  What I would be interested in would be the register map, then I can compare which register functions match with what we already have.

I guess we just have to patient until it is released!

[2019-01-07 11:20] andrea-nisti commented on #10375
Oops, my bad. Yes apparently ref manual it is still not available, we will wait. Moreover, I am going to visit ST in Milan pretty soon as I have a meeting with a business manager (i think) there. I will certainly ask when I could lay my hands on that chip and keep you updated.

[2019-01-07 15:33] miri64 opened #10723 "gnrc_ipv6_nib: 6Lo-ND EUI-64 checks not portable"
#### Description
Capabilities of 6Lo-ND to get a device's EUI-64 for the [ARO](https://tools.ietf.org/html/rfc6775#section-4.1) are not portable beyond IEEE 802.15.4 at the moment. The two culprits for that are

https://github.com/RIOT-OS/RIOT/blob/242bb55c249a4a055c80a3e5426cec0e5659f3ef/sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.c#L60-L65

Which expects the device to provide `NETOPT_ADDRESS_L

[2019-01-08 11:31] kb2ma opened #10731 "nanocoap: incomplete response to /.well-known/core request"
#### Description
nanocoap client does not receive a complete response when send blockwise, for example a response from a nanocoap server for /.well-known/core.

A gcoap client experiences the same problem, but this report focuses on nanocoap.

#### Steps to reproduce the issue
A nanocoap server's /.well-known/core resource uses the CoAP block extension to return the resource over multiple response

[2019-01-08 11:41] kb2ma opened #10732 "Completing CoAP Block implementation"
Presently, nanocoap includes server side implementations of block1 and block2. We would like to add client side implementations. At the same time, we are working to complete the Packet Write API as described in #9309 to make the block implementation available to gcoap as well. So, this document describes how we plan to integrate the client side implementations, including the function names. We bre

[2019-01-08 13:21] andrea-nisti commented on #10375
For the curious people around, ST is organizing a workshop exclusively on STM32WB before its launch on the market. Check [this](https://www.st.com/content/st_com/en/about/events/events.html/stm32wb-hands-on-workshop-2018.html) link for reservations and dates, it's free!
I am going to this workshop in Milan on Feb 13th but there are many dates and locations around europe

Sending a couple of RIOT m

[2019-01-08 14:13] kaspar030 commented on #9690
I'd like to take another look at the redirection method.

I haven't taken an in-depth look at the API changes other than for gpio, so this applies mostly to gpio.

The reason why we want to change all the API's in the first place is that we need to support multiple "providers" of the functionality (I2C gpio extenders, bitbanging soft bus implementations, UART-over-USB, external ADC/DAC, ..). Ideal

[2019-01-08 16:45] Sunnyone1234 opened #10733 "unsatisfied feature requirements: periph_gpio_irq periph_spi EXPECT ERRORS"
#### Description

Example: Cannot build gnrc_networking application for native.

#### Steps to reproduce the issue

Before i can complie gnrc_networking very easy by type "make". But today when i do it again there are some error messages like:

[code]

Then I try to solve this error and have added
[code]
in Makefile.
The error message still here but without the feature requirements
[code]

I have

[2019-01-08 17:02] aabadie commented on #10733
Note: I updated your initial comment it more readable. In Markdown, the syntax to highlight outputs is to put triple back quotes around them not `---------` (this is for titles).

Concerning your problem, it works for me with latest master.

What version of RIOT you using ? (you can paste the output of `git log -1`)

[2019-01-08 17:07] Sunnyone1234 commented on #10733
Thanks i have used
-------
    commit 1d95da01fa9b37837b99a6e450c093a84a59f0e9 (HEAD -> master)
    Merge: ce5cd0591 672368954
    Author: Kevin "Bear Puncher" Weiss <weiss.kevin604@gmail.com>
    Date:   Fri Nov 2 15:31:26 2018 +0100

    Merge pull request #9211 from Josar/pr/xtimer_target_overflow

    xtimer: timer & target overflow, hang resolved.

[2019-01-08 18:17] ZetaR60 commented on #9690
@kaspar030 Looks like your summary of the work and the considerations involved is pretty spot-on.

If we are going the path of passing around pointers or structs to identify devices rather than ID numbers, then there are some big advantages that a more general transition would offer if we do some thinking about forward compatibility now. The extension interfaces would offer a limited trial of this

[2019-01-08 20:31] Sunnyone1234 commented on #10733
Thanks Peter, i konw why. I habe added USEMODULE += at86rf233 in Makefile under gnrc_networking. So i can not make it without my board. so stupid. Thanks a lot~

[2019-01-08 20:35] Sunnyone1234 commented on #10733
So should i close this issue or it will be closed by others. Actually i'm very fresh here by git...

[2019-01-08 22:38] PeterKietzmann commented on #10733
@Sunnyone1234 no worries :-). And I'm closing the issue for you know.

[2019-01-08 22:38] #10733 closed

[2019-01-09 01:30] gschorcht commented on #10566
When I started to add the compile time configurations of my CPU ports and drivers to the doc group, I was wondering whether it makes sense to structure the `config` group, for example similar to the existing structure `boards`, `cpu`, `drivers`, `kernel` ... Try to imagine if all modules configs are arranged directly below the top entry. The list will grow up to something that is not readable anym

[2019-01-09 09:15] gschorcht commented on #9690
@kaspar030

? :wink:

[2019-01-09 10:05] gschorcht commented on #9690
Some comments from me.

I would really like a concept that integrates expanders seamlessly and completely invisible for users. From the users point of view an ideal integration would allow to access CPU as well expander pins using the GPIO_PIN(x, y) macro without the necessity to distinguish between CPU and expander pins by using either GPIO_PIN or GPIO_EXT_PIN.

This would be really great.

[code

[2019-01-09 10:13] gschorcht commented on #9690
@ZetaR60 The question is how do we continue. Would you start a new try or should we discuss it a bit more. Code could be a good mean for further discussion.

[2019-01-09 10:46] kaspar030 commented on #10731
@bergzand Maybe take a look?

[2019-01-09 10:50] kaspar030 commented on #9690
Hm, I didn't escape properly. The difference is ```gpio_*_cpu``` vs ```gpio_cpu_*```. I've edited the original post.

[2019-01-09 11:19] kaspar030 commented on #9690
Yes, me too.

Let's assume that in the application's periph_conf.h (or however we're organizing configuration in the future) there's a defined expander struct, and it has been given a speaking name like ```#define GPIO_EXT_0```. What we want to be able to do is using both ```GPIO_PIN(PORT_A, 0)``` (referencing a CPU internal pin) and ```GPIO_PIN(GPIO_EXT_0, 0)``` for specifying the expander port.

[2019-01-09 11:34] kaspar030 commented on #9690
Let's not try to find "one API to rule them all(tm)". It is impossible to get minimal code size, ram requirements, runtime performance and full flexibility at the same time. The timer's are a nice example. I think it is totally valid to have a slim-as-possible abstraction on the (hardware)-timers (what periph/timer is now, plus rtc/rtc) and then create something like xtimer (and soon ztimer) on to

[2019-01-09 12:50] kaspar030 commented on #9690
Ah, I see. Yes.

Maybe in the beginning sth like this could work:

- rename GPIO_PIN to GPIO_CPU_PIN

[code]

We'd have two defines, but this should keep current code still working. If we can transition all gpio_cpu_\* to use the gpio_t field for port and pin, at some point, we can turn the two into one.

[2019-01-09 14:59] gschorcht commented on #9690
As long as nothing has been changed, it should be easy as to

- rename `GPIO_PIN` definitions to `GPIO_CPU_PIN`  in all `cpu/*/periph/gpio` drivers as you suggested
- replace `gpio_t` by `gpio_cpu_t` in all `cpu/*/periph/gpio` drivers
- rename `gpio_*` cpu implementations to `gpio_cpu_*`
- declare the `gpio_t` struct in  `periph/gpio.h` similar to what you suggested
[code]
  This would ensure that

[2019-01-09 16:12] nmeum opened #10739 "gnrc_sock_dns: Security issues (including remote code execution)"
## Description

`gnrc_sock_dns` doesn't perform sufficient sanity checks on the DNS
response it receives from the configured DNS server.

Here is a non-exhaustive list of issues:

1. The `QDCOUNT` contained in the DNS response is not verified. This
   causes an out-of-bounds buffer access in the `_skip_hostname` function if
   `QDCOUNT` is set to a value larger than the buf `len` supplied to
   `_

[2019-01-09 16:36] miri64 commented on #10739
@nmeum since this is a severe security flaw, we would have preferred some heads up via `security@riot-os.org`.

[2019-01-09 16:37] miri64 commented on #10739
See also https://github.com/RIOT-OS/RIOT/blob/master/CONTRIBUTING.md#bug-reports

[2019-01-09 16:41] miri64 commented on #10739
(there is no `gnrc_sock_dns` so I assume you are referring to `sock_dns`)

[2019-01-09 17:39] kaspar030 commented on #10739
I'm AFK, can take a look later tonight.

[2019-01-09 17:43] miri64 commented on #10739
@kaspar030 already on it.

I can't reproduce the crash on native but from my debugging I would think it is just the enormous address space available there ;-).

[2019-01-09 17:44] miri64 commented on #10739
(I see that the `_skip_hostname()` loop is running wild ;-))

[2019-01-09 17:59] ZetaR60 commented on #9690
I like the ideas discussed so far. I am starting work on a v3 PR.

I suggest using the following definition:
``
typedef struct {
#if MODULE_EXTEND_GPIO || DOXYGEN
    gpio_ext_dev_t *dev;
#endif
    gpio_num_t num;
} gpio_t;
``

instead of the proposed:
``
#if MODULE_EXTEND_GPIO || DOXYGEN
typedef struct {
    gpio_ext_dev_t *dev;
    gpio_num_t num;
} gpio_t;
#else
typedef gpio_num_t gpio_t;
#end

[2019-01-09 18:32] miri64 commented on #10739
Confirmed on `samr21-xpro` and `pba-d-01-kw2x` using `ethos` instead of `gnrc_netdev_default` (and copying the config from the border router example; I did not have a Raspberry Pi as border router at hand).

[2019-01-09 18:52] miri64 commented on #10739
Fixed in https://github.com/RIOT-OS/RIOT/pull/10740

[2019-01-09 18:55] gschorcht commented on #9690
@ZetaR60

Great. I'm curious about it. I like the @kaspar030's too.

[2019-01-10 17:08] nmeum opened #10749 "Document PGP key for security@riot-os.org"
If someone were to report a security critical issue in RIOT, e.g. #10739, using responsible disclosure via mail to `security@riot-os.org` as described in https://github.com/RIOT-OS/RIOT/blob/master/CONTRIBUTING.md#bug-reports They would probably like to make sure that no one, except the intended recipient, is able to read such a bug report.  For that purpose, it would be nice if you could document

[2019-01-10 20:14] keestux opened #10751 "Possible memset optimized out in crypto code"
After watching the presentation of Ilja van Sprundel at CCC 35C3 [1] I noticed that there is at least one location where a `memset` is used at the end of a function to clear sensitive data. However, as explained in Ilja's talk, there is a high chance that the memset is optimized out.

[code]

This final memset is clearing `block`. Most compilers however know about `memset`, and they know it is cle

[2019-01-10 20:23] miri64 commented on #10751
I assigned a number of people who I am aware are working with potentially sensitive data.

[2019-01-10 20:40] bergzand commented on #10751
I've implemented a `crypto_wipe` a while ago with a best effort implementation:

https://github.com/RIOT-OS/RIOT/blob/master/sys/crypto/helper.c#L38-L44

[2019-01-11 00:26] pyropeter opened #10752 "Improve visibility of security team"
When @nmeum and I wanted to disclose a vulnerability yesterday, I was convinced that RIOT didn't have a security team. This caused us to assess the impact ourselves and choose a full-disclosure strategy. To our surprise, @miri64 et. al. immediately started to mitigate the issue, leading to it being fixed less than 24 hours after disclosure. Please accept my apologies for putting you through all th

[2019-01-11 07:38] smlng commented on #10751
sounds to me that we should add something to the wiki on this "sensitive data" matter, maybe even draft a (crypto-related) RDM?

[2019-01-11 08:31] nmeum commented on #10751
Did you implement this on your own? Because that's usually a very bad idea and in fact that function looks pretty insufficient to me. As a more sufficient implementation of such a function consider [sodium_memzero](https://github.com/jedisct1/libsodium/blob/32385c6b9a00cb2a83c64cba80e8b5962841cd88/src/libsodium/sodium/utils.c#L102-L130).

See also: https://media.ccc.de/v/35c3-9788-memsad

[2019-01-11 08:36] miri64 commented on #10751
That's the talk referenced in OP ;-)

[2019-01-11 09:10] nmeum opened #10753 "nanocoap: options buffer overflow"
#### Description

nanocoap contains a buffer overflow which has been introduced with
commit dee793d29f09bafa83bb2c9fe293eb7b16fc009a. The bug allows an
attacker to overflow the `options` buffer in the `coap_pkt_t` supplied
to `coap_parse`.

The relevant code part is the following:

[code]

`optpos` is a pointer to the `options` buffer in the `coap_pkt_t`. This
pointer is incremented without checki

[2019-01-11 10:54] kaspar030 commented on #10753
Thanks for the report and proposed fix.

Fixed by #10754.

IMO you should allow projects to do their own security policy. Obviously you were not scared of the effects of disclosing this bug via unencrypted mail to security@riot-os.org, so why didn't you disclose it there, and what has #10749 got to do with it?

By disclosing this as you did, you're effectively side-stepping some policies we've put

[2019-01-11 12:15] #10682 closed

[2019-01-11 16:01] bergzand commented on #10751
As stated above, *best effort implementation*. I think I based this one on the [monocypher wipe function](https://github.com/LoupVaillant/Monocypher/blob/master/src/monocypher.c#L96).

Feel free to submit a PR changing it to a more sufficient implementation though. ;-)

[2019-01-11 18:36] miri64 commented on #10749
Since security@riot-os.org is a mailing list that PGP encryption is not easy to achieve. There would be some shared private key required for which some secure sharing mechanism needs to be in place which we don't have (and I don't believe exist; except for running around with USB sticks, which because of the distributed nature of the RIOT community is impractical). Furthermore, if a maintainer doe

[2019-01-11 18:40] miri64 commented on #10749
(this was a mixture of the current state of discussion on security@riot-os.org and my own thoughts on the matter).

[2019-01-13 16:10] cgundogan opened #10761 "iotlab-m3: poor ping6 performance and a possibly broken 6lo fragmentation?"
#### Description
I was pinging between two iotlab-m3 nodes on the iotlab testbed using the grenoble site, when I noticed a poor ping performance and a possible state corruption of the 6lo fragmentation. I am not sure whether this is due to other experiments/interferences on the testbed. I certainly tried other channels with the same result. Tomorrow I can try to reproduce locally with two iotlab-m

[2019-01-13 16:15] miri64 commented on #10761
Mhhhh maybe this is related to https://github.com/RIOT-OS/RIOT/issues/10701? I was planning to have a look into that next week.

[2019-01-13 16:16] miri64 commented on #10761
Also please try with #9523

[2019-01-14 12:52] gschorcht commented on #10427
I have to bring up again this issue. When I tried to add compile-time configuration that are defined in `*_params.h` files as usual for drivers, they are not included in generated documentation :worried:.

From my point of view, we should fix this problem instead of extraction configuration parameters into separate `*_conf.h` files.

[2019-01-14 13:00] jia200x commented on #10427
@miri64 @kaspar030 @kaspar030 @OlegHahm  do you remember what were the reasons behind excluding `*_params.h` from Doxygen?

[2019-01-14 13:02] gschorcht commented on #10427
The problem was/is that `@file` throws a warning for some of the `*_param.h` files.

[2019-01-14 13:07] gschorcht commented on #10427
The reason is that for some drivers there are `<driver>_params.h` files in `drivers/<driver>/include` and in `boards` directories with board specific configuration. For example:
[code]

[2019-01-14 13:20] gschorcht commented on #10427
Hm, using
[code]
in `drivers/sx127x/include/sx127x_params.h` refers the wrong file `boards/nz32-sc151/include/sx127x_params.h`.

[2019-01-14 13:42] gschorcht commented on #10427
Using additionally ```FULL_PATH_NAMES = YES``` in `riot.doxyfile` seems to solve the referencing problem. In group `drivers_sx127x`, the `drivers/sx127x/include/sx127x_params.h` file is used while group `boards_nz32-sc151` uses the board specific file `boards/nz32-sc151/include/sx127x_params.h`.

As a side effect, relative file paths are not shown any longer in the documentation. Since these paths

[2019-01-14 14:49] jcarrano commented on #10427
Even with that, doxygen still shows warnings like:

[code]

For me there is _clearly_ a bug in Doxygen, if it gets confused with only ONE matching input file.

See [this comment](https://github.com/RIOT-OS/RIOT/issues/6367#issuecomment-273107319) regarding STRIP_FROM_INC_PATH.

I believe it's a bug because that option is supposed to only control the display of names. It seems as if doxygen is maki

[2019-01-14 15:00] gschorcht commented on #10427
Strange, for
[code]
it seemed to help.

[2019-01-14 15:30] gschorcht commented on #10427
Concerning `FULL_PATH_NAMES`. Seems to be not logical. With `FULL_PATH_NAMES = YES` there are no path names in our documentation.

[2019-01-14 15:30] gschorcht commented on #10427
Closed by mistake.

[2019-01-14 17:14] gschorcht commented on #10427
@jcarrano Adding the folloing`@file` arguments helps a bit
[code]
[code]
[code]
[code]
reduces the warnings to only one:
[code]
which is quite strange.

[2019-01-14 23:54] gschorcht commented on #9903
@miri64 When I was fixing the `esp_wifi` netdev driver for ESP32 PR #10762, I was wondering again whether something like the following construct in the makefile is an acceptable solution to determine automatically the number of network interface during compile time.
[code]
That is, with each enabled netdev driver module, the number of netifs is increased by one. It could be done in same way in dri

[2019-01-15 07:57] tcschmidt commented on #10241
Did we receive all feedback here? We should then proceed with #10095 and include the feedback where it belongs.

[2019-01-15 09:09] gschorcht commented on #10427
A possible solution could be for the moment to remove `@file` in file `drivers/sdcard_spi/include/sdcard_spi_params.h`. Having not documented this single file is much better than not having documented `*_params.h` at all.

[2019-01-15 11:46] bluephoton opened #10768 "Build is failing with latest RIOT on windows"
I've been building on windows 10 with no issue until I decided to get latest RIOT. I'm getting the error:

/usr/bin/env: python3: No such file or directory

I have both python and python3 on my PATH and can issue these commands from build cmd prompt with no issue but still build fails.

I noticed that this is due something called lazysponge.py which is invoked early in the build process.

Any Idea

[2019-01-15 12:22] cladmi commented on #10768
Hi @bluephoton at least it means there is not that much missing for building in windows :)

I am not used to windows and the way shebangs are handled, so I will try some debug things I am thinking about.
Can you give me the output of these commands:

[code]

[2019-01-15 12:22] jcarrano commented on #10768
Is `env` able to find the tool?, i.e. if you type:

[code]
in the mingw terminal.

Also, can you post the result of running `./dist/tools/ci/print_toolchain_versions.sh `

I don't have a windows machine now, but I'll try to procure a VM around these days.

[2019-01-15 12:30] cladmi commented on #10768
@vac did you by any chance had the same issue and solved it ? Thank you in advance.

[2019-01-15 12:58] miri64 commented on #10761
Can reproduce on my desk.

[2019-01-15 13:02] miri64 commented on #10761
Interestingly only on `iotlab-m3`. With `samr21-xpro` it works.

[2019-01-15 13:56] miri64 commented on #10761
Or @vincent-d

[2019-01-15 13:57] miri64 commented on #10701
Can recreate with `samr21-xpro` as well. `iotlab-m3` only works with reverting the regression introduced https://github.com/RIOT-OS/RIOT/pull/9171

[2019-01-15 13:57] miri64 commented on #10761
The corresponding PR to the commit is https://github.com/RIOT-OS/RIOT/pull/9171

[2019-01-15 14:08] miri64 commented on #10701
For now I applied the fix you proposed in https://github.com/RIOT-OS/RIOT/issues/10701#issuecomment-451326171 (#10772). I'm still hunting for the reception bug.

[2019-01-15 16:40] aabadie commented on #10761
This is serious and will require more investigation for the DMA use with SPI on stm32f1. It is possible to disable this feature just for SPI for the moment. It's not a real fix but I think it will help.
@vincent-d has a better knownledge than me on STM32.

[2019-01-15 16:50] aabadie commented on #10761
@miri64, can you try #10775 and tell if it improves the situation ?

[2019-01-15 17:24] miri64 commented on #10701
This is really weird... I clearly see received ICMPv6 echo requests on the pinged node remain in the packet buffer, but they have some "holes" at the end which are always 96 bytes (and sometimes in the middle). Sometimes there are also 96 unset bytes at the end (i.e. remain 0x00 and not the ID of the request how it should be). I verified by using the following patch

[code]

to mark freed regions.

[2019-01-15 17:24] vincent-d commented on #10761
Unfortunately, I don't have any stm32f1 at hand to be able to test this...so I guess the best is to disable the feature on stm32f1 for now.

[2019-01-15 18:01] gschorcht commented on #10701
I also tried it again and again to figure a scheme. What I could observer when there are hanging packets is:
- There is always one chunk with size of 1280 bytes which seems to be contain a complete ICMPv6 packet.
- This ICMPv6 can either be an Echo request or an Echo reply.
- According to the IPv6 addresses, it seems always to be a received packet.
- The "holes" can happen at different positions i

[2019-01-15 18:11] miri64 commented on #10701
Ok, I don't see echo replies (but for me the pinging nodes are always clean, but that might be just a timing issue).

With the following diff (and the one from before)

[code]

I was able to confirm that the sticky package is indeed handed over broken by the reassembly buffer so somehow it registers as complete, while not actually being (or for some reason it wasn't copied properly...):

[code]

N

[2019-01-15 18:43] miri64 commented on #10701
:woman_facepalming: duplicate fragments are counted double... I'll prepare a PR.

[2019-01-15 18:52] miri64 commented on #10701
See #10776. If that fixes this issue I propose to add the testing procedures to our release specs so we notice regressions.

[2019-01-15 19:05] #10761 closed

[2019-01-15 20:21] cgundogan commented on #10761
FYI, I can also confirm that this issue is solved with #10775.

[2019-01-15 23:08] #10701 closed

[2019-01-15 23:11] cgundogan commented on #10701
@gschorcht this issue got closed automatically by #10776 getting merged. Could you nevertheless try to reproduce the former issue with current master (and hence the fix applied)?

[2019-01-15 23:42] vac commented on #10768
I had problems with the very same file. I'm using python27. I've changed this file to be python2 compatible. It is working fine since then. It is not the best solution and I haven't merged into the latest RIOT since 2018-04 so I will paste just git diff instead of PR, sorry about that:

[code]

Hope it will help you.

[2019-01-16 06:31] gschorcht commented on #10701
Used wrong smiley by mistake.

[2019-01-16 06:34] gschorcht commented on #10701
Great job, I'm reall happy.

BTW, although the tests with MRF24J40 throw a lot of ping timeouts due to the generated network load, the packet buffer full error doesn't occur anymore.

[2019-01-16 06:39] miri64 commented on #10701
Always a very weird mixture of fun and disappointment to find this kind of well hidden, but simple to fix bugs :rofl:

[2019-01-16 06:52] miri64 commented on #10701
See https://github.com/RIOT-OS/Release-Specs/pull/90

[2019-01-16 07:49] bluephoton commented on #10768
Thanks guys for helping with  this! Here is the info you requested:

|  Command |  Result |
| ----------------------- | ------------- |
| which env  | C:\MinGW\msys\1.0\bin\env.exe |
| which python3 | python3 is an alias for C:\WinPython-64bit-3.5.4.1Qt5\python-3.5.4.amd64\python.exe |
| env env | too much to share here, any specific setting? |
| env which python3 | which: python3: unknown command

[2019-01-16 08:21] miri64 commented on #10751
@gschorcht is this issue on your radar?

[2019-01-16 09:08] gschorcht commented on #10751
@miri64 Yes, but I'm not sure what to do. Although `cpu/esp32/vendor/esp-idf/wpa-supplicant/src` is part of the RIOT repository, it is vendor code that has been extracted one by one from the original `ESP-IDF` code, which in turn is extracted from the original source code [wpa_supplicant source](https://w1.fi/wpa_supplicant). Should we change it anyway?

[2019-01-16 10:13] danpetry opened #10778 "Documentation standards"
#### Description

The maintainer guidelines and RDM0 give some indication of the contents and review criteria for documentation. Do we need a bespoke set of across-the-board documentation standards? This could:

- give the same style ("look and feel") to all documentation
- encourage documentation to be more complete, which would allow readers to read and understand without having to ask questions

[2019-01-16 11:07] miri64 commented on #10751
I would first try to fix it upstream and then also apply that patch to the imported version.

[2019-01-16 11:33] cladmi commented on #10768
What's is somehow strange, is that it worked outside of make as this one worked

[code]

But not from within make.

Somehow the fact that `python3 is an alias for C:\WinPython-64bit-3.5.4.1Qt5\python-3.5.4.amd64\python.exe` which is not named `python3` could be part of the issue but not too sure how to debug this.

[2019-01-16 15:31] miri64 commented on #3252
Where do we go with this? On one hand, we are still striding towards a better test coverage, on the other, there is #10187. Finally, I don't think the list above is up-to-date ;-).

[2019-01-16 15:47] gschorcht opened #10787 "cpu/esp32: modules crypto and hashes cannot be used together with module esp_wifi"
#### Description

[`wpa_supplicant`](https://w1.fi/wpa_supplicant) required by module `esp_wifi` includes its own `crypto` library. Therefore, using RIOT modules `sys/crypto` or `sys/hashes` together with module `esp_wifi` leads to multiple definitions of some functions. On the other hand, RIOT modules `sys/crypto` and `sys/hashes` cannot be used to replace the `crypto` libary of `wpa_supplicant`

[2019-01-16 18:49] keestux commented on #10751
On 16-01-19 10:08, Gunar Schorcht wrote:

Do we have a general policy in RIOT for this? It's fine
to include a lump of vendor code in RIOT, but there will
always a time that it needs to be modified or updated.
I see at least two problems.
1. you don't want to duplicate upstream work
2. you don't want to make too many changes that complicate
future updates
We want a simple update procedure for upst

[2019-01-16 19:17] miri64 commented on #10751
to include a lump of vendor code in RIOT, but there will
always a time that it needs to be modified or updated.

future updates
We want a simple update procedure for upstream changes.
Do we have that? (Not just the wpa-supplicant, but all vendor
code.)

it was when it was copied?

The canonical way to include external code are `pkg`s. But I understand that for vendor files this might not possible

[2019-01-16 19:40] vac commented on #10768
On Windows please use `where python` to locate executables.
If `which` is available in your Windows command line it probably comes from Cygwin or MinGW. Not sure about that but environment from within Cygwin or MinGW executables can differ from system one.

Additionally, check `make --version`.

I'm also wondering if your MinGW doesn't contain its own `python`?
So maybe when you are executing MinG

[2019-01-16 19:42] gschorcht commented on #10751
The situation for is ESP32 quite different. I had to pick only some parts from ESP-IDF (the official SDK) and I had to modify them a lot to integrate them to RIOT and to make them compilable at all due to the strict compile options. It is impossible to use the ESP-IDF as it is since it is based on FreeRTOS.

[2019-01-16 20:13] bluephoton commented on #10768
Ok, it turns out I must have the python.exe in my **global** environment not user environment.
Also had to follow @vac approach and change #! /usr/bin/env **python3** to #! /usr/bin/env **python**
since python.exe for me is actually python3, I didn't need more changes.

Tried to use alias and python3.cmd to avoid changing RIOT code but none worked. will be nice if we change it in RIOT to just pyth

[2019-01-16 20:39] vac commented on #10768
Indeed, there is no `python3`, nor `python2` on Windows. Python 2.7, Python 3.6, and the latest Python 3.7 include `python.exe` only. So sadly, there is no way to make `python3` command work on default Python3 windows installation without hacks...

@bluephoton : what about making a copy of your Python3\python.exe named python3.exe ?

[2019-01-16 21:22] bluephoton commented on #10768
@vac smart! 😄  this works!!

[2019-01-16 21:31] bluephoton commented on #10768
@miri64 is that possible on windows? will that link continue to exist even after closing and opening cmd prompt?

[2019-01-16 21:34] bluephoton commented on #10768
Cool!! will give it a try, thanks @miri64  for sharing the link!!

[2019-01-16 22:05] bluephoton commented on #10768
Symbolic link worked! good stuff! thanks @miri64
[code]

[2019-01-17 00:12] gschorcht commented on #10751
Just some facts if we would think about to use the ESP-IDF SDK as package. The size of the git repository is about 520 MByte including 3.5 MByte proprietary libraries. It doesn't include the compiler. From these 520 MByte we only use

- the header files
- the proprietary libraries with a size of 3.5 MByte and
- about 1.7 MByte source files extracted from the ESP-IDF and modified to be compatible w

[2019-01-17 00:19] gschorcht commented on #10751
I will try to replace the crypto library of `wpa_supplicant` by RIOT's `sys/crypto` and `sys/hashes` modules, but there will be no direct mapping, see #10787

[2019-01-17 08:21] gschorcht commented on #10427
@jcarrano @jia200x
Doxygen seems to be buggy. But we can't expect that there will be a solution in the short term, if there will be any solution at all.

How do we continue? Should we leave it as it is and let the `* _params.h 'files completely undocumented, which is a big disadvantage in my view? Or should we workaround the bug as below without having the file pathes in the documentation. The fil

[2019-01-17 09:50] miri64 commented on #10768
Though this seems to be more a patchy fix, I'd say we close this. Should we document this somewhere?

[2019-01-17 09:50] #10768 closed

[2019-01-17 09:54] gschorcht commented on #10751
@keestux At first, I did not realize that the function you referred to initially came from `cpu/esp32/vendor/esp-idf/wpa-supplicant`. Specifying a reference to the file would have helped :smile:

Ok, I went through all occurences of `os_memset` and figured out these further locations:
https://github.com/RIOT-OS/RIOT/blob/519b9ebc33e98bb1066e3a2b48050f846ea60b6f/cpu/esp32/vendor/esp-idf/wpa_supplic

[2019-01-17 10:32] gschorcht commented on #10751
@miri64 @keestux After thinking more about the the idea in issue #10787 to replace `wpa_supplicant` by RIOT's `sys/crypto` and `sys/hashes` modules, I'm wondering whether it would be really a good idea for the following reasons:

- `wpa_supplicant` is wide-spreaded and accepted, it is part of all Linux systems and a lot of wireless routers.
- If ESP Wifi should support WPA2 Enterprise Mode in futu

[2019-01-17 10:36] miri64 commented on #10751
I had similar problems with `emb6` which is a "os independent" port of Contiki's network stack `uip` (still gotten around updating that...). But it worked out as a package after all. But since ESP-IDF seems to contain binaries I understand that this wouldn't be as simple as just changing names around ;-).

[2019-01-17 10:44] gschorcht commented on #10751
Back to the problem concerning the `os_memset` in `wpa_supplicant`. I have checked produced code. Indeed, the `os_memset` call is optimized out :worried:

[2019-01-17 10:51] jcarrano commented on #10768
On [the windows setup guide](https://github.com/RIOT-OS/RIOT/wiki/Build-RIOT-on-Windows-OS)?
BTW, I will try to follow the guide with a clean windows install in a VM, see if it is still accurate.

[2019-01-17 11:01] jcarrano commented on #10427
I think your changes are reasonable, do you mind PRing them?

[2019-01-17 11:17] cladmi opened #10800 "iotlab-m3: thread tests failing"
#### Analysis

The threads are using `printf` to show threads activity, however, a thread could be de-scheduled in the middle of printf. It did not really happen before but always happens when using the DMA.

#### Description

I found out that the thread related tests are all failing on `BOARD=iotlab-m3`:

[code]

I bisected with

    BOARD=iotlab-m3 make -C tests/thread_basic/ all flash test

to

[2019-01-17 11:23] gschorcht commented on #10751
According to the presentation also `memset` calls for pointers that are freed immediately after `memset` are optimized out. This is indeed the case for example here:
https://github.com/RIOT-OS/RIOT/blob/b6eb12c6d4a3ee85ac7c463f555a68fe6932d47b/cpu/esp32/vendor/esp-idf/wpa_supplicant/src/crypto/aes-internal-dec.c#L170

[2019-01-17 11:36] miri64 commented on #10800
Wasn't 0b6bccb reverted in #10775?

[2019-01-17 11:42] miri64 commented on #10800
Ah... it only reverted it for the SPI...

[2019-01-17 13:04] gschorcht commented on #10751
@miri64 @keestux PR #10801 fixes the problems with `wpa_supplicant` in ESP32 port. `os_memset` points now to a function that cannot be optimized out. This function uses the `libsodium` approach of weak symbols.

[2019-01-17 13:12] maribu commented on #10645
@aabadie, @dylad: Have you already created a PR for

?

If not, I might just do that ;-)

Such a PR might result in some serious bug fixing. E.g. the MSB-A2 did not run `periph_init()` at all until recently. Other bugs like that on the older and less commonly used boards might be exposed by that. (Which will look like a bad thing at first, but in retrospect, when all the hard labor of bug-fixing i

[2019-01-17 14:16] aabadie commented on #10800
Ok, the problem is not only affecting the iotlab-m3 board but also all STM32 based boards that I have tested until now (nucleo-091rc, b-l072zlrwan1, b-l475e-iot01a).

The problems comes from multiple threads trying to print nearly at the same time. A potential solution (discussed offline with @cladmi) would be to use some kind of atomic stdio functions: if a thread is already writing to UART, no o

[2019-01-17 14:42] cladmi commented on #10800
So the `thread` tests are not `thread` safe :D as nothing says that when you do `printf` you will not have another `printf` in the middle.

I have two ideas to implement this with  functions`atomic_puts` and `atomic_printf`:

* use a global `mutex` around the original `puts`/`printf`. Which is somehow the same as done for `printk` without the buffer they have: https://en.wikipedia.org/wiki/Printk#

[2019-01-17 14:50] cladmi commented on #10800
I did not listed it in the first place, as I thought it was thread related and that this was another issue, but `tests/gnrc_netif` is also not thread safe as it relies on printing in parallel.

https://ci.inria.fr/iotlab-os-ci/job/test-job/lastCompletedBuild/testReport/iotlab-m3.tests_gnrc_netif.test.tests/01-run/testfunc/

[2019-01-17 15:33] vincent-d commented on #10800
I believe printf/puts thread-safety should be fixed by https://github.com/RIOT-OS/RIOT/pull/8619

I don't have hardware at the moment, so I can't test. I guess disabling DMA is a first step to get the stability back.

[2019-01-17 15:33] gschorcht commented on #10427
@jcarrano I found out a very simple solution which solves the problem of redundant path names.
[code]
That's it. Everything looks as before, the include paths of header files in documentation, the unsorted arbitrary looking relative file paths in the navigation tree. The only differences are, that `*_params.h` files are now included in documentation as expected and the dependency graphs include al

[2019-01-17 15:34] miri64 commented on #10800
Maybe that was also the problem with #10761?

[2019-01-17 15:58] jcarrano commented on #10768
@vac , @bluephoton

There is a way of fixing it that does not require creating a link (since creating symlinks in windows requires elevated privileges), by making a wrapper in msys.

In the msys prompt type:

[code]

[2019-01-17 16:10] aabadie commented on #10800
This improves the situation but `tests/cond_order` is still failing: things are printed in the expected order, but at least they are correctly printed.

This kind of is what is done in #10803: the feature is not pull automatically by the board. It's just that DMA with SPI is not tested automatically.

[2019-01-17 20:14] miri64 opened #10809 "openthread: does not build on current Arch"
#### Description
When trying to build `examples/openthread` for #10599 I wasn't able to do so on my current Arch-based laptop

#### Steps to reproduce the issue
Have a setup Arch distribution and try to compile `examples/openthread`

#### Expected results
The application will build successfully.

#### Actual results
The build errors

[code]

#### Versions
Quite recent Arch while writing this issue

[2019-01-18 07:35] bluephoton commented on #10768
@jcarrano , for windows 10 Pro I have, I didn't need elevated command prompt to create symbolic link. It may be needed for server SKUs, not sure.

[2019-01-18 10:47] bluephoton opened #10814 "UART driver doesn't support more advanced configuration?"
#### Description
I'm implementing a protocol that requires setting word length, parity, stop bits and pin inversion. uart.h/.c doesn't seem to allow this.

### Useful links
According the STM32 reference manual, configuring these bits must be done before enabling the device. Unfortunately uart_init() enable the device before it exits.

One way is to provide uart_init_ex(..., bool enable) which will

[2019-01-18 10:55] dylad commented on #10814
@bluephoton The UART interface is pretty limited in the current state.
Maybe #10743 will addressed your concerns.

[2019-01-18 11:13] bluephoton commented on #10814
@dylad this is exactly what I'm looking for. Still I can't see support for pin inversion there, and also 9 bits is required. I don't see how the uart_mode() will work while device is enabled - but I didn't inspect the code carefully. I'd be happy to test this when it is released. But will not work for my scenario without pin inversion and 9 bit.

[2019-01-18 11:18] yegorich commented on #10814
@bluephoton could you elaborate more on how you are going to use 9 bit mode? Protocol description. What physical serial driver (RS232, RS422 etc.) are you using?

[2019-01-18 11:18] PeterKietzmann commented on #10814
@MrKevinWeiss, @yegorich just that you're aware of this.

[2019-01-18 11:19] cladmi commented on #10800
To be pedantic about words. I would say that`printf/puts` are "thread safe", it is just normal to have mixed outputs if two threads print "at the same time". Like the first tests you do with threads on linux where you have mixed outputs.
Before it was quite unlikely to be de-scheduled during a printf as you were often the thread with the biggest priority but was still possible and shown in some te

[2019-01-18 11:48] bluephoton commented on #10814
When I enable 9 bit mode and enable parity control, one bit is used for parity and I get 8 bit data.

### Protocol
I'm implementing SBUS protocol which uses inverted serial with the following:
frame: 1 (Frame Start) + 22 (data) + 1 (flag) + 1 (Frame End) = 25 bytes
1 byte: 1 (start bit) + 8 (data bits) + 1 (parity) + 2 (stop bits) = 12 bits

### Software
My code will receive stream of bytes and bu

[2019-01-18 12:08] gschorcht opened #10815 "doc: Tracking doxygen 1.8.15 problems"
#### Description

Using the current doxygen release 1.8.15 to generate the documentation results into **12700 warnings**!

What are the problems:

1. Setex-style headers in markdown files and comments throw the warning: `multiple use of section label 'xyz' while adding section, (first occurrence: <file>, line <n>).`. It seems to be a bug: https://github.com/doxygen/doxygen/issues/6779.
(20 warning

[2019-01-18 12:23] yegorich commented on #10814
@bluephoton 8E2 should do exactly what you want:

- 1 start bit
- 8 data bits
- 1 parity bit
- 2 stop bits

When you configure 8 bit and parity `uart_mode` switches STM32 UART into 9 bit.

The only inversion must be handled in a custom way.

[2019-01-18 12:32] gschorcht commented on #9690
@ZetaR60 How is going with v3? :wink: I'm really curious.

[2019-01-18 14:59] miri64 commented on #10723
Fixed in #10817

[2019-01-18 16:49] #9191 closed

[2019-01-19 02:08] bluephoton commented on #10814
@yegorich Fantastic! one more parameter (bit flags) can serve to set the inversion mode. Or you can also pass a single complex type param with all the info so you can update later without changing function signature.

How does the enable bit fit in here, what will be the expected call sequence?

[2019-01-19 13:35] yegorich commented on #10814
Pin inversion can be implemented the same way as hardware flow control is made for STM32. Take a look at the `uart_conf_t` structure. RTS/CTS pinmux and initialization are controlled via `MODULE_STM32_PERIPH_UART_HW_FC` macro. So another macro like `MODULE_STM32_PERIPH_UART_PIN_INVERSION ` as also `uint8_t  rx_inv, tx_inv` can be introduced to enable this functionality.

Also, take a look at @hauk

[2019-01-20 00:13] #7745 closed

[2019-01-20 00:14] #7458 closed

[2019-01-20 16:11] thibv opened #10827 "boards/nrf51dk: multiple external interrupts not working"
#### Description
On nRF51DK platform, cannot enable multiple external interrupts. Only the latest will work.

#### Steps to reproduce the issue

Use the hello-world program, and add the following lines to enable callback functions cbButton*.
`  gpio_init_int(BTN0_PIN, GPIO_IN_PU, GPIO_FALLING, &cbButton0, NULL);  `
`  gpio_init_int(BTN1_PIN, GPIO_IN_PU, GPIO_FALLING, &cbButton1, NULL);  `
`  gpio_

[2019-01-20 17:07] aabadie commented on #10827
I can also reproduce the issue on nrf52dk. Looking at the gpio periph driver implementation, which is the same for all nrf, there's no array for managing multiple callbacks so the behaviour makes sense.
For me it's a bug the implementation, I'll have a look.

[2019-01-20 17:51] aabadie commented on #10827
@thibv, thanks for reporting the issue.
I opened #10828 to fix this issue. Do you confirm that it fixes your problem on nrf51dk ?

[2019-01-21 08:31] bluephoton commented on #10814
Yes thanks a lot guys for your help! Closing...

[2019-01-21 08:31] #10814 closed

[2019-01-21 15:32] ahendon93 opened #10835 "Linking a pre compiled library with RIOT"
I am wondering what the process is for linking a pre compiled library to RIOT(not in gitlab). I know how to use RIOT to pull in packages and build them, but this is a different situation. I have the .a and header files for this library, but I am not sure how to link the library to RIOT.

[2019-01-21 15:36] kaspar030 commented on #10835
In RIOT every module get's built into an archive (```.a```) in ```bin($(BOARD)/```, and ```USEMODULE += foo``` causes ```bin($(BOARD)/foo.a``` to be linked in.

[2019-01-21 17:00] kaspar030 commented on #10835
As this has also been asked on users@riot-os.org and that is the right place, I'm closing this.

[2019-01-21 17:00] #10835 closed

[2019-01-21 20:13] ZetaR60 commented on #9690
There are some difficulties with changing gpio_t into a structure. The main difficulty is that C does not allow the equality operator to be used for structs. I really wish C did something like "two structs are equal if all of their members are equal", which would make the transition much easier.

I see two potential solutions for the struct issue:
- introduce an inline function to test for equalit

[2019-01-22 08:30] smlng commented on #9465
did someone try: `sudo apt-get install linux-libc-dev:i386` its also mentioned in the link @PeterKietzmann posted above

[2019-01-22 08:34] smlng commented on #6646
closing due to inactivity.

[2019-01-22 08:34] #6646 closed

[2019-01-22 10:02] miri64 commented on #9903
This seems to be more of a build system specific workaround until we get rid of `GNRC_NETIF_NUMOF` with the proposal here. @cladmi what do you think about that?

[2019-01-22 10:55] maribu commented on #8754
@Citrullin: Did @miri64 reply solve your problem?

[2019-01-22 12:21] maribu opened #10842 "Preemption of malloc on AVR"
#### Description
[This post](https://www.mail-archive.com/avr-libc-dev@nongnu.org/msg06263.html) in the AVR libc development email list describes that memory corruption can occur on FreeRTOS when a call to `malloc()` or `free()` is preempted. They suppose to address this by adding hooks at the beginning and end of `malloc()` and disable preemption while `malloc()` or `free()` works on the allocato

[2019-01-22 12:47] miri64 commented on #10842
Maybe related to what spun out of https://github.com/RIOT-OS/RIOT/issues/10800.

[2019-01-22 14:02] maribu commented on #10842
Yes, this contains indeed the same approach FreeRTOS wants to follow:

https://github.com/OTAkeys/RIOT/blob/2a31cbf8d61f6437d41273e980351d709b9ff1c8/sys/newlib_thread_safe/syscalls.c#L42-L54

[2019-01-22 16:05] #10827 closed

[2019-01-23 01:34] Citrullin commented on #8754
@maribu Since you are replacing the driver and this works fine, I would just say: Close this ticket. Not interesting for me anymore. But as I remember this issue isn't solved. I wasn't able to use the CC1101x with the old driver. Probably just because of the complicated drive or I just didn't understand RIOT at this point very well.

[2019-01-23 06:58] maribu commented on #8754
Then we can close this issue once the new driver is ready and merged :-)

[2019-01-23 16:34] gschorcht commented on #10842
The rmutex approach in __mallo_lock/unlock functions might not be working:

- It would not be possible to use malloc in ISRs.
- I'm not sure for AVR, but if interrupts are not disabled, a context switch might happen when returning from an ISR.

Maybe, __ malloc_lock/unlock functions should simply disable/enable interrupts.

[2019-01-23 16:55] cladmi opened #10850 "Tracking: remove harmful use of `export` in make and immediate evaluation"
#### Description

Many variables are exported using `export VARIABLE` without even knowing why, the impact, or even be needed. In the same time, many variables are evaluated using `:=` instead of using `deferred` variables.

Guess why calling `make clean` is slow ? All these variables/shell call must be evaluated for each target called even if the targett is not using it at all.

I tried preventin

[2019-01-23 17:14] maribu commented on #10842
To be honest, I would add an `assert()` in the pre_hook of `malloc()` to make sure it is called in thread-context and document that `malloc()` must not be called from interrupt context. I never did perform benchmark on `malloc()`, but I was told it can be quite costly and should not occur in hot code paths.

But if we decide to support `malloc()` in interrupt context, there will be no other option

[2019-01-23 18:19] gschorcht commented on #10842
The question is whether the use of "malloc" should be really prohibited in the interrupt context. There are certainly use cases, e.g., network device drivers, in which an ISR stores data in a piece of dynamically allocated memory to provide them to to the user of the driver.

Even it is not related to this issue, it woud be a probably a good idea to have `assert()` in `mutex` functions to avoid th

[2019-01-24 09:00] maribu commented on #10842
For a similar reason (locking the mutex of the SPI bus) running code in interrupt context is avoided for network drivers anyway. I personally would try to avoid dynamic memory management on constrained devices in general, and during ISR in particular.

Btw: The [TLSF-based allocator](https://doc.riot-os.org/group__pkg__tlsf__malloc.html) does disable interrupts during `malloc()`/`free()`. So assum

[2019-01-24 09:01] kaspar030 commented on #10842
We shouldn't prohibit it for political reasons, but I'd always argue that ```malloc()``` in ISR should be avoided at all costs. If not prohibiting would force us to make the sane case (```malloc()``` in user space) more costly, I'd rather not support it for performance reasons.

[2019-01-24 09:05] kaspar030 commented on #10842
TLSF has nice properties (O(1) malloc() and free()), but it uses ~3.5kB for "free lists". I don't think we can afford that. There's room for optimization for our low-end devices in the implementation (allowing higher internal fragmentation, limit max allocation size to something practical like 2**16 or less, use pointer compression), but that needs work.

[2019-01-24 09:14] kaspar030 commented on #10673
+1 for removing the return value. The parameter is, by definition, only allowed to be used after having been successfully initialized through i2c_init(). If the latter returns an error, the dev argument is invalid. Otherwise, it doesn't need to be checked. Hence, the failure case will never hit in code that correctly initializes i2c.

[2019-01-24 09:33] maribu commented on #10842
I think disabling interrupts during `malloc()` / `free()` instead of using a mutex will not have a performance penalty  - I guess it would be faster. (The mutex itself will disable and re-enable interrupts for each lock and unlock anyway, so less code is executed.) So unless `malloc()` is not "super slow", I personally think disabling interrupts would be better approach - even putting calling `mal

[2019-01-24 09:42] smlng commented on #10673
I'm against removing it, and the rational wit `i2c_init` does not hold (@kaspar030) when considering the following:

1. `i2c_init` is (supposed to be) called by `periph_init`
2. a driver (e.g. sensor) requiring I2C should (IIRC) call `i2c_init` (anymore) as per 1. and also because it could interfere with other devices using the same bus
3. considering 1. and 2. a driver cannot induce that the I2C

[2019-01-24 09:52] kaspar030 commented on #10842
Here is a crude test (and malloc()'s best case):

[code]

On a nucleo-f401re:

[code]

Roughly, it is fast.

[2019-01-24 10:08] kaspar030 commented on #10673
I see your point. I'm still against adding the checks, they're completely waste of cycles after the first call, and noone checks them anyways.

Maybe introducing ```static inline int i2c_is_dev_valid(i2c_t dev) return (dev < I2C_NUMOF);``` would make it possible to be explicit about the check within a driver's init() function?

[2019-01-24 10:11] maribu commented on #10842
Slightly adapted:

[code]

On the Arduino Mega2560:
[code]

So about 7µs per `malloc()` and `free()` on slow platforms. I'm in favor of @gschorcht proposal to just disable interrupts during `malloc()` and `free()`.

[2019-01-24 10:33] miri64 commented on #7182
I think this should be solved by now. If you disagree, please reopen.

[2019-01-24 10:33] #7182 closed

[2019-01-24 10:34] miri64 commented on #7182
(reasoning: from the shell output and time of discussion I believe this was using the old network layer infrastructure, which has been overhault completely)

[2019-01-24 11:20] miri64 commented on #10778
From experience something like this is hard to enforce in a distributed project such as ours. E.g. in Doxygen some prefer markdown style \`some_var\`, some rather prefer Doxygen command style `@c some_var` and sometimes you have to pick one of the two because Doxygen forces you to (e.g. [`@f$`](http://www.doxygen.nl/manual/commands.html#cmdfdollar) and co). Django uses Pythons own documentation fr

[2019-01-24 11:52] cladmi opened #10857 "frdm-kw41z: requires newer flasher than openocd `0.10` from `ubuntu-bionic`."
#### Description

While trying to use the `frdm-kw41z` I noticed an error message when compiling and it cannot be flashed. I am using `openocd 0.10` and also does not work with `USE_OLD_OPENOCD`.

#### Steps to reproduce the issue

Fixed in https://github.com/RIOT-OS/RIOT/pull/10888

When flashing with `openocd v0.10` from ubuntu `bionic` I get

[code]

According to the documentation, version `0.1

[2019-01-24 12:21] MrKevinWeiss commented on #10673
I think I like removing the return value so `void acquire(i2c_t dev)` and `void release(i2c_t dev)` and adding asserts along with an optional `static inline int i2c_is_dev_valid(i2c_t dev) return (dev < I2C_NUMOF);`

It can be the smallest footprint and allows for the most versatility.

[2019-01-25 00:26] gschorcht opened #10861 "cpu/esp8266: Tracking open problems of esp_wifi netdev driver"
#### Description

During the stress test of the `esp_wifi` module for esp8266, including de-authentication attacks, the following issues sporadically occurred

1. Reconnecting may fail after deauthentication and lead to system crash while excessive traffic is being sent to the esp8266. If the AP send a deauthentication, esp8266 tries to reconnect automatically. If there is only normal network load

[2019-01-25 14:56] aabadie commented on #10352
@fesselk, we just merged a potential fix for your issue. Can you try again with the latest RIOT master and tell if it works ? Thanks

[2019-01-26 00:13] gschorcht opened #10875 "gnrc_ipv6: crash on heavy network load on native"
#### Description

Bombarding `native` with pings of maximum size and an interval of 0 from multiple terminals leads to crash. The following is the backtrace from `gdb`
[code]
#### Steps to reproduce the issue

Compile `examples/gnrc_networking` with `-g` option:
[code]
Start `gdb`:
[code]
Run the RIOT instance in gdb:
[code]
Ping from four terms:
[code]
After a while, RIOT instance should crash.

[2019-01-26 08:00] kaspar030 commented on #10875
The backtrace looks exactly a #6123, thus I'm closing this as duplicate. re-open if you disgree.

[2019-01-26 09:13] gschorcht commented on #10875
Hm, the crash happens on different calls in the `_send` function. Sure, iIt might have the same cause, an inconsistent memory, but maybe not. The crash as described in this issue crashes reproducable always at the same call.

IMHO it would be reasonable to let @miri64 have a short look before we close it.

[2019-01-26 11:42] miri64 commented on #10875
The send function changed significantly since 2015, so I'm not sure that it might be the same GDB dump after all.

[2019-01-26 12:03] miri64 commented on #10875
So I think the version of master @kaspar030 reported on in #6123 was 8432d923bec56b0f64e76f38353be46bea8c5d0d. I determined this by running

[code]

l684 in #6123 seems to me to be the first access to a pointer in the provided `pkt` list

https://github.com/RIOT-OS/RIOT/blob/8432d923bec56b0f64e76f38353be46bea8c5d0d/sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c#L657-L684

same goes for l539 in curren

[2019-01-26 12:04] miri64 commented on #10875
We have `make debug` for that ;-).

[2019-01-26 12:05] miri64 commented on #6123
This issue was re-reported in #10875 with a bit more detailed test description. If the description above is not enough for a tester, please refer to #10875.

[2019-01-26 12:10] gschorcht commented on #10875
Thanks. Agreed.

[2019-01-26 12:40] miri64 commented on #10875
@gschorcht Why `-s1392` btw?

[2019-01-26 12:47] gschorcht commented on #10875
I didn't try whether it also happens with data sizes less than the maximum size. I just used the same command as for my stress tests of esp8266 `esp_wifi` driver.

BTW, I still have a packet buffer problem there, issue 4 in https://github.com/RIOT-OS/RIOT/issues/10861. I ran into the problem described here when I was trying whether I can reproduce it on `native`.

[2019-01-26 12:55] miri64 commented on #10875
Since both WiFi and Ethernet have an MTU 1500 that would be `s1452` though ;-).

[2019-01-26 13:03] gschorcht commented on #10875
Yes, but if the router provides the IPv6 MTU option in its RA as mine does, the MTU is downsized to 1440 as in my case :wink: Exactly this question came up also in PR #10792 and PR #10581. The interface starts with MTU 1500 but once the first RA is received and the interface gets its routing prefix, the MTU is also downsized. This happens for Linux boxes in the same way.

[2019-01-26 13:06] miri64 commented on #10875
Ok sorry, I forgot about that. On native however, the MTU stays 1500.

[2019-01-26 13:07] miri64 commented on #10875
Where you able to?

[2019-01-26 13:10] gschorcht commented on #10875
No, I just saw the crash described here. In `esp_wifi` the buffer becomes full and communication stops to work, but it doesn't crash.

[2019-01-26 13:12] gschorcht commented on #10875
Ol, I see. According to description in #6123, the data size seems not matter.

[2019-01-26 13:18] miri64 commented on #10875
True

[2019-01-26 13:21] miri64 commented on #6123
Reproduced it (with different pointers) three more times and one time even with `sudo ping -s0 -f fe80::1c02:edff:fee1:3ec1%tapbr0`, so size doesn't matter here as assessed by @gschorcht in https://github.com/RIOT-OS/RIOT/issues/10875#issuecomment-457830031 is also confirmed. I'll try to reproduce with `gnrc_pktbuf_malloc` and `valgrind` now.

[2019-01-26 13:39] miri64 commented on #6123
Was able to reproduce with `valgrind`, but I'm confused by the output.

[code]

So it crashes in https://github.com/RIOT-OS/RIOT/blob/bdd2d52fd57c8cc87f9705b2e31c32f58a123a06/sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c#L533 because it was already released in https://github.com/RIOT-OS/RIOT/blob/bdd2d52fd57c8cc87f9705b2e31c32f58a123a06/sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c#L558 (which comes a

[2019-01-26 14:20] miri64 commented on #6123
Since I am not yet able to reproduce this by adding some `printf`s around the `msg_receive` in `gnrc_ipv6:c:_event_loop`, I'm wondering if this might be related to https://github.com/RIOT-OS/RIOT/issues/1811...

[2019-01-26 14:30] miri64 commented on #6123
I was able to reproduce the crash with the following patch:

[code]

Shortly before the crash I get the following output (using `gnrc_pktbuf_malloc` again, just plane `gdb`:

[code]

Notice the last for lines before the `SIGSEGV`. Weirdly, `msg.content.ptr` also is different from the pointer handed to `_send` as `pkt` (which should be `msg.content.ptr`).

[2019-01-26 14:37] miri64 commented on #6123
I think that can be seen as significant, because these are the first `-1` that comes up once the `ping` starts.

[2019-01-26 14:43] miri64 commented on #6123
Also able to reproduce with `gnrc_pktbuf_static`. This time the pointers match.

[code]

[2019-01-26 15:42] gschorcht commented on #6123
@Good job :smile:

[2019-01-26 15:53] miri64 commented on #6123
(btw the IPv6 thread itself is the only one in this scenario sending packets to IPv6)

[2019-01-26 16:43] miri64 commented on #6123
Yepp.. definitely no double dispatch:

[code]

(this was the patch I used)

https://gist.github.com/miri64/a812f7b71fcf6dc71c70d8a9d79b24a9

I'll retry that with the `msg.content.ptr` print from above again, to make 100% sure.

[2019-01-26 16:52] pystub opened #10878 "nrfmin can get stuck and never reach RX (while TX works)"
#### Description

nrfmin radio driver can become stuck in a state where it can no longer receive packets over the radio.

This issue triggers sporadically and can happen within seconds or hours of operation. Increased number of nodes concurrently trying to send seems to increase the chance of it.

My original research showed when driver is in this state, there is a packet received, but it appears

[2019-01-26 16:53] miri64 commented on #6123
Yepp no double dispatch...

[code]

[code]

[2019-01-26 16:54] miri64 commented on #6123
@kaspar030 it looks more and more that this is some issue in either `core` or `native`, since the message somehow ends up in `wait_data` I rather suspect the first.

[2019-01-26 17:17] miri64 commented on #6123
### Summary

To summarize my findings from above (so you don't have to read all that):

1. A `GNRC_NETAPI_MSG_TYPE_SND` message is received twice in a row by the `gnrc_ipv6` thread *from itself* at some point causing the thread to access parts of the packet released in https://github.com/RIOT-OS/RIOT/blob/bdd2d52fd57c8cc87f9705b2e31c32f58a123a06/sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c#L558
2.

[2019-01-26 18:16] miri64 commented on #6123
When playing around with the debugger, I noticed, that `me->wait_data` of `gnrc_ipv6` is always set to the msg` variable of the `_event_loop()` function

[2019-01-27 11:40] miri64 opened #10881 "core: `msg_receive()` on native sometimes returns without `msg` being re-set"
#### Description
Coming from #6123 I was able to track down the issue to the fact that `msg_receive()` in some corner-cases seems to return without the out parameter being rewritten. I wasn't able to pin-point the exact issue yet and I'm unsure if it is only an issue on `native`.

#### Steps to reproduce the issue
I applied the following patch to current master (bdd2d52fd57c8cc87f9705b2e31c32f58a1

[2019-01-28 10:20] kaspar030 commented on #10881
I'm trying to reproduce. I got the extra case you've added once within 10 minutes.

Can you re-run your test with this: https://gist.github.com/1b447978ac89cfc77d6be51911e8b305
It adds printout of the msg_receive() return value, and changes msg_receive() to return different values depending on which case was hit.

[2019-01-28 10:34] kaspar030 commented on #10881
I only got three hits, they were all with res==1 so far.

[2019-01-28 11:04] kaspar030 commented on #10881
@miri64 all the messages are supposed to be received from another thread, right? (not from isr?)

[2019-01-28 11:41] miri64 commented on #10881
Hi @kaspar030 I was planning to work on an isolated test case today. Let me check your patches first.

At least in the scenario, most should be from the thread itself (containing ICMPv6 echo replies or sent NDP messages), from the `netif` thread (ICMPv6 echo requests and received NDP messages), but also from the ISR (`evtimer` timer messages for NDP events).

[2019-01-28 11:45] kaspar030 commented on #10881
I've added an to msg_receive() (at the top, write something to m->content.value, below in the failing case, read back and assert it has been changed). That triggers as @miri64's default case.

I've then tried to enable debug in msg.c, and it still triggers. It looks like a thread sitting in "msg_receive()" is being woken up before anyone has copied a message, which should not be possible.

This mu

[2019-01-28 11:46] miri64 commented on #10881
Can you rephrase / fix this sentence (or provide a patch)? I don't know what you mean.

[2019-01-28 11:56] kaspar030 commented on #10881
Sorry, patch is [here](https://gist.github.com/75a737968f861a9ec19dce7b4bc33bf0). What I mean is that I've tried your check (memset, then see if type=0) directly into msg_receive(), as seen in the patch. As expected, it also triggers.

[2019-01-28 12:03] miri64 commented on #10881
Shall I still do that btw? You appear to be able to reproduce this yourself.

[2019-01-28 12:06] kaspar030 commented on #10881
Ok for now. It did trigger, now it doesn't anymore. Maybe I was just lucky before. Anyhow I can investigate more now.

[2019-01-28 12:46] cladmi commented on #10857
Yep, it may only be a documentation issue.

Also having a runtime error checking openocd supports it could be nice. When working on flashers and all I could put it in common in `openocd.inc.mk`.

[2019-01-28 12:58] kaspar030 commented on #10881
I boiled it down to this:

[code]

[2019-01-28 13:03] miri64 commented on #10881
Confirmed

[2019-01-28 13:20] miri64 commented on #10881
(would have really surprised me if it were an `s` ;-))

[2019-01-28 14:11] miri64 commented on #10881
`sched_run` is not called for some run :-/

[code]

[code]

[2019-01-28 14:51] miri64 commented on #10881
Investigated deeper:

- before the hit assertion `_native_sigpend` is 2, so `isr_thread_yield` steps into `native_irq_handle()`
   https://github.com/RIOT-OS/RIOT/blob/caa1d0b8e572cfffd6b03617851a210a3d426b78/cpu/native/native_cpu.c#L192-L195
- this doesn't seem to return, but rather ends up in `cpu_switch_context_exit()` which has the chance to run `sched_run` in `isr_cpu_switch_context_exit`, bu

[2019-01-28 14:52] miri64 commented on #10881
(fixed a copy-pasta error in output above)

[2019-01-28 15:36] miri64 commented on #10881
I guess this will stabilize things, but I don't think that is a valid fix.

[2019-01-28 15:50] kaspar030 commented on #10881
Agreed. Somehow the thread trying to yield away is cut in the middle. I do not yet get where it's PC is being saved.

[2019-01-28 15:52] miri64 commented on #10881
If I understand `man 3 getcontext` and `man 3 makecontext` correctly, it is written machine dependent into `ucp` in both these functions (`getcontext` takes the current `pc`, `makecontext` sets its to the entry of the function provided).

[2019-01-28 16:10] kaspar030 commented on #10881
I think I got it now.

1. ```thread_yield_higher()``` stores the thread's ucontext
2. creates an "isr ucontext" for isr_thread_yield, switches to it

Case 1: no signals are pending, continues in ```isr_thread_yield()```
3a. sched_run is called
4a. return to ```sched_active_thread``` ucontext

Case 2: signals pending (the crashing scenario), continues in ```native_irq_handler()```
3b. handles signa

[2019-01-28 16:34] maribu commented on #9619
During linking the RIOT build system does check for RAM/ROM overflow since https://github.com/RIOT-OS/RIOT/pull/9781 is merged, so this issue can be closed

[2019-01-28 16:38] #9619 closed

[2019-01-28 19:08] pystub commented on #10878
Spinlock [line 335](https://github.com/RIOT-OS/RIOT/blob/3e6336ce89d64d58ab07764ef7f65fc86800cb85/cpu/nrf5x_common/radio/nrfmin/nrfmin.c#L335) can still happen with mentioned changes.

[2019-01-29 18:18] pokgak opened #10897 "sock_dtls: a DTLS sock API"
#### Description

`sock_dtls` aims to provide a wrapper around DTLS stack in RIOT so that users can choose the underlying stack by a `USEMODULE` in the Makefile.

I am aware of @rfuentess's [sock_secure]() and @danielinux's [wolfSSL]() effort and have reviewed it together with @tcschmidt, @waehlisch, @miri64 (who also helps me with the API), @MichelRottleuthner and others (feel free to chime in if

[2019-01-29 18:37] fesselk commented on #10352
Hi i just tried. The example still needs a delay after the join either by adding a
[code]
or by just calling
[code]
 instead of triggering the first message immediately.

The join seems to be successful every time now, which seem to half solve Issue #10442.
AFAIK:
- xtimer is still used while not knowing how inaccurate it is (no use of crystal on ST B-L072Z-LRWAN1)
- and it is also used for tracki

[2019-01-29 18:42] jia200x commented on #10352
Hi @fesselk

Why? When the join accept is received LoRaMAC all sesion keys are set, so it shouldn't be necessary to wait in case the join was accepted. Could you describe the issue?

The latest fix is a lower bound of really inaccurate timers, so it should work with most boards. We tested it in 5 boards and works good.

The duty cycle is tracking using the Time On Air reported by the driver, is in

[2019-01-29 18:46] jia200x commented on #10352
These calibration parameters we added with #10868 are runtime configurations but they are set to defaults with `LORAMAC_DEFAULT_SYSTEM_MAX_RX_ERROR` and `LORAMAC_DEFAULT_MIN_RX_SYMBOLS`.

It would be possible to adjust this automatically if there's a mechanism for detecting how inaccurate is a clock

[2019-01-29 18:49] aabadie commented on #10352
By default this board uses HSI and LSI for RTC. So yes there's 1% error when using these clock sources. It's possible to use LSE to clock the LPTIM1, I did it with good results on RTT. But I'm still facing issues with RTC using LSE (it cannot switch to config mode).

Definitely a problem with low-power, we use xtimer to determine when the dutycycle defay is finished. This is something on my todo-l

[2019-01-29 18:51] jia200x commented on #10352
Nevermind, I didn't read the duty cycle part ;) You are right.

IMO the proper way to handle this would be to try it again if the send command fails so the program never blocks.
@aabadie @fesselk what do you think?

[2019-01-29 18:54] aabadie commented on #10352
I need to try the example again, will do it tomorrow with different parameters.

[2019-01-29 18:58] aabadie commented on #10352
I just had a look at the example code and I think it makes sense, the return code of the send function is not taken into account. If it fails, the receive function is always called, and internally it will wait for an ipc message that will potentially never arrive.

[2019-01-29 20:20] miri64 commented on #5748
@cgundogan can you maybe retest this for the release?

[2019-01-29 21:49] #10723 closed

[2019-01-30 08:05] PeterKietzmann commented on #10878
Maybe something for @SemjonKerner?

[2019-01-30 10:16] miri64 commented on #9799
I was recently made aware by some rust support implemented by a student of @kaibeckmann: maybe you can have a look there as well?

- https://gitlab.cs.hs-rm.de/embedded-util/os-glue
- https://gitlab.cs.hs-rm.de/embedded-util/riot-sys

[2019-01-30 10:35] chrysn commented on #9799
On Wed, Jan 30, 2019 at 10:17:15AM +0000, Martine Lenders wrote:

I had not found those. Thanks -- sure, having a look, but from a first
glance there's much overlap. Getting in contact with Ben to avoid
further duplication.

[2019-01-30 10:53] aabadie commented on #10352
@fesselk, can you try #10903 and tell us if it improves things for you ? That would help so we can add this potential fix to the release. Thanks!

[2019-01-30 13:58] dientc commented on #2660
This link may help:
https://launchpad.net/~team-gcc-arm-embedded/+archive/ubuntu/ppa

[2019-01-30 19:10] #10352 closed

[2019-01-31 10:49] danpetry opened #10909 "fmt_hex_bytes is not safe with respect to both arguments"
#### Description
The function `fmt_hex_bytes` formats bytes from an input hex string to an output char array. It runs through the hex string for its length (determined by detecting a null termination), copying it into the string buffer. However, it is up to the user to provide an output buffer which is at least as large as the input buffer, otherwise it will overrun the output buffer silently. Sug

[2019-01-31 11:02] kaspar030 commented on #10909
Half as large. :)

Well, you're opening a can here. None of fmt's functions check the output buffer's length. This is by design, the caller needs to read the docs and ensure correct output buffer length.
When designing fmt that way, I rationalized ignoring three decades of C experience (leading to str*n*cpy etc) by us being in low-end embedded context. I hope that was not too bad of an idea.

[2019-01-31 14:39] danpetry commented on #10909
Sure. I guess the decision would be validated (or otherwise) if we have a bunch users who are happily writing programs which run without runtime errors here and feeling ok about needing to check the docs (or not).

[2019-01-31 14:40] danpetry commented on #10909
Closing the issue since this is by design. Thanks for explaining.

[2019-01-31 14:40] #10909 closed

[2019-02-01 12:43] MrKevinWeiss opened #10920 "frdm-k22f locks up after i2c NACK"
#### Description
The [HiL CI found a bug](https://ci.riot-os.org/RIOT-OS/RIOT/master/bdd2d52fd57c8cc87f9705b2e31c32f58a123a06/robot/frdm-k22f/tests_periph_i2c/log.html#s1-s1-t4) with the i2c in the ftdm-k22f

#### Steps to reproduce the issue
Connect an i2c device to the frdm-k22f and try to read register from an incorrect address to get a nack then read register from the correct one.  This causes

[2019-02-01 14:07] miri64 commented on #7649
See https://github.com/RIOT-OS/RIOT/pull/9450#issuecomment-459733076

[2019-02-01 14:07] #7649 closed

[2019-02-01 14:07] miri64 commented on #7397
See https://github.com/RIOT-OS/RIOT/pull/9450#issuecomment-459733076

[2019-02-01 14:07] #7397 closed

[2019-02-01 14:11] rfuentess commented on #10897
Sounds perfect for me :+1:

Sadly, I was unable to retake my work with my original approach on the last months.   I'll try to help with this new approach.

[2019-02-01 15:10] #10881 closed

[2019-02-01 15:10] #6123 closed

[2019-02-01 15:12] miri64 commented on #6123
:dancer:

[2019-02-01 21:07] nmeum opened #10927 "gnrc_tftp: Missing minimum length check"
#### Description

gnrc_tftp is missing a minimum packet length check in the `_tftp_decode_start` function and might thus perform an out-of-bounds read.

#### Steps to reproduce the issue

On native:

1. Add `USEMODULE += gnrc_pktbuf_malloc` to `examples/gnrc_tftp/Makefile`
2. Build `examples/gnrc_tftp` using `make all-valgrind`
3. Run the application using `make term-valgrind`
4. Start the TFTP se

[2019-02-04 05:25] bluephoton opened #10935 "Add the ability to set pin inversion on stm32 uart"
#### Description
SBUS protocol (widely used for radio controlled drones) uses inverted serial and requires the ability to invert UART RX pin.

Current implementation provides a function uart_mode() that doesn't allow this functionality.

### Useful links
See related discussion about this here: https://github.com/RIOT-OS/RIOT/pull/10743

[2019-02-04 08:07] MrKevinWeiss commented on #10935
@yegorich @haukepetersen I think this could be done statically in the cpu struct right?

[2019-02-04 08:10] yegorich commented on #10935
I'm cooking a PR right now.

[2019-02-05 10:10] PeterKietzmann opened #10945 "net/gnrc_tcp: timeout of connection establishment"
#### Description
Disturbances during connection establishment (see [`gnrc_tcp_open_passive()`](https://github.com/RIOT-OS/RIOT/blob/68dc5b0d6e0422df9c3653c2cb8021fc35974aae/sys/include/net/gnrc/tcp.h#L114)) may lead to half-open state and thus to deadlock of a TCP endpoint.

The problem occurred in two different scenarios. The first one was figured by @sabyse during testing. She found that a lost

[2019-02-05 11:09] PeterKietzmann opened #10947 "tests/gnrc_tcp_*: not working on 6Lo-based boards"
#### Description
Both test applications *tests/gnrc_tcp_server* and *tests/gnrc_tcp_client* do not work on current master using boards (I tried with samr21-xpro and iotlab-m3). It used to work on 2018.07 release branch though.

#### Steps to reproduce the issue
Build/flash/term one of the aforementioned applications to a board and wait for the serial output.

#### Expected results
The respective a

[2019-02-05 11:10] PeterKietzmann commented on #10947
@smlng, @miri64 ideas?

[2019-02-05 11:21] miri64 commented on #10947
I'd just do a `git bisect` to find the regression.

[2019-02-05 11:47] kb2ma commented on #10897
Thanks for pursuing this! The API looks good at this level: send/recv functions as a wrapper for the underlying UDP sock, with additional setup/teardown infrastructure. The timeout parameter for sock_dtls_recv() is essential for gcoap, as is the ability to interrupt it when listening indefinitely.

I suggest developing a very simple end to end implementation to get a feel for how the API works for

[2019-02-05 11:54] miri64 commented on #10947
0a9793c49bf7d127f3281aaaa1b5584ee15b02c6 introduced the regression according to my bisect. Will investigate.

[2019-02-05 11:57] miri64 commented on #10947
However, there is more to this. In 0a9793c the hardfault handler is still called and I get a dump of all registers. Later I don't see that anymore. I will investigate this as well.

[2019-02-05 13:03] miri64 commented on #10947
Ok, it is confirmed to be https://github.com/RIOT-OS/RIOT/commit/0a9793c49bf7d127f3281aaaa1b5584ee15b02c6 now.

[2019-02-05 13:41] kb2ma commented on #10897
You also might want to look at OSCORE, and the recently open sourced c_OSCORE embedded implementation [1,2]. From an application perspective it would be nice if there was some commonality with a DTLS based approach, but I don't know if that is feasible.

[1] https://datatracker.ietf.org/doc/draft-ietf-core-object-security/
[2] https://mailarchive.ietf.org/arch/msg/core/PYheXvjx0vNZ3wPhB8-NaJ2Es8M

[2019-02-05 14:04] miri64 commented on #10897
OSCORE and DTLS are very different approaches to communication encryption (one is on the application layer, one is on the transport layer). For now we should focus to have a common API to one protocol and then the other and then it might make sense to have a common API for both on top of this. But I don't think that we should mix those two on the very entry level into the protocol. Otherwise, we r

[2019-02-05 14:59] kb2ma commented on #10897
I agree on starting simply, @miri64! Perhaps the most valuable API comparison between DTLS and OSCORE would be at the level of message encryption/decryption.

[2019-02-05 15:32] jia200x commented on #10410
I guess this should stay open? @miri64

[2019-02-05 15:34] miri64 commented on #10410
Yepp. This was an automatic close due to #10412 being merged, which contained https://github.com/RIOT-OS/RIOT/commit/ea3edef5c7f6704dcf1ca270aca87ccd503024f6 with the magic word ;-).

[2019-02-05 15:42] maribu commented on #10410
@PeterKietzmann, @jfischer-phytec-iot, @gebart: Could one of you confirm it is unaffected?

[2019-02-05 15:42] #9387 closed

[2019-02-05 16:38] #10947 closed

[2019-02-05 17:59] brummer-simon commented on #10945
Would you like to create a second issue for the second scenario?

From my investigations from yesterday I am sure that both problems are related but caused by different sources. The referenced PR #10946 only addresses the first scenario.

[2019-02-06 07:39] PeterKietzmann commented on #10945
@brummer-simon I will open an other issue but first wanted to sort out what's been discussed in #10950. Maybe these problems relate. However, if I'm not mistaken #10946 actually does address this issue as well. If you need further insights I could send you tome pcaps w/ and w/o your PR.

[2019-02-06 07:44] brummer-simon commented on #10945
The initiali sending of SYN with Source addr :: is a problem and might be caused by a faulty test setup.
I my point of view thats the outcome of #10950.

The changed behavior introduced by #10946 solves the deadlock problem but has nothing to do with sending ::. So from point of view they the issues are caused by different problems and should be handled in separate Issues and PR.

[2019-02-06 07:56] PeterKietzmann commented on #10945
Please read the above description carefully. Initially sending from `: :` does **not** relate to TCP **but** it leads to a similar situation as with the missing last ACK of a handshake: The server is not able to establish a new connection. With "new" connection I'm talking about the client re-trying to initiate the handshake with his (correct) link local IPv6 source address the second time.

[2019-02-06 09:23] brummer-simon commented on #10945
Ah okay. There is still room for improvement. A received SYN without any source or destination address should not be accepted as a valid SYN anyway and therefore a sending of a SYN+ACK/RST+ACK should not occur.

However you are right with the proposed change, at least the deadlock vanishes. RST+ACK is like SYN+ACK, something the receiver has to respond with an ACK. In case the the peer never ACKs

[2019-02-06 09:33] miri64 commented on #10945
`::` is set when the source address selection algorithm can't find any address. Are the addresses on the interface all valid?

[2019-02-06 09:35] miri64 commented on #10945
With valid I mean: Is the address in [GNRC_NETIF_IPV6_ADDRS_FLAGS_STATE_VALID](http://doc.riot-os.org/gnrc_2netif_2ipv6_8h.html#a3cb79f744d506ffe88e5aafac08f3849) state?

[2019-02-06 09:54] PeterKietzmann opened #10956 "tests/gnrc_tcp_*: #2 not working on 6Lo-based boards"
#### Description
In #10947 and #10950 we found and fixed an issue which let a board hard fault running the above mentioned apps. Now that this is fixed it turns out the code is executed but the protocol doesn't work. Looking at a sniffer, all I see is Router Solicitations, nothing more. Digging a bit deeper it seems that TCP packets are dropped within the network stack:

- The packet is dropped in

[2019-02-06 10:18] miri64 commented on #10956
I had a quick look at the stack and the `gnrc_netif_hdr_build()` is there. Here

https://github.com/RIOT-OS/RIOT/blob/3e5658d40739dfa8e482bb3ed1ee595fd656fa96/sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c#L114-L135

and here

https://github.com/RIOT-OS/RIOT/blob/3e5658d40739dfa8e482bb3ed1ee595fd656fa96/sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c#L223-L236

For the first case, I'm not quite s

[2019-02-06 10:19] brummer-simon commented on #10945
I can check later today. At the beginning of the tests the IP-Address from the makefile is assigned.
After that I should be able to a the assigned Address is in a valid state.

[2019-02-06 10:21] miri64 commented on #10956
https://github.com/RIOT-OS/RIOT/blob/3e5658d40739dfa8e482bb3ed1ee595fd656fa96/tests/gnrc_tcp_client/Makefile#L10

Hardcodes the interface identifier to 5. Since we use 6LoWPAN, which adds an extra thread, this might not be the correct one.

[2019-02-06 10:27] PeterKietzmann commented on #10956
I used `TCP_TARGET_ADDR=<ll_addr_server>` without any interface info I think that's the probelm

[2019-02-06 10:39] PeterKietzmann commented on #10956
With `%6` at least this issue seems to be fixed. Improving the documentation should do. However, now I see floods of TCP packets which doesn't seem correct. Here I would ask @brummer-simon for clarification

[2019-02-06 11:09] brummer-simon commented on #10956
Sorry guys I can't take a look into the issue currently (I am supposed to do the things I am getting paid for during the day;). Maybe I find the time this evening to find something out.

There is still the Problem that I can test only on native currently.

[2019-02-06 11:36] miri64 commented on #10956
I think this goes into the direction I already pointed out when we had the discussion about TCP accepting strings for `connect`. You promised to fix this at some point anyway ;-).

[2019-02-06 11:37] miri64 commented on #10956
Yepp.

[2019-02-06 12:08] brummer-simon commented on #10956
Jeah we talked about that ;). I think the outcome was that this is part of the integration of gnrc_tcp into the sock interface.

[2019-02-06 12:40] PeterKietzmann commented on #10956
Only on hardware (samr21-xpro - samr21-xpro)

[2019-02-06 12:44] brummer-simon commented on #10956
Hm this is something I can't test at home :(.

Could you capture the traffic and send me the wireshark dump?

[2019-02-06 12:58] miri64 commented on #10956
But in the IoT-LAB ;-).

[2019-02-06 13:30] brummer-simon commented on #10956
That might be true. Do you have any reference on how to use that?

I just want to collect what works and what not:
1) Currently native works without Packet flooding and with the Device ID 5.
2) Non-native works but has Packet flooding. And the Device ID 6 is required, because
there is the additional 6LoPan Layer native doesn't use.

=> Hardcoding a device identifier is a bad idea. Maybe I could us

[2019-02-06 13:33] miri64 commented on #10956
https://www.iot-lab.info/tutorials/. There are a diverse number of platforms available: https://www.iot-lab.info/hardware/. You can even sniff remotely: https://www.iot-lab.info/tutorials/monitoring-sniffer-m3/.

[2019-02-06 13:34] miri64 commented on #10956
Maybe the MSS is not configured properly for IEEE 802.15.4 traffic and that's causing some kind of flooding?

[2019-02-06 13:41] brummer-simon commented on #10956
GNRC_TCP MSS is configured to be aligned with the minimum IPv6 MTU of 1280 byte via a define.
`
#ifndef GNRC_TCP_MSS
#ifdef  MODULE_GNRC_IPV6
#define GNRC_TCP_MSS (1220U) /**< If IPv6 is used. Get MSS = 1280 - IPv6 Hdr - TCP Hdr = 1220 */
#else
#define GNRC_TCP_MSS (576U) /**< Default MSS */
#endif
#endif
`
The TCP MSS is therefore independent from the 6LoPAN layer.

[2019-02-06 13:44] miri64 commented on #10956
`#ifndef GNRC_TCP_MSS #ifdef MODULE_GNRC_IPV6 #define GNRC_TCP_MSS (1220U) /**< If IPv6 is used. Get MSS = 1280 - IPv6 Hdr - TCP Hdr = 1220 */ #else #define GNRC_TCP_MSS (576U) /**< Default MSS */ #endif #endif`
The TCP MSS is therefore independent from the 6LoPAN layer.

Okay. I believe that is in line with the [TCP over constrained node networks draft](https://tools.ietf.org/html/draft-ietf-lwig

[2019-02-06 13:45] miri64 commented on #10956
(6Lo only fragments when packets don't fit into the L2's PDU)

[2019-02-06 13:51] brummer-simon commented on #10956
During the test procedure a 2048 byte sized buffer, filled with a test pattern if transmitted in both directions. This should result in two IPv6 Packets. One with 1220 byte payload and the other with 828 byte payload. This transmission happens in both ways. I am pretty sure that there is some fragmentation involved.

[2019-02-06 14:00] miri64 commented on #10956
Ok, but those should not show up in the sniffer as TCP traffic, but rather 6LoWPAN packets with one (reassembled) TCP datagram in the end.

[2019-02-06 14:02] PeterKietzmann commented on #10956
@brummer-simon check [this pcap](https://owncloud.inet.haw-hamburg.de/index.php/s/ZWVbzFB4NE7KIel). As you can see, handshake seems somewhat ok but then weird stuff happens. However, I'd prefer **not** to analyze remotely and maybe wait for the next Hack'n'ACK.

[2019-02-06 15:07] brummer-simon commented on #10956
That would play into the fragmentation theory. The handshake has no payload.

@martine - I have some vague memory that the TCP inspection view was somewhat broken when I comes to using TCP over 6LoPAN. This was few years back but it could is still not fixed.

@PeterKietzmann - To be really sure if this is fragmentation on 6LoPAN or really entire TCP Packets, you could add a debug print in "sys/net

[2019-02-06 15:12] miri64 commented on #10956
I have no idea about that. I'm not really used to dissecting TCP traffic ;-D.

[2019-02-06 15:13] miri64 commented on #10956
(btw it's either called 6Lo*W*PAN [if you talk about IPv6 over IEEE 802.15.4] or 6Lo [if you talk about IPv6 over any unspecified CNN] not 6LoPAN ;-))

[2019-02-06 17:09] miri64 commented on #10956
I think if you are using ULAs you also could use `2001:db8::/32` (the IPv6 prefix version of `example.org`). Just make sure you assign a global IPv6 address marked as *valid* to *both* nodes. Otherwise the network bootstrapping in 6Lo-ND will give you hell ;-) (for DAD a border router is required e.g.).

[2019-02-06 17:21] brummer-simon commented on #10956
Thanks. I'll try that and keep you updated.

[2019-02-06 18:04] miri64 commented on #10956
(oh and of course routes need to be configured as well)

[2019-02-06 18:52] brummer-simon commented on #10945
This PR #10963 uses a different ip addresses and verifies them. At least on native the "::" goes away with this.

[2019-02-06 18:56] brummer-simon commented on #10956
Thanks Martine for the valuable input.
This is the PR #10963 what uses the different IP Addresses. I was only able to test it on native.
@PeterKietzmann would you test the PR on a samr21-xpro with 6LoWPAN (;-)) and check if the Packet flooding still occurs?

[2019-02-07 10:12] maribu commented on #7474
I just stumbled upon the same issue for my rewrite of the `cc110x` driver in https://github.com/RIOT-OS/RIOT/pull/10340.

I would like to point out that an increasing number of network device driver are adding workarounds for this issue, which results in a lot of code duplication. It would clearly better to use, as @miri64 suggested, to wait for `NETDEV_EVENT_TX_COMPLETE ` (and I think also `NETDE

[2019-02-07 10:37] jcarrano commented on #10815
Regarding item (2), it is OK to ignore the "undocumented entity" warnings? In a perfect world, everything is documented, but in reality it is not and I don't think it will ever be even close.

(3) Is there a reason why we have an empty project name?

[2019-02-07 10:58] gschorcht commented on #10815
Our static tests include `make doc` which probably will fail with doxygen 1.8.15 due to these warnings.

I guess it was by intention. The behavior of earlier version of doxygen was to handle `mainpage.md` as root in the navigation tree if `PROJECT_NAME` is empty. For example, if you set `PROJECT_NAME = RIOT-OS` you would get a navigation tree as follows

![snapshot2](https://user-images.githubuser

[2019-02-08 10:21] jcarrano commented on #10809
This is caused by new warnings in GCC 8.1. This upstream PR may have fixed it: https://github.com/openthread/openthread/pull/2944

[2019-02-08 10:58] maribu opened #10969 "net: netdev_driver_t::send() doc unclear"
#### Description
The [documentation of `netdev_driver_t::send()`](http://api.riot-os.org/structnetdev__driver.html#a39585137953a92c1c58b5e0ad3262096) is unclear on the return value.

#### Steps to reproduce the issue
Read the doc regarding the return value.

#### Expected results
The reader is aware what the return value should be.

#### Actual results
The reader is confused, as the correct return

[2019-02-08 11:28] jcarrano opened #10972 "examples/nanocoap_server hangs after > 256 bytes packet"
### Description

Sending a UDP packet bigger than 256 bytes to the "examples/nanocoap_server" application causes it to stop responding to requests.

I tested this in native only.

### Steps to reproduce the issue

#### Start the application:

[code]

### Verify the server is up

[code]

### Send 256 zeros, no problem

[code]

### Send 257 zeros, it breaks

[code]

### Expected results

The 247-zer

[2019-02-08 13:07] kb2ma commented on #10972
Thanks for the report. The app uses a 256 byte buffer, so I suspect that is somehow the source of the problem. I agree that the server should be able to respond to future requests.

[2019-02-09 05:13] bluephoton opened #10979 "Missing SPI pre-scalars for STM32F7"
#### Description
**File**: /RIOT/boards/common/stm32/include/cfg_spi_divtable.h
This file doesn't have values corresponding to APBx clock = 54M, and 108M

#### Steps to reproduce the issue
This was discovered while trying to add sd-card support, hence enabling SPI. I got compiler error. ABPx clocks need to match the values above to get this error.

Had to add these values (used existing utility to

[2019-02-11 08:31] PeterKietzmann commented on #10979
@bluephoton I'm not quite sure how to reproduce. Furthermore, do I see it correctly that this is more a feature request that can be fixed by adding a configuration to *cfg_spi_divtable.h*? To contribute changes to RIOT please have a look at [Contribut code](https://github.com/RIOT-OS/RIOT/wiki/Contributing-to-RIOT#contribute-code) and our [Developement procedures](https://github.com/RIOT-OS/RIOT/w

[2019-02-11 09:38] PeterKietzmann commented on #4418
@kaspar030 did you?

[2019-02-11 10:32] kaspar030 commented on #4418
It seems to me back then I just edited the issue and added some.

[2019-02-11 15:56] jcarrano opened #10990 "[TRACKING] User interface and reporting tool bugs"
### Description

This issue tracks the progress of bugs related to the user interface to the build system and the way information is reported (for example, errors, toolchain versions, etc.)

The goals are:

- Provide more informative messages that work in every platform.
- Extract enough information about the system to allow proper debugging of issues.

### PRs

#### Windows

- [ ] toosl/print_too

[2019-02-11 16:21] maribu commented on #10969
Looking into the current drivers, variant 2 seems to be the predominant approach:

Drivers implementing variant 1. (PDU):
- None

Drivers implementing variant 2. (frame size without FCS, preamble, etc.)
- `at86rf2xx`
- `enc28j60`
- `encx24j600`
- `esp_now`
- `ethos`
- `mrf24j40`
- `nrfmin`
- `kw2xrf`
- `slipdev
- `sx127x` (?)

Drivers implementing variant 3 (frame size with FCS, but without preamb

[2019-02-11 18:24] jcarrano opened #10994 "[TRACKING] The RIOT shell as a testing interface"
### Description

The RIOT testing system uses the shell quite extensively. While this is in itself a good idea, the current embodiment has a few issues:

- A few bug in the shell.
- Lack of a programmatic way of interacting with it (this was pointed out before in https://github.com/RIOT-OS/RIOT/issues/4967,) It would be desirable to have a library for interacting with the shell that can also be us

[2019-02-11 21:26] kaspar030 commented on #10994
This has already been done. pyterm was just too damn slow to startup on the RasPis used by the CI. Just provide e.g., "RIOT_TERMINAL=picocom". Currently needs support in ```makefiles/tools/serial.inc.mk```.

[2019-02-12 09:51] jcarrano commented on #10994
Then why have it on the CI only? If it is possible to remove it from the CI it should be possible to remove it from the official distribution.

In my view even picocom is unnecessary if the test script could directly read and write to the TTY. Once the tty device is configured, the terminal program is just copying bytes from /dev/ttyX to a pipe and back.

[2019-02-12 12:51] #10945 closed

[2019-02-12 20:33] bluephoton commented on #10979
@PeterKietzmann, I'm not sure of a simple repro. I think if you change the CLOCK_CORECLOCK value on a nucleo board to be 216MHz build will fail. But for this to happen you need to be using SPI (your periph_conf.h needs to include cfg_spi_divtable.h)

It doesn't look like a feature request to my untrained eye, since RIOT already have support for F7 cpu - which support this clock frequency.

Unfortu

[2019-02-13 08:20] PeterKietzmann commented on #10979
@bluephotonthanks for the feedback. Would you be so kind to adapt the issue description? That means, which application did you try to build for which board and what configurations have been changed during that build.

[2019-02-14 07:01] bluephoton commented on #10979
@PeterKietzmann , sure thing! I'm actually using proprietary board that is not part of public RIOT, its mostly a nucleo like. Let me try to cook something simple with existing nucleo that can repro then will update. Stay tuned...

[2019-02-14 12:34] chamisso opened #11013 "hts221: wrong bit for "one-shot enable" register"
In the file RIOT/drivers/hts221/include/hts221_regs.h line 128 should read:
`#define HTS221_REGS_CTRL_REG2_OS_EN     (1 << 0)    /**< One-shot enable, start new dataset */`
and not:
`#define HTS221_REGS_CTRL_REG2_OS_EN     (1 << 2)    /**< One-shot enable, start new dataset */`.

[2019-02-14 15:47] PeterKietzmann commented on #11013
@smlng you are the author of that file. Mind to have a look?

[2019-02-14 17:07] smlng commented on #11013
mhm looks like copy paste from the REG3 definition, see #11017

[2019-02-14 21:57] #11013 closed

[2019-02-15 17:23] kb2ma commented on #10732
@kaspar030, @bergzand, @haukepetersen, @smlng, @aabadie:

I just posted #11024, which completes the block implementation for the Buffer API. I would appreciate your help with reviews for the sequence of PRs below. The checkboxes in the description for this issue reflect this work. I would love to have these merged in time for IETF 104 towards the end of March.

- #10892 net/gcoap: Replace use of g

[2019-02-16 08:33] WulfricLee commented on #4427
I've encountered this problem before, it's very weird in my case, I plug a USB wire into my CMSIS-DAP debugger and a USB HUB which connected to my computer, at first I plugged it in the 2nd slot of my USB HUB, and I ran OpenOCD, I was told
[code]
then I tried the first slot, it just worked! And I try the second slot again, the error prompted to me as before, I tried each slot in my HUB, the result

[2019-02-17 10:06] olegart opened #11026 "Recent changes effectively killed modular board designs"
What was the reason behind initializing all the interfaces in drivers/periph_common/init.c irregardless of whether actual firmware uses them or not?

It is incompatible with any kind of modular design when external modules may be connected or not and interfaces used or not depending on runtime configuration.

[2019-02-17 18:39] Khayhen opened #11028 "Setting up custom board with supported CPU and radio module"
Hi, I'm trying to implement a 6LoWPAN network with multiple boards. Unfortunately, I'm unable to afford the Atmel SAMR21-xpro. However, I managed to purchase some Arduino Mega and the MRF24J40 radio module. I connected the radio module to the Arduino Mega with the CS pin = 53, int pin = 2 and reset pin = 3. I tested this with the Arduino IDE and it works successfully.

So in order to setup my own

[2019-02-18 08:15] PeterKietzmann commented on #11028
@Khayhen I'm surprised that you could even build and link successfully. The arduino-mega2560 only has 8kB RAM which is not enough for *examples/gnrc_networking*. Maybe have a look at *examples/gnrc_minimal*.

[2019-02-18 08:24] Khayhen commented on #11028
I see. What is the bare minimum to run a system like this? I'm also have a blue pill board which is based of the STM32F103C8T6 which has 64kB flash and 20kB SRAM. Will that be sufficient? I'm also trying to program that but having many difficulties, should I start a new issue on that?

[2019-02-18 08:27] yschroeder opened #11029 "Default example does not work on stm32f4discovery"
#### Description

The default example outputs nothing on stm32f4discovery and does not accept commands.

#### Steps to reproduce the issue

* `git clone https://github.com/RIOT-OS/RIOT.git`
* `cd RIOT/examples/default`
* `BOARD=stm32f4discovery make flash term`
* Boards flashes normally, pyterm starts up

#### Expected results

Device prints `Welcome to RIOT!` to the serial console. Input of `help

[2019-02-18 08:31] PeterKietzmann commented on #11028
Bluepill should be good I guess. To get an idea about minimum memory requirements you might wanna have a look at [this doc](https://arxiv.org/pdf/1801.02833.pdf). However, *gnrc_networking* is bigger as it comes with a shell and a collection of practical shell handlers.

[2019-02-18 08:36] PeterKietzmann commented on #11029
The discovery boards don't support on-board UART over USB and need an external converter connected to `UART_DEV(0)` which is PA2(TX) and PA3(RX). Did you use one?

[2019-02-18 08:37] yschroeder commented on #11029
Yes I did us an FTDI on PA2/PA3, the hello-world example worked fine and printed the expected output, `tests/leds` also works as expected, only the default example seems to hang.

[2019-02-18 08:38] PeterKietzmann commented on #11028
@Khayhen can we close this issue again?

[2019-02-18 08:38] PeterKietzmann commented on #11029
ok I'll give it a try

[2019-02-18 08:40] kaspar030 commented on #11029
@yschroeder can you please try "tests/shell"? If that works, basic uart IO is working properly.
I don't have an stm32f4discovery. Does "make debug" work on the board?

[2019-02-18 08:41] Khayhen commented on #11028
@PeterKietzmann Noted. Thank you very much. Will open a new issue on programming the blue pill.

[2019-02-18 08:41] #11028 closed

[2019-02-18 08:44] yschroeder commented on #11029
`tests/shell` works:

[code]
And yes, `make debug` works.

[2019-02-18 08:44] PeterKietzmann commented on #11029
*tests/shell* works, *examples/default* hangs here as will. Will look into it

[2019-02-18 09:24] PeterKietzmann commented on #11029
The bug was introduced in `f2466fb8dc5b931ba4adbf902996985e4e2db71d` and relates to the RTC module. After removing `FEATURES_OPTIONAL += periph_rtc` from the Makefile, the *examples/default* works again.

[2019-02-18 09:42] Khayhen opened #11030 "Problem flashing the Bluepill (STM32F130C8)"
Hi, I'm trying to setup a 6LoWPAN network and due to limited budget and resources, I decided to use the bluepill board (STM32F130C8) with the MRF24J40 radio module. However, I'm unable to flash the board. I'm using a FTDI USB-UART programmer with the pins connected in the following way and with boot 0 set to 1 and boot 1 set to 0:
5V    - 5V
GND - GND
TX    - A9
RX    - A10
 When I try to flash it

[2019-02-18 09:48] PeterKietzmann commented on #11030
@MrKevinWeiss can you help here?

[2019-02-18 10:49] PeterKietzmann commented on #11029
The RTC initialization hangs [here](https://github.com/RIOT-OS/RIOT/blob/master/cpu/stm32_common/stmclk_common.c#L73) because the the low-speed oscillator never gets ready. @haukepetersen, @vincent-d can you help?

[2019-02-18 12:39] yschroeder commented on #11029
According to the schematics, X3 on the discovery board is a 32khz clock crystal which is not mounted by the factory. I can confirm that X3 is missing on all 4 boards I have at hand. Maybe some boards exist with the clock crystal mounted? In any case, I guess RTC operation is not possible without the 32khz crystal, so it might be in error, that the board tries to initialize the RTC peripheral at al

[2019-02-18 14:08] aabadie commented on #11029
If there's no LSE, can you try with `#define CLOCK_LSE           (0)` [here](https://github.com/RIOT-OS/RIOT/blob/master/boards/common/stm32/include/f4/cfg_clock_168_8_1.h#L41) ?

[2019-02-19 05:39] mohanmaniramesh opened #11031 "ERROR: Timeout waiting for ACK/NACK after 'Synch (0x55 0x55)'"
hello all,

I will explain step by step:

1. I have 10  openMote-B  Rev-1.4
2. I started working with RIOT. I'm confused where to and how to start so I mailed to RIOT Developer's
   they said  as you are a beginner you can  try  RIOT--TUTORIALS like that
   https://github.com/RIOT-OS/Tutorials
3. So I started working with the TUTORIALS, I have installed the necessary packages
4. I have connected o

[2019-02-19 05:46] mohanmaniramesh commented on #11031
### Sorry I didn't exported the toolchain path in the above ./print_toolchain_versions.sh the below one is correct
Operating System Environment
-----------------------------
       Operating System: "Ubuntu" "18.10 (Cosmic Cuttlefish)"
                 Kernel: Linux 4.18.0-15-generic x86_64 x86_64

Installed compiler toolchains
-----------------------------
             native gcc: gcc.real (Ubunt

[2019-02-19 08:48] PeterKietzmann commented on #11029
Same here, no crystals on X3. Disabling the external crystal as proposed by @aabadie fixes the issue. @aabadie do you have any suggestions how we handle the default configuration? Or may document it next to the board?

[2019-02-19 11:56] aabadie commented on #11029
This default clock configuration is also used by other boards (nucleo-f429zi and stm32f429i-disc1) for which it works in master. IMHO the best solution would be to add a new default configuration with `CLOCK_LSE` defined to 0 (cfg_clock_168_8_0) that will be used by the stm32f4-discovery board. Maybe this file could share the core clocks defines with the already existing ones. This is just a sugge

[2019-02-19 13:34] cladmi commented on #11029
I think the `stm32f3discovery` is also affected by this. Commenting `FEATURES_OPTIONAL += periph_rtc` in `examples/default` makes it work again.
I found during the release tests on `rc3` that `tests/periph_rtc` was failing on the board.

[2019-02-19 17:37] benpicco opened #11033 "6lo: RIOT does not receive packets from Linux when short_addr is set"
#### Description
When setting a short address on a Linux host (`iwpan dev wpan0 set short_addr 0x2`), RIOT is not able to receive packets send from that Linux host anymore.

A simple test is to use ICMP ping, but this can also be observed with UDP messages.

#### Steps to reproduce the issue
- obtain a Linux device with a 802.15.4 interface. I use a raspberry pi with a mrf24j40 module connected ov

[2019-02-19 18:21] Khayhen commented on #11030
After some more research, I notice the board is configured to use a ST-Link debugger. But in the OpenOCD wiki it mentioned that FTDI programmers can be used. Is this a problem with the programmer I'm using?

[2019-02-19 19:19] PeterKietzmann commented on #8663
#10974 solves this issue. @MichelRottleuthner please reopen if I'm mistaken.

[2019-02-19 19:19] #8663 closed

[2019-02-19 19:21] PeterKietzmann commented on #11033
@jia200x you have the equipped PI on your desk anyway. Mind to give it a try?

[2019-02-20 08:05] MrKevinWeiss commented on #11030
Hey @Khayhen welcome to RIOT, sorry I didn't respond, I have been pretty busy.

The default flasher for the bluepill in RIOT is the openocd stuff.  You can follow the guide [here](http://www.marrold.co.uk/2017/08/flashing-bootloader-on-to-stm32-blue.html) to program with the uart bootloader (the stm32loader.py script comes with RIOT and can be found at <RIOTBASE>/dist/tools/stmloader32/stm32loader

[2019-02-20 08:26] MrKevinWeiss commented on #11031
So this was attempted to be dealt with on the RIOT users list.  I have not been able to reproduce the issues though.  It seem like a serial connection is left open somehow.  The bootloader pin should be 6 according to the rev 14 schematics and the fact that @mohanmaniramesh bricked a number of devices when changing it to pin 7 leads be to believe that it is correct.

@mohanmaniramesh please clearl

[2019-02-20 09:39] jia200x commented on #11033
@PeterKietzmann sure

[2019-02-20 09:51] mohanmaniramesh commented on #11031
hello @MrKevinWeiss
openmote developer Mr.peretuset only told me that  bootloader pin number is 7 thats the reason i changed even i changed it for only one board before that the original code with bootloader pin 6 was bricked 4 boards
its not flashing even i restart ,replug and reopen the console also

[2019-02-20 12:21] MrKevinWeiss commented on #11031
Ya the bricked boards won't work.  You will need to reflash a program with the correct pin.  I am interested in the working boards and what is done after the failed flashing attempt to get them to work.

[2019-02-20 13:00] alexaring commented on #11033
Meh, I guess I know why this happens :-(

<quote>
08:14 + eintopf >> but then I can say normal ndisc with short address is broken either on riot or linux
08:15 + eintopf >> I am aware that I do it different what RIOT is doing :-/
08:15 + eintopf >> in short: RIOT 802.15.4 6lowpan handles short/extended as xor, where Linux handles it as or
08:17 + eintopf >> and the or strategy on Linux is "saving

[2019-02-20 16:02] MichelRottleuthner opened #11038 "Neighbor Discovery not working after router reboot when using SLAAC"
#### Description
When using the GNRC_IPV6_NIB_CONF_SLAAC option a network connection to a riot node doesn't recover to a working state after a router reboot.
Actually this doesn't seem to be a real bug in riot but more an iterop problem between riot and linux.
After offline discussion with @smlng I'm adding it here mostly for documentation and discussion with more people.
Since linux-wpan is basic

[2019-02-20 16:10] miri64 commented on #11038
Alternatively run without classic DAD and set the ABRO in the router advertisements within the radvd config. It's even documented in @smlng's tutorial ;-)

[2019-02-20 16:25] MichelRottleuthner commented on #11038
The ABRO is already set in the radvd config and classic DAD is performed with gnrc_ipv6_router_default enabled, right? The problem I have then is that the global address of the riot node is marked tentative which I'd also like to avoid...

[2019-02-20 18:52] Khayhen commented on #11030
Hey @MrKevinWeiss, Thank you so much for your help and your time. I have ordered a ST-Link V2 programmer and should be arriving soon. In the mean time I'm just trying to install the dfu-util bootloader. But I can't find any proper bin file providing the dfu-util bootloader. Is there any link you can recommend?

[2019-02-21 05:05] mohanmaniramesh commented on #11031
sorry @MrKevinWeiss the bootloader pin is 6 only. I  checked the scematic and i asked again to the pere tuset that was his mistake he told wrong

[2019-02-21 07:42] PeterKietzmann commented on #11029
@aabadie that sounds reasonable. Anyone willing to address this, maybe @yschroeder? I'll mark the issue as Hack'n'ACK candidate.

[2019-02-21 08:16] PeterKietzmann opened #11043 "boards/z1: tests/rng resets board"
#### Description
z1 boards crash running the application *tests/rng*. Changing the default PRNG to `prng_xorshift` doesn't help. telosb nodes don't seem to be affected.

#### Steps to reproduce the issue
- Build/flash/term *tests/rng* on a z1 node
- Run the `entropy` command

#### Expected results
- The application outputs a (float) entropy estimation and a number of 1000 samples

#### Actual resu

[2019-02-21 08:21] MrKevinWeiss commented on #11030
I used [this](https://github.com/rogerclarkmelbourne/STM32duino-bootloader/blob/master/bootloader_only_binaries/generic_boot20_pc13.bin), just be careful as the last commit message for it was:

[here](https://medium.com/@paramaggarwal/programming-an-stm32f103-board-using-usb-port-blue-pill-953cec0dbc86) is another guide.

just using an stlink is the best way I think (once it arrive).

Have fun! (a

[2019-02-21 08:39] PeterKietzmann commented on #8162
For the protocol: #10340 provides a complete rewrite of the radio driver. I'm closing this issue due to lack of responsiveness.

[2019-02-21 08:39] #8162 closed

[2019-02-21 08:54] PeterKietzmann commented on #658
I'm inclined to close this issue or 'feature request'. It is super old, I couldn't find information about the original MSB430 because it's website is [not found](http://www.mi.fu-berlin.de/inf/groups/ag-tech/projects/Z_Finished_Projects/ScatterWeb/modules/mod_MSB-430.html) and if I see it correctly, the successor [MSB430H](http://www.mi.fu-berlin.de/inf/groups/ag-tech/projects/ScatterWeb/modules/m

[2019-02-21 09:12] PeterKietzmann commented on #4954
This issue seems horribly outdated, and so does the chronos por :/. However, could anyone say (i) which application was compiled and (ii) how the `CFLAG` was set?

[2019-02-21 10:00] cladmi commented on #11043
With the `wsn430-v1_3b` the board does not answer anymore after running the `source 0` test suite.
I imagine it can be linked with a stack size issue. I could not re-run the test because of the testbed maintenance in Strasbourg.

[2019-02-21 10:17] PeterKietzmann commented on #5487
#5750 was closed 2 years ago. Since then, there were no efforts for a change. Furthermore, we continued caring about `ifconfig`. Personally I think we could close this issue (maybe set memo label) and admit we stay with `ifconfig`. @miri64 any objections?

[2019-02-21 10:22] miri64 commented on #5487
Seeing the amount of new information added to ifconfig, I'm still of the opinion that we actually should factor out certain options that are only of importance for certain devices. However, since this is a low priority (at least to me), we should keep this issue open as a reminder for that / opportunity for a newcomer to implement that. What do you think @PeterKietzmann?

[2019-02-21 10:24] miri64 commented on #4954
I can still reproduce with

[code]

[2019-02-21 10:28] miri64 commented on #4954
(I amended OP to better document this)

[2019-02-21 10:30] miri64 commented on #658
@maribu do you have one of those?

[2019-02-21 10:39] kaspar030 commented on #658
@OlegHahm has *many*.

[2019-02-21 10:40] PeterKietzmann commented on #5487
Personally I don't think this will ever happen, although it might be worth it. But I'm fine leaving the issue open. However, I don't think this is something that should be done by a newcomer.

[2019-02-21 10:41] PeterKietzmann commented on #4954
merci

[2019-02-21 10:57] PeterKietzmann commented on #5849
To 1) We actively decided to move the adapter code to the ccn-lite Repo. There has been a mayor restructuring some time ago.
To 2) and 3) The function `ccnl_wait_for_chunk` is not used anymore.

I'm closing this issue as it is outdated. @OlegHahm, @cgundogan if you disagree with that, I'd ask you to open an updated version in the ccn-lite repository.

[2019-02-21 10:57] #5849 closed

[2019-02-21 11:06] PeterKietzmann commented on #6549
No response for > 1,5 years. *examples/microcoap * doesn't exists anymore but this seemd more like a problem with `tap` on macOS anyway. @paterson if you ever face this issue again, please use the mailing list and give an updated report of that issue.

[2019-02-21 11:06] #6549 closed

[2019-02-21 11:07] PeterKietzmann commented on #6567
@MrKevinWeiss I just wanted you to be aware of this issue.

[2019-02-21 11:11] MrKevinWeiss commented on #6567
Thanks, I have kinetis boards and a scope.  I will check it out!

[2019-02-21 11:14] maribu commented on #658
I have none of these. If noone else so far complained about the missing driver, there seem not to be much demand.

(I could give the datasheet a look if it is similar enough to the CC1101/CC1100/CC1100e family of transceivers to add support to the `cc110x` driver. But I would not add it before the current PR is merged in any case, as I consider adding features counterproductive for the review proc

[2019-02-21 11:14] PeterKietzmann commented on #6715
@maribu no that you seem to be the CC1xxxx radio expert I just wanted you to be aware of this feature request.

[2019-02-21 11:22] maribu commented on #658
My first impression after a brief look in the data sheet is that integration into the `cc110x` driver is not a sensible thing to do. It differes significantly in the interface and configuration register layout from the CC1101. I can give it a second look if there still is reasonable demand for this driver.

[2019-02-21 11:55] PeterKietzmann commented on #6798
@emmanuelsearch this is almost two years old and I think it's outdated. We're currently at vbox 6.0 and vagrant 2.2.3 so I'm closing this one. Please correct me I'd I'm mistaken

[2019-02-21 11:55] #6798 closed

[2019-02-21 11:58] PeterKietzmann commented on #6792
@dylad is this issue still up to date? I did't go into details, just found it related to #10653 which was merged recently.

[2019-02-21 12:07] PeterKietzmann commented on #7440
No response since over a year. @Joe-sae I'm closing your issue. Please leave a comment if the problem is still present

[2019-02-21 12:12] PeterKietzmann commented on #7888
This issue was never used or maintained, so IMO it didn't help tracking development process. I guess there are others of this type. @emmanuelsearch how do you think about it? Should we update or close? Personally I think that especially hardware support is so fast that tracking it would only introduce overhead.

[2019-02-21 12:20] PeterKietzmann commented on #7641
@travisgriggs did you investigate on that?

[2019-02-21 12:21] PeterKietzmann commented on #7657
Question was answered.

[2019-02-21 12:21] #7657 closed

[2019-02-21 12:27] PeterKietzmann commented on #7667
@fedepell can you confirm that #10069 solved this issue?

[2019-02-21 12:30] PeterKietzmann commented on #7702
No further information about the problem and no response since 1,5 years.

[2019-02-21 12:30] #7702 closed

[2019-02-21 12:32] PeterKietzmann commented on #7744
No response since > 1,5 years.

[2019-02-21 12:32] #7744 closed

[2019-02-21 12:46] PeterKietzmann commented on #7909
@florian-popup did this problem ever resolve?

[2019-02-21 12:50] PeterKietzmann commented on #7915
@Stupid-Git  was there any progress since Oct '17? Did you make use of #6121?

[2019-02-21 13:06] PeterKietzmann commented on #8213
@roberthartung  #8213 was merged shortly after you opened this issue. Could you give a quick summary of the remaining problem in the current state? If I see it correctly, point 1. was not addressed but I don't quite understand the problem there.

[2019-02-21 13:14] PeterKietzmann commented on #8353
No feedback since over a year -> closing. @praveenlark please re-open if the issue persists.

[2019-02-21 13:14] #8353 closed

[2019-02-21 13:21] PeterKietzmann commented on #8444
Duplicate of #7365. Fix (not yet merged) in #7445

[2019-02-21 13:21] #8444 closed

[2019-02-21 13:23] PeterKietzmann commented on #8523
#8968 was merged recently

[2019-02-21 13:23] #8523 closed

[2019-02-21 13:30] PeterKietzmann commented on #8598
It's documented [here](https://github.com/cn-uofbasel/ccn-lite/wiki/Frequently-asked-questions) in the ccn-lite FAQ. @Citrullin, @cgundogan would you provide that information in the RIOT doc? I'm adding the Hack'n'ACK label for that.

[2019-02-21 13:59] sjanc opened #11051 "NimBLE port should be always building all NimBLE files"
Building NimBLE for RIOT is part of Apache NimBLE CI now. Whenever new file is added to tree our CI fails on RIOT port due to hardcoded list of files in controller.mk and nimble.host.mk makefiles.

Could RIOT port simply build all .c file for NimBLE? This is how NimBLE is build with newt anyway so building all files is expected to work even if some of NimBLE features are disabled.

This way RIOT p

[2019-02-21 14:08] haukepetersen commented on #11051
Yes, this is certainly possible. Will create the needed fix in the next day(s).

[2019-02-21 14:29] PeterKietzmann commented on #8764
Pin @LalunePierr0t any update on this?

[2019-02-21 14:35] PeterKietzmann commented on #8859
There is #10340 which works quite stable even with the IP stack on top. Furthermore we leave #8754 open until the rewrite of the driver is merged. Now that @hahchenchen didn't respond anymore and #8754 reported defect of the radio device earlier, I'm closing this issue. @hahchenchen please give a sign if you disagree.

[2019-02-21 14:35] #8859 closed

[2019-02-21 14:44] PeterKietzmann commented on #9982
AFAIK OpenThread is currently limited to 802.15.4 radios by atmel. However, we now have some other BLE features, among others, we provide BLE support by the nimBLE stack as external software package. Please have a look at these applications under examples/[nimle_gatt](https://github.com/RIOT-OS/RIOT/tree/master/examples/nimble_gatt), [sklad_eddystone](https://github.com/RIOT-OS/RIOT/tree/master/ex

[2019-02-21 14:51] cladmi opened #11052 "tests/bloom_bytes does not print float"
#### Description

`tests/bloom_bytes` does not correctly print floats on `samr21-xpro` as `printf_float` is not included
Also, on `arduino-mega2560` the float is printed as `?` as there is no float handling.

The issue will be similar to https://github.com/RIOT-OS/RIOT/pull/10999

#### Steps to reproduce the issue

[code]

There is nothing before `false positive rate`.

#### Expected results

[cod

[2019-02-21 14:53] PeterKietzmann commented on #10161
@Citrullin any progress finding commonly used 'asian based Microcontrollers'? I find it cool to have kind of idea-sharing in the community but I don't see why we should keep this issue open. How do the others  see it?

[2019-02-21 14:57] Citrullin commented on #10161
@PeterKietzmann Since this currently also a topic at my work, I will pick this up again at some point. But you are right. I just close it.

[2019-02-21 14:57] #10161 closed

[2019-02-21 15:17] PeterKietzmann commented on #10197
@npcode15 are you still around? If you want further help we would need you to make the whole *main.c * file available. It should be fine if you just point to your RIOT branch on GitHub.

[2019-02-21 15:30] PeterKietzmann commented on #10463
LED issue might be the same as #10294 or #11029?

[2019-02-21 17:54] benpicco commented on #6802
Is someone still working on this?

[2019-02-22 03:12] fedepell commented on #7667
@PeterKietzmann : I believe that, at the time of this issue, there were a bunch of problems in the driver. One was the byte alignment issue (solved by #7970), one was the fact that a write has to be done in more steps (solved by #10069) and last but not least we weren't waiting also for chip to be ready (which was seemingly not a problem but the datasheet says we should, and maybe happens very sel

[2019-02-22 07:35] PeterKietzmann commented on #7667
@fedepell thanks for the detailed report. Sounds like great improvement – so I'm gonna consider this issue as solved.

[2019-02-22 07:35] #7667 closed

[2019-02-22 13:00] haukepetersen commented on #11051
A first draft in #11055, might have to still improve a little more, but hope that branch does work fine already with the NimBLE CI?!

[2019-02-22 13:46] cladmi commented on #11043
I re-tested on `wsn430-v1_3b`. I added `ps` command to see the stack usage output.
And indeed it was a stack issue.

I needed to add this to make it work on `wsn430-v1_3b`:

```CFLAGS += -DTHREAD_STACKSIZE_MAIN=\(3*THREAD_STACKSIZE_DEFAULT\) ```

And the relevant `ps` output:

[code]

I will re-check on other boards too.

[2019-02-22 15:10] dylad commented on #6792
Well I never had time to go deeper and I don't have much time to work on it but there is still a lot of unsupported SAM variants in the wild. So I think this issue can remain open for now. Would be interesting to see if there are people who want to run RIOT on these remaining MCUs.

[2019-02-22 15:51] cladmi commented on #11043
Then with 2 times the default stack size:

* `arduino-mega2560`:
    `2 | main                 | running  Q |   7 |   1024 (  566) |      0xa65 |      0xd58`
* `msba2`:
    `2 | main                 | running  Q |   7 |   1024 (  860) | 0x4000017c | 0x400003c4 `

[2019-02-22 16:37] cladmi commented on #11043
To be more precise with the stack, I put the `line_buffer` static and defined the stack with its usage:

[code]

When testing with ps enabled:

[code]

I get these ps stack usage outputs after the test so would work for these.

* `wsn430-v1_3b`: `640 (  512)`
* `arduino-mega2560`: `768 (  474)`
* `msba2`: `2688 (  732)`

We see that we may not need the added `32*sizeof(int)` but it would be 100% m

[2019-02-24 06:55] Khayhen commented on #11030
Hi, so I managed to get my STLink V2 but I'm not sure if its flashing properly. So when I flash with the basic task-01, I get a "Done Flashing" but when I hook up a USB-UART converter to pins A2/A3 and open pyterm, I don't get any messages. I also wrote another simple blink code to blink PC13(which was tested on an arduino board succesfully). I flashed the bluepill and got the same message but the

[2019-02-24 10:28] MrKevinWeiss commented on #11030
The stdio uart pins usually default to device 0.  According to [the periph configuration](https://github.com/RIOT-OS/RIOT/blob/master/boards/common/stm32f103c8/include/periph_conf.h) device 0 is actually a10 and a9.
[code]

So you could try to get terminal output by connecting to those pins.

_(A2 and A3 are for the rom uart bootloader I think)_

As for the LED it should be C13 and you should see

[2019-02-24 14:38] Khayhen commented on #11030
@MrKevinWeiss I have tried all that you mentioned and still no luck. No LEDs blinking or anything on pyterm. I have also tried with other bluepills and also programmed the board normally with arduino IDE to ensure that the on-board LED is PC13. I have a feeling its something to do with the software side, since I can even program it with the ST-link using the arduino IDE on windows.

[2019-02-24 16:58] kb2ma commented on #10732
Added two more commits to complete this issue:

- #11056 net/gcoap: add/use Packet API Block implementation
- #11057 net/coap: Block optimizations

[2019-02-24 20:55] MrKevinWeiss commented on #11030
Ok, I will try to confirm tomorrow morning on one of my devices.

[2019-02-25 03:44] Khayhen commented on #11030
@MrKevinWeiss Thank you very much for your help and time. Is it possible if I could have your email? As I would like to if possible ask you some questions regarding the whole idea of this project I'm working on. It would really help a lot. Thank you.

[2019-02-25 08:42] MrKevinWeiss commented on #11030
My contact info is [here](https://inet.haw-hamburg.de/members/kevin-weiss).

I was able to flash the bluepill with `BOARD=bluepill make flash -C test/leds/` using the swd pinout from the nucleo and it seems to flash correctly.

[2019-02-25 10:45] sjanc commented on #11051
Hi,

I've tested this with nimBLE CI and build works just fine.
Thanks for fixing this so swiftly!

[2019-02-25 10:59] PeterKietzmann commented on #11043
@cladmi thanks for the investigation. I agree and confirm that the stack size is the problem. However, I don't quite understand what you propose as a fix. `THREAD_STACKSIZE_DEFAULT` is relatively small for MSP430 platforms and *tests/rng* uses a reasonable amount of memory for the shell, all the test functions and the PRNG. I would say we either add `THREAD_STACKSIZE_DEFAULT*2` to the applications

[2019-02-25 12:40] cladmi opened #11059 "board/sltb001a: cannot flash with JLink when 'hello-world' is running and no error"
#### Description

When some firmwares are running on the `sltb001a` it cannot be flashed from JLink anymore but can still be flashed from the drag and drop feature.
It is at least the case for `hello-world`.

To recover the board, just flash `examples/default` with the drag and drop feature.

#### Steps to reproduce the issue

See if it flashes correctly:

[code]
It can be done multiple times

Fla

[2019-02-25 12:43] cladmi commented on #11059
The board can still correctly be reset when in the "broken" state.

I manage to get an error code by adding

[code]

[2019-02-25 12:46] cladmi commented on #11059
@basilfx and @aabadie maybe you have some idea

I think it is similar to the issues we have with `openocd` not being configured correctly to reset the board and hold the reset line before flashing or something.

[2019-02-25 13:06] cladmi commented on #11059
To make it flash properly I added a reset before flashing and it works:

[code]

I could add it there but there may be other boards that need it too.

[2019-02-25 15:02] Khayhen commented on #11030
@MrKevinWeiss May I know your boot configuration, gcc-arm-none-eabi version and st-link version please. Thank you

[2019-02-25 16:04] cladmi commented on #10850
Exporting `TERMPROG` and `TERMFLAGS` for nothing breaks setting `RIOT_TERMINAL` from within testrunner as tried in https://github.com/RIOT-OS/RIOT/pull/10952. And such for no reason !

[2019-02-26 01:15] Stupid-Git commented on #7915
Dear @PeterKietzmann, thanks for the inquiry. I have to admit a lot of time has passed since I looked at this issue/feature. I do remember looking at the ZEP but not attempting to use it, because my (sledge hammer) modifications to the source code were giving me the functionality I needed at the time.
    In general however, I am a firm believer that the software framework should allow as much abs

[2019-02-26 09:50] aabadie commented on #11029
@PeterKietzmann @yschroeder, see #11066

[2019-02-26 12:16] #10427 closed

[2019-02-26 14:17] cladmi commented on #11029
I applied the same changes as in #11066 for `stm32f3discovery` and `periph_rtc` test succeeds and `examples/default` does not crash.

[code]

Does anyone who can justify this change do a pull request ? I can only say it make the thing work but not justify with hardware arguments.

[2019-02-26 14:47] jcarrano commented on #11029
@cladmi The STM32F3DISCOVERY does _not_ include any crystal. You can verify it yourself by reading page 20 of the [User Manual](https://www.st.com/resource/en/user_manual/dm00063382.pdf).

[2019-02-26 20:27] #11052 closed

[2019-02-26 20:35] #10972 closed

[2019-02-27 16:46] PeterKietzmann commented on #10294
#11066 could fix this issue

[2019-03-01 10:45] MrKevinWeiss commented on #11030
_sorry for the late reply, I was at embedded world_
Could it be the boot mode of the bluepill?  Make sure that the BOOT0 and BOOT1 jumper are at 0 otherwise it will try to boot the rom bootloaders not the application code.  Like I said, it appears that the flashing is correct.

Here is my system info:
[code]

[2019-03-01 15:32] Khayhen opened #11088 "Configure board to act as a Slave"
Hi, I'm trying to configure a board running RIOT OS to act as a slave to communicate with other MCUs through a standard communication protocol. My preferred communication would be SPI, but it seems that there is no support for SPI slave mode for RIOT. Which current communication protocol supports slave mode and how do you implement it?

[2019-03-04 03:27] #10015 closed

[2019-03-04 03:56] Citrullin opened #11091 "gnrc_minimal on nRF52DK do not work anymore"
#### Description
The gnrc_minimal example do not work on the nrf52832 anymore

I worked on another branch on the gnrc networking on BLE. So, I checked the old branch and it works fine there. (Last commit on the old branch: 60008cbb2e6afbf3a39116192fcac02b5454e87b)

I also tried to use the nordic ble package without the gnrc packages. Simple ble advertising test.
Just add the nordic package to your

[2019-03-04 07:30] PeterKietzmann commented on #11091
@Citrullin 1. your title states *gnrc_networking* but your description says *gnrc_minimal*. Please correct the wrong one. 2. When you say "advertise" do you mean BLE advertisements or simply the serial output? 3. AFAIK there are different BLE applications in *examples/*. What do you try to do with BLE and the above mentioned applications?

@haukepetersen, @SemjonKerner please help!

[2019-03-04 10:30] SemjonKerner commented on #11091
Thx for the ping.
I can reproduce that gnrc_minimal has no output on master and correct output on 60008cb.
We might have found a [similar problem](https://github.com/RIOT-OS/RIOT/pull/11067#issuecomment-467396705) with gnrc_minimal a week ago. @haukepetersen suspects the ble softdevice to be a bit unreliable atm...

And please adapt the title, as Peter said, took me a minute..

[2019-03-04 13:10] #11029 closed

[2019-03-04 13:47] Citrullin commented on #11091
@PeterKietzmann Better now?

[2019-03-04 14:19] jcarrano commented on #10715
@benemorius

First let me begin by noting that your question is very valid.  The behaviour you described, however it is implemented, should be possible to achieve _without an additional thread_. The fact that it is not (at least not easily) means that there is something wrong that we need to fix.

To answer to your comment in #11004 .

There's no "easy" way of doing that. Aside from RIOT specifics

[2019-03-04 15:30] SemjonKerner commented on #11091
Uhm not really, @Citrullin please specify gnrc_minimal in the title. I am pretty sure that gnrc_networking is working on nrf52dk on master.

[2019-03-04 16:53] ducktalez opened #11101 "`nib route add` for routing to Raspberry Pi gateway not working"
I want to (dtls-secure) connect a Laptop with a nucleo Board over 6LoWPAN and a Raspberry Pi as router between the eth0 and 6LoWPAN interface. Connections between the RPi and the board work fine.

When I try to add the RPi as gateway (in examples/gnrc_networking) with
`nib route add 7 :: <RPi 6lowpan IP>`,
`nib route` shows `default* via <RPi 6lowpan IP> dev #7`.
I guess this should forward messag

[2019-03-04 16:58] Citrullin commented on #11091
@SemjonKerner I flashed gnrc_minimal, gnrc_networking, gnrc_networking_mac. All of them result in the same behaivour. But okay, I just add gnrc_minimal in the headline & description.

[2019-03-05 07:49] PeterKietzmann commented on #11091
So it's not a specific application, it's the network device, most likely the nordic softdevice package. Can you try to build like `USEMODULE=nrfmin make ...`?

And what was the outcome?

Just out of interest: Why don't you give `nimble` a chance? Are there missing features?

[2019-03-05 07:53] PeterKietzmann commented on #10463
#11066 fixes the issue. @kubazdz please correct me if I'm wrong

[2019-03-05 07:53] #10463 closed

[2019-03-05 07:55] PeterKietzmann commented on #10294
Closing after #10322 and #11066 got merged

[2019-03-05 07:55] #10294 closed

[2019-03-05 10:47] MichelRottleuthner opened #11104 "STM32: SPI clock not returning to idle state and generating additional clock cycles"
#### Description

This issue is meant to keep track of the problems discovered when testing #7354. For more details see comments there.
On some stm32 platforms the RIOT SPI driver generates faulty output on the SPI pins.
For now the problem could be reproduced on the following boards: nucleo-f446ze, nucleo-l073rz and nucleo-l476rg (no other STM32 were tested until now).

#### Steps to reproduce th

[2019-03-05 12:56] Citrullin commented on #11091
Checked Bluetooth with my smartphone: No device and the serial console is also empty.

[2019-03-05 13:06] roberthartung commented on #8213
@PeterKietzmann You mean #8216? ;-) 2. should be solved from my initial question, but 1. is still not possible, we are still always working in basic operation mode.

[2019-03-05 13:07] roberthartung commented on #6802
@benpicco yes, what's your question?

[2019-03-05 13:08] roberthartung commented on #8428
@olegart sounds great!

[2019-03-05 14:24] ducktalez commented on #11101
If someone has the same issue, nib works fine. Don't know, how i got it to work now, but I:
- deleted and cloned the whole repository again
- used the global iface address
- had to ping multiple times before it worked
...maybe this helps you out.

[2019-03-05 21:42] pipex commented on #10664
I have the same issue. It seems that gnrc_sock_tcp is not implemented, or the documentation in the [API tcp example](https://riot-os.org/api/group__net__sock__tcp.html#ga0144778bc074e291fcb0d43bd35c0179) is outdated. Could you clarify on which one is it?

[2019-03-05 23:41] FruechteBini opened #11113 "RPL global DODAG repair"
Hi guys!

I am currently working on implementing RPL on native in RIOT and need help doing a global DODAG repair.

**My Setup**:

- I have a root (tap0) and two nodes (tap1 & tap2) all running on native.

**Currently working**:

I am doing my initialization of the RPL as shown in the rpl-example (https://github.com/RIOT-OS/RIOT/wiki/Tutorial:-RIOT-and-Multi-Hop-Routing-with-RPL)
- On the root (tap

[2019-03-06 01:30] Citrullin commented on #11091
@PeterKietzmann I looked more into the topic and I have to say that I also would prefer NimBLE with the IPSP service. NimBLE does not support the IPSP service at the moment. I have seen that some people are currently working on the nrf52840 ieee802.15.4 driver. Which is really nice and removes the overhead of Bluetooth. On the other side Bluetooth >= 4.2 is still used a lot. So it would be still w

[2019-03-06 12:03] kubazdz commented on #10463
@PeterKietzmann  Yes it does, sorry for the delay and thanks

[2019-03-06 12:43] benpicco commented on #6802
@roberthartung Well I wanted to know what is still missing to make this usable - especially switching to sleep mode when no thread is scheduled and getting woken up by RTC/slow timer when the next task is scheduled.

But as I understood now, I should wait for the new ztimer API which should make it possible to implement this?

pm for devices that are not used/active would also be interesting.

[2019-03-06 13:00] roberthartung commented on #6802
@benpicco I am using this actively today already. As listed above, I have a fully working branch for pm_layered in atmega1284p. PM for these device is quite hard. In general the developer should take care of this, by e.g. freeing i2c/spi/... which leads to `pm_unblock` for this periphs, and hopefully deeper sleep modes. However, this already did not work, due to RX of UART, which always kept block

[2019-03-06 13:10] kaspar030 commented on #6802
I think this needs API additions. Something like "uart_rx_pause()/unpause()", which could be called by stdio_uart_read(), or something in that direction. Something that can be done the same or very similar for the other periphs.

[2019-03-06 13:13] benpicco commented on #6802
If the device supports wake on RX you would not even need that.
You could also configure the RX pin as GPIO and wake on that.

You'd lose the first character either way, but for many applications that's fine.

[2019-03-06 13:28] kaspar030 commented on #6802
Yes. It would still be nice to be able to control this in some define way. Going to sleep as soon as the prompt of a shell arrives would make it unusable. Been there...

I could imagine the shell staying awake for only a couple of seconds, then saying "sleeping now, press CTRL-D a couple of times to wake up, until '>' is shown ". So after the idle timer runs out, it needs to do something.
If there

[2019-03-06 13:35] benpicco commented on #6802
The shell is special, it's a debug tool not the main use case.
I'd be fine with going to sleep as soon as the prompt of a shell arrives, but once you interact with it, it could issue a pm_block() and start a timer to pm_unblock() it after some seconds unless you interact with it again. But that would be entirely contained within the shell module.

This way devices would not waste battery waiting f

[2019-03-06 13:45] kaspar030 commented on #6802
Yup, but unblock what? I mean, how do we determine the pm mode that the shell should block/unblock, supporting multiple stdio_ backends over many platforms? shell is using getchar() for reading. We could of course hack "SHELL_PM_SLEEP_MODE", set that to "UART_STDIO_SLEEP_MODE", somehow populate that depending on the uart or stdio configuration, .... but it feels at least ... brittle.
In the end, o

[2019-03-06 13:47] kaspar030 commented on #6802
Ah, but as long as the MCU is doing something, it won't sleep anyways. Only when the shell is waiting in the prompt (in read()) the power mode might neet to be blocked.

[2019-03-06 14:01] benpicco commented on #6802
Huh, is this not a general problem?
In the end the sleep modes are always coupled with peripherals that are still working in that mode.
So only peripherals should be able to call pm_block() / pm_unblock() - now I see how uart_rx_pause() / unpause() makes sense. (I'd rather call it uart_allow_suspend(bool) to make the meaning more clear. Then we could shut down the peripheral clock entirely if no T

[2019-03-06 14:19] kaspar030 commented on #6802
that's with a hard_coded value for pm_block()/unblock()?

[2019-03-06 14:34] roberthartung commented on #6802
pm_block/pm_unblock is implemented in the periph driver for uart. so you only have to know which UART is used. All I do is `uart_poweroff(0);` and `uart_poweron(0);`. See my old [https://github.com/ibr-cm/RIOT/blob/90870b47a6f33a0be42f468007834a4666bb95bb/tests/pm_wakeup_rtt/main.c](test code) and [pm code](https://github.com/ibr-cm/RIOT/blob/90870b47a6f33a0be42f468007834a4666bb95bb/cpu/atmega_com

[2019-03-06 15:40] cladmi commented on #11091
I was going to post an issue. I just found about the same thing while executing `examples/default` on `nrf52dk`. `examples/gnrc_networking` also does not print anything.

[2019-03-06 15:59] cladmi commented on #11091
By bisecting from master to 60008cbb2e6afbf3a39116192fcac02b5454e87b I found the commit introducing the issue was 64489e8b444efde859e9f048b17707e5da88a983

Commenting the `FEATURES_OPTIONAL += periph_hwrng` it correctly prints in `example/default`.

[2019-03-06 16:05] jcarrano commented on #10206
@aabadie Has #10213 fixed this?

[2019-03-06 17:15] FruechteBini commented on #11113
Figured out that the RIOT rpl implementation does a global repair (i think so at least) on default - after 5 minutes. I just edited sys/include/net/gnrc/rpl.h lines 291-295:
[code]
and changed the values (in my case 1&5 to make it refresh every 5 seconds).

[2019-03-06 17:15] #11113 closed

[2019-03-06 19:57] #11051 closed

[2019-03-06 19:58] haukepetersen commented on #11051
the fix is merged, should be all good now. If not, let me know :-)

[2019-03-06 20:52] Citrullin commented on #11091
@cladmi I also checked the old version, It looks like it didn't work for a while now. Even if you get an IP address, the actual connection does not work. In one version, I connect via Bluetooth to the device, getting weird character and it crashes. In another version, I connect via Bluetooth to it, setup the 6LoWPAN stack on my linux machine, try to get the IP address with ifconfig and it just sto

[2019-03-07 07:45] niziak opened #11119 "How to handle shared UART ISR for STM32F0"
In my project I has to use USART3 and USART5.
Both UARTS are using shared IRQ29 with assigned ISR `isr_usart3_6`:
https://github.com/RIOT-OS/RIOT/blob/292e979e615e4c0e915202a61d27ff23b6816e6a/cpu/stm32f0/vectors.c#L240

For now I'm using ugly solution as PoC with checking RXNE flag in ISR:
[code]
Now I want to make it more universal and configurable according to RIOT policy.

[2019-03-07 09:31] haukepetersen commented on #11091
The problem could be caused by RIOT's random module now using the `hwrng` as seed generator. This is probably not a good idea in conjunction with the SoftDevice, as the SoftDevice 'claims' the RNG peripheral for itself ([`Restricted` access](http://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.softdevices52%2Fdita%2Fsoftdevices%2Fs140%2Fs140.html)).

Now why exaclty the `perip

[2019-03-07 09:35] kaspar030 commented on #11091
Maybe #10974?

[2019-03-07 09:39] haukepetersen commented on #11091
yes, I did read the `ifeq` for a `ifneq`, so the `FEATURE_OPTIONAL` line in the Makefile.dep does include that feature in our case.

[2019-03-07 09:43] haukepetersen commented on #11091
Now about fixing this: Seems to me the cleanest approach is to put an ifdef around the `hwrng_read()` function in `cpu/nrf5x_common/periph/hwrng.c` and map the `read()` function to use the SoftDevice API for getting random numbers if the SoftDevice is build in. But on a quick glance I failed to find the correct API description to do this...

[2019-03-07 09:44] PeterKietzmann commented on #10664
AFAIK there is no `gnrc_sock_tcp` implementation right now, although @brummer-simon was working on it. Simon, wasn't there an open issue that tracks ongoing efforts?

If you want a sock like TCP API, have a look at [lwip_sock_tcp](https://github.com/RIOT-OS/RIOT/tree/master/tests/lwip_sock_tcp)

[2019-03-07 09:45] PeterKietzmann commented on #10664
@brummer-simon if this issue is a duplicate, please close

[2019-03-07 09:45] haukepetersen commented on #11091
For reference, the softdevice doc (although in this case its for the S140): it defines the `RNG` peripheral as `Restriced` and this is defined as:
[code]

[2019-03-07 09:49] brummer-simon commented on #10664
Integrating gnrc_tcp into gnrc_sock_tcp is the last point on my ever growing gnrc_tcp todo-list.

I am not sure if this is a duplicated Issue but it is still valid.

[2019-03-07 09:53] brummer-simon commented on #10664
The API "gnrc_sock_tcp" isself is valid but nobody is currently implementing it.

[2019-03-07 09:59] miri64 commented on #11101
The problem might have been the neighbor cache (check with `nib neigh` on the RIOT side or `ip -6 neigh` on the RaspPi side), but I'm not sure.

[2019-03-07 10:33] PeterKietzmann commented on #11119
I don't quite understand the problem. Maybe @MrKevinWeiss or @yegorich can say more

[2019-03-07 10:43] PeterKietzmann commented on #11091
IMO that was intended?!

The fix should definitely be applied next to the platform, not in *sys/random*. Ideally, dependent on the SoftDevice. Is it possible to exclude the HWRNG feature via Makefile in case SoftDevice is required?

[2019-03-07 10:58] miri64 commented on #10664
Not true. There is an implementation [by lwIP](https://github.com/RIOT-OS/RIOT/blob/87d0757689213152fdd9524fea116570345e0367/pkg/lwip/contrib/sock/tcp/lwip_sock_tcp.c) ;-).

[2019-03-07 10:59] brummer-simon commented on #10664
Okay. gnrc_tcp doesn't implement it (but it should) ;)

[2019-03-07 11:02] miri64 commented on #10664
Yepp ;-)

[2019-03-07 11:03] miri64 commented on #10664
Okay I also have to correct my comment. lwIP of course doesn't implement _gnrc__sock_tcp, but the `sock_tcp` API ;-).

[2019-03-07 11:11] MrKevinWeiss commented on #11119
I don't think that is a bad solution.
When there is multiple things that can cause an interrupt you need some way of distinguishing between.

The only thing that I would do is try to make change the actual uart definitions (in this case 3 and 6) to the dev number (in this case 1 and 2)

so in the board periph config file you would have
[code]

and in the cpu common file
[code]

The only downside i

[2019-03-07 11:17] miri64 commented on #11091
Since this is referencing `gnrc_minimal`: Here is the solution that solved my problem in #11067 ;-) https://github.com/RIOT-OS/RIOT/pull/11067#issuecomment-470487587

[2019-03-07 12:43] niziak commented on #11119
Ok, I will create some universal macrology to support maximum possible number of shared USARTs (max I found is 6 for USART3 to 8).

Let explain on my configuration:
[code]

Enable normal (not shared) USART1:
[code]
Two shared USARTs:
[code]
And now it is needed to know which UARTs should be handled inside `UART_SHARED_ISR`.
I can use exsting defines:
[code]
and add some additional preprocesor cond

[2019-03-07 13:28] Citrullin commented on #11091
Thanks. I will try this. Maybe that was just my problem when I was on the old commits. :)

[2019-03-07 14:22] maribu opened #11128 "buildsystem/CI: Use of `BOARD_INSUFFCIENT_MEMORY` becomes a maintainace burdon"
#### Description
Currently for every test and application the `BOARD_INSUFFICIENT_MEMORY` variable needs to be manually maintained. This makes adding new boards with low RAM/FLASH a nightmare. Also, boards will practically never be removed from `BOARD_INSUFFCIENT_MEMORY`, even though newer toolchains and improvements in code could result in lower RAM/ROM requirements.

~~Additionally, the `BOARD_I

[2019-03-07 14:23] maribu commented on #11128
@RIOT-OS/maintainers: Please have a look and extend the brainstorming above as you see fit. (Both new possible approaches and pros/cons I didn't thought about.)

[2019-03-07 14:50] smlng commented on #11128
Funny, we had the same discussion over lunch today 😄

My conclusion was that all these lists, i.e., `BOARD_WHITELIST`, `BOARD_BLACKLIST`, `BOARD_INSUFFICIENT_MEMORY`, `TEST_ON_CI_WHITELIST`, and so on, are only used by Murdock-CI and to make that pass without errors by avoid building+testing stuff that will likely fail. And also to safe exec time on the CI.

So ideally (IMHO) we should get rid of

[2019-03-07 14:51] jcarrano commented on #11128
I like (1). I'm trying to investigate what is the best way to reliably report that certain step in make failed, and also if there is a reliable way of knowing how much space it would have taken.

[2019-03-07 18:52] Khayhen opened #11137 "Setting up border router which connects to the internet"
Hi, I'm trying to setup 6LoWPAN network where the nodes can transmit data to a server someway or other. My preferred method would be MQTT-SN. My current hardware that I'm using is a SAMR21 Xplained-Pro board for the border router and the nodes. By following the [tutorial](https://github.com/RIOT-OS/RIOT/blob/master/examples/gnrc_border_router/README.md), I manage to setup the border router through

[2019-03-07 21:52] Khayhen commented on #11030
Hi I manage to solve the problem. The problem was mainly in the drivers and compilers as I manage to program it when I setup a VM with vagrant. However, I fixed my Linux system reformatting the whole thing and installing the compilers step by step again. I had some trouble installing the stlink driver as there is no up-to-date guide on how to do that but I manage to do so after lots of experimenti

[2019-03-07 21:52] #11030 closed

[2019-03-08 07:07] PeterKietzmann commented on #8213
This confuses me a bit. I was assuming we only provide the extended mode in RIOT?

[2019-03-08 07:56] roberthartung commented on #8213
You're absolutely right ... basic mode is not implemented. AACK is extended.

Btw. @PeterKietzmann do you mind if we implement the alternative frame buffer access mode? RIOT is currently writing the buffer first and then starting transmission which is slow. There is also a mode where you can write while preparing the send which is faster.

[2019-03-08 08:31] PeterKietzmann commented on #8213
Why would I mind :-)? It's just that I fear synchronization issues (e.g., sending 6LoWPAN fragments subsequently) and thus, I'd consider this a high impact feature which needs to be tested properly. Going through the release tests would be a good way to go. The cutoff date for high impact features is 26th March.

[2019-03-08 12:51] MrKevinWeiss commented on #10920
Turns out one must acquire before reading registers.  Problem with HiL test script and will be corrected.

[2019-03-08 12:51] #10920 closed

[2019-03-08 16:43] kaspar030 commented on #11128
Not true, currently for all boards in BOARD_INSUFFICIENT_MEMORY, all compilation is done, just the linking step is skipped.

[2019-03-08 17:18] kaspar030 commented on #11128
I don't think it is that simple. The lists represent what *we* expect to succeed. In these things, it is beneficial to be explicit.

In case of the "BOARDS_INSUFFICIENT_MEMORY", if we'd come up with a way to determine whether the link failed because - well, it failed, or because of insufficient memory, and treat the latter as an "OK fail", boards would cross the line without anyone noticing. A cha

[2019-03-08 19:41] maribu commented on #11128
The current approach is hardly solving this issue. Most tests and examples are already blacklisted for the lower end hardware anyway. And e.g. if a board still has 512B RAM free and one PR adds 511B more RAM requirements, this PR will likely get merged without anyone noticing. The next PR that adds 2B more and will however get all the blame.

To actually get feedback on which PRs do bloat RIOT, it

[2019-03-08 20:58] Citrullin opened #11147 "6LoWPAN over BLE: Device not pingable"
#### Description
I am not able to ping my device with 6LoWPAN on BLE from my linux machine.
Possible issue: As @miri64 [mentioned in an issue](https://github.com/RIOT-OS/RIOT/pull/11067#issuecomment-470487587), the header compression might be the issue. So, I added ```USEMODULE += gnrc_sixlowpan_iphc``` to my Makefile.

#### Steps to reproduce the issue
1. Since [gnrc networking with BLE does not

[2019-03-08 21:04] miri64 commented on #11147
Can you also post the OS version you are using? Given that the Nordic Softdevice [only works with certain kernel versions](https://github.com/RIOT-OS/RIOT/pull/10816) this is kind of important.

[2019-03-08 21:06] miri64 commented on #11147
As you are using `gnrc_networking` (which includes `gnrc_sixlowpan_iphc`) and the referenced issue is about `gnrc_minimal` (which does not include it), I highly doubt that.

[2019-03-08 21:08] Citrullin commented on #11147
"but newer kernel versions than 4.12 definitely don't work"
Shit... Thanks.

[2019-03-08 21:10] miri64 commented on #11147
@haukepetersen is currently working on a GNRC-integration for nimBLE which should be ready soon™, so the boards currently using the softdevices could hopefully use nimBLE in the future instead. Alternatively, (if possible) the softdevice needs to be ported to a newer version.

[2019-03-08 21:13] Citrullin commented on #11147
@miri64 I would be really happy with nimBLE. I always prefer the open source solution. So does that mean @haukepetersen is implementing the IPSP characteristics for Bluetooth in nimBLE?